{
  "discoveryVersion": "v1",
  "description": "",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "batchPath": "batch",
  "version": "v1alpha",
  "name": "firebaseappdistribution",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260831",
  "resources": {
    "projects": {
      "methods": {
        "getTestQuota": {
          "httpMethod": "GET",
          "description": "Get information about the quota for `ReleaseTests`.",
          "path": "v1alpha/{+name}",
          "id": "firebaseappdistribution.projects.getTestQuota",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "pattern": "^projects/[^/]+/testQuota$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          },
          "flatPath": "v1alpha/projects/{projectsId}/testQuota"
        }
      },
      "resources": {
        "testers": {
          "methods": {
            "getUdids": {
              "httpMethod": "GET",
              "description": "Get UDIDs of tester iOS devices in a project",
              "parameters": {
                "project": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "path"
                },
                "mobilesdkAppId": {
                  "location": "query",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "path": "v1alpha/{+project}/testers:udids",
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "project"
              ]
            }
          }
        },
        "apps": {
          "methods": {
            "getTestConfig": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "required": true,
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "id": "firebaseappdistribution.projects.apps.getTestConfig",
              "description": "Gets configuration for automated tests."
            },
            "updateTestConfig": {
              "httpMethod": "PATCH",
              "description": "Updates automated test configuration.",
              "parameters": {
                "updateMask": {
                  "description": "Optional. The list of fields to update.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "location": "path",
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "path": "v1alpha/{+name}",
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "testCases": {
              "methods": {
                "list": {
                  "description": "List test cases.",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/testCases",
                  "id": "firebaseappdistribution.projects.apps.testCases.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "clearTestCaseCache": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "path": "v1alpha/{+testCase}:clearTestCaseCache",
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "httpMethod": "POST",
                  "parameters": {
                    "testCase": {
                      "required": true,
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "testCase"
                  ]
                },
                "batchDelete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes multiple test cases.",
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "httpMethod": "POST",
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "description": "Get a test case."
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true
                    },
                    "testCaseId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/."
                    }
                  },
                  "path": "v1alpha/{+parent}/testCases",
                  "description": "Create a new test case.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "batchUpdate": {
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "description": "Updates multiple test cases.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Delete a test case.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.delete"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "location": "path",
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "type": "string"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
                      "location": "query"
                    }
                  },
                  "description": "Update a test case.",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.patch"
                }
              }
            },
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`"
                        }
                      },
                      "description": "Get results for automated test run on release.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get",
                      "path": "v1alpha/{+name}"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create",
                      "path": "v1alpha/{+parent}/tests",
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "description": "Run automated test(s) on release.",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "releaseTestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated."
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "cancel": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "Abort automated test run on release.",
                      "path": "v1alpha/{+name}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      }
                    },
                    "list": {
                      "path": "v1alpha/{+parent}/tests",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$"
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ],
                          "type": "string",
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view.",
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ],
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value."
                        }
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List results for automated tests run on release.",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "apps": {
      "resources": {
        "releases": {
          "methods": {
            "enable_access": {
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "description": "Enable access on a release for testers.",
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "parameters": {
                "mobilesdkAppId": {
                  "type": "string",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "location": "path"
                },
                "releaseId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Release identifier"
                }
              },
              "id": "firebaseappdistribution.apps.releases.enable_access",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access"
            }
          },
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ],
                  "description": "Create release notes on a release.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "mobilesdkAppId": {
                      "type": "string",
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "required": true,
                      "location": "path"
                    },
                    "releaseId": {
                      "type": "string",
                      "description": "Required. Release identifier",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes"
                }
              }
            }
          }
        },
        "testers": {
          "methods": {
            "getTesterUdids": {
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "httpMethod": "GET",
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "description": "Get UDIDs of tester iOS devices in a project",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "parameters": {
                "mobilesdkAppId": {
                  "type": "string",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true
                },
                "project": {
                  "type": "string",
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "query"
                }
              }
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "parameters": {
                "mobilesdkAppId": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "type": "string"
                },
                "uploadHash": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The hash for the upload"
                }
              },
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "description": "GET Release by binary upload hash"
            }
          }
        },
        "upload_status": {
          "methods": {
            "get": {
              "id": "firebaseappdistribution.apps.upload_status.get",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "parameters": {
                "mobilesdkAppId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true
                },
                "uploadToken": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The token for the upload"
                }
              },
              "description": "GET Binary upload status by token"
            }
          }
        }
      },
      "methods": {
        "get": {
          "id": "firebaseappdistribution.apps.get",
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "description": "Get the app, if it exists",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "httpMethod": "GET",
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "parameters": {
            "mobilesdkAppId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
            },
            "appView": {
              "location": "query",
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ],
              "type": "string",
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            }
          }
        },
        "getJwt": {
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          },
          "id": "firebaseappdistribution.apps.getJwt",
          "description": "Get a JWT token",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "parameters": {
            "mobilesdkAppId": {
              "type": "string",
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "canonicalName": "Firebase App Distribution",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "id": "firebaseappdistribution:v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "title": "Firebase App Distribution API",
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
      "properties": {
        "end": {
          "description": "Output only. The end point of the drag and drop.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "start": {
          "description": "Output only. The start point of the drag and drop.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      },
      "description": "A drag and drop action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "description": "The response message for `BatchUpdateTestCase`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse",
      "properties": {
        "testCases": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "type": "array",
          "description": "The updated test cases."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "id": "GoogleFirebaseAppdistroV1alphaJwt",
      "type": "object",
      "description": "A JWT token.",
      "properties": {
        "token": {
          "type": "string",
          "description": "The JWT token (three Base64URL-encoded strings joined by dots)."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction",
      "type": "object",
      "description": "An interaction with the device, such as a tap, text entry, wait, etc.",
      "properties": {
        "textInput": {
          "type": "string",
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one.",
          "readOnly": true
        },
        "backAction": {
          "description": "Output only. A back action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
          "readOnly": true
        },
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        },
        "longPress": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true,
          "description": "Output only. A long press (tap and hold) action."
        },
        "targetOrientation": {
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ],
          "type": "string",
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "description": "Output only. The target orientation of the device in a set orientation action.",
          "readOnly": true
        },
        "dragAndDrop": {
          "readOnly": true,
          "description": "Output only. A drag and drop action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop"
        },
        "wait": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
          "description": "Output only. A wait action."
        },
        "tap": {
          "readOnly": true,
          "description": "Output only. A tap action.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "swipe": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
          "description": "Output only. A swipe action.",
          "readOnly": true
        },
        "keyCode": {
          "readOnly": true,
          "description": "Output only. Key code for a key event action.",
          "type": "string"
        },
        "targetFoldedState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`."
        },
        "enterText": {
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "type": "object",
      "properties": {
        "fieldHints": {
          "description": "Optional. Hints to the crawler for identifying input fields",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints"
        },
        "google": {
          "description": "Optional. Are these credentials for Google?",
          "type": "boolean"
        },
        "username": {
          "type": "string",
          "description": "Optional. Username for automated tests"
        },
        "password": {
          "description": "Optional. Password for automated tests",
          "type": "string"
        }
      },
      "description": "Login credential for automated tests",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential"
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "type": "object",
      "properties": {
        "certificateHashSha1": {
          "description": "SHA1 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashMd5": {
          "description": "MD5 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha256": {
          "type": "string",
          "description": "SHA256 hash of the certificate used to resign the AAB"
        }
      },
      "description": "App bundle test certificate",
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate"
    },
    "GoogleFirebaseAppdistroV1Release": {
      "type": "object",
      "properties": {
        "firebaseConsoleUri": {
          "readOnly": true,
          "description": "Output only. A link to the Firebase console displaying a single release.",
          "type": "string"
        },
        "acceptedInvitationCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of testers with accepted invitations.",
          "type": "integer"
        },
        "binaryType": {
          "description": "Output only. Type of binary.",
          "type": "string",
          "enumDescriptions": [
            "unspecified binary type",
            "iOS App Store package",
            "Android Application package",
            "Android App Bundle"
          ],
          "enum": [
            "BINARY_TYPE_UNSPECIFIED",
            "IPA",
            "APK",
            "AAB"
          ],
          "readOnly": true
        },
        "binaryDownloadUri": {
          "readOnly": true,
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "type": "string"
        },
        "testingUri": {
          "type": "string",
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the release was last updated.",
          "type": "string",
          "readOnly": true
        },
        "releaseNotes": {
          "description": "Notes about the release.",
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes"
        },
        "name": {
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
          "type": "string"
        },
        "buildVersion": {
          "readOnly": true,
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "type": "string"
        },
        "feedbackCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of feedback reports left by testers.",
          "readOnly": true
        },
        "androidPackageRegistrationState": {
          "enumDescriptions": [
            "Default value.",
            "Package is registered with the release binary's certificate fingerprint.",
            "Package is not registered with any public certificate.",
            "Package is registered with another public certificate fingerprint."
          ],
          "enum": [
            "ANDROID_PACKAGE_REGISTRATION_STATE_UNSPECIFIED",
            "REGISTERED",
            "NOT_REGISTERED",
            "REGISTERED_WITH_ANOTHER_CERTIFICATE_FINGERPRINT"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Registration state of the Android package (BinaryType.APK)."
        },
        "testState": {
          "enumDescriptions": [
            "No test state specified",
            "No tests have been requested for this release",
            "One or more device executions are in progress",
            "All device executions passed during the most recent test",
            "Some device executions failed during the most recent test",
            "Some device executions were inconclusive, but none failed, during the most recent test"
          ],
          "description": "Output only. The overall state of tests run on this release",
          "type": "string",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "NO_TESTS_REQUESTED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the release was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the release will expire.",
          "type": "string"
        },
        "openInvitationCount": {
          "readOnly": true,
          "description": "Output only. Number of testers who were invited (incl. expired invitations), but did not (yet) accept the invitation.",
          "type": "integer",
          "format": "int32"
        },
        "displayVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`."
        },
        "installationCount": {
          "description": "Output only. Number of testers who have downloaded this release.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A release of a Firebase app.",
      "id": "GoogleFirebaseAppdistroV1Release"
    },
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails",
      "description": "Details for a goal step.",
      "type": "object",
      "properties": {
        "goalActions": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal."
        }
      }
    },
    "AndroidxCrawlerOutputPoint": {
      "properties": {
        "xCoordinate": {
          "type": "integer",
          "format": "int32"
        },
        "yCoordinate": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Point for describing bounding boxes tap locations Top left is 0,0",
      "id": "AndroidxCrawlerOutputPoint"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "type": "object",
      "description": "The results of running an automated test on a particular device.",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
      "properties": {
        "screenshotUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken."
        },
        "aiStepResults": {
          "description": "Output only. Results of the AI steps if passed in",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          }
        },
        "finalAiAssertionMissing": {
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "crawlGraphUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A URI to an image of the Robo crawl graph."
        },
        "inconclusiveReason": {
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "readOnly": true,
          "description": "Output only. The reason why the test was inconclusive.",
          "type": "string",
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ]
        },
        "appCrash": {
          "description": "Output only. An app crash, if any occurred during the test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash",
          "readOnly": true
        },
        "failedReason": {
          "description": "Output only. The reason why the test failed.",
          "type": "string",
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ]
        },
        "videoStartTime": {
          "description": "Output only. The time at which the video started recording.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "resultsStoragePath": {
          "type": "string",
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait.",
          "readOnly": true
        },
        "executionType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ],
          "description": "Output only. The type of execution for the test.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ]
        },
        "originDeviceExecution": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`"
        },
        "roboStats": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats",
          "description": "Output only. The statistics collected during the Robo test.",
          "readOnly": true
        },
        "device": {
          "description": "Required. The device that the test was run on.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
        },
        "state": {
          "description": "Output only. The state of the test.",
          "type": "string",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ]
        },
        "videoUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A URI to a video of the test run."
        }
      }
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "description": "Notes that belong to a release.",
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the release notes."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "properties": {
        "platform": {
          "description": "The platform of the tester's device",
          "type": "string"
        },
        "udid": {
          "type": "string",
          "description": "The UDID of the tester's device"
        },
        "name": {
          "type": "string",
          "description": "The name of the tester's device"
        }
      },
      "description": "The UDIDs of a tester's iOS device",
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. The message associated with the crash.",
          "readOnly": true
        },
        "stackTrace": {
          "description": "Output only. The raw stack trace.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash",
      "description": "An app crash that occurred during an automated test.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
      "properties": {},
      "description": "A back action."
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction",
      "description": "An action taken by the AI agent while attempting to accomplish a goal.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the action started."
        },
        "cachingType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ],
          "description": "Output only. The type of caching used to determine the action.",
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ]
        },
        "deviceAction": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction",
          "description": "Output only. A high level action taken by the AI on the device."
        },
        "terminalAction": {
          "readOnly": true,
          "description": "Output only. An action taken by the AI to end the goal.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction"
        },
        "explanation": {
          "type": "string",
          "description": "Output only. An explanation justifying why the action was taken.",
          "readOnly": true
        },
        "debugInfo": {
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
          "description": "Output only. Debug information explaining why the agent to the specific action.",
          "readOnly": true
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "properties": {
        "version": {
          "description": "Required. The version of the device (API level on Android).",
          "type": "string"
        },
        "orientation": {
          "type": "string",
          "description": "Optional. The orientation of the device during the test."
        },
        "model": {
          "type": "string",
          "description": "Required. The device model."
        },
        "locale": {
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test.",
          "type": "string"
        }
      },
      "description": "A device on which automated tests can be run.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice"
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "type": "object",
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
    },
    "AndroidxCrawlerOutputRectangle": {
      "id": "AndroidxCrawlerOutputRectangle",
      "type": "object",
      "description": "Rectangle for describing bounding boxes",
      "properties": {
        "left": {
          "type": "integer",
          "format": "int32"
        },
        "top": {
          "type": "integer",
          "format": "int32"
        },
        "bottom": {
          "format": "int32",
          "type": "integer"
        },
        "right": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "description": "A device screenshot taken during a test.",
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Output only. The URI of the screenshot.",
          "readOnly": true
        },
        "height": {
          "description": "Output only. The height of the screenshot, in pixels.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "width": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The width of the screenshot, in pixels."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest",
      "type": "object",
      "properties": {
        "resultsBucket": {
          "type": "string",
          "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used."
        },
        "testState": {
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the release test."
        },
        "testCase": {
          "type": "string",
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "loginCredential": {
          "description": "Optional. Input only. Login credentials for the test. Input only.",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "name": {
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the test was run.",
          "type": "string",
          "format": "google-datetime"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "deviceExecutions": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "type": "array",
          "description": "Required. The results of the test on each device."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals."
        }
      },
      "description": "Instance of an automated test for a release."
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "type": "object",
      "properties": {
        "release": {
          "description": "The release that was created from the upload (only set on \"SUCCESS\")",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        },
        "message": {
          "type": "string",
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client"
        },
        "errorCode": {
          "description": "The error code associated with (only set on \"FAILURE\")",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            "",
            "A corresponding Android Developer Console account for this app's Play Console account was not found.",
            "The package was not found in the Android Developer Console."
          ],
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
            "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND",
            "AAB_ANDROID_DEVELOPER_CONSOLE_PACKAGE_NOT_FOUND"
          ]
        },
        "status": {
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ],
          "description": "The status of the upload",
          "type": "string"
        }
      },
      "description": "The response message for `GetUploadStatus`.",
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "properties": {
        "testerCount": {
          "format": "int32",
          "description": "Count of testers added to the release",
          "type": "integer"
        },
        "instanceId": {
          "description": "Instance id of the release",
          "type": "string"
        },
        "displayVersion": {
          "description": "Release version",
          "type": "string"
        },
        "releaseNotesSummary": {
          "description": "Release notes summary",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Release Id"
        },
        "buildVersion": {
          "type": "string",
          "description": "Release build version"
        },
        "testerWithInstallCount": {
          "format": "int32",
          "description": "Number of testers who have installed the release",
          "type": "integer"
        },
        "openInvitationCount": {
          "format": "int32",
          "description": "Number of testers who have open invitations for the release",
          "type": "integer"
        },
        "distributedAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the release was created"
        },
        "lastActivityAt": {
          "description": "Last activity timestamp",
          "type": "string",
          "format": "google-datetime"
        },
        "receivedAt": {
          "type": "string",
          "description": "unused. ",
          "deprecated": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "type": "object",
      "description": "Proto defining a release object"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "type": "object",
      "properties": {
        "usernameResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        },
        "passwordResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "description": "Hints to the crawler for identifying input fields"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "description": "The request message for `BatchUpdateTestCase`.",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          },
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "properties": {},
      "type": "object",
      "description": "The response message for `CreateReleaseNotes`."
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "properties": {
        "names": {
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest",
      "description": "The request message for `BatchDeleteTestCase`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse",
      "properties": {
        "release": {
          "description": "Release object",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      },
      "description": "Response object to get the release given a upload hash",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "properties": {
        "text": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The text to enter."
        },
        "elementBounds": {
          "description": "Output only. The visible bounds of the element to enter text into.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputRectangle"
        }
      },
      "type": "object",
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field.",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText"
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "type": "object",
      "description": "The response message for `ListTestCases`.",
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "properties": {
        "testCases": {
          "description": "The test cases from the specified app.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats",
      "description": "Statistics collected during a Robo test.",
      "properties": {
        "actionsPerformed": {
          "type": "integer",
          "description": "Output only. Number of actions that crawler performed.",
          "readOnly": true,
          "format": "int32"
        },
        "mainActivityCrawlTimedOut": {
          "type": "boolean",
          "description": "Output only. Whether the main activity crawl timed out.",
          "readOnly": true
        },
        "crawlDuration": {
          "format": "google-duration",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Duration of crawl."
        },
        "distinctVisitedScreens": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of distinct screens visited."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "type": "object",
      "description": "Configuration for automated tests",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals."
        },
        "testDevices": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "description": "Optional. Tests will be run on this list of devices"
        },
        "name": {
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
          "type": "string"
        },
        "resultsBucket": {
          "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "roboCrawler": {
          "description": "Optional. Configuration for Robo crawler",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "description": "A swipe action.",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
      "properties": {
        "end": {
          "description": "Output only. The end point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        },
        "start": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true,
          "description": "Output only. The start point of the swipe."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "properties": {
        "releaseTests": {
          "type": "array",
          "description": "The tests listed.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          }
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response message for `ListReleaseTests`.",
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "description": "Information to help the customer understand why the agent took this action.",
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
      "properties": {
        "jsonUri": {
          "type": "string",
          "description": "Output only. Structured data explaining the agent's choice.",
          "readOnly": true
        },
        "annotatedScreenshotUri": {
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "description": "A step to be accomplished by the AI",
      "properties": {
        "assertion": {
          "description": "An assertion to be checked by the AI",
          "type": "string"
        },
        "hint": {
          "type": "string",
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal"
        },
        "testCase": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "goal": {
          "description": "A goal to be accomplished by the AI",
          "type": "string"
        },
        "successCriteria": {
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStep"
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "description": "Configuration for Robo crawler",
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
      "properties": {
        "loginCredential": {
          "description": "Optional. Login credential for automated tests",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions",
      "properties": {
        "steps": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          },
          "type": "array",
          "description": "Required. Steps to be accomplished by the AI"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "type": "object",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes body from the user",
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "description": "The request message for `CreateReleaseNotes`."
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse",
      "type": "object",
      "description": "The response message for `EnableAccessOnRelease`.",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota",
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests.",
      "properties": {
        "limit": {
          "type": "string",
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month.",
          "format": "int64",
          "readOnly": true
        },
        "usage": {
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "properties": {},
      "description": "Operation metadata for `UploadRelease`."
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "type": "object",
      "properties": {
        "displayVersion": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id."
        },
        "buildVersion": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id."
        },
        "groupIds": {
          "type": "array",
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools",
          "items": {
            "type": "string"
          }
        },
        "emails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com"
        }
      },
      "description": "The request message for `EnableAccessOnRelease`."
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "description": "Response message for `UploadRelease`.",
      "properties": {
        "result": {
          "description": "Result of upload release.",
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ],
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ],
          "type": "string"
        },
        "release": {
          "description": "Release associated with the uploaded binary.",
          "$ref": "GoogleFirebaseAppdistroV1Release"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "type": "object",
      "description": "Request message for `ClearTestCaseCache`.",
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest",
      "properties": {
        "testDevices": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them.",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "properties": {
        "contactEmail": {
          "description": "Developer contact email for testers to reach out to about privacy or support issues.",
          "type": "string"
        },
        "platform": {
          "description": "iOS or Android",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "Firebase gmp app id"
        },
        "projectNumber": {
          "type": "string",
          "description": "Project number of the Firebase project, for example 300830567303."
        },
        "bundleId": {
          "type": "string",
          "description": "Bundle identifier"
        },
        "aabCertificate": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate",
          "description": "App bundle test certificate generated for the app."
        },
        "aabState": {
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ],
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ],
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "type": "string"
        }
      },
      "description": "An app.",
      "id": "GoogleFirebaseAppdistroV1alphaApp",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "description": "Captures the results of an AiStep",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult",
      "properties": {
        "state": {
          "description": "Output only. The current state of the step",
          "type": "string",
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ],
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ],
          "readOnly": true
        },
        "goalDetails": {
          "description": "Output only. Details for a goal step.",
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails",
          "readOnly": true
        },
        "assertionDetails": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
          "description": "Output only. Details for an assertion step.",
          "readOnly": true
        },
        "step": {
          "description": "Required. The step performed by the AI",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "description": "The request message for `UpdateTestCase`.",
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "type": "object",
      "properties": {
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created."
        },
        "testCase": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase",
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. A short description of the high level action taken by the AI agent.",
          "type": "string"
        },
        "deviceInteractions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
      "properties": {
        "result": {
          "description": "Output only. The result of the assertion.",
          "readOnly": true,
          "type": "boolean"
        },
        "explanation": {
          "description": "Output only. An explanation justifying the assertion result.",
          "readOnly": true,
          "type": "string"
        },
        "screenshot": {
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this assertion.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        }
      },
      "description": "Details for an assertion step.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "description": "Response containing the UDIDs of tester iOS devices in a project",
      "properties": {
        "testerUdids": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          },
          "description": "The UDIDs of tester iOS devices in a project",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes text from the user.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "type": "object",
      "description": "Release notes for a release."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "type": "object",
      "properties": {
        "duration": {
          "type": "string",
          "description": "Output only. The duration of the wait.",
          "format": "google-duration",
          "readOnly": true
        }
      },
      "description": "A wait action.",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait"
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "type": "object",
      "description": "An action taken by the AI to end the goal.",
      "properties": {
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this terminal action."
        },
        "reason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason why this goal was ended.",
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ],
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ]
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction"
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "prerequisiteTestCase": {
          "description": "Optional. Test case that must be run before this test case.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the test case."
        },
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test."
        },
        "dependentTestCases": {
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the test case was created",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "AI test cases",
      "id": "GoogleFirebaseAppdistroV1alphaTestCase"
    }
  },
  "version_module": true,
  "servicePath": "",
  "protocol": "rest"
}