{
  "protocol": "rest",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "canonicalName": "Firebase Crashlytics",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "id": "firebasecrashlytics:v1alpha",
  "basePath": "",
  "ownerName": "Google",
  "revision": "20260716",
  "kind": "discovery#restDescription",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "version": "v1alpha",
  "name": "firebasecrashlytics",
  "batchPath": "batch",
  "title": "Firebase Crashlytics API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "issues": {
              "methods": {
                "batchUpdate": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "description": "Retrieve an issue.",
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "response": {
                    "$ref": "Issue"
                  },
                  "path": "v1alpha/{+name}"
                },
                "patch": {
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "response": {
                    "$ref": "Issue"
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Change the state of an issue.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Issue"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}"
                }
              },
              "resources": {
                "notes": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "parameters": {
                        "parent": {
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous calls.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "httpMethod": "GET",
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list"
                    },
                    "create": {
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "response": {
                        "$ref": "Note"
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "description": "Create a new note for an issue.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Note"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes"
                    },
                    "delete": {
                      "description": "Delete a note by its name.",
                      "httpMethod": "DELETE",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}"
                    }
                  }
                }
              }
            },
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids).",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report.",
                  "httpMethod": "DELETE",
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "description": "List all of the available reports.",
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "path": "v1alpha/{+parent}/reports",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports"
                },
                "get": {
                  "parameters": {
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.states": {
                      "type": "string",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ]
                    },
                    "granularity": {
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ],
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "type": "string"
                    },
                    "filter.issue.state": {
                      "deprecated": true,
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "type": "string"
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.interval.startTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query"
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "location": "query"
                    },
                    "filter.issue.variantId": {
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.signals": {
                      "type": "string",
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ]
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter.version.displayNames": {
                      "type": "string",
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.browser.displayNames": {
                      "type": "string",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.issue.errorTypes": {
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "type": "string",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "location": "query"
                    },
                    "filter.device.formFactors": {
                      "type": "string",
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ]
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Report"
                  },
                  "description": "Get a report with its computed results.",
                  "httpMethod": "GET"
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "path": "v1alpha/{+parent}/events",
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "parameters": {
                    "filter.issue.errorTypes": {
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "type": "string",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "location": "query"
                    },
                    "filter.device.formFactors": {
                      "type": "string",
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ]
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "location": "query"
                    },
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.browser.displayNames": {
                      "type": "string",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.issue.state": {
                      "deprecated": true,
                      "type": "string",
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ]
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "required": true
                    },
                    "filter.interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "location": "query"
                    },
                    "filter.issue.variantId": {
                      "type": "string",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "location": "query"
                    },
                    "filter.issue.signals": {
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "type": "string"
                    },
                    "filter.operatingSystem.displayNames": {
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous calls.",
                      "location": "query"
                    },
                    "filter.interval.endTime": {
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "filter.issue.states": {
                      "type": "string",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ]
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events"
                },
                "batchGet": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "required": true
                    },
                    "names": {
                      "type": "string",
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "location": "query",
                      "repeated": true
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "description": "Fetch a batch of up to 100 events by name.",
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Exception": {
      "type": "object",
      "properties": {
        "frames": {
          "type": "array",
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the exception's stacktrace."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred."
        },
        "nested": {
          "description": "True for all but the last-thrown exception (i.e. the first record).",
          "type": "boolean"
        },
        "exceptionMessage": {
          "description": "A message associated with the exception.",
          "type": "string"
        },
        "title": {
          "description": "The title of the exception.",
          "type": "string"
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the exception."
        },
        "type": {
          "type": "string",
          "description": "The exception type e.g. java.lang.IllegalStateException."
        }
      },
      "id": "Exception",
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "BatchUpdateIssuesRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateIssueRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch."
        },
        "updateMask": {
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "BatchUpdateIssuesRequest",
      "description": "Request message for the BatchUpdateIssues method.",
      "type": "object"
    },
    "Issue": {
      "id": "Issue",
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "properties": {
        "id": {
          "description": "Output only. Immutable. Unique identifier for the issue.",
          "readOnly": true,
          "type": "string"
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this issue.",
          "readOnly": true,
          "type": "string"
        },
        "notesCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of notes attached to an issue."
        },
        "signals": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "IssueSignals"
          },
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer."
        },
        "variants": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "IssueVariant"
          },
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants."
        },
        "errorType": {
          "type": "string",
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues).",
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "readOnly": true
        },
        "subtitle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request."
        },
        "firstSeenVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only."
        },
        "lastSeenTime": {
          "description": "Output only. The most recent time this issue was seen.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
        },
        "lastSeenVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only."
        },
        "stateUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the issue state was last changed."
        },
        "firstSeenTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Immutable. The first time this issue was seen."
        },
        "title": {
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Browser": {
      "id": "Browser",
      "description": "Web browser metadata.",
      "properties": {
        "displayName": {
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter.",
          "type": "string"
        },
        "browser": {
          "type": "string",
          "description": "Browser name."
        },
        "displayVersion": {
          "type": "string",
          "description": "Browser display version number."
        }
      },
      "type": "object"
    },
    "BatchGetEventsResponse": {
      "type": "object",
      "id": "BatchGetEventsResponse",
      "description": "Response message for the BatchGetEvents method.",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "The list of retrieved events."
        }
      }
    },
    "ListReportsResponse": {
      "properties": {
        "reports": {
          "type": "array",
          "items": {
            "$ref": "Report"
          },
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results."
        }
      },
      "id": "ListReportsResponse",
      "description": "Response method for the ListReports method. The response will always include all of the available reports.",
      "type": "object"
    },
    "ReportGroup": {
      "id": "ReportGroup",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection.",
      "properties": {
        "operatingSystem": {
          "description": "Operating system metrics group.",
          "$ref": "OperatingSystem"
        },
        "device": {
          "description": "Device metrics group.",
          "$ref": "Device"
        },
        "variant": {
          "description": "Issue variant metrics group.",
          "$ref": "IssueVariant"
        },
        "webMetricsGroup": {
          "description": "Web metrics group.",
          "$ref": "WebMetricsGroup"
        },
        "subgroups": {
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "type": "array",
          "items": {
            "$ref": "ReportGroup"
          }
        },
        "browser": {
          "description": "Browser metrics group.",
          "$ref": "Browser"
        },
        "version": {
          "description": "Version metrics group.",
          "$ref": "Version"
        },
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        },
        "metrics": {
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain.",
          "type": "array",
          "items": {
            "$ref": "IntervalMetrics"
          }
        }
      },
      "type": "object"
    },
    "IssueVariant": {
      "id": "IssueVariant",
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants.",
      "properties": {
        "uri": {
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Distinct identifier for the variant."
        },
        "sampleEvent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for a sample event in this variant."
        }
      },
      "type": "object"
    },
    "PlayTrack": {
      "type": "object",
      "id": "PlayTrack",
      "description": "Describes a release track in the Play Developer Console.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of track (prod, internal, etc...).",
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ]
        },
        "title": {
          "type": "string",
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names."
        }
      }
    },
    "IssueSignals": {
      "properties": {
        "signal": {
          "description": "Output only. The signal name.",
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ],
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Output only. Supporting detail information.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "IssueSignals",
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "type": "object"
    },
    "Event": {
      "id": "Event",
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "properties": {
        "version": {
          "description": "Mobile application version.",
          "$ref": "Version"
        },
        "platform": {
          "type": "string",
          "description": "ANDROID, IOS, or WEB."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\"."
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the Firebase session."
        },
        "issue": {
          "description": "Details for the [Issue] assigned to this [Event].",
          "$ref": "Issue"
        },
        "processState": {
          "type": "string",
          "description": "The state of the app process at the time of the event."
        },
        "errors": {
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace.",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        },
        "appOrientation": {
          "description": "App orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "user": {
          "description": "End user identifiers for the device owner.",
          "$ref": "User"
        },
        "buildStamp": {
          "description": "Metadata provided by the app's build system, including version control repository info.",
          "type": "string"
        },
        "issueTitle": {
          "type": "string",
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name."
        },
        "breadcrumbs": {
          "description": "Analytics events recorded by the analytics SDK during the session.",
          "type": "array",
          "items": {
            "$ref": "Breadcrumb"
          }
        },
        "threads": {
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "type": "array",
          "items": {
            "$ref": "Thread"
          }
        },
        "eventId": {
          "description": "Output only. Immutable. The unique event identifier is assigned during processing.",
          "readOnly": true,
          "type": "string"
        },
        "receivedTime": {
          "description": "Server timestamp that the event was received by Crashlytics.",
          "type": "string",
          "format": "google-datetime"
        },
        "issueSubtitle": {
          "type": "string",
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message."
        },
        "exceptions": {
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown.",
          "type": "array",
          "items": {
            "$ref": "Exception"
          }
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp that the event was recorded."
        },
        "issueVariant": {
          "description": "Details for the [IssueVariant] assigned to this [Event].",
          "$ref": "IssueVariant"
        },
        "storage": {
          "description": "Mobile device disk/flash usage.",
          "$ref": "Storage"
        },
        "bundleOrPackage": {
          "type": "string",
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\"."
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "installationUuid": {
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users.",
          "type": "string"
        },
        "deviceOrientation": {
          "type": "string",
          "description": "Device orientation at the time of the crash (portrait or landscape)."
        },
        "routePath": {
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "readOnly": true,
          "type": "string"
        },
        "logs": {
          "description": "Log messages recorded by the developer during the session.",
          "type": "array",
          "items": {
            "$ref": "Log"
          }
        },
        "browser": {
          "description": "Browser and version.",
          "$ref": "Browser"
        },
        "memory": {
          "description": "Mobile device memory usage.",
          "$ref": "Memory"
        },
        "crashlyticsSdkVersion": {
          "description": "Crashlytics SDK version.",
          "type": "string"
        },
        "customKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Custom keys set by the developer during the session."
        },
        "blameFrame": {
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer.",
          "$ref": "Frame"
        }
      },
      "type": "object"
    },
    "Report": {
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The displayable title of the report."
        },
        "totalSize": {
          "description": "Output only. The total number of groups retrievable by the request.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "readOnly": true,
          "type": "string"
        },
        "usage": {
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports.",
          "type": "string"
        },
        "groups": {
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "type": "array",
          "items": {
            "$ref": "ReportGroup"
          }
        }
      },
      "id": "Report",
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models."
    },
    "FirebaseSessionEvent": {
      "type": "object",
      "properties": {
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start timestamp for the session event."
        },
        "eventType": {
          "type": "string",
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ]
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "firstSessionId": {
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches.",
          "type": "string"
        },
        "firebaseInstallationId": {
          "description": "Uniquely identifies a device with Firebase apps installed.",
          "type": "string"
        },
        "version": {
          "description": "Mobile application version numbers.",
          "$ref": "Version"
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "sessionIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates the number of sessions since the last cold start."
        }
      },
      "id": "FirebaseSessionEvent",
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK."
    },
    "Breadcrumb": {
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp for the event."
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Event parameters."
        },
        "title": {
          "description": "Analytic event name.",
          "type": "string"
        }
      },
      "id": "Breadcrumb",
      "description": "Analytics events recorded during the session.",
      "type": "object"
    },
    "ListEventsResponse": {
      "id": "ListEventsResponse",
      "description": "Response message for the ListEvents method.",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events.",
          "type": "string"
        },
        "events": {
          "description": "Returns one element per event, in descending order the by event timestamp.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        }
      },
      "type": "object"
    },
    "DeleteUserCrashReportsResponse": {
      "properties": {
        "targetCompleteTime": {
          "description": "Target time to complete the delete crash reports operation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "DeleteUserCrashReportsResponse",
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report.",
      "type": "object"
    },
    "UpdateIssueRequest": {
      "id": "UpdateIssueRequest",
      "description": "Request message for the UpdateIssue method.",
      "properties": {
        "issue": {
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "$ref": "Issue"
        },
        "updateMask": {
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "Error": {
      "type": "object",
      "id": "Error",
      "description": "A non-fatal error and its stacktrace, only from Apple apps.",
      "properties": {
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the error."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the error."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred."
        },
        "code": {
          "type": "string",
          "format": "int64",
          "description": "Error code associated with the app's custom logged NSError."
        },
        "frames": {
          "description": "The frames in the error's stacktrace.",
          "type": "array",
          "items": {
            "$ref": "Frame"
          }
        }
      }
    },
    "OperatingSystem": {
      "properties": {
        "deviceType": {
          "description": "The device category (mobile, tablet, desktop).",
          "type": "string"
        },
        "os": {
          "type": "string",
          "description": "Operating system name."
        },
        "displayVersion": {
          "type": "string",
          "description": "Operating system display version number."
        },
        "type": {
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.).",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter."
        },
        "modificationState": {
          "description": "Indicates if the OS has been modified or \"jailbroken\".",
          "type": "string"
        }
      },
      "id": "OperatingSystem",
      "description": "Mobile device operating system metadata.",
      "type": "object"
    },
    "Memory": {
      "properties": {
        "used": {
          "type": "string",
          "format": "int64",
          "description": "Bytes in use."
        },
        "free": {
          "type": "string",
          "format": "int64",
          "description": "Bytes free."
        }
      },
      "id": "Memory",
      "description": "Mobile device memory usage.",
      "type": "object"
    },
    "Log": {
      "type": "object",
      "properties": {
        "logTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp when the line was logged."
        },
        "message": {
          "description": "Log message.",
          "type": "string"
        }
      },
      "id": "Log",
      "description": "Developer-provided log lines recorded during the session."
    },
    "Device": {
      "type": "object",
      "id": "Device",
      "description": "Mobile device metadata.",
      "properties": {
        "model": {
          "type": "string",
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\")."
        },
        "architecture": {
          "description": "Device processor architecture.",
          "type": "string"
        },
        "companyName": {
          "type": "string",
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\"."
        },
        "displayName": {
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\".",
          "type": "string"
        },
        "marketingName": {
          "type": "string",
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\"."
        },
        "formFactor": {
          "type": "string",
          "description": "See FormFactor message.",
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ]
        },
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        }
      }
    },
    "BatchUpdateIssuesResponse": {
      "type": "object",
      "properties": {
        "issues": {
          "type": "array",
          "items": {
            "$ref": "Issue"
          },
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest."
        }
      },
      "id": "BatchUpdateIssuesResponse",
      "description": "Response message for the BatchUpdateIssues method."
    },
    "Note": {
      "id": "Note",
      "description": "Developer notes for an issue.",
      "properties": {
        "createTime": {
          "description": "Output only. Time when the note was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "readOnly": true,
          "type": "string"
        },
        "author": {
          "description": "Output only. The email of the author of the note.",
          "readOnly": true,
          "type": "string"
        },
        "body": {
          "type": "string",
          "description": "Immutable. The body of the note."
        }
      },
      "type": "object"
    },
    "WebMetricsGroup": {
      "id": "WebMetricsGroup",
      "description": "Represents a grouping for metrics specific to web applications.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the web metrics group"
        }
      },
      "type": "object"
    },
    "Thread": {
      "id": "Thread",
      "description": "An application thread.",
      "properties": {
        "frames": {
          "type": "array",
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the thread's stacktrace."
        },
        "title": {
          "type": "string",
          "description": "The title of the thread."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred."
        },
        "threadState": {
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the thread.",
          "type": "string"
        },
        "crashAddress": {
          "type": "string",
          "format": "int64",
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads."
        },
        "crashed": {
          "type": "boolean",
          "description": "True when the thread has crashed."
        },
        "signal": {
          "type": "string",
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "subtitle": {
          "description": "The subtitle of the thread.",
          "type": "string"
        },
        "sysThreadId": {
          "type": "string",
          "format": "int64",
          "description": "The system id of the thread, only available for ANR threads."
        },
        "threadId": {
          "description": "The id of the thread, only available for ANR threads.",
          "type": "string",
          "format": "int64"
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "signalCode": {
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Storage": {
      "properties": {
        "used": {
          "description": "Bytes used.",
          "type": "string",
          "format": "int64"
        },
        "free": {
          "type": "string",
          "format": "int64",
          "description": "Bytes free."
        }
      },
      "id": "Storage",
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "type": "object"
    },
    "ListNotesResponse": {
      "type": "object",
      "id": "ListNotesResponse",
      "description": "Response message for the ListNotes method.",
      "properties": {
        "notes": {
          "description": "Returns notes ordered descending by the timestamp.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        },
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes.",
          "type": "string"
        }
      }
    },
    "Version": {
      "type": "object",
      "id": "Version",
      "description": "Application software version.",
      "properties": {
        "displayName": {
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field.",
          "type": "string"
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "PlayTrack"
          },
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks."
        },
        "buildVersion": {
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion.",
          "type": "string"
        },
        "displayVersion": {
          "type": "string",
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString."
        }
      }
    },
    "Frame": {
      "properties": {
        "owner": {
          "type": "string",
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM."
        },
        "address": {
          "type": "string",
          "format": "int64",
          "description": "The address in the binary image which contains the code. Present for native frames."
        },
        "offset": {
          "description": "The byte offset into the binary image that contains the code. Present for native frames.",
          "type": "string",
          "format": "int64"
        },
        "library": {
          "type": "string",
          "description": "The display name of the library that includes the frame."
        },
        "symbol": {
          "type": "string",
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error."
        },
        "file": {
          "type": "string",
          "description": "The name of the source file in which the frame is found."
        },
        "line": {
          "type": "string",
          "format": "int64",
          "description": "The line number in the file of the frame."
        },
        "column": {
          "description": "The column on the line.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Frame",
      "description": "A frame in a stacktrace.",
      "type": "object"
    },
    "IntervalMetrics": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of the interval covered by the computation."
        },
        "sessionsCount": {
          "description": "The number of distinct sessions in the set of events.",
          "type": "string",
          "format": "int64"
        },
        "impactedUsersCount": {
          "description": "The number of distinct users in the set of events.",
          "type": "string",
          "format": "int64"
        },
        "startTime": {
          "description": "The start of the interval covered by the computation.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventsCount": {
          "description": "The total count of events in the interval.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "IntervalMetrics",
      "description": "A set of computed metric values for a time interval",
      "type": "object"
    },
    "User": {
      "id": "User",
      "description": "Developer-provided end user identifiers.",
      "properties": {
        "id": {
          "description": "User id if provided by the app developer.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "servicePath": ""
}