{
  "id": "firebaseapphosting:v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "canonicalName": "Firebase App Hosting",
  "title": "Firebase App Hosting API",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "documentationLink": "https://firebase.google.com/docs/app-hosting",
  "version_module": true,
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "description": "Firebase App Hosting streamlines the development and deployment of dynamic Next.js and Angular applications, offering built-in framework support, GitHub integration, and integration with other Firebase products. You can use this API to intervene in the Firebase App Hosting build process and add custom functionality not supported in our default Console & CLI flows, including triggering builds from external CI/CD workflows or deploying from pre-built container images. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "basePath": "",
  "version": "v1",
  "mtlsRootUrl": "https://firebaseapphosting.mtls.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "repeated": true
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "firebaseapphosting.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "firebaseapphosting.projects.locations.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "backends": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "firebaseapphosting.projects.locations.backends.get",
                  "response": {
                    "$ref": "Backend"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "description": "Gets information about a backend.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "firebaseapphosting.projects.locations.backends.delete",
                  "description": "Deletes a single backend.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, any resources for this backend will also be deleted. Otherwise, any children resources will block deletion."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources.",
                      "type": "boolean"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "description": "Updates the information for a single backend.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebaseapphosting.projects.locations.backends.patch",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the backend resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and the backend is not found, a new backend will be created.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "request": {
                    "$ref": "Backend"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new backend in a given project and location.",
                  "request": {
                    "$ref": "Backend"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends",
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. A parent name of the form `projects/{project}/locations/{locationId}`.",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "backendId": {
                      "description": "Required. Id of the backend. Also used as the service ID for Cloud Run, and as part of the default domain name.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "firebaseapphosting.projects.locations.backends.create",
                  "path": "v1/{+parent}/backends",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseapphosting.projects.locations.backends.list",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. A parent name of the form `projects/{project}/locations/{locationId}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                      "format": "int32"
                    },
                    "showDeleted": {
                      "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "ListBackendsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends",
                  "description": "Lists backends in a given project and location.",
                  "path": "v1/{+parent}/backends"
                }
              },
              "resources": {
                "builds": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds",
                      "response": {
                        "$ref": "ListBuildsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent backend in the form `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                          "location": "query",
                          "type": "integer"
                        },
                        "showDeleted": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet."
                        }
                      },
                      "path": "v1/{+parent}/builds",
                      "id": "firebaseapphosting.projects.locations.backends.builds.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists builds in a given project, location, and backend."
                    },
                    "create": {
                      "description": "Creates a new build for a backend.",
                      "request": {
                        "$ref": "Build"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.builds.create",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/builds",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "buildId": {
                          "location": "query",
                          "description": "Required. Desired ID of the build being created.",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "validateOnly": {
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds/{buildsId}",
                      "id": "firebaseapphosting.projects.locations.backends.builds.get",
                      "response": {
                        "$ref": "Build"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets information about a build.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/builds/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}"
                    },
                    "delete": {
                      "id": "firebaseapphosting.projects.locations.backends.builds.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "validateOnly": {
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or deleting any resources.",
                          "type": "boolean"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/builds/[^/]+$",
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds/{buildsId}",
                      "path": "v1/{+name}",
                      "description": "Deletes a single build."
                    }
                  }
                },
                "domains": {
                  "methods": {
                    "list": {
                      "description": "Lists domains of a backend.",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                          "type": "string",
                          "location": "query"
                        },
                        "showDeleted": {
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "filter": {
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "location": "path",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/domains",
                      "id": "firebaseapphosting.projects.locations.backends.domains.list",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains",
                      "response": {
                        "$ref": "ListDomainsResponse"
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/domains/{domainId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$",
                          "required": true
                        },
                        "etag": {
                          "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error.",
                          "location": "query",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or deleting any resources.",
                          "type": "boolean"
                        }
                      },
                      "id": "firebaseapphosting.projects.locations.backends.domains.delete",
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single domain.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "create": {
                      "id": "firebaseapphosting.projects.locations.backends.domains.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Domain"
                      },
                      "path": "v1/{+parent}/domains",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$"
                        },
                        "domainId": {
                          "type": "string",
                          "description": "Required. Id of the domain to create. Must be a valid domain name.",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "validateOnly": {
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                          "type": "boolean"
                        }
                      },
                      "description": "Links a new domain to a backend.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}",
                      "response": {
                        "$ref": "Domain"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.domains.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/domains/{domainId}`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Gets information about a domain.",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Domain resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "validateOnly": {
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or modifying any resources.",
                          "type": "boolean"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "allowMissing": {
                          "location": "query",
                          "description": "Optional. If set to true, and the domain is not found, a new domain will be created.",
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`"
                        }
                      },
                      "id": "firebaseapphosting.projects.locations.backends.domains.patch",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "Domain"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "description": "Updates the information for a single domain."
                    }
                  }
                },
                "traffic": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/traffic",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/traffic$",
                          "type": "string"
                        }
                      },
                      "id": "firebaseapphosting.projects.locations.backends.traffic.get",
                      "response": {
                        "$ref": "Traffic"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets information about a backend's traffic."
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Traffic"
                      },
                      "description": "Updates a backend's traffic.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the traffic resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/traffic$",
                          "type": "string",
                          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
                          "location": "path"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources."
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.traffic.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/traffic",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "rollouts": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/rollouts/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets information about a rollout.",
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.get",
                      "response": {
                        "$ref": "Rollout"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts/{rolloutsId}"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists rollouts for a backend.",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160)."
                        },
                        "parent": {
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix."
                        },
                        "showDeleted": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet."
                        }
                      },
                      "response": {
                        "$ref": "ListRolloutsResponse"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/rollouts"
                    },
                    "create": {
                      "description": "Creates a new rollout for a backend.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts",
                      "path": "v1/{+parent}/rollouts",
                      "request": {
                        "$ref": "Rollout"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.create",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
                        },
                        "rolloutId": {
                          "location": "query",
                          "description": "Optional. Desired ID of the rollout being created.",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "id": "firebaseapphosting.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}"
                },
                "cancel": {
                  "id": "firebaseapphosting.projects.locations.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "firebaseapphosting.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations"
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "firebaseapphosting.projects.locations.operations.get"
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "ListRolloutsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "description": "The list of rollouts.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results the server should return."
        }
      },
      "id": "ListRolloutsResponse",
      "type": "object",
      "description": "Message for response to list rollouts."
    },
    "Path": {
      "properties": {
        "type": {
          "enum": [
            "PATTERN_TYPE_UNSPECIFIED",
            "RE2",
            "GLOB",
            "PREFIX"
          ],
          "enumDescriptions": [
            "The pattern type is unspecified - this is an invalid value.",
            "RE2 - regular expression (https://github.com/google/re2/wiki/Syntax).",
            "The pattern is a glob.",
            "The pattern is a prefix."
          ],
          "type": "string",
          "description": "Optional. The type of pattern to match against."
        },
        "pattern": {
          "type": "string",
          "description": "Optional. The pattern to match against."
        }
      },
      "type": "object",
      "description": "A file path pattern to match against.",
      "id": "Path"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "CustomDomainOperationMetadata": {
      "type": "object",
      "properties": {
        "certState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The certificate's state is unspecified. The message is invalid if this is unspecified.",
            "The initial state of every certificate, represents App Hosting's intent to create a certificate before requests to a Certificate Authority are made.",
            "App Hosting is validating whether a domain name's DNS records are in a state that allow certificate creation on its behalf.",
            "The certificate was recently created, and needs time to propagate in App Hosting's load balancers.",
            "The certificate is active, providing secure connections for the domain names it represents.",
            "The certificate is expiring, all domain names on it will be given new certificates.",
            "The certificate has expired. App Hosting can no longer serve secure content on your domain name."
          ],
          "description": "Output only. The custom domain's `CertState`, which must be `CERT_ACTIVE` for the create operations to complete.",
          "enum": [
            "CERT_STATE_UNSPECIFIED",
            "CERT_PREPARING",
            "CERT_VALIDATING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_EXPIRING_SOON",
            "CERT_EXPIRED"
          ]
        },
        "liveMigrationSteps": {
          "items": {
            "$ref": "LiveMigrationStep"
          },
          "description": "Output only. A list of steps that the user must complete to migrate their domain to App Hosting without downtime.",
          "readOnly": true,
          "type": "array"
        },
        "quickSetupUpdates": {
          "items": {
            "$ref": "DnsUpdates"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. A set of DNS record updates to perform, to allow App Hosting to serve secure content on the domain."
        },
        "issues": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list of issues that are currently preventing the operation from completing. These are generally DNS-related issues encountered when querying a domain's records or attempting to mint an SSL certificate."
        },
        "ownershipState": {
          "enum": [
            "OWNERSHIP_STATE_UNSPECIFIED",
            "OWNERSHIP_MISSING",
            "OWNERSHIP_UNREACHABLE",
            "OWNERSHIP_MISMATCH",
            "OWNERSHIP_CONFLICT",
            "OWNERSHIP_PENDING",
            "OWNERSHIP_ACTIVE"
          ],
          "enumDescriptions": [
            "Your custom domain's ownership state is unspecified. This should never happen.",
            "Your custom domain's domain has no App-Hosting-related ownership records; no backend is authorized to serve on the domain in this Origin shard.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's ownership records resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your custom domain is owned by another App Hosting custom domain. Remove the conflicting records and replace them with records for your current custom domain.",
            "Your custom domain has conflicting `TXT` records that indicate ownership by both your current custom domain one or more others. Remove the extraneous ownership records to grant the current custom domain ownership.",
            "Your custom domain's DNS records are configured correctly. App Hosting will transfer ownership of your domain to this custom domain within 24 hours.",
            "Your custom domain owns its domain."
          ],
          "description": "Output only. The custom domain's `OwnershipState`, which must be `OWNERSHIP_ACTIVE` for the create operations to complete.",
          "readOnly": true,
          "type": "string"
        },
        "hostState": {
          "enum": [
            "HOST_STATE_UNSPECIFIED",
            "HOST_UNHOSTED",
            "HOST_UNREACHABLE",
            "HOST_NON_FAH",
            "HOST_CONFLICT",
            "HOST_WRONG_SHARD",
            "HOST_ACTIVE"
          ],
          "description": "Output only. The custom domain's `HostState`, which must be `HOST_ACTIVE` for Create operations of the domain name this `CustomDomain` refers toto complete.",
          "readOnly": true,
          "enumDescriptions": [
            "Your custom domain's host state is unspecified. The message is invalid if this is unspecified.",
            "Your custom domain isn't associated with any IP addresses.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's IP addresses resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your domain has only IP addresses that don't ultimately resolve to App Hosting.",
            "Your domain has IP addresses that resolve to both App Hosting and to other services. To ensure consistent results, remove `A` and `AAAA` records related to non-App-Hosting services.",
            "Your domain has IP addresses that resolve to an incorrect instance of the App Hosting Data Plane. App Hosting has multiple data plane instances to ensure high availability. The SSL certificate that App Hosting creates for your domain is only available on its assigned instance. If your domain's IP addresses resolve to an incorrect instance, App Hosting won't be able to serve secure content on it.",
            "All requests against your domain are served by App Hosting, via your domain's assigned shard. If the custom domain's `OwnershipState` is also `OWNERSHIP_ACTIVE`, App Hosting serves its backend's content on requests for the domain."
          ],
          "type": "string"
        }
      },
      "description": "Additional metadata for operations on custom domains.",
      "id": "CustomDomainOperationMetadata"
    },
    "DnsUpdates": {
      "id": "DnsUpdates",
      "type": "object",
      "properties": {
        "checkTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time App Hosting checked your custom domain's DNS records."
        },
        "desired": {
          "readOnly": true,
          "items": {
            "$ref": "DnsRecordSet"
          },
          "type": "array",
          "description": "Output only. The set of DNS records App Hosting needs in order to be able to serve secure content on the domain."
        },
        "domainName": {
          "readOnly": true,
          "description": "Output only. The domain name the DNS updates pertain to.",
          "type": "string"
        },
        "discovered": {
          "readOnly": true,
          "description": "Output only. The set of DNS records App Hosting discovered when inspecting a domain.",
          "items": {
            "$ref": "DnsRecordSet"
          },
          "type": "array"
        }
      },
      "description": "A set of DNS record updates that you should make to allow App Hosting to serve secure content in response to requests against your domain. These updates present the current state of your domain's and related subdomains' DNS records when App Hosting last queried them, and the desired set of records that App Hosting needs to see before your custom domain can be fully active."
    },
    "SourceUserMetadata": {
      "id": "SourceUserMetadata",
      "description": "Deprecated: Not used. Metadata for the user who started the build.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. Deprecated: Not used. The user-chosen displayname. May be empty.",
          "readOnly": true,
          "deprecated": true
        },
        "imageUri": {
          "description": "Output only. Deprecated: Not used. The URI of a profile photo associated with the user who created the build.",
          "type": "string",
          "readOnly": true,
          "deprecated": true
        },
        "email": {
          "readOnly": true,
          "description": "Output only. Deprecated: Not used. The account email linked to the EUC that created the build. May be a service account or other robot account.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "Traffic": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time at which the backend was created."
        },
        "current": {
          "$ref": "TrafficSet",
          "readOnly": true,
          "description": "Output only. Current state of traffic allocation for the backend. When setting `target`, this field may differ for some time until the desired state is reached."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. A field that, if true, indicates that the system is working to make the backend's `current` match the requested `target` list.",
          "type": "boolean"
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "$ref": "TrafficSet",
          "description": "Set to manually control the desired traffic for the backend. This will cause `current` to eventually match this value. The percentages must add up to 100%."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects."
        },
        "rolloutPolicy": {
          "description": "A rollout policy specifies how new builds and automatic deployments are created.",
          "$ref": "RolloutPolicy"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time at which the backend was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string"
        }
      },
      "id": "Traffic",
      "type": "object",
      "description": "Controls traffic configuration for the backend."
    },
    "Backend": {
      "id": "Backend",
      "description": "A backend is the primary resource of App Hosting.",
      "type": "object",
      "properties": {
        "servingLocality": {
          "type": "string",
          "description": "Required. Immutable. Specifies how App Hosting will serve the content for this backend. It will either be contained to a single region (REGIONAL_STRICT) or allowed to use App Hosting's global-replicated serving infrastructure (GLOBAL_ACCESS).",
          "enumDescriptions": [
            "Unspecified. Will return an error if used.",
            "In this mode, App Hosting serves your backend's content from your chosen parent region. App Hosting only maintains data and serving infrastructure in that chosen region and does not replicate your data to other regions.",
            "In this mode, App Hosting serves your backend's content from multiple points-of-presence (POP) across the globe. App Hosting replicates your backend's configuration and cached data to these POPs and uses a global CDN to further decrease response latency. App Hosting-maintained Cloud Resources on your project, such as Cloud Run services, Cloud Build build, and Artifact Registry Images are still confined to your backend's parent region. Responses cached by the CDN may be stored in the POPs for the duration of the cache's TTL."
          ],
          "enum": [
            "SERVING_LOCALITY_UNSPECIFIED",
            "REGIONAL_STRICT",
            "GLOBAL_ACCESS"
          ]
        },
        "managedResources": {
          "description": "Output only. A list of the resources managed by this backend.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ManagedResource"
          }
        },
        "annotations": {
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "mode": {
          "description": "Optional. Deprecated: Use `environment` instead.",
          "deprecated": true,
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the backend was deleted.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-assigned, unique identifier."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
        },
        "environment": {
          "type": "string",
          "description": "Optional. The environment name of the backend, used to load environment variables from environment specific configuration."
        },
        "createTime": {
          "description": "Output only. Time at which the backend was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the system is working to make adjustments to the backend during a LRO."
        },
        "appId": {
          "type": "string",
          "description": "Optional. The [ID of a Web App](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects.webApps#WebApp.FIELDS.app_id) associated with the backend."
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The primary URI to communicate with the backend."
        },
        "requestLogsDisabled": {
          "description": "Optional. A field that, if true, indicates that incoming request logs are disabled for this backend. Incoming request logs are enabled by default.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. Time at which the backend was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "codebase": {
          "$ref": "Codebase",
          "description": "Optional. If specified, the connection to an external source repository to watch for event-driven updates to the backend."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. The name of the service account used for Cloud Build and Cloud Run. Should have the role roles/firebaseapphosting.computeRunner or equivalent permissions."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Human-readable name. 63 character limit."
        }
      }
    },
    "Config": {
      "description": "Additional configuration of the backend for this build.",
      "properties": {
        "runConfig": {
          "$ref": "RunConfig",
          "description": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
        },
        "env": {
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "description": "Optional. Supplied environment variables for a specific build. Provided at Build creation time and immutable afterwards. This field is only applicable for Builds using a build image - (e.g., ContainerSource or ArchiveSource with locally_built_source) Attempts to set this for other build types will result in an error"
        },
        "effectiveEnv": {
          "readOnly": true,
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array",
          "description": "Output only. [OUTPUT_ONLY] This field represents all environment variables employed during both the build and runtime. This list reflects the result of merging variables from all sources (Backend.override_env, Build.Config.env, YAML, defaults, system). Each variable includes its `origin`"
        }
      },
      "type": "object",
      "id": "Config"
    },
    "RunConfig": {
      "properties": {
        "memoryMib": {
          "type": "integer",
          "description": "Optional. Amount of memory allocated for each serving instance in MiB. By default, memory defaults to the Cloud Run's default where each instance is allocated 512 MiB of memory. Memory can be set to any integer value between 128 to 32768. Increasing memory limit may require increase in CPUs limits: - Over 4 GiB: at least 2 CPUs - Over 8 GiB: at least 4 CPUs - Over 16 GiB: at least 6 CPUs - Over 24 GiB: at least 8 CPUs",
          "format": "int32"
        },
        "minInstances": {
          "format": "int32",
          "description": "Optional. Number of Cloud Run instances to maintain at minimum for each Cloud Run Service. By default, there are no minimum. Even if the service splits traffic across multiple revisions, the total number of instances for a service will be capped at this value.",
          "type": "integer"
        },
        "cpu": {
          "format": "float",
          "type": "number",
          "description": "Optional. Number of CPUs used for each serving instance. By default, cpu defaults to the Cloud Run's default of 1.0. CPU can be set to value 1, 2, 4, 6, or 8 CPUs, and for less than 1 CPU, a value from 0.08 to less than 1.00, in increments of 0.01. If you set a value of less than 1 CPU, you must set concurrency to 1, and CPU will only be allocated during request processing. Increasing CPUs limit may require increase in memory limits: - 4 CPUs: at least 2 GiB - 6 CPUs: at least 4 GiB - 8 CPUs: at least 4 GiB"
        },
        "concurrency": {
          "type": "integer",
          "description": "Optional. Maximum number of requests that each Cloud Run instance can receive. By default, each instance can receive Cloud Run's default of up to 80 requests at the same time. Concurrency can be set to any integer value up to 1000.",
          "format": "int32"
        },
        "maxInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of Cloud Run instances to maintain at maximum for each revision. By default, each Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service) scales out to Cloud Run's default of a maximum of 100 instances. The maximum max_instances limit is based on your quota. See https://cloud.google.com/run/docs/configuring/max-instances#limits."
        }
      },
      "id": "RunConfig",
      "type": "object",
      "description": "Configuration applied to the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "RunService": {
      "type": "object",
      "description": "A managed Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
      "properties": {
        "service": {
          "type": "string",
          "description": "Optional. The name of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), in the format: `projects/{project}/locations/{location}/services/{serviceId}`"
        }
      },
      "id": "RunService"
    },
    "TrafficSet": {
      "properties": {
        "splits": {
          "items": {
            "$ref": "TrafficSplit"
          },
          "type": "array",
          "description": "Required. The list of traffic splits."
        }
      },
      "type": "object",
      "id": "TrafficSet",
      "description": "A list of traffic splits that together represent where traffic is being routed."
    },
    "BuildSource": {
      "id": "BuildSource",
      "description": "The source for the build.",
      "properties": {
        "archive": {
          "$ref": "ArchiveSource",
          "description": "An archive source."
        },
        "codebase": {
          "description": "A codebase source.",
          "$ref": "CodebaseSource"
        },
        "container": {
          "description": "An Artifact Registry container image source.",
          "$ref": "ContainerSource"
        }
      },
      "type": "object"
    },
    "Rollout": {
      "description": "A single rollout of a build for a backend.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Output only. A status and (human readable) error message for the rollout, if in a `FAILED` state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "state": {
          "enumDescriptions": [
            "The rollout is in an unknown state.",
            "The rollout is waiting for actuation to begin. This may be because it is waiting on another rollout to complete.",
            "The rollout is waiting for the build process to complete, which builds the code and sets up the underlying infrastructure.",
            "The rollout has started and is actively modifying traffic.",
            "The rollout has been paused due to either being manually paused or a PAUSED stage. This should be set while `paused = true`.",
            "The rollout has completed.",
            "The rollout has failed. See error for more information.",
            "The rollout has been cancelled.",
            "The rollout has been skipped."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the rollout.",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PENDING_BUILD",
            "PROGRESSING",
            "PAUSED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "SKIPPED"
          ]
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. Time at which the rollout was deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the rollout was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Human-readable name. 63 character limit."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time at which the rollout was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "etag": {
          "type": "string",
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true
        },
        "build": {
          "type": "string",
          "description": "Required. Immutable. The name of a build that already exists. It doesn't have to be built; a rollout will wait for a build to be ready before updating traffic."
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the Rollout currently has an LRO.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the rollout. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-assigned, unique identifier."
        }
      },
      "id": "Rollout"
    },
    "UserMetadata": {
      "description": "Version control metadata for a user associated with a resolved codebase. Currently assumes a Git user.",
      "type": "object",
      "id": "UserMetadata",
      "properties": {
        "displayName": {
          "description": "Output only. The 'name' field in a Git user's git.config. Required by Git.",
          "readOnly": true,
          "type": "string"
        },
        "email": {
          "description": "Output only. The 'email' field in a Git user's git.config, if available.",
          "readOnly": true,
          "type": "string"
        },
        "imageUri": {
          "description": "Output only. The URI of an image file associated with the user's account in an external source control provider, if available.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ManagedResource": {
      "type": "object",
      "properties": {
        "runService": {
          "$ref": "RunService",
          "description": "A Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), managed by App Hosting."
        }
      },
      "description": "An external resource managed by App Hosting on the project.",
      "id": "ManagedResource"
    },
    "DomainOperationMetadata": {
      "properties": {
        "customDomainOperationMetadata": {
          "description": "Output only. Additional metadata for operations on custom domains.",
          "readOnly": true,
          "$ref": "CustomDomainOperationMetadata"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "type": "object",
      "description": "Represents the metadata of a long-running operation on domains.",
      "id": "DomainOperationMetadata"
    },
    "Domain": {
      "id": "Domain",
      "description": "A domain name that is associated with a backend.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the domain was last updated."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Mutable human-readable name for the domain. 63 character limit. e.g. `prod domain`."
        },
        "createTime": {
          "description": "Output only. Time at which the domain was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "disabled": {
          "description": "Optional. Whether the domain is disabled. Defaults to false.",
          "type": "boolean"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM"
          ],
          "readOnly": true,
          "description": "Output only. The type of the domain.",
          "type": "string",
          "enumDescriptions": [
            "The type is unspecified (this should not happen).",
            "Default, App Hosting-provided and managed domains. These domains are created automatically with their parent backend and cannot be deleted except by deleting that parent, and cannot be moved to another backend. Default domains can be disabled via the `disabled` field.",
            "Custom, developer-owned domains. Custom Domains allow you to associate a domain you own with your App Hosting backend, and configure that domain to serve your backend's content."
          ]
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "annotations": {
          "description": "Optional. Annotations as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "customDomainStatus": {
          "description": "Output only. Represents the state and configuration of a `CUSTOM` type domain. It is only present on Domains of that type.",
          "$ref": "CustomDomainStatus",
          "readOnly": true
        },
        "deleteTime": {
          "description": "Output only. Time at which the domain was deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO.",
          "type": "boolean",
          "readOnly": true
        },
        "serve": {
          "description": "Optional. The serving behavior of the domain. If specified, the domain will serve content other than its backend's live content.",
          "$ref": "ServingBehavior"
        }
      },
      "type": "object"
    },
[...]
