{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260628",
  "title": "Firebase Hosting API",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "version_module": true,
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "resources": {
    "sites": {
      "methods": {
        "getConfig": {
          "parameters": {
            "name": {
              "pattern": "^sites/[^/]+/config$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
            }
          },
          "response": {
            "$ref": "SiteConfig"
          },
          "id": "firebasehosting.sites.getConfig",
          "path": "v1beta1/{+name}",
          "httpMethod": "GET",
          "description": "Gets the Hosting metadata for a specific site.",
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "updateConfig": {
          "parameterOrder": [
            "name"
          ],
          "id": "firebasehosting.sites.updateConfig",
          "path": "v1beta1/{+name}",
          "httpMethod": "PATCH",
          "description": "Sets the Hosting metadata for a specific site.",
          "parameters": {
            "name": {
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^sites/[^/]+/config$"
            },
            "updateMask": {
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "SiteConfig"
          },
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "request": {
            "$ref": "SiteConfig"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        }
      },
      "resources": {
        "releases": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                }
              },
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "id": "firebasehosting.sites.releases.list",
              "path": "v1beta1/{+parent}/releases",
              "httpMethod": "GET",
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "request": {
                "$ref": "Release"
              },
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID"
                },
                "versionName": {
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Release"
              },
              "id": "firebasehosting.sites.releases.create",
              "path": "v1beta1/{+parent}/releases",
              "httpMethod": "POST",
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/releases/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Release"
              },
              "id": "firebasehosting.sites.releases.get",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/releases/{releasesId}"
            }
          }
        },
        "domains": {
          "methods": {
            "create": {
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "request": {
                "$ref": "Domain"
              },
              "id": "firebasehosting.sites.domains.create",
              "path": "v1beta1/{+parent}/domains",
              "httpMethod": "POST",
              "description": "Creates a domain mapping on the specified site.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+$"
                }
              },
              "response": {
                "$ref": "Domain"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the domain configuration to get."
                }
              },
              "response": {
                "$ref": "Domain"
              },
              "id": "firebasehosting.sites.domains.get",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "description": "Gets a domain mapping on the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "id": "firebasehosting.sites.domains.delete",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes the existing domain mapping on the specified site.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the domain association to delete.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+/domains/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Domain"
              },
              "id": "firebasehosting.sites.domains.update",
              "path": "v1beta1/{+name}",
              "httpMethod": "PUT",
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "request": {
                "$ref": "Domain"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The page size to return. Defaults to 50.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The next_page_token from a previous request, if provided."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name"
                }
              },
              "response": {
                "$ref": "ListDomainsResponse"
              },
              "id": "firebasehosting.sites.domains.list",
              "path": "v1beta1/{+parent}/domains",
              "httpMethod": "GET",
              "description": "Lists the domains for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/domains"
            }
          }
        },
        "versions": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+$"
                }
              },
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "id": "firebasehosting.sites.versions.list",
              "path": "v1beta1/{+parent}/versions",
              "httpMethod": "GET",
              "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/versions"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.versions.delete",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes the specified version.",
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+/versions/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}"
            },
            "get": {
              "id": "firebasehosting.sites.versions.get",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Version"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.versions.create",
              "path": "v1beta1/{+parent}/versions",
              "httpMethod": "POST",
              "description": "Creates a new version for the specified site.",
              "parameters": {
                "versionId": {
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                  "location": "query",
                  "deprecated": true,
                  "type": "string"
                },
                "sizeBytes": {
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+$"
                }
              },
              "response": {
                "$ref": "Version"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "request": {
                "$ref": "Version"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "clone": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "id": "firebasehosting.sites.versions.clone",
              "path": "v1beta1/{+parent}/versions:clone",
              "httpMethod": "POST",
              "description": "Creates a new version on the specified target site using the content of the specified version.",
              "parameters": {
                "parent": {
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              }
            },
            "patch": {
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "request": {
                "$ref": "Version"
              },
              "id": "firebasehosting.sites.versions.patch",
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create)."
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used."
                }
              },
              "response": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "populateFiles": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "id": "firebasehosting.sites.versions.populateFiles",
              "path": "v1beta1/{+parent}:populateFiles",
              "httpMethod": "POST",
              "description": " Adds content files to the specified version. Each file must be under 2 GB.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            }
          },
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "id": "firebasehosting.sites.versions.files.list",
                  "path": "v1beta1/{+parent}/files",
                  "httpMethod": "GET",
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "type": "string"
                    },
                    "status": {
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ],
                      "location": "query",
                      "description": " The type of files that should be listed for the specified version.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "channels": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "id": "firebasehosting.sites.channels.list",
              "path": "v1beta1/{+parent}/channels",
              "httpMethod": "GET",
              "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.sites.channels.get",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "description": "Retrieves information for the specified channel of the specified site.",
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$"
                }
              },
              "response": {
                "$ref": "Channel"
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "firebasehosting.sites.channels.delete",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "request": {
                "$ref": "Channel"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+$"
                },
                "channelId": {
                  "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Channel"
              },
              "id": "firebasehosting.sites.channels.create",
              "path": "v1beta1/{+parent}/channels",
              "httpMethod": "POST",
              "description": "Creates a new channel in the specified site.",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.channels.patch",
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "A comma-separated list of fields to be updated in this request."
                }
              },
              "response": {
                "$ref": "Channel"
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "request": {
                "$ref": "Channel"
              }
            }
          },
          "resources": {
            "releases": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.sites.channels.releases.get",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "parameters": {
                    "name": {
                      "pattern": "^sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID "
                    }
                  },
                  "response": {
                    "$ref": "Release"
                  },
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^sites/[^/]+/channels/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "id": "firebasehosting.sites.channels.releases.list",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "GET",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "versionName": {
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID"
                    }
                  },
                  "response": {
                    "$ref": "Release"
                  },
                  "id": "firebasehosting.sites.channels.releases.create",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "POST",
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "request": {
                    "$ref": "Release"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.operations.get",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            }
          }
        },
        "sites": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "id": "firebasehosting.projects.sites.get",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "description": "Gets the specified Hosting Site.",
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$"
                }
              },
              "response": {
                "$ref": "Site"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "id": "firebasehosting.projects.sites.delete",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "id": "firebasehosting.projects.sites.create",
              "path": "v1beta1/{+parent}/sites",
              "httpMethod": "POST",
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems.",
              "parameters": {
                "siteId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "validateOnly": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. If set, validates that the site_id is available and that the request would succeed, returning the expected resulting site or error."
                }
              },
              "response": {
                "$ref": "Site"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "request": {
                "$ref": "Site"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "request": {
                "$ref": "Site"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "A set of field names from your Site that you want to update."
                }
              },
              "response": {
                "$ref": "Site"
              },
              "id": "firebasehosting.projects.sites.patch",
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates attributes of the specified Hosting Site.",
              "parameterOrder": [
                "name"
              ]
            },
            "updateConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "SiteConfig"
              },
              "id": "firebasehosting.projects.sites.updateConfig",
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "description": "Sets the Hosting metadata for a specific site.",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "request": {
                "$ref": "SiteConfig"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "getConfig": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.projects.sites.getConfig",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "description": "Gets the Hosting metadata for a specific site.",
              "parameters": {
                "name": {
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "SiteConfig"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "id": "firebasehosting.projects.sites.list",
              "path": "v1beta1/{+parent}/sites",
              "httpMethod": "GET",
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "response": {
                "$ref": "ListSitesResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "customDomains": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "parameters": {
                    "validateOnly": {
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create a new `CustomDomain`.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The custom domain's parent, specifically a Firebase Hosting `Site`."
                    },
                    "customDomainId": {
                      "description": "Required. The ID of the `CustomDomain`, which is the domain name you'd like to use with Firebase Hosting.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebasehosting.projects.sites.customDomains.create",
                  "path": "v1beta1/{+parent}/customDomains",
                  "httpMethod": "POST",
                  "description": "Creates a `CustomDomain`.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "undelete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the `CustomDomain` to delete."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebasehosting.projects.sites.customDomains.undelete",
                  "path": "v1beta1/{+name}:undelete",
                  "httpMethod": "POST",
                  "description": "Undeletes the specified `CustomDomain` if it has been soft-deleted. Hosting retains soft-deleted custom domains for around 30 days before permanently deleting them.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}:undelete",
                  "request": {
                    "$ref": "UndeleteCustomDomainRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the `CustomDomain` to get.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "CustomDomain"
                  },
                  "id": "firebasehosting.projects.sites.customDomains.get",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the specified `CustomDomain`.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "id": "firebasehosting.projects.sites.customDomains.delete",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified `CustomDomain`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "description": "Required. The name of the `CustomDomain` to delete.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually delete the `CustomDomain`.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "A tag that represents the state of the `CustomDomain` as you know it. If present, the supplied tag must match the current value on your `CustomDomain`, or the request fails."
                    },
                    "allowMissing": {
                      "description": "If true, the request succeeds even if the `CustomDomain` doesn't exist.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Output only. The fully-qualified name of the `CustomDomain`.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The set of field names from your `CustomDomain` that you want to update. A field will be overwritten if, and only if, it's in the mask. If you don't provide a mask, Hosting updates the entire `CustomDomain`."
                    },
                    "validateOnly": {
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create or update the `CustomDomain`.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "allowMissing": {
                      "description": "If true, Hosting creates the `CustomDomain` if it doesn't already exist.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebasehosting.projects.sites.customDomains.patch",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Updates the specified `CustomDomain`.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "parameters": {
                    "showDeleted": {
                      "description": "If true, the request returns soft-deleted `CustomDomain`s that haven't been fully-deleted yet. To restore deleted `CustomDomain`s, make an `UndeleteCustomDomain` request.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "description": "Required. The Firebase Hosting `Site` with `CustomDomain` entities you'd like to list.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The max number of `CustomDomain` entities to return in a request. Defaults to 10.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token from a previous call to `ListCustomDomains` that tells the server where to resume listing."
                    }
                  },
                  "response": {
                    "$ref": "ListCustomDomainsResponse"
                  },
                  "id": "firebasehosting.projects.sites.customDomains.list",
                  "path": "v1beta1/{+parent}/customDomains",
                  "httpMethod": "GET",
                  "description": "Lists each `CustomDomain` associated with the specified parent Hosting site. Returns `CustomDomain`s in a consistent, but undefined, order to facilitate pagination.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations/{operationsId}",
                      "id": "firebasehosting.projects.sites.customDomains.operations.get",
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets the latest state of a long-running operation. Use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations",
                      "parameters": {
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list page token."
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "id": "firebasehosting.projects.sites.customDomains.operations.list",
                      "path": "v1beta1/{+name}/operations",
                      "httpMethod": "GET",
                      "description": "Lists operations that match the specified filter in the request.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "releases": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "id": "firebasehosting.projects.sites.releases.list",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "GET",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "versionName": {
                      "location": "query",
                      "type": "string",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID"
                    }
                  },
                  "response": {
                    "$ref": "Release"
                  },
                  "id": "firebasehosting.projects.sites.releases.create",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "POST",
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "request": {
                    "$ref": "Release"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases/{releasesId}",
                  "id": "firebasehosting.projects.sites.releases.get",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "pattern": "^projects/[^/]+/sites/[^/]+/releases/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Release"
                  }
                }
              }
            },
            "domains": {
              "methods": {
                "update": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "request": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Domain"
                  },
                  "id": "firebasehosting.projects.sites.domains.update",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PUT",
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "id": "firebasehosting.projects.sites.domains.list",
                  "path": "v1beta1/{+parent}/domains",
                  "httpMethod": "GET",
                  "description": "Lists the domains for the specified site.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The page size to return. Defaults to 50."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token from a previous request, if provided."
                    }
                  },
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "description": "Required. The name of the domain configuration to get.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Domain"
                  },
                  "id": "firebasehosting.projects.sites.domains.get",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets a domain mapping on the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the domain association to delete.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.domains.create",
                  "path": "v1beta1/{+parent}/domains",
                  "httpMethod": "POST",
                  "description": "Creates a domain mapping on the specified site.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Domain"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "request": {
                    "$ref": "Domain"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "versions": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing."
                    },
                    "filter": {
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "id": "firebasehosting.projects.sites.versions.list",
                  "path": "v1beta1/{+parent}/versions",
                  "httpMethod": "GET",
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "request": {
                    "$ref": "Version"
                  },
                  "id": "firebasehosting.projects.sites.versions.create",
                  "path": "v1beta1/{+parent}/versions",
                  "httpMethod": "POST",
                  "description": "Creates a new version for the specified site.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "versionId": {
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                      "location": "query",
                      "deprecated": true,
                      "type": "string"
                    },
                    "sizeBytes": {
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "location": "query",
                      "type": "string",
                      "format": "int64"
                    }
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "clone": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "path": "v1beta1/{+parent}/versions:clone",
                  "httpMethod": "POST",
                  "description": "Creates a new version on the specified target site using the content of the specified version."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified version.",
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "id": "firebasehosting.projects.sites.versions.get",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "request": {
                    "$ref": "Version"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "PATCH",
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "populateFiles": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "path": "v1beta1/{+parent}:populateFiles",
                  "httpMethod": "POST",
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              },
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "path": "v1beta1/{+parent}/files",
                      "httpMethod": "GET",
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000."
                        },
                        "pageToken": {
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                        },
                        "status": {
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "location": "query",
                          "type": "string",
                          "description": " The type of files that should be listed for the specified version."
                        }
                      },
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "channels": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Channel"
                  },
                  "id": "firebasehosting.projects.sites.channels.get",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "description": "Retrieves information for the specified channel of the specified site.",
[...]
