{
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "version_module": true,
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "schemas": {
    "Note": {
      "description": "Developer notes for an issue.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "readOnly": true,
          "type": "string"
        },
        "body": {
          "description": "Immutable. The body of the note.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the note was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "author": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email of the author of the note."
        }
      },
      "id": "Note"
    },
    "Event": {
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "id": "Event",
      "type": "object",
      "properties": {
        "buildStamp": {
          "type": "string",
          "description": "Metadata provided by the app's build system, including version control repository info."
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Device timestamp that the event was recorded.",
          "type": "string"
        },
        "exceptions": {
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown.",
          "items": {
            "$ref": "Exception"
          },
          "type": "array"
        },
        "storage": {
          "description": "Mobile device disk/flash usage.",
          "$ref": "Storage"
        },
        "deviceOrientation": {
          "type": "string",
          "description": "Device orientation at the time of the crash (portrait or landscape)."
        },
        "platform": {
          "type": "string",
          "description": "ANDROID, IOS, or WEB."
        },
        "crashlyticsSdkVersion": {
          "description": "Crashlytics SDK version.",
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "description": "End user identifiers for the device owner."
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the Firebase session."
        },
        "installationUuid": {
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users.",
          "type": "string"
        },
        "customKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom keys set by the developer during the session.",
          "type": "object"
        },
        "issueTitle": {
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name.",
          "type": "string"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        },
        "eventId": {
          "description": "Output only. Immutable. The unique event identifier is assigned during processing.",
          "type": "string",
          "readOnly": true
        },
        "issue": {
          "description": "Details for the [Issue] assigned to this [Event].",
          "$ref": "Issue"
        },
        "blameFrame": {
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer.",
          "$ref": "Frame"
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "issueVariant": {
          "$ref": "IssueVariant",
          "description": "Details for the [IssueVariant] assigned to this [Event]."
        },
        "routePath": {
          "readOnly": true,
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "type": "string"
        },
        "logs": {
          "description": "Log messages recorded by the developer during the session.",
          "type": "array",
          "items": {
            "$ref": "Log"
          }
        },
        "issueSubtitle": {
          "type": "string",
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message."
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "type": "array",
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace."
        },
        "threads": {
          "items": {
            "$ref": "Thread"
          },
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\".",
          "readOnly": true
        },
        "appOrientation": {
          "description": "App orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "memory": {
          "description": "Mobile device memory usage.",
          "$ref": "Memory"
        },
        "receivedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Server timestamp that the event was received by Crashlytics."
        },
        "version": {
          "$ref": "Version",
          "description": "Mobile application version."
        },
        "browser": {
          "$ref": "Browser",
          "description": "Browser and version."
        },
        "breadcrumbs": {
          "items": {
            "$ref": "Breadcrumb"
          },
          "description": "Analytics events recorded by the analytics SDK during the session.",
          "type": "array"
        },
        "processState": {
          "type": "string",
          "description": "The state of the app process at the time of the event."
        },
        "bundleOrPackage": {
          "type": "string",
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\"."
        }
      }
    },
    "Device": {
      "id": "Device",
      "type": "object",
      "description": "Mobile device metadata.",
      "properties": {
        "architecture": {
          "description": "Device processor architecture.",
          "type": "string"
        },
        "marketingName": {
          "type": "string",
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\"."
        },
        "formFactor": {
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ],
          "description": "See FormFactor message.",
          "type": "string",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ]
        },
        "model": {
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\").",
          "type": "string"
        },
        "displayName": {
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\".",
          "type": "string"
        },
        "companyName": {
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\".",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Device brand name which is consistent with android.os.Build.BRAND."
        }
      }
    },
    "IntervalMetrics": {
      "type": "object",
      "description": "A set of computed metric values for a time interval",
      "id": "IntervalMetrics",
      "properties": {
        "impactedSessionsCount": {
          "type": "string",
          "description": "The number of distinct sessions in the set of events.",
          "format": "int64"
        },
        "sessionsCount": {
          "type": "string",
          "description": "Deprecated: Prefer `impacted_sessions_count`. The number of distinct sessions in the set of events.",
          "deprecated": true,
          "format": "int64"
        },
        "startTime": {
          "type": "string",
          "description": "The start of the interval covered by the computation.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end of the interval covered by the computation."
        },
        "totalUsersCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of distinct users."
        },
        "crashFreeSessionsPercentage": {
          "format": "float",
          "type": "number",
          "description": "Mobile only. Percentage of crash-free sessions. (total_sessions_count - impacted_sessions_count) / total_sessions_count * 100."
        },
        "crashFreeUsersPercentage": {
          "format": "float",
          "description": "Mobile only. Percentage of crash-free users. (total_users_count - impacted_users_count) / total_users_count * 100",
          "type": "number"
        },
        "impactedUsersCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of distinct users in the set of events."
        },
        "eventsCount": {
          "format": "int64",
          "description": "The total count of events in the interval.",
          "type": "string"
        },
        "totalSessionsCount": {
          "format": "int64",
          "description": "The number of distinct sessions.",
          "type": "string"
        }
      }
    },
    "PlayTrack": {
      "type": "object",
      "id": "PlayTrack",
      "description": "Describes a release track in the Play Developer Console.",
      "properties": {
        "title": {
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ],
          "description": "The type of track (prod, internal, etc...).",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ]
        }
      }
    },
    "Storage": {
      "id": "Storage",
      "type": "object",
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "properties": {
        "used": {
          "description": "Bytes used.",
          "type": "string",
          "format": "int64"
        },
        "free": {
          "type": "string",
          "description": "Bytes free.",
          "format": "int64"
        }
      }
    },
    "Report": {
      "type": "object",
      "properties": {
        "usage": {
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports.",
          "type": "string"
        },
        "totalSize": {
          "description": "Output only. The total number of groups retrievable by the request.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "groups": {
          "type": "array",
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "items": {
            "$ref": "ReportGroup"
          }
        },
        "displayName": {
          "description": "Output only. The displayable title of the report.",
          "type": "string",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
          "type": "string"
        }
      },
      "id": "Report",
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models."
    },
    "IssueSignals": {
      "properties": {
        "signal": {
          "description": "Output only. The signal name.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ]
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Supporting detail information."
        }
      },
      "type": "object",
      "id": "IssueSignals",
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer."
    },
    "Log": {
      "id": "Log",
      "properties": {
        "logTime": {
          "description": "Device timestamp when the line was logged.",
          "type": "string",
          "format": "google-datetime"
        },
        "message": {
          "type": "string",
          "description": "Log message."
        }
      },
      "description": "Developer-provided log lines recorded during the session.",
      "type": "object"
    },
    "UpdateIssueRequest": {
      "type": "object",
      "description": "Request message for the UpdateIssue method.",
      "id": "UpdateIssueRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable."
        },
        "issue": {
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "$ref": "Issue"
        }
      }
    },
    "User": {
      "id": "User",
      "type": "object",
      "properties": {
        "id": {
          "description": "User id if provided by the app developer.",
          "type": "string"
        }
      },
      "description": "Developer-provided end user identifiers."
    },
    "Browser": {
      "properties": {
        "displayName": {
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter.",
          "type": "string"
        },
        "browser": {
          "description": "Browser name.",
          "type": "string"
        },
        "displayVersion": {
          "description": "Browser display version number.",
          "type": "string"
        }
      },
      "id": "Browser",
      "description": "Web browser metadata.",
      "type": "object"
    },
    "Breadcrumb": {
      "id": "Breadcrumb",
      "description": "Analytics events recorded during the session.",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Device timestamp for the event."
        },
        "title": {
          "type": "string",
          "description": "Analytic event name."
        },
        "params": {
          "description": "Event parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Error": {
      "properties": {
        "frames": {
          "description": "The frames in the error's stacktrace.",
          "type": "array",
          "items": {
            "$ref": "Frame"
          }
        },
        "title": {
          "description": "The title of the error.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Error code associated with the app's custom logged NSError.",
          "format": "int64"
        },
        "queue": {
          "type": "string",
          "description": "The queue on which the thread was running."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred."
        },
        "subtitle": {
          "description": "The subtitle of the error.",
          "type": "string"
        }
      },
      "description": "A non-fatal error and its stacktrace, only from Apple apps.",
      "type": "object",
      "id": "Error"
    },
    "Memory": {
      "description": "Mobile device memory usage.",
      "id": "Memory",
      "type": "object",
      "properties": {
        "used": {
          "type": "string",
          "format": "int64",
          "description": "Bytes in use."
        },
        "free": {
          "format": "int64",
          "description": "Bytes free.",
          "type": "string"
        }
      }
    },
    "ListEventsResponse": {
      "type": "object",
      "description": "Response message for the ListEvents method.",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events.",
          "type": "string"
        },
        "events": {
          "description": "Returns one element per event, in descending order the by event timestamp.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        }
      },
      "id": "ListEventsResponse"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Frame": {
      "id": "Frame",
      "properties": {
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error.",
          "type": "boolean"
        },
        "library": {
          "description": "The display name of the library that includes the frame.",
          "type": "string"
        },
        "offset": {
          "format": "int64",
          "type": "string",
          "description": "The byte offset into the binary image that contains the code. Present for native frames."
        },
        "address": {
          "description": "The address in the binary image which contains the code. Present for native frames.",
          "type": "string",
          "format": "int64"
        },
        "file": {
          "type": "string",
          "description": "The name of the source file in which the frame is found."
        },
        "symbol": {
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated.",
          "type": "string"
        },
        "column": {
          "description": "The column on the line.",
          "format": "int64",
          "type": "string"
        },
        "line": {
          "type": "string",
          "format": "int64",
          "description": "The line number in the file of the frame."
        },
        "owner": {
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM.",
          "type": "string"
        }
      },
      "description": "A frame in a stacktrace.",
      "type": "object"
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes.",
          "type": "string"
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "Returns notes ordered descending by the timestamp.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for the ListNotes method."
    },
    "BatchUpdateIssuesResponse": {
      "properties": {
        "issues": {
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        }
      },
      "description": "Response message for the BatchUpdateIssues method.",
      "type": "object",
      "id": "BatchUpdateIssuesResponse"
    },
    "Issue": {
      "properties": {
        "firstSeenVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Immutable. Unique identifier for the issue.",
          "type": "string"
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "readOnly": true,
          "type": "string"
        },
        "signals": {
          "items": {
            "$ref": "IssueSignals"
          },
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer.",
          "type": "array",
          "readOnly": true
        },
        "stateUpdateTime": {
          "type": "string",
          "description": "Output only. The time at which the issue state was last changed.",
          "format": "google-datetime",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "type": "string",
          "readOnly": true
        },
        "variants": {
          "readOnly": true,
          "items": {
            "$ref": "IssueVariant"
          },
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants.",
          "type": "array"
        },
        "sampleEvent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for a sample event in this issue."
        },
        "notesCount": {
          "readOnly": true,
          "description": "Output only. The number of notes attached to an issue.",
          "format": "int64",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "readOnly": true
        },
        "lastSeenVersion": {
          "readOnly": true,
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "type": "string"
        },
        "lastSeenTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The most recent time this issue was seen."
        },
        "subtitle": {
          "type": "string",
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message.",
          "readOnly": true
        },
        "firstSeenTime": {
          "description": "Output only. Immutable. The first time this issue was seen.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues).",
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ]
        },
        "errorType": {
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "type": "string"
        }
      },
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "type": "object",
      "id": "Issue"
    },
    "Thread": {
      "properties": {
        "threadState": {
          "readOnly": true,
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ]
        },
        "name": {
          "description": "The name of the thread.",
          "type": "string"
        },
        "signal": {
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the thread."
        },
        "threadId": {
          "type": "string",
          "format": "int64",
          "description": "The id of the thread, only available for ANR threads."
        },
        "sysThreadId": {
          "description": "The system id of the thread, only available for ANR threads.",
          "type": "string",
          "format": "int64"
        },
        "title": {
          "description": "The title of the thread.",
          "type": "string"
        },
        "crashAddress": {
          "format": "int64",
          "type": "string",
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads."
        },
        "signalCode": {
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred.",
          "type": "boolean"
        },
        "crashed": {
          "description": "True when the thread has crashed.",
          "type": "boolean"
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the thread's stacktrace.",
          "type": "array"
        }
      },
      "id": "Thread",
      "type": "object",
      "description": "An application thread."
    },
    "FirebaseSessionEvent": {
      "id": "FirebaseSessionEvent",
      "properties": {
        "firstSessionId": {
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches.",
          "type": "string"
        },
        "eventType": {
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "type": "string",
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ]
        },
        "firebaseInstallationId": {
          "type": "string",
          "description": "Uniquely identifies a device with Firebase apps installed."
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "eventTime": {
          "description": "The start timestamp for the session event.",
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "description": "Mobile application version numbers.",
          "$ref": "Version"
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "sessionIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the number of sessions since the last cold start."
        }
      },
      "type": "object",
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK."
    },
    "Exception": {
      "properties": {
        "nested": {
          "description": "True for all but the last-thrown exception (i.e. the first record).",
          "type": "boolean"
        },
        "type": {
          "description": "The exception type e.g. java.lang.IllegalStateException.",
          "type": "string"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred.",
          "type": "boolean"
        },
        "exceptionMessage": {
          "description": "A message associated with the exception.",
          "type": "string"
        },
        "title": {
          "description": "The title of the exception.",
          "type": "string"
        },
        "frames": {
          "type": "array",
          "description": "The frames in the exception's stacktrace.",
          "items": {
            "$ref": "Frame"
          }
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the exception."
        }
      },
      "id": "Exception",
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "type": "object"
    },
    "ListReportsResponse": {
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results.",
          "type": "array"
        }
      },
      "id": "ListReportsResponse",
      "type": "object",
      "description": "Response method for the ListReports method. The response will always include all of the available reports."
    },
    "BatchUpdateIssuesRequest": {
      "properties": {
        "updateMask": {
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateIssueRequest"
          }
        }
      },
      "description": "Request message for the BatchUpdateIssues method.",
      "id": "BatchUpdateIssuesRequest",
      "type": "object"
    },
    "WebMetricsGroup": {
      "type": "object",
      "description": "Represents a grouping for metrics specific to web applications.",
      "id": "WebMetricsGroup",
      "properties": {
        "id": {
          "description": "The id of the web metrics group",
          "type": "string"
        }
      }
    },
    "OperatingSystem": {
      "type": "object",
      "description": "Mobile device operating system metadata.",
      "properties": {
        "displayVersion": {
          "type": "string",
          "description": "Operating system display version number."
        },
        "deviceType": {
          "description": "The device category (mobile, tablet, desktop).",
          "type": "string"
        },
        "os": {
          "description": "Operating system name.",
          "type": "string"
        },
        "type": {
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.).",
          "type": "string"
        },
        "modificationState": {
          "type": "string",
          "description": "Indicates if the OS has been modified or \"jailbroken\"."
        },
        "displayName": {
          "type": "string",
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter."
        }
      },
      "id": "OperatingSystem"
    },
    "DeleteUserCrashReportsResponse": {
      "id": "DeleteUserCrashReportsResponse",
      "type": "object",
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report.",
      "properties": {
        "targetCompleteTime": {
          "description": "Target time to complete the delete crash reports operation.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "BatchGetEventsResponse": {
      "properties": {
        "events": {
          "description": "The list of retrieved events.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        }
      },
      "id": "BatchGetEventsResponse",
      "description": "Response message for the BatchGetEvents method.",
      "type": "object"
    },
    "IssueVariant": {
      "id": "IssueVariant",
      "properties": {
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request."
        },
        "sampleEvent": {
          "type": "string",
          "description": "Output only. The resource name for a sample event in this variant.",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Distinct identifier for the variant."
        }
      },
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants.",
      "type": "object"
    },
    "Version": {
      "type": "object",
      "description": "Application software version.",
      "properties": {
        "displayVersion": {
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString.",
          "type": "string"
        },
        "tracks": {
          "type": "array",
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks.",
          "items": {
            "$ref": "PlayTrack"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field."
        },
        "buildVersion": {
          "type": "string",
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion."
        }
      },
      "id": "Version"
    },
    "ReportGroup": {
      "id": "ReportGroup",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection.",
      "type": "object",
      "properties": {
        "version": {
          "$ref": "Version",
          "description": "Version metrics group."
        },
        "subgroups": {
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "items": {
            "$ref": "ReportGroup"
          },
          "type": "array"
        },
        "webMetricsGroup": {
          "description": "Web metrics group.",
          "$ref": "WebMetricsGroup"
        },
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        },
        "device": {
          "description": "Device metrics group.",
          "$ref": "Device"
        },
        "variant": {
          "description": "Issue variant metrics group.",
          "$ref": "IssueVariant"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system metrics group."
        },
        "browser": {
          "$ref": "Browser",
          "description": "Browser metrics group."
        },
        "metrics": {
          "items": {
            "$ref": "IntervalMetrics"
          },
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain.",
          "type": "array"
        }
      }
    }
  },
  "version": "v1alpha",
  "ownerName": "Google",
  "revision": "20260925",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "name": "firebasecrashlytics",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "issues": {
              "resources": {
                "notes": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Note"
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "request": {
                        "$ref": "Note"
                      },
                      "description": "Create a new note for an issue."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous calls."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "required": true,
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "type": "string"
                        }
                      },
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "path": "v1alpha/{+parent}/notes"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "description": "Delete a note by its name.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}"
                    }
                  }
                }
              },
              "methods": {
                "batchUpdate": {
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "httpMethod": "POST"
                },
                "patch": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "description": "Change the state of an issue.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Issue"
                  },
                  "request": {
                    "$ref": "Issue"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
                    },
                    "updateMask": {
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  }
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Retrieve an issue.",
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "response": {
                    "$ref": "Issue"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "List all of the available reports.",
                  "path": "v1alpha/{+parent}/reports",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasecrashlytics.projects.apps.reports.list"
                },
                "get": {
                  "description": "Get a report with its computed results.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Report"
                  },
                  "parameters": {
                    "granularity": {
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "location": "query",
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ]
                    },
                    "filter.device.formFactors": {
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "location": "query",
                      "type": "string",
                      "repeated": true
                    },
                    "filter.device.displayNames": {
                      "repeated": true,
                      "type": "string",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "type": "string",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "location": "query"
                    },
                    "filter.operatingSystem.displayNames": {
                      "location": "query",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.issue.variantId": {
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.version.displayNames": {
                      "repeated": true,
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.browser.displayNames": {
                      "repeated": true,
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\"."
                    },
                    "filter.issue.signals": {
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "location": "query",
                      "repeated": true,
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "type": "string",
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal]."
                    },
                    "filter.issue.states": {
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\"."
                    },
                    "filter.issue.state": {
                      "deprecated": true,
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports."
                    },
                    "filter.interval.startTime": {
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "type": "integer"
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id]."
                    },
                    "filter.issue.errorTypes": {
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "type": "string"
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.reports.get"
                }
              }
            },
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report.",
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "httpMethod": "DELETE",
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "type": "string",
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids).",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports"
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/events",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "parameters": {
                    "filter.interval.startTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query"
                    },
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "location": "query",
                      "repeated": true
                    },
                    "filterExpression": {
                      "location": "query",
                      "description": "Optional. Filters events by custom keys (https://firebase.google.com/docs/crashlytics/customize-crash-reports#add-keys). Supported forms: * Equality: `custom_keys.level = \"vip\"` or `custom_keys.level:\"vip\"` * Presence: `custom_keys.level:*` * OR across values of one key: `custom_keys.level = \"vip\" OR custom_keys.level = \"enterprise\"` * AND across different keys: `custom_keys.level = \"vip\" AND custom_keys.region = \"us\"` Keys are case-sensitive. Keys and values containing spaces must be double-quoted, for example `custom_keys.\"app state\" = \"background\"`. OR across different keys, repeating a key within an AND, NOT, and comparators other than `=` and `:` are rejected with INVALID_ARGUMENT. Wildcards are not supported in values; use `custom_keys.:*` to match events that set a key to any value. Only supported for Android and iOS. This filter expression applies in addition to the `filter` field above. The syntax is a subset of AIP-160 (https://google.aip.dev/160).",
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10."
                    },
                    "filter.issue.id": {
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous calls."
                    },
                    "filter.issue.state": {
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "location": "query",
                      "deprecated": true,
                      "type": "string",
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "filter.issue.signals": {
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "repeated": true
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string",
                      "required": true
                    },
                    "filter.issue.variantId": {
                      "location": "query",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "type": "string"
                    },
                    "filter.version.displayNames": {
                      "type": "string",
                      "repeated": true,
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "location": "query"
                    },
                    "filter.browser.displayNames": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "repeated": true
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.issue.states": {
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "filter.device.formFactors": {
                      "type": "string",
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "location": "query",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "repeated": true
                    },
                    "filter.issue.errorTypes": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "repeated": true
                    },
                    "filter.device.displayNames": {
                      "repeated": true,
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime",
                      "location": "query"
                    }
                  },
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp."
                },
                "batchGet": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path"
                    },
                    "names": {
                      "type": "string",
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "location": "query",
                      "repeated": true
                    },
                    "readMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned."
                    }
                  },
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  },
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Fetch a batch of up to 100 events by name.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "path": "v1alpha/{+parent}/events:batchGet"
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "canonicalName": "Firebase Crashlytics",
  "id": "firebasecrashlytics:v1alpha",
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "title": "Firebase Crashlytics API"
}