{
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "servicePath": "",
  "canonicalName": "Firebase Crashlytics",
  "kind": "discovery#restDescription",
  "basePath": "",
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "revision": "20260904",
  "ownerDomain": "google.com",
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "schemas": {
    "Browser": {
      "description": "Web browser metadata.",
      "properties": {
        "browser": {
          "description": "Browser name.",
          "type": "string"
        },
        "displayName": {
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter.",
          "type": "string"
        },
        "displayVersion": {
          "type": "string",
          "description": "Browser display version number."
        }
      },
      "type": "object",
      "id": "Browser"
    },
    "User": {
      "description": "Developer-provided end user identifiers.",
      "properties": {
        "id": {
          "description": "User id if provided by the app developer.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "User"
    },
    "Device": {
      "type": "object",
      "id": "Device",
      "description": "Mobile device metadata.",
      "properties": {
        "marketingName": {
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\".",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\")."
        },
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "description": "Device processor architecture."
        },
        "companyName": {
          "type": "string",
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\"."
        },
        "formFactor": {
          "description": "See FormFactor message.",
          "type": "string",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ]
        },
        "displayName": {
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\".",
          "type": "string"
        }
      }
    },
    "UpdateIssueRequest": {
      "properties": {
        "issue": {
          "$ref": "Issue",
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for the UpdateIssue method.",
      "id": "UpdateIssueRequest",
      "type": "object"
    },
    "IntervalMetrics": {
      "description": "A set of computed metric values for a time interval",
      "id": "IntervalMetrics",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start of the interval covered by the computation."
        },
        "impactedUsersCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of distinct users in the set of events."
        },
        "sessionsCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of distinct sessions in the set of events."
        },
        "endTime": {
          "description": "The end of the interval covered by the computation.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventsCount": {
          "description": "The total count of events in the interval.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "BatchUpdateIssuesRequest": {
      "type": "object",
      "description": "Request message for the BatchUpdateIssues method.",
      "properties": {
        "updateMask": {
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "requests": {
          "items": {
            "$ref": "UpdateIssueRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch."
        }
      },
      "id": "BatchUpdateIssuesRequest"
    },
    "WebMetricsGroup": {
      "description": "Represents a grouping for metrics specific to web applications.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the web metrics group"
        }
      },
      "type": "object",
      "id": "WebMetricsGroup"
    },
    "ListEventsResponse": {
      "id": "ListEventsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events."
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "Returns one element per event, in descending order the by event timestamp."
        }
      },
      "type": "object",
      "description": "Response message for the ListEvents method."
    },
    "Version": {
      "description": "Application software version.",
      "properties": {
        "buildVersion": {
          "type": "string",
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion."
        },
        "displayVersion": {
          "type": "string",
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString."
        },
        "displayName": {
          "type": "string",
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field."
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "PlayTrack"
          },
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks."
        }
      },
      "type": "object",
      "id": "Version"
    },
    "PlayTrack": {
      "type": "object",
      "description": "Describes a release track in the Play Developer Console.",
      "properties": {
        "title": {
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "description": "The type of track (prod, internal, etc...)."
        }
      },
      "id": "PlayTrack"
    },
    "Note": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the note was created.",
          "format": "google-datetime"
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email of the author of the note."
        },
        "name": {
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "type": "string",
          "readOnly": true
        },
        "body": {
          "type": "string",
          "description": "Immutable. The body of the note."
        }
      },
      "id": "Note",
      "description": "Developer notes for an issue.",
      "type": "object"
    },
    "OperatingSystem": {
      "description": "Mobile device operating system metadata.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter."
        },
        "type": {
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.).",
          "type": "string"
        },
        "displayVersion": {
          "description": "Operating system display version number.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The device category (mobile, tablet, desktop)."
        },
        "modificationState": {
          "description": "Indicates if the OS has been modified or \"jailbroken\".",
          "type": "string"
        },
        "os": {
          "description": "Operating system name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperatingSystem"
    },
    "ReportGroup": {
      "type": "object",
      "properties": {
        "device": {
          "$ref": "Device",
          "description": "Device metrics group."
        },
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        },
        "metrics": {
          "items": {
            "$ref": "IntervalMetrics"
          },
          "type": "array",
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain."
        },
        "browser": {
          "$ref": "Browser",
          "description": "Browser metrics group."
        },
        "version": {
          "description": "Version metrics group.",
          "$ref": "Version"
        },
        "webMetricsGroup": {
          "$ref": "WebMetricsGroup",
          "description": "Web metrics group."
        },
        "variant": {
          "$ref": "IssueVariant",
          "description": "Issue variant metrics group."
        },
        "operatingSystem": {
          "description": "Operating system metrics group.",
          "$ref": "OperatingSystem"
        },
        "subgroups": {
          "items": {
            "$ref": "ReportGroup"
          },
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "type": "array"
        }
      },
      "id": "ReportGroup",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection."
    },
    "DeleteUserCrashReportsResponse": {
      "type": "object",
      "properties": {
        "targetCompleteTime": {
          "type": "string",
          "description": "Target time to complete the delete crash reports operation.",
          "format": "google-datetime"
        }
      },
      "id": "DeleteUserCrashReportsResponse",
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report."
    },
    "Log": {
      "type": "object",
      "description": "Developer-provided log lines recorded during the session.",
      "properties": {
        "logTime": {
          "description": "Device timestamp when the line was logged.",
          "type": "string",
          "format": "google-datetime"
        },
        "message": {
          "description": "Log message.",
          "type": "string"
        }
      },
      "id": "Log"
    },
    "Thread": {
      "type": "object",
      "properties": {
        "signal": {
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "queue": {
          "type": "string",
          "description": "The queue on which the thread was running."
        },
        "name": {
          "description": "The name of the thread.",
          "type": "string"
        },
        "crashed": {
          "description": "True when the thread has crashed.",
          "type": "boolean"
        },
        "title": {
          "description": "The title of the thread.",
          "type": "string"
        },
        "signalCode": {
          "type": "string",
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "threadState": {
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "description": "Output only. The state of the thread at the time the ANR occurred."
        },
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "type": "array",
          "description": "The frames in the thread's stacktrace."
        },
        "crashAddress": {
          "format": "int64",
          "type": "string",
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads."
        },
        "threadId": {
          "description": "The id of the thread, only available for ANR threads.",
          "format": "int64",
          "type": "string"
        },
        "subtitle": {
          "description": "The subtitle of the thread.",
          "type": "string"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred.",
          "type": "boolean"
        },
        "sysThreadId": {
          "format": "int64",
          "type": "string",
          "description": "The system id of the thread, only available for ANR threads."
        }
      },
      "id": "Thread",
      "description": "An application thread."
    },
    "Error": {
      "type": "object",
      "description": "A non-fatal error and its stacktrace, only from Apple apps.",
      "id": "Error",
      "properties": {
        "subtitle": {
          "description": "The subtitle of the error.",
          "type": "string"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred."
        },
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "type": "array",
          "description": "The frames in the error's stacktrace."
        },
        "code": {
          "type": "string",
          "format": "int64",
          "description": "Error code associated with the app's custom logged NSError."
        },
        "title": {
          "type": "string",
          "description": "The title of the error."
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        }
      }
    },
    "ListReportsResponse": {
      "description": "Response method for the ListReports method. The response will always include all of the available reports.",
      "type": "object",
      "properties": {
        "reports": {
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        }
      },
      "id": "ListReportsResponse"
    },
    "Storage": {
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "id": "Storage",
      "type": "object",
      "properties": {
        "used": {
          "description": "Bytes used.",
          "format": "int64",
          "type": "string"
        },
        "free": {
          "description": "Bytes free.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FirebaseSessionEvent": {
      "type": "object",
      "id": "FirebaseSessionEvent",
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start timestamp for the session event."
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the Firebase session."
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "firebaseInstallationId": {
          "type": "string",
          "description": "Uniquely identifies a device with Firebase apps installed."
        },
        "firstSessionId": {
          "type": "string",
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches."
        },
        "eventType": {
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "type": "string",
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ]
        },
        "version": {
          "description": "Mobile application version numbers.",
          "$ref": "Version"
        },
        "sessionIndex": {
          "type": "integer",
          "description": "Indicates the number of sessions since the last cold start.",
          "format": "int32"
        }
      }
    },
    "IssueSignals": {
      "type": "object",
      "id": "IssueSignals",
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "properties": {
        "signal": {
          "description": "Output only. The signal name.",
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ]
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Supporting detail information.",
          "type": "string"
        }
      }
    },
    "Frame": {
      "type": "object",
      "id": "Frame",
      "properties": {
        "line": {
          "description": "The line number in the file of the frame.",
          "format": "int64",
          "type": "string"
        },
        "column": {
          "description": "The column on the line.",
          "format": "int64",
          "type": "string"
        },
        "symbol": {
          "type": "string",
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated."
        },
        "library": {
          "type": "string",
          "description": "The display name of the library that includes the frame."
        },
        "file": {
          "type": "string",
          "description": "The name of the source file in which the frame is found."
        },
        "owner": {
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "format": "int64",
          "description": "The address in the binary image which contains the code. Present for native frames."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error."
        },
        "offset": {
          "type": "string",
          "description": "The byte offset into the binary image that contains the code. Present for native frames.",
          "format": "int64"
        }
      },
      "description": "A frame in a stacktrace."
    },
    "IssueVariant": {
      "id": "IssueVariant",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request."
        },
        "sampleEvent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for a sample event in this variant."
        }
      },
      "type": "object",
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants."
    },
    "Report": {
      "properties": {
        "displayName": {
          "description": "Output only. The displayable title of the report.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\"."
        },
        "groups": {
          "items": {
            "$ref": "ReportGroup"
          },
          "type": "array",
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field."
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve."
        },
        "totalSize": {
          "readOnly": true,
          "description": "Output only. The total number of groups retrievable by the request.",
          "format": "int32",
          "type": "integer"
        },
        "usage": {
          "type": "string",
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports."
        }
      },
      "type": "object",
      "id": "Report",
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models."
    },
    "Breadcrumb": {
      "id": "Breadcrumb",
      "type": "object",
      "description": "Analytics events recorded during the session.",
      "properties": {
        "params": {
          "type": "object",
          "description": "Event parameters.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "title": {
          "type": "string",
          "description": "Analytic event name."
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp for the event."
        }
      }
    },
    "Memory": {
      "properties": {
        "used": {
          "type": "string",
          "format": "int64",
          "description": "Bytes in use."
        },
        "free": {
          "format": "int64",
          "type": "string",
          "description": "Bytes free."
        }
      },
      "description": "Mobile device memory usage.",
      "type": "object",
      "id": "Memory"
    },
    "BatchUpdateIssuesResponse": {
      "properties": {
        "issues": {
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest.",
          "items": {
            "$ref": "Issue"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for the BatchUpdateIssues method.",
      "id": "BatchUpdateIssuesResponse"
    },
    "Event": {
      "properties": {
        "threads": {
          "items": {
            "$ref": "Thread"
          },
          "type": "array",
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error."
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the Firebase session."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\"."
        },
        "errors": {
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace.",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        },
        "deviceOrientation": {
          "description": "Device orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "issueTitle": {
          "type": "string",
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name."
        },
        "platform": {
          "type": "string",
          "description": "ANDROID, IOS, or WEB."
        },
        "processState": {
          "description": "The state of the app process at the time of the event.",
          "type": "string"
        },
        "installationUuid": {
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users.",
          "type": "string"
        },
        "eventId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The unique event identifier is assigned during processing."
        },
        "storage": {
          "$ref": "Storage",
          "description": "Mobile device disk/flash usage."
        },
        "user": {
          "description": "End user identifiers for the device owner.",
          "$ref": "User"
        },
        "appOrientation": {
          "type": "string",
          "description": "App orientation at the time of the crash (portrait or landscape)."
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "crashlyticsSdkVersion": {
          "description": "Crashlytics SDK version.",
          "type": "string"
        },
        "logs": {
          "items": {
            "$ref": "Log"
          },
          "description": "Log messages recorded by the developer during the session.",
          "type": "array"
        },
        "routePath": {
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "type": "string",
          "readOnly": true
        },
        "issueSubtitle": {
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "description": "Device timestamp that the event was recorded.",
          "format": "google-datetime"
        },
        "receivedTime": {
          "description": "Server timestamp that the event was received by Crashlytics.",
          "type": "string",
          "format": "google-datetime"
        },
        "blameFrame": {
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer.",
          "$ref": "Frame"
        },
        "breadcrumbs": {
          "items": {
            "$ref": "Breadcrumb"
          },
          "type": "array",
          "description": "Analytics events recorded by the analytics SDK during the session."
        },
        "browser": {
          "description": "Browser and version.",
          "$ref": "Browser"
        },
        "buildStamp": {
          "type": "string",
          "description": "Metadata provided by the app's build system, including version control repository info."
        },
        "version": {
          "description": "Mobile application version.",
          "$ref": "Version"
        },
        "bundleOrPackage": {
          "type": "string",
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\"."
        },
        "memory": {
          "description": "Mobile device memory usage.",
          "$ref": "Memory"
        },
        "customKeys": {
          "description": "Custom keys set by the developer during the session.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "issueVariant": {
          "$ref": "IssueVariant",
          "description": "Details for the [IssueVariant] assigned to this [Event]."
        },
        "issue": {
          "description": "Details for the [Issue] assigned to this [Event].",
          "$ref": "Issue"
        },
        "exceptions": {
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown.",
          "items": {
            "$ref": "Exception"
          },
          "type": "array"
        }
      },
      "id": "Event",
      "type": "object",
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "BatchGetEventsResponse": {
      "type": "object",
      "id": "BatchGetEventsResponse",
      "description": "Response message for the BatchGetEvents method.",
      "properties": {
        "events": {
          "description": "The list of retrieved events.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        }
      }
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes.",
          "type": "string"
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "type": "array",
          "description": "Returns notes ordered descending by the timestamp."
        }
      },
      "type": "object",
      "description": "Response message for the ListNotes method."
    },
    "Exception": {
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "properties": {
        "nested": {
          "description": "True for all but the last-thrown exception (i.e. the first record).",
          "type": "boolean"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred."
        },
        "frames": {
          "type": "array",
          "description": "The frames in the exception's stacktrace.",
          "items": {
            "$ref": "Frame"
          }
        },
        "type": {
          "description": "The exception type e.g. java.lang.IllegalStateException.",
          "type": "string"
        },
        "exceptionMessage": {
          "type": "string",
          "description": "A message associated with the exception."
        },
        "title": {
          "description": "The title of the exception.",
          "type": "string"
        },
        "subtitle": {
          "description": "The subtitle of the exception.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Exception"
    },
    "Issue": {
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Immutable. Unique identifier for the issue.",
          "type": "string"
        },
        "errorType": {
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "readOnly": true,
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR."
        },
        "lastSeenVersion": {
          "readOnly": true,
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name."
        },
        "notesCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of notes attached to an issue."
        },
        "stateUpdateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the issue state was last changed.",
          "type": "string",
          "format": "google-datetime"
        },
        "subtitle": {
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "readOnly": true,
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues)."
        },
        "sampleEvent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for a sample event in this issue."
        },
        "firstSeenVersion": {
          "readOnly": true,
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only.",
          "type": "string"
        },
        "variants": {
          "items": {
            "$ref": "IssueVariant"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants."
        },
        "lastSeenTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The most recent time this issue was seen."
        },
        "signals": {
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "IssueSignals"
          }
        },
        "firstSeenTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The first time this issue was seen.",
          "format": "google-datetime"
        }
      },
      "id": "Issue"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "events": {
              "methods": {
                "batchGet": {
                  "description": "Fetch a batch of up to 100 events by name.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "parameters": {
                    "readMask": {
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "names": {
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  }
                },
                "list": {
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "path": "v1alpha/{+parent}/events",
                  "parameters": {
                    "filter.issue.state": {
                      "location": "query",
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "deprecated": true
                    },
                    "filter.device.formFactors": {
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ]
                    },
                    "filter.issue.variantId": {
                      "location": "query",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "type": "string"
                    },
                    "filter.interval.startTime": {
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\"."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true
                    },
                    "filter.issue.id": {
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10."
                    },
                    "filter.issue.states": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports."
                    },
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.device.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "type": "string"
                    },
                    "filter.issue.errorTypes": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type]."
                    },
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "readMask": {
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "filter.issue.signals": {
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "type": "string",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ]
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous calls.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\"."
                    }
                  },
                  "description": "List all of the available reports.",
                  "path": "v1alpha/{+parent}/reports",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports"
                },
                "get": {
                  "parameters": {
                    "filter.issue.errorTypes": {
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ]
                    },
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\"."
                    },
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter.device.formFactors": {
                      "type": "string",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "location": "query",
                      "repeated": true
                    },
                    "filter.issue.states": {
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "filter.interval.startTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                    },
                    "filter.device.displayNames": {
                      "type": "string",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.browser.displayNames": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\"."
                    },
                    "filter.issue.signals": {
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "type": "string",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal]."
                    },
                    "filter.issue.state": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "deprecated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "filter.issue.variantId": {
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "location": "query",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string"
                    },
                    "granularity": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ],
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ]
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "path": "v1alpha/{+name}",
                  "description": "Get a report with its computed results.",
                  "response": {
                    "$ref": "Report"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}"
                }
              }
            },
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report.",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids).",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "issues": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Issue"
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "description": "Retrieve an issue.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "batchUpdate": {
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/issues:batchUpdate"
                },
                "patch": {
                  "description": "Change the state of an issue.",
                  "response": {
                    "$ref": "Issue"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "Issue"
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.patch"
                }
              },
              "resources": {
                "notes": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Note"
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "path": "v1alpha/{+parent}/notes",
                      "request": {
                        "$ref": "Note"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                        }
                      },
                      "description": "Create a new note for an issue.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "path": "v1alpha/{+name}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Delete a note by its name.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "path": "v1alpha/{+parent}/notes",
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous calls."
                        }
                      },
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "name": "firebasecrashlytics",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "version_module": true,
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "title": "Firebase Crashlytics API",
  "version": "v1alpha",
  "id": "firebasecrashlytics:v1alpha"
}