{
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "servicePath": "",
  "canonicalName": "Firebase App Distribution",
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "apps": {
      "methods": {
        "get": {
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "parameters": {
            "mobilesdkAppId": {
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "appView": {
              "location": "query",
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "type": "string",
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ]
            }
          },
          "description": "Get the app, if it exists",
          "id": "firebaseappdistribution.apps.get",
          "parameterOrder": [
            "mobilesdkAppId"
          ]
        },
        "getJwt": {
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "mobilesdkAppId": {
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Get a JWT token",
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          },
          "id": "firebaseappdistribution.apps.getJwt",
          "parameterOrder": [
            "mobilesdkAppId"
          ]
        }
      },
      "resources": {
        "testers": {
          "methods": {
            "getTesterUdids": {
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "parameters": {
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "type": "string",
                  "location": "query"
                },
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Get UDIDs of tester iOS devices in a project",
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "releases": {
          "methods": {
            "enable_access": {
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "releaseId": {
                  "description": "Required. Release identifier",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Enable access on a release for testers.",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "id": "firebaseappdistribution.apps.releases.enable_access"
            }
          },
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "mobilesdkAppId": {
                      "location": "path",
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "required": true,
                      "type": "string"
                    },
                    "releaseId": {
                      "description": "Required. Release identifier",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Create release notes on a release.",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  },
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "httpMethod": "POST",
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ]
                }
              }
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "httpMethod": "GET",
              "parameters": {
                "mobilesdkAppId": {
                  "location": "path",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "type": "string"
                },
                "uploadHash": {
                  "location": "path",
                  "description": "Required. The hash for the upload",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "GET Release by binary upload hash"
            }
          }
        },
        "upload_status": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              },
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "httpMethod": "GET",
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "uploadToken": {
                  "location": "path",
                  "description": "Required. The token for the upload",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "GET Binary upload status by token",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "id": "firebaseappdistribution.apps.upload_status.get"
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "getTestQuota": {
          "parameterOrder": [
            "name"
          ],
          "id": "firebaseappdistribution.projects.getTestQuota",
          "parameters": {
            "name": {
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "type": "string",
              "pattern": "^projects/[^/]+/testQuota$",
              "required": true,
              "location": "path"
            }
          },
          "description": "Get information about the quota for `ReleaseTests`.",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          },
          "path": "v1alpha/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1alpha/projects/{projectsId}/testQuota",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "testers": {
          "methods": {
            "getUdids": {
              "parameterOrder": [
                "project"
              ],
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "parameters": {
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Get UDIDs of tester iOS devices in a project",
              "path": "v1alpha/{+project}/testers:udids",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "apps": {
          "methods": {
            "getTestConfig": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "location": "path",
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "type": "string"
                }
              },
              "description": "Gets configuration for automated tests.",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "firebaseappdistribution.projects.apps.getTestConfig"
            },
            "updateTestConfig": {
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "location": "path"
                }
              },
              "description": "Updates automated test configuration."
            }
          },
          "resources": {
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "create": {
                      "path": "v1alpha/{+parent}/tests",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "type": "string"
                        },
                        "releaseTestId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated.",
                          "type": "string"
                        }
                      },
                      "description": "Run automated test(s) on release.",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page.",
                          "type": "string",
                          "location": "query"
                        },
                        "view": {
                          "location": "query",
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ],
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view.",
                          "type": "string",
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ]
                        }
                      },
                      "description": "List results for automated tests run on release.",
                      "path": "v1alpha/{+parent}/tests",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "path": "v1alpha/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Get results for automated test run on release."
                    },
                    "cancel": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "type": "string"
                        }
                      },
                      "description": "Abort automated test run on release.",
                      "path": "v1alpha/{+name}:cancel",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "testCases": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.list",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "List test cases.",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "path": "v1alpha/{+parent}/testCases",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameters": {
                    "testCaseId": {
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string"
                    }
                  },
                  "description": "Create a new test case.",
                  "path": "v1alpha/{+parent}/testCases",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.create"
                },
                "get": {
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "type": "string"
                    }
                  },
                  "description": "Get a test case.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  }
                },
                "clearTestCaseCache": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "testCase": {
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "path": "v1alpha/{+testCase}:clearTestCaseCache",
                  "httpMethod": "POST",
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "parameterOrder": [
                    "testCase"
                  ]
                },
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string"
                    }
                  },
                  "description": "Updates multiple test cases.",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Delete a test case.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.delete"
                },
                "patch": {
                  "id": "firebaseappdistribution.projects.apps.testCases.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true,
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "description": "Update a test case."
                },
                "batchDelete": {
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string"
                    }
                  },
                  "description": "Deletes multiple test cases."
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "version": "v1alpha",
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "properties": {
        "distinctVisitedScreens": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of distinct screens visited.",
          "type": "integer"
        },
        "crawlDuration": {
          "description": "Output only. Duration of crawl.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        },
        "mainActivityCrawlTimedOut": {
          "readOnly": true,
          "description": "Output only. Whether the main activity crawl timed out.",
          "type": "boolean"
        },
        "actionsPerformed": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of actions that crawler performed.",
          "type": "integer"
        }
      },
      "description": "Statistics collected during a Robo test.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats"
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "description": "The request message for `CreateReleaseNotes`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "properties": {
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
          "description": "The actual release notes body from the user"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "description": "Release notes for a release.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes text from the user.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "description": "A JWT token.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaJwt",
      "properties": {
        "token": {
          "description": "The JWT token (three Base64URL-encoded strings joined by dots).",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`",
          "type": "string"
        },
        "limit": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month.",
          "type": "string"
        },
        "usage": {
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota",
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "properties": {
        "testCases": {
          "description": "The updated test cases.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse",
      "description": "The response message for `BatchUpdateTestCase`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "description": "An action taken by the AI to end the goal.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction",
      "properties": {
        "reason": {
          "readOnly": true,
          "description": "Output only. The reason why this goal was ended.",
          "type": "string",
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ]
        },
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this terminal action."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "properties": {
        "testDevices": {
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        }
      },
      "description": "Request message for `ClearTestCaseCache`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "properties": {
        "projectNumber": {
          "description": "Project number of the Firebase project, for example 300830567303.",
          "type": "string"
        },
        "bundleId": {
          "description": "Bundle identifier",
          "type": "string"
        },
        "contactEmail": {
          "description": "Developer contact email for testers to reach out to about privacy or support issues.",
          "type": "string"
        },
        "platform": {
          "description": "iOS or Android",
          "type": "string"
        },
        "aabCertificate": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate",
          "description": "App bundle test certificate generated for the app."
        },
        "aabState": {
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ],
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "type": "string",
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ]
        },
        "appId": {
          "description": "Firebase gmp app id",
          "type": "string"
        }
      },
      "description": "An app.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaApp"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction",
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. A short description of the high level action taken by the AI agent.",
          "type": "string",
          "readOnly": true
        },
        "deviceInteractions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          },
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc.",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions",
      "type": "object",
      "properties": {
        "steps": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          },
          "description": "Required. Steps to be accomplished by the AI",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "description": "Response containing the UDIDs of tester iOS devices in a project",
      "type": "object",
      "properties": {
        "testerUdids": {
          "description": "The UDIDs of tester iOS devices in a project",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "properties": {
        "cachingType": {
          "description": "Output only. The type of caching used to determine the action.",
          "type": "string",
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ],
          "readOnly": true,
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ]
        },
        "debugInfo": {
          "description": "Output only. Debug information explaining why the agent to the specific action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo"
        },
        "explanation": {
          "description": "Output only. An explanation justifying why the action was taken.",
          "type": "string",
          "readOnly": true
        },
        "deviceAction": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction",
          "readOnly": true,
          "description": "Output only. A high level action taken by the AI on the device."
        },
        "terminalAction": {
          "readOnly": true,
          "description": "Output only. An action taken by the AI to end the goal.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the action started.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction",
      "description": "An action taken by the AI agent while attempting to accomplish a goal.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "description": "The response message for `ListTestCases`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "properties": {
        "testCases": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "description": "The test cases from the specified app.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "properties": {
        "result": {
          "description": "Result of upload release.",
          "type": "string",
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ],
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ]
        },
        "release": {
          "$ref": "GoogleFirebaseAppdistroV1Release",
          "description": "Release associated with the uploaded binary."
        }
      },
      "description": "Response message for `UploadRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
      "description": "A back action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "description": "The response message for `GetUploadStatus`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse",
      "properties": {
        "errorCode": {
          "description": "The error code associated with (only set on \"FAILURE\")",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            "",
            "A corresponding Android Developer Console account for this app's Play Console account was not found."
          ],
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
            "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND"
          ]
        },
        "status": {
          "description": "The status of the upload",
          "type": "string",
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ]
        },
        "message": {
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client",
          "type": "string"
        },
        "release": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease",
          "description": "The release that was created from the upload (only set on \"SUCCESS\")"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "properties": {
        "username": {
          "description": "Optional. Username for automated tests",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for automated tests",
          "type": "string"
        },
        "fieldHints": {
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
          "description": "Optional. Hints to the crawler for identifying input fields"
        },
        "google": {
          "description": "Optional. Are these credentials for Google?",
          "type": "boolean"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential",
      "description": "Login credential for automated tests",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "properties": {
        "releaseTests": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          },
          "description": "The tests listed.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse",
      "description": "The response message for `ListReleaseTests`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "properties": {
        "duration": {
          "description": "Output only. The duration of the wait.",
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "description": "A wait action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "properties": {},
      "description": "Operation metadata for `UploadRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata"
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "description": "App bundle test certificate",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "properties": {
        "certificateHashSha1": {
          "description": "SHA1 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha256": {
          "description": "SHA256 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashMd5": {
          "description": "MD5 hash of the certificate used to resign the AAB",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult",
      "description": "Captures the results of an AiStep",
      "type": "object",
      "properties": {
        "goalDetails": {
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails",
          "description": "Output only. Details for a goal step.",
          "readOnly": true
        },
        "step": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep",
          "description": "Required. The step performed by the AI"
        },
        "state": {
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ],
          "description": "Output only. The current state of the step",
          "type": "string",
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ],
          "readOnly": true
        },
        "assertionDetails": {
          "readOnly": true,
          "description": "Output only. Details for an assertion step.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "description": "The request message for `EnableAccessOnRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "properties": {
        "groupIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools",
          "type": "array"
        },
        "displayVersion": {
          "deprecated": true,
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id.",
          "type": "string"
        },
        "buildVersion": {
          "deprecated": true,
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id.",
          "type": "string"
        },
        "emails": {
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "description": "An app crash that occurred during an automated test.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash",
      "properties": {
        "message": {
          "description": "Output only. The message associated with the crash.",
          "type": "string",
          "readOnly": true
        },
        "stackTrace": {
          "description": "Output only. The raw stack trace.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "properties": {
        "goalActions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          },
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "type": "array"
        }
      },
      "description": "Details for a goal step.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest",
      "description": "Instance of an automated test for a release.",
      "type": "object",
      "properties": {
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "deviceExecutions": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "description": "Required. The results of the test on each device.",
          "type": "array"
        },
        "name": {
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "loginCredential": {
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential",
          "description": "Optional. Input only. Login credentials for the test. Input only."
        },
        "testState": {
          "readOnly": true,
          "description": "Output only. The state of the release test.",
          "type": "string",
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ]
        },
        "createTime": {
          "description": "Output only. Timestamp when the test was run.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "resultsBucket": {
          "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "testCase": {
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        }
      }
    },
    "AndroidxCrawlerOutputPoint": {
      "properties": {
        "xCoordinate": {
          "format": "int32",
          "type": "integer"
        },
        "yCoordinate": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Point for describing bounding boxes tap locations Top left is 0,0",
      "type": "object",
      "id": "AndroidxCrawlerOutputPoint"
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "properties": {},
      "description": "The response message for `EnableAccessOnRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse",
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "description": "The response message for `CreateReleaseNotes`.",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "description": "The request message for `UpdateTestCase`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "properties": {
        "testCase": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase",
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "properties": {
        "text": {
          "description": "The text of the release notes.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "description": "Notes that belong to a release.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "properties": {
        "width": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The width of the screenshot, in pixels.",
          "type": "integer"
        },
        "uri": {
          "description": "Output only. The URI of the screenshot.",
          "type": "string",
          "readOnly": true
        },
        "height": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The height of the screenshot, in pixels.",
          "type": "integer"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot",
      "description": "A device screenshot taken during a test.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "properties": {
        "usernameResourceName": {
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        },
        "passwordResourceName": {
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "description": "Hints to the crawler for identifying input fields",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "properties": {
        "instanceId": {
          "description": "Instance id of the release",
          "type": "string"
        },
        "testerWithInstallCount": {
          "format": "int32",
          "description": "Number of testers who have installed the release",
          "type": "integer"
        },
        "testerCount": {
          "description": "Count of testers added to the release",
          "type": "integer",
          "format": "int32"
        },
        "buildVersion": {
          "description": "Release build version",
          "type": "string"
        },
        "distributedAt": {
          "description": "Timestamp when the release was created",
          "type": "string",
          "format": "google-datetime"
        },
        "openInvitationCount": {
          "description": "Number of testers who have open invitations for the release",
          "type": "integer",
          "format": "int32"
        },
        "releaseNotesSummary": {
          "description": "Release notes summary",
          "type": "string"
        },
        "displayVersion": {
          "description": "Release version",
          "type": "string"
        },
        "id": {
          "description": "Release Id",
          "type": "string"
        },
        "lastActivityAt": {
          "format": "google-datetime",
          "description": "Last activity timestamp",
          "type": "string"
        },
        "receivedAt": {
          "format": "google-datetime",
          "description": "unused. ",
          "type": "string",
          "deprecated": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "description": "Proto defining a release object",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice",
      "description": "A device on which automated tests can be run.",
      "type": "object",
      "properties": {
        "orientation": {
          "description": "Optional. The orientation of the device during the test.",
          "type": "string"
        },
        "locale": {
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test.",
          "type": "string"
        },
        "model": {
          "description": "Required. The device model.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version of the device (API level on Android).",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid",
      "description": "The UDIDs of a tester's iOS device",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the tester's device",
          "type": "string"
        },
        "udid": {
          "description": "The UDID of the tester's device",
          "type": "string"
        },
        "platform": {
          "description": "The platform of the tester's device",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "properties": {
        "goal": {
          "description": "A goal to be accomplished by the AI",
          "type": "string"
        },
        "hint": {
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal",
          "type": "string"
        },
        "assertion": {
          "description": "An assertion to be checked by the AI",
          "type": "string"
        },
        "testCase": {
          "readOnly": true,
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "successCriteria": {
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAiStep",
      "description": "A step to be accomplished by the AI",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "properties": {
        "loginCredential": {
          "description": "Optional. Login credential for automated tests",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        }
      },
      "description": "Configuration for Robo crawler",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "properties": {
        "annotatedScreenshotUri": {
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "type": "string",
          "readOnly": true
        },
        "jsonUri": {
          "description": "Output only. Structured data explaining the agent's choice.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Information to help the customer understand why the agent took this action.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "properties": {
        "text": {
          "readOnly": true,
          "description": "Output only. The text to enter.",
          "type": "string"
        },
        "elementBounds": {
          "$ref": "AndroidxCrawlerOutputRectangle",
          "readOnly": true,
          "description": "Output only. The visible bounds of the element to enter text into."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "description": "Response object to get the release given a upload hash",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse",
      "properties": {
        "release": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease",
          "description": "Release object"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "properties": {
        "requests": {
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          }
        }
      },
      "description": "The request message for `BatchUpdateTestCase`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
      "description": "A drag and drop action.",
      "type": "object",
      "properties": {
        "start": {
          "readOnly": true,
          "description": "Output only. The start point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "end": {
          "readOnly": true,
          "description": "Output only. The end point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "properties": {
        "names": {
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest",
      "description": "The request message for `BatchDeleteTestCase`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction",
      "description": "An interaction with the device, such as a tap, text entry, wait, etc.",
      "type": "object",
      "properties": {
        "tap": {
          "readOnly": true,
          "description": "Output only. A tap action.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "targetFoldedState": {
          "readOnly": true,
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`.",
          "type": "string"
        },
        "enterText": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
          "readOnly": true,
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text."
        },
        "keyCode": {
          "description": "Output only. Key code for a key event action.",
          "type": "string",
          "readOnly": true
        },
        "wait": {
          "readOnly": true,
          "description": "Output only. A wait action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait"
        },
        "backAction": {
          "description": "Output only. A back action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack"
        },
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        },
        "swipe": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
          "readOnly": true,
          "description": "Output only. A swipe action."
        },
        "targetOrientation": {
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "description": "Output only. The target orientation of the device in a set orientation action.",
          "type": "string",
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ],
          "readOnly": true
        },
        "dragAndDrop": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
          "description": "Output only. A drag and drop action.",
          "readOnly": true
        },
        "longPress": {
          "readOnly": true,
          "description": "Output only. A long press (tap and hold) action.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "textInput": {
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "description": "AI test cases",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the test case.",
          "type": "string"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "createTime": {
          "description": "Output only. Timestamp when the test case was created",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "prerequisiteTestCase": {
          "description": "Optional. Test case that must be run before this test case.",
          "type": "string"
        },
        "dependentTestCases": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
      "description": "Details for an assertion step.",
      "type": "object",
      "properties": {
        "result": {
          "description": "Output only. The result of the assertion.",
          "type": "boolean",
          "readOnly": true
        },
        "explanation": {
          "readOnly": true,
          "description": "Output only. An explanation justifying the assertion result.",
          "type": "string"
        },
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this assertion."
        }
      }
    },
    "AndroidxCrawlerOutputRectangle": {
      "properties": {
        "left": {
          "type": "integer",
          "format": "int32"
        },
        "right": {
          "type": "integer",
          "format": "int32"
        },
        "top": {
          "type": "integer",
          "format": "int32"
        },
        "bottom": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AndroidxCrawlerOutputRectangle",
      "description": "Rectangle for describing bounding boxes",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "properties": {
        "start": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true,
          "description": "Output only. The start point of the swipe."
        },
        "end": {
          "readOnly": true,
          "description": "Output only. The end point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
      "description": "A swipe action.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "description": "Configuration for automated tests",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "properties": {
        "name": {
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "resultsBucket": {
          "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "roboCrawler": {
          "description": "Optional. Configuration for Robo crawler",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
        },
        "testDevices": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "description": "Optional. Tests will be run on this list of devices",
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1Release": {
      "id": "GoogleFirebaseAppdistroV1Release",
      "description": "A release of a Firebase app.",
      "type": "object",
      "properties": {
        "binaryDownloadUri": {
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "type": "string",
          "readOnly": true
        },
        "testingUri": {
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the release was created.",
          "type": "string"
        },
        "buildVersion": {
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time the release was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "expireTime": {
          "description": "Output only. The time the release will expire.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes",
          "description": "Notes of the release."
        },
        "name": {
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
          "type": "string"
        },
        "displayVersion": {
          "readOnly": true,
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
          "type": "string"
        },
        "firebaseConsoleUri": {
          "description": "Output only. A link to the Firebase console displaying a single release.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "description": "The results of running an automated test on a particular device.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
      "properties": {
        "state": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "description": "Output only. The state of the test.",
          "type": "string",
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "readOnly": true
        },
        "executionType": {
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ],
          "description": "Output only. The type of execution for the test.",
          "type": "string",
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ],
          "readOnly": true
        },
        "finalAiAssertionMissing": {
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion.",
          "type": "boolean",
          "readOnly": true
        },
        "inconclusiveReason": {
          "readOnly": true,
          "description": "Output only. The reason why the test was inconclusive.",
          "type": "string",
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ],
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ]
        },
        "roboStats": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats",
          "description": "Output only. The statistics collected during the Robo test.",
          "readOnly": true
        },
        "screenshotUris": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken.",
          "type": "array"
        },
        "crawlGraphUri": {
          "description": "Output only. A URI to an image of the Robo crawl graph.",
          "type": "string",
          "readOnly": true
        },
        "device": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice",
          "description": "Required. The device that the test was run on."
        },
        "appCrash": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash",
          "readOnly": true,
          "description": "Output only. An app crash, if any occurred during the test."
        },
        "originDeviceExecution": {
          "readOnly": true,
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "videoStartTime": {
          "description": "Output only. The time at which the video started recording.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "resultsStoragePath": {
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait.",
          "type": "string",
          "readOnly": true
        },
        "aiStepResults": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          },
          "description": "Output only. Results of the AI steps if passed in",
          "type": "array"
        },
        "videoUri": {
          "readOnly": true,
          "description": "Output only. A URI to a video of the test run.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "failedReason": {
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ],
          "readOnly": true,
          "description": "Output only. The reason why the test failed.",
          "type": "string",
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ]
        }
      }
    }
  },
  "name": "firebaseappdistribution",
  "revision": "20260706",
  "ownerName": "Google",
  "basePath": "",
  "version_module": true,
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "id": "firebaseappdistribution:v1alpha",
  "batchPath": "batch",
  "title": "Firebase App Distribution API"
}