{
  "title": "Firebase Rules API",
  "revision": "20260713",
  "ownerName": "Google",
  "rootUrl": "https://firebaserules.googleapis.com/",
  "baseUrl": "https://firebaserules.googleapis.com/",
  "servicePath": "",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "canonicalName": "Firebase Rules",
  "name": "firebaserules",
  "documentationLink": "https://firebase.google.com/docs/storage/security",
  "version_module": true,
  "kind": "discovery#restDescription",
  "description": "Creates and manages rules that determine when a Firebase Rules-enabled service should permit a request. ",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "id": "firebaserules:v1",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://firebaserules.mtls.googleapis.com/",
  "schemas": {
    "File": {
      "id": "File",
      "description": "`File` containing source content.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. File name."
        },
        "content": {
          "type": "string",
          "description": "Required. Textual Content."
        },
        "fingerprint": {
          "description": "Fingerprint (e.g. github sha) associated with the `File`.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Arg": {
      "type": "object",
      "properties": {
        "anyValue": {
          "description": "Argument matches any value provided.",
          "$ref": "Empty"
        },
        "exactValue": {
          "type": "any",
          "description": "Argument exactly matches value provided."
        }
      },
      "id": "Arg",
      "description": "Arg matchers for the mock function."
    },
    "Metadata": {
      "id": "Metadata",
      "description": "Metadata for a Ruleset.",
      "type": "object",
      "properties": {
        "services": {
          "description": "Services that this ruleset has declarations for (e.g., \"cloud.firestore\"). There may be 0+ of these.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ValueCount": {
      "type": "object",
      "properties": {
        "value": {
          "type": "any",
          "description": "The return value of the expression"
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of times that expression returned."
        }
      },
      "id": "ValueCount",
      "description": "Tuple for how many times an Expression was evaluated to a particular ExpressionValue."
    },
    "UpdateReleaseRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. Specifies which fields to update."
        },
        "release": {
          "description": "Required. `Release` to update.",
          "$ref": "Release"
        }
      },
      "id": "UpdateReleaseRequest",
      "description": "The request for FirebaseRulesService.UpdateRelease."
    },
    "TestSuite": {
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "$ref": "TestCase"
          },
          "description": "Collection of test cases associated with the `TestSuite`."
        }
      },
      "type": "object",
      "id": "TestSuite",
      "description": "`TestSuite` is a collection of `TestCase` instances that validate the logical correctness of a `Ruleset`. The `TestSuite` may be referenced in-line within a `TestRuleset` invocation or as part of a `Release` object as a pre-release check."
    },
    "VisitedExpression": {
      "properties": {
        "sourcePosition": {
          "description": "Position in the `Source` or `Ruleset` where an expression was visited.",
          "$ref": "SourcePosition"
        },
        "value": {
          "type": "any",
          "description": "The evaluated value for the visited expression, e.g. true/false"
        }
      },
      "type": "object",
      "id": "VisitedExpression",
      "description": "Store the position and access outcome for an expression visited in rules."
    },
    "FunctionCall": {
      "type": "object",
      "properties": {
        "function": {
          "type": "string",
          "description": "Name of the function invoked."
        },
        "args": {
          "description": "The arguments that were provided to the function.",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "id": "FunctionCall",
      "description": "Represents a service-defined function call that was invoked during test execution."
    },
    "Release": {
      "id": "Release",
      "description": "`Release` is a named reference to a `Ruleset`. Once a `Release` refers to a `Ruleset`, rules-enabled services will be able to enforce the `Ruleset`.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Format: `projects/{project_id}/releases/{release_id}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the release was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "rulesetName": {
          "type": "string",
          "description": "Required. Name of the `Ruleset` referred to by this `Release`. The `Ruleset` must exist for the `Release` to be created."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the release was updated."
        }
      }
    },
    "TestResult": {
      "id": "TestResult",
      "description": "Test result message containing the state of the test as well as a description and source position for test failures.",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of the test.",
          "enumDescriptions": [
            "Test state is not set.",
            "Test is a success.",
            "Test is a failure."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCESS",
            "FAILURE"
          ],
          "type": "string"
        },
        "expressionReports": {
          "description": "The mapping from expression in the ruleset AST to the values they were evaluated to. Partially-nested to mirror AST structure. Note that this field is actually tracking expressions and not permission statements in contrast to the \"visited_expressions\" field above. Literal expressions are omitted.",
          "type": "array",
          "items": {
            "$ref": "ExpressionReport"
          }
        },
        "debugMessages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Debug messages related to test execution issues encountered during evaluation. Debug messages may be related to too many or too few invocations of function mocks or to runtime errors that occur during evaluation. For example: ```Unable to read variable [name: \"resource\"]```"
        },
        "functionCalls": {
          "description": "The set of function calls made to service-defined methods. Function calls are included in the order in which they are encountered during evaluation, are provided for both mocked and unmocked functions, and included on the response regardless of the test `state`.",
          "type": "array",
          "items": {
            "$ref": "FunctionCall"
          }
        },
        "errorPosition": {
          "description": "Position in the `Source` or `Ruleset` where the principle runtime error occurs. Evaluation of an expression may result in an error. Rules are deny by default, so a `DENY` expectation when an error is generated is valid. When there is a `DENY` with an error, the `SourcePosition` is returned. E.g. `error_position { line: 19 column: 37 }`",
          "$ref": "SourcePosition"
        },
        "visitedExpressions": {
          "description": "The set of visited permission expressions for a given test. This returns the positions and evaluation results of all visited permission expressions which were relevant to the test case, e.g. ``` match /path { allow read if: } ``` For a detailed report of the intermediate evaluation states, see the `expression_reports` field",
          "type": "array",
          "items": {
            "$ref": "VisitedExpression"
          }
        }
      }
    },
    "ListReleasesResponse": {
      "type": "object",
      "properties": {
        "releases": {
          "type": "array",
          "items": {
            "$ref": "Release"
          },
          "description": "List of `Release` instances."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain."
        }
      },
      "id": "ListReleasesResponse",
      "description": "The response for FirebaseRulesService.ListReleases."
    },
    "FunctionMock": {
      "type": "object",
      "properties": {
        "args": {
          "type": "array",
          "items": {
            "$ref": "Arg"
          },
          "description": "The list of `Arg` values to match. The order in which the arguments are provided is the order in which they must appear in the function invocation."
        },
        "result": {
          "description": "The mock result of the function call.",
          "$ref": "Result"
        },
        "function": {
          "description": "The name of the function. The function name must match one provided by a service declaration.",
          "type": "string"
        }
      },
      "id": "FunctionMock",
      "description": "Mock function definition. Mocks must refer to a function declared by the target service. The type of the function args and result will be inferred at test time. If either the arg or result values are not compatible with function type declaration, the request will be considered invalid. More than one `FunctionMock` may be provided for a given function name so long as the `Arg` matchers are distinct. There may be only one function for a given overload where all `Arg` values are `Arg.any_value`."
    },
    "Issue": {
      "id": "Issue",
      "description": "Issues include warnings, errors, and deprecation notices.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "The severity of the issue.",
          "enumDescriptions": [
            "An unspecified severity.",
            "Deprecation issue for statements and method that may no longer be supported or maintained.",
            "Warnings such as: unused variables.",
            "Errors such as: unmatched curly braces or variable redefinition."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "DEPRECATION",
            "WARNING",
            "ERROR"
          ],
          "type": "string"
        },
        "sourcePosition": {
          "description": "Position of the issue in the `Source`.",
          "$ref": "SourcePosition"
        },
        "description": {
          "type": "string",
          "description": "Short error description."
        }
      }
    },
    "Result": {
      "id": "Result",
      "description": "Possible result values from the function mock invocation.",
      "type": "object",
      "properties": {
        "value": {
          "type": "any",
          "description": "The result is an actual value. The type of the value must match that of the type declared by the service."
        },
        "undefined": {
          "description": "The result is undefined, meaning the result could not be computed.",
          "$ref": "Empty"
        }
      }
    },
    "ExpressionReport": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "ValueCount"
          },
          "description": "Values that this expression evaluated to when encountered."
        },
        "sourcePosition": {
          "description": "Position of expression in original rules source.",
          "$ref": "SourcePosition"
        },
        "children": {
          "description": "Subexpressions",
          "type": "array",
          "items": {
            "$ref": "ExpressionReport"
          }
        }
      },
      "type": "object",
      "id": "ExpressionReport",
      "description": "Describes where in a file an expression is found and what it was evaluated to over the course of its use."
    },
    "Ruleset": {
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. `Source` for the `Ruleset`.",
          "$ref": "Source"
        },
        "name": {
          "description": "Output only. Name of the `Ruleset`. The ruleset_id is auto generated by the service. Format: `projects/{project_id}/rulesets/{ruleset_id}`",
          "readOnly": true,
          "type": "string"
        },
        "attachmentPoint": {
          "description": "Immutable. Intended resource to which this Ruleset should be released. May be left blank to signify the resource associated with the default release. Expected format: firestore.googleapis.com/projects//databases/",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. The metadata for this ruleset.",
          "$ref": "Metadata",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time the `Ruleset` was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Ruleset",
      "description": "`Ruleset` is an immutable copy of `Source` with a globally unique identifier and a creation time."
    },
    "Source": {
      "type": "object",
      "properties": {
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "Required. `File` set constituting the `Source` bundle."
        }
      },
      "id": "Source",
      "description": "`Source` is one or more `File` messages comprising a logical set of rules."
    },
    "GetReleaseExecutableResponse": {
      "id": "GetReleaseExecutableResponse",
      "description": "The response for FirebaseRulesService.GetReleaseExecutable",
      "type": "object",
      "properties": {
        "executableVersion": {
          "enumDescriptions": [
            "Executable format unspecified. Defaults to FIREBASE_RULES_EXECUTABLE_V1",
            "Firebase Rules syntax 'rules2' executable versions: Custom AST for use with Java clients.",
            "CEL-based executable for use with C++ clients."
          ],
          "enum": [
            "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
            "FIREBASE_RULES_EXECUTABLE_V1",
            "FIREBASE_RULES_EXECUTABLE_V2"
          ],
          "description": "The Rules runtime version of the executable.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "`Language` used to generate the executable bytes.",
          "enumDescriptions": [
            "Language unspecified. Defaults to FIREBASE_RULES.",
            "Firebase Rules language.",
            "Event Flow triggers."
          ],
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "FIREBASE_RULES",
            "EVENT_FLOW_TRIGGERS"
          ]
        },
        "rulesetName": {
          "type": "string",
          "description": "`Ruleset` name associated with the `Release` executable."
        },
        "updateTime": {
          "description": "Timestamp for the most recent `Release.update_time`.",
          "type": "string",
          "format": "google-datetime"
        },
        "executable": {
          "format": "byte",
          "type": "string",
          "description": "Executable view of the `Ruleset` referenced by the `Release`."
        },
        "syncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional, indicates the freshness of the result. The response is guaranteed to be the latest within an interval up to the sync_time (inclusive)."
        }
      }
    },
    "SourcePosition": {
      "id": "SourcePosition",
      "description": "Position in the `Source` content including its line, column number, and an index of the `File` in the `Source` message. Used for debug purposes.",
      "type": "object",
      "properties": {
        "column": {
          "description": "First column on the source line associated with the source fragment.",
          "format": "int32",
          "type": "integer"
        },
        "currentOffset": {
          "type": "integer",
          "format": "int32",
          "description": "Start position relative to the beginning of the file."
        },
        "line": {
          "format": "int32",
          "type": "integer",
          "description": "Line number of the source fragment. 1-based."
        },
        "fileName": {
          "type": "string",
          "description": "Name of the `File`."
        },
        "endOffset": {
          "description": "End position relative to the beginning of the file.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListRulesetsResponse": {
      "id": "ListRulesetsResponse",
      "description": "The response for FirebaseRulesService.ListRulesets.",
      "properties": {
        "rulesets": {
          "type": "array",
          "items": {
            "$ref": "Ruleset"
          },
          "description": "List of `Ruleset` instances."
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestCase": {
      "type": "object",
      "properties": {
        "functionMocks": {
          "description": "Optional function mocks for service-defined functions. If not set, any service defined function is expected to return an error, which may or may not influence the test outcome.",
          "type": "array",
          "items": {
            "$ref": "FunctionMock"
          }
        },
        "expectation": {
          "description": "Test expectation.",
          "enumDescriptions": [
            "Unspecified expectation.",
            "Expect an allowed result.",
            "Expect a denied result."
          ],
          "enum": [
            "EXPECTATION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "type": "string"
        },
        "resource": {
          "description": "Optional resource value as it appears in persistent storage before the request is fulfilled. The resource type depends on the `request.path` value.",
          "type": "any"
        },
        "expressionReportLevel": {
          "type": "string",
          "enumDescriptions": [
            "No level has been specified. Defaults to \"NONE\" behavior.",
            "Do not include any additional information.",
            "Include detailed reporting on expressions evaluated.",
            "Only include the expressions that were visited during evaluation."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "NONE",
            "FULL",
            "VISITED"
          ],
          "description": "Specifies what should be included in the response."
        },
        "request": {
          "type": "any",
          "description": "Request context. The exact format of the request context is service-dependent. See the appropriate service documentation for information about the supported fields and types on the request. Minimally, all services support the following fields and types: Request field | Type ---------------|----------------- auth.uid | `string` auth.token | `map` headers | `map` method | `string` params | `map` path | `string` time | `google.protobuf.Timestamp` If the request value is not well-formed for the service, the request will be rejected as an invalid argument."
        },
        "pathEncoding": {
          "enumDescriptions": [
            "No encoding has been specified. Defaults to \"URL_ENCODED\" behavior.",
            "Treats path segments as URL encoded but with non-encoded separators (\"/\"). This is the default behavior.",
            "Treats total path as non-URL encoded e.g. raw."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "URL_ENCODED",
            "PLAIN"
          ],
          "description": "Specifies whether paths (such as request.path) are encoded and how.",
          "type": "string"
        }
      },
      "id": "TestCase",
      "description": "`TestCase` messages provide the request context and an expectation as to whether the given context will be allowed or denied. Test cases may specify the `request`, `resource`, and `function_mocks` to mock a function call to a service-provided function. The `request` object represents context present at request-time. The `resource` is the value of the target resource as it appears in persistent storage before the request is executed."
    },
    "TestRulesetRequest": {
      "type": "object",
      "properties": {
        "source": {
          "description": "Optional. Optional `Source` to be checked for correctness. This field must not be set when the resource name refers to a `Ruleset`.",
          "$ref": "Source"
        },
        "testSuite": {
          "description": "Required. The tests to execute against the `Source`. When `Source` is provided inline, the test cases will only be run if the `Source` is syntactically and semantically valid. Inline `TestSuite` to run.",
          "$ref": "TestSuite"
        }
      },
      "id": "TestRulesetRequest",
      "description": "The request for FirebaseRulesService.TestRuleset."
    },
    "TestRulesetResponse": {
      "properties": {
        "testResults": {
          "description": "The set of test results given the test cases in the `TestSuite`. The results will appear in the same order as the test cases appear in the `TestSuite`.",
          "type": "array",
          "items": {
            "$ref": "TestResult"
          }
        },
        "issues": {
          "description": "Syntactic and semantic `Source` issues of varying severity. Issues of `ERROR` severity will prevent tests from executing.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        }
      },
      "type": "object",
      "id": "TestRulesetResponse",
      "description": "The response for FirebaseRulesService.TestRuleset."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        }
      }
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "methods": {
        "test": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "flatPath": "v1/projects/{projectsId}:test",
          "path": "v1/{+name}:test",
          "request": {
            "$ref": "TestRulesetRequest"
          },
          "description": "Test `Source` for syntactic and semantic correctness. Issues present, if any, will be returned to the caller with a description, severity, and source location. The test method may be executed with `Source` or a `Ruleset` name. Passing `Source` is useful for unit testing new rules. Passing a `Ruleset` name is useful for regression testing an existing rule. The following is an example of `Source` that permits users to upload images to a bucket bearing their user id and matching the correct metadata: _*Example*_ // Users are allowed to subscribe and unsubscribe to the blog. service firebase.storage { match /users/{userId}/images/{imageName} { allow write: if userId == request.auth.uid && (imageName.matches('*.png$') || imageName.matches('*.jpg$')) && resource.mimeType.matches('^image/') } }",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "TestRulesetResponse"
          },
          "id": "firebaserules.projects.test",
          "parameters": {
            "name": {
              "pattern": "^projects/.*$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Tests may either provide `source` or a `Ruleset` resource name. For tests against `source`, the resource name must refer to the project: Format: `projects/{project_id}` For tests against a `Ruleset`, this must be the `Ruleset` resource name: Format: `projects/{project_id}/rulesets/{ruleset_id}`"
            }
          }
        }
      },
      "resources": {
        "rulesets": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Delete a `Ruleset` by resource name. If the `Ruleset` is referenced by a `Release` the operation will fail.",
              "path": "v1/{+name}",
              "id": "firebaserules.projects.rulesets.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/rulesets/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name for the ruleset to delete. Format: `projects/{project_id}/rulesets/{ruleset_id}`"
                }
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Get a `Ruleset` by name including the full `Source` contents.",
              "path": "v1/{+name}",
              "id": "firebaserules.projects.rulesets.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/rulesets/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name for the ruleset to get. Format: `projects/{project_id}/rulesets/{ruleset_id}`"
                }
              },
              "response": {
                "$ref": "Ruleset"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/rulesets",
              "parameterOrder": [
                "name"
              ],
              "description": "List `Ruleset` metadata only and optionally filter the results by `Ruleset` name. The full `Source` contents of a `Ruleset` may be retrieved with GetRuleset.",
              "path": "v1/{+name}/rulesets",
              "id": "firebaserules.projects.rulesets.list",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. `Ruleset` filter. The list method supports filters with restrictions on `Ruleset.name`. Filters on `Ruleset.create_time` should use the `date` function which parses strings that conform to the RFC 3339 date/time specifications. Example: `create_time > date(\"2017-01-01T00:00:00Z\") AND name=UUID-*`"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Next page token for loading the next batch of `Ruleset` instances."
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name for the project. Format: `projects/{project_id}`"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size to load. Maximum of 100. Defaults to 10. Note: `page_size` is just a hint and the service may choose to load less than `page_size` due to the size of the output. To traverse all of the releases, caller should iterate until the `page_token` is empty."
                }
              },
              "response": {
                "$ref": "ListRulesetsResponse"
              }
            },
            "create": {
              "id": "firebaserules.projects.rulesets.create",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for Project which owns this `Ruleset`. Format: `projects/{project_id}`",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Ruleset"
              },
              "description": "Create a `Ruleset` from `Source`. The `Ruleset` is given a unique generated name which is returned to the caller. `Source` containing syntactic or semantics errors will result in an error response indicating the first error encountered. For a detailed view of `Source` issues, use TestRuleset.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/rulesets",
              "request": {
                "$ref": "Ruleset"
              },
              "flatPath": "v1/projects/{projectsId}/rulesets",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            }
          }
        },
        "releases": {
          "methods": {
            "create": {
              "response": {
                "$ref": "Release"
              },
              "id": "firebaserules.projects.releases.create",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the project which owns this `Release`. Format: `projects/{project_id}`",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}/releases",
              "request": {
                "$ref": "Release"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Create a `Release`. Release names should reflect the developer's deployment practices. For example, the release name may include the environment name, application name, application version, or any other name meaningful to the developer. Once a `Release` refers to a `Ruleset`, the rules can be enforced by Firebase Rules-enabled services. More than one `Release` may be 'live' concurrently. Consider the following three `Release` names for `projects/foo` and the `Ruleset` to which they refer. Release Name -> Ruleset Name * projects/foo/releases/prod -> projects/foo/rulesets/uuid123 * projects/foo/releases/prod/beta -> projects/foo/rulesets/uuid123 * projects/foo/releases/prod/v23 -> projects/foo/rulesets/uuid456 The relationships reflect a `Ruleset` rollout in progress. The `prod` and `prod/beta` releases refer to the same `Ruleset`. However, `prod/v23` refers to a new `Ruleset`. The `Ruleset` reference for a `Release` may be updated using the UpdateRelease method.",
              "flatPath": "v1/projects/{projectsId}/releases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Release"
              },
              "id": "firebaserules.projects.releases.get",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the `Release`. Format: `projects/{project_id}/releases/{release_id}`",
                  "required": true,
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Get a `Release` by name."
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "description": "List the `Release` values for a project. This list may optionally be filtered by `Release` name, `Ruleset` name, `TestSuite` name, or any combination thereof.",
              "path": "v1/{+name}/releases",
              "id": "firebaserules.projects.releases.list",
              "parameters": {
                "filter": {
                  "description": "Optional. `Release` filter. The list method supports filters with restrictions on the `Release.name`, and `Release.ruleset_name`. Example 1: A filter of 'name=prod*' might return `Release`s with names within 'projects/foo' prefixed with 'prod': Name -> Ruleset Name: * projects/foo/releases/prod -> projects/foo/rulesets/uuid1234 * projects/foo/releases/prod/v1 -> projects/foo/rulesets/uuid1234 * projects/foo/releases/prod/v2 -> projects/foo/rulesets/uuid8888 Example 2: A filter of `name=prod* ruleset_name=uuid1234` would return only `Release` instances for 'projects/foo' with names prefixed with 'prod' referring to the same `Ruleset` name of 'uuid1234': Name -> Ruleset Name: * projects/foo/releases/prod -> projects/foo/rulesets/1234 * projects/foo/releases/prod/v1 -> projects/foo/rulesets/1234 In the examples, the filter parameters refer to the search filters are relative to the project. Fully qualified prefixed may also be used.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Next page token for the next batch of `Release` instances.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Required. Resource name for the project. Format: `projects/{project_id}`",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size to load. Maximum of 100. Defaults to 10. Note: `page_size` is just a hint and the service may choose to load fewer than `page_size` results due to the size of the output. To traverse all of the releases, the caller should iterate until the `page_token` on the response is empty."
                }
              },
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/releases"
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "id": "firebaserules.projects.releases.delete",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the `Release` to delete. Format: `projects/{project_id}/releases/{release_id}`",
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Delete a `Release` by resource name."
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Release"
              },
              "id": "firebaserules.projects.releases.patch",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the project which owns this `Release`. Format: `projects/{project_id}`",
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "UpdateReleaseRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Update a `Release` via PATCH. Only updates to `ruleset_name` will be honored. `Release` rename is not supported. To create a `Release` use the CreateRelease method."
            },
            "getExecutable": {
              "path": "v1/{+name}:getExecutable",
              "description": "Get the `Release` executable to use when enforcing rules.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GetReleaseExecutableResponse"
              },
              "id": "firebaserules.projects.releases.getExecutable",
              "parameters": {
                "executableVersion": {
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Executable format unspecified. Defaults to FIREBASE_RULES_EXECUTABLE_V1",
                    "Firebase Rules syntax 'rules2' executable versions: Custom AST for use with Java clients.",
                    "CEL-based executable for use with C++ clients."
                  ],
                  "description": "Optional. The requested runtime executable version. Defaults to FIREBASE_RULES_EXECUTABLE_V1.",
                  "enum": [
                    "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
                    "FIREBASE_RULES_EXECUTABLE_V1",
                    "FIREBASE_RULES_EXECUTABLE_V2"
                  ]
                },
                "name": {
                  "description": "Required. Resource name of the `Release`. Format: `projects/{project_id}/releases/{release_id}`",
                  "required": true,
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}:getExecutable"
            }
          }
        }
      }
    }
  },
  "version": "v1"
}