{
  "discoveryVersion": "v1",
  "revision": "20260731",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "canonicalName": "Firebase Crashlytics",
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "id": "firebasecrashlytics:v1alpha",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "httpMethod": "DELETE",
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report.",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids).",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "issues": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "httpMethod": "GET",
                  "description": "Retrieve an issue.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Issue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasecrashlytics.projects.apps.issues.get"
                },
                "patch": {
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Issue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "Issue"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Change the state of an issue."
                },
                "batchUpdate": {
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field."
                    }
                  },
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "notes": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/notes",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "httpMethod": "GET",
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "parameters": {
                        "parent": {
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous calls."
                        }
                      },
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "description": "Create a new note for an issue.",
                      "path": "v1alpha/{+parent}/notes",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Note"
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Note"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}."
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Delete a note by its name."
                    }
                  }
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "description": "List all of the available reports.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/reports",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports"
                },
                "get": {
                  "parameters": {
                    "filter.device.formFactors": {
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "repeated": true,
                      "location": "query",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ]
                    },
                    "granularity": {
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ],
                      "location": "query",
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ]
                    },
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "type": "string"
                    },
                    "filter.interval.startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "type": "string"
                    },
                    "filter.issue.state": {
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "deprecated": true
                    },
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "filter.issue.states": {
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "repeated": true,
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ]
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "type": "string",
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\"."
                    },
                    "filter.issue.signals": {
                      "location": "query",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "repeated": true,
                      "type": "string",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ]
                    },
                    "filter.issue.content": {
                      "type": "string",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "location": "query"
                    },
                    "filter.issue.id": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id]."
                    },
                    "filter.issue.variantId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id]."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter.issue.errorTypes": {
                      "location": "query",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "repeated": true
                    },
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "repeated": true,
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Report"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "httpMethod": "GET",
                  "description": "Get a report with its computed results."
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "parameters": {
                    "filter.issue.signals": {
                      "type": "string",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "repeated": true,
                      "location": "query",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ]
                    },
                    "filter.issue.state": {
                      "deprecated": true,
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "filter.browser.displayNames": {
                      "location": "query",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.issue.states": {
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "repeated": true
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "type": "string"
                    },
                    "filter.interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "filter.device.displayNames": {
                      "type": "string",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "repeated": true,
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous calls.",
                      "location": "query"
                    },
                    "filter.device.formFactors": {
                      "location": "query",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "repeated": true,
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ]
                    },
                    "filter.version.displayNames": {
                      "location": "query",
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "repeated": true,
                      "type": "string"
                    },
                    "readMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string"
                    },
                    "filter.operatingSystem.displayNames": {
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "filter.issue.errorTypes": {
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "repeated": true,
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "location": "query",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ]
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "type": "integer"
                    },
                    "filter.issue.variantId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id]."
                    },
                    "filter.issue.id": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id]."
                    },
                    "filter.issue.content": {
                      "type": "string",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/events",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events"
                },
                "batchGet": {
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "parameters": {
                    "parent": {
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "names": {
                      "type": "string",
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "repeated": true,
                      "location": "query"
                    },
                    "readMask": {
                      "type": "string",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "description": "Fetch a batch of up to 100 events by name.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet"
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1alpha",
  "batchPath": "batch",
  "servicePath": "",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Firebase Crashlytics API",
  "version_module": true,
  "kind": "discovery#restDescription",
  "name": "firebasecrashlytics",
  "schemas": {
    "Version": {
      "type": "object",
      "description": "Application software version.",
      "id": "Version",
      "properties": {
        "displayVersion": {
          "type": "string",
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString."
        },
        "displayName": {
          "type": "string",
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field."
        },
        "tracks": {
          "items": {
            "$ref": "PlayTrack"
          },
          "type": "array",
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks."
        },
        "buildVersion": {
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion.",
          "type": "string"
        }
      }
    },
    "DeleteUserCrashReportsResponse": {
      "type": "object",
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report.",
      "id": "DeleteUserCrashReportsResponse",
      "properties": {
        "targetCompleteTime": {
          "format": "google-datetime",
          "description": "Target time to complete the delete crash reports operation.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "Issue": {
      "type": "object",
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "id": "Issue",
      "properties": {
        "errorType": {
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR."
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "readOnly": true,
          "type": "string"
        },
        "firstSeenTime": {
          "format": "google-datetime",
          "description": "Output only. Immutable. The first time this issue was seen.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ],
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues)."
        },
        "variants": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants.",
          "items": {
            "$ref": "IssueVariant"
          }
        },
        "title": {
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "readOnly": true,
          "type": "string"
        },
        "notesCount": {
          "format": "int64",
          "description": "Output only. The number of notes attached to an issue.",
          "readOnly": true,
          "type": "string"
        },
        "subtitle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message."
        },
        "sampleEvent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for a sample event in this issue."
        },
        "lastSeenTime": {
          "format": "google-datetime",
          "description": "Output only. The most recent time this issue was seen.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "readOnly": true,
          "type": "string"
        },
        "stateUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the issue state was last changed.",
          "readOnly": true,
          "type": "string"
        },
        "firstSeenVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only."
        },
        "lastSeenVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Unique identifier for the issue."
        },
        "signals": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer.",
          "items": {
            "$ref": "IssueSignals"
          }
        }
      }
    },
    "Note": {
      "type": "object",
      "description": "Developer notes for an issue.",
      "id": "Note",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the note was created.",
          "format": "google-datetime"
        },
        "body": {
          "description": "Immutable. The body of the note.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\"."
        },
        "author": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email of the author of the note."
        }
      }
    },
    "ReportGroup": {
      "id": "ReportGroup",
      "properties": {
        "browser": {
          "description": "Browser metrics group.",
          "$ref": "Browser"
        },
        "operatingSystem": {
          "description": "Operating system metrics group.",
          "$ref": "OperatingSystem"
        },
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        },
        "subgroups": {
          "items": {
            "$ref": "ReportGroup"
          },
          "type": "array",
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version."
        },
        "device": {
          "description": "Device metrics group.",
          "$ref": "Device"
        },
        "variant": {
          "description": "Issue variant metrics group.",
          "$ref": "IssueVariant"
        },
        "version": {
          "description": "Version metrics group.",
          "$ref": "Version"
        },
        "metrics": {
          "items": {
            "$ref": "IntervalMetrics"
          },
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain.",
          "type": "array"
        },
        "webMetricsGroup": {
          "description": "Web metrics group.",
          "$ref": "WebMetricsGroup"
        }
      },
      "type": "object",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection."
    },
    "Memory": {
      "properties": {
        "free": {
          "format": "int64",
          "type": "string",
          "description": "Bytes free."
        },
        "used": {
          "format": "int64",
          "type": "string",
          "description": "Bytes in use."
        }
      },
      "id": "Memory",
      "description": "Mobile device memory usage.",
      "type": "object"
    },
    "Frame": {
      "description": "A frame in a stacktrace.",
      "type": "object",
      "properties": {
        "offset": {
          "description": "The byte offset into the binary image that contains the code. Present for native frames.",
          "type": "string",
          "format": "int64"
        },
        "symbol": {
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated.",
          "type": "string"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error.",
          "type": "boolean"
        },
        "address": {
          "format": "int64",
          "type": "string",
          "description": "The address in the binary image which contains the code. Present for native frames."
        },
        "library": {
          "description": "The display name of the library that includes the frame.",
          "type": "string"
        },
        "owner": {
          "type": "string",
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM."
        },
        "file": {
          "type": "string",
          "description": "The name of the source file in which the frame is found."
        },
        "line": {
          "description": "The line number in the file of the frame.",
          "type": "string",
          "format": "int64"
        },
        "column": {
          "type": "string",
          "description": "The column on the line.",
          "format": "int64"
        }
      },
      "id": "Frame"
    },
    "Report": {
      "id": "Report",
      "properties": {
        "groups": {
          "type": "array",
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "items": {
            "$ref": "ReportGroup"
          }
        },
        "usage": {
          "type": "string",
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The displayable title of the report."
        },
        "totalSize": {
          "format": "int32",
          "description": "Output only. The total number of groups retrievable by the request.",
          "readOnly": true,
          "type": "integer"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve."
        },
        "name": {
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models."
    },
    "OperatingSystem": {
      "id": "OperatingSystem",
      "properties": {
        "type": {
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.).",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The device category (mobile, tablet, desktop)."
        },
        "modificationState": {
          "type": "string",
          "description": "Indicates if the OS has been modified or \"jailbroken\"."
        },
        "displayName": {
          "type": "string",
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter."
        },
        "displayVersion": {
          "type": "string",
          "description": "Operating system display version number."
        },
        "os": {
          "type": "string",
          "description": "Operating system name."
        }
      },
      "type": "object",
      "description": "Mobile device operating system metadata."
    },
    "IntervalMetrics": {
      "description": "A set of computed metric values for a time interval",
      "type": "object",
      "properties": {
        "impactedUsersCount": {
          "description": "The number of distinct users in the set of events.",
          "type": "string",
          "format": "int64"
        },
        "sessionsCount": {
          "format": "int64",
          "description": "The number of distinct sessions in the set of events.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The start of the interval covered by the computation.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The end of the interval covered by the computation.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventsCount": {
          "description": "The total count of events in the interval.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "IntervalMetrics"
    },
    "ListEventsResponse": {
      "id": "ListEventsResponse",
      "properties": {
        "events": {
          "type": "array",
          "description": "Returns one element per event, in descending order the by event timestamp.",
          "items": {
            "$ref": "Event"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events."
        }
      },
      "type": "object",
      "description": "Response message for the ListEvents method."
    },
    "Log": {
      "properties": {
        "logTime": {
          "type": "string",
          "description": "Device timestamp when the line was logged.",
          "format": "google-datetime"
        },
        "message": {
          "description": "Log message.",
          "type": "string"
        }
      },
      "id": "Log",
      "description": "Developer-provided log lines recorded during the session.",
      "type": "object"
    },
    "ListReportsResponse": {
      "description": "Response method for the ListReports method. The response will always include all of the available reports.",
      "type": "object",
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "type": "array",
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results."
        }
      },
      "id": "ListReportsResponse"
    },
    "Browser": {
      "properties": {
        "browser": {
          "description": "Browser name.",
          "type": "string"
        },
        "displayVersion": {
          "description": "Browser display version number.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter."
        }
      },
      "id": "Browser",
      "description": "Web browser metadata.",
      "type": "object"
    },
    "IssueSignals": {
      "type": "object",
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "id": "IssueSignals",
      "properties": {
        "signal": {
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "description": "Output only. The signal name."
        },
        "description": {
          "description": "Output only. Supporting detail information.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "BatchUpdateIssuesResponse": {
      "type": "object",
      "description": "Response message for the BatchUpdateIssues method.",
      "id": "BatchUpdateIssuesResponse",
      "properties": {
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest.",
          "type": "array"
        }
      }
    },
    "WebMetricsGroup": {
      "type": "object",
      "description": "Represents a grouping for metrics specific to web applications.",
      "id": "WebMetricsGroup",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the web metrics group"
        }
      }
    },
    "BatchGetEventsResponse": {
      "type": "object",
      "description": "Response message for the BatchGetEvents method.",
      "id": "BatchGetEventsResponse",
      "properties": {
        "events": {
          "items": {
            "$ref": "Event"
          },
          "type": "array",
          "description": "The list of retrieved events."
        }
      }
    },
    "Event": {
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "type": "object",
      "properties": {
        "version": {
          "description": "Mobile application version.",
          "$ref": "Version"
        },
        "user": {
          "description": "End user identifiers for the device owner.",
          "$ref": "User"
        },
        "threads": {
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "type": "array",
          "items": {
            "$ref": "Thread"
          }
        },
        "errors": {
          "type": "array",
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace.",
          "items": {
            "$ref": "Error"
          }
        },
        "deviceOrientation": {
          "type": "string",
          "description": "Device orientation at the time of the crash (portrait or landscape)."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\"."
        },
        "platform": {
          "type": "string",
          "description": "ANDROID, IOS, or WEB."
        },
        "issueSubtitle": {
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "processState": {
          "description": "The state of the app process at the time of the event.",
          "type": "string"
        },
        "exceptions": {
          "items": {
            "$ref": "Exception"
          },
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown.",
          "type": "array"
        },
        "breadcrumbs": {
          "type": "array",
          "description": "Analytics events recorded by the analytics SDK during the session.",
          "items": {
            "$ref": "Breadcrumb"
          }
        },
        "issueTitle": {
          "type": "string",
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name."
        },
        "issue": {
          "description": "Details for the [Issue] assigned to this [Event].",
          "$ref": "Issue"
        },
        "customKeys": {
          "type": "object",
          "description": "Custom keys set by the developer during the session.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "crashlyticsSdkVersion": {
          "type": "string",
          "description": "Crashlytics SDK version."
        },
        "appOrientation": {
          "description": "App orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "routePath": {
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "readOnly": true,
          "type": "string"
        },
        "eventId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The unique event identifier is assigned during processing."
        },
        "browser": {
          "description": "Browser and version.",
          "$ref": "Browser"
        },
        "buildStamp": {
          "description": "Metadata provided by the app's build system, including version control repository info.",
          "type": "string"
        },
        "blameFrame": {
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer.",
          "$ref": "Frame"
        },
        "receivedTime": {
          "format": "google-datetime",
          "description": "Server timestamp that the event was received by Crashlytics.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "description": "Device timestamp that the event was recorded.",
          "format": "google-datetime"
        },
        "installationUuid": {
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users.",
          "type": "string"
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the Firebase session."
        },
        "issueVariant": {
          "description": "Details for the [IssueVariant] assigned to this [Event].",
          "$ref": "IssueVariant"
        },
        "logs": {
          "type": "array",
          "description": "Log messages recorded by the developer during the session.",
          "items": {
            "$ref": "Log"
          }
        },
        "memory": {
          "description": "Mobile device memory usage.",
          "$ref": "Memory"
        },
        "bundleOrPackage": {
          "type": "string",
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\"."
        },
        "storage": {
          "description": "Mobile device disk/flash usage.",
          "$ref": "Storage"
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        }
      },
      "id": "Event"
    },
    "IssueVariant": {
      "type": "object",
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants.",
      "id": "IssueVariant",
      "properties": {
        "id": {
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "readOnly": true,
          "type": "string"
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this variant.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "BatchUpdateIssuesRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateIssueRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field."
        }
      },
      "id": "BatchUpdateIssuesRequest",
      "description": "Request message for the BatchUpdateIssues method.",
      "type": "object"
    },
    "Exception": {
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "type": "object",
      "properties": {
        "nested": {
          "description": "True for all but the last-thrown exception (i.e. the first record).",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The title of the exception."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred."
        },
        "exceptionMessage": {
          "description": "A message associated with the exception.",
          "type": "string"
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the exception."
        },
        "frames": {
          "type": "array",
          "description": "The frames in the exception's stacktrace.",
          "items": {
            "$ref": "Frame"
          }
        },
        "type": {
          "type": "string",
          "description": "The exception type e.g. java.lang.IllegalStateException."
        }
      },
      "id": "Exception"
    },
    "UpdateIssueRequest": {
      "type": "object",
      "description": "Request message for the UpdateIssue method.",
      "id": "UpdateIssueRequest",
      "properties": {
        "updateMask": {
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "issue": {
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "$ref": "Issue"
        }
      }
    },
    "FirebaseSessionEvent": {
      "id": "FirebaseSessionEvent",
      "properties": {
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "version": {
          "description": "Mobile application version numbers.",
          "$ref": "Version"
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start timestamp for the session event."
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "eventType": {
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ]
        },
        "firebaseInstallationId": {
          "description": "Uniquely identifies a device with Firebase apps installed.",
          "type": "string"
        },
        "firstSessionId": {
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches.",
          "type": "string"
        },
        "sessionIndex": {
          "type": "integer",
          "description": "Indicates the number of sessions since the last cold start.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK."
    },
    "User": {
      "properties": {
        "id": {
          "description": "User id if provided by the app developer.",
          "type": "string"
        }
      },
      "id": "User",
      "description": "Developer-provided end user identifiers.",
      "type": "object"
    },
    "Storage": {
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "type": "object",
      "properties": {
        "free": {
          "format": "int64",
          "type": "string",
          "description": "Bytes free."
        },
        "used": {
          "format": "int64",
          "description": "Bytes used.",
          "type": "string"
        }
      },
      "id": "Storage"
    },
    "Error": {
      "id": "Error",
      "properties": {
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred.",
          "type": "boolean"
        },
        "queue": {
          "type": "string",
          "description": "The queue on which the thread was running."
        },
        "title": {
          "description": "The title of the error.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Error code associated with the app's custom logged NSError.",
          "format": "int64"
        },
        "subtitle": {
          "description": "The subtitle of the error.",
          "type": "string"
        },
        "frames": {
          "type": "array",
          "description": "The frames in the error's stacktrace.",
          "items": {
            "$ref": "Frame"
          }
        }
      },
      "type": "object",
      "description": "A non-fatal error and its stacktrace, only from Apple apps."
    },
    "Breadcrumb": {
      "description": "Analytics events recorded during the session.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Analytic event name.",
          "type": "string"
        },
        "eventTime": {
          "description": "Device timestamp for the event.",
          "type": "string",
          "format": "google-datetime"
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Event parameters."
        }
      },
      "id": "Breadcrumb"
    },
    "ListNotesResponse": {
      "type": "object",
      "description": "Response message for the ListNotes method.",
      "id": "ListNotesResponse",
      "properties": {
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "Returns notes ordered descending by the timestamp.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes."
        }
      }
    },
    "PlayTrack": {
      "type": "object",
      "description": "Describes a release track in the Play Developer Console.",
      "id": "PlayTrack",
      "properties": {
        "title": {
          "type": "string",
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names."
        },
        "type": {
          "description": "The type of track (prod, internal, etc...).",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ]
        }
      }
    },
    "Device": {
      "properties": {
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        },
        "formFactor": {
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ],
          "description": "See FormFactor message."
        },
        "architecture": {
          "type": "string",
          "description": "Device processor architecture."
        },
        "displayName": {
          "type": "string",
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\"."
        },
        "model": {
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\").",
          "type": "string"
        },
        "companyName": {
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\".",
          "type": "string"
        },
        "marketingName": {
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\".",
          "type": "string"
        }
      },
      "id": "Device",
      "description": "Mobile device metadata.",
      "type": "object"
    },
    "Thread": {
      "type": "object",
      "description": "An application thread.",
      "id": "Thread",
      "properties": {
        "signal": {
          "type": "string",
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "crashAddress": {
          "format": "int64",
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "name": {
          "description": "The name of the thread.",
          "type": "string"
        },
        "frames": {
          "type": "array",
          "description": "The frames in the thread's stacktrace.",
          "items": {
            "$ref": "Frame"
          }
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred.",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The title of the thread."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the thread."
        },
        "threadState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "description": "Output only. The state of the thread at the time the ANR occurred."
        },
        "threadId": {
          "format": "int64",
          "type": "string",
          "description": "The id of the thread, only available for ANR threads."
        },
        "sysThreadId": {
          "format": "int64",
          "description": "The system id of the thread, only available for ANR threads.",
          "type": "string"
        },
        "crashed": {
          "description": "True when the thread has crashed.",
          "type": "boolean"
        },
        "signalCode": {
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        }
      }
    }
  }
}