{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260821",
  "canonicalName": "Firebase Crashlytics",
  "title": "Firebase Crashlytics API",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "issues": {
              "methods": {
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated."
                },
                "get": {
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "response": {
                    "$ref": "Issue"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "description": "Retrieve an issue.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}"
                },
                "patch": {
                  "request": {
                    "$ref": "Issue"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Change the state of an issue.",
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Issue"
                  }
                }
              },
              "resources": {
                "notes": {
                  "methods": {
                    "delete": {
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Delete a note by its name.",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}."
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous calls.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                        }
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Create a new note for an issue.",
                      "request": {
                        "$ref": "Note"
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "response": {
                        "$ref": "Note"
                      }
                    }
                  }
                }
              }
            },
            "reports": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string"
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "path": "v1alpha/{+parent}/reports",
                  "description": "List all of the available reports."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "path": "v1alpha/{+name}",
                  "description": "Get a report with its computed results.",
                  "parameters": {
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string",
                      "location": "query"
                    },
                    "granularity": {
                      "type": "string",
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ],
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "location": "query"
                    },
                    "filter.issue.state": {
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "type": "string",
                      "location": "query",
                      "deprecated": true,
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ]
                    },
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                    },
                    "filter.issue.states": {
                      "type": "string",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "repeated": true
                    },
                    "filter.issue.errorTypes": {
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "repeated": true
                    },
                    "filter.issue.id": {
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.issue.variantId": {
                      "location": "query",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "type": "string"
                    },
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.device.formFactors": {
                      "type": "string",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter.interval.startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                    },
                    "filter.issue.signals": {
                      "location": "query",
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "type": "string",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "repeated": true
                    },
                    "filter.operatingSystem.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\"."
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Report"
                  }
                }
              }
            },
            "events": {
              "methods": {
                "batchGet": {
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "description": "Fetch a batch of up to 100 events by name.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "readMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "parameters": {
                    "filter.version.displayNames": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\"."
                    },
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous calls.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.states": {
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "location": "query",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "type": "string",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "filter.device.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering."
                    },
                    "filter.issue.state": {
                      "deprecated": true,
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "readMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "type": "string"
                    },
                    "filter.issue.errorTypes": {
                      "repeated": true,
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type]."
                    },
                    "filter.issue.id": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id]."
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "type": "string"
                    },
                    "filter.issue.variantId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id]."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\"."
                    },
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.device.formFactors": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "repeated": true,
                      "type": "string",
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "location": "query"
                    },
                    "filter.operatingSystem.displayNames": {
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter.interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "filter.issue.signals": {
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "repeated": true,
                      "type": "string"
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/events",
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp."
                }
              }
            },
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids)."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "servicePath": "",
  "version": "v1alpha",
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "batchPath": "batch",
  "schemas": {
    "Event": {
      "id": "Event",
      "properties": {
        "version": {
          "description": "Mobile application version.",
          "$ref": "Version"
        },
        "storage": {
          "description": "Mobile device disk/flash usage.",
          "$ref": "Storage"
        },
        "receivedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Server timestamp that the event was received by Crashlytics."
        },
        "installationUuid": {
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace."
        },
        "memory": {
          "$ref": "Memory",
          "description": "Mobile device memory usage."
        },
        "exceptions": {
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown.",
          "items": {
            "$ref": "Exception"
          },
          "type": "array"
        },
        "threads": {
          "type": "array",
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "items": {
            "$ref": "Thread"
          }
        },
        "issueSubtitle": {
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "platform": {
          "type": "string",
          "description": "ANDROID, IOS, or WEB."
        },
        "issue": {
          "description": "Details for the [Issue] assigned to this [Event].",
          "$ref": "Issue"
        },
        "buildStamp": {
          "description": "Metadata provided by the app's build system, including version control repository info.",
          "type": "string"
        },
        "user": {
          "description": "End user identifiers for the device owner.",
          "$ref": "User"
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "customKeys": {
          "type": "object",
          "description": "Custom keys set by the developer during the session.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "routePath": {
          "readOnly": true,
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "type": "string"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        },
        "deviceOrientation": {
          "description": "Device orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "processState": {
          "type": "string",
          "description": "The state of the app process at the time of the event."
        },
        "issueTitle": {
          "type": "string",
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name."
        },
        "blameFrame": {
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer.",
          "$ref": "Frame"
        },
        "bundleOrPackage": {
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\".",
          "type": "string"
        },
        "crashlyticsSdkVersion": {
          "type": "string",
          "description": "Crashlytics SDK version."
        },
        "browser": {
          "description": "Browser and version.",
          "$ref": "Browser"
        },
        "eventId": {
          "description": "Output only. Immutable. The unique event identifier is assigned during processing.",
          "readOnly": true,
          "type": "string"
        },
        "logs": {
          "items": {
            "$ref": "Log"
          },
          "type": "array",
          "description": "Log messages recorded by the developer during the session."
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\".",
          "readOnly": true,
          "type": "string"
        },
        "breadcrumbs": {
          "type": "array",
          "items": {
            "$ref": "Breadcrumb"
          },
          "description": "Analytics events recorded by the analytics SDK during the session."
        },
        "eventTime": {
          "type": "string",
          "description": "Device timestamp that the event was recorded.",
          "format": "google-datetime"
        },
        "appOrientation": {
          "type": "string",
          "description": "App orientation at the time of the crash (portrait or landscape)."
        },
        "issueVariant": {
          "description": "Details for the [IssueVariant] assigned to this [Event].",
          "$ref": "IssueVariant"
        }
      },
      "type": "object",
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)"
    },
    "OperatingSystem": {
      "type": "object",
      "properties": {
        "deviceType": {
          "type": "string",
          "description": "The device category (mobile, tablet, desktop)."
        },
        "modificationState": {
          "description": "Indicates if the OS has been modified or \"jailbroken\".",
          "type": "string"
        },
        "displayVersion": {
          "type": "string",
          "description": "Operating system display version number."
        },
        "type": {
          "type": "string",
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.)."
        },
        "os": {
          "type": "string",
          "description": "Operating system name."
        },
        "displayName": {
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter.",
          "type": "string"
        }
      },
      "description": "Mobile device operating system metadata.",
      "id": "OperatingSystem"
    },
    "ListNotesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes.",
          "type": "string"
        },
        "notes": {
          "type": "array",
          "description": "Returns notes ordered descending by the timestamp.",
          "items": {
            "$ref": "Note"
          }
        }
      },
      "id": "ListNotesResponse",
      "description": "Response message for the ListNotes method."
    },
    "Memory": {
      "properties": {
        "used": {
          "format": "int64",
          "type": "string",
          "description": "Bytes in use."
        },
        "free": {
          "description": "Bytes free.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Mobile device memory usage.",
      "id": "Memory",
      "type": "object"
    },
    "Storage": {
      "id": "Storage",
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "properties": {
        "used": {
          "format": "int64",
          "description": "Bytes used.",
          "type": "string"
        },
        "free": {
          "description": "Bytes free.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "Exception": {
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "properties": {
        "type": {
          "description": "The exception type e.g. java.lang.IllegalStateException.",
          "type": "string"
        },
        "exceptionMessage": {
          "description": "A message associated with the exception.",
          "type": "string"
        },
        "nested": {
          "type": "boolean",
          "description": "True for all but the last-thrown exception (i.e. the first record)."
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred.",
          "type": "boolean"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the exception's stacktrace."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the exception."
        },
        "title": {
          "description": "The title of the exception.",
          "type": "string"
        }
      },
      "id": "Exception",
      "type": "object"
    },
    "IssueSignals": {
      "id": "IssueSignals",
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "properties": {
        "description": {
          "description": "Output only. Supporting detail information.",
          "type": "string",
          "readOnly": true
        },
        "signal": {
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "description": "Output only. The signal name.",
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListReportsResponse": {
      "properties": {
        "reports": {
          "type": "array",
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results.",
          "items": {
            "$ref": "Report"
          }
        }
      },
      "type": "object",
      "description": "Response method for the ListReports method. The response will always include all of the available reports.",
      "id": "ListReportsResponse"
    },
    "Issue": {
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "id": "Issue",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. Immutable. Unique identifier for the issue.",
          "readOnly": true
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this issue.",
          "readOnly": true,
          "type": "string"
        },
        "firstSeenTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Immutable. The first time this issue was seen."
        },
        "lastSeenVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only."
        },
        "variants": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants.",
          "items": {
            "$ref": "IssueVariant"
          }
        },
        "uri": {
          "type": "string",
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "readOnly": true
        },
        "stateUpdateTime": {
          "description": "Output only. The time at which the issue state was last changed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "title": {
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "type": "string",
          "readOnly": true
        },
        "lastSeenTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time this issue was seen.",
          "readOnly": true
        },
        "errorType": {
          "readOnly": true,
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "type": "string"
        },
        "signals": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "IssueSignals"
          },
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer."
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "readOnly": true,
          "type": "string"
        },
        "subtitle": {
          "readOnly": true,
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "firstSeenVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only."
        },
        "state": {
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "readOnly": true,
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues).",
          "type": "string"
        },
        "notesCount": {
          "format": "int64",
          "description": "Output only. The number of notes attached to an issue.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "FirebaseSessionEvent": {
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "properties": {
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "firstSessionId": {
          "type": "string",
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches."
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start timestamp for the session event."
        },
        "firebaseInstallationId": {
          "description": "Uniquely identifies a device with Firebase apps installed.",
          "type": "string"
        },
        "version": {
          "$ref": "Version",
          "description": "Mobile application version numbers."
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "sessionIndex": {
          "type": "integer",
          "description": "Indicates the number of sessions since the last cold start.",
          "format": "int32"
        },
        "eventType": {
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ],
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ]
        }
      },
      "type": "object",
      "id": "FirebaseSessionEvent"
    },
    "UpdateIssueRequest": {
      "id": "UpdateIssueRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
          "format": "google-fieldmask"
        },
        "issue": {
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "$ref": "Issue"
        }
      },
      "description": "Request message for the UpdateIssue method.",
      "type": "object"
    },
    "Log": {
      "id": "Log",
      "description": "Developer-provided log lines recorded during the session.",
      "type": "object",
      "properties": {
        "logTime": {
          "description": "Device timestamp when the line was logged.",
          "type": "string",
          "format": "google-datetime"
        },
        "message": {
          "description": "Log message.",
          "type": "string"
        }
      }
    },
    "ListEventsResponse": {
      "id": "ListEventsResponse",
      "description": "Response message for the ListEvents method.",
      "properties": {
        "events": {
          "items": {
            "$ref": "Event"
          },
          "description": "Returns one element per event, in descending order the by event timestamp.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events."
        }
      },
      "type": "object"
    },
    "Thread": {
      "description": "An application thread.",
      "properties": {
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the thread."
        },
        "signal": {
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads.",
          "type": "string"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred."
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the thread's stacktrace."
        },
        "signalCode": {
          "type": "string",
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "title": {
          "description": "The title of the thread.",
          "type": "string"
        },
        "sysThreadId": {
          "format": "int64",
          "type": "string",
          "description": "The system id of the thread, only available for ANR threads."
        },
        "crashed": {
          "description": "True when the thread has crashed.",
          "type": "boolean"
        },
        "crashAddress": {
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads.",
          "format": "int64",
          "type": "string"
        },
        "threadId": {
          "format": "int64",
          "description": "The id of the thread, only available for ANR threads.",
          "type": "string"
        },
        "threadState": {
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "type": "string"
        },
        "name": {
          "description": "The name of the thread.",
          "type": "string"
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        }
      },
      "id": "Thread",
      "type": "object"
    },
    "Version": {
      "type": "object",
      "description": "Application software version.",
      "id": "Version",
      "properties": {
        "buildVersion": {
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field."
        },
        "displayVersion": {
          "type": "string",
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString."
        },
        "tracks": {
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks.",
          "items": {
            "$ref": "PlayTrack"
          },
          "type": "array"
        }
      }
    },
    "User": {
      "properties": {
        "id": {
          "description": "User id if provided by the app developer.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "User",
      "description": "Developer-provided end user identifiers."
    },
    "PlayTrack": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ],
          "description": "The type of track (prod, internal, etc...).",
          "type": "string"
        },
        "title": {
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlayTrack",
      "description": "Describes a release track in the Play Developer Console."
    },
    "BatchUpdateIssuesResponse": {
      "type": "object",
      "properties": {
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest.",
          "type": "array"
        }
      },
      "id": "BatchUpdateIssuesResponse",
      "description": "Response message for the BatchUpdateIssues method."
    },
    "BatchGetEventsResponse": {
      "description": "Response message for the BatchGetEvents method.",
      "type": "object",
      "id": "BatchGetEventsResponse",
      "properties": {
        "events": {
          "type": "array",
          "description": "The list of retrieved events.",
          "items": {
            "$ref": "Event"
          }
        }
      }
    },
    "BatchUpdateIssuesRequest": {
      "id": "BatchUpdateIssuesRequest",
      "type": "object",
      "description": "Request message for the BatchUpdateIssues method.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field."
        },
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch.",
          "items": {
            "$ref": "UpdateIssueRequest"
          }
        }
      }
    },
    "Browser": {
      "properties": {
        "browser": {
          "type": "string",
          "description": "Browser name."
        },
        "displayName": {
          "type": "string",
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter."
        },
        "displayVersion": {
          "type": "string",
          "description": "Browser display version number."
        }
      },
      "id": "Browser",
      "type": "object",
      "description": "Web browser metadata."
    },
    "ReportGroup": {
      "id": "ReportGroup",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection.",
      "type": "object",
      "properties": {
        "version": {
          "$ref": "Version",
          "description": "Version metrics group."
        },
        "variant": {
          "description": "Issue variant metrics group.",
          "$ref": "IssueVariant"
        },
        "operatingSystem": {
          "description": "Operating system metrics group.",
          "$ref": "OperatingSystem"
        },
        "metrics": {
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain.",
          "items": {
            "$ref": "IntervalMetrics"
          },
          "type": "array"
        },
        "webMetricsGroup": {
          "$ref": "WebMetricsGroup",
          "description": "Web metrics group."
        },
        "device": {
          "description": "Device metrics group.",
          "$ref": "Device"
        },
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        },
        "subgroups": {
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "type": "array",
          "items": {
            "$ref": "ReportGroup"
          }
        },
        "browser": {
          "description": "Browser metrics group.",
          "$ref": "Browser"
        }
      }
    },
    "IssueVariant": {
      "properties": {
        "uri": {
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "readOnly": true
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this variant.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants.",
      "id": "IssueVariant"
    },
    "Breadcrumb": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Analytic event name."
        },
        "eventTime": {
          "type": "string",
          "description": "Device timestamp for the event.",
          "format": "google-datetime"
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Event parameters.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Analytics events recorded during the session.",
      "id": "Breadcrumb"
    },
    "WebMetricsGroup": {
      "type": "object",
      "id": "WebMetricsGroup",
      "description": "Represents a grouping for metrics specific to web applications.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the web metrics group"
        }
      }
    },
    "Frame": {
      "type": "object",
      "id": "Frame",
      "description": "A frame in a stacktrace.",
      "properties": {
        "address": {
          "description": "The address in the binary image which contains the code. Present for native frames.",
          "format": "int64",
          "type": "string"
        },
        "symbol": {
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated.",
          "type": "string"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error."
        },
        "offset": {
          "type": "string",
          "format": "int64",
          "description": "The byte offset into the binary image that contains the code. Present for native frames."
        },
        "file": {
          "type": "string",
          "description": "The name of the source file in which the frame is found."
        },
        "column": {
          "format": "int64",
          "description": "The column on the line.",
          "type": "string"
        },
        "library": {
          "description": "The display name of the library that includes the frame.",
          "type": "string"
        },
        "owner": {
          "type": "string",
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM."
        },
        "line": {
          "format": "int64",
          "type": "string",
          "description": "The line number in the file of the frame."
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "subtitle": {
          "description": "The subtitle of the error.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the error."
        },
        "code": {
          "description": "Error code associated with the app's custom logged NSError.",
          "type": "string",
          "format": "int64"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred.",
          "type": "boolean"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the error's stacktrace."
        }
      },
      "id": "Error",
      "description": "A non-fatal error and its stacktrace, only from Apple apps."
    },
    "DeleteUserCrashReportsResponse": {
      "properties": {
        "targetCompleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Target time to complete the delete crash reports operation."
        }
      },
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report.",
      "type": "object",
      "id": "DeleteUserCrashReportsResponse"
    },
    "Note": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "type": "string"
        },
        "author": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email of the author of the note."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the note was created.",
          "type": "string"
        },
        "body": {
          "description": "Immutable. The body of the note.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Developer notes for an issue.",
      "id": "Note"
    },
    "Report": {
      "id": "Report",
      "properties": {
        "name": {
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The total number of groups retrievable by the request."
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The displayable title of the report.",
          "readOnly": true
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "ReportGroup"
          },
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field."
        },
        "usage": {
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models."
    },
    "Device": {
      "properties": {
        "marketingName": {
          "type": "string",
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\"."
        },
        "companyName": {
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\".",
          "type": "string"
        },
        "architecture": {
          "description": "Device processor architecture.",
          "type": "string"
        },
        "displayName": {
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\".",
          "type": "string"
        },
        "formFactor": {
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "type": "string",
          "description": "See FormFactor message."
        },
        "manufacturer": {
          "type": "string",
          "description": "Device brand name which is consistent with android.os.Build.BRAND."
        },
        "model": {
          "type": "string",
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\")."
        }
      },
      "description": "Mobile device metadata.",
      "type": "object",
      "id": "Device"
    },
    "IntervalMetrics": {
      "id": "IntervalMetrics",
      "properties": {
        "impactedUsersCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of distinct users in the set of events."
        },
        "eventsCount": {
          "description": "The total count of events in the interval.",
          "format": "int64",
          "type": "string"
        },
        "sessionsCount": {
          "format": "int64",
          "description": "The number of distinct sessions in the set of events.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the interval covered by the computation.",
          "type": "string"
        },
        "endTime": {
          "description": "The end of the interval covered by the computation.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A set of computed metric values for a time interval"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    }
  },
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "name": "firebasecrashlytics",
  "id": "firebasecrashlytics:v1alpha",
  "basePath": "",
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "version_module": true,
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true
}