{
  "version": "v1alpha",
  "ownerName": "Google",
  "basePath": "",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "",
  "protocol": "rest",
  "canonicalName": "Firebase App Distribution",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "version_module": true,
  "kind": "discovery#restDescription",
  "description": "",
  "revision": "20260615",
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "firebaseappdistribution:v1alpha",
  "resources": {
    "apps": {
      "methods": {
        "getJwt": {
          "id": "firebaseappdistribution.apps.getJwt",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          },
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get a JWT token",
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "parameters": {
            "mobilesdkAppId": {
              "type": "string",
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "id": "firebaseappdistribution.apps.get",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "description": "Get the app, if it exists",
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "mobilesdkAppId": {
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "appView": {
              "type": "string",
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ],
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "location": "query",
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            }
          }
        }
      },
      "resources": {
        "upload_status": {
          "methods": {
            "get": {
              "parameters": {
                "mobilesdkAppId": {
                  "type": "string",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true
                },
                "uploadToken": {
                  "description": "Required. The token for the upload",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "GET Binary upload status by token",
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              },
              "id": "firebaseappdistribution.apps.upload_status.get"
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "description": "GET Release by binary upload hash",
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "uploadHash": {
                  "description": "Required. The hash for the upload",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "testers": {
          "methods": {
            "getTesterUdids": {
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "httpMethod": "GET",
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids"
            }
          }
        },
        "releases": {
          "methods": {
            "enable_access": {
              "id": "firebaseappdistribution.apps.releases.enable_access",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Enable access on a release for testers.",
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "parameters": {
                "mobilesdkAppId": {
                  "type": "string",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true
                },
                "releaseId": {
                  "type": "string",
                  "description": "Required. Release identifier",
                  "location": "path",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  },
                  "httpMethod": "POST",
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ],
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "description": "Create release notes on a release.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "parameters": {
                    "mobilesdkAppId": {
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "releaseId": {
                      "description": "Required. Release identifier",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "testers": {
          "methods": {
            "getUdids": {
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "query",
                  "type": "string"
                },
                "project": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get UDIDs of tester iOS devices in a project",
              "path": "v1alpha/{+project}/testers:udids",
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "parameterOrder": [
                "project"
              ],
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              }
            }
          }
        },
        "apps": {
          "resources": {
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "cancel": {
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Abort automated test run on release.",
                      "path": "v1alpha/{+name}:cancel",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value.",
                          "location": "query"
                        },
                        "view": {
                          "type": "string",
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view.",
                          "location": "query",
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ]
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "List results for automated tests run on release.",
                      "path": "v1alpha/{+parent}/tests",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "httpMethod": "POST",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "location": "path"
                        },
                        "releaseTestId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated.",
                          "location": "query"
                        }
                      },
                      "path": "v1alpha/{+parent}/tests",
                      "description": "Run automated test(s) on release.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      }
                    },
                    "get": {
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}",
                      "description": "Get results for automated test run on release.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "location": "path"
                        }
                      }
                    }
                  }
                }
              }
            },
            "testCases": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "httpMethod": "POST",
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "path": "v1alpha/{+parent}/testCases",
                  "description": "Create a new test case.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "testCaseId": {
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "clearTestCaseCache": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "parameterOrder": [
                    "testCase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "path": "v1alpha/{+testCase}:clearTestCaseCache",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "testCase": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Updates multiple test cases.",
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "batchDelete": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes multiple test cases.",
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "description": "Get a test case.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "httpMethod": "GET",
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "description": "List test cases.",
                  "path": "v1alpha/{+parent}/testCases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a test case.",
                  "path": "v1alpha/{+name}"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "httpMethod": "PATCH",
                  "id": "firebaseappdistribution.projects.apps.testCases.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Update a test case.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  }
                }
              }
            }
          },
          "methods": {
            "getTestConfig": {
              "path": "v1alpha/{+name}",
              "description": "Gets configuration for automated tests.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "httpMethod": "GET",
              "id": "firebaseappdistribution.projects.apps.getTestConfig",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig"
            },
            "updateTestConfig": {
              "description": "Updates automated test configuration.",
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Optional. The list of fields to update.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig"
            }
          }
        }
      },
      "methods": {
        "getTestQuota": {
          "path": "v1alpha/{+name}",
          "description": "Get information about the quota for `ReleaseTests`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "location": "path",
              "pattern": "^projects/[^/]+/testQuota$"
            }
          },
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          },
          "httpMethod": "GET",
          "id": "firebaseappdistribution.projects.getTestQuota",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/projects/{projectsId}/testQuota"
        }
      }
    }
  },
  "name": "firebaseappdistribution",
  "title": "Firebase App Distribution API",
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "properties": {
        "goalActions": {
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails",
      "type": "object",
      "description": "Details for a goal step."
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "description": "The request message for `CreateReleaseNotes`.",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes body from the user",
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "description": "A device screenshot taken during a test.",
      "properties": {
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The width of the screenshot, in pixels.",
          "readOnly": true
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The height of the screenshot, in pixels.",
          "readOnly": true
        },
        "uri": {
          "type": "string",
          "description": "Output only. The URI of the screenshot.",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "description": "The response message for `ListTestCases`.",
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "type": "object",
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "description": "The test cases from the specified app."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction",
      "type": "object",
      "properties": {
        "cachingType": {
          "description": "Output only. The type of caching used to determine the action.",
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ],
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ],
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time at which the action started.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "terminalAction": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction",
          "description": "Output only. An action taken by the AI to end the goal.",
          "readOnly": true
        },
        "explanation": {
          "description": "Output only. An explanation justifying why the action was taken.",
          "readOnly": true,
          "type": "string"
        },
        "deviceAction": {
          "description": "Output only. A high level action taken by the AI on the device.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction"
        },
        "debugInfo": {
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
          "description": "Output only. Debug information explaining why the agent to the specific action.",
          "readOnly": true
        }
      },
      "description": "An action taken by the AI agent while attempting to accomplish a goal."
    },
    "AndroidxCrawlerOutputRectangle": {
      "properties": {
        "right": {
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "format": "int32",
          "type": "integer"
        },
        "bottom": {
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AndroidxCrawlerOutputRectangle",
      "type": "object",
      "description": "Rectangle for describing bounding boxes"
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "description": "Response containing the UDIDs of tester iOS devices in a project",
      "properties": {
        "testerUdids": {
          "description": "The UDIDs of tester iOS devices in a project",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "description": "Configuration for automated tests",
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
          "type": "string"
        },
        "roboCrawler": {
          "description": "Optional. Configuration for Robo crawler",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
        },
        "resultsBucket": {
          "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "testDevices": {
          "description": "Optional. Tests will be run on this list of devices",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "description": "The request message for `BatchUpdateTestCase`.",
      "properties": {
        "requests": {
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "description": "The request message for `EnableAccessOnRelease`.",
      "properties": {
        "displayVersion": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id."
        },
        "buildVersion": {
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id.",
          "deprecated": true,
          "type": "string"
        },
        "emails": {
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groupIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential",
      "type": "object",
      "properties": {
        "password": {
          "description": "Optional. Password for automated tests",
          "type": "string"
        },
        "username": {
          "description": "Optional. Username for automated tests",
          "type": "string"
        },
        "fieldHints": {
          "description": "Optional. Hints to the crawler for identifying input fields",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints"
        },
        "google": {
          "description": "Optional. Are these credentials for Google?",
          "type": "boolean"
        }
      },
      "description": "Login credential for automated tests"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "type": "object",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes text from the user.",
          "type": "string"
        }
      },
      "description": "Release notes for a release."
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse",
      "type": "object",
      "properties": {
        "message": {
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client",
          "type": "string"
        },
        "status": {
          "description": "The status of the upload",
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ]
        },
        "errorCode": {
          "description": "The error code associated with (only set on \"FAILURE\")",
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
            "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            "",
            "A corresponding Android Developer Console account for this app's Play Console account was not found."
          ]
        },
        "release": {
          "description": "The release that was created from the upload (only set on \"SUCCESS\")",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      },
      "description": "The response message for `GetUploadStatus`."
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "properties": {
        "model": {
          "description": "Required. The device model.",
          "type": "string"
        },
        "orientation": {
          "description": "Optional. The orientation of the device during the test.",
          "type": "string"
        },
        "locale": {
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version of the device (API level on Android).",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice",
      "type": "object",
      "description": "A device on which automated tests can be run."
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "properties": {
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "description": "Output only. The screenshot used in the context of this assertion.",
          "readOnly": true
        },
        "result": {
          "description": "Output only. The result of the assertion.",
          "readOnly": true,
          "type": "boolean"
        },
        "explanation": {
          "description": "Output only. An explanation justifying the assertion result.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
      "type": "object",
      "description": "Details for an assertion step."
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "description": "A step to be accomplished by the AI",
      "properties": {
        "successCriteria": {
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps.",
          "type": "string"
        },
        "testCase": {
          "type": "string",
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "readOnly": true
        },
        "hint": {
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal",
          "type": "string"
        },
        "goal": {
          "description": "A goal to be accomplished by the AI",
          "type": "string"
        },
        "assertion": {
          "description": "An assertion to be checked by the AI",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAiStep",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "properties": {
        "crawlDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Duration of crawl.",
          "readOnly": true
        },
        "mainActivityCrawlTimedOut": {
          "description": "Output only. Whether the main activity crawl timed out.",
          "readOnly": true,
          "type": "boolean"
        },
        "distinctVisitedScreens": {
          "format": "int32",
          "description": "Output only. Number of distinct screens visited.",
          "readOnly": true,
          "type": "integer"
        },
        "actionsPerformed": {
          "description": "Output only. Number of actions that crawler performed.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats",
      "type": "object",
      "description": "Statistics collected during a Robo test."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "description": "A drag and drop action.",
      "properties": {
        "start": {
          "description": "Output only. The start point of the drag and drop.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "end": {
          "description": "Output only. The end point of the drag and drop.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "description": "A back action.",
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions",
      "type": "object",
      "properties": {
        "steps": {
          "description": "Required. Steps to be accomplished by the AI",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse",
      "type": "object",
      "properties": {
        "release": {
          "description": "Release object",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      },
      "description": "Response object to get the release given a upload hash"
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "type": "object",
      "properties": {
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the test case was created",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the test case.",
          "type": "string"
        },
        "dependentTestCases": {
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "prerequisiteTestCase": {
          "description": "Optional. Test case that must be run before this test case.",
          "type": "string"
        }
      },
      "description": "AI test cases"
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "properties": {
        "token": {
          "description": "The JWT token (three Base64URL-encoded strings joined by dots).",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaJwt",
      "type": "object",
      "description": "A JWT token."
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "properties": {
        "message": {
          "description": "Output only. The message associated with the crash.",
          "readOnly": true,
          "type": "string"
        },
        "stackTrace": {
          "description": "Output only. The raw stack trace.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash",
      "type": "object",
      "description": "An app crash that occurred during an automated test."
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "description": "An app.",
      "id": "GoogleFirebaseAppdistroV1alphaApp",
      "type": "object",
      "properties": {
        "projectNumber": {
          "description": "Project number of the Firebase project, for example 300830567303.",
          "type": "string"
        },
        "bundleId": {
          "description": "Bundle identifier",
          "type": "string"
        },
        "contactEmail": {
          "description": "Developer contact email for testers to reach out to about privacy or support issues.",
          "type": "string"
        },
        "appId": {
          "description": "Firebase gmp app id",
          "type": "string"
        },
        "aabState": {
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ]
        },
        "platform": {
          "description": "iOS or Android",
          "type": "string"
        },
        "aabCertificate": {
          "description": "App bundle test certificate generated for the app.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate"
        }
      }
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "description": "Response message for `UploadRelease`.",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ],
          "description": "Result of upload release.",
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ]
        },
        "release": {
          "description": "Release associated with the uploaded binary.",
          "$ref": "GoogleFirebaseAppdistroV1Release"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse",
      "type": "object",
      "description": "The response message for `EnableAccessOnRelease`."
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "properties": {
        "passwordResourceName": {
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        },
        "usernameResourceName": {
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "type": "object",
      "description": "Hints to the crawler for identifying input fields"
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota",
      "type": "object",
      "properties": {
        "limit": {
          "format": "int64",
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month.",
          "readOnly": true,
          "type": "string"
        },
        "usage": {
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`",
          "type": "string"
        }
      },
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests."
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "description": "An action taken by the AI to end the goal.",
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction",
      "type": "object",
      "properties": {
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this terminal action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        },
        "reason": {
          "description": "Output only. The reason why this goal was ended.",
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ],
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "description": "App bundle test certificate",
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "type": "object",
      "properties": {
        "certificateHashMd5": {
          "description": "MD5 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha1": {
          "description": "SHA1 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha256": {
          "description": "SHA256 hash of the certificate used to resign the AAB",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "description": "The UDIDs of a tester's iOS device",
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid",
      "type": "object",
      "properties": {
        "udid": {
          "description": "The UDID of the tester's device",
          "type": "string"
        },
        "name": {
          "description": "The name of the tester's device",
          "type": "string"
        },
        "platform": {
          "description": "The platform of the tester's device",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "properties": {
        "textInput": {
          "type": "string",
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one.",
          "readOnly": true
        },
        "wait": {
          "description": "Output only. A wait action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait"
        },
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        },
        "tap": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. A tap action.",
          "readOnly": true
        },
        "enterText": {
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText"
        },
        "longPress": {
          "description": "Output only. A long press (tap and hold) action.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "keyCode": {
          "description": "Output only. Key code for a key event action.",
          "readOnly": true,
          "type": "string"
        },
        "targetOrientation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The target orientation of the device in a set orientation action.",
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ]
        },
        "swipe": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
          "description": "Output only. A swipe action.",
          "readOnly": true
        },
        "dragAndDrop": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
          "description": "Output only. A drag and drop action.",
          "readOnly": true
        },
        "backAction": {
          "description": "Output only. A back action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack"
        },
        "targetFoldedState": {
          "type": "string",
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`.",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction",
      "type": "object",
      "description": "An interaction with the device, such as a tap, text entry, wait, etc."
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "description": "The updated test cases."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse",
      "type": "object",
      "description": "The response message for `BatchUpdateTestCase`."
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "type": "object",
      "properties": {},
      "description": "Operation metadata for `UploadRelease`."
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "type": "object",
      "description": "The response message for `CreateReleaseNotes`."
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "properties": {
        "releaseTests": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          },
          "description": "The tests listed."
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse",
      "type": "object",
      "description": "The response message for `ListReleaseTests`."
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "description": "Notes that belong to a release.",
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of the release notes.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "properties": {
        "start": {
          "description": "Output only. The start point of the swipe.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "end": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. The end point of the swipe.",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
      "type": "object",
      "description": "A swipe action."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "description": "A wait action.",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The duration of the wait.",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "properties": {
        "description": {
          "description": "Output only. A short description of the high level action taken by the AI agent.",
          "readOnly": true,
          "type": "string"
        },
        "deviceInteractions": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          },
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc.",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction",
      "type": "object",
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc."
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse",
      "type": "object",
      "properties": {},
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`"
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "description": "The request message for `BatchDeleteTestCase`.",
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest",
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
      "type": "object",
      "properties": {
        "loginCredential": {
          "description": "Optional. Login credential for automated tests",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        }
      },
      "description": "Configuration for Robo crawler"
    },
    "AndroidxCrawlerOutputPoint": {
      "id": "AndroidxCrawlerOutputPoint",
      "type": "object",
      "properties": {
        "xCoordinate": {
          "type": "integer",
          "format": "int32"
        },
        "yCoordinate": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Point for describing bounding boxes tap locations Top left is 0,0"
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "type": "object",
      "properties": {
        "allowMissing": {
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
          "type": "boolean"
        },
        "testCase": {
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
        }
      },
      "description": "The request message for `UpdateTestCase`."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "description": "The results of running an automated test on a particular device.",
      "properties": {
        "inconclusiveReason": {
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ],
          "description": "Output only. The reason why the test was inconclusive.",
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "type": "string",
          "readOnly": true
        },
        "crawlGraphUri": {
          "description": "Output only. A URI to an image of the Robo crawl graph.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "description": "Output only. The state of the test.",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ]
        },
        "name": {
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "videoUri": {
          "type": "string",
          "description": "Output only. A URI to a video of the test run.",
          "readOnly": true
        },
        "failedReason": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ],
          "description": "Output only. The reason why the test failed.",
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ]
        },
        "roboStats": {
          "description": "Output only. The statistics collected during the Robo test.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats"
        },
        "screenshotUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken.",
          "readOnly": true
        },
        "aiStepResults": {
          "description": "Output only. Results of the AI steps if passed in",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          }
        },
        "executionType": {
          "description": "Output only. The type of execution for the test.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ],
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ],
          "readOnly": true,
          "type": "string"
        },
        "originDeviceExecution": {
          "type": "string",
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "readOnly": true
        },
        "appCrash": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash",
          "description": "Output only. An app crash, if any occurred during the test.",
          "readOnly": true
        },
        "videoStartTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the video started recording.",
          "readOnly": true,
          "type": "string"
        },
        "finalAiAssertionMissing": {
          "type": "boolean",
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion.",
          "readOnly": true
        },
        "resultsStoragePath": {
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait.",
          "readOnly": true,
          "type": "string"
        },
        "device": {
          "description": "Required. The device that the test was run on.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "type": "object",
      "properties": {
        "text": {
          "description": "Output only. The text to enter.",
          "readOnly": true,
          "type": "string"
        },
        "elementBounds": {
          "description": "Output only. The visible bounds of the element to enter text into.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputRectangle"
        }
      },
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field."
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1Release": {
      "properties": {
        "releaseNotes": {
          "description": "Notes of the release.",
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes"
        },
        "binaryDownloadUri": {
          "type": "string",
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the release was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the release will expire.",
          "readOnly": true
        },
        "testingUri": {
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
          "readOnly": true,
          "type": "string"
        },
        "firebaseConsoleUri": {
          "type": "string",
          "description": "Output only. A link to the Firebase console displaying a single release.",
          "readOnly": true
        },
        "displayVersion": {
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
          "type": "string"
        },
        "buildVersion": {
          "type": "string",
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the release was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleFirebaseAppdistroV1Release",
      "type": "object",
      "description": "A release of a Firebase app."
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "properties": {
        "receivedAt": {
          "deprecated": true,
          "type": "string",
          "description": "unused. ",
          "format": "google-datetime"
        },
        "testerWithInstallCount": {
          "description": "Number of testers who have installed the release",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "Release Id",
          "type": "string"
        },
        "buildVersion": {
          "description": "Release build version",
          "type": "string"
        },
        "openInvitationCount": {
          "type": "integer",
          "description": "Number of testers who have open invitations for the release",
          "format": "int32"
        },
        "displayVersion": {
          "description": "Release version",
          "type": "string"
        },
        "testerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of testers added to the release"
        },
        "instanceId": {
          "description": "Instance id of the release",
          "type": "string"
        },
        "lastActivityAt": {
          "description": "Last activity timestamp",
          "format": "google-datetime",
          "type": "string"
        },
        "distributedAt": {
          "description": "Timestamp when the release was created",
          "format": "google-datetime",
          "type": "string"
        },
        "releaseNotesSummary": {
          "description": "Release notes summary",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "type": "object",
      "description": "Proto defining a release object"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when the test was run.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "resultsBucket": {
          "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "testState": {
          "description": "Output only. The state of the release test.",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "name": {
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
          "type": "string"
        },
        "testCase": {
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "loginCredential": {
          "description": "Optional. Input only. Login credentials for the test. Input only.",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "deviceExecutions": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "description": "Required. The results of the test on each device."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest",
      "type": "object",
      "description": "Instance of an automated test for a release."
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
      "type": "object",
      "properties": {
        "annotatedScreenshotUri": {
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "readOnly": true,
          "type": "string"
        },
        "jsonUri": {
          "type": "string",
          "description": "Output only. Structured data explaining the agent's choice.",
          "readOnly": true
        }
      },
      "description": "Information to help the customer understand why the agent took this action."
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "description": "Captures the results of an AiStep",
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ],
          "description": "Output only. The current state of the step",
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ]
        },
        "step": {
          "description": "Required. The step performed by the AI",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
        },
        "goalDetails": {
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails",
          "description": "Output only. Details for a goal step.",
          "readOnly": true
        },
        "assertionDetails": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
          "description": "Output only. Details for an assertion step.",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "properties": {
        "testDevices": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest",
      "type": "object",
      "description": "Request message for `ClearTestCaseCache`."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    }
  }
}