{
  "name": "firebaseappdistribution",
  "canonicalName": "Firebase App Distribution",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "description": "",
  "version_module": true,
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "discoveryVersion": "v1",
  "resources": {
    "apps": {
      "methods": {
        "get": {
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "httpMethod": "GET",
          "parameters": {
            "appView": {
              "location": "query",
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "type": "string",
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ]
            },
            "mobilesdkAppId": {
              "location": "path",
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "required": true,
              "type": "string"
            }
          },
          "description": "Get the app, if it exists",
          "id": "firebaseappdistribution.apps.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "mobilesdkAppId"
          ]
        },
        "getJwt": {
          "description": "Get a JWT token",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "id": "firebaseappdistribution.apps.getJwt",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameters": {
            "mobilesdkAppId": {
              "location": "path",
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt"
        }
      },
      "resources": {
        "upload_status": {
          "methods": {
            "get": {
              "description": "GET Binary upload status by token",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.apps.upload_status.get",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              },
              "parameters": {
                "mobilesdkAppId": {
                  "location": "path",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "type": "string",
                  "required": true
                },
                "uploadToken": {
                  "required": true,
                  "description": "Required. The token for the upload",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "httpMethod": "GET"
            }
          }
        },
        "testers": {
          "methods": {
            "getTesterUdids": {
              "description": "Get UDIDs of tester iOS devices in a project",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "mobilesdkAppId": {
                  "location": "path",
                  "type": "string",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true
                },
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids"
            }
          }
        },
        "releases": {
          "methods": {
            "enable_access": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "httpMethod": "POST",
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "description": "Enable access on a release for testers.",
              "parameters": {
                "mobilesdkAppId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path"
                },
                "releaseId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Release identifier"
                }
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.apps.releases.enable_access"
            }
          },
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  },
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ],
                  "parameters": {
                    "releaseId": {
                      "description": "Required. Release identifier",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "mobilesdkAppId": {
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "description": "Create release notes on a release.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "httpMethod": "GET",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "parameters": {
                "uploadHash": {
                  "description": "Required. The hash for the upload",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "mobilesdkAppId": {
                  "required": true,
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "description": "GET Release by binary upload hash"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "apps": {
          "methods": {
            "getTestConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "description": "Gets configuration for automated tests.",
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "id": "firebaseappdistribution.projects.apps.getTestConfig",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "updateTestConfig": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates automated test configuration.",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              }
            }
          },
          "resources": {
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "description": "Get results for automated test run on release.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "description": "Run automated test(s) on release.",
                      "parameters": {
                        "releaseTestId": {
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "httpMethod": "POST",
                      "path": "v1alpha/{+parent}/tests",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List results for automated tests run on release.",
                      "parameters": {
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ],
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ],
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "path": "v1alpha/{+parent}/tests",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests"
                    },
                    "cancel": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "description": "Abort automated test run on release.",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}:cancel"
                    }
                  }
                }
              }
            },
            "testCases": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "id": "firebaseappdistribution.projects.apps.testCases.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Delete a test case.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.patch",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "description": "Update a test case.",
                  "httpMethod": "PATCH"
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "List test cases.",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string"
                    }
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.list",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/testCases"
                },
                "create": {
                  "description": "Create a new test case.",
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/testCases",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "parameters": {
                    "testCaseId": {
                      "type": "string",
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  }
                },
                "clearTestCaseCache": {
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "httpMethod": "POST",
                  "parameters": {
                    "testCase": {
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "testCase"
                  ],
                  "path": "v1alpha/{+testCase}:clearTestCaseCache"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "description": "Get a test case.",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "path": "v1alpha/{+name}"
                },
                "batchUpdate": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate",
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Updates multiple test cases."
                },
                "batchDelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  },
                  "description": "Deletes multiple test cases.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "testers": {
          "methods": {
            "getUdids": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+project}/testers:udids",
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "parameterOrder": [
                "project"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "parameters": {
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              }
            }
          }
        }
      },
      "methods": {
        "getTestQuota": {
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "firebaseappdistribution.projects.getTestQuota",
          "description": "Get information about the quota for `ReleaseTests`.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/testQuota$",
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1alpha/projects/{projectsId}/testQuota",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          }
        }
      }
    }
  },
  "servicePath": "",
  "id": "firebaseappdistribution:v1alpha",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
      "type": "object",
      "properties": {
        "finalAiAssertionMissing": {
          "type": "boolean",
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion.",
          "readOnly": true
        },
        "device": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice",
          "description": "Required. The device that the test was run on."
        },
        "aiStepResults": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          },
          "description": "Output only. Results of the AI steps if passed in",
          "type": "array"
        },
        "videoStartTime": {
          "description": "Output only. The time at which the video started recording.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "description": "Output only. The state of the test.",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "executionType": {
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ],
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ],
          "description": "Output only. The type of execution for the test.",
          "readOnly": true,
          "type": "string"
        },
        "resultsStoragePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait."
        },
        "appCrash": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash",
          "readOnly": true,
          "description": "Output only. An app crash, if any occurred during the test."
        },
        "crawlGraphUri": {
          "description": "Output only. A URI to an image of the Robo crawl graph.",
          "type": "string",
          "readOnly": true
        },
        "screenshotUris": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken."
        },
        "inconclusiveReason": {
          "type": "string",
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ],
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "description": "Output only. The reason why the test was inconclusive.",
          "readOnly": true
        },
        "videoUri": {
          "type": "string",
          "description": "Output only. A URI to a video of the test run.",
          "readOnly": true
        },
        "originDeviceExecution": {
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "failedReason": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ],
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ],
          "description": "Output only. The reason why the test failed."
        },
        "roboStats": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats",
          "description": "Output only. The statistics collected during the Robo test."
        }
      },
      "description": "The results of running an automated test on a particular device."
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse",
      "description": "The response message for `EnableAccessOnRelease`."
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
      "properties": {
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test"
        },
        "loginCredential": {
          "description": "Optional. Login credential for automated tests",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        }
      },
      "type": "object",
      "description": "Configuration for Robo crawler"
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
      "description": "Details for an assertion step.",
      "properties": {
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An explanation justifying the assertion result."
        },
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "description": "Output only. The screenshot used in the context of this assertion.",
          "readOnly": true
        },
        "result": {
          "readOnly": true,
          "description": "Output only. The result of the assertion.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "description": "Captures the results of an AiStep",
      "properties": {
        "goalDetails": {
          "description": "Output only. Details for a goal step.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails"
        },
        "step": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep",
          "description": "Required. The step performed by the AI"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ],
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ],
          "description": "Output only. The current state of the step",
          "type": "string"
        },
        "assertionDetails": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
          "description": "Output only. Details for an assertion step.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult"
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions",
      "properties": {
        "steps": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          },
          "type": "array",
          "description": "Required. Steps to be accomplished by the AI"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "properties": {
        "reason": {
          "readOnly": true,
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ],
          "description": "Output only. The reason why this goal was ended.",
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ],
          "type": "string"
        },
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this terminal action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction",
      "description": "An action taken by the AI to end the goal."
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "type": "object",
      "properties": {},
      "description": "The response message for `CreateReleaseNotes`."
    },
    "GoogleFirebaseAppdistroV1Release": {
      "id": "GoogleFirebaseAppdistroV1Release",
      "description": "A release of a Firebase app.",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the release was last updated."
        },
        "binaryDownloadUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file."
        },
        "buildVersion": {
          "type": "string",
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "readOnly": true
        },
        "installationCount": {
          "description": "Output only. Number of testers who have downloaded this release.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "acceptedInvitationCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of testers with accepted invitations."
        },
        "firebaseConsoleUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A link to the Firebase console displaying a single release."
        },
        "testingUri": {
          "readOnly": true,
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
          "type": "string"
        },
        "feedbackCount": {
          "description": "Output only. Number of feedback reports left by testers.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes",
          "description": "Notes about the release."
        },
        "createTime": {
          "description": "Output only. The time the release was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "binaryType": {
          "enumDescriptions": [
            "unspecified binary type",
            "iOS App Store package",
            "Android Application package",
            "Android App Bundle"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "BINARY_TYPE_UNSPECIFIED",
            "IPA",
            "APK",
            "AAB"
          ],
          "description": "Output only. Type of binary."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. The time the release will expire.",
          "readOnly": true,
          "type": "string"
        },
        "testState": {
          "description": "Output only. The overall state of tests run on this release",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "NO_TESTS_REQUESTED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "No test state specified",
            "No tests have been requested for this release",
            "One or more device executions are in progress",
            "All device executions passed during the most recent test",
            "Some device executions failed during the most recent test",
            "Some device executions were inconclusive, but none failed, during the most recent test"
          ],
          "readOnly": true
        },
        "androidPackageRegistrationState": {
          "description": "Output only. Registration state of the Android package (BinaryType.APK).",
          "readOnly": true,
          "enum": [
            "ANDROID_PACKAGE_REGISTRATION_STATE_UNSPECIFIED",
            "REGISTERED",
            "NOT_REGISTERED",
            "REGISTERED_WITH_ANOTHER_CERTIFICATE_FINGERPRINT"
          ],
          "enumDescriptions": [
            "Default value.",
            "Package is registered with the release binary's certificate fingerprint.",
            "Package is not registered with any public certificate.",
            "Package is registered with another public certificate fingerprint."
          ],
          "type": "string"
        },
        "openInvitationCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of testers who were invited (incl. expired invitations), but did not (yet) accept the invitation."
        },
        "displayVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`."
        },
        "name": {
          "type": "string",
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "properties": {
        "releaseNotes": {
          "type": "string",
          "description": "The actual release notes text from the user."
        }
      },
      "description": "Release notes for a release.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "properties": {},
      "type": "object",
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "properties": {
        "testDevices": {
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest",
      "type": "object",
      "description": "Request message for `ClearTestCaseCache`."
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "properties": {
        "name": {
          "description": "The name of the tester's device",
          "type": "string"
        },
        "platform": {
          "description": "The platform of the tester's device",
          "type": "string"
        },
        "udid": {
          "type": "string",
          "description": "The UDID of the tester's device"
        }
      },
      "type": "object",
      "description": "The UDIDs of a tester's iOS device",
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "description": "Login credential for automated tests",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential",
      "properties": {
        "google": {
          "description": "Optional. Are these credentials for Google?",
          "type": "boolean"
        },
        "username": {
          "description": "Optional. Username for automated tests",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Password for automated tests"
        },
        "fieldHints": {
          "description": "Optional. Hints to the crawler for identifying input fields",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction",
      "description": "An action taken by the AI agent while attempting to accomplish a goal.",
      "properties": {
        "cachingType": {
          "readOnly": true,
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ],
          "description": "Output only. The type of caching used to determine the action.",
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ],
          "type": "string"
        },
        "debugInfo": {
          "description": "Output only. Debug information explaining why the agent to the specific action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the action started.",
          "readOnly": true
        },
        "deviceAction": {
          "description": "Output only. A high level action taken by the AI on the device.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction",
          "readOnly": true
        },
        "terminalAction": {
          "description": "Output only. An action taken by the AI to end the goal.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction",
          "readOnly": true
        },
        "explanation": {
          "description": "Output only. An explanation justifying why the action was taken.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "type": "object",
      "description": "The response message for `ListReleaseTests`.",
      "properties": {
        "releaseTests": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          },
          "type": "array",
          "description": "The tests listed."
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field.",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Output only. The text to enter.",
          "readOnly": true
        },
        "elementBounds": {
          "$ref": "AndroidxCrawlerOutputRectangle",
          "description": "Output only. The visible bounds of the element to enter text into.",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "properties": {
        "testerUdids": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          },
          "description": "The UDIDs of tester iOS devices in a project"
        }
      },
      "description": "Response containing the UDIDs of tester iOS devices in a project",
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "properties": {
        "duration": {
          "type": "string",
          "description": "Output only. The duration of the wait.",
          "format": "google-duration",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "type": "object",
      "description": "A wait action."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "description": "The request message for `UpdateTestCase`.",
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "type": "object",
      "properties": {
        "testCase": {
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "properties": {
        "targetFoldedState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`."
        },
        "longPress": {
          "readOnly": true,
          "description": "Output only. A long press (tap and hold) action.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "textInput": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one."
        },
        "swipe": {
          "description": "Output only. A swipe action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
          "readOnly": true
        },
        "tap": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. A tap action.",
          "readOnly": true
        },
        "targetOrientation": {
          "readOnly": true,
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ],
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "description": "Output only. The target orientation of the device in a set orientation action.",
          "type": "string"
        },
        "backAction": {
          "readOnly": true,
          "description": "Output only. A back action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack"
        },
        "dragAndDrop": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
          "description": "Output only. A drag and drop action.",
          "readOnly": true
        },
        "wait": {
          "description": "Output only. A wait action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
          "readOnly": true
        },
        "keyCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Key code for a key event action."
        },
        "enterText": {
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
          "readOnly": true
        },
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken.",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction",
      "description": "An interaction with the device, such as a tap, text entry, wait, etc.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "properties": {
        "goal": {
          "type": "string",
          "description": "A goal to be accomplished by the AI"
        },
        "assertion": {
          "type": "string",
          "description": "An assertion to be checked by the AI"
        },
        "testCase": {
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string",
          "readOnly": true
        },
        "successCriteria": {
          "type": "string",
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps."
        },
        "hint": {
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAiStep",
      "type": "object",
      "description": "A step to be accomplished by the AI"
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "description": "An app.",
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Bundle identifier"
        },
        "contactEmail": {
          "type": "string",
          "description": "Developer contact email for testers to reach out to about privacy or support issues."
        },
        "appId": {
          "type": "string",
          "description": "Firebase gmp app id"
        },
        "platform": {
          "description": "iOS or Android",
          "type": "string"
        },
        "aabCertificate": {
          "description": "App bundle test certificate generated for the app.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate"
        },
        "aabState": {
          "type": "string",
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ],
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ]
        },
        "projectNumber": {
          "description": "Project number of the Firebase project, for example 300830567303.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaApp"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "properties": {
        "testCases": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "type": "array",
          "description": "The updated test cases."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse",
      "type": "object",
      "description": "The response message for `BatchUpdateTestCase`."
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "properties": {
        "token": {
          "description": "The JWT token (three Base64URL-encoded strings joined by dots).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaJwt",
      "description": "A JWT token."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
      "description": "A back action.",
      "properties": {},
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the release notes."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "description": "Notes that belong to a release."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. A short description of the high level action taken by the AI agent.",
          "type": "string",
          "readOnly": true
        },
        "deviceInteractions": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          },
          "readOnly": true,
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse",
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "description": "A drag and drop action.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
      "properties": {
        "end": {
          "description": "Output only. The end point of the drag and drop.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "start": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. The start point of the drag and drop."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "description": "An app crash that occurred during an automated test.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash",
      "properties": {
        "stackTrace": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The raw stack trace."
        },
        "message": {
          "type": "string",
          "description": "Output only. The message associated with the crash.",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "description": "AI test cases",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "prerequisiteTestCase": {
          "description": "Optional. Test case that must be run before this test case.",
          "type": "string"
        },
        "dependentTestCases": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "type": "array"
        },
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the test case was created",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the test case."
        }
      }
    },
    "AndroidxCrawlerOutputPoint": {
      "properties": {
        "xCoordinate": {
          "type": "integer",
          "format": "int32"
        },
        "yCoordinate": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Point for describing bounding boxes tap locations Top left is 0,0",
      "id": "AndroidxCrawlerOutputPoint",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "properties": {
        "start": {
          "description": "Output only. The start point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        },
        "end": {
          "description": "Output only. The end point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        }
      },
      "description": "A swipe action.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe"
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "description": "Statistics collected during a Robo test.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats",
      "properties": {
        "distinctVisitedScreens": {
          "type": "integer",
          "description": "Output only. Number of distinct screens visited.",
          "format": "int32",
          "readOnly": true
        },
        "crawlDuration": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. Duration of crawl."
        },
        "actionsPerformed": {
          "description": "Output only. Number of actions that crawler performed.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "mainActivityCrawlTimedOut": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the main activity crawl timed out."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "description": "The response message for `ListTestCases`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "testCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "description": "The test cases from the specified app."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "description": "Instance of an automated test for a release.",
      "type": "object",
      "properties": {
        "deviceExecutions": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "type": "array",
          "description": "Required. The results of the test on each device."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the test was run.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "resultsBucket": {
          "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "testCase": {
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test."
        },
        "name": {
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
          "type": "string"
        },
        "testState": {
          "type": "string",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "readOnly": true,
          "description": "Output only. The state of the release test."
        },
        "loginCredential": {
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential",
          "description": "Optional. Input only. Login credentials for the test. Input only."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest"
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "properties": {
        "release": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease",
          "description": "Release object"
        }
      },
      "description": "Response object to get the release given a upload hash",
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "description": "A device screenshot taken during a test.",
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot",
      "type": "object",
      "properties": {
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The height of the screenshot, in pixels.",
          "readOnly": true
        },
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the screenshot."
        },
        "width": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The width of the screenshot, in pixels."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse",
      "description": "The response message for `GetUploadStatus`.",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the upload",
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ],
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ]
        },
        "release": {
          "description": "The release that was created from the upload (only set on \"SUCCESS\")",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        },
        "message": {
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client",
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
            "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND",
            "AAB_ANDROID_DEVELOPER_CONSOLE_PACKAGE_NOT_FOUND"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            "",
            "A corresponding Android Developer Console account for this app's Play Console account was not found.",
            "The package was not found in the Android Developer Console."
          ],
          "type": "string",
          "description": "The error code associated with (only set on \"FAILURE\")"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "type": "object",
      "description": "Information to help the customer understand why the agent took this action.",
      "properties": {
        "annotatedScreenshotUri": {
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "readOnly": true,
          "type": "string"
        },
        "jsonUri": {
          "description": "Output only. Structured data explaining the agent's choice.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "description": "Hints to the crawler for identifying input fields",
      "type": "object",
      "properties": {
        "usernameResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        },
        "passwordResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints"
    },
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails",
      "type": "object",
      "description": "Details for a goal step.",
      "properties": {
        "goalActions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "properties": {
        "buildVersion": {
          "description": "Release build version",
          "type": "string"
        },
        "openInvitationCount": {
          "description": "Number of testers who have open invitations for the release",
          "type": "integer",
          "format": "int32"
        },
        "testerWithInstallCount": {
          "description": "Number of testers who have installed the release",
          "type": "integer",
          "format": "int32"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id of the release"
        },
        "testerCount": {
          "format": "int32",
          "description": "Count of testers added to the release",
          "type": "integer"
        },
        "receivedAt": {
          "description": "unused. ",
          "type": "string",
          "format": "google-datetime",
          "deprecated": true
        },
        "releaseNotesSummary": {
          "description": "Release notes summary",
          "type": "string"
        },
        "distributedAt": {
          "format": "google-datetime",
          "description": "Timestamp when the release was created",
          "type": "string"
        },
        "displayVersion": {
          "type": "string",
          "description": "Release version"
        },
        "id": {
          "description": "Release Id",
          "type": "string"
        },
        "lastActivityAt": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last activity timestamp"
        }
      },
      "description": "Proto defining a release object"
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "properties": {
        "orientation": {
          "description": "Optional. The orientation of the device during the test.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test."
        },
        "version": {
          "description": "Required. The version of the device (API level on Android).",
          "type": "string"
        },
        "model": {
          "description": "Required. The device model.",
          "type": "string"
        }
      },
      "description": "A device on which automated tests can be run.",
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice",
      "type": "object"
    },
    "AndroidxCrawlerOutputRectangle": {
      "id": "AndroidxCrawlerOutputRectangle",
      "description": "Rectangle for describing bounding boxes",
      "properties": {
        "left": {
          "format": "int32",
          "type": "integer"
        },
        "bottom": {
          "type": "integer",
          "format": "int32"
        },
        "right": {
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "properties": {
        "requests": {
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest",
      "type": "object",
      "description": "The request message for `BatchUpdateTestCase`."
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "description": "The request message for `EnableAccessOnRelease`.",
      "type": "object",
      "properties": {
        "displayVersion": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id."
        },
        "buildVersion": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id."
        },
        "emails": {
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groupIds": {
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest",
      "description": "The request message for `BatchDeleteTestCase`."
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "description": "Operation metadata for `UploadRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "description": "Response message for `UploadRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "properties": {
        "result": {
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ],
          "description": "Result of upload release.",
          "type": "string",
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ]
        },
        "release": {
          "$ref": "GoogleFirebaseAppdistroV1Release",
          "description": "Release associated with the uploaded binary."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "type": "object",
      "description": "Configuration for automated tests",
      "properties": {
        "roboCrawler": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
          "description": "Optional. Configuration for Robo crawler"
        },
        "resultsBucket": {
          "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "testDevices": {
          "description": "Optional. Tests will be run on this list of devices",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "properties": {
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
          "description": "The actual release notes body from the user"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "type": "object",
      "description": "The request message for `CreateReleaseNotes`."
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "properties": {
        "certificateHashMd5": {
          "type": "string",
          "description": "MD5 hash of the certificate used to resign the AAB"
        },
        "certificateHashSha1": {
          "type": "string",
          "description": "SHA1 hash of the certificate used to resign the AAB"
        },
        "certificateHashSha256": {
          "description": "SHA256 hash of the certificate used to resign the AAB",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "description": "App bundle test certificate"
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota",
      "properties": {
        "name": {
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`",
          "type": "string"
        },
        "limit": {
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "usage": {
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha",
  "batchPath": "batch",
  "ownerName": "Google",
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "title": "Firebase App Distribution API",
  "revision": "20260831",
  "basePath": ""
}