{
  "mtlsRootUrl": "https://forms.mtls.googleapis.com/",
  "title": "Google Forms API",
  "canonicalName": "Forms",
  "revision": "20260823",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "name": "forms",
  "documentationLink": "https://developers.google.com/workspace/forms/api",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://forms.googleapis.com/",
  "schemas": {
    "Response": {
      "id": "Response",
      "properties": {
        "createItem": {
          "description": "The result of creating an item.",
          "$ref": "CreateItemResponse"
        }
      },
      "description": "A single response from an update.",
      "type": "object"
    },
    "ChoiceQuestion": {
      "id": "ChoiceQuestion",
      "description": "A radio/checkbox/dropdown question.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The type of choice question.",
          "type": "string",
          "enum": [
            "CHOICE_TYPE_UNSPECIFIED",
            "RADIO",
            "CHECKBOX",
            "DROP_DOWN"
          ],
          "enumDescriptions": [
            "Default value. Unused.",
            "Radio buttons: All choices are shown to the user, who can only pick one of them.",
            "Checkboxes: All choices are shown to the user, who can pick any number of them.",
            "Drop-down menu: The choices are only shown to the user on demand, otherwise only the current choice is shown. Only one option can be chosen."
          ]
        },
        "options": {
          "items": {
            "$ref": "Option"
          },
          "type": "array",
          "description": "Required. List of options that a respondent must choose from."
        },
        "shuffle": {
          "description": "Whether the options should be displayed in random order for different instances of the quiz. This is often used to prevent cheating by respondents who might be looking at another respondent's screen, or to address bias in a survey that might be introduced by always putting the same options first or last.",
          "type": "boolean"
        }
      }
    },
    "ScaleQuestion": {
      "type": "object",
      "description": "A scale question. The user has a range of numeric values to choose from.",
      "properties": {
        "low": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The lowest possible value for the scale."
        },
        "highLabel": {
          "type": "string",
          "description": "The label to display describing the highest point on the scale."
        },
        "high": {
          "description": "Required. The highest possible value for the scale.",
          "format": "int32",
          "type": "integer"
        },
        "lowLabel": {
          "type": "string",
          "description": "The label to display describing the lowest point on the scale."
        }
      },
      "id": "ScaleQuestion"
    },
    "TextLink": {
      "type": "object",
      "properties": {
        "displayText": {
          "description": "Required. Display text for the URI.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. The URI."
        }
      },
      "id": "TextLink",
      "description": "Link for text."
    },
    "Grid": {
      "id": "Grid",
      "description": "A grid of choices (radio or check boxes) with each row constituting a separate question. Each row has the same choices, which are shown as the columns.",
      "type": "object",
      "properties": {
        "columns": {
          "description": "Required. The choices shared by each question in the grid. In other words, the values of the columns. Only `CHECK_BOX` and `RADIO` choices are allowed.",
          "$ref": "ChoiceQuestion"
        },
        "shuffleQuestions": {
          "type": "boolean",
          "description": "If `true`, the questions are randomly ordered. In other words, the rows appear in a different order for every respondent."
        }
      }
    },
    "ListWatchesResponse": {
      "properties": {
        "watches": {
          "description": "The returned watches.",
          "items": {
            "$ref": "Watch"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response of a ListWatchesRequest.",
      "id": "ListWatchesResponse"
    },
    "TextAnswers": {
      "description": "A question's answers as text.",
      "properties": {
        "answers": {
          "readOnly": true,
          "items": {
            "$ref": "TextAnswer"
          },
          "description": "Output only. Answers to a question. For multiple-value ChoiceQuestions, each answer is a separate value.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TextAnswers"
    },
    "FormResponse": {
      "description": "A form response.",
      "type": "object",
      "properties": {
        "formId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The form ID."
        },
        "respondentEmail": {
          "description": "Output only. The email address (if collected) for the respondent.",
          "type": "string",
          "readOnly": true
        },
        "lastSubmittedTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp for the most recent time the response was submitted. Does not track changes to grades."
        },
        "responseId": {
          "type": "string",
          "description": "Output only. The response ID.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Timestamp for the first time the response was submitted.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "answers": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "Answer"
          },
          "description": "Output only. The actual answers to the questions, keyed by question_id."
        },
        "totalScore": {
          "type": "number",
          "format": "double",
          "readOnly": true,
          "description": "Output only. The total number of points the respondent received for their submission Only set if the form was a quiz and the response was graded. This includes points automatically awarded via autograding adjusted by any manual corrections entered by the form owner."
        }
      },
      "id": "FormResponse"
    },
    "UpdateFormInfoRequest": {
      "id": "UpdateFormInfoRequest",
      "properties": {
        "info": {
          "description": "The info to update.",
          "$ref": "Info"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `info` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Update Form's Info."
    },
    "QuizSettings": {
      "id": "QuizSettings",
      "properties": {
        "isQuiz": {
          "description": "Whether this form is a quiz or not. When true, responses are graded based on question Grading. Upon setting to false, all question Grading is deleted.",
          "type": "boolean"
        }
      },
      "description": "Settings related to quiz forms and grading. These must be updated with the UpdateSettingsRequest.",
      "type": "object"
    },
    "Form": {
      "type": "object",
      "description": "A Google Forms document. A form is created in Drive, and deleting a form or changing its access protections is done via the [Drive API](https://developers.google.com/drive/api/v3/about-sdk).",
      "id": "Form",
      "properties": {
        "formId": {
          "description": "Output only. The form ID.",
          "readOnly": true,
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Item"
          },
          "description": "Required. A list of the form's items, which can include section headers, questions, embedded media, etc."
        },
        "settings": {
          "description": "The form's settings. This must be updated with UpdateSettingsRequest; it is ignored during CreateForm and UpdateFormInfoRequest.",
          "$ref": "FormSettings"
        },
        "responderUri": {
          "readOnly": true,
          "description": "Output only. The form URI to share with responders. This opens a page that allows the user to submit responses but not edit the questions. For forms that have publish_settings value set, this is the published form URI.",
          "type": "string"
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The revision ID of the form. Used in the WriteControl in update requests to identify the revision on which the changes are based. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the form *content* has not changed. Conversely, a changed ID (for the same form and user) usually means the form *content* has been updated; however, a changed ID can also be due to internal factors such as ID format changes. Form content excludes form metadata, including: * sharing settings (who has access to the form) * publish_settings (if the form supports publishing and if it is published)"
        },
        "info": {
          "description": "Required. The title and description of the form.",
          "$ref": "Info"
        },
        "linkedSheetId": {
          "readOnly": true,
          "description": "Output only. The ID of the linked Google Sheet which is accumulating responses from this Form (if such a Sheet exists).",
          "type": "string"
        },
        "publishSettings": {
          "description": "Output only. The publishing settings for a form. This field isn't set for legacy forms because they don't have the publish_settings field. All newly created forms support publish settings. Forms with publish_settings value set can call SetPublishSettings API to publish or unpublish the form.",
          "$ref": "PublishSettings",
          "readOnly": true
        }
      }
    },
    "WriteControl": {
      "description": "Provides control over how write requests are executed.",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the form that the write request is applied to. If this is not the latest revision of the form, the request is not processed and returns a 400 bad request error.",
          "type": "string"
        },
        "targetRevisionId": {
          "type": "string",
          "description": "The target revision ID of the form that the write request is applied to. If changes have occurred after this revision, the changes in this update request are transformed against those changes. This results in a new revision of the form that incorporates both the changes in the request and the intervening changes, with the server resolving conflicting changes. The target revision ID may only be used to write to recent versions of a form. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 (Bad Request Error). The request may be retried after reading the latest version of the form. In most cases a target revision ID remains valid for several minutes after it is read, but for frequently-edited forms this window may be shorter."
        }
      },
      "id": "WriteControl",
      "type": "object"
    },
    "Option": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The choice as presented to the user.",
          "type": "string"
        },
        "goToAction": {
          "enum": [
            "GO_TO_ACTION_UNSPECIFIED",
            "NEXT_SECTION",
            "RESTART_FORM",
            "SUBMIT_FORM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Unused.",
            "Go to the next section.",
            "Go back to the beginning of the form.",
            "Submit form immediately."
          ],
          "description": "Section navigation type."
        },
        "image": {
          "$ref": "Image",
          "description": "Display image as an option."
        },
        "goToSectionId": {
          "type": "string",
          "description": "Item ID of section header to go to."
        },
        "isOther": {
          "description": "Whether the option is \"other\". Currently only applies to `RADIO` and `CHECKBOX` choice types, but is not allowed in a QuestionGroupItem.",
          "type": "boolean"
        }
      },
      "id": "Option",
      "description": "An option for a Choice question."
    },
    "PageBreakItem": {
      "id": "PageBreakItem",
      "description": "A page break. The title and description of this item are shown at the top of the new page.",
      "type": "object",
      "properties": {}
    },
    "ListFormResponsesResponse": {
      "properties": {
        "responses": {
          "type": "array",
          "description": "The returned form responses. Note: The `formId` field is not returned in the `FormResponse` object for list requests.",
          "items": {
            "$ref": "FormResponse"
          }
        },
        "nextPageToken": {
          "description": "If set, there are more responses. To get the next page of responses, provide this as `page_token` in a future request.",
          "type": "string"
        }
      },
      "description": "Response to a ListFormResponsesRequest.",
      "type": "object",
      "id": "ListFormResponsesResponse"
    },
    "Watch": {
      "id": "Watch",
      "description": "A watch for events for a form. When the designated event happens, a notification will be published to the specified target. The notification's attributes will include a `formId` key that has the ID of the watched form and an `eventType` key that has the string of the type. Messages are sent with at-least-once delivery and are only dropped in extraordinary circumstances. Typically all notifications should be reliably delivered within a few seconds; however, in some situations notifications may be delayed. A watch expires seven days after it is created unless it is renewed with watches.renew",
      "properties": {
        "target": {
          "description": "Required. Where to send the notification.",
          "$ref": "WatchTarget"
        },
        "state": {
          "description": "Output only. The current state of the watch. Additional details about suspended watches can be found by checking the `error_type`.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Watch is active.",
            "The watch is suspended due to an error that may be resolved. The watch will continue to exist until it expires. To attempt to reactivate the watch a call can be made to watches.renew"
          ]
        },
        "eventType": {
          "description": "Required. Which event type to watch for.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "SCHEMA",
            "RESPONSES"
          ],
          "enumDescriptions": [
            "Unspecified event type. This value should not be used.",
            "The schema event type. A watch with this event type will be notified about changes to form content and settings.",
            "The responses event type. A watch with this event type will be notified when form responses are submitted."
          ],
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of this watch. See notes on CreateWatchRequest.watch_id.",
          "type": "string",
          "readOnly": true
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. Timestamp for when this will expire. Each watches.renew call resets this to seven days in the future.",
          "type": "string",
          "format": "google-datetime"
        },
        "errorType": {
          "enumDescriptions": [
            "Unspecified error type.",
            "The cloud project does not have access to the form being watched. This occurs if the user has revoked the authorization for your project to access their form(s). Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "The user that granted access no longer has access to the form being watched. Watches with this error will not be retried. To attempt to begin watching the form again a call can be made to watches.renew",
            "Another type of error has occurred. Whether notifications will continue depends on the watch state."
          ],
          "description": "Output only. The most recent error type for an attempted delivery. To begin watching the form again a call can be made to watches.renew which also clears this error information.",
          "readOnly": true,
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "PROJECT_NOT_AUTHORIZED",
            "NO_USER_ACCESS",
            "OTHER_ERRORS"
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp of when this was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "TimeQuestion": {
      "description": "A time question.",
      "properties": {
        "duration": {
          "type": "boolean",
          "description": "`true` if the question is about an elapsed time. Otherwise it is about a time of day."
        }
      },
      "id": "TimeQuestion",
      "type": "object"
    },
    "DateQuestion": {
      "type": "object",
      "id": "DateQuestion",
      "description": "A date question. Date questions default to just month + day.",
      "properties": {
        "includeTime": {
          "description": "Whether to include the time as part of the question.",
          "type": "boolean"
        },
        "includeYear": {
          "type": "boolean",
          "description": "Whether to include the year as part of the question."
        }
      }
    },
    "RatingQuestion": {
      "id": "RatingQuestion",
      "type": "object",
      "description": "A rating question. The user has a range of icons to choose from.",
      "properties": {
        "iconType": {
          "enumDescriptions": [
            "Default value. Unused.",
            "A star icon.",
            "A heart icon.",
            "A thumbs down icon."
          ],
          "type": "string",
          "description": "Required. The icon type to use for the rating.",
          "enum": [
            "RATING_ICON_TYPE_UNSPECIFIED",
            "STAR",
            "HEART",
            "THUMB_UP"
          ]
        },
        "ratingScaleLevel": {
          "description": "Required. The rating scale level of the rating question.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "WatchTarget": {
      "type": "object",
      "description": "The target for notification delivery.",
      "id": "WatchTarget",
      "properties": {
        "topic": {
          "$ref": "CloudPubsubTopic",
          "description": "A Pub/Sub topic. To receive notifications, the topic must grant publish privileges to the Forms service account `serviceAccount:forms-notifications@system.gserviceaccount.com`. Only the project that owns a topic may create a watch with it. Pub/Sub delivery guarantees should be considered."
        }
      }
    },
    "CreateWatchRequest": {
      "properties": {
        "watch": {
          "description": "Required. The watch object. No ID should be set on this object; use `watch_id` instead.",
          "$ref": "Watch"
        },
        "watchId": {
          "description": "The ID to use for the watch. If specified, the ID must not already be in use. If not specified, an ID is generated. This value should be 4-63 characters, and valid characters are /a-z-/.",
          "type": "string"
        }
      },
      "description": "Create a new watch.",
      "type": "object",
      "id": "CreateWatchRequest"
    },
    "DeleteItemRequest": {
      "type": "object",
      "description": "Delete an item in a form.",
      "id": "DeleteItemRequest",
      "properties": {
        "location": {
          "description": "Required. The location of the item to delete.",
          "$ref": "Location"
        }
      }
    },
    "Grading": {
      "properties": {
        "generalFeedback": {
          "description": "The feedback displayed for all answers. This is commonly used for short answer questions when a quiz owner wants to quickly give respondents some sense of whether they answered the question correctly before they've had a chance to officially grade the response. General feedback cannot be set for automatically graded multiple choice questions.",
          "$ref": "Feedback"
        },
        "pointValue": {
          "description": "Required. The maximum number of points a respondent can automatically get for a correct answer. This must not be negative.",
          "type": "integer",
          "format": "int32"
        },
        "correctAnswers": {
          "$ref": "CorrectAnswers",
          "description": "Required. The answer key for the question. Responses are automatically graded based on this field."
        },
        "whenWrong": {
          "description": "The feedback displayed for incorrect responses. This feedback can only be set for multiple choice questions that have correct answers provided.",
          "$ref": "Feedback"
        },
        "whenRight": {
          "$ref": "Feedback",
          "description": "The feedback displayed for correct responses. This feedback can only be set for multiple choice questions that have correct answers provided."
        }
      },
      "description": "Grading for a single question",
      "id": "Grading",
      "type": "object"
    },
    "MediaProperties": {
      "id": "MediaProperties",
      "description": "Properties of the media.",
      "type": "object",
      "properties": {
        "alignment": {
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT",
            "CENTER"
          ],
          "description": "Position of the media.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Unused.",
            "Left align.",
            "Right align.",
            "Center."
          ]
        },
        "width": {
          "type": "integer",
          "description": "The width of the media in pixels. When the media is displayed, it is scaled to the smaller of this value or the width of the displayed form. The original aspect ratio of the media is preserved. If a width is not specified when the media is added to the form, it is set to the width of the media source. Width must be between 0 and 740, inclusive. Setting width to 0 or unspecified is only permitted when updating the media source.",
          "format": "int32"
        }
      }
    },
    "PublishState": {
      "properties": {
        "isAcceptingResponses": {
          "description": "Required. Whether the form accepts responses. If `is_published` is set to `false`, this field is forced to `false`.",
          "type": "boolean"
        },
        "isPublished": {
          "type": "boolean",
          "description": "Required. Whether the form is published and visible to others."
        }
      },
      "description": "The publishing state of a form.",
      "type": "object",
      "id": "PublishState"
    },
    "VideoItem": {
      "type": "object",
      "properties": {
        "video": {
          "description": "Required. The video displayed in the item.",
          "$ref": "Video"
        },
        "caption": {
          "type": "string",
          "description": "The text displayed below the video."
        }
      },
      "description": "An item containing a video.",
      "id": "VideoItem"
    },
    "Grade": {
      "description": "Grade information associated with a respondent's answer to a question.",
      "properties": {
        "feedback": {
          "description": "Output only. Additional feedback given for an answer.",
          "readOnly": true,
          "$ref": "Feedback"
        },
        "correct": {
          "description": "Output only. Whether the question was answered correctly or not. A zero-point score is not enough to infer incorrectness, since a correctly answered question could be worth zero points.",
          "readOnly": true,
          "type": "boolean"
        },
        "score": {
          "type": "number",
          "description": "Output only. The numeric score awarded for the answer.",
          "format": "double",
          "readOnly": true
        }
      },
      "id": "Grade",
      "type": "object"
    },
    "QuestionGroupItem": {
      "description": "Defines a question that comprises multiple questions grouped together.",
      "properties": {
        "grid": {
          "description": "The question group is a grid with rows of multiple choice questions that share the same options. When `grid` is set, all questions in the group must be of kind `row`.",
          "$ref": "Grid"
        },
        "questions": {
          "description": "Required. A list of questions that belong in this question group. A question must only belong to one group. The `kind` of the group may affect what types of questions are allowed.",
          "items": {
            "$ref": "Question"
          },
          "type": "array"
        },
        "image": {
          "description": "The image displayed within the question group above the specific questions.",
          "$ref": "Image"
        }
      },
      "type": "object",
      "id": "QuestionGroupItem"
    },
    "UpdateItemRequest": {
      "id": "UpdateItemRequest",
      "description": "Update an item in a form.",
      "type": "object",
      "properties": {
        "item": {
          "description": "Required. New values for the item. Note that item and question IDs are used if they are provided (and are in the field mask). If an ID is blank (and in the field mask) a new ID is generated. This means you can modify an item by getting the form via forms.get, modifying your local copy of that item to be how you want it, and using UpdateItemRequest to write it back, with the IDs being the same (or not in the field mask).",
          "$ref": "Item"
        },
        "updateMask": {
          "description": "Required. Only values named in this mask are changed.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "location": {
          "$ref": "Location",
          "description": "Required. The location identifying the item to update."
        }
      }
    },
    "VideoLink": {
      "id": "VideoLink",
      "properties": {
        "displayText": {
          "type": "string",
          "description": "Required. The display text for the link."
        },
        "youtubeUri": {
          "description": "The URI of a YouTube video.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Link to a video."
    },
    "RowQuestion": {
      "properties": {
        "title": {
          "description": "Required. The title for the single row in the QuestionGroupItem.",
          "type": "string"
        }
      },
      "id": "RowQuestion",
      "description": "Configuration for a question that is part of a question group.",
      "type": "object"
    },
    "MoveItemRequest": {
      "id": "MoveItemRequest",
      "type": "object",
      "description": "Move an item in a form.",
      "properties": {
        "originalLocation": {
          "$ref": "Location",
          "description": "Required. The location of the item to move."
        },
        "newLocation": {
          "$ref": "Location",
          "description": "Required. The new location for the item."
        }
      }
    },
    "ExtraMaterial": {
      "id": "ExtraMaterial",
      "properties": {
        "video": {
          "description": "Video feedback.",
          "$ref": "VideoLink"
        },
        "link": {
          "description": "Text feedback.",
          "$ref": "TextLink"
        }
      },
      "type": "object",
      "description": "Supplementary material to the feedback."
    },
    "RenewWatchRequest": {
      "description": "Renew an existing Watch for seven days.",
      "type": "object",
      "properties": {},
      "id": "RenewWatchRequest"
    },
    "CorrectAnswers": {
      "id": "CorrectAnswers",
      "description": "The answer key for a question.",
      "properties": {
        "answers": {
          "type": "array",
          "description": "A list of correct answers. A quiz response can be automatically graded based on these answers. For single-valued questions, a response is marked correct if it matches any value in this list (in other words, multiple correct answers are possible). For multiple-valued (`CHECKBOX`) questions, a response is marked correct if it contains exactly the values in this list.",
          "items": {
            "$ref": "CorrectAnswer"
          }
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "Question": {
      "description": "Any question. The specific type of question is known by its `kind`.",
      "id": "Question",
      "properties": {
        "rowQuestion": {
          "description": "A row of a QuestionGroupItem.",
          "$ref": "RowQuestion"
        },
        "required": {
          "type": "boolean",
          "description": "Whether the question must be answered in order for a respondent to submit their response."
        },
        "choiceQuestion": {
          "$ref": "ChoiceQuestion",
          "description": "A respondent can choose from a pre-defined set of options."
        },
        "scaleQuestion": {
          "description": "A respondent can choose a number from a range.",
          "$ref": "ScaleQuestion"
        },
        "timeQuestion": {
          "description": "A respondent can enter a time.",
          "$ref": "TimeQuestion"
        },
        "grading": {
          "$ref": "Grading",
          "description": "Grading setup for the question."
        },
        "questionId": {
          "type": "string",
          "description": "Read only. The question ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned."
        },
        "ratingQuestion": {
          "description": "A respondent can choose a rating from a pre-defined set of icons.",
          "$ref": "RatingQuestion"
        },
        "fileUploadQuestion": {
          "description": "A respondent can upload one or more files.",
          "$ref": "FileUploadQuestion"
        },
        "dateQuestion": {
          "description": "A respondent can enter a date.",
          "$ref": "DateQuestion"
        },
        "textQuestion": {
          "$ref": "TextQuestion",
          "description": "A respondent can enter a free text response."
        }
      },
      "type": "object"
    },
    "CloudPubsubTopic": {
      "type": "object",
      "id": "CloudPubsubTopic",
      "properties": {
        "topicName": {
          "description": "Required. A fully qualified Pub/Sub topic name to publish the events to. This topic must be owned by the calling project and already exist in Pub/Sub.",
          "type": "string"
        }
      },
      "description": "A Pub/Sub topic."
    },
    "QuestionItem": {
      "id": "QuestionItem",
      "description": "A form item containing a single question.",
      "type": "object",
      "properties": {
        "question": {
          "$ref": "Question",
          "description": "Required. The displayed question."
        },
        "image": {
          "description": "The image displayed within the question.",
          "$ref": "Image"
        }
      }
    },
    "Video": {
      "id": "Video",
      "description": "Data representing a video.",
      "properties": {
        "youtubeUri": {
          "description": "Required. A YouTube URI.",
          "type": "string"
        },
        "properties": {
          "$ref": "MediaProperties",
          "description": "Properties of a video."
        }
      },
      "type": "object"
    },
    "TextAnswer": {
      "id": "TextAnswer",
      "properties": {
        "value": {
          "readOnly": true,
          "description": "Output only. The answer value. Formatting used for different kinds of question: * ChoiceQuestion * `RADIO` or `DROP_DOWN`: A single string corresponding to the option that was selected. * `CHECKBOX`: Multiple strings corresponding to each option that was selected. * TextQuestion: The text that the user entered. * ScaleQuestion: A string containing the number that was selected. * DateQuestion * Without time or year: MM-DD e.g. \"05-19\" * With year: YYYY-MM-DD e.g. \"1986-05-19\" * With time: MM-DD HH:MM e.g. \"05-19 14:51\" * With year and time: YYYY-MM-DD HH:MM e.g. \"1986-05-19 14:51\" * TimeQuestion: String with time or duration in HH:MM format e.g. \"14:51\" * RowQuestion within QuestionGroupItem: The answer for each row of a QuestionGroupItem is represented as a separate Answer. Each will contain one string for `RADIO`-type choices or multiple strings for `CHECKBOX` choices.",
          "type": "string"
        }
      },
      "description": "An answer to a question represented as text.",
      "type": "object"
    },
    "TextItem": {
      "properties": {},
      "description": "A text item.",
      "id": "TextItem",
      "type": "object"
    },
    "BatchUpdateFormResponse": {
      "description": "Response to a BatchUpdateFormRequest.",
      "properties": {
        "form": {
          "description": "Based on the bool request field `include_form_in_response`, a form with all applied mutations/updates is returned or not. This may be later than the revision ID created by these changes.",
          "$ref": "Form"
        },
        "writeControl": {
          "description": "The updated write control after applying the request.",
          "$ref": "WriteControl"
        },
        "replies": {
          "items": {
            "$ref": "Response"
          },
          "description": "The reply of the updates. This maps 1:1 with the update requests, although replies to some requests may be empty.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchUpdateFormResponse"
    },
    "PublishSettings": {
      "type": "object",
      "id": "PublishSettings",
      "properties": {
        "publishState": {
          "$ref": "PublishState",
          "description": "Optional. The publishing state of a form. When updating `publish_state`, both `is_published` and `is_accepting_responses` must be set. However, setting `is_accepting_responses` to `true` and `is_published` to `false` isn't supported and returns an error."
        }
      },
      "description": "The publishing settings of a form."
    },
    "CreateItemRequest": {
      "properties": {
        "item": {
          "description": "Required. The item to create.",
          "$ref": "Item"
        },
        "location": {
          "$ref": "Location",
          "description": "Required. Where to place the new item."
        }
      },
      "type": "object",
      "id": "CreateItemRequest",
      "description": "Create an item in a form."
    },
    "SetPublishSettingsResponse": {
      "properties": {
        "formId": {
          "type": "string",
          "description": "Required. The ID of the Form. This is same as the Form.form_id field."
        },
        "publishSettings": {
          "description": "The publish settings of the form.",
          "$ref": "PublishSettings"
        }
      },
      "id": "SetPublishSettingsResponse",
      "description": "The response of a SetPublishSettings request.",
      "type": "object"
    },
    "FileUploadAnswers": {
      "description": "All submitted files for a FileUpload question.",
      "id": "FileUploadAnswers",
      "properties": {
        "answers": {
          "items": {
            "$ref": "FileUploadAnswer"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. All submitted files for a FileUpload question."
        }
      },
      "type": "object"
    },
    "Image": {
      "description": "Data representing an image.",
      "type": "object",
      "id": "Image",
      "properties": {
        "sourceUri": {
          "description": "Input only. The source URI is the URI used to insert the image. The source URI can be empty when fetched.",
          "type": "string"
        },
        "properties": {
          "description": "Properties of an image.",
          "$ref": "MediaProperties"
        },
        "altText": {
          "type": "string",
          "description": "A description of the image that is shown on hover and read by screenreaders."
        },
        "contentUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A URI from which you can download the image; this is valid only for a limited time."
        }
      }
    },
    "Answer": {
      "description": "The submitted answer for a question.",
      "id": "Answer",
      "properties": {
        "textAnswers": {
          "$ref": "TextAnswers",
          "description": "Output only. The specific answers as text.",
          "readOnly": true
        },
        "fileUploadAnswers": {
          "readOnly": true,
          "description": "Output only. The answers to a file upload question.",
          "$ref": "FileUploadAnswers"
        },
        "grade": {
          "description": "Output only. The grade for the answer if the form was a quiz.",
          "readOnly": true,
          "$ref": "Grade"
        },
        "questionId": {
          "type": "string",
          "description": "Output only. The question's ID. See also Question.question_id.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "FileUploadQuestion": {
      "id": "FileUploadQuestion",
      "type": "object",
      "properties": {
        "folderId": {
          "description": "Required. The ID of the Drive folder where uploaded files are stored.",
          "type": "string"
        },
        "maxFileSize": {
          "type": "string",
          "format": "int64",
          "description": "Maximum number of bytes allowed for any single file uploaded to this question."
        },
        "maxFiles": {
          "description": "Maximum number of files that can be uploaded for this question in a single response.",
          "type": "integer",
          "format": "int32"
        },
        "types": {
          "description": "File types accepted by this question.",
          "items": {
            "type": "string",
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "ANY",
              "DOCUMENT",
              "PRESENTATION",
              "SPREADSHEET",
              "DRAWING",
              "PDF",
              "IMAGE",
              "VIDEO",
              "AUDIO"
            ],
            "enumDescriptions": [
              "Default value. Unused.",
              "No restrictions on type.",
              "A Google Docs document.",
              "A Google Slides presentation.",
              "A Google Sheets spreadsheet.",
              "A drawing.",
              "A PDF.",
              "An image.",
              "A video.",
              "An audio file."
            ]
          },
          "type": "array"
        }
      },
      "description": "A file upload question. The API currently does not support creating file upload questions."
    },
    "TextQuestion": {
      "id": "TextQuestion",
      "description": "A text-based question.",
      "type": "object",
      "properties": {
        "paragraph": {
          "description": "Whether the question is a paragraph question or not. If not, the question is a short text question.",
          "type": "boolean"
        }
      }
    },
    "Feedback": {
      "description": "Feedback for a respondent about their response to a question.",
      "id": "Feedback",
      "properties": {
        "material": {
          "description": "Additional information provided as part of the feedback, often used to point the respondent to more reading and resources.",
          "type": "array",
          "items": {
            "$ref": "ExtraMaterial"
          }
        },
        "text": {
          "type": "string",
          "description": "Required. The main text of the feedback."
        }
      },
      "type": "object"
    },
    "FormSettings": {
      "id": "FormSettings",
      "properties": {
        "quizSettings": {
          "description": "Settings related to quiz forms and grading.",
          "$ref": "QuizSettings"
        },
        "emailCollectionType": {
          "enum": [
            "EMAIL_COLLECTION_TYPE_UNSPECIFIED",
            "DO_NOT_COLLECT",
            "VERIFIED",
            "RESPONDER_INPUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value is unused.",
            "The form doesn't collect email addresses. Default value if the form owner uses a Google account.",
            "The form collects email addresses automatically based on the account of the signed-in user. Default value if the form owner uses a Google Workspace account.",
            "The form collects email addresses using a field that the respondent completes on the form."
          ],
          "description": "Optional. The setting that determines whether the form collects email addresses from respondents."
        }
      },
      "description": "A form's settings.",
      "type": "object"
    },
    "UpdateSettingsRequest": {
      "properties": {
        "settings": {
          "$ref": "FormSettings",
          "description": "Required. The settings to update with."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. Only values named in this mask are changed. At least one field must be specified. The root `settings` is implied and should not be specified. A single `\"*\"` can be used as short-hand for updating every field."
        }
      },
      "description": "Update Form's FormSettings.",
      "type": "object",
      "id": "UpdateSettingsRequest"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A specific location in a form.",
      "properties": {
        "index": {
          "format": "int32",
          "description": "The index of an item in the form. This must be in the range [0..*N*), where *N* is the number of items in the form.",
          "type": "integer"
        }
      }
    },
    "Item": {
      "type": "object",
      "description": "A single item of the form. `kind` defines which kind of item it is.",
      "properties": {
        "questionItem": {
          "description": "Poses a question to the user.",
          "$ref": "QuestionItem"
        },
        "title": {
          "description": "The title of the item.",
          "type": "string"
        },
        "itemId": {
          "type": "string",
          "description": "The item ID. On creation, it can be provided but the ID must not be already used in the form. If not provided, a new ID is assigned."
        },
        "textItem": {
          "description": "Displays a title and description on the page.",
          "$ref": "TextItem"
        },
        "description": {
          "description": "The description of the item.",
          "type": "string"
        },
        "imageItem": {
          "$ref": "ImageItem",
          "description": "Displays an image on the page."
        },
        "questionGroupItem": {
          "description": "Poses one or more questions to the user with a single major prompt.",
          "$ref": "QuestionGroupItem"
        },
        "videoItem": {
          "description": "Displays a video on the page.",
          "$ref": "VideoItem"
        },
        "pageBreakItem": {
          "$ref": "PageBreakItem",
          "description": "Starts a new page with a title."
        }
      },
      "id": "Item"
    },
    "ImageItem": {
      "description": "An item containing an image.",
      "id": "ImageItem",
      "properties": {
        "image": {
          "description": "Required. The image displayed in the item.",
          "$ref": "Image"
        }
      },
      "type": "object"
    },
    "Info": {
      "properties": {
        "documentTitle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the document which is visible in Drive. If Info.title is empty, `document_title` may appear in its place in the Google Forms UI and be visible to responders. `document_title` can be set on create, but cannot be modified by a batchUpdate request. Please use the [Google Drive API](https://developers.google.com/drive/api/v3/reference/files/update) if you need to programmatically update `document_title`."
        },
        "title": {
          "description": "Required. The title of the form which is visible to responders.",
          "type": "string"
        },
        "description": {
          "description": "The description of the form.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Info",
      "description": "The general information for a form."
    },
    "CorrectAnswer": {
      "description": "A single correct answer for a question. For multiple-valued (`CHECKBOX`) questions, several `CorrectAnswer`s may be needed to represent a single correct response option.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The correct answer value. See the documentation for TextAnswer.value for details on how various value types are formatted."
        }
      },
      "id": "CorrectAnswer",
      "type": "object"
    },
    "SetPublishSettingsRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Optional. The `publish_settings` fields to update. This field mask accepts the following values: * `publish_state`: Updates or replaces all `publish_state` settings. * `\"*\"`: Updates or replaces all `publish_settings` fields.",
          "type": "string"
        },
        "publishSettings": {
          "$ref": "PublishSettings",
          "description": "Required. The desired publish settings to apply to the form."
        }
      },
      "description": "Updates the publish settings of a Form.",
      "type": "object",
      "id": "SetPublishSettingsRequest"
    },
    "Request": {
      "properties": {
        "createItem": {
          "$ref": "CreateItemRequest",
          "description": "Create a new item."
        },
        "deleteItem": {
          "$ref": "DeleteItemRequest",
          "description": "Delete an item."
        },
        "updateItem": {
          "$ref": "UpdateItemRequest",
          "description": "Update an item."
        },
        "updateSettings": {
          "description": "Updates the Form's settings.",
          "$ref": "UpdateSettingsRequest"
        },
        "updateFormInfo": {
          "description": "Update Form's Info.",
          "$ref": "UpdateFormInfoRequest"
        },
        "moveItem": {
          "description": "Move an item to a specified location.",
          "$ref": "MoveItemRequest"
        }
      },
      "description": "The kinds of update requests that can be made.",
      "type": "object",
      "id": "Request"
    },
    "BatchUpdateFormRequest": {
      "type": "object",
      "properties": {
        "includeFormInResponse": {
          "type": "boolean",
          "description": "Whether to return an updated version of the model in the response."
        },
        "requests": {
          "type": "array",
          "description": "Required. The update requests of this batch.",
          "items": {
            "$ref": "Request"
          }
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "WriteControl"
        }
      },
      "id": "BatchUpdateFormRequest",
      "description": "A batch of updates to perform on a form. All the specified updates are made or none of them are."
    },
    "CreateItemResponse": {
      "type": "object",
      "description": "The result of creating an item.",
      "properties": {
        "itemId": {
          "description": "The ID of the created item.",
          "type": "string"
        },
        "questionId": {
          "items": {
            "type": "string"
          },
          "description": "The ID of the question created as part of this item, for a question group it lists IDs of all the questions created for this item.",
          "type": "array"
        }
      },
      "id": "CreateItemResponse"
    },
    "FileUploadAnswer": {
      "description": "Info for a single file submitted to a file upload question.",
      "type": "object",
      "id": "FileUploadAnswer",
      "properties": {
        "fileName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The file name, as stored in Google Drive on upload."
        },
        "mimeType": {
          "description": "Output only. The MIME type of the file, as stored in Google Drive on upload.",
          "type": "string",
          "readOnly": true
        },
        "fileId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the Google Drive file."
        }
      }
    }
  },
  "description": "Reads and writes Google Forms and responses.",
  "resources": {
    "forms": {
      "methods": {
        "get": {
          "id": "forms.forms.get",
          "flatPath": "v1/forms/{formId}",
          "response": {
            "$ref": "Form"
          },
          "parameterOrder": [
            "formId"
          ],
          "httpMethod": "GET",
          "path": "v1/forms/{formId}",
          "description": "Get a form.",
          "parameters": {
            "formId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The form ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/forms.body",
            "https://www.googleapis.com/auth/forms.body.readonly"
          ]
        },
        "batchUpdate": {
          "parameters": {
            "formId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The form ID."
            }
          },
          "description": "Change the form with a batch of updates.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "path": "v1/forms/{formId}:batchUpdate",
          "flatPath": "v1/forms/{formId}:batchUpdate",
          "request": {
            "$ref": "BatchUpdateFormRequest"
          },
          "id": "forms.forms.batchUpdate",
          "response": {
            "$ref": "BatchUpdateFormResponse"
          },
          "parameterOrder": [
            "formId"
          ]
        },
        "setPublishSettings": {
          "id": "forms.forms.setPublishSettings",
          "description": "Updates the publish settings of a form. Legacy forms aren't supported because they don't have the `publish_settings` field.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "request": {
            "$ref": "SetPublishSettingsRequest"
          },
          "response": {
            "$ref": "SetPublishSettingsResponse"
          },
          "parameters": {
            "formId": {
              "description": "Required. The ID of the form. You can get the id from Form.form_id field.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/forms/{formId}:setPublishSettings",
          "httpMethod": "POST",
          "parameterOrder": [
            "formId"
          ],
          "flatPath": "v1/forms/{formId}:setPublishSettings"
        },
        "create": {
          "parameters": {
            "unpublished": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Whether the form is unpublished. If set to `true`, the form doesn't accept responses. If set to `false` or unset, the form is published and accepts responses."
            }
          },
          "parameterOrder": [],
          "path": "v1/forms",
          "response": {
            "$ref": "Form"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/forms.body"
          ],
          "id": "forms.forms.create",
          "description": "Create a new form using the title given in the provided form message in the request. *Important:* Only the form.info.title and form.info.document_title fields are copied to the new form. All other fields including the form description, items and settings are disallowed. To create a new form and add items, you must first call forms.create to create an empty form with a title and (optional) document title, and then call forms.update to add the items.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Form"
          },
          "flatPath": "v1/forms"
        }
      },
      "resources": {
        "watches": {
          "methods": {
            "renew": {
              "parameterOrder": [
                "formId",
                "watchId"
              ],
              "id": "forms.forms.watches.renew",
              "path": "v1/forms/{formId}/watches/{watchId}:renew",
              "flatPath": "v1/forms/{formId}/watches/{watchId}:renew",
              "response": {
                "$ref": "Watch"
              },
              "description": "Renew an existing watch for seven days. The state of the watch after renewal is `ACTIVE`, and the `expire_time` is seven days from the renewal. Renewing a watch in an error state (e.g. `SUSPENDED`) succeeds if the error is no longer present, but fail otherwise. After a watch has expired, RenewWatch returns `NOT_FOUND`.",
              "parameters": {
                "formId": {
                  "description": "Required. The ID of the Form.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "watchId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the Watch to renew."
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "request": {
                "$ref": "RenewWatchRequest"
              }
            },
            "delete": {
              "id": "forms.forms.watches.delete",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Delete a watch.",
              "flatPath": "v1/forms/{formId}/watches/{watchId}",
              "path": "v1/forms/{formId}/watches/{watchId}",
              "httpMethod": "DELETE",
              "parameters": {
                "watchId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the Watch to delete.",
                  "required": true
                },
                "formId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the Form."
                }
              },
              "parameterOrder": [
                "formId",
                "watchId"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "parameters": {
                "formId": {
                  "required": true,
                  "description": "Required. ID of the Form to watch.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/forms/{formId}/watches",
              "description": "Create a new watch. If a watch ID is provided, it must be unused. For each invoking project, the per form limit is one watch per Watch.EventType. A watch expires seven days after it is created (see Watch.expire_time).",
              "httpMethod": "POST",
              "response": {
                "$ref": "Watch"
              },
              "path": "v1/forms/{formId}/watches",
              "parameterOrder": [
                "formId"
              ],
              "id": "forms.forms.watches.create",
              "request": {
                "$ref": "CreateWatchRequest"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/forms.body",
                "https://www.googleapis.com/auth/forms.body.readonly",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "id": "forms.forms.watches.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListWatchesResponse"
              },
              "path": "v1/forms/{formId}/watches",
              "parameterOrder": [
                "formId"
              ],
              "flatPath": "v1/forms/{formId}/watches",
              "parameters": {
                "formId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. ID of the Form whose watches to list."
                }
              },
              "description": "Return a list of the watches owned by the invoking project. The maximum number of watches is two: For each invoker, the limit is one for each event type per form."
            }
          }
        },
        "responses": {
          "methods": {
            "get": {
              "flatPath": "v1/forms/{formId}/responses/{responseId}",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "response": {
                "$ref": "FormResponse"
              },
              "id": "forms.forms.responses.get",
              "path": "v1/forms/{formId}/responses/{responseId}",
              "parameters": {
                "responseId": {
                  "description": "Required. The response ID within the form.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "formId": {
                  "description": "Required. The form ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Get one response from the form.",
              "parameterOrder": [
                "formId",
                "responseId"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "flatPath": "v1/forms/{formId}/responses",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of responses to return. The service may return fewer than this value. If unspecified or zero, at most 5000 responses are returned.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token returned by a previous list response. If this field is set, the form and the values of the filter must be the same as for the original request."
                },
                "formId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. ID of the Form whose responses to list."
                },
                "filter": {
                  "location": "query",
                  "description": "Which form responses to return. Currently, the only supported filters are: * timestamp > *N* which means to get all form responses submitted after (but not at) timestamp *N*. * timestamp >= *N* which means to get all form responses submitted at and after timestamp *N*. For both supported filters, timestamp must be formatted in RFC3339 UTC \"Zulu\" format. Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\".",
                  "type": "string"
                }
              },
              "id": "forms.forms.responses.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListFormResponsesResponse"
              },
              "path": "v1/forms/{formId}/responses",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/forms.responses.readonly"
              ],
              "description": "List a form's responses.",
              "parameterOrder": [
                "formId"
              ]
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "rootUrl": "https://forms.googleapis.com/",
  "version": "v1",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/forms.responses.readonly": {
          "description": "See all responses to your Google Forms forms"
        },
        "https://www.googleapis.com/auth/forms.body.readonly": {
          "description": "See all your Google Forms forms"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/forms.body": {
          "description": "See, edit, create, and delete all your Google Forms forms"
        }
      }
    }
  },
  "id": "forms:v1",
  "kind": "discovery#restDescription",
  "version_module": true,
  "batchPath": "batch"
}