{
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "documentationLink": "https://docs.cloud.google.com/cloud-ftp",
  "batchPath": "batch",
  "rootUrl": "https://ftp.googleapis.com/",
  "description": "A managed, cloud-native solution to move data in and out of Google Cloud by using SSH File Transfer Protocol (SFTP).",
  "version_module": true,
  "basePath": "",
  "title": "Cloud FTP API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1alpha",
  "ownerName": "Google",
  "mtlsRootUrl": "https://ftp.mtls.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "id": "ftp:v1alpha",
  "baseUrl": "https://ftp.googleapis.com/",
  "name": "ftp",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "id": "ftp.projects.locations.get",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "ftp.projects.locations.list",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              }
            }
          },
          "resources": {
            "servers": {
              "methods": {
                "start": {
                  "description": "Starts a stopping/stopped Server.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}:start",
                  "id": "ftp.projects.locations.servers.start",
                  "httpMethod": "POST",
                  "path": "v1alpha/{+name}:start",
                  "request": {
                    "$ref": "StartServerRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource Format: `projects/{project}/locations/{location}/servers/{server}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Creates a new Server in a given project and location.",
                  "path": "v1alpha/{+parent}/servers",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "serverId": {
                      "description": "Required. A unique ID for the server. Must start with a lowercase letter, and end with a lowercase letter or number. Can contain lowercase letters, numbers, and hyphens. Maximum length is 30 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "id": "ftp.projects.locations.servers.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Server"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "id": "ftp.projects.locations.servers.delete",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}",
                  "description": "Deletes a single Server.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. name of resource",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Server resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ftp.projects.locations.servers.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}",
                  "request": {
                    "$ref": "Server"
                  },
                  "description": "Updates the parameters of a single Server.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ftp.projects.locations.servers.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "view": {
                      "location": "query",
                      "description": "Optional. The view of the Server resource to return.",
                      "type": "string",
                      "enum": [
                        "SERVER_VIEW_UNSPECIFIED",
                        "SERVER_VIEW_BASIC",
                        "SERVER_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "Default value. Equivalent to SERVER_VIEW_BASIC.",
                        "Basic view. Excludes heavy configurations (internal_config, external_config, google_managed_server_credential).",
                        "Full view. Includes all fields."
                      ]
                    }
                  },
                  "description": "Gets details of a single Server.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Server"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}",
                  "httpMethod": "GET"
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filtering results",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent value for ListServersRequest",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "SERVER_VIEW_UNSPECIFIED",
                        "SERVER_VIEW_BASIC",
                        "SERVER_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "Default value. Equivalent to SERVER_VIEW_BASIC.",
                        "Basic view. Excludes heavy configurations (internal_config, external_config, google_managed_server_credential).",
                        "Full view. Includes all fields."
                      ],
                      "description": "Optional. The view of the Server resource to return.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListServersResponse"
                  },
                  "id": "ftp.projects.locations.servers.list",
                  "path": "v1alpha/{+parent}/servers",
                  "description": "Lists Servers in a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "stop": {
                  "id": "ftp.projects.locations.servers.stop",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v1alpha/{+name}:stop",
                  "request": {
                    "$ref": "StopServerRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "description": "Required. Name of the resource. Format: `projects/{project}/locations/{location}/servers/{server}`"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}:stop",
                  "description": "Stops an active Server."
                }
              },
              "resources": {
                "users": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Users in a given project and location.",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                          "description": "Required. Parent value for ListUsersRequest",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. User may return fewer items than requested. The maximum value is 1000; The default value is 50 if the field is omitted (or set to 0).",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "view": {
                          "type": "string",
                          "enum": [
                            "USER_VIEW_UNSPECIFIED",
                            "USER_VIEW_BASIC",
                            "USER_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "Default value. Equivalent to USER_VIEW_BASIC.",
                            "Basic view. Excludes heavy configurations (user_credentials, storage_directory_mappings).",
                            "Full view. Includes all fields."
                          ],
                          "description": "Optional. The view of the User resource to return.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filtering results",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the user should return.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1alpha/{+parent}/users",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ftp.projects.locations.servers.users.list",
                      "response": {
                        "$ref": "ListUsersResponse"
                      }
                    },
                    "get": {
                      "description": "Gets details of a single User.",
                      "path": "v1alpha/{+name}",
                      "id": "ftp.projects.locations.servers.users.get",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "parameters": {
                        "view": {
                          "type": "string",
                          "enum": [
                            "USER_VIEW_UNSPECIFIED",
                            "USER_VIEW_BASIC",
                            "USER_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "Default value. Equivalent to USER_VIEW_BASIC.",
                            "Basic view. Excludes heavy configurations (user_credentials, storage_directory_mappings).",
                            "Full view. Includes all fields."
                          ],
                          "description": "Optional. The view of the User resource to return.",
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. Name of the resource",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "User"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "id": "ftp.projects.locations.servers.users.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a single User.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "description": "Optional. If set to true, the request will force the deletion of the User.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource",
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "userId": {
                          "description": "Required. A unique user ID for the SFTP user. The user ID must start with a lowercase letter and can include lowercase letters, numbers, or hyphens.",
                          "type": "string",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                          "required": true,
                          "description": "Required. Value for parent."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new User in a given project and location and Server.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}/users",
                      "id": "ftp.projects.locations.servers.users.create",
                      "request": {
                        "$ref": "User"
                      },
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "id": "ftp.projects.locations.servers.users.patch",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "User"
                      },
                      "path": "v1alpha/{+name}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the User resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Identifier. User-friendly name via which User will be identified. projects/{project}/locations/{location}/servers/{server}/users/{user}",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "description": "Updates the parameters of a single User.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ftp.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "id": "ftp.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1alpha/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ftp.projects.locations.operations.list",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "cancel": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "ftp.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260923",
  "canonicalName": "Cloud FTP",
  "schemas": {
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "StartServerRequest": {
      "id": "StartServerRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for starting a Server."
    },
    "StopServerRequest": {
      "description": "Request message for stopping a Server.",
      "id": "StopServerRequest",
      "type": "object",
      "properties": {}
    },
    "ExternalServerConfig": {
      "description": "Configuration for external server.",
      "properties": {
        "allowedCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of CIDR blocks that are allowed to access the Server. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). For now, only IPV4 addresses are supported. Examples: \"203.0.113.0/24\" - matches with the IP addresses in the range 203.0.113.0 - 203.0.113.255. \"0.0.0.0/0\" - matches against any IP address. This field must contain at least one entry if the access type is EXTERNAL. The number of allowed CIDR blocks cannot exceed 500. Example: 192.168.0.0/16",
          "type": "array"
        },
        "ipAddress": {
          "readOnly": true,
          "description": "Output only. IP address of the LB via which clients will connect.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExternalServerConfig"
    },
    "User": {
      "id": "User",
      "properties": {
        "storageDirectoryMappings": {
          "items": {
            "$ref": "StorageDirectoryMapping"
          },
          "type": "array",
          "description": "Required. Mapping of Cloud Storage buckets to directories where the user will land in the SFTP server."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp",
          "type": "string"
        },
        "userCredentials": {
          "description": "Required. User credential for the user. The maximum number of user credentials is 10.",
          "items": {
            "$ref": "UserCredential"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. User-friendly name via which User will be identified. projects/{project}/locations/{location}/servers/{server}/users/{user}",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Tracks user creation.",
          "enumDescriptions": [
            "State unspecified.",
            "User is being created.",
            "User is ready to be used.",
            "User creation failed.",
            "The resource is being updated.",
            "The resource is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "ERROR",
            "UPDATING",
            "DELETING"
          ]
        },
        "username": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] The username of the user."
        },
        "customerServiceAccount": {
          "description": "Required. Service account in customer project attached to this SFTP User.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs"
        }
      },
      "description": "Message describing User object",
      "type": "object"
    },
    "StorageDirectoryMapping": {
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. Name of the bucket."
        },
        "directory": {
          "description": "Required. Directory where the user lands in the SFTP server.",
          "type": "string"
        },
        "bucketPrefix": {
          "type": "string",
          "description": "Optional. Prefix inside the bucket."
        },
        "permission": {
          "type": "string",
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "description": "Required. Permission to the bucket.",
          "enumDescriptions": [
            "Permission unspecified.",
            "Read only permission.",
            "Read write permission."
          ]
        }
      },
      "description": "Mapping of backing Cloud Storage path to the directory where the user lands in the SFTP server. If directory is not specified, it'll default to '/'. Eg 1 - (bucket_name: bucket, bucket_prefix: path1/path2, directory: /abc/def/username) The user will land at /abcd/def/username, and the view there will match that of /bucket/path1/path2. The user will not be aware of Cloud Storage prefix '/bucket/path1' and there will be no such directory in the view. Eg 2 - (bucket_name: bucket, bucket_prefix: path1/path2, directory: '') The user will land at '/', and the view there will match that of /bucket/path1/path2. The user will not be aware of Cloud Storage prefix '/bucket/path1/path2' and there will be no such directory in the view.",
      "id": "StorageDirectoryMapping",
      "type": "object"
    },
    "ListUsersResponse": {
      "type": "object",
      "id": "ListUsersResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the user should return."
        },
        "users": {
          "description": "The list of User",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      },
      "description": "Message for response to listing Users"
    },
    "ListServersResponse": {
      "description": "Message for response to listing Servers",
      "id": "ListServersResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "servers": {
          "type": "array",
          "items": {
            "$ref": "Server"
          },
          "description": "The list of Server"
        }
      }
    },
    "AllowedConsumer": {
      "type": "object",
      "properties": {
        "project": {
          "description": "The project ID or number of the consumer project. Must be in the format: `projects/{project}`.",
          "type": "string"
        },
        "connectionLimit": {
          "format": "int64",
          "description": "Required. The connection limit for the consumer. Value must be greater than 0.",
          "type": "string"
        }
      },
      "id": "AllowedConsumer",
      "description": "A consumer project or network that is permitted to connect to the server via PSC."
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "id": "OperationMetadata"
    },
    "PscEndpoint": {
      "type": "object",
      "id": "PscEndpoint",
      "properties": {
        "network": {
          "type": "string",
          "description": "Output only. The consumer network. Format: `projects/{project}/locations/{location}/networks/{network}`",
          "readOnly": true
        },
        "endpoint": {
          "description": "Output only. This is a Resource name for Private Service Connect endpoint. Format: `projects/{project}/regions/{region}/forwardingRules/{forwarding_rule}`",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Output only. The status of the connected endpoint.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Details of PSC endpoint created by customer."
    },
    "Server": {
      "description": "Message describing Server object",
      "properties": {
        "externalConfig": {
          "description": "Configuration for external access.",
          "$ref": "ExternalServerConfig"
        },
        "accessType": {
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "EXTERNAL",
            "INTERNAL"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Server is assigned a public IP.",
            "Server is assigned an internal IP."
          ],
          "description": "Required. The access type of the Server."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the Server"
        },
        "state": {
          "description": "Output only. The state of the server.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "STARTING",
            "ACTIVE",
            "STOPPING",
            "STOPPED",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Server is being created.",
            "Server is starting.",
            "Server is ready to be used.",
            "Server is stopping.",
            "Server is stopped.",
            "Server is being deleted.",
            "Server is in error state.",
            "Server is being updated."
          ]
        },
        "internalConfig": {
          "$ref": "InternalServerConfig",
          "description": "Configuration for internal access."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "serviceAgent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Service agent used to access the customer bucket."
        },
        "googleManagedServerCredential": {
          "description": "Output only. Credentials of the FTP Server.",
          "readOnly": true,
          "$ref": "ServerCredential"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. name of resource",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Update time stamp",
          "type": "string"
        }
      },
      "id": "Server",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "InternalServerConfig": {
      "type": "object",
      "description": "Configuration for private server accessible via PSC.",
      "properties": {
        "consumerAcceptList": {
          "description": "Required. A list of projects that are permitted to connect. At least one project is required in the allow list.",
          "type": "array",
          "items": {
            "$ref": "AllowedConsumer"
          }
        },
        "consumerRejectList": {
          "type": "array",
          "items": {
            "$ref": "DeniedConsumer"
          },
          "description": "Optional. A list of projects that are denied connection. Format: \"projects/sample_project_id\" or \"projects/1234567890\" Projects in this list will be denied access, even if they are included in the `allow_list`. If this list is empty, no projects are explicitly rejected."
        },
        "serviceAttachment": {
          "description": "Output only. The resource name of the service attachment. Format: `projects/{project}/regions/{region}/serviceAttachments/{service_attachment}`",
          "readOnly": true,
          "type": "string"
        },
        "pscEndpoints": {
          "items": {
            "$ref": "PscEndpoint"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Details of endpoints created by the customer."
        }
      },
      "id": "InternalServerConfig"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "ServerCredential": {
      "type": "object",
      "id": "ServerCredential",
      "description": "Represents credentials of an FTP Server.",
      "properties": {
        "asymmetricAlgorithm": {
          "description": "Output only. Asymmetric algorithm used by the public key. Possible values (can be expanded in future): - ssh-ed25519",
          "type": "string",
          "readOnly": true
        },
        "fingerprint": {
          "description": "Output only. The fingerprint is a hash of the public key, and is displayed when clients access the server for the first time to verify the server's identity.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DeniedConsumer": {
      "id": "DeniedConsumer",
      "type": "object",
      "description": "A consumer project or network that is denied to connect to the server via PSC.",
      "properties": {
        "project": {
          "type": "string",
          "description": "The project ID or number of the consumer project. Must be in the format: `projects/{project}`."
        }
      }
    },
    "UserCredential": {
      "id": "UserCredential",
      "type": "object",
      "description": "Message describing UserCredential object",
      "properties": {
        "credentialType": {
          "enumDescriptions": [
            "Type unspecified.",
            "Public key credential."
          ],
          "description": "Required. Type of credential.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PUBLIC_KEY"
          ]
        },
        "credentialName": {
          "type": "string",
          "description": "Required. Name of the user credential."
        },
        "sshPublicKeyBody": {
          "description": "Optional. SSH public key body in OpenSSH format. Example: \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQ...\"",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    }
  }
}