{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "servicePath": "",
  "revision": "20260805",
  "id": "ftp:v1",
  "mtlsRootUrl": "https://ftp.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud FTP API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "name": "ftp",
  "documentationLink": "https://docs.cloud.google.com/cloud-ftp",
  "version_module": true,
  "protocol": "rest",
  "batchPath": "batch",
  "version": "v1",
  "description": "A managed, cloud-native solution to move data in and out of Google Cloud by using SSH File Transfer Protocol (SFTP).",
  "ownerDomain": "google.com",
  "rootUrl": "https://ftp.googleapis.com/",
  "canonicalName": "Cloud FTP",
  "schemas": {
    "PscEndpoint": {
      "description": "Details of PSC endpoint created by customer.",
      "id": "PscEndpoint",
      "type": "object",
      "properties": {
        "network": {
          "description": "Output only. The consumer network. Format: `projects/{project}/locations/{location}/networks/{network}`",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the connected endpoint."
        },
        "endpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This is a Resource name for Private Service Connect endpoint. Format: `projects/{project}/regions/{region}/forwardingRules/{forwarding_rule}`"
        }
      }
    },
    "ListServersResponse": {
      "description": "Message for response to listing Servers",
      "id": "ListServersResponse",
      "type": "object",
      "properties": {
        "servers": {
          "items": {
            "$ref": "Server"
          },
          "type": "array",
          "description": "The list of Server"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ExternalServerConfig": {
      "description": "Configuration for external server.",
      "id": "ExternalServerConfig",
      "type": "object",
      "properties": {
        "ipAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. IP address of the LB via which clients will connect."
        },
        "allowedCidrBlocks": {
          "description": "Optional. List of CIDR blocks that are allowed to access the Server. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). For now, only IPV4 addresses are supported. Examples: \"203.0.113.0/24\" - matches with the IP addresses in the range 203.0.113.0 - 203.0.113.255. \"0.0.0.0/0\" - matches against any IP address. This field must contain at least one entry if the access type is EXTERNAL. The number of allowed CIDR blocks cannot exceed 500. Example: 192.168.0.0/16",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Server": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime"
        },
        "externalConfig": {
          "description": "Configuration for external access.",
          "$ref": "ExternalServerConfig"
        },
        "internalConfig": {
          "description": "Configuration for internal access.",
          "$ref": "InternalServerConfig"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the Server"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "serviceAgent": {
          "description": "Output only. Service agent used to access the customer bucket.",
          "readOnly": true,
          "type": "string"
        },
        "accessType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Server is assigned a public IP.",
            "Server is assigned an internal IP."
          ],
          "description": "Required. The access type of the Server.",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "EXTERNAL",
            "INTERNAL"
          ]
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Server is being created.",
            "Server is starting.",
            "Server is ready to be used.",
            "Server is stopping.",
            "Server is stopped.",
            "Server is being deleted.",
            "Server is in error state.",
            "Server is being updated."
          ],
          "description": "Output only. The state of the server.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "STARTING",
            "ACTIVE",
            "STOPPING",
            "STOPPED",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource"
        },
        "googleManagedServerCredential": {
          "readOnly": true,
          "description": "Output only. Credentials of the FTP Server.",
          "$ref": "ServerCredential"
        }
      },
      "description": "Message describing Server object",
      "id": "Server",
      "type": "object"
    },
    "ServerCredential": {
      "properties": {
        "fingerprint": {
          "description": "Output only. The fingerprint is a hash of the public key, and is displayed when clients access the server for the first time to verify the server's identity.",
          "readOnly": true,
          "type": "string"
        },
        "asymmetricAlgorithm": {
          "description": "Output only. Asymmetric algorithm used by the public key. Possible values (can be expanded in future): - ssh-ed25519",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ServerCredential",
      "type": "object",
      "description": "Represents credentials of an FTP Server."
    },
    "StartServerRequest": {
      "properties": {},
      "id": "StartServerRequest",
      "type": "object",
      "description": "Request message for starting a Server."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "StopServerRequest": {
      "id": "StopServerRequest",
      "type": "object",
      "description": "Request message for stopping a Server.",
      "properties": {}
    },
    "Location": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "ListUsersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the user should return.",
          "type": "string"
        },
        "users": {
          "items": {
            "$ref": "User"
          },
          "description": "The list of User",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListUsersResponse",
      "type": "object",
      "description": "Message for response to listing Users"
    },
    "StorageDirectoryMapping": {
      "description": "Mapping of backing Cloud Storage path to the directory where the user lands in the SFTP server. If directory is not specified, it'll default to '/'. Eg 1 - (bucket_name: bucket, bucket_prefix: path1/path2, directory: /abc/def/username) The user will land at /abcd/def/username, and the view there will match that of /bucket/path1/path2. The user will not be aware of Cloud Storage prefix '/bucket/path1' and there will be no such directory in the view. Eg 2 - (bucket_name: bucket, bucket_prefix: path1/path2, directory: '') The user will land at '/', and the view there will match that of /bucket/path1/path2. The user will not be aware of Cloud Storage prefix '/bucket/path1/path2' and there will be no such directory in the view.",
      "id": "StorageDirectoryMapping",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Required. Name of the bucket.",
          "type": "string"
        },
        "directory": {
          "description": "Required. Directory where the user lands in the SFTP server.",
          "type": "string"
        },
        "permission": {
          "description": "Required. Permission to the bucket.",
          "type": "string",
          "enumDescriptions": [
            "Permission unspecified.",
            "Read only permission.",
            "Read write permission."
          ],
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ]
        },
        "bucketPrefix": {
          "type": "string",
          "description": "Optional. Prefix inside the bucket."
        }
      }
    },
    "DeniedConsumer": {
      "id": "DeniedConsumer",
      "type": "object",
      "description": "A consumer project or network that is denied to connect to the server via PSC.",
      "properties": {
        "project": {
          "description": "The project ID or number of the consumer project. Must be in the format: `projects/{project}`.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "User": {
      "properties": {
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "customerServiceAccount": {
          "description": "Required. Service account in customer project attached to this SFTP User.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "userCredentials": {
          "items": {
            "$ref": "UserCredential"
          },
          "description": "Required. User credential for the user. The maximum number of user credentials is 10.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. User-friendly name via which User will be identified. projects/{project}/locations/{location}/servers/{server}/users/{user}",
          "type": "string"
        },
        "username": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] The username of the user."
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "User is being created.",
            "User is ready to be used.",
            "User creation failed.",
            "The resource is being updated.",
            "The resource is being deleted."
          ],
          "description": "Output only. Tracks user creation.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "ERROR",
            "UPDATING",
            "DELETING"
          ]
        },
        "storageDirectoryMappings": {
          "description": "Required. Mapping of Cloud Storage buckets to directories where the user will land in the SFTP server.",
          "type": "array",
          "items": {
            "$ref": "StorageDirectoryMapping"
          }
        }
      },
      "id": "User",
      "type": "object",
      "description": "Message describing User object"
    },
    "Operation": {
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "AllowedConsumer": {
      "properties": {
        "project": {
          "description": "The project ID or number of the consumer project. Must be in the format: `projects/{project}`.",
          "type": "string"
        },
        "connectionLimit": {
          "format": "int64",
          "description": "Required. The connection limit for the consumer. Value must be greater than 0.",
          "type": "string"
        }
      },
      "description": "A consumer project or network that is permitted to connect to the server via PSC.",
      "id": "AllowedConsumer",
      "type": "object"
    },
    "UserCredential": {
      "id": "UserCredential",
      "type": "object",
      "description": "Message describing UserCredential object",
      "properties": {
        "sshPublicKeyBody": {
          "description": "Optional. SSH public key body in OpenSSH format. Example: \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQ...\"",
          "type": "string"
        },
        "credentialName": {
          "description": "Required. Name of the user credential.",
          "type": "string"
        },
        "credentialType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PUBLIC_KEY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "Public key credential."
          ],
          "description": "Required. Type of credential."
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "InternalServerConfig": {
      "properties": {
        "consumerRejectList": {
          "items": {
            "$ref": "DeniedConsumer"
          },
          "type": "array",
          "description": "Optional. A list of projects that are denied connection. Format: \"projects/sample_project_id\" or \"projects/1234567890\" Projects in this list will be denied access, even if they are included in the `allow_list`. If this list is empty, no projects are explicitly rejected."
        },
        "consumerAcceptList": {
          "items": {
            "$ref": "AllowedConsumer"
          },
          "description": "Required. A list of projects that are permitted to connect. At least one project is required in the allow list.",
          "type": "array"
        },
        "serviceAttachment": {
          "description": "Output only. The resource name of the service attachment. Format: `projects/{project}/regions/{region}/serviceAttachments/{service_attachment}`",
          "readOnly": true,
          "type": "string"
        },
        "pscEndpoints": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Details of endpoints created by the customer.",
          "items": {
            "$ref": "PscEndpoint"
          }
        }
      },
      "id": "InternalServerConfig",
      "type": "object",
      "description": "Configuration for private server accessible via PSC."
    }
  },
  "baseUrl": "https://ftp.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "ftp.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "id": "ftp.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ftp.projects.locations.operations.get"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ftp.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ftp.projects.locations.operations.list"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ftp.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "servers": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}",
                  "path": "v1/{+name}",
                  "description": "Gets details of a single Server.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ftp.projects.locations.servers.get",
                  "response": {
                    "$ref": "Server"
                  },
                  "parameters": {
                    "view": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "SERVER_VIEW_UNSPECIFIED",
                        "SERVER_VIEW_BASIC",
                        "SERVER_VIEW_FULL"
                      ],
                      "description": "Optional. The view of the Server resource to return.",
                      "enumDescriptions": [
                        "Default value. Equivalent to SERVER_VIEW_BASIC.",
                        "Basic view. Excludes heavy configurations (internal_config, external_config, google_managed_server_credential).",
                        "Full view. Includes all fields."
                      ]
                    },
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "id": "ftp.projects.locations.servers.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "description": "Identifier. name of resource"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Server resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Server"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single Server."
                },
                "stop": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "StopServerRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource. Format: `projects/{project}/locations/{location}/servers/{server}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ftp.projects.locations.servers.stop",
                  "description": "Stops an active Server.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}:stop",
                  "path": "v1/{+name}:stop"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "ftp.projects.locations.servers.delete",
                  "description": "Deletes a single Server.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}",
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "enum": [
                        "SERVER_VIEW_UNSPECIFIED",
                        "SERVER_VIEW_BASIC",
                        "SERVER_VIEW_FULL"
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The view of the Server resource to return.",
                      "enumDescriptions": [
                        "Default value. Equivalent to SERVER_VIEW_BASIC.",
                        "Basic view. Excludes heavy configurations (internal_config, external_config, google_managed_server_credential).",
                        "Full view. Includes all fields."
                      ]
                    },
                    "parent": {
                      "description": "Required. Parent value for ListServersRequest",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListServersResponse"
                  },
                  "id": "ftp.projects.locations.servers.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Servers in a given project and location.",
                  "path": "v1/{+parent}/servers",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Creates a new Server in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers",
                  "path": "v1/{+parent}/servers",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Server"
                  },
                  "parameters": {
                    "serverId": {
                      "description": "Required. A unique ID for the server. Must start with a lowercase letter, and end with a lowercase letter or number. Can contain lowercase letters, numbers, and hyphens. Maximum length is 30 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ftp.projects.locations.servers.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "start": {
                  "description": "Starts a stopping/stopped Server.",
                  "path": "v1/{+name}:start",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}:start",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                      "description": "Required. Name of the resource Format: `projects/{project}/locations/{location}/servers/{server}`"
                    }
                  },
                  "request": {
                    "$ref": "StartServerRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ftp.projects.locations.servers.start",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "users": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single User.",
                      "id": "ftp.projects.locations.servers.users.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "view": {
                          "enum": [
                            "USER_VIEW_UNSPECIFIED",
                            "USER_VIEW_BASIC",
                            "USER_VIEW_FULL"
                          ],
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The view of the User resource to return.",
                          "enumDescriptions": [
                            "Default value. Equivalent to USER_VIEW_BASIC.",
                            "Basic view. Excludes heavy configurations (user_credentials, storage_directory_mappings).",
                            "Full view. Includes all fields."
                          ]
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource"
                        }
                      },
                      "response": {
                        "$ref": "User"
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "path": "v1/{+name}",
                      "description": "Updates the parameters of a single User.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ftp.projects.locations.servers.users.patch",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "User"
                      },
                      "parameters": {
                        "name": {
                          "description": "Identifier. User-friendly name via which User will be identified. projects/{project}/locations/{location}/servers/{server}/users/{user}",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the User resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "description": "Deletes a single User.",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users/{usersId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "description": "Optional. If set to true, the request will force the deletion of the User.",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+/users/[^/]+$",
                          "description": "Required. Name of the resource"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "ftp.projects.locations.servers.users.delete"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ftp.projects.locations.servers.users.list",
                      "response": {
                        "$ref": "ListUsersResponse"
                      },
                      "parameters": {
                        "view": {
                          "enum": [
                            "USER_VIEW_UNSPECIFIED",
                            "USER_VIEW_BASIC",
                            "USER_VIEW_FULL"
                          ],
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The view of the User resource to return.",
                          "enumDescriptions": [
                            "Default value. Equivalent to USER_VIEW_BASIC.",
                            "Basic view. Excludes heavy configurations (user_credentials, storage_directory_mappings).",
                            "Full view. Includes all fields."
                          ]
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                          "description": "Required. Parent value for ListUsersRequest"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. User may return fewer items than requested. The maximum value is 1000; The default value is 50 if the field is omitted (or set to 0).",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the user should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filtering results",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users",
                      "path": "v1/{+parent}/users",
                      "description": "Lists Users in a given project and location."
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "ftp.projects.locations.servers.users.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "userId": {
                          "type": "string",
                          "description": "Required. A unique user ID for the SFTP user. The user ID must start with a lowercase letter and can include lowercase letters, numbers, or hyphens.",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Value for parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/servers/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "User"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/users",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers/{serversId}/users",
                      "description": "Creates a new User in a given project and location and Server."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}