{
  "discoveryVersion": "v1",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "batchPath": "batch",
  "version": "v1configuration",
  "servicePath": "",
  "ownerName": "Google",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "resources": {
    "leaderboardConfigurations": {
      "methods": {
        "insert": {
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            }
          },
          "description": "Insert a new leaderboard configuration in this application.",
          "httpMethod": "POST",
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards"
        },
        "delete": {
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          },
          "description": "Delete the leaderboard configuration with the given ID."
        },
        "get": {
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "httpMethod": "GET",
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard."
            }
          },
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID."
        },
        "list": {
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Returns a list of the leaderboard configurations in this application.",
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "httpMethod": "GET"
        },
        "update": {
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "PUT"
        }
      }
    },
    "achievementConfigurations": {
      "methods": {
        "update": {
          "id": "gamesConfiguration.achievementConfigurations.update",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "PUT",
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "parameters": {
            "achievementId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method."
            }
          },
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "achievementId"
          ],
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "path": "games/v1configuration/achievements/{achievementId}"
        },
        "delete": {
          "parameterOrder": [
            "achievementId"
          ],
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "description": "Delete the achievement configuration with the given ID."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "achievementId"
          ],
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "path": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "GET",
          "id": "gamesConfiguration.achievementConfigurations.get",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "id": "gamesConfiguration.achievementConfigurations.list",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "description": "Returns a list of the achievement configurations in this application.",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "path": "games/v1configuration/applications/{applicationId}/achievements"
        },
        "insert": {
          "parameterOrder": [
            "applicationId"
          ],
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "httpMethod": "POST",
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Insert a new achievement configuration in this application."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/games/",
  "fullyEncodeReservedExpansion": true,
  "title": "Google Play Games Services Publishing API",
  "revision": "20260702",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "schemas": {
    "LeaderboardConfiguration": {
      "type": "object",
      "id": "LeaderboardConfiguration",
      "description": "An leaderboard configuration resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`."
        },
        "scoreMax": {
          "type": "string",
          "format": "int64",
          "description": "Maximum score that can be posted to this leaderboard."
        },
        "scoreOrder": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "type": "string",
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "token": {
          "type": "string",
          "description": "The token for this resource."
        },
        "draft": {
          "description": "The draft data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "id": {
          "description": "The ID of the leaderboard.",
          "type": "string"
        },
        "scoreMin": {
          "type": "string",
          "description": "Minimum score that can be posted to this leaderboard.",
          "format": "int64"
        },
        "published": {
          "$ref": "LeaderboardConfigurationDetail",
          "description": "The read-only published data of the leaderboard."
        }
      }
    },
    "LeaderboardConfigurationListResponse": {
      "type": "object",
      "description": "A ListConfigurations response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "description": "The leaderboard configurations.",
          "type": "array",
          "items": {
            "$ref": "LeaderboardConfiguration"
          }
        }
      },
      "id": "LeaderboardConfigurationListResponse"
    },
    "AchievementConfiguration": {
      "type": "object",
      "description": "An achievement configuration resource.",
      "properties": {
        "stepsToUnlock": {
          "description": "Steps to unlock. Only applicable to incremental achievements.",
          "format": "int32",
          "type": "integer"
        },
        "published": {
          "description": "The read-only published data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "token": {
          "type": "string",
          "description": "The token for this resource."
        },
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "initialState": {
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ],
          "type": "string",
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`."
        },
        "achievementType": {
          "type": "string",
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ]
        }
      },
      "id": "AchievementConfiguration"
    },
    "GamesNumberFormatConfiguration": {
      "id": "GamesNumberFormatConfiguration",
      "description": "A number format resource.",
      "properties": {
        "numberFormatType": {
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ],
          "type": "string",
          "description": "The formatting for the number.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ]
        },
        "currencyCode": {
          "type": "string",
          "description": "The curreny code string. Only used for CURRENCY format type."
        },
        "suffix": {
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources.",
          "$ref": "GamesNumberAffixConfiguration"
        },
        "numDecimalPlaces": {
          "description": "The number of decimal places for number. Only used for NUMERIC format type.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "LocalizedString": {
      "type": "object",
      "description": "A localized string resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`."
        },
        "value": {
          "description": "The string value.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "The locale string."
        }
      },
      "id": "LocalizedString"
    },
    "LocalizedStringBundle": {
      "type": "object",
      "id": "LocalizedStringBundle",
      "description": "A localized string bundle resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
          "type": "string"
        },
        "translations": {
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          },
          "description": "The locale strings."
        }
      }
    },
    "AchievementConfigurationDetail": {
      "id": "AchievementConfigurationDetail",
      "description": "An achievement configuration detail.",
      "properties": {
        "sortRank": {
          "format": "int32",
          "description": "The sort rank of this achievement. Writes to this field are ignored.",
          "type": "integer"
        },
        "name": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the achievement name."
        },
        "iconUrl": {
          "description": "The icon url of this achievement. Writes to this field are ignored.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`."
        },
        "description": {
          "description": "Localized strings for the achievement description.",
          "$ref": "LocalizedStringBundle"
        },
        "pointValue": {
          "type": "integer",
          "format": "int32",
          "description": "Point value for the achievement."
        }
      },
      "type": "object"
    },
    "AchievementConfigurationListResponse": {
      "id": "AchievementConfigurationListResponse",
      "description": "A ListConfigurations response.",
      "properties": {
        "items": {
          "description": "The achievement configurations.",
          "type": "array",
          "items": {
            "$ref": "AchievementConfiguration"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LeaderboardConfigurationDetail": {
      "description": "A leaderboard configuration detail.",
      "properties": {
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this leaderboard. Writes to this field are ignored."
        },
        "scoreFormat": {
          "$ref": "GamesNumberFormatConfiguration",
          "description": "The score formatting for the leaderboard."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`.",
          "type": "string"
        },
        "name": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the leaderboard name."
        },
        "sortRank": {
          "type": "integer",
          "description": "The sort rank of this leaderboard. Writes to this field are ignored.",
          "format": "int32"
        }
      },
      "id": "LeaderboardConfigurationDetail",
      "type": "object"
    },
    "GamesNumberAffixConfiguration": {
      "description": "A number affix resource.",
      "properties": {
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        },
        "two": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian)."
        },
        "other": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English)."
        },
        "few": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish)."
        },
        "many": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese)."
        },
        "one": {
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).",
          "$ref": "LocalizedStringBundle"
        }
      },
      "id": "GamesNumberAffixConfiguration",
      "type": "object"
    }
  },
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "ownerDomain": "google.com",
  "canonicalName": "Games Configuration",
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "name": "gamesConfiguration",
  "id": "gamesConfiguration:v1configuration"
}