{
  "discoveryVersion": "v1",
  "revision": "20260907",
  "documentationLink": "https://developers.google.com/games/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://games.googleapis.com/",
  "ownerName": "Google",
  "canonicalName": "Games",
  "resources": {
    "revisions": {
      "methods": {
        "check": {
          "parameterOrder": [
            "clientRevision"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.revisions.check",
          "path": "games/v1/revisions/check",
          "httpMethod": "GET",
          "flatPath": "games/v1/revisions/check",
          "parameters": {
            "clientRevision": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App."
            }
          },
          "description": "Checks whether the games client is out of date.",
          "response": {
            "$ref": "RevisionCheckResponse"
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "updateMultiple": {
          "description": "Updates multiple achievements for the currently authenticated player.",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "path": "games/v1/achievements/updateMultiple",
          "flatPath": "games/v1/achievements/updateMultiple",
          "id": "games.achievements.updateMultiple"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.list",
          "httpMethod": "GET",
          "parameters": {
            "state": {
              "type": "string",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "location": "query"
            },
            "playerId": {
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            },
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer"
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "path": "games/v1/players/{playerId}/achievements",
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "flatPath": "games/v1/players/{playerId}/achievements",
          "parameterOrder": [
            "playerId"
          ]
        },
        "unlock": {
          "parameterOrder": [
            "achievementId"
          ],
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "description": "Unlocks this achievement for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/unlock",
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "id": "games.achievements.unlock",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "reveal": {
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path"
            }
          },
          "path": "games/v1/achievements/{achievementId}/reveal",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "id": "games.achievements.reveal",
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "increment": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "id": "games.achievements.increment",
          "parameters": {
            "stepsToIncrement": {
              "format": "int32",
              "type": "integer",
              "required": true,
              "location": "query",
              "description": "Required. The number of steps to increment."
            },
            "achievementId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the achievement used by this method."
            },
            "requestId": {
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "games/v1/achievements/{achievementId}/increment",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player."
        },
        "setStepsAtLeast": {
          "httpMethod": "POST",
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "id": "games.achievements.setStepsAtLeast",
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "type": "string"
            },
            "steps": {
              "description": "Required. The minimum value to set the steps to.",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "required": true
            }
          },
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "gameStats": {
      "methods": {
        "batchRecordEvents": {
          "request": {
            "$ref": "BatchRecordEventsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.gameStats.batchRecordEvents",
          "httpMethod": "POST",
          "path": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "playerId": {
              "location": "path",
              "required": true,
              "description": "Required. The player ID of the player that performed the events.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "BatchRecordEventsResponse"
          },
          "description": "Records a batch of player game events for a specific player. This method allows sending multiple events in a single request.",
          "flatPath": "games/v1/players/{playerId}/gameStats:batchRecordEvents"
        }
      }
    },
    "events": {
      "methods": {
        "listByPlayer": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "games/v1/events",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.events.listByPlayer",
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "path": "games/v1/events"
        },
        "record": {
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "request": {
            "$ref": "EventRecordRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.events.record",
          "flatPath": "games/v1/events",
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "path": "games/v1/events"
        },
        "listDefinitions": {
          "path": "games/v1/eventDefinitions",
          "httpMethod": "GET",
          "id": "games.events.listDefinitions",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "description": "Returns a list of the event definitions in this application.",
          "flatPath": "games/v1/eventDefinitions",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "EventDefinitionListResponse"
          }
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generateRecallPlayGroupingApiToken": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "parameterOrder": [],
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "parameters": {
            "persona": {
              "location": "query",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "location": "query",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            },
            "recallSessionId": {
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "httpMethod": "POST"
        },
        "generatePlayGroupingApiToken": {
          "httpMethod": "POST",
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query"
            },
            "persona": {
              "location": "query",
              "type": "string",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system."
            }
          },
          "parameterOrder": [],
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "metagame": {
      "methods": {
        "listCategoriesByPlayer": {
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "httpMethod": "GET",
          "id": "games.metagame.listCategoriesByPlayer",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "collection": {
              "description": "The collection of categories for which data will be returned.",
              "required": true,
              "location": "path",
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "type": "string",
              "enum": [
                "ALL"
              ]
            },
            "playerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            }
          }
        },
        "getMetagameConfig": {
          "parameters": {},
          "path": "games/v1/metagameConfig",
          "flatPath": "games/v1/metagameConfig",
          "parameterOrder": [],
          "description": "Return the metagame configuration data for the calling application.",
          "httpMethod": "GET",
          "response": {
            "$ref": "MetagameConfig"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.metagame.getMetagameConfig"
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "flatPath": "games/v1/achievements",
          "parameterOrder": [],
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "path": "games/v1/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            }
          },
          "id": "games.achievementDefinitions.list",
          "description": "Lists all the achievement definitions for your application.",
          "httpMethod": "GET"
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "path": "games/v1/stats",
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.stats.get",
          "parameters": {},
          "flatPath": "games/v1/stats",
          "response": {
            "$ref": "StatsResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "recall": {
      "methods": {
        "retrieveTokens": {
          "path": "games/v1/recall/tokens/{sessionId}",
          "id": "games.recall.retrieveTokens",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "parameterOrder": [
            "sessionId"
          ],
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "httpMethod": "GET",
          "parameters": {
            "sessionId": {
              "type": "string",
              "location": "path",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "unlinkPersona": {
          "parameterOrder": [],
          "flatPath": "games/v1/recall:unlinkPersona",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "path": "games/v1/recall:unlinkPersona",
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "parameters": {},
          "id": "games.recall.unlinkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST"
        },
        "lastTokenFromAllDeveloperGames": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "httpMethod": "GET",
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "parameterOrder": [
            "sessionId"
          ],
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}"
        },
        "gamesPlayerTokens": {
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "parameters": {
            "sessionId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
            },
            "applicationIds": {
              "location": "query",
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "sessionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "httpMethod": "GET",
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "id": "games.recall.gamesPlayerTokens"
        },
        "linkPersona": {
          "path": "games/v1/recall:linkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "parameters": {},
          "flatPath": "games/v1/recall:linkPersona",
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "httpMethod": "POST",
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "parameterOrder": [],
          "id": "games.recall.linkPersona"
        },
        "resetPersona": {
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall:resetPersona",
          "httpMethod": "POST",
          "id": "games.recall.resetPersona",
          "parameterOrder": [],
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "path": "games/v1/recall:resetPersona"
        }
      }
    },
    "players": {
      "methods": {
        "get": {
          "path": "games/v1/players/{playerId}",
          "flatPath": "games/v1/players/{playerId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Player"
          },
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "playerIdConsistencyToken": {
              "location": "query",
              "type": "string",
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.players.get",
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`."
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.players.list",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "collection": {
              "description": "Collection of players being retrieved",
              "type": "string",
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "location": "path",
              "required": true
            }
          },
          "flatPath": "games/v1/players/me/players/{collection}",
          "path": "games/v1/players/me/players/{collection}",
          "description": "Get the collection of players for the currently authenticated user.",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "parameterOrder": [
            "collection"
          ]
        },
        "getScopedPlayerIds": {
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "id": "games.players.getScopedPlayerIds",
          "flatPath": "games/v1/players/me/scopedIds",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "path": "games/v1/players/me/scopedIds",
          "parameters": {},
          "description": "Retrieves scoped player identifiers for currently authenticated user."
        },
        "getMultipleApplicationPlayerIds": {
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.players.getMultipleApplicationPlayerIds",
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "parameters": {
            "applicationIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for."
            }
          },
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds"
        }
      }
    },
    "snapshots": {
      "methods": {
        "list": {
          "id": "games.snapshots.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "path": "games/v1/players/{playerId}/snapshots",
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          }
        },
        "get": {
          "parameters": {
            "snapshotId": {
              "required": true,
              "description": "The ID of the snapshot.",
              "type": "string",
              "location": "path"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "snapshotId"
          ],
          "httpMethod": "GET",
          "path": "games/v1/snapshots/{snapshotId}",
          "id": "games.snapshots.get",
          "response": {
            "$ref": "Snapshot"
          },
          "description": "Retrieves the metadata for a given snapshot ID.",
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "played": {
          "parameterOrder": [],
          "flatPath": "games/v1/applications/played",
          "path": "games/v1/applications/played",
          "id": "games.applications.played",
          "description": "Indicate that the currently authenticated user is playing your application.",
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "getEndPoint": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/applications/getEndPoint",
          "id": "games.applications.getEndPoint",
          "response": {
            "$ref": "EndPoint"
          },
          "parameters": {
            "endPointType": {
              "description": "Type of endpoint being requested.",
              "type": "string",
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "location": "query",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ]
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/applications/getEndPoint",
          "description": "Returns a URL for the requested end point type."
        },
        "verify": {
          "id": "games.applications.verify",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "path": "games/v1/applications/{applicationId}/verify",
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "platformType": {
              "description": "Restrict application details returned to the specific platform.",
              "location": "query",
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "type": "string",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ]
            }
          },
          "id": "games.applications.get",
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "path": "games/v1/applications/{applicationId}"
        }
      }
    },
    "scores": {
      "methods": {
        "submitMultiple": {
          "path": "games/v1/leaderboards/scores",
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "description": "Submits multiple scores to leaderboards.",
          "flatPath": "games/v1/leaderboards/scores",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "id": "games.scores.submitMultiple",
          "parameterOrder": []
        },
        "listWindow": {
          "httpMethod": "GET",
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "id": "games.scores.listWindow",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            },
            "resultsAbove": {
              "type": "integer",
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "location": "query",
              "format": "int32"
            },
            "timeSpan": {
              "required": true,
              "location": "query",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "type": "string",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "description": "Required. The time span for the scores and ranks you're requesting."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "collection": {
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "type": "string",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "required": true,
              "description": "The collection of scores you're requesting.",
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "location": "path"
            },
            "returnTopIfAbsent": {
              "location": "query",
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "type": "boolean"
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "response": {
            "$ref": "LeaderboardScores"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}"
        },
        "list": {
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "collection": {
              "description": "The collection of scores you're requesting.",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "type": "string",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "location": "path",
              "required": true
            },
            "timeSpan": {
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "required": true
            },
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "id": "games.scores.list",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "response": {
            "$ref": "LeaderboardScores"
          },
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}"
        },
        "submit": {
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "score": {
              "type": "string",
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "format": "int64",
              "location": "query",
              "required": true
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "scoreTag": {
              "location": "query",
              "type": "string",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "pattern": "[a-zA-Z0-9-._~]{0,64}"
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "httpMethod": "POST",
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.scores.submit",
          "description": "Submits a score to the specified leaderboard."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "parameters": {
            "timeSpan": {
              "description": "The time span for the scores and ranks you're requesting.",
              "required": true,
              "type": "string",
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "location": "path"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "leaderboardId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "includeRankType": {
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "type": "string",
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "location": "query",
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ]
            },
            "playerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            }
          },
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "id": "games.scores.get",
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ]
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Leaderboard"
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "games/v1/leaderboards/{leaderboardId}",
          "id": "games.leaderboards.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "path": "games/v1/leaderboards",
          "description": "Lists all the leaderboard metadata for your application.",
          "id": "games.leaderboards.list",
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "flatPath": "games/v1/leaderboards",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "parameterOrder": []
        }
      }
    }
  },
  "id": "games:v1",
  "basePath": "",
  "schemas": {
    "BatchRecordEventsRequest": {
      "type": "object",
      "id": "BatchRecordEventsRequest",
      "description": "Request message for PlayerGameEvents.BatchRecordEvents Next ID: 7",
      "properties": {
        "packageName": {
          "description": "Required. Application package name (e.g., \"com.example.game\").",
          "type": "string"
        },
        "salt": {
          "description": "Optional. The salt used to generate content binding for the DroidGuard blob. This is used to prevent replay attacks.",
          "type": "string"
        },
        "droidGuardBlob": {
          "description": "Optional. The DroidGuard blob generated by the client. This is used to detect abuse signals from the devices",
          "type": "string"
        },
        "requestTime": {
          "description": "Required. The time from the client when this specific batch of events was submitted.",
          "type": "string",
          "format": "google-datetime"
        },
        "events": {
          "description": "Required. A list of player game events to be recorded. Maximum of 30 events per batch request.",
          "items": {
            "$ref": "PlayerGameEvent"
          },
          "type": "array"
        }
      }
    },
    "UnlinkPersonaResponse": {
      "id": "UnlinkPersonaResponse",
      "description": "Response for the UnlinkPersona RPC",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SnapshotImage": {
      "id": "SnapshotImage",
      "description": "An image of a snapshot.",
      "properties": {
        "width": {
          "type": "integer",
          "description": "The width of the image.",
          "format": "int32"
        },
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`."
        },
        "height": {
          "description": "The height of the image.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ResetPersonaResponse": {
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether any tokens were unlinked as a result of this request."
        }
      },
      "description": "Response for the ResetPersona RPC",
      "id": "ResetPersonaResponse",
      "type": "object"
    },
    "EventRecordRequest": {
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "currentTimeMillis": {
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "The request ID used to identify this attempt to record events.",
          "format": "int64"
        },
        "timePeriods": {
          "type": "array",
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          }
        }
      },
      "id": "EventRecordRequest",
      "type": "object"
    },
    "AchievementIncrementResponse": {
      "properties": {
        "currentSteps": {
          "format": "int32",
          "description": "The current steps recorded for this incremental achievement.",
          "type": "integer"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`."
        }
      },
      "description": "An achievement increment response",
      "id": "AchievementIncrementResponse",
      "type": "object"
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "type": "object",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC."
    },
    "Snapshot": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        },
        "durationMillis": {
          "description": "The duration associated with this snapshot, in millis.",
          "format": "int64",
          "type": "string"
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "progressValue": {
          "format": "int64",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "type": "string"
        },
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "description": "The type of this snapshot.",
          "type": "string",
          "enum": [
            "SAVE_GAME"
          ]
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the snapshot."
        },
        "lastModifiedMillis": {
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "format": "int64",
          "type": "string"
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        }
      },
      "description": "An snapshot object.",
      "type": "object",
      "id": "Snapshot"
    },
    "PlayGroupingApiToken": {
      "type": "object",
      "id": "PlayGroupingApiToken",
      "properties": {
        "tokenValue": {
          "type": "string",
          "description": "Value of the token."
        }
      },
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC."
    },
    "EventDefinition": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of what this event represents."
        },
        "isDefaultImageUrl": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "childEvents": {
          "items": {
            "$ref": "EventChild"
          },
          "description": "A list of events that are a child of this event.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`."
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the event."
        },
        "visibility": {
          "type": "string",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "description": "The visibility of event being tracked in this definition.",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ]
        }
      },
      "id": "EventDefinition",
      "description": "An event definition resource."
    },
    "PlayerScore": {
      "id": "PlayerScore",
      "type": "object",
      "description": "A player score.",
      "properties": {
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "description": "The time span for this player score.",
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        },
        "score": {
          "format": "int64",
          "description": "The numerical value for this player score.",
          "type": "string"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        }
      }
    },
    "AchievementDefinition": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the achievement."
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "initialState": {
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The initial state of the achievement."
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "achievementType": {
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "type": "string",
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ]
        },
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        },
        "experiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "Experience points which will be earned when unlocking this achievement."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`."
        },
        "description": {
          "type": "string",
          "description": "The description of the achievement."
        },
        "isRevealedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game."
        },
        "achievementLifecycleState": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "readOnly": true,
          "description": "Output only. The lifecycle state of the achievement.",
          "type": "string",
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ]
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "totalSteps": {
          "format": "int32",
          "description": "The total steps for an incremental achievement.",
          "type": "integer"
        }
      },
      "description": "An achievement definition object.",
      "id": "AchievementDefinition",
      "type": "object"
    },
    "AchievementUpdateMultipleRequest": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`."
        },
        "updates": {
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "type": "array",
          "description": "The individual achievement update requests."
        }
      },
      "id": "AchievementUpdateMultipleRequest",
      "description": "A list of achievement update requests.",
      "type": "object"
    },
    "Category": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`."
        },
        "category": {
          "description": "The category name.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points earned in this category.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Data related to individual game categories.",
      "type": "object",
      "id": "Category"
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "id": "GeneratePlayGroupingApiTokenResponse",
      "type": "object",
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      }
    },
    "PlayerEventListResponse": {
      "properties": {
        "items": {
          "description": "The player events.",
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlayerEventListResponse",
      "description": "A ListByPlayer response."
    },
    "Application": {
      "type": "object",
      "description": "The Application resource.",
      "properties": {
        "lastUpdatedTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The last updated timestamp of the application."
        },
        "instances": {
          "type": "array",
          "description": "The instances of the application.",
          "items": {
            "$ref": "Instance"
          }
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "achievement_count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of achievements visible to the currently authenticated player."
        },
        "leaderboard_count": {
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string",
          "description": "The description of the application."
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "enabledFeatures": {
          "type": "array",
          "description": "A list of features that have been enabled for the application.",
          "items": {
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "type": "string",
            "enum": [
              "SNAPSHOTS"
            ]
          }
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        },
        "assets": {
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The assets of the application.",
          "type": "array"
        }
      },
      "id": "Application"
    },
    "PlayerLeaderboardScore": {
      "id": "PlayerLeaderboardScore",
      "properties": {
        "socialRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The social rank of the score in this leaderboard."
        },
        "leaderboard_id": {
          "type": "string",
          "description": "The ID of the leaderboard this score is in."
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "timeSpan": {
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "friendsRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The rank of the score in the friends collection for this leaderboard."
        },
        "publicRank": {
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreValue": {
          "type": "string",
          "description": "The numerical value of this score.",
          "format": "int64"
        },
        "writeTimestamp": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        }
      },
      "description": "A player leaderboard score object.",
      "type": "object"
    },
    "GamesAchievementIncrement": {
      "type": "object",
      "description": "The payload to request to increment an achievement.",
      "id": "GamesAchievementIncrement",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The requestId associated with an increment to an achievement.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "steps": {
          "description": "The number of steps to be incremented.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PlayerScoreResponse": {
      "type": "object",
      "properties": {
        "beatenScoreTimeSpans": {
          "items": {
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "type": "string",
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ]
          },
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "type": "array"
        },
        "unbeatenScores": {
          "items": {
            "$ref": "PlayerScore"
          },
          "type": "array",
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard ID that this score was submitted to."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "id": "PlayerScoreResponse",
      "description": "A list of leaderboard entry resources."
    },
    "GamePlayerToken": {
      "properties": {
        "recallToken": {
          "$ref": "RecallToken",
          "description": "Recall token data."
        },
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        }
      },
      "description": "Recall tokens for a game.",
      "type": "object",
      "id": "GamePlayerToken"
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC",
      "type": "object",
      "properties": {
        "gamePlayerToken": {
          "$ref": "GamePlayerToken",
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal."
        }
      }
    },
    "MetagameConfig": {
      "description": "The metagame config resource",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`."
        },
        "playerLevels": {
          "description": "The list of player levels.",
          "type": "array",
          "items": {
            "$ref": "PlayerLevel"
          }
        },
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "MetagameConfig"
    },
    "PlayerAchievementListResponse": {
      "type": "object",
      "id": "PlayerAchievementListResponse",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlayerAchievement"
          },
          "description": "The achievements."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        }
      },
      "description": "A list of achievement objects."
    },
    "EventPeriodRange": {
      "description": "An event period time range.",
      "id": "EventPeriodRange",
      "type": "object",
      "properties": {
        "periodStartMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch)."
        },
        "periodEndMillis": {
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`."
        }
      }
    },
    "AchievementUnlockResponse": {
      "id": "AchievementUnlockResponse",
      "type": "object",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`."
        }
      },
      "description": "An achievement unlock response"
    },
    "BatchRecordEventsResponse": {
      "id": "BatchRecordEventsResponse",
      "type": "object",
      "description": "A successful response indicates that the batch of events has been processed.",
      "properties": {
        "failedRequests": {
          "type": "object",
          "description": "Map of failed events, keyed by their zero-based index in `BatchRecordEventsRequest.events`. Omitted keys indicate successful recording.",
          "additionalProperties": {
            "$ref": "Status"
          }
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "type": "object",
      "id": "PlayerLeaderboardScoreListResponse",
      "description": "A list of player leaderboard scores.",
      "properties": {
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`."
        },
        "items": {
          "description": "The leaderboard scores.",
          "type": "array",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      }
    },
    "ApplicationPlayerId": {
      "description": "Primary scoped player identifier for an application.",
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        },
        "playerId": {
          "type": "string",
          "description": "The player identifier for the application."
        }
      },
      "type": "object",
      "id": "ApplicationPlayerId"
    },
    "ResetPersonaRequest": {
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "id": "ResetPersonaRequest",
      "properties": {
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventPeriodUpdate": {
      "description": "An event period update resource.",
      "id": "EventPeriodUpdate",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        },
        "timePeriod": {
          "$ref": "EventPeriodRange",
          "description": "The time period being covered by this update."
        },
        "updates": {
          "description": "The updates being made for this time period.",
          "items": {
            "$ref": "EventUpdateRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PlayerExperienceInfo": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64"
        },
        "nextLevel": {
          "$ref": "PlayerLevel",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        },
        "currentExperiencePoints": {
          "format": "int64",
          "description": "The current number of experience points for the player.",
          "type": "string"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        }
      },
      "id": "PlayerExperienceInfo",
      "description": "1P/3P metadata about the player's experience."
    },
    "AchievementDefinitionsListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "items": {
          "items": {
            "$ref": "AchievementDefinition"
          },
          "type": "array",
          "description": "The achievement definitions."
        }
      },
      "type": "object",
      "id": "AchievementDefinitionsListResponse",
      "description": "A list of achievement definition objects."
    },
    "RetrieveGamesPlayerTokensResponse": {
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "id": "RetrieveGamesPlayerTokensResponse",
      "type": "object",
      "properties": {
        "gamePlayerTokens": {
          "type": "array",
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "items": {
            "$ref": "GamePlayerToken"
          }
        }
      }
    },
    "CategoryListResponse": {
      "description": "A third party list metagame categories response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "items": {
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "CategoryListResponse"
    },
    "Player": {
      "id": "Player",
      "description": "A Player resource.",
      "properties": {
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "gamePlayerId": {
          "type": "string",
          "description": "Per-application unique player identifier."
        },
        "name": {
          "type": "object",
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "description": "A representation of the individual components of the name."
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "friendStatus": {
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "type": "string",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ]
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`"
        }
      },
      "type": "object"
    },
    "PropertyValue": {
      "type": "object",
      "properties": {
        "durationValue": {
          "type": "string",
          "description": "A duration value.",
          "format": "google-duration"
        },
        "intValue": {
          "description": "An integer value.",
          "format": "int64",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "description": "A double value.",
          "type": "number"
        },
        "stringValue": {
          "type": "string",
          "description": "A string value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "A boolean value."
        }
      },
      "description": "Wrapper for the value.",
      "id": "PropertyValue"
    },
    "EventUpdateResponse": {
      "type": "object",
      "description": "An event period update resource.",
      "id": "EventUpdateResponse",
      "properties": {
        "batchFailures": {
          "type": "array",
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "description": "Any batch-wide failures which occurred applying updates."
        },
        "playerEvents": {
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array",
          "description": "The current status of any updated events"
        },
        "eventFailures": {
          "type": "array",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "description": "Any failures updating a particular event."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`."
        }
      }
    },
    "RevisionCheckResponse": {
      "type": "object",
      "id": "RevisionCheckResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`."
        },
        "revisionStatus": {
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "description": "The result of the revision check.",
          "type": "string",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ]
        },
        "apiVersion": {
          "type": "string",
          "description": "The version of the API this client revision should use when calling API methods."
        }
      },
      "description": "A third party checking a revision response."
    },
    "EventChild": {
      "properties": {
        "childId": {
          "type": "string",
          "description": "The ID of the child event."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`.",
          "type": "string"
        }
      },
      "description": "An event child relationship resource.",
      "type": "object",
      "id": "EventChild"
    },
    "LeaderboardListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The leaderboards.",
          "items": {
            "$ref": "Leaderboard"
          },
          "type": "array"
        }
      },
      "id": "LeaderboardListResponse",
      "description": "A list of leaderboard objects.",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "SnapshotListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "items": {
          "description": "The snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "SnapshotListResponse",
      "description": "A third party list snapshots response."
    },
    "ImageAsset": {
      "id": "ImageAsset",
      "type": "object",
      "description": "An image asset object.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "width": {
          "description": "The width of the asset.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The name of the asset."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the asset."
        },
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        }
      }
    },
    "PlayerScoreSubmissionList": {
      "id": "PlayerScoreSubmissionList",
      "description": "A list of score submission requests.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`."
        },
        "scores": {
          "type": "array",
          "items": {
            "$ref": "ScoreSubmission"
          },
          "description": "The score submissions."
        }
      }
    },
    "AchievementSetStepsAtLeastResponse": {
      "description": "An achievement set steps at least response.",
      "properties": {
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock."
        }
      },
[...]
