{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "name": "gamesConfiguration",
  "version": "v1configuration",
  "basePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/games/",
  "resources": {
    "achievementConfigurations": {
      "methods": {
        "delete": {
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete the achievement configuration with the given ID.",
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the achievement used by this method."
            }
          },
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1configuration/achievements/{achievementId}"
        },
        "update": {
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "gamesConfiguration.achievementConfigurations.update",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "PUT",
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1configuration/achievements/{achievementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "AchievementConfiguration"
          }
        },
        "get": {
          "id": "gamesConfiguration.achievementConfigurations.get",
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "path": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ]
        },
        "list": {
          "id": "gamesConfiguration.achievementConfigurations.list",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Returns a list of the achievement configurations in this application.",
          "httpMethod": "GET",
          "parameters": {
            "applicationId": {
              "required": true,
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            }
          }
        },
        "insert": {
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "description": "Insert a new achievement configuration in this application.",
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            }
          },
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "httpMethod": "POST"
        }
      }
    },
    "leaderboardConfigurations": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "leaderboardId"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "required": true,
              "description": "The ID of the leaderboard.",
              "location": "path"
            }
          },
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "leaderboardId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard."
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "description": "Delete the leaderboard configuration with the given ID.",
          "httpMethod": "DELETE",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "id": "gamesConfiguration.leaderboardConfigurations.delete"
        },
        "update": {
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard."
            }
          },
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "request": {
            "$ref": "LeaderboardConfiguration"
          }
        },
        "insert": {
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "description": "Insert a new leaderboard configuration in this application.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "list": {
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "description": "Returns a list of the leaderboard configurations in this application.",
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "applicationId": {
              "type": "string",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            }
          },
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "id": "gamesConfiguration.leaderboardConfigurations.list"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "canonicalName": "Games Configuration",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "title": "Google Play Games Services Publishing API",
  "schemas": {
    "GamesNumberFormatConfiguration": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The curreny code string. Only used for CURRENCY format type."
        },
        "numberFormatType": {
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "description": "The formatting for the number.",
          "type": "string"
        },
        "numDecimalPlaces": {
          "format": "int32",
          "type": "integer",
          "description": "The number of decimal places for number. Only used for NUMERIC format type."
        },
        "suffix": {
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources.",
          "$ref": "GamesNumberAffixConfiguration"
        }
      },
      "id": "GamesNumberFormatConfiguration",
      "description": "A number format resource."
    },
    "LocalizedStringBundle": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
          "type": "string"
        },
        "translations": {
          "description": "The locale strings.",
          "items": {
            "$ref": "LocalizedString"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A localized string bundle resource.",
      "id": "LocalizedStringBundle"
    },
    "AchievementConfigurationDetail": {
      "type": "object",
      "properties": {
        "sortRank": {
          "description": "The sort rank of this achievement. Writes to this field are ignored.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`.",
          "type": "string"
        },
        "pointValue": {
          "format": "int32",
          "type": "integer",
          "description": "Point value for the achievement."
        },
        "description": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the achievement description."
        },
        "name": {
          "description": "Localized strings for the achievement name.",
          "$ref": "LocalizedStringBundle"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this achievement. Writes to this field are ignored."
        }
      },
      "id": "AchievementConfigurationDetail",
      "description": "An achievement configuration detail."
    },
    "GamesNumberAffixConfiguration": {
      "id": "GamesNumberAffixConfiguration",
      "description": "A number affix resource.",
      "type": "object",
      "properties": {
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese)."
        },
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).",
          "$ref": "LocalizedStringBundle"
        },
        "other": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English)."
        },
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        }
      }
    },
    "LocalizedString": {
      "id": "LocalizedString",
      "description": "A localized string resource.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`."
        },
        "value": {
          "description": "The string value.",
          "type": "string"
        },
        "locale": {
          "description": "The locale string.",
          "type": "string"
        }
      }
    },
    "LeaderboardConfigurationDetail": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`."
        },
        "scoreFormat": {
          "description": "The score formatting for the leaderboard.",
          "$ref": "GamesNumberFormatConfiguration"
        },
        "name": {
          "description": "Localized strings for the leaderboard name.",
          "$ref": "LocalizedStringBundle"
        },
        "sortRank": {
          "type": "integer",
          "format": "int32",
          "description": "The sort rank of this leaderboard. Writes to this field are ignored."
        },
        "iconUrl": {
          "description": "The icon url of this leaderboard. Writes to this field are ignored.",
          "type": "string"
        }
      },
      "description": "A leaderboard configuration detail.",
      "type": "object",
      "id": "LeaderboardConfigurationDetail"
    },
    "AchievementConfigurationListResponse": {
      "type": "object",
      "id": "AchievementConfigurationListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "description": "The achievement configurations.",
          "items": {
            "$ref": "AchievementConfiguration"
          },
          "type": "array"
        }
      },
      "description": "A ListConfigurations response."
    },
    "AchievementConfiguration": {
      "description": "An achievement configuration resource.",
      "id": "AchievementConfiguration",
      "type": "object",
      "properties": {
        "published": {
          "$ref": "AchievementConfigurationDetail",
          "description": "The read-only published data of the achievement."
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "stepsToUnlock": {
          "type": "integer",
          "description": "Steps to unlock. Only applicable to incremental achievements.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`."
        },
        "achievementType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement."
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "draft": {
          "$ref": "AchievementConfigurationDetail",
          "description": "The draft data of the achievement."
        },
        "initialState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ],
          "description": "The initial state of the achievement."
        }
      }
    },
    "LeaderboardConfiguration": {
      "properties": {
        "scoreMin": {
          "format": "int64",
          "type": "string",
          "description": "Minimum score that can be posted to this leaderboard."
        },
        "token": {
          "type": "string",
          "description": "The token for this resource."
        },
        "draft": {
          "description": "The draft data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "scoreMax": {
          "format": "int64",
          "type": "string",
          "description": "Maximum score that can be posted to this leaderboard."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the leaderboard."
        },
        "published": {
          "$ref": "LeaderboardConfigurationDetail",
          "description": "The read-only published data of the leaderboard."
        },
        "scoreOrder": {
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "An leaderboard configuration resource.",
      "id": "LeaderboardConfiguration"
    },
    "LeaderboardConfigurationListResponse": {
      "id": "LeaderboardConfigurationListResponse",
      "description": "A ListConfigurations response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The leaderboard configurations.",
          "items": {
            "$ref": "LeaderboardConfiguration"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "id": "gamesConfiguration:v1configuration",
  "ownerName": "Google",
  "revision": "20260820"
}