{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/games/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "protocol": "rest",
  "resources": {
    "leaderboardConfigurations": {
      "methods": {
        "get": {
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID.",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "httpMethod": "GET",
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "insert": {
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Insert a new leaderboard configuration in this application.",
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "httpMethod": "POST",
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "response": {
            "$ref": "LeaderboardConfiguration"
          }
        },
        "list": {
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer"
            },
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "description": "Returns a list of the leaderboard configurations in this application.",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards"
        },
        "update": {
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the leaderboard."
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "DELETE",
          "description": "Delete the leaderboard configuration with the given ID.",
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the leaderboard."
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}"
        }
      }
    },
    "achievementConfigurations": {
      "methods": {
        "delete": {
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method."
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "path": "games/v1configuration/achievements/{achievementId}",
          "description": "Delete the achievement configuration with the given ID.",
          "httpMethod": "DELETE",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "gamesConfiguration.achievementConfigurations.get",
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1configuration/achievements/{achievementId}"
        },
        "list": {
          "description": "Returns a list of the achievement configurations in this application.",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "id": "gamesConfiguration.achievementConfigurations.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "PUT",
          "parameterOrder": [
            "achievementId"
          ],
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "id": "gamesConfiguration.achievementConfigurations.update",
          "path": "games/v1configuration/achievements/{achievementId}",
          "response": {
            "$ref": "AchievementConfiguration"
          }
        },
        "insert": {
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "httpMethod": "POST",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "description": "Insert a new achievement configuration in this application.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            }
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements"
        }
      }
    }
  },
  "title": "Google Play Games Services Publishing API",
  "name": "gamesConfiguration",
  "revision": "20260907",
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    }
  },
  "id": "gamesConfiguration:v1configuration",
  "kind": "discovery#restDescription",
  "basePath": "",
  "schemas": {
    "AchievementConfiguration": {
      "description": "An achievement configuration resource.",
      "id": "AchievementConfiguration",
      "properties": {
        "draft": {
          "$ref": "AchievementConfigurationDetail",
          "description": "The draft data of the achievement."
        },
        "initialState": {
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "type": "string",
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ]
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
          "type": "string"
        },
        "achievementType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "type": "string",
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement."
        },
        "published": {
          "$ref": "AchievementConfigurationDetail",
          "description": "The read-only published data of the achievement."
        },
        "stepsToUnlock": {
          "description": "Steps to unlock. Only applicable to incremental achievements.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "AchievementConfigurationDetail": {
      "id": "AchievementConfigurationDetail",
      "description": "An achievement configuration detail.",
      "type": "object",
      "properties": {
        "sortRank": {
          "format": "int32",
          "type": "integer",
          "description": "The sort rank of this achievement. Writes to this field are ignored."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`.",
          "type": "string"
        },
        "name": {
          "description": "Localized strings for the achievement name.",
          "$ref": "LocalizedStringBundle"
        },
        "iconUrl": {
          "description": "The icon url of this achievement. Writes to this field are ignored.",
          "type": "string"
        },
        "description": {
          "description": "Localized strings for the achievement description.",
          "$ref": "LocalizedStringBundle"
        },
        "pointValue": {
          "description": "Point value for the achievement.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AchievementConfigurationListResponse": {
      "properties": {
        "items": {
          "description": "The achievement configurations.",
          "items": {
            "$ref": "AchievementConfiguration"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "id": "AchievementConfigurationListResponse",
      "description": "A ListConfigurations response.",
      "type": "object"
    },
    "GamesNumberFormatConfiguration": {
      "id": "GamesNumberFormatConfiguration",
      "properties": {
        "numberFormatType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "description": "The formatting for the number.",
          "type": "string",
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ]
        },
        "suffix": {
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources.",
          "$ref": "GamesNumberAffixConfiguration"
        },
        "currencyCode": {
          "description": "The curreny code string. Only used for CURRENCY format type.",
          "type": "string"
        },
        "numDecimalPlaces": {
          "type": "integer",
          "description": "The number of decimal places for number. Only used for NUMERIC format type.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A number format resource."
    },
    "LocalizedStringBundle": {
      "id": "LocalizedStringBundle",
      "type": "object",
      "description": "A localized string bundle resource.",
      "properties": {
        "translations": {
          "description": "The locale strings.",
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
          "type": "string"
        }
      }
    },
    "GamesNumberAffixConfiguration": {
      "properties": {
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class)."
        },
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese)."
        },
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        },
        "other": {
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English).",
          "$ref": "LocalizedStringBundle"
        }
      },
      "description": "A number affix resource.",
      "id": "GamesNumberAffixConfiguration",
      "type": "object"
    },
    "LeaderboardConfiguration": {
      "properties": {
        "draft": {
          "description": "The draft data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`."
        },
        "scoreMax": {
          "format": "int64",
          "type": "string",
          "description": "Maximum score that can be posted to this leaderboard."
        },
        "scoreOrder": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "type": "string"
        },
        "published": {
          "description": "The read-only published data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "id": {
          "description": "The ID of the leaderboard.",
          "type": "string"
        },
        "scoreMin": {
          "format": "int64",
          "type": "string",
          "description": "Minimum score that can be posted to this leaderboard."
        }
      },
      "id": "LeaderboardConfiguration",
      "description": "An leaderboard configuration resource.",
      "type": "object"
    },
    "LeaderboardConfigurationListResponse": {
      "description": "A ListConfigurations response.",
      "id": "LeaderboardConfigurationListResponse",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "LeaderboardConfiguration"
          },
          "description": "The leaderboard configurations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
          "type": "string"
        }
      }
    },
    "LocalizedString": {
      "description": "A localized string resource.",
      "id": "LocalizedString",
      "properties": {
        "locale": {
          "description": "The locale string.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The string value."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`."
        }
      },
      "type": "object"
    },
    "LeaderboardConfigurationDetail": {
      "id": "LeaderboardConfigurationDetail",
      "description": "A leaderboard configuration detail.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Localized strings for the leaderboard name.",
          "$ref": "LocalizedStringBundle"
        },
        "sortRank": {
          "format": "int32",
          "description": "The sort rank of this leaderboard. Writes to this field are ignored.",
          "type": "integer"
        },
        "scoreFormat": {
          "description": "The score formatting for the leaderboard.",
          "$ref": "GamesNumberFormatConfiguration"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`."
        },
        "iconUrl": {
          "description": "The icon url of this leaderboard. Writes to this field are ignored.",
          "type": "string"
        }
      }
    }
  },
  "version": "v1configuration",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Games Configuration",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services."
}