{
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        }
      }
    }
  },
  "id": "games:v1",
  "name": "games",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "baseUrl": "https://games.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://games.googleapis.com/",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "resources": {
    "achievementDefinitions": {
      "methods": {
        "list": {
          "id": "games.achievementDefinitions.list",
          "path": "games/v1/achievements",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "flatPath": "games/v1/achievements",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists all the achievement definitions for your application."
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "flatPath": "games/v1/revisions/check",
          "parameterOrder": [
            "clientRevision"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "Checks whether the games client is out of date.",
          "id": "games.revisions.check",
          "path": "games/v1/revisions/check",
          "parameters": {
            "clientRevision": {
              "type": "string",
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "location": "query",
              "required": true
            }
          },
          "response": {
            "$ref": "RevisionCheckResponse"
          }
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query"
            },
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken"
        },
        "generateRecallPlayGroupingApiToken": {
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [],
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query"
            },
            "persona": {
              "type": "string",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "location": "query"
            },
            "recallSessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken"
        }
      }
    },
    "players": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Player"
          },
          "parameters": {
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "playerIdConsistencyToken": {
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto",
              "location": "query",
              "type": "string"
            }
          },
          "id": "games.players.get",
          "path": "games/v1/players/{playerId}",
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId"
          ],
          "flatPath": "games/v1/players/{playerId}"
        },
        "getMultipleApplicationPlayerIds": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "parameterOrder": [],
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "id": "games.players.getMultipleApplicationPlayerIds",
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "parameters": {
            "applicationIds": {
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "getScopedPlayerIds": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "flatPath": "games/v1/players/me/scopedIds",
          "parameterOrder": [],
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "id": "games.players.getScopedPlayerIds",
          "path": "games/v1/players/me/scopedIds",
          "parameters": {}
        },
        "list": {
          "flatPath": "games/v1/players/me/players/{collection}",
          "parameterOrder": [
            "collection"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "Get the collection of players for the currently authenticated user.",
          "id": "games.players.list",
          "path": "games/v1/players/me/players/{collection}",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "collection": {
              "required": true,
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "description": "Collection of players being retrieved",
              "location": "path",
              "type": "string",
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "enumDeprecated": [
                true,
                true,
                false
              ]
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "PlayerListResponse"
          }
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "response": {
            "$ref": "StatsResponse"
          },
          "id": "games.stats.get",
          "path": "games/v1/stats",
          "parameters": {},
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "flatPath": "games/v1/stats",
          "parameterOrder": []
        }
      }
    },
    "recall": {
      "methods": {
        "lastTokenFromAllDeveloperGames": {
          "parameterOrder": [
            "sessionId"
          ],
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "parameters": {
            "sessionId": {
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "required": true
            }
          },
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          }
        },
        "gamesPlayerTokens": {
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "id": "games.recall.gamesPlayerTokens",
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "applicationIds": {
              "type": "string",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "location": "query",
              "repeated": true
            }
          },
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          }
        },
        "resetPersona": {
          "flatPath": "games/v1/recall:resetPersona",
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "id": "games.recall.resetPersona",
          "path": "games/v1/recall:resetPersona",
          "parameters": {},
          "response": {
            "$ref": "ResetPersonaResponse"
          }
        },
        "retrieveTokens": {
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "id": "games.recall.retrieveTokens",
          "path": "games/v1/recall/tokens/{sessionId}",
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ]
        },
        "unlinkPersona": {
          "parameters": {},
          "id": "games.recall.unlinkPersona",
          "path": "games/v1/recall:unlinkPersona",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "parameterOrder": [],
          "flatPath": "games/v1/recall:unlinkPersona",
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST"
        },
        "linkPersona": {
          "flatPath": "games/v1/recall:linkPersona",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "id": "games.recall.linkPersona",
          "path": "games/v1/recall:linkPersona",
          "parameters": {},
          "response": {
            "$ref": "LinkPersonaResponse"
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "updateMultiple": {
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "parameters": {},
          "id": "games.achievements.updateMultiple",
          "path": "games/v1/achievements/updateMultiple",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "description": "Updates multiple achievements for the currently authenticated player.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "flatPath": "games/v1/achievements/updateMultiple"
        },
        "reveal": {
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "id": "games.achievements.reveal",
          "path": "games/v1/achievements/{achievementId}/reveal",
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "parameterOrder": [
            "achievementId"
          ]
        },
        "setStepsAtLeast": {
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "id": "games.achievements.setStepsAtLeast",
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "steps": {
              "type": "integer",
              "description": "Required. The minimum value to set the steps to.",
              "location": "query",
              "required": true,
              "format": "int32"
            }
          },
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          }
        },
        "increment": {
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "parameters": {
            "requestId": {
              "type": "string",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "location": "query",
              "format": "int64"
            },
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "stepsToIncrement": {
              "required": true,
              "format": "int32",
              "type": "integer",
              "description": "Required. The number of steps to increment.",
              "location": "query"
            }
          },
          "id": "games.achievements.increment",
          "path": "games/v1/achievements/{achievementId}/increment",
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/increment"
        },
        "unlock": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Unlocks this achievement for the currently authenticated player.",
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "parameterOrder": [
            "achievementId"
          ],
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "id": "games.achievements.unlock",
          "path": "games/v1/achievements/{achievementId}/unlock",
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "flatPath": "games/v1/players/{playerId}/achievements",
          "parameterOrder": [
            "playerId"
          ],
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "id": "games.achievements.list",
          "path": "games/v1/players/{playerId}/achievements",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "state": {
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "scores": {
      "methods": {
        "submitMultiple": {
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "id": "games.scores.submitMultiple",
          "path": "games/v1/leaderboards/scores",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "description": "Submits multiple scores to leaderboards.",
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "flatPath": "games/v1/leaderboards/scores",
          "parameterOrder": []
        },
        "submit": {
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "description": "Submits a score to the specified leaderboard.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "scoreTag": {
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "type": "string",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "location": "query"
            },
            "score": {
              "type": "string",
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "location": "query",
              "required": true,
              "format": "int64"
            },
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "games.scores.submit",
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "response": {
            "$ref": "PlayerScoreResponse"
          }
        },
        "list": {
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "id": "games.scores.list",
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "collection": {
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "type": "string",
              "description": "The collection of scores you're requesting.",
              "location": "path",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "required": true
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "timeSpan": {
              "required": true,
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "location": "query",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ]
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "LeaderboardScores"
          }
        },
        "listWindow": {
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            },
            "collection": {
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "required": true,
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "type": "string",
              "description": "The collection of scores you're requesting.",
              "location": "path"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "resultsAbove": {
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "returnTopIfAbsent": {
              "type": "boolean",
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "location": "query"
            },
            "timeSpan": {
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true,
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "type": "string",
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "id": "games.scores.listWindow",
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}"
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "id": "games.scores.get",
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "timeSpan": {
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true,
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "type": "string",
              "description": "The time span for the scores and ranks you're requesting.",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "includeRankType": {
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ],
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "type": "string",
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "location": "query",
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ]
            }
          }
        }
      }
    },
    "snapshots": {
      "methods": {
        "list": {
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "id": "games.snapshots.list",
          "path": "games/v1/players/{playerId}/snapshots",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "parameterOrder": [
            "playerId"
          ]
        },
        "get": {
          "parameters": {
            "snapshotId": {
              "type": "string",
              "description": "The ID of the snapshot.",
              "location": "path",
              "required": true
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "games.snapshots.get",
          "path": "games/v1/snapshots/{snapshotId}",
          "response": {
            "$ref": "Snapshot"
          },
          "parameterOrder": [
            "snapshotId"
          ],
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "description": "Retrieves the metadata for a given snapshot ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "metagame": {
      "methods": {
        "listCategoriesByPlayer": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "response": {
            "$ref": "CategoryListResponse"
          },
          "id": "games.metagame.listCategoriesByPlayer",
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "collection": {
              "enum": [
                "ALL"
              ],
              "required": true,
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "description": "The collection of categories for which data will be returned.",
              "location": "path",
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true
            }
          }
        },
        "getMetagameConfig": {
          "flatPath": "games/v1/metagameConfig",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Return the metagame configuration data for the calling application.",
          "id": "games.metagame.getMetagameConfig",
          "path": "games/v1/metagameConfig",
          "parameters": {},
          "response": {
            "$ref": "MetagameConfig"
          }
        }
      }
    },
    "applications": {
      "methods": {
        "verify": {
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "id": "games.applications.verify",
          "path": "games/v1/applications/{applicationId}/verify",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "parameterOrder": [
            "applicationId"
          ]
        },
        "getEndPoint": {
          "response": {
            "$ref": "EndPoint"
          },
          "id": "games.applications.getEndPoint",
          "path": "games/v1/applications/getEndPoint",
          "parameters": {
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "query"
            },
            "endPointType": {
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "type": "string",
              "description": "Type of endpoint being requested.",
              "location": "query",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "description": "Returns a URL for the requested end point type.",
          "flatPath": "games/v1/applications/getEndPoint",
          "parameterOrder": []
        },
        "get": {
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "platformType": {
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "type": "string",
              "description": "Restrict application details returned to the specific platform.",
              "location": "query"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "id": "games.applications.get",
          "path": "games/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1/applications/{applicationId}",
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET"
        },
        "played": {
          "description": "Indicate that the currently authenticated user is playing your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "id": "games.applications.played",
          "path": "games/v1/applications/played",
          "flatPath": "games/v1/applications/played"
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Leaderboard"
          },
          "id": "games.leaderboards.get",
          "path": "games/v1/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ]
        },
        "list": {
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "games.leaderboards.list",
          "path": "games/v1/leaderboards",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "parameterOrder": [],
          "flatPath": "games/v1/leaderboards",
          "description": "Lists all the leaderboard metadata for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "events": {
      "methods": {
        "listDefinitions": {
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "id": "games.events.listDefinitions",
          "path": "games/v1/eventDefinitions",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a list of the event definitions in this application.",
          "flatPath": "games/v1/eventDefinitions",
          "parameterOrder": []
        },
        "listByPlayer": {
          "parameterOrder": [],
          "flatPath": "games/v1/events",
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "id": "games.events.listByPlayer",
          "path": "games/v1/events",
          "response": {
            "$ref": "PlayerEventListResponse"
          }
        },
        "record": {
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "id": "games.events.record",
          "path": "games/v1/events",
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "parameterOrder": [],
          "flatPath": "games/v1/events",
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "request": {
            "$ref": "EventRecordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST"
        }
      }
    }
  },
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "canonicalName": "Games",
  "title": "Google Play Games Services API",
  "ownerName": "Google",
  "revision": "20260716",
  "version": "v1",
  "schemas": {
    "PlayGroupingApiToken": {
      "id": "PlayGroupingApiToken",
      "properties": {
        "tokenValue": {
          "type": "string",
          "description": "Value of the token."
        }
      },
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "type": "object"
    },
    "InstanceWebDetails": {
      "id": "InstanceWebDetails",
      "properties": {
        "launchUrl": {
          "type": "string",
          "description": "Launch URL for the game."
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`."
        }
      },
      "type": "object",
      "description": "The Web details resource."
    },
    "PlayerScoreResponse": {
      "type": "object",
      "description": "A list of leaderboard entry resources.",
      "id": "PlayerScoreResponse",
      "properties": {
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`."
        },
        "beatenScoreTimeSpans": {
          "type": "array",
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "items": {
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "type": "string"
          }
        },
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard ID that this score was submitted to."
        },
        "unbeatenScores": {
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "items": {
            "$ref": "PlayerScore"
          },
          "type": "array"
        }
      }
    },
    "RetrievePlayerTokensResponse": {
      "id": "RetrievePlayerTokensResponse",
      "properties": {
        "tokens": {
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "items": {
            "$ref": "RecallToken"
          },
          "type": "array"
        }
      },
      "description": "Response for the RetrievePlayerTokens RPC",
      "type": "object"
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "id": "GeneratePlayGroupingApiTokenResponse",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "type": "object",
      "description": "Response for the GeneratePlayGroupingApiToken RPC."
    },
    "PlayerAchievement": {
      "description": "An achievement object.",
      "type": "object",
      "id": "PlayerAchievement",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`."
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "description": "The timestamp of the last modification to this achievement's state.",
          "format": "int64"
        },
        "formattedCurrentStepsString": {
          "type": "string",
          "description": "The current steps for an incremental achievement as a string."
        },
        "achievementState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The state of the achievement.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps for an incremental achievement.",
          "format": "int32",
          "type": "integer"
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "format": "int64"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        }
      }
    },
    "AchievementUnlockResponse": {
      "description": "An achievement unlock response",
      "type": "object",
      "id": "AchievementUnlockResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`."
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        }
      }
    },
    "AchievementUpdateResponse": {
      "id": "AchievementUpdateResponse",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this achievement if it is incremental.",
          "format": "int32"
        },
        "currentState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string",
          "description": "The current state of the achievement."
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Whether the requested updates actually affected the achievement."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        },
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is was applied to."
        }
      },
      "description": "An updated achievement.",
      "type": "object"
    },
    "GamesAchievementSetStepsAtLeast": {
      "id": "GamesAchievementSetStepsAtLeast",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        },
        "steps": {
          "description": "The minimum number of steps for the achievement to be set to.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The payload to request to increment an achievement.",
      "type": "object"
    },
    "LinkPersonaRequest": {
      "type": "object",
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "id": "LinkPersonaRequest",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Input only. Optional expiration time.",
          "format": "google-datetime"
        },
        "token": {
          "type": "string",
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation)."
        },
        "cardinalityConstraint": {
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ],
          "type": "string",
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game."
        },
        "conflictingLinksResolutionPolicy": {
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "type": "string",
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ]
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        },
        "ttl": {
          "description": "Input only. Optional time-to-live.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "type": "object",
      "description": "A list of player leaderboard scores.",
      "id": "PlayerLeaderboardScoreListResponse",
      "properties": {
        "items": {
          "type": "array",
          "description": "The leaderboard scores.",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`."
        },
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      }
    },
    "PlayerListResponse": {
      "id": "PlayerListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The players.",
          "items": {
            "$ref": "Player"
          }
        }
      },
      "description": "A third party player list response.",
      "type": "object"
    },
    "AchievementUpdateMultipleResponse": {
      "type": "object",
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "id": "AchievementUpdateMultipleResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`."
        },
        "updatedAchievements": {
          "description": "The updated state of the achievements.",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "type": "array"
        }
      }
    },
    "InstanceIosDetails": {
      "type": "object",
      "description": "The iOS details resource.",
      "id": "InstanceIosDetails",
      "properties": {
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "itunesAppId": {
          "type": "string",
          "description": "iTunes App ID."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "preferredForIpad": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPad devices."
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        }
      }
    },
    "EventChild": {
      "description": "An event child relationship resource.",
      "type": "object",
      "id": "EventChild",
      "properties": {
        "childId": {
          "type": "string",
          "description": "The ID of the child event."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`."
        }
      }
    },
    "EventUpdateResponse": {
      "id": "EventUpdateResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "eventFailures": {
          "description": "Any failures updating a particular event.",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "type": "array"
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        },
        "batchFailures": {
          "description": "Any batch-wide failures which occurred applying updates.",
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "type": "array"
        }
      },
      "description": "An event period update resource.",
      "type": "object"
    },
    "PlayerScoreSubmissionList": {
      "id": "PlayerScoreSubmissionList",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        },
        "scores": {
          "type": "array",
          "description": "The score submissions.",
          "items": {
            "$ref": "ScoreSubmission"
          }
        }
      },
      "description": "A list of score submission requests.",
      "type": "object"
    },
    "PlayerEvent": {
      "type": "object",
      "description": "An event status resource.",
      "id": "PlayerEvent",
      "properties": {
        "numEvents": {
          "description": "The current number of times this event has occurred.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "formattedNumEvents": {
          "type": "string",
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console."
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event definition."
        }
      }
    },
    "EventPeriodRange": {
      "type": "object",
      "description": "An event period time range.",
      "id": "EventPeriodRange",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`."
        },
        "periodStartMillis": {
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        },
        "periodEndMillis": {
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "PlayerLevel": {
      "id": "PlayerLevel",
      "properties": {
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        },
        "minExperiencePoints": {
          "type": "string",
          "description": "The minimum experience points for this level.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`."
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "1P/3P metadata about a user's level.",
      "type": "object"
    },
    "PlayerAchievementListResponse": {
      "type": "object",
      "description": "A list of achievement objects.",
      "id": "PlayerAchievementListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "items": {
          "description": "The achievements.",
          "items": {
            "$ref": "PlayerAchievement"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`."
        }
      }
    },
    "SnapshotListResponse": {
      "id": "SnapshotListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`."
        },
        "items": {
          "description": "The snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted."
        }
      },
      "description": "A third party list snapshots response.",
      "type": "object"
    },
    "LeaderboardListResponse": {
      "id": "LeaderboardListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The leaderboards.",
          "items": {
            "$ref": "Leaderboard"
          }
        }
      },
      "description": "A list of leaderboard objects.",
      "type": "object"
    },
    "GamesAchievementIncrement": {
      "type": "object",
      "description": "The payload to request to increment an achievement.",
      "id": "GamesAchievementIncrement",
      "properties": {
        "requestId": {
          "description": "The requestId associated with an increment to an achievement.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "steps": {
          "type": "integer",
          "description": "The number of steps to be incremented.",
          "format": "int32"
        }
      }
    },
    "EventDefinition": {
      "id": "EventDefinition",
      "properties": {
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`."
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of what this event represents."
        },
        "childEvents": {
          "description": "A list of events that are a child of this event.",
          "items": {
            "$ref": "EventChild"
          },
          "type": "array"
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "visibility": {
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "description": "The visibility of event being tracked in this definition.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "An event definition resource."
    },
    "AchievementDefinitionsListResponse": {
      "id": "AchievementDefinitionsListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      },
      "description": "A list of achievement definition objects.",
      "type": "object"
    },
    "ScoreSubmission": {
      "description": "A request to submit a score to leaderboards.",
      "type": "object",
      "id": "ScoreSubmission",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`.",
          "type": "string"
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard this score is being submitted to."
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "score": {
          "type": "string",
          "description": "The new score being submitted.",
          "format": "int64"
        }
      }
    },
    "LeaderboardEntry": {
      "id": "LeaderboardEntry",
      "properties": {
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`."
        },
        "formattedScore": {
          "type": "string",
          "description": "The localized string for the numerical value of this score."
        },
        "scoreValue": {
          "type": "string",
          "description": "The numerical value of this score.",
          "format": "int64"
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this high score.",
          "type": "string"
        },
        "writeTimestampMillis": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64",
          "type": "string"
        },
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        }
      },
      "description": "The Leaderboard Entry resource.",
      "type": "object"
    },
    "StatsResponse": {
      "description": "A third party stats resource.",
      "type": "object",
      "id": "StatsResponse",
      "properties": {
        "num_sessions": {
          "type": "integer",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        },
        "churn_probability": {
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "high_spender_probability": {
          "type": "number",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "spend_probability": {
          "type": "number",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "days_since_last_played": {
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "num_sessions_percentile": {
          "type": "number",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "total_spend_next_28_days": {
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "spend_percentile": {
          "type": "number",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "avg_session_length_minutes": {
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "num_purchases": {
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "properties": {
        "gamePlayerToken": {
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal.",
          "$ref": "GamePlayerToken"
        }
      },
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC",
      "type": "object"
    },
    "EventUpdateRequest": {
      "description": "An event period update resource.",
      "type": "object",
      "id": "EventUpdateRequest",
      "properties": {
        "updateCount": {
          "type": "string",
          "description": "The number of times this event occurred in this time period.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event being modified in this update."
        }
      }
    },
    "GamePlayerToken": {
      "description": "Recall tokens for a game.",
      "type": "object",
      "id": "GamePlayerToken",
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        },
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        }
      }
    },
    "AchievementUpdateRequest": {
      "description": "A request to update an achievement.",
      "type": "object",
      "id": "AchievementUpdateRequest",
      "properties": {
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement.",
          "$ref": "GamesAchievementIncrement"
        },
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        },
        "updateType": {
          "type": "string",
          "description": "The type of update being applied.",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`."
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "properties": {
        "turnBasedPlay": {
          "description": "Flag to show if this game instance supports turn based play.",
          "type": "boolean"
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "androidInstance": {
          "description": "Platform dependent details for Android.",
          "$ref": "InstanceAndroidDetails"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        },
        "platformType": {
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "type": "string",
          "description": "The platform type."
        },
        "name": {
          "type": "string",
          "description": "Localized display name."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        }
      },
      "description": "The Instance resource.",
      "type": "object"
    },
    "ResetPersonaResponse": {
      "id": "ResetPersonaResponse",
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether any tokens were unlinked as a result of this request."
        }
      },
      "description": "Response for the ResetPersona RPC",
      "type": "object"
    },
    "EventRecordFailure": {
      "id": "EventRecordFailure",
      "properties": {
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        },
        "failureCause": {
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "description": "The cause for the update failure.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`.",
          "type": "string"
        }
      },
      "description": "An event update failure resource.",
      "type": "object"
    },
    "EndPoint": {
      "description": "Container for a URL end point of the requested type.",
      "type": "object",
      "id": "EndPoint",
      "properties": {
        "url": {
          "description": "A URL suitable for loading in a web browser for the requested endpoint.",
          "type": "string"
        }
      }
    },
    "Player": {
      "id": "Player",
      "properties": {
        "name": {
          "properties": {
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "A representation of the individual components of the name."
        },
        "gamePlayerId": {
          "type": "string",
          "description": "Per-application unique player identifier."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "friendStatus": {
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "type": "string",
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game."
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        }
      },
      "type": "object",
      "description": "A Player resource."
    },
    "PlayerLeaderboardScore": {
      "id": "PlayerLeaderboardScore",
      "properties": {
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreString": {
          "type": "string",
          "description": "The formatted value of this score."
        },
        "writeTimestamp": {
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64"
        },
        "socialRank": {
          "description": "The social rank of the score in this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "scoreValue": {
          "description": "The numerical value of this score.",
          "format": "int64",
          "type": "string"
        },
        "publicRank": {
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
          "$ref": "LeaderboardScoreRank"
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
[...]
