{
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "documentationLink": "https://developers.google.com/games/",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "revision": "20260907",
  "resources": {
    "achievements": {
      "methods": {
        "resetForAllPlayers": {
          "httpMethod": "POST",
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "reset": {
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "achievementId"
          ],
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "httpMethod": "POST",
          "path": "games/v1management/achievements/{achievementId}/reset",
          "id": "gamesManagement.achievements.reset"
        },
        "resetAllForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "parameters": {},
          "parameterOrder": [],
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console."
        },
        "resetAll": {
          "path": "games/v1management/achievements/reset",
          "id": "gamesManagement.achievements.resetAll",
          "flatPath": "games/v1management/achievements/reset",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": []
        },
        "resetMultipleForAllPlayers": {
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          }
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "required": true
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "id": "gamesManagement.players.hide",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}"
        },
        "unhide": {
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "id": "gamesManagement.players.unhide",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            },
            "playerId": {
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}"
        }
      }
    },
    "events": {
      "methods": {
        "reset": {
          "id": "gamesManagement.events.reset",
          "path": "games/v1management/events/{eventId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "eventId": {
              "required": true,
              "type": "string",
              "description": "The ID of the event.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "eventId"
          ],
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST"
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/events/resetAllForAllPlayers",
          "parameters": {},
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "parameters": {},
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAll": {
          "id": "gamesManagement.events.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "parameters": {},
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/reset",
          "path": "games/v1management/events/reset"
        },
        "resetForAllPlayers": {
          "httpMethod": "POST",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "parameterOrder": [
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "id": "gamesManagement.events.resetForAllPlayers",
          "parameters": {
            "eventId": {
              "location": "path",
              "required": true,
              "description": "The ID of the event.",
              "type": "string"
            }
          }
        }
      }
    },
    "scores": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "parameters": {},
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "resetForAllPlayers": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "type": "string",
              "required": true
            }
          },
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset."
        },
        "resetAllForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "parameterOrder": [],
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "httpMethod": "POST"
        },
        "reset": {
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "id": "gamesManagement.scores.reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard."
            }
          },
          "httpMethod": "POST",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset"
        },
        "resetAll": {
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "games/v1management/scores/reset",
          "path": "games/v1management/scores/reset",
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application."
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "required": true
            }
          },
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "id": "gamesManagement.applications.listHidden",
          "parameterOrder": [
            "applicationId"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden"
        }
      }
    }
  },
  "version": "v1management",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "name": "gamesManagement",
  "id": "gamesManagement:v1management",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "canonicalName": "Games Management",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "ownerName": "Google",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Player": {
      "properties": {
        "name": {
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            }
          },
          "type": "object",
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present."
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`."
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        }
      },
      "type": "object",
      "id": "Player",
      "description": "A Player resource."
    },
    "GamesPlayerLevelResource": {
      "properties": {
        "level": {
          "description": "The level for the user.",
          "type": "integer",
          "format": "int32"
        },
        "minExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The minimum experience points for this level."
        },
        "maxExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The maximum experience points for this level."
        }
      },
      "type": "object",
      "description": "1P/3P metadata about a user's level.",
      "id": "GamesPlayerLevelResource"
    },
    "PlayerScoreResetResponse": {
      "description": "A list of reset leaderboard entry resources.",
      "properties": {
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        },
        "resetScoreTimeSpans": {
          "type": "array",
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`."
        }
      },
      "id": "PlayerScoreResetResponse",
      "type": "object"
    },
    "AchievementResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`."
        },
        "achievement_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset.",
          "type": "array"
        }
      },
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object"
    },
    "ScoresResetMultipleForAllRequest": {
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "type": "array",
          "description": "The IDs of leaderboards to reset.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PlayerScoreResetAllResponse": {
      "id": "PlayerScoreResetAllResponse",
      "description": "A list of leaderboard reset resources.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "description": "The leaderboard reset results.",
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          }
        }
      },
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "properties": {
        "lastLevelUpTimestampMillis": {
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string"
        },
        "currentLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The current level of the player."
        },
        "currentExperiencePoints": {
          "format": "int64",
          "description": "The current number of experience points for the player.",
          "type": "string"
        },
        "nextLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        }
      },
      "id": "GamesPlayerExperienceInfoResource",
      "description": "1P/3P metadata about the player's experience.",
      "type": "object"
    },
    "AchievementResetResponse": {
      "description": "An achievement reset response.",
      "id": "AchievementResetResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`."
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Flag to indicate if the requested update actually occurred."
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "
        }
      }
    },
    "AchievementResetAllResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        },
        "results": {
          "description": "The achievement reset results.",
          "type": "array",
          "items": {
            "$ref": "AchievementResetResponse"
          }
        }
      },
      "id": "AchievementResetAllResponse",
      "description": "Achievement reset all response."
    },
    "HiddenPlayerList": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        },
        "items": {
          "items": {
            "$ref": "HiddenPlayer"
          },
          "description": "The players.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "HiddenPlayerList",
      "description": "A list of hidden players.",
      "type": "object"
    },
    "EventsResetMultipleForAllRequest": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EventsResetMultipleForAllRequest",
      "description": "Multiple events reset all request."
    },
    "HiddenPlayer": {
      "description": "The HiddenPlayer resource.",
      "id": "HiddenPlayer",
      "type": "object",
      "properties": {
        "player": {
          "$ref": "Player",
          "readOnly": true,
          "description": "Output only. The player information."
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`."
        },
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "type": "object",
      "id": "ProfileSettings",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean"
        }
      }
    }
  },
  "title": "Google Play Games Services Management API",
  "ownerDomain": "google.com"
}