{
  "kind": "discovery#restDescription",
  "id": "gamesManagement:v1management",
  "revision": "20260723",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "canonicalName": "Games Management",
  "title": "Google Play Games Services Management API",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "name": "gamesManagement",
  "version": "v1management",
  "basePath": "",
  "discoveryVersion": "v1",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "documentationLink": "https://developers.google.com/games/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "ownerName": "Google",
  "schemas": {
    "EventsResetMultipleForAllRequest": {
      "id": "EventsResetMultipleForAllRequest",
      "description": "Multiple events reset all request.",
      "type": "object",
      "properties": {
        "event_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of events to reset.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        }
      }
    },
    "HiddenPlayer": {
      "properties": {
        "player": {
          "description": "Output only. The player information.",
          "readOnly": true,
          "$ref": "Player"
        },
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The HiddenPlayer resource.",
      "type": "object",
      "id": "HiddenPlayer"
    },
    "AchievementResetAllResponse": {
      "description": "Achievement reset all response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "description": "The achievement reset results.",
          "type": "array"
        }
      },
      "id": "AchievementResetAllResponse"
    },
    "GamesPlayerLevelResource": {
      "id": "GamesPlayerLevelResource",
      "properties": {
        "level": {
          "description": "The level for the user.",
          "type": "integer",
          "format": "int32"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "1P/3P metadata about a user's level.",
      "type": "object"
    },
    "PlayerScoreResetResponse": {
      "properties": {
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        },
        "resetScoreTimeSpans": {
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        }
      },
      "description": "A list of reset leaderboard entry resources.",
      "type": "object",
      "id": "PlayerScoreResetResponse"
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "description": "Profile settings",
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "description": "1P/3P metadata about the player's experience.",
      "type": "object",
      "properties": {
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "type": "string",
          "format": "int64"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ScoresResetMultipleForAllRequest": {
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of leaderboards to reset.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "achievement_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        }
      }
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "HiddenPlayer"
          },
          "description": "The players.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        }
      },
      "description": "A list of hidden players.",
      "type": "object"
    },
    "AchievementResetResponse": {
      "description": "An achievement reset response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        }
      },
      "id": "AchievementResetResponse"
    },
    "Player": {
      "id": "Player",
      "description": "A Player resource.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "name": {
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        }
      }
    },
    "PlayerScoreResetAllResponse": {
      "id": "PlayerScoreResetAllResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "description": "The leaderboard reset results.",
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          }
        }
      },
      "description": "A list of leaderboard reset resources.",
      "type": "object"
    }
  },
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "events": {
      "methods": {
        "resetForAllPlayers": {
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "eventId"
          ],
          "id": "gamesManagement.events.resetForAllPlayers",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset."
        },
        "resetAll": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "games/v1management/events/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "id": "gamesManagement.events.resetAll",
          "path": "games/v1management/events/reset"
        },
        "reset": {
          "flatPath": "games/v1management/events/{eventId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "eventId"
          ],
          "id": "gamesManagement.events.reset",
          "path": "games/v1management/events/{eventId}/reset",
          "parameters": {
            "eventId": {
              "required": true,
              "description": "The ID of the event.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetMultipleForAllPlayers": {
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "parameters": {},
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "path": "games/v1management/events/resetAllForAllPlayers",
          "parameters": {},
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console."
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "parameters": {
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "httpMethod": "GET",
          "id": "gamesManagement.applications.listHidden"
        }
      }
    },
    "scores": {
      "methods": {
        "resetForAllPlayers": {
          "parameters": {
            "leaderboardId": {
              "required": true,
              "location": "path",
              "description": "The ID of the leaderboard.",
              "type": "string"
            }
          },
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAllForAllPlayers": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "path": "games/v1management/scores/resetAllForAllPlayers"
        },
        "reset": {
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "type": "string",
              "required": true
            }
          },
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "id": "gamesManagement.scores.reset",
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "parameterOrder": [],
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "path": "games/v1management/scores/resetMultipleForAllPlayers"
        },
        "resetAll": {
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetAll",
          "parameterOrder": [],
          "flatPath": "games/v1management/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "parameters": {},
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/scores/reset"
        }
      }
    },
    "achievements": {
      "methods": {
        "resetForAllPlayers": {
          "httpMethod": "POST",
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers"
        },
        "resetAllForAllPlayers": {
          "parameters": {},
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reset": {
          "path": "games/v1management/achievements/{achievementId}/reset",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "achievementId"
          ],
          "id": "gamesManagement.achievements.reset",
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAll": {
          "path": "games/v1management/achievements/reset",
          "parameters": {},
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "flatPath": "games/v1management/achievements/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "id": "gamesManagement.achievements.resetAll",
          "httpMethod": "POST"
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "required": true
            },
            "playerId": {
              "required": true,
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string"
            }
          },
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.players.hide",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "POST",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "unhide": {
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "id": "gamesManagement.players.unhide",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path"
            },
            "playerId": {
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "servicePath": ""
}