{
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerDomain": "google.com",
  "schemas": {
    "PlayerScoreResetResponse": {
      "description": "A list of reset leaderboard entry resources.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`."
        },
        "resetScoreTimeSpans": {
          "type": "array",
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "items": {
            "type": "string"
          }
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        }
      },
      "id": "PlayerScoreResetResponse",
      "type": "object"
    },
    "PlayerScoreResetAllResponse": {
      "id": "PlayerScoreResetAllResponse",
      "type": "object",
      "description": "A list of leaderboard reset resources.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."
        },
        "results": {
          "description": "The leaderboard reset results.",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "type": "array"
        }
      }
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "achievement_ids": {
          "description": "The IDs of achievements to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        }
      }
    },
    "GamesPlayerLevelResource": {
      "id": "GamesPlayerLevelResource",
      "type": "object",
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        },
        "minExperiencePoints": {
          "type": "string",
          "description": "The minimum experience points for this level.",
          "format": "int64"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AchievementResetAllResponse": {
      "id": "AchievementResetAllResponse",
      "type": "object",
      "description": "Achievement reset all response.",
      "properties": {
        "results": {
          "type": "array",
          "description": "The achievement reset results.",
          "items": {
            "$ref": "AchievementResetResponse"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        }
      }
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "type": "object",
      "description": "Profile settings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        },
        "profileVisible": {
          "type": "boolean"
        }
      }
    },
    "ScoresResetMultipleForAllRequest": {
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "type": "array",
          "description": "The IDs of leaderboards to reset.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EventsResetMultipleForAllRequest": {
      "id": "EventsResetMultipleForAllRequest",
      "type": "object",
      "description": "Multiple events reset all request.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "type": "array",
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "type": "object",
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Player": {
      "id": "Player",
      "type": "object",
      "description": "A Player resource.",
      "properties": {
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        },
        "name": {
          "type": "object",
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          }
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        }
      }
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "type": "object",
      "description": "A list of hidden players.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The players.",
          "items": {
            "$ref": "HiddenPlayer"
          },
          "type": "array"
        }
      }
    },
    "AchievementResetResponse": {
      "description": "An achievement reset response.",
      "properties": {
        "definitionId": {
          "type": "string",
          "description": "The ID of an achievement for which player state has been updated."
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        }
      },
      "id": "AchievementResetResponse",
      "type": "object"
    },
    "HiddenPlayer": {
      "id": "HiddenPlayer",
      "type": "object",
      "description": "The HiddenPlayer resource.",
      "properties": {
        "kind": {
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true,
          "type": "string"
        },
        "player": {
          "description": "Output only. The player information.",
          "readOnly": true,
          "$ref": "Player"
        },
        "hiddenTimeMillis": {
          "type": "string",
          "description": "Output only. The time this player was hidden.",
          "readOnly": true,
          "format": "int64"
        }
      }
    }
  },
  "version": "v1management",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "id": "gamesManagement:v1management",
  "title": "Google Play Games Services Management API",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "resources": {
    "achievements": {
      "methods": {
        "resetForAllPlayers": {
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the achievement used by this method."
            }
          },
          "parameterOrder": [
            "achievementId"
          ]
        },
        "resetMultipleForAllPlayers": {
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "httpMethod": "POST"
        },
        "resetAll": {
          "parameters": {},
          "path": "games/v1management/achievements/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/reset",
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "id": "gamesManagement.achievements.resetAll"
        },
        "reset": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "path": "games/v1management/achievements/{achievementId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "gamesManagement.achievements.reset",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "achievementId"
          ]
        },
        "resetAllForAllPlayers": {
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "httpMethod": "POST",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console."
        }
      }
    },
    "players": {
      "methods": {
        "unhide": {
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "playerId": {
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.players.unhide",
          "httpMethod": "DELETE"
        },
        "hide": {
          "httpMethod": "POST",
          "id": "gamesManagement.players.hide",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameters": {
            "playerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "gamesManagement.applications.listHidden",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "applicationId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The application ID from the Google Play developer console."
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "events": {
      "methods": {
        "resetForAllPlayers": {
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "eventId"
          ],
          "id": "gamesManagement.events.resetForAllPlayers",
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "parameterOrder": []
        },
        "reset": {
          "flatPath": "games/v1management/events/{eventId}/reset",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {
            "eventId": {
              "location": "path",
              "description": "The ID of the event.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "eventId"
          ],
          "path": "games/v1management/events/{eventId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "id": "gamesManagement.events.reset"
        },
        "resetAll": {
          "id": "gamesManagement.events.resetAll",
          "httpMethod": "POST",
          "path": "games/v1management/events/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "games/v1management/events/reset",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetAllForAllPlayers": {
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "parameterOrder": [],
          "path": "games/v1management/events/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "scores": {
      "methods": {
        "resetAllForAllPlayers": {
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "httpMethod": "POST",
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console."
        },
        "resetAll": {
          "path": "games/v1management/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "games/v1management/scores/reset",
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "id": "gamesManagement.scores.resetAll"
        },
        "reset": {
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesManagement.scores.reset",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "parameterOrder": [],
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "httpMethod": "POST"
        },
        "resetForAllPlayers": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "httpMethod": "POST"
        }
      }
    }
  },
  "protocol": "rest",
  "canonicalName": "Games Management",
  "revision": "20260716",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "ownerName": "Google",
  "name": "gamesManagement",
  "documentationLink": "https://developers.google.com/games/"
}