{
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "name": "gamesConfiguration",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "schemas": {
    "AchievementConfigurationListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "AchievementConfiguration"
          },
          "description": "The achievement configurations."
        }
      },
      "id": "AchievementConfigurationListResponse",
      "description": "A ListConfigurations response."
    },
    "LeaderboardConfigurationDetail": {
      "id": "LeaderboardConfigurationDetail",
      "description": "A leaderboard configuration detail.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`.",
          "type": "string"
        },
        "scoreFormat": {
          "description": "The score formatting for the leaderboard.",
          "$ref": "GamesNumberFormatConfiguration"
        },
        "name": {
          "description": "Localized strings for the leaderboard name.",
          "$ref": "LocalizedStringBundle"
        },
        "sortRank": {
          "format": "int32",
          "type": "integer",
          "description": "The sort rank of this leaderboard. Writes to this field are ignored."
        },
        "iconUrl": {
          "description": "The icon url of this leaderboard. Writes to this field are ignored.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementConfiguration": {
      "properties": {
        "stepsToUnlock": {
          "format": "int32",
          "type": "integer",
          "description": "Steps to unlock. Only applicable to incremental achievements."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
          "type": "string"
        },
        "achievementType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "type": "string",
          "description": "The type of the achievement."
        },
        "initialState": {
          "description": "The initial state of the achievement.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ]
        },
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "published": {
          "description": "The read-only published data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AchievementConfiguration",
      "description": "An achievement configuration resource."
    },
    "LocalizedString": {
      "id": "LocalizedString",
      "description": "A localized string resource.",
      "type": "object",
      "properties": {
        "locale": {
          "description": "The locale string.",
          "type": "string"
        },
        "value": {
          "description": "The string value.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`.",
          "type": "string"
        }
      }
    },
    "AchievementConfigurationDetail": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`.",
          "type": "string"
        },
        "description": {
          "description": "Localized strings for the achievement description.",
          "$ref": "LocalizedStringBundle"
        },
        "name": {
          "description": "Localized strings for the achievement name.",
          "$ref": "LocalizedStringBundle"
        },
        "pointValue": {
          "description": "Point value for the achievement.",
          "format": "int32",
          "type": "integer"
        },
        "iconUrl": {
          "description": "The icon url of this achievement. Writes to this field are ignored.",
          "type": "string"
        },
        "sortRank": {
          "format": "int32",
          "type": "integer",
          "description": "The sort rank of this achievement. Writes to this field are ignored."
        }
      },
      "id": "AchievementConfigurationDetail",
      "description": "An achievement configuration detail."
    },
    "LeaderboardConfiguration": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`.",
          "type": "string"
        },
        "scoreOrder": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "type": "string"
        },
        "draft": {
          "description": "The draft data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "published": {
          "description": "The read-only published data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "scoreMax": {
          "type": "string",
          "format": "int64",
          "description": "Maximum score that can be posted to this leaderboard."
        },
        "id": {
          "description": "The ID of the leaderboard.",
          "type": "string"
        },
        "scoreMin": {
          "type": "string",
          "format": "int64",
          "description": "Minimum score that can be posted to this leaderboard."
        }
      },
      "type": "object",
      "id": "LeaderboardConfiguration",
      "description": "An leaderboard configuration resource."
    },
    "GamesNumberAffixConfiguration": {
      "properties": {
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        },
        "other": {
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English).",
          "$ref": "LocalizedStringBundle"
        },
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).",
          "$ref": "LocalizedStringBundle"
        },
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
          "$ref": "LocalizedStringBundle"
        }
      },
      "type": "object",
      "id": "GamesNumberAffixConfiguration",
      "description": "A number affix resource."
    },
    "LeaderboardConfigurationListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The leaderboard configurations.",
          "type": "array",
          "items": {
            "$ref": "LeaderboardConfiguration"
          }
        }
      },
      "type": "object",
      "id": "LeaderboardConfigurationListResponse",
      "description": "A ListConfigurations response."
    },
    "GamesNumberFormatConfiguration": {
      "type": "object",
      "properties": {
        "numberFormatType": {
          "description": "The formatting for the number.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ]
        },
        "currencyCode": {
          "description": "The curreny code string. Only used for CURRENCY format type.",
          "type": "string"
        },
        "numDecimalPlaces": {
          "description": "The number of decimal places for number. Only used for NUMERIC format type.",
          "type": "integer",
          "format": "int32"
        },
        "suffix": {
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources.",
          "$ref": "GamesNumberAffixConfiguration"
        }
      },
      "id": "GamesNumberFormatConfiguration",
      "description": "A number format resource."
    },
    "LocalizedStringBundle": {
      "id": "LocalizedStringBundle",
      "description": "A localized string bundle resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
          "type": "string"
        },
        "translations": {
          "description": "The locale strings.",
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          }
        }
      },
      "type": "object"
    }
  },
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "kind": "discovery#restDescription",
  "resources": {
    "achievementConfigurations": {
      "methods": {
        "get": {
          "parameters": {
            "achievementId": {
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/achievements/{achievementId}",
          "id": "gamesConfiguration.achievementConfigurations.get"
        },
        "delete": {
          "path": "games/v1configuration/achievements/{achievementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "DELETE",
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Delete the achievement configuration with the given ID."
        },
        "insert": {
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "parameters": {
            "applicationId": {
              "type": "string",
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Insert a new achievement configuration in this application.",
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/applications/{applicationId}/achievements"
        },
        "update": {
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "id": "gamesConfiguration.achievementConfigurations.update",
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "path": "games/v1configuration/achievements/{achievementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Returns a list of the achievement configurations in this application.",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "httpMethod": "GET",
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "id": "gamesConfiguration.achievementConfigurations.list",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "leaderboardConfigurations": {
      "methods": {
        "list": {
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            },
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Returns a list of the leaderboard configurations in this application.",
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/applications/{applicationId}/leaderboards"
        },
        "insert": {
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Insert a new leaderboard configuration in this application.",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "httpMethod": "POST",
          "response": {
            "$ref": "LeaderboardConfiguration"
          }
        },
        "update": {
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameters": {
            "leaderboardId": {
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "PUT"
        },
        "delete": {
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "DELETE",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Delete the leaderboard configuration with the given ID."
        },
        "get": {
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameters": {
            "leaderboardId": {
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/games/",
  "id": "gamesConfiguration:v1configuration",
  "ownerName": "Google",
  "revision": "20260730",
  "title": "Google Play Games Services Publishing API",
  "version": "v1configuration",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Games Configuration"
}