{
  "protocol": "rest",
  "discoveryVersion": "v1",
  "basePath": "",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "LocalizedStringBundle": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`."
        },
        "translations": {
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          },
          "description": "The locale strings."
        }
      },
      "id": "LocalizedStringBundle",
      "description": "A localized string bundle resource."
    },
    "AchievementConfigurationListResponse": {
      "description": "A ListConfigurations response.",
      "id": "AchievementConfigurationListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "type": "array",
          "description": "The achievement configurations.",
          "items": {
            "$ref": "AchievementConfiguration"
          }
        }
      }
    },
    "LeaderboardConfigurationDetail": {
      "description": "A leaderboard configuration detail.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`.",
          "type": "string"
        },
        "scoreFormat": {
          "description": "The score formatting for the leaderboard.",
          "$ref": "GamesNumberFormatConfiguration"
        },
        "name": {
          "description": "Localized strings for the leaderboard name.",
          "$ref": "LocalizedStringBundle"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this leaderboard. Writes to this field are ignored."
        },
        "sortRank": {
          "type": "integer",
          "description": "The sort rank of this leaderboard. Writes to this field are ignored.",
          "format": "int32"
        }
      },
      "id": "LeaderboardConfigurationDetail"
    },
    "AchievementConfiguration": {
      "id": "AchievementConfiguration",
      "type": "object",
      "properties": {
        "initialState": {
          "type": "string",
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ],
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
          "type": "string"
        },
        "stepsToUnlock": {
          "format": "int32",
          "description": "Steps to unlock. Only applicable to incremental achievements.",
          "type": "integer"
        },
        "published": {
          "description": "The read-only published data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "token": {
          "type": "string",
          "description": "The token for this resource."
        },
        "achievementType": {
          "type": "string",
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ]
        },
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        }
      },
      "description": "An achievement configuration resource."
    },
    "GamesNumberFormatConfiguration": {
      "type": "object",
      "properties": {
        "suffix": {
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources.",
          "$ref": "GamesNumberAffixConfiguration"
        },
        "currencyCode": {
          "description": "The curreny code string. Only used for CURRENCY format type.",
          "type": "string"
        },
        "numberFormatType": {
          "type": "string",
          "description": "The formatting for the number.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ]
        },
        "numDecimalPlaces": {
          "type": "integer",
          "description": "The number of decimal places for number. Only used for NUMERIC format type.",
          "format": "int32"
        }
      },
      "id": "GamesNumberFormatConfiguration",
      "description": "A number format resource."
    },
    "LocalizedString": {
      "description": "A localized string resource.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`."
        },
        "locale": {
          "description": "The locale string.",
          "type": "string"
        },
        "value": {
          "description": "The string value.",
          "type": "string"
        }
      },
      "id": "LocalizedString"
    },
    "GamesNumberAffixConfiguration": {
      "description": "A number affix resource.",
      "type": "object",
      "properties": {
        "one": {
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).",
          "$ref": "LocalizedStringBundle"
        },
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        },
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
          "$ref": "LocalizedStringBundle"
        },
        "other": {
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English).",
          "$ref": "LocalizedStringBundle"
        },
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        }
      },
      "id": "GamesNumberAffixConfiguration"
    },
    "LeaderboardConfigurationListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "description": "The leaderboard configurations.",
          "items": {
            "$ref": "LeaderboardConfiguration"
          },
          "type": "array"
        }
      },
      "id": "LeaderboardConfigurationListResponse",
      "description": "A ListConfigurations response."
    },
    "AchievementConfigurationDetail": {
      "description": "An achievement configuration detail.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Localized strings for the achievement name.",
          "$ref": "LocalizedStringBundle"
        },
        "description": {
          "description": "Localized strings for the achievement description.",
          "$ref": "LocalizedStringBundle"
        },
        "iconUrl": {
          "description": "The icon url of this achievement. Writes to this field are ignored.",
          "type": "string"
        },
        "sortRank": {
          "type": "integer",
          "format": "int32",
          "description": "The sort rank of this achievement. Writes to this field are ignored."
        },
        "pointValue": {
          "type": "integer",
          "description": "Point value for the achievement.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`."
        }
      },
      "id": "AchievementConfigurationDetail"
    },
    "LeaderboardConfiguration": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`.",
          "type": "string"
        },
        "scoreMax": {
          "type": "string",
          "format": "int64",
          "description": "Maximum score that can be posted to this leaderboard."
        },
        "scoreOrder": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "scoreMin": {
          "type": "string",
          "format": "int64",
          "description": "Minimum score that can be posted to this leaderboard."
        },
        "draft": {
          "description": "The draft data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "id": {
          "type": "string",
          "description": "The ID of the leaderboard."
        },
        "published": {
          "description": "The read-only published data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        }
      },
      "id": "LeaderboardConfiguration",
      "description": "An leaderboard configuration resource."
    }
  },
  "title": "Google Play Games Services Publishing API",
  "revision": "20260702",
  "name": "gamesConfiguration",
  "batchPath": "batch",
  "servicePath": "",
  "id": "gamesConfiguration:v1configuration",
  "resources": {
    "achievementConfigurations": {
      "methods": {
        "insert": {
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "description": "Insert a new achievement configuration in this application.",
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            }
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "httpMethod": "POST",
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "id": "gamesConfiguration.achievementConfigurations.get",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "path": "games/v1configuration/achievements/{achievementId}",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "achievementId"
          ],
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "description": "Delete the achievement configuration with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "gamesConfiguration.achievementConfigurations.list",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Returns a list of the achievement configurations in this application."
        },
        "update": {
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ],
          "id": "gamesConfiguration.achievementConfigurations.update",
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "leaderboardConfigurations": {
      "methods": {
        "update": {
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the leaderboard."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete the leaderboard configuration with the given ID.",
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "leaderboardId"
          ]
        },
        "list": {
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "httpMethod": "GET",
          "parameters": {
            "applicationId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The application ID from the Google Play developer console."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            }
          },
          "description": "Returns a list of the leaderboard configurations in this application.",
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameterOrder": [
            "applicationId"
          ]
        },
        "get": {
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID.",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path"
            }
          },
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "insert": {
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "httpMethod": "POST",
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            }
          },
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Insert a new leaderboard configuration in this application."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1configuration",
  "canonicalName": "Games Configuration",
  "ownerName": "Google",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "https://developers.google.com/games/",
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/"
}