{
  "canonicalName": "Games Configuration",
  "name": "gamesConfiguration",
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/games/",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "batchPath": "batch",
  "basePath": "",
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "version": "v1configuration",
  "id": "gamesConfiguration:v1configuration",
  "resources": {
    "achievementConfigurations": {
      "methods": {
        "update": {
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "path": "games/v1configuration/achievements/{achievementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "httpMethod": "PUT",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "id": "gamesConfiguration.achievementConfigurations.update",
          "response": {
            "$ref": "AchievementConfiguration"
          }
        },
        "delete": {
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Delete the achievement configuration with the given ID.",
          "httpMethod": "DELETE",
          "path": "games/v1configuration/achievements/{achievementId}",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "id": "gamesConfiguration.achievementConfigurations.list",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Returns a list of the achievement configurations in this application.",
          "httpMethod": "GET",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "location": "query"
            },
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "insert": {
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Insert a new achievement configuration in this application."
        },
        "get": {
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "id": "gamesConfiguration.achievementConfigurations.get",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "leaderboardConfigurations": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "delete": {
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Delete the leaderboard configuration with the given ID.",
          "httpMethod": "DELETE"
        },
        "list": {
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Returns a list of the leaderboard configurations in this application.",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Insert a new leaderboard configuration in this application.",
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID.",
          "httpMethod": "GET",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "response": {
            "$ref": "LeaderboardConfiguration"
          }
        }
      }
    }
  },
  "schemas": {
    "GamesNumberFormatConfiguration": {
      "id": "GamesNumberFormatConfiguration",
      "type": "object",
      "description": "A number format resource.",
      "properties": {
        "suffix": {
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources.",
          "$ref": "GamesNumberAffixConfiguration"
        },
        "currencyCode": {
          "description": "The curreny code string. Only used for CURRENCY format type.",
          "type": "string"
        },
        "numberFormatType": {
          "type": "string",
          "description": "The formatting for the number.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ]
        },
        "numDecimalPlaces": {
          "type": "integer",
          "format": "int32",
          "description": "The number of decimal places for number. Only used for NUMERIC format type."
        }
      }
    },
    "LocalizedStringBundle": {
      "id": "LocalizedStringBundle",
      "type": "object",
      "description": "A localized string bundle resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
          "type": "string"
        },
        "translations": {
          "description": "The locale strings.",
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          }
        }
      }
    },
    "AchievementConfiguration": {
      "description": "An achievement configuration resource.",
      "properties": {
        "published": {
          "description": "The read-only published data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "achievementType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "type": "string",
          "description": "The type of the achievement."
        },
        "stepsToUnlock": {
          "type": "integer",
          "format": "int32",
          "description": "Steps to unlock. Only applicable to incremental achievements."
        },
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "initialState": {
          "description": "The initial state of the achievement.",
          "type": "string",
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ]
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        }
      },
      "id": "AchievementConfiguration",
      "type": "object"
    },
    "AchievementConfigurationListResponse": {
      "id": "AchievementConfigurationListResponse",
      "type": "object",
      "description": "A ListConfigurations response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`."
        },
        "items": {
          "description": "The achievement configurations.",
          "type": "array",
          "items": {
            "$ref": "AchievementConfiguration"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      }
    },
    "LeaderboardConfiguration": {
      "description": "An leaderboard configuration resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`."
        },
        "scoreMax": {
          "type": "string",
          "format": "int64",
          "description": "Maximum score that can be posted to this leaderboard."
        },
        "published": {
          "description": "The read-only published data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "token": {
          "type": "string",
          "description": "The token for this resource."
        },
        "scoreMin": {
          "type": "string",
          "format": "int64",
          "description": "Minimum score that can be posted to this leaderboard."
        },
        "scoreOrder": {
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the leaderboard."
        },
        "draft": {
          "description": "The draft data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        }
      },
      "id": "LeaderboardConfiguration",
      "type": "object"
    },
    "GamesNumberAffixConfiguration": {
      "id": "GamesNumberAffixConfiguration",
      "type": "object",
      "description": "A number affix resource.",
      "properties": {
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        },
        "other": {
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
          "$ref": "LocalizedStringBundle"
        },
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).",
          "$ref": "LocalizedStringBundle"
        },
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        }
      }
    },
    "AchievementConfigurationDetail": {
      "description": "An achievement configuration detail.",
      "properties": {
        "pointValue": {
          "description": "Point value for the achievement.",
          "type": "integer",
          "format": "int32"
        },
        "sortRank": {
          "description": "The sort rank of this achievement. Writes to this field are ignored.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`.",
          "type": "string"
        },
        "name": {
          "description": "Localized strings for the achievement name.",
          "$ref": "LocalizedStringBundle"
        },
        "description": {
          "description": "Localized strings for the achievement description.",
          "$ref": "LocalizedStringBundle"
        },
        "iconUrl": {
          "description": "The icon url of this achievement. Writes to this field are ignored.",
          "type": "string"
        }
      },
      "id": "AchievementConfigurationDetail",
      "type": "object"
    },
    "LeaderboardConfigurationListResponse": {
      "description": "A ListConfigurations response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "LeaderboardConfiguration"
          },
          "description": "The leaderboard configurations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "id": "LeaderboardConfigurationListResponse",
      "type": "object"
    },
    "LocalizedString": {
      "id": "LocalizedString",
      "type": "object",
      "description": "A localized string resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`."
        },
        "locale": {
          "description": "The locale string.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The string value."
        }
      }
    },
    "LeaderboardConfigurationDetail": {
      "id": "LeaderboardConfigurationDetail",
      "type": "object",
      "description": "A leaderboard configuration detail.",
      "properties": {
        "name": {
          "description": "Localized strings for the leaderboard name.",
          "$ref": "LocalizedStringBundle"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`."
        },
        "sortRank": {
          "description": "The sort rank of this leaderboard. Writes to this field are ignored.",
          "type": "integer",
          "format": "int32"
        },
        "scoreFormat": {
          "description": "The score formatting for the leaderboard.",
          "$ref": "GamesNumberFormatConfiguration"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this leaderboard. Writes to this field are ignored."
        }
      }
    }
  },
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "title": "Google Play Games Services Publishing API",
  "revision": "20260730",
  "ownerName": "Google"
}