{
  "id": "gamesManagement:v1management",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "resources": {
    "players": {
      "methods": {
        "hide": {
          "id": "gamesManagement.players.hide",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "POST",
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ]
        },
        "unhide": {
          "httpMethod": "DELETE",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.players.unhide",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "playerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            }
          },
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console."
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.applications.listHidden",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "resetAllForAllPlayers": {
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers"
        },
        "resetForAllPlayers": {
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "httpMethod": "POST"
        },
        "resetAll": {
          "id": "gamesManagement.achievements.resetAll",
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/achievements/reset",
          "parameters": {},
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/reset"
        },
        "resetMultipleForAllPlayers": {
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "parameters": {},
          "parameterOrder": [],
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reset": {
          "id": "gamesManagement.achievements.reset",
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/{achievementId}/reset",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "response": {
            "$ref": "AchievementResetResponse"
          }
        }
      }
    },
    "events": {
      "methods": {
        "resetAll": {
          "parameters": {},
          "parameterOrder": [],
          "id": "gamesManagement.events.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/reset",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "path": "games/v1management/events/reset"
        },
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "parameters": {},
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset."
        },
        "resetAllForAllPlayers": {
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "parameterOrder": [],
          "path": "games/v1management/events/resetAllForAllPlayers",
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "httpMethod": "POST"
        },
        "reset": {
          "parameters": {
            "eventId": {
              "required": true,
              "type": "string",
              "description": "The ID of the event.",
              "location": "path"
            }
          },
          "path": "games/v1management/events/{eventId}/reset",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "id": "gamesManagement.events.reset",
          "parameterOrder": [
            "eventId"
          ],
          "httpMethod": "POST"
        },
        "resetForAllPlayers": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetForAllPlayers",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "parameters": {
            "eventId": {
              "required": true,
              "type": "string",
              "description": "The ID of the event.",
              "location": "path"
            }
          },
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "parameterOrder": [
            "eventId"
          ],
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers"
        }
      }
    },
    "scores": {
      "methods": {
        "reset": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "id": "gamesManagement.scores.reset",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "leaderboardId"
          ]
        },
        "resetAll": {
          "flatPath": "games/v1management/scores/reset",
          "httpMethod": "POST",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/scores/reset",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetAll"
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "resetForAllPlayers": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "id": "gamesManagement.scores.resetForAllPlayers"
        }
      }
    }
  },
  "version": "v1management",
  "batchPath": "batch",
  "canonicalName": "Games Management",
  "servicePath": "",
  "protocol": "rest",
  "title": "Google Play Games Services Management API",
  "documentationLink": "https://developers.google.com/games/",
  "basePath": "",
  "revision": "20260907",
  "schemas": {
    "GamesPlayerExperienceInfoResource": {
      "type": "object",
      "description": "1P/3P metadata about the player's experience.",
      "id": "GamesPlayerExperienceInfoResource",
      "properties": {
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        },
        "currentExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The current number of experience points for the player."
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        }
      }
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "achievement_ids": {
          "type": "array",
          "description": "The IDs of achievements to reset.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        }
      }
    },
    "PlayerScoreResetResponse": {
      "properties": {
        "resetScoreTimeSpans": {
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`."
        },
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        }
      },
      "id": "PlayerScoreResetResponse",
      "description": "A list of reset leaderboard entry resources.",
      "type": "object"
    },
    "HiddenPlayer": {
      "description": "The HiddenPlayer resource.",
      "type": "object",
      "properties": {
        "player": {
          "description": "Output only. The player information.",
          "readOnly": true,
          "$ref": "Player"
        },
        "hiddenTimeMillis": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this player was hidden.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true
        }
      },
      "id": "HiddenPlayer"
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "type": "object",
      "id": "ProfileSettings",
      "properties": {
        "profileVisible": {
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        }
      }
    },
    "ScoresResetMultipleForAllRequest": {
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "leaderboard_ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of leaderboards to reset."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`."
        }
      },
      "type": "object"
    },
    "AchievementResetResponse": {
      "id": "AchievementResetResponse",
      "type": "object",
      "description": "An achievement reset response.",
      "properties": {
        "updateOccurred": {
          "type": "boolean",
          "description": "Flag to indicate if the requested update actually occurred."
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "
        }
      }
    },
    "GamesPlayerLevelResource": {
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "minExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The minimum experience points for this level."
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GamesPlayerLevelResource"
    },
    "PlayerScoreResetAllResponse": {
      "description": "A list of leaderboard reset resources.",
      "id": "PlayerScoreResetAllResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "type": "array",
          "description": "The leaderboard reset results."
        }
      }
    },
    "AchievementResetAllResponse": {
      "description": "Achievement reset all response.",
      "type": "object",
      "id": "AchievementResetAllResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "description": "The achievement reset results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        }
      }
    },
    "Player": {
      "id": "Player",
      "properties": {
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "name": {
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object",
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            }
          }
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        }
      },
      "description": "A Player resource.",
      "type": "object"
    },
    "EventsResetMultipleForAllRequest": {
      "properties": {
        "event_ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of events to reset."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`."
        }
      },
      "description": "Multiple events reset all request.",
      "type": "object",
      "id": "EventsResetMultipleForAllRequest"
    },
    "HiddenPlayerList": {
      "description": "A list of hidden players.",
      "id": "HiddenPlayerList",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The players.",
          "items": {
            "$ref": "HiddenPlayer"
          }
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        }
      }
    }
  },
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "name": "gamesManagement",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  }
}