{
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Games Configuration",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "documentationLink": "https://developers.google.com/games/",
  "version": "v1configuration",
  "schemas": {
    "AchievementConfigurationDetail": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`.",
          "type": "string"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this achievement. Writes to this field are ignored."
        },
        "pointValue": {
          "description": "Point value for the achievement.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Localized strings for the achievement name.",
          "$ref": "LocalizedStringBundle"
        },
        "sortRank": {
          "description": "The sort rank of this achievement. Writes to this field are ignored.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the achievement description."
        }
      },
      "type": "object",
      "description": "An achievement configuration detail.",
      "id": "AchievementConfigurationDetail"
    },
    "LocalizedString": {
      "description": "A localized string resource.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`."
        },
        "locale": {
          "description": "The locale string.",
          "type": "string"
        },
        "value": {
          "description": "The string value.",
          "type": "string"
        }
      },
      "id": "LocalizedString"
    },
    "LeaderboardConfiguration": {
      "type": "object",
      "id": "LeaderboardConfiguration",
      "description": "An leaderboard configuration resource.",
      "properties": {
        "draft": {
          "description": "The draft data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "id": {
          "type": "string",
          "description": "The ID of the leaderboard."
        },
        "scoreMin": {
          "description": "Minimum score that can be posted to this leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "scoreOrder": {
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "type": "string"
        },
        "published": {
          "$ref": "LeaderboardConfigurationDetail",
          "description": "The read-only published data of the leaderboard."
        },
        "scoreMax": {
          "type": "string",
          "format": "int64",
          "description": "Maximum score that can be posted to this leaderboard."
        },
        "token": {
          "type": "string",
          "description": "The token for this resource."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`."
        }
      }
    },
    "AchievementConfiguration": {
      "properties": {
        "initialState": {
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ],
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "type": "string"
        },
        "stepsToUnlock": {
          "description": "Steps to unlock. Only applicable to incremental achievements.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
          "type": "string"
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "published": {
          "description": "The read-only published data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "achievementType": {
          "description": "The type of the achievement.",
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ]
        }
      },
      "type": "object",
      "id": "AchievementConfiguration",
      "description": "An achievement configuration resource."
    },
    "LeaderboardConfigurationDetail": {
      "id": "LeaderboardConfigurationDetail",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`.",
          "type": "string"
        },
        "sortRank": {
          "description": "The sort rank of this leaderboard. Writes to this field are ignored.",
          "type": "integer",
          "format": "int32"
        },
        "iconUrl": {
          "description": "The icon url of this leaderboard. Writes to this field are ignored.",
          "type": "string"
        },
        "name": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the leaderboard name."
        },
        "scoreFormat": {
          "$ref": "GamesNumberFormatConfiguration",
          "description": "The score formatting for the leaderboard."
        }
      },
      "description": "A leaderboard configuration detail."
    },
    "LeaderboardConfigurationListResponse": {
      "id": "LeaderboardConfigurationListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`."
        },
        "items": {
          "description": "The leaderboard configurations.",
          "items": {
            "$ref": "LeaderboardConfiguration"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "description": "A ListConfigurations response.",
      "type": "object"
    },
    "AchievementConfigurationListResponse": {
      "id": "AchievementConfigurationListResponse",
      "description": "A ListConfigurations response.",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The achievement configurations.",
          "items": {
            "$ref": "AchievementConfiguration"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      }
    },
    "GamesNumberFormatConfiguration": {
      "type": "object",
      "id": "GamesNumberFormatConfiguration",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The curreny code string. Only used for CURRENCY format type."
        },
        "numberFormatType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ],
          "type": "string",
          "description": "The formatting for the number."
        },
        "numDecimalPlaces": {
          "type": "integer",
          "format": "int32",
          "description": "The number of decimal places for number. Only used for NUMERIC format type."
        },
        "suffix": {
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources.",
          "$ref": "GamesNumberAffixConfiguration"
        }
      },
      "description": "A number format resource."
    },
    "LocalizedStringBundle": {
      "id": "LocalizedStringBundle",
      "properties": {
        "translations": {
          "description": "The locale strings.",
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`."
        }
      },
      "type": "object",
      "description": "A localized string bundle resource."
    },
    "GamesNumberAffixConfiguration": {
      "id": "GamesNumberAffixConfiguration",
      "description": "A number affix resource.",
      "type": "object",
      "properties": {
        "other": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English)."
        },
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).",
          "$ref": "LocalizedStringBundle"
        },
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        },
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        }
      }
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "resources": {
    "achievementConfigurations": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "id": "gamesConfiguration.achievementConfigurations.list",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "applicationId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Returns a list of the achievement configurations in this application.",
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "path": "games/v1configuration/achievements/{achievementId}",
          "id": "gamesConfiguration.achievementConfigurations.get",
          "flatPath": "games/v1configuration/achievements/{achievementId}"
        },
        "update": {
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "id": "gamesConfiguration.achievementConfigurations.update",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "AchievementConfiguration"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "POST",
          "description": "Insert a new achievement configuration in this application.",
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            }
          },
          "id": "gamesConfiguration.achievementConfigurations.insert"
        },
        "delete": {
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "httpMethod": "DELETE",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "description": "Delete the achievement configuration with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "leaderboardConfigurations": {
      "methods": {
        "update": {
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "httpMethod": "PUT",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "description": "Returns a list of the leaderboard configurations in this application.",
          "httpMethod": "GET"
        },
        "insert": {
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "description": "Insert a new leaderboard configuration in this application.",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "applicationId": {
              "required": true,
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            }
          }
        },
        "delete": {
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Delete the leaderboard configuration with the given ID.",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "leaderboardId"
          ],
          "httpMethod": "DELETE",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}"
        }
      }
    }
  },
  "title": "Google Play Games Services Publishing API",
  "ownerDomain": "google.com",
  "basePath": "",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260907",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "batchPath": "batch",
  "name": "gamesConfiguration",
  "servicePath": "",
  "id": "gamesConfiguration:v1configuration"
}