{
  "fullyEncodeReservedExpansion": true,
  "title": "Google Play Games Services Management API",
  "servicePath": "",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "revision": "20260730",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "ownerName": "Google",
  "schemas": {
    "EventsResetMultipleForAllRequest": {
      "description": "Multiple events reset all request.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`."
        },
        "event_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of events to reset.",
          "type": "array"
        }
      },
      "id": "EventsResetMultipleForAllRequest",
      "type": "object"
    },
    "GamesPlayerLevelResource": {
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GamesPlayerLevelResource",
      "type": "object"
    },
    "AchievementResetAllResponse": {
      "description": "Achievement reset all response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "description": "The achievement reset results.",
          "type": "array"
        }
      },
      "id": "AchievementResetAllResponse",
      "type": "object"
    },
    "PlayerScoreResetAllResponse": {
      "id": "PlayerScoreResetAllResponse",
      "type": "object",
      "description": "A list of leaderboard reset resources.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "The leaderboard reset results."
        }
      }
    },
    "HiddenPlayer": {
      "properties": {
        "kind": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`."
        },
        "player": {
          "readOnly": true,
          "$ref": "Player",
          "description": "Output only. The player information."
        },
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The HiddenPlayer resource.",
      "id": "HiddenPlayer",
      "type": "object"
    },
    "Player": {
      "properties": {
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "name": {
          "type": "object",
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          }
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        }
      },
      "description": "A Player resource.",
      "id": "Player",
      "type": "object"
    },
    "PlayerScoreResetResponse": {
      "id": "PlayerScoreResetResponse",
      "type": "object",
      "description": "A list of reset leaderboard entry resources.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`."
        },
        "resetScoreTimeSpans": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. "
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        }
      }
    },
    "AchievementResetResponse": {
      "properties": {
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`."
        }
      },
      "description": "An achievement reset response.",
      "id": "AchievementResetResponse",
      "type": "object"
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "id": "ProfileSettings",
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentExperiencePoints": {
          "type": "string",
          "description": "The current number of experience points for the player.",
          "format": "int64"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        }
      },
      "id": "GamesPlayerExperienceInfoResource",
      "type": "object"
    },
    "ScoresResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "type": "array",
          "description": "The IDs of leaderboards to reset.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object"
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        },
        "achievement_ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset."
        }
      }
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "type": "object",
      "description": "A list of hidden players.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          },
          "description": "The players."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1management",
  "id": "gamesManagement:v1management",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/games/",
  "name": "gamesManagement",
  "resources": {
    "players": {
      "methods": {
        "unhide": {
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "DELETE",
          "id": "gamesManagement.players.unhide",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}"
        },
        "hide": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.players.hide",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "POST"
        }
      }
    },
    "achievements": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "parameters": {},
          "httpMethod": "POST",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          }
        },
        "reset": {
          "path": "games/v1management/achievements/{achievementId}/reset",
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "id": "gamesManagement.achievements.reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "achievementId"
          ]
        },
        "resetAll": {
          "parameters": {},
          "flatPath": "games/v1management/achievements/reset",
          "httpMethod": "POST",
          "path": "games/v1management/achievements/reset",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "parameterOrder": [],
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetAll"
        },
        "resetForAllPlayers": {
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset."
        },
        "resetAllForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "parameterOrder": [],
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "httpMethod": "POST"
        }
      }
    },
    "events": {
      "methods": {
        "resetAllForAllPlayers": {
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "path": "games/v1management/events/resetAllForAllPlayers"
        },
        "resetAll": {
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "games/v1management/events/reset",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetAll",
          "path": "games/v1management/events/reset"
        },
        "resetForAllPlayers": {
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "id": "gamesManagement.events.resetForAllPlayers"
        },
        "reset": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/{eventId}/reset",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {
            "eventId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the event."
            }
          },
          "parameterOrder": [
            "eventId"
          ],
          "path": "games/v1management/events/{eventId}/reset",
          "id": "gamesManagement.events.reset",
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "parameters": {},
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "parameterOrder": [],
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "id": "gamesManagement.applications.listHidden",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "format": "int32"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "scores": {
      "methods": {
        "resetAllForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "parameterOrder": [],
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameters": {},
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reset": {
          "id": "gamesManagement.scores.reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "leaderboardId"
          ],
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "httpMethod": "POST",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard."
            }
          }
        },
        "resetAll": {
          "path": "games/v1management/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "httpMethod": "POST",
          "flatPath": "games/v1management/scores/reset",
          "parameters": {},
          "id": "gamesManagement.scores.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": []
        },
        "resetForAllPlayers": {
          "httpMethod": "POST",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Games Management"
}