{
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "id": "gamesConfiguration:v1configuration",
  "revision": "20260716",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "Games Configuration",
  "servicePath": "",
  "ownerDomain": "google.com",
  "basePath": "",
  "version": "v1configuration",
  "batchPath": "batch",
  "ownerName": "Google",
  "schemas": {
    "AchievementConfigurationDetail": {
      "id": "AchievementConfigurationDetail",
      "description": "An achievement configuration detail.",
      "type": "object",
      "properties": {
        "iconUrl": {
          "description": "The icon url of this achievement. Writes to this field are ignored.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`.",
          "type": "string"
        },
        "description": {
          "description": "Localized strings for the achievement description.",
          "$ref": "LocalizedStringBundle"
        },
        "pointValue": {
          "format": "int32",
          "description": "Point value for the achievement.",
          "type": "integer"
        },
        "sortRank": {
          "format": "int32",
          "description": "The sort rank of this achievement. Writes to this field are ignored.",
          "type": "integer"
        },
        "name": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the achievement name."
        }
      }
    },
    "LeaderboardConfiguration": {
      "id": "LeaderboardConfiguration",
      "description": "An leaderboard configuration resource.",
      "type": "object",
      "properties": {
        "scoreMin": {
          "description": "Minimum score that can be posted to this leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "scoreOrder": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`.",
          "type": "string"
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the leaderboard.",
          "type": "string"
        },
        "scoreMax": {
          "format": "int64",
          "description": "Maximum score that can be posted to this leaderboard.",
          "type": "string"
        },
        "draft": {
          "description": "The draft data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "published": {
          "description": "The read-only published data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        }
      }
    },
    "LeaderboardConfigurationDetail": {
      "id": "LeaderboardConfigurationDetail",
      "description": "A leaderboard configuration detail.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`.",
          "type": "string"
        },
        "sortRank": {
          "format": "int32",
          "description": "The sort rank of this leaderboard. Writes to this field are ignored.",
          "type": "integer"
        },
        "name": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the leaderboard name."
        },
        "scoreFormat": {
          "$ref": "GamesNumberFormatConfiguration",
          "description": "The score formatting for the leaderboard."
        },
        "iconUrl": {
          "description": "The icon url of this leaderboard. Writes to this field are ignored.",
          "type": "string"
        }
      }
    },
    "LocalizedStringBundle": {
      "description": "A localized string bundle resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
          "type": "string"
        },
        "translations": {
          "items": {
            "$ref": "LocalizedString"
          },
          "description": "The locale strings.",
          "type": "array"
        }
      },
      "id": "LocalizedStringBundle"
    },
    "AchievementConfiguration": {
      "description": "An achievement configuration resource.",
      "type": "object",
      "properties": {
        "initialState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ],
          "description": "The initial state of the achievement.",
          "type": "string"
        },
        "published": {
          "$ref": "AchievementConfigurationDetail",
          "description": "The read-only published data of the achievement."
        },
        "stepsToUnlock": {
          "description": "Steps to unlock. Only applicable to incremental achievements.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "draft": {
          "$ref": "AchievementConfigurationDetail",
          "description": "The draft data of the achievement."
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "achievementType": {
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "description": "The type of the achievement.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
          "type": "string"
        }
      },
      "id": "AchievementConfiguration"
    },
    "LeaderboardConfigurationListResponse": {
      "id": "LeaderboardConfigurationListResponse",
      "description": "A ListConfigurations response.",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "LeaderboardConfiguration"
          },
          "description": "The leaderboard configurations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
          "type": "string"
        }
      }
    },
    "GamesNumberFormatConfiguration": {
      "id": "GamesNumberFormatConfiguration",
      "description": "A number format resource.",
      "type": "object",
      "properties": {
        "numDecimalPlaces": {
          "format": "int32",
          "description": "The number of decimal places for number. Only used for NUMERIC format type.",
          "type": "integer"
        },
        "numberFormatType": {
          "description": "The formatting for the number.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ]
        },
        "suffix": {
          "$ref": "GamesNumberAffixConfiguration",
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources."
        },
        "currencyCode": {
          "description": "The curreny code string. Only used for CURRENCY format type.",
          "type": "string"
        }
      }
    },
    "LocalizedString": {
      "id": "LocalizedString",
      "description": "A localized string resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`.",
          "type": "string"
        },
        "locale": {
          "description": "The locale string.",
          "type": "string"
        },
        "value": {
          "description": "The string value.",
          "type": "string"
        }
      }
    },
    "AchievementConfigurationListResponse": {
      "description": "A ListConfigurations response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The achievement configurations.",
          "type": "array",
          "items": {
            "$ref": "AchievementConfiguration"
          }
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "AchievementConfigurationListResponse"
    },
    "GamesNumberAffixConfiguration": {
      "description": "A number affix resource.",
      "type": "object",
      "properties": {
        "many": {
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
          "$ref": "LocalizedStringBundle"
        },
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).",
          "$ref": "LocalizedStringBundle"
        },
        "two": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian)."
        },
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        },
        "other": {
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English).",
          "$ref": "LocalizedStringBundle"
        }
      },
      "id": "GamesNumberAffixConfiguration"
    }
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "title": "Google Play Games Services Publishing API",
  "name": "gamesConfiguration",
  "documentationLink": "https://developers.google.com/games/",
  "resources": {
    "achievementConfigurations": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "description": "Delete the achievement configuration with the given ID.",
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "path": "games/v1configuration/achievements/{achievementId}",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "update": {
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "id": "gamesConfiguration.achievementConfigurations.update",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "AchievementConfiguration"
          }
        },
        "get": {
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "id": "gamesConfiguration.achievementConfigurations.get",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AchievementConfiguration"
          }
        },
        "insert": {
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "description": "Insert a new achievement configuration in this application."
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "id": "gamesConfiguration.achievementConfigurations.list",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Returns a list of the achievement configurations in this application.",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "leaderboardConfigurations": {
      "methods": {
        "list": {
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Returns a list of the leaderboard configurations in this application."
        },
        "insert": {
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "description": "Insert a new leaderboard configuration in this application.",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "httpMethod": "POST",
          "response": {
            "$ref": "LeaderboardConfiguration"
          }
        },
        "get": {
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID.",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "description": "Delete the leaderboard configuration with the given ID.",
          "httpMethod": "DELETE",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "update": {
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "LeaderboardConfiguration"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  }
}