{
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "id": "gamesConfiguration:v1configuration",
  "servicePath": "",
  "basePath": "",
  "kind": "discovery#restDescription",
  "title": "Google Play Games Services Publishing API",
  "name": "gamesConfiguration",
  "documentationLink": "https://developers.google.com/games/",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "revision": "20260723",
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "version": "v1configuration",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "canonicalName": "Games Configuration",
  "resources": {
    "achievementConfigurations": {
      "methods": {
        "delete": {
          "path": "games/v1configuration/achievements/{achievementId}",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "description": "Delete the achievement configuration with the given ID."
        },
        "update": {
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "id": "gamesConfiguration.achievementConfigurations.update"
        },
        "get": {
          "id": "gamesConfiguration.achievementConfigurations.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/achievements/{achievementId}"
        },
        "list": {
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "gamesConfiguration.achievementConfigurations.list",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Returns a list of the achievement configurations in this application."
        },
        "insert": {
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Insert a new achievement configuration in this application.",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "gamesConfiguration.achievementConfigurations.insert"
        }
      }
    },
    "leaderboardConfigurations": {
      "methods": {
        "delete": {
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard."
            }
          },
          "description": "Delete the leaderboard configuration with the given ID."
        },
        "update": {
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "leaderboardId"
          ],
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameters": {
            "leaderboardId": {
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path"
            }
          },
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID.",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "list": {
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns a list of the leaderboard configurations in this application."
        },
        "insert": {
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            }
          },
          "description": "Insert a new leaderboard configuration in this application."
        }
      }
    }
  },
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "protocol": "rest",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "schemas": {
    "LocalizedString": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The string value."
        },
        "locale": {
          "type": "string",
          "description": "The locale string."
        }
      },
      "id": "LocalizedString",
      "description": "A localized string resource."
    },
    "LeaderboardConfigurationListResponse": {
      "id": "LeaderboardConfigurationListResponse",
      "description": "A ListConfigurations response.",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The leaderboard configurations.",
          "items": {
            "$ref": "LeaderboardConfiguration"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
          "type": "string"
        }
      }
    },
    "AchievementConfigurationDetail": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Localized strings for the achievement description.",
          "$ref": "LocalizedStringBundle"
        },
        "pointValue": {
          "type": "integer",
          "description": "Point value for the achievement.",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`.",
          "type": "string"
        },
        "sortRank": {
          "type": "integer",
          "description": "The sort rank of this achievement. Writes to this field are ignored.",
          "format": "int32"
        },
        "name": {
          "description": "Localized strings for the achievement name.",
          "$ref": "LocalizedStringBundle"
        },
        "iconUrl": {
          "description": "The icon url of this achievement. Writes to this field are ignored.",
          "type": "string"
        }
      },
      "id": "AchievementConfigurationDetail",
      "description": "An achievement configuration detail."
    },
    "AchievementConfigurationListResponse": {
      "id": "AchievementConfigurationListResponse",
      "description": "A ListConfigurations response.",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The achievement configurations.",
          "items": {
            "$ref": "AchievementConfiguration"
          }
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`."
        }
      }
    },
    "GamesNumberAffixConfiguration": {
      "type": "object",
      "properties": {
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).",
          "$ref": "LocalizedStringBundle"
        },
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
          "$ref": "LocalizedStringBundle"
        },
        "other": {
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English).",
          "$ref": "LocalizedStringBundle"
        },
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        }
      },
      "id": "GamesNumberAffixConfiguration",
      "description": "A number affix resource."
    },
    "AchievementConfiguration": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
          "type": "string"
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "initialState": {
          "description": "The initial state of the achievement.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ]
        },
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "stepsToUnlock": {
          "type": "integer",
          "description": "Steps to unlock. Only applicable to incremental achievements.",
          "format": "int32"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "achievementType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "description": "The type of the achievement.",
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ]
        },
        "published": {
          "description": "The read-only published data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        }
      },
      "id": "AchievementConfiguration",
      "description": "An achievement configuration resource."
    },
    "LocalizedStringBundle": {
      "id": "LocalizedStringBundle",
      "description": "A localized string bundle resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
          "type": "string"
        },
        "translations": {
          "description": "The locale strings.",
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          }
        }
      }
    },
    "LeaderboardConfigurationDetail": {
      "id": "LeaderboardConfigurationDetail",
      "description": "A leaderboard configuration detail.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`."
        },
        "sortRank": {
          "description": "The sort rank of this leaderboard. Writes to this field are ignored.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Localized strings for the leaderboard name.",
          "$ref": "LocalizedStringBundle"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this leaderboard. Writes to this field are ignored."
        },
        "scoreFormat": {
          "description": "The score formatting for the leaderboard.",
          "$ref": "GamesNumberFormatConfiguration"
        }
      }
    },
    "LeaderboardConfiguration": {
      "type": "object",
      "properties": {
        "draft": {
          "description": "The draft data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`."
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "scoreMax": {
          "type": "string",
          "description": "Maximum score that can be posted to this leaderboard.",
          "format": "int64"
        },
        "scoreOrder": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "scoreMin": {
          "description": "Minimum score that can be posted to this leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "The ID of the leaderboard.",
          "type": "string"
        },
        "published": {
          "description": "The read-only published data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        }
      },
      "id": "LeaderboardConfiguration",
      "description": "An leaderboard configuration resource."
    },
    "GamesNumberFormatConfiguration": {
      "id": "GamesNumberFormatConfiguration",
      "description": "A number format resource.",
      "type": "object",
      "properties": {
        "numberFormatType": {
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ],
          "description": "The formatting for the number.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ]
        },
        "numDecimalPlaces": {
          "description": "The number of decimal places for number. Only used for NUMERIC format type.",
          "format": "int32",
          "type": "integer"
        },
        "currencyCode": {
          "type": "string",
          "description": "The curreny code string. Only used for CURRENCY format type."
        },
        "suffix": {
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources.",
          "$ref": "GamesNumberAffixConfiguration"
        }
      }
    }
  }
}