{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "resources": {
    "achievementConfigurations": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "achievementId"
          ],
          "httpMethod": "DELETE",
          "path": "games/v1configuration/achievements/{achievementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete the achievement configuration with the given ID.",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "id": "gamesConfiguration.achievementConfigurations.delete"
        },
        "update": {
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "id": "gamesConfiguration.achievementConfigurations.update",
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "httpMethod": "PUT",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ],
          "request": {
            "$ref": "AchievementConfiguration"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.achievementConfigurations.list",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "httpMethod": "GET",
          "description": "Returns a list of the achievement configurations in this application.",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            }
          },
          "path": "games/v1configuration/applications/{applicationId}/achievements"
        },
        "insert": {
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            }
          },
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Insert a new achievement configuration in this application.",
          "httpMethod": "POST",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "path": "games/v1configuration/applications/{applicationId}/achievements"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/achievements/{achievementId}",
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "id": "gamesConfiguration.achievementConfigurations.get",
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "response": {
            "$ref": "AchievementConfiguration"
          }
        }
      }
    },
    "leaderboardConfigurations": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete the leaderboard configuration with the given ID.",
          "httpMethod": "DELETE",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path"
            }
          }
        },
        "update": {
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "LeaderboardConfiguration"
          }
        },
        "list": {
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`."
            },
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Returns a list of the leaderboard configurations in this application."
        },
        "get": {
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID.",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.get"
        },
        "insert": {
          "httpMethod": "POST",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "description": "Insert a new leaderboard configuration in this application.",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            }
          },
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "applicationId"
          ]
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/games/",
  "canonicalName": "Games Configuration",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "name": "gamesConfiguration",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "title": "Google Play Games Services Publishing API",
  "servicePath": "",
  "schemas": {
    "LeaderboardConfiguration": {
      "description": "An leaderboard configuration resource.",
      "properties": {
        "scoreMin": {
          "description": "Minimum score that can be posted to this leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "scoreMax": {
          "type": "string",
          "format": "int64",
          "description": "Maximum score that can be posted to this leaderboard."
        },
        "id": {
          "description": "The ID of the leaderboard.",
          "type": "string"
        },
        "draft": {
          "$ref": "LeaderboardConfigurationDetail",
          "description": "The draft data of the leaderboard."
        },
        "scoreOrder": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "type": "string",
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "published": {
          "description": "The read-only published data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`."
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LeaderboardConfiguration"
    },
    "GamesNumberFormatConfiguration": {
      "properties": {
        "suffix": {
          "$ref": "GamesNumberAffixConfiguration",
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources."
        },
        "numberFormatType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "description": "The formatting for the number.",
          "type": "string",
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ]
        },
        "numDecimalPlaces": {
          "format": "int32",
          "description": "The number of decimal places for number. Only used for NUMERIC format type.",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The curreny code string. Only used for CURRENCY format type.",
          "type": "string"
        }
      },
      "id": "GamesNumberFormatConfiguration",
      "type": "object",
      "description": "A number format resource."
    },
    "GamesNumberAffixConfiguration": {
      "description": "A number affix resource.",
      "id": "GamesNumberAffixConfiguration",
      "type": "object",
      "properties": {
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        },
        "other": {
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English).",
          "$ref": "LocalizedStringBundle"
        },
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese)."
        },
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class)."
        }
      }
    },
    "LocalizedStringBundle": {
      "description": "A localized string bundle resource.",
      "type": "object",
      "id": "LocalizedStringBundle",
      "properties": {
        "translations": {
          "description": "The locale strings.",
          "items": {
            "$ref": "LocalizedString"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
          "type": "string"
        }
      }
    },
    "AchievementConfiguration": {
      "id": "AchievementConfiguration",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "achievementType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement."
        },
        "published": {
          "description": "The read-only published data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "stepsToUnlock": {
          "description": "Steps to unlock. Only applicable to incremental achievements.",
          "format": "int32",
          "type": "integer"
        },
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "token": {
          "type": "string",
          "description": "The token for this resource."
        },
        "initialState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "type": "string",
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ],
          "description": "The initial state of the achievement."
        }
      },
      "type": "object",
      "description": "An achievement configuration resource."
    },
    "AchievementConfigurationListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "AchievementConfiguration"
          },
          "type": "array",
          "description": "The achievement configurations."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "AchievementConfigurationListResponse",
      "type": "object",
      "description": "A ListConfigurations response."
    },
    "LeaderboardConfigurationListResponse": {
      "type": "object",
      "id": "LeaderboardConfigurationListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "LeaderboardConfiguration"
          },
          "type": "array",
          "description": "The leaderboard configurations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
          "type": "string"
        }
      },
      "description": "A ListConfigurations response."
    },
    "AchievementConfigurationDetail": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`."
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this achievement. Writes to this field are ignored."
        },
        "description": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the achievement description."
        },
        "sortRank": {
          "description": "The sort rank of this achievement. Writes to this field are ignored.",
          "type": "integer",
          "format": "int32"
        },
        "pointValue": {
          "description": "Point value for the achievement.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the achievement name."
        }
      },
      "description": "An achievement configuration detail.",
      "id": "AchievementConfigurationDetail"
    },
    "LeaderboardConfigurationDetail": {
      "properties": {
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this leaderboard. Writes to this field are ignored."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`.",
          "type": "string"
        },
        "scoreFormat": {
          "description": "The score formatting for the leaderboard.",
          "$ref": "GamesNumberFormatConfiguration"
        },
        "sortRank": {
          "type": "integer",
          "format": "int32",
          "description": "The sort rank of this leaderboard. Writes to this field are ignored."
        },
        "name": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the leaderboard name."
        }
      },
      "description": "A leaderboard configuration detail.",
      "id": "LeaderboardConfigurationDetail",
      "type": "object"
    },
    "LocalizedString": {
      "type": "object",
      "id": "LocalizedString",
      "description": "A localized string resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`."
        },
        "value": {
          "description": "The string value.",
          "type": "string"
        },
        "locale": {
          "description": "The locale string.",
          "type": "string"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "id": "gamesConfiguration:v1configuration",
  "revision": "20260907",
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "version": "v1configuration",
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services."
}