{
  "ownerName": "Google",
  "baseUrl": "https://games.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "resources": {
    "achievementDefinitions": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "games/v1/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists all the achievement definitions for your application.",
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "path": "games/v1/achievements",
          "id": "games.achievementDefinitions.list"
        }
      }
    },
    "gameStats": {
      "methods": {
        "batchRecordEvents": {
          "flatPath": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "response": {
            "$ref": "BatchRecordEventsResponse"
          },
          "parameters": {
            "playerId": {
              "type": "string",
              "required": true,
              "description": "Required. The player ID of the player that performed the events.",
              "location": "path"
            }
          },
          "description": "Records a batch of player game events for a specific player. This method allows sending multiple events in a single request.",
          "httpMethod": "POST",
          "parameterOrder": [
            "playerId"
          ],
          "id": "games.gameStats.batchRecordEvents",
          "path": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "request": {
            "$ref": "BatchRecordEventsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "players": {
      "methods": {
        "get": {
          "path": "games/v1/players/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.players.get",
          "parameterOrder": [
            "playerId"
          ],
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Player"
          },
          "parameters": {
            "playerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "playerIdConsistencyToken": {
              "location": "query",
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto",
              "type": "string"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "flatPath": "games/v1/players/{playerId}"
        },
        "list": {
          "parameterOrder": [
            "collection"
          ],
          "flatPath": "games/v1/players/me/players/{collection}",
          "path": "games/v1/players/me/players/{collection}",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "id": "games.players.list",
          "httpMethod": "GET",
          "description": "Get the collection of players for the currently authenticated user.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "collection": {
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "description": "Collection of players being retrieved",
              "location": "path",
              "type": "string",
              "required": true
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "getMultipleApplicationPlayerIds": {
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "parameterOrder": [],
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "parameters": {
            "applicationIds": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for."
            }
          },
          "id": "games.players.getMultipleApplicationPlayerIds"
        },
        "getScopedPlayerIds": {
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "parameters": {},
          "flatPath": "games/v1/players/me/scopedIds",
          "httpMethod": "GET",
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/players/me/scopedIds",
          "parameterOrder": [],
          "id": "games.players.getScopedPlayerIds"
        }
      }
    },
    "recall": {
      "methods": {
        "resetPersona": {
          "parameterOrder": [],
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "id": "games.recall.resetPersona",
          "flatPath": "games/v1/recall:resetPersona",
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1/recall:resetPersona",
          "parameters": {},
          "httpMethod": "POST"
        },
        "unlinkPersona": {
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "path": "games/v1/recall:unlinkPersona",
          "flatPath": "games/v1/recall:unlinkPersona",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.unlinkPersona"
        },
        "gamesPlayerTokens": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.gamesPlayerTokens",
          "parameters": {
            "sessionId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
            },
            "applicationIds": {
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "httpMethod": "GET",
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ],
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile."
        },
        "retrieveTokens": {
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "parameters": {
            "sessionId": {
              "required": true,
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "games/v1/recall/tokens/{sessionId}",
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "id": "games.recall.retrieveTokens",
          "parameterOrder": [
            "sessionId"
          ]
        },
        "lastTokenFromAllDeveloperGames": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameters": {
            "sessionId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
            }
          },
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "parameterOrder": [
            "sessionId"
          ],
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "httpMethod": "GET",
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}"
        },
        "linkPersona": {
          "path": "games/v1/recall:linkPersona",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "flatPath": "games/v1/recall:linkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "id": "games.recall.linkPersona",
          "request": {
            "$ref": "LinkPersonaRequest"
          }
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Leaderboard"
          },
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          },
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "path": "games/v1/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.leaderboards.get"
        },
        "list": {
          "flatPath": "games/v1/leaderboards",
          "parameterOrder": [],
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "description": "Lists all the leaderboard metadata for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/leaderboards",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "games.leaderboards.list"
        }
      }
    },
    "events": {
      "methods": {
        "listDefinitions": {
          "id": "games.events.listDefinitions",
          "parameterOrder": [],
          "description": "Returns a list of the event definitions in this application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/eventDefinitions",
          "flatPath": "games/v1/eventDefinitions",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "httpMethod": "GET"
        },
        "listByPlayer": {
          "path": "games/v1/events",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "flatPath": "games/v1/events",
          "id": "games.events.listByPlayer",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults."
            }
          },
          "httpMethod": "GET"
        },
        "record": {
          "request": {
            "$ref": "EventRecordRequest"
          },
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "games/v1/events",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "flatPath": "games/v1/events",
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.events.record"
        }
      }
    },
    "scores": {
      "methods": {
        "get": {
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "required": true
            },
            "includeRankType": {
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "location": "query",
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ],
              "type": "string"
            },
            "leaderboardId": {
              "required": true,
              "location": "path",
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "type": "string"
            },
            "timeSpan": {
              "required": true,
              "location": "path",
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "description": "The time span for the scores and ranks you're requesting.",
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "games.scores.get",
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          }
        },
        "submit": {
          "parameters": {
            "score": {
              "format": "int64",
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "scoreTag": {
              "type": "string",
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "location": "query",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
            },
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.scores.submit",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "Submits a score to the specified leaderboard.",
          "parameterOrder": [
            "leaderboardId",
            "score"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "httpMethod": "GET",
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "timeSpan": {
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "type": "string",
              "required": true,
              "location": "query",
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ]
            },
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "collection": {
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "description": "The collection of scores you're requesting.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "id": "games.scores.list"
        },
        "listWindow": {
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "httpMethod": "GET",
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "collection": {
              "type": "string",
              "required": true,
              "location": "path",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "description": "The collection of scores you're requesting.",
              "enumDeprecated": [
                false,
                true,
                false
              ]
            },
            "timeSpan": {
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "required": true,
              "location": "query",
              "type": "string"
            },
            "resultsAbove": {
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "returnTopIfAbsent": {
              "type": "boolean",
              "location": "query",
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true."
            },
            "leaderboardId": {
              "type": "string",
              "required": true,
              "description": "The ID of the leaderboard.",
              "location": "path"
            }
          },
          "id": "games.scores.listWindow",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ]
        },
        "submitMultiple": {
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Submits multiple scores to leaderboards.",
          "httpMethod": "POST",
          "id": "games.scores.submitMultiple",
          "path": "games/v1/leaderboards/scores",
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "flatPath": "games/v1/leaderboards/scores",
          "parameterOrder": []
        }
      }
    },
    "applications": {
      "methods": {
        "getEndPoint": {
          "id": "games.applications.getEndPoint",
          "parameterOrder": [],
          "path": "games/v1/applications/getEndPoint",
          "httpMethod": "POST",
          "parameters": {
            "endPointType": {
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "description": "Type of endpoint being requested.",
              "location": "query",
              "type": "string"
            },
            "applicationId": {
              "location": "query",
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/applications/getEndPoint",
          "response": {
            "$ref": "EndPoint"
          },
          "description": "Returns a URL for the requested end point type."
        },
        "get": {
          "id": "games.applications.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "platformType": {
              "description": "Restrict application details returned to the specific platform.",
              "location": "query",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "type": "string"
            },
            "applicationId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The application ID from the Google Play developer console."
            }
          },
          "path": "games/v1/applications/{applicationId}",
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "Application"
          },
          "flatPath": "games/v1/applications/{applicationId}"
        },
        "played": {
          "parameters": {},
          "httpMethod": "POST",
          "description": "Indicate that the currently authenticated user is playing your application.",
          "path": "games/v1/applications/played",
          "id": "games.applications.played",
          "flatPath": "games/v1/applications/played",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "verify": {
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "path": "games/v1/applications/{applicationId}/verify",
          "httpMethod": "GET",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "games.applications.verify",
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "id": "games.revisions.check",
          "description": "Checks whether the games client is out of date.",
          "flatPath": "games/v1/revisions/check",
          "path": "games/v1/revisions/check",
          "httpMethod": "GET",
          "parameters": {
            "clientRevision": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App."
            }
          },
          "parameterOrder": [
            "clientRevision"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "id": "games.stats.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "StatsResponse"
          },
          "flatPath": "games/v1/stats",
          "parameters": {},
          "path": "games/v1/stats",
          "parameterOrder": []
        }
      }
    },
    "snapshots": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "Snapshot"
          },
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "id": "games.snapshots.get",
          "path": "games/v1/snapshots/{snapshotId}",
          "description": "Retrieves the metadata for a given snapshot ID.",
          "parameterOrder": [
            "snapshotId"
          ],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "snapshotId": {
              "required": true,
              "type": "string",
              "description": "The ID of the snapshot.",
              "location": "path"
            }
          },
          "httpMethod": "GET"
        },
        "list": {
          "path": "games/v1/players/{playerId}/snapshots",
          "id": "games.snapshots.list",
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            }
          },
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "parameterOrder": [
            "playerId"
          ],
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string",
              "location": "query"
            },
            "packageName": {
              "location": "query",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "type": "string"
            }
          },
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "httpMethod": "POST",
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential."
        },
        "generateRecallPlayGroupingApiToken": {
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "parameters": {
            "packageName": {
              "location": "query",
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            },
            "recallSessionId": {
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "location": "query"
            },
            "persona": {
              "type": "string",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "location": "query"
            }
          },
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "parameterOrder": []
        }
      }
    },
    "achievements": {
      "methods": {
        "list": {
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "path": "games/v1/players/{playerId}/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "state": {
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "location": "query",
              "type": "string",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ]
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "playerId"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}/achievements",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "id": "games.achievements.list"
        },
        "reveal": {
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "id": "games.achievements.reveal",
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/reveal"
        },
        "unlock": {
          "parameterOrder": [
            "achievementId"
          ],
          "id": "games.achievements.unlock",
          "httpMethod": "POST",
          "parameters": {
            "achievementId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method."
            }
          },
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "path": "games/v1/achievements/{achievementId}/unlock",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Unlocks this achievement for the currently authenticated player."
        },
        "increment": {
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "id": "games.achievements.increment",
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "path": "games/v1/achievements/{achievementId}/increment",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method."
            },
            "stepsToIncrement": {
              "type": "integer",
              "required": true,
              "location": "query",
              "format": "int32",
              "description": "Required. The number of steps to increment."
            },
            "requestId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries."
            }
          },
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ]
        },
        "updateMultiple": {
          "description": "Updates multiple achievements for the currently authenticated player.",
          "parameterOrder": [],
          "path": "games/v1/achievements/updateMultiple",
          "parameters": {},
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements/updateMultiple",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "id": "games.achievements.updateMultiple"
        },
        "setStepsAtLeast": {
          "id": "games.achievements.setStepsAtLeast",
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameters": {
            "steps": {
              "description": "Required. The minimum value to set the steps to.",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "required": true
            },
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified."
        }
      }
    },
    "metagame": {
      "methods": {
        "getMetagameConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/metagameConfig",
          "description": "Return the metagame configuration data for the calling application.",
          "response": {
            "$ref": "MetagameConfig"
          },
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "games/v1/metagameConfig",
          "httpMethod": "GET",
          "id": "games.metagame.getMetagameConfig"
        },
        "listCategoriesByPlayer": {
          "httpMethod": "GET",
          "id": "games.metagame.listCategoriesByPlayer",
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "collection": {
              "type": "string",
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "description": "The collection of categories for which data will be returned.",
              "required": true,
              "enum": [
                "ALL"
              ],
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`."
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "flatPath": "games/v1/players/{playerId}/categories/{collection}"
        }
      }
    }
  },
  "name": "games",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "basePath": "",
  "schemas": {
    "Leaderboard": {
      "description": "The Leaderboard resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`."
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the leaderboard."
        },
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "order": {
          "description": "How scores are ordered.",
          "type": "string",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ]
        }
      },
      "type": "object",
      "id": "Leaderboard"
    },
    "BatchRecordEventsRequest": {
      "id": "BatchRecordEventsRequest",
      "type": "object",
      "properties": {
        "requestTime": {
          "format": "google-datetime",
          "description": "Required. The time from the client when this specific batch of events was submitted.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. Application package name (e.g., \"com.example.game\")."
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "PlayerGameEvent"
          },
          "description": "Required. A list of player game events to be recorded. Maximum of 30 events per batch request."
        },
        "salt": {
          "description": "Optional. The salt used to generate content binding for the DroidGuard blob. This is used to prevent replay attacks.",
          "type": "string"
        },
        "droidGuardBlob": {
          "type": "string",
          "description": "Optional. The DroidGuard blob generated by the client. This is used to detect abuse signals from the devices"
        }
      },
      "description": "Request message for PlayerGameEvents.BatchRecordEvents Next ID: 7"
    },
    "PlayerLevel": {
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "level": {
          "type": "integer",
          "format": "int32",
          "description": "The level for the user."
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "maxExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The maximum experience points for this level."
        }
      },
      "id": "PlayerLevel",
      "type": "object"
    },
    "ImageAsset": {
      "properties": {
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "height": {
          "description": "The height of the asset.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`."
        },
        "width": {
          "description": "The width of the asset.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ImageAsset",
      "description": "An image asset object."
    },
    "AchievementUpdateMultipleRequest": {
      "type": "object",
      "id": "AchievementUpdateMultipleRequest",
      "description": "A list of achievement update requests.",
      "properties": {
        "updates": {
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "description": "The individual achievement update requests.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        }
      }
    },
    "Category": {
      "id": "Category",
      "description": "Data related to individual game categories.",
      "type": "object",
      "properties": {
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points earned in this category.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`."
        },
        "category": {
          "description": "The category name.",
          "type": "string"
        }
      }
    },
    "EventUpdateRequest": {
      "description": "An event period update resource.",
      "id": "EventUpdateRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResetPersonaResponse": {
      "description": "Response for the ResetPersona RPC",
      "id": "ResetPersonaResponse",
      "type": "object",
      "properties": {
        "unlinked": {
          "description": "Required. Whether any tokens were unlinked as a result of this request.",
          "type": "boolean"
        }
      }
    },
    "PlayerEventListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The player events.",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "PlayerEventListResponse",
      "description": "A ListByPlayer response."
    },
    "LeaderboardScores": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`."
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The pagination token for the previous page of results."
        },
        "numScores": {
          "type": "string",
          "description": "The total number of scores in the leaderboard.",
          "format": "int64"
        },
        "items": {
          "description": "The scores in the leaderboard.",
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          }
        }
      },
      "type": "object",
      "description": "A ListScores response.",
      "id": "LeaderboardScores"
    },
    "ScoreSubmission": {
      "properties": {
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`."
        },
        "score": {
          "format": "int64",
          "type": "string",
          "description": "The new score being submitted."
        },
        "leaderboardId": {
          "description": "The leaderboard this score is being submitted to.",
          "type": "string"
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "id": "ScoreSubmission",
      "description": "A request to submit a score to leaderboards.",
      "type": "object"
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "id": "ProfileSettings",
      "properties": {
        "friendsListVisibility": {
          "type": "string",
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ]
        },
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UnlinkPersonaRequest": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC"
        },
        "sessionId": {
          "type": "string",
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
        },
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        }
      },
      "description": "Request to remove a Recall token linking PGS principal and an in-game account",
      "id": "UnlinkPersonaRequest"
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC",
      "properties": {
        "gamePlayerToken": {
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal.",
          "$ref": "GamePlayerToken"
        }
      },
      "type": "object",
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse"
    },
    "RetrievePlayerTokensResponse": {
      "description": "Response for the RetrievePlayerTokens RPC",
      "properties": {
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "RecallToken"
          },
          "description": "Required. Recall tokens associated with the requested PGS Player principal"
        }
      },
      "id": "RetrievePlayerTokensResponse",
      "type": "object"
    },
    "ApplicationVerifyResponse": {
      "id": "ApplicationVerifyResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        },
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        }
      },
      "description": "A third party application verification response resource.",
      "type": "object"
    },
    "PlayerExperienceInfo": {
      "description": "1P/3P metadata about the player's experience.",
      "id": "PlayerExperienceInfo",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "type": "string",
          "format": "int64"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        },
        "currentLevel": {
          "$ref": "PlayerLevel",
          "description": "The current level of the player."
        }
      },
      "type": "object"
    },
    "InstanceWebDetails": {
      "description": "The Web details resource.",
      "properties": {
        "launchUrl": {
          "type": "string",
          "description": "Launch URL for the game."
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InstanceWebDetails"
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "id": "GetMultipleApplicationPlayerIdsResponse",
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "properties": {
        "playerIds": {
          "items": {
            "$ref": "ApplicationPlayerId"
          },
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response.",
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      },
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "type": "object",
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC."
    },
    "Application": {
      "properties": {
        "achievement_count": {
          "format": "int32",
          "type": "integer",
          "description": "The number of achievements visible to the currently authenticated player."
        },
        "category": {
          "$ref": "ApplicationCategory",
          "description": "The category of the application."
        },
        "assets": {
          "description": "The assets of the application.",
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "author": {
          "type": "string",
          "description": "The author of the application."
        },
        "description": {
          "type": "string",
          "description": "The description of the application."
        },
        "enabledFeatures": {
          "items": {
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "type": "string",
            "enum": [
              "SNAPSHOTS"
            ]
          },
          "type": "array",
          "description": "A list of features that have been enabled for the application."
        },
        "leaderboard_count": {
          "format": "int32",
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The name of the application."
        },
        "themeColor": {
          "type": "string",
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\")."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`."
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances of the application."
        },
        "id": {
          "type": "string",
          "description": "The ID of the application."
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "description": "The last updated timestamp of the application.",
          "format": "int64"
        }
      },
      "description": "The Application resource.",
      "id": "Application",
      "type": "object"
    },
    "LinkPersonaRequest": {
      "type": "object",
      "id": "LinkPersonaRequest",
      "properties": {
        "cardinalityConstraint": {
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "type": "string",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ],
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game."
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation)."
        },
        "expireTime": {
          "description": "Input only. Optional expiration time.",
          "type": "string",
          "format": "google-datetime"
        },
        "persona": {
          "type": "string",
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games."
        },
        "ttl": {
          "type": "string",
          "description": "Input only. Optional time-to-live.",
          "format": "google-duration"
        },
        "conflictingLinksResolutionPolicy": {
          "type": "string",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint."
        }
      },
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id)."
    },
    "AchievementSetStepsAtLeastResponse": {
      "description": "An achievement set steps at least response.",
      "properties": {
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
        },
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AchievementSetStepsAtLeastResponse",
      "type": "object"
    },
    "AchievementIncrementResponse": {
      "id": "AchievementIncrementResponse",
      "properties": {
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`."
        },
        "currentSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement."
        }
      },
      "type": "object",
      "description": "An achievement increment response"
    },
    "EventRecordRequest": {
      "description": "An event period update resource.",
      "id": "EventRecordRequest",
      "type": "object",
      "properties": {
        "timePeriods": {
          "type": "array",
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          }
        },
        "requestId": {
          "description": "The request ID used to identify this attempt to record events.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "currentTimeMillis": {
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PlayerListResponse": {
      "id": "PlayerListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`."
        },
        "items": {
          "description": "The players.",
          "type": "array",
          "items": {
            "$ref": "Player"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A third party player list response."
    },
    "CategoryListResponse": {
      "id": "CategoryListResponse",
      "description": "A third party list metagame categories response.",
      "properties": {
        "items": {
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayerScoreResponse": {
      "id": "PlayerScoreResponse",
      "description": "A list of leaderboard entry resources.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`."
        },
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        },
        "unbeatenScores": {
          "type": "array",
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "items": {
            "$ref": "PlayerScore"
          }
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted value of the submitted score."
        },
        "beatenScoreTimeSpans": {
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ]
          }
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayerScoreSubmissionList": {
      "id": "PlayerScoreSubmissionList",
      "type": "object",
      "properties": {
        "scores": {
          "description": "The score submissions.",
          "type": "array",
          "items": {
            "$ref": "ScoreSubmission"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        }
      },
      "description": "A list of score submission requests."
    },
    "ScopedPlayerIds": {
      "description": "Scoped player identifiers.",
      "id": "ScopedPlayerIds",
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Player": {
      "id": "Player",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "friendStatus": {
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "type": "string",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game."
        },
        "name": {
          "description": "A representation of the individual components of the name.",
          "type": "object",
          "properties": {
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            },
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            }
          }
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "gamePlayerId": {
          "type": "string",
          "description": "Per-application unique player identifier."
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        }
      },
      "description": "A Player resource."
    },
    "StatsResponse": {
      "id": "StatsResponse",
      "properties": {
        "num_sessions": {
          "format": "int32",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer"
        },
        "high_spender_probability": {
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "churn_probability": {
          "type": "number",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "format": "float"
        },
        "days_since_last_played": {
          "type": "integer",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        },
        "num_purchases": {
          "type": "integer",
          "format": "int32",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "spend_percentile": {
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "num_sessions_percentile": {
          "type": "number",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "spend_probability": {
          "type": "number",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "total_spend_next_28_days": {
          "type": "number",
          "format": "float",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "avg_session_length_minutes": {
          "type": "number",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A third party stats resource."
    },
    "EventDefinitionListResponse": {
      "id": "EventDefinitionListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The event definitions.",
          "items": {
            "$ref": "EventDefinition"
          },
          "type": "array"
        }
      },
      "description": "A ListDefinitions response."
    },
    "PlayGroupingApiToken": {
      "type": "object",
      "properties": {
        "tokenValue": {
          "description": "Value of the token.",
          "type": "string"
        }
      },
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "id": "PlayGroupingApiToken"
    },
    "ApplicationCategory": {
      "properties": {
        "secondary": {
          "type": "string",
          "description": "The secondary category."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        },
        "primary": {
          "description": "The primary category.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An application category object.",
      "id": "ApplicationCategory"
    },
    "EventRecordFailure": {
      "id": "EventRecordFailure",
      "description": "An event update failure resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`."
        },
        "failureCause": {
          "type": "string",
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "description": "The cause for the update failure.",
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ]
        },
        "eventId": {
          "type": "string",
          "description": "The ID of the event that was not updated."
        }
      },
      "type": "object"
    },
    "AchievementUnlockResponse": {
      "type": "object",
      "description": "An achievement unlock response",
      "id": "AchievementUnlockResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        }
      }
    },
    "AchievementDefinition": {
      "id": "AchievementDefinition",
      "properties": {
        "totalSteps": {
          "description": "The total steps for an incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "unlockedIconUrl": {
          "type": "string",
          "description": "The image URL for the unlocked achievement icon."
        },
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        },
        "isRevealedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game."
        },
        "achievementLifecycleState": {
          "description": "Output only. The lifecycle state of the achievement.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ],
          "readOnly": true
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "isUnlockedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided."
        },
        "initialState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The initial state of the achievement."
        },
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points which will be earned when unlocking this achievement.",
          "type": "string"
        },
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        },
        "formattedTotalSteps": {
          "type": "string",
          "description": "The total steps for an incremental achievement as a string."
        },
        "achievementType": {
          "type": "string",
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ],
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "description": "The type of the achievement."
        }
      },
      "type": "object",
      "description": "An achievement definition object."
    },
    "PlayerAchievement": {
      "properties": {
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`."
        },
        "achievementState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The state of the achievement.",
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "lastUpdatedTimestamp": {
          "description": "The timestamp of the last modification to this achievement's state.",
          "format": "int64",
          "type": "string"
        },
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        },
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps for an incremental achievement."
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "format": "int64"
        }
      },
      "description": "An achievement object.",
      "type": "object",
      "id": "PlayerAchievement"
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "id": "GeneratePlayGroupingApiTokenResponse",
      "type": "object",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
[...]
