{
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "protocol": "rest",
  "title": "Google Play Games Services Management API",
  "name": "gamesManagement",
  "batchPath": "batch",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "canonicalName": "Games Management",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "ownerName": "Google",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "documentationLink": "https://developers.google.com/games/",
  "resources": {
    "achievements": {
      "methods": {
        "resetAll": {
          "flatPath": "games/v1management/achievements/reset",
          "id": "gamesManagement.achievements.resetAll",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "path": "games/v1management/achievements/reset",
          "response": {
            "$ref": "AchievementResetAllResponse"
          }
        },
        "resetAllForAllPlayers": {
          "parameterOrder": [],
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "httpMethod": "POST",
          "parameters": {},
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers"
        },
        "resetForAllPlayers": {
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "parameterOrder": [
            "achievementId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers"
        },
        "reset": {
          "path": "games/v1management/achievements/{achievementId}/reset",
          "id": "gamesManagement.achievements.reset",
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "httpMethod": "POST",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "parameterOrder": [
            "achievementId"
          ]
        },
        "resetMultipleForAllPlayers": {
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "parameters": {},
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers"
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "parameters": {
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query"
            }
          },
          "id": "gamesManagement.applications.listHidden",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "httpMethod": "GET",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "parameterOrder": [
            "applicationId"
          ]
        }
      }
    },
    "events": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "httpMethod": "POST",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers"
        },
        "resetAllForAllPlayers": {
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "path": "games/v1management/events/resetAllForAllPlayers",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "parameters": {}
        },
        "resetAll": {
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/reset",
          "httpMethod": "POST",
          "parameters": {},
          "id": "gamesManagement.events.resetAll",
          "flatPath": "games/v1management/events/reset",
          "parameterOrder": []
        },
        "reset": {
          "httpMethod": "POST",
          "parameters": {
            "eventId": {
              "location": "path",
              "description": "The ID of the event.",
              "type": "string",
              "required": true
            }
          },
          "path": "games/v1management/events/{eventId}/reset",
          "id": "gamesManagement.events.reset",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "parameterOrder": [
            "eventId"
          ],
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetForAllPlayers": {
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "id": "gamesManagement.events.resetForAllPlayers",
          "parameterOrder": [
            "eventId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "eventId": {
              "required": true,
              "type": "string",
              "description": "The ID of the event.",
              "location": "path"
            }
          },
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset."
        }
      }
    },
    "scores": {
      "methods": {
        "resetAll": {
          "id": "gamesManagement.scores.resetAll",
          "httpMethod": "POST",
          "flatPath": "games/v1management/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "path": "games/v1management/scores/reset",
          "parameterOrder": []
        },
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameters": {},
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "parameterOrder": [],
          "path": "games/v1management/scores/resetMultipleForAllPlayers"
        },
        "resetForAllPlayers": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            }
          },
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "id": "gamesManagement.scores.resetForAllPlayers"
        },
        "reset": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "httpMethod": "POST",
          "id": "gamesManagement.scores.reset",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameterOrder": [
            "leaderboardId"
          ]
        },
        "resetAllForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "path": "games/v1management/scores/resetAllForAllPlayers"
        }
      }
    },
    "players": {
      "methods": {
        "unhide": {
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "httpMethod": "DELETE",
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            },
            "playerId": {
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            }
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "id": "gamesManagement.players.unhide",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId",
            "playerId"
          ]
        },
        "hide": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.players.hide",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "applicationId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console."
        }
      }
    }
  },
  "schemas": {
    "Player": {
      "id": "Player",
      "description": "A Player resource.",
      "type": "object",
      "properties": {
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "name": {
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object",
          "properties": {
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`."
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        }
      }
    },
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "properties": {
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string",
          "format": "int64"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        },
        "nextLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        },
        "currentLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The current level of the player."
        }
      },
      "description": "1P/3P metadata about the player's experience.",
      "type": "object"
    },
    "AchievementResetAllResponse": {
      "description": "Achievement reset all response.",
      "id": "AchievementResetAllResponse",
      "type": "object",
      "properties": {
        "results": {
          "description": "The achievement reset results.",
          "type": "array",
          "items": {
            "$ref": "AchievementResetResponse"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        }
      }
    },
    "AchievementResetResponse": {
      "properties": {
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of an achievement for which player state has been updated."
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        }
      },
      "id": "AchievementResetResponse",
      "type": "object",
      "description": "An achievement reset response."
    },
    "HiddenPlayer": {
      "properties": {
        "kind": {
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true,
          "type": "string"
        },
        "hiddenTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The time this player was hidden.",
          "readOnly": true
        },
        "player": {
          "$ref": "Player",
          "description": "Output only. The player information.",
          "readOnly": true
        }
      },
      "description": "The HiddenPlayer resource.",
      "id": "HiddenPlayer",
      "type": "object"
    },
    "ProfileSettings": {
      "properties": {
        "profileVisible": {
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        }
      },
      "type": "object",
      "description": "Profile settings",
      "id": "ProfileSettings"
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "type": "object",
      "description": "A list of hidden players.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "description": "The players.",
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          }
        }
      }
    },
    "PlayerScoreResetResponse": {
      "id": "PlayerScoreResetResponse",
      "description": "A list of reset leaderboard entry resources.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        },
        "resetScoreTimeSpans": {
          "type": "array",
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ScoresResetMultipleForAllRequest": {
      "type": "object",
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`."
        },
        "leaderboard_ids": {
          "description": "The IDs of leaderboards to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GamesPlayerLevelResource": {
      "properties": {
        "level": {
          "description": "The level for the user.",
          "type": "integer",
          "format": "int32"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "minExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The minimum experience points for this level."
        }
      },
      "type": "object",
      "description": "1P/3P metadata about a user's level.",
      "id": "GamesPlayerLevelResource"
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "achievement_ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of achievements to reset."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`."
        }
      }
    },
    "EventsResetMultipleForAllRequest": {
      "id": "EventsResetMultipleForAllRequest",
      "description": "Multiple events reset all request.",
      "type": "object",
      "properties": {
        "event_ids": {
          "description": "The IDs of events to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        }
      }
    },
    "PlayerScoreResetAllResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "The leaderboard reset results.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "PlayerScoreResetAllResponse",
      "description": "A list of leaderboard reset resources."
    }
  },
  "kind": "discovery#restDescription",
  "revision": "20260820",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1management",
  "id": "gamesManagement:v1management"
}