{
  "title": "Google Play Games Services API",
  "canonicalName": "Games",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "protocol": "rest",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "rootUrl": "https://games.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v1",
  "batchPath": "batch",
  "id": "games:v1",
  "servicePath": "",
  "discoveryVersion": "v1",
  "resources": {
    "scores": {
      "methods": {
        "submit": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "parameters": {
            "scoreTag": {
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "location": "query",
              "type": "string"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "score": {
              "location": "query",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units."
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "id": "games.scores.submit",
          "description": "Submits a score to the specified leaderboard.",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "response": {
            "$ref": "PlayerScoreResponse"
          }
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            },
            "leaderboardId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard."
            },
            "timeSpan": {
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true,
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "type": "string",
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "collection": {
              "required": true,
              "location": "path",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "description": "The collection of scores you're requesting.",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "type": "string"
            }
          },
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "id": "games.scores.list",
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          }
        },
        "listWindow": {
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "id": "games.scores.listWindow",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            },
            "returnTopIfAbsent": {
              "location": "query",
              "type": "boolean",
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "timeSpan": {
              "type": "string",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "location": "query",
              "required": true,
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "description": "Required. The time span for the scores and ranks you're requesting."
            },
            "collection": {
              "required": true,
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "location": "path",
              "description": "The collection of scores you're requesting.",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "type": "string"
            },
            "resultsAbove": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults."
            }
          },
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "parameters": {
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            },
            "timeSpan": {
              "location": "path",
              "type": "string",
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true,
              "description": "The time span for the scores and ranks you're requesting."
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "includeRankType": {
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "location": "query",
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "type": "string",
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ]
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "required": true
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "id": "games.scores.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}"
        },
        "submitMultiple": {
          "id": "games.scores.submitMultiple",
          "description": "Submits multiple scores to leaderboards.",
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "path": "games/v1/leaderboards/scores",
          "parameterOrder": [],
          "flatPath": "games/v1/leaderboards/scores",
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          }
        }
      }
    },
    "recall": {
      "methods": {
        "unlinkPersona": {
          "httpMethod": "POST",
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "parameters": {},
          "id": "games.recall.unlinkPersona",
          "path": "games/v1/recall:unlinkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1/recall:unlinkPersona",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "parameterOrder": [],
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value."
        },
        "resetPersona": {
          "flatPath": "games/v1/recall:resetPersona",
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "parameters": {},
          "path": "games/v1/recall:resetPersona",
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "httpMethod": "POST",
          "id": "games.recall.resetPersona",
          "parameterOrder": []
        },
        "linkPersona": {
          "httpMethod": "POST",
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.linkPersona",
          "parameters": {},
          "flatPath": "games/v1/recall:linkPersona",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "path": "games/v1/recall:linkPersona",
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "parameterOrder": []
        },
        "lastTokenFromAllDeveloperGames": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "sessionId"
          ],
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "parameters": {
            "sessionId": {
              "location": "path",
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true
            }
          },
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "httpMethod": "GET",
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "id": "games.recall.lastTokenFromAllDeveloperGames"
        },
        "retrieveTokens": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "id": "games.recall.retrieveTokens",
          "parameterOrder": [
            "sessionId"
          ],
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "games/v1/recall/tokens/{sessionId}",
          "httpMethod": "GET",
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          }
        },
        "gamesPlayerTokens": {
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "id": "games.recall.gamesPlayerTokens",
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "parameterOrder": [
            "sessionId"
          ],
          "parameters": {
            "sessionId": {
              "location": "path",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true,
              "type": "string"
            },
            "applicationIds": {
              "type": "string",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "location": "query",
              "repeated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          }
        }
      }
    },
    "events": {
      "methods": {
        "record": {
          "path": "games/v1/events",
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "parameterOrder": [],
          "request": {
            "$ref": "EventRecordRequest"
          },
          "httpMethod": "POST",
          "id": "games.events.record",
          "flatPath": "games/v1/events",
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          }
        },
        "listByPlayer": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "id": "games.events.listByPlayer",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults."
            }
          },
          "path": "games/v1/events",
          "httpMethod": "GET",
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "flatPath": "games/v1/events",
          "response": {
            "$ref": "PlayerEventListResponse"
          }
        },
        "listDefinitions": {
          "parameterOrder": [],
          "path": "games/v1/eventDefinitions",
          "flatPath": "games/v1/eventDefinitions",
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "id": "games.events.listDefinitions",
          "httpMethod": "GET",
          "description": "Returns a list of the event definitions in this application.",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "parameterOrder": [
            "leaderboardId"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}",
          "id": "games.leaderboards.get",
          "httpMethod": "GET",
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "Leaderboard"
          }
        },
        "list": {
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "flatPath": "games/v1/leaderboards",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "httpMethod": "GET",
          "description": "Lists all the leaderboard metadata for your application.",
          "path": "games/v1/leaderboards",
          "id": "games.leaderboards.list",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "gameStats": {
      "methods": {
        "batchRecordEvents": {
          "httpMethod": "POST",
          "id": "games.gameStats.batchRecordEvents",
          "path": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "parameters": {
            "playerId": {
              "location": "path",
              "type": "string",
              "description": "Required. The player ID of the player that performed the events.",
              "required": true
            }
          },
          "flatPath": "games/v1/players/{playerId}/gameStats:batchRecordEvents",
          "response": {
            "$ref": "BatchRecordEventsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Records a batch of player game events for a specific player. This method allows sending multiple events in a single request.",
          "request": {
            "$ref": "BatchRecordEventsRequest"
          },
          "parameterOrder": [
            "playerId"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "played": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1/applications/played",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.applications.played",
          "description": "Indicate that the currently authenticated user is playing your application.",
          "parameters": {},
          "path": "games/v1/applications/played"
        },
        "getEndPoint": {
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "query",
              "type": "string"
            },
            "endPointType": {
              "description": "Type of endpoint being requested.",
              "location": "query",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "description": "Returns a URL for the requested end point type.",
          "id": "games.applications.getEndPoint",
          "path": "games/v1/applications/getEndPoint",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "flatPath": "games/v1/applications/getEndPoint",
          "response": {
            "$ref": "EndPoint"
          }
        },
        "get": {
          "parameters": {
            "platformType": {
              "type": "string",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "location": "query",
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "description": "Restrict application details returned to the specific platform."
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "games/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "id": "games.applications.get",
          "path": "games/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ]
        },
        "verify": {
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "path": "games/v1/applications/{applicationId}/verify",
          "parameters": {
            "applicationId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The application ID from the Google Play developer console."
            }
          },
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "id": "games.applications.verify",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "description": "Lists all the achievement definitions for your application.",
          "path": "games/v1/achievements",
          "flatPath": "games/v1/achievements",
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "parameterOrder": [],
          "id": "games.achievementDefinitions.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          }
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "parameters": {
            "persona": {
              "location": "query",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "parameterOrder": [],
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken"
        },
        "generateRecallPlayGroupingApiToken": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "query",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            },
            "recallSessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "type": "string",
              "location": "query"
            },
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "path": "games/v1/stats",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "parameters": {},
          "flatPath": "games/v1/stats",
          "response": {
            "$ref": "StatsResponse"
          },
          "id": "games.stats.get",
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "id": "games.revisions.check",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/revisions/check",
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "path": "games/v1/revisions/check",
          "parameters": {
            "clientRevision": {
              "location": "query",
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "clientRevision"
          ],
          "description": "Checks whether the games client is out of date.",
          "httpMethod": "GET"
        }
      }
    },
    "snapshots": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/snapshots/{snapshotId}",
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "response": {
            "$ref": "Snapshot"
          },
          "id": "games.snapshots.get",
          "parameterOrder": [
            "snapshotId"
          ],
          "description": "Retrieves the metadata for a given snapshot ID.",
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "snapshotId": {
              "location": "path",
              "description": "The ID of the snapshot.",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "id": "games.snapshots.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "games/v1/players/{playerId}/snapshots",
          "httpMethod": "GET"
        }
      }
    },
    "metagame": {
      "methods": {
        "listCategoriesByPlayer": {
          "parameters": {
            "collection": {
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "required": true,
              "description": "The collection of categories for which data will be returned.",
              "enum": [
                "ALL"
              ],
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`."
            }
          },
          "httpMethod": "GET",
          "id": "games.metagame.listCategoriesByPlayer",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "parameterOrder": [
            "playerId",
            "collection"
          ]
        },
        "getMetagameConfig": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "games/v1/metagameConfig",
          "id": "games.metagame.getMetagameConfig",
          "flatPath": "games/v1/metagameConfig",
          "response": {
            "$ref": "MetagameConfig"
          },
          "description": "Return the metagame configuration data for the calling application."
        }
      }
    },
    "players": {
      "methods": {
        "getScopedPlayerIds": {
          "parameterOrder": [],
          "path": "games/v1/players/me/scopedIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/me/scopedIds",
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "parameters": {},
          "id": "games.players.getScopedPlayerIds",
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "httpMethod": "GET"
        },
        "get": {
          "parameterOrder": [
            "playerId"
          ],
          "id": "games.players.get",
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "playerIdConsistencyToken": {
              "location": "query",
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto",
              "type": "string"
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "path": "games/v1/players/{playerId}",
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}",
          "response": {
            "$ref": "Player"
          }
        },
        "getMultipleApplicationPlayerIds": {
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "applicationIds": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for."
            }
          },
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "id": "games.players.getMultipleApplicationPlayerIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "collection": {
              "description": "Collection of players being retrieved",
              "required": true,
              "location": "path",
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "type": "string"
            }
          },
          "description": "Get the collection of players for the currently authenticated user.",
          "parameterOrder": [
            "collection"
          ],
          "id": "games.players.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/me/players/{collection}",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "path": "games/v1/players/me/players/{collection}"
        }
      }
    },
    "achievements": {
      "methods": {
        "updateMultiple": {
          "path": "games/v1/achievements/updateMultiple",
          "id": "games.achievements.updateMultiple",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Updates multiple achievements for the currently authenticated player.",
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/updateMultiple",
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "parameterOrder": [],
          "parameters": {}
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/achievements",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "path": "games/v1/players/{playerId}/achievements",
          "httpMethod": "GET",
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "parameters": {
            "state": {
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "location": "query",
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`."
            },
            "playerId": {
              "type": "string",
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            }
          },
          "id": "games.achievements.list",
          "parameterOrder": [
            "playerId"
          ]
        },
        "reveal": {
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "id": "games.achievements.reveal",
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "httpMethod": "POST",
          "path": "games/v1/achievements/{achievementId}/reveal",
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "increment": {
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "path": "games/v1/achievements/{achievementId}/increment",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "requestId": {
              "format": "int64",
              "type": "string",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "location": "query"
            },
            "achievementId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the achievement used by this method."
            },
            "stepsToIncrement": {
              "type": "integer",
              "location": "query",
              "required": true,
              "description": "Required. The number of steps to increment.",
              "format": "int32"
            }
          },
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "httpMethod": "POST",
          "id": "games.achievements.increment",
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player."
        },
        "setStepsAtLeast": {
          "id": "games.achievements.setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method."
            },
            "steps": {
              "location": "query",
              "description": "Required. The minimum value to set the steps to.",
              "format": "int32",
              "type": "integer",
              "required": true
            }
          },
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          }
        },
        "unlock": {
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1/achievements/{achievementId}/unlock",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.unlock",
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "parameters": {
            "achievementId": {
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "description": "Unlocks this achievement for the currently authenticated player."
        }
      }
    }
  },
  "schemas": {
    "GamesAchievementIncrement": {
      "id": "GamesAchievementIncrement",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`."
        },
        "steps": {
          "format": "int32",
          "type": "integer",
          "description": "The number of steps to be incremented."
        },
        "requestId": {
          "description": "The requestId associated with an increment to an achievement.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The payload to request to increment an achievement."
    },
    "PlayerGameEvent": {
      "id": "PlayerGameEvent",
      "description": "A representation of a single player game event triggered by a player's event in a game. This might be completing a level, unlocking an item, or finishing a match.",
      "type": "object",
      "properties": {
        "eventProperties": {
          "additionalProperties": {
            "$ref": "PropertyValue"
          },
          "description": "Optional. Key-value properties providing details about the event. - Maximum number of properties: 25. - Property key maximum length: 100 characters. - String values within PropertyValue maximum length: 1024 characters.",
          "type": "object"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time from the client when this specific event was performed."
        },
        "eventId": {
          "description": "Required. A unique client-generated UUID for this specific event instance. Used for server-side idempotency and deduplication. Submitting an event with a previously recorded event_id for the same player will be ignored.",
          "type": "string"
        },
        "eventName": {
          "description": "Required. Client-defined name of the event (e.g., \"run_completed\", \"level_up\"). Maximum length: 100 characters.",
          "type": "string"
        }
      }
    },
    "LinkPersonaResponse": {
      "description": "Outcome of a persona linking attempt.",
      "type": "object",
      "id": "LinkPersonaResponse",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "description": "Output only. State of a persona linking attempt.",
          "type": "string",
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "readOnly": true
        }
      }
    },
    "ApplicationVerifyResponse": {
      "properties": {
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A third party application verification response resource.",
      "id": "ApplicationVerifyResponse"
    },
    "EventPeriodUpdate": {
      "description": "An event period update resource.",
      "id": "EventPeriodUpdate",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`."
        },
        "updates": {
          "type": "array",
          "description": "The updates being made for this time period.",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        },
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        }
      },
      "type": "object"
    },
    "AchievementUpdateMultipleResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`."
        },
        "updatedAchievements": {
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "description": "The updated state of the achievements."
        }
      },
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "id": "AchievementUpdateMultipleResponse"
    },
    "StatsResponse": {
      "id": "StatsResponse",
      "description": "A third party stats resource.",
      "properties": {
        "total_spend_next_28_days": {
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "spend_probability": {
          "format": "float",
          "type": "number",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information."
        },
        "days_since_last_played": {
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "num_sessions": {
          "type": "integer",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        },
        "num_purchases": {
          "format": "int32",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer"
        },
        "high_spender_probability": {
          "type": "number",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "churn_probability": {
          "format": "float",
          "type": "number",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "spend_percentile": {
          "type": "number",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "avg_session_length_minutes": {
          "type": "number",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float"
        },
        "num_sessions_percentile": {
          "format": "float",
          "type": "number",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        }
      },
      "type": "object"
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "type": "object",
      "id": "GenerateRecallPlayGroupingApiTokenResponse"
    },
    "PlayerScoreResponse": {
      "description": "A list of leaderboard entry resources.",
      "id": "PlayerScoreResponse",
      "type": "object",
      "properties": {
        "unbeatenScores": {
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "items": {
            "$ref": "PlayerScore"
          },
          "type": "array"
        },
        "beatenScoreTimeSpans": {
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "items": {
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "type": "string",
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ]
          },
          "type": "array"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        }
      }
    },
    "Player": {
      "description": "A Player resource.",
      "id": "Player",
      "properties": {
        "gamePlayerId": {
          "type": "string",
          "description": "Per-application unique player identifier."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "name": {
          "type": "object",
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "description": "A representation of the individual components of the name."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "friendStatus": {
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "type": "string",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game."
        },
        "experienceInfo": {
          "$ref": "PlayerExperienceInfo",
          "description": "An object to represent Play Game experience information for the player."
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SnapshotImage": {
      "type": "object",
      "description": "An image of a snapshot.",
      "id": "SnapshotImage",
      "properties": {
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        },
        "width": {
          "description": "The width of the image.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "description": "The height of the image.",
          "format": "int32"
        },
        "url": {
          "type": "string",
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached."
        }
      }
    },
    "GamesAchievementSetStepsAtLeast": {
      "type": "object",
      "description": "The payload to request to increment an achievement.",
      "id": "GamesAchievementSetStepsAtLeast",
      "properties": {
        "steps": {
          "description": "The minimum number of steps for the achievement to be set to.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`."
        }
      }
    },
    "PlayerScoreSubmissionList": {
      "type": "object",
      "description": "A list of score submission requests.",
      "id": "PlayerScoreSubmissionList",
      "properties": {
        "scores": {
          "items": {
            "$ref": "ScoreSubmission"
          },
          "type": "array",
          "description": "The score submissions."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        }
      }
    },
    "EventUpdateResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "eventFailures": {
          "type": "array",
          "description": "Any failures updating a particular event.",
          "items": {
            "$ref": "EventRecordFailure"
          }
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "batchFailures": {
          "description": "Any batch-wide failures which occurred applying updates.",
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "type": "array"
        }
      },
      "description": "An event period update resource.",
      "id": "EventUpdateResponse",
      "type": "object"
    },
    "EventPeriodRange": {
      "id": "EventPeriodRange",
      "description": "An event period time range.",
      "type": "object",
      "properties": {
        "periodStartMillis": {
          "type": "string",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodEndMillis": {
          "type": "string",
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "format": "int64"
        }
      }
    },
    "Snapshot": {
      "description": "An snapshot object.",
      "type": "object",
      "id": "Snapshot",
      "properties": {
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of this snapshot."
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "type": {
          "enum": [
            "SAVE_GAME"
          ],
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "description": "The type of this snapshot.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "lastModifiedMillis": {
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "format": "int64",
          "type": "string"
        },
        "durationMillis": {
          "description": "The duration associated with this snapshot, in millis.",
          "type": "string",
          "format": "int64"
        },
        "progressValue": {
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "LeaderboardScores": {
      "description": "A ListScores response.",
      "type": "object",
      "id": "LeaderboardScores",
      "properties": {
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          },
          "description": "The scores in the leaderboard."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "numScores": {
          "type": "string",
          "description": "The total number of scores in the leaderboard.",
          "format": "int64"
        },
        "playerScore": {
          "$ref": "LeaderboardEntry",
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present."
        }
      }
    },
    "EventDefinition": {
      "properties": {
        "childEvents": {
          "type": "array",
          "items": {
            "$ref": "EventChild"
          },
          "description": "A list of events that are a child of this event."
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the event."
        },
        "description": {
          "type": "string",
          "description": "Description of what this event represents."
        },
        "isDefaultImageUrl": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "description": "The visibility of event being tracked in this definition."
        }
      },
      "type": "object",
      "id": "EventDefinition",
      "description": "An event definition resource."
    },
    "ImageAsset": {
      "id": "ImageAsset",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "The width of the asset."
        },
        "height": {
          "description": "The height of the asset.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`."
        }
      },
      "description": "An image asset object."
    },
    "InstanceWebDetails": {
      "id": "InstanceWebDetails",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`."
        },
        "launchUrl": {
          "type": "string",
          "description": "Launch URL for the game."
        },
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        }
      },
      "description": "The Web details resource."
    },
    "Application": {
      "id": "Application",
      "properties": {
        "lastUpdatedTimestamp": {
          "description": "The last updated timestamp of the application.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the application."
        },
        "assets": {
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The assets of the application.",
          "type": "array"
        },
        "themeColor": {
          "type": "string",
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\")."
        },
        "category": {
          "$ref": "ApplicationCategory",
          "description": "The category of the application."
        },
        "leaderboard_count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of leaderboards visible to the currently authenticated player."
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "achievement_count": {
          "description": "The number of achievements visible to the currently authenticated player.",
          "type": "integer",
          "format": "int32"
        },
        "author": {
          "type": "string",
          "description": "The author of the application."
        },
        "enabledFeatures": {
          "items": {
            "enum": [
              "SNAPSHOTS"
            ],
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "type": "string"
          },
          "description": "A list of features that have been enabled for the application.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`."
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "instances": {
          "type": "array",
          "description": "The instances of the application.",
          "items": {
            "$ref": "Instance"
          }
        }
      },
      "type": "object",
      "description": "The Application resource."
    },
    "ApplicationPlayerId": {
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The player identifier for the application."
        }
      },
      "type": "object",
      "description": "Primary scoped player identifier for an application.",
      "id": "ApplicationPlayerId"
    },
    "Category": {
      "type": "object",
      "description": "Data related to individual game categories.",
      "id": "Category",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points earned in this category.",
          "format": "int64",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The category name."
        }
      }
    },
    "LeaderboardEntry": {
      "type": "object",
      "description": "The Leaderboard Entry resource.",
      "id": "LeaderboardEntry",
      "properties": {
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`."
        },
        "scoreValue": {
          "format": "int64",
          "type": "string",
          "description": "The numerical value of this score."
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "description": "The time span of this high score.",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "formattedScoreRank": {
          "type": "string",
          "description": "The localized string for the rank of this score for this leaderboard."
        },
        "scoreRank": {
          "format": "int64",
          "type": "string",
          "description": "The rank of this score for this leaderboard."
        },
        "writeTimestampMillis": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
        },
        "player": {
          "$ref": "Player",
          "description": "The player who holds this score."
        }
      }
    },
    "PlayerEventListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "items": {
          "description": "The player events.",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "PlayerEventListResponse",
      "description": "A ListByPlayer response."
    },
    "MetagameConfig": {
      "properties": {
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "type": "integer",
          "format": "int32"
        },
        "playerLevels": {
          "description": "The list of player levels.",
          "items": {
            "$ref": "PlayerLevel"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`."
        }
      },
      "id": "MetagameConfig",
      "description": "The metagame config resource",
      "type": "object"
    },
    "UnlinkPersonaResponse": {
      "description": "Response for the UnlinkPersona RPC",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "UnlinkPersonaResponse"
    },
    "RetrieveGamesPlayerTokensResponse": {
      "id": "RetrieveGamesPlayerTokensResponse",
      "type": "object",
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "properties": {
        "gamePlayerTokens": {
          "type": "array",
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "items": {
            "$ref": "GamePlayerToken"
          }
        }
      }
    },
    "PlayerScoreListResponse": {
      "type": "object",
      "id": "PlayerScoreListResponse",
      "description": "A list of score submission statuses.",
      "properties": {
        "submittedScores": {
          "type": "array",
          "description": "The score submissions statuses.",
          "items": {
            "$ref": "PlayerScoreResponse"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        }
      }
    },
    "PlayerScore": {
      "description": "A player score.",
      "type": "object",
      "id": "PlayerScore",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "score": {
          "type": "string",
          "description": "The numerical value for this player score.",
          "format": "int64"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "timeSpan": {
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "description": "The time span for this player score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        }
      }
    },
    "InstanceAndroidDetails": {
      "type": "object",
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource.",
      "properties": {
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "enablePiracyCheck": {
          "type": "boolean",
          "description": "Flag indicating whether the anti-piracy check is enabled."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`."
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        }
      }
    },
    "CategoryListResponse": {
      "type": "object",
      "description": "A third party list metagame categories response.",
      "id": "CategoryListResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories with usage data.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      }
    },
    "ResetPersonaRequest": {
      "id": "ResetPersonaRequest",
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "type": "object",
      "properties": {
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        }
      }
    },
    "RevisionCheckResponse": {
      "properties": {
        "apiVersion": {
          "description": "The version of the API this client revision should use when calling API methods.",
          "type": "string"
        },
        "revisionStatus": {
          "type": "string",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "description": "The result of the revision check.",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RevisionCheckResponse",
      "description": "A third party checking a revision response."
    },
    "PlayerAchievement": {
      "id": "PlayerAchievement",
      "type": "object",
      "properties": {
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "format": "int64",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "description": "The timestamp of the last modification to this achievement's state.",
          "type": "string"
        },
        "currentSteps": {
          "format": "int32",
          "description": "The current steps for an incremental achievement.",
          "type": "integer"
        },
        "achievementState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The state of the achievement.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`."
        }
      },
      "description": "An achievement object."
    },
    "UnlinkPersonaRequest": {
      "id": "UnlinkPersonaRequest",
      "type": "object",
      "description": "Request to remove a Recall token linking PGS principal and an in-game account",
      "properties": {
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        },
        "token": {
          "type": "string",
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC"
        }
      }
    },
    "LinkPersonaRequest": {
      "type": "object",
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "id": "LinkPersonaRequest",
      "properties": {
        "ttl": {
          "description": "Input only. Optional time-to-live.",
          "type": "string",
          "format": "google-duration"
        },
        "conflictingLinksResolutionPolicy": {
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "type": "string",
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint."
        },
        "token": {
          "type": "string",
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation)."
        },
        "cardinalityConstraint": {
          "type": "string",
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ],
          "enumDescriptions": [
[...]
