{
  "version": "v1",
  "basePath": "",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "documentationLink": "https://developers.google.com/games/",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "discoveryVersion": "v1",
  "rootUrl": "https://games.googleapis.com/",
  "name": "games",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "canonicalName": "Games",
  "title": "Google Play Games Services API",
  "id": "games:v1",
  "kind": "discovery#restDescription",
  "revision": "20260723",
  "protocol": "rest",
  "servicePath": "",
  "resources": {
    "players": {
      "methods": {
        "get": {
          "id": "games.players.get",
          "httpMethod": "GET",
          "path": "games/v1/players/{playerId}",
          "parameters": {
            "playerIdConsistencyToken": {
              "location": "query",
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto",
              "type": "string"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "playerId": {
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "response": {
            "$ref": "Player"
          },
          "flatPath": "games/v1/players/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "playerId"
          ]
        },
        "getScopedPlayerIds": {
          "parameterOrder": [],
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "flatPath": "games/v1/players/me/scopedIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "path": "games/v1/players/me/scopedIds",
          "httpMethod": "GET",
          "id": "games.players.getScopedPlayerIds"
        },
        "getMultipleApplicationPlayerIds": {
          "parameters": {
            "applicationIds": {
              "location": "query",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "type": "string",
              "repeated": true
            }
          },
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "parameterOrder": [],
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "id": "games.players.getMultipleApplicationPlayerIds",
          "httpMethod": "GET"
        },
        "list": {
          "path": "games/v1/players/me/players/{collection}",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "collection": {
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "location": "path",
              "description": "Collection of players being retrieved",
              "type": "string",
              "required": true
            }
          },
          "description": "Get the collection of players for the currently authenticated user.",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "flatPath": "games/v1/players/me/players/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "collection"
          ],
          "id": "games.players.list",
          "httpMethod": "GET"
        }
      }
    },
    "scores": {
      "methods": {
        "list": {
          "id": "games.scores.list",
          "httpMethod": "GET",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "timeSpan": {
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true,
              "location": "query",
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "type": "string"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32"
            },
            "collection": {
              "location": "path",
              "description": "The collection of scores you're requesting.",
              "type": "string",
              "required": true,
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "response": {
            "$ref": "LeaderboardScores"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "listWindow": {
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "LeaderboardScores"
          },
          "parameters": {
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "leaderboardId": {
              "required": true,
              "location": "path",
              "description": "The ID of the leaderboard.",
              "type": "string"
            },
            "timeSpan": {
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "location": "query",
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "type": "string",
              "required": true
            },
            "resultsAbove": {
              "location": "query",
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "type": "integer",
              "format": "int32"
            },
            "returnTopIfAbsent": {
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "collection": {
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "required": true,
              "location": "path",
              "description": "The collection of scores you're requesting.",
              "type": "string"
            }
          },
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "httpMethod": "GET",
          "id": "games.scores.listWindow"
        },
        "submitMultiple": {
          "id": "games.scores.submitMultiple",
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "httpMethod": "POST",
          "path": "games/v1/leaderboards/scores",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "description": "Submits multiple scores to leaderboards.",
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "flatPath": "games/v1/leaderboards/scores",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": []
        },
        "get": {
          "id": "games.scores.get",
          "httpMethod": "GET",
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "includeRankType": {
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ],
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "type": "string",
              "location": "query"
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "required": true
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "timeSpan": {
              "required": true,
              "description": "The time span for the scores and ranks you're requesting.",
              "type": "string",
              "location": "path",
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ]
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ]
        },
        "submit": {
          "id": "games.scores.submit",
          "httpMethod": "POST",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "score": {
              "location": "query",
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "scoreTag": {
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "location": "query",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "type": "string"
            }
          },
          "description": "Submits a score to the specified leaderboard.",
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResponse"
          }
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "response": {
            "$ref": "StatsResponse"
          },
          "flatPath": "games/v1/stats",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "path": "games/v1/stats",
          "parameters": {},
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "httpMethod": "GET",
          "id": "games.stats.get"
        }
      }
    },
    "applications": {
      "methods": {
        "getEndPoint": {
          "response": {
            "$ref": "EndPoint"
          },
          "flatPath": "games/v1/applications/getEndPoint",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "path": "games/v1/applications/getEndPoint",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "query"
            },
            "endPointType": {
              "location": "query",
              "description": "Type of endpoint being requested.",
              "type": "string",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ]
            }
          },
          "description": "Returns a URL for the requested end point type.",
          "httpMethod": "POST",
          "id": "games.applications.getEndPoint"
        },
        "get": {
          "id": "games.applications.get",
          "httpMethod": "GET",
          "path": "games/v1/applications/{applicationId}",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path"
            },
            "platformType": {
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "description": "Restrict application details returned to the specific platform.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "response": {
            "$ref": "Application"
          },
          "flatPath": "games/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId"
          ]
        },
        "played": {
          "id": "games.applications.played",
          "path": "games/v1/applications/played",
          "parameters": {},
          "description": "Indicate that the currently authenticated user is playing your application.",
          "flatPath": "games/v1/applications/played",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "verify": {
          "httpMethod": "GET",
          "id": "games.applications.verify",
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "parameters": {
            "applicationId": {
              "required": true,
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string"
            }
          },
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "path": "games/v1/applications/{applicationId}/verify"
        }
      }
    },
    "events": {
      "methods": {
        "listByPlayer": {
          "httpMethod": "GET",
          "id": "games.events.listByPlayer",
          "parameterOrder": [],
          "flatPath": "games/v1/events",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "type": "integer",
              "format": "int32"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "path": "games/v1/events"
        },
        "record": {
          "flatPath": "games/v1/events",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "parameterOrder": [],
          "path": "games/v1/events",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            }
          },
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "httpMethod": "POST",
          "request": {
            "$ref": "EventRecordRequest"
          },
          "id": "games.events.record"
        },
        "listDefinitions": {
          "path": "games/v1/eventDefinitions",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Returns a list of the event definitions in this application.",
          "flatPath": "games/v1/eventDefinitions",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "parameterOrder": [],
          "id": "games.events.listDefinitions",
          "httpMethod": "GET"
        }
      }
    },
    "recall": {
      "methods": {
        "retrieveTokens": {
          "parameters": {
            "sessionId": {
              "required": true,
              "location": "path",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "type": "string"
            }
          },
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "path": "games/v1/recall/tokens/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ],
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.retrieveTokens",
          "httpMethod": "GET"
        },
        "resetPersona": {
          "flatPath": "games/v1/recall:resetPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "parameterOrder": [],
          "path": "games/v1/recall:resetPersona",
          "parameters": {},
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "httpMethod": "POST",
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "id": "games.recall.resetPersona"
        },
        "gamesPlayerTokens": {
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "parameters": {
            "sessionId": {
              "required": true,
              "location": "path",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "type": "string"
            },
            "applicationIds": {
              "location": "query",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "type": "string",
              "repeated": true
            }
          },
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "sessionId"
          ],
          "id": "games.recall.gamesPlayerTokens",
          "httpMethod": "GET"
        },
        "lastTokenFromAllDeveloperGames": {
          "parameterOrder": [
            "sessionId"
          ],
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "httpMethod": "GET",
          "id": "games.recall.lastTokenFromAllDeveloperGames"
        },
        "unlinkPersona": {
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "httpMethod": "POST",
          "id": "games.recall.unlinkPersona",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "flatPath": "games/v1/recall:unlinkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [],
          "path": "games/v1/recall:unlinkPersona",
          "parameters": {},
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value."
        },
        "linkPersona": {
          "id": "games.recall.linkPersona",
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "httpMethod": "POST",
          "path": "games/v1/recall:linkPersona",
          "parameters": {},
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "flatPath": "games/v1/recall:linkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": []
        }
      }
    },
    "achievements": {
      "methods": {
        "list": {
          "parameters": {
            "playerId": {
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "state": {
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "path": "games/v1/players/{playerId}/achievements",
          "parameterOrder": [
            "playerId"
          ],
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "flatPath": "games/v1/players/{playerId}/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.list",
          "httpMethod": "GET"
        },
        "increment": {
          "id": "games.achievements.increment",
          "httpMethod": "POST",
          "parameters": {
            "requestId": {
              "location": "query",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "type": "string",
              "format": "int64"
            },
            "stepsToIncrement": {
              "description": "Required. The number of steps to increment.",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "required": true
            },
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "required": true
            }
          },
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/increment",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "unlock": {
          "parameterOrder": [
            "achievementId"
          ],
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "required": true
            }
          },
          "description": "Unlocks this achievement for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/unlock",
          "httpMethod": "POST",
          "id": "games.achievements.unlock"
        },
        "updateMultiple": {
          "httpMethod": "POST",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "id": "games.achievements.updateMultiple",
          "flatPath": "games/v1/achievements/updateMultiple",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "parameterOrder": [],
          "path": "games/v1/achievements/updateMultiple",
          "parameters": {},
          "description": "Updates multiple achievements for the currently authenticated player."
        },
        "setStepsAtLeast": {
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "steps": {
              "required": true,
              "location": "query",
              "description": "Required. The minimum value to set the steps to.",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "id": "games.achievements.setStepsAtLeast",
          "httpMethod": "POST"
        },
        "reveal": {
          "id": "games.achievements.reveal",
          "httpMethod": "POST",
          "path": "games/v1/achievements/{achievementId}/reveal",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "parameterOrder": [
            "achievementId"
          ]
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "id": "games.achievementDefinitions.list",
          "httpMethod": "GET",
          "path": "games/v1/achievements",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "description": "Lists all the achievement definitions for your application.",
          "flatPath": "games/v1/achievements",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "games.leaderboards.get",
          "parameterOrder": [
            "leaderboardId"
          ],
          "response": {
            "$ref": "Leaderboard"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "path": "games/v1/leaderboards/{leaderboardId}"
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "flatPath": "games/v1/leaderboards",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Lists all the leaderboard metadata for your application.",
          "path": "games/v1/leaderboards",
          "httpMethod": "GET",
          "id": "games.leaderboards.list"
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "id": "games.revisions.check",
          "httpMethod": "GET",
          "path": "games/v1/revisions/check",
          "parameters": {
            "clientRevision": {
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "description": "Checks whether the games client is out of date.",
          "flatPath": "games/v1/revisions/check",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "parameterOrder": [
            "clientRevision"
          ]
        }
      }
    },
    "metagame": {
      "methods": {
        "listCategoriesByPlayer": {
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "CategoryListResponse"
          },
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "collection": {
              "required": true,
              "location": "path",
              "description": "The collection of categories for which data will be returned.",
              "type": "string",
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "enum": [
                "ALL"
              ]
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32"
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "required": true
            }
          },
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "httpMethod": "GET",
          "id": "games.metagame.listCategoriesByPlayer"
        },
        "getMetagameConfig": {
          "parameterOrder": [],
          "flatPath": "games/v1/metagameConfig",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "MetagameConfig"
          },
          "parameters": {},
          "description": "Return the metagame configuration data for the calling application.",
          "path": "games/v1/metagameConfig",
          "httpMethod": "GET",
          "id": "games.metagame.getMetagameConfig"
        }
      }
    },
    "snapshots": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "games.snapshots.get",
          "parameterOrder": [
            "snapshotId"
          ],
          "response": {
            "$ref": "Snapshot"
          },
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "snapshotId": {
              "location": "path",
              "description": "The ID of the snapshot.",
              "type": "string",
              "required": true
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves the metadata for a given snapshot ID.",
          "path": "games/v1/snapshots/{snapshotId}"
        },
        "list": {
          "id": "games.snapshots.list",
          "httpMethod": "GET",
          "path": "games/v1/players/{playerId}/snapshots",
          "parameters": {
            "playerId": {
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "playerId"
          ]
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "parameters": {
            "packageName": {
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "type": "string",
              "location": "query"
            },
            "persona": {
              "location": "query",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string"
            }
          },
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "httpMethod": "POST"
        },
        "generateRecallPlayGroupingApiToken": {
          "httpMethod": "POST",
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [],
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "parameters": {
            "packageName": {
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "type": "string",
              "location": "query"
            },
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string",
              "location": "query"
            },
            "recallSessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "PlayerLevel": {
      "id": "PlayerLevel",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "level": {
          "description": "The level for the user.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "1P/3P metadata about a user's level.",
      "type": "object"
    },
    "PlayerScore": {
      "description": "A player score.",
      "type": "object",
      "properties": {
        "timeSpan": {
          "description": "The time span for this player score.",
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "score": {
          "description": "The numerical value for this player score.",
          "type": "string",
          "format": "int64"
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "id": "PlayerScore"
    },
    "LeaderboardListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "Leaderboard"
          },
          "description": "The leaderboards.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        }
      },
      "description": "A list of leaderboard objects.",
      "type": "object",
      "id": "LeaderboardListResponse"
    },
    "LinkPersonaRequest": {
      "id": "LinkPersonaRequest",
      "properties": {
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        },
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "cardinalityConstraint": {
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "type": "string",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ]
        },
        "expireTime": {
          "description": "Input only. Optional expiration time.",
          "type": "string",
          "format": "google-datetime"
        },
        "ttl": {
          "description": "Input only. Optional time-to-live.",
          "type": "string",
          "format": "google-duration"
        },
        "conflictingLinksResolutionPolicy": {
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "type": "string",
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ]
        }
      },
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "type": "object"
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "type": "object",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      }
    },
    "SnapshotListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The snapshots.",
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        }
      },
      "description": "A third party list snapshots response.",
      "type": "object",
      "id": "SnapshotListResponse"
    },
    "LeaderboardScores": {
      "description": "A ListScores response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "numScores": {
          "description": "The total number of scores in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "items": {
          "description": "The scores in the leaderboard.",
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          }
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        }
      },
      "id": "LeaderboardScores"
    },
    "UnlinkPersonaResponse": {
      "id": "UnlinkPersonaResponse",
      "description": "Response for the UnlinkPersona RPC",
      "type": "object",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      }
    },
    "PlayerEventListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The player events.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        }
      },
      "description": "A ListByPlayer response.",
      "type": "object",
      "id": "PlayerEventListResponse"
    },
    "PlayerListResponse": {
      "id": "PlayerListResponse",
      "description": "A third party player list response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The players.",
          "type": "array",
          "items": {
            "$ref": "Player"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`.",
          "type": "string"
        }
      }
    },
    "AchievementUpdateResponse": {
      "id": "AchievementUpdateResponse",
      "description": "An updated achievement.",
      "type": "object",
      "properties": {
        "currentState": {
          "description": "The current state of the achievement.",
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "currentSteps": {
          "description": "The current steps recorded for this achievement if it is incremental.",
          "type": "integer",
          "format": "int32"
        },
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        }
      }
    },
    "EventUpdateResponse": {
      "id": "EventUpdateResponse",
      "description": "An event period update resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "playerEvents": {
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The current status of any updated events",
          "type": "array"
        },
        "batchFailures": {
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "description": "Any batch-wide failures which occurred applying updates.",
          "type": "array"
        },
        "eventFailures": {
          "description": "Any failures updating a particular event.",
          "type": "array",
          "items": {
            "$ref": "EventRecordFailure"
          }
        }
      }
    },
    "RecallToken": {
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "type": "object",
      "properties": {
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        },
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        },
        "expireTime": {
          "description": "Optional. Optional expiration time of the token",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "RecallToken"
    },
    "RetrieveGamesPlayerTokensResponse": {
      "id": "RetrieveGamesPlayerTokensResponse",
      "properties": {
        "gamePlayerTokens": {
          "items": {
            "$ref": "GamePlayerToken"
          },
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response.",
          "type": "array"
        }
      },
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "type": "object"
    },
    "GamePlayerToken": {
      "id": "GamePlayerToken",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        }
      },
      "description": "Recall tokens for a game.",
      "type": "object"
    },
    "ApplicationPlayerId": {
      "id": "ApplicationPlayerId",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        }
      },
      "description": "Primary scoped player identifier for an application.",
      "type": "object"
    },
    "PlayerScoreListResponse": {
      "description": "A list of score submission statuses.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "description": "The score submissions statuses.",
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResponse"
          }
        }
      },
      "id": "PlayerScoreListResponse"
    },
    "ResetPersonaResponse": {
      "id": "ResetPersonaResponse",
      "properties": {
        "unlinked": {
          "description": "Required. Whether any tokens were unlinked as a result of this request.",
          "type": "boolean"
        }
      },
      "description": "Response for the ResetPersona RPC",
      "type": "object"
    },
    "EventRecordRequest": {
      "id": "EventRecordRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "requestId": {
          "description": "The request ID used to identify this attempt to record events.",
          "type": "string",
          "format": "int64"
        },
        "currentTimeMillis": {
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        },
        "timePeriods": {
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "description": "A list of the time period updates being made in this request.",
          "type": "array"
        }
      },
      "description": "An event period update resource.",
      "type": "object"
    },
    "PlayerLeaderboardScore": {
      "id": "PlayerLeaderboardScore",
      "properties": {
        "scoreValue": {
          "description": "The numerical value of this score.",
          "type": "string",
          "format": "int64"
        },
        "publicRank": {
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
          "$ref": "LeaderboardScoreRank"
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "writeTimestamp": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string",
          "format": "int64"
        },
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "socialRank": {
          "description": "The social rank of the score in this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "timeSpan": {
          "description": "The time span of this score.",
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        }
      },
      "description": "A player leaderboard score object.",
      "type": "object"
    },
    "AchievementRevealResponse": {
      "id": "AchievementRevealResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ]
        }
      },
      "description": "An achievement reveal response",
      "type": "object"
    },
    "ImageAsset": {
      "id": "ImageAsset",
      "properties": {
        "width": {
          "description": "The width of the asset.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "height": {
          "description": "The height of the asset.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "An image asset object.",
      "type": "object"
    },
    "GamesAchievementSetStepsAtLeast": {
      "description": "The payload to request to increment an achievement.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`.",
          "type": "string"
        },
        "steps": {
          "description": "The minimum number of steps for the achievement to be set to.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GamesAchievementSetStepsAtLeast"
    },
    "Player": {
      "properties": {
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "name": {
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          },
          "description": "A representation of the individual components of the name.",
          "type": "object"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "friendStatus": {
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "type": "string",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        }
      },
      "description": "A Player resource.",
      "type": "object",
      "id": "Player"
    },
    "GamesAchievementIncrement": {
      "id": "GamesAchievementIncrement",
      "description": "The payload to request to increment an achievement.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "requestId": {
          "description": "The requestId associated with an increment to an achievement.",
          "type": "string",
          "format": "int64"
        },
        "steps": {
          "description": "The number of steps to be incremented.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Snapshot": {
      "id": "Snapshot",
      "properties": {
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        },
        "durationMillis": {
          "description": "The duration associated with this snapshot, in millis.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "The type of this snapshot.",
          "type": "string",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "enum": [
            "SAVE_GAME"
          ]
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        },
        "lastModifiedMillis": {
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "type": "string",
          "format": "int64"
        },
        "progressValue": {
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        }
      },
      "description": "An snapshot object.",
      "type": "object"
    },
    "Category": {
      "id": "Category",
      "description": "Data related to individual game categories.",
      "type": "object",
      "properties": {
        "experiencePoints": {
          "description": "Experience points earned in this category.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "category": {
          "description": "The category name.",
          "type": "string"
        }
      }
    },
    "RevisionCheckResponse": {
      "id": "RevisionCheckResponse",
      "properties": {
        "revisionStatus": {
          "description": "The result of the revision check.",
          "type": "string",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        },
        "apiVersion": {
          "description": "The version of the API this client revision should use when calling API methods.",
          "type": "string"
        }
      },
      "description": "A third party checking a revision response.",
      "type": "object"
    },
    "PlayerAchievement": {
      "id": "PlayerAchievement",
      "description": "An achievement object.",
      "type": "object",
      "properties": {
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "description": "The timestamp of the last modification to this achievement's state.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "experiencePoints": {
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps for an incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "achievementState": {
          "description": "The state of the achievement.",
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        }
      }
    },
    "AchievementUpdateRequest": {
      "id": "AchievementUpdateRequest",
      "properties": {
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        },
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement.",
          "$ref": "GamesAchievementIncrement"
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "updateType": {
          "description": "The type of update being applied.",
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ]
        }
      },
      "description": "A request to update an achievement.",
      "type": "object"
    },
    "PlayerEvent": {
      "id": "PlayerEvent",
      "description": "An event status resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`.",
          "type": "string"
        },
        "numEvents": {
          "description": "The current number of times this event has occurred.",
          "type": "string",
          "format": "int64"
        },
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of the event definition.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        }
      }
    },
    "LeaderboardEntry": {
      "properties": {
        "scoreValue": {
          "description": "The numerical value of this score.",
          "type": "string",
          "format": "int64"
        },
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "writeTimestampMillis": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string",
          "format": "int64"
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`.",
          "type": "string"
        },
        "timeSpan": {
          "description": "The time span of this high score.",
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        }
      },
      "description": "The Leaderboard Entry resource.",
      "type": "object",
      "id": "LeaderboardEntry"
    },
    "StatsResponse": {
      "description": "A third party stats resource.",
      "type": "object",
      "properties": {
        "high_spender_probability": {
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "num_purchases": {
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "num_sessions": {
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "spend_percentile": {
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "churn_probability": {
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "days_since_last_played": {
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "num_sessions_percentile": {
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "spend_probability": {
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "avg_session_length_minutes": {
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "total_spend_next_28_days": {
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "StatsResponse"
    },
    "AchievementIncrementResponse": {
      "id": "AchievementIncrementResponse",
      "properties": {
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        }
      },
      "description": "An achievement increment response",
      "type": "object"
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "id": "GetMultipleApplicationPlayerIdsResponse",
      "properties": {
        "playerIds": {
          "items": {
            "$ref": "ApplicationPlayerId"
          },
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "type": "object"
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "type": "object",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "id": "GeneratePlayGroupingApiTokenResponse"
    },
    "PlayerScoreSubmissionList": {
      "description": "A list of score submission requests.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        },
        "scores": {
          "description": "The score submissions.",
          "type": "array",
          "items": {
            "$ref": "ScoreSubmission"
          }
        }
      },
      "id": "PlayerScoreSubmissionList"
    },
    "AchievementDefinitionsListResponse": {
      "description": "A list of achievement definition objects.",
      "type": "object",
      "properties": {
        "items": {
          "description": "The achievement definitions.",
          "type": "array",
          "items": {
            "$ref": "AchievementDefinition"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        }
      },
      "id": "AchievementDefinitionsListResponse"
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "properties": {
        "gamePlayerToken": {
[...]
