{
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "id": "gamesManagement:v1management",
  "discoveryVersion": "v1",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "documentationLink": "https://developers.google.com/games/",
  "version": "v1management",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "resources": {
    "events": {
      "methods": {
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "parameters": {},
          "path": "games/v1management/events/resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console."
        },
        "reset": {
          "path": "games/v1management/events/{eventId}/reset",
          "parameterOrder": [
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.events.reset",
          "parameters": {
            "eventId": {
              "required": true,
              "description": "The ID of the event.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "resetForAllPlayers": {
          "id": "gamesManagement.events.resetForAllPlayers",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "parameterOrder": [
            "eventId"
          ]
        },
        "resetMultipleForAllPlayers": {
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "parameters": {},
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          }
        },
        "resetAll": {
          "id": "gamesManagement.events.resetAll",
          "parameters": {},
          "flatPath": "games/v1management/events/reset",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/events/reset",
          "parameterOrder": []
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "POST",
          "id": "gamesManagement.players.hide",
          "parameters": {
            "playerId": {
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            },
            "applicationId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            }
          }
        },
        "unhide": {
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "DELETE",
          "id": "gamesManagement.players.unhide",
          "parameters": {
            "playerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "applicationId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            }
          },
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console."
        }
      }
    },
    "scores": {
      "methods": {
        "resetAll": {
          "id": "gamesManagement.scores.resetAll",
          "parameters": {},
          "flatPath": "games/v1management/scores/reset",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/scores/reset",
          "parameterOrder": [],
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          }
        },
        "resetMultipleForAllPlayers": {
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "parameters": {},
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset."
        },
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "parameters": {},
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console."
        },
        "reset": {
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesManagement.scores.reset",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "httpMethod": "POST"
        },
        "resetForAllPlayers": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "httpMethod": "GET",
          "id": "gamesManagement.applications.listHidden",
          "parameters": {
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "resetAllForAllPlayers": {
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "parameters": {}
        },
        "reset": {
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.reset",
          "parameters": {
            "achievementId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method."
            }
          },
          "path": "games/v1management/achievements/{achievementId}/reset",
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "response": {
            "$ref": "AchievementResetResponse"
          }
        },
        "resetForAllPlayers": {
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset."
        },
        "resetMultipleForAllPlayers": {
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "parameters": {}
        },
        "resetAll": {
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "path": "games/v1management/achievements/reset",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/achievements/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetAll",
          "parameters": {}
        }
      }
    }
  },
  "revision": "20260813",
  "batchPath": "batch",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "schemas": {
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "description": "1P/3P metadata about the player's experience.",
      "type": "object",
      "properties": {
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        },
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC."
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        }
      }
    },
    "HiddenPlayer": {
      "type": "object",
      "properties": {
        "player": {
          "$ref": "Player",
          "description": "Output only. The player information.",
          "readOnly": true
        },
        "kind": {
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true,
          "type": "string"
        },
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The HiddenPlayer resource.",
      "id": "HiddenPlayer"
    },
    "AchievementResetResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of an achievement for which player state has been updated."
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "
        }
      },
      "id": "AchievementResetResponse",
      "description": "An achievement reset response."
    },
    "PlayerScoreResetAllResponse": {
      "id": "PlayerScoreResetAllResponse",
      "description": "A list of leaderboard reset resources.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "The leaderboard reset results."
        }
      }
    },
    "EventsResetMultipleForAllRequest": {
      "id": "EventsResetMultipleForAllRequest",
      "description": "Multiple events reset all request.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`."
        },
        "event_ids": {
          "description": "The IDs of events to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        },
        "achievement_ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset."
        }
      }
    },
    "GamesPlayerLevelResource": {
      "id": "GamesPlayerLevelResource",
      "description": "1P/3P metadata about a user's level.",
      "type": "object",
      "properties": {
        "level": {
          "format": "int32",
          "type": "integer",
          "description": "The level for the user."
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "minExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The minimum experience points for this level."
        }
      }
    },
    "Player": {
      "id": "Player",
      "description": "A Player resource.",
      "type": "object",
      "properties": {
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "name": {
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object",
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          }
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        }
      }
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "id": "ProfileSettings",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean"
        }
      }
    },
    "PlayerScoreResetResponse": {
      "type": "object",
      "properties": {
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        },
        "resetScoreTimeSpans": {
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        }
      },
      "id": "PlayerScoreResetResponse",
      "description": "A list of reset leaderboard entry resources."
    },
    "ScoresResetMultipleForAllRequest": {
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "leaderboard_ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of leaderboards to reset."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        }
      }
    },
    "AchievementResetAllResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        },
        "results": {
          "description": "The achievement reset results.",
          "type": "array",
          "items": {
            "$ref": "AchievementResetResponse"
          }
        }
      },
      "id": "AchievementResetAllResponse",
      "description": "Achievement reset all response."
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "description": "A list of hidden players.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        },
        "items": {
          "description": "The players.",
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Games Management",
  "ownerDomain": "google.com",
  "title": "Google Play Games Services Management API",
  "kind": "discovery#restDescription",
  "basePath": "",
  "servicePath": "",
  "name": "gamesManagement",
  "ownerName": "Google",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service."
}