{
  "version": "v1management",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/games/",
  "discoveryVersion": "v1",
  "canonicalName": "Games Management",
  "name": "gamesManagement",
  "id": "gamesManagement:v1management",
  "title": "Google Play Games Services Management API",
  "resources": {
    "scores": {
      "methods": {
        "resetAll": {
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "path": "games/v1management/scores/reset",
          "parameterOrder": [],
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/scores/reset",
          "id": "gamesManagement.scores.resetAll"
        },
        "resetForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesManagement.scores.resetForAllPlayers",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "parameters": {},
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers"
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "parameters": {},
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console."
        },
        "reset": {
          "id": "gamesManagement.scores.reset",
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "achievements": {
      "methods": {
        "reset": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "id": "gamesManagement.achievements.reset",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method."
            }
          },
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "path": "games/v1management/achievements/{achievementId}/reset"
        },
        "resetAll": {
          "flatPath": "games/v1management/achievements/reset",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "path": "games/v1management/achievements/reset",
          "parameters": {},
          "id": "gamesManagement.achievements.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": []
        },
        "resetForAllPlayers": {
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the achievement used by this method."
            }
          },
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "httpMethod": "POST"
        },
        "resetAllForAllPlayers": {
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "parameters": {}
        },
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "parameters": {},
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          }
        }
      }
    },
    "players": {
      "methods": {
        "unhide": {
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The application ID from the Google Play developer console."
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "id": "gamesManagement.players.unhide",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ]
        },
        "hide": {
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.players.hide",
          "parameters": {
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path"
            },
            "playerId": {
              "type": "string",
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "POST"
        }
      }
    },
    "events": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "parameterOrder": [],
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "httpMethod": "POST"
        },
        "reset": {
          "id": "gamesManagement.events.reset",
          "path": "games/v1management/events/{eventId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/{eventId}/reset",
          "parameters": {
            "eventId": {
              "required": true,
              "description": "The ID of the event.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "eventId"
          ],
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST"
        },
        "resetAll": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/reset",
          "flatPath": "games/v1management/events/reset",
          "parameterOrder": [],
          "parameters": {},
          "id": "gamesManagement.events.resetAll",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST"
        },
        "resetForAllPlayers": {
          "parameters": {
            "eventId": {
              "required": true,
              "description": "The ID of the event.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "eventId"
          ],
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "id": "gamesManagement.events.resetForAllPlayers"
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/events/resetAllForAllPlayers",
          "parameters": {},
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`."
            },
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "id": "gamesManagement.applications.listHidden",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "httpMethod": "GET",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "EventsResetMultipleForAllRequest": {
      "id": "EventsResetMultipleForAllRequest",
      "type": "object",
      "description": "Multiple events reset all request.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of events to reset."
        }
      }
    },
    "AchievementResetAllResponse": {
      "type": "object",
      "description": "Achievement reset all response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "type": "array",
          "description": "The achievement reset results."
        }
      },
      "id": "AchievementResetAllResponse"
    },
    "ScoresResetMultipleForAllRequest": {
      "properties": {
        "leaderboard_ids": {
          "description": "The IDs of leaderboards to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`."
        }
      },
      "type": "object",
      "id": "ScoresResetMultipleForAllRequest"
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        },
        "achievement_ids": {
          "description": "The IDs of achievements to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PlayerScoreResetAllResponse": {
      "description": "A list of leaderboard reset resources.",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "The leaderboard reset results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."
        }
      },
      "type": "object",
      "id": "PlayerScoreResetAllResponse"
    },
    "AchievementResetResponse": {
      "type": "object",
      "id": "AchievementResetResponse",
      "description": "An achievement reset response.",
      "properties": {
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`."
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        }
      }
    },
    "HiddenPlayer": {
      "properties": {
        "hiddenTimeMillis": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The time this player was hidden.",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "type": "string"
        },
        "player": {
          "readOnly": true,
          "description": "Output only. The player information.",
          "$ref": "Player"
        }
      },
      "type": "object",
      "id": "HiddenPlayer",
      "description": "The HiddenPlayer resource."
    },
    "PlayerScoreResetResponse": {
      "properties": {
        "resetScoreTimeSpans": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. "
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`."
        },
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlayerScoreResetResponse",
      "description": "A list of reset leaderboard entry resources."
    },
    "GamesPlayerExperienceInfoResource": {
      "properties": {
        "nextLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        },
        "currentLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The current level of the player."
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string",
          "format": "int64"
        },
        "currentExperiencePoints": {
          "type": "string",
          "description": "The current number of experience points for the player.",
          "format": "int64"
        }
      },
      "id": "GamesPlayerExperienceInfoResource",
      "description": "1P/3P metadata about the player's experience.",
      "type": "object"
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "properties": {
        "profileVisible": {
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        }
      },
      "description": "Profile settings",
      "type": "object"
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "type": "object",
      "description": "A list of hidden players.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "HiddenPlayer"
          },
          "description": "The players."
        }
      }
    },
    "GamesPlayerLevelResource": {
      "id": "GamesPlayerLevelResource",
      "properties": {
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "level": {
          "format": "int32",
          "description": "The level for the user.",
          "type": "integer"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "1P/3P metadata about a user's level.",
      "type": "object"
    },
    "Player": {
      "type": "object",
      "id": "Player",
      "description": "A Player resource.",
      "properties": {
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        },
        "name": {
          "type": "object",
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "properties": {
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          }
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        }
      }
    }
  },
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "revision": "20260820",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": ""
}