{
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/games/",
  "name": "gamesConfiguration",
  "revision": "20260907",
  "canonicalName": "Games Configuration",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "servicePath": "",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1configuration",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    }
  },
  "ownerName": "Google",
  "id": "gamesConfiguration:v1configuration",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "title": "Google Play Games Services Publishing API",
  "resources": {
    "leaderboardConfigurations": {
      "methods": {
        "update": {
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the leaderboard."
            }
          },
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "httpMethod": "PUT",
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "parameterOrder": [
            "leaderboardId"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "parameterOrder": [
            "leaderboardId"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          },
          "id": "gamesConfiguration.leaderboardConfigurations.get"
        },
        "list": {
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "description": "Returns a list of the leaderboard configurations in this application.",
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "format": "int32"
            }
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.list"
        },
        "insert": {
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "description": "Insert a new leaderboard configuration in this application.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "description": "Delete the leaderboard configuration with the given ID.",
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "DELETE",
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          }
        }
      }
    },
    "achievementConfigurations": {
      "methods": {
        "get": {
          "path": "games/v1configuration/achievements/{achievementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "id": "gamesConfiguration.achievementConfigurations.get",
          "parameterOrder": [
            "achievementId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "id": "gamesConfiguration.achievementConfigurations.update",
          "path": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "achievementId"
          ]
        },
        "list": {
          "description": "Returns a list of the achievement configurations in this application.",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "id": "gamesConfiguration.achievementConfigurations.list",
          "path": "games/v1configuration/applications/{applicationId}/achievements"
        },
        "insert": {
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "description": "Insert a new achievement configuration in this application.",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "httpMethod": "POST",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "delete": {
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "description": "Delete the achievement configuration with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ],
          "httpMethod": "DELETE",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "schemas": {
    "GamesNumberFormatConfiguration": {
      "type": "object",
      "description": "A number format resource.",
      "properties": {
        "numDecimalPlaces": {
          "type": "integer",
          "format": "int32",
          "description": "The number of decimal places for number. Only used for NUMERIC format type."
        },
        "numberFormatType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ],
          "description": "The formatting for the number.",
          "type": "string"
        },
        "suffix": {
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources.",
          "$ref": "GamesNumberAffixConfiguration"
        },
        "currencyCode": {
          "description": "The curreny code string. Only used for CURRENCY format type.",
          "type": "string"
        }
      },
      "id": "GamesNumberFormatConfiguration"
    },
    "LeaderboardConfigurationListResponse": {
      "description": "A ListConfigurations response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "LeaderboardConfiguration"
          },
          "description": "The leaderboard configurations.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`."
        }
      },
      "id": "LeaderboardConfigurationListResponse"
    },
    "GamesNumberAffixConfiguration": {
      "description": "A number affix resource.",
      "properties": {
        "other": {
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).",
          "$ref": "LocalizedStringBundle"
        },
        "few": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish)."
        },
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        },
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        }
      },
      "type": "object",
      "id": "GamesNumberAffixConfiguration"
    },
    "LocalizedString": {
      "properties": {
        "locale": {
          "description": "The locale string.",
          "type": "string"
        },
        "value": {
          "description": "The string value.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LocalizedString",
      "description": "A localized string resource."
    },
    "LeaderboardConfigurationDetail": {
      "description": "A leaderboard configuration detail.",
      "id": "LeaderboardConfigurationDetail",
      "type": "object",
      "properties": {
        "iconUrl": {
          "description": "The icon url of this leaderboard. Writes to this field are ignored.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`.",
          "type": "string"
        },
        "sortRank": {
          "type": "integer",
          "description": "The sort rank of this leaderboard. Writes to this field are ignored.",
          "format": "int32"
        },
        "name": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the leaderboard name."
        },
        "scoreFormat": {
          "description": "The score formatting for the leaderboard.",
          "$ref": "GamesNumberFormatConfiguration"
        }
      }
    },
    "AchievementConfigurationDetail": {
      "description": "An achievement configuration detail.",
      "type": "object",
      "properties": {
        "description": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the achievement description."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`."
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this achievement. Writes to this field are ignored."
        },
        "pointValue": {
          "type": "integer",
          "format": "int32",
          "description": "Point value for the achievement."
        },
        "sortRank": {
          "type": "integer",
          "description": "The sort rank of this achievement. Writes to this field are ignored.",
          "format": "int32"
        },
        "name": {
          "description": "Localized strings for the achievement name.",
          "$ref": "LocalizedStringBundle"
        }
      },
      "id": "AchievementConfigurationDetail"
    },
    "AchievementConfigurationListResponse": {
      "id": "AchievementConfigurationListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "AchievementConfiguration"
          },
          "type": "array",
          "description": "The achievement configurations."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`."
        }
      },
      "type": "object",
      "description": "A ListConfigurations response."
    },
    "LocalizedStringBundle": {
      "description": "A localized string bundle resource.",
      "properties": {
        "translations": {
          "items": {
            "$ref": "LocalizedString"
          },
          "type": "array",
          "description": "The locale strings."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`."
        }
      },
      "id": "LocalizedStringBundle",
      "type": "object"
    },
    "AchievementConfiguration": {
      "type": "object",
      "id": "AchievementConfiguration",
      "properties": {
        "published": {
          "$ref": "AchievementConfigurationDetail",
          "description": "The read-only published data of the achievement."
        },
        "initialState": {
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "description": "The initial state of the achievement."
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "achievementType": {
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "The token for this resource."
        },
        "stepsToUnlock": {
          "type": "integer",
          "format": "int32",
          "description": "Steps to unlock. Only applicable to incremental achievements."
        },
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
          "type": "string"
        }
      },
      "description": "An achievement configuration resource."
    },
    "LeaderboardConfiguration": {
      "id": "LeaderboardConfiguration",
      "type": "object",
      "properties": {
        "scoreMax": {
          "type": "string",
          "format": "int64",
          "description": "Maximum score that can be posted to this leaderboard."
        },
        "scoreOrder": {
          "type": "string",
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ]
        },
        "token": {
          "type": "string",
          "description": "The token for this resource."
        },
        "published": {
          "description": "The read-only published data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`."
        },
        "id": {
          "description": "The ID of the leaderboard.",
          "type": "string"
        },
        "scoreMin": {
          "type": "string",
          "description": "Minimum score that can be posted to this leaderboard.",
          "format": "int64"
        },
        "draft": {
          "$ref": "LeaderboardConfigurationDetail",
          "description": "The draft data of the leaderboard."
        }
      },
      "description": "An leaderboard configuration resource."
    }
  }
}