{
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "baseUrl": "https://games.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "name": "games",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/games/",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "ownerName": "Google",
  "version": "v1",
  "title": "Google Play Games Services API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "rootUrl": "https://games.googleapis.com/",
  "id": "games:v1",
  "canonicalName": "Games",
  "ownerDomain": "google.com",
  "schemas": {
    "PlayerExperienceInfo": {
      "type": "object",
      "id": "PlayerExperienceInfo",
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`."
        },
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC."
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        },
        "currentExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The current number of experience points for the player."
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        }
      }
    },
    "RevisionCheckResponse": {
      "description": "A third party checking a revision response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`.",
          "type": "string"
        },
        "apiVersion": {
          "description": "The version of the API this client revision should use when calling API methods.",
          "type": "string"
        },
        "revisionStatus": {
          "type": "string",
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "description": "The result of the revision check.",
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ]
        }
      },
      "type": "object",
      "id": "RevisionCheckResponse"
    },
    "RetrievePlayerTokensResponse": {
      "type": "object",
      "id": "RetrievePlayerTokensResponse",
      "description": "Response for the RetrievePlayerTokens RPC",
      "properties": {
        "tokens": {
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "type": "array",
          "items": {
            "$ref": "RecallToken"
          }
        }
      }
    },
    "AchievementUpdateRequest": {
      "id": "AchievementUpdateRequest",
      "type": "object",
      "description": "A request to update an achievement.",
      "properties": {
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`."
        },
        "updateType": {
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "type": "string",
          "description": "The type of update being applied.",
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ]
        },
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement.",
          "$ref": "GamesAchievementIncrement"
        }
      }
    },
    "AchievementRevealResponse": {
      "description": "An achievement reveal response",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`.",
          "type": "string"
        },
        "currentState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ]
        }
      },
      "id": "AchievementRevealResponse",
      "type": "object"
    },
    "InstanceIosDetails": {
      "type": "object",
      "id": "InstanceIosDetails",
      "description": "The iOS details resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`."
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "bundleIdentifier": {
          "type": "string",
          "description": "Bundle identifier."
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "supportIpad": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPad."
        },
        "preferredForIphone": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPhone devices."
        }
      }
    },
    "PlayGroupingApiToken": {
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "properties": {
        "tokenValue": {
          "description": "Value of the token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlayGroupingApiToken"
    },
    "AchievementUpdateResponse": {
      "description": "An updated achievement.",
      "properties": {
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is was applied to."
        },
        "currentState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement.",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps recorded for this achievement if it is incremental.",
          "type": "integer",
          "format": "int32"
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player)."
        }
      },
      "type": "object",
      "id": "AchievementUpdateResponse"
    },
    "EventChild": {
      "description": "An event child relationship resource.",
      "properties": {
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventChild"
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "properties": {
        "playerIds": {
          "type": "array",
          "items": {
            "$ref": "ApplicationPlayerId"
          },
          "readOnly": true,
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response."
        }
      },
      "id": "GetMultipleApplicationPlayerIdsResponse",
      "type": "object"
    },
    "GamesAchievementIncrement": {
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "steps": {
          "type": "integer",
          "format": "int32",
          "description": "The number of steps to be incremented."
        },
        "requestId": {
          "type": "string",
          "format": "int64",
          "description": "The requestId associated with an increment to an achievement."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`."
        }
      },
      "type": "object",
      "id": "GamesAchievementIncrement"
    },
    "ScoreSubmission": {
      "description": "A request to submit a score to leaderboards.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`.",
          "type": "string"
        },
        "score": {
          "description": "The new score being submitted.",
          "format": "int64",
          "type": "string"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard this score is being submitted to."
        },
        "signature": {
          "type": "string",
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986."
        }
      },
      "type": "object",
      "id": "ScoreSubmission"
    },
    "ApplicationVerifyResponse": {
      "description": "A third party application verification response resource.",
      "properties": {
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`."
        },
        "alternate_player_id": {
          "type": "string",
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)"
        }
      },
      "id": "ApplicationVerifyResponse",
      "type": "object"
    },
    "EventRecordFailure": {
      "id": "EventRecordFailure",
      "type": "object",
      "description": "An event update failure resource.",
      "properties": {
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`."
        },
        "failureCause": {
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "type": "string",
          "description": "The cause for the update failure.",
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ]
        }
      }
    },
    "PlayerScoreResponse": {
      "id": "PlayerScoreResponse",
      "type": "object",
      "description": "A list of leaderboard entry resources.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`."
        },
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "beatenScoreTimeSpans": {
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "type": "array",
          "items": {
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "type": "string",
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ]
          }
        },
        "unbeatenScores": {
          "type": "array",
          "items": {
            "$ref": "PlayerScore"
          },
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        }
      }
    },
    "PlayerAchievementListResponse": {
      "id": "PlayerAchievementListResponse",
      "type": "object",
      "description": "A list of achievement objects.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlayerAchievement"
          },
          "description": "The achievements."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "Leaderboard": {
      "description": "The Leaderboard resource.",
      "properties": {
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon for the leaderboard."
        },
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of the leaderboard."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        },
        "order": {
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "type": "string",
          "description": "How scores are ordered.",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        }
      },
      "id": "Leaderboard",
      "type": "object"
    },
    "CategoryListResponse": {
      "description": "A third party list metagame categories response.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories with usage data."
        }
      },
      "id": "CategoryListResponse",
      "type": "object"
    },
    "Player": {
      "id": "Player",
      "type": "object",
      "description": "A Player resource.",
      "properties": {
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "friendStatus": {
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "type": "string",
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ]
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "gamePlayerId": {
          "type": "string",
          "description": "Per-application unique player identifier."
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "experienceInfo": {
          "$ref": "PlayerExperienceInfo",
          "description": "An object to represent Play Game experience information for the player."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "name": {
          "type": "object",
          "description": "A representation of the individual components of the name.",
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            },
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            }
          }
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "type": "object",
      "description": "A list of player leaderboard scores.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        },
        "player": {
          "$ref": "Player",
          "description": "The Player resources for the owner of this score."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          },
          "description": "The leaderboard scores."
        }
      }
    },
    "LinkPersonaResponse": {
      "type": "object",
      "id": "LinkPersonaResponse",
      "description": "Outcome of a persona linking attempt.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "readOnly": true,
          "description": "Output only. State of a persona linking attempt."
        }
      }
    },
    "ApplicationCategory": {
      "id": "ApplicationCategory",
      "type": "object",
      "description": "An application category object.",
      "properties": {
        "primary": {
          "type": "string",
          "description": "The primary category."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`."
        },
        "secondary": {
          "description": "The secondary category.",
          "type": "string"
        }
      }
    },
    "EventUpdateRequest": {
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event being modified in this update."
        },
        "updateCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of times this event occurred in this time period."
        }
      },
      "id": "EventUpdateRequest",
      "type": "object"
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "id": "GeneratePlayGroupingApiTokenResponse",
      "type": "object",
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "$ref": "PlayGroupingApiToken",
          "description": "Token for accessing the Play Grouping API."
        }
      }
    },
    "AchievementUnlockResponse": {
      "description": "An achievement unlock response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`."
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AchievementUnlockResponse"
    },
    "Category": {
      "id": "Category",
      "type": "object",
      "description": "Data related to individual game categories.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "category": {
          "description": "The category name.",
          "type": "string"
        },
        "experiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "Experience points earned in this category."
        }
      }
    },
    "UnlinkPersonaRequest": {
      "type": "object",
      "id": "UnlinkPersonaRequest",
      "description": "Request to remove a Recall token linking PGS principal and an in-game account",
      "properties": {
        "token": {
          "type": "string",
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC"
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "persona": {
          "type": "string",
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC"
        }
      }
    },
    "ResetPersonaResponse": {
      "description": "Response for the ResetPersona RPC",
      "properties": {
        "unlinked": {
          "description": "Required. Whether any tokens were unlinked as a result of this request.",
          "type": "boolean"
        }
      },
      "id": "ResetPersonaResponse",
      "type": "object"
    },
    "MetagameConfig": {
      "description": "The metagame config resource",
      "properties": {
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "type": "integer",
          "format": "int32"
        },
        "playerLevels": {
          "type": "array",
          "items": {
            "$ref": "PlayerLevel"
          },
          "description": "The list of player levels."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`."
        }
      },
      "type": "object",
      "id": "MetagameConfig"
    },
    "PlayerScoreSubmissionList": {
      "description": "A list of score submission requests.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        },
        "scores": {
          "description": "The score submissions.",
          "type": "array",
          "items": {
            "$ref": "ScoreSubmission"
          }
        }
      },
      "id": "PlayerScoreSubmissionList",
      "type": "object"
    },
    "LeaderboardScores": {
      "description": "A ListScores response.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          },
          "description": "The scores in the leaderboard."
        },
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`."
        },
        "numScores": {
          "type": "string",
          "format": "int64",
          "description": "The total number of scores in the leaderboard."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        }
      },
      "type": "object",
      "id": "LeaderboardScores"
    },
    "RetrieveGamesPlayerTokensResponse": {
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "properties": {
        "gamePlayerTokens": {
          "type": "array",
          "items": {
            "$ref": "GamePlayerToken"
          },
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response."
        }
      },
      "id": "RetrieveGamesPlayerTokensResponse",
      "type": "object"
    },
    "AchievementUpdateMultipleRequest": {
      "description": "A list of achievement update requests.",
      "properties": {
        "updates": {
          "description": "The individual achievement update requests.",
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateRequest"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        }
      },
      "id": "AchievementUpdateMultipleRequest",
      "type": "object"
    },
    "AchievementDefinitionsListResponse": {
      "type": "object",
      "id": "AchievementDefinitionsListResponse",
      "description": "A list of achievement definition objects.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "AchievementDefinition"
          },
          "description": "The achievement definitions."
        }
      }
    },
    "ImageAsset": {
      "type": "object",
      "id": "ImageAsset",
      "description": "An image asset object.",
      "properties": {
        "width": {
          "description": "The width of the asset.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the asset."
        },
        "url": {
          "type": "string",
          "description": "The URL of the asset."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the asset."
        }
      }
    },
    "EndPoint": {
      "type": "object",
      "id": "EndPoint",
      "description": "Container for a URL end point of the requested type.",
      "properties": {
        "url": {
          "description": "A URL suitable for loading in a web browser for the requested endpoint.",
          "type": "string"
        }
      }
    },
    "PlayerLeaderboardScore": {
      "id": "PlayerLeaderboardScore",
      "type": "object",
      "description": "A player leaderboard score object.",
      "properties": {
        "scoreString": {
          "type": "string",
          "description": "The formatted value of this score."
        },
        "writeTimestamp": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreValue": {
          "format": "int64",
          "type": "string",
          "description": "The numerical value of this score."
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string",
          "description": "The time span of this score.",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "socialRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The social rank of the score in this leaderboard."
        },
        "publicRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly."
        },
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        }
      }
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "type": "object",
      "description": "Profile settings",
      "properties": {
        "profileVisible": {
          "type": "boolean",
          "description": "Whether the player's profile is visible to the currently signed in player."
        },
        "friendsListVisibility": {
          "type": "string",
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`."
        }
      }
    },
    "UnlinkPersonaResponse": {
      "description": "Response for the UnlinkPersona RPC",
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request."
        }
      },
      "type": "object",
      "id": "UnlinkPersonaResponse"
    },
    "LeaderboardListResponse": {
      "description": "A list of leaderboard objects.",
      "properties": {
        "items": {
          "description": "The leaderboards.",
          "type": "array",
          "items": {
            "$ref": "Leaderboard"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      },
      "type": "object",
      "id": "LeaderboardListResponse"
    },
    "ResetPersonaRequest": {
      "type": "object",
      "id": "ResetPersonaRequest",
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "properties": {
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      }
    },
    "StatsResponse": {
      "description": "A third party stats resource.",
      "properties": {
        "avg_session_length_minutes": {
          "format": "float",
          "type": "number",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "num_purchases": {
          "format": "int32",
          "type": "integer",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "days_since_last_played": {
          "type": "integer",
          "format": "int32",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "total_spend_next_28_days": {
          "format": "float",
          "type": "number",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "churn_probability": {
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "high_spender_probability": {
          "type": "number",
          "format": "float",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information."
        },
        "spend_percentile": {
          "format": "float",
          "type": "number",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`."
        },
        "num_sessions": {
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        },
        "num_sessions_percentile": {
          "format": "float",
          "type": "number",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        },
        "spend_probability": {
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "StatsResponse"
    },
    "PlayerEventListResponse": {
      "description": "A ListByPlayer response.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The player events."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "PlayerEventListResponse",
      "type": "object"
    },
    "GamePlayerToken": {
      "description": "Recall tokens for a game.",
      "properties": {
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        },
        "applicationId": {
          "type": "string",
          "description": "The application that this player identifier is for."
        }
      },
      "id": "GamePlayerToken",
      "type": "object"
    },
    "ApplicationPlayerId": {
      "description": "Primary scoped player identifier for an application.",
      "properties": {
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        },
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ApplicationPlayerId"
    },
    "EventDefinitionListResponse": {
      "description": "A ListDefinitions response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The event definitions.",
          "type": "array",
          "items": {
            "$ref": "EventDefinition"
          }
        }
      },
      "id": "EventDefinitionListResponse",
      "type": "object"
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC",
      "properties": {
        "gamePlayerToken": {
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal.",
          "$ref": "GamePlayerToken"
        }
      },
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse",
      "type": "object"
    },
    "PlayerScore": {
      "id": "PlayerScore",
      "type": "object",
      "description": "A player score.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "score": {
          "description": "The numerical value for this player score.",
          "format": "int64",
          "type": "string"
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string",
          "description": "The time span for this player score.",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        }
      }
    },
    "ScopedPlayerIds": {
      "description": "Scoped player identifiers.",
      "properties": {
        "developerPlayerKey": {
          "type": "string",
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged."
        },
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        }
      },
      "id": "ScopedPlayerIds",
      "type": "object"
    },
    "PlayerAchievement": {
      "description": "An achievement object.",
      "properties": {
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "formattedCurrentStepsString": {
          "type": "string",
          "description": "The current steps for an incremental achievement as a string."
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp of the last modification to this achievement's state."
        },
        "experiencePoints": {
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps for an incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "achievementState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "description": "The state of the achievement.",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        }
      },
      "type": "object",
      "id": "PlayerAchievement"
    },
    "InstanceWebDetails": {
      "type": "object",
      "id": "InstanceWebDetails",
      "description": "The Web details resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "launchUrl": {
          "description": "Launch URL for the game.",
          "type": "string"
        }
      }
    },
    "PlayerEvent": {
      "id": "PlayerEvent",
      "type": "object",
      "description": "An event status resource.",
      "properties": {
        "definitionId": {
          "type": "string",
          "description": "The ID of the event definition."
        },
        "numEvents": {
          "description": "The current number of times this event has occurred.",
          "format": "int64",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`."
        },
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        }
      }
    },
    "EventRecordRequest": {
      "id": "EventRecordRequest",
      "type": "object",
      "description": "An event period update resource.",
      "properties": {
        "currentTimeMillis": {
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "format": "int64",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "format": "int64",
          "description": "The request ID used to identify this attempt to record events."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "timePeriods": {
          "description": "A list of the time period updates being made in this request.",
          "type": "array",
          "items": {
            "$ref": "EventPeriodUpdate"
          }
        }
      }
    },
    "EventPeriodRange": {
      "description": "An event period time range.",
      "properties": {
        "periodStartMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch)."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`."
        },
        "periodEndMillis": {
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "EventPeriodRange"
    },
    "AchievementUpdateMultipleResponse": {
      "id": "AchievementUpdateMultipleResponse",
      "type": "object",
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`."
        },
        "updatedAchievements": {
          "description": "The updated state of the achievements.",
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateResponse"
          }
        }
      }
    },
    "AchievementIncrementResponse": {
      "type": "object",
      "id": "AchievementIncrementResponse",
      "description": "An achievement increment response",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LeaderboardEntry": {
      "description": "The Leaderboard Entry resource.",
      "properties": {
        "scoreValue": {
          "type": "string",
          "format": "int64",
          "description": "The numerical value of this score."
        },
        "timeSpan": {
          "description": "The time span of this high score.",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`."
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "writeTimestampMillis": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        }
      },
      "id": "LeaderboardEntry",
      "type": "object"
    },
    "SnapshotImage": {
      "type": "object",
      "id": "SnapshotImage",
      "description": "An image of a snapshot.",
      "properties": {
        "width": {
          "description": "The width of the image.",
          "format": "int32",
          "type": "integer"
        },
        "mime_type": {
          "type": "string",
          "description": "The MIME type of the image."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`."
        },
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        },
        "height": {
          "description": "The height of the image.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "InstanceAndroidDetails": {
      "type": "object",
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource.",
      "properties": {
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        },
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        }
      }
    },
    "LeaderboardScoreRank": {
      "id": "LeaderboardScoreRank",
      "type": "object",
      "description": "A score rank in a leaderboard.",
      "properties": {
        "rank": {
          "description": "The rank in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "formattedNumScores": {
          "type": "string",
          "description": "The number of scores in the leaderboard as a string."
        },
        "formattedRank": {
          "type": "string",
          "description": "The rank in the leaderboard as a string."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`."
        },
        "numScores": {
          "format": "int64",
          "type": "string",
          "description": "The number of scores in the leaderboard."
        }
      }
    },
    "PlayerLevel": {
      "type": "object",
      "id": "PlayerLevel",
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`."
        },
        "level": {
          "format": "int32",
          "type": "integer",
          "description": "The level for the user."
        },
        "minExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The minimum experience points for this level."
        }
      }
    },
    "SnapshotListResponse": {
      "type": "object",
      "id": "SnapshotListResponse",
      "description": "A third party list snapshots response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`."
        },
        "items": {
          "description": "The snapshots.",
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          }
        }
      }
    },
    "Application": {
      "description": "The Application resource.",
      "properties": {
        "leaderboard_count": {
          "format": "int32",
          "type": "integer",
          "description": "The number of leaderboards visible to the currently authenticated player."
        },
        "lastUpdatedTimestamp": {
          "description": "The last updated timestamp of the application.",
          "type": "string",
          "format": "int64"
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances of the application."
        },
        "author": {
          "type": "string",
          "description": "The author of the application."
        },
        "enabledFeatures": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "type": "string",
            "enum": [
              "SNAPSHOTS"
            ]
          },
          "description": "A list of features that have been enabled for the application."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`."
        },
        "name": {
          "description": "The name of the application.",
          "type": "string"
        },
        "assets": {
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The assets of the application."
        },
        "id": {
          "type": "string",
          "description": "The ID of the application."
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "achievement_count": {
          "description": "The number of achievements visible to the currently authenticated player.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Application"
    },
    "PlayerListResponse": {
      "description": "A third party player list response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Player"
          },
          "description": "The players."
        }
      },
      "id": "PlayerListResponse",
      "type": "object"
    },
    "Snapshot": {
      "id": "Snapshot",
      "type": "object",
      "description": "An snapshot object.",
      "properties": {
        "driveId": {
          "type": "string",
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller."
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "type": {
          "description": "The type of this snapshot.",
          "enum": [
            "SAVE_GAME"
          ],
          "type": "string",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ]
        },
        "progressValue": {
          "type": "string",
          "format": "int64",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot."
        },
        "durationMillis": {
          "description": "The duration associated with this snapshot, in millis.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this snapshot."
        },
        "lastModifiedMillis": {
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "type": "string",
          "format": "int64"
        },
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        },
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        }
      }
    },
    "GamesAchievementSetStepsAtLeast": {
      "id": "GamesAchievementSetStepsAtLeast",
      "type": "object",
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`."
        },
        "steps": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of steps for the achievement to be set to."
        }
      }
    },
    "RecallToken": {
      "type": "object",
      "id": "RecallToken",
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "properties": {
        "token": {
          "type": "string",
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Optional expiration time of the token"
        },
        "multiPlayerPersona": {
          "type": "boolean",
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players"
        }
      }
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      },
      "type": "object",
      "id": "GenerateRecallPlayGroupingApiTokenResponse"
    },
    "EventDefinition": {
      "id": "EventDefinition",
      "type": "object",
      "description": "An event definition resource.",
      "properties": {
        "isDefaultImageUrl": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "description": {
          "type": "string",
          "description": "Description of what this event represents."
        },
        "imageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the event."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`."
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "childEvents": {
          "description": "A list of events that are a child of this event.",
          "type": "array",
          "items": {
            "$ref": "EventChild"
          }
        },
        "visibility": {
          "description": "The visibility of event being tracked in this definition.",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        }
      }
    },
    "EventUpdateResponse": {
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "eventFailures": {
          "type": "array",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "description": "Any failures updating a particular event."
        },
        "playerEvents": {
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The current status of any updated events"
        },
        "batchFailures": {
          "type": "array",
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "description": "Any batch-wide failures which occurred applying updates."
        }
      },
      "type": "object",
      "id": "EventUpdateResponse"
    },
    "EventBatchRecordFailure": {
      "description": "A batch update failure resource.",
      "properties": {
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        },
        "failureCause": {
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ],
          "type": "string",
          "description": "The cause for the update failure.",
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`."
        }
      },
      "type": "object",
      "id": "EventBatchRecordFailure"
    },
    "Instance": {
      "id": "Instance",
      "type": "object",
      "description": "The Instance resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`."
        },
        "name": {
          "type": "string",
          "description": "Localized display name."
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "turnBasedPlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports turn based play."
        },
        "androidInstance": {
          "description": "Platform dependent details for Android.",
          "$ref": "InstanceAndroidDetails"
        },
        "acquisitionUri": {
          "description": "URI which shows where a user can acquire this instance.",
          "type": "string"
        },
        "platformType": {
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "type": "string",
          "description": "The platform type.",
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ]
        },
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        }
      }
    },
    "EventPeriodUpdate": {
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        },
        "timePeriod": {
          "$ref": "EventPeriodRange",
          "description": "The time period being covered by this update."
        },
        "updates": {
          "type": "array",
          "items": {
            "$ref": "EventUpdateRequest"
          },
          "description": "The updates being made for this time period."
        }
      },
      "id": "EventPeriodUpdate",
      "type": "object"
    },
    "PlayerScoreListResponse": {
      "id": "PlayerScoreListResponse",
      "type": "object",
      "description": "A list of score submission statuses.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`."
        },
        "submittedScores": {
          "description": "The score submissions statuses.",
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResponse"
          }
        }
      }
    },
    "LinkPersonaRequest": {
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "properties": {
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Input only. Optional expiration time."
        },
        "cardinalityConstraint": {
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "type": "string",
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ]
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "conflictingLinksResolutionPolicy": {
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "type": "string",
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ]
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. Optional time-to-live."
        },
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LinkPersonaRequest"
    },
    "AchievementDefinition": {
      "id": "AchievementDefinition",
      "type": "object",
      "description": "An achievement definition object.",
      "properties": {
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "achievementType": {
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "type": "string",
          "description": "The type of the achievement.",
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ]
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "initialState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "description": "The initial state of the achievement.",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "revealedIconUrl": {
          "description": "The image URL for the revealed achievement icon.",
          "type": "string"
        },
        "totalSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The total steps for an incremental achievement."
        },
        "experiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "Experience points which will be earned when unlocking this achievement."
        },
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        },
        "isUnlockedIconUrlDefault": {
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "achievementLifecycleState": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "type": "string",
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ],
          "description": "Output only. The lifecycle state of the achievement.",
          "readOnly": true
        }
      }
    },
    "AchievementSetStepsAtLeastResponse": {
      "id": "AchievementSetStepsAtLeastResponse",
      "type": "object",
      "description": "An achievement set steps at least response.",
      "properties": {
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
        },
        "currentSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement."
        }
      }
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "revision": "20260723",
  "servicePath": "",
  "resources": {
    "leaderboards": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Leaderboard"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "httpMethod": "GET",
          "id": "games.leaderboards.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "leaderboardId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the leaderboard."
            }
          },
          "description": "Retrieves the metadata of the leaderboard with the given ID."
        },
        "list": {
          "flatPath": "games/v1/leaderboards",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "id": "games.leaderboards.list",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists all the leaderboard metadata for your application.",
          "path": "games/v1/leaderboards",
          "parameterOrder": [],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "reveal": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/achievements/{achievementId}/reveal",
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "httpMethod": "POST",
          "id": "games.achievements.reveal"
        },
        "updateMultiple": {
          "flatPath": "games/v1/achievements/updateMultiple",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "id": "games.achievements.updateMultiple",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Updates multiple achievements for the currently authenticated player.",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "parameters": {},
          "path": "games/v1/achievements/updateMultiple",
          "parameterOrder": []
        },
        "list": {
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "parameters": {
            "state": {
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "location": "query",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "type": "string"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "games/v1/players/{playerId}/achievements",
          "parameterOrder": [
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.list",
          "flatPath": "games/v1/players/{playerId}/achievements",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          }
        },
        "unlock": {
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "id": "games.achievements.unlock",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Unlocks this achievement for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/unlock",
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          }
        },
        "increment": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/increment",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "parameters": {
            "achievementId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method."
            },
            "stepsToIncrement": {
              "location": "query",
              "description": "Required. The number of steps to increment.",
              "type": "integer",
              "required": true,
              "format": "int32"
            },
            "requestId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries."
            }
          },
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "id": "games.achievements.increment"
        },
        "setStepsAtLeast": {
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "id": "games.achievements.setStepsAtLeast",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "parameters": {
            "steps": {
              "location": "query",
              "description": "Required. The minimum value to set the steps to.",
              "required": true,
              "format": "int32",
              "type": "integer"
            },
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "recall": {
      "methods": {
        "resetPersona": {
          "path": "games/v1/recall:resetPersona",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.resetPersona",
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "flatPath": "games/v1/recall:resetPersona",
          "httpMethod": "POST"
        },
        "lastTokenFromAllDeveloperGames": {
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "parameters": {
            "sessionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
            }
          },
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          }
        },
        "linkPersona": {
          "id": "games.recall.linkPersona",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "flatPath": "games/v1/recall:linkPersona",
          "httpMethod": "POST",
          "path": "games/v1/recall:linkPersona",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "retrieveTokens": {
          "id": "games.recall.retrieveTokens",
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "games/v1/recall/tokens/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "gamesPlayerTokens": {
          "id": "games.recall.gamesPlayerTokens",
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "parameters": {
            "applicationIds": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for."
            },
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "unlinkPersona": {
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "flatPath": "games/v1/recall:unlinkPersona",
          "httpMethod": "POST",
          "id": "games.recall.unlinkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1/recall:unlinkPersona",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value."
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "path": "games/v1/stats",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.stats.get",
          "flatPath": "games/v1/stats",
          "httpMethod": "GET",
[...]
