{
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Games",
  "rootUrl": "https://games.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1",
  "id": "games:v1",
  "title": "Google Play Games Services API",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/games/",
  "schemas": {
    "ScopedPlayerIds": {
      "id": "ScopedPlayerIds",
      "type": "object",
      "description": "Scoped player identifiers.",
      "properties": {
        "gamePlayerId": {
          "type": "string",
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field."
        },
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        }
      }
    },
    "PlayerAchievement": {
      "description": "An achievement object.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "description": "The timestamp of the last modification to this achievement's state.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "currentSteps": {
          "description": "The current steps for an incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "formattedCurrentStepsString": {
          "type": "string",
          "description": "The current steps for an incremental achievement as a string."
        },
        "achievementState": {
          "type": "string",
          "description": "The state of the achievement.",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "experiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished."
        }
      },
      "type": "object",
      "id": "PlayerAchievement"
    },
    "LeaderboardListResponse": {
      "description": "A list of leaderboard objects.",
      "properties": {
        "items": {
          "description": "The leaderboards.",
          "type": "array",
          "items": {
            "$ref": "Leaderboard"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LeaderboardListResponse"
    },
    "ApplicationVerifyResponse": {
      "type": "object",
      "description": "A third party application verification response resource.",
      "properties": {
        "player_id": {
          "description": "The ID of the player that was issued the auth token used in this request.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        }
      },
      "id": "ApplicationVerifyResponse"
    },
    "SnapshotImage": {
      "id": "SnapshotImage",
      "description": "An image of a snapshot.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        },
        "height": {
          "description": "The height of the image.",
          "type": "integer",
          "format": "int32"
        },
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        },
        "width": {
          "type": "integer",
          "description": "The width of the image.",
          "format": "int32"
        },
        "url": {
          "type": "string",
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached."
        }
      },
      "type": "object"
    },
    "GetMultipleApplicationPlayerIdsResponse": {
      "id": "GetMultipleApplicationPlayerIdsResponse",
      "type": "object",
      "description": "Response message for GetMultipleApplicationPlayerIds rpc.",
      "properties": {
        "playerIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ApplicationPlayerId"
          },
          "description": "Output only. The requested applications along with the scoped ids for tha player, if that player has an id for the application. If not, the application is not included in the response."
        }
      }
    },
    "PlayerLevel": {
      "id": "PlayerLevel",
      "type": "object",
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`."
        },
        "level": {
          "description": "The level for the user.",
          "type": "integer",
          "format": "int32"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AchievementUpdateMultipleRequest": {
      "type": "object",
      "description": "A list of achievement update requests.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        },
        "updates": {
          "description": "The individual achievement update requests.",
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateRequest"
          }
        }
      },
      "id": "AchievementUpdateMultipleRequest"
    },
    "AchievementUpdateMultipleResponse": {
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`."
        },
        "updatedAchievements": {
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "description": "The updated state of the achievements."
        }
      },
      "type": "object",
      "id": "AchievementUpdateMultipleResponse"
    },
    "PlayerLeaderboardScore": {
      "id": "PlayerLeaderboardScore",
      "description": "A player leaderboard score object.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "socialRank": {
          "description": "The social rank of the score in this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreValue": {
          "format": "int64",
          "type": "string",
          "description": "The numerical value of this score."
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "writeTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
        },
        "timeSpan": {
          "description": "The time span of this score.",
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        },
        "friendsRank": {
          "description": "The rank of the score in the friends collection for this leaderboard.",
          "$ref": "LeaderboardScoreRank"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "publicRank": {
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
          "$ref": "LeaderboardScoreRank"
        }
      },
      "type": "object"
    },
    "GamesAchievementSetStepsAtLeast": {
      "id": "GamesAchievementSetStepsAtLeast",
      "type": "object",
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementSetStepsAtLeast`."
        },
        "steps": {
          "description": "The minimum number of steps for the achievement to be set to.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AchievementUpdateRequest": {
      "type": "object",
      "description": "A request to update an achievement.",
      "properties": {
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        },
        "updateType": {
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ],
          "description": "The type of update being applied.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`."
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement.",
          "$ref": "GamesAchievementIncrement"
        }
      },
      "id": "AchievementUpdateRequest"
    },
    "PlayerEvent": {
      "id": "PlayerEvent",
      "type": "object",
      "description": "An event status resource.",
      "properties": {
        "formattedNumEvents": {
          "type": "string",
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console."
        },
        "definitionId": {
          "description": "The ID of the event definition.",
          "type": "string"
        },
        "numEvents": {
          "format": "int64",
          "description": "The current number of times this event has occurred.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`."
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        }
      }
    },
    "PlayerScoreListResponse": {
      "id": "PlayerScoreListResponse",
      "description": "A list of score submission statuses.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "type": "array",
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "The score submissions statuses."
        }
      },
      "type": "object"
    },
    "PlayerScore": {
      "type": "object",
      "description": "A player score.",
      "properties": {
        "timeSpan": {
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span for this player score.",
          "type": "string"
        },
        "score": {
          "format": "int64",
          "description": "The numerical value for this player score.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`."
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted score for this player score."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "id": "PlayerScore"
    },
    "ApplicationPlayerId": {
      "type": "object",
      "description": "Primary scoped player identifier for an application.",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        }
      },
      "id": "ApplicationPlayerId"
    },
    "RevisionCheckResponse": {
      "id": "RevisionCheckResponse",
      "type": "object",
      "description": "A third party checking a revision response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#revisionCheckResponse`."
        },
        "revisionStatus": {
          "enumDescriptions": [
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ],
          "enum": [
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "description": "The result of the revision check.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "The version of the API this client revision should use when calling API methods."
        }
      }
    },
    "LeaderboardScores": {
      "type": "object",
      "description": "A ListScores response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "numScores": {
          "format": "int64",
          "description": "The total number of scores in the leaderboard.",
          "type": "string"
        },
        "items": {
          "description": "The scores in the leaderboard.",
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          }
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        }
      },
      "id": "LeaderboardScores"
    },
    "StatsResponse": {
      "id": "StatsResponse",
      "type": "object",
      "description": "A third party stats resource.",
      "properties": {
        "num_purchases": {
          "type": "integer",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "avg_session_length_minutes": {
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "num_sessions": {
          "format": "int32",
          "type": "integer",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "spend_percentile": {
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "spend_probability": {
          "format": "float",
          "type": "number",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information."
        },
        "days_since_last_played": {
          "type": "integer",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        },
        "num_sessions_percentile": {
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "high_spender_probability": {
          "type": "number",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "total_spend_next_28_days": {
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "churn_probability": {
          "type": "number",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "format": "float"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "description": "The Instance resource.",
      "properties": {
        "acquisitionUri": {
          "type": "string",
          "description": "URI which shows where a user can acquire this instance."
        },
        "turnBasedPlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports turn based play."
        },
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "platformType": {
          "enum": [
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "enumDescriptions": [
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "type": "string",
          "description": "The platform type."
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "name": {
          "description": "Localized display name.",
          "type": "string"
        },
        "androidInstance": {
          "description": "Platform dependent details for Android.",
          "$ref": "InstanceAndroidDetails"
        }
      },
      "type": "object"
    },
    "Leaderboard": {
      "id": "Leaderboard",
      "description": "The Leaderboard resource.",
      "properties": {
        "isIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "id": {
          "type": "string",
          "description": "The leaderboard ID."
        },
        "order": {
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "description": "How scores are ordered.",
          "type": "string"
        },
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`."
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventPeriodRange": {
      "type": "object",
      "description": "An event period time range.",
      "properties": {
        "periodStartMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch)."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodEndMillis": {
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch).",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "EventPeriodRange"
    },
    "PlayerScoreResponse": {
      "id": "PlayerScoreResponse",
      "type": "object",
      "description": "A list of leaderboard entry resources.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`."
        },
        "beatenScoreTimeSpans": {
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "type": "array",
          "items": {
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "type": "string"
          }
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard ID that this score was submitted to."
        },
        "unbeatenScores": {
          "type": "array",
          "items": {
            "$ref": "PlayerScore"
          },
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans."
        },
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
        }
      }
    },
    "AchievementDefinition": {
      "description": "An achievement definition object.",
      "properties": {
        "achievementType": {
          "description": "The type of the achievement.",
          "type": "string",
          "enumDescriptions": [
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "enum": [
            "STANDARD",
            "INCREMENTAL"
          ]
        },
        "formattedTotalSteps": {
          "type": "string",
          "description": "The total steps for an incremental achievement as a string."
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points which will be earned when unlocking this achievement.",
          "type": "string"
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "achievementLifecycleState": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "The achievement is active and published, and can be earned by players.",
            "The achievement is archived. It cannot be earned by players, and is hidden from players who have not already unlocked it. from players who haven't unlocked it."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The lifecycle state of the achievement.",
          "enum": [
            "ACHIEVEMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "ACHIEVEMENT_LIFECYCLE_STATE_ACTIVE",
            "ACHIEVEMENT_LIFECYCLE_STATE_ARCHIVED"
          ]
        },
        "isUnlockedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided."
        },
        "totalSteps": {
          "description": "The total steps for an incremental achievement.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The name of the achievement."
        },
        "isRevealedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game."
        },
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        },
        "initialState": {
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The initial state of the achievement.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`.",
          "type": "string"
        },
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AchievementDefinition"
    },
    "GamePlayerToken": {
      "id": "GamePlayerToken",
      "type": "object",
      "description": "Recall tokens for a game.",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        }
      }
    },
    "RecallToken": {
      "type": "object",
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "properties": {
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Optional expiration time of the token"
        },
        "token": {
          "type": "string",
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC"
        }
      },
      "id": "RecallToken"
    },
    "PlayerExperienceInfo": {
      "id": "PlayerExperienceInfo",
      "type": "object",
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "currentExperiencePoints": {
          "format": "int64",
          "description": "The current number of experience points for the player.",
          "type": "string"
        },
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "PlayerLevel"
        }
      }
    },
    "RetrievePlayerTokensResponse": {
      "id": "RetrievePlayerTokensResponse",
      "description": "Response for the RetrievePlayerTokens RPC",
      "properties": {
        "tokens": {
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "type": "array",
          "items": {
            "$ref": "RecallToken"
          }
        }
      },
      "type": "object"
    },
    "EndPoint": {
      "description": "Container for a URL end point of the requested type.",
      "properties": {
        "url": {
          "type": "string",
          "description": "A URL suitable for loading in a web browser for the requested endpoint."
        }
      },
      "type": "object",
      "id": "EndPoint"
    },
    "ImageAsset": {
      "id": "ImageAsset",
      "description": "An image asset object.",
      "properties": {
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of the asset."
        },
        "width": {
          "format": "int32",
          "description": "The width of the asset.",
          "type": "integer"
        },
        "height": {
          "format": "int32",
          "description": "The height of the asset.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`."
        }
      },
      "type": "object"
    },
    "LeaderboardScoreRank": {
      "id": "LeaderboardScoreRank",
      "description": "A score rank in a leaderboard.",
      "properties": {
        "formattedNumScores": {
          "type": "string",
          "description": "The number of scores in the leaderboard as a string."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "rank": {
          "description": "The rank in the leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "formattedRank": {
          "description": "The rank in the leaderboard as a string.",
          "type": "string"
        },
        "numScores": {
          "format": "int64",
          "type": "string",
          "description": "The number of scores in the leaderboard."
        }
      },
      "type": "object"
    },
    "LeaderboardEntry": {
      "type": "object",
      "description": "The Leaderboard Entry resource.",
      "properties": {
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "formattedScoreRank": {
          "type": "string",
          "description": "The localized string for the rank of this score for this leaderboard."
        },
        "timeSpan": {
          "type": "string",
          "description": "The time span of this high score.",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "writeTimestampMillis": {
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "scoreValue": {
          "format": "int64",
          "description": "The numerical value of this score.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`.",
          "type": "string"
        }
      },
      "id": "LeaderboardEntry"
    },
    "AchievementDefinitionsListResponse": {
      "id": "AchievementDefinitionsListResponse",
      "type": "object",
      "description": "A list of achievement definition objects.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "AchievementDefinition"
          },
          "description": "The achievement definitions."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "LinkPersonaRequest": {
      "id": "LinkPersonaRequest",
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "properties": {
        "expireTime": {
          "description": "Input only. Optional expiration time.",
          "type": "string",
          "format": "google-datetime"
        },
        "cardinalityConstraint": {
          "type": "string",
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ],
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ]
        },
        "conflictingLinksResolutionPolicy": {
          "type": "string",
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ],
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ]
        },
        "persona": {
          "type": "string",
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games."
        },
        "ttl": {
          "format": "google-duration",
          "description": "Input only. Optional time-to-live.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
        },
        "token": {
          "type": "string",
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation)."
        }
      },
      "type": "object"
    },
    "UnlinkPersonaRequest": {
      "type": "object",
      "description": "Request to remove a Recall token linking PGS principal and an in-game account",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application."
        },
        "token": {
          "type": "string",
          "description": "Value of the Recall token as it was provided by the client in LinkPersona RPC"
        },
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      },
      "id": "UnlinkPersonaRequest"
    },
    "PlayerScoreSubmissionList": {
      "description": "A list of score submission requests.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`."
        },
        "scores": {
          "description": "The score submissions.",
          "type": "array",
          "items": {
            "$ref": "ScoreSubmission"
          }
        }
      },
      "type": "object",
      "id": "PlayerScoreSubmissionList"
    },
    "PlayerAchievementListResponse": {
      "type": "object",
      "description": "A list of achievement objects.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The achievements.",
          "type": "array",
          "items": {
            "$ref": "PlayerAchievement"
          }
        }
      },
      "id": "PlayerAchievementListResponse"
    },
    "LinkPersonaResponse": {
      "description": "Outcome of a persona linking attempt.",
      "properties": {
        "state": {
          "description": "Output only. State of a persona linking attempt.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ]
        }
      },
      "type": "object",
      "id": "LinkPersonaResponse"
    },
    "EventDefinitionListResponse": {
      "type": "object",
      "description": "A ListDefinitions response.",
      "properties": {
        "items": {
          "description": "The event definitions.",
          "type": "array",
          "items": {
            "$ref": "EventDefinition"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "EventDefinitionListResponse"
    },
    "AchievementRevealResponse": {
      "type": "object",
      "description": "An achievement reveal response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`."
        },
        "currentState": {
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ]
        }
      },
      "id": "AchievementRevealResponse"
    },
    "UnlinkPersonaResponse": {
      "id": "UnlinkPersonaResponse",
      "type": "object",
      "description": "Response for the UnlinkPersona RPC",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      }
    },
    "CategoryListResponse": {
      "type": "object",
      "description": "A third party list metagame categories response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories with usage data."
        }
      },
      "id": "CategoryListResponse"
    },
    "PlayGroupingApiToken": {
      "id": "PlayGroupingApiToken",
      "type": "object",
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "properties": {
        "tokenValue": {
          "description": "Value of the token.",
          "type": "string"
        }
      }
    },
    "GeneratePlayGroupingApiTokenResponse": {
      "id": "GeneratePlayGroupingApiTokenResponse",
      "type": "object",
      "description": "Response for the GeneratePlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      }
    },
    "EventBatchRecordFailure": {
      "id": "EventBatchRecordFailure",
      "type": "object",
      "description": "A batch update failure resource.",
      "properties": {
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        },
        "failureCause": {
          "description": "The cause for the update failure.",
          "type": "string",
          "enumDescriptions": [
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ],
          "enum": [
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`."
        }
      }
    },
    "Category": {
      "type": "object",
      "description": "Data related to individual game categories.",
      "properties": {
        "experiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "Experience points earned in this category."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#category`.",
          "type": "string"
        },
        "category": {
          "description": "The category name.",
          "type": "string"
        }
      },
      "id": "Category"
    },
    "AchievementUpdateResponse": {
      "description": "An updated achievement.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`."
        },
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "currentState": {
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "description": "The current state of the achievement."
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this achievement if it is incremental.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "AchievementUpdateResponse"
    },
    "ResetPersonaResponse": {
      "description": "Response for the ResetPersona RPC",
      "properties": {
        "unlinked": {
          "type": "boolean",
          "description": "Required. Whether any tokens were unlinked as a result of this request."
        }
      },
      "type": "object",
      "id": "ResetPersonaResponse"
    },
    "AchievementSetStepsAtLeastResponse": {
      "id": "AchievementSetStepsAtLeastResponse",
      "type": "object",
      "description": "An achievement set steps at least response.",
      "properties": {
        "currentSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`."
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        }
      }
    },
    "InstanceAndroidDetails": {
      "type": "object",
      "description": "The Android instance details resource.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Android package name which maps to Google Play URL."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`."
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        }
      },
      "id": "InstanceAndroidDetails"
    },
    "EventChild": {
      "id": "EventChild",
      "type": "object",
      "description": "An event child relationship resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`."
        },
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        }
      }
    },
    "InstanceIosDetails": {
      "type": "object",
      "description": "The iOS details resource.",
      "properties": {
        "preferredForIphone": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPhone devices."
        },
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "supportIpad": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPad."
        },
        "preferredForIpad": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations on iPad devices."
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        }
      },
      "id": "InstanceIosDetails"
    },
    "PlayerEventListResponse": {
      "description": "A ListByPlayer response.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`."
        },
        "items": {
          "description": "The player events.",
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          }
        }
      },
      "type": "object",
      "id": "PlayerEventListResponse"
    },
    "AchievementUnlockResponse": {
      "id": "AchievementUnlockResponse",
      "description": "An achievement unlock response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`."
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "EventUpdateResponse": {
      "id": "EventUpdateResponse",
      "type": "object",
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "eventFailures": {
          "type": "array",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "description": "Any failures updating a particular event."
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "batchFailures": {
          "description": "Any batch-wide failures which occurred applying updates.",
          "type": "array",
          "items": {
            "$ref": "EventBatchRecordFailure"
          }
        }
      }
    },
    "GenerateRecallPlayGroupingApiTokenResponse": {
      "id": "GenerateRecallPlayGroupingApiTokenResponse",
      "type": "object",
      "description": "Response for the GenerateRecallPlayGroupingApiToken RPC.",
      "properties": {
        "token": {
          "description": "Token for accessing the Play Grouping API.",
          "$ref": "PlayGroupingApiToken"
        }
      }
    },
    "EventUpdateRequest": {
      "type": "object",
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`."
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event being modified in this update."
        },
        "updateCount": {
          "type": "string",
          "description": "The number of times this event occurred in this time period.",
          "format": "int64"
        }
      },
      "id": "EventUpdateRequest"
    },
    "Application": {
      "id": "Application",
      "type": "object",
      "description": "The Application resource.",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The assets of the application."
        },
        "themeColor": {
          "type": "string",
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\")."
        },
        "leaderboard_count": {
          "type": "integer",
          "description": "The number of leaderboards visible to the currently authenticated player.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The name of the application."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`.",
          "type": "string"
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "instances": {
          "description": "The instances of the application.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "enabledFeatures": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Saved Games (snapshots)."
            ],
            "enum": [
              "SNAPSHOTS"
            ],
            "type": "string"
          },
          "description": "A list of features that have been enabled for the application."
        },
        "id": {
          "type": "string",
          "description": "The ID of the application."
        },
        "achievement_count": {
          "description": "The number of achievements visible to the currently authenticated player.",
          "type": "integer",
          "format": "int32"
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The last updated timestamp of the application."
        }
      }
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "type": "object",
      "description": "Profile settings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`."
        },
        "profileVisible": {
          "type": "boolean",
          "description": "Whether the player's profile is visible to the currently signed in player."
        },
        "friendsListVisibility": {
          "type": "string",
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ]
        }
      }
    },
    "RetrieveGamesPlayerTokensResponse": {
      "id": "RetrieveGamesPlayerTokensResponse",
      "type": "object",
      "description": "A list of recall token data returned from the RetrieveGamesPlayerTokens RPC",
      "properties": {
        "gamePlayerTokens": {
          "type": "array",
          "items": {
            "$ref": "GamePlayerToken"
          },
          "description": "The requested applications along with the recall tokens for the player. If the player does not have recall tokens for an application, that application is not included in the response."
        }
      }
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "type": "object",
      "description": "A list of player leaderboard scores.",
      "properties": {
        "items": {
          "description": "The leaderboard scores.",
          "type": "array",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          }
        },
        "player": {
          "description": "The Player resources for the owner of this score.",
          "$ref": "Player"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`."
        }
      }
    },
    "RetrieveDeveloperGamesLastPlayerTokenResponse": {
      "description": "Recall token data returned from for the RetrieveDeveloperGamesLastPlayerToken RPC",
      "properties": {
        "gamePlayerToken": {
          "description": "The recall token associated with the requested PGS Player principal. It can be unset if there is no recall token associated with the requested principal.",
          "$ref": "GamePlayerToken"
        }
      },
      "type": "object",
      "id": "RetrieveDeveloperGamesLastPlayerTokenResponse"
    },
    "ScoreSubmission": {
      "id": "ScoreSubmission",
      "type": "object",
      "description": "A request to submit a score to leaderboards.",
      "properties": {
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard this score is being submitted to."
        },
        "score": {
          "type": "string",
          "description": "The new score being submitted.",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`.",
          "type": "string"
        }
      }
    },
    "InstanceWebDetails": {
      "description": "The Web details resource.",
      "properties": {
        "launchUrl": {
          "type": "string",
          "description": "Launch URL for the game."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "InstanceWebDetails"
    },
    "Snapshot": {
      "id": "Snapshot",
      "description": "An snapshot object.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`."
        },
        "durationMillis": {
          "type": "string",
          "description": "The duration associated with this snapshot, in millis.",
          "format": "int64"
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "progressValue": {
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "type": "string",
          "format": "int64"
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        },
        "lastModifiedMillis": {
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "The type of this snapshot.",
          "type": "string",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "enum": [
            "SAVE_GAME"
          ]
        },
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        }
      },
      "type": "object"
    },
    "Player": {
      "description": "A Player resource.",
      "properties": {
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "name": {
          "description": "A representation of the individual components of the name.",
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "avatarImageUrl": {
          "type": "string",
          "description": "The base URL for the image that represents the player."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "friendStatus": {
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "type": "string",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ]
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "gamePlayerId": {
          "type": "string",
          "description": "Per-application unique player identifier."
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        }
      },
      "type": "object",
      "id": "Player"
    },
    "ResetPersonaRequest": {
      "type": "object",
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "properties": {
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      },
      "id": "ResetPersonaRequest"
    },
    "MetagameConfig": {
      "id": "MetagameConfig",
      "type": "object",
      "description": "The metagame config resource",
      "properties": {
        "currentVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one."
        },
        "playerLevels": {
          "description": "The list of player levels.",
          "type": "array",
          "items": {
            "$ref": "PlayerLevel"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`."
        }
      }
    },
    "EventDefinition": {
      "id": "EventDefinition",
      "type": "object",
      "description": "An event definition resource.",
      "properties": {
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "childEvents": {
          "description": "A list of events that are a child of this event.",
          "type": "array",
          "items": {
            "$ref": "EventChild"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`."
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "visibility": {
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "description": "The visibility of event being tracked in this definition.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the event."
        }
      }
    },
    "EventRecordFailure": {
      "id": "EventRecordFailure",
      "description": "An event update failure resource.",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "The ID of the event that was not updated."
        },
        "failureCause": {
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "description": "The cause for the update failure.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayerListResponse": {
      "id": "PlayerListResponse",
      "description": "A third party player list response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Player"
          },
          "description": "The players."
        }
      },
      "type": "object"
    },
    "EventPeriodUpdate": {
      "type": "object",
      "description": "An event period update resource.",
      "properties": {
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        },
        "updates": {
          "description": "The updates being made for this time period.",
          "type": "array",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        }
      },
      "id": "EventPeriodUpdate"
    },
    "GamesAchievementIncrement": {
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "steps": {
          "format": "int32",
          "type": "integer",
          "description": "The number of steps to be incremented."
        },
        "requestId": {
          "description": "The requestId associated with an increment to an achievement.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GamesAchievementIncrement"
    },
    "ApplicationCategory": {
      "id": "ApplicationCategory",
      "type": "object",
      "description": "An application category object.",
      "properties": {
        "primary": {
          "description": "The primary category.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        },
        "secondary": {
          "type": "string",
          "description": "The secondary category."
        }
      }
    },
    "AchievementIncrementResponse": {
      "type": "object",
      "description": "An achievement increment response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`."
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock."
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        }
      },
      "id": "AchievementIncrementResponse"
    },
    "SnapshotListResponse": {
      "type": "object",
      "description": "A third party list snapshots response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "The snapshots."
        }
      },
      "id": "SnapshotListResponse"
    },
    "EventRecordRequest": {
      "id": "EventRecordRequest",
      "type": "object",
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`."
        },
        "currentTimeMillis": {
          "type": "string",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).",
          "format": "int64"
        },
        "requestId": {
          "format": "int64",
          "type": "string",
          "description": "The request ID used to identify this attempt to record events."
        },
        "timePeriods": {
          "type": "array",
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "description": "A list of the time period updates being made in this request."
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "name": "games",
  "kind": "discovery#restDescription",
  "revision": "20260702",
  "servicePath": "",
  "batchPath": "batch",
  "resources": {
    "events": {
      "methods": {
        "listByPlayer": {
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "parameterOrder": [],
          "id": "games.events.listByPlayer",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "path": "games/v1/events",
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "flatPath": "games/v1/events",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "listDefinitions": {
          "description": "Returns a list of the event definitions in this application.",
          "parameterOrder": [],
          "id": "games.events.listDefinitions",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "games/v1/eventDefinitions",
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "flatPath": "games/v1/eventDefinitions",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "record": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/events",
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "flatPath": "games/v1/events",
          "httpMethod": "POST",
          "id": "games.events.record",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "request": {
            "$ref": "EventRecordRequest"
          },
          "parameterOrder": []
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "parameterOrder": [],
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "parameters": {
            "persona": {
              "location": "query",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "type": "string"
            },
            "packageName": {
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "httpMethod": "POST",
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "generateRecallPlayGroupingApiToken": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "httpMethod": "POST",
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "parameters": {
            "persona": {
              "location": "query",
              "type": "string",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system."
            },
            "recallSessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "type": "string",
              "location": "query"
            },
            "packageName": {
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "parameterOrder": []
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "path": "games/v1/stats",
          "response": {
            "$ref": "StatsResponse"
          },
          "flatPath": "games/v1/stats",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "parameterOrder": [],
          "id": "games.stats.get",
          "parameters": {}
        }
      }
    },
    "players": {
      "methods": {
        "get": {
          "parameterOrder": [
            "playerId"
          ],
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "id": "games.players.get",
          "parameters": {
            "playerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "playerIdConsistencyToken": {
              "location": "query",
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto",
              "type": "string"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "flatPath": "games/v1/players/{playerId}",
          "httpMethod": "GET",
          "path": "games/v1/players/{playerId}",
          "response": {
            "$ref": "Player"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "games/v1/players/me/players/{collection}",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "path": "games/v1/players/me/players/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "collection"
          ],
          "description": "Get the collection of players for the currently authenticated user.",
          "id": "games.players.list",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "collection": {
              "location": "path",
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "required": true,
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "description": "Collection of players being retrieved",
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          }
        },
        "getScopedPlayerIds": {
          "parameterOrder": [],
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "id": "games.players.getScopedPlayerIds",
          "parameters": {},
          "flatPath": "games/v1/players/me/scopedIds",
          "httpMethod": "GET",
          "path": "games/v1/players/me/scopedIds",
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "getMultipleApplicationPlayerIds": {
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "httpMethod": "GET",
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "parameterOrder": [],
          "id": "games.players.getMultipleApplicationPlayerIds",
          "parameters": {
            "applicationIds": {
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "type": "string",
              "location": "query",
              "repeated": true
            }
          }
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "id": "games.leaderboards.get",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "Leaderboard"
          },
          "path": "games/v1/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "id": "games.leaderboards.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "parameterOrder": [],
          "description": "Lists all the leaderboard metadata for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/leaderboards",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "path": "games/v1/leaderboards"
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "id": "games.achievementDefinitions.list",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            }
          },
          "parameterOrder": [],
          "description": "Lists all the achievement definitions for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements",
          "httpMethod": "GET",
          "path": "games/v1/achievements",
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          }
        }
[...]
