{
  "documentationLink": "https://developers.google.com/games/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "canonicalName": "Games Configuration",
  "name": "gamesConfiguration",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "title": "Google Play Games Services Publishing API",
  "kind": "discovery#restDescription",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "discoveryVersion": "v1",
  "servicePath": "",
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "revision": "20260820",
  "ownerName": "Google",
  "version": "v1configuration",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "id": "gamesConfiguration:v1configuration",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "resources": {
    "achievementConfigurations": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Delete the achievement configuration with the given ID.",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method."
            }
          },
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "path": "games/v1configuration/achievements/{achievementId}",
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "insert": {
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            }
          },
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "description": "Insert a new achievement configuration in this application.",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "parameterOrder": [
            "applicationId"
          ]
        },
        "get": {
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.achievementConfigurations.get",
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "httpMethod": "GET",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "path": "games/v1configuration/achievements/{achievementId}"
        },
        "update": {
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "parameterOrder": [
            "achievementId"
          ],
          "id": "gamesConfiguration.achievementConfigurations.update",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "httpMethod": "PUT",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Update the metadata of the achievement configuration with the given ID."
        },
        "list": {
          "id": "gamesConfiguration.achievementConfigurations.list",
          "description": "Returns a list of the achievement configurations in this application.",
          "httpMethod": "GET",
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "parameters": {
            "applicationId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "leaderboardConfigurations": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "httpMethod": "POST",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Insert a new leaderboard configuration in this application.",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          },
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID."
        },
        "update": {
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "leaderboardId"
          ],
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "description": "Returns a list of the leaderboard configurations in this application.",
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "description": "Delete the leaderboard configuration with the given ID.",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "DELETE"
        }
      }
    }
  },
  "basePath": "",
  "schemas": {
    "AchievementConfiguration": {
      "id": "AchievementConfiguration",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
          "type": "string"
        },
        "published": {
          "description": "The read-only published data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "achievementType": {
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "type": "string"
        },
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        },
        "stepsToUnlock": {
          "type": "integer",
          "description": "Steps to unlock. Only applicable to incremental achievements.",
          "format": "int32"
        },
        "initialState": {
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ],
          "description": "The initial state of the achievement.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "type": "string"
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        }
      },
      "description": "An achievement configuration resource.",
      "type": "object"
    },
    "GamesNumberFormatConfiguration": {
      "type": "object",
      "id": "GamesNumberFormatConfiguration",
      "description": "A number format resource.",
      "properties": {
        "suffix": {
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources.",
          "$ref": "GamesNumberAffixConfiguration"
        },
        "numberFormatType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "description": "The formatting for the number.",
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ]
        },
        "numDecimalPlaces": {
          "description": "The number of decimal places for number. Only used for NUMERIC format type.",
          "format": "int32",
          "type": "integer"
        },
        "currencyCode": {
          "type": "string",
          "description": "The curreny code string. Only used for CURRENCY format type."
        }
      }
    },
    "LeaderboardConfigurationListResponse": {
      "description": "A ListConfigurations response.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LeaderboardConfiguration"
          },
          "description": "The leaderboard configurations."
        }
      },
      "id": "LeaderboardConfigurationListResponse",
      "type": "object"
    },
    "LeaderboardConfigurationDetail": {
      "properties": {
        "scoreFormat": {
          "$ref": "GamesNumberFormatConfiguration",
          "description": "The score formatting for the leaderboard."
        },
        "name": {
          "description": "Localized strings for the leaderboard name.",
          "$ref": "LocalizedStringBundle"
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this leaderboard. Writes to this field are ignored."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`."
        },
        "sortRank": {
          "format": "int32",
          "description": "The sort rank of this leaderboard. Writes to this field are ignored.",
          "type": "integer"
        }
      },
      "description": "A leaderboard configuration detail.",
      "id": "LeaderboardConfigurationDetail",
      "type": "object"
    },
    "GamesNumberAffixConfiguration": {
      "id": "GamesNumberAffixConfiguration",
      "properties": {
        "one": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class)."
        },
        "few": {
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).",
          "$ref": "LocalizedStringBundle"
        },
        "many": {
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
          "$ref": "LocalizedStringBundle"
        },
        "other": {
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English).",
          "$ref": "LocalizedStringBundle"
        },
        "two": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian)."
        },
        "zero": {
          "description": "When the language requires special treatment of the number 0 (as in Arabic).",
          "$ref": "LocalizedStringBundle"
        }
      },
      "type": "object",
      "description": "A number affix resource."
    },
    "AchievementConfigurationDetail": {
      "description": "An achievement configuration detail.",
      "properties": {
        "pointValue": {
          "format": "int32",
          "description": "Point value for the achievement.",
          "type": "integer"
        },
        "sortRank": {
          "description": "The sort rank of this achievement. Writes to this field are ignored.",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "description": "Localized strings for the achievement description.",
          "$ref": "LocalizedStringBundle"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`.",
          "type": "string"
        },
        "name": {
          "description": "Localized strings for the achievement name.",
          "$ref": "LocalizedStringBundle"
        },
        "iconUrl": {
          "description": "The icon url of this achievement. Writes to this field are ignored.",
          "type": "string"
        }
      },
      "id": "AchievementConfigurationDetail",
      "type": "object"
    },
    "LocalizedString": {
      "id": "LocalizedString",
      "description": "A localized string resource.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The string value."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "The locale string."
        }
      },
      "type": "object"
    },
    "LocalizedStringBundle": {
      "properties": {
        "translations": {
          "items": {
            "$ref": "LocalizedString"
          },
          "description": "The locale strings.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LocalizedStringBundle",
      "description": "A localized string bundle resource."
    },
    "AchievementConfigurationListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "AchievementConfiguration"
          },
          "description": "The achievement configurations.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A ListConfigurations response.",
      "id": "AchievementConfigurationListResponse"
    },
    "LeaderboardConfiguration": {
      "description": "An leaderboard configuration resource.",
      "id": "LeaderboardConfiguration",
      "properties": {
        "published": {
          "$ref": "LeaderboardConfigurationDetail",
          "description": "The read-only published data of the leaderboard."
        },
        "scoreMin": {
          "description": "Minimum score that can be posted to this leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the leaderboard."
        },
        "draft": {
          "$ref": "LeaderboardConfigurationDetail",
          "description": "The draft data of the leaderboard."
        },
        "scoreMax": {
          "format": "int64",
          "type": "string",
          "description": "Maximum score that can be posted to this leaderboard."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`.",
          "type": "string"
        },
        "scoreOrder": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ],
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        }
      },
      "type": "object"
    }
  }
}