{
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "name": "gamesManagement",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "revision": "20260813",
  "basePath": "",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/games/",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "version": "v1management",
  "id": "gamesManagement:v1management",
  "canonicalName": "Games Management",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "schemas": {
    "AchievementResetResponse": {
      "id": "AchievementResetResponse",
      "description": "An achievement reset response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PlayerScoreResetResponse": {
      "type": "object",
      "id": "PlayerScoreResetResponse",
      "description": "A list of reset leaderboard entry resources.",
      "properties": {
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        },
        "resetScoreTimeSpans": {
          "type": "array",
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PlayerScoreResetAllResponse": {
      "type": "object",
      "id": "PlayerScoreResetAllResponse",
      "description": "A list of leaderboard reset resources.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "description": "The leaderboard reset results.",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          }
        }
      }
    },
    "AchievementResetAllResponse": {
      "id": "AchievementResetAllResponse",
      "description": "Achievement reset all response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "description": "The achievement reset results.",
          "items": {
            "$ref": "AchievementResetResponse"
          }
        }
      },
      "type": "object"
    },
    "Player": {
      "type": "object",
      "id": "Player",
      "description": "A Player resource.",
      "properties": {
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "name": {
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object"
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        }
      }
    },
    "AchievementResetMultipleForAllRequest": {
      "properties": {
        "achievement_ids": {
          "description": "The IDs of achievements to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        }
      },
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object"
    },
    "ScoresResetMultipleForAllRequest": {
      "id": "ScoresResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "description": "The IDs of leaderboards to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "description": "Profile settings",
      "properties": {
        "profileVisible": {
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventsResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EventsResetMultipleForAllRequest",
      "description": "Multiple events reset all request.",
      "type": "object"
    },
    "HiddenPlayer": {
      "type": "object",
      "properties": {
        "kind": {
          "readOnly": true,
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "type": "string"
        },
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "player": {
          "readOnly": true,
          "$ref": "Player",
          "description": "Output only. The player information."
        }
      },
      "id": "HiddenPlayer",
      "description": "The HiddenPlayer resource."
    },
    "GamesPlayerLevelResource": {
      "type": "object",
      "properties": {
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GamesPlayerLevelResource",
      "description": "1P/3P metadata about a user's level."
    },
    "HiddenPlayerList": {
      "type": "object",
      "properties": {
        "items": {
          "description": "The players.",
          "items": {
            "$ref": "HiddenPlayer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        }
      },
      "id": "HiddenPlayerList",
      "description": "A list of hidden players."
    },
    "GamesPlayerExperienceInfoResource": {
      "type": "object",
      "properties": {
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentExperiencePoints": {
          "description": "The current number of experience points for the player.",
          "format": "int64",
          "type": "string"
        },
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        }
      },
      "id": "GamesPlayerExperienceInfoResource",
      "description": "1P/3P metadata about the player's experience."
    }
  },
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "title": "Google Play Games Services Management API",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "resources": {
    "events": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "parameters": {},
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetForAllPlayers": {
          "parameterOrder": [
            "eventId"
          ],
          "parameters": {
            "eventId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the event.",
              "required": true
            }
          },
          "id": "gamesManagement.events.resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "httpMethod": "POST"
        },
        "resetAll": {
          "id": "gamesManagement.events.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "games/v1management/events/reset",
          "httpMethod": "POST",
          "path": "games/v1management/events/reset"
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/events/resetAllForAllPlayers",
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console."
        },
        "reset": {
          "parameters": {
            "eventId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the event.",
              "required": true
            }
          },
          "id": "gamesManagement.events.reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "eventId"
          ],
          "flatPath": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "path": "games/v1management/events/{eventId}/reset"
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "id": "gamesManagement.applications.listHidden",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console."
        }
      }
    },
    "achievements": {
      "methods": {
        "resetForAllPlayers": {
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "httpMethod": "POST",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers"
        },
        "resetMultipleForAllPlayers": {
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "parameters": {},
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": []
        },
        "reset": {
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {
            "achievementId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "id": "gamesManagement.achievements.reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/{achievementId}/reset",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementResetResponse"
          }
        },
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "parameterOrder": []
        },
        "resetAll": {
          "path": "games/v1management/achievements/reset",
          "flatPath": "games/v1management/achievements/reset",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "parameterOrder": [],
          "id": "gamesManagement.achievements.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {}
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "POST",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "playerId": {
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "type": "string"
            },
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "gamesManagement.players.hide",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ]
        },
        "unhide": {
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "id": "gamesManagement.players.unhide",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            },
            "playerId": {
              "type": "string",
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            }
          },
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "DELETE"
        }
      }
    },
    "scores": {
      "methods": {
        "resetForAllPlayers": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          },
          "id": "gamesManagement.scores.resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset."
        },
        "resetMultipleForAllPlayers": {
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "parameters": {},
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reset": {
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          },
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "id": "gamesManagement.scores.reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "leaderboardId"
          ],
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "httpMethod": "POST",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset"
        },
        "resetAllForAllPlayers": {
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "httpMethod": "POST"
        },
        "resetAll": {
          "parameters": {},
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "flatPath": "games/v1management/scores/reset",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    }
  }
}