{
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/games/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "id": "gamesManagement:v1management",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "ownerName": "Google",
  "title": "Google Play Games Services Management API",
  "discoveryVersion": "v1",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "basePath": "",
  "version": "v1management",
  "name": "gamesManagement",
  "resources": {
    "applications": {
      "methods": {
        "listHidden": {
          "httpMethod": "GET",
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            },
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "id": "gamesManagement.applications.listHidden",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "players": {
      "methods": {
        "unhide": {
          "httpMethod": "DELETE",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "id": "gamesManagement.players.unhide",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameters": {
            "playerId": {
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            },
            "applicationId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "hide": {
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "id": "gamesManagement.players.hide",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}"
        }
      }
    },
    "achievements": {
      "methods": {
        "resetAllForAllPlayers": {
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "parameters": {},
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "parameters": {}
        },
        "reset": {
          "id": "gamesManagement.achievements.reset",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/{achievementId}/reset",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "httpMethod": "POST"
        },
        "resetForAllPlayers": {
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers"
        },
        "resetAll": {
          "flatPath": "games/v1management/achievements/reset",
          "parameterOrder": [],
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "path": "games/v1management/achievements/reset",
          "id": "gamesManagement.achievements.resetAll"
        }
      }
    },
    "scores": {
      "methods": {
        "resetAllForAllPlayers": {
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "parameters": {},
          "parameterOrder": [],
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console."
        },
        "reset": {
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "id": "gamesManagement.scores.reset",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "leaderboardId"
          ]
        },
        "resetForAllPlayers": {
          "id": "gamesManagement.scores.resetForAllPlayers",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          },
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset."
        },
        "resetMultipleForAllPlayers": {
          "parameters": {},
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetMultipleForAllPlayers"
        },
        "resetAll": {
          "flatPath": "games/v1management/scores/reset",
          "parameterOrder": [],
          "id": "gamesManagement.scores.resetAll",
          "parameters": {},
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "path": "games/v1management/scores/reset",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "events": {
      "methods": {
        "resetAll": {
          "parameters": {},
          "id": "gamesManagement.events.resetAll",
          "parameterOrder": [],
          "path": "games/v1management/events/reset",
          "flatPath": "games/v1management/events/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST"
        },
        "reset": {
          "parameterOrder": [
            "eventId"
          ],
          "id": "gamesManagement.events.reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "eventId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the event."
            }
          },
          "path": "games/v1management/events/{eventId}/reset",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetForAllPlayers": {
          "parameterOrder": [
            "eventId"
          ],
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "id": "gamesManagement.events.resetForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers"
        },
        "resetMultipleForAllPlayers": {
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "httpMethod": "POST"
        },
        "resetAllForAllPlayers": {
          "parameters": {},
          "path": "games/v1management/events/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "httpMethod": "POST",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.events.resetAllForAllPlayers"
        }
      }
    }
  },
  "canonicalName": "Games Management",
  "revision": "20260907",
  "schemas": {
    "AchievementResetMultipleForAllRequest": {
      "type": "object",
      "id": "AchievementResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        },
        "achievement_ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of achievements to reset."
        }
      }
    },
    "ScoresResetMultipleForAllRequest": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "description": "The IDs of leaderboards to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ScoresResetMultipleForAllRequest"
    },
    "Player": {
      "type": "object",
      "id": "Player",
      "description": "A Player resource.",
      "properties": {
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "name": {
          "properties": {
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last name."
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          },
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object"
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        }
      }
    },
    "HiddenPlayerList": {
      "properties": {
        "items": {
          "items": {
            "$ref": "HiddenPlayer"
          },
          "type": "array",
          "description": "The players."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        }
      },
      "id": "HiddenPlayerList",
      "type": "object",
      "description": "A list of hidden players."
    },
    "EventsResetMultipleForAllRequest": {
      "id": "EventsResetMultipleForAllRequest",
      "properties": {
        "event_ids": {
          "description": "The IDs of events to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`."
        }
      },
      "description": "Multiple events reset all request.",
      "type": "object"
    },
    "HiddenPlayer": {
      "type": "object",
      "id": "HiddenPlayer",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true
        },
        "player": {
          "description": "Output only. The player information.",
          "readOnly": true,
          "$ref": "Player"
        },
        "hiddenTimeMillis": {
          "format": "int64",
          "description": "Output only. The time this player was hidden.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The HiddenPlayer resource."
    },
    "PlayerScoreResetResponse": {
      "properties": {
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        },
        "resetScoreTimeSpans": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. "
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        }
      },
      "id": "PlayerScoreResetResponse",
      "type": "object",
      "description": "A list of reset leaderboard entry resources."
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "id": "ProfileSettings",
      "properties": {
        "profileVisible": {
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        }
      },
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "description": "1P/3P metadata about the player's experience.",
      "properties": {
        "currentExperiencePoints": {
          "format": "int64",
          "description": "The current number of experience points for the player.",
          "type": "string"
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The current level of the player."
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GamesPlayerExperienceInfoResource",
      "type": "object"
    },
    "GamesPlayerLevelResource": {
      "description": "1P/3P metadata about a user's level.",
      "id": "GamesPlayerLevelResource",
      "type": "object",
      "properties": {
        "level": {
          "format": "int32",
          "type": "integer",
          "description": "The level for the user."
        },
        "minExperiencePoints": {
          "format": "int64",
          "description": "The minimum experience points for this level.",
          "type": "string"
        },
        "maxExperiencePoints": {
          "format": "int64",
          "description": "The maximum experience points for this level.",
          "type": "string"
        }
      }
    },
    "AchievementResetAllResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "description": "The achievement reset results."
        }
      },
      "description": "Achievement reset all response.",
      "id": "AchievementResetAllResponse"
    },
    "PlayerScoreResetAllResponse": {
      "id": "PlayerScoreResetAllResponse",
      "description": "A list of leaderboard reset resources.",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "description": "The leaderboard reset results.",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."
        }
      }
    },
    "AchievementResetResponse": {
      "properties": {
        "definitionId": {
          "type": "string",
          "description": "The ID of an achievement for which player state has been updated."
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`."
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AchievementResetResponse",
      "description": "An achievement reset response."
    }
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch"
}