{
  "canonicalName": "Games Management",
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "id": "gamesManagement:v1management",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "documentationLink": "https://developers.google.com/games/",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "title": "Google Play Games Services Management API",
  "version": "v1management",
  "protocol": "rest",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "basePath": "",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "name": "gamesManagement",
  "kind": "discovery#restDescription",
  "resources": {
    "achievements": {
      "methods": {
        "reset": {
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method."
            }
          },
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.reset",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1management/achievements/{achievementId}/reset",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAll": {
          "id": "gamesManagement.achievements.resetAll",
          "path": "games/v1management/achievements/reset",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "games/v1management/achievements/reset",
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "parameterOrder": [],
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers"
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "parameterOrder": [],
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers"
        },
        "resetForAllPlayers": {
          "parameters": {
            "achievementId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method."
            }
          },
          "httpMethod": "POST",
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "id": "gamesManagement.players.hide",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "playerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "applicationId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The application ID from the Google Play developer console."
            }
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "POST",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ]
        },
        "unhide": {
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string"
            }
          },
          "id": "gamesManagement.players.unhide",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ]
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "id": "gamesManagement.applications.listHidden",
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "events": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "parameterOrder": []
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/events/resetAllForAllPlayers",
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetAllForAllPlayers"
        },
        "resetAll": {
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetAll",
          "path": "games/v1management/events/reset",
          "flatPath": "games/v1management/events/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reset": {
          "path": "games/v1management/events/{eventId}/reset",
          "parameterOrder": [
            "eventId"
          ],
          "flatPath": "games/v1management/events/{eventId}/reset",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "gamesManagement.events.reset",
          "httpMethod": "POST",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetForAllPlayers": {
          "id": "gamesManagement.events.resetForAllPlayers",
          "parameters": {
            "eventId": {
              "required": true,
              "location": "path",
              "description": "The ID of the event.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "eventId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset."
        }
      }
    },
    "scores": {
      "methods": {
        "reset": {
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "location": "path",
              "description": "The ID of the leaderboard.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameterOrder": [
            "leaderboardId"
          ],
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "id": "gamesManagement.scores.reset"
        },
        "resetAllForAllPlayers": {
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "parameters": {},
          "parameterOrder": []
        },
        "resetMultipleForAllPlayers": {
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "parameterOrder": [],
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "parameters": {},
          "httpMethod": "POST"
        },
        "resetAll": {
          "id": "gamesManagement.scores.resetAll",
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "flatPath": "games/v1management/scores/reset",
          "path": "games/v1management/scores/reset",
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": []
        },
        "resetForAllPlayers": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ]
        }
      }
    }
  },
  "servicePath": "",
  "schemas": {
    "Player": {
      "description": "A Player resource.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "name": {
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        }
      },
      "id": "Player",
      "type": "object"
    },
    "AchievementResetAllResponse": {
      "id": "AchievementResetAllResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "description": "The achievement reset results.",
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Achievement reset all response."
    },
    "HiddenPlayerList": {
      "description": "A list of hidden players.",
      "id": "HiddenPlayerList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "HiddenPlayer"
          },
          "description": "The players.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      }
    },
    "HiddenPlayer": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "type": "string",
          "readOnly": true
        },
        "hiddenTimeMillis": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The time this player was hidden.",
          "type": "string"
        },
        "player": {
          "description": "Output only. The player information.",
          "readOnly": true,
          "$ref": "Player"
        }
      },
      "id": "HiddenPlayer",
      "description": "The HiddenPlayer resource."
    },
    "GamesPlayerExperienceInfoResource": {
      "id": "GamesPlayerExperienceInfoResource",
      "properties": {
        "lastLevelUpTimestampMillis": {
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string"
        },
        "currentExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The current number of experience points for the player."
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        }
      },
      "description": "1P/3P metadata about the player's experience.",
      "type": "object"
    },
    "PlayerScoreResetAllResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."
        },
        "results": {
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "description": "The leaderboard reset results.",
          "type": "array"
        }
      },
      "id": "PlayerScoreResetAllResponse",
      "description": "A list of leaderboard reset resources.",
      "type": "object"
    },
    "AchievementResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`."
        },
        "achievement_ids": {
          "description": "The IDs of achievements to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AchievementResetMultipleForAllRequest"
    },
    "AchievementResetResponse": {
      "properties": {
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Flag to indicate if the requested update actually occurred."
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.",
          "type": "string"
        }
      },
      "id": "AchievementResetResponse",
      "type": "object",
      "description": "An achievement reset response."
    },
    "PlayerScoreResetResponse": {
      "type": "object",
      "id": "PlayerScoreResetResponse",
      "description": "A list of reset leaderboard entry resources.",
      "properties": {
        "resetScoreTimeSpans": {
          "type": "array",
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "items": {
            "type": "string"
          }
        },
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        }
      }
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "type": "object",
      "description": "Profile settings",
      "properties": {
        "profileVisible": {
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        }
      }
    },
    "GamesPlayerLevelResource": {
      "type": "object",
      "id": "GamesPlayerLevelResource",
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "minExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The minimum experience points for this level."
        },
        "maxExperiencePoints": {
          "format": "int64",
          "description": "The maximum experience points for this level.",
          "type": "string"
        },
        "level": {
          "format": "int32",
          "type": "integer",
          "description": "The level for the user."
        }
      }
    },
    "EventsResetMultipleForAllRequest": {
      "type": "object",
      "description": "Multiple events reset all request.",
      "id": "EventsResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`."
        },
        "event_ids": {
          "type": "array",
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ScoresResetMultipleForAllRequest": {
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.",
          "type": "string"
        },
        "leaderboard_ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of leaderboards to reset."
        }
      }
    }
  },
  "revision": "20260907"
}