{
  "discoveryVersion": "v1",
  "title": "Google Play Games Services Publishing API",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "resources": {
    "leaderboardConfigurations": {
      "methods": {
        "get": {
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.get",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves the metadata of the leaderboard configuration with the given ID."
        },
        "insert": {
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "description": "Insert a new leaderboard configuration in this application.",
          "parameters": {
            "applicationId": {
              "required": true,
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "LeaderboardConfiguration"
          },
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "POST",
          "id": "gamesConfiguration.leaderboardConfigurations.insert",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "update": {
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "LeaderboardConfiguration"
          },
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Update the metadata of the leaderboard configuration with the given ID.",
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "id": "gamesConfiguration.leaderboardConfigurations.update",
          "request": {
            "$ref": "LeaderboardConfiguration"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete the leaderboard configuration with the given ID.",
          "parameters": {
            "leaderboardId": {
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string"
            }
          },
          "path": "games/v1configuration/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "id": "gamesConfiguration.leaderboardConfigurations.delete",
          "flatPath": "games/v1configuration/leaderboards/{leaderboardId}",
          "httpMethod": "DELETE"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            }
          },
          "path": "games/v1configuration/applications/{applicationId}/leaderboards",
          "id": "gamesConfiguration.leaderboardConfigurations.list",
          "description": "Returns a list of the leaderboard configurations in this application.",
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1configuration/applications/{applicationId}/leaderboards",
          "response": {
            "$ref": "LeaderboardConfigurationListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "achievementConfigurations": {
      "methods": {
        "list": {
          "path": "games/v1configuration/applications/{applicationId}/achievements",
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "response": {
            "$ref": "AchievementConfigurationListResponse"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "httpMethod": "GET",
          "description": "Returns a list of the achievement configurations in this application.",
          "id": "gamesConfiguration.achievementConfigurations.list",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified `maxResults`.",
              "format": "int32"
            },
            "applicationId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The application ID from the Google Play developer console."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "update": {
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "id": "gamesConfiguration.achievementConfigurations.update",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Update the metadata of the achievement configuration with the given ID.",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "httpMethod": "PUT",
          "path": "games/v1configuration/achievements/{achievementId}",
          "parameterOrder": [
            "achievementId"
          ]
        },
        "delete": {
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "gamesConfiguration.achievementConfigurations.delete",
          "httpMethod": "DELETE",
          "path": "games/v1configuration/achievements/{achievementId}",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "description": "Delete the achievement configuration with the given ID.",
          "parameterOrder": [
            "achievementId"
          ]
        },
        "insert": {
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "request": {
            "$ref": "AchievementConfiguration"
          },
          "flatPath": "games/v1configuration/applications/{applicationId}/achievements",
          "id": "gamesConfiguration.achievementConfigurations.insert",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "description": "Insert a new achievement configuration in this application.",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "games/v1configuration/applications/{applicationId}/achievements"
        },
        "get": {
          "path": "games/v1configuration/achievements/{achievementId}",
          "flatPath": "games/v1configuration/achievements/{achievementId}",
          "response": {
            "$ref": "AchievementConfiguration"
          },
          "description": "Retrieves the metadata of the achievement configuration with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "id": "gamesConfiguration.achievementConfigurations.get",
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "description": "The Google Play Game Services Publishing API allows developers to configure their games in Game Services.",
  "revision": "20260907",
  "baseUrl": "https://gamesconfiguration.googleapis.com/",
  "protocol": "rest",
  "canonicalName": "Games Configuration",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://gamesconfiguration.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    }
  },
  "documentationLink": "https://developers.google.com/games/",
  "servicePath": "",
  "name": "gamesConfiguration",
  "version": "v1configuration",
  "ownerDomain": "google.com",
  "rootUrl": "https://gamesconfiguration.googleapis.com/",
  "schemas": {
    "GamesNumberFormatConfiguration": {
      "description": "A number format resource.",
      "type": "object",
      "id": "GamesNumberFormatConfiguration",
      "properties": {
        "numDecimalPlaces": {
          "format": "int32",
          "description": "The number of decimal places for number. Only used for NUMERIC format type.",
          "type": "integer"
        },
        "numberFormatType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Numbers are formatted to have no digits or fixed number of digits after the decimal point according to locale. An optional custom unit can be added.",
            "Numbers are formatted to hours, minutes and seconds.",
            "Numbers are formatted to currency according to locale."
          ],
          "description": "The formatting for the number.",
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "NUMERIC",
            "TIME_DURATION",
            "CURRENCY"
          ]
        },
        "currencyCode": {
          "description": "The curreny code string. Only used for CURRENCY format type.",
          "type": "string"
        },
        "suffix": {
          "$ref": "GamesNumberAffixConfiguration",
          "description": "An optional suffix for the NUMERIC format type. These strings follow the same plural rules as all Android string resources."
        }
      }
    },
    "LocalizedStringBundle": {
      "id": "LocalizedStringBundle",
      "type": "object",
      "properties": {
        "translations": {
          "description": "The locale strings.",
          "items": {
            "$ref": "LocalizedString"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedStringBundle`."
        }
      },
      "description": "A localized string bundle resource."
    },
    "LocalizedString": {
      "id": "LocalizedString",
      "description": "A localized string resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#localizedString`.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "The locale string."
        },
        "value": {
          "type": "string",
          "description": "The string value."
        }
      }
    },
    "AchievementConfigurationDetail": {
      "properties": {
        "iconUrl": {
          "description": "The icon url of this achievement. Writes to this field are ignored.",
          "type": "string"
        },
        "pointValue": {
          "format": "int32",
          "description": "Point value for the achievement.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationDetail`."
        },
        "name": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the achievement name."
        },
        "sortRank": {
          "description": "The sort rank of this achievement. Writes to this field are ignored.",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "$ref": "LocalizedStringBundle",
          "description": "Localized strings for the achievement description."
        }
      },
      "id": "AchievementConfigurationDetail",
      "description": "An achievement configuration detail.",
      "type": "object"
    },
    "LeaderboardConfigurationDetail": {
      "description": "A leaderboard configuration detail.",
      "type": "object",
      "properties": {
        "sortRank": {
          "type": "integer",
          "format": "int32",
          "description": "The sort rank of this leaderboard. Writes to this field are ignored."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationDetail`."
        },
        "iconUrl": {
          "type": "string",
          "description": "The icon url of this leaderboard. Writes to this field are ignored."
        },
        "name": {
          "description": "Localized strings for the leaderboard name.",
          "$ref": "LocalizedStringBundle"
        },
        "scoreFormat": {
          "$ref": "GamesNumberFormatConfiguration",
          "description": "The score formatting for the leaderboard."
        }
      },
      "id": "LeaderboardConfigurationDetail"
    },
    "AchievementConfiguration": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfiguration`.",
          "type": "string"
        },
        "achievementType": {
          "description": "The type of the achievement.",
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "initialState": {
          "description": "The initial state of the achievement.",
          "enum": [
            "INITIAL_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed."
          ],
          "type": "string"
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "published": {
          "$ref": "AchievementConfigurationDetail",
          "description": "The read-only published data of the achievement."
        },
        "stepsToUnlock": {
          "format": "int32",
          "description": "Steps to unlock. Only applicable to incremental achievements.",
          "type": "integer"
        },
        "draft": {
          "description": "The draft data of the achievement.",
          "$ref": "AchievementConfigurationDetail"
        }
      },
      "id": "AchievementConfiguration",
      "description": "An achievement configuration resource.",
      "type": "object"
    },
    "LeaderboardConfiguration": {
      "id": "LeaderboardConfiguration",
      "description": "An leaderboard configuration resource.",
      "properties": {
        "draft": {
          "description": "The draft data of the leaderboard.",
          "$ref": "LeaderboardConfigurationDetail"
        },
        "id": {
          "description": "The ID of the leaderboard.",
          "type": "string"
        },
        "scoreMin": {
          "description": "Minimum score that can be posted to this leaderboard.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfiguration`.",
          "type": "string"
        },
        "scoreOrder": {
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger scores posted are ranked higher.",
            "Smaller scores posted are ranked higher."
          ]
        },
        "published": {
          "$ref": "LeaderboardConfigurationDetail",
          "description": "The read-only published data of the leaderboard."
        },
        "token": {
          "description": "The token for this resource.",
          "type": "string"
        },
        "scoreMax": {
          "type": "string",
          "description": "Maximum score that can be posted to this leaderboard.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "LeaderboardConfigurationListResponse": {
      "description": "A ListConfigurations response.",
      "id": "LeaderboardConfigurationListResponse",
      "properties": {
        "items": {
          "description": "The leaderboard configurations.",
          "type": "array",
          "items": {
            "$ref": "LeaderboardConfiguration"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#leaderboardConfigurationListResponse`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AchievementConfigurationListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "AchievementConfiguration"
          },
          "type": "array",
          "description": "The achievement configurations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesConfiguration#achievementConfigurationListResponse`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A ListConfigurations response.",
      "id": "AchievementConfigurationListResponse"
    },
    "GamesNumberAffixConfiguration": {
      "id": "GamesNumberAffixConfiguration",
      "description": "A number affix resource.",
      "type": "object",
      "properties": {
        "zero": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of the number 0 (as in Arabic)."
        },
        "two": {
          "description": "When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).",
          "$ref": "LocalizedStringBundle"
        },
        "other": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English)."
        },
        "many": {
          "description": "When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).",
          "$ref": "LocalizedStringBundle"
        },
        "one": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class)."
        },
        "few": {
          "$ref": "LocalizedStringBundle",
          "description": "When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish)."
        }
      }
    }
  },
  "id": "gamesConfiguration:v1configuration",
  "basePath": ""
}