{
  "fullyEncodeReservedExpansion": true,
  "title": "Google Play Games Services Management API",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "id": "gamesManagement:v1management",
  "revision": "20260730",
  "documentationLink": "https://developers.google.com/games/",
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Games Management",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "servicePath": "",
  "resources": {
    "events": {
      "methods": {
        "resetAll": {
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "flatPath": "games/v1management/events/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.events.resetAll",
          "path": "games/v1management/events/reset"
        },
        "reset": {
          "parameterOrder": [
            "eventId"
          ],
          "flatPath": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.events.reset",
          "path": "games/v1management/events/{eventId}/reset",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAllForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "parameters": {},
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "path": "games/v1management/events/resetAllForAllPlayers",
          "parameterOrder": [],
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "httpMethod": "POST"
        },
        "resetForAllPlayers": {
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "id": "gamesManagement.events.resetForAllPlayers",
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [
            "eventId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "eventId": {
              "description": "The ID of the event.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset."
        },
        "resetMultipleForAllPlayers": {
          "id": "gamesManagement.events.resetMultipleForAllPlayers",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "parameters": {},
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          }
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "POST",
          "id": "gamesManagement.players.hide",
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            },
            "playerId": {
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "unhide": {
          "parameters": {
            "applicationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            },
            "playerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            }
          },
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "id": "gamesManagement.players.unhide"
        }
      }
    },
    "scores": {
      "methods": {
        "resetForAllPlayers": {
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "id": "gamesManagement.scores.resetForAllPlayers",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset."
        },
        "resetMultipleForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "parameters": {},
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameterOrder": []
        },
        "resetAllForAllPlayers": {
          "parameters": {},
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "id": "gamesManagement.scores.resetAllForAllPlayers"
        },
        "reset": {
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "httpMethod": "POST",
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "id": "gamesManagement.scores.reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAll": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "httpMethod": "POST",
          "id": "gamesManagement.scores.resetAll",
          "path": "games/v1management/scores/reset",
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "games/v1management/scores/reset"
        }
      }
    },
    "achievements": {
      "methods": {
        "resetForAllPlayers": {
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "httpMethod": "POST",
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetMultipleForAllPlayers": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "parameterOrder": []
        },
        "resetAll": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "path": "games/v1management/achievements/reset",
          "id": "gamesManagement.achievements.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/achievements/reset",
          "parameterOrder": [],
          "parameters": {},
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetAllForAllPlayers": {
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console."
        },
        "reset": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.achievements.reset",
          "path": "games/v1management/achievements/{achievementId}/reset",
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "httpMethod": "POST",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "parameters": {
            "achievementId": {
              "required": true,
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1management/achievements/{achievementId}/reset"
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "httpMethod": "GET",
          "id": "gamesManagement.applications.listHidden",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "applicationId"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden"
        }
      }
    }
  },
  "version": "v1management",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "Player": {
      "type": "object",
      "description": "A Player resource.",
      "properties": {
        "name": {
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "experienceInfo": {
          "$ref": "GamesPlayerExperienceInfoResource",
          "description": "An object to represent Play Game experience information for the player."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "type": "string",
          "description": "The url to the portrait mode player banner image."
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        }
      },
      "id": "Player"
    },
    "HiddenPlayerList": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`."
        },
        "items": {
          "type": "array",
          "description": "The players.",
          "items": {
            "$ref": "HiddenPlayer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "id": "HiddenPlayerList",
      "type": "object",
      "description": "A list of hidden players."
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean"
        }
      },
      "description": "Profile settings",
      "type": "object"
    },
    "GamesPlayerExperienceInfoResource": {
      "description": "1P/3P metadata about the player's experience.",
      "type": "object",
      "id": "GamesPlayerExperienceInfoResource",
      "properties": {
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string",
          "format": "int64"
        },
        "currentLevel": {
          "description": "The current level of the player.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The current number of experience points for the player."
        },
        "nextLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        }
      }
    },
    "PlayerScoreResetResponse": {
      "id": "PlayerScoreResetResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`."
        },
        "resetScoreTimeSpans": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. "
        },
        "definitionId": {
          "description": "The ID of an leaderboard for which player state has been updated.",
          "type": "string"
        }
      },
      "description": "A list of reset leaderboard entry resources.",
      "type": "object"
    },
    "ScoresResetMultipleForAllRequest": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`."
        },
        "leaderboard_ids": {
          "description": "The IDs of leaderboards to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object"
    },
    "AchievementResetResponse": {
      "properties": {
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Flag to indicate if the requested update actually occurred.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`."
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. "
        }
      },
      "id": "AchievementResetResponse",
      "type": "object",
      "description": "An achievement reset response."
    },
    "PlayerScoreResetAllResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."
        },
        "results": {
          "type": "array",
          "description": "The leaderboard reset results.",
          "items": {
            "$ref": "PlayerScoreResetResponse"
          }
        }
      },
      "id": "PlayerScoreResetAllResponse",
      "type": "object",
      "description": "A list of leaderboard reset resources."
    },
    "AchievementResetAllResponse": {
      "id": "AchievementResetAllResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "description": "The achievement reset results.",
          "items": {
            "$ref": "AchievementResetResponse"
          }
        }
      },
      "description": "Achievement reset all response.",
      "type": "object"
    },
    "EventsResetMultipleForAllRequest": {
      "description": "Multiple events reset all request.",
      "type": "object",
      "id": "EventsResetMultipleForAllRequest",
      "properties": {
        "event_ids": {
          "description": "The IDs of events to reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        }
      }
    },
    "HiddenPlayer": {
      "id": "HiddenPlayer",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true
        },
        "player": {
          "description": "Output only. The player information.",
          "readOnly": true,
          "$ref": "Player"
        },
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The HiddenPlayer resource.",
      "type": "object"
    },
    "GamesPlayerLevelResource": {
      "id": "GamesPlayerLevelResource",
      "properties": {
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "level": {
          "type": "integer",
          "format": "int32",
          "description": "The level for the user."
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "1P/3P metadata about a user's level.",
      "type": "object"
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        },
        "achievement_ids": {
          "type": "array",
          "description": "The IDs of achievements to reset.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "name": "gamesManagement",
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service."
}