{
  "title": "Google Play Games Services API",
  "discoveryVersion": "v1",
  "id": "games:v1",
  "canonicalName": "Games",
  "rootUrl": "https://games.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "name": "games",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260716",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "baseUrl": "https://games.googleapis.com/",
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "resources": {
    "achievements": {
      "methods": {
        "unlock": {
          "parameterOrder": [
            "achievementId"
          ],
          "parameters": {
            "achievementId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "id": "games.achievements.unlock",
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Unlocks this achievement for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/unlock",
          "response": {
            "$ref": "AchievementUnlockResponse"
          }
        },
        "increment": {
          "parameters": {
            "achievementId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method."
            },
            "requestId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries."
            },
            "stepsToIncrement": {
              "description": "Required. The number of steps to increment.",
              "location": "query",
              "required": true,
              "format": "int32",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "id": "games.achievements.increment",
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "path": "games/v1/achievements/{achievementId}/increment"
        },
        "setStepsAtLeast": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the achievement used by this method."
            },
            "steps": {
              "required": true,
              "format": "int32",
              "location": "query",
              "description": "Required. The minimum value to set the steps to.",
              "type": "integer"
            }
          },
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "httpMethod": "POST",
          "id": "games.achievements.setStepsAtLeast"
        },
        "reveal": {
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "id": "games.achievements.reveal",
          "parameters": {
            "achievementId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method."
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "path": "games/v1/achievements/{achievementId}/reveal",
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "updateMultiple": {
          "description": "Updates multiple achievements for the currently authenticated player.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "path": "games/v1/achievements/updateMultiple",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/updateMultiple",
          "id": "games.achievements.updateMultiple"
        },
        "list": {
          "path": "games/v1/players/{playerId}/achievements",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "id": "games.achievements.list",
          "flatPath": "games/v1/players/{playerId}/achievements",
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "state": {
              "location": "query",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "type": "string",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ]
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "playerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          }
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "flatPath": "games/v1/revisions/check",
          "httpMethod": "GET",
          "id": "games.revisions.check",
          "parameterOrder": [
            "clientRevision"
          ],
          "parameters": {
            "clientRevision": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App."
            }
          },
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "path": "games/v1/revisions/check",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Checks whether the games client is out of date."
        }
      }
    },
    "metagame": {
      "methods": {
        "getMetagameConfig": {
          "httpMethod": "GET",
          "flatPath": "games/v1/metagameConfig",
          "id": "games.metagame.getMetagameConfig",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "MetagameConfig"
          },
          "path": "games/v1/metagameConfig",
          "description": "Return the metagame configuration data for the calling application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "listCategoriesByPlayer": {
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "httpMethod": "GET",
          "id": "games.metagame.listCategoriesByPlayer",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "parameters": {
            "playerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "collection": {
              "description": "The collection of categories for which data will be returned.",
              "required": true,
              "location": "path",
              "enum": [
                "ALL"
              ],
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "CategoryListResponse"
          },
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "List play data aggregated per category for the player corresponding to `playerId`."
        }
      }
    },
    "scores": {
      "methods": {
        "submit": {
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "description": "Submits a score to the specified leaderboard.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "id": "games.scores.submit",
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "score": {
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "required": true,
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "scoreTag": {
              "location": "query",
              "type": "string",
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "parameterOrder": [
            "leaderboardId",
            "score"
          ]
        },
        "get": {
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "timeSpan": {
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "type": "string",
              "description": "The time span for the scores and ranks you're requesting.",
              "location": "path",
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "includeRankType": {
              "type": "string",
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ],
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "location": "query",
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned."
            }
          },
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "id": "games.scores.get"
        },
        "submitMultiple": {
          "description": "Submits multiple scores to leaderboards.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "path": "games/v1/leaderboards/scores",
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1/leaderboards/scores",
          "id": "games.scores.submitMultiple"
        },
        "list": {
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "httpMethod": "GET",
          "id": "games.scores.list",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "parameters": {
            "timeSpan": {
              "required": true,
              "location": "query",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "type": "string",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ]
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "collection": {
              "required": true,
              "location": "path",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "description": "The collection of scores you're requesting.",
              "type": "string",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enumDeprecated": [
                false,
                true,
                false
              ]
            },
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the leaderboard."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "response": {
            "$ref": "LeaderboardScores"
          },
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the scores in a leaderboard, starting from the top."
        },
        "listWindow": {
          "parameters": {
            "resultsAbove": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults."
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "timeSpan": {
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "required": true,
              "location": "query",
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "type": "string"
            },
            "returnTopIfAbsent": {
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "collection": {
              "location": "path",
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "required": true,
              "description": "The collection of scores you're requesting.",
              "type": "string",
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ]
            }
          },
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "id": "games.scores.listWindow",
          "httpMethod": "GET",
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          }
        }
      }
    },
    "recall": {
      "methods": {
        "retrieveTokens": {
          "id": "games.recall.retrieveTokens",
          "httpMethod": "GET",
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "sessionId"
          ],
          "path": "games/v1/recall/tokens/{sessionId}",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "resetPersona": {
          "id": "games.recall.resetPersona",
          "flatPath": "games/v1/recall:resetPersona",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "ResetPersonaRequest"
          },
          "path": "games/v1/recall:resetPersona",
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile)."
        },
        "unlinkPersona": {
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "path": "games/v1/recall:unlinkPersona",
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1/recall:unlinkPersona",
          "id": "games.recall.unlinkPersona",
          "request": {
            "$ref": "UnlinkPersonaRequest"
          },
          "parameters": {},
          "parameterOrder": []
        },
        "lastTokenFromAllDeveloperGames": {
          "httpMethod": "GET",
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "sessionId"
          ],
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          },
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "gamesPlayerTokens": {
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "applicationIds": {
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "sessionId"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "id": "games.recall.gamesPlayerTokens",
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}"
        },
        "linkPersona": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "path": "games/v1/recall:linkPersona",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "LinkPersonaRequest"
          },
          "id": "games.recall.linkPersona",
          "flatPath": "games/v1/recall:linkPersona",
          "httpMethod": "POST"
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "parameters": {
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "location": "query",
              "type": "string"
            },
            "packageName": {
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame).",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "id": "games.accesstokens.generatePlayGroupingApiToken"
        },
        "generateRecallPlayGroupingApiToken": {
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "httpMethod": "POST",
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken",
          "parameterOrder": [],
          "parameters": {
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "location": "query",
              "type": "string"
            },
            "recallSessionId": {
              "location": "query",
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID."
            },
            "packageName": {
              "location": "query",
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            }
          },
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request."
        }
      }
    },
    "events": {
      "methods": {
        "listDefinitions": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a list of the event definitions in this application.",
          "path": "games/v1/eventDefinitions",
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "games.events.listDefinitions",
          "flatPath": "games/v1/eventDefinitions",
          "httpMethod": "GET"
        },
        "record": {
          "path": "games/v1/events",
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.events.record",
          "httpMethod": "POST",
          "flatPath": "games/v1/events",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "parameterOrder": [],
          "request": {
            "$ref": "EventRecordRequest"
          }
        },
        "listByPlayer": {
          "id": "games.events.listByPlayer",
          "flatPath": "games/v1/events",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "path": "games/v1/events",
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user."
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "id": "games.achievementDefinitions.list",
          "flatPath": "games/v1/achievements",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists all the achievement definitions for your application.",
          "path": "games/v1/achievements",
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          }
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Application"
          },
          "path": "games/v1/applications/{applicationId}",
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/applications/{applicationId}",
          "id": "games.applications.get",
          "parameters": {
            "platformType": {
              "description": "Restrict application details returned to the specific platform.",
              "location": "query",
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "type": "string"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "applicationId"
          ]
        },
        "getEndPoint": {
          "path": "games/v1/applications/getEndPoint",
          "response": {
            "$ref": "EndPoint"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a URL for the requested end point type.",
          "id": "games.applications.getEndPoint",
          "flatPath": "games/v1/applications/getEndPoint",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {
            "endPointType": {
              "description": "Type of endpoint being requested.",
              "location": "query",
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "type": "string"
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "played": {
          "parameters": {},
          "description": "Indicate that the currently authenticated user is playing your application.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "flatPath": "games/v1/applications/played",
          "id": "games.applications.played",
          "path": "games/v1/applications/played"
        },
        "verify": {
          "path": "games/v1/applications/{applicationId}/verify",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.applications.verify",
          "httpMethod": "GET",
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "applicationId"
          ]
        }
      }
    },
    "players": {
      "methods": {
        "getScopedPlayerIds": {
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "path": "games/v1/players/me/scopedIds",
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "flatPath": "games/v1/players/me/scopedIds",
          "id": "games.players.getScopedPlayerIds",
          "parameters": {},
          "parameterOrder": []
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get the collection of players for the currently authenticated user.",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "path": "games/v1/players/me/players/{collection}",
          "parameterOrder": [
            "collection"
          ],
          "parameters": {
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "collection": {
              "description": "Collection of players being retrieved",
              "required": true,
              "location": "path",
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "games/v1/players/me/players/{collection}",
          "httpMethod": "GET",
          "id": "games.players.list"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "response": {
            "$ref": "Player"
          },
          "path": "games/v1/players/{playerId}",
          "parameterOrder": [
            "playerId"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "playerIdConsistencyToken": {
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "games/v1/players/{playerId}",
          "httpMethod": "GET",
          "id": "games.players.get"
        },
        "getMultipleApplicationPlayerIds": {
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.players.getMultipleApplicationPlayerIds",
          "httpMethod": "GET",
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "parameters": {
            "applicationIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for."
            }
          },
          "parameterOrder": []
        }
      }
    },
    "leaderboards": {
      "methods": {
        "get": {
          "path": "games/v1/leaderboards/{leaderboardId}",
          "response": {
            "$ref": "Leaderboard"
          },
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.leaderboards.get",
          "httpMethod": "GET",
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "leaderboardId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard."
            }
          },
          "parameterOrder": [
            "leaderboardId"
          ]
        },
        "list": {
          "parameterOrder": [],
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`."
            }
          },
          "id": "games.leaderboards.list",
          "flatPath": "games/v1/leaderboards",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists all the leaderboard metadata for your application.",
          "path": "games/v1/leaderboards",
          "response": {
            "$ref": "LeaderboardListResponse"
          }
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "path": "games/v1/stats",
          "response": {
            "$ref": "StatsResponse"
          },
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.stats.get",
          "httpMethod": "GET",
          "flatPath": "games/v1/stats",
          "parameters": {},
          "parameterOrder": []
        }
      }
    },
    "snapshots": {
      "methods": {
        "get": {
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "httpMethod": "GET",
          "id": "games.snapshots.get",
          "parameterOrder": [
            "snapshotId"
          ],
          "parameters": {
            "snapshotId": {
              "description": "The ID of the snapshot.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "response": {
            "$ref": "Snapshot"
          },
          "path": "games/v1/snapshots/{snapshotId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the metadata for a given snapshot ID."
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "id": "games.snapshots.list",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "parameterOrder": [
            "playerId"
          ],
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "path": "games/v1/players/{playerId}/snapshots",
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    }
  },
  "schemas": {
    "LinkPersonaRequest": {
      "type": "object",
      "properties": {
        "ttl": {
          "description": "Input only. Optional time-to-live.",
          "format": "google-duration",
          "type": "string"
        },
        "cardinalityConstraint": {
          "description": "Required. Cardinality constraint to observe when linking a persona to a player in the scope of a game.",
          "enumDescriptions": [
            "1:1 cardinality between in-game personas and Play Games Services players. By the end of the linking operation only one entry for the player and the persona should remain in the scope of the application. Whether a new link is created or not when this constraint is specified is determined by the chosen `ConflictingLinksResolutionPolicy`: * If `KEEP_EXISTING_LINKS` is specified and the provided persona is already linked to a different player, or the player is already linked to a different persona, no new link will be created and the already existing link(s) will remain as is(are). * If `CREATE_NEW_LINK` is specified and the provided persona is already linked to a different player, or the player is already linked to another persona, the older link(s) will be removed in favour of the new link being created."
          ],
          "type": "string",
          "enum": [
            "ONE_PERSONA_TO_ONE_PLAYER"
          ]
        },
        "persona": {
          "description": "Required. Stable identifier of the in-game account. Please refrain from re-using the same persona for different games.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Input only. Optional expiration time."
        },
        "sessionId": {
          "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
          "type": "string"
        },
        "token": {
          "description": "Required. Value of the token to create. Opaque to Play Games and assumed to be non-stable (encrypted with key rotation).",
          "type": "string"
        },
        "conflictingLinksResolutionPolicy": {
          "enumDescriptions": [
            "If link(s) between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, keep the already existing link(s). For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will remain and no new link will be added. Note that if the already existing links do violate the specified policy (which could occur if not all `LinkPersona` calls use the same `RecallTokensCardinalityConstraint`) this policy will leave these violations unresolved; in order to resolve conflicts, the {@link `CREATE_NEW_LINK` policy needs to be used to rewrite links resolving conflicts.",
            "If an existing link between a player and persona already exists which would result in violating the specified `RecallTokensCardinalityConstraint` if the new link was created, replace the already existing link(s) with the new link. For example, if Persona1-Player1 is already linked in the scope of application1 and a new link Persona1-Player2 is attempted to be created in the scope of application1, then the old link will be removed and the new link will be added to replace it."
          ],
          "description": "Required. Resolution policy to apply when the linking of a persona to a player would result in violating the specified cardinality constraint.",
          "type": "string",
          "enum": [
            "KEEP_EXISTING_LINKS",
            "CREATE_NEW_LINK"
          ]
        }
      },
      "description": "Request to link an in-game account with a PGS principal (encoded in the session id).",
      "id": "LinkPersonaRequest"
    },
    "ApplicationCategory": {
      "type": "object",
      "properties": {
        "primary": {
          "description": "The primary category.",
          "type": "string"
        },
        "secondary": {
          "description": "The secondary category.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationCategory`.",
          "type": "string"
        }
      },
      "id": "ApplicationCategory",
      "description": "An application category object."
    },
    "RetrievePlayerTokensResponse": {
      "id": "RetrievePlayerTokensResponse",
      "description": "Response for the RetrievePlayerTokens RPC",
      "type": "object",
      "properties": {
        "tokens": {
          "type": "array",
          "description": "Required. Recall tokens associated with the requested PGS Player principal",
          "items": {
            "$ref": "RecallToken"
          }
        }
      }
    },
    "InstanceWebDetails": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        },
        "launchUrl": {
          "description": "Launch URL for the game.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        }
      },
      "description": "The Web details resource.",
      "id": "InstanceWebDetails"
    },
    "PlayerLeaderboardScore": {
      "description": "A player leaderboard score object.",
      "id": "PlayerLeaderboardScore",
      "type": "object",
      "properties": {
        "socialRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The social rank of the score in this leaderboard."
        },
        "friendsRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The rank of the score in the friends collection for this leaderboard."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`.",
          "type": "string"
        },
        "scoreValue": {
          "description": "The numerical value of this score.",
          "format": "int64",
          "type": "string"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "writeTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "timeSpan": {
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "publicRank": {
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
          "$ref": "LeaderboardScoreRank"
        }
      }
    },
    "CategoryListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories with usage data.",
          "type": "array"
        }
      },
      "id": "CategoryListResponse",
      "description": "A third party list metagame categories response."
    },
    "PlayerAchievementListResponse": {
      "description": "A list of achievement objects.",
      "id": "PlayerAchievementListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The achievements.",
          "items": {
            "$ref": "PlayerAchievement"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "AchievementUpdateMultipleResponse": {
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "id": "AchievementUpdateMultipleResponse",
      "type": "object",
      "properties": {
        "updatedAchievements": {
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "description": "The updated state of the achievements."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        }
      }
    },
    "PlayerScoreSubmissionList": {
      "type": "object",
      "properties": {
        "scores": {
          "type": "array",
          "items": {
            "$ref": "ScoreSubmission"
          },
          "description": "The score submissions."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreSubmissionList`.",
          "type": "string"
        }
      },
      "id": "PlayerScoreSubmissionList",
      "description": "A list of score submission requests."
    },
    "PlayerExperienceInfo": {
      "type": "object",
      "properties": {
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "type": "string",
          "format": "int64"
        },
        "currentExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The current number of experience points for the player."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`.",
          "type": "string"
        },
        "currentLevel": {
          "$ref": "PlayerLevel",
          "description": "The current level of the player."
        },
        "nextLevel": {
          "$ref": "PlayerLevel",
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level."
        }
      },
      "id": "PlayerExperienceInfo",
      "description": "1P/3P metadata about the player's experience."
    },
    "AchievementUpdateMultipleRequest": {
      "id": "AchievementUpdateMultipleRequest",
      "description": "A list of achievement update requests.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        },
        "updates": {
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "description": "The individual achievement update requests."
        }
      }
    },
    "LeaderboardEntry": {
      "type": "object",
      "properties": {
        "timeSpan": {
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "description": "The time span of this high score."
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "writeTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`.",
          "type": "string"
        },
        "scoreValue": {
          "format": "int64",
          "type": "string",
          "description": "The numerical value of this score."
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        }
      },
      "description": "The Leaderboard Entry resource.",
      "id": "LeaderboardEntry"
    },
    "AchievementRevealResponse": {
      "id": "AchievementRevealResponse",
      "description": "An achievement reveal response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`.",
          "type": "string"
        },
        "currentState": {
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked.",
          "type": "string",
          "enum": [
            "REVEALED",
            "UNLOCKED"
          ]
        }
      }
    },
    "StatsResponse": {
      "description": "A third party stats resource.",
      "id": "StatsResponse",
      "type": "object",
      "properties": {
        "spend_percentile": {
          "format": "float",
          "type": "number",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "avg_session_length_minutes": {
          "type": "number",
          "format": "float",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information."
        },
        "num_sessions_percentile": {
          "format": "float",
          "type": "number",
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information."
        },
        "high_spender_probability": {
          "format": "float",
          "type": "number",
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information."
        },
        "churn_probability": {
          "type": "number",
          "format": "float",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information."
        },
        "num_sessions": {
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "type": "integer",
          "format": "int32"
        },
        "spend_probability": {
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "total_spend_next_28_days": {
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "days_since_last_played": {
          "type": "integer",
          "format": "int32",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "num_purchases": {
          "format": "int32",
          "type": "integer",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        }
      }
    },
    "EventDefinition": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "childEvents": {
          "items": {
            "$ref": "EventChild"
          },
          "description": "A list of events that are a child of this event.",
          "type": "array"
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "visibility": {
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "description": "The visibility of event being tracked in this definition.",
          "type": "string",
          "enum": [
            "REVEALED",
            "HIDDEN"
          ]
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        }
      },
      "description": "An event definition resource.",
      "id": "EventDefinition"
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "id": "ProfileSettings",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        },
        "friendsListVisibility": {
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ],
          "type": "string",
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ]
        },
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        }
      }
    },
    "AchievementDefinitionsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "id": "AchievementDefinitionsListResponse",
      "description": "A list of achievement definition objects."
    },
    "PlayerEventListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The player events.",
          "type": "array"
        }
      },
      "description": "A ListByPlayer response.",
      "id": "PlayerEventListResponse"
    },
    "EventChild": {
      "id": "EventChild",
      "description": "An event child relationship resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`.",
          "type": "string"
        },
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        }
      }
    },
    "InstanceIosDetails": {
      "description": "The iOS details resource.",
      "id": "InstanceIosDetails",
      "type": "object",
      "properties": {
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        }
      }
    },
    "ImageAsset": {
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "width": {
          "description": "The width of the asset.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "description": "The height of the asset.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        }
      },
      "id": "ImageAsset",
      "description": "An image asset object."
    },
    "UnlinkPersonaResponse": {
      "type": "object",
      "properties": {
        "unlinked": {
          "description": "Required. Whether a Recall token specified by the request was deleted. Can be 'false' when there were no Recall tokens satisfied the criteria from the request.",
          "type": "boolean"
        }
      },
      "description": "Response for the UnlinkPersona RPC",
      "id": "UnlinkPersonaResponse"
    },
    "EventUpdateResponse": {
      "type": "object",
      "properties": {
        "eventFailures": {
          "type": "array",
          "description": "Any failures updating a particular event.",
          "items": {
            "$ref": "EventRecordFailure"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        },
        "batchFailures": {
          "type": "array",
          "description": "Any batch-wide failures which occurred applying updates.",
          "items": {
            "$ref": "EventBatchRecordFailure"
          }
        },
        "playerEvents": {
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The current status of any updated events"
        }
      },
      "id": "EventUpdateResponse",
      "description": "An event period update resource."
    },
    "PlayerScoreListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "The score submissions statuses.",
          "type": "array"
        }
      },
      "description": "A list of score submission statuses.",
      "id": "PlayerScoreListResponse"
    },
    "PlayerLevel": {
      "type": "object",
      "properties": {
        "minExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The minimum experience points for this level."
        },
        "maxExperiencePoints": {
          "format": "int64",
          "type": "string",
          "description": "The maximum experience points for this level."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "level": {
          "format": "int32",
          "type": "integer",
          "description": "The level for the user."
        }
      },
      "description": "1P/3P metadata about a user's level.",
      "id": "PlayerLevel"
    },
    "SnapshotImage": {
      "description": "An image of a snapshot.",
      "id": "SnapshotImage",
      "type": "object",
      "properties": {
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the image."
        },
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        },
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the image."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        }
      }
    },
    "RecallToken": {
      "type": "object",
      "properties": {
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        },
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Optional expiration time of the token"
        }
      },
      "id": "RecallToken",
      "description": "Recall token data returned from RetrievePlayerTokens RPC"
    },
    "LinkPersonaResponse": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ],
          "description": "Output only. State of a persona linking attempt."
        }
      },
      "description": "Outcome of a persona linking attempt.",
      "id": "LinkPersonaResponse"
    },
    "PlayerAchievement": {
      "id": "PlayerAchievement",
      "description": "An achievement object.",
      "type": "object",
      "properties": {
        "experiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps for an incremental achievement."
        },
        "achievementState": {
          "description": "The state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "lastUpdatedTimestamp": {
          "description": "The timestamp of the last modification to this achievement's state.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AchievementSetStepsAtLeastResponse": {
      "id": "AchievementSetStepsAtLeastResponse",
      "description": "An achievement set steps at least response.",
      "type": "object",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementSetStepsAtLeastResponse`.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ScopedPlayerIds": {
      "type": "object",
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        }
      },
      "id": "ScopedPlayerIds",
      "description": "Scoped player identifiers."
    },
    "LeaderboardListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Leaderboard"
          },
          "description": "The leaderboards.",
          "type": "array"
        }
      },
      "description": "A list of leaderboard objects.",
      "id": "LeaderboardListResponse"
    },
    "SnapshotListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "The snapshots."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        }
      },
      "description": "A third party list snapshots response.",
      "id": "SnapshotListResponse"
    },
    "GamesAchievementIncrement": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "steps": {
          "description": "The number of steps to be incremented.",
          "type": "integer",
          "format": "int32"
        },
        "requestId": {
          "description": "The requestId associated with an increment to an achievement.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GamesAchievementIncrement",
      "description": "The payload to request to increment an achievement."
    },
    "MetagameConfig": {
      "type": "object",
      "properties": {
        "playerLevels": {
          "description": "The list of player levels.",
          "items": {
            "$ref": "PlayerLevel"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        },
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The metagame config resource",
      "id": "MetagameConfig"
    },
    "EventPeriodUpdate": {
      "type": "object",
      "properties": {
        "timePeriod": {
          "description": "The time period being covered by this update.",
          "$ref": "EventPeriodRange"
        },
        "updates": {
          "description": "The updates being made for this time period.",
          "items": {
            "$ref": "EventUpdateRequest"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        }
      },
      "description": "An event period update resource.",
      "id": "EventPeriodUpdate"
    },
    "AchievementUpdateRequest": {
      "description": "A request to update an achievement.",
      "id": "AchievementUpdateRequest",
      "type": "object",
      "properties": {
        "setStepsAtLeastPayload": {
          "$ref": "GamesAchievementSetStepsAtLeast",
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement."
        },
        "updateType": {
          "type": "string",
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ],
          "description": "The type of update being applied.",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        },
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement.",
          "$ref": "GamesAchievementIncrement"
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        }
      }
    },
    "PlayGroupingApiToken": {
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "id": "PlayGroupingApiToken",
      "type": "object",
      "properties": {
        "tokenValue": {
          "description": "Value of the token.",
          "type": "string"
        }
      }
    },
    "PlayerScore": {
      "id": "PlayerScore",
      "description": "A player score.",
      "type": "object",
      "properties": {
        "timeSpan": {
          "description": "The time span for this player score.",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ]
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "score": {
          "description": "The numerical value for this player score.",
          "format": "int64",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        }
      }
    },
    "EventRecordRequest": {
      "description": "An event period update resource.",
      "id": "EventRecordRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordRequest`.",
          "type": "string"
        },
        "requestId": {
          "description": "The request ID used to identify this attempt to record events.",
          "format": "int64",
          "type": "string"
        },
        "currentTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch)."
        },
        "timePeriods": {
          "type": "array",
          "description": "A list of the time period updates being made in this request.",
          "items": {
            "$ref": "EventPeriodUpdate"
          }
        }
      }
    },
    "AchievementUpdateResponse": {
      "type": "object",
      "properties": {
        "currentSteps": {
          "description": "The current steps recorded for this achievement if it is incremental.",
          "type": "integer",
          "format": "int32"
        },
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "currentState": {
          "description": "The current state of the achievement.",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "type": "string",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        }
      },
      "description": "An updated achievement.",
      "id": "AchievementUpdateResponse"
    },
    "LeaderboardScores": {
      "type": "object",
      "properties": {
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "numScores": {
          "type": "string",
          "format": "int64",
          "description": "The total number of scores in the leaderboard."
        },
        "items": {
          "items": {
            "$ref": "LeaderboardEntry"
          },
          "description": "The scores in the leaderboard.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present.",
          "$ref": "LeaderboardEntry"
        }
      },
      "id": "LeaderboardScores",
      "description": "A ListScores response."
    },
    "ResetPersonaResponse": {
      "type": "object",
      "properties": {
        "unlinked": {
          "description": "Required. Whether any tokens were unlinked as a result of this request.",
          "type": "boolean"
        }
      },
      "id": "ResetPersonaResponse",
      "description": "Response for the ResetPersona RPC"
    },
    "EventDefinitionListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinitionListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The event definitions.",
          "items": {
            "$ref": "EventDefinition"
          }
        }
      },
      "id": "EventDefinitionListResponse",
      "description": "A ListDefinitions response."
    },
    "Category": {
      "id": "Category",
[...]
