{
  "description": "The Google Play Games Service allows developers to enhance games with social leaderboards, achievements, game state, sign-in with Google, and more.",
  "documentationLink": "https://developers.google.com/games/",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        },
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        }
      }
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "leaderboards": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists all the leaderboard metadata for your application.",
          "parameterOrder": [],
          "path": "games/v1/leaderboards",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "flatPath": "games/v1/leaderboards",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "id": "games.leaderboards.list"
        },
        "get": {
          "id": "games.leaderboards.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Leaderboard"
          },
          "parameters": {
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "path": "games/v1/leaderboards/{leaderboardId}"
        }
      }
    },
    "events": {
      "methods": {
        "listDefinitions": {
          "id": "games.events.listDefinitions",
          "httpMethod": "GET",
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/eventDefinitions",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a list of the event definitions in this application.",
          "path": "games/v1/eventDefinitions"
        },
        "record": {
          "id": "games.events.record",
          "httpMethod": "POST",
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "flatPath": "games/v1/events",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "path": "games/v1/events",
          "request": {
            "$ref": "EventRecordRequest"
          }
        },
        "listByPlayer": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "parameterOrder": [],
          "path": "games/v1/events",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/events",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "id": "games.events.listByPlayer"
        }
      }
    },
    "snapshots": {
      "methods": {
        "get": {
          "parameterOrder": [
            "snapshotId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the metadata for a given snapshot ID.",
          "path": "games/v1/snapshots/{snapshotId}",
          "id": "games.snapshots.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Snapshot"
          },
          "parameters": {
            "snapshotId": {
              "description": "The ID of the snapshot.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "games/v1/snapshots/{snapshotId}"
        },
        "list": {
          "path": "games/v1/players/{playerId}/snapshots",
          "parameterOrder": [
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "id": "games.snapshots.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "playerId": {
              "type": "string",
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "id": "games.applications.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          },
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "platformType": {
              "description": "Restrict application details returned to the specific platform.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "enum": [
                "ANDROID",
                "IOS",
                "WEB_APP"
              ]
            }
          },
          "flatPath": "games/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data.",
          "path": "games/v1/applications/{applicationId}"
        },
        "getEndPoint": {
          "path": "games/v1/applications/getEndPoint",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns a URL for the requested end point type.",
          "flatPath": "games/v1/applications/getEndPoint",
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "query",
              "description": "The application ID from the Google Play developer console."
            },
            "endPointType": {
              "location": "query",
              "description": "Type of endpoint being requested.",
              "enum": [
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "type": "string",
              "enumDescriptions": [
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ]
            }
          },
          "id": "games.applications.getEndPoint",
          "httpMethod": "POST",
          "response": {
            "$ref": "EndPoint"
          }
        },
        "verify": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "id": "games.applications.verify",
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            }
          },
          "path": "games/v1/applications/{applicationId}/verify",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "parameterOrder": [
            "applicationId"
          ]
        },
        "played": {
          "path": "games/v1/applications/played",
          "httpMethod": "POST",
          "id": "games.applications.played",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Indicate that the currently authenticated user is playing your application.",
          "parameterOrder": [],
          "flatPath": "games/v1/applications/played",
          "parameters": {}
        }
      }
    },
    "players": {
      "methods": {
        "get": {
          "path": "games/v1/players/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "parameterOrder": [
            "playerId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Player"
          },
          "id": "games.players.get",
          "flatPath": "games/v1/players/{playerId}",
          "parameters": {
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "playerIdConsistencyToken": {
              "type": "string",
              "location": "query",
              "description": "Consistency token of the player id. The call returns a 'not found' result when the token is present and invalid. Empty value is ignored. See also GlobalPlayerIdConsistencyTokenProto"
            }
          }
        },
        "getMultipleApplicationPlayerIds": {
          "path": "games/v1/players/me/multipleApplicationPlayerIds",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get the application player ids for the currently authenticated player across all requested games by the same developer as the calling application. This will only return ids for players that actually have an id (scoped or otherwise) with that game.",
          "parameterOrder": [],
          "flatPath": "games/v1/players/me/multipleApplicationPlayerIds",
          "parameters": {
            "applicationIds": {
              "location": "query",
              "type": "string",
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "repeated": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GetMultipleApplicationPlayerIdsResponse"
          },
          "id": "games.players.getMultipleApplicationPlayerIds"
        },
        "getScopedPlayerIds": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves scoped player identifiers for currently authenticated user.",
          "parameterOrder": [],
          "path": "games/v1/players/me/scopedIds",
          "httpMethod": "GET",
          "response": {
            "$ref": "ScopedPlayerIds"
          },
          "id": "games.players.getScopedPlayerIds",
          "parameters": {},
          "flatPath": "games/v1/players/me/scopedIds"
        },
        "list": {
          "id": "games.players.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "parameters": {
            "collection": {
              "type": "string",
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ],
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "enumDeprecated": [
                true,
                true,
                false
              ],
              "location": "path",
              "description": "Collection of players being retrieved",
              "required": true
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            }
          },
          "flatPath": "games/v1/players/me/players/{collection}",
          "parameterOrder": [
            "collection"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get the collection of players for the currently authenticated user.",
          "path": "games/v1/players/me/players/{collection}"
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "path": "games/v1/achievements",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists all the achievement definitions for your application.",
          "id": "games.achievementDefinitions.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "flatPath": "games/v1/achievements",
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          }
        }
      }
    },
    "scores": {
      "methods": {
        "submit": {
          "parameters": {
            "score": {
              "description": "Required. The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "required": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "scoreTag": {
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "location": "query",
              "type": "string"
            },
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "httpMethod": "POST",
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "id": "games.scores.submit",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Submits a score to the specified leaderboard.",
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/scores"
        },
        "submitMultiple": {
          "path": "games/v1/leaderboards/scores",
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Submits multiple scores to leaderboards.",
          "parameterOrder": [],
          "flatPath": "games/v1/leaderboards/scores",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "id": "games.scores.submitMultiple"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "id": "games.scores.list",
          "parameters": {
            "timeSpan": {
              "location": "query",
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ]
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "collection": {
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "location": "path",
              "description": "The collection of scores you're requesting.",
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ]
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}"
        },
        "get": {
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "parameters": {
            "playerId": {
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            },
            "timeSpan": {
              "enum": [
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "enumDescriptions": [
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "location": "path",
              "description": "The time span for the scores and ranks you're requesting.",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "includeRankType": {
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
              "location": "query",
              "enumDeprecated": [
                false,
                false,
                true,
                false
              ],
              "enum": [
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "type": "string",
              "enumDescriptions": [
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ]
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "id": "games.scores.get",
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ]
        },
        "listWindow": {
          "parameters": {
            "returnTopIfAbsent": {
              "location": "query",
              "type": "boolean",
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "timeSpan": {
              "location": "query",
              "description": "Required. The time span for the scores and ranks you're requesting.",
              "required": true,
              "enum": [
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "enumDescriptions": [
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ]
            },
            "collection": {
              "description": "The collection of scores you're requesting.",
              "required": true,
              "enumDeprecated": [
                false,
                true,
                false
              ],
              "location": "path",
              "type": "string",
              "enumDescriptions": [
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enum": [
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ]
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "resultsAbove": {
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "format": "int32"
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "id": "games.scores.listWindow",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}"
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "flatPath": "games/v1/stats",
          "parameters": {},
          "httpMethod": "GET",
          "response": {
            "$ref": "StatsResponse"
          },
          "id": "games.stats.get",
          "path": "games/v1/stats",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "parameterOrder": []
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "path": "games/v1/revisions/check",
          "parameterOrder": [
            "clientRevision"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Checks whether the games client is out of date.",
          "id": "games.revisions.check",
          "httpMethod": "GET",
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "flatPath": "games/v1/revisions/check",
          "parameters": {
            "clientRevision": {
              "description": "Required. The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "required": true,
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "achievements": {
      "methods": {
        "reveal": {
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/reveal",
          "parameters": {
            "achievementId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "id": "games.achievements.reveal",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementRevealResponse"
          }
        },
        "increment": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "id": "games.achievements.increment",
          "parameters": {
            "stepsToIncrement": {
              "format": "int32",
              "type": "integer",
              "description": "Required. The number of steps to increment.",
              "required": true,
              "location": "query"
            },
            "requestId": {
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "path": "games/v1/achievements/{achievementId}/increment"
        },
        "setStepsAtLeast": {
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "steps": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Required. The minimum value to set the steps to.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "id": "games.achievements.setStepsAtLeast",
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "parameterOrder": [
            "achievementId",
            "steps"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
          "parameterOrder": [
            "playerId"
          ],
          "path": "games/v1/players/{playerId}/achievements",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "id": "games.achievements.list",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "playerId": {
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "state": {
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "type": "string",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "location": "query"
            }
          },
          "flatPath": "games/v1/players/{playerId}/achievements"
        },
        "unlock": {
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "id": "games.achievements.unlock",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Unlocks this achievement for the currently authenticated player.",
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1/achievements/{achievementId}/unlock"
        },
        "updateMultiple": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Updates multiple achievements for the currently authenticated player.",
          "parameterOrder": [],
          "path": "games/v1/achievements/updateMultiple",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "id": "games.achievements.updateMultiple",
          "parameters": {},
          "flatPath": "games/v1/achievements/updateMultiple"
        }
      }
    },
    "recall": {
      "methods": {
        "linkPersona": {
          "parameters": {},
          "flatPath": "games/v1/recall:linkPersona",
          "httpMethod": "POST",
          "response": {
            "$ref": "LinkPersonaResponse"
          },
          "id": "games.recall.linkPersona",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Associate the PGS Player principal encoded in the provided recall session id with an in-game account",
          "parameterOrder": [],
          "path": "games/v1/recall:linkPersona",
          "request": {
            "$ref": "LinkPersonaRequest"
          }
        },
        "retrieveTokens": {
          "parameters": {
            "sessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "games/v1/recall/tokens/{sessionId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrievePlayerTokensResponse"
          },
          "id": "games.recall.retrieveTokens",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Retrieve all Recall tokens associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "parameterOrder": [
            "sessionId"
          ],
          "path": "games/v1/recall/tokens/{sessionId}"
        },
        "unlinkPersona": {
          "id": "games.recall.unlinkPersona",
          "httpMethod": "POST",
          "response": {
            "$ref": "UnlinkPersonaResponse"
          },
          "parameters": {},
          "flatPath": "games/v1/recall:unlinkPersona",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete a Recall token linking the PGS Player principal identified by the Recall session and an in-game account identified either by the 'persona' or by the token value.",
          "path": "games/v1/recall:unlinkPersona",
          "request": {
            "$ref": "UnlinkPersonaRequest"
          }
        },
        "gamesPlayerTokens": {
          "parameterOrder": [
            "sessionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Retrieve the Recall tokens from all requested games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have an active PGS Player profile.",
          "path": "games/v1/recall/gamesPlayerTokens/{sessionId}",
          "id": "games.recall.gamesPlayerTokens",
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrieveGamesPlayerTokensResponse"
          },
          "parameters": {
            "sessionId": {
              "location": "path",
              "type": "string",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true
            },
            "applicationIds": {
              "description": "Required. The application IDs from the Google Play developer console for the games to return scoped ids for.",
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "games/v1/recall/gamesPlayerTokens/{sessionId}"
        },
        "lastTokenFromAllDeveloperGames": {
          "path": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameterOrder": [
            "sessionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Retrieve the last Recall token from all developer games that is associated with the PGS Player encoded in the provided recall session id. The API is only available for users that have active PGS Player profile.",
          "flatPath": "games/v1/recall/developerGamesLastPlayerToken/{sessionId}",
          "parameters": {
            "sessionId": {
              "type": "string",
              "location": "path",
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application.",
              "required": true
            }
          },
          "id": "games.recall.lastTokenFromAllDeveloperGames",
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrieveDeveloperGamesLastPlayerTokenResponse"
          }
        },
        "resetPersona": {
          "parameters": {},
          "flatPath": "games/v1/recall:resetPersona",
          "id": "games.recall.resetPersona",
          "httpMethod": "POST",
          "response": {
            "$ref": "ResetPersonaResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Delete all Recall tokens linking the given persona to any player (with or without a profile).",
          "path": "games/v1/recall:resetPersona",
          "request": {
            "$ref": "ResetPersonaRequest"
          }
        }
      }
    },
    "metagame": {
      "methods": {
        "getMetagameConfig": {
          "flatPath": "games/v1/metagameConfig",
          "parameters": {},
          "httpMethod": "GET",
          "response": {
            "$ref": "MetagameConfig"
          },
          "id": "games.metagame.getMetagameConfig",
          "path": "games/v1/metagameConfig",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Return the metagame configuration data for the calling application.",
          "parameterOrder": []
        },
        "listCategoriesByPlayer": {
          "id": "games.metagame.listCategoriesByPlayer",
          "httpMethod": "GET",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "parameters": {
            "maxResults": {
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "collection": {
              "location": "path",
              "description": "The collection of categories for which data will be returned.",
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "Retrieve data for all categories. This is the default."
              ],
              "enum": [
                "ALL"
              ]
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "playerId": {
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "games/v1/players/{playerId}/categories/{collection}",
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "List play data aggregated per category for the player corresponding to `playerId`."
        }
      }
    },
    "accesstokens": {
      "methods": {
        "generatePlayGroupingApiToken": {
          "id": "games.accesstokens.generatePlayGroupingApiToken",
          "httpMethod": "POST",
          "response": {
            "$ref": "GeneratePlayGroupingApiTokenResponse"
          },
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "query",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            },
            "persona": {
              "type": "string",
              "location": "query",
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system."
            }
          },
          "flatPath": "games/v1/accesstokens/generatePlayGroupingApiToken",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Generates a Play Grouping API token for the PGS user identified by the attached credential.",
          "path": "games/v1/accesstokens/generatePlayGroupingApiToken"
        },
        "generateRecallPlayGroupingApiToken": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Generates a Play Grouping API token for the PGS user identified by the Recall session ID provided in the request.",
          "parameterOrder": [],
          "path": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "parameters": {
            "persona": {
              "description": "Required. Persona to associate with the token. Persona is a developer-provided stable identifier of the user. Must be deterministically generated (e.g. as a one-way hash) from the user account ID and user profile ID (if the app has the concept), according to the developer's own user identity system.",
              "location": "query",
              "type": "string"
            },
            "recallSessionId": {
              "description": "Required. Opaque server-generated string that encodes all the necessary information to identify the PGS player / Google user and application. See https://developer.android.com/games/pgs/recall/recall-setup on how to integrate with Recall and get session ID.",
              "type": "string",
              "location": "query"
            },
            "packageName": {
              "location": "query",
              "type": "string",
              "description": "Required. App package name to generate the token for (e.g. com.example.mygame)."
            }
          },
          "flatPath": "games/v1/accesstokens/generateRecallPlayGroupingApiToken",
          "httpMethod": "POST",
          "response": {
            "$ref": "GenerateRecallPlayGroupingApiTokenResponse"
          },
          "id": "games.accesstokens.generateRecallPlayGroupingApiToken"
        }
      }
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260723",
  "batchPath": "batch",
  "name": "games",
  "canonicalName": "Games",
  "ownerDomain": "google.com",
  "rootUrl": "https://games.googleapis.com/",
  "id": "games:v1",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://games.googleapis.com/",
  "schemas": {
    "EventUpdateResponse": {
      "id": "EventUpdateResponse",
      "type": "object",
      "properties": {
        "batchFailures": {
          "description": "Any batch-wide failures which occurred applying updates.",
          "type": "array",
          "items": {
            "$ref": "EventBatchRecordFailure"
          }
        },
        "eventFailures": {
          "type": "array",
          "items": {
            "$ref": "EventRecordFailure"
          },
          "description": "Any failures updating a particular event."
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`.",
          "type": "string"
        }
      },
      "description": "An event period update resource."
    },
    "InstanceAndroidDetails": {
      "properties": {
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        }
      },
      "description": "The Android instance details resource.",
      "id": "InstanceAndroidDetails",
      "type": "object"
    },
    "EventPeriodUpdate": {
      "type": "object",
      "id": "EventPeriodUpdate",
      "description": "An event period update resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodUpdate`.",
          "type": "string"
        },
        "timePeriod": {
          "$ref": "EventPeriodRange",
          "description": "The time period being covered by this update."
        },
        "updates": {
          "description": "The updates being made for this time period.",
          "type": "array",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        }
      }
    },
    "EventRecordFailure": {
      "description": "An event update failure resource.",
      "properties": {
        "failureCause": {
          "enum": [
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "type": "string",
          "enumDescriptions": [
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "description": "The cause for the update failure."
        },
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventRecordFailure"
    },
    "EventDefinition": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "visibility": {
          "type": "string",
          "enumDescriptions": [
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "enum": [
            "REVEALED",
            "HIDDEN"
          ],
          "description": "The visibility of event being tracked in this definition."
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        },
        "childEvents": {
          "type": "array",
          "items": {
            "$ref": "EventChild"
          },
          "description": "A list of events that are a child of this event."
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        }
      },
      "description": "An event definition resource.",
      "id": "EventDefinition",
      "type": "object"
    },
    "PlayerLevel": {
      "type": "object",
      "id": "PlayerLevel",
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        },
        "minExperiencePoints": {
          "description": "The minimum experience points for this level.",
          "format": "int64",
          "type": "string"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "LeaderboardListResponse": {
      "type": "object",
      "id": "LeaderboardListResponse",
      "description": "A list of leaderboard objects.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Leaderboard"
          },
          "description": "The leaderboards."
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "PlayerScore": {
      "properties": {
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`.",
          "type": "string"
        },
        "score": {
          "type": "string",
          "description": "The numerical value for this player score.",
          "format": "int64"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "timeSpan": {
          "description": "The time span for this player score.",
          "enum": [
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        }
      },
      "description": "A player score.",
      "id": "PlayerScore",
      "type": "object"
    },
    "RecallToken": {
      "type": "object",
      "id": "RecallToken",
      "description": "Recall token data returned from RetrievePlayerTokens RPC",
      "properties": {
        "multiPlayerPersona": {
          "description": "Required. Whether the persona identified by the token is linked to multiple PGS Players",
          "type": "boolean"
        },
        "token": {
          "description": "Required. Value of the Recall token as it is provided by the client via LinkPersona RPC",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. Optional expiration time of the token",
          "format": "google-datetime"
        }
      }
    },
    "EventUpdateRequest": {
      "type": "object",
      "id": "EventUpdateRequest",
      "description": "An event period update resource.",
      "properties": {
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        }
      }
    },
    "ResetPersonaRequest": {
      "properties": {
        "persona": {
          "description": "Value of the 'persona' field as it was provided by the client in LinkPersona RPC",
          "type": "string"
        }
      },
      "description": "Request to remove all Recall tokens associated with a persona for an app.",
      "id": "ResetPersonaRequest",
      "type": "object"
    },
    "ApplicationVerifyResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`.",
          "type": "string"
        },
        "player_id": {
          "description": "The ID of the player that was issued the auth token used in this request.",
          "type": "string"
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        }
      },
      "description": "A third party application verification response resource.",
      "id": "ApplicationVerifyResponse",
      "type": "object"
    },
    "EndPoint": {
      "description": "Container for a URL end point of the requested type.",
      "properties": {
        "url": {
          "description": "A URL suitable for loading in a web browser for the requested endpoint.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EndPoint"
    },
    "AchievementUpdateResponse": {
      "type": "object",
      "id": "AchievementUpdateResponse",
      "description": "An updated achievement.",
      "properties": {
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "currentSteps": {
          "description": "The current steps recorded for this achievement if it is incremental.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`.",
          "type": "string"
        },
        "updateOccurred": {
          "description": "Whether the requested updates actually affected the achievement.",
          "type": "boolean"
        },
        "currentState": {
          "description": "The current state of the achievement.",
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      }
    },
    "ApplicationPlayerId": {
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "playerId": {
          "description": "The player identifier for the application.",
          "type": "string"
        }
      },
      "description": "Primary scoped player identifier for an application.",
      "id": "ApplicationPlayerId",
      "type": "object"
    },
    "InstanceWebDetails": {
      "type": "object",
      "id": "InstanceWebDetails",
      "description": "The Web details resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "launchUrl": {
          "description": "Launch URL for the game.",
          "type": "string"
        }
      }
    },
    "GamesAchievementIncrement": {
      "id": "GamesAchievementIncrement",
      "type": "object",
      "properties": {
        "steps": {
          "type": "integer",
          "description": "The number of steps to be incremented.",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "The requestId associated with an increment to an achievement.",
          "format": "int64"
        }
      },
      "description": "The payload to request to increment an achievement."
    },
    "Snapshot": {
      "description": "An snapshot object.",
      "properties": {
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "coverImage": {
          "description": "The cover image of this snapshot. May be absent if there is no image.",
          "$ref": "SnapshotImage"
        },
        "description": {
          "description": "The description of this snapshot.",
          "type": "string"
        },
        "lastModifiedMillis": {
          "type": "string",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "format": "int64"
        },
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        },
        "progressValue": {
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`.",
          "type": "string"
        },
        "type": {
          "description": "The type of this snapshot.",
          "type": "string",
          "enumDescriptions": [
            "A snapshot representing a save game."
          ],
          "enum": [
            "SAVE_GAME"
          ]
        },
        "durationMillis": {
          "type": "string",
          "description": "The duration associated with this snapshot, in millis.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Snapshot"
    },
    "AchievementUnlockResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        }
      },
      "description": "An achievement unlock response",
      "id": "AchievementUnlockResponse",
      "type": "object"
    },
    "PlayGroupingApiToken": {
      "properties": {
        "tokenValue": {
          "description": "Value of the token.",
          "type": "string"
        }
      },
      "description": "Token data returned from GeneratePlayGroupingApiToken RPC.",
      "id": "PlayGroupingApiToken",
      "type": "object"
    },
    "PlayerLeaderboardScoreListResponse": {
      "id": "PlayerLeaderboardScoreListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The leaderboard scores.",
          "type": "array",
          "items": {
            "$ref": "PlayerLeaderboardScore"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        },
        "player": {
          "$ref": "Player",
          "description": "The Player resources for the owner of this score."
        }
      },
      "description": "A list of player leaderboard scores."
    },
    "GamePlayerToken": {
      "description": "Recall tokens for a game.",
      "properties": {
        "applicationId": {
          "description": "The application that this player identifier is for.",
          "type": "string"
        },
        "recallToken": {
          "description": "Recall token data.",
          "$ref": "RecallToken"
        }
      },
      "type": "object",
      "id": "GamePlayerToken"
    },
    "InstanceIosDetails": {
      "type": "object",
      "id": "InstanceIosDetails",
      "description": "The iOS details resource.",
      "properties": {
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        },
        "bundleIdentifier": {
          "description": "Bundle identifier.",
          "type": "string"
        },
        "itunesAppId": {
          "description": "iTunes App ID.",
          "type": "string"
        },
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        }
      }
    },
    "PlayerScoreResponse": {
      "id": "PlayerScoreResponse",
      "type": "object",
      "properties": {
        "unbeatenScores": {
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "type": "array",
          "items": {
            "$ref": "PlayerScore"
          }
        },
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`.",
          "type": "string"
        },
        "beatenScoreTimeSpans": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "enum": [
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ]
          },
          "description": "The time spans where the submitted score is better than the existing score for that time span."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "description": "A list of leaderboard entry resources."
    },
    "StatsResponse": {
      "properties": {
        "churn_probability": {
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "high_spender_probability": {
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "num_sessions": {
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        },
        "num_sessions_percentile": {
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "total_spend_next_28_days": {
          "type": "number",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float"
        },
        "days_since_last_played": {
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "spend_percentile": {
          "type": "number",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "format": "float"
        },
        "avg_session_length_minutes": {
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "num_purchases": {
          "type": "integer",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        },
        "spend_probability": {
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "A third party stats resource.",
      "id": "StatsResponse",
      "type": "object"
    },
    "AchievementDefinitionsListResponse": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The achievement definitions.",
          "type": "array",
          "items": {
            "$ref": "AchievementDefinition"
          }
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      },
      "description": "A list of achievement definition objects.",
      "id": "AchievementDefinitionsListResponse",
      "type": "object"
    },
    "SnapshotImage": {
      "id": "SnapshotImage",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        },
        "width": {
          "type": "integer",
          "description": "The width of the image.",
          "format": "int32"
        },
        "height": {
          "description": "The height of the image.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        },
        "mime_type": {
          "description": "The MIME type of the image.",
          "type": "string"
        }
      },
      "description": "An image of a snapshot."
    },
    "AchievementUpdateRequest": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`.",
          "type": "string"
        },
        "updateType": {
          "description": "The type of update being applied.",
          "type": "string",
          "enumDescriptions": [
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "enum": [
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ]
        },
        "incrementPayload": {
          "$ref": "GamesAchievementIncrement",
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement."
        },
        "setStepsAtLeastPayload": {
          "$ref": "GamesAchievementSetStepsAtLeast",
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement."
        },
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        }
      },
      "description": "A request to update an achievement.",
      "id": "AchievementUpdateRequest",
      "type": "object"
    },
    "MetagameConfig": {
      "id": "MetagameConfig",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        },
        "playerLevels": {
          "type": "array",
          "items": {
            "$ref": "PlayerLevel"
          },
          "description": "The list of player levels."
        },
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The metagame config resource"
    },
    "ScopedPlayerIds": {
      "id": "ScopedPlayerIds",
      "type": "object",
      "properties": {
        "gamePlayerId": {
          "description": "Game-scoped player identifier. This is the same id that is returned in GetPlayer game_player_id field.",
          "type": "string"
        },
        "developerPlayerKey": {
          "description": "Identifier of the player across all games of the given developer. Every player has the same developer_player_key in all games of one developer. Developer player key changes for the game if the game is transferred to another developer. Note that game_player_id will stay unchanged.",
          "type": "string"
        }
      },
      "description": "Scoped player identifiers."
    },
    "SnapshotListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "The snapshots."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        }
      },
      "description": "A third party list snapshots response.",
      "id": "SnapshotListResponse",
      "type": "object"
    },
    "Leaderboard": {
      "id": "Leaderboard",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        },
        "order": {
          "description": "How scores are ordered.",
          "enum": [
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ]
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided.",
          "type": "boolean"
        },
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        }
      },
      "description": "The Leaderboard resource."
    },
    "LinkPersonaResponse": {
      "description": "Outcome of a persona linking attempt.",
      "properties": {
        "state": {
          "description": "Output only. State of a persona linking attempt.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The link specified in the request was created.",
            "The link specified in the request was not created because already existing links would result in the new link violating the specified `RecallTokensCardinalityConstraint` if created."
          ],
          "enum": [
            "LINK_CREATED",
            "PERSONA_OR_PLAYER_ALREADY_LINKED"
          ]
        }
      },
      "type": "object",
      "id": "LinkPersonaResponse"
    },
    "LeaderboardScores": {
      "id": "LeaderboardScores",
      "type": "object",
      "properties": {
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The scores in the leaderboard.",
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          }
        },
        "playerScore": {
          "$ref": "LeaderboardEntry",
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "numScores": {
          "description": "The total number of scores in the leaderboard.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A ListScores response."
    },
    "EventChild": {
      "type": "object",
      "id": "EventChild",
      "description": "An event child relationship resource.",
      "properties": {
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`.",
          "type": "string"
        }
      }
    },
    "PlayerEventListResponse": {
      "type": "object",
      "id": "PlayerEventListResponse",
      "description": "A ListByPlayer response.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEventListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The player events.",
          "type": "array",
          "items": {
            "$ref": "PlayerEvent"
          }
        }
      }
    },
    "ProfileSettings": {
      "id": "ProfileSettings",
      "type": "object",
      "properties": {
        "profileVisible": {
          "description": "Whether the player's profile is visible to the currently signed in player.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#profileSettings`.",
          "type": "string"
        },
        "friendsListVisibility": {
          "enum": [
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the Android API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not possible to request access at this time, either because the user has permanently declined or the friends feature is not available to them. In this state, any attempts to request access to the friends list will be unsuccessful."
          ]
        }
      },
      "description": "Profile settings"
    },
    "LeaderboardScoreRank": {
      "id": "LeaderboardScoreRank",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScoreRank`.",
          "type": "string"
        },
        "formattedRank": {
          "description": "The rank in the leaderboard as a string.",
          "type": "string"
        },
        "numScores": {
          "description": "The number of scores in the leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "formattedNumScores": {
          "description": "The number of scores in the leaderboard as a string.",
          "type": "string"
        },
        "rank": {
          "description": "The rank in the leaderboard.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A score rank in a leaderboard."
    },
    "PlayerAchievement": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievement`.",
          "type": "string"
        },
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        },
        "achievementState": {
          "type": "string",
          "enumDescriptions": [
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The state of the achievement."
        },
        "lastUpdatedTimestamp": {
          "description": "The timestamp of the last modification to this achievement's state.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points earned for the achievement. This field is absent for achievements that have not yet been unlocked and 0 for achievements that have been unlocked by testers but that are unpublished.",
          "format": "int64"
        },
        "currentSteps": {
          "type": "integer",
          "description": "The current steps for an incremental achievement.",
          "format": "int32"
        }
      },
      "description": "An achievement object.",
      "id": "PlayerAchievement",
      "type": "object"
    },
    "Player": {
      "description": "A Player resource.",
      "properties": {
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "Per-application unique player identifier.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "experienceInfo": {
          "$ref": "PlayerExperienceInfo",
          "description": "An object to represent Play Game experience information for the player."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "name": {
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          },
          "description": "A representation of the individual components of the name.",
          "type": "object"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`",
          "type": "string"
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "friendStatus": {
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "enum": [
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "type": "string",
          "enumDescriptions": [
            "There is no relationship between the players.",
            "The player and requester are friends."
          ]
        }
      },
      "type": "object",
      "id": "Player"
    },
    "AchievementUpdateMultipleResponse": {
      "type": "object",
      "id": "AchievementUpdateMultipleResponse",
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        },
        "updatedAchievements": {
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateResponse"
          },
          "description": "The updated state of the achievements."
        }
      }
    },
    "Instance": {
      "properties": {
        "androidInstance": {
          "$ref": "InstanceAndroidDetails",
          "description": "Platform dependent details for Android."
        },
        "name": {
[...]
