{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://gamesmanagement.googleapis.com/",
  "description": "The Google Play Games Management API allows developers to manage resources from the Google Play Game service.",
  "id": "gamesManagement:v1management",
  "version": "v1management",
  "basePath": "",
  "title": "Google Play Games Services Management API",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/games": {
          "description": "Create, edit, and delete your Google Play Games activity"
        }
      }
    }
  },
  "name": "gamesManagement",
  "kind": "discovery#restDescription",
  "schemas": {
    "AchievementResetResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`."
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Flag to indicate if the requested update actually occurred."
        },
        "definitionId": {
          "description": "The ID of an achievement for which player state has been updated.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - \"`HIDDEN`\"- Achievement is hidden. - \"`REVEALED`\" - Achievement is revealed. - \"`UNLOCKED`\" - Achievement is unlocked. ",
          "type": "string"
        }
      },
      "description": "An achievement reset response.",
      "type": "object",
      "id": "AchievementResetResponse"
    },
    "AchievementResetAllResponse": {
      "type": "object",
      "id": "AchievementResetAllResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "AchievementResetResponse"
          },
          "description": "The achievement reset results."
        }
      },
      "description": "Achievement reset all response."
    },
    "HiddenPlayerList": {
      "id": "HiddenPlayerList",
      "description": "A list of hidden players.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The players.",
          "items": {
            "$ref": "HiddenPlayer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      }
    },
    "Player": {
      "description": "A Player resource.",
      "type": "object",
      "properties": {
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "GamesPlayerExperienceInfoResource"
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`."
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "profileSettings": {
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players.",
          "$ref": "ProfileSettings"
        },
        "name": {
          "description": "An object representation of the individual components of the player's name. For some players, these fields may not be present.",
          "type": "object",
          "properties": {
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first name.",
              "type": "string"
            },
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            }
          }
        },
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "title": {
          "description": "The player's title rewarded for their game activities.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        }
      },
      "id": "Player"
    },
    "GamesPlayerLevelResource": {
      "id": "GamesPlayerLevelResource",
      "type": "object",
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "minExperiencePoints": {
          "format": "int64",
          "description": "The minimum experience points for this level.",
          "type": "string"
        },
        "maxExperiencePoints": {
          "type": "string",
          "description": "The maximum experience points for this level.",
          "format": "int64"
        },
        "level": {
          "format": "int32",
          "type": "integer",
          "description": "The level for the user."
        }
      }
    },
    "HiddenPlayer": {
      "properties": {
        "hiddenTimeMillis": {
          "description": "Output only. The time this player was hidden.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "kind": {
          "description": "Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.",
          "readOnly": true,
          "type": "string"
        },
        "player": {
          "description": "Output only. The player information.",
          "$ref": "Player",
          "readOnly": true
        }
      },
      "description": "The HiddenPlayer resource.",
      "id": "HiddenPlayer",
      "type": "object"
    },
    "EventsResetMultipleForAllRequest": {
      "id": "EventsResetMultipleForAllRequest",
      "type": "object",
      "description": "Multiple events reset all request.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.",
          "type": "string"
        },
        "event_ids": {
          "description": "The IDs of events to reset.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GamesPlayerExperienceInfoResource": {
      "type": "object",
      "id": "GamesPlayerExperienceInfoResource",
      "properties": {
        "currentLevel": {
          "$ref": "GamesPlayerLevelResource",
          "description": "The current level of the player."
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "GamesPlayerLevelResource"
        },
        "currentExperiencePoints": {
          "type": "string",
          "description": "The current number of experience points for the player.",
          "format": "int64"
        },
        "lastLevelUpTimestampMillis": {
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "1P/3P metadata about the player's experience."
    },
    "ProfileSettings": {
      "type": "object",
      "description": "Profile settings",
      "id": "ProfileSettings",
      "properties": {
        "profileVisible": {
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`."
        }
      }
    },
    "PlayerScoreResetAllResponse": {
      "id": "PlayerScoreResetAllResponse",
      "properties": {
        "results": {
          "items": {
            "$ref": "PlayerScoreResetResponse"
          },
          "type": "array",
          "description": "The leaderboard reset results."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`."
        }
      },
      "description": "A list of leaderboard reset resources.",
      "type": "object"
    },
    "ScoresResetMultipleForAllRequest": {
      "id": "ScoresResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "leaderboard_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of leaderboards to reset.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`."
        }
      }
    },
    "PlayerScoreResetResponse": {
      "type": "object",
      "id": "PlayerScoreResetResponse",
      "properties": {
        "resetScoreTimeSpans": {
          "items": {
            "type": "string"
          },
          "description": "The time spans of the updated score. Possible values are: - \"`ALL_TIME`\" - The score is an all-time score. - \"`WEEKLY`\" - The score is a weekly score. - \"`DAILY`\" - The score is a daily score. ",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of an leaderboard for which player state has been updated."
        }
      },
      "description": "A list of reset leaderboard entry resources."
    },
    "AchievementResetMultipleForAllRequest": {
      "id": "AchievementResetMultipleForAllRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.",
          "type": "string"
        },
        "achievement_ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of achievements to reset.",
          "type": "array"
        }
      }
    }
  },
  "canonicalName": "Games Management",
  "servicePath": "",
  "batchPath": "batch",
  "resources": {
    "scores": {
      "methods": {
        "resetAllForAllPlayers": {
          "path": "games/v1management/scores/resetAllForAllPlayers",
          "flatPath": "games/v1management/scores/resetAllForAllPlayers",
          "id": "gamesManagement.scores.resetAllForAllPlayers",
          "parameterOrder": [],
          "description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {}
        },
        "reset": {
          "parameters": {
            "leaderboardId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard."
            }
          },
          "id": "gamesManagement.scores.reset",
          "parameterOrder": [
            "leaderboardId"
          ],
          "response": {
            "$ref": "PlayerScoreResetResponse"
          },
          "httpMethod": "POST",
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/reset",
          "description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application."
        },
        "resetAll": {
          "id": "gamesManagement.scores.resetAll",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "PlayerScoreResetAllResponse"
          },
          "path": "games/v1management/scores/reset",
          "description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/scores/reset",
          "httpMethod": "POST"
        },
        "resetMultipleForAllPlayers": {
          "httpMethod": "POST",
          "description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
          "path": "games/v1management/scores/resetMultipleForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/scores/resetMultipleForAllPlayers",
          "parameters": {},
          "request": {
            "$ref": "ScoresResetMultipleForAllRequest"
          },
          "id": "gamesManagement.scores.resetMultipleForAllPlayers",
          "parameterOrder": []
        },
        "resetForAllPlayers": {
          "parameterOrder": [
            "leaderboardId"
          ],
          "description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.scores.resetForAllPlayers",
          "parameters": {
            "leaderboardId": {
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "flatPath": "games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers",
          "httpMethod": "POST"
        }
      }
    },
    "achievements": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "id": "gamesManagement.achievements.resetMultipleForAllPlayers",
          "parameterOrder": [],
          "parameters": {},
          "path": "games/v1management/achievements/resetMultipleForAllPlayers",
          "description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
          "flatPath": "games/v1management/achievements/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "request": {
            "$ref": "AchievementResetMultipleForAllRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAllForAllPlayers": {
          "parameterOrder": [],
          "parameters": {},
          "path": "games/v1management/achievements/resetAllForAllPlayers",
          "description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.achievements.resetAllForAllPlayers",
          "flatPath": "games/v1management/achievements/resetAllForAllPlayers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAll": {
          "httpMethod": "POST",
          "description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
          "parameterOrder": [],
          "flatPath": "games/v1management/achievements/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1management/achievements/reset",
          "response": {
            "$ref": "AchievementResetAllResponse"
          },
          "parameters": {},
          "id": "gamesManagement.achievements.resetAll"
        },
        "reset": {
          "parameterOrder": [
            "achievementId"
          ],
          "path": "games/v1management/achievements/{achievementId}/reset",
          "description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/achievements/{achievementId}/reset",
          "parameters": {
            "achievementId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true
            }
          },
          "id": "gamesManagement.achievements.reset",
          "response": {
            "$ref": "AchievementResetResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST"
        },
        "resetForAllPlayers": {
          "id": "gamesManagement.achievements.resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "games/v1management/achievements/{achievementId}/resetForAllPlayers",
          "parameterOrder": [
            "achievementId"
          ],
          "description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
          "httpMethod": "POST",
          "flatPath": "games/v1management/achievements/{achievementId}/resetForAllPlayers"
        }
      }
    },
    "players": {
      "methods": {
        "hide": {
          "parameters": {
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            },
            "playerId": {
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "httpMethod": "POST",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "id": "gamesManagement.players.hide"
        },
        "unhide": {
          "httpMethod": "DELETE",
          "description": "Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
          "parameterOrder": [
            "applicationId",
            "playerId"
          ],
          "path": "games/v1management/applications/{applicationId}/players/hidden/{playerId}",
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "required": true
            },
            "playerId": {
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.players.unhide",
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden/{playerId}"
        }
      }
    },
    "events": {
      "methods": {
        "resetMultipleForAllPlayers": {
          "parameters": {},
          "request": {
            "$ref": "EventsResetMultipleForAllRequest"
          },
          "flatPath": "games/v1management/events/resetMultipleForAllPlayers",
          "path": "games/v1management/events/resetMultipleForAllPlayers",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "gamesManagement.events.resetMultipleForAllPlayers"
        },
        "resetAllForAllPlayers": {
          "id": "gamesManagement.events.resetAllForAllPlayers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "path": "games/v1management/events/resetAllForAllPlayers",
          "flatPath": "games/v1management/events/resetAllForAllPlayers",
          "description": "Resets all draft events for all players. This method is only available to user accounts for your developer console.",
          "parameters": {}
        },
        "resetForAllPlayers": {
          "description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.",
          "id": "gamesManagement.events.resetForAllPlayers",
          "path": "games/v1management/events/{eventId}/resetForAllPlayers",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "eventId": {
              "required": true,
              "description": "The ID of the event.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "games/v1management/events/{eventId}/resetForAllPlayers",
          "parameterOrder": [
            "eventId"
          ],
          "httpMethod": "POST"
        },
        "reset": {
          "parameterOrder": [
            "eventId"
          ],
          "parameters": {
            "eventId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the event."
            }
          },
          "path": "games/v1management/events/{eventId}/reset",
          "httpMethod": "POST",
          "id": "gamesManagement.events.reset",
          "description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "flatPath": "games/v1management/events/{eventId}/reset",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "resetAll": {
          "flatPath": "games/v1management/events/reset",
          "description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
          "id": "gamesManagement.events.resetAll",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "parameters": {},
          "path": "games/v1management/events/reset",
          "httpMethod": "POST"
        }
      }
    },
    "applications": {
      "methods": {
        "listHidden": {
          "httpMethod": "GET",
          "path": "games/v1management/applications/{applicationId}/players/hidden",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1management/applications/{applicationId}/players/hidden",
          "description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
          "id": "gamesManagement.applications.listHidden",
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "HiddenPlayerList"
          },
          "parameters": {
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "path"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://gamesmanagement.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/games/",
  "protocol": "rest",
  "revision": "20260820",
  "baseUrl": "https://gamesmanagement.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}