{
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "canonicalName": "GKE Hub",
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "name": "gkehub",
  "servicePath": "",
  "revision": "20260903",
  "batchPath": "batch",
  "version_module": true,
  "schemas": {
    "ConfigManagementSyncState": {
      "properties": {
        "lastSync": {
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String",
          "deprecated": true,
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "enumDescriptions": [
            "Config Sync cannot determine a sync code",
            "Config Sync successfully synced the git Repo with the cluster",
            "Config Sync is in the progress of syncing a new change",
            "Indicates an error configuring Config Sync, and user action is required",
            "Config Sync has been installed but not configured",
            "Config Sync has not been installed",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "description": "Sync status code"
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "sourceToken": {
          "type": "string",
          "description": "Token indicating the state of the repo."
        },
        "importToken": {
          "type": "string",
          "description": "Token indicating the state of the importer."
        },
        "errors": {
          "type": "array",
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "items": {
            "$ref": "ConfigManagementSyncError"
          }
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp type of when ACM last successfully synced the repo"
        }
      },
      "description": "State indicating an ACM's progress syncing configurations to a cluster",
      "type": "object",
      "id": "ConfigManagementSyncState"
    },
    "WorkloadIdentityFeatureState": {
      "id": "WorkloadIdentityFeatureState",
      "description": "**WorkloadIdentity**: Global feature state.",
      "properties": {
        "namespaceStateDetails": {
          "additionalProperties": {
            "$ref": "WorkloadIdentityNamespaceStateDetail"
          },
          "type": "object",
          "description": "The state of the IAM namespaces for the fleet."
        },
        "namespaceStates": {
          "additionalProperties": {
            "enumDescriptions": [
              "Unknown state.",
              "The Namespace was created/updated successfully.",
              "The Namespace was not created/updated successfully. The error message is in the description field."
            ],
            "type": "string",
            "enum": [
              "NAMESPACE_STATE_UNSPECIFIED",
              "NAMESPACE_STATE_OK",
              "NAMESPACE_STATE_ERROR"
            ]
          },
          "description": "Deprecated, this field will be erased after code is changed to use the new field.",
          "type": "object"
        },
        "scopeTenancyWorkloadIdentityPool": {
          "type": "string",
          "description": "The full name of the scope-tenancy pool for the fleet."
        },
        "workloadIdentityPoolStateDetails": {
          "additionalProperties": {
            "$ref": "WorkloadIdentityWorkloadIdentityPoolStateDetail"
          },
          "type": "object",
          "description": "The state of the Workload Identity Pools for the fleet."
        },
        "workloadIdentityPool": {
          "description": "The full name of the svc.id.goog pool for the fleet.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Origin": {
      "description": "Origin defines where this MembershipFeatureSpec originated from.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "FLEET_OUT_OF_SYNC",
            "USER"
          ],
          "description": "Type specifies which type of origin is set.",
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Membership spec was inherited from the fleet-level default.",
            "Per-Membership spec was inherited from the fleet-level default but is now out of sync with the current default.",
            "Per-Membership spec was inherited from a user specification."
          ]
        }
      },
      "id": "Origin",
      "type": "object"
    },
    "IdentityServiceAuthMethod": {
      "properties": {
        "googleConfig": {
          "description": "GoogleConfig specific configuration.",
          "$ref": "IdentityServiceGoogleConfig"
        },
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        },
        "samlConfig": {
          "description": "SAML specific configuration.",
          "$ref": "IdentityServiceSamlConfig"
        },
        "name": {
          "type": "string",
          "description": "Identifier for auth config."
        },
        "proxy": {
          "description": "Proxy server address to use for auth method.",
          "type": "string"
        },
        "ldapConfig": {
          "description": "LDAP specific configuration.",
          "$ref": "IdentityServiceLdapConfig"
        },
        "azureadConfig": {
          "$ref": "IdentityServiceAzureADConfig",
          "description": "AzureAD specific Configuration."
        }
      },
      "type": "object",
      "id": "IdentityServiceAuthMethod",
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod."
    },
    "PolicyControllerHubConfig": {
      "description": "Configuration for Policy Controller",
      "properties": {
        "auditIntervalSeconds": {
          "format": "int64",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string"
        },
        "installSpec": {
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state.",
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended.",
            "Request to stop all reconciliation actions by PoCo Hub controller. This is a breakglass mechanism to stop PoCo Hub from affecting cluster resources."
          ],
          "type": "string",
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED",
            "INSTALL_SPEC_DETACHED"
          ]
        },
        "policyContent": {
          "description": "Specifies the desired policy content on the cluster",
          "$ref": "PolicyControllerPolicyContentSpec"
        },
        "deploymentConfigs": {
          "type": "object",
          "description": "Map of deployment configs to deployments (\"admission\", \"audit\", \"mutation').",
          "additionalProperties": {
            "$ref": "PolicyControllerPolicyControllerDeploymentConfig"
          }
        },
        "exemptableNamespaces": {
          "type": "array",
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "items": {
            "type": "string"
          }
        },
        "mutationEnabled": {
          "description": "Enables the ability to mutate resources using Policy Controller.",
          "type": "boolean"
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "constraintViolationLimit": {
          "type": "string",
          "description": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used.",
          "format": "int64"
        },
        "monitoring": {
          "$ref": "PolicyControllerMonitoringConfig",
          "description": "Monitoring specifies the configuration of monitoring."
        }
      },
      "type": "object",
      "id": "PolicyControllerHubConfig"
    },
    "Authority": {
      "type": "object",
      "description": "Authority encodes how Google will recognize identities from this Membership. See the workload identity documentation for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
      "id": "Authority",
      "properties": {
        "issuer": {
          "description": "Optional. A JSON Web Token (JWT) issuer URI. `issuer` must start with `https://` and be a valid URL with length <2000 characters, it must use `location` rather than `zone` for GKE clusters. If set, then Google will allow valid OIDC tokens from this issuer to authenticate within the workload_identity_pool. OIDC discovery will be performed on this URI to validate tokens from the issuer. Clearing `issuer` disables Workload Identity. `issuer` cannot be directly modified; it must be cleared (and Workload Identity disabled) before using a new issuer (and re-enabling Workload Identity).",
          "type": "string"
        },
        "scopeTenancyIdentityProvider": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. The identity provider for the scope-tenancy workload identity pool."
        },
        "workloadIdentityPool": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the workload identity pool in which `issuer` will be recognized. There is a single Workload Identity Pool per Hub that is shared between all Memberships that belong to that Hub. For a Hub hosted in {PROJECT_ID}, the workload pool format is `{PROJECT_ID}.hub.id.goog`, although this is subject to change in newer versions of this API."
        },
        "scopeTenancyWorkloadIdentityPool": {
          "description": "Optional. Output only. The name of the scope-tenancy workload identity pool. This pool is set in the fleet-level feature.",
          "type": "string",
          "readOnly": true
        },
        "oidcJwks": {
          "type": "string",
          "description": "Optional. OIDC verification keys for this Membership in JWKS format (RFC 7517). When this field is set, OIDC discovery will NOT be performed on `issuer`, and instead OIDC tokens will be validated using this field.",
          "format": "byte"
        },
        "identityProvider": {
          "description": "Output only. An identity provider that reflects the `issuer` in the workload identity pool.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "BinaryAuthorizationConfig": {
      "description": "BinaryAuthorizationConfig defines the fleet level configuration of binary authorization feature.",
      "type": "object",
      "properties": {
        "evaluationMode": {
          "description": "Optional. Mode of operation for binauthz policy evaluation.",
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Use Binary Authorization with the policies specified in policy_bindings."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "POLICY_BINDINGS"
          ]
        },
        "policyBindings": {
          "description": "Optional. Binauthz policies that apply to this cluster.",
          "items": {
            "$ref": "PolicyBinding"
          },
          "type": "array"
        }
      },
      "id": "BinaryAuthorizationConfig"
    },
    "RolloutSequence": {
      "id": "RolloutSequence",
      "type": "object",
      "description": "RolloutSequence defines the desired order of upgrades. Next ID: 20",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp at which the Rollout Sequence was created."
        },
        "targetNodeVersion": {
          "description": "Output only. The target node version of the Rollout Sequence.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human readable display name of the Rollout Sequence.",
          "type": "string"
        },
        "stages": {
          "description": "Required. Ordered list of stages that constitutes this Rollout.",
          "type": "array",
          "items": {
            "$ref": "Stage"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp at which the Rollout Sequence was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. etag of the Rollout Sequence Ex. abc1234"
        },
        "lastQualifiedNodeVersion": {
          "description": "Output only. The last qualified node version.",
          "readOnly": true,
          "type": "string"
        },
        "ignoredClustersSelector": {
          "$ref": "ClusterSelector",
          "description": "Optional. Selector for clusters to exclude from the Rollout Sequence."
        },
        "lastQualifiedControlPlaneVersion": {
          "description": "Output only. The last qualified control plane version.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Rollout Sequence resources. If a Rollout Sequence resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string",
          "readOnly": true
        },
        "operationalState": {
          "$ref": "OperationalState",
          "readOnly": true,
          "description": "Output only. Operational state of the Rollout Sequence."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the rollout sequence in the format of: projects/{PROJECT_ID}/locations/global/rolloutSequences/{NAME}"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels for this Rollout Sequence.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "autoUpgradeConfig": {
          "$ref": "AutoUpgradeConfig",
          "description": "Optional. Configuration for automatic upgrades. If this message is `unset`, the system applies default behavior."
        },
        "effectiveAutoUpgradeConfig": {
          "description": "Output only. The resolved auto-upgrade options which are in effect.",
          "readOnly": true,
          "$ref": "AutoUpgradeConfig"
        },
        "computedReleaseChannel": {
          "description": "Output only. The computed release channel used for the Rollout Sequence.",
          "enum": [
            "GKE_RELEASE_CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE",
            "EXTENDED",
            "NO_CHANNEL"
          ],
          "enumDescriptions": [
            "Default if no value is specified. Should not be used.",
            "Release channel `RAPID` of GKE.",
            "Release channel `REGULAR` of GKE.",
            "Release channel `STABLE` of GKE.",
            "Release channel `EXTENDED` of GKE.",
            "Release channel `NO_CHANNEL` of GKE. Formerly known as `STATIC`."
          ],
          "type": "string",
          "readOnly": true
        },
        "targetControlPlaneVersion": {
          "description": "Output only. The target control plane version of the Rollout Sequence.",
          "type": "string",
          "readOnly": true
        },
        "deleteTime": {
          "description": "Output only. The timestamp at the Rollout Sequence was deleted.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "PerStageSoakDurationOverrides": {
      "type": "object",
      "description": "Configuration for per-stage soak duration overrides.",
      "properties": {
        "stageOverrides": {
          "description": "Required. A mapping of stage numbers to their respective desired soak durations. Key is the stage number, value is the desired soak duration. Stages omitted from the map will receive the standard soak duration configured on the sequence for that stage.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "google-duration"
          }
        }
      },
      "id": "PerStageSoakDurationOverrides"
    },
    "ClusterUpgradeGKEUpgradeOverride": {
      "properties": {
        "upgrade": {
          "description": "Required. Which upgrade to override. Required.",
          "$ref": "ClusterUpgradeGKEUpgrade"
        },
        "postConditions": {
          "$ref": "ClusterUpgradePostConditions",
          "description": "Required. Post conditions to override for the specified upgrade (name + version). Required."
        }
      },
      "description": "Properties of a GKE upgrade that can be overridden by the user. For example, a user can skip soaking by overriding the soaking to 0.",
      "type": "object",
      "id": "ClusterUpgradeGKEUpgradeOverride"
    },
    "Namespace": {
      "id": "Namespace",
      "type": "object",
      "description": "Namespace represents a namespace across the Fleet",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. When the namespace was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "scope": {
          "description": "Required. Scope associated with the namespace",
          "type": "string"
        },
        "namespaceLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Namespace-level cluster namespace labels. These labels are applied to the related namespace of the member clusters bound to the parent Scope. Scope-level labels (`namespace_labels` in the Fleet Scope resource) take precedence over Namespace-level labels if they share a key. Keys and values must be Kubernetes-conformant."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the namespace was created.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels for this Namespace."
        },
        "state": {
          "description": "Output only. State of the namespace resource.",
          "readOnly": true,
          "$ref": "NamespaceLifecycleState"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the namespace was deleted.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all namespace resources. If a namespace resource is deleted and another resource with the same name is created, it gets a different uid.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name for the namespace `projects/{project}/locations/{location}/namespaces/{namespace}`"
        }
      }
    },
    "WorkloadIdentityMembershipState": {
      "id": "WorkloadIdentityMembershipState",
      "description": "**WorkloadIdentity**: The membership-specific state for WorkloadIdentity feature.",
      "type": "object",
      "properties": {
        "identityProviderStateDetails": {
          "description": "The state of the Identity Providers corresponding to the membership.",
          "type": "object",
          "additionalProperties": {
            "$ref": "WorkloadIdentityIdentityProviderStateDetail"
          }
        },
        "description": {
          "type": "string",
          "description": "Deprecated, this field will be erased after code is changed to use the new field."
        }
      }
    },
    "ServiceMeshMembershipState": {
      "type": "object",
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "properties": {
        "controlPlaneManagement": {
          "$ref": "ServiceMeshControlPlaneManagement",
          "description": "Output only. Status of control plane management",
          "readOnly": true
        },
        "conditions": {
          "readOnly": true,
          "items": {
            "$ref": "ServiceMeshCondition"
          },
          "type": "array",
          "description": "Output only. List of conditions reported for this membership."
        },
        "dataPlaneManagement": {
          "description": "Output only. Status of data plane management.",
          "$ref": "ServiceMeshDataPlaneManagement",
          "readOnly": true
        }
      },
      "id": "ServiceMeshMembershipState"
    },
    "MultiClusterIngressFeatureSpec": {
      "properties": {
        "configMembership": {
          "type": "string",
          "description": "Fully-qualified Membership name which hosts the MultiClusterIngress CRD. Example: `projects/foo-proj/locations/global/memberships/bar`"
        }
      },
      "id": "MultiClusterIngressFeatureSpec",
      "description": "**Multi-cluster Ingress**: The configuration for the MultiClusterIngress feature.",
      "type": "object"
    },
    "ConfigManagementConfigSync": {
      "id": "ConfigManagementConfigSync",
      "properties": {
        "metricsGcpServiceAccountEmail": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be bound to the GSA. Deprecated: If Workload Identity Federation for GKE is enabled, Google Cloud Service Account is no longer needed for exporting Config Sync metrics: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/monitor-config-sync-cloud-monitoring#custom-monitoring."
        },
        "preventDrift": {
          "type": "boolean",
          "description": "Optional. Set to true to enable the Config Sync admission webhook to prevent drifts. If set to false, disables the Config Sync admission webhook and does not prevent drifts. Defaults to false. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/how-to/prevent-config-drift for details."
        },
        "stopSyncing": {
          "type": "boolean",
          "description": "Optional. Set to true to stop syncing configs for a single cluster. Default to false."
        },
        "deploymentOverrides": {
          "type": "array",
          "description": "Optional. Configuration for deployment overrides. Applies only to Config Sync deployments with containers that are not a root or namespace reconciler: `reconciler-manager`, `otel-collector`, `resource-group-controller-manager`, `admission-webhook`. To override a root or namespace reconciler, use the rootsync or reposync fields at https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/reference/rootsync-reposync-fields#override-resources instead.",
          "items": {
            "$ref": "ConfigManagementDeploymentOverride"
          }
        },
        "sourceFormat": {
          "type": "string",
          "description": "Optional. Specifies whether the Config Sync repo is in `hierarchical` or `unstructured` mode. Defaults to `hierarchical`. See https://docs.cloud.google.com/kubernetes-engine/config-sync/docs/concepts/configs#organize-configs for an explanation."
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Enables the installation of Config Sync. If set to true, the Feature will manage Config Sync resources, and apply the other ConfigSync fields if they exist. If set to false, the Feature will ignore all other ConfigSync fields and delete the Config Sync resources. If omitted, ConfigSync is considered enabled if the git or oci field is present."
        },
        "git": {
          "description": "Optional. Git repo configuration for the cluster.",
          "$ref": "ConfigManagementGitConfig"
        },
        "oci": {
          "description": "Optional. OCI repo configuration for the cluster",
          "$ref": "ConfigManagementOciConfig"
        }
      },
      "type": "object",
      "description": "Configuration for Config Sync"
    },
    "ClusterUpgradeMembershipState": {
      "description": "Per-membership state for this feature.",
      "id": "ClusterUpgradeMembershipState",
      "properties": {
        "ignored": {
          "description": "Whether this membership is ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel.",
          "$ref": "ClusterUpgradeIgnoredMembership"
        },
        "upgrades": {
          "items": {
            "$ref": "ClusterUpgradeMembershipGKEUpgradeState"
          },
          "description": "Actual upgrade state against desired.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ClusterUpgradePostConditions": {
      "description": "Post conditional checks after an upgrade has been applied on all eligible clusters.",
      "type": "object",
      "id": "ClusterUpgradePostConditions",
      "properties": {
        "soaking": {
          "type": "string",
          "description": "Required. Amount of time to \"soak\" after a rollout has been finished before marking it COMPLETE. Cannot exceed 30 days. Required.",
          "format": "google-duration"
        }
      }
    },
    "FeatureResourceState": {
      "type": "object",
      "id": "FeatureResourceState",
      "description": "FeatureResourceState describes the state of a Feature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the Feature in the Fleet and across Memberships.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State is unknown or not set.",
            "The Feature is being enabled, and the Feature resource is being created. Once complete, the corresponding Feature will be enabled in this Fleet.",
            "The Feature is enabled in this Fleet, and the Feature resource is fully available.",
            "The Feature is being disabled in this Fleet, and the Feature resource is being deleted.",
            "The Feature resource is being updated.",
            "The Feature resource is being updated by the Hub Service."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "description": "The current state of the Feature resource in the Hub API."
        }
      }
    },
    "ClusterUpgradeGKEUpgradeFeatureCondition": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the condition, for example, \"ready\"."
        },
        "updateTime": {
          "type": "string",
          "description": "Last timestamp the condition was updated.",
          "format": "google-datetime"
        },
        "status": {
          "type": "string",
          "description": "Status of the condition, one of True, False, Unknown."
        },
        "reason": {
          "description": "Reason why the feature is in this status.",
          "type": "string"
        }
      },
      "id": "ClusterUpgradeGKEUpgradeFeatureCondition",
      "type": "object",
      "description": "GKEUpgradeFeatureCondition describes the condition of the feature for GKE clusters at a certain point of time."
    },
    "PolicyControllerResourceList": {
      "id": "PolicyControllerResourceList",
      "type": "object",
      "description": "ResourceList contains container resource requirements.",
      "properties": {
        "cpu": {
          "description": "CPU requirement expressed in Kubernetes resource units.",
          "type": "string"
        },
        "memory": {
          "description": "Memory requirement expressed in Kubernetes resource units.",
          "type": "string"
        }
      }
    },
    "Scope": {
      "description": "Scope represents a Scope in a Fleet.",
      "properties": {
        "createTime": {
          "description": "Output only. When the scope was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "namespaceLabels": {
          "description": "Optional. Scope-level cluster namespace labels. For the member clusters bound to the Scope, these labels are applied to each namespace under the Scope. Scope-level labels take precedence over Namespace-level labels (`namespace_labels` in the Fleet Namespace resource) if they share a key. Keys and values must be Kubernetes-conformant.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels for this Scope."
        },
        "name": {
          "description": "The resource name for the scope `projects/{project}/locations/{location}/scopes/{scope}`",
          "type": "string"
        },
        "state": {
          "$ref": "ScopeLifecycleState",
          "readOnly": true,
          "description": "Output only. State of the scope resource."
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the scope was deleted."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. When the scope was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all scope resources. If a scope resource is deleted and another resource with the same name is created, it gets a different uid.",
          "readOnly": true
        }
      },
      "id": "Scope",
      "type": "object"
    },
    "ClusterSelector": {
      "properties": {
        "labelSelector": {
          "description": "Required. A valid CEL (Common Expression Language) expression which evaluates `resource.labels`.",
          "type": "string"
        }
      },
      "id": "ClusterSelector",
      "description": "Selector for clusters.",
      "type": "object"
    },
    "ConfigManagementOperatorState": {
      "properties": {
        "deploymentState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors",
            "Deployment is installing or terminating"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR",
            "PENDING"
          ],
          "description": "The state of the Operator's deployment"
        },
        "version": {
          "type": "string",
          "description": "The semenatic version number of the operator"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementInstallError"
          },
          "description": "Install errors."
        }
      },
      "id": "ConfigManagementOperatorState",
      "description": "State information for an ACM's Operator",
      "type": "object"
    },
    "ListRolloutsResponse": {
      "description": "Response message for listing rollouts.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "description": "The rollouts from the specified parent resource.",
          "type": "array"
        }
      },
      "id": "ListRolloutsResponse",
      "type": "object"
    },
    "ListScopeNamespacesResponse": {
      "id": "ListScopeNamespacesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListNamespaces` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "scopeNamespaces": {
          "description": "The list of fleet namespaces",
          "items": {
            "$ref": "Namespace"
          },
          "type": "array"
        }
      },
      "description": "List of fleet namespaces."
    },
    "Status": {
      "description": "Status specifies state for the subcomponent.",
      "properties": {
        "description": {
          "description": "Description is populated if Code is Failed, explaining why it has failed.",
          "type": "string"
        },
        "code": {
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ],
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ]
        }
      },
      "type": "object",
      "id": "Status"
    },
    "RBACRoleBindingActuationFeatureSpec": {
      "type": "object",
      "id": "RBACRoleBindingActuationFeatureSpec",
      "description": "**RBAC RoleBinding Actuation**: The Hub-wide input for the RBACRoleBindingActuation feature.",
      "properties": {
        "allowedCustomRoles": {
          "description": "The list of allowed custom roles (ClusterRoles). If a ClusterRole is not part of this list, it cannot be used in a Scope RBACRoleBinding. If a ClusterRole in this list is in use, it cannot be removed from the list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ServiceMeshStatusDetails": {
      "id": "ServiceMeshStatusDetails",
      "properties": {
        "code": {
          "type": "string",
          "description": "A machine-readable code that further describes a broad status."
        },
        "details": {
          "description": "Human-readable explanation of code.",
          "type": "string"
        }
      },
      "description": "Structured and human-readable details for a status.",
      "type": "object"
    },
    "MonitoringConfig": {
      "description": "MonitoringConfig informs Fleet-based applications/services/UIs how the metrics for the underlying cluster is reported to cloud monitoring services. It can be set from empty to non-empty, but can't be mutated directly to prevent accidentally breaking the constinousty of metrics.",
      "properties": {
        "clusterHash": {
          "description": "Optional. For GKE and Multicloud clusters, this is the UUID of the cluster resource. For VMWare and Baremetal clusters, this is the kube-system UID.",
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "Optional. Cluster name used to report metrics. For Anthos on VMWare/Baremetal/MultiCloud clusters, it would be in format {cluster_type}/{cluster_name}, e.g., \"awsClusters/cluster_1\"."
        },
        "location": {
          "description": "Optional. Location used to report Metrics",
          "type": "string"
        },
        "kubernetesMetricsPrefix": {
          "type": "string",
          "description": "Optional. Kubernetes system metrics, if available, are written to this prefix. This defaults to kubernetes.io for GKE, and kubernetes.io/anthos for Anthos eventually. Noted: Anthos MultiCloud will have kubernetes.io prefix today but will migration to be under kubernetes.io/anthos."
        },
        "projectId": {
          "description": "Optional. Project used to report Metrics",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MonitoringConfig"
    },
    "NamespaceLifecycleState": {
      "properties": {
        "code": {
          "description": "Output only. The current state of the Namespace resource.",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "The code is not set.",
            "The namespace is being created.",
            "The namespace active.",
            "The namespace is being deleted.",
            "The namespace is being updated."
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "NamespaceLifecycleState",
      "description": "NamespaceLifecycleState describes the state of a Namespace resource."
    },
    "SecurityPostureConfig": {
      "type": "object",
      "properties": {
        "vulnerabilityMode": {
          "enumDescriptions": [
            "Default value not specified.",
            "Disables vulnerability scanning on the cluster.",
            "Deprecated: Basic vulnerability scanning is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Applies basic vulnerability scanning on the cluster.",
            "Applies the Security Posture's vulnerability on cluster Enterprise level features."
          ],
          "enum": [
            "VULNERABILITY_MODE_UNSPECIFIED",
            "VULNERABILITY_DISABLED",
            "VULNERABILITY_BASIC",
            "VULNERABILITY_ENTERPRISE"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "description": "Sets which mode to use for vulnerability scanning."
        },
        "mode": {
          "type": "string",
          "description": "Sets which mode to use for Security Posture features.",
          "enumDescriptions": [
            "Default value not specified.",
            "Disables Security Posture features on the cluster.",
            "Applies Security Posture features on the cluster.",
            "Deprecated: Security Posture Enterprise features are no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Applies the Security Posture off cluster Enterprise level features."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "BASIC",
            "ENTERPRISE"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ]
        }
      },
      "description": "SecurityPostureConfig defines the flags needed to enable/disable features for the Security Posture API.",
      "id": "SecurityPostureConfig"
    },
    "ConfigManagementMembershipState": {
      "type": "object",
      "description": "**Anthos Config Management**: State for a single cluster.",
      "properties": {
        "hierarchyControllerState": {
          "description": "Output only. Hierarchy Controller status",
          "$ref": "ConfigManagementHierarchyControllerState",
          "readOnly": true
        },
        "clusterName": {
          "type": "string",
          "description": "Output only. This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name.",
          "readOnly": true
        },
        "configSyncState": {
          "$ref": "ConfigManagementConfigSyncState",
          "description": "Output only. Current sync status",
          "readOnly": true
        },
        "kubernetesApiServerVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Kubernetes API server version of the cluster."
        },
        "policyControllerState": {
          "description": "Output only. PolicyController status",
          "$ref": "ConfigManagementPolicyControllerState",
          "readOnly": true
        },
        "membershipSpec": {
          "$ref": "ConfigManagementMembershipSpec",
          "description": "Output only. Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state",
          "readOnly": true
        },
        "operatorState": {
          "description": "Output only. Current install status of ACM's Operator",
          "readOnly": true,
          "$ref": "ConfigManagementOperatorState"
        }
      },
      "id": "ConfigManagementMembershipState"
    },
    "AppDevExperienceFeatureSpec": {
      "description": "Spec for App Dev Experience Feature.",
      "id": "AppDevExperienceFeatureSpec",
      "type": "object",
      "properties": {}
    },
    "ListFleetsResponse": {
      "id": "ListFleetsResponse",
      "properties": {
        "fleets": {
          "type": "array",
          "items": {
            "$ref": "Fleet"
          },
          "description": "The list of matching fleets."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. The token is only valid for 1h."
        }
      },
      "description": "Response message for the `GkeHub.ListFleetsResponse` method.",
      "type": "object"
    },
    "Rollout": {
      "type": "object",
      "description": "Rollout contains the Rollout metadata and configuration. Next ID: 32",
      "id": "Rollout",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Output only. etag of the Rollout Ex. abc1234",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp at which the Rollout was created."
        },
        "labels": {
          "description": "Optional. Labels for this Rollout.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "trigger": {
          "enum": [
            "ROLLOUT_TRIGGER_UNSPECIFIED",
            "USER",
            "GKE"
          ],
          "description": "Output only. The trigger of the rollout.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value.",
            "A user-initiated rollout.",
            "A Google-triggered rollout."
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp at which the Rollout was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The Rollout is running.",
            "The Rollout is paused.",
            "The Rollout is in a failure terminal state.",
            "The Rollout is in a terminal state."
          ],
          "description": "Output only. State specifies various states of the Rollout.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "CANCELLED",
            "COMPLETED"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Human readable display name of the Rollout."
        },
        "rolloutSequence": {
          "type": "string",
          "description": "Optional. Immutable. The full, unique resource name of the rollout sequence that initiatied this Rollout. In the format of `projects/{project}/locations/global/rolloutSequences/{rollout_sequence}`."
        },
        "intent": {
          "enum": [
            "ROLLOUT_INTENT_UNSPECIFIED",
            "REGULAR_UPGRADE",
            "CONTROL_PLANE_PATCH_ENFORCEMENT",
            "END_OF_SUPPORT_ENFORCEMENT",
            "PARTIAL_PATCH"
          ],
          "readOnly": true,
          "description": "Output only. The intent of the rollout.",
          "enumDescriptions": [
            "The default value.",
            "A standard rollout for the whole sequence.",
            "A mandatory upgrade for clusters that haven't been patched within the allowed window.",
            "A mandatory upgrade for clusters that have reached its end of support.",
            "A patch upgrade for a subset of clusters on a given minor version."
          ],
          "type": "string"
        },
        "membershipStates": {
          "additionalProperties": {
            "$ref": "RolloutMembershipState"
          },
          "readOnly": true,
          "description": "Output only. States of upgrading control plane or node pool targets of a single cluster (GKE Hub membership) that's part of this Rollout. The key is the membership name of the cluster. The value is the state of the cluster.",
          "type": "object"
        },
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Rollout resources. If a Rollout resource is deleted and another resource with the same name is created, it gets a different uid.",
          "readOnly": true,
          "type": "string"
        },
        "ignoreClusterDisruptionBudgets": {
          "type": "boolean",
          "description": "Optional. If set to true, the rollout will ignore the disruption budgets of the clusters."
        },
        "stageSoakDurationOverrides": {
          "description": "Optional. Overrides the soak durations for specific stages of the rollout. Key is the stage number, value is the desired soak duration. Stages omitted from the map will receive the standard soak duration configured on the sequence for that stage.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "google-duration"
          }
        },
        "stateReasonType": {
          "description": "Output only. StateReasonType specifies the reason type of the Rollout state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state reason.",
            "Paused by the user.",
            "Paused by system config (ex. GKE freeze).",
            "Paused waiting for the next stage to start.",
            "Cancelled by the user.",
            "Cancelled by the system because it was paused too long.",
            "Cancelled by the system because the version is too old.",
            "Cancelled by the system because the rollout sequence is incompatible, for example it has different number of stages, fleet projects or label selectors than the rollout.",
            "Cancelled because of a new user-triggered rollout."
          ],
          "enum": [
            "STATE_REASON_TYPE_UNSPECIFIED",
            "PAUSED_BY_USER",
            "PAUSED_BY_SYSTEM_CONFIG",
            "PAUSED_WAITING_FOR_NEXT_STAGE",
            "CANCELLED_BY_USER",
            "CANCELLED_PAUSED_TOO_LONG",
            "CANCELLED_SUPERSEDED",
            "CANCELLED_INCOMPATIBLE_ROLLOUT_SEQUENCE",
            "CANCELLED_SUPERSEDED_BY_USER_ROLLOUT"
          ],
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The full, unique resource name of this Rollout in the format of `projects/{project}/locations/global/rollouts/{rollout}`.",
          "type": "string"
        },
        "ignoreMaintenancePolicies": {
          "description": "Optional. If set to true, the rollout will ignore any maintenance policies (Maintenance Windows and Maintenance Exclusions) set on the clusters.",
          "type": "boolean"
        },
        "stages": {
          "readOnly": true,
          "items": {
            "$ref": "RolloutStage"
          },
          "type": "array",
          "description": "Output only. The stages of the Rollout."
        },
        "versionUpgrade": {
          "description": "Optional. Config for version upgrade of clusters.",
          "$ref": "VersionUpgrade"
        },
        "stateReason": {
          "description": "Output only. A human-readable description explaining the reason for the current state.",
          "type": "string",
          "readOnly": true
        },
        "deleteTime": {
          "description": "Output only. The timestamp at the Rollout was deleted.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp at which the Rollout was completed."
        }
      }
    },
    "MultiCloudCluster": {
      "id": "MultiCloudCluster",
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the Google Cloud resource for the GKE Multi-Cloud cluster. For example: //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/awsClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/azureClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/attachedClusters/my-cluster",
          "type": "string"
        },
        "clusterMissing": {
          "description": "Output only. If cluster_missing is set then it denotes that API(gkemulticloud.googleapis.com) resource for this GKE Multi-Cloud cluster no longer exists.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "MultiCloudCluster contains information specific to GKE Multi-Cloud clusters.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "RBACRoleBinding": {
      "id": "RBACRoleBinding",
      "type": "object",
      "properties": {
        "role": {
          "$ref": "Role",
          "description": "Required. Role to bind to the principal"
        },
        "state": {
          "$ref": "RBACRoleBindingLifecycleState",
          "readOnly": true,
          "description": "Output only. State of the rbacrolebinding resource."
        },
        "updateTime": {
          "description": "Output only. When the rbacrolebinding was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "group": {
          "description": "group is the group, as seen by the kubernetes cluster.",
          "type": "string"
        },
        "user": {
          "description": "user is the name of the user as seen by the kubernetes cluster, example \"alice\" or \"alice@domain.tld\"",
          "type": "string"
        },
        "name": {
          "description": "The resource name for the rbacrolebinding `projects/{project}/locations/{location}/scopes/{scope}/rbacrolebindings/{rbacrolebinding}` or `projects/{project}/locations/{location}/memberships/{membership}/rbacrolebindings/{rbacrolebinding}`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the rbacrolebinding was created."
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the rbacrolebinding was deleted."
        },
        "labels": {
          "description": "Optional. Labels for this RBACRolebinding.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all rbacrolebinding resources. If a rbacrolebinding resource is deleted and another resource with the same name is created, it gets a different uid.",
          "readOnly": true
        }
      },
      "description": "RBACRoleBinding represents a rbacrolebinding across the Fleet"
    },
    "PolicyControllerTemplateLibraryConfig": {
      "type": "object",
      "properties": {
        "installation": {
          "description": "Configures the manner in which the template library is installed on the cluster.",
          "type": "string",
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ],
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ]
        }
      },
      "description": "The config specifying which default library templates to install.",
      "id": "PolicyControllerTemplateLibraryConfig"
    },
    "OperationalState": {
      "type": "object",
      "properties": {
        "stateChangeTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp at which the operational state was last changed. Used to track how long it has been in the current state.",
          "format": "google-datetime"
        },
        "reasons": {
          "items": {
            "type": "string",
            "enum": [
              "REASON_UNSPECIFIED",
              "FLEET_FEATURE_DELETED_ERROR",
              "FLEET_DELETED_ERROR",
              "EMPTY_STAGE_WARNING",
              "MIXED_RELEASE_CHANNELS_WARNING",
              "INTERNAL_ERROR",
              "NO_CLUSTERS_IN_SEQUENCE"
            ],
            "enumDescriptions": [
              "Default unspecified value.",
              "A fleet feature is deleted.",
              "A fleet is deleted.",
              "A stage is empty.",
              "Mixed release channels in the sequence.",
              "Internal error, for example when host project is soft-deleted.",
              "Sequence has no clusters."
            ]
          },
          "type": "array",
          "description": "Output only. Reasons for the Rollout Sequence state.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the Rollout Sequence.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The Rollout Sequence is active.",
            "The Rollout Sequence has warnings. It is still functioning but performance may be degraded.",
            "The Rollout Sequence has errors and is not functioning.",
            "The Rollout Sequence is being initialized."
          ],
          "enum": [
            "STATE_CODE_UNSPECIFIED",
            "ACTIVE",
            "WARNING",
            "ERROR",
            "INITIALIZING"
          ]
        }
      },
      "id": "OperationalState",
      "description": "Operational state of the Rollout Sequence."
    },
    "RBACRoleBindingActuationFeatureState": {
      "type": "object",
      "properties": {},
      "description": "**RBAC RoleBinding Actuation**: An empty state left as an example Hub-wide Feature state.",
      "id": "RBACRoleBindingActuationFeatureState"
    },
    "Binding": {
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding"
    },
    "ServiceMeshCondition": {
      "description": "Condition being reported.",
      "properties": {
        "details": {
          "type": "string",
          "description": "A short summary about the issue."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "Severity level of the condition.",
          "enumDescriptions": [
            "Unspecified severity",
            "Indicates an issue that prevents the mesh from operating correctly",
            "Indicates a setting is likely wrong, but the mesh is still able to operate",
            "An informational message, not requiring any action"
          ]
        },
        "documentationLink": {
          "description": "Links contains actionable information.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "MESH_IAM_PERMISSION_DENIED",
            "MESH_IAM_CROSS_PROJECT_PERMISSION_DENIED",
            "CNI_CONFIG_UNSUPPORTED",
            "GKE_SANDBOX_UNSUPPORTED",
            "NODEPOOL_WORKLOAD_IDENTITY_FEDERATION_REQUIRED",
            "CNI_INSTALLATION_FAILED",
            "CNI_POD_UNSCHEDULABLE",
            "CLUSTER_HAS_ZERO_NODES",
            "CANONICAL_SERVICE_ERROR",
            "UNSUPPORTED_MULTIPLE_CONTROL_PLANES",
            "VPCSC_GA_SUPPORTED",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT",
            "DEPRECATED_SPEC_CONTROL_PLANE_MANAGEMENT_SAFE",
            "CONFIG_APPLY_INTERNAL_ERROR",
            "CONFIG_VALIDATION_ERROR",
            "CONFIG_VALIDATION_WARNING",
            "QUOTA_EXCEEDED_BACKEND_SERVICES",
            "QUOTA_EXCEEDED_HEALTH_CHECKS",
            "QUOTA_EXCEEDED_HTTP_ROUTES",
            "QUOTA_EXCEEDED_TCP_ROUTES",
            "QUOTA_EXCEEDED_TLS_ROUTES",
            "QUOTA_EXCEEDED_TRAFFIC_POLICIES",
            "QUOTA_EXCEEDED_ENDPOINT_POLICIES",
            "QUOTA_EXCEEDED_GATEWAYS",
            "QUOTA_EXCEEDED_MESHES",
            "QUOTA_EXCEEDED_SERVER_TLS_POLICIES",
            "QUOTA_EXCEEDED_CLIENT_TLS_POLICIES",
            "QUOTA_EXCEEDED_SERVICE_LB_POLICIES",
            "QUOTA_EXCEEDED_HTTP_FILTERS",
            "QUOTA_EXCEEDED_TCP_FILTERS",
            "QUOTA_EXCEEDED_NETWORK_ENDPOINT_GROUPS",
            "CONFIG_APPLY_BLOCKED",
            "LEGACY_MC_SECRETS",
            "WORKLOAD_IDENTITY_REQUIRED",
            "NON_STANDARD_BINARY_USAGE",
            "UNSUPPORTED_GATEWAY_CLASS",
            "MANAGED_CNI_NOT_ENABLED",
            "MISSING_CONTROL_PLANE_CONFIG",
            "SHARED_VPC_MISSING_PERMISSIONS",
            "REQUIRED_ORG_POLICY_DISABLED",
            "MODERNIZATION_INCOMPATIBLE_POD_ANNOTATION",
            "MODERNIZATION_INCOMPATIBLE_CONFIG",
            "MODERNIZATION_INCOMPATIBLE_GATEWAY_POD_SCALE",
            "MODERNIZATION_SCHEDULED",
            "MODERNIZATION_IN_PROGRESS",
            "MODERNIZATION_COMPLETED",
            "MODERNIZATION_ABORTED",
            "MODERNIZATION_PREPARING",
            "MODERNIZATION_STALLED",
            "MODERNIZATION_PREPARED",
            "MODERNIZATION_MIGRATING_WORKLOADS",
            "MODERNIZATION_ROLLING_BACK_CLUSTER",
            "MODERNIZATION_WILL_BE_SCHEDULED",
            "MODERNIZATION_MANUAL",
            "MODERNIZATION_ELIGIBLE",
            "MODERNIZATION_MODERNIZING",
            "MODERNIZATION_MODERNIZED_SOAKING",
            "MODERNIZATION_FINALIZED",
            "MODERNIZATION_ROLLING_BACK_FLEET",
            "MODERNIZATION_MODERNIZED",
            "MODERNIZATION_COMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_SCALE",
            "MODERNIZATION_INCOMPATIBLE_FLEET_QUOTA"
          ],
          "enumDescriptions": [
            "Default Unspecified code",
            "Mesh IAM permission denied error code",
            "Permission denied error code for cross-project",
            "CNI config unsupported error code",
            "GKE sandbox unsupported error code",
            "Nodepool workload identity federation required error code",
            "CNI installation failed error code",
            "CNI pod unschedulable error code",
            "Cluster has zero node code",
            "Failure to reconcile CanonicalServices",
            "Multiple control planes unsupported error code",
            "VPC-SC GA is supported for this control plane.",
            "User is using deprecated ControlPlaneManagement and they have not yet set Management.",
            "User is using deprecated ControlPlaneManagement and they have already set Management.",
            "Configuration (Istio/k8s resources) failed to apply due to internal error.",
            "Configuration failed to be applied due to being invalid.",
            "Encountered configuration(s) with possible unintended behavior or invalid configuration. These configs may not have been applied.",
            "BackendService quota exceeded error code.",
            "HealthCheck quota exceeded error code.",
            "HTTPRoute quota exceeded error code.",
            "TCPRoute quota exceeded error code.",
            "TLS routes quota exceeded error code.",
            "TrafficPolicy quota exceeded error code.",
            "EndpointPolicy quota exceeded error code.",
            "Gateway quota exceeded error code.",
            "Mesh quota exceeded error code.",
            "ServerTLSPolicy quota exceeded error code.",
            "ClientTLSPolicy quota exceeded error code.",
            "ServiceLBPolicy quota exceeded error code.",
            "HTTPFilter quota exceeded error code.",
            "TCPFilter quota exceeded error code.",
            "NetworkEndpointGroup quota exceeded error code.",
            "Configuration failed to apply due to fleet being blocked.",
            "Legacy istio secrets found for multicluster error code",
            "Workload identity required error code",
            "Non-standard binary usage error code",
            "Unsupported gateway class error code",
            "Managed CNI not enabled error code",
            "Missing control plane configuration error code",
            "Shared VPC missing permissions error code",
            "Required org policy disabled error code",
            "One or more Pods have unsupported annotations.",
            "Incompatible config found in the cluster.",
            "Gateway pods per cluster limit exceeded.",
            "Modernization is scheduled for a cluster.",
            "Modernization is in progress for a cluster.",
            "Modernization is completed for a cluster.",
            "Modernization is aborted for a cluster.",
            "Preparing cluster so that its workloads can be migrated.",
            "Modernization is stalled for a cluster.",
            "Cluster has been prepared for its workloads to be migrated.",
            "Migrating the cluster's workloads to the new implementation.",
            "Rollback is in progress for modernization of a cluster.",
            "Modernization will be scheduled for a fleet.",
            "Fleet is opted out from automated modernization.",
            "Fleet is eligible for modernization.",
            "Modernization of one or more clusters in a fleet is in progress.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Modernization is finalized for all clusters in a fleet. Rollback is no longer allowed.",
            "Rollback is in progress for modernization of all clusters in a fleet.",
            "Modernization of all the fleet's clusters is complete. Soaking before finalizing the modernization.",
            "Fleet is compatible for modernization.",
            "Fleet is not yet compatible for modernization.",
            "Fleet exceeds service mesh fleet-level scalability limits.",
            "Fleet exceeds service mesh fleet-level quota limits."
          ],
          "description": "Unique identifier of the condition which describes the condition recognizable to the user."
        }
      },
      "type": "object",
      "id": "ServiceMeshCondition"
    },
    "RolloutMembershipState": {
      "type": "object",
      "properties": {
        "targets": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RolloutTarget"
          },
          "description": "Output only. The targets of the rollout - clusters or node pools that are being upgraded. All targets belongs to the same cluster, identified by the membership name (key of membership_states map)."
        },
        "lastUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Output only. The time this status and any related Rollout-specific details for the membership were updated."
        },
        "stageAssignment": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The stage assignment of this cluster in this rollout.",
          "readOnly": true
        }
      },
      "id": "RolloutMembershipState",
      "description": "Metadata about single cluster (GKE Hub membership) that's part of this Rollout."
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "id": "ConfigManagementPolicyControllerMonitoring",
      "properties": {
        "backends": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ]
          },
          "type": "array",
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
        }
      },
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "type": "object"
    },
    "ConfigManagementHierarchyControllerVersion": {
      "type": "object",
      "description": "Version for Hierarchy Controller",
      "id": "ConfigManagementHierarchyControllerVersion",
      "properties": {
        "hnc": {
          "description": "Version for open source HNC",
          "type": "string"
        },
        "extension": {
          "type": "string",
          "description": "Version for Hierarchy Controller extension"
        }
      }
    },
    "ConfigManagementSyncError": {
      "description": "An ACM created error representing a problem syncing configurations",
      "id": "ConfigManagementSyncError",
      "properties": {
        "code": {
          "description": "An ACM defined error code",
          "type": "string"
        },
        "errorResources": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          },
          "description": "A list of config(s) associated with the error, if any"
        },
        "errorMessage": {
          "type": "string",
          "description": "A description of the error"
        }
      },
      "type": "object"
    },
    "IdentityServiceSimpleBindCredentials": {
      "description": "The structure holds the LDAP simple binding credential.",
      "properties": {
        "password": {
          "description": "Required. Input only. The password of the service account object/user.",
          "type": "string"
        },
        "dn": {
          "type": "string",
          "description": "Required. The distinguished name(DN) of the service account object/user."
        },
        "encryptedPassword": {
          "description": "Output only. The encrypted password of the service account object/user.",
          "readOnly": true,
          "format": "byte",
          "type": "string"
        }
      },
      "id": "IdentityServiceSimpleBindCredentials",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "ResourceOptions": {
      "type": "object",
      "description": "ResourceOptions represent options for Kubernetes resource generation.",
      "properties": {
        "k8sVersion": {
          "description": "Optional. Major and minor version of the Kubernetes cluster. This is only used to determine which version to use for the CustomResourceDefinition resources, `apiextensions/v1beta1` or`apiextensions/v1`.",
          "type": "string"
        },
        "k8sGitVersion": {
          "description": "Optional. Git version of the Kubernetes cluster. This is only used to gate the Connect Agent migration to svc.id.goog on GDC-SO 1.33.100 patch and above.",
          "type": "string"
        },
        "connectVersion": {
          "type": "string",
          "description": "Optional. The Connect agent version to use for connect_resources. Defaults to the latest GKE Connect version. The version must be a currently supported version, obsolete versions will be rejected."
        },
        "v1beta1Crd": {
          "description": "Optional. Use `apiextensions/v1beta1` instead of `apiextensions/v1` for CustomResourceDefinition resources. This option should be set for clusters with Kubernetes apiserver versions <1.16.",
          "type": "boolean"
        }
      },
      "id": "ResourceOptions"
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig"
    },
    "ForceCompleteRolloutStageRequest": {
      "type": "object",
      "description": "Request message for force-completing a rollout stage.",
      "properties": {
        "stageNumber": {
          "type": "integer",
          "description": "Required. The stage number to force-complete.",
          "format": "int32"
        }
      },
      "id": "ForceCompleteRolloutStageRequest"
    },
    "ConfigManagementPolicyController": {
      "description": "Configuration for Policy Controller",
      "type": "object",
      "properties": {
        "monitoring": {
          "$ref": "ConfigManagementPolicyControllerMonitoring",
          "description": "Monitoring specifies the configuration of monitoring."
        },
        "updateTime": {
          "description": "Output only. Last time this membership spec was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "referentialRulesEnabled": {
          "type": "boolean",
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
        },
        "mutationEnabled": {
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster.",
          "type": "boolean"
        },
        "templateLibraryInstalled": {
          "type": "boolean",
          "description": "Installs the default template library along with Policy Controller."
        },
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect."
        },
        "auditIntervalSeconds": {
          "format": "int64",
          "type": "string",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether."
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        }
      },
      "id": "ConfigManagementPolicyController"
    },
    "GkeCluster": {
      "id": "GkeCluster",
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the Google Cloud resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported."
        },
        "clusterMissing": {
          "type": "boolean",
          "description": "Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "GkeCluster contains information specific to GKE clusters."
    },
    "WorkloadIdentityIdentityProviderStateDetail": {
      "properties": {
        "description": {
          "type": "string",
          "description": "A human-readable description of the current state or returned error."
        },
        "code": {
          "description": "The state of the Identity Provider.",
          "enumDescriptions": [
            "Unknown state.",
            "The Identity Provider was created/updated successfully.",
            "The Identity Provider was not created/updated successfully. The error message is in the description field."
          ],
          "type": "string",
          "enum": [
            "IDENTITY_PROVIDER_STATE_UNSPECIFIED",
            "IDENTITY_PROVIDER_STATE_OK",
            "IDENTITY_PROVIDER_STATE_ERROR"
          ]
        }
      },
      "description": "IdentityProviderStateDetail represents the state of an Identity Provider.",
      "id": "WorkloadIdentityIdentityProviderStateDetail",
      "type": "object"
    },
    "ListMembershipRBACRoleBindingsResponse": {
      "properties": {
        "rbacrolebindings": {
          "description": "The list of Membership RBACRoleBindings.",
          "type": "array",
          "items": {
            "$ref": "RBACRoleBinding"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMembershipRBACRoleBindings` method. The value of an empty string means that there are no more resources to return."
        },
        "unreachable": {
          "description": "List of locations that could not be reached while fetching this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "List of Membership RBACRoleBindings.",
      "id": "ListMembershipRBACRoleBindingsResponse",
      "type": "object"
    },
    "FleetObservabilityFeatureError": {
      "id": "FleetObservabilityFeatureError",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A human-readable description of the current status."
        },
        "code": {
          "type": "string",
          "description": "The code of the error."
        }
      },
      "description": "All error details of the fleet observability feature."
    },
    "PolicyControllerPolicyContentState": {
      "description": "The state of the policy controller policy content",
      "properties": {
        "referentialSyncConfigState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user."
        },
        "bundleStates": {
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "type": "object"
        },
        "templateLibraryState": {
          "description": "The state of the template library",
          "$ref": "PolicyControllerOnClusterState"
        }
      },
      "id": "PolicyControllerPolicyContentState",
      "type": "object"
    },
    "ConfigManagementOciConfig": {
      "description": "OCI repo configuration for a single cluster",
      "type": "object",
      "properties": {
        "syncRepo": {
          "description": "Required. The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`.",
          "type": "string"
        },
        "policyDir": {
          "type": "string",
          "description": "Optional. The absolute path of the directory that contains the local resources. Default: the root directory of the image."
        },
        "syncWaitSecs": {
          "description": "Optional. Period in seconds between consecutive syncs. Default: 15.",
          "format": "int64",
          "type": "string"
        },
        "secretType": {
          "description": "Required. Type of secret configured for access to the OCI repo. Must be one of `gcenode`, `gcpserviceaccount`, `k8sserviceaccount` or `none`. The validation of this is case-sensitive.",
          "type": "string"
        },
        "gcpServiceAccountEmail": {
          "description": "Optional. The Google Cloud Service Account Email used for auth when secret_type is `gcpserviceaccount`.",
          "type": "string"
        }
      },
      "id": "ConfigManagementOciConfig"
    },
    "ClusterUpgradeFleetSpec": {
      "description": "**ClusterUpgrade**: The configuration for the fleet-level ClusterUpgrade feature.",
      "type": "object",
      "properties": {
        "gkeUpgradeOverrides": {
          "type": "array",
          "description": "Allow users to override some properties of each GKE upgrade.",
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeOverride"
          }
        },
        "upstreamFleets": {
          "description": "This fleet consumes upgrades that have COMPLETE status code in the upstream fleets. See UpgradeStatus.Code for code definitions. The fleet name should be either fleet project number or id. This is defined as repeated for future proof reasons. Initial implementation will enforce at most one upstream fleet.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "postConditions": {
          "description": "Required. Post conditions to evaluate to mark an upgrade COMPLETE. Required.",
          "$ref": "ClusterUpgradePostConditions"
        }
      },
      "id": "ClusterUpgradeFleetSpec"
    },
    "IdentityServiceLdapConfig": {
      "properties": {
        "server": {
          "description": "Required. Server settings for the external LDAP server.",
          "$ref": "IdentityServiceServerConfig"
        },
        "user": {
          "$ref": "IdentityServiceUserConfig",
          "description": "Required. Defines where users exist in the LDAP directory."
        },
        "group": {
          "$ref": "IdentityServiceGroupConfig",
          "description": "Optional. Contains the properties for locating and authenticating groups in the directory."
        },
        "serviceAccount": {
          "$ref": "IdentityServiceServiceAccountConfig",
          "description": "Required. Contains the credentials of the service account which is authorized to perform the LDAP search in the directory. The credentials can be supplied by the combination of the DN and password or the client certificate."
        }
      },
      "id": "IdentityServiceLdapConfig",
      "type": "object",
      "description": "Configuration for the LDAP Auth flow."
    },
    "IdentityServiceSamlConfig": {
      "properties": {
        "attributeMapping": {
          "description": "Optional. The mapping of additional user attributes like nickname, birthday and address etc.. `key` is the name of this additional attribute. `value` is a string presenting as CEL(common expression language, go/cel) used for getting the value from the resources. Take nickname as an example, in this case, `key` is \"attribute.nickname\" and `value` is \"assertion.nickname\".",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "userPrefix": {
          "description": "Optional. Prefix to prepend to user name.",
          "type": "string"
        },
        "identityProviderId": {
          "type": "string",
          "description": "Required. The entity ID of the SAML IdP."
        },
        "userAttribute": {
          "type": "string",
          "description": "Optional. The SAML attribute to read username from. If unspecified, the username will be read from the NameID element of the assertion in SAML response. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `user_prefix`)."
        },
        "groupsAttribute": {
          "description": "Optional. The SAML attribute to read groups from. This value is expected to be a string and will be passed along as-is (with the option of being prefixed by the `group_prefix`).",
          "type": "string"
        },
        "groupPrefix": {
          "description": "Optional. Prefix to prepend to group name.",
          "type": "string"
        },
        "identityProviderSsoUri": {
          "type": "string",
          "description": "Required. The URI where the SAML IdP exposes the SSO service."
        },
        "identityProviderCertificates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of IdP certificates to validate the SAML response against."
        }
      },
      "description": "Configuration for the SAML Auth flow.",
      "id": "IdentityServiceSamlConfig",
      "type": "object"
    },
    "Fleet": {
      "id": "Fleet",
      "description": "Fleet contains the Fleet-wide metadata and configuration.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. A user-assigned display name of the Fleet. When present, it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `Production Fleet`",
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. When the Fleet was deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The full, unique resource name of this fleet in the format of `projects/{project}/locations/{location}/fleets/{fleet}`. Each Google Cloud project can have at most one fleet resource, named \"default\".",
          "type": "string",
          "readOnly": true
        },
        "defaultClusterConfig": {
          "description": "Optional. The default cluster configurations to apply across the fleet.",
          "$ref": "DefaultClusterConfig"
        },
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Fleet resources. If a Fleet resource is deleted and another resource with the same name is created, it gets a different uid.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the Fleet was created."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. When the Fleet was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "$ref": "FleetLifecycleState",
          "readOnly": true,
          "description": "Output only. State of the namespace resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels for this Fleet."
        }
      }
    },
    "ScopeLifecycleState": {
      "id": "ScopeLifecycleState",
      "type": "object",
      "description": "ScopeLifecycleState describes the state of a Scope resource.",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "The code is not set.",
            "The scope is being created.",
            "The scope active.",
            "The scope is being deleted.",
            "The scope is being updated."
          ],
          "description": "Output only. The current state of the scope resource.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListPermittedScopesResponse": {
      "type": "object",
      "description": "List of permitted Scopes.",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListPermittedScopes` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "$ref": "Scope"
          },
          "description": "The list of permitted Scopes",
          "type": "array"
        }
      },
      "id": "ListPermittedScopesResponse"
    },
    "MembershipFeatureState": {
      "properties": {
        "clusterupgrade": {
          "description": "ClusterUpgrade state.",
          "$ref": "ClusterUpgradeMembershipState"
        },
        "workloadidentity": {
          "$ref": "WorkloadIdentityMembershipState",
          "description": "Workload Identity membership specific state."
        },
        "policycontroller": {
          "$ref": "PolicyControllerMembershipState",
          "description": "Policycontroller-specific state."
        },
        "fleetobservability": {
          "description": "Fleet observability membership state.",
          "$ref": "FleetObservabilityMembershipState"
        },
        "servicemesh": {
          "description": "Service Mesh-specific state.",
          "$ref": "ServiceMeshMembershipState"
        },
        "identityservice": {
          "$ref": "IdentityServiceMembershipState",
          "description": "Identity Service-specific state."
        },
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureState",
          "description": "Appdevexperience specific state."
        },
        "configmanagement": {
          "description": "Config Management-specific state.",
          "$ref": "ConfigManagementMembershipState"
        },
        "state": {
          "$ref": "FeatureState",
          "description": "The high-level state of this Feature for a single membership."
        }
      },
      "id": "MembershipFeatureState",
      "description": "MembershipFeatureState contains Feature status information for a single Membership.",
      "type": "object"
    },
    "DefaultClusterConfig": {
      "type": "object",
      "description": "DefaultClusterConfig describes the default cluster configurations to be applied to all clusters born-in-fleet.",
      "id": "DefaultClusterConfig",
      "properties": {
        "binaryAuthorizationConfig": {
          "description": "Optional. Enable/Disable binary authorization features for the cluster.",
          "$ref": "BinaryAuthorizationConfig"
        },
        "securityPostureConfig": {
          "$ref": "SecurityPostureConfig",
          "description": "Optional. Enable/Disable Security Posture features for the cluster."
        },
        "compliancePostureConfig": {
          "deprecated": true,
          "description": "Optional. Deprecated: Compliance Posture is no longer supported. For more details, see https://cloud.google.com/kubernetes-engine/docs/deprecations/posture-management-deprecation. Enable/Disable Compliance Posture features for the cluster. Note that on UpdateFleet, only full replacement of this field is allowed. Users are not allowed for partial updates through field mask.",
          "$ref": "CompliancePostureConfig"
        }
      }
    },
    "Membership": {
      "type": "object",
      "description": "Membership contains information about a member cluster.",
      "id": "Membership",
      "properties": {
        "monitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "Optional. The monitoring config information for this membership."
        },
        "state": {
          "readOnly": true,
          "$ref": "MembershipState",
          "description": "Output only. State of the Membership resource."
        },
        "authority": {
[...]
