{
  "protocol": "rest",
  "name": "gkeonprem",
  "id": "gkeonprem:v1",
  "version_module": true,
  "mtlsRootUrl": "https://gkeonprem.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/anthos/clusters/docs/on-prem/",
  "basePath": "",
  "canonicalName": "GKE On-Prem",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://gkeonprem.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260805",
  "ownerName": "Google",
  "title": "GKE On-Prem API",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "version": "v1",
  "schemas": {
    "VmwareNodeConfig": {
      "properties": {
        "cpus": {
          "format": "int64",
          "description": "The number of CPUs for each node in the node pool.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/"
        },
        "vsphereConfig": {
          "description": "Specifies the vSphere config for node pool.",
          "$ref": "VmwareVsphereConfig"
        },
        "enableLoadBalancer": {
          "type": "boolean",
          "description": "Allow node pool traffic to be load balanced. Only works for clusters with MetalLB load balancers."
        },
        "imageType": {
          "type": "string",
          "description": "Required. The OS image to be used for each node in a node pool. Currently `cos`, `cos_cgv2`, `ubuntu`, `ubuntu_cgv2`, `ubuntu_containerd` and `windows` are supported."
        },
        "image": {
          "type": "string",
          "description": "The OS image name in vCenter, only valid when using Windows."
        },
        "taints": {
          "type": "array",
          "description": "The initial taints assigned to nodes of this node pool.",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "replicas": {
          "format": "int64",
          "type": "string",
          "description": "The number of nodes in the node pool."
        },
        "bootDiskSizeGb": {
          "description": "VMware disk size to be used during creation.",
          "type": "string",
          "format": "int64"
        },
        "memoryMb": {
          "format": "int64",
          "description": "The megabytes of memory for each node in the node pool.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareNodeConfig",
      "description": "Parameters that describe the configuration of all nodes within a given node pool."
    },
    "VmwareControlPlaneVsphereConfig": {
      "properties": {
        "storagePolicyName": {
          "description": "The Vsphere storage policy used by the control plane Node.",
          "type": "string"
        },
        "datastore": {
          "type": "string",
          "description": "The Vsphere datastore used by the control plane Node."
        }
      },
      "id": "VmwareControlPlaneVsphereConfig",
      "description": "Specifies control plane node config.",
      "type": "object"
    },
    "BareMetalAdminVipConfig": {
      "properties": {
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal admin cluster."
        }
      },
      "id": "BareMetalAdminVipConfig",
      "description": "BareMetalAdminVipConfig for bare metal load balancer configurations.",
      "type": "object"
    },
    "EnrollBareMetalAdminClusterRequest": {
      "properties": {
        "bareMetalAdminClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
        },
        "membership": {
          "description": "Required. This is the full resource name of this admin cluster's fleet membership.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnrollBareMetalAdminClusterRequest",
      "description": "Message for enrolling an existing bare metal admin cluster to the GKE on-prem API."
    },
    "BareMetalBgpPeerConfig": {
      "id": "BareMetalBgpPeerConfig",
      "description": "BareMetalBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer.",
      "type": "object",
      "properties": {
        "controlPlaneNodes": {
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "asn": {
          "format": "int64",
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device.",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "Required. The IP address of the external peer device."
        }
      }
    },
    "EnrollBareMetalClusterRequest": {
      "id": "EnrollBareMetalClusterRequest",
      "description": "Message for enrolling an existing bare metal cluster to the Anthos On-Prem API.",
      "type": "object",
      "properties": {
        "bareMetalClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all bare metal clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
        },
        "localName": {
          "type": "string",
          "description": "Optional. The object name of the bare metal cluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the bare_metal_cluster_id. Otherwise, it must match the object name of the bare metal cluster custom resource. It is not modifiable outside / beyond the enrollment operation."
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        },
        "localNamespace": {
          "description": "Optional. The namespace of the cluster.",
          "type": "string"
        }
      }
    },
    "BareMetalMetalLbConfig": {
      "id": "BareMetalMetalLbConfig",
      "description": "Represents configuration parameters for a MetalLB load balancer.",
      "type": "object",
      "properties": {
        "addressPools": {
          "type": "array",
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          }
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running the load balancer. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used as the load balancer pool.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      }
    },
    "BareMetalClusterOperationsConfig": {
      "type": "object",
      "id": "BareMetalClusterOperationsConfig",
      "description": "Specifies the bare metal user cluster's observability infrastructure.",
      "properties": {
        "enableApplicationLogs": {
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics).",
          "type": "boolean"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "VmwareVipConfig": {
      "properties": {
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this cluster."
        },
        "ingressVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for ingress traffic into this cluster."
        }
      },
      "id": "VmwareVipConfig",
      "description": "Specifies the VIP config for the VMware user cluster load balancer.",
      "type": "object"
    },
    "VmwareAdminVCenterConfig": {
      "id": "VmwareAdminVCenterConfig",
      "description": "VmwareAdminVCenterConfig contains VCenter configuration for VMware admin cluster.",
      "type": "object",
      "properties": {
        "caCertData": {
          "description": "Contains the vCenter CA certificate public key for SSL verification.",
          "type": "string"
        },
        "folder": {
          "type": "string",
          "description": "The name of the vCenter folder for the admin cluster."
        },
        "cluster": {
          "description": "The name of the vCenter cluster for the admin cluster.",
          "type": "string"
        },
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore for the admin cluster."
        },
        "datacenter": {
          "type": "string",
          "description": "The name of the vCenter datacenter for the admin cluster."
        },
        "storagePolicyName": {
          "type": "string",
          "description": "The name of the vCenter storage policy for the user cluster."
        },
        "dataDisk": {
          "type": "string",
          "description": "The name of the virtual machine disk (VMDK) for the admin cluster."
        },
        "address": {
          "description": "The vCenter IP address.",
          "type": "string"
        },
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the admin cluster.",
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "VmwareControlPlaneV2Config": {
      "type": "object",
      "id": "VmwareControlPlaneV2Config",
      "description": "Specifies control plane V2 config.",
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      }
    },
    "VmwareAdminF5BigIpConfig": {
      "properties": {
        "address": {
          "description": "The load balancer's IP address.",
          "type": "string"
        },
        "snatPool": {
          "type": "string",
          "description": "The pool name. Only necessary, if using SNAT."
        },
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareAdminF5BigIpConfig",
      "description": "VmwareAdminF5BigIpConfig represents configuration parameters for an F5 BIG-IP load balancer."
    },
    "VmwareMetalLbConfig": {
      "properties": {
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "items": {
            "$ref": "VmwareAddressPool"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "VmwareMetalLbConfig",
      "description": "Represents configuration parameters for the MetalLB load balancer."
    },
    "Authorization": {
      "properties": {
        "adminUsers": {
          "type": "array",
          "description": "For VMware and bare metal user clusters, users will be granted the cluster-admin role on the cluster, which provides full administrative access to the cluster. For bare metal admin clusters, users will be granted the cluster-view role, which limits users to read-only access.",
          "items": {
            "$ref": "ClusterUser"
          }
        }
      },
      "id": "Authorization",
      "description": "Authorization defines the On-Prem cluster authorization configuration to bootstrap onto the admin cluster.",
      "type": "object"
    },
    "BareMetalNodePoolConfig": {
      "properties": {
        "nodeConfigs": {
          "type": "array",
          "description": "Required. The list of machine addresses in the bare metal node pool.",
          "items": {
            "$ref": "BareMetalNodeConfig"
          }
        },
        "kubeletConfig": {
          "description": "The modifiable kubelet configurations for the bare metal machines.",
          "$ref": "BareMetalKubeletConfig"
        },
        "operatingSystem": {
          "enumDescriptions": [
            "No operating system runtime selected.",
            "Linux operating system."
          ],
          "type": "string",
          "description": "Specifies the nodes operating system (default: LINUX).",
          "enum": [
            "OPERATING_SYSTEM_UNSPECIFIED",
            "LINUX"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels assigned to nodes of this node pool. An object containing a list of key/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }."
        },
        "taints": {
          "type": "array",
          "description": "The initial taints assigned to nodes of this node pool.",
          "items": {
            "$ref": "NodeTaint"
          }
        }
      },
      "id": "BareMetalNodePoolConfig",
      "description": "BareMetalNodePoolConfig describes the configuration of all nodes within a given bare metal node pool.",
      "type": "object"
    },
    "VmwareIpBlock": {
      "properties": {
        "ips": {
          "type": "array",
          "description": "The node's network configurations used by the VMware user cluster.",
          "items": {
            "$ref": "VmwareHostIp"
          }
        },
        "netmask": {
          "type": "string",
          "description": "The netmask used by the VMware user cluster."
        },
        "gateway": {
          "description": "The network gateway used by the VMware user cluster.",
          "type": "string"
        }
      },
      "id": "VmwareIpBlock",
      "description": "Represents a collection of IP addresses to assign to nodes.",
      "type": "object"
    },
    "ListVmwareAdminClustersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        },
        "vmwareAdminClusters": {
          "description": "The list of VMware admin cluster.",
          "items": {
            "$ref": "VmwareAdminCluster"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListVmwareAdminClustersResponse",
      "description": "Response message for listing VMware admin clusters.",
      "type": "object"
    },
    "Version": {
      "properties": {
        "version": {
          "description": "Resource version.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Number of machines under the above version."
        }
      },
      "id": "Version",
      "description": "Version describes the number of nodes at a given version under a resource.",
      "type": "object"
    },
    "VmwareNetworkConfig": {
      "type": "object",
      "id": "VmwareNetworkConfig",
      "description": "Specifies network config for the VMware user cluster.",
      "properties": {
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        },
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "controlPlaneV2Config": {
          "description": "Configuration for control plane V2 mode.",
          "$ref": "VmwareControlPlaneV2Config"
        },
        "staticIpConfig": {
          "description": "Configuration settings for a static IP configuration.",
          "$ref": "VmwareStaticIpConfig"
        },
        "vcenterNetwork": {
          "type": "string",
          "description": "vcenter_network specifies vCenter network name. Inherited from the admin cluster."
        },
        "serviceAddressCidrBlocks": {
          "type": "array",
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListVmwareClustersResponse": {
      "properties": {
        "vmwareClusters": {
          "type": "array",
          "description": "The list of VMware Cluster.",
          "items": {
            "$ref": "VmwareCluster"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListVmwareClustersResponse",
      "description": "Response message for listing VMware Clusters."
    },
    "VmwareAdminLoadBalancerConfig": {
      "properties": {
        "seesawConfig": {
          "description": "Output only. Configuration for Seesaw typed load balancers.",
          "$ref": "VmwareAdminSeesawConfig",
          "readOnly": true
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareAdminManualLbConfig"
        },
        "metalLbConfig": {
          "description": "MetalLB load balancers.",
          "$ref": "VmwareAdminMetalLbConfig"
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareAdminVipConfig"
        },
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareAdminF5BigIpConfig"
        }
      },
      "type": "object",
      "id": "VmwareAdminLoadBalancerConfig",
      "description": "VmwareAdminLoadBalancerConfig contains load balancer configuration for VMware admin cluster."
    },
    "VmwareClusterUpgradePolicy": {
      "type": "object",
      "id": "VmwareClusterUpgradePolicy",
      "description": "VmwareClusterUpgradePolicy defines the cluster upgrade policy.",
      "properties": {
        "controlPlaneOnly": {
          "description": "Controls whether the upgrade applies to the control plane only.",
          "type": "boolean"
        }
      }
    },
    "BareMetalAdminWorkloadNodeConfig": {
      "properties": {
        "maxPodsPerNode": {
          "format": "int64",
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter. By default 110 Pods are created per Node. Upper bound is 250 for both HA and non-HA admin cluster. Lower bound is 64 for non-HA admin cluster and 32 for HA admin cluster.",
          "type": "string"
        }
      },
      "id": "BareMetalAdminWorkloadNodeConfig",
      "description": "BareMetalAdminWorkloadNodeConfig specifies the workload node configurations.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "VmwareDataplaneV2Config": {
      "id": "VmwareDataplaneV2Config",
      "description": "Contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2",
      "type": "object",
      "properties": {
        "dataplaneV2Enabled": {
          "description": "Enables Dataplane V2.",
          "type": "boolean"
        },
        "forwardMode": {
          "type": "string",
          "description": "Configure ForwardMode for Dataplane v2."
        },
        "windowsDataplaneV2Enabled": {
          "description": "Enable Dataplane V2 for clusters with Windows nodes.",
          "type": "boolean"
        },
        "advancedNetworking": {
          "description": "Enable advanced networking which requires dataplane_v2_enabled to be set true.",
          "type": "boolean"
        }
      }
    },
    "VmwareControlPlaneNodeConfig": {
      "type": "object",
      "id": "VmwareControlPlaneNodeConfig",
      "description": "Specifies control plane node config for the VMware user cluster.",
      "properties": {
        "replicas": {
          "format": "int64",
          "type": "string",
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica)."
        },
        "vsphereConfig": {
          "description": "Vsphere-specific config.",
          "$ref": "VmwareControlPlaneVsphereConfig"
        },
        "cpus": {
          "type": "string",
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)",
          "format": "int64"
        },
        "memory": {
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory).",
          "type": "string",
          "format": "int64"
        },
        "autoResizeConfig": {
          "description": "AutoResizeConfig provides auto resizing configurations.",
          "$ref": "VmwareAutoResizeConfig"
        }
      }
    },
    "VmwareVsphereTag": {
      "type": "object",
      "id": "VmwareVsphereTag",
      "description": "VmwareVsphereTag describes a vSphere tag to be placed on VMs in the node pool. For more information, see https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vcenterhost.doc/GUID-E8E854DD-AA97-4E0C-8419-CE84F93C4058.html",
      "properties": {
        "category": {
          "description": "The Vsphere tag category.",
          "type": "string"
        },
        "tag": {
          "description": "The Vsphere tag name.",
          "type": "string"
        }
      }
    },
    "EnrollBareMetalNodePoolRequest": {
      "properties": {
        "bareMetalNodePoolId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If set, only validate the request, but do not actually enroll the node pool."
        }
      },
      "id": "EnrollBareMetalNodePoolRequest",
      "description": "Message for enrolling an existing bare metal node pool to the GKE on-prem API.",
      "type": "object"
    },
    "VmwarePlatformConfig": {
      "properties": {
        "requiredPlatformVersion": {
          "type": "string",
          "description": "Input only. The required platform version e.g. 1.13.1. If the current platform version is lower than the target version, the platform version will be updated to the target version. If the target version is not installed in the platform (bundle versions), download the target version bundle."
        },
        "bundles": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of bundles installed in the admin cluster.",
          "items": {
            "$ref": "VmwareBundleConfig"
          }
        },
        "status": {
          "description": "Output only. Resource status for the platform.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "platformVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The platform version e.g. 1.13.2."
        }
      },
      "type": "object",
      "id": "VmwarePlatformConfig",
      "description": "VmwarePlatformConfig represents configuration for the VMware platform."
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "ListBareMetalAdminClustersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "bareMetalAdminClusters": {
          "type": "array",
          "description": "The list of bare metal admin cluster.",
          "items": {
            "$ref": "BareMetalAdminCluster"
          }
        }
      },
      "type": "object",
      "id": "ListBareMetalAdminClustersResponse",
      "description": "Response message for listing bare metal admin clusters."
    },
    "BareMetalAdminPortConfig": {
      "id": "BareMetalAdminPortConfig",
      "description": "BareMetalAdminPortConfig is the specification of load balancer ports.",
      "type": "object",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "type": "integer",
          "description": "The port that control plane hosted load balancers will listen on.",
          "format": "int32"
        }
      }
    },
    "VmwareHostIp": {
      "properties": {
        "ip": {
          "description": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0/24).",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Hostname of the machine. VM's name will be used if this field is empty."
        }
      },
      "id": "VmwareHostIp",
      "description": "Represents VMware user cluster node's network configuration.",
      "type": "object"
    },
    "OperationStage": {
      "id": "OperationStage",
      "description": "Information about a particular stage of an operation.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Time the stage started.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Time the stage ended.",
          "format": "google-datetime"
        },
        "stage": {
          "enumDescriptions": [
            "Not set.",
            "Preflight checks are running.",
            "Resource is being configured.",
            "Resource is being deployed.",
            "Waiting for the resource to become healthy.",
            "Resource is being updated."
          ],
          "type": "string",
          "description": "The high-level stage of the operation.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "PREFLIGHT_CHECK",
            "CONFIGURE",
            "DEPLOY",
            "HEALTH_CHECK",
            "UPDATE"
          ]
        },
        "metrics": {
          "description": "Progress metric bundle.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The stage is pending.",
            "The stage is running",
            "The stage has completed successfully.",
            "The stage has failed."
          ],
          "readOnly": true,
          "description": "Output only. State of the stage.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "VmwareVersionInfo": {
      "type": "object",
      "id": "VmwareVersionInfo",
      "description": "Contains information about a specific Anthos on VMware version.",
      "properties": {
        "version": {
          "description": "Version number e.g. 1.13.1-gke.1000.",
          "type": "string"
        },
        "dependencies": {
          "type": "array",
          "description": "The list of upgrade dependencies for this version.",
          "items": {
            "$ref": "UpgradeDependency"
          }
        },
        "hasDependencies": {
          "type": "boolean",
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster) must be upgraded before this version can be installed or upgraded to."
        },
        "isInstalled": {
          "description": "If set, the version is installed in the admin cluster. Otherwise, the version bundle must be downloaded and installed before a user cluster can be created at or upgraded to this version.",
          "type": "boolean"
        }
      }
    },
    "BareMetalSrIovConfig": {
      "type": "object",
      "id": "BareMetalSrIovConfig",
      "description": "Specifies the SR-IOV networking operator config.",
      "properties": {
        "enabled": {
          "description": "Whether to install the SR-IOV operator.",
          "type": "boolean"
        }
      }
    },
    "BareMetalDrainingMachine": {
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Draining machine IP address."
        },
        "podCount": {
          "format": "int32",
          "type": "integer",
          "description": "The count of pods yet to drain."
        }
      },
      "type": "object",
      "id": "BareMetalDrainingMachine",
      "description": "Represents a machine that is currently draining."
    },
    "VmwareAdminPreparedSecretsConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether prepared secrets is enabled."
        }
      },
      "id": "VmwareAdminPreparedSecretsConfig",
      "description": "VmwareAdminPreparedSecretsConfig represents configuration for admin cluster prepared secrets.",
      "type": "object"
    },
    "BareMetalSecurityConfig": {
      "properties": {
        "authorization": {
          "description": "Configures user access to the user cluster.",
          "$ref": "Authorization"
        }
      },
      "type": "object",
      "id": "BareMetalSecurityConfig",
      "description": "Specifies the security related settings for the bare metal user cluster."
    },
    "BareMetalMaintenanceStatus": {
      "type": "object",
      "id": "BareMetalMaintenanceStatus",
      "description": "Represents the maintenance status of the bare metal user cluster.",
      "properties": {
        "machineDrainStatus": {
          "description": "The maintenance status of node machines.",
          "$ref": "BareMetalMachineDrainStatus"
        }
      }
    },
    "VmwareAdminAddonNodeConfig": {
      "type": "object",
      "id": "VmwareAdminAddonNodeConfig",
      "description": "VmwareAdminAddonNodeConfig contains add-on node configurations for VMware admin cluster.",
      "properties": {
        "autoResizeConfig": {
          "description": "VmwareAutoResizeConfig config specifies auto resize config.",
          "$ref": "VmwareAutoResizeConfig"
        }
      }
    },
    "VmwareSeesawConfig": {
      "properties": {
        "group": {
          "description": "Required. In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name].",
          "type": "string"
        },
        "vms": {
          "description": "Names of the VMs created for this Seesaw group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "stackdriverName": {
          "description": "Name to be used by Stackdriver.",
          "type": "string"
        },
        "masterIp": {
          "description": "Required. MasterIP is the IP announced by the master of Seesaw group.",
          "type": "string"
        },
        "ipBlocks": {
          "description": "Required. The IP Blocks to be used by the Seesaw load balancer",
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "type": "array"
        },
        "enableHa": {
          "description": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "VmwareSeesawConfig",
      "description": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'."
    },
    "VmwareVsphereConfig": {
      "type": "object",
      "id": "VmwareVsphereConfig",
      "description": "VmwareVsphereConfig represents configuration for the VMware VCenter for node pool.",
      "properties": {
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore. Inherited from the user cluster."
        },
        "tags": {
          "description": "Tags to apply to VMs.",
          "items": {
            "$ref": "VmwareVsphereTag"
          },
          "type": "array"
        },
        "hostGroups": {
          "description": "Vsphere host groups to apply to all VMs in the node pool",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "VmwareAdminManualLbConfig": {
      "id": "VmwareAdminManualLbConfig",
      "type": "object",
      "properties": {
        "ingressHttpsNodePort": {
          "format": "int32",
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "type": "integer"
        },
        "konnectivityServerNodePort": {
          "format": "int32",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564).",
          "type": "integer"
        },
        "ingressHttpNodePort": {
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer",
          "format": "int32"
        },
        "addonsNodePort": {
          "format": "int32",
          "description": "NodePort for add-ons server in the admin cluster.",
          "type": "integer"
        },
        "controlPlaneNodePort": {
          "type": "integer",
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968).",
          "format": "int32"
        }
      }
    },
    "VmwareLoadBalancerConfig": {
      "id": "VmwareLoadBalancerConfig",
      "description": "Specifies the locad balancer config for the VMware user cluster.",
      "type": "object",
      "properties": {
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareManualLbConfig"
        },
        "metalLbConfig": {
          "description": "Configuration for MetalLB typed load balancers.",
          "$ref": "VmwareMetalLbConfig"
        },
        "seesawConfig": {
          "readOnly": true,
          "$ref": "VmwareSeesawConfig",
          "description": "Output only. Configuration for Seesaw typed load balancers."
        },
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareF5BigIpConfig"
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareVipConfig"
        }
      }
    },
    "BareMetalLvpShareConfig": {
      "properties": {
        "lvpConfig": {
          "description": "Required. Defines the machine path and storage class for the LVP Share.",
          "$ref": "BareMetalLvpConfig"
        },
        "sharedPathPvCount": {
          "description": "The number of subdirectories to create under path.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "BareMetalLvpShareConfig",
      "description": "Specifies the configs for local persistent volumes under a shared file system.",
      "type": "object"
    },
    "BareMetalAdminNetworkConfig": {
      "properties": {
        "islandModeCidr": {
          "description": "Configuration for Island mode CIDR.",
          "$ref": "BareMetalAdminIslandModeCidrConfig"
        },
        "multipleNetworkInterfacesConfig": {
          "description": "Configuration for multiple network interfaces.",
          "$ref": "BareMetalAdminMultipleNetworkInterfacesConfig"
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag."
        }
      },
      "id": "BareMetalAdminNetworkConfig",
      "description": "BareMetalAdminNetworkConfig specifies the cluster network configuration.",
      "type": "object"
    },
    "VmwareDhcpIpConfig": {
      "id": "VmwareDhcpIpConfig",
      "description": "Represents the network configuration required for the VMware user clusters with DHCP IP configurations.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "enabled is a flag to mark if DHCP IP allocation is used for VMware user clusters."
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "progress": {
          "description": "Output only. Detailed progress information for the operation.",
          "$ref": "OperationProgress",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have [Operation.error] value with a [google.rpc.Status.code] of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "controlPlaneDisconnected": {
          "description": "Output only. Denotes if the local managing cluster's control plane is currently disconnected. This is expected to occur temporarily during self-managed cluster upgrades.",
          "type": "boolean",
          "readOnly": true
        },
        "type": {
          "description": "Output only. Type of operation being executed.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "UPGRADE",
            "PLATFORM_UPGRADE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The resource is being created.",
            "The resource is being deleted.",
            "The resource is being updated.",
            "The resource is being upgraded.",
            "The platform is being upgraded."
          ],
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "Metric": {
      "properties": {
        "metric": {
          "description": "Required. The metric name.",
          "enum": [
            "METRIC_ID_UNSPECIFIED",
            "NODES_TOTAL",
            "NODES_DRAINING",
            "NODES_UPGRADING",
            "NODES_PENDING_UPGRADE",
            "NODES_UPGRADED",
            "NODES_FAILED",
            "NODES_HEALTHY",
            "NODES_RECONCILING",
            "NODES_IN_MAINTENANCE",
            "PREFLIGHTS_COMPLETED",
            "PREFLIGHTS_RUNNING",
            "PREFLIGHTS_FAILED",
            "PREFLIGHTS_TOTAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The total number of nodes being actuated.",
            "The number of nodes draining.",
            "The number of nodes actively upgrading.",
            "The number of nodes to be upgraded.",
            "The number of nodes upgraded.",
            "The number of nodes to fail actuation.",
            "The number of nodes healthy.",
            "The number of nodes reconciling.",
            "The number of nodes in maintenance mode.",
            "The number of completed preflight checks.",
            "The number of preflight checks running.",
            "The number of preflight checks failed.",
            "The total number of preflight checks."
          ]
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "For metrics with floating point value."
        },
        "stringValue": {
          "description": "For metrics with custom values (ratios, visual progress, etc.).",
          "type": "string"
        },
        "intValue": {
          "description": "For metrics with integer value.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Metric",
      "description": "Progress metric is (string, int|float|string) pair."
    },
    "BareMetalAdminMachineDrainStatus": {
      "properties": {
        "drainedMachines": {
          "description": "The list of drained machines.",
          "items": {
            "$ref": "BareMetalAdminDrainedMachine"
          },
          "type": "array"
        },
        "drainingMachines": {
          "type": "array",
          "description": "The list of draning machines.",
          "items": {
            "$ref": "BareMetalAdminDrainingMachine"
          }
        }
      },
      "type": "object",
      "id": "BareMetalAdminMachineDrainStatus",
      "description": "BareMetalAdminMachineDrainStatus represents the status of bare metal node machines that are undergoing drain operations."
    },
    "BareMetalAdminDrainedMachine": {
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Drained machine IP address."
        }
      },
      "id": "BareMetalAdminDrainedMachine",
      "description": "BareMetalAdminDrainedMachine represents the machines that are drained.",
      "type": "object"
    },
    "BareMetalAdminMaintenanceConfig": {
      "id": "BareMetalAdminMaintenanceConfig",
      "description": "BareMetalAdminMaintenanceConfig specifies configurations to put bare metal Admin cluster CRs nodes in and out of maintenance.",
      "type": "object",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "type": "array",
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmwareStaticIpConfig": {
      "properties": {
        "ipBlocks": {
          "type": "array",
          "description": "Represents the configuration values for static IP allocation to nodes.",
          "items": {
            "$ref": "VmwareIpBlock"
          }
        }
      },
      "id": "VmwareStaticIpConfig",
      "description": "Represents the network configuration required for the VMware user clusters with Static IP configurations.",
      "type": "object"
    },
    "VmwareAutoRepairConfig": {
      "type": "object",
      "id": "VmwareAutoRepairConfig",
      "description": "Specifies config to enable/disable auto repair. The cluster-health-controller is deployed only if Enabled is true.",
      "properties": {
        "enabled": {
          "description": "Whether auto repair is enabled.",
          "type": "boolean"
        }
      }
    },
    "VmwareBundleConfig": {
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the bundle."
        },
        "status": {
          "description": "Output only. Resource status for the bundle.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        }
      },
      "id": "VmwareBundleConfig",
      "description": "VmwareBundleConfig represents configuration for the bundle.",
      "type": "object"
    },
    "BareMetalAdminIslandModeCidrConfig": {
      "properties": {
        "serviceAddressCidrBlocks": {
          "type": "array",
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          }
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "BareMetalAdminIslandModeCidrConfig",
      "description": "BareMetalAdminIslandModeCidrConfig specifies the cluster CIDR configuration while running in island mode.",
      "type": "object"
    },
    "BareMetalManualLbConfig": {
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "BareMetalManualLbConfig",
      "description": "Represents configuration parameters for a manual load balancer."
    },
    "ListBareMetalNodePoolsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "bareMetalNodePools": {
          "description": "The node pools from the specified parent resource.",
          "items": {
            "$ref": "BareMetalNodePool"
          },
          "type": "array"
        }
      },
      "id": "ListBareMetalNodePoolsResponse",
      "description": "Response message for listing bare metal node pools.",
      "type": "object"
    },
    "Fleet": {
      "properties": {
        "membership": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the managed fleet Membership resource associated to this cluster. Membership names are formatted as `projects//locations//memberships/`."
        }
      },
      "type": "object",
      "id": "Fleet",
      "description": "Fleet related configuration. Fleets are a Google Cloud concept for logically organizing clusters, letting you use and manage multi-cluster capabilities and apply consistent policies across your systems. See [Anthos Fleets](`https://cloud.google.com/anthos/multicluster-management/fleets`) for more details on Anthos multi-cluster capabilities using Fleets. ##"
    },
    "BareMetalVipConfig": {
      "properties": {
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this bare metal user cluster.",
          "type": "string"
        },
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal user cluster.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BareMetalVipConfig",
      "description": "Specifies the VIP config for the bare metal load balancer."
    },
    "ClusterUser": {
      "type": "object",
      "id": "ClusterUser",
      "description": "ClusterUser configures user principals for an RBAC policy.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. The name of the user, e.g. `my-gcp-id@gmail.com`."
        }
      }
    },
    "BareMetalPortConfig": {
      "type": "object",
      "id": "BareMetalPortConfig",
      "description": "Specifies load balancer ports for the bare metal user cluster.",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "type": "integer",
          "description": "The port that control plane hosted load balancers will listen on.",
          "format": "int32"
        }
      }
    },
    "VmwareAAGConfig": {
      "type": "object",
      "id": "VmwareAAGConfig",
      "description": "Specifies anti affinity group config for the VMware user cluster.",
      "properties": {
        "aagConfigDisabled": {
          "description": "Spread nodes across at least three physical hosts (requires at least three hosts). Enabled by default.",
          "type": "boolean"
        }
      }
    },
    "BareMetalNetworkConfig": {
      "type": "object",
      "id": "BareMetalNetworkConfig",
      "description": "Specifies the cluster network configuration.",
      "properties": {
        "islandModeCidr": {
          "description": "Configuration for island mode CIDR. In an island-mode network, nodes have unique IP addresses, but pods don't have unique addresses across clusters. This doesn't cause problems because pods in one cluster never directly communicate with pods in another cluster. Instead, there are gateways that mediate between a pod in one cluster and a pod in another cluster.",
          "$ref": "BareMetalIslandModeCidrConfig"
        },
        "multipleNetworkInterfacesConfig": {
          "description": "Configuration for multiple network interfaces.",
          "$ref": "BareMetalMultipleNetworkInterfacesConfig"
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag."
        },
        "srIovConfig": {
          "description": "Configuration for SR-IOV.",
          "$ref": "BareMetalSrIovConfig"
        }
      }
    },
    "VmwareAdminControlPlaneNodeConfig": {
      "properties": {
        "memory": {
          "description": "The number of mebibytes of memory for the control-plane node of the admin cluster.",
          "type": "string",
          "format": "int64"
        },
        "replicas": {
          "type": "string",
          "description": "The number of control plane nodes for this VMware admin cluster. (default: 1 replica).",
          "format": "int64"
        },
        "cpus": {
          "format": "int64",
          "type": "string",
          "description": "The number of vCPUs for the control-plane node of the admin cluster."
        }
      },
      "type": "object",
      "id": "VmwareAdminControlPlaneNodeConfig",
      "description": "VmwareAdminControlPlaneNodeConfig contains control plane node configuration for VMware admin cluster."
    },
    "Policy": {
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "EnrollVmwareClusterRequest": {
      "properties": {
        "vmwareClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
        },
        "validateOnly": {
          "description": "Validate the request without actually doing any updates.",
          "type": "boolean"
        },
        "localName": {
          "type": "string",
          "description": "Optional. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the vmware_cluster_id. Otherwise, it must match the object name of the VMware OnPremUserCluster custom resource. It is not modifiable outside / beyond the enrollment operation."
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnrollVmwareClusterRequest",
      "description": "Message for enrolling an existing VMware cluster to the Anthos On-Prem API."
    },
    "BareMetalNodePool": {
      "properties": {
        "status": {
          "$ref": "ResourceStatus",
          "readOnly": true,
          "description": "Output only. ResourceStatus representing the detailed node pool status."
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. The time at which this bare metal node pool was deleted. If the resource is not deleted, this must be empty",
          "readOnly": true,
          "format": "google-datetime"
        },
        "nodePoolConfig": {
          "description": "Required. Node pool configuration.",
          "$ref": "BareMetalNodePoolConfig"
        },
        "uid": {
          "description": "Output only. The unique identifier of the bare metal node pool.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the bare metal node pool."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the bare metal node pool.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this bare metal node pool was last updated."
        },
        "annotations": {
          "description": "Annotations on the bare metal node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The time at which this bare metal node pool was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The bare metal node pool resource name.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the bare metal node pool is being created.",
            "The RUNNING state indicates the bare metal node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the bare metal node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the bare metal node pool is being deleted.",
            "The ERROR state indicates the bare metal node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the bare metal node pool requires user action to restore full functionality."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the bare metal node pool.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "type": "string"
        },
        "upgradePolicy": {
          "description": "The worker node pool upgrade policy.",
          "$ref": "BareMetalNodePoolUpgradePolicy"
        }
      },
      "type": "object",
      "id": "BareMetalNodePool",
      "description": "Resource that represents a bare metal node pool."
    },
    "Versions": {
      "properties": {
        "versions": {
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "items": {
            "$ref": "Version"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Versions",
      "description": "Versions describes the mapping of a given version to the number of machines under this version."
    },
    "VmwareAdminVipConfig": {
      "id": "VmwareAdminVipConfig",
      "description": "VmwareAdminVipConfig for VMware load balancer configurations.",
      "type": "object",
      "properties": {
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of the admin cluster."
        },
        "addonsVip": {
          "description": "The VIP to configure the load balancer for add-ons.",
          "type": "string"
        }
      }
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "description": "Information about operation progress.",
      "type": "object",
      "properties": {
        "stages": {
          "description": "The stages of the operation.",
          "items": {
            "$ref": "OperationStage"
          },
          "type": "array"
        }
      }
    },
    "BareMetalBgpLbConfig": {
      "properties": {
        "asn": {
          "format": "int64",
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation.",
          "type": "string"
        },
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          },
          "type": "array"
        },
        "bgpPeerConfigs": {
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation.",
          "items": {
            "$ref": "BareMetalBgpPeerConfig"
          },
          "type": "array"
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      },
      "id": "BareMetalBgpLbConfig",
      "description": "BareMetalBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.",
      "type": "object"
    },
    "BareMetalAdminSecurityConfig": {
      "id": "BareMetalAdminSecurityConfig",
      "description": "Specifies the security related settings for the bare metal admin cluster.",
      "type": "object",
      "properties": {
        "authorization": {
          "description": "Configures user access to the admin cluster.",
          "$ref": "Authorization"
        }
      }
    },
    "BareMetalAdminMaintenanceStatus": {
      "id": "BareMetalAdminMaintenanceStatus",
      "description": "BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes.",
      "type": "object",
      "properties": {
        "machineDrainStatus": {
          "description": "Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade.",
          "$ref": "BareMetalAdminMachineDrainStatus"
        }
      }
    },
    "BareMetalLoadBalancerAddressPool": {
      "type": "object",
      "id": "BareMetalLoadBalancerAddressPool",
      "description": "Represents an IP pool used by the load balancer.",
      "properties": {
        "addresses": {
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "pool": {
          "type": "string",
          "description": "Required. The name of the address pool."
        },
        "manualAssign": {
          "type": "boolean",
          "description": "If true, prevent IP addresses from being automatically assigned."
        }
      }
    },
    "BareMetalOsEnvironmentConfig": {
      "properties": {
        "packageRepoExcluded": {
          "type": "boolean",
          "description": "Whether the package repo should not be included when initializing bare metal machines."
        }
      },
      "id": "BareMetalOsEnvironmentConfig",
      "description": "Specifies operating system settings for cluster provisioning.",
      "type": "object"
    },
    "UpgradeDependency": {
      "type": "object",
      "id": "UpgradeDependency",
      "description": "UpgradeDependency represents a dependency when upgrading a resource.",
      "properties": {
        "currentVersion": {
          "description": "Current version of the dependency e.g. 1.15.0.",
          "type": "string"
        },
        "resourceName": {
          "description": "Resource name of the dependency.",
          "type": "string"
        },
        "targetVersion": {
          "description": "Target version of the dependency e.g. 1.16.1. This is the version the dependency needs to be upgraded to before a resource can be upgraded.",
          "type": "string"
        },
        "membership": {
          "description": "Membership names are formatted as `projects//locations//memberships/`.",
          "type": "string"
        }
      }
    },
    "VmwareAdminPrivateRegistryConfig": {
      "properties": {
        "address": {
          "type": "string",
          "description": "The registry address."
        },
        "caCert": {
          "type": "string",
          "description": "When the container runtime pulls an image from private registry, the registry must prove its identity by presenting a certificate. The registry's certificate is signed by a certificate authority (CA). The container runtime uses the CA's certificate to validate the registry's certificate."
        }
      },
      "id": "VmwareAdminPrivateRegistryConfig",
      "description": "VmwareAdminPrivateRegistryConfig represents configuration for admin cluster registry.",
      "type": "object"
    },
    "BareMetalAdminLoadBalancerAddressPool": {
      "type": "object",
      "id": "BareMetalAdminLoadBalancerAddressPool",
      "description": "Represents an IP pool used by the load balancer.",
      "properties": {
        "addresses": {
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "avoidBuggyIps": {
          "type": "boolean",
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
        },
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        },
        "manualAssign": {
          "type": "boolean",
          "description": "If true, prevent IP addresses from being automatically assigned."
        }
      }
    },
    "QueryBareMetalVersionConfigResponse": {
      "properties": {
        "versions": {
          "description": "List of available versions to install or to upgrade to.",
          "items": {
            "$ref": "BareMetalVersionInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "QueryBareMetalVersionConfigResponse",
      "description": "Response message for querying bare metal admin cluster version config."
    },
    "BareMetalNodePoolUpgradePolicy": {
      "type": "object",
      "id": "BareMetalNodePoolUpgradePolicy",
      "description": "BareMetalNodePoolUpgradePolicy defines the node pool upgrade policy.",
      "properties": {
        "parallelUpgradeConfig": {
          "description": "The parallel upgrade settings for worker node pools.",
          "$ref": "BareMetalParallelUpgradeConfig"
        }
      }
    },
    "ResourceStatus": {
      "type": "object",
      "id": "ResourceStatus",
      "description": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED).",
      "properties": {
        "conditions": {
          "type": "array",
          "description": "ResourceCondition provide a standard mechanism for higher-level status reporting from controller.",
          "items": {
            "$ref": "ResourceCondition"
          }
        },
        "versions": {
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "$ref": "Versions"
        },
        "errorMessage": {
          "type": "string",
          "description": "Human-friendly representation of the error message from controller. The error message can be temporary as the controller controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention."
        },
        "version": {
          "description": "Reflect current version of the resource.",
          "type": "string"
        }
      }
    },
    "BareMetalCluster": {
      "id": "BareMetalCluster",
      "description": "Resource that represents a bare metal user cluster.",
      "type": "object",
      "properties": {
        "description": {
          "description": "A human readable description of this bare metal user cluster.",
          "type": "string"
        },
        "bareMetalVersion": {
          "type": "string",
          "description": "Required. The Anthos clusters on bare metal version for your user cluster."
        },
        "storage": {
          "description": "Required. Storage configuration.",
          "$ref": "BareMetalStorageConfig"
        },
        "adminClusterName": {
          "readOnly": true,
          "description": "Output only. The resource name of the bare metal admin cluster managing this user cluster.",
          "type": "string"
        },
        "maintenanceConfig": {
          "description": "Maintenance configuration.",
          "$ref": "BareMetalMaintenanceConfig"
        },
        "loadBalancer": {
          "description": "Required. Load balancer configuration.",
          "$ref": "BareMetalLoadBalancerConfig"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the bare metal user cluster was last updated.",
          "type": "string"
        },
        "localName": {
          "readOnly": true,
          "description": "Output only. The object name of the bare metal user cluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the name in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. When the local name and cluster name differ, the local name is used in the admin cluster controller logs. You use the cluster name when accessing the cluster using bmctl and kubectl.",
          "type": "string"
        },
        "securityConfig": {
          "description": "Security related setting configuration.",
          "$ref": "BareMetalSecurityConfig"
        },
        "localNamespace": {
          "type": "string",
          "description": "Output only. The namespace of the cluster.",
          "readOnly": true
        },
        "osEnvironmentConfig": {
          "description": "OS environment related configurations.",
          "$ref": "BareMetalOsEnvironmentConfig"
        },
        "upgradePolicy": {
          "description": "The cluster upgrade policy.",
          "$ref": "BareMetalClusterUpgradePolicy"
        },
        "maintenanceStatus": {
          "description": "Output only. Status of on-going maintenance tasks.",
          "readOnly": true,
          "$ref": "BareMetalMaintenanceStatus"
        },
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalClusterOperationsConfig"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the bare metal user cluster was created."
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalWorkloadNodeConfig"
        },
        "status": {
          "description": "Output only. Detailed cluster status.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "binaryAuthorization": {
          "description": "Binary Authorization related configurations.",
          "$ref": "BinaryAuthorization"
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership."
        },
        "proxy": {
          "description": "Proxy configuration.",
          "$ref": "BareMetalProxyConfig"
        },
        "uid": {
          "description": "Output only. The unique identifier of the bare metal user cluster.",
          "type": "string",
          "readOnly": true
        },
        "controlPlane": {
          "description": "Required. Control plane configuration.",
          "$ref": "BareMetalControlPlaneConfig"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the bare metal user cluster was deleted. If the resource is not deleted, this must be empty"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the bare metal user cluster.",
          "type": "boolean"
        },
        "validationCheck": {
          "$ref": "ValidationCheck",
          "readOnly": true,
          "description": "Output only. The result of the preflight check."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "nodeAccessConfig": {
          "description": "Node access related configurations.",
          "$ref": "BareMetalNodeAccessConfig"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "type": "string",
          "description": "Output only. The current state of the bare metal user cluster.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "$ref": "Fleet",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The bare metal user cluster resource name."
        },
        "endpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP address of the bare metal user cluster's API server."
        },
        "annotations": {
          "description": "Annotations on the bare metal user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkConfig": {
          "description": "Required. Network configuration.",
          "$ref": "BareMetalNetworkConfig"
        }
      }
    },
    "ValidationCheckResult": {
      "properties": {
        "category": {
          "description": "The category of the validation.",
          "type": "string"
        },
        "reason": {
          "description": "A human-readable message of the check failure.",
          "type": "string"
        },
        "description": {
          "description": "The description of the validation check.",
          "type": "string"
        },
        "details": {
          "description": "Detailed failure information, which might be unformatted.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value. The check result is unknown.",
            "The check failed.",
            "The check was skipped.",
            "The check itself failed to complete.",
            "The check encountered a warning."
          ],
          "description": "The validation check state.",
          "enum": [
            "STATE_UNKNOWN",
            "STATE_FAILURE",
            "STATE_SKIPPED",
            "STATE_FATAL",
            "STATE_WARNING"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ValidationCheckResult",
      "description": "ValidationCheckResult defines the details about the validation check."
    },
    "BareMetalAdminCluster": {
      "type": "object",
      "id": "BareMetalAdminCluster",
      "description": "Resource that represents a bare metal admin cluster.",
      "properties": {
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalAdminClusterOperationsConfig"
        },
        "maintenanceStatus": {
          "description": "Output only. MaintenanceStatus representing state of maintenance.",
          "$ref": "BareMetalAdminMaintenanceStatus",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
[...]
