{
  "servicePath": "",
  "protocol": "rest",
  "baseUrl": "https://gkeonprem.googleapis.com/",
  "version": "v1",
  "title": "GKE On-Prem API",
  "revision": "20260714",
  "discoveryVersion": "v1",
  "version_module": true,
  "rootUrl": "https://gkeonprem.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://gkeonprem.mtls.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "GKE On-Prem",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "gkeonprem:v1",
  "documentationLink": "https://cloud.google.com/anthos/clusters/docs/on-prem/",
  "ownerName": "Google",
  "basePath": "",
  "schemas": {
    "VmwareHostConfig": {
      "type": "object",
      "id": "VmwareHostConfig",
      "properties": {
        "dnsServers": {
          "description": "DNS servers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ntpServers": {
          "description": "NTP servers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsSearchDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNS search domains."
        }
      },
      "description": "Represents the common parameters for all the hosts irrespective of their IP address."
    },
    "BareMetalCluster": {
      "description": "Resource that represents a bare metal user cluster.",
      "properties": {
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalClusterOperationsConfig"
        },
        "proxy": {
          "description": "Proxy configuration.",
          "$ref": "BareMetalProxyConfig"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of the bare metal user cluster."
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the bare metal user cluster was deleted. If the resource is not deleted, this must be empty"
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalWorkloadNodeConfig"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The bare metal user cluster resource name."
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership."
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "createTime": {
          "description": "Output only. The time when the bare metal user cluster was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "validationCheck": {
          "description": "Output only. The result of the preflight check.",
          "readOnly": true,
          "$ref": "ValidationCheck"
        },
        "securityConfig": {
          "description": "Security related setting configuration.",
          "$ref": "BareMetalSecurityConfig"
        },
        "localNamespace": {
          "description": "Output only. The namespace of the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the bare metal user cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "upgradePolicy": {
          "description": "The cluster upgrade policy.",
          "$ref": "BareMetalClusterUpgradePolicy"
        },
        "networkConfig": {
          "description": "Required. Network configuration.",
          "$ref": "BareMetalNetworkConfig"
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. Detailed cluster status."
        },
        "endpoint": {
          "description": "Output only. The IP address of the bare metal user cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "A human readable description of this bare metal user cluster.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the bare metal user cluster was last updated."
        },
        "maintenanceConfig": {
          "description": "Maintenance configuration.",
          "$ref": "BareMetalMaintenanceConfig"
        },
        "osEnvironmentConfig": {
          "description": "OS environment related configurations.",
          "$ref": "BareMetalOsEnvironmentConfig"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the bare metal user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "localName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The object name of the bare metal user cluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the name in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. When the local name and cluster name differ, the local name is used in the admin cluster controller logs. You use the cluster name when accessing the cluster using bmctl and kubectl."
        },
        "adminClusterName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the bare metal admin cluster managing this user cluster."
        },
        "maintenanceStatus": {
          "description": "Output only. Status of on-going maintenance tasks.",
          "$ref": "BareMetalMaintenanceStatus",
          "readOnly": true
        },
        "loadBalancer": {
          "description": "Required. Load balancer configuration.",
          "$ref": "BareMetalLoadBalancerConfig"
        },
        "storage": {
          "description": "Required. Storage configuration.",
          "$ref": "BareMetalStorageConfig"
        },
        "uid": {
          "description": "Output only. The unique identifier of the bare metal user cluster.",
          "readOnly": true,
          "type": "string"
        },
        "binaryAuthorization": {
          "description": "Binary Authorization related configurations.",
          "$ref": "BinaryAuthorization"
        },
        "nodeAccessConfig": {
          "description": "Node access related configurations.",
          "$ref": "BareMetalNodeAccessConfig"
        },
        "controlPlane": {
          "description": "Required. Control plane configuration.",
          "$ref": "BareMetalControlPlaneConfig"
        },
        "bareMetalVersion": {
          "type": "string",
          "description": "Required. The Anthos clusters on bare metal version for your user cluster."
        }
      },
      "id": "BareMetalCluster",
      "type": "object"
    },
    "VmwareAdminAuthorizationConfig": {
      "type": "object",
      "id": "VmwareAdminAuthorizationConfig",
      "properties": {
        "viewerUsers": {
          "type": "array",
          "items": {
            "$ref": "ClusterUser"
          },
          "description": "For VMware admin clusters, users will be granted the cluster-viewer role on the cluster."
        }
      },
      "description": "VmwareAdminAuthorizationConfig represents configuration for admin cluster authorization."
    },
    "BareMetalDrainedMachine": {
      "description": "Represents a machine that is currently drained.",
      "properties": {
        "nodeIp": {
          "description": "Drained machine IP address.",
          "type": "string"
        }
      },
      "id": "BareMetalDrainedMachine",
      "type": "object"
    },
    "BareMetalAdminVipConfig": {
      "id": "BareMetalAdminVipConfig",
      "type": "object",
      "description": "BareMetalAdminVipConfig for bare metal load balancer configurations.",
      "properties": {
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal admin cluster."
        }
      }
    },
    "BareMetalOsEnvironmentConfig": {
      "description": "Specifies operating system settings for cluster provisioning.",
      "properties": {
        "packageRepoExcluded": {
          "type": "boolean",
          "description": "Whether the package repo should not be included when initializing bare metal machines."
        }
      },
      "id": "BareMetalOsEnvironmentConfig",
      "type": "object"
    },
    "VmwareAdminVCenterConfig": {
      "properties": {
        "datacenter": {
          "description": "The name of the vCenter datacenter for the admin cluster.",
          "type": "string"
        },
        "folder": {
          "type": "string",
          "description": "The name of the vCenter folder for the admin cluster."
        },
        "storagePolicyName": {
          "description": "The name of the vCenter storage policy for the user cluster.",
          "type": "string"
        },
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore for the admin cluster."
        },
        "resourcePool": {
          "type": "string",
          "description": "The name of the vCenter resource pool for the admin cluster."
        },
        "dataDisk": {
          "type": "string",
          "description": "The name of the virtual machine disk (VMDK) for the admin cluster."
        },
        "cluster": {
          "type": "string",
          "description": "The name of the vCenter cluster for the admin cluster."
        },
        "caCertData": {
          "type": "string",
          "description": "Contains the vCenter CA certificate public key for SSL verification."
        },
        "address": {
          "type": "string",
          "description": "The vCenter IP address."
        }
      },
      "description": "VmwareAdminVCenterConfig contains VCenter configuration for VMware admin cluster.",
      "type": "object",
      "id": "VmwareAdminVCenterConfig"
    },
    "VmwareManualLbConfig": {
      "type": "object",
      "id": "VmwareManualLbConfig",
      "properties": {
        "controlPlaneNodePort": {
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968).",
          "type": "integer",
          "format": "int32"
        },
        "ingressHttpNodePort": {
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer",
          "format": "int32"
        },
        "ingressHttpsNodePort": {
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "type": "integer",
          "format": "int32"
        },
        "konnectivityServerNodePort": {
          "type": "integer",
          "format": "int32",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564)."
        }
      },
      "description": "Represents configuration parameters for an already existing manual load balancer. Given the nature of manual load balancers it is expected that said load balancer will be fully managed by users. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update ManualLB configurations it can only bind a pre-existing configuration to a new VMware user cluster."
    },
    "VmwareAutoResizeConfig": {
      "type": "object",
      "id": "VmwareAutoResizeConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable controle plane node auto resizing."
        }
      },
      "description": "Represents auto resizing configurations for the VMware user cluster."
    },
    "VmwareLoadBalancerConfig": {
      "id": "VmwareLoadBalancerConfig",
      "type": "object",
      "description": "Specifies the locad balancer config for the VMware user cluster.",
      "properties": {
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareF5BigIpConfig"
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareVipConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareManualLbConfig"
        },
        "seesawConfig": {
          "$ref": "VmwareSeesawConfig",
          "readOnly": true,
          "description": "Output only. Configuration for Seesaw typed load balancers."
        },
        "metalLbConfig": {
          "description": "Configuration for MetalLB typed load balancers.",
          "$ref": "VmwareMetalLbConfig"
        }
      }
    },
    "OperationProgress": {
      "properties": {
        "stages": {
          "description": "The stages of the operation.",
          "type": "array",
          "items": {
            "$ref": "OperationStage"
          }
        }
      },
      "description": "Information about operation progress.",
      "type": "object",
      "id": "OperationProgress"
    },
    "BareMetalAdminManualLbConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether manual load balancing is enabled."
        }
      },
      "description": "BareMetalAdminManualLbConfig represents configuration parameters for a manual load balancer.",
      "type": "object",
      "id": "BareMetalAdminManualLbConfig"
    },
    "BareMetalAdminDrainedMachine": {
      "type": "object",
      "id": "BareMetalAdminDrainedMachine",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Drained machine IP address."
        }
      },
      "description": "BareMetalAdminDrainedMachine represents the machines that are drained."
    },
    "BareMetalNodeAccessConfig": {
      "properties": {
        "loginUser": {
          "description": "LoginUser is the user name used to access node machines. It defaults to \"root\" if not set.",
          "type": "string"
        }
      },
      "description": "Specifies the node access related settings for the bare metal user cluster.",
      "type": "object",
      "id": "BareMetalNodeAccessConfig"
    },
    "BareMetalVersionInfo": {
      "description": "Contains information about a specific Anthos on bare metal version.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version number e.g. 1.13.1."
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "UpgradeDependency"
          },
          "description": "The list of upgrade dependencies for this version."
        },
        "hasDependencies": {
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster, version skew policy, etc) must be upgraded before this version can be installed or upgraded to.",
          "type": "boolean"
        }
      },
      "id": "BareMetalVersionInfo",
      "type": "object"
    },
    "BareMetalAdminStorageConfig": {
      "type": "object",
      "id": "BareMetalAdminStorageConfig",
      "properties": {
        "lvpNodeMountsConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.",
          "$ref": "BareMetalLvpConfig"
        },
        "lvpShareConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation.",
          "$ref": "BareMetalLvpShareConfig"
        }
      },
      "description": "BareMetalAdminStorageConfig specifies the cluster storage configuration."
    },
    "BareMetalControlPlaneConfig": {
      "type": "object",
      "id": "BareMetalControlPlaneConfig",
      "properties": {
        "controlPlaneNodePoolConfig": {
          "description": "Required. Configures the node pool running the control plane.",
          "$ref": "BareMetalControlPlaneNodePoolConfig"
        },
        "apiServerArgs": {
          "type": "array",
          "items": {
            "$ref": "BareMetalApiServerArgument"
          },
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/)."
        }
      },
      "description": "Specifies the control plane configuration."
    },
    "BareMetalMetalLbConfig": {
      "description": "Represents configuration parameters for a MetalLB load balancer.",
      "properties": {
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running the load balancer. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used as the load balancer pool.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        },
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          }
        }
      },
      "id": "BareMetalMetalLbConfig",
      "type": "object"
    },
    "BareMetalAdminSecurityConfig": {
      "properties": {
        "authorization": {
          "description": "Configures user access to the admin cluster.",
          "$ref": "Authorization"
        }
      },
      "description": "Specifies the security related settings for the bare metal admin cluster.",
      "type": "object",
      "id": "BareMetalAdminSecurityConfig"
    },
    "VmwareVsphereTag": {
      "properties": {
        "category": {
          "description": "The Vsphere tag category.",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "The Vsphere tag name."
        }
      },
      "description": "VmwareVsphereTag describes a vSphere tag to be placed on VMs in the node pool. For more information, see https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vcenterhost.doc/GUID-E8E854DD-AA97-4E0C-8419-CE84F93C4058.html",
      "type": "object",
      "id": "VmwareVsphereTag"
    },
    "VmwareVCenterConfig": {
      "type": "object",
      "id": "VmwareVCenterConfig",
      "properties": {
        "folder": {
          "type": "string",
          "description": "The name of the vCenter folder for the user cluster."
        },
        "storagePolicyName": {
          "description": "The name of the vCenter storage policy for the user cluster.",
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "The name of the vCenter cluster for the user cluster."
        },
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore for the user cluster."
        },
        "caCertData": {
          "type": "string",
          "description": "Contains the vCenter CA certificate public key for SSL verification."
        },
        "address": {
          "description": "Output only. The vCenter IP address.",
          "readOnly": true,
          "type": "string"
        },
        "datacenter": {
          "type": "string",
          "description": "The name of the vCenter datacenter for the user cluster."
        },
        "resourcePool": {
          "type": "string",
          "description": "The name of the vCenter resource pool for the user cluster."
        }
      },
      "description": "Represents configuration for the VMware VCenter for the user cluster."
    },
    "QueryBareMetalAdminVersionConfigResponse": {
      "type": "object",
      "id": "QueryBareMetalAdminVersionConfigResponse",
      "properties": {
        "versions": {
          "description": "List of available versions to install or to upgrade to.",
          "type": "array",
          "items": {
            "$ref": "BareMetalVersionInfo"
          }
        }
      },
      "description": "Response message for querying bare metal admin cluster version config."
    },
    "BareMetalAdminBgpLbConfig": {
      "properties": {
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing.",
          "$ref": "BareMetalAdminLoadBalancerNodePoolConfig"
        },
        "asn": {
          "type": "string",
          "format": "int64",
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation."
        },
        "bgpPeerConfigs": {
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminBgpPeerConfig"
          },
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation."
        },
        "addressPools": {
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminLoadBalancerAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
        }
      },
      "description": "BareMetalAdminBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.",
      "type": "object",
      "id": "BareMetalAdminBgpLbConfig"
    },
    "BareMetalAdminMultipleNetworkInterfacesConfig": {
      "description": "Specifies the multiple networking interfaces cluster configuration.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true."
        }
      },
      "id": "BareMetalAdminMultipleNetworkInterfacesConfig",
      "type": "object"
    },
    "ResourceCondition": {
      "properties": {
        "lastTransitionTime": {
          "description": "Last time the condition transit from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "description": "Type of the condition. (e.g., ClusterRunning, NodePoolRunning or ServerSidePreflightReady)"
        },
        "state": {
          "description": "state of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Resource is in the condition.",
            "Resource is not in the condition.",
            "Kubernetes controller can't decide if the resource is in the condition or not."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TRUE",
            "STATE_FALSE",
            "STATE_UNKNOWN"
          ]
        },
        "reason": {
          "description": "Machine-readable message indicating details about last transition.",
          "type": "string"
        },
        "message": {
          "description": "Human-readable message indicating details about last transition.",
          "type": "string"
        }
      },
      "description": "ResourceCondition provides a standard mechanism for higher-level status reporting from controller.",
      "type": "object",
      "id": "ResourceCondition"
    },
    "BareMetalNodePoolConfig": {
      "type": "object",
      "id": "BareMetalNodePoolConfig",
      "properties": {
        "nodeConfigs": {
          "type": "array",
          "items": {
            "$ref": "BareMetalNodeConfig"
          },
          "description": "Required. The list of machine addresses in the bare metal node pool."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels assigned to nodes of this node pool. An object containing a list of key/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }."
        },
        "kubeletConfig": {
          "description": "The modifiable kubelet configurations for the bare metal machines.",
          "$ref": "BareMetalKubeletConfig"
        },
        "operatingSystem": {
          "description": "Specifies the nodes operating system (default: LINUX).",
          "type": "string",
          "enumDescriptions": [
            "No operating system runtime selected.",
            "Linux operating system."
          ],
          "enum": [
            "OPERATING_SYSTEM_UNSPECIFIED",
            "LINUX"
          ]
        },
        "taints": {
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          },
          "description": "The initial taints assigned to nodes of this node pool."
        }
      },
      "description": "BareMetalNodePoolConfig describes the configuration of all nodes within a given bare metal node pool."
    },
    "EnrollVmwareAdminClusterRequest": {
      "properties": {
        "vmwareAdminClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        },
        "membership": {
          "description": "Required. This is the full resource name of this admin cluster's fleet membership.",
          "type": "string"
        }
      },
      "description": "Message for enrolling an existing VMware admin cluster to the GKE on-prem API.",
      "type": "object",
      "id": "EnrollVmwareAdminClusterRequest"
    },
    "VmwareAdminLoadBalancerConfig": {
      "properties": {
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareAdminF5BigIpConfig"
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareAdminVipConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareAdminManualLbConfig"
        },
        "seesawConfig": {
          "description": "Output only. Configuration for Seesaw typed load balancers.",
          "$ref": "VmwareAdminSeesawConfig",
          "readOnly": true
        },
        "metalLbConfig": {
          "description": "MetalLB load balancers.",
          "$ref": "VmwareAdminMetalLbConfig"
        }
      },
      "description": "VmwareAdminLoadBalancerConfig contains load balancer configuration for VMware admin cluster.",
      "type": "object",
      "id": "VmwareAdminLoadBalancerConfig"
    },
    "ListVmwareNodePoolsResponse": {
      "id": "ListVmwareNodePoolsResponse",
      "type": "object",
      "description": "Response message for listing VMware node pools.",
      "properties": {
        "vmwareNodePools": {
          "description": "The node pools from the specified parent resource.",
          "type": "array",
          "items": {
            "$ref": "VmwareNodePool"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "VmwareF5BigIpConfig": {
      "id": "VmwareF5BigIpConfig",
      "type": "object",
      "description": "Represents configuration parameters for an F5 BIG-IP load balancer.",
      "properties": {
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        },
        "snatPool": {
          "type": "string",
          "description": "The pool name. Only necessary, if using SNAT."
        },
        "address": {
          "description": "The load balancer's IP address.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminIslandModeCidrConfig": {
      "description": "BareMetalAdminIslandModeCidrConfig specifies the cluster CIDR configuration while running in island mode.",
      "properties": {
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "podAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation."
        }
      },
      "id": "BareMetalAdminIslandModeCidrConfig",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "VmwareAutoRepairConfig": {
      "properties": {
        "enabled": {
          "description": "Whether auto repair is enabled.",
          "type": "boolean"
        }
      },
      "description": "Specifies config to enable/disable auto repair. The cluster-health-controller is deployed only if Enabled is true.",
      "type": "object",
      "id": "VmwareAutoRepairConfig"
    },
    "VmwareIpBlock": {
      "id": "VmwareIpBlock",
      "type": "object",
      "description": "Represents a collection of IP addresses to assign to nodes.",
      "properties": {
        "ips": {
          "type": "array",
          "items": {
            "$ref": "VmwareHostIp"
          },
          "description": "The node's network configurations used by the VMware user cluster."
        },
        "netmask": {
          "description": "The netmask used by the VMware user cluster.",
          "type": "string"
        },
        "gateway": {
          "type": "string",
          "description": "The network gateway used by the VMware user cluster."
        }
      }
    },
    "VmwareDhcpIpConfig": {
      "id": "VmwareDhcpIpConfig",
      "type": "object",
      "description": "Represents the network configuration required for the VMware user clusters with DHCP IP configurations.",
      "properties": {
        "enabled": {
          "description": "enabled is a flag to mark if DHCP IP allocation is used for VMware user clusters.",
          "type": "boolean"
        }
      }
    },
    "BareMetalAdminBgpPeerConfig": {
      "properties": {
        "asn": {
          "type": "string",
          "format": "int64",
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device."
        },
        "ipAddress": {
          "description": "Required. The IP address of the external peer device.",
          "type": "string"
        },
        "controlPlaneNodes": {
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "BareMetalAdminBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer.",
      "type": "object",
      "id": "BareMetalAdminBgpPeerConfig"
    },
    "BareMetalClusterOperationsConfig": {
      "id": "BareMetalClusterOperationsConfig",
      "type": "object",
      "description": "Specifies the bare metal user cluster's observability infrastructure.",
      "properties": {
        "enableApplicationLogs": {
          "type": "boolean",
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics)."
        }
      }
    },
    "Version": {
      "description": "Version describes the number of nodes at a given version under a resource.",
      "properties": {
        "version": {
          "description": "Resource version.",
          "type": "string"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Number of machines under the above version."
        }
      },
      "id": "Version",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "id": "Location",
      "type": "object"
    },
    "VmwareNodeConfig": {
      "properties": {
        "labels": {
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "image": {
          "type": "string",
          "description": "The OS image name in vCenter, only valid when using Windows."
        },
        "bootDiskSizeGb": {
          "description": "VMware disk size to be used during creation.",
          "type": "string",
          "format": "int64"
        },
        "memoryMb": {
          "description": "The megabytes of memory for each node in the node pool.",
          "type": "string",
          "format": "int64"
        },
        "taints": {
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          },
          "description": "The initial taints assigned to nodes of this node pool."
        },
        "vsphereConfig": {
          "description": "Specifies the vSphere config for node pool.",
          "$ref": "VmwareVsphereConfig"
        },
        "enableLoadBalancer": {
          "type": "boolean",
          "description": "Allow node pool traffic to be load balanced. Only works for clusters with MetalLB load balancers."
        },
        "cpus": {
          "description": "The number of CPUs for each node in the node pool.",
          "type": "string",
          "format": "int64"
        },
        "imageType": {
          "type": "string",
          "description": "Required. The OS image to be used for each node in a node pool. Currently `cos`, `cos_cgv2`, `ubuntu`, `ubuntu_cgv2`, `ubuntu_containerd` and `windows` are supported."
        },
        "replicas": {
          "description": "The number of nodes in the node pool.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Parameters that describe the configuration of all nodes within a given node pool.",
      "type": "object",
      "id": "VmwareNodeConfig"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "VmwareHostIp": {
      "type": "object",
      "id": "VmwareHostIp",
      "properties": {
        "hostname": {
          "description": "Hostname of the machine. VM's name will be used if this field is empty.",
          "type": "string"
        },
        "ip": {
          "type": "string",
          "description": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0/24)."
        }
      },
      "description": "Represents VMware user cluster node's network configuration."
    },
    "BareMetalApiServerArgument": {
      "description": "Represents an arg name->value pair. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
      "properties": {
        "argument": {
          "description": "Required. The argument name as it appears on the API Server command line, make sure to remove the leading dashes.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the arg as it will be passed to the API Server command line."
        }
      },
      "id": "BareMetalApiServerArgument",
      "type": "object"
    },
    "BareMetalMachineDrainStatus": {
      "properties": {
        "drainingMachines": {
          "description": "The list of draning machines.",
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainingMachine"
          }
        },
        "drainedMachines": {
          "description": "The list of drained machines.",
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainedMachine"
          }
        }
      },
      "description": "Represents the status of node machines that are undergoing drain operations.",
      "type": "object",
      "id": "BareMetalMachineDrainStatus"
    },
    "BareMetalNodeConfig": {
      "properties": {
        "nodeIp": {
          "description": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels assigned to this node. An object containing a list of key/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }."
        }
      },
      "description": "BareMetalNodeConfig lists machine addresses to access Nodes.",
      "type": "object",
      "id": "BareMetalNodeConfig"
    },
    "BinaryAuthorization": {
      "description": "Configuration for Binary Authorization.",
      "properties": {
        "evaluationMode": {
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy."
          ],
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ]
        }
      },
      "id": "BinaryAuthorization",
      "type": "object"
    },
    "BareMetalMultipleNetworkInterfacesConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true."
        }
      },
      "description": "Specifies the multiple networking interfaces cluster configuration.",
      "type": "object",
      "id": "BareMetalMultipleNetworkInterfacesConfig"
    },
    "BareMetalStorageConfig": {
      "id": "BareMetalStorageConfig",
      "type": "object",
      "description": "BareMetalStorageConfig specifies the cluster storage configuration.",
      "properties": {
        "lvpShareConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation.",
          "$ref": "BareMetalLvpShareConfig"
        },
        "lvpNodeMountsConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.",
          "$ref": "BareMetalLvpConfig"
        }
      }
    },
    "VmwareStorageConfig": {
      "description": "Specifies vSphere CSI components deployment config in the VMware user cluster.",
      "properties": {
        "vsphereCsiDisabled": {
          "type": "boolean",
          "description": "Whether or not to deploy vSphere CSI components in the VMware user cluster. Enabled by default."
        }
      },
      "id": "VmwareStorageConfig",
      "type": "object"
    },
    "VmwareAAGConfig": {
      "description": "Specifies anti affinity group config for the VMware user cluster.",
      "properties": {
        "aagConfigDisabled": {
          "description": "Spread nodes across at least three physical hosts (requires at least three hosts). Enabled by default.",
          "type": "boolean"
        }
      },
      "id": "VmwareAAGConfig",
      "type": "object"
    },
    "VmwareSeesawConfig": {
      "description": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'.",
      "properties": {
        "enableHa": {
          "type": "boolean",
          "description": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer."
        },
        "stackdriverName": {
          "description": "Name to be used by Stackdriver.",
          "type": "string"
        },
        "vms": {
          "description": "Names of the VMs created for this Seesaw group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipBlocks": {
          "description": "Required. The IP Blocks to be used by the Seesaw load balancer",
          "type": "array",
          "items": {
            "$ref": "VmwareIpBlock"
          }
        },
        "group": {
          "description": "Required. In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name].",
          "type": "string"
        },
        "masterIp": {
          "description": "Required. MasterIP is the IP announced by the master of Seesaw group.",
          "type": "string"
        }
      },
      "id": "VmwareSeesawConfig",
      "type": "object"
    },
    "BareMetalAdminPortConfig": {
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "description": "The port that control plane hosted load balancers will listen on.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "BareMetalAdminPortConfig is the specification of load balancer ports.",
      "type": "object",
      "id": "BareMetalAdminPortConfig"
    },
    "QueryBareMetalVersionConfigResponse": {
      "type": "object",
      "id": "QueryBareMetalVersionConfigResponse",
      "properties": {
        "versions": {
          "description": "List of available versions to install or to upgrade to.",
          "type": "array",
          "items": {
            "$ref": "BareMetalVersionInfo"
          }
        }
      },
      "description": "Response message for querying bare metal admin cluster version config."
    },
    "VmwareCluster": {
      "id": "VmwareCluster",
      "type": "object",
      "description": "Resource that represents a VMware user cluster. ##",
      "properties": {
        "binaryAuthorization": {
          "description": "Binary Authorization related configurations.",
          "$ref": "BinaryAuthorization"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the VMware user cluster."
        },
        "vcenter": {
          "description": "VmwareVCenterConfig specifies vCenter config for the user cluster. If unspecified, it is inherited from the admin cluster.",
          "$ref": "VmwareVCenterConfig"
        },
        "annotations": {
          "description": "Annotations on the VMware user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableControlPlaneV2": {
          "description": "Enable control plane V2. Default to false.",
          "type": "boolean"
        },
        "onPremVersion": {
          "type": "string",
          "description": "Required. The Anthos clusters on the VMware version for your user cluster."
        },
        "storage": {
          "description": "Storage configuration.",
          "$ref": "VmwareStorageConfig"
        },
        "loadBalancer": {
          "description": "Load balancer configuration.",
          "$ref": "VmwareLoadBalancerConfig"
        },
        "disableBundledIngress": {
          "description": "Disable bundled ingress.",
          "type": "boolean"
        },
        "localName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs."
        },
        "controlPlaneNode": {
          "description": "VMware user cluster control plane nodes must have either 1 or 3 replicas.",
          "$ref": "VmwareControlPlaneNodeConfig"
        },
        "adminClusterName": {
          "description": "Output only. The resource name of the VMware admin cluster hosting this user cluster.",
          "readOnly": true,
          "type": "string"
        },
        "antiAffinityGroups": {
          "description": "AAGConfig specifies whether to spread VMware user cluster nodes across at least three physical hosts in the datacenter.",
          "$ref": "VmwareAAGConfig"
        },
        "upgradePolicy": {
          "description": "Specifies upgrade policy for the cluster.",
          "$ref": "VmwareClusterUpgradePolicy"
        },
        "networkConfig": {
          "description": "The VMware user cluster network configuration.",
          "$ref": "VmwareNetworkConfig"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the VMware user cluster."
        },
        "autoRepairConfig": {
          "description": "Configuration for auto repairing.",
          "$ref": "VmwareAutoRepairConfig"
        },
        "enableAdvancedCluster": {
          "type": "boolean",
          "description": "Enable advanced cluster."
        },
        "endpoint": {
          "description": "Output only. The DNS name of VMware user cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "A human readable description of this VMware user cluster.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which VMware user cluster was last updated."
        },
        "dataplaneV2": {
          "description": "VmwareDataplaneV2Config specifies configuration for Dataplane V2.",
          "$ref": "VmwareDataplaneV2Config"
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state of VMware user cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which VMware user cluster was deleted."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "vmTrackingEnabled": {
          "description": "Enable VM tracking.",
          "type": "boolean"
        },
        "authorization": {
          "description": "RBAC policy that will be applied and managed by the Anthos On-Prem API.",
          "$ref": "Authorization"
        },
        "validationCheck": {
          "$ref": "ValidationCheck",
          "readOnly": true,
          "description": "Output only. ValidationCheck represents the result of the preflight check job."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The VMware user cluster resource name."
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        },
        "fleet": {
          "$ref": "Fleet",
          "readOnly": true,
          "description": "Output only. Fleet configuration for the cluster."
        },
        "createTime": {
          "description": "Output only. The time at which VMware user cluster was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListVmwareAdminClustersResponse": {
      "description": "Response message for listing VMware admin clusters.",
      "properties": {
        "vmwareAdminClusters": {
          "description": "The list of VMware admin cluster.",
          "type": "array",
          "items": {
            "$ref": "VmwareAdminCluster"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListVmwareAdminClustersResponse",
      "type": "object"
    },
    "VmwareBundleConfig": {
      "description": "VmwareBundleConfig represents configuration for the bundle.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the bundle."
        },
        "status": {
          "description": "Output only. Resource status for the bundle.",
          "$ref": "ResourceStatus",
          "readOnly": true
        }
      },
      "id": "VmwareBundleConfig",
      "type": "object"
    },
    "VmwareControlPlaneVsphereConfig": {
      "properties": {
        "datastore": {
          "type": "string",
          "description": "The Vsphere datastore used by the control plane Node."
        },
        "storagePolicyName": {
          "type": "string",
          "description": "The Vsphere storage policy used by the control plane Node."
        }
      },
      "description": "Specifies control plane node config.",
      "type": "object",
      "id": "VmwareControlPlaneVsphereConfig"
    },
    "BareMetalWorkloadNodeConfig": {
      "description": "Specifies the workload node configurations.",
      "properties": {
        "maxPodsPerNode": {
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter.",
          "type": "string",
          "format": "int64"
        },
        "containerRuntime": {
          "description": "Specifies which container runtime will be used.",
          "type": "string",
          "enumDescriptions": [
            "No container runtime selected.",
            "Containerd runtime."
          ],
          "enum": [
            "CONTAINER_RUNTIME_UNSPECIFIED",
            "CONTAINERD"
          ]
        }
      },
      "id": "BareMetalWorkloadNodeConfig",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "VmwareVsphereConfig": {
      "properties": {
        "hostGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Vsphere host groups to apply to all VMs in the node pool"
        },
        "datastore": {
          "description": "The name of the vCenter datastore. Inherited from the user cluster.",
          "type": "string"
        },
        "tags": {
          "description": "Tags to apply to VMs.",
          "type": "array",
          "items": {
            "$ref": "VmwareVsphereTag"
          }
        }
      },
      "description": "VmwareVsphereConfig represents configuration for the VMware VCenter for node pool.",
      "type": "object",
      "id": "VmwareVsphereConfig"
    },
    "VmwareAdminPrivateRegistryConfig": {
      "description": "VmwareAdminPrivateRegistryConfig represents configuration for admin cluster registry.",
      "properties": {
        "caCert": {
          "description": "When the container runtime pulls an image from private registry, the registry must prove its identity by presenting a certificate. The registry's certificate is signed by a certificate authority (CA). The container runtime uses the CA's certificate to validate the registry's certificate.",
          "type": "string"
        },
        "address": {
          "description": "The registry address.",
          "type": "string"
        }
      },
      "id": "VmwareAdminPrivateRegistryConfig",
      "type": "object"
    },
    "ValidationCheckResult": {
      "description": "ValidationCheckResult defines the details about the validation check.",
      "properties": {
        "state": {
          "description": "The validation check state.",
          "type": "string",
          "enumDescriptions": [
            "The default value. The check result is unknown.",
            "The check failed.",
            "The check was skipped.",
            "The check itself failed to complete.",
            "The check encountered a warning."
          ],
          "enum": [
            "STATE_UNKNOWN",
            "STATE_FAILURE",
            "STATE_SKIPPED",
            "STATE_FATAL",
            "STATE_WARNING"
          ]
        },
        "reason": {
          "description": "A human-readable message of the check failure.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Detailed failure information, which might be unformatted."
        },
        "description": {
          "description": "The description of the validation check.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The category of the validation."
        }
      },
      "id": "ValidationCheckResult",
      "type": "object"
    },
    "ListBareMetalNodePoolsResponse": {
      "type": "object",
      "id": "ListBareMetalNodePoolsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bareMetalNodePools": {
          "type": "array",
          "items": {
            "$ref": "BareMetalNodePool"
          },
          "description": "The node pools from the specified parent resource."
        }
      },
      "description": "Response message for listing bare metal node pools."
    },
    "VmwareAdminF5BigIpConfig": {
      "properties": {
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        },
        "snatPool": {
          "description": "The pool name. Only necessary, if using SNAT.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The load balancer's IP address."
        }
      },
      "description": "VmwareAdminF5BigIpConfig represents configuration parameters for an F5 BIG-IP load balancer.",
      "type": "object",
      "id": "VmwareAdminF5BigIpConfig"
    },
    "VmwareAdminVipConfig": {
      "description": "VmwareAdminVipConfig for VMware load balancer configurations.",
      "properties": {
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of the admin cluster."
        },
        "addonsVip": {
          "type": "string",
          "description": "The VIP to configure the load balancer for add-ons."
        }
      },
      "id": "VmwareAdminVipConfig",
      "type": "object"
    },
    "VmwareAdminMetalLbConfig": {
      "type": "object",
      "id": "VmwareAdminMetalLbConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether MetalLB is enabled."
        }
      },
      "description": "VmwareAdminMetalLbConfig represents configuration parameters for a MetalLB load balancer. For admin clusters, currently no configurations is needed."
    },
    "VmwareAddressPool": {
      "id": "VmwareAddressPool",
      "type": "object",
      "description": "Represents an IP pool used by the load balancer.",
      "properties": {
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "manualAssign": {
          "type": "boolean",
          "description": "If true, prevent IP addresses from being automatically assigned."
        },
        "pool": {
          "type": "string",
          "description": "Required. The name of the address pool."
        },
        "addresses": {
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListVmwareClustersResponse": {
      "description": "Response message for listing VMware Clusters.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        },
        "vmwareClusters": {
          "type": "array",
          "items": {
            "$ref": "VmwareCluster"
          },
          "description": "The list of VMware Cluster."
        }
      },
      "id": "ListVmwareClustersResponse",
      "type": "object"
    },
    "Fleet": {
      "properties": {
        "membership": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the managed fleet Membership resource associated to this cluster. Membership names are formatted as `projects//locations//memberships/`."
        }
      },
      "description": "Fleet related configuration. Fleets are a Google Cloud concept for logically organizing clusters, letting you use and manage multi-cluster capabilities and apply consistent policies across your systems. See [Anthos Fleets](`https://cloud.google.com/anthos/multicluster-management/fleets`) for more details on Anthos multi-cluster capabilities using Fleets. ##",
      "type": "object",
      "id": "Fleet"
    },
    "Versions": {
      "properties": {
        "versions": {
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        }
      },
      "description": "Versions describes the mapping of a given version to the number of machines under this version.",
      "type": "object",
      "id": "Versions"
    },
    "BareMetalAdminMachineDrainStatus": {
      "properties": {
        "drainingMachines": {
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminDrainingMachine"
          },
          "description": "The list of draning machines."
        },
        "drainedMachines": {
          "description": "The list of drained machines.",
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminDrainedMachine"
          }
        }
      },
      "description": "BareMetalAdminMachineDrainStatus represents the status of bare metal node machines that are undergoing drain operations.",
      "type": "object",
      "id": "BareMetalAdminMachineDrainStatus"
    },
    "OperationStage": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time the stage started."
        },
        "state": {
          "description": "Output only. State of the stage.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The stage is pending.",
            "The stage is running",
            "The stage has completed successfully.",
            "The stage has failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "stage": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Preflight checks are running.",
            "Resource is being configured.",
            "Resource is being deployed.",
            "Waiting for the resource to become healthy.",
            "Resource is being updated."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "PREFLIGHT_CHECK",
            "CONFIGURE",
            "DEPLOY",
            "HEALTH_CHECK",
            "UPDATE"
          ],
          "description": "The high-level stage of the operation."
        },
        "metrics": {
          "description": "Progress metric bundle.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "endTime": {
          "description": "Time the stage ended.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Information about a particular stage of an operation.",
      "type": "object",
      "id": "OperationStage"
    },
    "BareMetalLoadBalancerNodePoolConfig": {
      "type": "object",
      "id": "BareMetalLoadBalancerNodePoolConfig",
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running a load balancer.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "description": "Specifies the load balancer's node pool configuration."
    },
    "VmwareStaticIpConfig": {
      "description": "Represents the network configuration required for the VMware user clusters with Static IP configurations.",
      "properties": {
        "ipBlocks": {
          "type": "array",
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "description": "Represents the configuration values for static IP allocation to nodes."
        }
      },
      "id": "VmwareStaticIpConfig",
      "type": "object"
    },
    "BareMetalKubeletConfig": {
      "properties": {
        "serializeImagePullsDisabled": {
          "description": "Prevents the Kubelet from pulling multiple images at a time. We recommend *not* changing the default value on nodes that run docker daemon with version < 1.9 or an Another Union File System (Aufs) storage backend. Issue https://github.com/kubernetes/kubernetes/issues/10959 has more details.",
          "type": "boolean"
        },
        "registryPullQps": {
          "description": "The limit of registry pulls per second. Setting this value to 0 means no limit. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 5.",
          "type": "integer",
          "format": "int32"
        },
        "registryBurst": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum size of bursty pulls, temporarily allows pulls to burst to this number, while still not exceeding registry_pull_qps. The value must not be a negative number. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 10."
        }
      },
      "description": "KubeletConfig defines the modifiable kubelet configurations for bare metal machines. Note: this list includes fields supported in GKE (see https://cloud.google.com/kubernetes-engine/docs/how-to/node-system-config#kubelet-options).",
      "type": "object",
      "id": "BareMetalKubeletConfig"
    },
    "VmwareControlPlaneNodeConfig": {
      "properties": {
        "cpus": {
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)",
          "type": "string",
          "format": "int64"
        },
        "autoResizeConfig": {
          "description": "AutoResizeConfig provides auto resizing configurations.",
          "$ref": "VmwareAutoResizeConfig"
        },
        "memory": {
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory).",
          "type": "string",
          "format": "int64"
        },
        "replicas": {
          "type": "string",
          "format": "int64",
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica)."
        },
        "vsphereConfig": {
          "description": "Vsphere-specific config.",
          "$ref": "VmwareControlPlaneVsphereConfig"
        }
      },
      "description": "Specifies control plane node config for the VMware user cluster.",
      "type": "object",
      "id": "VmwareControlPlaneNodeConfig"
    },
    "VmwareNodePoolAutoscalingConfig": {
      "description": "NodePoolAutoscaling config for the NodePool to allow for the kubernetes to scale NodePool.",
      "properties": {
        "maxReplicas": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of replicas in the NodePool."
        },
        "minReplicas": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of replicas in the NodePool."
        }
      },
      "id": "VmwareNodePoolAutoscalingConfig",
      "type": "object"
    },
    "VmwareControlPlaneV2Config": {
      "description": "Specifies control plane V2 config.",
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      },
      "id": "VmwareControlPlaneV2Config",
      "type": "object"
    },
    "VmwareAdminNetworkConfig": {
      "properties": {
        "haControlPlaneConfig": {
          "description": "Configuration for HA admin cluster control plane.",
          "$ref": "VmwareAdminHAControlPlaneConfig"
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vcenterNetwork": {
          "type": "string",
          "description": "vcenter_network specifies vCenter network name."
        },
        "serviceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
        },
        "staticIpConfig": {
          "description": "Configuration settings for a static IP configuration.",
          "$ref": "VmwareStaticIpConfig"
        },
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        },
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        }
      },
      "description": "VmwareAdminNetworkConfig contains network configuration for VMware admin cluster.",
      "type": "object",
      "id": "VmwareAdminNetworkConfig"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "ListBareMetalClustersResponse": {
      "properties": {
        "bareMetalClusters": {
          "description": "The list of bare metal Clusters.",
          "type": "array",
          "items": {
            "$ref": "BareMetalCluster"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for listing bare metal Clusters.",
      "type": "object",
      "id": "ListBareMetalClustersResponse"
    },
    "EnrollBareMetalAdminClusterRequest": {
      "id": "EnrollBareMetalAdminClusterRequest",
      "type": "object",
      "description": "Message for enrolling an existing bare metal admin cluster to the GKE on-prem API.",
      "properties": {
        "bareMetalAdminClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
        },
        "membership": {
          "description": "Required. This is the full resource name of this admin cluster's fleet membership.",
          "type": "string"
        }
      }
    },
    "BareMetalSrIovConfig": {
      "type": "object",
      "id": "BareMetalSrIovConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to install the SR-IOV operator."
        }
      },
      "description": "Specifies the SR-IOV networking operator config."
    },
    "ResourceStatus": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Reflect current version of the resource."
        },
        "versions": {
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "$ref": "Versions"
        },
        "errorMessage": {
          "description": "Human-friendly representation of the error message from controller. The error message can be temporary as the controller controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention.",
          "type": "string"
        },
        "conditions": {
          "description": "ResourceCondition provide a standard mechanism for higher-level status reporting from controller.",
          "type": "array",
          "items": {
            "$ref": "ResourceCondition"
          }
        }
      },
      "description": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED).",
      "type": "object",
      "id": "ResourceStatus"
    },
    "BareMetalAdminClusterOperationsConfig": {
      "description": "BareMetalAdminClusterOperationsConfig specifies the admin cluster's observability infrastructure.",
      "properties": {
        "enableApplicationLogs": {
          "type": "boolean",
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics)."
        }
      },
      "id": "BareMetalAdminClusterOperationsConfig",
      "type": "object"
    },
    "BareMetalAdminControlPlaneConfig": {
      "description": "BareMetalAdminControlPlaneConfig specifies the control plane configuration.",
      "properties": {
        "apiServerArgs": {
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminApiServerArgument"
          }
        },
        "controlPlaneNodePoolConfig": {
          "description": "Required. Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster.",
          "$ref": "BareMetalAdminControlPlaneNodePoolConfig"
        }
      },
      "id": "BareMetalAdminControlPlaneConfig",
      "type": "object"
    },
    "BareMetalAdminDrainingMachine": {
      "description": "BareMetalAdminDrainingMachine represents the machines that are currently draining.",
      "properties": {
        "nodeIp": {
          "description": "Draining machine IP address.",
          "type": "string"
        },
        "podCount": {
          "description": "The count of pods yet to drain.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "BareMetalAdminDrainingMachine",
      "type": "object"
    },
    "VmwareAdminAddonNodeConfig": {
      "description": "VmwareAdminAddonNodeConfig contains add-on node configurations for VMware admin cluster.",
      "properties": {
        "autoResizeConfig": {
          "description": "VmwareAutoResizeConfig config specifies auto resize config.",
          "$ref": "VmwareAutoResizeConfig"
        }
      },
      "id": "VmwareAdminAddonNodeConfig",
      "type": "object"
    },
    "VmwareVersionInfo": {
      "description": "Contains information about a specific Anthos on VMware version.",
      "properties": {
        "hasDependencies": {
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster) must be upgraded before this version can be installed or upgraded to.",
          "type": "boolean"
        },
        "isInstalled": {
          "description": "If set, the version is installed in the admin cluster. Otherwise, the version bundle must be downloaded and installed before a user cluster can be created at or upgraded to this version.",
          "type": "boolean"
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "UpgradeDependency"
          },
          "description": "The list of upgrade dependencies for this version."
        },
        "version": {
          "description": "Version number e.g. 1.13.1-gke.1000.",
          "type": "string"
        }
      },
      "id": "VmwareVersionInfo",
      "type": "object"
    },
    "BareMetalAdminApiServerArgument": {
      "properties": {
        "argument": {
          "type": "string",
          "description": "Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes."
        },
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        }
      },
      "description": "BareMetalAdminApiServerArgument represents an arg name->value pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
      "type": "object",
      "id": "BareMetalAdminApiServerArgument"
    },
    "BareMetalLvpShareConfig": {
      "id": "BareMetalLvpShareConfig",
      "type": "object",
      "description": "Specifies the configs for local persistent volumes under a shared file system.",
      "properties": {
        "lvpConfig": {
          "description": "Required. Defines the machine path and storage class for the LVP Share.",
          "$ref": "BareMetalLvpConfig"
        },
        "sharedPathPvCount": {
          "description": "The number of subdirectories to create under path.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "BareMetalSecurityConfig": {
      "type": "object",
      "id": "BareMetalSecurityConfig",
      "properties": {
        "authorization": {
          "description": "Configures user access to the user cluster.",
          "$ref": "Authorization"
        }
      },
      "description": "Specifies the security related settings for the bare metal user cluster."
    },
    "BareMetalBgpLbConfig": {
      "properties": {
        "asn": {
          "type": "string",
          "format": "int64",
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation."
        },
        "bgpPeerConfigs": {
          "type": "array",
          "items": {
            "$ref": "BareMetalBgpPeerConfig"
          },
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation."
        },
        "addressPools": {
          "type": "array",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      },
      "description": "BareMetalBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.",
      "type": "object",
      "id": "BareMetalBgpLbConfig"
    },
    "BareMetalIslandModeCidrConfig": {
      "properties": {
        "serviceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field is mutable after creation starting with version 1.15."
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Specifies the cluster CIDR configuration while running in island mode.",
      "type": "object",
      "id": "BareMetalIslandModeCidrConfig"
    },
    "BareMetalClusterUpgradePolicy": {
      "type": "object",
      "id": "BareMetalClusterUpgradePolicy",
      "properties": {
        "policy": {
          "type": "string",
          "enumDescriptions": [
            "No upgrade policy selected.",
            "Upgrade worker node pools sequentially.",
            "Upgrade all worker node pools in parallel."
          ],
          "enum": [
            "NODE_POOL_POLICY_UNSPECIFIED",
            "SERIAL",
            "CONCURRENT"
          ],
          "description": "Specifies which upgrade policy to use."
        },
        "pause": {
          "description": "Output only. Pause is used to show the upgrade pause status. It's view only for now.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "BareMetalClusterUpgradePolicy defines the cluster upgrade policy."
    },
    "VmwareDataplaneV2Config": {
      "id": "VmwareDataplaneV2Config",
      "type": "object",
      "description": "Contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2",
      "properties": {
        "forwardMode": {
          "type": "string",
          "description": "Configure ForwardMode for Dataplane v2."
        },
        "dataplaneV2Enabled": {
          "description": "Enables Dataplane V2.",
          "type": "boolean"
        },
        "windowsDataplaneV2Enabled": {
          "description": "Enable Dataplane V2 for clusters with Windows nodes.",
          "type": "boolean"
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enable advanced networking which requires dataplane_v2_enabled to be set true."
        }
      }
    },
    "BareMetalAdminNetworkConfig": {
      "id": "BareMetalAdminNetworkConfig",
      "type": "object",
      "description": "BareMetalAdminNetworkConfig specifies the cluster network configuration.",
      "properties": {
        "islandModeCidr": {
          "description": "Configuration for Island mode CIDR.",
          "$ref": "BareMetalAdminIslandModeCidrConfig"
        },
        "advancedNetworking": {
[...]
