{
  "protocol": "rest",
  "name": "gkeonprem",
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "BareMetalAdminLoadBalancerAddressPool": {
      "id": "BareMetalAdminLoadBalancerAddressPool",
      "type": "object",
      "description": "Represents an IP pool used by the load balancer.",
      "properties": {
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        },
        "addresses": {
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "manualAssign": {
          "type": "boolean",
          "description": "If true, prevent IP addresses from being automatically assigned."
        },
        "avoidBuggyIps": {
          "type": "boolean",
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
        }
      }
    },
    "BareMetalCluster": {
      "id": "BareMetalCluster",
      "type": "object",
      "description": "Resource that represents a bare metal user cluster.",
      "properties": {
        "maintenanceStatus": {
          "readOnly": true,
          "$ref": "BareMetalMaintenanceStatus",
          "description": "Output only. Status of on-going maintenance tasks."
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the bare metal user cluster was deleted. If the resource is not deleted, this must be empty",
          "readOnly": true,
          "type": "string"
        },
        "osEnvironmentConfig": {
          "description": "OS environment related configurations.",
          "$ref": "BareMetalOsEnvironmentConfig"
        },
        "status": {
          "description": "Output only. Detailed cluster status.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "nodeAccessConfig": {
          "$ref": "BareMetalNodeAccessConfig",
          "description": "Node access related configurations."
        },
        "validationCheck": {
          "readOnly": true,
          "$ref": "ValidationCheck",
          "description": "Output only. The result of the preflight check."
        },
        "loadBalancer": {
          "description": "Required. Load balancer configuration.",
          "$ref": "BareMetalLoadBalancerConfig"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the bare metal user cluster was created.",
          "format": "google-datetime"
        },
        "storage": {
          "$ref": "BareMetalStorageConfig",
          "description": "Required. Storage configuration."
        },
        "localName": {
          "description": "Output only. The object name of the bare metal user cluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the name in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. When the local name and cluster name differ, the local name is used in the admin cluster controller logs. You use the cluster name when accessing the cluster using bmctl and kubectl.",
          "readOnly": true,
          "type": "string"
        },
        "endpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP address of the bare metal user cluster's API server."
        },
        "localNamespace": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The namespace of the cluster."
        },
        "bareMetalVersion": {
          "description": "Required. The Anthos clusters on bare metal version for your user cluster.",
          "type": "string"
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership.",
          "type": "string"
        },
        "proxy": {
          "description": "Proxy configuration.",
          "$ref": "BareMetalProxyConfig"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations on the bare metal user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the bare metal user cluster."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "type": "string",
          "description": "Output only. The current state of the bare metal user cluster."
        },
        "nodeConfig": {
          "$ref": "BareMetalWorkloadNodeConfig",
          "description": "Workload node configuration."
        },
        "description": {
          "type": "string",
          "description": "A human readable description of this bare metal user cluster."
        },
        "controlPlane": {
          "description": "Required. Control plane configuration.",
          "$ref": "BareMetalControlPlaneConfig"
        },
        "adminClusterName": {
          "description": "Output only. The resource name of the bare metal admin cluster managing this user cluster.",
          "readOnly": true,
          "type": "string"
        },
        "maintenanceConfig": {
          "$ref": "BareMetalMaintenanceConfig",
          "description": "Maintenance configuration."
        },
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalClusterOperationsConfig"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the bare metal user cluster."
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Binary Authorization related configurations."
        },
        "upgradePolicy": {
          "$ref": "BareMetalClusterUpgradePolicy",
          "description": "The cluster upgrade policy."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the bare metal user cluster was last updated."
        },
        "securityConfig": {
          "$ref": "BareMetalSecurityConfig",
          "description": "Security related setting configuration."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The bare metal user cluster resource name."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "networkConfig": {
          "$ref": "BareMetalNetworkConfig",
          "description": "Required. Network configuration."
        }
      }
    },
    "Fleet": {
      "id": "Fleet",
      "type": "object",
      "description": "Fleet related configuration. Fleets are a Google Cloud concept for logically organizing clusters, letting you use and manage multi-cluster capabilities and apply consistent policies across your systems. See [Anthos Fleets](`https://cloud.google.com/anthos/multicluster-management/fleets`) for more details on Anthos multi-cluster capabilities using Fleets. ##",
      "properties": {
        "membership": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the managed fleet Membership resource associated to this cluster. Membership names are formatted as `projects//locations//memberships/`."
        }
      }
    },
    "BareMetalAdminIslandModeCidrConfig": {
      "id": "BareMetalAdminIslandModeCidrConfig",
      "type": "object",
      "description": "BareMetalAdminIslandModeCidrConfig specifies the cluster CIDR configuration while running in island mode.",
      "properties": {
        "serviceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation."
        },
        "podAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation."
        }
      }
    },
    "BareMetalAdminLoadBalancerNodePoolConfig": {
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running a load balancer.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "id": "BareMetalAdminLoadBalancerNodePoolConfig",
      "type": "object",
      "description": "Specifies the load balancer's node pool configuration."
    },
    "VmwareAddressPool": {
      "properties": {
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        },
        "addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5)."
        },
        "manualAssign": {
          "type": "boolean",
          "description": "If true, prevent IP addresses from being automatically assigned."
        }
      },
      "id": "VmwareAddressPool",
      "type": "object",
      "description": "Represents an IP pool used by the load balancer."
    },
    "EnrollBareMetalClusterRequest": {
      "properties": {
        "localNamespace": {
          "description": "Optional. The namespace of the cluster.",
          "type": "string"
        },
        "localName": {
          "description": "Optional. The object name of the bare metal cluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the bare_metal_cluster_id. Otherwise, it must match the object name of the bare metal cluster custom resource. It is not modifiable outside / beyond the enrollment operation.",
          "type": "string"
        },
        "bareMetalClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all bare metal clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        }
      },
      "id": "EnrollBareMetalClusterRequest",
      "type": "object",
      "description": "Message for enrolling an existing bare metal cluster to the Anthos On-Prem API."
    },
    "Metric": {
      "description": "Progress metric is (string, int|float|string) pair.",
      "id": "Metric",
      "type": "object",
      "properties": {
        "doubleValue": {
          "description": "For metrics with floating point value.",
          "type": "number",
          "format": "double"
        },
        "metric": {
          "enum": [
            "METRIC_ID_UNSPECIFIED",
            "NODES_TOTAL",
            "NODES_DRAINING",
            "NODES_UPGRADING",
            "NODES_PENDING_UPGRADE",
            "NODES_UPGRADED",
            "NODES_FAILED",
            "NODES_HEALTHY",
            "NODES_RECONCILING",
            "NODES_IN_MAINTENANCE",
            "PREFLIGHTS_COMPLETED",
            "PREFLIGHTS_RUNNING",
            "PREFLIGHTS_FAILED",
            "PREFLIGHTS_TOTAL"
          ],
          "enumDescriptions": [
            "Not set.",
            "The total number of nodes being actuated.",
            "The number of nodes draining.",
            "The number of nodes actively upgrading.",
            "The number of nodes to be upgraded.",
            "The number of nodes upgraded.",
            "The number of nodes to fail actuation.",
            "The number of nodes healthy.",
            "The number of nodes reconciling.",
            "The number of nodes in maintenance mode.",
            "The number of completed preflight checks.",
            "The number of preflight checks running.",
            "The number of preflight checks failed.",
            "The total number of preflight checks."
          ],
          "description": "Required. The metric name.",
          "type": "string"
        },
        "intValue": {
          "type": "string",
          "description": "For metrics with integer value.",
          "format": "int64"
        },
        "stringValue": {
          "type": "string",
          "description": "For metrics with custom values (ratios, visual progress, etc.)."
        }
      }
    },
    "Versions": {
      "id": "Versions",
      "type": "object",
      "description": "Versions describes the mapping of a given version to the number of machines under this version.",
      "properties": {
        "versions": {
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        }
      }
    },
    "BareMetalNodePool": {
      "properties": {
        "displayName": {
          "description": "The display name for the bare metal node pool.",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this bare metal node pool was deleted. If the resource is not deleted, this must be empty"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations on the bare metal node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the bare metal node pool.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the bare metal node pool is being created.",
            "The RUNNING state indicates the bare metal node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the bare metal node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the bare metal node pool is being deleted.",
            "The ERROR state indicates the bare metal node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the bare metal node pool requires user action to restore full functionality."
          ],
          "description": "Output only. The current state of the bare metal node pool.",
          "type": "string"
        },
        "status": {
          "description": "Output only. ResourceStatus representing the detailed node pool status.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "createTime": {
          "description": "Output only. The time at which this bare metal node pool was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the bare metal node pool."
        },
        "upgradePolicy": {
          "description": "The worker node pool upgrade policy.",
          "$ref": "BareMetalNodePoolUpgradePolicy"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this bare metal node pool was last updated."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The bare metal node pool resource name."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "nodePoolConfig": {
          "description": "Required. Node pool configuration.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "id": "BareMetalNodePool",
      "type": "object",
      "description": "Resource that represents a bare metal node pool."
    },
    "BareMetalAdminMachineDrainStatus": {
      "description": "BareMetalAdminMachineDrainStatus represents the status of bare metal node machines that are undergoing drain operations.",
      "id": "BareMetalAdminMachineDrainStatus",
      "type": "object",
      "properties": {
        "drainingMachines": {
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminDrainingMachine"
          },
          "description": "The list of draning machines."
        },
        "drainedMachines": {
          "description": "The list of drained machines.",
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminDrainedMachine"
          }
        }
      }
    },
    "BareMetalManualLbConfig": {
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      },
      "id": "BareMetalManualLbConfig",
      "type": "object",
      "description": "Represents configuration parameters for a manual load balancer."
    },
    "Authorization": {
      "properties": {
        "adminUsers": {
          "type": "array",
          "items": {
            "$ref": "ClusterUser"
          },
          "description": "For VMware and bare metal user clusters, users will be granted the cluster-admin role on the cluster, which provides full administrative access to the cluster. For bare metal admin clusters, users will be granted the cluster-view role, which limits users to read-only access."
        }
      },
      "description": "Authorization defines the On-Prem cluster authorization configuration to bootstrap onto the admin cluster.",
      "id": "Authorization",
      "type": "object"
    },
    "BareMetalLoadBalancerConfig": {
      "id": "BareMetalLoadBalancerConfig",
      "type": "object",
      "description": "Specifies the load balancer configuration.",
      "properties": {
        "vipConfig": {
          "$ref": "BareMetalVipConfig",
          "description": "The VIPs used by the load balancer."
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "BareMetalManualLbConfig"
        },
        "metalLbConfig": {
          "$ref": "BareMetalMetalLbConfig",
          "description": "Configuration for MetalLB load balancers."
        },
        "portConfig": {
          "description": "Configures the ports that the load balancer will listen on.",
          "$ref": "BareMetalPortConfig"
        },
        "bgpLbConfig": {
          "$ref": "BareMetalBgpLbConfig",
          "description": "Configuration for BGP typed load balancers. When set network_config.advanced_networking is automatically set to true."
        }
      }
    },
    "VmwareVsphereConfig": {
      "id": "VmwareVsphereConfig",
      "type": "object",
      "description": "VmwareVsphereConfig represents configuration for the VMware VCenter for node pool.",
      "properties": {
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore. Inherited from the user cluster."
        },
        "tags": {
          "description": "Tags to apply to VMs.",
          "type": "array",
          "items": {
            "$ref": "VmwareVsphereTag"
          }
        },
        "hostGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Vsphere host groups to apply to all VMs in the node pool"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "ListVmwareClustersResponse": {
      "description": "Response message for listing VMware Clusters.",
      "id": "ListVmwareClustersResponse",
      "type": "object",
      "properties": {
        "vmwareClusters": {
          "type": "array",
          "items": {
            "$ref": "VmwareCluster"
          },
          "description": "The list of VMware Cluster."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalAdminNetworkConfig": {
      "properties": {
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag."
        },
        "islandModeCidr": {
          "$ref": "BareMetalAdminIslandModeCidrConfig",
          "description": "Configuration for Island mode CIDR."
        },
        "multipleNetworkInterfacesConfig": {
          "description": "Configuration for multiple network interfaces.",
          "$ref": "BareMetalAdminMultipleNetworkInterfacesConfig"
        }
      },
      "description": "BareMetalAdminNetworkConfig specifies the cluster network configuration.",
      "id": "BareMetalAdminNetworkConfig",
      "type": "object"
    },
    "ListVmwareNodePoolsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmwareNodePools": {
          "type": "array",
          "items": {
            "$ref": "VmwareNodePool"
          },
          "description": "The node pools from the specified parent resource."
        }
      },
      "id": "ListVmwareNodePoolsResponse",
      "type": "object",
      "description": "Response message for listing VMware node pools."
    },
    "BareMetalLoadBalancerNodePoolConfig": {
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running a load balancer.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "id": "BareMetalLoadBalancerNodePoolConfig",
      "type": "object",
      "description": "Specifies the load balancer's node pool configuration."
    },
    "BareMetalAdminManualLbConfig": {
      "id": "BareMetalAdminManualLbConfig",
      "type": "object",
      "description": "BareMetalAdminManualLbConfig represents configuration parameters for a manual load balancer.",
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      }
    },
    "ListBareMetalAdminClustersResponse": {
      "properties": {
        "bareMetalAdminClusters": {
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminCluster"
          },
          "description": "The list of bare metal admin cluster."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for listing bare metal admin clusters.",
      "id": "ListBareMetalAdminClustersResponse",
      "type": "object"
    },
    "VmwareAdminSeesawConfig": {
      "properties": {
        "ipBlocks": {
          "type": "array",
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "description": "The IP Blocks to be used by the Seesaw load balancer"
        },
        "vms": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Names of the VMs created for this Seesaw group."
        },
        "group": {
          "type": "string",
          "description": "In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name]."
        },
        "masterIp": {
          "type": "string",
          "description": "MasterIP is the IP announced by the master of Seesaw group."
        },
        "stackdriverName": {
          "description": "Name to be used by Stackdriver.",
          "type": "string"
        },
        "enableHa": {
          "type": "boolean",
          "description": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer."
        }
      },
      "id": "VmwareAdminSeesawConfig",
      "type": "object",
      "description": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'."
    },
    "QueryBareMetalAdminVersionConfigResponse": {
      "properties": {
        "versions": {
          "description": "List of available versions to install or to upgrade to.",
          "type": "array",
          "items": {
            "$ref": "BareMetalVersionInfo"
          }
        }
      },
      "id": "QueryBareMetalAdminVersionConfigResponse",
      "type": "object",
      "description": "Response message for querying bare metal admin cluster version config."
    },
    "VmwareAutoRepairConfig": {
      "description": "Specifies config to enable/disable auto repair. The cluster-health-controller is deployed only if Enabled is true.",
      "id": "VmwareAutoRepairConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether auto repair is enabled."
        }
      }
    },
    "BareMetalAdminControlPlaneConfig": {
      "id": "BareMetalAdminControlPlaneConfig",
      "type": "object",
      "description": "BareMetalAdminControlPlaneConfig specifies the control plane configuration.",
      "properties": {
        "apiServerArgs": {
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminApiServerArgument"
          }
        },
        "controlPlaneNodePoolConfig": {
          "$ref": "BareMetalAdminControlPlaneNodePoolConfig",
          "description": "Required. Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster."
        }
      }
    },
    "BareMetalIslandModeCidrConfig": {
      "properties": {
        "serviceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field is mutable after creation starting with version 1.15."
        },
        "podAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation."
        }
      },
      "id": "BareMetalIslandModeCidrConfig",
      "type": "object",
      "description": "Specifies the cluster CIDR configuration while running in island mode."
    },
    "UpgradeDependency": {
      "description": "UpgradeDependency represents a dependency when upgrading a resource.",
      "id": "UpgradeDependency",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Resource name of the dependency."
        },
        "currentVersion": {
          "type": "string",
          "description": "Current version of the dependency e.g. 1.15.0."
        },
        "membership": {
          "type": "string",
          "description": "Membership names are formatted as `projects//locations//memberships/`."
        },
        "targetVersion": {
          "type": "string",
          "description": "Target version of the dependency e.g. 1.16.1. This is the version the dependency needs to be upgraded to before a resource can be upgraded."
        }
      }
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "ListBareMetalNodePoolsResponse": {
      "description": "Response message for listing bare metal node pools.",
      "id": "ListBareMetalNodePoolsResponse",
      "type": "object",
      "properties": {
        "bareMetalNodePools": {
          "description": "The node pools from the specified parent resource.",
          "type": "array",
          "items": {
            "$ref": "BareMetalNodePool"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "progress": {
          "readOnly": true,
          "$ref": "OperationProgress",
          "description": "Output only. Detailed progress information for the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have [Operation.error] value with a [google.rpc.Status.code] of 1, corresponding to `Code.CANCELLED`."
        },
        "controlPlaneDisconnected": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Denotes if the local managing cluster's control plane is currently disconnected. This is expected to occur temporarily during self-managed cluster upgrades."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "type": {
          "readOnly": true,
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "UPGRADE",
            "PLATFORM_UPGRADE"
          ],
          "enumDescriptions": [
            "Not set.",
            "The resource is being created.",
            "The resource is being deleted.",
            "The resource is being updated.",
            "The resource is being upgraded.",
            "The platform is being upgraded."
          ],
          "description": "Output only. Type of operation being executed.",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "BareMetalBgpLbConfig": {
      "properties": {
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        },
        "asn": {
          "type": "string",
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation.",
          "format": "int64"
        },
        "bgpPeerConfigs": {
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation.",
          "type": "array",
          "items": {
            "$ref": "BareMetalBgpPeerConfig"
          }
        },
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          }
        }
      },
      "description": "BareMetalBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.",
      "id": "BareMetalBgpLbConfig",
      "type": "object"
    },
    "BareMetalWorkloadNodeConfig": {
      "properties": {
        "maxPodsPerNode": {
          "type": "string",
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter.",
          "format": "int64"
        },
        "containerRuntime": {
          "type": "string",
          "description": "Specifies which container runtime will be used.",
          "enumDescriptions": [
            "No container runtime selected.",
            "Containerd runtime."
          ],
          "enum": [
            "CONTAINER_RUNTIME_UNSPECIFIED",
            "CONTAINERD"
          ]
        }
      },
      "description": "Specifies the workload node configurations.",
      "id": "BareMetalWorkloadNodeConfig",
      "type": "object"
    },
    "BareMetalProxyConfig": {
      "id": "BareMetalProxyConfig",
      "type": "object",
      "description": "Specifies the cluster proxy configuration.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server."
        },
        "noProxy": {
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmwareDataplaneV2Config": {
      "description": "Contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2",
      "id": "VmwareDataplaneV2Config",
      "type": "object",
      "properties": {
        "dataplaneV2Enabled": {
          "description": "Enables Dataplane V2.",
          "type": "boolean"
        },
        "windowsDataplaneV2Enabled": {
          "description": "Enable Dataplane V2 for clusters with Windows nodes.",
          "type": "boolean"
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enable advanced networking which requires dataplane_v2_enabled to be set true."
        },
        "forwardMode": {
          "description": "Configure ForwardMode for Dataplane v2.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminProxyConfig": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` WARNING: Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server."
        },
        "noProxy": {
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BareMetalAdminProxyConfig",
      "type": "object",
      "description": "BareMetalAdminProxyConfig specifies the cluster proxy configuration."
    },
    "ResourceStatus": {
      "properties": {
        "versions": {
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "$ref": "Versions"
        },
        "errorMessage": {
          "description": "Human-friendly representation of the error message from controller. The error message can be temporary as the controller controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention.",
          "type": "string"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "ResourceCondition"
          },
          "description": "ResourceCondition provide a standard mechanism for higher-level status reporting from controller."
        },
        "version": {
          "type": "string",
          "description": "Reflect current version of the resource."
        }
      },
      "id": "ResourceStatus",
      "type": "object",
      "description": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED)."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmwareDhcpIpConfig": {
      "description": "Represents the network configuration required for the VMware user clusters with DHCP IP configurations.",
      "id": "VmwareDhcpIpConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "enabled is a flag to mark if DHCP IP allocation is used for VMware user clusters."
        }
      }
    },
    "VmwareAdminVCenterConfig": {
      "properties": {
        "folder": {
          "description": "The name of the vCenter folder for the admin cluster.",
          "type": "string"
        },
        "cluster": {
          "description": "The name of the vCenter cluster for the admin cluster.",
          "type": "string"
        },
        "caCertData": {
          "type": "string",
          "description": "Contains the vCenter CA certificate public key for SSL verification."
        },
        "datacenter": {
          "description": "The name of the vCenter datacenter for the admin cluster.",
          "type": "string"
        },
        "address": {
          "description": "The vCenter IP address.",
          "type": "string"
        },
        "storagePolicyName": {
          "description": "The name of the vCenter storage policy for the user cluster.",
          "type": "string"
        },
        "dataDisk": {
          "description": "The name of the virtual machine disk (VMDK) for the admin cluster.",
          "type": "string"
        },
        "resourcePool": {
          "type": "string",
          "description": "The name of the vCenter resource pool for the admin cluster."
        },
        "datastore": {
          "description": "The name of the vCenter datastore for the admin cluster.",
          "type": "string"
        }
      },
      "id": "VmwareAdminVCenterConfig",
      "type": "object",
      "description": "VmwareAdminVCenterConfig contains VCenter configuration for VMware admin cluster."
    },
    "BareMetalAdminBgpPeerConfig": {
      "description": "BareMetalAdminBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer.",
      "id": "BareMetalAdminBgpPeerConfig",
      "type": "object",
      "properties": {
        "asn": {
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device.",
          "type": "string",
          "format": "int64"
        },
        "controlPlaneNodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions."
        },
        "ipAddress": {
          "description": "Required. The IP address of the external peer device.",
          "type": "string"
        }
      }
    },
    "OperationStage": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the stage ended."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the stage started.",
          "type": "string"
        },
        "stage": {
          "description": "The high-level stage of the operation.",
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "PREFLIGHT_CHECK",
            "CONFIGURE",
            "DEPLOY",
            "HEALTH_CHECK",
            "UPDATE"
          ],
          "enumDescriptions": [
            "Not set.",
            "Preflight checks are running.",
            "Resource is being configured.",
            "Resource is being deployed.",
            "Waiting for the resource to become healthy.",
            "Resource is being updated."
          ]
        },
        "metrics": {
          "description": "Progress metric bundle.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The stage is pending.",
            "The stage is running",
            "The stage has completed successfully.",
            "The stage has failed."
          ],
          "description": "Output only. State of the stage.",
          "type": "string"
        }
      },
      "id": "OperationStage",
      "type": "object",
      "description": "Information about a particular stage of an operation."
    },
    "BareMetalAdminClusterOperationsConfig": {
      "properties": {
        "enableApplicationLogs": {
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics).",
          "type": "boolean"
        }
      },
      "description": "BareMetalAdminClusterOperationsConfig specifies the admin cluster's observability infrastructure.",
      "id": "BareMetalAdminClusterOperationsConfig",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "BareMetalAdminMultipleNetworkInterfacesConfig": {
      "properties": {
        "enabled": {
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true.",
          "type": "boolean"
        }
      },
      "id": "BareMetalAdminMultipleNetworkInterfacesConfig",
      "type": "object",
      "description": "Specifies the multiple networking interfaces cluster configuration."
    },
    "BareMetalVipConfig": {
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal user cluster.",
          "type": "string"
        },
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this bare metal user cluster.",
          "type": "string"
        }
      },
      "id": "BareMetalVipConfig",
      "type": "object",
      "description": "Specifies the VIP config for the bare metal load balancer."
    },
    "VmwareControlPlaneNodeConfig": {
      "properties": {
        "autoResizeConfig": {
          "$ref": "VmwareAutoResizeConfig",
          "description": "AutoResizeConfig provides auto resizing configurations."
        },
        "cpus": {
          "format": "int64",
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)",
          "type": "string"
        },
        "replicas": {
          "format": "int64",
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica).",
          "type": "string"
        },
        "vsphereConfig": {
          "$ref": "VmwareControlPlaneVsphereConfig",
          "description": "Vsphere-specific config."
        },
        "memory": {
          "format": "int64",
          "type": "string",
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory)."
        }
      },
      "description": "Specifies control plane node config for the VMware user cluster.",
      "id": "VmwareControlPlaneNodeConfig",
      "type": "object"
    },
    "BareMetalMachineDrainStatus": {
      "properties": {
        "drainingMachines": {
          "description": "The list of draning machines.",
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainingMachine"
          }
        },
        "drainedMachines": {
          "description": "The list of drained machines.",
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainedMachine"
          }
        }
      },
      "id": "BareMetalMachineDrainStatus",
      "type": "object",
      "description": "Represents the status of node machines that are undergoing drain operations."
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      }
    },
    "VmwareAdminManualLbConfig": {
      "id": "VmwareAdminManualLbConfig",
      "type": "object",
      "properties": {
        "konnectivityServerNodePort": {
          "format": "int32",
          "type": "integer",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564)."
        },
        "ingressHttpsNodePort": {
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "type": "integer",
          "format": "int32"
        },
        "controlPlaneNodePort": {
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968).",
          "type": "integer",
          "format": "int32"
        },
        "addonsNodePort": {
          "description": "NodePort for add-ons server in the admin cluster.",
          "type": "integer",
          "format": "int32"
        },
        "ingressHttpNodePort": {
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BareMetalNetworkConfig": {
      "properties": {
        "advancedNetworking": {
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag.",
          "type": "boolean"
        },
        "islandModeCidr": {
          "$ref": "BareMetalIslandModeCidrConfig",
          "description": "Configuration for island mode CIDR. In an island-mode network, nodes have unique IP addresses, but pods don't have unique addresses across clusters. This doesn't cause problems because pods in one cluster never directly communicate with pods in another cluster. Instead, there are gateways that mediate between a pod in one cluster and a pod in another cluster."
        },
        "multipleNetworkInterfacesConfig": {
          "$ref": "BareMetalMultipleNetworkInterfacesConfig",
          "description": "Configuration for multiple network interfaces."
        },
        "srIovConfig": {
          "$ref": "BareMetalSrIovConfig",
          "description": "Configuration for SR-IOV."
        }
      },
      "description": "Specifies the cluster network configuration.",
      "id": "BareMetalNetworkConfig",
      "type": "object"
    },
    "BareMetalControlPlaneConfig": {
      "properties": {
        "controlPlaneNodePoolConfig": {
          "description": "Required. Configures the node pool running the control plane.",
          "$ref": "BareMetalControlPlaneNodePoolConfig"
        },
        "apiServerArgs": {
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
          "type": "array",
          "items": {
            "$ref": "BareMetalApiServerArgument"
          }
        }
      },
      "description": "Specifies the control plane configuration.",
      "id": "BareMetalControlPlaneConfig",
      "type": "object"
    },
    "VmwareNetworkConfig": {
      "description": "Specifies network config for the VMware user cluster.",
      "id": "VmwareNetworkConfig",
      "type": "object",
      "properties": {
        "vcenterNetwork": {
          "description": "vcenter_network specifies vCenter network name. Inherited from the admin cluster.",
          "type": "string"
        },
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "controlPlaneV2Config": {
          "$ref": "VmwareControlPlaneV2Config",
          "description": "Configuration for control plane V2 mode."
        },
        "staticIpConfig": {
          "description": "Configuration settings for a static IP configuration.",
          "$ref": "VmwareStaticIpConfig"
        },
        "hostConfig": {
          "$ref": "VmwareHostConfig",
          "description": "Represents common network settings irrespective of the host's IP address."
        },
        "serviceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
        }
      }
    },
    "BareMetalMaintenanceStatus": {
      "properties": {
        "machineDrainStatus": {
          "description": "The maintenance status of node machines.",
          "$ref": "BareMetalMachineDrainStatus"
        }
      },
      "id": "BareMetalMaintenanceStatus",
      "type": "object",
      "description": "Represents the maintenance status of the bare metal user cluster."
    },
    "VmwareAAGConfig": {
      "properties": {
        "aagConfigDisabled": {
          "type": "boolean",
          "description": "Spread nodes across at least three physical hosts (requires at least three hosts). Enabled by default."
        }
      },
      "description": "Specifies anti affinity group config for the VMware user cluster.",
      "id": "VmwareAAGConfig",
      "type": "object"
    },
    "BareMetalAdminBgpLbConfig": {
      "description": "BareMetalAdminBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.",
      "id": "BareMetalAdminBgpLbConfig",
      "type": "object",
      "properties": {
        "loadBalancerNodePoolConfig": {
          "$ref": "BareMetalAdminLoadBalancerNodePoolConfig",
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing."
        },
        "asn": {
          "format": "int64",
          "type": "string",
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation."
        },
        "bgpPeerConfigs": {
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation.",
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminBgpPeerConfig"
          }
        },
        "addressPools": {
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminLoadBalancerAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
        }
      }
    },
    "BareMetalLvpConfig": {
      "properties": {
        "path": {
          "description": "Required. The host machine path.",
          "type": "string"
        },
        "storageClass": {
          "type": "string",
          "description": "Required. The StorageClass name that PVs will be created with."
        }
      },
      "description": "Specifies the configs for local persistent volumes (PVs).",
      "id": "BareMetalLvpConfig",
      "type": "object"
    },
    "VmwareBundleConfig": {
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the bundle."
        },
        "status": {
          "description": "Output only. Resource status for the bundle.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        }
      },
      "id": "VmwareBundleConfig",
      "type": "object",
      "description": "VmwareBundleConfig represents configuration for the bundle."
    },
    "BareMetalNodePoolUpgradePolicy": {
      "id": "BareMetalNodePoolUpgradePolicy",
      "type": "object",
      "description": "BareMetalNodePoolUpgradePolicy defines the node pool upgrade policy.",
      "properties": {
        "parallelUpgradeConfig": {
          "description": "The parallel upgrade settings for worker node pools.",
          "$ref": "BareMetalParallelUpgradeConfig"
        }
      }
    },
    "BareMetalAdminMaintenanceConfig": {
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource."
        }
      },
      "id": "BareMetalAdminMaintenanceConfig",
      "type": "object",
      "description": "BareMetalAdminMaintenanceConfig specifies configurations to put bare metal Admin cluster CRs nodes in and out of maintenance."
    },
    "BareMetalLoadBalancerAddressPool": {
      "properties": {
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        },
        "addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5)."
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        }
      },
      "id": "BareMetalLoadBalancerAddressPool",
      "type": "object",
      "description": "Represents an IP pool used by the load balancer."
    },
    "QueryBareMetalVersionConfigResponse": {
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "BareMetalVersionInfo"
          },
          "description": "List of available versions to install or to upgrade to."
        }
      },
      "id": "QueryBareMetalVersionConfigResponse",
      "type": "object",
      "description": "Response message for querying bare metal admin cluster version config."
    },
    "BareMetalAdminNodeAccessConfig": {
      "id": "BareMetalAdminNodeAccessConfig",
      "type": "object",
      "description": "Specifies the node access related settings for the bare metal admin cluster.",
      "properties": {
        "loginUser": {
          "type": "string",
          "description": "Required. LoginUser is the user name used to access node machines. It defaults to \"root\" if not set."
        }
      }
    },
    "VmwareControlPlaneV2Config": {
      "id": "VmwareControlPlaneV2Config",
      "type": "object",
      "description": "Specifies control plane V2 config.",
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      }
    },
    "VmwareAdminPrivateRegistryConfig": {
      "id": "VmwareAdminPrivateRegistryConfig",
      "type": "object",
      "description": "VmwareAdminPrivateRegistryConfig represents configuration for admin cluster registry.",
      "properties": {
        "caCert": {
          "description": "When the container runtime pulls an image from private registry, the registry must prove its identity by presenting a certificate. The registry's certificate is signed by a certificate authority (CA). The container runtime uses the CA's certificate to validate the registry's certificate.",
          "type": "string"
        },
        "address": {
          "description": "The registry address.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminMaintenanceStatus": {
      "properties": {
        "machineDrainStatus": {
          "$ref": "BareMetalAdminMachineDrainStatus",
          "description": "Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade."
        }
      },
      "description": "BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes.",
      "id": "BareMetalAdminMaintenanceStatus",
      "type": "object"
    },
    "VmwareManualLbConfig": {
      "id": "VmwareManualLbConfig",
      "type": "object",
      "description": "Represents configuration parameters for an already existing manual load balancer. Given the nature of manual load balancers it is expected that said load balancer will be fully managed by users. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update ManualLB configurations it can only bind a pre-existing configuration to a new VMware user cluster.",
      "properties": {
        "ingressHttpNodePort": {
          "format": "int32",
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer"
        },
        "konnectivityServerNodePort": {
          "type": "integer",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564).",
          "format": "int32"
        },
        "ingressHttpsNodePort": {
          "format": "int32",
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "type": "integer"
        },
        "controlPlaneNodePort": {
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BareMetalNodeAccessConfig": {
      "properties": {
        "loginUser": {
          "type": "string",
          "description": "LoginUser is the user name used to access node machines. It defaults to \"root\" if not set."
        }
      },
      "description": "Specifies the node access related settings for the bare metal user cluster.",
      "id": "BareMetalNodeAccessConfig",
      "type": "object"
    },
    "ValidationCheckResult": {
      "id": "ValidationCheckResult",
      "type": "object",
      "description": "ValidationCheckResult defines the details about the validation check.",
      "properties": {
        "details": {
          "description": "Detailed failure information, which might be unformatted.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The category of the validation."
        },
        "reason": {
          "type": "string",
          "description": "A human-readable message of the check failure."
        },
        "state": {
          "type": "string",
          "description": "The validation check state.",
          "enumDescriptions": [
            "The default value. The check result is unknown.",
            "The check failed.",
            "The check was skipped.",
            "The check itself failed to complete.",
            "The check encountered a warning."
          ],
          "enum": [
            "STATE_UNKNOWN",
            "STATE_FAILURE",
            "STATE_SKIPPED",
            "STATE_FATAL",
            "STATE_WARNING"
          ]
        },
        "description": {
          "description": "The description of the validation check.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "BareMetalAdminLoadBalancerConfig": {
      "id": "BareMetalAdminLoadBalancerConfig",
      "type": "object",
      "description": "BareMetalAdminLoadBalancerConfig specifies the load balancer configuration.",
      "properties": {
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "BareMetalAdminVipConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "BareMetalAdminManualLbConfig"
        },
        "portConfig": {
          "description": "Configures the ports that the load balancer will listen on.",
          "$ref": "BareMetalAdminPortConfig"
        },
        "bgpLbConfig": {
          "description": "Configuration for BGP typed load balancers.",
          "$ref": "BareMetalAdminBgpLbConfig"
        }
      }
    },
    "Version": {
      "id": "Version",
      "type": "object",
      "description": "Version describes the number of nodes at a given version under a resource.",
      "properties": {
        "version": {
          "description": "Resource version.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Number of machines under the above version."
        }
      }
    },
    "VmwareVersionInfo": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Version number e.g. 1.13.1-gke.1000."
        },
        "hasDependencies": {
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster) must be upgraded before this version can be installed or upgraded to.",
          "type": "boolean"
        },
        "isInstalled": {
          "type": "boolean",
          "description": "If set, the version is installed in the admin cluster. Otherwise, the version bundle must be downloaded and installed before a user cluster can be created at or upgraded to this version."
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "UpgradeDependency"
          },
          "description": "The list of upgrade dependencies for this version."
        }
      },
      "description": "Contains information about a specific Anthos on VMware version.",
      "id": "VmwareVersionInfo",
      "type": "object"
    },
    "BareMetalDrainedMachine": {
      "id": "BareMetalDrainedMachine",
      "type": "object",
      "description": "Represents a machine that is currently drained.",
      "properties": {
        "nodeIp": {
          "description": "Drained machine IP address.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminCluster": {
      "properties": {
        "osEnvironmentConfig": {
          "description": "OS environment related configurations.",
          "$ref": "BareMetalAdminOsEnvironmentConfig"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this bare metal admin cluster was deleted. If the resource is not deleted, this must be empty",
          "readOnly": true,
          "type": "string"
        },
        "maintenanceStatus": {
          "readOnly": true,
          "$ref": "BareMetalAdminMaintenanceStatus",
          "description": "Output only. MaintenanceStatus representing state of maintenance."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this bare metal admin cluster was created."
        },
        "loadBalancer": {
          "description": "Load balancer configuration.",
          "$ref": "BareMetalAdminLoadBalancerConfig"
        },
        "validationCheck": {
          "description": "Output only. ValidationCheck representing the result of the preflight check.",
          "readOnly": true,
          "$ref": "ValidationCheck"
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing detailed cluster status."
        },
        "nodeAccessConfig": {
          "description": "Node access related configurations.",
          "$ref": "BareMetalAdminNodeAccessConfig"
        },
        "endpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP address name of bare metal admin cluster's API server."
        },
        "localName": {
          "description": "Output only. The object name of the bare metal cluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "readOnly": true,
          "type": "string"
        },
        "storage": {
          "$ref": "BareMetalAdminStorageConfig",
          "description": "Storage configuration."
        },
        "proxy": {
          "$ref": "BareMetalAdminProxyConfig",
          "description": "Proxy configuration."
        },
        "bareMetalVersion": {
          "type": "string",
          "description": "The Anthos clusters on bare metal version for the bare metal admin cluster."
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the bare metal Admin Cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the bare metal admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object"
        },
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalAdminClusterOperationsConfig"
        },
        "maintenanceConfig": {
          "description": "Maintenance configuration.",
          "$ref": "BareMetalAdminMaintenanceConfig"
        },
        "description": {
          "description": "A human readable description of this bare metal admin cluster.",
          "type": "string"
        },
        "controlPlane": {
          "description": "Control plane configuration.",
          "$ref": "BareMetalAdminControlPlaneConfig"
        },
        "state": {
          "description": "Output only. The current state of the bare metal admin cluster.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "readOnly": true
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalAdminWorkloadNodeConfig"
        },
        "securityConfig": {
          "$ref": "BareMetalAdminSecurityConfig",
          "description": "Security related configuration."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this bare metal admin cluster was last updated.",
          "format": "google-datetime"
        },
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Binary Authorization related configurations."
        },
        "uid": {
          "description": "Output only. The unique identifier of the bare metal admin cluster.",
          "readOnly": true,
          "type": "string"
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "networkConfig": {
          "description": "Network configuration.",
          "$ref": "BareMetalAdminNetworkConfig"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The bare metal admin cluster resource name."
        }
      },
      "description": "Resource that represents a bare metal admin cluster.",
      "id": "BareMetalAdminCluster",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "BareMetalAdminSecurityConfig": {
      "id": "BareMetalAdminSecurityConfig",
      "type": "object",
      "description": "Specifies the security related settings for the bare metal admin cluster.",
      "properties": {
        "authorization": {
          "description": "Configures user access to the admin cluster.",
          "$ref": "Authorization"
        }
      }
    },
    "VmwareVsphereTag": {
      "properties": {
        "category": {
          "type": "string",
          "description": "The Vsphere tag category."
        },
        "tag": {
          "type": "string",
          "description": "The Vsphere tag name."
        }
      },
      "description": "VmwareVsphereTag describes a vSphere tag to be placed on VMs in the node pool. For more information, see https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vcenterhost.doc/GUID-E8E854DD-AA97-4E0C-8419-CE84F93C4058.html",
      "id": "VmwareVsphereTag",
      "type": "object"
    },
    "BareMetalAdminApiServerArgument": {
      "properties": {
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        },
        "argument": {
          "type": "string",
          "description": "Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes."
        }
      },
      "id": "BareMetalAdminApiServerArgument",
      "type": "object",
      "description": "BareMetalAdminApiServerArgument represents an arg name->value pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/"
    },
    "EnrollVmwareNodePoolRequest": {
      "id": "EnrollVmwareNodePoolRequest",
      "type": "object",
      "description": "Message for enrolling a VMware node pool.",
      "properties": {
        "vmwareNodePoolId": {
          "description": "The target node pool id to be enrolled.",
          "type": "string"
        }
      }
    },
    "BareMetalApiServerArgument": {
      "properties": {
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        },
        "argument": {
          "type": "string",
          "description": "Required. The argument name as it appears on the API Server command line, make sure to remove the leading dashes."
        }
      },
      "id": "BareMetalApiServerArgument",
      "type": "object",
      "description": "Represents an arg name->value pair. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/)."
    },
    "VmwareAdminMetalLbConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether MetalLB is enabled."
        }
      },
      "description": "VmwareAdminMetalLbConfig represents configuration parameters for a MetalLB load balancer. For admin clusters, currently no configurations is needed.",
      "id": "VmwareAdminMetalLbConfig",
      "type": "object"
    },
    "Binding": {
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "VmwareHostConfig": {
      "id": "VmwareHostConfig",
      "type": "object",
      "description": "Represents the common parameters for all the hosts irrespective of their IP address.",
      "properties": {
        "dnsServers": {
          "description": "DNS servers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsSearchDomains": {
          "description": "DNS search domains.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ntpServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "NTP servers."
        }
      }
    },
    "VmwareVCenterConfig": {
      "description": "Represents configuration for the VMware VCenter for the user cluster.",
      "id": "VmwareVCenterConfig",
      "type": "object",
      "properties": {
        "datastore": {
          "description": "The name of the vCenter datastore for the user cluster.",
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "The name of the vCenter cluster for the user cluster."
        },
        "caCertData": {
          "type": "string",
          "description": "Contains the vCenter CA certificate public key for SSL verification."
        },
        "storagePolicyName": {
          "type": "string",
          "description": "The name of the vCenter storage policy for the user cluster."
        },
        "datacenter": {
          "type": "string",
          "description": "The name of the vCenter datacenter for the user cluster."
        },
        "folder": {
          "description": "The name of the vCenter folder for the user cluster.",
          "type": "string"
        },
        "address": {
          "description": "Output only. The vCenter IP address.",
          "readOnly": true,
          "type": "string"
        },
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the user cluster.",
          "type": "string"
        }
      }
    },
    "VmwareNodeConfig": {
      "id": "VmwareNodeConfig",
      "type": "object",
      "description": "Parameters that describe the configuration of all nodes within a given node pool.",
      "properties": {
        "cpus": {
          "description": "The number of CPUs for each node in the node pool.",
          "type": "string",
[...]
