{
  "revision": "20260923",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "gkeonprem",
  "canonicalName": "GKE On-Prem",
  "version": "v1",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://gkeonprem.googleapis.com/",
  "documentationLink": "https://cloud.google.com/anthos/clusters/docs/on-prem/",
  "id": "gkeonprem:v1",
  "protocol": "rest",
  "schemas": {
    "BareMetalAdminControlPlaneConfig": {
      "type": "object",
      "properties": {
        "controlPlaneNodePoolConfig": {
          "description": "Required. Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster.",
          "$ref": "BareMetalAdminControlPlaneNodePoolConfig"
        },
        "apiServerArgs": {
          "items": {
            "$ref": "BareMetalAdminApiServerArgument"
          },
          "type": "array",
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/"
        }
      },
      "description": "BareMetalAdminControlPlaneConfig specifies the control plane configuration.",
      "id": "BareMetalAdminControlPlaneConfig"
    },
    "VmwareAdminHAControlPlaneConfig": {
      "description": "Specifies HA admin control plane config.",
      "type": "object",
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the admin control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      },
      "id": "VmwareAdminHAControlPlaneConfig"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalLoadBalancerNodePoolConfig": {
      "properties": {
        "nodePoolConfig": {
          "$ref": "BareMetalNodePoolConfig",
          "description": "The generic configuration for a node pool running a load balancer."
        }
      },
      "id": "BareMetalLoadBalancerNodePoolConfig",
      "description": "Specifies the load balancer's node pool configuration.",
      "type": "object"
    },
    "BareMetalBgpLbConfig": {
      "properties": {
        "bgpPeerConfigs": {
          "items": {
            "$ref": "BareMetalBgpPeerConfig"
          },
          "type": "array",
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation."
        },
        "asn": {
          "format": "int64",
          "type": "string",
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation."
        },
        "loadBalancerNodePoolConfig": {
          "$ref": "BareMetalLoadBalancerNodePoolConfig",
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing."
        },
        "addressPools": {
          "type": "array",
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          }
        }
      },
      "description": "BareMetalBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.",
      "id": "BareMetalBgpLbConfig",
      "type": "object"
    },
    "BareMetalMultipleNetworkInterfacesConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true."
        }
      },
      "type": "object",
      "description": "Specifies the multiple networking interfaces cluster configuration.",
      "id": "BareMetalMultipleNetworkInterfacesConfig"
    },
    "ValidationCheckStatus": {
      "description": "ValidationCheckStatus defines the detailed validation check status.",
      "type": "object",
      "properties": {
        "result": {
          "type": "array",
          "description": "Individual checks which failed as part of the Preflight check execution.",
          "items": {
            "$ref": "ValidationCheckResult"
          }
        }
      },
      "id": "ValidationCheckStatus"
    },
    "VmwareMetalLbConfig": {
      "properties": {
        "addressPools": {
          "items": {
            "$ref": "VmwareAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents configuration parameters for the MetalLB load balancer.",
      "id": "VmwareMetalLbConfig"
    },
    "BareMetalAdminDrainedMachine": {
      "id": "BareMetalAdminDrainedMachine",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Drained machine IP address."
        }
      },
      "description": "BareMetalAdminDrainedMachine represents the machines that are drained.",
      "type": "object"
    },
    "ResourceStatus": {
      "id": "ResourceStatus",
      "description": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED).",
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "description": "ResourceCondition provide a standard mechanism for higher-level status reporting from controller.",
          "items": {
            "$ref": "ResourceCondition"
          }
        },
        "errorMessage": {
          "description": "Human-friendly representation of the error message from controller. The error message can be temporary as the controller controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Reflect current version of the resource."
        },
        "versions": {
          "$ref": "Versions",
          "description": "Shows the mapping of a given version to the number of machines under this version."
        }
      }
    },
    "VmwareLoadBalancerConfig": {
      "type": "object",
      "id": "VmwareLoadBalancerConfig",
      "description": "Specifies the locad balancer config for the VMware user cluster.",
      "properties": {
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareVipConfig"
        },
        "seesawConfig": {
          "$ref": "VmwareSeesawConfig",
          "readOnly": true,
          "description": "Output only. Configuration for Seesaw typed load balancers."
        },
        "metalLbConfig": {
          "description": "Configuration for MetalLB typed load balancers.",
          "$ref": "VmwareMetalLbConfig"
        },
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareF5BigIpConfig"
        },
        "manualLbConfig": {
          "$ref": "VmwareManualLbConfig",
          "description": "Manually configured load balancers."
        }
      }
    },
    "OperationProgress": {
      "description": "Information about operation progress.",
      "type": "object",
      "id": "OperationProgress",
      "properties": {
        "stages": {
          "items": {
            "$ref": "OperationStage"
          },
          "description": "The stages of the operation.",
          "type": "array"
        }
      }
    },
    "VmwareHostConfig": {
      "description": "Represents the common parameters for all the hosts irrespective of their IP address.",
      "id": "VmwareHostConfig",
      "properties": {
        "dnsServers": {
          "items": {
            "type": "string"
          },
          "description": "DNS servers.",
          "type": "array"
        },
        "ntpServers": {
          "items": {
            "type": "string"
          },
          "description": "NTP servers.",
          "type": "array"
        },
        "dnsSearchDomains": {
          "description": "DNS search domains.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "VmwareControlPlaneNodeConfig": {
      "type": "object",
      "id": "VmwareControlPlaneNodeConfig",
      "properties": {
        "replicas": {
          "format": "int64",
          "type": "string",
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica)."
        },
        "cpus": {
          "type": "string",
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)",
          "format": "int64"
        },
        "memory": {
          "format": "int64",
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory).",
          "type": "string"
        },
        "autoResizeConfig": {
          "$ref": "VmwareAutoResizeConfig",
          "description": "AutoResizeConfig provides auto resizing configurations."
        },
        "vsphereConfig": {
          "description": "Vsphere-specific config.",
          "$ref": "VmwareControlPlaneVsphereConfig"
        }
      },
      "description": "Specifies control plane node config for the VMware user cluster."
    },
    "QueryBareMetalVersionConfigResponse": {
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "BareMetalVersionInfo"
          },
          "description": "List of available versions to install or to upgrade to."
        }
      },
      "type": "object",
      "id": "QueryBareMetalVersionConfigResponse",
      "description": "Response message for querying bare metal admin cluster version config."
    },
    "BareMetalAdminLoadBalancerConfig": {
      "id": "BareMetalAdminLoadBalancerConfig",
      "type": "object",
      "description": "BareMetalAdminLoadBalancerConfig specifies the load balancer configuration.",
      "properties": {
        "vipConfig": {
          "$ref": "BareMetalAdminVipConfig",
          "description": "The VIPs used by the load balancer."
        },
        "bgpLbConfig": {
          "description": "Configuration for BGP typed load balancers.",
          "$ref": "BareMetalAdminBgpLbConfig"
        },
        "portConfig": {
          "description": "Configures the ports that the load balancer will listen on.",
          "$ref": "BareMetalAdminPortConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "BareMetalAdminManualLbConfig"
        }
      }
    },
    "BareMetalMaintenanceConfig": {
      "type": "object",
      "description": "Specifies configurations to put bare metal nodes in and out of maintenance.",
      "id": "BareMetalMaintenanceConfig",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "type": "array",
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalAdminMultipleNetworkInterfacesConfig": {
      "id": "BareMetalAdminMultipleNetworkInterfacesConfig",
      "properties": {
        "enabled": {
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true.",
          "type": "boolean"
        }
      },
      "description": "Specifies the multiple networking interfaces cluster configuration.",
      "type": "object"
    },
    "BareMetalAdminManualLbConfig": {
      "id": "BareMetalAdminManualLbConfig",
      "description": "BareMetalAdminManualLbConfig represents configuration parameters for a manual load balancer.",
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "VmwareBundleConfig": {
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the bundle."
        },
        "status": {
          "$ref": "ResourceStatus",
          "description": "Output only. Resource status for the bundle.",
          "readOnly": true
        }
      },
      "description": "VmwareBundleConfig represents configuration for the bundle.",
      "type": "object",
      "id": "VmwareBundleConfig"
    },
    "VmwareAdminPreparedSecretsConfig": {
      "id": "VmwareAdminPreparedSecretsConfig",
      "description": "VmwareAdminPreparedSecretsConfig represents configuration for admin cluster prepared secrets.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether prepared secrets is enabled."
        }
      }
    },
    "BareMetalWorkloadNodeConfig": {
      "type": "object",
      "properties": {
        "maxPodsPerNode": {
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter.",
          "format": "int64",
          "type": "string"
        },
        "containerRuntime": {
          "description": "Specifies which container runtime will be used.",
          "enum": [
            "CONTAINER_RUNTIME_UNSPECIFIED",
            "CONTAINERD"
          ],
          "enumDescriptions": [
            "No container runtime selected.",
            "Containerd runtime."
          ],
          "type": "string"
        }
      },
      "description": "Specifies the workload node configurations.",
      "id": "BareMetalWorkloadNodeConfig"
    },
    "ListVmwareAdminClustersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        },
        "vmwareAdminClusters": {
          "description": "The list of VMware admin cluster.",
          "type": "array",
          "items": {
            "$ref": "VmwareAdminCluster"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for listing VMware admin clusters.",
      "id": "ListVmwareAdminClustersResponse"
    },
    "VmwareHostIp": {
      "id": "VmwareHostIp",
      "properties": {
        "ip": {
          "description": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0/24).",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Hostname of the machine. VM's name will be used if this field is empty."
        }
      },
      "type": "object",
      "description": "Represents VMware user cluster node's network configuration."
    },
    "VmwareNetworkConfig": {
      "type": "object",
      "properties": {
        "vcenterNetwork": {
          "type": "string",
          "description": "vcenter_network specifies vCenter network name. Inherited from the admin cluster."
        },
        "podAddressCidrBlocks": {
          "type": "array",
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          }
        },
        "controlPlaneV2Config": {
          "$ref": "VmwareControlPlaneV2Config",
          "description": "Configuration for control plane V2 mode."
        },
        "staticIpConfig": {
          "description": "Configuration settings for a static IP configuration.",
          "$ref": "VmwareStaticIpConfig"
        },
        "serviceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
        },
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        },
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        }
      },
      "description": "Specifies network config for the VMware user cluster.",
      "id": "VmwareNetworkConfig"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "BareMetalStorageConfig": {
      "properties": {
        "lvpNodeMountsConfig": {
          "$ref": "BareMetalLvpConfig",
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation."
        },
        "lvpShareConfig": {
          "$ref": "BareMetalLvpShareConfig",
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation."
        }
      },
      "type": "object",
      "id": "BareMetalStorageConfig",
      "description": "BareMetalStorageConfig specifies the cluster storage configuration."
    },
    "Versions": {
      "properties": {
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "type": "array"
        }
      },
      "description": "Versions describes the mapping of a given version to the number of machines under this version.",
      "type": "object",
      "id": "Versions"
    },
    "BareMetalAdminClusterOperationsConfig": {
      "description": "BareMetalAdminClusterOperationsConfig specifies the admin cluster's observability infrastructure.",
      "id": "BareMetalAdminClusterOperationsConfig",
      "properties": {
        "enableApplicationLogs": {
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics).",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "OperationStage": {
      "type": "object",
      "id": "OperationStage",
      "description": "Information about a particular stage of an operation.",
      "properties": {
        "state": {
          "description": "Output only. State of the stage.",
          "enumDescriptions": [
            "Not set.",
            "The stage is pending.",
            "The stage is running",
            "The stage has completed successfully.",
            "The stage has failed."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "startTime": {
          "description": "Time the stage started.",
          "type": "string",
          "format": "google-datetime"
        },
        "metrics": {
          "description": "Progress metric bundle.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "stage": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Preflight checks are running.",
            "Resource is being configured.",
            "Resource is being deployed.",
            "Waiting for the resource to become healthy.",
            "Resource is being updated."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "PREFLIGHT_CHECK",
            "CONFIGURE",
            "DEPLOY",
            "HEALTH_CHECK",
            "UPDATE"
          ],
          "description": "The high-level stage of the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time the stage ended.",
          "type": "string"
        }
      }
    },
    "BareMetalApiServerArgument": {
      "type": "object",
      "description": "Represents an arg name->value pair. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
      "properties": {
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        },
        "argument": {
          "description": "Required. The argument name as it appears on the API Server command line, make sure to remove the leading dashes.",
          "type": "string"
        }
      },
      "id": "BareMetalApiServerArgument"
    },
    "VmwareAdminVCenterConfig": {
      "id": "VmwareAdminVCenterConfig",
      "properties": {
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore for the admin cluster."
        },
        "datacenter": {
          "description": "The name of the vCenter datacenter for the admin cluster.",
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "The name of the vCenter cluster for the admin cluster."
        },
        "resourcePool": {
          "type": "string",
          "description": "The name of the vCenter resource pool for the admin cluster."
        },
        "folder": {
          "description": "The name of the vCenter folder for the admin cluster.",
          "type": "string"
        },
        "dataDisk": {
          "description": "The name of the virtual machine disk (VMDK) for the admin cluster.",
          "type": "string"
        },
        "address": {
          "description": "The vCenter IP address.",
          "type": "string"
        },
        "storagePolicyName": {
          "description": "The name of the vCenter storage policy for the user cluster.",
          "type": "string"
        },
        "caCertData": {
          "description": "Contains the vCenter CA certificate public key for SSL verification.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "VmwareAdminVCenterConfig contains VCenter configuration for VMware admin cluster."
    },
    "VmwareAAGConfig": {
      "type": "object",
      "id": "VmwareAAGConfig",
      "properties": {
        "aagConfigDisabled": {
          "description": "Spread nodes across at least three physical hosts (requires at least three hosts). Enabled by default.",
          "type": "boolean"
        }
      },
      "description": "Specifies anti affinity group config for the VMware user cluster."
    },
    "BareMetalPortConfig": {
      "id": "BareMetalPortConfig",
      "type": "object",
      "description": "Specifies load balancer ports for the bare metal user cluster.",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "description": "The port that control plane hosted load balancers will listen on.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VmwareAdminVipConfig": {
      "type": "object",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of the admin cluster.",
          "type": "string"
        },
        "addonsVip": {
          "description": "The VIP to configure the load balancer for add-ons.",
          "type": "string"
        }
      },
      "description": "VmwareAdminVipConfig for VMware load balancer configurations.",
      "id": "VmwareAdminVipConfig"
    },
    "BareMetalAdminMachineDrainStatus": {
      "id": "BareMetalAdminMachineDrainStatus",
      "description": "BareMetalAdminMachineDrainStatus represents the status of bare metal node machines that are undergoing drain operations.",
      "type": "object",
      "properties": {
        "drainedMachines": {
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminDrainedMachine"
          },
          "description": "The list of drained machines."
        },
        "drainingMachines": {
          "type": "array",
          "description": "The list of draning machines.",
          "items": {
            "$ref": "BareMetalAdminDrainingMachine"
          }
        }
      }
    },
    "ListBareMetalClustersResponse": {
      "id": "ListBareMetalClustersResponse",
      "type": "object",
      "properties": {
        "bareMetalClusters": {
          "items": {
            "$ref": "BareMetalCluster"
          },
          "type": "array",
          "description": "The list of bare metal Clusters."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        }
      },
      "description": "Response message for listing bare metal Clusters."
    },
    "Version": {
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Number of machines under the above version."
        },
        "version": {
          "description": "Resource version.",
          "type": "string"
        }
      },
      "id": "Version",
      "type": "object",
      "description": "Version describes the number of nodes at a given version under a resource."
    },
    "Location": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "BareMetalManualLbConfig": {
      "id": "BareMetalManualLbConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      },
      "description": "Represents configuration parameters for a manual load balancer."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "BareMetalClusterOperationsConfig": {
      "id": "BareMetalClusterOperationsConfig",
      "type": "object",
      "properties": {
        "enableApplicationLogs": {
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics).",
          "type": "boolean"
        }
      },
      "description": "Specifies the bare metal user cluster's observability infrastructure."
    },
    "VmwareAdminProxy": {
      "id": "VmwareAdminProxy",
      "properties": {
        "url": {
          "type": "string",
          "description": "The HTTP address of proxy server."
        },
        "noProxy": {
          "type": "string",
          "description": "A comma-separated list of IP addresses, IP address ranges, host names, and domain names that should not go through the proxy server. When Google Distributed Cloud sends a request to one of these addresses, hosts, or domains, the request is sent directly."
        }
      },
      "description": "VmwareAdminProxy represents configuration for admin cluster proxy.",
      "type": "object"
    },
    "NodeTaint": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value associated with the effect."
        },
        "key": {
          "description": "Key associated with the effect.",
          "type": "string"
        },
        "effect": {
          "description": "The taint effect.",
          "enumDescriptions": [
            "Not set.",
            "Do not allow new pods to schedule onto the node unless they tolerate the taint, but allow all pods submitted to Kubelet without going through the scheduler to start, and allow all already-running pods to continue running. Enforced by the scheduler.",
            "Like TaintEffectNoSchedule, but the scheduler tries not to schedule new pods onto the node, rather than prohibiting new pods from scheduling onto the node entirely. Enforced by the scheduler.",
            "Evict any already-running pods that do not tolerate the taint. Currently enforced by NodeController."
          ],
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "type": "string"
        }
      },
      "description": "NodeTaint applied to every Kubernetes node in a node pool. Kubernetes taints can be used together with tolerations to control how workloads are scheduled to your nodes. Node taints are permanent.",
      "id": "NodeTaint"
    },
    "VmwareControlPlaneV2Config": {
      "type": "object",
      "id": "VmwareControlPlaneV2Config",
      "description": "Specifies control plane V2 config.",
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      }
    },
    "VmwareCluster": {
      "id": "VmwareCluster",
      "description": "Resource that represents a VMware user cluster. ##",
      "properties": {
        "upgradePolicy": {
          "$ref": "VmwareClusterUpgradePolicy",
          "description": "Specifies upgrade policy for the cluster."
        },
        "vmTrackingEnabled": {
          "type": "boolean",
          "description": "Enable VM tracking."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Binary Authorization related configurations."
        },
        "adminClusterName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the VMware admin cluster hosting this user cluster."
        },
        "controlPlaneNode": {
          "$ref": "VmwareControlPlaneNodeConfig",
          "description": "VMware user cluster control plane nodes must have either 1 or 3 replicas."
        },
        "localName": {
          "type": "string",
          "description": "Output only. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "readOnly": true
        },
        "vcenter": {
          "$ref": "VmwareVCenterConfig",
          "description": "VmwareVCenterConfig specifies vCenter config for the user cluster. If unspecified, it is inherited from the admin cluster."
        },
        "endpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The DNS name of VMware user cluster's API server."
        },
        "deleteTime": {
          "description": "Output only. The time at which VMware user cluster was deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "validationCheck": {
          "readOnly": true,
          "$ref": "ValidationCheck",
          "description": "Output only. ValidationCheck represents the result of the preflight check job."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The VMware user cluster resource name."
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the VMware user cluster.",
          "type": "boolean",
          "readOnly": true
        },
        "storage": {
          "$ref": "VmwareStorageConfig",
          "description": "Storage configuration."
        },
        "autoRepairConfig": {
          "$ref": "VmwareAutoRepairConfig",
          "description": "Configuration for auto repairing."
        },
        "updateTime": {
          "description": "Output only. The time at which VMware user cluster was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "fleet": {
          "readOnly": true,
          "$ref": "Fleet",
          "description": "Output only. Fleet configuration for the cluster."
        },
        "networkConfig": {
          "$ref": "VmwareNetworkConfig",
          "description": "The VMware user cluster network configuration."
        },
        "disableBundledIngress": {
          "type": "boolean",
          "description": "Disable bundled ingress."
        },
        "description": {
          "description": "A human readable description of this VMware user cluster.",
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing detailed cluster state."
        },
        "onPremVersion": {
          "description": "Required. The Anthos clusters on the VMware version for your user cluster.",
          "type": "string"
        },
        "antiAffinityGroups": {
          "description": "AAGConfig specifies whether to spread VMware user cluster nodes across at least three physical hosts in the datacenter.",
          "$ref": "VmwareAAGConfig"
        },
        "loadBalancer": {
          "description": "Load balancer configuration.",
          "$ref": "VmwareLoadBalancerConfig"
        },
        "state": {
          "description": "Output only. The current state of VMware user cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "readOnly": true
        },
        "uid": {
          "description": "Output only. The unique identifier of the VMware user cluster.",
          "type": "string",
          "readOnly": true
        },
        "authorization": {
          "description": "RBAC policy that will be applied and managed by the Anthos On-Prem API.",
          "$ref": "Authorization"
        },
        "enableControlPlaneV2": {
          "description": "Enable control plane V2. Default to false.",
          "type": "boolean"
        },
        "dataplaneV2": {
          "$ref": "VmwareDataplaneV2Config",
          "description": "VmwareDataplaneV2Config specifies configuration for Dataplane V2."
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
        },
        "enableAdvancedCluster": {
          "type": "boolean",
          "description": "Enable advanced cluster."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the VMware user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which VMware user cluster was created."
        }
      },
      "type": "object"
    },
    "BareMetalAdminWorkloadNodeConfig": {
      "type": "object",
      "properties": {
        "maxPodsPerNode": {
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter. By default 110 Pods are created per Node. Upper bound is 250 for both HA and non-HA admin cluster. Lower bound is 64 for non-HA admin cluster and 32 for HA admin cluster.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "BareMetalAdminWorkloadNodeConfig specifies the workload node configurations.",
      "id": "BareMetalAdminWorkloadNodeConfig"
    },
    "UpgradeDependency": {
      "id": "UpgradeDependency",
      "properties": {
        "membership": {
          "description": "Membership names are formatted as `projects//locations//memberships/`.",
          "type": "string"
        },
        "currentVersion": {
          "type": "string",
          "description": "Current version of the dependency e.g. 1.15.0."
        },
        "targetVersion": {
          "type": "string",
          "description": "Target version of the dependency e.g. 1.16.1. This is the version the dependency needs to be upgraded to before a resource can be upgraded."
        },
        "resourceName": {
          "description": "Resource name of the dependency.",
          "type": "string"
        }
      },
      "description": "UpgradeDependency represents a dependency when upgrading a resource.",
      "type": "object"
    },
    "BareMetalAdminSecurityConfig": {
      "properties": {
        "authorization": {
          "$ref": "Authorization",
          "description": "Configures user access to the admin cluster."
        }
      },
      "type": "object",
      "description": "Specifies the security related settings for the bare metal admin cluster.",
      "id": "BareMetalAdminSecurityConfig"
    },
    "VmwareSeesawConfig": {
      "description": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'.",
      "properties": {
        "group": {
          "description": "Required. In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name].",
          "type": "string"
        },
        "enableHa": {
          "type": "boolean",
          "description": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer."
        },
        "vms": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Names of the VMs created for this Seesaw group."
        },
        "stackdriverName": {
          "type": "string",
          "description": "Name to be used by Stackdriver."
        },
        "masterIp": {
          "type": "string",
          "description": "Required. MasterIP is the IP announced by the master of Seesaw group."
        },
        "ipBlocks": {
          "type": "array",
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "description": "Required. The IP Blocks to be used by the Seesaw load balancer"
        }
      },
      "id": "VmwareSeesawConfig",
      "type": "object"
    },
    "VmwareDataplaneV2Config": {
      "properties": {
        "windowsDataplaneV2Enabled": {
          "type": "boolean",
          "description": "Enable Dataplane V2 for clusters with Windows nodes."
        },
        "advancedNetworking": {
          "description": "Enable advanced networking which requires dataplane_v2_enabled to be set true.",
          "type": "boolean"
        },
        "forwardMode": {
          "description": "Configure ForwardMode for Dataplane v2.",
          "type": "string"
        },
        "dataplaneV2Enabled": {
          "description": "Enables Dataplane V2.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "VmwareDataplaneV2Config",
      "description": "Contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2"
    },
    "VmwareAdminPrivateRegistryConfig": {
      "description": "VmwareAdminPrivateRegistryConfig represents configuration for admin cluster registry.",
      "type": "object",
      "id": "VmwareAdminPrivateRegistryConfig",
      "properties": {
        "caCert": {
          "type": "string",
          "description": "When the container runtime pulls an image from private registry, the registry must prove its identity by presenting a certificate. The registry's certificate is signed by a certificate authority (CA). The container runtime uses the CA's certificate to validate the registry's certificate."
        },
        "address": {
          "type": "string",
          "description": "The registry address."
        }
      }
    },
    "BareMetalAdminPortConfig": {
      "id": "BareMetalAdminPortConfig",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "format": "int32",
          "type": "integer",
          "description": "The port that control plane hosted load balancers will listen on."
        }
      },
      "type": "object",
      "description": "BareMetalAdminPortConfig is the specification of load balancer ports."
    },
    "BareMetalProxyConfig": {
      "description": "Specifies the cluster proxy configuration.",
      "type": "object",
      "id": "BareMetalProxyConfig",
      "properties": {
        "noProxy": {
          "type": "array",
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminVipConfig": {
      "type": "object",
      "properties": {
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal admin cluster."
        }
      },
      "description": "BareMetalAdminVipConfig for bare metal load balancer configurations.",
      "id": "BareMetalAdminVipConfig"
    },
    "BareMetalSrIovConfig": {
      "id": "BareMetalSrIovConfig",
      "type": "object",
      "description": "Specifies the SR-IOV networking operator config.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to install the SR-IOV operator."
        }
      }
    },
    "BareMetalBgpPeerConfig": {
      "type": "object",
      "description": "BareMetalBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Required. The IP address of the external peer device."
        },
        "controlPlaneNodes": {
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "asn": {
          "type": "string",
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device.",
          "format": "int64"
        }
      },
      "id": "BareMetalBgpPeerConfig"
    },
    "VmwareControlPlaneVsphereConfig": {
      "description": "Specifies control plane node config.",
      "properties": {
        "datastore": {
          "type": "string",
          "description": "The Vsphere datastore used by the control plane Node."
        },
        "storagePolicyName": {
          "type": "string",
          "description": "The Vsphere storage policy used by the control plane Node."
        }
      },
      "type": "object",
      "id": "VmwareControlPlaneVsphereConfig"
    },
    "Authorization": {
      "id": "Authorization",
      "properties": {
        "adminUsers": {
          "items": {
            "$ref": "ClusterUser"
          },
          "description": "For VMware and bare metal user clusters, users will be granted the cluster-admin role on the cluster, which provides full administrative access to the cluster. For bare metal admin clusters, users will be granted the cluster-view role, which limits users to read-only access.",
          "type": "array"
        }
      },
      "description": "Authorization defines the On-Prem cluster authorization configuration to bootstrap onto the admin cluster.",
      "type": "object"
    },
    "VmwareAddressPool": {
      "id": "VmwareAddressPool",
      "type": "object",
      "description": "Represents an IP pool used by the load balancer.",
      "properties": {
        "manualAssign": {
          "type": "boolean",
          "description": "If true, prevent IP addresses from being automatically assigned."
        },
        "pool": {
          "type": "string",
          "description": "Required. The name of the address pool."
        },
        "addresses": {
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array"
        },
        "avoidBuggyIps": {
          "type": "boolean",
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
        }
      }
    },
    "VmwareAdminLoadBalancerConfig": {
      "id": "VmwareAdminLoadBalancerConfig",
      "description": "VmwareAdminLoadBalancerConfig contains load balancer configuration for VMware admin cluster.",
      "type": "object",
      "properties": {
        "metalLbConfig": {
          "description": "MetalLB load balancers.",
          "$ref": "VmwareAdminMetalLbConfig"
        },
        "vipConfig": {
          "$ref": "VmwareAdminVipConfig",
          "description": "The VIPs used by the load balancer."
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareAdminManualLbConfig"
        },
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareAdminF5BigIpConfig"
        },
        "seesawConfig": {
          "description": "Output only. Configuration for Seesaw typed load balancers.",
          "readOnly": true,
          "$ref": "VmwareAdminSeesawConfig"
        }
      }
    },
    "VmwareF5BigIpConfig": {
      "properties": {
        "snatPool": {
          "description": "The pool name. Only necessary, if using SNAT.",
          "type": "string"
        },
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The load balancer's IP address."
        }
      },
      "type": "object",
      "id": "VmwareF5BigIpConfig",
      "description": "Represents configuration parameters for an F5 BIG-IP load balancer."
    },
    "ListVmwareClustersResponse": {
      "description": "Response message for listing VMware Clusters.",
      "type": "object",
      "id": "ListVmwareClustersResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        },
        "vmwareClusters": {
          "items": {
            "$ref": "VmwareCluster"
          },
          "type": "array",
          "description": "The list of VMware Cluster."
        }
      }
    },
    "EnrollBareMetalClusterRequest": {
      "properties": {
        "localName": {
          "type": "string",
          "description": "Optional. The object name of the bare metal cluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the bare_metal_cluster_id. Otherwise, it must match the object name of the bare metal cluster custom resource. It is not modifiable outside / beyond the enrollment operation."
        },
        "bareMetalClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all bare metal clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        },
        "localNamespace": {
          "type": "string",
          "description": "Optional. The namespace of the cluster."
        }
      },
      "type": "object",
      "id": "EnrollBareMetalClusterRequest",
      "description": "Message for enrolling an existing bare metal cluster to the Anthos On-Prem API."
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "BareMetalParallelUpgradeConfig": {
      "id": "BareMetalParallelUpgradeConfig",
      "description": "BareMetalParallelUpgradeConfig defines the parallel upgrade settings for worker node pools.",
      "properties": {
        "minimumAvailableNodes": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of nodes that should be healthy and available during an upgrade. If set to the default value of 0, it is possible that none of the nodes will be available during an upgrade."
        },
        "concurrentNodes": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of nodes that can be upgraded at once."
        }
      },
      "type": "object"
    },
    "BareMetalAdminNodeAccessConfig": {
      "id": "BareMetalAdminNodeAccessConfig",
      "description": "Specifies the node access related settings for the bare metal admin cluster.",
      "type": "object",
      "properties": {
        "loginUser": {
          "description": "Required. LoginUser is the user name used to access node machines. It defaults to \"root\" if not set.",
          "type": "string"
        }
      }
    },
    "BareMetalNodePoolConfig": {
      "type": "object",
      "id": "BareMetalNodePoolConfig",
      "properties": {
        "taints": {
          "description": "The initial taints assigned to nodes of this node pool.",
          "items": {
            "$ref": "NodeTaint"
          },
          "type": "array"
        },
        "nodeConfigs": {
          "items": {
            "$ref": "BareMetalNodeConfig"
          },
          "description": "Required. The list of machine addresses in the bare metal node pool.",
          "type": "array"
        },
        "operatingSystem": {
          "type": "string",
          "description": "Specifies the nodes operating system (default: LINUX).",
          "enumDescriptions": [
            "No operating system runtime selected.",
            "Linux operating system."
          ],
          "enum": [
            "OPERATING_SYSTEM_UNSPECIFIED",
            "LINUX"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels assigned to nodes of this node pool. An object containing a list of key/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "type": "object"
        },
        "kubeletConfig": {
          "$ref": "BareMetalKubeletConfig",
          "description": "The modifiable kubelet configurations for the bare metal machines."
        }
      },
      "description": "BareMetalNodePoolConfig describes the configuration of all nodes within a given bare metal node pool."
    },
    "EnrollBareMetalNodePoolRequest": {
      "description": "Message for enrolling an existing bare metal node pool to the GKE on-prem API.",
      "id": "EnrollBareMetalNodePoolRequest",
      "type": "object",
      "properties": {
        "bareMetalNodePoolId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. (https://tools.ietf.org/html/rfc1123) format."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If set, only validate the request, but do not actually enroll the node pool."
        }
      }
    },
    "BareMetalAdminProxyConfig": {
      "type": "object",
      "id": "BareMetalAdminProxyConfig",
      "properties": {
        "noProxy": {
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "type": "string",
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` WARNING: Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server."
        }
      },
      "description": "BareMetalAdminProxyConfig specifies the cluster proxy configuration."
    },
    "VmwareVsphereConfig": {
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "$ref": "VmwareVsphereTag"
          },
          "description": "Tags to apply to VMs."
        },
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore. Inherited from the user cluster."
        },
        "hostGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Vsphere host groups to apply to all VMs in the node pool"
        }
      },
      "id": "VmwareVsphereConfig",
      "description": "VmwareVsphereConfig represents configuration for the VMware VCenter for node pool.",
      "type": "object"
    },
    "Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "VmwareManualLbConfig": {
      "type": "object",
      "properties": {
        "ingressHttpsNodePort": {
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "format": "int32",
          "type": "integer"
        },
        "konnectivityServerNodePort": {
          "format": "int32",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564).",
          "type": "integer"
        },
        "ingressHttpNodePort": {
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer",
          "format": "int32"
        },
        "controlPlaneNodePort": {
          "format": "int32",
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968).",
          "type": "integer"
        }
      },
      "description": "Represents configuration parameters for an already existing manual load balancer. Given the nature of manual load balancers it is expected that said load balancer will be fully managed by users. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update ManualLB configurations it can only bind a pre-existing configuration to a new VMware user cluster.",
      "id": "VmwareManualLbConfig"
    },
    "BareMetalAdminMaintenanceStatus": {
      "description": "BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes.",
      "type": "object",
      "id": "BareMetalAdminMaintenanceStatus",
      "properties": {
        "machineDrainStatus": {
          "description": "Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade.",
          "$ref": "BareMetalAdminMachineDrainStatus"
        }
      }
    },
    "VmwareVsphereTag": {
      "id": "VmwareVsphereTag",
      "type": "object",
      "description": "VmwareVsphereTag describes a vSphere tag to be placed on VMs in the node pool. For more information, see https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vcenterhost.doc/GUID-E8E854DD-AA97-4E0C-8419-CE84F93C4058.html",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The Vsphere tag name."
        },
        "category": {
          "type": "string",
          "description": "The Vsphere tag category."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "BareMetalAdminBgpPeerConfig": {
      "properties": {
        "ipAddress": {
          "description": "Required. The IP address of the external peer device.",
          "type": "string"
        },
        "controlPlaneNodes": {
          "items": {
            "type": "string"
          },
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions.",
          "type": "array"
        },
        "asn": {
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "BareMetalAdminBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer.",
      "id": "BareMetalAdminBgpPeerConfig"
    },
    "BareMetalIslandModeCidrConfig": {
      "description": "Specifies the cluster CIDR configuration while running in island mode.",
      "type": "object",
      "properties": {
        "podAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array"
        },
        "serviceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field is mutable after creation starting with version 1.15."
        }
      },
      "id": "BareMetalIslandModeCidrConfig"
    },
    "BareMetalSecurityConfig": {
      "id": "BareMetalSecurityConfig",
      "description": "Specifies the security related settings for the bare metal user cluster.",
      "type": "object",
      "properties": {
        "authorization": {
          "description": "Configures user access to the user cluster.",
          "$ref": "Authorization"
        }
      }
    },
    "Expr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr"
    },
    "BareMetalNodeConfig": {
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels assigned to this node. An object containing a list of key/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }."
        }
      },
      "id": "BareMetalNodeConfig",
      "type": "object",
      "description": "BareMetalNodeConfig lists machine addresses to access Nodes."
    },
    "BareMetalLvpShareConfig": {
      "properties": {
        "sharedPathPvCount": {
          "description": "The number of subdirectories to create under path.",
          "type": "integer",
          "format": "int32"
        },
        "lvpConfig": {
          "$ref": "BareMetalLvpConfig",
          "description": "Required. Defines the machine path and storage class for the LVP Share."
        }
      },
      "id": "BareMetalLvpShareConfig",
      "type": "object",
      "description": "Specifies the configs for local persistent volumes under a shared file system."
    },
    "BareMetalAdminNetworkConfig": {
      "properties": {
        "advancedNetworking": {
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag.",
          "type": "boolean"
        },
        "multipleNetworkInterfacesConfig": {
          "$ref": "BareMetalAdminMultipleNetworkInterfacesConfig",
          "description": "Configuration for multiple network interfaces."
        },
        "islandModeCidr": {
          "$ref": "BareMetalAdminIslandModeCidrConfig",
          "description": "Configuration for Island mode CIDR."
        }
      },
      "id": "BareMetalAdminNetworkConfig",
      "type": "object",
      "description": "BareMetalAdminNetworkConfig specifies the cluster network configuration."
    },
    "VmwareAdminNetworkConfig": {
      "type": "object",
      "properties": {
        "dhcpIpConfig": {
          "$ref": "VmwareDhcpIpConfig",
          "description": "Configuration settings for a DHCP IP configuration."
        },
        "staticIpConfig": {
          "description": "Configuration settings for a static IP configuration.",
          "$ref": "VmwareStaticIpConfig"
        },
        "haControlPlaneConfig": {
          "description": "Configuration for HA admin cluster control plane.",
          "$ref": "VmwareAdminHAControlPlaneConfig"
        },
        "serviceAddressCidrBlocks": {
          "type": "array",
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          }
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hostConfig": {
          "$ref": "VmwareHostConfig",
          "description": "Represents common network settings irrespective of the host's IP address."
        },
        "vcenterNetwork": {
          "type": "string",
          "description": "vcenter_network specifies vCenter network name."
        }
      },
      "description": "VmwareAdminNetworkConfig contains network configuration for VMware admin cluster.",
      "id": "VmwareAdminNetworkConfig"
    },
    "BareMetalAdminLoadBalancerNodePoolConfig": {
      "type": "object",
      "id": "BareMetalAdminLoadBalancerNodePoolConfig",
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running a load balancer.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "description": "Specifies the load balancer's node pool configuration."
    },
    "BareMetalNodePool": {
      "type": "object",
      "description": "Resource that represents a bare metal node pool.",
      "properties": {
        "updateTime": {
          "description": "Output only. The time at which this bare metal node pool was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the bare metal node pool."
        },
        "name": {
          "description": "Immutable. The bare metal node pool resource name.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the bare metal node pool."
        },
        "state": {
          "description": "Output only. The current state of the bare metal node pool.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the bare metal node pool is being created.",
            "The RUNNING state indicates the bare metal node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the bare metal node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the bare metal node pool is being deleted.",
            "The ERROR state indicates the bare metal node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the bare metal node pool requires user action to restore full functionality."
          ],
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the bare metal node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the bare metal node pool."
        },
        "nodePoolConfig": {
          "$ref": "BareMetalNodePoolConfig",
          "description": "Required. Node pool configuration."
        },
        "createTime": {
          "description": "Output only. The time at which this bare metal node pool was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "upgradePolicy": {
          "description": "The worker node pool upgrade policy.",
          "$ref": "BareMetalNodePoolUpgradePolicy"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "status": {
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing the detailed node pool status.",
          "readOnly": true
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this bare metal node pool was deleted. If the resource is not deleted, this must be empty"
        }
      },
      "id": "BareMetalNodePool"
    },
    "BareMetalAdminDrainingMachine": {
      "type": "object",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Draining machine IP address."
        },
        "podCount": {
          "type": "integer",
          "description": "The count of pods yet to drain.",
          "format": "int32"
        }
      },
      "id": "BareMetalAdminDrainingMachine",
      "description": "BareMetalAdminDrainingMachine represents the machines that are currently draining."
    },
    "BareMetalAdminIslandModeCidrConfig": {
      "type": "object",
      "properties": {
        "podAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation."
        },
        "serviceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array"
        }
      },
      "id": "BareMetalAdminIslandModeCidrConfig",
      "description": "BareMetalAdminIslandModeCidrConfig specifies the cluster CIDR configuration while running in island mode."
    },
    "BareMetalVipConfig": {
      "id": "BareMetalVipConfig",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal user cluster.",
          "type": "string"
        },
        "ingressVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for ingress traffic into this bare metal user cluster."
        }
      },
      "description": "Specifies the VIP config for the bare metal load balancer.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have [Operation.error] value with a [google.rpc.Status.code] of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "progress": {
          "description": "Output only. Detailed progress information for the operation.",
          "readOnly": true,
          "$ref": "OperationProgress"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "UPGRADE",
            "PLATFORM_UPGRADE"
          ],
          "enumDescriptions": [
            "Not set.",
            "The resource is being created.",
            "The resource is being deleted.",
            "The resource is being updated.",
            "The resource is being upgraded.",
            "The platform is being upgraded."
          ],
          "description": "Output only. Type of operation being executed."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "controlPlaneDisconnected": {
          "description": "Output only. Denotes if the local managing cluster's control plane is currently disconnected. This is expected to occur temporarily during self-managed cluster upgrades.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "BareMetalAdminCluster": {
      "id": "BareMetalAdminCluster",
      "properties": {
        "createTime": {
          "description": "Output only. The time at which this bare metal admin cluster was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "securityConfig": {
          "description": "Security related configuration.",
          "$ref": "BareMetalAdminSecurityConfig"
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster status.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Binary Authorization related configurations."
        },
        "networkConfig": {
          "$ref": "BareMetalAdminNetworkConfig",
          "description": "Network configuration."
        },
        "description": {
          "description": "A human readable description of this bare metal admin cluster.",
          "type": "string"
        },
        "storage": {
          "$ref": "BareMetalAdminStorageConfig",
          "description": "Storage configuration."
        },
        "maintenanceStatus": {
          "description": "Output only. MaintenanceStatus representing state of maintenance.",
          "$ref": "BareMetalAdminMaintenanceStatus",
          "readOnly": true
        },
        "osEnvironmentConfig": {
          "$ref": "BareMetalAdminOsEnvironmentConfig",
          "description": "OS environment related configurations."
        },
        "nodeAccessConfig": {
          "$ref": "BareMetalAdminNodeAccessConfig",
          "description": "Node access related configurations."
        },
        "controlPlane": {
          "description": "Control plane configuration.",
          "$ref": "BareMetalAdminControlPlaneConfig"
        },
        "updateTime": {
          "description": "Output only. The time at which this bare metal admin cluster was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "validationCheck": {
          "readOnly": true,
          "$ref": "ValidationCheck",
          "description": "Output only. ValidationCheck representing the result of the preflight check."
        },
        "annotations": {
          "type": "object",
          "description": "Annotations on the bare metal admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "description": "Output only. The unique identifier of the bare metal admin cluster.",
          "type": "string",
          "readOnly": true
        },
        "fleet": {
          "readOnly": true,
          "$ref": "Fleet",
          "description": "Output only. Fleet configuration for the cluster."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "endpoint": {
          "type": "string",
          "description": "Output only. The IP address name of bare metal admin cluster's API server.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of the bare metal admin cluster.",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "type": "string"
        },
        "localName": {
          "description": "Output only. The object name of the bare metal cluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "type": "string",
          "readOnly": true
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. The time at which this bare metal admin cluster was deleted. If the resource is not deleted, this must be empty",
          "readOnly": true,
          "format": "google-datetime"
        },
        "maintenanceConfig": {
          "$ref": "BareMetalAdminMaintenanceConfig",
          "description": "Maintenance configuration."
        },
        "proxy": {
          "description": "Proxy configuration.",
          "$ref": "BareMetalAdminProxyConfig"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the bare metal Admin Cluster.",
          "type": "boolean",
          "readOnly": true
        },
        "clusterOperations": {
          "$ref": "BareMetalAdminClusterOperationsConfig",
          "description": "Cluster operations configuration."
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalAdminWorkloadNodeConfig"
        },
        "bareMetalVersion": {
          "description": "The Anthos clusters on bare metal version for the bare metal admin cluster.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The bare metal admin cluster resource name.",
          "type": "string"
        },
        "loadBalancer": {
          "$ref": "BareMetalAdminLoadBalancerConfig",
          "description": "Load balancer configuration."
        }
      },
[...]
