{
  "version_module": true,
  "canonicalName": "GKE On-Prem",
  "mtlsRootUrl": "https://gkeonprem.mtls.googleapis.com/",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "ValidationCheck": {
      "type": "object",
      "properties": {
        "scenario": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The validation check occurred during a create flow.",
            "The validation check occurred during an update flow."
          ],
          "readOnly": true,
          "description": "Output only. The scenario when the preflight checks were run.",
          "enum": [
            "SCENARIO_UNSPECIFIED",
            "CREATE",
            "UPDATE"
          ]
        },
        "option": {
          "type": "string",
          "description": "Options used for the validation check",
          "enum": [
            "OPTIONS_UNSPECIFIED",
            "SKIP_VALIDATION_CHECK_BLOCKING",
            "SKIP_VALIDATION_ALL"
          ],
          "enumDescriptions": [
            "Default value. Standard preflight validation check will be used.",
            "Prevent failed preflight checks from failing.",
            "Skip all preflight check validations."
          ]
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The detailed validation check status.",
          "$ref": "ValidationCheckStatus"
        }
      },
      "id": "ValidationCheck",
      "description": "ValidationCheck represents the result of preflight check."
    },
    "BareMetalMultipleNetworkInterfacesConfig": {
      "description": "Specifies the multiple networking interfaces cluster configuration.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true.",
          "type": "boolean"
        }
      },
      "id": "BareMetalMultipleNetworkInterfacesConfig"
    },
    "VmwareVsphereTag": {
      "description": "VmwareVsphereTag describes a vSphere tag to be placed on VMs in the node pool. For more information, see https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vcenterhost.doc/GUID-E8E854DD-AA97-4E0C-8419-CE84F93C4058.html",
      "type": "object",
      "id": "VmwareVsphereTag",
      "properties": {
        "tag": {
          "description": "The Vsphere tag name.",
          "type": "string"
        },
        "category": {
          "description": "The Vsphere tag category.",
          "type": "string"
        }
      }
    },
    "BareMetalVersionInfo": {
      "type": "object",
      "id": "BareMetalVersionInfo",
      "properties": {
        "dependencies": {
          "description": "The list of upgrade dependencies for this version.",
          "type": "array",
          "items": {
            "$ref": "UpgradeDependency"
          }
        },
        "version": {
          "description": "Version number e.g. 1.13.1.",
          "type": "string"
        },
        "hasDependencies": {
          "type": "boolean",
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster, version skew policy, etc) must be upgraded before this version can be installed or upgraded to."
        }
      },
      "description": "Contains information about a specific Anthos on bare metal version."
    },
    "EnrollVmwareNodePoolRequest": {
      "id": "EnrollVmwareNodePoolRequest",
      "properties": {
        "vmwareNodePoolId": {
          "description": "The target node pool id to be enrolled.",
          "type": "string"
        }
      },
      "description": "Message for enrolling a VMware node pool.",
      "type": "object"
    },
    "VmwareManualLbConfig": {
      "properties": {
        "ingressHttpsNodePort": {
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "type": "integer",
          "format": "int32"
        },
        "controlPlaneNodePort": {
          "type": "integer",
          "format": "int32",
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968)."
        },
        "konnectivityServerNodePort": {
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564).",
          "format": "int32",
          "type": "integer"
        },
        "ingressHttpNodePort": {
          "format": "int32",
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer"
        }
      },
      "id": "VmwareManualLbConfig",
      "description": "Represents configuration parameters for an already existing manual load balancer. Given the nature of manual load balancers it is expected that said load balancer will be fully managed by users. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update ManualLB configurations it can only bind a pre-existing configuration to a new VMware user cluster.",
      "type": "object"
    },
    "BareMetalAdminMaintenanceConfig": {
      "id": "BareMetalAdminMaintenanceConfig",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource."
        }
      },
      "description": "BareMetalAdminMaintenanceConfig specifies configurations to put bare metal Admin cluster CRs nodes in and out of maintenance.",
      "type": "object"
    },
    "VmwareStorageConfig": {
      "type": "object",
      "description": "Specifies vSphere CSI components deployment config in the VMware user cluster.",
      "id": "VmwareStorageConfig",
      "properties": {
        "vsphereCsiDisabled": {
          "description": "Whether or not to deploy vSphere CSI components in the VMware user cluster. Enabled by default.",
          "type": "boolean"
        }
      }
    },
    "BareMetalAdminVipConfig": {
      "properties": {
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal admin cluster."
        }
      },
      "type": "object",
      "description": "BareMetalAdminVipConfig for bare metal load balancer configurations.",
      "id": "BareMetalAdminVipConfig"
    },
    "VmwareClusterUpgradePolicy": {
      "id": "VmwareClusterUpgradePolicy",
      "properties": {
        "controlPlaneOnly": {
          "description": "Controls whether the upgrade applies to the control plane only.",
          "type": "boolean"
        }
      },
      "description": "VmwareClusterUpgradePolicy defines the cluster upgrade policy.",
      "type": "object"
    },
    "VmwareAdminCluster": {
      "description": "Resource that represents a VMware admin cluster.",
      "type": "object",
      "id": "VmwareAdminCluster",
      "properties": {
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the VMware admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object"
        },
        "loadBalancer": {
          "description": "The VMware admin cluster load balancer configuration.",
          "$ref": "VmwareAdminLoadBalancerConfig"
        },
        "authorization": {
          "description": "The VMware admin cluster authorization configuration.",
          "$ref": "VmwareAdminAuthorizationConfig"
        },
        "proxy": {
          "$ref": "VmwareAdminProxy",
          "description": "Configuration for proxy."
        },
        "description": {
          "description": "A human readable description of this VMware admin cluster.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which VMware admin cluster was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "autoRepairConfig": {
          "$ref": "VmwareAutoRepairConfig",
          "description": "The VMware admin cluster auto repair configuration."
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "description": "Output only. The current state of VMware admin cluster.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "bootstrapClusterMembership": {
          "description": "The bootstrap cluster this VMware admin cluster belongs to.",
          "type": "string"
        },
        "fleet": {
          "readOnly": true,
          "description": "Output only. Fleet configuration for the cluster.",
          "$ref": "Fleet"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "imageType": {
          "description": "The OS image type for the VMware admin cluster.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which VMware admin cluster was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "addonNode": {
          "$ref": "VmwareAdminAddonNodeConfig",
          "description": "The VMware admin cluster addon node configuration."
        },
        "networkConfig": {
          "description": "The VMware admin cluster network configuration.",
          "$ref": "VmwareAdminNetworkConfig"
        },
        "name": {
          "description": "Immutable. The VMware admin cluster resource name.",
          "type": "string"
        },
        "antiAffinityGroups": {
          "$ref": "VmwareAAGConfig",
          "description": "The VMware admin cluster anti affinity group configuration."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the VMware admin cluster."
        },
        "onPremVersion": {
          "description": "The Anthos clusters on the VMware version for the admin cluster.",
          "type": "string"
        },
        "vcenter": {
          "description": "The VMware admin cluster VCenter configuration.",
          "$ref": "VmwareAdminVCenterConfig"
        },
        "endpoint": {
          "description": "Output only. The DNS name of VMware admin cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "enableAdvancedCluster": {
          "description": "Enable advanced cluster.",
          "type": "boolean"
        },
        "preparedSecrets": {
          "description": "Output only. The VMware admin cluster prepared secrets configuration. It should always be enabled by the Central API, instead of letting users set it.",
          "$ref": "VmwareAdminPreparedSecretsConfig",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. The unique identifier of the VMware admin cluster.",
          "type": "string",
          "readOnly": true
        },
        "validationCheck": {
          "description": "Output only. ValidationCheck represents the result of the preflight check job.",
          "readOnly": true,
          "$ref": "ValidationCheck"
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing detailed cluster state."
        },
        "localName": {
          "description": "Output only. The object name of the VMware OnPremAdminCluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "readOnly": true,
          "type": "string"
        },
        "privateRegistryConfig": {
          "$ref": "VmwareAdminPrivateRegistryConfig",
          "description": "Configuration for registry."
        },
        "platformConfig": {
          "$ref": "VmwarePlatformConfig",
          "description": "The VMware platform configuration."
        },
        "controlPlaneNode": {
          "$ref": "VmwareAdminControlPlaneNodeConfig",
          "description": "The VMware admin cluster control plane node configuration."
        }
      }
    },
    "OperationStage": {
      "id": "OperationStage",
      "description": "Information about a particular stage of an operation.",
      "properties": {
        "startTime": {
          "description": "Time the stage started.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the stage.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The stage is pending.",
            "The stage is running",
            "The stage has completed successfully.",
            "The stage has failed."
          ]
        },
        "stage": {
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "PREFLIGHT_CHECK",
            "CONFIGURE",
            "DEPLOY",
            "HEALTH_CHECK",
            "UPDATE"
          ],
          "description": "The high-level stage of the operation.",
          "enumDescriptions": [
            "Not set.",
            "Preflight checks are running.",
            "Resource is being configured.",
            "Resource is being deployed.",
            "Waiting for the resource to become healthy.",
            "Resource is being updated."
          ]
        },
        "endTime": {
          "description": "Time the stage ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "metrics": {
          "description": "Progress metric bundle.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BareMetalAdminOsEnvironmentConfig": {
      "properties": {
        "packageRepoExcluded": {
          "description": "Whether the package repo should be added when initializing bare metal machines.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Specifies operating system operation settings for cluster provisioning.",
      "id": "BareMetalAdminOsEnvironmentConfig"
    },
    "BareMetalCluster": {
      "id": "BareMetalCluster",
      "properties": {
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Binary Authorization related configurations."
        },
        "proxy": {
          "$ref": "BareMetalProxyConfig",
          "description": "Proxy configuration."
        },
        "endpoint": {
          "readOnly": true,
          "description": "Output only. The IP address of the bare metal user cluster's API server.",
          "type": "string"
        },
        "maintenanceConfig": {
          "$ref": "BareMetalMaintenanceConfig",
          "description": "Maintenance configuration."
        },
        "securityConfig": {
          "$ref": "BareMetalSecurityConfig",
          "description": "Security related setting configuration."
        },
        "loadBalancer": {
          "$ref": "BareMetalLoadBalancerConfig",
          "description": "Required. Load balancer configuration."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the bare metal user cluster."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The bare metal user cluster resource name."
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the bare metal user cluster was deleted. If the resource is not deleted, this must be empty"
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the bare metal user cluster.",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "osEnvironmentConfig": {
          "description": "OS environment related configurations.",
          "$ref": "BareMetalOsEnvironmentConfig"
        },
        "fleet": {
          "$ref": "Fleet",
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true
        },
        "nodeAccessConfig": {
          "description": "Node access related configurations.",
          "$ref": "BareMetalNodeAccessConfig"
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalWorkloadNodeConfig"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "updateTime": {
          "description": "Output only. The time when the bare metal user cluster was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "validationCheck": {
          "readOnly": true,
          "description": "Output only. The result of the preflight check.",
          "$ref": "ValidationCheck"
        },
        "maintenanceStatus": {
          "readOnly": true,
          "$ref": "BareMetalMaintenanceStatus",
          "description": "Output only. Status of on-going maintenance tasks."
        },
        "bareMetalVersion": {
          "type": "string",
          "description": "Required. The Anthos clusters on bare metal version for your user cluster."
        },
        "localName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The object name of the bare metal user cluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the name in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. When the local name and cluster name differ, the local name is used in the admin cluster controller logs. You use the cluster name when accessing the cluster using bmctl and kubectl."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the bare metal user cluster.",
          "type": "string"
        },
        "networkConfig": {
          "description": "Required. Network configuration.",
          "$ref": "BareMetalNetworkConfig"
        },
        "storage": {
          "description": "Required. Storage configuration.",
          "$ref": "BareMetalStorageConfig"
        },
        "status": {
          "description": "Output only. Detailed cluster status.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the bare metal user cluster was created."
        },
        "localNamespace": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The namespace of the cluster."
        },
        "annotations": {
          "type": "object",
          "description": "Annotations on the bare metal user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "controlPlane": {
          "$ref": "BareMetalControlPlaneConfig",
          "description": "Required. Control plane configuration."
        },
        "upgradePolicy": {
          "description": "The cluster upgrade policy.",
          "$ref": "BareMetalClusterUpgradePolicy"
        },
        "adminClusterName": {
          "description": "Output only. The resource name of the bare metal admin cluster managing this user cluster.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "A human readable description of this bare metal user cluster.",
          "type": "string"
        },
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalClusterOperationsConfig"
        }
      },
      "description": "Resource that represents a bare metal user cluster.",
      "type": "object"
    },
    "ListVmwareAdminClustersResponse": {
      "id": "ListVmwareAdminClustersResponse",
      "description": "Response message for listing VMware admin clusters.",
      "type": "object",
      "properties": {
        "vmwareAdminClusters": {
          "type": "array",
          "description": "The list of VMware admin cluster.",
          "items": {
            "$ref": "VmwareAdminCluster"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        }
      }
    },
    "BareMetalDrainingMachine": {
      "id": "BareMetalDrainingMachine",
      "type": "object",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Draining machine IP address."
        },
        "podCount": {
          "type": "integer",
          "description": "The count of pods yet to drain.",
          "format": "int32"
        }
      },
      "description": "Represents a machine that is currently draining."
    },
    "BareMetalClusterOperationsConfig": {
      "type": "object",
      "id": "BareMetalClusterOperationsConfig",
      "properties": {
        "enableApplicationLogs": {
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics).",
          "type": "boolean"
        }
      },
      "description": "Specifies the bare metal user cluster's observability infrastructure."
    },
    "EnrollBareMetalAdminClusterRequest": {
      "type": "object",
      "properties": {
        "bareMetalAdminClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
        },
        "membership": {
          "description": "Required. This is the full resource name of this admin cluster's fleet membership.",
          "type": "string"
        }
      },
      "id": "EnrollBareMetalAdminClusterRequest",
      "description": "Message for enrolling an existing bare metal admin cluster to the GKE on-prem API."
    },
    "BareMetalAdminIslandModeCidrConfig": {
      "type": "object",
      "description": "BareMetalAdminIslandModeCidrConfig specifies the cluster CIDR configuration while running in island mode.",
      "properties": {
        "podAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array"
        },
        "serviceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation."
        }
      },
      "id": "BareMetalAdminIslandModeCidrConfig"
    },
    "ListBareMetalClustersResponse": {
      "id": "ListBareMetalClustersResponse",
      "description": "Response message for listing bare metal Clusters.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "bareMetalClusters": {
          "type": "array",
          "items": {
            "$ref": "BareMetalCluster"
          },
          "description": "The list of bare metal Clusters."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListVmwareNodePoolsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "vmwareNodePools": {
          "items": {
            "$ref": "VmwareNodePool"
          },
          "type": "array",
          "description": "The node pools from the specified parent resource."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for listing VMware node pools.",
      "type": "object",
      "id": "ListVmwareNodePoolsResponse"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "Fleet": {
      "id": "Fleet",
      "type": "object",
      "properties": {
        "membership": {
          "readOnly": true,
          "description": "Output only. The name of the managed fleet Membership resource associated to this cluster. Membership names are formatted as `projects//locations//memberships/`.",
          "type": "string"
        }
      },
      "description": "Fleet related configuration. Fleets are a Google Cloud concept for logically organizing clusters, letting you use and manage multi-cluster capabilities and apply consistent policies across your systems. See [Anthos Fleets](`https://cloud.google.com/anthos/multicluster-management/fleets`) for more details on Anthos multi-cluster capabilities using Fleets. ##"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "BareMetalControlPlaneConfig": {
      "description": "Specifies the control plane configuration.",
      "properties": {
        "controlPlaneNodePoolConfig": {
          "$ref": "BareMetalControlPlaneNodePoolConfig",
          "description": "Required. Configures the node pool running the control plane."
        },
        "apiServerArgs": {
          "type": "array",
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
          "items": {
            "$ref": "BareMetalApiServerArgument"
          }
        }
      },
      "id": "BareMetalControlPlaneConfig",
      "type": "object"
    },
    "BareMetalAdminProxyConfig": {
      "description": "BareMetalAdminProxyConfig specifies the cluster proxy configuration.",
      "type": "object",
      "id": "BareMetalAdminProxyConfig",
      "properties": {
        "noProxy": {
          "type": "array",
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string",
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` WARNING: Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server."
        }
      }
    },
    "VmwareNodeConfig": {
      "type": "object",
      "properties": {
        "memoryMb": {
          "format": "int64",
          "type": "string",
          "description": "The megabytes of memory for each node in the node pool."
        },
        "replicas": {
          "type": "string",
          "format": "int64",
          "description": "The number of nodes in the node pool."
        },
        "vsphereConfig": {
          "$ref": "VmwareVsphereConfig",
          "description": "Specifies the vSphere config for node pool."
        },
        "taints": {
          "type": "array",
          "description": "The initial taints assigned to nodes of this node pool.",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "cpus": {
          "format": "int64",
          "type": "string",
          "description": "The number of CPUs for each node in the node pool."
        },
        "bootDiskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "VMware disk size to be used during creation."
        },
        "imageType": {
          "description": "Required. The OS image to be used for each node in a node pool. Currently `cos`, `cos_cgv2`, `ubuntu`, `ubuntu_cgv2`, `ubuntu_containerd` and `windows` are supported.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/"
        },
        "image": {
          "description": "The OS image name in vCenter, only valid when using Windows.",
          "type": "string"
        },
        "enableLoadBalancer": {
          "description": "Allow node pool traffic to be load balanced. Only works for clusters with MetalLB load balancers.",
          "type": "boolean"
        }
      },
      "description": "Parameters that describe the configuration of all nodes within a given node pool.",
      "id": "VmwareNodeConfig"
    },
    "BareMetalSecurityConfig": {
      "id": "BareMetalSecurityConfig",
      "properties": {
        "authorization": {
          "description": "Configures user access to the user cluster.",
          "$ref": "Authorization"
        }
      },
      "type": "object",
      "description": "Specifies the security related settings for the bare metal user cluster."
    },
    "BareMetalAdminApiServerArgument": {
      "description": "BareMetalAdminApiServerArgument represents an arg name->value pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
      "id": "BareMetalAdminApiServerArgument",
      "properties": {
        "argument": {
          "type": "string",
          "description": "Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes."
        },
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "QueryVmwareVersionConfigResponse": {
      "description": "Response message for querying VMware user cluster version config.",
      "properties": {
        "versions": {
          "type": "array",
          "description": "List of available versions to install or to upgrade to.",
          "items": {
            "$ref": "VmwareVersionInfo"
          }
        }
      },
      "id": "QueryVmwareVersionConfigResponse",
      "type": "object"
    },
    "BareMetalAdminManualLbConfig": {
      "description": "BareMetalAdminManualLbConfig represents configuration parameters for a manual load balancer.",
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "BareMetalAdminManualLbConfig"
    },
    "VmwareDataplaneV2Config": {
      "properties": {
        "dataplaneV2Enabled": {
          "description": "Enables Dataplane V2.",
          "type": "boolean"
        },
        "windowsDataplaneV2Enabled": {
          "type": "boolean",
          "description": "Enable Dataplane V2 for clusters with Windows nodes."
        },
        "forwardMode": {
          "description": "Configure ForwardMode for Dataplane v2.",
          "type": "string"
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enable advanced networking which requires dataplane_v2_enabled to be set true."
        }
      },
      "description": "Contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2",
      "id": "VmwareDataplaneV2Config",
      "type": "object"
    },
    "VmwareNetworkConfig": {
      "description": "Specifies network config for the VMware user cluster.",
      "properties": {
        "controlPlaneV2Config": {
          "$ref": "VmwareControlPlaneV2Config",
          "description": "Configuration for control plane V2 mode."
        },
        "vcenterNetwork": {
          "description": "vcenter_network specifies vCenter network name. Inherited from the admin cluster.",
          "type": "string"
        },
        "serviceAddressCidrBlocks": {
          "type": "array",
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          }
        },
        "podAddressCidrBlocks": {
          "type": "array",
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          }
        },
        "staticIpConfig": {
          "$ref": "VmwareStaticIpConfig",
          "description": "Configuration settings for a static IP configuration."
        },
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        },
        "dhcpIpConfig": {
          "$ref": "VmwareDhcpIpConfig",
          "description": "Configuration settings for a DHCP IP configuration."
        }
      },
      "id": "VmwareNetworkConfig",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "BareMetalMaintenanceConfig": {
      "description": "Specifies configurations to put bare metal nodes in and out of maintenance.",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "type": "array",
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BareMetalMaintenanceConfig",
      "type": "object"
    },
    "VmwareAdminVipConfig": {
      "description": "VmwareAdminVipConfig for VMware load balancer configurations.",
      "id": "VmwareAdminVipConfig",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of the admin cluster.",
          "type": "string"
        },
        "addonsVip": {
          "description": "The VIP to configure the load balancer for add-ons.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VmwareIpBlock": {
      "description": "Represents a collection of IP addresses to assign to nodes.",
      "type": "object",
      "properties": {
        "netmask": {
          "description": "The netmask used by the VMware user cluster.",
          "type": "string"
        },
        "ips": {
          "items": {
            "$ref": "VmwareHostIp"
          },
          "type": "array",
          "description": "The node's network configurations used by the VMware user cluster."
        },
        "gateway": {
          "type": "string",
          "description": "The network gateway used by the VMware user cluster."
        }
      },
      "id": "VmwareIpBlock"
    },
    "VmwareBundleConfig": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the bundle."
        },
        "status": {
          "description": "Output only. Resource status for the bundle.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        }
      },
      "id": "VmwareBundleConfig",
      "description": "VmwareBundleConfig represents configuration for the bundle."
    },
    "BareMetalAdminDrainingMachine": {
      "type": "object",
      "description": "BareMetalAdminDrainingMachine represents the machines that are currently draining.",
      "properties": {
        "podCount": {
          "type": "integer",
          "description": "The count of pods yet to drain.",
          "format": "int32"
        },
        "nodeIp": {
          "description": "Draining machine IP address.",
          "type": "string"
        }
      },
      "id": "BareMetalAdminDrainingMachine"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OperationProgress": {
      "properties": {
        "stages": {
          "items": {
            "$ref": "OperationStage"
          },
          "description": "The stages of the operation.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "OperationProgress",
      "description": "Information about operation progress."
    },
    "BareMetalClusterUpgradePolicy": {
      "description": "BareMetalClusterUpgradePolicy defines the cluster upgrade policy.",
      "properties": {
        "policy": {
          "description": "Specifies which upgrade policy to use.",
          "enumDescriptions": [
            "No upgrade policy selected.",
            "Upgrade worker node pools sequentially.",
            "Upgrade all worker node pools in parallel."
          ],
          "enum": [
            "NODE_POOL_POLICY_UNSPECIFIED",
            "SERIAL",
            "CONCURRENT"
          ],
          "type": "string"
        },
        "pause": {
          "description": "Output only. Pause is used to show the upgrade pause status. It's view only for now.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "BareMetalClusterUpgradePolicy"
    },
    "VmwareAutoRepairConfig": {
      "type": "object",
      "id": "VmwareAutoRepairConfig",
      "description": "Specifies config to enable/disable auto repair. The cluster-health-controller is deployed only if Enabled is true.",
      "properties": {
        "enabled": {
          "description": "Whether auto repair is enabled.",
          "type": "boolean"
        }
      }
    },
    "VmwareHostIp": {
      "type": "object",
      "id": "VmwareHostIp",
      "properties": {
        "ip": {
          "description": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0/24).",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Hostname of the machine. VM's name will be used if this field is empty."
        }
      },
      "description": "Represents VMware user cluster node's network configuration."
    },
    "EnrollVmwareClusterRequest": {
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Validate the request without actually doing any updates."
        },
        "vmwareClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        },
        "localName": {
          "description": "Optional. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the vmware_cluster_id. Otherwise, it must match the object name of the VMware OnPremUserCluster custom resource. It is not modifiable outside / beyond the enrollment operation.",
          "type": "string"
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
        }
      },
      "description": "Message for enrolling an existing VMware cluster to the Anthos On-Prem API.",
      "id": "EnrollVmwareClusterRequest",
      "type": "object"
    },
    "QueryBareMetalAdminVersionConfigResponse": {
      "id": "QueryBareMetalAdminVersionConfigResponse",
      "type": "object",
      "description": "Response message for querying bare metal admin cluster version config.",
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "BareMetalVersionInfo"
          },
          "description": "List of available versions to install or to upgrade to."
        }
      }
    },
    "BareMetalPortConfig": {
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "format": "int32",
          "description": "The port that control plane hosted load balancers will listen on.",
          "type": "integer"
        }
      },
      "description": "Specifies load balancer ports for the bare metal user cluster.",
      "id": "BareMetalPortConfig",
      "type": "object"
    },
    "VmwareAdminF5BigIpConfig": {
      "properties": {
        "partition": {
          "type": "string",
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'."
        },
        "snatPool": {
          "type": "string",
          "description": "The pool name. Only necessary, if using SNAT."
        },
        "address": {
          "type": "string",
          "description": "The load balancer's IP address."
        }
      },
      "id": "VmwareAdminF5BigIpConfig",
      "type": "object",
      "description": "VmwareAdminF5BigIpConfig represents configuration parameters for an F5 BIG-IP load balancer."
    },
    "BareMetalMetalLbConfig": {
      "properties": {
        "addressPools": {
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array"
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running the load balancer. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used as the load balancer pool.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      },
      "id": "BareMetalMetalLbConfig",
      "description": "Represents configuration parameters for a MetalLB load balancer.",
      "type": "object"
    },
    "ListBareMetalAdminClustersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        },
        "bareMetalAdminClusters": {
          "items": {
            "$ref": "BareMetalAdminCluster"
          },
          "description": "The list of bare metal admin cluster.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for listing bare metal admin clusters.",
      "id": "ListBareMetalAdminClustersResponse"
    },
    "VmwareAdminNetworkConfig": {
      "properties": {
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        },
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        },
        "vcenterNetwork": {
          "description": "vcenter_network specifies vCenter network name.",
          "type": "string"
        },
        "haControlPlaneConfig": {
          "$ref": "VmwareAdminHAControlPlaneConfig",
          "description": "Configuration for HA admin cluster control plane."
        },
        "podAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
        },
        "staticIpConfig": {
          "$ref": "VmwareStaticIpConfig",
          "description": "Configuration settings for a static IP configuration."
        }
      },
      "id": "VmwareAdminNetworkConfig",
      "type": "object",
      "description": "VmwareAdminNetworkConfig contains network configuration for VMware admin cluster."
    },
    "BareMetalNodePoolConfig": {
      "id": "BareMetalNodePoolConfig",
      "description": "BareMetalNodePoolConfig describes the configuration of all nodes within a given bare metal node pool.",
      "properties": {
        "operatingSystem": {
          "enum": [
            "OPERATING_SYSTEM_UNSPECIFIED",
            "LINUX"
          ],
          "enumDescriptions": [
            "No operating system runtime selected.",
            "Linux operating system."
          ],
          "description": "Specifies the nodes operating system (default: LINUX).",
          "type": "string"
        },
        "taints": {
          "items": {
            "$ref": "NodeTaint"
          },
          "description": "The initial taints assigned to nodes of this node pool.",
          "type": "array"
        },
        "nodeConfigs": {
          "type": "array",
          "items": {
            "$ref": "BareMetalNodeConfig"
          },
          "description": "Required. The list of machine addresses in the bare metal node pool."
        },
        "kubeletConfig": {
          "description": "The modifiable kubelet configurations for the bare metal machines.",
          "$ref": "BareMetalKubeletConfig"
        },
        "labels": {
          "type": "object",
          "description": "The labels assigned to nodes of this node pool. An object containing a list of key/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ResourceStatus": {
      "properties": {
        "versions": {
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "$ref": "Versions"
        },
        "conditions": {
          "description": "ResourceCondition provide a standard mechanism for higher-level status reporting from controller.",
          "items": {
            "$ref": "ResourceCondition"
          },
          "type": "array"
        },
        "errorMessage": {
          "type": "string",
          "description": "Human-friendly representation of the error message from controller. The error message can be temporary as the controller controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention."
        },
        "version": {
          "type": "string",
          "description": "Reflect current version of the resource."
        }
      },
      "id": "ResourceStatus",
      "description": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED).",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "VmwareLoadBalancerConfig": {
      "type": "object",
      "id": "VmwareLoadBalancerConfig",
      "properties": {
        "seesawConfig": {
          "readOnly": true,
          "description": "Output only. Configuration for Seesaw typed load balancers.",
          "$ref": "VmwareSeesawConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareManualLbConfig"
        },
        "metalLbConfig": {
          "description": "Configuration for MetalLB typed load balancers.",
          "$ref": "VmwareMetalLbConfig"
        },
        "f5Config": {
          "$ref": "VmwareF5BigIpConfig",
          "description": "Configuration for F5 Big IP typed load balancers."
        },
        "vipConfig": {
          "$ref": "VmwareVipConfig",
          "description": "The VIPs used by the load balancer."
        }
      },
      "description": "Specifies the locad balancer config for the VMware user cluster."
    },
    "Versions": {
      "description": "Versions describes the mapping of a given version to the number of machines under this version.",
      "properties": {
        "versions": {
          "type": "array",
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "items": {
            "$ref": "Version"
          }
        }
      },
      "id": "Versions",
      "type": "object"
    },
    "VmwareAddressPool": {
      "description": "Represents an IP pool used by the load balancer.",
      "id": "VmwareAddressPool",
      "type": "object",
      "properties": {
        "addresses": {
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pool": {
          "type": "string",
          "description": "Required. The name of the address pool."
        },
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        }
      }
    },
    "BareMetalStorageConfig": {
      "type": "object",
      "properties": {
        "lvpShareConfig": {
          "$ref": "BareMetalLvpShareConfig",
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation."
        },
        "lvpNodeMountsConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.",
          "$ref": "BareMetalLvpConfig"
        }
      },
      "id": "BareMetalStorageConfig",
      "description": "BareMetalStorageConfig specifies the cluster storage configuration."
    },
    "VmwareNodePool": {
      "description": "Resource VmwareNodePool represents a VMware node pool. ##",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name for the node pool."
        },
        "nodePoolAutoscaling": {
          "$ref": "VmwareNodePoolAutoscalingConfig",
          "description": "Node pool autoscaling config for the node pool."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of this node pool."
        },
        "updateTime": {
          "description": "Output only. The time at which this node pool was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing the detailed VMware node pool state."
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. The time at which this node pool was deleted. If the resource is not deleted, this must be empty",
          "format": "google-datetime",
          "type": "string"
        },
        "onPremVersion": {
          "description": "Anthos version for the node pool. Defaults to the user cluster version.",
          "type": "string"
        },
        "config": {
          "$ref": "VmwareNodeConfig",
          "description": "Required. The node configuration of the node pool."
        },
        "uid": {
          "description": "Output only. The unique identifier of the node pool.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations on the node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the node pool.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which this node pool was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted",
            "The ERROR state indicates the node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the node pool requires user action to restore full functionality."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of the node pool."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        }
      },
      "type": "object",
      "id": "VmwareNodePool"
    },
    "VmwareVsphereConfig": {
      "type": "object",
      "id": "VmwareVsphereConfig",
      "properties": {
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore. Inherited from the user cluster."
        },
        "tags": {
          "items": {
            "$ref": "VmwareVsphereTag"
          },
          "description": "Tags to apply to VMs.",
          "type": "array"
        },
        "hostGroups": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Vsphere host groups to apply to all VMs in the node pool"
        }
      },
      "description": "VmwareVsphereConfig represents configuration for the VMware VCenter for node pool."
    },
    "ListVmwareClustersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vmwareClusters": {
          "items": {
            "$ref": "VmwareCluster"
          },
          "description": "The list of VMware Cluster.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListVmwareClustersResponse",
      "description": "Response message for listing VMware Clusters."
    },
    "VmwareAdminControlPlaneNodeConfig": {
      "description": "VmwareAdminControlPlaneNodeConfig contains control plane node configuration for VMware admin cluster.",
      "properties": {
        "replicas": {
          "type": "string",
          "description": "The number of control plane nodes for this VMware admin cluster. (default: 1 replica).",
          "format": "int64"
        },
        "memory": {
          "type": "string",
          "description": "The number of mebibytes of memory for the control-plane node of the admin cluster.",
          "format": "int64"
        },
        "cpus": {
          "format": "int64",
          "description": "The number of vCPUs for the control-plane node of the admin cluster.",
          "type": "string"
        }
      },
      "id": "VmwareAdminControlPlaneNodeConfig",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "ValidationCheckResult": {
      "description": "ValidationCheckResult defines the details about the validation check.",
      "properties": {
        "description": {
          "description": "The description of the validation check.",
          "type": "string"
        },
        "category": {
          "description": "The category of the validation.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "A human-readable message of the check failure."
        },
        "details": {
          "type": "string",
          "description": "Detailed failure information, which might be unformatted."
        },
        "state": {
          "enumDescriptions": [
            "The default value. The check result is unknown.",
            "The check failed.",
            "The check was skipped.",
            "The check itself failed to complete.",
            "The check encountered a warning."
          ],
          "type": "string",
          "enum": [
            "STATE_UNKNOWN",
            "STATE_FAILURE",
            "STATE_SKIPPED",
            "STATE_FATAL",
            "STATE_WARNING"
          ],
          "description": "The validation check state."
        }
      },
      "type": "object",
      "id": "ValidationCheckResult"
    },
    "ResourceCondition": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Human-readable message indicating details about last transition."
        },
        "lastTransitionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last time the condition transit from one status to another."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Resource is in the condition.",
            "Resource is not in the condition.",
            "Kubernetes controller can't decide if the resource is in the condition or not."
          ],
          "description": "state of the condition.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TRUE",
            "STATE_FALSE",
            "STATE_UNKNOWN"
          ]
        },
        "reason": {
          "description": "Machine-readable message indicating details about last transition.",
          "type": "string"
        },
        "type": {
          "description": "Type of the condition. (e.g., ClusterRunning, NodePoolRunning or ServerSidePreflightReady)",
          "type": "string"
        }
      },
      "description": "ResourceCondition provides a standard mechanism for higher-level status reporting from controller.",
      "id": "ResourceCondition",
      "type": "object"
    },
    "VmwareVipConfig": {
      "properties": {
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this cluster.",
          "type": "string"
        },
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this cluster."
        }
      },
      "type": "object",
      "description": "Specifies the VIP config for the VMware user cluster load balancer.",
      "id": "VmwareVipConfig"
    },
    "BareMetalManualLbConfig": {
      "id": "BareMetalManualLbConfig",
      "type": "object",
      "description": "Represents configuration parameters for a manual load balancer.",
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      }
    },
    "BareMetalAdminDrainedMachine": {
      "type": "object",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Drained machine IP address."
        }
      },
      "description": "BareMetalAdminDrainedMachine represents the machines that are drained.",
      "id": "BareMetalAdminDrainedMachine"
    },
    "BareMetalAdminMaintenanceStatus": {
      "id": "BareMetalAdminMaintenanceStatus",
      "description": "BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes.",
      "type": "object",
      "properties": {
        "machineDrainStatus": {
          "description": "Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade.",
          "$ref": "BareMetalAdminMachineDrainStatus"
        }
      }
    },
    "EnrollVmwareAdminClusterRequest": {
      "properties": {
        "vmwareAdminClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        },
        "membership": {
          "type": "string",
          "description": "Required. This is the full resource name of this admin cluster's fleet membership."
        }
      },
      "description": "Message for enrolling an existing VMware admin cluster to the GKE on-prem API.",
      "id": "EnrollVmwareAdminClusterRequest",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "BareMetalAdminPortConfig": {
      "id": "BareMetalAdminPortConfig",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "description": "The port that control plane hosted load balancers will listen on.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "BareMetalAdminPortConfig is the specification of load balancer ports."
    },
    "BareMetalNodePoolUpgradePolicy": {
      "type": "object",
      "description": "BareMetalNodePoolUpgradePolicy defines the node pool upgrade policy.",
      "properties": {
        "parallelUpgradeConfig": {
          "$ref": "BareMetalParallelUpgradeConfig",
          "description": "The parallel upgrade settings for worker node pools."
        }
      },
      "id": "BareMetalNodePoolUpgradePolicy"
    },
    "BareMetalSrIovConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to install the SR-IOV operator."
        }
      },
      "description": "Specifies the SR-IOV networking operator config.",
      "id": "BareMetalSrIovConfig",
      "type": "object"
    },
    "BareMetalNodeAccessConfig": {
      "id": "BareMetalNodeAccessConfig",
      "description": "Specifies the node access related settings for the bare metal user cluster.",
      "properties": {
        "loginUser": {
          "type": "string",
          "description": "LoginUser is the user name used to access node machines. It defaults to \"root\" if not set."
        }
      },
      "type": "object"
    },
    "VmwareControlPlaneV2Config": {
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      },
      "id": "VmwareControlPlaneV2Config",
      "type": "object",
      "description": "Specifies control plane V2 config."
    },
    "VmwareF5BigIpConfig": {
      "id": "VmwareF5BigIpConfig",
      "type": "object",
      "properties": {
        "snatPool": {
          "description": "The pool name. Only necessary, if using SNAT.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The load balancer's IP address."
        },
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        }
      },
      "description": "Represents configuration parameters for an F5 BIG-IP load balancer."
    },
    "VmwareMetalLbConfig": {
      "description": "Represents configuration parameters for the MetalLB load balancer.",
      "id": "VmwareMetalLbConfig",
      "properties": {
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "items": {
            "$ref": "VmwareAddressPool"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BareMetalAdminBgpLbConfig": {
      "type": "object",
      "description": "BareMetalAdminBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.",
      "id": "BareMetalAdminBgpLbConfig",
      "properties": {
        "loadBalancerNodePoolConfig": {
          "$ref": "BareMetalAdminLoadBalancerNodePoolConfig",
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing."
        },
        "asn": {
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation.",
          "format": "int64",
          "type": "string"
        },
        "bgpPeerConfigs": {
          "type": "array",
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation.",
          "items": {
            "$ref": "BareMetalAdminBgpPeerConfig"
          }
        },
        "addressPools": {
          "items": {
            "$ref": "BareMetalAdminLoadBalancerAddressPool"
          },
          "type": "array",
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
        }
      }
    },
    "BareMetalAdminBgpPeerConfig": {
      "id": "BareMetalAdminBgpPeerConfig",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Required. The IP address of the external peer device."
        },
        "controlPlaneNodes": {
          "type": "array",
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions.",
          "items": {
            "type": "string"
          }
        },
        "asn": {
          "format": "int64",
          "type": "string",
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device."
        }
      },
      "type": "object",
      "description": "BareMetalAdminBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer."
    },
    "BareMetalControlPlaneNodePoolConfig": {
      "properties": {
        "nodePoolConfig": {
          "description": "Required. The generic configuration for a node pool running the control plane.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "id": "BareMetalControlPlaneNodePoolConfig",
      "description": "Specifies the control plane node pool configuration.",
      "type": "object"
    },
    "BareMetalVipConfig": {
      "description": "Specifies the VIP config for the bare metal load balancer.",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal user cluster.",
          "type": "string"
        },
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this bare metal user cluster.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BareMetalVipConfig"
    },
    "BareMetalBgpLbConfig": {
      "type": "object",
      "properties": {
        "asn": {
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation.",
          "format": "int64",
          "type": "string"
        },
        "addressPools": {
          "type": "array",
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          }
        },
        "bgpPeerConfigs": {
          "type": "array",
          "items": {
            "$ref": "BareMetalBgpPeerConfig"
          },
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation."
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      },
      "id": "BareMetalBgpLbConfig",
      "description": "BareMetalBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer."
    },
    "VmwarePlatformConfig": {
      "id": "VmwarePlatformConfig",
      "description": "VmwarePlatformConfig represents configuration for the VMware platform.",
      "properties": {
        "bundles": {
          "items": {
            "$ref": "VmwareBundleConfig"
          },
          "description": "Output only. The list of bundles installed in the admin cluster.",
          "readOnly": true,
          "type": "array"
        },
        "status": {
          "$ref": "ResourceStatus",
          "description": "Output only. Resource status for the platform.",
          "readOnly": true
        },
        "requiredPlatformVersion": {
          "description": "Input only. The required platform version e.g. 1.13.1. If the current platform version is lower than the target version, the platform version will be updated to the target version. If the target version is not installed in the platform (bundle versions), download the target version bundle.",
          "type": "string"
        },
        "platformVersion": {
          "description": "Output only. The platform version e.g. 1.13.2.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "BareMetalLoadBalancerAddressPool": {
      "description": "Represents an IP pool used by the load balancer.",
      "id": "BareMetalLoadBalancerAddressPool",
      "properties": {
        "manualAssign": {
          "type": "boolean",
          "description": "If true, prevent IP addresses from being automatically assigned."
        },
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        },
        "addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5)."
        }
      },
      "type": "object"
    },
    "BareMetalKubeletConfig": {
      "id": "BareMetalKubeletConfig",
      "type": "object",
      "properties": {
        "serializeImagePullsDisabled": {
          "description": "Prevents the Kubelet from pulling multiple images at a time. We recommend *not* changing the default value on nodes that run docker daemon with version < 1.9 or an Another Union File System (Aufs) storage backend. Issue https://github.com/kubernetes/kubernetes/issues/10959 has more details.",
          "type": "boolean"
        },
        "registryPullQps": {
          "description": "The limit of registry pulls per second. Setting this value to 0 means no limit. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 5.",
          "format": "int32",
          "type": "integer"
        },
        "registryBurst": {
          "format": "int32",
          "description": "The maximum size of bursty pulls, temporarily allows pulls to burst to this number, while still not exceeding registry_pull_qps. The value must not be a negative number. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 10.",
          "type": "integer"
        }
      },
      "description": "KubeletConfig defines the modifiable kubelet configurations for bare metal machines. Note: this list includes fields supported in GKE (see https://cloud.google.com/kubernetes-engine/docs/how-to/node-system-config#kubelet-options)."
    },
    "ListBareMetalNodePoolsResponse": {
      "id": "ListBareMetalNodePoolsResponse",
      "type": "object",
      "description": "Response message for listing bare metal node pools.",
      "properties": {
        "nextPageToken": {
          "type": "string",
[...]
