{
  "protocol": "rest",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    }
  },
  "baseUrl": "https://gkeonprem.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "",
  "documentationLink": "https://cloud.google.com/anthos/clusters/docs/on-prem/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "schemas": {
    "BareMetalAdminSecurityConfig": {
      "id": "BareMetalAdminSecurityConfig",
      "properties": {
        "authorization": {
          "description": "Configures user access to the admin cluster.",
          "$ref": "Authorization"
        }
      },
      "description": "Specifies the security related settings for the bare metal admin cluster.",
      "type": "object"
    },
    "VmwareAdminManualLbConfig": {
      "id": "VmwareAdminManualLbConfig",
      "properties": {
        "ingressHttpsNodePort": {
          "format": "int32",
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "type": "integer"
        },
        "controlPlaneNodePort": {
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968).",
          "type": "integer",
          "format": "int32"
        },
        "konnectivityServerNodePort": {
          "format": "int32",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564).",
          "type": "integer"
        },
        "addonsNodePort": {
          "format": "int32",
          "description": "NodePort for add-ons server in the admin cluster.",
          "type": "integer"
        },
        "ingressHttpNodePort": {
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "VmwareAdminAuthorizationConfig": {
      "description": "VmwareAdminAuthorizationConfig represents configuration for admin cluster authorization.",
      "type": "object",
      "id": "VmwareAdminAuthorizationConfig",
      "properties": {
        "viewerUsers": {
          "description": "For VMware admin clusters, users will be granted the cluster-viewer role on the cluster.",
          "type": "array",
          "items": {
            "$ref": "ClusterUser"
          }
        }
      }
    },
    "Authorization": {
      "id": "Authorization",
      "properties": {
        "adminUsers": {
          "description": "For VMware and bare metal user clusters, users will be granted the cluster-admin role on the cluster, which provides full administrative access to the cluster. For bare metal admin clusters, users will be granted the cluster-view role, which limits users to read-only access.",
          "type": "array",
          "items": {
            "$ref": "ClusterUser"
          }
        }
      },
      "description": "Authorization defines the On-Prem cluster authorization configuration to bootstrap onto the admin cluster.",
      "type": "object"
    },
    "BareMetalSrIovConfig": {
      "id": "BareMetalSrIovConfig",
      "properties": {
        "enabled": {
          "description": "Whether to install the SR-IOV operator.",
          "type": "boolean"
        }
      },
      "description": "Specifies the SR-IOV networking operator config.",
      "type": "object"
    },
    "VmwareAdminSeesawConfig": {
      "id": "VmwareAdminSeesawConfig",
      "properties": {
        "vms": {
          "items": {
            "type": "string"
          },
          "description": "Names of the VMs created for this Seesaw group.",
          "type": "array"
        },
        "stackdriverName": {
          "description": "Name to be used by Stackdriver.",
          "type": "string"
        },
        "ipBlocks": {
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "description": "The IP Blocks to be used by the Seesaw load balancer",
          "type": "array"
        },
        "enableHa": {
          "description": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer.",
          "type": "boolean"
        },
        "group": {
          "description": "In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name].",
          "type": "string"
        },
        "masterIp": {
          "description": "MasterIP is the IP announced by the master of Seesaw group.",
          "type": "string"
        }
      },
      "description": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'.",
      "type": "object"
    },
    "BareMetalAdminNetworkConfig": {
      "id": "BareMetalAdminNetworkConfig",
      "properties": {
        "advancedNetworking": {
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag.",
          "type": "boolean"
        },
        "multipleNetworkInterfacesConfig": {
          "description": "Configuration for multiple network interfaces.",
          "$ref": "BareMetalAdminMultipleNetworkInterfacesConfig"
        },
        "islandModeCidr": {
          "description": "Configuration for Island mode CIDR.",
          "$ref": "BareMetalAdminIslandModeCidrConfig"
        }
      },
      "description": "BareMetalAdminNetworkConfig specifies the cluster network configuration.",
      "type": "object"
    },
    "EnrollBareMetalClusterRequest": {
      "id": "EnrollBareMetalClusterRequest",
      "properties": {
        "localNamespace": {
          "description": "Optional. The namespace of the cluster.",
          "type": "string"
        },
        "bareMetalClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all bare metal clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        },
        "localName": {
          "description": "Optional. The object name of the bare metal cluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the bare_metal_cluster_id. Otherwise, it must match the object name of the bare metal cluster custom resource. It is not modifiable outside / beyond the enrollment operation.",
          "type": "string"
        }
      },
      "description": "Message for enrolling an existing bare metal cluster to the Anthos On-Prem API.",
      "type": "object"
    },
    "ValidationCheckResult": {
      "id": "ValidationCheckResult",
      "properties": {
        "description": {
          "description": "The description of the validation check.",
          "type": "string"
        },
        "details": {
          "description": "Detailed failure information, which might be unformatted.",
          "type": "string"
        },
        "category": {
          "description": "The category of the validation.",
          "type": "string"
        },
        "reason": {
          "description": "A human-readable message of the check failure.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value. The check result is unknown.",
            "The check failed.",
            "The check was skipped.",
            "The check itself failed to complete.",
            "The check encountered a warning."
          ],
          "description": "The validation check state.",
          "type": "string",
          "enum": [
            "STATE_UNKNOWN",
            "STATE_FAILURE",
            "STATE_SKIPPED",
            "STATE_FATAL",
            "STATE_WARNING"
          ]
        }
      },
      "description": "ValidationCheckResult defines the details about the validation check.",
      "type": "object"
    },
    "ValidationCheck": {
      "description": "ValidationCheck represents the result of preflight check.",
      "type": "object",
      "id": "ValidationCheck",
      "properties": {
        "status": {
          "description": "Output only. The detailed validation check status.",
          "readOnly": true,
          "$ref": "ValidationCheckStatus"
        },
        "scenario": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The validation check occurred during a create flow.",
            "The validation check occurred during an update flow."
          ],
          "description": "Output only. The scenario when the preflight checks were run.",
          "enum": [
            "SCENARIO_UNSPECIFIED",
            "CREATE",
            "UPDATE"
          ]
        },
        "option": {
          "enumDescriptions": [
            "Default value. Standard preflight validation check will be used.",
            "Prevent failed preflight checks from failing.",
            "Skip all preflight check validations."
          ],
          "description": "Options used for the validation check",
          "type": "string",
          "enum": [
            "OPTIONS_UNSPECIFIED",
            "SKIP_VALIDATION_CHECK_BLOCKING",
            "SKIP_VALIDATION_ALL"
          ]
        }
      }
    },
    "VmwareAutoRepairConfig": {
      "description": "Specifies config to enable/disable auto repair. The cluster-health-controller is deployed only if Enabled is true.",
      "type": "object",
      "id": "VmwareAutoRepairConfig",
      "properties": {
        "enabled": {
          "description": "Whether auto repair is enabled.",
          "type": "boolean"
        }
      }
    },
    "ListVmwareNodePoolsResponse": {
      "description": "Response message for listing VMware node pools.",
      "type": "object",
      "id": "ListVmwareNodePoolsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "vmwareNodePools": {
          "items": {
            "$ref": "VmwareNodePool"
          },
          "description": "The node pools from the specified parent resource.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmwareHostIp": {
      "id": "VmwareHostIp",
      "properties": {
        "hostname": {
          "description": "Hostname of the machine. VM's name will be used if this field is empty.",
          "type": "string"
        },
        "ip": {
          "description": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0/24).",
          "type": "string"
        }
      },
      "description": "Represents VMware user cluster node's network configuration.",
      "type": "object"
    },
    "BareMetalDrainedMachine": {
      "description": "Represents a machine that is currently drained.",
      "type": "object",
      "id": "BareMetalDrainedMachine",
      "properties": {
        "nodeIp": {
          "description": "Drained machine IP address.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminLoadBalancerAddressPool": {
      "description": "Represents an IP pool used by the load balancer.",
      "type": "object",
      "id": "BareMetalAdminLoadBalancerAddressPool",
      "properties": {
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        },
        "addresses": {
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array"
        },
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminBgpLbConfig": {
      "id": "BareMetalAdminBgpLbConfig",
      "properties": {
        "bgpPeerConfigs": {
          "items": {
            "$ref": "BareMetalAdminBgpPeerConfig"
          },
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation.",
          "type": "array"
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing.",
          "$ref": "BareMetalAdminLoadBalancerNodePoolConfig"
        },
        "asn": {
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation.",
          "type": "string",
          "format": "int64"
        },
        "addressPools": {
          "items": {
            "$ref": "BareMetalAdminLoadBalancerAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array"
        }
      },
      "description": "BareMetalAdminBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.",
      "type": "object"
    },
    "VmwareAdminCluster": {
      "description": "Resource that represents a VMware admin cluster.",
      "type": "object",
      "id": "VmwareAdminCluster",
      "properties": {
        "description": {
          "description": "A human readable description of this VMware admin cluster.",
          "type": "string"
        },
        "platformConfig": {
          "description": "The VMware platform configuration.",
          "$ref": "VmwarePlatformConfig"
        },
        "autoRepairConfig": {
          "description": "The VMware admin cluster auto repair configuration.",
          "$ref": "VmwareAutoRepairConfig"
        },
        "localName": {
          "description": "Output only. The object name of the VMware OnPremAdminCluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which VMware admin cluster was last updated.",
          "type": "string",
          "readOnly": true
        },
        "proxy": {
          "description": "Configuration for proxy.",
          "$ref": "VmwareAdminProxy"
        },
        "onPremVersion": {
          "description": "The Anthos clusters on the VMware version for the admin cluster.",
          "type": "string"
        },
        "networkConfig": {
          "description": "The VMware admin cluster network configuration.",
          "$ref": "VmwareAdminNetworkConfig"
        },
        "addonNode": {
          "description": "The VMware admin cluster addon node configuration.",
          "$ref": "VmwareAdminAddonNodeConfig"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the VMware admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object"
        },
        "status": {
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which VMware admin cluster was created.",
          "type": "string",
          "readOnly": true
        },
        "antiAffinityGroups": {
          "description": "The VMware admin cluster anti affinity group configuration.",
          "$ref": "VmwareAAGConfig"
        },
        "bootstrapClusterMembership": {
          "description": "The bootstrap cluster this VMware admin cluster belongs to.",
          "type": "string"
        },
        "validationCheck": {
          "readOnly": true,
          "description": "Output only. ValidationCheck represents the result of the preflight check job.",
          "$ref": "ValidationCheck"
        },
        "privateRegistryConfig": {
          "description": "Configuration for registry.",
          "$ref": "VmwareAdminPrivateRegistryConfig"
        },
        "imageType": {
          "description": "The OS image type for the VMware admin cluster.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the VMware admin cluster.",
          "type": "boolean",
          "readOnly": true
        },
        "endpoint": {
          "readOnly": true,
          "description": "Output only. The DNS name of VMware admin cluster's API server.",
          "type": "string"
        },
        "fleet": {
          "$ref": "Fleet",
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. The unique identifier of the VMware admin cluster.",
          "type": "string",
          "readOnly": true
        },
        "authorization": {
          "description": "The VMware admin cluster authorization configuration.",
          "$ref": "VmwareAdminAuthorizationConfig"
        },
        "enableAdvancedCluster": {
          "description": "Enable advanced cluster.",
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of VMware admin cluster."
        },
        "vcenter": {
          "description": "The VMware admin cluster VCenter configuration.",
          "$ref": "VmwareAdminVCenterConfig"
        },
        "loadBalancer": {
          "description": "The VMware admin cluster load balancer configuration.",
          "$ref": "VmwareAdminLoadBalancerConfig"
        },
        "controlPlaneNode": {
          "description": "The VMware admin cluster control plane node configuration.",
          "$ref": "VmwareAdminControlPlaneNodeConfig"
        },
        "name": {
          "description": "Immutable. The VMware admin cluster resource name.",
          "type": "string"
        },
        "preparedSecrets": {
          "$ref": "VmwareAdminPreparedSecretsConfig",
          "readOnly": true,
          "description": "Output only. The VMware admin cluster prepared secrets configuration. It should always be enabled by the Central API, instead of letting users set it."
        }
      }
    },
    "BareMetalAdminManualLbConfig": {
      "description": "BareMetalAdminManualLbConfig represents configuration parameters for a manual load balancer.",
      "type": "object",
      "id": "BareMetalAdminManualLbConfig",
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      }
    },
    "NodeTaint": {
      "description": "NodeTaint applied to every Kubernetes node in a node pool. Kubernetes taints can be used together with tolerations to control how workloads are scheduled to your nodes. Node taints are permanent.",
      "type": "object",
      "id": "NodeTaint",
      "properties": {
        "key": {
          "description": "Key associated with the effect.",
          "type": "string"
        },
        "value": {
          "description": "Value associated with the effect.",
          "type": "string"
        },
        "effect": {
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "description": "The taint effect.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Do not allow new pods to schedule onto the node unless they tolerate the taint, but allow all pods submitted to Kubelet without going through the scheduler to start, and allow all already-running pods to continue running. Enforced by the scheduler.",
            "Like TaintEffectNoSchedule, but the scheduler tries not to schedule new pods onto the node, rather than prohibiting new pods from scheduling onto the node entirely. Enforced by the scheduler.",
            "Evict any already-running pods that do not tolerate the taint. Currently enforced by NodeController."
          ]
        }
      }
    },
    "BareMetalLoadBalancerAddressPool": {
      "id": "BareMetalLoadBalancerAddressPool",
      "properties": {
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        },
        "addresses": {
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        }
      },
      "description": "Represents an IP pool used by the load balancer.",
      "type": "object"
    },
    "EnrollBareMetalAdminClusterRequest": {
      "id": "EnrollBareMetalAdminClusterRequest",
      "properties": {
        "membership": {
          "description": "Required. This is the full resource name of this admin cluster's fleet membership.",
          "type": "string"
        },
        "bareMetalAdminClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        }
      },
      "description": "Message for enrolling an existing bare metal admin cluster to the GKE on-prem API.",
      "type": "object"
    },
    "BareMetalAdminProxyConfig": {
      "description": "BareMetalAdminProxyConfig specifies the cluster proxy configuration.",
      "type": "object",
      "id": "BareMetalAdminProxyConfig",
      "properties": {
        "uri": {
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` WARNING: Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server.",
          "type": "string"
        },
        "noProxy": {
          "items": {
            "type": "string"
          },
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "type": "array"
        }
      }
    },
    "BareMetalAdminMultipleNetworkInterfacesConfig": {
      "id": "BareMetalAdminMultipleNetworkInterfacesConfig",
      "properties": {
        "enabled": {
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true.",
          "type": "boolean"
        }
      },
      "description": "Specifies the multiple networking interfaces cluster configuration.",
      "type": "object"
    },
    "BareMetalAdminDrainingMachine": {
      "description": "BareMetalAdminDrainingMachine represents the machines that are currently draining.",
      "type": "object",
      "id": "BareMetalAdminDrainingMachine",
      "properties": {
        "nodeIp": {
          "description": "Draining machine IP address.",
          "type": "string"
        },
        "podCount": {
          "description": "The count of pods yet to drain.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "QueryBareMetalAdminVersionConfigResponse": {
      "description": "Response message for querying bare metal admin cluster version config.",
      "type": "object",
      "id": "QueryBareMetalAdminVersionConfigResponse",
      "properties": {
        "versions": {
          "items": {
            "$ref": "BareMetalVersionInfo"
          },
          "description": "List of available versions to install or to upgrade to.",
          "type": "array"
        }
      }
    },
    "BareMetalMaintenanceStatus": {
      "id": "BareMetalMaintenanceStatus",
      "properties": {
        "machineDrainStatus": {
          "description": "The maintenance status of node machines.",
          "$ref": "BareMetalMachineDrainStatus"
        }
      },
      "description": "Represents the maintenance status of the bare metal user cluster.",
      "type": "object"
    },
    "VmwareMetalLbConfig": {
      "id": "VmwareMetalLbConfig",
      "properties": {
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array",
          "items": {
            "$ref": "VmwareAddressPool"
          }
        }
      },
      "description": "Represents configuration parameters for the MetalLB load balancer.",
      "type": "object"
    },
    "BareMetalOsEnvironmentConfig": {
      "description": "Specifies operating system settings for cluster provisioning.",
      "type": "object",
      "id": "BareMetalOsEnvironmentConfig",
      "properties": {
        "packageRepoExcluded": {
          "description": "Whether the package repo should not be included when initializing bare metal machines.",
          "type": "boolean"
        }
      }
    },
    "VmwareCluster": {
      "id": "VmwareCluster",
      "properties": {
        "validationCheck": {
          "description": "Output only. ValidationCheck represents the result of the preflight check job.",
          "readOnly": true,
          "$ref": "ValidationCheck"
        },
        "storage": {
          "description": "Storage configuration.",
          "$ref": "VmwareStorageConfig"
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        },
        "loadBalancer": {
          "description": "Load balancer configuration.",
          "$ref": "VmwareLoadBalancerConfig"
        },
        "vcenter": {
          "description": "VmwareVCenterConfig specifies vCenter config for the user cluster. If unspecified, it is inherited from the admin cluster.",
          "$ref": "VmwareVCenterConfig"
        },
        "controlPlaneNode": {
          "description": "VMware user cluster control plane nodes must have either 1 or 3 replicas.",
          "$ref": "VmwareControlPlaneNodeConfig"
        },
        "binaryAuthorization": {
          "description": "Binary Authorization related configurations.",
          "$ref": "BinaryAuthorization"
        },
        "name": {
          "description": "Immutable. The VMware user cluster resource name.",
          "type": "string"
        },
        "vmTrackingEnabled": {
          "description": "Enable VM tracking.",
          "type": "boolean"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the VMware user cluster.",
          "type": "boolean"
        },
        "endpoint": {
          "description": "Output only. The DNS name of VMware user cluster's API server.",
          "type": "string",
          "readOnly": true
        },
        "fleet": {
          "$ref": "Fleet",
          "readOnly": true,
          "description": "Output only. Fleet configuration for the cluster."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of VMware user cluster.",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the VMware user cluster.",
          "type": "string",
          "readOnly": true
        },
        "authorization": {
          "description": "RBAC policy that will be applied and managed by the Anthos On-Prem API.",
          "$ref": "Authorization"
        },
        "enableAdvancedCluster": {
          "description": "Enable advanced cluster.",
          "type": "boolean"
        },
        "onPremVersion": {
          "description": "Required. The Anthos clusters on the VMware version for your user cluster.",
          "type": "string"
        },
        "networkConfig": {
          "description": "The VMware user cluster network configuration.",
          "$ref": "VmwareNetworkConfig"
        },
        "enableControlPlaneV2": {
          "description": "Enable control plane V2. Default to false.",
          "type": "boolean"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the VMware user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object"
        },
        "autoRepairConfig": {
          "description": "Configuration for auto repairing.",
          "$ref": "VmwareAutoRepairConfig"
        },
        "description": {
          "description": "A human readable description of this VMware user cluster.",
          "type": "string"
        },
        "localName": {
          "description": "Output only. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "disableBundledIngress": {
          "description": "Disable bundled ingress.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. The time at which VMware user cluster was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which VMware user cluster was deleted.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "createTime": {
          "description": "Output only. The time at which VMware user cluster was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "antiAffinityGroups": {
          "description": "AAGConfig specifies whether to spread VMware user cluster nodes across at least three physical hosts in the datacenter.",
          "$ref": "VmwareAAGConfig"
        },
        "adminClusterName": {
          "description": "Output only. The resource name of the VMware admin cluster hosting this user cluster.",
          "type": "string",
          "readOnly": true
        },
        "dataplaneV2": {
          "description": "VmwareDataplaneV2Config specifies configuration for Dataplane V2.",
          "$ref": "VmwareDataplaneV2Config"
        },
        "upgradePolicy": {
          "description": "Specifies upgrade policy for the cluster.",
          "$ref": "VmwareClusterUpgradePolicy"
        }
      },
      "description": "Resource that represents a VMware user cluster. ##",
      "type": "object"
    },
    "VmwareIpBlock": {
      "description": "Represents a collection of IP addresses to assign to nodes.",
      "type": "object",
      "id": "VmwareIpBlock",
      "properties": {
        "ips": {
          "description": "The node's network configurations used by the VMware user cluster.",
          "type": "array",
          "items": {
            "$ref": "VmwareHostIp"
          }
        },
        "gateway": {
          "description": "The network gateway used by the VMware user cluster.",
          "type": "string"
        },
        "netmask": {
          "description": "The netmask used by the VMware user cluster.",
          "type": "string"
        }
      }
    },
    "BareMetalNodeAccessConfig": {
      "id": "BareMetalNodeAccessConfig",
      "properties": {
        "loginUser": {
          "description": "LoginUser is the user name used to access node machines. It defaults to \"root\" if not set.",
          "type": "string"
        }
      },
      "description": "Specifies the node access related settings for the bare metal user cluster.",
      "type": "object"
    },
    "VmwareStaticIpConfig": {
      "description": "Represents the network configuration required for the VMware user clusters with Static IP configurations.",
      "type": "object",
      "id": "VmwareStaticIpConfig",
      "properties": {
        "ipBlocks": {
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "description": "Represents the configuration values for static IP allocation to nodes.",
          "type": "array"
        }
      }
    },
    "VmwareVCenterConfig": {
      "id": "VmwareVCenterConfig",
      "properties": {
        "datastore": {
          "description": "The name of the vCenter datastore for the user cluster.",
          "type": "string"
        },
        "cluster": {
          "description": "The name of the vCenter cluster for the user cluster.",
          "type": "string"
        },
        "caCertData": {
          "description": "Contains the vCenter CA certificate public key for SSL verification.",
          "type": "string"
        },
        "datacenter": {
          "description": "The name of the vCenter datacenter for the user cluster.",
          "type": "string"
        },
        "folder": {
          "description": "The name of the vCenter folder for the user cluster.",
          "type": "string"
        },
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the user cluster.",
          "type": "string"
        },
        "address": {
          "description": "Output only. The vCenter IP address.",
          "type": "string",
          "readOnly": true
        },
        "storagePolicyName": {
          "description": "The name of the vCenter storage policy for the user cluster.",
          "type": "string"
        }
      },
      "description": "Represents configuration for the VMware VCenter for the user cluster.",
      "type": "object"
    },
    "VmwareLoadBalancerConfig": {
      "id": "VmwareLoadBalancerConfig",
      "properties": {
        "metalLbConfig": {
          "description": "Configuration for MetalLB typed load balancers.",
          "$ref": "VmwareMetalLbConfig"
        },
        "seesawConfig": {
          "$ref": "VmwareSeesawConfig",
          "readOnly": true,
          "description": "Output only. Configuration for Seesaw typed load balancers."
        },
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareF5BigIpConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareManualLbConfig"
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareVipConfig"
        }
      },
      "description": "Specifies the locad balancer config for the VMware user cluster.",
      "type": "object"
    },
    "BareMetalControlPlaneNodePoolConfig": {
      "description": "Specifies the control plane node pool configuration.",
      "type": "object",
      "id": "BareMetalControlPlaneNodePoolConfig",
      "properties": {
        "nodePoolConfig": {
          "description": "Required. The generic configuration for a node pool running the control plane.",
          "$ref": "BareMetalNodePoolConfig"
        }
      }
    },
    "VmwareAdminPrivateRegistryConfig": {
      "description": "VmwareAdminPrivateRegistryConfig represents configuration for admin cluster registry.",
      "type": "object",
      "id": "VmwareAdminPrivateRegistryConfig",
      "properties": {
        "caCert": {
          "description": "When the container runtime pulls an image from private registry, the registry must prove its identity by presenting a certificate. The registry's certificate is signed by a certificate authority (CA). The container runtime uses the CA's certificate to validate the registry's certificate.",
          "type": "string"
        },
        "address": {
          "description": "The registry address.",
          "type": "string"
        }
      }
    },
    "BareMetalWorkloadNodeConfig": {
      "id": "BareMetalWorkloadNodeConfig",
      "properties": {
        "maxPodsPerNode": {
          "format": "int64",
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter.",
          "type": "string"
        },
        "containerRuntime": {
          "enum": [
            "CONTAINER_RUNTIME_UNSPECIFIED",
            "CONTAINERD"
          ],
          "description": "Specifies which container runtime will be used.",
          "type": "string",
          "enumDescriptions": [
            "No container runtime selected.",
            "Containerd runtime."
          ]
        }
      },
      "description": "Specifies the workload node configurations.",
      "type": "object"
    },
    "BareMetalControlPlaneConfig": {
      "id": "BareMetalControlPlaneConfig",
      "properties": {
        "controlPlaneNodePoolConfig": {
          "description": "Required. Configures the node pool running the control plane.",
          "$ref": "BareMetalControlPlaneNodePoolConfig"
        },
        "apiServerArgs": {
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
          "type": "array",
          "items": {
            "$ref": "BareMetalApiServerArgument"
          }
        }
      },
      "description": "Specifies the control plane configuration.",
      "type": "object"
    },
    "VmwarePlatformConfig": {
      "description": "VmwarePlatformConfig represents configuration for the VMware platform.",
      "type": "object",
      "id": "VmwarePlatformConfig",
      "properties": {
        "requiredPlatformVersion": {
          "description": "Input only. The required platform version e.g. 1.13.1. If the current platform version is lower than the target version, the platform version will be updated to the target version. If the target version is not installed in the platform (bundle versions), download the target version bundle.",
          "type": "string"
        },
        "platformVersion": {
          "description": "Output only. The platform version e.g. 1.13.2.",
          "type": "string",
          "readOnly": true
        },
        "bundles": {
          "description": "Output only. The list of bundles installed in the admin cluster.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "VmwareBundleConfig"
          }
        },
        "status": {
          "$ref": "ResourceStatus",
          "readOnly": true,
          "description": "Output only. Resource status for the platform."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "VmwareAdminProxy": {
      "id": "VmwareAdminProxy",
      "properties": {
        "url": {
          "description": "The HTTP address of proxy server.",
          "type": "string"
        },
        "noProxy": {
          "description": "A comma-separated list of IP addresses, IP address ranges, host names, and domain names that should not go through the proxy server. When Google Distributed Cloud sends a request to one of these addresses, hosts, or domains, the request is sent directly.",
          "type": "string"
        }
      },
      "description": "VmwareAdminProxy represents configuration for admin cluster proxy.",
      "type": "object"
    },
    "BareMetalAdminControlPlaneNodePoolConfig": {
      "description": "BareMetalAdminControlPlaneNodePoolConfig specifies the control plane node pool configuration. We have a control plane specific node pool config so that we can flexible about supporting control plane specific fields in the future.",
      "type": "object",
      "id": "BareMetalAdminControlPlaneNodePoolConfig",
      "properties": {
        "nodePoolConfig": {
          "description": "Required. The generic configuration for a node pool running the control plane.",
          "$ref": "BareMetalNodePoolConfig"
        }
      }
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        }
      }
    },
    "VmwareVipConfig": {
      "description": "Specifies the VIP config for the VMware user cluster load balancer.",
      "type": "object",
      "id": "VmwareVipConfig",
      "properties": {
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this cluster.",
          "type": "string"
        },
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this cluster.",
          "type": "string"
        }
      }
    },
    "VmwareAdminVCenterConfig": {
      "id": "VmwareAdminVCenterConfig",
      "properties": {
        "datacenter": {
          "description": "The name of the vCenter datacenter for the admin cluster.",
          "type": "string"
        },
        "folder": {
          "description": "The name of the vCenter folder for the admin cluster.",
          "type": "string"
        },
        "dataDisk": {
          "description": "The name of the virtual machine disk (VMDK) for the admin cluster.",
          "type": "string"
        },
        "storagePolicyName": {
          "description": "The name of the vCenter storage policy for the user cluster.",
          "type": "string"
        },
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the admin cluster.",
          "type": "string"
        },
        "address": {
          "description": "The vCenter IP address.",
          "type": "string"
        },
        "cluster": {
          "description": "The name of the vCenter cluster for the admin cluster.",
          "type": "string"
        },
        "caCertData": {
          "description": "Contains the vCenter CA certificate public key for SSL verification.",
          "type": "string"
        },
        "datastore": {
          "description": "The name of the vCenter datastore for the admin cluster.",
          "type": "string"
        }
      },
      "description": "VmwareAdminVCenterConfig contains VCenter configuration for VMware admin cluster.",
      "type": "object"
    },
    "BinaryAuthorization": {
      "description": "Configuration for Binary Authorization.",
      "type": "object",
      "id": "BinaryAuthorization",
      "properties": {
        "evaluationMode": {
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ],
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy."
          ]
        }
      }
    },
    "VmwareControlPlaneNodeConfig": {
      "id": "VmwareControlPlaneNodeConfig",
      "properties": {
        "vsphereConfig": {
          "description": "Vsphere-specific config.",
          "$ref": "VmwareControlPlaneVsphereConfig"
        },
        "replicas": {
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica).",
          "type": "string",
          "format": "int64"
        },
        "autoResizeConfig": {
          "description": "AutoResizeConfig provides auto resizing configurations.",
          "$ref": "VmwareAutoResizeConfig"
        },
        "memory": {
          "format": "int64",
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory).",
          "type": "string"
        },
        "cpus": {
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Specifies control plane node config for the VMware user cluster.",
      "type": "object"
    },
    "VmwareAdminF5BigIpConfig": {
      "id": "VmwareAdminF5BigIpConfig",
      "properties": {
        "address": {
          "description": "The load balancer's IP address.",
          "type": "string"
        },
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        },
        "snatPool": {
          "description": "The pool name. Only necessary, if using SNAT.",
          "type": "string"
        }
      },
      "description": "VmwareAdminF5BigIpConfig represents configuration parameters for an F5 BIG-IP load balancer.",
      "type": "object"
    },
    "VmwareAdminAddonNodeConfig": {
      "description": "VmwareAdminAddonNodeConfig contains add-on node configurations for VMware admin cluster.",
      "type": "object",
      "id": "VmwareAdminAddonNodeConfig",
      "properties": {
        "autoResizeConfig": {
          "description": "VmwareAutoResizeConfig config specifies auto resize config.",
          "$ref": "VmwareAutoResizeConfig"
        }
      }
    },
    "VmwareAdminVipConfig": {
      "description": "VmwareAdminVipConfig for VMware load balancer configurations.",
      "type": "object",
      "id": "VmwareAdminVipConfig",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of the admin cluster.",
          "type": "string"
        },
        "addonsVip": {
          "description": "The VIP to configure the load balancer for add-ons.",
          "type": "string"
        }
      }
    },
    "VmwareAdminPreparedSecretsConfig": {
      "description": "VmwareAdminPreparedSecretsConfig represents configuration for admin cluster prepared secrets.",
      "type": "object",
      "id": "VmwareAdminPreparedSecretsConfig",
      "properties": {
        "enabled": {
          "description": "Whether prepared secrets is enabled.",
          "type": "boolean"
        }
      }
    },
    "EnrollVmwareNodePoolRequest": {
      "id": "EnrollVmwareNodePoolRequest",
      "properties": {
        "vmwareNodePoolId": {
          "description": "The target node pool id to be enrolled.",
          "type": "string"
        }
      },
      "description": "Message for enrolling a VMware node pool.",
      "type": "object"
    },
    "BareMetalKubeletConfig": {
      "id": "BareMetalKubeletConfig",
      "properties": {
        "serializeImagePullsDisabled": {
          "description": "Prevents the Kubelet from pulling multiple images at a time. We recommend *not* changing the default value on nodes that run docker daemon with version < 1.9 or an Another Union File System (Aufs) storage backend. Issue https://github.com/kubernetes/kubernetes/issues/10959 has more details.",
          "type": "boolean"
        },
        "registryPullQps": {
          "description": "The limit of registry pulls per second. Setting this value to 0 means no limit. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 5.",
          "type": "integer",
          "format": "int32"
        },
        "registryBurst": {
          "format": "int32",
          "description": "The maximum size of bursty pulls, temporarily allows pulls to burst to this number, while still not exceeding registry_pull_qps. The value must not be a negative number. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 10.",
          "type": "integer"
        }
      },
      "description": "KubeletConfig defines the modifiable kubelet configurations for bare metal machines. Note: this list includes fields supported in GKE (see https://cloud.google.com/kubernetes-engine/docs/how-to/node-system-config#kubelet-options).",
      "type": "object"
    },
    "BareMetalLoadBalancerNodePoolConfig": {
      "id": "BareMetalLoadBalancerNodePoolConfig",
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running a load balancer.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "description": "Specifies the load balancer's node pool configuration.",
      "type": "object"
    },
    "BareMetalAdminControlPlaneConfig": {
      "id": "BareMetalAdminControlPlaneConfig",
      "properties": {
        "controlPlaneNodePoolConfig": {
          "description": "Required. Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster.",
          "$ref": "BareMetalAdminControlPlaneNodePoolConfig"
        },
        "apiServerArgs": {
          "items": {
            "$ref": "BareMetalAdminApiServerArgument"
          },
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
          "type": "array"
        }
      },
      "description": "BareMetalAdminControlPlaneConfig specifies the control plane configuration.",
      "type": "object"
    },
    "QueryVmwareVersionConfigResponse": {
      "description": "Response message for querying VMware user cluster version config.",
      "type": "object",
      "id": "QueryVmwareVersionConfigResponse",
      "properties": {
        "versions": {
          "description": "List of available versions to install or to upgrade to.",
          "type": "array",
          "items": {
            "$ref": "VmwareVersionInfo"
          }
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        }
      }
    },
    "BareMetalApiServerArgument": {
      "id": "BareMetalApiServerArgument",
      "properties": {
        "argument": {
          "description": "Required. The argument name as it appears on the API Server command line, make sure to remove the leading dashes.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        }
      },
      "description": "Represents an arg name->value pair. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
      "type": "object"
    },
    "BareMetalNodeConfig": {
      "description": "BareMetalNodeConfig lists machine addresses to access Nodes.",
      "type": "object",
      "id": "BareMetalNodeConfig",
      "properties": {
        "labels": {
          "description": "The labels assigned to this node. An object containing a list of key/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "nodeIp": {
          "description": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1",
          "type": "string"
        }
      }
    },
    "BareMetalAdminApiServerArgument": {
      "id": "BareMetalAdminApiServerArgument",
      "properties": {
        "argument": {
          "description": "Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        }
      },
      "description": "BareMetalAdminApiServerArgument represents an arg name->value pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
      "type": "object"
    },
    "VmwareHostConfig": {
      "id": "VmwareHostConfig",
      "properties": {
        "ntpServers": {
          "items": {
            "type": "string"
          },
          "description": "NTP servers.",
          "type": "array"
        },
        "dnsServers": {
          "description": "DNS servers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsSearchDomains": {
          "description": "DNS search domains.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents the common parameters for all the hosts irrespective of their IP address.",
      "type": "object"
    },
    "BareMetalDrainingMachine": {
      "id": "BareMetalDrainingMachine",
      "properties": {
        "podCount": {
          "format": "int32",
          "description": "The count of pods yet to drain.",
          "type": "integer"
        },
        "nodeIp": {
          "description": "Draining machine IP address.",
          "type": "string"
        }
      },
      "description": "Represents a machine that is currently draining.",
      "type": "object"
    },
    "OperationStage": {
      "id": "OperationStage",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Progress metric bundle.",
          "type": "array"
        },
        "stage": {
          "enum": [
            "STAGE_UNSPECIFIED",
            "PREFLIGHT_CHECK",
            "CONFIGURE",
            "DEPLOY",
            "HEALTH_CHECK",
            "UPDATE"
          ],
          "description": "The high-level stage of the operation.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Preflight checks are running.",
            "Resource is being configured.",
            "Resource is being deployed.",
            "Waiting for the resource to become healthy.",
            "Resource is being updated."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the stage started.",
          "type": "string"
        },
        "endTime": {
          "description": "Time the stage ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The stage is pending.",
            "The stage is running",
            "The stage has completed successfully.",
            "The stage has failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. State of the stage."
        }
      },
      "description": "Information about a particular stage of an operation.",
      "type": "object"
    },
    "ResourceCondition": {
      "description": "ResourceCondition provides a standard mechanism for higher-level status reporting from controller.",
      "type": "object",
      "id": "ResourceCondition",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TRUE",
            "STATE_FALSE",
            "STATE_UNKNOWN"
          ],
          "description": "state of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Resource is in the condition.",
            "Resource is not in the condition.",
            "Kubernetes controller can't decide if the resource is in the condition or not."
          ]
        },
        "reason": {
          "description": "Machine-readable message indicating details about last transition.",
          "type": "string"
        },
        "type": {
          "description": "Type of the condition. (e.g., ClusterRunning, NodePoolRunning or ServerSidePreflightReady)",
          "type": "string"
        },
        "message": {
          "description": "Human-readable message indicating details about last transition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "format": "google-datetime",
          "description": "Last time the condition transit from one status to another.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminMaintenanceStatus": {
      "description": "BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes.",
      "type": "object",
      "id": "BareMetalAdminMaintenanceStatus",
      "properties": {
        "machineDrainStatus": {
          "description": "Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade.",
          "$ref": "BareMetalAdminMachineDrainStatus"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "EnrollVmwareAdminClusterRequest": {
      "id": "EnrollVmwareAdminClusterRequest",
      "properties": {
        "vmwareAdminClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        },
        "membership": {
          "description": "Required. This is the full resource name of this admin cluster's fleet membership.",
          "type": "string"
        }
      },
      "description": "Message for enrolling an existing VMware admin cluster to the GKE on-prem API.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "UpgradeDependency": {
      "id": "UpgradeDependency",
      "properties": {
        "currentVersion": {
          "description": "Current version of the dependency e.g. 1.15.0.",
          "type": "string"
        },
        "membership": {
          "description": "Membership names are formatted as `projects//locations//memberships/`.",
          "type": "string"
        },
        "targetVersion": {
          "description": "Target version of the dependency e.g. 1.16.1. This is the version the dependency needs to be upgraded to before a resource can be upgraded.",
          "type": "string"
        },
        "resourceName": {
          "description": "Resource name of the dependency.",
          "type": "string"
        }
      },
      "description": "UpgradeDependency represents a dependency when upgrading a resource.",
      "type": "object"
    },
    "Versions": {
      "description": "Versions describes the mapping of a given version to the number of machines under this version.",
      "type": "object",
      "id": "Versions",
      "properties": {
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "description": "Shows the mapping of a given version to the number of machines under this version.",
          "type": "array"
        }
      }
    },
    "BareMetalManualLbConfig": {
      "description": "Represents configuration parameters for a manual load balancer.",
      "type": "object",
      "id": "BareMetalManualLbConfig",
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      }
    },
    "BareMetalLvpShareConfig": {
      "id": "BareMetalLvpShareConfig",
      "properties": {
        "sharedPathPvCount": {
          "format": "int32",
          "description": "The number of subdirectories to create under path.",
          "type": "integer"
        },
        "lvpConfig": {
          "description": "Required. Defines the machine path and storage class for the LVP Share.",
          "$ref": "BareMetalLvpConfig"
        }
      },
      "description": "Specifies the configs for local persistent volumes under a shared file system.",
      "type": "object"
    },
    "BareMetalAdminStorageConfig": {
      "id": "BareMetalAdminStorageConfig",
      "properties": {
        "lvpNodeMountsConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.",
          "$ref": "BareMetalLvpConfig"
        },
        "lvpShareConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation.",
          "$ref": "BareMetalLvpShareConfig"
        }
      },
      "description": "BareMetalAdminStorageConfig specifies the cluster storage configuration.",
      "type": "object"
    },
    "EnrollBareMetalNodePoolRequest": {
      "id": "EnrollBareMetalNodePoolRequest",
      "properties": {
        "validateOnly": {
          "description": "If set, only validate the request, but do not actually enroll the node pool.",
          "type": "boolean"
        },
        "bareMetalNodePoolId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        }
      },
      "description": "Message for enrolling an existing bare metal node pool to the GKE on-prem API.",
      "type": "object"
    },
    "VmwareVersionInfo": {
      "id": "VmwareVersionInfo",
      "properties": {
        "isInstalled": {
          "description": "If set, the version is installed in the admin cluster. Otherwise, the version bundle must be downloaded and installed before a user cluster can be created at or upgraded to this version.",
          "type": "boolean"
        },
        "version": {
          "description": "Version number e.g. 1.13.1-gke.1000.",
          "type": "string"
        },
        "dependencies": {
          "description": "The list of upgrade dependencies for this version.",
          "type": "array",
          "items": {
            "$ref": "UpgradeDependency"
          }
        },
        "hasDependencies": {
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster) must be upgraded before this version can be installed or upgraded to.",
          "type": "boolean"
        }
      },
      "description": "Contains information about a specific Anthos on VMware version.",
      "type": "object"
    },
    "BareMetalAdminCluster": {
      "description": "Resource that represents a bare metal admin cluster.",
      "type": "object",
      "id": "BareMetalAdminCluster",
      "properties": {
        "endpoint": {
          "description": "Output only. The IP address name of bare metal admin cluster's API server.",
          "type": "string",
          "readOnly": true
        },
        "fleet": {
          "readOnly": true,
          "description": "Output only. Fleet configuration for the cluster.",
          "$ref": "Fleet"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of the bare metal admin cluster."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the bare metal admin cluster.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the bare metal Admin Cluster.",
          "type": "boolean",
          "readOnly": true
        },
        "bareMetalVersion": {
          "description": "The Anthos clusters on bare metal version for the bare metal admin cluster.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The bare metal admin cluster resource name.",
          "type": "string"
        },
        "nodeAccessConfig": {
          "description": "Node access related configurations.",
          "$ref": "BareMetalAdminNodeAccessConfig"
        },
        "loadBalancer": {
          "description": "Load balancer configuration.",
          "$ref": "BareMetalAdminLoadBalancerConfig"
        },
        "binaryAuthorization": {
          "description": "Binary Authorization related configurations.",
          "$ref": "BinaryAuthorization"
        },
        "osEnvironmentConfig": {
          "description": "OS environment related configurations.",
          "$ref": "BareMetalAdminOsEnvironmentConfig"
        },
        "validationCheck": {
          "readOnly": true,
          "description": "Output only. ValidationCheck representing the result of the preflight check.",
          "$ref": "ValidationCheck"
        },
        "storage": {
          "description": "Storage configuration.",
          "$ref": "BareMetalAdminStorageConfig"
        },
        "maintenanceStatus": {
          "readOnly": true,
          "description": "Output only. MaintenanceStatus representing state of maintenance.",
          "$ref": "BareMetalAdminMaintenanceStatus"
        },
        "maintenanceConfig": {
          "description": "Maintenance configuration.",
          "$ref": "BareMetalAdminMaintenanceConfig"
        },
        "securityConfig": {
          "description": "Security related configuration.",
          "$ref": "BareMetalAdminSecurityConfig"
        },
        "createTime": {
          "description": "Output only. The time at which this bare metal admin cluster was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalAdminWorkloadNodeConfig"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. ResourceStatus representing detailed cluster status.",
          "$ref": "ResourceStatus"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which this bare metal admin cluster was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. The time at which this bare metal admin cluster was deleted. If the resource is not deleted, this must be empty",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalAdminClusterOperationsConfig"
        },
        "description": {
          "description": "A human readable description of this bare metal admin cluster.",
          "type": "string"
        },
        "localName": {
          "readOnly": true,
          "description": "Output only. The object name of the bare metal cluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the bare metal admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object"
        },
        "controlPlane": {
          "description": "Control plane configuration.",
          "$ref": "BareMetalAdminControlPlaneConfig"
        },
        "networkConfig": {
          "description": "Network configuration.",
          "$ref": "BareMetalAdminNetworkConfig"
        },
        "proxy": {
          "description": "Proxy configuration.",
          "$ref": "BareMetalAdminProxyConfig"
        }
      }
    },
    "BareMetalNodePoolUpgradePolicy": {
      "description": "BareMetalNodePoolUpgradePolicy defines the node pool upgrade policy.",
      "type": "object",
      "id": "BareMetalNodePoolUpgradePolicy",
      "properties": {
        "parallelUpgradeConfig": {
          "description": "The parallel upgrade settings for worker node pools.",
          "$ref": "BareMetalParallelUpgradeConfig"
        }
      }
    },
    "ListBareMetalAdminClustersResponse": {
      "id": "ListBareMetalAdminClustersResponse",
      "properties": {
        "bareMetalAdminClusters": {
          "description": "The list of bare metal admin cluster.",
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminCluster"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        }
      },
      "description": "Response message for listing bare metal admin clusters.",
      "type": "object"
    },
    "VmwareControlPlaneV2Config": {
      "id": "VmwareControlPlaneV2Config",
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      },
      "description": "Specifies control plane V2 config.",
      "type": "object"
    },
    "BareMetalAdminPortConfig": {
      "id": "BareMetalAdminPortConfig",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "format": "int32",
          "description": "The port that control plane hosted load balancers will listen on.",
          "type": "integer"
        }
      },
      "description": "BareMetalAdminPortConfig is the specification of load balancer ports.",
      "type": "object"
    },
    "VmwareSeesawConfig": {
      "id": "VmwareSeesawConfig",
      "properties": {
        "vms": {
          "description": "Names of the VMs created for this Seesaw group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stackdriverName": {
          "description": "Name to be used by Stackdriver.",
          "type": "string"
        },
        "ipBlocks": {
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "description": "Required. The IP Blocks to be used by the Seesaw load balancer",
          "type": "array"
        },
        "enableHa": {
          "description": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer.",
          "type": "boolean"
        },
        "group": {
          "description": "Required. In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name].",
          "type": "string"
        },
        "masterIp": {
          "description": "Required. MasterIP is the IP announced by the master of Seesaw group.",
          "type": "string"
        }
      },
      "description": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'.",
      "type": "object"
    },
    "VmwareF5BigIpConfig": {
      "id": "VmwareF5BigIpConfig",
      "properties": {
        "address": {
          "description": "The load balancer's IP address.",
          "type": "string"
        },
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        },
        "snatPool": {
          "description": "The pool name. Only necessary, if using SNAT.",
          "type": "string"
        }
      },
      "description": "Represents configuration parameters for an F5 BIG-IP load balancer.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "BareMetalMultipleNetworkInterfacesConfig": {
      "description": "Specifies the multiple networking interfaces cluster configuration.",
      "type": "object",
      "id": "BareMetalMultipleNetworkInterfacesConfig",
      "properties": {
        "enabled": {
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true.",
          "type": "boolean"
        }
      }
    },
    "BareMetalProxyConfig": {
      "description": "Specifies the cluster proxy configuration.",
      "type": "object",
      "id": "BareMetalProxyConfig",
      "properties": {
        "noProxy": {
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server.",
          "type": "string"
        }
      }
    },
    "VmwareVsphereConfig": {
[...]
