{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        }
      }
    }
  },
  "baseUrl": "https://gmail.googleapis.com/",
  "rootUrl": "https://gmail.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.",
  "documentationLink": "https://developers.google.com/workspace/gmail/api/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ListThreadsResponse": {
      "type": "object",
      "id": "ListThreadsResponse",
      "properties": {
        "threads": {
          "description": "List of threads. Note that each thread resource does not contain a list of `messages`. The list of `messages` for a given thread can be fetched using the [`threads.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/threads/get) method.",
          "items": {
            "$ref": "Thread"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        },
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "ForwardingAddress": {
      "description": "Settings for a forwarding address.",
      "type": "object",
      "id": "ForwardingAddress",
      "properties": {
        "verificationStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use for forwarding.",
            "The address is awaiting verification by the owner."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "description": "Indicates whether this address has been verified and is usable for forwarding. Read-only."
        },
        "forwardingEmail": {
          "description": "An email address to which messages can be forwarded.",
          "type": "string"
        }
      }
    },
    "SmimeInfo": {
      "type": "object",
      "id": "SmimeInfo",
      "properties": {
        "id": {
          "type": "string",
          "description": "The immutable ID for the SmimeInfo."
        },
        "expiration": {
          "description": "When the certificate expires (in milliseconds since epoch).",
          "format": "int64",
          "type": "string"
        },
        "pkcs12": {
          "type": "string",
          "description": "PKCS#12 format containing a single private/public key pair and certificate chain. This format is only accepted from client for creating a new SmimeInfo and is never returned, because the private key is not intended to be exported. PKCS#12 may be encrypted, in which case encryptedKeyPassword should be set appropriately.",
          "format": "byte"
        },
        "issuerCn": {
          "description": "The S/MIME certificate issuer's common name.",
          "type": "string"
        },
        "pem": {
          "description": "PEM formatted X509 concatenated certificate string (standard base64 encoding). Format used for returning key, which includes public key as well as certificate chain (not private key).",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether this SmimeInfo is the default one for this user's send-as address.",
          "type": "boolean"
        },
        "encryptedKeyPassword": {
          "description": "Encrypted key password, when key is encrypted.",
          "type": "string"
        }
      },
      "description": "An S/MIME email config."
    },
    "ClassificationLabelFieldValue": {
      "description": "Field values for a classification label.",
      "id": "ClassificationLabelFieldValue",
      "properties": {
        "fieldId": {
          "description": "Required. The field ID for the Classification Label Value. Maps to the ID field of the Google Drive `Label.Field` object.",
          "type": "string"
        },
        "selection": {
          "description": "Selection choice ID for the selection option. Should only be set if the field type is `SELECTION` in the Google Drive `Label.Field` object. Maps to the id field of the Google Drive `Label.Field.SelectionOptions` resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClassificationLabelValue": {
      "type": "object",
      "id": "ClassificationLabelValue",
      "properties": {
        "labelId": {
          "type": "string",
          "description": "Required. The canonical or raw alphanumeric classification label ID. Maps to the ID field of the Google Drive Label resource."
        },
        "fields": {
          "type": "array",
          "description": "Field values for the given classification label ID.",
          "items": {
            "$ref": "ClassificationLabelFieldValue"
          }
        }
      },
      "description": "Classification Labels applied to the email message. Classification Labels are different from Gmail inbox labels. Only used for Google Workspace accounts. [Learn more about classification labels](https://support.google.com/a/answer/9292382)."
    },
    "SendAs": {
      "type": "object",
      "id": "SendAs",
      "properties": {
        "isDefault": {
          "description": "Whether this address is selected as the default \"From:\" address in situations such as composing a new message or sending a vacation auto-reply. Every Gmail account has exactly one default send-as address, so the only legal value that clients may write to this field is `true`. Changing this from `false` to `true` for an address will result in this field becoming `false` for the other previous default address.",
          "type": "boolean"
        },
        "signature": {
          "type": "string",
          "description": "An optional HTML signature that is included in messages composed with this alias in the Gmail web UI. This signature is added to new emails only."
        },
        "displayName": {
          "description": "A name that appears in the \"From:\" header for mail sent using this alias. For custom \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header with the name that is used for the primary address associated with the account. If the admin has disabled the ability for users to update their name format, requests to update this field for the primary login will silently fail.",
          "type": "string"
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Whether this address is the primary address used to login to the account. Every Gmail account has exactly one primary address, and it cannot be deleted from the collection of send-as aliases. This field is read-only."
        },
        "treatAsAlias": {
          "type": "boolean",
          "description": "Whether Gmail should treat this address as an alias for the user's primary email address. This setting only applies to custom \"from\" aliases."
        },
        "verificationStatus": {
          "description": "Indicates whether this address has been verified for use as a send-as alias. Read-only. This setting only applies to custom \"from\" aliases.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use as a send-as alias.",
            "The address is awaiting verification by the owner."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ]
        },
        "sendAsEmail": {
          "description": "The email address that appears in the \"From:\" header for mail sent using this alias. This is read-only for all operations except create.",
          "type": "string"
        },
        "replyToAddress": {
          "type": "string",
          "description": "An optional email address that is included in a \"Reply-To:\" header for mail sent using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header."
        },
        "smtpMsa": {
          "$ref": "SmtpMsa",
          "description": "An optional SMTP service that will be used as an outbound relay for mail sent using this alias. If this is empty, outbound mail will be sent directly from Gmail's servers to the destination SMTP service. This setting only applies to custom \"from\" aliases."
        }
      },
      "description": "Settings associated with a send-as alias, which can be either the primary login address associated with the account or a custom \"from\" address. Send-as aliases correspond to the \"Send Mail As\" feature in the web interface. The send-as alias must be a valid email address."
    },
    "ListLabelsResponse": {
      "type": "object",
      "id": "ListLabelsResponse",
      "properties": {
        "labels": {
          "description": "List of labels. Note that each label resource only contains an `id`, `name`, `messageListVisibility`, `labelListVisibility`, and `type`. The [`labels.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/labels/get) method can fetch additional label details.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        }
      }
    },
    "History": {
      "description": "A record of a change to the user's mailbox. Each history change may affect multiple messages in multiple ways.",
      "id": "History",
      "properties": {
        "id": {
          "type": "string",
          "description": "The mailbox sequence ID.",
          "format": "uint64"
        },
        "messagesDeleted": {
          "type": "array",
          "description": "Messages deleted (not Trashed) from the mailbox in this history record.",
          "items": {
            "$ref": "HistoryMessageDeleted"
          }
        },
        "labelsAdded": {
          "description": "Labels added to messages in this history record.",
          "items": {
            "$ref": "HistoryLabelAdded"
          },
          "type": "array"
        },
        "messages": {
          "description": "List of messages changed in this history record. The fields for specific change types, such as `messagesAdded` may duplicate messages in this field. We recommend using the specific change-type fields instead of this.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "labelsRemoved": {
          "description": "Labels removed from messages in this history record.",
          "items": {
            "$ref": "HistoryLabelRemoved"
          },
          "type": "array"
        },
        "messagesAdded": {
          "description": "Messages added to the mailbox in this history record.",
          "items": {
            "$ref": "HistoryMessageAdded"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Profile": {
      "description": "Profile for a Gmail user.",
      "id": "Profile",
      "properties": {
        "messagesTotal": {
          "type": "integer",
          "description": "The total number of messages in the mailbox.",
          "format": "int32"
        },
        "historyId": {
          "type": "string",
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64"
        },
        "emailAddress": {
          "description": "The user's email address.",
          "type": "string"
        },
        "threadsTotal": {
          "description": "The total number of threads in the mailbox.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Delegate": {
      "type": "object",
      "id": "Delegate",
      "properties": {
        "verificationStatus": {
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address can act a delegate for the account.",
            "A verification request was mailed to the address, and the owner has not yet accepted it.",
            "A verification request was mailed to the address, and the owner rejected it.",
            "A verification request was mailed to the address, and it expired without verification."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending",
            "rejected",
            "expired"
          ],
          "type": "string",
          "description": "Indicates whether this address has been verified and can act as a delegate for the account. Read-only."
        },
        "delegateEmail": {
          "description": "The email address of the delegate.",
          "type": "string"
        }
      },
      "description": "Settings for a delegate. Delegates can read, send, and delete messages, as well as view and add contacts, for the delegator's account. See \"Set up mail delegation\" for more information about delegates."
    },
    "Draft": {
      "description": "A draft email in the user's mailbox.",
      "id": "Draft",
      "properties": {
        "id": {
          "type": "string",
          "description": "The immutable ID of the draft.",
          "annotations": {
            "required": [
              "gmail.users.drafts.send"
            ]
          }
        },
        "message": {
          "$ref": "Message",
          "description": "The message content of the draft."
        }
      },
      "type": "object"
    },
    "VacationSettings": {
      "type": "object",
      "id": "VacationSettings",
      "properties": {
        "restrictToDomain": {
          "type": "boolean",
          "description": "Flag that determines whether responses are sent to recipients who are outside of the user's domain. This feature is only available for Google Workspace users."
        },
        "responseSubject": {
          "description": "Optional text to prepend to the subject line in vacation responses. In order to enable auto-replies, either the response subject or the response body must be nonempty.",
          "type": "string"
        },
        "responseBodyPlainText": {
          "type": "string",
          "description": "Response body in plain text format. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used."
        },
        "startTime": {
          "description": "An optional start time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives after the start time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "format": "int64",
          "type": "string"
        },
        "enableAutoReply": {
          "type": "boolean",
          "description": "Flag that controls whether Gmail automatically replies to messages."
        },
        "responseBodyHtml": {
          "type": "string",
          "description": "Response body in HTML format. Gmail will sanitize the HTML before storing it. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used."
        },
        "restrictToContacts": {
          "description": "Flag that determines whether responses are sent to recipients who are not in the user's list of contacts.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "description": "An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives before the end time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "format": "int64"
        }
      },
      "description": "Vacation auto-reply settings for an account. These settings correspond to the \"Vacation responder\" feature in the web interface."
    },
    "BatchModifyMessagesRequest": {
      "id": "BatchModifyMessagesRequest",
      "properties": {
        "ids": {
          "type": "array",
          "description": "The IDs of the messages to modify. There is a limit of 1000 ids per request.",
          "items": {
            "type": "string"
          }
        },
        "addLabelIds": {
          "description": "A list of label IDs to add to messages.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "removeClassificationLabelIds": {
          "type": "array",
          "description": "A list of Classification Label values to remove from messages.",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "type": "array",
          "description": "A list of label IDs to remove from messages.",
          "items": {
            "type": "string"
          }
        },
        "addClassificationLabels": {
          "type": "array",
          "description": "A list of Classification Label values to add. If a Classification Label with the same label ID is already applied to the message, fields with existing field IDs will be updated and fields with new field IDs will be added. There's a limit of 20 Classification Label values per request. If the message is already classified and the final total number of Classification Label values exceeds the maximum allowed number of Classification Label values per message, the modification fails.",
          "items": {
            "$ref": "ClassificationLabelValue"
          }
        }
      },
      "type": "object"
    },
    "MessagePartHeader": {
      "type": "object",
      "id": "MessagePartHeader",
      "properties": {
        "name": {
          "description": "The name of the header before the `:` separator. For example, `To`.",
          "type": "string"
        },
        "value": {
          "description": "The value of the header after the `:` separator. For example, `someuser@example.com`.",
          "type": "string"
        }
      }
    },
    "DisableCseKeyPairRequest": {
      "description": "Requests to turn off a client-side encryption key pair.",
      "id": "DisableCseKeyPairRequest",
      "properties": {},
      "type": "object"
    },
    "ListForwardingAddressesResponse": {
      "description": "Response for the ListForwardingAddresses method.",
      "type": "object",
      "id": "ListForwardingAddressesResponse",
      "properties": {
        "forwardingAddresses": {
          "description": "List of addresses that may be used for forwarding.",
          "items": {
            "$ref": "ForwardingAddress"
          },
          "type": "array"
        }
      }
    },
    "WatchResponse": {
      "description": "Push notification watch response.",
      "id": "WatchResponse",
      "properties": {
        "historyId": {
          "format": "uint64",
          "description": "The ID of the mailbox's current history record.",
          "type": "string"
        },
        "expiration": {
          "description": "When Gmail will stop sending notifications for mailbox updates (epoch millis). Call `watch` again before this time to renew the watch.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ModifyThreadRequest": {
      "type": "object",
      "id": "ModifyThreadRequest",
      "properties": {
        "addLabelIds": {
          "type": "array",
          "description": "A list of IDs of labels to add to this thread. You can add up to 100 labels with each update.",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "type": "array",
          "description": "A list of IDs of labels to remove from this thread. You can remove up to 100 labels with each update.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ImapSettings": {
      "description": "IMAP settings for an account.",
      "id": "ImapSettings",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether IMAP is enabled for the account."
        },
        "maxFolderSize": {
          "type": "integer",
          "description": "An optional limit on the number of messages that an IMAP folder may contain. Legal values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean that there is no limit.",
          "format": "int32"
        },
        "autoExpunge": {
          "type": "boolean",
          "description": "If this value is true, Gmail will immediately expunge a message when it is marked as deleted in IMAP. Otherwise, Gmail will wait for an update from the client before expunging messages marked as deleted."
        },
        "expungeBehavior": {
          "description": "The action that will be executed on a message when it is marked as deleted and expunged from the last visible IMAP folder.",
          "enumDescriptions": [
            "Unspecified behavior.",
            "Archive messages marked as deleted.",
            "Move messages marked as deleted to the trash.",
            "Immediately and permanently delete messages marked as deleted. The expunged messages cannot be recovered."
          ],
          "enum": [
            "expungeBehaviorUnspecified",
            "archive",
            "trash",
            "deleteForever"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "HistoryLabelRemoved": {
      "type": "object",
      "id": "HistoryLabelRemoved",
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "type": "array",
          "description": "Label IDs removed from the message.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnableCseKeyPairRequest": {
      "id": "EnableCseKeyPairRequest",
      "properties": {},
      "type": "object",
      "description": "Requests to turn on a client-side encryption key pair."
    },
    "FilterCriteria": {
      "description": "Message matching criteria.",
      "id": "FilterCriteria",
      "properties": {
        "excludeChats": {
          "type": "boolean",
          "description": "Whether the response should exclude chats."
        },
        "hasAttachment": {
          "type": "boolean",
          "description": "Whether the message has any attachment."
        },
        "size": {
          "format": "int32",
          "description": "The size of the entire RFC822 message in bytes, including all headers and attachments.",
          "type": "integer"
        },
        "from": {
          "description": "The sender's display name or email address.",
          "type": "string"
        },
        "to": {
          "description": "The recipient's display name or email address. Includes recipients in the \"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of the email address. For example, \"example\" and \"example@\" both match \"example@gmail.com\". This field is case-insensitive.",
          "type": "string"
        },
        "subject": {
          "description": "Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed.",
          "type": "string"
        },
        "sizeComparison": {
          "description": "How the message size in bytes should be in relation to the size field.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Find messages smaller than the given size.",
            "Find messages larger than the given size."
          ],
          "enum": [
            "unspecified",
            "smaller",
            "larger"
          ]
        },
        "negatedQuery": {
          "description": "Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
          "type": "string"
        },
        "query": {
          "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchDeleteMessagesRequest": {
      "type": "object",
      "id": "BatchDeleteMessagesRequest",
      "properties": {
        "ids": {
          "type": "array",
          "description": "The IDs of the messages to delete.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MessagePart": {
      "type": "object",
      "id": "MessagePart",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the message part."
        },
        "body": {
          "description": "The message part body for this part, which may be empty for container MIME message parts.",
          "$ref": "MessagePartBody"
        },
        "parts": {
          "description": "The child MIME message parts of this part. This only applies to container MIME message parts, for example `multipart/*`. For non- container MIME message part types, such as `text/plain`, this field is empty. For more information, see RFC 1521.",
          "items": {
            "$ref": "MessagePart"
          },
          "type": "array"
        },
        "partId": {
          "description": "The immutable ID of the message part.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "description": "List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as `To`, `From`, and `Subject`.",
          "items": {
            "$ref": "MessagePartHeader"
          }
        },
        "filename": {
          "description": "The filename of the attachment. Only present if this message part represents an attachment.",
          "type": "string"
        }
      },
      "description": "A single MIME message part."
    },
    "CseKeyPair": {
      "description": "A client-side encryption S/MIME key pair, which is comprised of a public key, its certificate chain, and metadata for its paired private key. Gmail uses the key pair to complete the following tasks: - Sign outgoing client-side encrypted messages. - Save and reopen drafts of client-side encrypted messages. - Save and reopen sent messages. - Decrypt incoming or archived S/MIME messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
      "id": "CseKeyPair",
      "properties": {
        "pkcs7": {
          "type": "string",
          "description": "Input only. The public key and its certificate chain. The chain must be in [PKCS#7](https://en.wikipedia.org/wiki/PKCS_7) format and use PEM encoding and ASCII armor."
        },
        "subjectEmailAddresses": {
          "readOnly": true,
          "description": "Output only. The email address identities that are specified on the leaf certificate.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "privateKeyMetadata": {
          "type": "array",
          "description": "Metadata for instances of this key pair's private key.",
          "items": {
            "$ref": "CsePrivateKeyMetadata"
          }
        },
        "disableTime": {
          "description": "Output only. If a key pair is set to `DISABLED`, the time that the key pair's state changed from `ENABLED` to `DISABLED`. This field is present only when the key pair is in state `DISABLED`.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "enablementState": {
          "type": "string",
          "enumDescriptions": [
            "The current state of the key pair is not set. The key pair is neither turned on nor turned off.",
            "The key pair is turned on. For any email messages that this key pair encrypts, Gmail decrypts the messages and signs any outgoing mail with the private key. To turn on a key pair, use the EnableCseKeyPair method.",
            "The key pair is turned off. Authenticated users cannot decrypt email messages nor sign outgoing messages. If a key pair is turned off for more than 30 days, you can permanently delete it. To turn off a key pair, use the DisableCseKeyPair method."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the key pair.",
          "enum": [
            "stateUnspecified",
            "enabled",
            "disabled"
          ]
        },
        "keyPairId": {
          "description": "Output only. The immutable ID for the client-side encryption S/MIME key pair.",
          "readOnly": true,
          "type": "string"
        },
        "pem": {
          "description": "Output only. The public key and its certificate chain, in [PEM](https://en.wikipedia.org/wiki/Privacy-Enhanced_Mail) format.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ObliterateCseKeyPairRequest": {
      "description": "Request to obliterate a CSE key pair.",
      "type": "object",
      "id": "ObliterateCseKeyPairRequest",
      "properties": {}
    },
    "ListMessagesResponse": {
      "id": "ListMessagesResponse",
      "properties": {
        "messages": {
          "type": "array",
          "description": "List of messages. Note that each message resource contains only an `id` and a `threadId`. Additional message details can be fetched using the messages.get method.",
          "items": {
            "$ref": "Message"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "resultSizeEstimate": {
          "type": "integer",
          "description": "Estimated total number of results.",
          "format": "uint32"
        }
      },
      "type": "object"
    },
    "WatchRequest": {
      "description": "Set up or update a new push notification watch on this user's mailbox.",
      "type": "object",
      "id": "WatchRequest",
      "properties": {
        "labelFilterAction": {
          "enum": [
            "include",
            "exclude"
          ],
          "description": "Filtering behavior of `labelIds list` specified. This field is deprecated because it caused incorrect behavior in some cases; use `label_filter_behavior` instead.",
          "type": "string",
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "deprecated": true
        },
        "labelFilterBehavior": {
          "description": "Filtering behavior of `labelIds list` specified. This field replaces `label_filter_action`; if set, `label_filter_action` is ignored.",
          "type": "string",
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "enum": [
            "include",
            "exclude"
          ]
        },
        "labelIds": {
          "description": "List of label_ids to restrict notifications about. By default, if unspecified, all changes are pushed out. If specified then dictates which labels are required for a push notification to be generated.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "topicName": {
          "type": "string",
          "description": "A fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This topic name **must** already exist in Cloud Pub/Sub and you **must** have already granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\" (using the Cloud Pub/Sub \"v1\" topic naming format). Note that the \"my-project-identifier\" portion must exactly match your Google developer project id (the one executing this watch request)."
        }
      }
    },
    "Thread": {
      "description": "A collection of messages representing a conversation.",
      "type": "object",
      "id": "Thread",
      "properties": {
        "id": {
          "description": "The unique ID of the thread.",
          "type": "string"
        },
        "messages": {
          "type": "array",
          "description": "The list of messages in the thread.",
          "items": {
            "$ref": "Message"
          }
        },
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "historyId": {
          "format": "uint64",
          "description": "The ID of the last history record that modified this thread.",
          "type": "string"
        }
      }
    },
    "PopSettings": {
      "id": "PopSettings",
      "properties": {
        "accessWindow": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified range.",
            "Indicates that no messages are accessible via POP.",
            "Indicates that unfetched messages received after some past point in time are accessible via POP.",
            "Indicates that all unfetched messages are accessible via POP."
          ],
          "enum": [
            "accessWindowUnspecified",
            "disabled",
            "fromNowOn",
            "allMail"
          ],
          "description": "The range of messages which are accessible via POP."
        },
        "disposition": {
          "description": "The action that will be executed on a message after it has been fetched via POP.",
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "POP settings for an account."
    },
    "ListCseKeyPairsResponse": {
      "id": "ListCseKeyPairsResponse",
      "properties": {
        "cseKeyPairs": {
          "description": "One page of the list of CSE key pairs installed for the user.",
          "items": {
            "$ref": "CseKeyPair"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be passed to a subsequent ListCseKeyPairs call in order to retrieve the next page of key pairs. If this value is not returned, then no further pages remain.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ModifyMessageRequest": {
      "type": "object",
      "id": "ModifyMessageRequest",
      "properties": {
        "removeClassificationLabelIds": {
          "description": "A list of Classification Label values to remove from this message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "addLabelIds": {
          "description": "A list of IDs of labels to add to this message. You can add up to 100 labels with each update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "addClassificationLabels": {
          "type": "array",
          "description": "A list of classification label values to add. If a Classification Label with the same label ID is already applied to the message, fields with existing field IDs will be updated and fields with new field IDs will be added. There's a limit of 20 Classification Label values per request. If the message is already classified and the final total number of Classification Label values exceeds the maximum allowed number of Classification Label values per message, the modification fails.",
          "items": {
            "$ref": "ClassificationLabelValue"
          }
        },
        "removeLabelIds": {
          "description": "A list IDs of labels to remove from this message. You can remove up to 100 labels with each update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Label": {
      "id": "Label",
      "properties": {
        "labelListVisibility": {
          "enum": [
            "labelShow",
            "labelShowIfUnread",
            "labelHide"
          ],
          "description": "The visibility of the label in the label list in the Gmail web interface.",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string",
          "enumDescriptions": [
            "Show the label in the label list.",
            "Show the label if there are any unread messages with that label.",
            "Do not show the label in the label list."
          ]
        },
        "messagesUnread": {
          "description": "The number of unread messages with the label.",
          "format": "int32",
          "type": "integer"
        },
        "threadsTotal": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of threads with the label."
        },
        "threadsUnread": {
          "format": "int32",
          "description": "The number of unread threads with the label.",
          "type": "integer"
        },
        "color": {
          "description": "The color to assign to the label. Color is only available for labels that have their `type` set to `user`.",
          "$ref": "LabelColor"
        },
        "messagesTotal": {
          "type": "integer",
          "description": "The total number of messages with the label.",
          "format": "int32"
        },
        "name": {
          "description": "The display name of the label.",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string"
        },
        "messageListVisibility": {
          "enumDescriptions": [
            "Show the label in the message list.",
            "Do not show the label in the message list."
          ],
          "type": "string",
          "enum": [
            "show",
            "hide"
          ],
          "description": "The visibility of messages with this label in the message list in the Gmail web interface.",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          }
        },
        "id": {
          "type": "string",
          "description": "The immutable ID of the label.",
          "annotations": {
            "required": [
              "gmail.users.labels.update"
            ]
          }
        },
        "type": {
          "description": "The owner type for the label. User labels are created by the user and can be modified and deleted by the user and can be applied to any message or thread. System labels are internally created and cannot be added, modified, or deleted. System labels may be able to be applied to or removed from messages and threads under some circumstances but this is not guaranteed. For example, users can apply and remove the `INBOX` and `UNREAD` labels from messages and threads, but cannot apply or remove the `DRAFTS` or `SENT` labels from messages or threads.",
          "enumDescriptions": [
            "Labels created by Gmail.",
            "Custom labels created by the user or application."
          ],
          "enum": [
            "system",
            "user"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Labels are used to categorize messages and threads within the user's mailbox. The maximum number of labels supported for a user's mailbox is 10,000."
    },
    "ListFiltersResponse": {
      "description": "Response for the ListFilters method.",
      "id": "ListFiltersResponse",
      "properties": {
        "filter": {
          "description": "List of a user's filters.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "HistoryLabelAdded": {
      "id": "HistoryLabelAdded",
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "type": "array",
          "description": "Label IDs added to the message.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AutoForwarding": {
      "type": "object",
      "id": "AutoForwarding",
      "properties": {
        "enabled": {
          "description": "Whether all incoming mail is automatically forwarded to another address.",
          "type": "boolean"
        },
        "emailAddress": {
          "description": "Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses.",
          "type": "string"
        },
        "disposition": {
          "description": "The state that a message should be left in after it has been forwarded.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ]
        }
      },
      "description": "Auto-forwarding settings for an account."
    },
    "Message": {
      "id": "Message",
      "properties": {
        "threadId": {
          "type": "string",
          "description": "The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: 1. The requested `threadId` must be specified on the `Message` or `Draft.Message` you supply with your request. 2. The `References` and `In-Reply-To` headers must be set in compliance with the [RFC 2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must match. "
        },
        "snippet": {
          "type": "string",
          "description": "A short part of the message text."
        },
        "internalDate": {
          "type": "string",
          "description": "The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the `Date` header. However, for API-migrated mail, it can be configured by client to be based on the `Date` header.",
          "format": "int64"
        },
        "raw": {
          "type": "string",
          "description": "The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is supplied. @required gmail.users.drafts.create gmail.users.drafts.update",
          "annotations": {
            "required": [
              "gmail.users.messages.insert",
              "gmail.users.messages.send"
            ]
          },
          "format": "byte"
        },
        "id": {
          "description": "The immutable ID of the message.",
          "type": "string"
        },
        "labelIds": {
          "description": "List of IDs of labels applied to this message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "historyId": {
          "format": "uint64",
          "description": "The ID of the last history record that modified this message.",
          "type": "string"
        },
        "payload": {
          "$ref": "MessagePart",
          "description": "The parsed email structure in the message parts."
        },
        "classificationLabelValues": {
          "description": "Classification Label values on the message. Available Classification Label schemas can be queried using the Google Drive Labels API. Each classification label ID must be unique. If duplicate IDs are provided, only one will be retained, and the selection is arbitrary. Only used for Google Workspace accounts. There's a limit of 20 Classification Label values per request. If the Classification Label values exceeds the maximum allowed number, the request fails.",
          "items": {
            "$ref": "ClassificationLabelValue"
          },
          "type": "array"
        },
        "sizeEstimate": {
          "type": "integer",
          "format": "int32",
          "description": "Estimated size in bytes of the message."
        }
      },
      "type": "object",
      "description": "An email message."
    },
    "CseIdentity": {
      "type": "object",
      "id": "CseIdentity",
      "properties": {
        "signAndEncryptKeyPairs": {
          "description": "The configuration of a CSE identity that uses different key pairs for signing and encryption.",
          "$ref": "SignAndEncryptKeyPairs"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address for the sending identity. The email address must be the primary email address of the authenticated user."
        },
        "primaryKeyPairId": {
          "type": "string",
          "description": "If a key pair is associated, the ID of the key pair, CseKeyPair."
        }
      },
      "description": "The client-side encryption (CSE) configuration for the email address of an authenticated user. Gmail uses CSE configurations to save drafts of client-side encrypted email messages, and to sign and send encrypted email messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
    },
    "CsePrivateKeyMetadata": {
      "type": "object",
      "id": "CsePrivateKeyMetadata",
      "properties": {
        "kaclsKeyMetadata": {
          "description": "Metadata for a private key instance managed by an external key access control list service.",
          "$ref": "KaclsKeyMetadata"
        },
        "privateKeyMetadataId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The immutable ID for the private key metadata instance."
        },
        "hardwareKeyMetadata": {
          "description": "Metadata for hardware keys.",
          "$ref": "HardwareKeyMetadata"
        }
      },
      "description": "Metadata for a private key instance."
    },
    "LanguageSettings": {
      "id": "LanguageSettings",
      "properties": {
        "displayLanguage": {
          "type": "string",
          "description": "The language to display Gmail in, formatted as an RFC 3066 Language Tag (for example `en-GB`, `fr` or `ja` for British English, French, or Japanese respectively). The set of languages supported by Gmail evolves over time, so please refer to the \"Language\" dropdown in the Gmail settings for all available options, as described in the language settings help article. For a table of sample values, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). Not all Gmail clients can display the same set of languages. In the case that a user's display language is not available for use on a particular client, said client automatically chooses to display in the closest supported variant (or a reasonable default)."
        }
      },
      "type": "object",
      "description": "Language settings for an account. These settings correspond to the \"Language settings\" feature in the web interface."
    },
    "ListSmimeInfoResponse": {
      "type": "object",
      "id": "ListSmimeInfoResponse",
      "properties": {
        "smimeInfo": {
          "description": "List of SmimeInfo.",
          "items": {
            "$ref": "SmimeInfo"
          },
          "type": "array"
        }
      }
    },
    "FilterAction": {
      "type": "object",
      "id": "FilterAction",
      "properties": {
        "forward": {
          "description": "Email address that the message should be forwarded to. This effectively redirects the message to the address specified in this field, maintaining the original sender in the \"From\" field.",
          "type": "string"
        },
        "addLabelIds": {
          "type": "array",
          "description": "List of labels to add to the message.",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "description": "List of labels to remove from the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A set of actions to perform on a message."
    },
    "SignAndEncryptKeyPairs": {
      "type": "object",
      "id": "SignAndEncryptKeyPairs",
      "properties": {
        "signingKeyPairId": {
          "type": "string",
          "description": "The ID of the CseKeyPair that signs outgoing mail."
        },
        "encryptionKeyPairId": {
          "type": "string",
          "description": "The ID of the CseKeyPair that encrypts signed outgoing mail."
        }
      },
      "description": "The configuration of a CSE identity that uses different key pairs for signing and encryption."
    },
    "ListSendAsResponse": {
      "id": "ListSendAsResponse",
      "properties": {
        "sendAs": {
          "description": "List of send-as aliases.",
          "items": {
            "$ref": "SendAs"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for the ListSendAs method."
    },
    "Filter": {
      "id": "Filter",
      "properties": {
        "criteria": {
          "description": "Matching criteria for the filter.",
          "$ref": "FilterCriteria"
        },
        "id": {
          "type": "string",
          "description": "The server assigned ID of the filter."
        },
        "action": {
          "$ref": "FilterAction",
          "description": "Action that the filter performs."
        }
      },
      "type": "object",
      "description": "Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread."
    },
    "HistoryMessageDeleted": {
      "type": "object",
      "id": "HistoryMessageDeleted",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      }
    },
    "KaclsKeyMetadata": {
      "id": "KaclsKeyMetadata",
      "properties": {
        "kaclsUri": {
          "type": "string",
          "description": "The URI of the key access control list service that manages the private key."
        },
        "kaclsData": {
          "type": "string",
          "description": "Opaque data generated and used by the key access control list service. Maximum size: 8 KiB."
        }
      },
      "type": "object",
      "description": "Metadata for private keys managed by an external key access control list service. For details about managing key access, see [Google Workspace CSE API Reference](https://developers.google.com/workspace/cse/reference)."
    },
    "MessagePartBody": {
      "type": "object",
      "id": "MessagePartBody",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The body data of a MIME message part as a base64url encoded string. May be empty for MIME container types that have no message body or when the body data is sent as a separate attachment. An attachment ID is present if the body data is contained in a separate attachment."
        },
        "size": {
          "description": "Number of bytes for the message part data (encoding notwithstanding).",
          "format": "int32",
          "type": "integer"
        },
        "attachmentId": {
          "type": "string",
          "description": "When present, contains the ID of an external attachment that can be retrieved in a separate `messages.attachments.get` request. When not present, the entire content of the message part body is contained in the data field."
        }
      },
      "description": "The body of a single MIME message part."
    },
    "ListDelegatesResponse": {
      "id": "ListDelegatesResponse",
      "properties": {
        "delegates": {
          "type": "array",
          "description": "List of the user's delegates (with any verification status). If an account doesn't have delegates, this field doesn't appear.",
          "items": {
            "$ref": "Delegate"
          }
        }
      },
      "type": "object",
      "description": "Response for the ListDelegates method."
    },
    "ListHistoryResponse": {
      "id": "ListHistoryResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        },
        "history": {
          "type": "array",
          "description": "List of history records. Any `messages` contained in the response will typically only have `id` and `threadId` fields populated.",
          "items": {
            "$ref": "History"
          }
        },
        "historyId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the mailbox's current history record."
        }
      },
      "type": "object"
    },
    "LabelColor": {
      "id": "LabelColor",
      "properties": {
        "textColor": {
          "type": "string",
          "description": "The text color of the label, represented as hex string. This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765, #757575, #1e53b8, \\#007286, #7858c3, #c2185b, #d93025, #54240e, #633e04, #521d28, #202124, \\#083018"
        },
        "backgroundColor": {
          "type": "string",
          "description": "The background color represented as hex string #RRGGBB (ex #000000). This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765, #757575, #1e53b8, \\#007286, #7858c3, #c2185b, #d93025, #54240e, #633e04, #521d28, #202124, \\#083018"
        }
      },
      "type": "object"
    },
    "ListCseIdentitiesResponse": {
      "type": "object",
      "id": "ListCseIdentitiesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be passed to a subsequent ListCseIdentities call in order to retrieve the next page of identities. If this value is not returned or is the empty string, then no further pages remain.",
          "type": "string"
        },
        "cseIdentities": {
          "type": "array",
          "description": "One page of the list of CSE identities configured for the user.",
          "items": {
            "$ref": "CseIdentity"
          }
        }
      }
    },
    "HistoryMessageAdded": {
      "type": "object",
      "id": "HistoryMessageAdded",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      }
    },
    "SmtpMsa": {
      "description": "Configuration for communication with an SMTP service.",
      "type": "object",
      "id": "SmtpMsa",
      "properties": {
        "port": {
          "type": "integer",
          "description": "The port of the SMTP service. Required.",
          "format": "int32"
        },
        "host": {
          "description": "The hostname of the SMTP service. Required.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        },
        "password": {
          "type": "string",
          "description": "The password that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        },
        "securityMode": {
          "description": "The protocol that will be used to secure communication with the SMTP service. Required.",
          "enumDescriptions": [
            "Unspecified security mode.",
            "Communication with the remote SMTP service is unsecured. Requires port 25.",
            "Communication with the remote SMTP service is secured using SSL.",
            "Communication with the remote SMTP service is secured using STARTTLS."
          ],
          "enum": [
            "securityModeUnspecified",
            "none",
            "ssl",
            "starttls"
          ],
          "type": "string"
        }
      }
    },
    "ListDraftsResponse": {
      "type": "object",
      "id": "ListDraftsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "resultSizeEstimate": {
          "format": "uint32",
          "description": "Estimated total number of results.",
          "type": "integer"
        },
        "drafts": {
          "type": "array",
          "description": "List of drafts. Note that the `Message` property in each `Draft` resource only contains an `id` and a `threadId`. The [`messages.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/messages/get) method can fetch additional message details.",
          "items": {
            "$ref": "Draft"
          }
        }
      }
    },
    "HardwareKeyMetadata": {
      "description": "Metadata for hardware keys. If [hardware key encryption](https://support.google.com/a/answer/14153163) is set up for the Google Workspace organization, users can optionally store their private key on their smart card and use it to sign and decrypt email messages in Gmail by inserting their smart card into a reader attached to their Windows device.",
      "type": "object",
      "id": "HardwareKeyMetadata",
      "properties": {
        "description": {
          "description": "Description about the hardware key.",
          "type": "string"
        }
      }
    }
  },
  "id": "gmail:v1",
  "servicePath": "",
  "resources": {
    "users": {
      "methods": {
        "getProfile": {
          "path": "gmail/v1/users/{userId}/profile",
          "flatPath": "gmail/v1/users/{userId}/profile",
          "parameterOrder": [
            "userId"
          ],
          "id": "gmail.users.getProfile",
          "parameters": {
            "userId": {
              "default": "me",
              "type": "string",
              "location": "path",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "required": true
            }
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "response": {
            "$ref": "Profile"
          },
          "description": "Gets the current user's Gmail profile.",
          "httpMethod": "GET"
        },
        "watch": {
          "response": {
            "$ref": "WatchResponse"
          },
          "description": "Set up or update a push notification watch on the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "httpMethod": "POST",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "path": "gmail/v1/users/{userId}/watch",
          "flatPath": "gmail/v1/users/{userId}/watch",
          "parameterOrder": [
            "userId"
          ],
          "id": "gmail.users.watch",
          "parameters": {
            "userId": {
              "location": "path",
              "type": "string",
              "default": "me",
              "required": true,
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
            }
          },
          "request": {
            "$ref": "WatchRequest"
          }
        },
        "stop": {
          "id": "gmail.users.stop",
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "required": true,
              "default": "me",
              "location": "path",
              "type": "string"
            }
          },
          "path": "gmail/v1/users/{userId}/stop",
          "flatPath": "gmail/v1/users/{userId}/stop",
          "parameterOrder": [
            "userId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "description": "Turn off push notification delivery for the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push)."
        }
      },
      "resources": {
        "messages": {
          "methods": {
            "insert": {
              "supportsMediaUpload": true,
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/messages",
              "flatPath": "gmail/v1/users/{userId}/messages",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.messages.insert",
              "parameters": {
                "internalDateSource": {
                  "description": "Source for Gmail's internal date of the message.",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "default": "receivedTime",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ]
                },
                "deleted": {
                  "type": "boolean",
                  "location": "query",
                  "default": "false",
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts."
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "request": {
                "$ref": "Message"
              },
              "response": {
                "$ref": "Message"
              },
              "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "httpMethod": "POST",
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages"
                  }
                },
                "maxSize": "157286400"
              }
            },
            "get": {
              "response": {
                "$ref": "Message"
              },
              "description": "Gets the specified message.",
              "httpMethod": "GET",
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.messages.get",
              "parameters": {
                "format": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "default": "full",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "description": "The format to return the message in."
                },
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "default": "me"
                },
                "metadataHeaders": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "When given and format is `METADATA`, only include headers specified."
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`)."
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ]
            },
            "trash": {
              "path": "gmail/v1/users/{userId}/messages/{id}/trash",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/trash",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.messages.trash",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "default": "me"
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the message to Trash."
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "response": {
                "$ref": "Message"
              },
              "description": "Moves the specified message to the trash.",
              "httpMethod": "POST"
            },
            "untrash": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Message"
              },
              "description": "Removes the specified message from the trash.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.messages.untrash",
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                },
                "id": {
                  "description": "The ID of the message to remove from Trash.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "batchDelete": {
              "id": "gmail.users.messages.batchDelete",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me"
                }
              },
              "request": {
                "$ref": "BatchDeleteMessagesRequest"
              },
              "path": "gmail/v1/users/{userId}/messages/batchDelete",
              "flatPath": "gmail/v1/users/{userId}/messages/batchDelete",
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/"
              ],
              "httpMethod": "POST",
              "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all."
            },
            "send": {
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/send"
                  }
                },
                "maxSize": "36700160"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Message"
              },
              "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "id": "gmail.users.messages.send",
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "request": {
                "$ref": "Message"
              },
              "path": "gmail/v1/users/{userId}/messages/send",
              "flatPath": "gmail/v1/users/{userId}/messages/send",
              "parameterOrder": [
                "userId"
              ],
              "supportsMediaUpload": true,
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.send"
              ]
            },
            "delete": {
              "id": "gmail.users.messages.delete",
              "parameters": {
                "userId": {
                  "default": "me",
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the message to delete."
                }
              },
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://mail.google.com/"
              ],
              "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead."
            },
            "list": {
              "response": {
                "$ref": "ListMessagesResponse"
              },
              "description": "Lists the messages in the user's mailbox. For more information, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).",
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/messages",
              "flatPath": "gmail/v1/users/{userId}/messages",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.messages.list",
              "parameters": {
                "maxResults": {
                  "description": "Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "format": "uint32",
                  "location": "query",
                  "type": "integer",
                  "default": "100"
                },
                "labelIds": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads)."
                },
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me"
                },
                "q": {
                  "location": "query",
                  "type": "string",
                  "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope."
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string",
                  "location": "query"
                },
                "includeSpamTrash": {
                  "type": "boolean",
                  "location": "query",
                  "default": "false",
                  "description": "Include messages from `SPAM` and `TRASH` in the results."
                }
              }
            },
            "modify": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.messages.modify",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me"
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the message to modify."
                }
              },
              "request": {
                "$ref": "ModifyMessageRequest"
              },
              "path": "gmail/v1/users/{userId}/messages/{id}/modify",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/modify",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Message"
              },
              "description": "Modifies the labels and the Classification Label values on the specified message. For administrators modifying message for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope."
            },
            "batchModify": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/messages/batchModify",
              "flatPath": "gmail/v1/users/{userId}/messages/batchModify",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.messages.batchModify",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me"
                }
              },
              "request": {
                "$ref": "BatchModifyMessagesRequest"
              },
              "description": "Modifies the labels and the Classification Label values on the specified messages. For administrators modifying messages for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
              "httpMethod": "POST"
            },
            "import": {
              "mediaUpload": {
                "maxSize": "157286400",
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/import"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/import"
                  }
                }
              },
              "response": {
                "$ref": "Message"
              },
              "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message. Note that the maximum size of the message is 150 MB.",
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/messages/import",
              "flatPath": "gmail/v1/users/{userId}/messages/import",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.messages.import",
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "processForCalendar": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
                  "default": "false"
                },
                "internalDateSource": {
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "description": "Source for Gmail's internal date of the message.",
                  "location": "query",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "type": "string",
                  "default": "dateHeader"
                },
                "deleted": {
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "default": "false",
                  "location": "query",
                  "type": "boolean"
                },
                "neverMarkSpam": {
                  "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
                  "default": "false",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "request": {
                "$ref": "Message"
              },
              "supportsMediaUpload": true,
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "MessagePartBody"
                  },
                  "description": "Gets the specified message attachment.",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly"
                  ],
                  "id": "gmail.users.messages.attachments.get",
                  "parameters": {
                    "userId": {
                      "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "location": "path",
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The ID of the attachment."
                    },
                    "messageId": {
                      "description": "The ID of the message containing the attachment.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "flatPath": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "parameterOrder": [
                    "userId",
                    "messageId",
                    "id"
                  ]
                }
              }
            }
          }
        },
        "labels": {
          "methods": {
            "create": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/labels",
              "flatPath": "gmail/v1/users/{userId}/labels",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.labels.create",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Label"
              },
              "response": {
                "$ref": "Label"
              },
              "description": "Creates a label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "httpMethod": "POST"
            },
            "get": {
              "id": "gmail.users.labels.get",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the label to retrieve."
                }
              },
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Label"
              },
              "description": "Gets the specified label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels)."
            },
            "patch": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.labels.patch",
              "parameters": {
                "id": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the label to update."
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Label"
              },
              "response": {
                "$ref": "Label"
              },
              "description": "Patch the specified label. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "httpMethod": "PATCH"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it's applied to. For more information, see [Manage labels](https://developers.google.com/workspace/gmail/api/guides/labels).",
              "id": "gmail.users.labels.delete",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "description": "The ID of the label to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "list": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/labels",
              "flatPath": "gmail/v1/users/{userId}/labels",
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.labels.list",
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                }
[...]
