{
  "documentationLink": "https://developers.google.com/workspace/gmail/api/",
  "canonicalName": "Gmail",
  "rootUrl": "https://gmail.googleapis.com/",
  "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260917",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Gmail API",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "id": "gmail:v1",
  "version": "v1",
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        }
      }
    }
  },
  "protocol": "rest",
  "resources": {
    "users": {
      "methods": {
        "getProfile": {
          "description": "Gets the current user's Gmail profile.",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "flatPath": "gmail/v1/users/{userId}/profile",
          "response": {
            "$ref": "Profile"
          },
          "path": "gmail/v1/users/{userId}/profile",
          "id": "gmail.users.getProfile",
          "httpMethod": "GET",
          "parameterOrder": [
            "userId"
          ],
          "parameters": {
            "userId": {
              "type": "string",
              "location": "path",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "required": true,
              "default": "me"
            }
          }
        },
        "watch": {
          "request": {
            "$ref": "WatchRequest"
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "description": "Set up or update a push notification watch on the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "flatPath": "gmail/v1/users/{userId}/watch",
          "response": {
            "$ref": "WatchResponse"
          },
          "id": "gmail.users.watch",
          "httpMethod": "POST",
          "parameters": {
            "userId": {
              "location": "path",
              "type": "string",
              "default": "me",
              "required": true,
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "path": "gmail/v1/users/{userId}/watch"
        },
        "stop": {
          "id": "gmail.users.stop",
          "httpMethod": "POST",
          "parameterOrder": [
            "userId"
          ],
          "parameters": {
            "userId": {
              "location": "path",
              "type": "string",
              "default": "me",
              "required": true,
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
            }
          },
          "description": "Turn off push notification delivery for the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "path": "gmail/v1/users/{userId}/stop",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "flatPath": "gmail/v1/users/{userId}/stop"
        }
      },
      "resources": {
        "threads": {
          "methods": {
            "delete": {
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "ID of the Thread to delete.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.threads.delete",
              "httpMethod": "DELETE",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "scopes": [
                "https://mail.google.com/"
              ],
              "description": "Immediately and permanently deletes the specified thread. Any messages that belong to the thread are also deleted. This operation cannot be undone. Prefer `threads.trash` instead. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads)."
            },
            "trash": {
              "path": "gmail/v1/users/{userId}/threads/{id}/trash",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "description": "The ID of the thread to Trash.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "gmail.users.threads.trash",
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/trash",
              "response": {
                "$ref": "Thread"
              },
              "description": "Moves the specified thread to the trash. Any messages that belong to the thread are also moved to the trash. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "untrash": {
              "description": "Removes the specified thread from the trash. Any messages that belong to the thread are also removed from the trash. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/untrash",
              "response": {
                "$ref": "Thread"
              },
              "id": "gmail.users.threads.untrash",
              "httpMethod": "POST",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "description": "The ID of the thread to remove from Trash.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "gmail/v1/users/{userId}/threads/{id}/untrash"
            },
            "list": {
              "id": "gmail.users.threads.list",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "includeSpamTrash": {
                  "description": "Include threads from `SPAM` and `TRASH` in the results.",
                  "type": "boolean",
                  "default": "false",
                  "location": "query"
                },
                "q": {
                  "description": "Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
                  "type": "string",
                  "location": "query"
                },
                "maxResults": {
                  "location": "query",
                  "type": "integer",
                  "format": "uint32",
                  "default": "100",
                  "description": "Maximum number of threads to return. This field defaults to 100. The maximum allowed value for this field is 500."
                },
                "labelIds": {
                  "description": "Only return threads with labels that match all of the specified label IDs.",
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/threads",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "description": "Lists the threads in the user's mailbox. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "flatPath": "gmail/v1/users/{userId}/threads",
              "response": {
                "$ref": "ListThreadsResponse"
              }
            },
            "modify": {
              "request": {
                "$ref": "ModifyThreadRequest"
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/modify",
              "response": {
                "$ref": "Thread"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Modifies the labels applied to the thread. This applies to all messages in the thread. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "id": {
                  "description": "The ID of the thread to modify.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.threads.modify",
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/threads/{id}/modify"
            },
            "get": {
              "parameters": {
                "id": {
                  "description": "The ID of the thread to retrieve.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true
                },
                "format": {
                  "default": "full",
                  "enumDescriptions": [
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message IDs, labels, and email headers.",
                    "Returns only email message IDs and labels; does not return the email headers, body, or payload."
                  ],
                  "description": "The format to return the messages in.",
                  "enum": [
                    "full",
                    "metadata",
                    "minimal"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "metadataHeaders": {
                  "description": "When given and format is METADATA, only include headers specified.",
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.threads.get",
              "httpMethod": "GET",
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "response": {
                "$ref": "Thread"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "description": "Gets the specified thread. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads)."
            }
          }
        },
        "messages": {
          "methods": {
            "get": {
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "response": {
                "$ref": "Message"
              },
              "description": "Gets the specified message.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "id": {
                  "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`).",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me"
                },
                "format": {
                  "description": "The format to return the message in.",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "default": "full",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "type": "string",
                  "location": "query"
                },
                "metadataHeaders": {
                  "repeated": true,
                  "location": "query",
                  "description": "When given and format is `METADATA`, only include headers specified.",
                  "type": "string"
                }
              },
              "id": "gmail.users.messages.get",
              "httpMethod": "GET",
              "path": "gmail/v1/users/{userId}/messages/{id}"
            },
            "batchModify": {
              "flatPath": "gmail/v1/users/{userId}/messages/batchModify",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Modifies the labels and the Classification Label values on the specified messages. For administrators modifying messages for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
              "request": {
                "$ref": "BatchModifyMessagesRequest"
              },
              "path": "gmail/v1/users/{userId}/messages/batchModify",
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.messages.batchModify",
              "httpMethod": "POST"
            },
            "send": {
              "path": "gmail/v1/users/{userId}/messages/send",
              "supportsMediaUpload": true,
              "id": "gmail.users.messages.send",
              "httpMethod": "POST",
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me"
                }
              },
              "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/send"
                  }
                },
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.send"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/send",
              "response": {
                "$ref": "Message"
              },
              "request": {
                "$ref": "Message"
              }
            },
            "modify": {
              "path": "gmail/v1/users/{userId}/messages/{id}/modify",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "id": {
                  "description": "The ID of the message to modify.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "userId": {
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "gmail.users.messages.modify",
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/modify",
              "response": {
                "$ref": "Message"
              },
              "description": "Modifies the labels and the Classification Label values on the specified message. For administrators modifying message for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted` scope.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "request": {
                "$ref": "ModifyMessageRequest"
              }
            },
            "import": {
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "internalDateSource": {
                  "type": "string",
                  "location": "query",
                  "description": "Source for Gmail's internal date of the message.",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "default": "dateHeader",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ]
                },
                "processForCalendar": {
                  "location": "query",
                  "default": "false",
                  "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
                  "type": "boolean"
                },
                "deleted": {
                  "location": "query",
                  "default": "false",
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "type": "boolean"
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true
                },
                "neverMarkSpam": {
                  "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
                  "type": "boolean",
                  "default": "false",
                  "location": "query"
                }
              },
              "id": "gmail.users.messages.import",
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "path": "gmail/v1/users/{userId}/messages/import",
              "request": {
                "$ref": "Message"
              },
              "flatPath": "gmail/v1/users/{userId}/messages/import",
              "response": {
                "$ref": "Message"
              },
              "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message. Note that the maximum size of the message is 150 MB.",
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "157286400",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/import"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/import"
                  }
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "insert": {
              "request": {
                "$ref": "Message"
              },
              "flatPath": "gmail/v1/users/{userId}/messages",
              "response": {
                "$ref": "Message"
              },
              "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message. For more information, see [Create and send email messages](https://developers.google.com/workspace/gmail/api/guides/sending).",
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages"
                  }
                },
                "accept": [
                  "message/*"
                ],
                "maxSize": "157286400"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "type": "string",
                  "location": "path"
                },
                "deleted": {
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "type": "boolean",
                  "location": "query",
                  "default": "false"
                },
                "internalDateSource": {
                  "location": "query",
                  "type": "string",
                  "default": "receivedTime",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "description": "Source for Gmail's internal date of the message.",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ]
                }
              },
              "id": "gmail.users.messages.insert",
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "path": "gmail/v1/users/{userId}/messages"
            },
            "batchDelete": {
              "id": "gmail.users.messages.batchDelete",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/messages/batchDelete",
              "request": {
                "$ref": "BatchDeleteMessagesRequest"
              },
              "scopes": [
                "https://mail.google.com/"
              ],
              "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
              "flatPath": "gmail/v1/users/{userId}/messages/batchDelete"
            },
            "list": {
              "description": "Lists the messages in the user's mailbox. For more information, see [List Gmail messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages",
              "response": {
                "$ref": "ListMessagesResponse"
              },
              "path": "gmail/v1/users/{userId}/messages",
              "id": "gmail.users.messages.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "includeSpamTrash": {
                  "default": "false",
                  "location": "query",
                  "description": "Include messages from `SPAM` and `TRASH` in the results.",
                  "type": "boolean"
                },
                "q": {
                  "location": "query",
                  "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "default": "100",
                  "format": "uint32",
                  "type": "integer",
                  "location": "query"
                },
                "labelIds": {
                  "description": "Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string"
                }
              }
            },
            "untrash": {
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "response": {
                "$ref": "Message"
              },
              "description": "Removes the specified message from the trash.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the message to remove from Trash.",
                  "type": "string"
                },
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "id": "gmail.users.messages.untrash",
              "httpMethod": "POST"
            },
            "trash": {
              "description": "Moves the specified message to the trash.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/trash",
              "response": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.trash",
              "httpMethod": "POST",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the message to Trash.",
                  "type": "string"
                },
                "userId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "path": "gmail/v1/users/{userId}/messages/{id}/trash"
            },
            "delete": {
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "scopes": [
                "https://mail.google.com/"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "id": {
                  "description": "The ID of the message to delete.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true
                }
              },
              "id": "gmail.users.messages.delete",
              "httpMethod": "DELETE"
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "path": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "id": "gmail.users.messages.attachments.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "userId": {
                      "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "type": "string",
                      "location": "path"
                    },
                    "messageId": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the message containing the attachment.",
                      "type": "string"
                    },
                    "id": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the attachment.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "messageId",
                    "id"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly"
                  ],
                  "description": "Gets the specified message attachment.",
                  "flatPath": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "response": {
                    "$ref": "MessagePartBody"
                  }
                }
              }
            }
          }
        },
        "drafts": {
          "methods": {
            "get": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string"
                },
                "format": {
                  "description": "The format to return the draft in.",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "default": "full",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "type": "string",
                  "location": "query"
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the draft to retrieve.",
                  "type": "string"
                }
              },
              "id": "gmail.users.drafts.get",
              "httpMethod": "GET",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "response": {
                "$ref": "Draft"
              },
              "description": "Gets the specified draft. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ]
            },
            "update": {
              "request": {
                "$ref": "Draft"
              },
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "response": {
                "$ref": "Draft"
              },
              "description": "Replaces a draft's content. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}"
                  }
                },
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the draft to update.",
                  "type": "string"
                },
                "userId": {
                  "location": "path",
                  "type": "string",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "id": "gmail.users.drafts.update",
              "httpMethod": "PUT",
              "supportsMediaUpload": true,
              "path": "gmail/v1/users/{userId}/drafts/{id}"
            },
            "send": {
              "id": "gmail.users.drafts.send",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/drafts/send",
              "supportsMediaUpload": true,
              "request": {
                "$ref": "Draft"
              },
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "response": {
                "$ref": "Message"
              }
            },
            "list": {
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me"
                },
                "includeSpamTrash": {
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "type": "boolean",
                  "default": "false",
                  "location": "query"
                },
                "maxResults": {
                  "location": "query",
                  "type": "integer",
                  "default": "100",
                  "format": "uint32",
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500."
                },
                "q": {
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "gmail.users.drafts.list",
              "httpMethod": "GET",
              "path": "gmail/v1/users/{userId}/drafts",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "response": {
                "$ref": "ListDraftsResponse"
              },
              "description": "Lists the drafts in the user's mailbox. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ]
            },
            "create": {
              "supportsMediaUpload": true,
              "path": "gmail/v1/users/{userId}/drafts",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.drafts.create",
              "httpMethod": "POST",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "response": {
                "$ref": "Draft"
              },
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                  }
                },
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Creates a draft with the `DRAFT` label. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "request": {
                "$ref": "Draft"
              }
            },
            "delete": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the draft to delete.",
                  "type": "string"
                }
              },
              "id": "gmail.users.drafts.delete",
              "httpMethod": "DELETE",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            }
          }
        },
        "history": {
          "methods": {
            "list": {
              "flatPath": "gmail/v1/users/{userId}/history",
              "response": {
                "$ref": "ListHistoryResponse"
              },
              "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`). For more information, see [Synchronize clients with Gmail](https://developers.google.com/workspace/gmail/api/guides/sync).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string",
                  "location": "query"
                },
                "labelId": {
                  "description": "Only return messages with a label matching the ID.",
                  "type": "string",
                  "location": "query"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "maxResults": {
                  "default": "100",
                  "format": "uint32",
                  "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "location": "query",
                  "type": "integer"
                },
                "startHistoryId": {
                  "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
                  "type": "string",
                  "location": "query",
                  "format": "uint64"
                },
                "historyTypes": {
                  "description": "History types to be returned by the function",
                  "enum": [
                    "messageAdded",
                    "messageDeleted",
                    "labelAdded",
                    "labelRemoved"
                  ],
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    ""
                  ],
                  "type": "string",
                  "location": "query",
                  "repeated": true
                }
              },
              "id": "gmail.users.history.list",
              "httpMethod": "GET",
              "path": "gmail/v1/users/{userId}/history"
            }
          }
        },
        "settings": {
          "methods": {
            "updateVacation": {
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.updateVacation",
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "response": {
                "$ref": "VacationSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Updates vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
              "request": {
                "$ref": "VacationSettings"
              }
            },
            "getLanguage": {
              "path": "gmail/v1/users/{userId}/settings/language",
              "id": "gmail.users.settings.getLanguage",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "required": true,
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings).",
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "response": {
                "$ref": "LanguageSettings"
              }
            },
            "updateImap": {
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.updateImap",
              "httpMethod": "PUT",
              "path": "gmail/v1/users/{userId}/settings/imap",
              "request": {
                "$ref": "ImapSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "response": {
                "$ref": "ImapSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Updates IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings)."
            },
            "getPop": {
              "path": "gmail/v1/users/{userId}/settings/pop",
              "id": "gmail.users.settings.getPop",
              "httpMethod": "GET",
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Gets POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "response": {
                "$ref": "PopSettings"
              }
            },
            "updatePop": {
              "request": {
                "$ref": "PopSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "response": {
                "$ref": "PopSettings"
              },
              "description": "Updates POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me"
                }
              },
              "id": "gmail.users.settings.updatePop",
              "httpMethod": "PUT",
              "path": "gmail/v1/users/{userId}/settings/pop"
            },
            "getAutoForwarding": {
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "gmail.users.settings.getAutoForwarding",
              "httpMethod": "GET",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "response": {
                "$ref": "AutoForwarding"
              },
              "description": "Gets the auto-forwarding setting for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ]
            },
            "updateLanguage": {
              "request": {
                "$ref": "LanguageSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "response": {
                "$ref": "LanguageSettings"
              },
              "description": "Updates language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "gmail.users.settings.updateLanguage",
              "httpMethod": "PUT",
              "path": "gmail/v1/users/{userId}/settings/language"
            },
            "updateAutoForwarding": {
              "request": {
                "$ref": "AutoForwarding"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "response": {
                "$ref": "AutoForwarding"
              },
              "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ],
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "gmail.users.settings.updateAutoForwarding",
              "httpMethod": "PUT",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding"
            },
            "getVacation": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "response": {
                "$ref": "VacationSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "id": "gmail.users.settings.getVacation",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "required": true,
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "getImap": {
              "description": "Gets IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "response": {
                "$ref": "ImapSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/imap",
              "id": "gmail.users.settings.getImap",
              "httpMethod": "GET",
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "type": "string",
                  "default": "me",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                }
              }
            }
          },
          "resources": {
            "filters": {
              "methods": {
                "get": {
                  "parameters": {
                    "id": {
                      "description": "The ID of the filter to be fetched.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "userId": {
                      "default": "me",
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "id": "gmail.users.settings.filters.get",
                  "httpMethod": "GET",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "response": {
                    "$ref": "Filter"
                  },
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "description": "Gets a filter. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings)."
                },
                "list": {
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "response": {
                    "$ref": "ListFiltersResponse"
                  },
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "description": "Lists the message filters of a Gmail user. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings).",
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "id": "gmail.users.settings.filters.list",
                  "httpMethod": "GET",
                  "path": "gmail/v1/users/{userId}/settings/filters"
                },
                "delete": {
                  "id": "gmail.users.settings.filters.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "type": "string",
                      "location": "path"
                    },
                    "id": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the filter to be deleted.",
                      "type": "string"
                    }
                  },
                  "description": "Immediately and permanently deletes the specified filter. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings).",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}"
                },
                "create": {
                  "parameters": {
                    "userId": {
                      "required": true,
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "id": "gmail.users.settings.filters.create",
                  "httpMethod": "POST",
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "request": {
                    "$ref": "Filter"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "response": {
                    "$ref": "Filter"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "description": "Creates a filter. Note: you can only create a maximum of 1,000 filters. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings)."
                }
              }
            },
            "delegates": {
              "methods": {
                "list": {
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "id": "gmail.users.settings.delegates.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Lists the delegates for the specified account. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "response": {
                    "$ref": "ListDelegatesResponse"
                  }
                },
                "delete": {
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "description": "Removes the specified delegate (which can be of any verification status), and revokes any verification that may have been required for using it. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). A delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "id": "gmail.users.settings.delegates.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true
                    },
                    "delegateEmail": {
                      "location": "path",
                      "required": true,
                      "description": "The email address of the user to be removed as a delegate.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "Delegate"
                  },
                  "description": "Adds a delegate with its verification status set directly to `accepted`, without sending any verification email. The delegate user must be a member of the same Google Workspace organization as the delegator user. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). Gmail imposes limitations on the number of delegates and delegators each user in a Google Workspace organization can have. These limits depend on your organization, but in general each user can have up to 25 delegates and up to 10 delegators. A delegate user must be referred to by their primary email address, and not an email alias. When a new delegate is created, there may be up to a one minute delay before the new delegate is available for use. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "response": {
                    "$ref": "Delegate"
                  },
                  "id": "gmail.users.settings.delegates.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/delegates"
                },
                "get": {
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "type": "string"
                    },
                    "delegateEmail": {
                      "location": "path",
                      "required": true,
                      "description": "The email address of the user whose delegate relationship is to be retrieved.",
                      "type": "string"
                    }
                  },
                  "id": "gmail.users.settings.delegates.get",
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "response": {
                    "$ref": "Delegate"
                  },
                  "description": "Gets the specified delegate. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). A delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ]
                }
              }
            },
            "cse": {
              "resources": {
                "keypairs": {
                  "methods": {
                    "disable": {
                      "request": {
                        "$ref": "DisableCseKeyPairRequest"
                      },
                      "description": "Turns off a client-side encryption key pair. The authenticated user can no longer use the key pair to decrypt incoming CSE message texts or sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on the key pair. After 30 days, you can permanently delete the key pair by using the ObliterateCseKeyPair method. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "id": "gmail.users.settings.cse.keypairs.disable",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "parameters": {
                        "keyPairId": {
                          "description": "The identifier of the key pair to turn off.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "userId": {
                          "type": "string",
                          "location": "path",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "default": "me"
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable"
                    },
                    "get": {
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "parameters": {
                        "keyPairId": {
                          "description": "The identifier of the key pair to retrieve.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "default": "me",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "gmail.users.settings.cse.keypairs.get",
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "description": "Retrieves an existing client-side encryption key pair. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "list": {
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "parameters": {
                        "pageToken": {
                          "description": "Pagination token indicating which page of key pairs to return. If the token is not supplied, then the API will return the first page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "default": "20",
                          "format": "int32",
                          "description": "The number of key pairs to return. If not provided, the page size will default to 20 entries.",
                          "location": "query",
                          "type": "integer"
                        },
                        "userId": {
                          "location": "path",
                          "type": "string",
                          "default": "me",
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`."
                        }
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "id": "gmail.users.settings.cse.keypairs.list",
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "response": {
                        "$ref": "ListCseKeyPairsResponse"
                      },
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "description": "Lists client-side encryption key pairs for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
                    },
                    "enable": {
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "parameters": {
                        "keyPairId": {
                          "description": "The identifier of the key pair to turn on.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "userId": {
                          "location": "path",
                          "type": "string",
                          "default": "me",
                          "required": true,
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`."
                        }
                      },
                      "id": "gmail.users.settings.cse.keypairs.enable",
                      "httpMethod": "POST",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "request": {
                        "$ref": "EnableCseKeyPairRequest"
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "description": "Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "obliterate": {
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate",
                      "id": "gmail.users.settings.cse.keypairs.obliterate",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "parameters": {
                        "keyPairId": {
                          "location": "path",
                          "required": true,
                          "description": "The identifier of the key pair to obliterate.",
                          "type": "string"
                        },
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "required": true,
                          "default": "me",
                          "type": "string",
                          "location": "path"
                        }
                      },
[...]
