{
  "rootUrl": "https://gmail.googleapis.com/",
  "revision": "20260907",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/gmail/api/",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        }
      }
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "version": "v1",
  "resources": {
    "users": {
      "methods": {
        "watch": {
          "request": {
            "$ref": "WatchRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "id": "gmail.users.watch",
          "description": "Set up or update a push notification watch on the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push).",
          "parameters": {
            "userId": {
              "required": true,
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "location": "path",
              "default": "me"
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "flatPath": "gmail/v1/users/{userId}/watch",
          "response": {
            "$ref": "WatchResponse"
          },
          "path": "gmail/v1/users/{userId}/watch"
        },
        "getProfile": {
          "parameters": {
            "userId": {
              "required": true,
              "type": "string",
              "default": "me",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "userId"
          ],
          "id": "gmail.users.getProfile",
          "description": "Gets the current user's Gmail profile.",
          "httpMethod": "GET",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "path": "gmail/v1/users/{userId}/profile",
          "response": {
            "$ref": "Profile"
          },
          "flatPath": "gmail/v1/users/{userId}/profile"
        },
        "stop": {
          "httpMethod": "POST",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "flatPath": "gmail/v1/users/{userId}/stop",
          "parameters": {
            "userId": {
              "required": true,
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "location": "path",
              "default": "me"
            }
          },
          "path": "gmail/v1/users/{userId}/stop",
          "parameterOrder": [
            "userId"
          ],
          "id": "gmail.users.stop",
          "description": "Turn off push notification delivery for the given user mailbox. For more information, see [Configure push notifications in Gmail API](https://developers.google.com/workspace/gmail/api/guides/push)."
        }
      },
      "resources": {
        "threads": {
          "methods": {
            "delete": {
              "flatPath": "gmail/v1/users/{userId}/threads/{id}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://mail.google.com/"
              ],
              "id": "gmail.users.threads.delete",
              "description": "Immediately and permanently deletes the specified thread. Any messages that belong to the thread are also deleted. This operation cannot be undone. Prefer `threads.trash` instead. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "id": {
                  "description": "ID of the Thread to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "trash": {
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.threads.trash",
              "description": "Moves the specified thread to the trash. Any messages that belong to the thread are also moved to the trash. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the thread to Trash.",
                  "location": "path"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/trash",
              "response": {
                "$ref": "Thread"
              },
              "path": "gmail/v1/users/{userId}/threads/{id}/trash"
            },
            "untrash": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the thread to remove from Trash.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "gmail.users.threads.untrash",
              "description": "Removes the specified thread from the trash. Any messages that belong to the thread are also removed from the trash. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/threads/{id}/untrash",
              "response": {
                "$ref": "Thread"
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/untrash"
            },
            "get": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the thread to retrieve.",
                  "location": "path"
                },
                "format": {
                  "enum": [
                    "full",
                    "metadata",
                    "minimal"
                  ],
                  "default": "full",
                  "description": "The format to return the messages in.",
                  "location": "query",
                  "enumDescriptions": [
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message IDs, labels, and email headers.",
                    "Returns only email message IDs and labels; does not return the email headers, body, or payload."
                  ],
                  "type": "string"
                },
                "metadataHeaders": {
                  "type": "string",
                  "description": "When given and format is METADATA, only include headers specified.",
                  "location": "query",
                  "repeated": true
                }
              },
              "id": "gmail.users.threads.get",
              "description": "Gets the specified thread. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/threads/{id}",
              "response": {
                "$ref": "Thread"
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query"
                },
                "q": {
                  "type": "string",
                  "description": "Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
                  "location": "query"
                },
                "userId": {
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "includeSpamTrash": {
                  "default": "false",
                  "type": "boolean",
                  "description": "Include threads from `SPAM` and `TRASH` in the results.",
                  "location": "query"
                },
                "maxResults": {
                  "description": "Maximum number of threads to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "location": "query",
                  "default": "100",
                  "type": "integer",
                  "format": "uint32"
                },
                "labelIds": {
                  "description": "Only return threads with labels that match all of the specified label IDs.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.threads.list",
              "description": "Lists the threads in the user's mailbox. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "response": {
                "$ref": "ListThreadsResponse"
              },
              "flatPath": "gmail/v1/users/{userId}/threads",
              "path": "gmail/v1/users/{userId}/threads"
            },
            "modify": {
              "path": "gmail/v1/users/{userId}/threads/{id}/modify",
              "response": {
                "$ref": "Thread"
              },
              "flatPath": "gmail/v1/users/{userId}/threads/{id}/modify",
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the thread to modify.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "id": "gmail.users.threads.modify",
              "description": "Modifies the labels applied to the thread. This applies to all messages in the thread. For more information, see [Manage threads](https://developers.google.com/workspace/gmail/api/guides/threads).",
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "request": {
                "$ref": "ModifyThreadRequest"
              }
            }
          }
        },
        "drafts": {
          "methods": {
            "delete": {
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                },
                "id": {
                  "description": "The ID of the draft to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "gmail.users.drafts.delete",
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "httpMethod": "DELETE",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}"
            },
            "send": {
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                },
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160"
              },
              "request": {
                "$ref": "Draft"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "id": "gmail.users.drafts.send",
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "supportsMediaUpload": true,
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "response": {
                "$ref": "Message"
              },
              "path": "gmail/v1/users/{userId}/drafts/send"
            },
            "create": {
              "response": {
                "$ref": "Draft"
              },
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "path": "gmail/v1/users/{userId}/drafts",
              "httpMethod": "POST",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "mediaUpload": {
                "maxSize": "36700160",
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  }
                }
              },
              "request": {
                "$ref": "Draft"
              },
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.drafts.create",
              "description": "Creates a draft with the `DRAFT` label. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "supportsMediaUpload": true
            },
            "get": {
              "id": "gmail.users.drafts.get",
              "description": "Gets the specified draft. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "parameters": {
                "format": {
                  "default": "full",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "description": "The format to return the draft in.",
                  "location": "query",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "type": "string"
                },
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me"
                },
                "id": {
                  "description": "The ID of the draft to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "response": {
                "$ref": "Draft"
              }
            },
            "list": {
              "response": {
                "$ref": "ListDraftsResponse"
              },
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "path": "gmail/v1/users/{userId}/drafts",
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "maxResults": {
                  "default": "100",
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "location": "query",
                  "type": "integer",
                  "format": "uint32"
                },
                "includeSpamTrash": {
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "location": "query",
                  "type": "boolean",
                  "default": "false"
                },
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query"
                },
                "q": {
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "gmail.users.drafts.list",
              "description": "Lists the drafts in the user's mailbox. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts)."
            },
            "update": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "type": "string"
                },
                "id": {
                  "description": "The ID of the draft to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "supportsMediaUpload": true,
              "id": "gmail.users.drafts.update",
              "description": "Replaces a draft's content. For more information, see [Create and send draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).",
              "httpMethod": "PUT",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "request": {
                "$ref": "Draft"
              },
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "response": {
                "$ref": "Draft"
              },
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}"
            }
          }
        },
        "settings": {
          "methods": {
            "getImap": {
              "id": "gmail.users.settings.getImap",
              "description": "Gets IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/imap",
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "response": {
                "$ref": "ImapSettings"
              }
            },
            "updatePop": {
              "path": "gmail/v1/users/{userId}/settings/pop",
              "response": {
                "$ref": "PopSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "gmail.users.settings.updatePop",
              "description": "Updates POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "request": {
                "$ref": "PopSettings"
              }
            },
            "getLanguage": {
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "id": "gmail.users.settings.getLanguage",
              "description": "Gets language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings).",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "response": {
                "$ref": "LanguageSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/language"
            },
            "updateLanguage": {
              "response": {
                "$ref": "LanguageSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "path": "gmail/v1/users/{userId}/settings/language",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "request": {
                "$ref": "LanguageSettings"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.updateLanguage",
              "description": "Updates language settings. For more information, see [Manage language settings](https://developers.google.com/workspace/gmail/api/guides/language-settings). If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead."
            },
            "updateAutoForwarding": {
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "response": {
                "$ref": "AutoForwarding"
              },
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "request": {
                "$ref": "AutoForwarding"
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ],
              "id": "gmail.users.settings.updateAutoForwarding",
              "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me"
                }
              }
            },
            "updateVacation": {
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "id": "gmail.users.settings.updateVacation",
              "description": "Updates vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "request": {
                "$ref": "VacationSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "response": {
                "$ref": "VacationSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/vacation"
            },
            "getVacation": {
              "response": {
                "$ref": "VacationSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "gmail.users.settings.getVacation",
              "description": "Gets vacation responder settings. For more information, see [Manage vacation settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings)."
            },
            "getPop": {
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "id": "gmail.users.settings.getPop",
              "description": "Gets POP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings).",
              "response": {
                "$ref": "PopSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "path": "gmail/v1/users/{userId}/settings/pop"
            },
            "getAutoForwarding": {
              "id": "gmail.users.settings.getAutoForwarding",
              "description": "Gets the auto-forwarding setting for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "response": {
                "$ref": "AutoForwarding"
              }
            },
            "updateImap": {
              "response": {
                "$ref": "ImapSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "path": "gmail/v1/users/{userId}/settings/imap",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "request": {
                "$ref": "ImapSettings"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me"
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.updateImap",
              "description": "Updates IMAP settings. For more information, see [Configure POP and IMAP settings with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/pop_imap_settings)."
            }
          },
          "resources": {
            "forwardingAddresses": {
              "methods": {
                "list": {
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "response": {
                    "$ref": "ListForwardingAddressesResponse"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "parameterOrder": [
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path"
                    }
                  },
                  "id": "gmail.users.settings.forwardingAddresses.list",
                  "description": "Lists the forwarding addresses for the specified account. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "id": "gmail.users.settings.forwardingAddresses.get",
                  "description": "Gets the specified forwarding address. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).",
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "default": "me"
                    },
                    "forwardingEmail": {
                      "required": true,
                      "type": "string",
                      "description": "The forwarding address to be retrieved.",
                      "location": "path"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "response": {
                    "$ref": "ForwardingAddress"
                  },
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}"
                },
                "create": {
                  "id": "gmail.users.settings.forwardingAddresses.create",
                  "description": "Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "parameterOrder": [
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ForwardingAddress"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "response": {
                    "$ref": "ForwardingAddress"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path"
                    },
                    "forwardingEmail": {
                      "required": true,
                      "type": "string",
                      "description": "The forwarding address to be deleted.",
                      "location": "path"
                    }
                  },
                  "id": "gmail.users.settings.forwardingAddresses.delete",
                  "description": "Deletes the specified forwarding address and revokes any verification that may have been required. For more information, see [Manage email forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings). This method is only available to service account clients that have been delegated domain-wide authority."
                }
              }
            },
            "delegates": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "delegateEmail": {
                      "required": true,
                      "type": "string",
                      "description": "The email address of the user to be removed as a delegate.",
                      "location": "path"
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "id": "gmail.users.settings.delegates.delete",
                  "description": "Removes the specified delegate (which can be of any verification status), and revokes any verification that may have been required for using it. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). A delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority."
                },
                "create": {
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "response": {
                    "$ref": "Delegate"
                  },
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "request": {
                    "$ref": "Delegate"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "id": "gmail.users.settings.delegates.create",
                  "description": "Adds a delegate with its verification status set directly to `accepted`, without sending any verification email. The delegate user must be a member of the same Google Workspace organization as the delegator user. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). Gmail imposes limitations on the number of delegates and delegators each user in a Google Workspace organization can have. These limits depend on your organization, but in general each user can have up to 25 delegates and up to 10 delegators. A delegate user must be referred to by their primary email address, and not an email alias. When a new delegate is created, there may be up to a one minute delay before the new delegate is available for use. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "parameterOrder": [
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "id": "gmail.users.settings.delegates.list",
                  "description": "Lists the delegates for the specified account. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). This method is only available to service account clients that have been delegated domain-wide authority.",
                  "parameterOrder": [
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "default": "me"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "response": {
                    "$ref": "ListDelegatesResponse"
                  },
                  "path": "gmail/v1/users/{userId}/settings/delegates"
                },
                "get": {
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "response": {
                    "$ref": "Delegate"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    },
                    "delegateEmail": {
                      "required": true,
                      "type": "string",
                      "description": "The email address of the user whose delegate relationship is to be retrieved.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "id": "gmail.users.settings.delegates.get",
                  "description": "Gets the specified delegate. For more information, see [Manage delegates](https://developers.google.com/workspace/gmail/api/guides/delegate_settings). A delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ]
                }
              }
            },
            "cse": {
              "resources": {
                "identities": {
                  "methods": {
                    "get": {
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "id": "gmail.users.settings.cse.identities.get",
                      "description": "Retrieves a client-side encryption identity configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "cseEmailAddress": {
                          "required": true,
                          "type": "string",
                          "description": "The primary email address associated with the client-side encryption identity configuration that's retrieved.",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListCseIdentitiesResponse"
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "The number of identities to return. If not provided, the page size will default to 20 entries.",
                          "location": "query",
                          "default": "20",
                          "type": "integer",
                          "format": "int32"
                        },
                        "userId": {
                          "required": true,
                          "type": "string",
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Pagination token indicating which page of identities to return. If the token is not supplied, then the API will return the first page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "id": "gmail.users.settings.cse.identities.list",
                      "description": "Lists the client-side encrypted identities for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
                    },
                    "patch": {
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "id": "gmail.users.settings.cse.identities.patch",
                      "description": "Associates a different key pair with an existing client-side encryption identity. The updated key pair must validate against Google's [S/MIME certificate profiles](https://support.google.com/a/answer/7300887). For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameterOrder": [
                        "userId",
                        "emailAddress"
                      ],
                      "parameters": {
                        "emailAddress": {
                          "required": true,
                          "type": "string",
                          "description": "The email address of the client-side encryption identity to update.",
                          "location": "path"
                        },
                        "userId": {
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "default": "me",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "response": {
                        "$ref": "CseIdentity"
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}"
                    },
                    "create": {
                      "id": "gmail.users.settings.cse.identities.create",
                      "description": "Creates and configures a client-side encryption identity that's authorized to send mail from the user account. Google publishes the S/MIME certificate to a shared domain-wide directory so that people within a Google Workspace organization can encrypt and send mail to the identity. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameterOrder": [
                        "userId"
                      ],
                      "parameters": {
                        "userId": {
                          "required": true,
                          "type": "string",
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/identities",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities",
                      "response": {
                        "$ref": "CseIdentity"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "parameters": {
                        "cseEmailAddress": {
                          "description": "The primary email address associated with the client-side encryption identity configuration that's removed.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "userId": {
                          "required": true,
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "default": "me"
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "id": "gmail.users.settings.cse.identities.delete",
                      "description": "Deletes a client-side encryption identity. The authenticated user can no longer use the identity to send encrypted messages. You cannot restore the identity after you delete it. Instead, use the CreateCseIdentity method to create another identity with the same configuration. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured."
                    }
                  }
                },
                "keypairs": {
                  "methods": {
                    "obliterate": {
                      "id": "gmail.users.settings.cse.keypairs.obliterate",
                      "description": "Deletes a client-side encryption key pair permanently and immediately. You can only permanently delete key pairs that have been turned off for more than 30 days. To turn off a key pair, use the DisableCseKeyPair method. Gmail can't restore or decrypt any messages that were encrypted by an obliterated key. Authenticated users and Google Workspace administrators lose access to reading the encrypted messages. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameters": {
                        "userId": {
                          "required": true,
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "default": "me"
                        },
                        "keyPairId": {
                          "required": true,
                          "type": "string",
                          "description": "The identifier of the key pair to obliterate.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "request": {
                        "$ref": "ObliterateCseKeyPairRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate"
                    },
                    "create": {
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "request": {
                        "$ref": "CseKeyPair"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "id": "gmail.users.settings.cse.keypairs.create",
                      "description": "Creates and uploads a client-side encryption S/MIME public key certificate chain and private key metadata for the authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "parameterOrder": [
                        "userId"
                      ],
                      "parameters": {
                        "chainValidation": {
                          "description": "The type of certificate chain validation to perform at creation. The request will be rejected if the uploaded chain fails to satisfy the requested validation checks. When unspecified, this parameter defaults to `all`.",
                          "location": "query",
                          "enumDescriptions": [
                            "Enable all certificate chain validation and certificate revocation checks. Recommended for normal use.",
                            "Disable all certificate chain validation and certificate revocation checks. This may be useful when deliberately creating key pairs with invalid, out-of-use certificate chains to be used only for decryption of historical S/MIME messages. Key pairs created with invalid or revoked certificates cannot be used in a CseIdentity object."
                          ],
                          "default": "all",
                          "enum": [
                            "all",
                            "none"
                          ],
                          "type": "string"
                        },
                        "userId": {
                          "required": true,
                          "type": "string",
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path"
                        }
                      }
                    },
                    "enable": {
                      "parameters": {
                        "userId": {
                          "default": "me",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "keyPairId": {
                          "required": true,
                          "type": "string",
                          "description": "The identifier of the key pair to turn on.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "id": "gmail.users.settings.cse.keypairs.enable",
                      "description": "Turns on a client-side encryption key pair that was turned off. The key pair becomes active again for any associated client-side encryption identities. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "request": {
                        "$ref": "EnableCseKeyPairRequest"
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "parameters": {
                        "userId": {
                          "required": true,
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "default": "me"
                        },
                        "keyPairId": {
                          "description": "The identifier of the key pair to retrieve.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "gmail.users.settings.cse.keypairs.get",
                      "description": "Retrieves an existing client-side encryption key pair. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameters": {
                        "userId": {
                          "required": true,
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "default": "me"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of key pairs to return. If not provided, the page size will default to 20 entries.",
                          "location": "query",
                          "default": "20"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Pagination token indicating which page of key pairs to return. If the token is not supplied, then the API will return the first page of results.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "userId"
                      ],
                      "id": "gmail.users.settings.cse.keypairs.list",
                      "description": "Lists client-side encryption key pairs for an authenticated user. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "response": {
                        "$ref": "ListCseKeyPairsResponse"
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs",
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs"
                    },
                    "disable": {
                      "path": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "response": {
                        "$ref": "CseKeyPair"
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable",
                      "parameterOrder": [
                        "userId",
                        "keyPairId"
                      ],
                      "parameters": {
                        "userId": {
                          "required": true,
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "default": "me"
                        },
                        "keyPairId": {
                          "description": "The identifier of the key pair to turn off.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "gmail.users.settings.cse.keypairs.disable",
                      "description": "Turns off a client-side encryption key pair. The authenticated user can no longer use the key pair to decrypt incoming CSE message texts or sign outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on the key pair. After 30 days, you can permanently delete the key pair by using the ObliterateCseKeyPair method. For administrators managing identities and keypairs for users in their organization, requests require authorization with a [service account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has [domain-wide delegation authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) to impersonate users with the `https://www.googleapis.com/auth/gmail.settings.basic` scope. For users managing their own identities and keypairs, requests require [hardware key encryption](https://support.google.com/a/answer/14153163) turned on and configured.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "request": {
                        "$ref": "DisableCseKeyPairRequest"
                      }
                    }
                  }
                }
              }
            },
            "filters": {
              "methods": {
                "create": {
                  "id": "gmail.users.settings.filters.create",
                  "description": "Creates a filter. Note: you can only create a maximum of 1,000 filters. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings).",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "request": {
                    "$ref": "Filter"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "response": {
                    "$ref": "Filter"
                  }
                },
                "delete": {
                  "id": "gmail.users.settings.filters.delete",
                  "description": "Immediately and permanently deletes the specified filter. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings).",
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "id": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the filter to be deleted.",
                      "location": "path"
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ]
                },
                "list": {
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "response": {
                    "$ref": "ListFiltersResponse"
                  },
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "id": "gmail.users.settings.filters.list",
                  "description": "Lists the message filters of a Gmail user. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings).",
                  "parameterOrder": [
                    "userId"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Filter"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "id": {
                      "description": "The ID of the filter to be fetched.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "id": "gmail.users.settings.filters.get",
                  "description": "Gets a filter. For more information, see [Manage Gmail filters](https://developers.google.com/workspace/gmail/api/guides/filter_settings)."
                }
              }
            },
            "sendAs": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "SendAs"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "id": "gmail.users.settings.sendAs.patch",
                  "description": "Patch the specified send-as alias. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "default": "me",
                      "required": true,
                      "type": "string"
                    },
                    "sendAsEmail": {
                      "required": true,
                      "type": "string",
                      "description": "The send-as alias to be updated.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "default": "me"
                    }
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "id": "gmail.users.settings.sendAs.list",
                  "description": "Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom \"from\" aliases. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
                  "response": {
                    "$ref": "ListSendAsResponse"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                  "path": "gmail/v1/users/{userId}/settings/sendAs"
                },
                "get": {
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "sendAsEmail": {
                      "required": true,
                      "type": "string",
                      "description": "The send-as alias to be retrieved.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "id": "gmail.users.settings.sendAs.get",
                  "description": "Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection. For more information, see [Manage aliases and signatures with the Gmail API](https://developers.google.com/workspace/gmail/api/guides/alias_and_signature_settings).",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
[...]
