{
  "baseUrl": "https://health.googleapis.com/",
  "description": "The Google Health API lets you view and manage health and fitness metrics and measurement data.",
  "ownerName": "Google",
  "rootUrl": "https://health.googleapis.com/",
  "canonicalName": "Google Health API",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "Google Health API",
  "basePath": "",
  "schemas": {
    "NutritionLog": {
      "id": "NutritionLog",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "SessionTimeInterval",
          "description": "Required. Observed interval."
        },
        "serving": {
          "$ref": "Serving",
          "description": "Optional. Value representing the nutrition log serving."
        },
        "energy": {
          "$ref": "EnergyQuantity",
          "description": "Optional. Value representing the energy of the nutrition log. For nutrition logs created from an identified food, this field will be populated based on the referenced food. For anonymous food, this field will be populated manually."
        },
        "food": {
          "type": "string",
          "description": "Required. Represents the food ID."
        },
        "energyFromFat": {
          "$ref": "EnergyQuantity",
          "description": "Optional. Value representing the energy from fat of the nutrition log. For nutrition logs created from an identified food, this field will be populated based on the referenced food. For anonymous food, this field will be populated manually."
        },
        "totalFat": {
          "$ref": "WeightQuantity",
          "description": "Optional. Value representing the total fat of the nutrition log. For nutrition logs created from an identified food, this field will be populated based on the referenced food. For anonymous food, this field will be populated manually."
        },
        "foodDisplayName": {
          "type": "string",
          "description": "Value representing the display name of the food. For nutrition logs created from an identified food, this field will be populated based on the referenced food. For anonymous food, this field will be populated manually."
        },
        "nutrients": {
          "items": {
            "$ref": "NutrientQuantity"
          },
          "description": "Optional. Value representing the nutrients of the nutrition log.",
          "type": "array"
        },
        "totalCarbohydrate": {
          "description": "Optional. Value representing the total carbohydrate of the nutrition log. For nutrition logs created from an identified food, this field will be populated based on the referenced food. For anonymous food, this field will be populated manually.",
          "$ref": "WeightQuantity"
        },
        "mealType": {
          "enumDescriptions": [
            "Unspecified meal type.",
            "Value representing a meal before breakfast.",
            "Value representing a breakfast.",
            "Value representing a morning snack.",
            "Value representing a lunch.",
            "Value representing an afternoon snack.",
            "Value representing dinner.",
            "Value representing an evening snack.",
            "Value representing any meal outside of the usual three meals per day.",
            "Value representing any time (legacy NA)."
          ],
          "enum": [
            "MEAL_TYPE_UNSPECIFIED",
            "BEFORE_BREAKFAST",
            "BREAKFAST",
            "BEFORE_LUNCH",
            "LUNCH",
            "BEFORE_DINNER",
            "DINNER",
            "AFTER_DINNER",
            "SNACK",
            "ANYTIME"
          ],
          "description": "Optional. Value representing the meal type of the nutrition log.",
          "type": "string"
        }
      },
      "description": "Holds information about a user logged food. There are two ways of creating a nutrition log based on the food type: 1. Identified food: Using the food field, which is a reference to a Food resource. In this case fields `nutrients`, `energy`, `energy_from_fat`, `total_carbohydrate`, `total_fat`, `food_display_name` will be populated based on the referenced food. 2. Anonymous food: Using the `food_display_name` field and setting the `nutrients`, `energy`, `energy_from_fat`, `total_carbohydrate`, `total_fat` fields manually. The identified food is preferred over the anonymous food. Nutrition logs created from anonymous food are not be editable."
    },
    "ActivityLevelRollupByActivityLevelType": {
      "id": "ActivityLevelRollupByActivityLevelType",
      "type": "object",
      "properties": {
        "activityLevelType": {
          "type": "string",
          "description": "Activity level type.",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ]
        },
        "totalDuration": {
          "type": "string",
          "description": "Total duration in the activity level type.",
          "format": "google-duration"
        }
      },
      "description": "Represents the total duration in a specific activity level type."
    },
    "Serving": {
      "id": "Serving",
      "type": "object",
      "properties": {
        "amount": {
          "description": "Optional. Amount of food consumed, fractional values are supported.",
          "format": "double",
          "type": "number"
        },
        "foodMeasurementUnit": {
          "type": "string",
          "description": "Required. Food measurement unit"
        },
        "foodMeasurementUnitDisplayName": {
          "description": "Output only. Legacy measurement unit for serving size in singular form (e.g. \"piece\", \"gram\").",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents different properties and information about the serving of a specific food."
    },
    "ExportExerciseTcxResponse": {
      "description": "Represents a Response for exporting exercise data in TCX format.",
      "id": "ExportExerciseTcxResponse",
      "type": "object",
      "properties": {
        "tcxData": {
          "description": "Contains the exported TCX data. This field is intended for gRPC clients, as media download integration is not supported for gRPC. HTTP clients should instead use the `alt=media` query parameter to download the raw binary TCX file.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "VolumeQuantity": {
      "id": "VolumeQuantity",
      "type": "object",
      "properties": {
        "milliliters": {
          "type": "number",
          "description": "Required. Value representing the volume in milliliters.",
          "format": "double"
        },
        "userProvidedUnit": {
          "type": "string",
          "description": "Optional. Value representing the user provided unit, used only for user-facing input and display purposes. In the API format, all volume quantities are converted to milliliters.",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ]
        }
      },
      "description": "Represents the volume quantity."
    },
    "SwimLengthsDataRollupValue": {
      "description": "Represents the result of the rollup of the swim lengths data type.",
      "id": "SwimLengthsDataRollupValue",
      "type": "object",
      "properties": {
        "strokeCountSum": {
          "description": "Total number of swim strokes in the interval.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DateTime": {
      "id": "DateTime",
      "type": "object",
      "properties": {
        "month": {
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration",
          "type": "string"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32"
        },
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        }
      },
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "ActiveMinutesByActivityLevel": {
      "id": "ActiveMinutesByActivityLevel",
      "type": "object",
      "properties": {
        "activityLevel": {
          "type": "string",
          "description": "Required. The level of activity.",
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ]
        },
        "activeMinutes": {
          "description": "Required. Number of whole minutes spent in activity.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Active minutes at a given activity level."
    },
    "CoreBodyTemperatureRollupValue": {
      "id": "CoreBodyTemperatureRollupValue",
      "type": "object",
      "properties": {
        "temperatureCelsiusAvg": {
          "type": "number",
          "description": "Average core body temperature in Celsius.",
          "format": "double"
        },
        "temperatureCelsiusMax": {
          "description": "Maximum core body temperature in Celsius.",
          "format": "double",
          "type": "number"
        },
        "temperatureCelsiusMin": {
          "type": "number",
          "description": "Minimum core body temperature in Celsius.",
          "format": "double"
        }
      },
      "description": "Represents the result of the rollup of the core body temperature data type."
    },
    "HeartRateRollupValue": {
      "id": "HeartRateRollupValue",
      "type": "object",
      "properties": {
        "beatsPerMinuteMax": {
          "description": "The maximum heart rate value in the interval.",
          "format": "double",
          "type": "number"
        },
        "beatsPerMinuteMin": {
          "description": "The minimum heart rate value in the interval.",
          "format": "double",
          "type": "number"
        },
        "beatsPerMinuteAvg": {
          "type": "number",
          "description": "The average heart rate value in the interval.",
          "format": "double"
        }
      },
      "description": "Represents the result of the rollup of the heart rate data type."
    },
    "DailyRespiratoryRate": {
      "id": "DailyRespiratoryRate",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. The date on which the respiratory rate was measured.",
          "$ref": "Date"
        },
        "breathsPerMinute": {
          "description": "Required. The average number of breaths taken per minute.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "A daily average respiratory rate (breaths per minute) for a day of the year. One data point per day calculated for the main sleep."
    },
    "DailyRollupDataPoint": {
      "id": "DailyRollupDataPoint",
      "type": "object",
      "properties": {
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "weight": {
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier.",
          "$ref": "WeightRollupValue"
        },
        "civilEndTime": {
          "$ref": "CivilDateTime",
          "description": "End time of the window this value aggregates over"
        },
        "nutritionLog": {
          "description": "Returned by default when rolling up data points from the `nutrition-log` data type, or when requested explicitly using the `nutrition-log` rollup type identifier.",
          "$ref": "NutritionLogRollupValue"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "bodyFat": {
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier.",
          "$ref": "BodyFatRollupValue"
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "coreBodyTemperature": {
          "$ref": "CoreBodyTemperatureRollupValue",
          "description": "Returned by default when rolling up data points from the `core-body-temperature` data type, or when requested explicitly using the `core-body-temperature` rollup type identifier."
        },
        "heartRate": {
          "$ref": "HeartRateRollupValue",
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier."
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "bloodGlucose": {
          "description": "Returned by default when rolling up data points from the `blood-glucose` data type.",
          "$ref": "BloodGlucoseRollupValue"
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutesRollupValue",
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier."
        },
        "floors": {
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier.",
          "$ref": "FloorsRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier.",
          "$ref": "RestingHeartRatePersonalRangeRollupValue"
        },
        "totalCalories": {
          "$ref": "TotalCaloriesRollupValue",
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier."
        },
        "civilStartTime": {
          "$ref": "CivilDateTime",
          "description": "Start time of the window this value aggregates over"
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "timeInHeartRateZone": {
          "$ref": "TimeInHeartRateZoneRollupValue",
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier."
        },
        "activeEnergyBurned": {
          "description": "Returned by default when rolling up data points from the `active-energy-burned` data type.",
          "$ref": "ActiveEnergyBurnedRollupValue"
        },
        "runVo2Max": {
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier.",
          "$ref": "RunVO2MaxRollupValue"
        },
        "heartRateVariabilityPersonalRange": {
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue",
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier."
        },
        "steps": {
          "$ref": "StepsRollupValue",
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier."
        },
        "swimLengthsData": {
          "$ref": "SwimLengthsDataRollupValue",
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier."
        }
      },
      "description": "Value of a daily rollup for a single civil time interval (aggregation window) of reconciled data points from all data sources, excluding those data points that are identified as recorded by wearables in intervals when they were not actually worn."
    },
    "WeightRollupValue": {
      "id": "WeightRollupValue",
      "type": "object",
      "properties": {
        "weightGramsAvg": {
          "type": "number",
          "description": "Average weight in grams.",
          "format": "double"
        }
      },
      "description": "Represents the result of the rollup of the weight data type."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "AlertWindow": {
      "description": "An analysis window evaluated for AFib. Note: The current version of the algorithm will only produce alerts if all windows are positive. So anything returned from the API will always have the positive bit set to true. Internally, windows can be negative, however. We never save \"inconclusive\" windows (they aren't produced by the algorithm).",
      "id": "AlertWindow",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. Observed interval. The start time of the analysis window.",
          "format": "google-datetime"
        },
        "civilEndTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval"
        },
        "heartBeats": {
          "type": "array",
          "description": "Optional. All heart beats in the interval contained in this analysis window.",
          "items": {
            "$ref": "HeartBeat"
          }
        },
        "startUtcOffset": {
          "description": "Required. The UTC offset of the user's timezone when the analysis window started.",
          "format": "google-duration",
          "type": "string"
        },
        "civilStartTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval"
        },
        "positive": {
          "description": "Optional. Flag indicating whether the window was positive for AFib or not. A `true` value indicates that AFib was detected in this window. A `false` value means AFib was not detected, but does not guarantee the absence of AFib.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "description": "Required. The end time of the analysis window.",
          "format": "google-datetime"
        },
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The UTC offset of the user's timezone when the analysis window ended.",
          "format": "google-duration"
        }
      }
    },
    "ActiveEnergyBurnedRollupValue": {
      "id": "ActiveEnergyBurnedRollupValue",
      "type": "object",
      "properties": {
        "kcalSum": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Sum of the active energy burned in kilocalories.",
          "format": "double"
        }
      },
      "description": "Represents the result of the rollup of active energy burned."
    },
    "RunVO2Max": {
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min.",
      "id": "RunVO2Max",
      "type": "object",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which the metric was measured."
        },
        "runVo2Max": {
          "type": "number",
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "format": "double"
        }
      }
    },
    "TimeInHeartRateZoneRollupValue": {
      "id": "TimeInHeartRateZoneRollupValue",
      "type": "object",
      "properties": {
        "timeInHeartRateZones": {
          "type": "array",
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          },
          "description": "List of time spent in each heart rate zone."
        }
      },
      "description": "Represents the result of the rollup of the time in heart rate zone data type."
    },
    "EnergyQuantityRollup": {
      "description": "Rollup for the energy quantity.",
      "id": "EnergyQuantityRollup",
      "type": "object",
      "properties": {
        "userProvidedUnitLast": {
          "type": "string",
          "description": "Optional. The user provided unit on the last element.",
          "enumDescriptions": [
            "Unspecified energy unit.",
            "Value representing joule.",
            "Value representing kilojoule.",
            "Value representing kilocalorie.",
            "Value representing small calorie.",
            "Value representing calorie."
          ],
          "enum": [
            "ENERGY_UNIT_UNSPECIFIED",
            "JOULE",
            "KILOJOULE",
            "KILOCALORIE",
            "SMALL_CALORIE",
            "CALORIE"
          ]
        },
        "kcalSum": {
          "description": "Required. The sum of the energy in kilocalories.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "HeartRateVariability": {
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "id": "HeartRateVariability",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Google Health.",
          "format": "double",
          "type": "number"
        },
        "standardDeviationMilliseconds": {
          "description": "Optional. The standard deviation of the heart rate variability measurement.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ListDataPointsResponse": {
      "description": "Response containing raw data points matching the query",
      "id": "ListDataPointsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token, empty if the response is complete"
        },
        "dataPoints": {
          "type": "array",
          "description": "Data points matching the query",
          "items": {
            "$ref": "DataPoint"
          }
        }
      }
    },
    "RespiratoryRateSleepSummary": {
      "id": "RespiratoryRateSleepSummary",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which respiratory rate was measured.",
          "$ref": "ObservationSampleTime"
        },
        "lightSleepStats": {
          "description": "Optional. Respiratory rate statistics for light sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "fullSleepStats": {
          "description": "Required. Full respiratory rate statistics.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "deepSleepStats": {
          "$ref": "RespiratoryRateSleepSummaryStatistics",
          "description": "Optional. Respiratory rate statistics for deep sleep."
        },
        "remSleepStats": {
          "$ref": "RespiratoryRateSleepSummaryStatistics",
          "description": "Optional. Respiratory rate statistics for REM sleep."
        }
      },
      "description": "Records respiratory rate details during sleep. Can have multiple per day if the user sleeps multiple times."
    },
    "Height": {
      "description": "Body height measurement.",
      "id": "Height",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which the height was recorded.",
          "$ref": "ObservationSampleTime"
        },
        "heightMillimeters": {
          "type": "string",
          "description": "Required. Height of the user in millimeters.",
          "format": "int64"
        }
      }
    },
    "TimeInHeartRateZoneValue": {
      "description": "Represents the total time spent in a specific heart rate zone.",
      "id": "TimeInHeartRateZoneValue",
      "type": "object",
      "properties": {
        "heartRateZone": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "The heart rate zone.",
          "type": "string"
        },
        "duration": {
          "description": "The total time spent in the specified heart rate zone.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "BodyFatRollupValue": {
      "description": "Represents the result of the rollup of the body fat data type.",
      "id": "BodyFatRollupValue",
      "type": "object",
      "properties": {
        "bodyFatPercentageAvg": {
          "description": "Average body fat percentage.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ObservationSampleTime": {
      "description": "Represents a sample time of an observed data point.",
      "id": "ObservationSampleTime",
      "type": "object",
      "properties": {
        "utcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "civilTime": {
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        },
        "physicalTime": {
          "description": "Required. The time of the observation.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "id": "CaloriesInHeartRateZoneRollupValue",
      "type": "object",
      "properties": {
        "caloriesInHeartRateZones": {
          "type": "array",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          },
          "description": "List of calories burned in each heart rate zone."
        }
      },
      "description": "Represents the result of the rollup of the calories in heart rate zone data type."
    },
    "DailyVO2Max": {
      "id": "DailyVO2Max",
      "type": "object",
      "properties": {
        "estimated": {
          "type": "boolean",
          "description": "Optional. An estimated field is added to indicate when the confidence has decreased sufficiently to consider the value an estimation."
        },
        "vo2MaxCovariance": {
          "type": "number",
          "description": "Optional. The covariance of the VO2 max value.",
          "format": "double"
        },
        "vo2Max": {
          "type": "number",
          "description": "Required. Daily VO2 max value measured as in ml consumed oxygen / kg of body weight / min.",
          "format": "double"
        },
        "date": {
          "description": "Required. The date for which the Daily VO2 max was measured.",
          "$ref": "Date"
        },
        "cardioFitnessLevel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified cardio fitness level.",
            "Poor cardio fitness level.",
            "Fair cardio fitness level.",
            "Average cardio fitness level.",
            "Good cardio fitness level.",
            "Very good cardio fitness level.",
            "Excellent cardio fitness level."
          ],
          "enum": [
            "CARDIO_FITNESS_LEVEL_UNSPECIFIED",
            "POOR",
            "FAIR",
            "AVERAGE",
            "GOOD",
            "VERY_GOOD",
            "EXCELLENT"
          ],
          "description": "Optional. Represents the user's cardio fitness level based on their VO2 max."
        }
      },
      "description": "Contains a daily summary of the user's VO2 max (cardio fitness score), which is the maximum rate of oxygen the body can use during exercise."
    },
    "HeartBeat": {
      "id": "HeartBeat",
      "type": "object",
      "properties": {
        "beatsPerMinute": {
          "type": "integer",
          "description": "Required. The beats-per-minute value extrapolated from the time before the following heart beat. This is calculated as 60000 / rr, where rr is the gap between heart beats in milliseconds (IBI - Interbeat Interval).",
          "format": "int32"
        },
        "physicalTime": {
          "type": "string",
          "description": "Required. The time of the heart beat measurement.",
          "format": "google-datetime"
        },
        "utcOffset": {
          "type": "string",
          "description": "Required. The UTC offset of the user's timezone when the heart beat measurement occurred.",
          "format": "google-duration"
        },
        "civilTime": {
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "readOnly": true,
          "$ref": "CivilDateTime"
        }
      },
      "description": "A single heart beat measurement."
    },
    "ActiveEnergyBurned": {
      "id": "ActiveEnergyBurned",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval",
          "$ref": "ObservationTimeInterval"
        },
        "kcal": {
          "description": "Required. Energy burned during an activity, measured in kilocalories.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Energy burned as part of an activity, excluding the basal energy burn."
    },
    "OutOfBedSegment": {
      "description": "A time interval to represent an out-of-bed segment.",
      "id": "OutOfBedSegment",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required. Segment tart time.",
          "format": "google-datetime",
          "type": "string"
        },
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the segment relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Required. Segment end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "startUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the start of the segment relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        }
      }
    },
    "CreateSubscriptionPayload": {
      "id": "CreateSubscriptionPayload",
      "type": "object",
      "properties": {
        "dataTypes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Data types subscribed to.",
          "type": "array"
        },
        "user": {
          "description": "Required. Immutable. The resource name of the user for whom this subscription is active. Format: `users/{user}` where `{user}` is the public `healthUserId` as returned by the `GetIdentity` action in the profile PAPI (see `google.devicesandservices.health.v4main.HealthProfileService.GetIdentity`).",
          "type": "string"
        }
      },
      "description": "Payload for creating a subscription."
    },
    "Distance": {
      "id": "Distance",
      "type": "object",
      "properties": {
        "millimeters": {
          "type": "string",
          "description": "Required. Distance in millimeters over the observed interval.",
          "format": "int64"
        },
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        }
      },
      "description": "Distance traveled over an interval of time."
    },
    "HeartRate": {
      "description": "A heart rate measurement.",
      "id": "HeartRate",
      "type": "object",
      "properties": {
        "beatsPerMinute": {
          "description": "Required. The heart rate value in beats per minute.",
          "format": "int64",
          "type": "string"
        },
        "metadata": {
          "$ref": "HeartRateMetadata",
          "description": "Optional. Metadata about the heart rate sample."
        },
        "sampleTime": {
          "description": "Required. Observation time",
          "$ref": "ObservationSampleTime"
        }
      }
    },
    "BodyFat": {
      "id": "BodyFat",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which body fat was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "description": "Required. Body fat percentage, in range [0, 100].",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Body fat measurement."
    },
    "Settings": {
      "description": "Settings details.",
      "id": "Settings",
      "type": "object",
      "properties": {
        "swimUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ],
          "type": "string"
        },
        "waterUnit": {
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ],
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string"
        },
        "temperatureUnit": {
          "type": "string",
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings."
        },
        "glucoseUnit": {
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ],
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "type": "string"
        },
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        },
        "distanceUnit": {
          "type": "string",
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ],
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported."
        },
        "strideLengthRunningType": {
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported."
        },
        "name": {
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "autoStrideEnabled": {
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported.",
          "type": "boolean"
        },
        "heightUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ],
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ]
        },
        "strideLengthWalkingType": {
          "type": "string",
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported."
        },
        "utcOffset": {
          "type": "string",
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported.",
          "format": "google-duration"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported."
        },
        "foodLanguageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The food language code derived from the user's food database. Possible values: `'en-US'`, `'en-GB'`, `'de-DE'`, `'es-ES'`, `'fr-FR'`, `'zh-CN'`, `'zh-TW'`, `'ja-JP'`, `'en-AU'`, `'en-CA'`, `'it-IT'`, `'ko-KR'`, `'es-MX'`, `'en-IN'`, `'en-SG'`, `'en-PH'`, `'en-IE'`, `'fr-CA'`. Updates to this field are currently not supported."
        },
        "weightUnit": {
          "type": "string",
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ],
          "description": "Optional. The measurement unit defined in the user's account settings."
        }
      }
    },
    "DailyHeartRateZones": {
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day.",
      "id": "DailyHeartRateZones",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. Date (in user's timezone) of the heart rate zones record.",
          "$ref": "Date"
        },
        "heartRateZones": {
          "type": "array",
          "items": {
            "$ref": "HeartRateZone"
          },
          "description": "Required. The heart rate zones."
        }
      }
    },
    "ActivityLevelRollupValue": {
      "id": "ActivityLevelRollupValue",
      "type": "object",
      "properties": {
        "activityLevelRollupsByActivityLevelType": {
          "type": "array",
          "items": {
            "$ref": "ActivityLevelRollupByActivityLevelType"
          },
          "description": "List of total durations in each activity level type."
        }
      },
      "description": "Represents the result of the rollup of the activity level data type."
    },
    "BasalEnergyBurned": {
      "description": "Number of calories burned due to basal metabolic rate (BMR) over a period of time.",
      "id": "BasalEnergyBurned",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "kcal": {
          "type": "number",
          "description": "Required. Number of calories burned due to basal metabolic rate in kilocalories over the observed interval.",
          "format": "double"
        }
      }
    },
    "CoreBodyTemperature": {
      "description": "Core body temperature measurement, distinct from peripheral body temperature, reflects the temperature of the body's internal organs.",
      "id": "CoreBodyTemperature",
      "type": "object",
      "properties": {
        "temperatureCelsius": {
          "type": "number",
          "description": "Required. The core body temperature in Celsius.",
          "format": "double"
        },
        "measurementLocation": {
          "description": "Optional. The location of the core body temperature measurement.",
          "enumDescriptions": [
            "Measurement location is unspecified.",
            "Other measurement location.",
            "Armpit measurement location.",
            "Body measurement location.",
            "Ear measurement location.",
            "Finger measurement location.",
            "Gastro-intestinal measurement location.",
            "Mouth measurement location.",
            "Rectum measurement location.",
            "Toe measurement location.",
            "Ear drum measurement location.",
            "Temporal artery measurement location.",
            "Forehead measurement location.",
            "Urinary bladder measurement location.",
            "Nasal measurement location.",
            "Nasopharyngeal measurement location.",
            "Wrist measurement location.",
            "Vagina measurement location."
          ],
          "enum": [
            "MEASUREMENT_LOCATION_UNSPECIFIED",
            "OTHER",
            "ARMPIT",
            "BODY",
            "EAR",
            "FINGER",
            "GASTRO_INTESTINAL",
            "MOUTH",
            "RECTUM",
            "TOE",
            "EAR_DRUM",
            "TEMPORAL_ARTERY",
            "FOREHEAD",
            "URINARY_BLADDER",
            "NASAL",
            "NASOPHARYNGEAL",
            "WRIST",
            "VAGINA"
          ],
          "type": "string"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which core body temperature was measured."
        },
        "id": {
          "description": "Optional. The unique identifier of the core body temperature measurement.",
          "type": "string"
        }
      }
    },
    "OxygenSaturation": {
      "id": "OxygenSaturation",
      "type": "object",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which oxygen saturation was measured.",
          "$ref": "ObservationSampleTime"
        },
        "percentage": {
          "type": "number",
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "format": "double"
        }
      },
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2)."
    },
    "EnergyQuantity": {
      "id": "EnergyQuantity",
      "type": "object",
      "properties": {
        "kcal": {
          "description": "Required. Value representing the energy in kilocalories.",
          "format": "double",
          "type": "number"
        },
        "userProvidedUnit": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified energy unit.",
            "Value representing joule.",
            "Value representing kilojoule.",
            "Value representing kilocalorie.",
            "Value representing small calorie.",
            "Value representing calorie."
          ],
          "enum": [
            "ENERGY_UNIT_UNSPECIFIED",
            "JOULE",
            "KILOJOULE",
            "KILOCALORIE",
            "SMALL_CALORIE",
            "CALORIE"
          ],
          "description": "Optional. Value representing the user provided unit."
        }
      },
      "description": "Represents the energy quantity."
    },
    "DataSource": {
      "id": "DataSource",
      "type": "object",
      "properties": {
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        },
        "recordingMethod": {
          "type": "string",
          "description": "Optional. Captures how the data was recorded.",
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ],
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ]
        },
        "application": {
          "description": "Output only. Captures metadata for the application that provided this data.",
          "readOnly": true,
          "$ref": "Application"
        },
        "platform": {
          "description": "Output only. Captures the platform that uploaded the data.",
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it)."
    },
    "Weight": {
      "description": "Body weight measurement.",
      "id": "Weight",
      "type": "object",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which the weight was measured"
        },
        "weightGrams": {
          "description": "Required. Weight of a user in grams.",
          "format": "double",
          "type": "number"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        }
      }
    },
    "ReconcileDataPointsResponse": {
      "id": "ReconcileDataPointsResponse",
      "type": "object",
      "properties": {
        "dataPoints": {
          "description": "Data points matching the query",
          "items": {
            "$ref": "ReconciledDataPoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token, empty if the response is complete"
        }
      },
      "description": "Response containing the list of reconciled DataPoints."
    },
    "ActiveMinutes": {
      "id": "ActiveMinutes",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeMinutesByActivityLevel": {
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          },
          "type": "array"
        }
      },
      "description": "Record of active minutes in a given time interval."
    },
    "Identity": {
      "description": "Represents details about the Google user's identity.",
      "id": "Identity",
      "type": "object",
      "properties": {
        "legacyUserId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`"
        },
        "healthUserId": {
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FoodMeasurementUnit": {
      "description": "Represents a food measurement unit.",
      "id": "FoodMeasurementUnit",
      "type": "object",
      "properties": {
        "pluralDisplayName": {
          "description": "Optional. The plural display name of the food measurement unit (e.g., \"grams\", \"pieces\").",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the food measurement unit (e.g., \"gram\", \"piece\").",
          "type": "string"
        }
      }
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "type": "object",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMin": {
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "format": "double",
          "type": "number"
        },
        "averageHeartRateVariabilityMillisecondsMax": {
          "type": "number",
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "format": "double"
        }
      }
    },
    "MetricsSummary": {
      "description": "Summary metrics for an exercise.",
      "id": "MetricsSummary",
      "type": "object",
      "properties": {
        "totalSwimLengths": {
          "type": "number",
          "description": "Optional. Number of full pool lengths completed during the exercise. Only present in the swimming exercises at the top level as in the summary of the whole exercise.",
          "format": "double"
        },
        "runVo2Max": {
          "description": "Optional. Run VO2 max value for the exercise. Only present in the running exercises at the top level as in the summary of the whole exercise.",
          "format": "double",
          "type": "number"
        },
        "caloriesKcal": {
          "description": "Optional. Total calories burned by the user during the exercise.",
          "format": "double",
          "type": "number"
        },
        "averageSpeedMillimetersPerSecond": {
          "description": "Optional. Average speed in millimeters per second.",
          "format": "double",
          "type": "number"
        },
        "averagePaceSecondsPerMeter": {
          "type": "number",
          "description": "Optional. Average pace in seconds per meter.",
          "format": "double"
        },
        "averageHeartRateBeatsPerMinute": {
          "type": "string",
          "description": "Optional. Average heart rate during the exercise.",
          "format": "int64"
        },
        "steps": {
          "type": "string",
          "description": "Optional. Total steps taken during the exercise.",
          "format": "int64"
        },
        "elevationGainMillimeters": {
          "type": "number",
          "description": "Optional. Total elevation gain during the exercise.",
          "format": "double"
        },
        "mobilityMetrics": {
          "description": "Optional. Mobility workouts specific metrics. Only present in the advanced running exercises.",
          "$ref": "MobilityMetrics"
        },
        "heartRateZoneDurations": {
          "$ref": "TimeInHeartRateZones",
          "description": "Optional. Time spent in each heart rate zone."
        },
        "activeZoneMinutes": {
          "type": "string",
          "description": "Optional. Total active zone minutes for the exercise.",
          "format": "int64"
        },
        "distanceMillimeters": {
          "description": "Optional. Total distance covered by the user during the exercise.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "SubscriberConfig": {
      "description": "Configuration for a subscriber. A notification is sent to a subscription ONLY if the subscriber has a config for the data type.",
      "id": "SubscriberConfig",
      "type": "object",
      "properties": {
        "dataTypes": {
          "type": "array",
          "description": "Required. See [Google Health API data types](https://developers.google.com/health/data-types) for the list of supported data types. Values should be in kebab-case.",
          "items": {
            "type": "string"
          }
        },
        "subscriptionCreatePolicy": {
          "enumDescriptions": [
            "Represents an unspecified policy.",
            "When using `AUTOMATIC`, individual subscriptions are not created or stored. Instead, eligibility for notifications is computed dynamically. When a data update occurs for a given data type, notifications are sent to all subscribers with an `AUTOMATIC` policy for that data type, provided the user has granted the necessary consents. This means you do not need to call `CreateSubscription` for each user; notifications are managed automatically based on user consents. As `Subscription` resources are not stored, they cannot be retrieved or managed through `GetSubscription`, `ListSubscriptions`, `UpdateSubscription`, or `DeleteSubscription`.",
            "Requires subscriptions to be created manually for new users. The developer needs to call CreateSubscription for new users."
          ],
          "enum": [
            "SUBSCRIPTION_CREATE_POLICY_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Required. Policy for subscription creation.",
          "type": "string"
        }
      }
    },
    "HydrationLogRollupValue": {
      "description": "Represents the result of the rollup of the hydration log data type.",
      "id": "HydrationLogRollupValue",
      "type": "object",
      "properties": {
        "amountConsumed": {
          "description": "Rollup for amount consumed.",
          "$ref": "VolumeQuantityRollup"
        }
      }
    },
    "RollUpDataPointsRequest": {
      "description": "Request to roll up data points by physical time intervals.",
      "id": "RollUpDataPointsRequest",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Optional. The next_page_token from a previous request, if any. All other request fields need to be the same as in the initial request when the page token is specified.",
          "type": "string"
        },
        "dataSourceFamily": {
          "description": "Optional. The data source family name to roll up. If empty, data points from all available data sources will be rolled up. Format: `users/me/dataSourceFamilies/{data_source_family}` The supported values are: - `users/me/dataSourceFamilies/all-sources` - default value - `users/me/dataSourceFamilies/google-wearables` - tracker devices - `users/me/dataSourceFamilies/google-sources` - Google first party sources",
          "type": "string"
        },
        "range": {
          "$ref": "Interval",
          "description": "Required. Closed-open range of data points that will be rolled up. The maximum range for `calories-in-heart-rate-zone`, `heart-rate`, `active-minutes` and `total-calories` is 14 days. The maximum range for all other data types is 90 days."
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly.",
          "format": "int32"
        },
        "windowSize": {
          "type": "string",
          "description": "Required. The size of the time window to group data points into before applying the aggregation functions.",
          "format": "google-duration"
        }
      }
    },
    "HydrationLog": {
      "description": "Holds information about a user logged hydration.",
      "id": "HydrationLog",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "SessionTimeInterval",
          "description": "Required. Observed interval."
        },
        "amountConsumed": {
          "$ref": "VolumeQuantity",
          "description": "Required. Amount of liquid (ex. water) consumed."
        }
      }
    },
    "ObservationTimeInterval": {
      "description": "Represents a time interval of an observed data point.",
      "id": "ObservationTimeInterval",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. Observed interval start time.",
          "format": "google-datetime"
        },
        "civilEndTime": {
          "readOnly": true,
          "$ref": "CivilDateTime",
          "description": "Output only. Observed interval end time in civil time in the timezone the subject is in at the end of the observed interval"
        },
        "endUtcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time at the end of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Required. Observed interval end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "startUtcOffset": {
          "description": "Required. The offset of the user's local time at the start of the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration",
          "type": "string"
        },
        "civilStartTime": {
          "description": "Output only. Observed interval start time in civil time in the timezone the subject is in at the start of the observed interval",
          "readOnly": true,
          "$ref": "CivilDateTime"
        }
      }
    },
    "RespiratoryRateSleepSummaryStatistics": {
      "description": "Respiratory rate statistics for a given sleep stage.",
      "id": "RespiratoryRateSleepSummaryStatistics",
      "type": "object",
      "properties": {
        "signalToNoise": {
          "description": "Optional. How trustworthy the data is for the computation.",
          "format": "double",
          "type": "number"
        },
        "standardDeviation": {
          "type": "number",
          "description": "Optional. Standard deviation of the respiratory rate during sleep.",
          "format": "double"
        },
        "breathsPerMinute": {
          "type": "number",
          "description": "Required. Average breaths per minute.",
          "format": "double"
        }
      }
    },
    "AltitudeRollupValue": {
      "description": "Represents the result of the rollup of the user's altitude.",
      "id": "AltitudeRollupValue",
      "type": "object",
      "properties": {
        "gainMillimetersSum": {
          "description": "Sum of the altitude gain in millimeters.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ActivityLevel": {
      "id": "ActivityLevel",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "activityLevelType": {
          "description": "Required. Activity level type in the given time interval.",
          "enumDescriptions": [
            "Unspecified activity level type.",
            "Sedentary activity level.",
            "Lightly active activity level.",
            "Moderately active activity level.",
            "Very active activity level."
          ],
          "enum": [
            "ACTIVITY_LEVEL_TYPE_UNSPECIFIED",
            "SEDENTARY",
            "LIGHTLY_ACTIVE",
            "MODERATELY_ACTIVE",
            "VERY_ACTIVE"
          ],
          "type": "string"
        }
      },
      "description": "Internal type to capture activity level during a certain time interval."
    },
    "Profile": {
      "id": "Profile",
      "type": "object",
      "properties": {
        "userConfiguredWalkingStrideLengthMm": {
          "type": "integer",
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user."
        },
        "membershipStartDate": {
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported.",
          "readOnly": true,
          "$ref": "Date"
        },
        "age": {
          "type": "integer",
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported.",
          "format": "int32"
        },
        "userConfiguredRunningStrideLengthMm": {
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "format": "int32",
          "type": "integer"
        },
        "autoWalkingStrideLengthMm": {
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "autoRunningStrideLengthMm": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "format": "int32"
        }
      },
      "description": "Profile details."
    },
    "RestingHeartRatePersonalRangeRollupValue": {
      "description": "Represents the rollup value for the daily resting heart rate data type.",
      "id": "RestingHeartRatePersonalRangeRollupValue",
      "type": "object",
      "properties": {
        "beatsPerMinuteMin": {
          "description": "The lower bound of the user's daily resting heart rate personal range.",
          "format": "double",
          "type": "number"
        },
        "beatsPerMinuteMax": {
          "type": "number",
          "description": "The upper bound of the user's daily resting heart rate personal range.",
          "format": "double"
        }
      }
    },
    "DailyRestingHeartRate": {
      "description": "Measures the daily resting heart rate for a user, calculated using the all day heart rate measurements.",
      "id": "DailyRestingHeartRate",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. Date (in the user's timezone) of the resting heart rate measurement.",
          "$ref": "Date"
        },
        "beatsPerMinute": {
          "type": "string",
          "description": "Required. The resting heart rate value in beats per minute.",
          "format": "int64"
        },
        "dailyRestingHeartRateMetadata": {
          "description": "Optional. Metadata for the daily resting heart rate.",
          "$ref": "DailyRestingHeartRateMetadata"
        }
      }
    },
    "EndpointAuthorization": {
      "description": "Authorization mechanism for a subscriber endpoint. For all requests sent by the Webhooks service, the JSON payload is cryptographically signed. The signature is delivered in the `X-HEALTHAPI-SIGNATURE` HTTP header. This is an ECDSA (NIST P256) signature of the JSON payload. Clients must verify this signature using Google Health API's public key to confirm the payload was sent by the Health API.",
      "id": "EndpointAuthorization",
      "type": "object",
      "properties": {
        "secret": {
          "description": "Required. Input only. Provides a client-provided secret that will be sent with each notification to the subscriber endpoint using the \"Authorization\" header. The value must include the authorization scheme, e.g., \"Bearer \" or \"Basic \", as it will be used as the full Authorization header value. This secret is used by the API to test the endpoint during `CreateSubscriber` and `UpdateSubscriber` calls, and will be sent in the `Authorization` header for all subsequent webhook notifications to this endpoint.",
          "type": "string"
        },
        "secretSet": {
          "description": "Output only. Whether the secret is set.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "NutritionLogRollupValue": {
      "description": "Represents the result of the rollup of the nutrition log data type.",
      "id": "NutritionLogRollupValue",
      "type": "object",
      "properties": {
        "totalCarbohydrate": {
          "$ref": "WeightQuantityRollup",
          "description": "Total carbohydrate rollup."
        },
        "totalFat": {
          "description": "Total fat rollup.",
          "$ref": "WeightQuantityRollup"
        },
        "energy": {
          "description": "Energy rollup.",
          "$ref": "EnergyQuantityRollup"
        },
        "energyFromFat": {
          "$ref": "EnergyQuantityRollup",
          "description": "Value Energy from fat rollup."
        },
        "nutrients": {
          "type": "array",
          "items": {
            "$ref": "NutrientQuantityRollup"
          },
          "description": "List of the nutrient roll-ups by the nutrient type."
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "DailyHeartRateVariability": {
      "id": "DailyHeartRateVariability",
      "type": "object",
      "properties": {
        "date": {
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement.",
          "$ref": "Date"
        },
        "nonRemHeartRateBeatsPerMinute": {
          "description": "Optional. Non-REM heart rate",
          "format": "int64",
          "type": "string"
        },
        "averageHeartRateVariabilityMilliseconds": {
          "type": "number",
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats.",
          "format": "double"
        },
        "entropy": {
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep.",
          "format": "double",
          "type": "number"
        },
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "type": "number",
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "format": "double"
        }
      },
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`"
    },
    "Food": {
      "id": "Food",
      "type": "object",
      "properties": {
        "brand": {
          "description": "Optional. The brand of the food.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the food.",
          "type": "string"
        },
        "nutrients": {
          "type": "array",
          "items": {
            "$ref": "NutrientQuantity"
          },
          "description": "Optional. Value representing the nutrients of the food for the default serving."
        },
        "energyMax": {
          "$ref": "EnergyQuantity",
          "description": "Optional. Value representing the maximum energy of the food for the default serving."
        },
        "mealType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified meal type.",
            "Value representing a meal before breakfast.",
            "Value representing a breakfast.",
            "Value representing a morning snack.",
            "Value representing a lunch.",
            "Value representing an afternoon snack.",
            "Value representing dinner.",
            "Value representing an evening snack.",
            "Value representing any meal outside of the usual three meals per day.",
            "Value representing any time (legacy NA)."
          ],
          "enum": [
            "MEAL_TYPE_UNSPECIFIED",
            "BEFORE_BREAKFAST",
            "BREAKFAST",
            "BEFORE_LUNCH",
            "LUNCH",
            "BEFORE_DINNER",
            "DINNER",
            "AFTER_DINNER",
            "SNACK",
            "ANYTIME"
          ],
          "description": "Optional. The meal type associated with this food."
        },
        "totalCarbohydrate": {
          "$ref": "WeightQuantity",
          "description": "Optional. Value representing the total carbohydrate of the food for the default serving."
        },
        "defaultServing": {
          "$ref": "FoodServing",
          "description": "Required. Value representing the default serving of the food."
        },
        "accessLevel": {
          "type": "string",
          "description": "Required. The access level of the food.",
          "enumDescriptions": [
            "Unspecified food access level.",
            "Public food access level.",
            "Private food access level."
          ],
          "enum": [
            "FOOD_ACCESS_LEVEL_UNSPECIFIED",
            "FOOD_ACCESS_LEVEL_PUBLIC",
            "FOOD_ACCESS_LEVEL_PRIVATE"
          ]
        },
        "energyAvg": {
          "$ref": "EnergyQuantity",
          "description": "Optional. Value representing the average energy of the food for the default serving."
        },
        "servings": {
          "description": "Optional. The serving of the food.",
          "items": {
            "$ref": "FoodServing"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Required. The display name of the food.",
          "type": "string"
        },
        "energyFromFat": {
          "description": "Optional. Value representing the energy from fat of the food for the default serving.",
          "$ref": "EnergyQuantity"
        },
        "totalFat": {
          "$ref": "WeightQuantity",
          "description": "Optional. Value representing the total fat of the food for the default serving."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language code where the food is available in format xx-XX. Supported values are defined in Settings.food_language_code."
        },
        "energyMin": {
          "$ref": "EnergyQuantity",
          "description": "Optional. Value representing the minimum energy of the food for the default serving."
        }
      },
      "description": "Represents a food item."
    },
    "GoogleDevicesandservicesHealthV4User": {
      "id": "GoogleDevicesandservicesHealthV4User",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the user. The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. Format: `users/{user}`",
          "type": "string"
        }
      },
      "description": "Represents a user in the Google Health API. It matches the parent resource of collections owned by the user. Clients currently do not need to interact with this resource directly."
    },
    "VolumeQuantityRollup": {
      "description": "Rollup for volume quantity.",
      "id": "VolumeQuantityRollup",
      "type": "object",
      "properties": {
        "userProvidedUnitLast": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ],
          "description": "Optional. The user provided unit on the last element."
        },
        "millilitersSum": {
          "description": "Required. The sum of volume in milliliters.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "Subscriber": {
      "id": "Subscriber",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the subscriber was created.",
          "format": "google-datetime"
        },
        "subscriberConfigs": {
          "type": "array",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "description": "Optional. Configuration for the subscriber."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the subscriber was last updated.",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the subscriber.",
          "enumDescriptions": [
            "Represents an unspecified subscriber state.",
            "Represents an unverified subscriber. This is the initial state of the subscriber when it is created. The backend will verify the subscriber's endpoint_uri.",
            "Represents an active subscriber. The endpoint has been verified.",
            "Represents an inactive subscriber."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNVERIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "endpointUri": {
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during CreateSubscriber and UpdateSubscriber calls. See RPC documentation for verification details.",
          "type": "string"
        },
        "endpointAuthorization": {
          "$ref": "EndpointAuthorization",
          "description": "Required. Authorization mechanism for a subscriber endpoint. This is required to ensure the endpoint can be verified."
        }
      },
      "description": "-- Resource Messages -- A subscriber receives notifications from Google Health API."
    },
    "IrnProfile": {
      "id": "IrnProfile",
      "type": "object",
      "properties": {
        "enrollmentStatus": {
          "description": "Required. Whether or not the user is currently enrolled in having their data processed for IRN alerts.",
          "type": "boolean"
        },
        "onboardingStatus": {
          "type": "boolean",
          "description": "Required. Whether or not the user has onboarded onto the IRN feature."
        },
        "name": {
          "description": "Identifier. The resource name of this IrnProfile resource. Format: `users/{user}/irnProfile` Example: `users/1234567890/irnProfile` or `users/me/irnProfile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of the last piece of analyzable data synced by the user.",
          "format": "google-datetime"
        }
      },
      "description": "Irregular Rhythm Notifications (IRN) Profile details. The Irregular Rhythm Notifications (IRN) feature checks for signs of atrial fibrillation (AFib). The IrnProfile details include information about the user's onboarding status, enrollment status, and the last update time of analyzable data for this feature."
    },
    "Device": {
      "id": "Device",
      "type": "object",
      "properties": {
        "manufacturer": {
          "type": "string",
          "description": "Optional. An optional manufacturer of the device."
        },
        "displayName": {
          "description": "Optional. An optional name for the device.",
          "type": "string"
        },
        "formFactor": {
          "description": "Optional. Captures the form factor of the device.",
          "enumDescriptions": [
            "The form factor is unspecified.",
            "The device is a fitness band.",
            "The device is a watch.",
            "The device is a phone.",
            "The device is a ring.",
            "The device is a chest strap.",
            "The device is a scale.",
            "The device is a tablet.",
            "The device is a head mounted device.",
            "The device is a smart display."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "FITNESS_BAND",
            "WATCH",
            "PHONE",
            "RING",
            "CHEST_STRAP",
            "SCALE",
            "TABLET",
            "HEAD_MOUNTED",
            "SMART_DISPLAY"
          ],
          "type": "string"
        }
      },
      "description": "Captures metadata about the device that recorded the measurement."
    },
    "HeartRateZone": {
      "id": "HeartRateZone",
      "type": "object",
      "properties": {
        "maxBeatsPerMinute": {
          "description": "Required. Maximum heart rate for this zone in beats per minute.",
          "format": "int64",
          "type": "string"
        },
        "minBeatsPerMinute": {
          "description": "Required. Minimum heart rate for this zone in beats per minute.",
          "format": "int64",
          "type": "string"
        },
        "heartRateZoneType": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "description": "Required. The heart rate zone type.",
          "type": "string"
        }
      },
      "description": "The heart rate zone."
    },
    "NutrientQuantity": {
      "id": "NutrientQuantity",
      "type": "object",
      "properties": {
        "quantity": {
          "description": "Required. Value representing the quantity of the nutrient.",
          "$ref": "WeightQuantity"
        },
        "nutrient": {
          "description": "Required. Value representing the nutrient.",
          "enumDescriptions": [
            "Unspecified nutrient.",
            "Value representing biotin nutrient.",
            "Value representing caffeine nutrient.",
            "Value representing calcium nutrient.",
            "Value representing chloride nutrient.",
            "Value representing carbohydrates nutrient.",
            "Value representing cholesterol nutrient.",
            "Value representing chromium nutrient.",
            "Value representing copper nutrient.",
            "Value representing dietary fiber nutrient.",
            "Value representing folic acid nutrient.",
            "Value representing iodine nutrient.",
            "Value representing iron nutrient.",
            "Value representing magnesium nutrient.",
            "Value representing manganese nutrient.",
            "Value representing molybdenum nutrient.",
            "Value representing monounsaturated fat nutrient.",
            "Value representing niacin nutrient.",
            "Value representing pantothenic acid nutrient.",
            "Value representing phosphorus nutrient.",
            "Value representing polyunsaturated fat nutrient.",
            "Value representing potassium nutrient.",
            "Value representing protein nutrient.",
            "Value representing riboflavin nutrient.",
            "Value representing saturated fat nutrient.",
            "Value representing selenium nutrient.",
            "Value representing sodium nutrient.",
            "Value representing sugar nutrient.",
            "Value representing thiamin nutrient.",
            "Value representing trans fat nutrient.",
            "Value representing unsaturated fat nutrient.",
            "Value representing vitamin A nutrient.",
            "Value representing vitamin B12 nutrient.",
            "Value representing vitamin B6 nutrient.",
            "Value representing vitamin C nutrient.",
            "Value representing vitamin D nutrient.",
            "Value representing vitamin E nutrient.",
            "Value representing vitamin K nutrient.",
            "Value representing zinc nutrient.",
            "Value representing folate nutrient."
          ],
          "enum": [
            "NUTRIENT_UNSPECIFIED",
            "BIOTIN",
            "CAFFEINE",
            "CALCIUM",
            "CHLORIDE",
            "CARBOHYDRATES",
            "CHOLESTEROL",
            "CHROMIUM",
            "COPPER",
            "DIETARY_FIBER",
            "FOLIC_ACID",
            "IODINE",
            "IRON",
            "MAGNESIUM",
            "MANGANESE",
            "MOLYBDENUM",
            "MONOUNSATURATED_FAT",
            "NIACIN",
            "PANTOTHENIC_ACID",
            "PHOSPHORUS",
            "POLYUNSATURATED_FAT",
            "POTASSIUM",
            "PROTEIN",
            "RIBOFLAVIN",
            "SATURATED_FAT",
            "SELENIUM",
            "SODIUM",
            "SUGAR",
            "THIAMIN",
            "TRANS_FAT",
            "UNSATURATED_FAT",
            "VITAMIN_A",
            "VITAMIN_B12",
            "VITAMIN_B6",
            "VITAMIN_C",
            "VITAMIN_D",
            "VITAMIN_E",
            "VITAMIN_K",
            "ZINC",
            "FOLATE"
          ],
          "type": "string"
        }
      },
      "description": "Represents the quantity of a nutrient."
    },
    "TotalCaloriesRollupValue": {
      "description": "Represents the result of the rollup of the user's total calories.",
      "id": "TotalCaloriesRollupValue",
      "type": "object",
      "properties": {
        "kcalSum": {
          "description": "Sum of the total calories in kilocalories.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "WeightQuantity": {
      "id": "WeightQuantity",
      "type": "object",
      "properties": {
        "grams": {
          "type": "number",
          "description": "Required. Value representing the weight in grams.",
[...]
