{
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "title": "Google Health API",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "revision": "20260701",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://health.googleapis.com/",
  "batchPath": "batch",
  "name": "health",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://health.mtls.googleapis.com/",
  "schemas": {
    "ActiveEnergyBurnedRollupValue": {
      "id": "ActiveEnergyBurnedRollupValue",
      "description": "Represents the result of the rollup of active energy burned.",
      "properties": {
        "kcalSum": {
          "format": "double",
          "description": "Output only. Sum of the active energy burned in kilocalories.",
          "readOnly": true,
          "type": "number"
        }
      },
      "type": "object"
    },
    "HeartRateZone": {
      "id": "HeartRateZone",
      "description": "The heart rate zone.",
      "properties": {
        "heartRateZoneType": {
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "description": "Required. The heart rate zone type.",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "type": "string"
        },
        "minBeatsPerMinute": {
          "type": "string",
          "format": "int64",
          "description": "Required. Minimum heart rate for this zone in beats per minute."
        },
        "maxBeatsPerMinute": {
          "description": "Required. Maximum heart rate for this zone in beats per minute.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchDeleteDataPointsRequest": {
      "type": "object",
      "description": "Request to delete a batch of identifiable data points.",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the DataPoints to delete. A maximum of 10000 data points can be deleted in a single request.",
          "type": "array"
        }
      },
      "id": "BatchDeleteDataPointsRequest"
    },
    "DataSource": {
      "type": "object",
      "description": "Data Source definition to track the origin of data. Each health data point, regardless of the complexity or data model (whether a simple step count or a detailed sleep session) must retain information about its source of origin (e.g. the device or app that collected it).",
      "properties": {
        "recordingMethod": {
          "type": "string",
          "description": "Optional. Captures how the data was recorded.",
          "enum": [
            "RECORDING_METHOD_UNSPECIFIED",
            "MANUAL",
            "PASSIVELY_MEASURED",
            "DERIVED",
            "ACTIVELY_MEASURED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "The recording method is unspecified.",
            "The data was manually entered by the user.",
            "The data was passively measured by a device.",
            "The data was derived from other data, e.g., by an algorithm in the backend.",
            "The data was actively measured by a device.",
            "The recording method is unknown. This is set when the data is uploaded from a third party app that does not provide this information."
          ]
        },
        "application": {
          "$ref": "Application",
          "description": "Output only. Captures metadata for the application that provided this data.",
          "readOnly": true
        },
        "platform": {
          "description": "Output only. Captures the platform that uploaded the data.",
          "readOnly": true,
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FITBIT",
            "HEALTH_CONNECT",
            "HEALTH_KIT",
            "FIT",
            "FITBIT_WEB_API",
            "NEST",
            "GOOGLE_WEB_API",
            "GOOGLE_PARTNER_INTEGRATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "The platform is unspecified.",
            "The data was uploaded from Fitbit.",
            "The data was uploaded from Health Connect.",
            "The data was uploaded from Health Kit.",
            "The data was uploaded from Google Fit.",
            "The data was uploaded from Fitbit legacy Web API.",
            "The data was uploaded from Nest devices.",
            "The data was uploaded from Google Health API.",
            "The data was uploaded from Google Partner Integrations."
          ]
        },
        "device": {
          "description": "Optional. Captures metadata for raw data points originating from devices. We expect this data source to be used for data points written on device sync.",
          "$ref": "Device"
        }
      },
      "id": "DataSource"
    },
    "ActiveZoneMinutesRollupValue": {
      "id": "ActiveZoneMinutesRollupValue",
      "description": "Represents the result of the rollup of the active zone minutes data type.",
      "properties": {
        "sumInFatBurnHeartZone": {
          "format": "int64",
          "description": "Active zone minutes in `HeartRateZone.FAT_BURN`.",
          "type": "string"
        },
        "sumInPeakHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.PEAK`.",
          "format": "int64",
          "type": "string"
        },
        "sumInCardioHeartZone": {
          "description": "Active zone minutes in `HeartRateZone.CARDIO`.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Weight": {
      "type": "object",
      "description": "Body weight measurement.",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which the weight was measured"
        },
        "weightGrams": {
          "description": "Required. Weight of a user in grams.",
          "format": "double",
          "type": "number"
        },
        "notes": {
          "description": "Optional. Standard free-form notes captured at manual logging.",
          "type": "string"
        }
      },
      "id": "Weight"
    },
    "DailyHeartRateVariability": {
      "type": "object",
      "id": "DailyHeartRateVariability",
      "description": "Represents the daily heart rate variability data type. At least one of the following fields must be set: - `average_heart_rate_variability_milliseconds` - `non_rem_heart_rate_beats_per_minute` - `entropy` - `deep_sleep_root_mean_square_of_successive_differences_milliseconds`",
      "properties": {
        "date": {
          "description": "Required. Date (in the user's timezone) of heart rate variability measurement.",
          "$ref": "Date"
        },
        "entropy": {
          "type": "number",
          "description": "Optional. The Shanon entropy of heartbeat intervals. Entropy quantifies randomness or disorder in a system. High entropy indicates high HRV. Entropy is measured from the histogram of time interval between successive heart beats values measured during sleep.",
          "format": "double"
        },
        "deepSleepRootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "format": "double",
          "description": "Optional. The root mean square of successive differences (RMSSD) value during deep sleep.",
          "type": "number"
        },
        "nonRemHeartRateBeatsPerMinute": {
          "type": "string",
          "description": "Optional. Non-REM heart rate",
          "format": "int64"
        },
        "averageHeartRateVariabilityMilliseconds": {
          "format": "double",
          "description": "Optional. A user's average heart rate variability calculated using the root mean square of successive differences (RMSSD) in times between heartbeats.",
          "type": "number"
        }
      }
    },
    "NutritionLogRollupValue": {
      "description": "Represents the result of the rollup of the nutrition log data type.",
      "properties": {
        "energyFromFat": {
          "$ref": "EnergyQuantityRollup",
          "description": "Value Energy from fat rollup."
        },
        "nutrients": {
          "type": "array",
          "description": "List of the nutrient roll-ups by the nutrient type.",
          "items": {
            "$ref": "NutrientQuantityRollup"
          }
        },
        "totalFat": {
          "$ref": "WeightQuantityRollup",
          "description": "Total fat rollup."
        },
        "energy": {
          "$ref": "EnergyQuantityRollup",
          "description": "Energy rollup."
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate rollup.",
          "$ref": "WeightQuantityRollup"
        }
      },
      "id": "NutritionLogRollupValue",
      "type": "object"
    },
    "EnergyQuantityRollup": {
      "description": "Rollup for the energy quantity.",
      "properties": {
        "userProvidedUnitLast": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified energy unit.",
            "Value representing joule.",
            "Value representing kilojoule.",
            "Value representing kilocalorie.",
            "Value representing small calorie.",
            "Value representing calorie."
          ],
          "description": "Optional. The user provided unit on the last element.",
          "enum": [
            "ENERGY_UNIT_UNSPECIFIED",
            "JOULE",
            "KILOJOULE",
            "KILOCALORIE",
            "SMALL_CALORIE",
            "CALORIE"
          ]
        },
        "kcalSum": {
          "description": "Required. The sum of the energy in kilocalories.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "EnergyQuantityRollup",
      "type": "object"
    },
    "Identity": {
      "type": "object",
      "description": "Represents details about the Google user's identity.",
      "properties": {
        "healthUserId": {
          "description": "Output only. The Google User Identifier in the Google Health APIs. It matches the `{user}` resource ID segment in the resource name paths, e.g. `users/{user}/dataTypes/steps`. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of this Identity resource. Format: `users/me/identity`",
          "type": "string"
        },
        "legacyUserId": {
          "type": "string",
          "description": "Output only. The legacy Fitbit User identifier. This is the Fitbit ID used in the legacy Fitbit APIs (v1-v3). It can be referenced by clients migrating from the legacy Fitbit APIs to map their existing identifiers to the new Google user ID. It **must not** be used for any other purpose. It is not of any use for new clients using only the Google Health APIs. Valid values are strings of 1-63 characters, and valid characters are lowercase and uppercase letters, numbers, and hyphens.",
          "readOnly": true
        }
      },
      "id": "Identity"
    },
    "Profile": {
      "description": "Profile details.",
      "properties": {
        "age": {
          "description": "Optional. The age in years based on the user's birth date. Updates to this field are currently not supported.",
          "format": "int32",
          "type": "integer"
        },
        "membershipStartDate": {
          "$ref": "Date",
          "description": "Output only. The date the user created their account. Updates to this field are currently not supported.",
          "readOnly": true
        },
        "autoRunningStrideLengthMm": {
          "format": "int32",
          "description": "Output only. The automatically calculated running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "readOnly": true,
          "type": "integer"
        },
        "userConfiguredWalkingStrideLengthMm": {
          "format": "int32",
          "description": "Optional. The user's user configured walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer"
        },
        "name": {
          "description": "Identifier. The resource name of this Profile resource. Format: `users/{user}/profile` Example: `users/1234567890/profile` or `users/me/profile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "userConfiguredRunningStrideLengthMm": {
          "format": "int32",
          "description": "Optional. The user's user configured running stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "type": "integer"
        },
        "autoWalkingStrideLengthMm": {
          "format": "int32",
          "description": "Output only. The automatically calculated walking stride length, in millimeters. The user must consent to one of the following access scopes to access this field: - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly` - `https://www.googleapis.com/auth/googlehealth.activity_and_fitness`",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "Profile",
      "type": "object"
    },
    "RunVO2Max": {
      "type": "object",
      "description": "VO2 max value calculated based on the user's running activity. Value stored in ml/kg/min.",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which the metric was measured."
        },
        "runVo2Max": {
          "format": "double",
          "description": "Required. Run VO2 max value in ml/kg/min.",
          "type": "number"
        }
      },
      "id": "RunVO2Max"
    },
    "VO2Max": {
      "description": "VO2 max measurement.",
      "properties": {
        "vo2Max": {
          "type": "number",
          "format": "double",
          "description": "Required. VO2 max value measured as in ml consumed oxygen / kg of body weight / min."
        },
        "measurementMethod": {
          "description": "Optional. The method used to measure the VO2 max value.",
          "enum": [
            "MEASUREMENT_METHOD_UNSPECIFIED",
            "FITBIT_RUN",
            "GOOGLE_DEMOGRAPHIC",
            "COOPER_TEST",
            "HEART_RATE_RATIO",
            "METABOLIC_CART",
            "MULTISTAGE_FITNESS_TEST",
            "ROCKPORT_FITNESS_TEST",
            "MAX_EXERCISE",
            "PREDICTION_SUB_MAX_EXERCISE",
            "PREDICTION_NON_EXERCISE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified measurement method.",
            "Fitbit specific, measures VO2 max rate during a run.",
            "Google specific, measures VO2 max rate for a user based on their demographic data.",
            "Run as far as possible for 12 minutes. Distance correlated with age and gender translates to a VO2 max value.",
            "Maximum heart rate divided by the resting heart rate, with a multiplier applied. Does not require any exercise.",
            "Measured by a medical device called metabolic cart.",
            "Continuous 20m back-and-forth runs with increasing difficulty, until exhaustion.",
            "Measured using walking exercise.",
            "Healthkit specific, measures VO2 max rate by monitoring exercise to the user’s physical limit. Similar to COOPER_TEST or MULTISTAGE_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate based on low-intensity exercise. Similar to ROCKPORT_FITNESS_TEST.",
            "Healthkit specific, estimates VO2 max rate without any exercise. Similar to HEART_RATE_RATIO.",
            "Use when the method is not covered in this enum."
          ],
          "type": "string"
        },
        "sampleTime": {
          "description": "Required. The time at which VO2 max was measured.",
          "$ref": "ObservationSampleTime"
        }
      },
      "id": "VO2Max",
      "type": "object"
    },
    "ActiveMinutes": {
      "type": "object",
      "description": "Record of active minutes in a given time interval.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "activeMinutesByActivityLevel": {
          "description": "Required. Active minutes by activity level. At most one record per activity level is allowed.",
          "items": {
            "$ref": "ActiveMinutesByActivityLevel"
          },
          "type": "array"
        }
      },
      "id": "ActiveMinutes"
    },
    "ListDataPointsResponse": {
      "id": "ListDataPointsResponse",
      "description": "Response containing raw data points matching the query",
      "properties": {
        "nextPageToken": {
          "description": "Next page token, empty if the response is complete",
          "type": "string"
        },
        "dataPoints": {
          "description": "Data points matching the query",
          "items": {
            "$ref": "DataPoint"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EndpointAuthorization": {
      "type": "object",
      "id": "EndpointAuthorization",
      "description": "Authorization mechanism for a subscriber endpoint. For all requests sent by the Webhooks service, the JSON payload is cryptographically signed. The signature is delivered in the `X-HEALTHAPI-SIGNATURE` HTTP header. This is an ECDSA (NIST P256) signature of the JSON payload. Clients must verify this signature using Google Health API's public key to confirm the payload was sent by the Health API.",
      "properties": {
        "secret": {
          "description": "Required. Input only. Provides a client-provided secret that will be sent with each notification to the subscriber endpoint using the \"Authorization\" header. The value must include the authorization scheme, e.g., \"Bearer \" or \"Basic \", as it will be used as the full Authorization header value. This secret is used by the API to test the endpoint during `CreateSubscriber` and `UpdateSubscriber` calls, and will be sent in the `Authorization` header for all subsequent webhook notifications to this endpoint.",
          "type": "string"
        },
        "secretSet": {
          "description": "Output only. Whether the secret is set.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "Subscriber": {
      "id": "Subscriber",
      "description": "-- Resource Messages -- A subscriber receives notifications from Google Health API.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the subscriber was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endpointAuthorization": {
          "description": "Required. Authorization mechanism for a subscriber endpoint. This is required to ensure the endpoint can be verified.",
          "$ref": "EndpointAuthorization"
        },
        "name": {
          "description": "Identifier. The resource name of the Subscriber. Format: projects/{project}/subscribers/{subscriber} The {project} ID is a Google Cloud Project ID or Project Number. The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise (e.g., a UUID). Example (User-settable subscriber ID): projects/my-project/subscribers/my-sub-123 Example (System-generated subscriber ID): projects/my-project/subscribers/a1b2c3d4-e5f6-7890-1234-567890abcdef",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the subscriber was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Represents an unspecified subscriber state.",
            "Represents an unverified subscriber. This is the initial state of the subscriber when it is created. The backend will verify the subscriber's endpoint_uri.",
            "Represents an active subscriber. The endpoint has been verified.",
            "Represents an inactive subscriber."
          ],
          "type": "string",
          "description": "Output only. The state of the subscriber.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNVERIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "endpointUri": {
          "description": "Required. The full HTTPS URI where update notifications will be sent. The URI must be a valid URL and use HTTPS as the scheme. This endpoint will be verified during CreateSubscriber and UpdateSubscriber calls. See RPC documentation for verification details.",
          "type": "string"
        },
        "subscriberConfigs": {
          "description": "Optional. Configuration for the subscriber.",
          "items": {
            "$ref": "SubscriberConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CivilTimeInterval": {
      "id": "CivilTimeInterval",
      "description": "Counterpart of google.type.Interval, but using CivilDateTime.",
      "properties": {
        "end": {
          "$ref": "CivilDateTime",
          "description": "Required. The exclusive end of the range."
        },
        "start": {
          "$ref": "CivilDateTime",
          "description": "Required. The inclusive start of the range."
        }
      },
      "type": "object"
    },
    "DailyRollupDataPoint": {
      "description": "Value of a daily rollup for a single civil time interval (aggregation window) of reconciled data points from all data sources, excluding those data points that are identified as recorded by wearables in intervals when they were not actually worn.",
      "properties": {
        "floors": {
          "$ref": "FloorsRollupValue",
          "description": "Returned by default when rolling up data points from the `floors` data type, or when requested explicitly using the `floors` rollup type identifier."
        },
        "activityLevel": {
          "description": "Returned by default when rolling up data points from the `activity-level` data type, or when requested explicitly using the `activity-level` rollup type identifier.",
          "$ref": "ActivityLevelRollupValue"
        },
        "weight": {
          "$ref": "WeightRollupValue",
          "description": "Returned by default when rolling up data points from the `weight` data type, or when requested explicitly using the `weight` rollup type identifier."
        },
        "civilEndTime": {
          "description": "End time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "activeMinutes": {
          "description": "Returned by default when rolling up data points from the `active-minutes` data type, or when requested explicitly using the `active-minutes` rollup type identifier.",
          "$ref": "ActiveMinutesRollupValue"
        },
        "heartRate": {
          "description": "Returned by default when rolling up data points from the `heart-rate` data type, or when requested explicitly using the `heart-rate` rollup type identifier.",
          "$ref": "HeartRateRollupValue"
        },
        "heartRateVariabilityPersonalRange": {
          "description": "Returned by default when rolling up data points from the `daily-heart-rate-variability` data type, or when requested explicitly using the `heart-rate-variability-personal-range` rollup type identifier.",
          "$ref": "HeartRateVariabilityPersonalRangeRollupValue"
        },
        "totalCalories": {
          "$ref": "TotalCaloriesRollupValue",
          "description": "Returned by default when rolling up data points from the `total-calories` data type, or when requested explicitly using the `total-calories` rollup type identifier."
        },
        "distance": {
          "description": "Returned by default when rolling up data points from the `distance` data type, or when requested explicitly using the `distance` rollup type identifier.",
          "$ref": "DistanceRollupValue"
        },
        "hydrationLog": {
          "description": "Returned by default when rolling up data points from the `hydration-log` data type, or when requested explicitly using the `hydration-log` rollup type identifier.",
          "$ref": "HydrationLogRollupValue"
        },
        "altitude": {
          "description": "Returned by default when rolling up data points from the `altitude` data type, or when requested explicitly using the `altitude` rollup type identifier.",
          "$ref": "AltitudeRollupValue"
        },
        "timeInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `time-in-heart-rate-zone` data type, or when requested explicitly using the `time-in-heart-rate-zone` rollup type identifier.",
          "$ref": "TimeInHeartRateZoneRollupValue"
        },
        "restingHeartRatePersonalRange": {
          "$ref": "RestingHeartRatePersonalRangeRollupValue",
          "description": "Returned by default when rolling up data points from the `daily-resting-heart-rate` data type, or when requested explicitly using the `resting-heart-rate-personal-range` rollup type identifier."
        },
        "caloriesInHeartRateZone": {
          "description": "Returned by default when rolling up data points from the `calories-in-heart-rate-zone` data type, or when requested explicitly using the `calories-in-heart-rate-zone` rollup type identifier.",
          "$ref": "CaloriesInHeartRateZoneRollupValue"
        },
        "nutritionLog": {
          "description": "Returned by default when rolling up data points from the `nutrition-log` data type, or when requested explicitly using the `nutrition-log` rollup type identifier.",
          "$ref": "NutritionLogRollupValue"
        },
        "bodyFat": {
          "$ref": "BodyFatRollupValue",
          "description": "Returned by default when rolling up data points from the `body-fat` data type, or when requested explicitly using the `body-fat` rollup type identifier."
        },
        "sedentaryPeriod": {
          "description": "Returned by default when rolling up data points from the `sedentary-period` data type, or when requested explicitly using the `sedentary-period` rollup type identifier.",
          "$ref": "SedentaryPeriodRollupValue"
        },
        "bloodGlucose": {
          "description": "Returned by default when rolling up data points from the `blood-glucose` data type.",
          "$ref": "BloodGlucoseRollupValue"
        },
        "steps": {
          "description": "Returned by default when rolling up data points from the `steps` data type, or when requested explicitly using the `steps` rollup type identifier.",
          "$ref": "StepsRollupValue"
        },
        "swimLengthsData": {
          "description": "Returned by default when rolling up data points from the `swim-lengths-data` data type, or when requested explicitly using the `swim-lengths-data` rollup type identifier.",
          "$ref": "SwimLengthsDataRollupValue"
        },
        "civilStartTime": {
          "description": "Start time of the window this value aggregates over",
          "$ref": "CivilDateTime"
        },
        "coreBodyTemperature": {
          "$ref": "CoreBodyTemperatureRollupValue",
          "description": "Returned by default when rolling up data points from the `core-body-temperature` data type, or when requested explicitly using the `core-body-temperature` rollup type identifier."
        },
        "activeZoneMinutes": {
          "description": "Returned by default when rolling up data points from the `active-zone-minutes` data type, or when requested explicitly using the `active-zone-minutes` rollup type identifier.",
          "$ref": "ActiveZoneMinutesRollupValue"
        },
        "activeEnergyBurned": {
          "description": "Returned by default when rolling up data points from the `active-energy-burned` data type.",
          "$ref": "ActiveEnergyBurnedRollupValue"
        },
        "runVo2Max": {
          "$ref": "RunVO2MaxRollupValue",
          "description": "Returned by default when rolling up data points from the `run-vo2-max` data type, or when requested explicitly using the `run-vo2-max` rollup type identifier."
        }
      },
      "id": "DailyRollupDataPoint",
      "type": "object"
    },
    "GoogleDevicesandservicesHealthV4WebhookNotificationCloudLog": {
      "id": "GoogleDevicesandservicesHealthV4WebhookNotificationCloudLog",
      "description": "Log message for a webhook notification sent by the Google Health API to a subscriber's endpoint. Includes the HTTP response received from the endpoint.",
      "properties": {
        "httpResponse": {
          "$ref": "HttpResponse",
          "description": "Required. Represents the HTTP response. This message includes the status code, reason phrase, headers, and body."
        }
      },
      "type": "object"
    },
    "ActiveZoneMinutes": {
      "type": "object",
      "description": "Record of active zone minutes in a given time interval.",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        },
        "activeZoneMinutes": {
          "description": "Required. Number of Active Zone Minutes earned in the given time interval. Note: active_zone_minutes equals to 1 for low intensity (fat burn) zones or 2 for high intensity zones (cardio, peak).",
          "format": "int64",
          "type": "string"
        },
        "heartRateZone": {
          "description": "Required. Heart rate zone in which the active zone minutes have been earned, in the given time interval.",
          "enum": [
            "HEART_RATE_ZONE_UNSPECIFIED",
            "FAT_BURN",
            "CARDIO",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The fat burn heart rate zone.",
            "The cardio heart rate zone.",
            "The peak heart rate zone."
          ],
          "type": "string"
        }
      },
      "id": "ActiveZoneMinutes"
    },
    "Serving": {
      "type": "object",
      "id": "Serving",
      "description": "Represents different properties and information about the serving of a specific food.",
      "properties": {
        "foodMeasurementUnit": {
          "description": "Required. Food measurement unit",
          "type": "string"
        },
        "amount": {
          "format": "double",
          "description": "Optional. Amount of food consumed, fractional values are supported.",
          "type": "number"
        },
        "foodMeasurementUnitDisplayName": {
          "type": "string",
          "description": "Output only. Legacy measurement unit for serving size in singular form (e.g. \"piece\", \"gram\").",
          "readOnly": true
        }
      }
    },
    "OxygenSaturation": {
      "type": "object",
      "description": "Captures the user's instantaneous oxygen saturation percentage (SpO2).",
      "properties": {
        "percentage": {
          "format": "double",
          "description": "Required. The oxygen saturation percentage. Valid values are from 0 to 100.",
          "type": "number"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which oxygen saturation was measured."
        }
      },
      "id": "OxygenSaturation"
    },
    "ListPairedDevicesResponse": {
      "description": "Response message for ListPairedDevices.",
      "properties": {
        "pairedDevices": {
          "description": "The paired devices of the user.",
          "items": {
            "$ref": "PairedDevice"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListPairedDevicesResponse",
      "type": "object"
    },
    "EnergyQuantity": {
      "id": "EnergyQuantity",
      "description": "Represents the energy quantity.",
      "properties": {
        "userProvidedUnit": {
          "description": "Optional. Value representing the user provided unit.",
          "enum": [
            "ENERGY_UNIT_UNSPECIFIED",
            "JOULE",
            "KILOJOULE",
            "KILOCALORIE",
            "SMALL_CALORIE",
            "CALORIE"
          ],
          "enumDescriptions": [
            "Unspecified energy unit.",
            "Value representing joule.",
            "Value representing kilojoule.",
            "Value representing kilocalorie.",
            "Value representing small calorie.",
            "Value representing calorie."
          ],
          "type": "string"
        },
        "kcal": {
          "description": "Required. Value representing the energy in kilocalories.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "VolumeQuantityRollup": {
      "id": "VolumeQuantityRollup",
      "description": "Rollup for volume quantity.",
      "properties": {
        "userProvidedUnitLast": {
          "enumDescriptions": [
            "Unspecified volume unit.",
            "Cup (imperial)",
            "Cup (US)",
            "Fluid ounce (imperial)",
            "Fluid ounce (US)",
            "Liter",
            "Milliliter",
            "Pint (imperial)",
            "Pint (US)"
          ],
          "description": "Optional. The user provided unit on the last element.",
          "enum": [
            "VOLUME_UNIT_UNSPECIFIED",
            "CUP_IMPERIAL",
            "CUP_US",
            "FLUID_OUNCE_IMPERIAL",
            "FLUID_OUNCE_US",
            "LITER",
            "MILLILITER",
            "PINT_IMPERIAL",
            "PINT_US"
          ],
          "type": "string"
        },
        "millilitersSum": {
          "type": "number",
          "format": "double",
          "description": "Required. The sum of volume in milliliters."
        }
      },
      "type": "object"
    },
    "RestingHeartRatePersonalRangeRollupValue": {
      "description": "Represents the rollup value for the daily resting heart rate data type.",
      "properties": {
        "beatsPerMinuteMax": {
          "description": "The upper bound of the user's daily resting heart rate personal range.",
          "format": "double",
          "type": "number"
        },
        "beatsPerMinuteMin": {
          "format": "double",
          "description": "The lower bound of the user's daily resting heart rate personal range.",
          "type": "number"
        }
      },
      "id": "RestingHeartRatePersonalRangeRollupValue",
      "type": "object"
    },
    "HeartRateVariabilityPersonalRangeRollupValue": {
      "description": "Represents the result of the rollup of the user's daily heart rate variability personal range.",
      "properties": {
        "averageHeartRateVariabilityMillisecondsMax": {
          "description": "The upper bound of the user's average heart rate variability personal range.",
          "format": "double",
          "type": "number"
        },
        "averageHeartRateVariabilityMillisecondsMin": {
          "description": "The lower bound of the user's average heart rate variability personal range.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "HeartRateVariabilityPersonalRangeRollupValue",
      "type": "object"
    },
    "TotalCaloriesRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the user's total calories.",
      "properties": {
        "kcalSum": {
          "type": "number",
          "description": "Sum of the total calories in kilocalories.",
          "format": "double"
        }
      },
      "id": "TotalCaloriesRollupValue"
    },
    "SedentaryPeriod": {
      "id": "SedentaryPeriod",
      "description": "SedentaryPeriod SedentaryPeriod data represents the periods of time that the user was sedentary (i.e. not moving while wearing the device).",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval."
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "Floors": {
      "description": "Gained elevation measured in floors over the time interval",
      "properties": {
        "interval": {
          "$ref": "ObservationTimeInterval",
          "description": "Required. Observed interval"
        },
        "count": {
          "type": "string",
          "description": "Required. Number of floors in the recorded interval",
          "format": "int64"
        }
      },
      "id": "Floors",
      "type": "object"
    },
    "CivilDateTime": {
      "type": "object",
      "id": "CivilDateTime",
      "description": "Civil time representation similar to google.type.DateTime, but ensures that neither the timezone nor the UTC offset can be set to avoid confusion between civil and physical time queries.",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. Calendar date."
        },
        "time": {
          "description": "Optional. Time of day. Defaults to the start of the day, at midnight if omitted.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "BodyFat": {
      "id": "BodyFat",
      "description": "Body fat measurement.",
      "properties": {
        "percentage": {
          "format": "double",
          "description": "Required. Body fat percentage, in range [0, 100].",
          "type": "number"
        },
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which body fat was measured."
        }
      },
      "type": "object"
    },
    "SedentaryPeriodRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the user's sedentary periods.",
      "properties": {
        "durationSum": {
          "description": "The total time user spent sedentary during the interval.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "SedentaryPeriodRollupValue"
    },
    "Height": {
      "id": "Height",
      "description": "Body height measurement.",
      "properties": {
        "sampleTime": {
          "$ref": "ObservationSampleTime",
          "description": "Required. The time at which the height was recorded."
        },
        "heightMillimeters": {
          "description": "Required. Height of the user in millimeters.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Subscription": {
      "type": "object",
      "id": "Subscription",
      "description": "A subscription to a data collection for a specific user, to be delivered to a subscriber.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Subscription. Format: `projects/{project}/subscribers/{subscriber}/subscriptions/{subscription}` Example: `projects/my-project/subscribers/my-subscriber-123/subscriptions/my-subscription-456` The {project} ID is mandatory (6-30 characters, matching /a-z{6,30}/) The {subscriber} ID is user-settable (4-36 characters, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) if provided during creation, or system-generated otherwise. The {subscription} ID is user-settable (4-36 chars, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated otherwise.",
          "type": "string"
        },
        "user": {
          "description": "Immutable. The resource name of the user for whom this subscription is active. Format: `users/{user}` where `{user}` is the public `healthUserId` as returned by the `GetIdentity` action in the profile PAPI (see `google.devicesandservices.health.v4main.HealthProfileService.GetIdentity`).",
          "type": "string"
        },
        "dataTypes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Data types subscribed to. A subscriber will only receive notifications for data types that are declared here. A subscription can only subscribe to the data types of the subscriber. The values should be in the format \"users/{health_user_id}/dataTypes/{data_type}\" where `{data_type}` is one of \"altitude\", \"distance\", \"floors\", \"sleep\", \"steps\", \"weight\".",
          "type": "array"
        }
      }
    },
    "TimeInHeartRateZoneRollupValue": {
      "type": "object",
      "id": "TimeInHeartRateZoneRollupValue",
      "description": "Represents the result of the rollup of the time in heart rate zone data type.",
      "properties": {
        "timeInHeartRateZones": {
          "items": {
            "$ref": "TimeInHeartRateZoneValue"
          },
          "description": "List of time spent in each heart rate zone.",
          "type": "array"
        }
      }
    },
    "ObservationSampleTime": {
      "type": "object",
      "id": "ObservationSampleTime",
      "description": "Represents a sample time of an observed data point.",
      "properties": {
        "civilTime": {
          "$ref": "CivilDateTime",
          "description": "Output only. The civil time in the timezone the subject is in at the time of the observation.",
          "readOnly": true
        },
        "physicalTime": {
          "type": "string",
          "description": "Required. The time of the observation.",
          "format": "google-datetime"
        },
        "utcOffset": {
          "type": "string",
          "description": "Required. The offset of the user's local time during the observation relative to the Coordinated Universal Time (UTC).",
          "format": "google-duration"
        }
      }
    },
    "BodyFatRollupValue": {
      "type": "object",
      "description": "Represents the result of the rollup of the body fat data type.",
      "properties": {
        "bodyFatPercentageAvg": {
          "description": "Average body fat percentage.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "BodyFatRollupValue"
    },
    "NutrientQuantityRollup": {
      "description": "Nutrient quantity rollup.",
      "properties": {
        "quantity": {
          "description": "Required. Aggregated nutrient weight.",
          "$ref": "WeightQuantityRollup"
        },
        "nutrient": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified nutrient.",
            "Value representing biotin nutrient.",
            "Value representing caffeine nutrient.",
            "Value representing calcium nutrient.",
            "Value representing chloride nutrient.",
            "Value representing carbohydrates nutrient.",
            "Value representing cholesterol nutrient.",
            "Value representing chromium nutrient.",
            "Value representing copper nutrient.",
            "Value representing dietary fiber nutrient.",
            "Value representing folic acid nutrient.",
            "Value representing iodine nutrient.",
            "Value representing iron nutrient.",
            "Value representing magnesium nutrient.",
            "Value representing manganese nutrient.",
            "Value representing molybdenum nutrient.",
            "Value representing monounsaturated fat nutrient.",
            "Value representing niacin nutrient.",
            "Value representing pantothenic acid nutrient.",
            "Value representing phosphorus nutrient.",
            "Value representing polyunsaturated fat nutrient.",
            "Value representing potassium nutrient.",
            "Value representing protein nutrient.",
            "Value representing riboflavin nutrient.",
            "Value representing saturated fat nutrient.",
            "Value representing selenium nutrient.",
            "Value representing sodium nutrient.",
            "Value representing sugar nutrient.",
            "Value representing thiamin nutrient.",
            "Value representing trans fat nutrient.",
            "Value representing unsaturated fat nutrient.",
            "Value representing vitamin A nutrient.",
            "Value representing vitamin B12 nutrient.",
            "Value representing vitamin B6 nutrient.",
            "Value representing vitamin C nutrient.",
            "Value representing vitamin D nutrient.",
            "Value representing vitamin E nutrient.",
            "Value representing vitamin K nutrient.",
            "Value representing zinc nutrient.",
            "Value representing folate nutrient."
          ],
          "description": "Required. Aggregated nutrient.",
          "enum": [
            "NUTRIENT_UNSPECIFIED",
            "BIOTIN",
            "CAFFEINE",
            "CALCIUM",
            "CHLORIDE",
            "CARBOHYDRATES",
            "CHOLESTEROL",
            "CHROMIUM",
            "COPPER",
            "DIETARY_FIBER",
            "FOLIC_ACID",
            "IODINE",
            "IRON",
            "MAGNESIUM",
            "MANGANESE",
            "MOLYBDENUM",
            "MONOUNSATURATED_FAT",
            "NIACIN",
            "PANTOTHENIC_ACID",
            "PHOSPHORUS",
            "POLYUNSATURATED_FAT",
            "POTASSIUM",
            "PROTEIN",
            "RIBOFLAVIN",
            "SATURATED_FAT",
            "SELENIUM",
            "SODIUM",
            "SUGAR",
            "THIAMIN",
            "TRANS_FAT",
            "UNSATURATED_FAT",
            "VITAMIN_A",
            "VITAMIN_B12",
            "VITAMIN_B6",
            "VITAMIN_C",
            "VITAMIN_D",
            "VITAMIN_E",
            "VITAMIN_K",
            "ZINC",
            "FOLATE"
          ]
        }
      },
      "id": "NutrientQuantityRollup",
      "type": "object"
    },
    "PairedDevice": {
      "id": "PairedDevice",
      "description": "User's Paired 1P Device The PairedDevice details include information about the device type, battery status, battery level, last sync time, device version, mac address, and features.",
      "properties": {
        "features": {
          "description": "Output only. Lists of unique features supported by the device. Comprehensive list of supported features: **Fitness Tracking** - `ACTIVE_MINUTES`: Legacy active minutes. - `AUTOSTRIDE`: Automatic stride length calculation. - `BIKE_ONBOARDING`: Cycling UI support. - `CALORIES`: Daily burned calories. - `DISTANCE`: Daily distance tracking. - `ELEVATION`: Floors climbed. - `INACTIVITY_ALERTS`: Reminders to move. - `SEDENTARY_TIME`: Tracks inactive time. - `STEPS`: Daily steps. - `SWIM`: Swim tracking (laps/strokes). - `AUTORUN`: Automatic run detection. - `ACTIVE_ZONE_MINUTES`: Active Zone Minutes (AZM). **Heart Rate & Health** - `HEART_RATE`: Continuous heart rate (PPG). - `BAT_SIGNAL`: High/Low Heart Rate Alerts. **Advanced Sensors** - `SPO2`: Blood oxygen saturation. - `NIGHTTIME_OXYGEN_SATURATION`: Sleep SpO2. - `ESTIMATED_OXYGEN_VARIATION`: Estimated Oxygen Variation. - `EDA`: Electrodermal Activity (stress). - `SKIN_TEMPERATURE`: Skin temperature variation. - `INTERNAL_DEVICE_TEMPERATURE`: Internal device temperature. **Sleep & Wellness** - `SLEEP`: Basic sleep tracking. - `SMART_SLEEP`: Advanced sleep tracking (stages/score). - `BEDTIME_REMINDER`: Bedtime reminders. - `SOUNDSCAPE`: Snore and noise detection. **Advanced Workouts** - `WB`: Custom Workout Builder. - `AUTOCUES`: Auto Cues / Auto Lap. - `DWR_RUN`: Daily Run Recommendations. - `ADVANCED_RUNNING`: Advanced Running Dynamics (e.g., GCT, VO). **GPS & Location** - `GPS`: Built-in GPS. - `CONNECTED_GPS`: Connected GPS (uses phone). - `LOCATION_HINT`: Location helper. **Payments & NFC** - `PAYMENTS`: NFC payments (Fitbit Pay/Google Wallet). - `FELICA`: FeliCa support (Japan payments/transit). **Activity Detection** - `GROK`: SmartTrack automatic activity detection. - `RETRO_AR`: Retroactive Activity Recognition prompts. **Smart Features & UI** - `ALARMS`: Silent alarms. - `BLE_MUSIC_CONTROL`: BLE music control. - `MUSIC`: Direct music storage/control. - `YOUTUBE_MUSIC_SUPPORTED`: YouTube Music support. - `GALLERY`: App Gallery. - `TUTORIAL_SUPPORTED`: On-screen tutorials. - `SMILEY_EMOTE`: Legacy Zip face. - `MOBILE_TO_DEVICE_DEEPLINK`: Mobile to device settings deep link. - `HIDE_GALLERY`: Option to hide Gallery. - `HIDE_GOAL_SELECTION`: Option to hide goal selection. - `DIGITAL_WARRANTY_SUPPORTED`: Digital warranty display. - `DIRECT_DEVICE_SETTINGS_SUPPORTED`: Direct device settings management. **Gym HR Broadcasting** - `ASPEN_SUPPORTED`: Broadcast HR to gym equipment. - `ASPEN_REMOTE_UI_SUPPORTED`: Remote UI for HR sharing. **Privacy & Security** - `FINITE_IMPROBABILITY`: BLE Resolvable Private Address (RPA) privacy. - `DOMAIN_KEY_SYNC`: Domain key synchronization. **BLE Protocol** - `BONDING`: Secure BLE bonding. - `ADVERTISES_SERIAL`: Advertises serial number. - `STATUS_CHARACTERISTIC`: BLE Status Characteristic. - `TRACKER_CHANNEL_CHARACTERISTIC`: BLE Tracker Channel Characteristic. - `PING_CHARACTERISTIC`: BLE Ping Characteristic. **Cellular & Wi-Fi** - `MOBILE_DATA`: LTE cellular support. - `SINGLE_AP_WIFI`: Single AP Wi-Fi. - `MULTI_AP_WIFI`: Multi AP Wi-Fi. - `WIFI_FWUP`: Firmware updates over Wi-Fi. **Data Sync & Transfer** - `APP_SYNC`: Background app sync. - `LIVE_DATA`: Real-time data streaming. - `EVENT_BASED_SYNC_SUPPORTED`: Event-based sync. - `TIME_SERVICE`: Time synchronization service. - `REMOTE_FILE_PROVIDER`: Remote file transfer. - `DIRECT_COMMS_ALARMS`: Direct communication for alarms. - `DIRECT_COMMS_EXERCISE`: Direct communication for exercise. - `DIRECT_COMMS_BATTERY_ALERTS`: Direct communication for battery alerts. **Google Integrations** - `PARROT_TREE_SUPPORTED`: Find My Device support.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name of this Device resource. Format: `users/{user}/pairedDevices/{paired_device}` Example: `users/1234567890/pairedDevices/123` or `users/me/pairedDevices/123`",
          "type": "string"
        },
        "lastSyncTime": {
          "description": "Output only. The time of last sync with the Fitbit mobile application.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "deviceType": {
          "description": "Output only. The device type. Supported: TRACKER | SCALE",
          "readOnly": true,
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "TRACKER",
            "SCALE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Device type is not specified.",
            "Device type is tracker.",
            "Device type is scale."
          ]
        },
        "batteryLevel": {
          "format": "int32",
          "description": "Output only. The battery level of the device.",
          "readOnly": true,
          "type": "integer"
        },
        "batteryStatus": {
          "description": "Output only. The battery status of the device. Supported: High | Medium | Low | Empty",
          "readOnly": true,
          "type": "string"
        },
        "macAddress": {
          "type": "string",
          "description": "Output only. Mac ID number of the device.",
          "readOnly": true
        },
        "deviceVersion": {
          "type": "string",
          "description": "Output only. The product name of the device",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Distance": {
      "id": "Distance",
      "description": "Distance traveled over an interval of time.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "millimeters": {
          "type": "string",
          "description": "Required. Distance in millimeters over the observed interval.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "CaloriesInHeartRateZoneRollupValue": {
      "type": "object",
      "id": "CaloriesInHeartRateZoneRollupValue",
      "description": "Represents the result of the rollup of the calories in heart rate zone data type.",
      "properties": {
        "caloriesInHeartRateZones": {
          "type": "array",
          "description": "List of calories burned in each heart rate zone.",
          "items": {
            "$ref": "CaloriesInHeartRateZoneValue"
          }
        }
      }
    },
    "SleepSummary": {
      "type": "object",
      "description": " Sleep summary: metrics and stages summary.",
      "properties": {
        "minutesAsleep": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total number of minutes asleep. For classic sleep it is the sum of ASLEEP stages (excluding AWAKE and RESTLESS). For \"stages\" sleep it is the sum of LIGHT, REM and DEEP stages (excluding AWAKE).",
          "readOnly": true
        },
        "minutesToFallAsleep": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Minutes to fall asleep calculated by restlessness algorithm.",
          "readOnly": true
        },
        "minutesInSleepPeriod": {
          "format": "int64",
          "description": "Output only. Delta between wake time and bedtime. It is the sum of all stages.",
          "readOnly": true,
          "type": "string"
        },
        "minutesAfterWakeUp": {
          "description": "Output only. Minutes after wake up calculated by restlessness algorithm.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "minutesAwake": {
          "description": "Output only. Total number of minutes awake. It is a sum of all AWAKE stages.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "stagesSummary": {
          "type": "array",
          "description": "Output only. List of summaries (total duration and segment count) per each sleep stage type.",
          "readOnly": true,
          "items": {
            "$ref": "StageSummary"
          }
        }
      },
      "id": "SleepSummary"
    },
    "RespiratoryRateSleepSummary": {
      "type": "object",
      "description": "Records respiratory rate details during sleep. Can have multiple per day if the user sleeps multiple times.",
      "properties": {
        "sampleTime": {
          "description": "Required. The time at which respiratory rate was measured.",
          "$ref": "ObservationSampleTime"
        },
        "remSleepStats": {
          "$ref": "RespiratoryRateSleepSummaryStatistics",
          "description": "Optional. Respiratory rate statistics for REM sleep."
        },
        "fullSleepStats": {
          "$ref": "RespiratoryRateSleepSummaryStatistics",
          "description": "Required. Full respiratory rate statistics."
        },
        "deepSleepStats": {
          "description": "Optional. Respiratory rate statistics for deep sleep.",
          "$ref": "RespiratoryRateSleepSummaryStatistics"
        },
        "lightSleepStats": {
          "$ref": "RespiratoryRateSleepSummaryStatistics",
          "description": "Optional. Respiratory rate statistics for light sleep."
        }
      },
      "id": "RespiratoryRateSleepSummary"
    },
    "NutrientQuantity": {
      "description": "Represents the quantity of a nutrient.",
      "properties": {
        "quantity": {
          "$ref": "WeightQuantity",
          "description": "Required. Value representing the quantity of the nutrient."
        },
        "nutrient": {
          "description": "Required. Value representing the nutrient.",
          "enum": [
            "NUTRIENT_UNSPECIFIED",
            "BIOTIN",
            "CAFFEINE",
            "CALCIUM",
            "CHLORIDE",
            "CARBOHYDRATES",
            "CHOLESTEROL",
            "CHROMIUM",
            "COPPER",
            "DIETARY_FIBER",
            "FOLIC_ACID",
            "IODINE",
            "IRON",
            "MAGNESIUM",
            "MANGANESE",
            "MOLYBDENUM",
            "MONOUNSATURATED_FAT",
            "NIACIN",
            "PANTOTHENIC_ACID",
            "PHOSPHORUS",
            "POLYUNSATURATED_FAT",
            "POTASSIUM",
            "PROTEIN",
            "RIBOFLAVIN",
            "SATURATED_FAT",
            "SELENIUM",
            "SODIUM",
            "SUGAR",
            "THIAMIN",
            "TRANS_FAT",
            "UNSATURATED_FAT",
            "VITAMIN_A",
            "VITAMIN_B12",
            "VITAMIN_B6",
            "VITAMIN_C",
            "VITAMIN_D",
            "VITAMIN_E",
            "VITAMIN_K",
            "ZINC",
            "FOLATE"
          ],
          "enumDescriptions": [
            "Unspecified nutrient.",
            "Value representing biotin nutrient.",
            "Value representing caffeine nutrient.",
            "Value representing calcium nutrient.",
            "Value representing chloride nutrient.",
            "Value representing carbohydrates nutrient.",
            "Value representing cholesterol nutrient.",
            "Value representing chromium nutrient.",
            "Value representing copper nutrient.",
            "Value representing dietary fiber nutrient.",
            "Value representing folic acid nutrient.",
            "Value representing iodine nutrient.",
            "Value representing iron nutrient.",
            "Value representing magnesium nutrient.",
            "Value representing manganese nutrient.",
            "Value representing molybdenum nutrient.",
            "Value representing monounsaturated fat nutrient.",
            "Value representing niacin nutrient.",
            "Value representing pantothenic acid nutrient.",
            "Value representing phosphorus nutrient.",
            "Value representing polyunsaturated fat nutrient.",
            "Value representing potassium nutrient.",
            "Value representing protein nutrient.",
            "Value representing riboflavin nutrient.",
            "Value representing saturated fat nutrient.",
            "Value representing selenium nutrient.",
            "Value representing sodium nutrient.",
            "Value representing sugar nutrient.",
            "Value representing thiamin nutrient.",
            "Value representing trans fat nutrient.",
            "Value representing unsaturated fat nutrient.",
            "Value representing vitamin A nutrient.",
            "Value representing vitamin B12 nutrient.",
            "Value representing vitamin B6 nutrient.",
            "Value representing vitamin C nutrient.",
            "Value representing vitamin D nutrient.",
            "Value representing vitamin E nutrient.",
            "Value representing vitamin K nutrient.",
            "Value representing zinc nutrient.",
            "Value representing folate nutrient."
          ],
          "type": "string"
        }
      },
      "id": "NutrientQuantity",
      "type": "object"
    },
    "WeightRollupValue": {
      "id": "WeightRollupValue",
      "description": "Represents the result of the rollup of the weight data type.",
      "properties": {
        "weightGramsAvg": {
          "description": "Average weight in grams.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "HttpResponse": {
      "type": "object",
      "id": "HttpResponse",
      "description": "Represents an HTTP response.",
      "properties": {
        "headers": {
          "items": {
            "$ref": "HttpHeader"
          },
          "description": "The HTTP response headers. The ordering of the headers is significant. Multiple headers with the same key may present for the response.",
          "type": "array"
        },
        "reason": {
          "description": "The HTTP reason phrase, such as \"OK\" or \"Not Found\".",
          "type": "string"
        },
        "status": {
          "description": "The HTTP status code, such as 200 or 404.",
          "format": "int32",
          "type": "integer"
        },
        "body": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP response body. If the body is not expected, it should be empty."
        }
      }
    },
    "ActiveMinutesByActivityLevel": {
      "type": "object",
      "id": "ActiveMinutesByActivityLevel",
      "description": "Active minutes at a given activity level.",
      "properties": {
        "activityLevel": {
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "description": "Required. The level of activity.",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "type": "string"
        },
        "activeMinutes": {
          "type": "string",
          "description": "Required. Number of whole minutes spent in activity.",
          "format": "int64"
        }
      }
    },
    "Steps": {
      "description": "Step count over the time interval.",
      "properties": {
        "interval": {
          "description": "Required. Observed interval.",
          "$ref": "ObservationTimeInterval"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of steps in the recorded interval."
        }
      },
      "id": "Steps",
      "type": "object"
    },
    "TimeInHeartRateZoneValue": {
      "type": "object",
      "description": "Represents the total time spent in a specific heart rate zone.",
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "type": "string"
        },
        "duration": {
          "type": "string",
          "description": "The total time spent in the specified heart rate zone.",
          "format": "google-duration"
        }
      },
      "id": "TimeInHeartRateZoneValue"
    },
    "ActiveMinutesRollupByActivityLevel": {
      "type": "object",
      "id": "ActiveMinutesRollupByActivityLevel",
      "description": "Active minutes by activity level.",
      "properties": {
        "activityLevel": {
          "enumDescriptions": [
            "Activity level is unspecified.",
            "Light activity level.",
            "Moderate activity level.",
            "Vigorous activity level."
          ],
          "description": "The level of activity.",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS"
          ],
          "type": "string"
        },
        "activeMinutesSum": {
          "description": "Number of whole minutes spent in activity.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "MobilityMetrics": {
      "type": "object",
      "description": "Mobility workouts specific metrics",
      "properties": {
        "avgGroundContactTimeDuration": {
          "format": "google-duration",
          "description": "Optional. The ground contact time for a particular stride is the amount of time for which the foot was in contact with the ground on that stride",
          "type": "string"
        },
        "avgStrideLengthMillimeters": {
          "description": "Optional. Stride length is a measure of the distance covered by a single stride",
          "format": "int64",
          "type": "string"
        },
        "avgCadenceStepsPerMinute": {
          "type": "number",
          "format": "double",
          "description": "Optional. Cadence is a measure of the frequency of your foot strikes. Steps / min in real time during workout."
        },
        "avgVerticalRatio": {
          "type": "number",
          "format": "double",
          "description": "Optional. Vertical oscillation/stride length between [5.0, 11.0]."
        },
        "avgVerticalOscillationMillimeters": {
          "type": "string",
          "description": "Optional. Distance off the ground your center of mass moves with each stride while running",
          "format": "int64"
        }
      },
      "id": "MobilityMetrics"
    },
    "DailyHeartRateZones": {
      "type": "object",
      "description": "User's heart rate zone thresholds based on the Karvonen algorithm for a specific day.",
      "properties": {
        "date": {
          "$ref": "Date",
          "description": "Required. Date (in user's timezone) of the heart rate zones record."
        },
        "heartRateZones": {
          "description": "Required. The heart rate zones.",
          "items": {
            "$ref": "HeartRateZone"
          },
          "type": "array"
        }
      },
      "id": "DailyHeartRateZones"
    },
    "ExerciseEvent": {
      "type": "object",
      "description": "Represents instantaneous events that happen during an exercise, such as start, stop, pause, split.",
      "properties": {
        "eventTime": {
          "type": "string",
          "description": "Required. Exercise event time",
          "format": "google-datetime"
        },
        "exerciseEventType": {
          "enumDescriptions": [
            "Exercise event type is unspecified.",
            "Exercise start event.",
            "Exercise stop event.",
            "Exercise pause event.",
            "Exercise resume event.",
            "Exercise auto-pause event.",
            "Exercise auto-resume event."
          ],
          "description": "Required. The type of the event, such as start, stop, pause, resume.",
          "enum": [
            "EXERCISE_EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "PAUSE",
            "RESUME",
            "AUTO_PAUSE",
            "AUTO_RESUME"
          ],
          "type": "string"
        },
        "eventUtcOffset": {
          "description": "Required. Exercise event time offset from UTC",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "ExerciseEvent"
    },
    "HeartRateRollupValue": {
      "type": "object",
      "id": "HeartRateRollupValue",
      "description": "Represents the result of the rollup of the heart rate data type.",
      "properties": {
        "beatsPerMinuteAvg": {
          "type": "number",
          "format": "double",
          "description": "The average heart rate value in the interval."
        },
        "beatsPerMinuteMin": {
          "format": "double",
          "description": "The minimum heart rate value in the interval.",
          "type": "number"
        },
        "beatsPerMinuteMax": {
          "description": "The maximum heart rate value in the interval.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "DataPoint": {
      "type": "object",
      "description": "A computed or recorded metric.",
      "properties": {
        "floors": {
          "$ref": "Floors",
          "description": "Optional. Data for points in the `floors` interval data type collection."
        },
        "basalEnergyBurned": {
          "description": "Optional. Data for points in the `basal-energy-burned` interval data type collection.",
          "$ref": "BasalEnergyBurned"
        },
        "dataSource": {
          "description": "Optional. Data source information for the metric",
          "$ref": "DataSource"
        },
        "activityLevel": {
          "description": "Optional. Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "weight": {
          "$ref": "Weight",
          "description": "Optional. Data for points in the `weight` sample data type collection."
        },
        "dailyRestingHeartRate": {
          "$ref": "DailyRestingHeartRate",
          "description": "Optional. Data for points in the `daily-resting-heart-rate` daily data type collection."
        },
        "activeMinutes": {
          "$ref": "ActiveMinutes",
          "description": "Optional. Data for points in the `active-minutes` interval data type collection."
        },
        "dailyHeartRateVariability": {
          "$ref": "DailyHeartRateVariability",
          "description": "Optional. Data for points in the `daily-heart-rate-variability` daily data type collection."
        },
        "heartRate": {
          "$ref": "HeartRate",
          "description": "Optional. Data for points in the `heart-rate` sample data type collection."
        },
        "name": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `heart-rate` for the `heart_rate` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "distance": {
          "description": "Optional. Data for points in the `distance` interval data type collection.",
          "$ref": "Distance"
        },
        "hydrationLog": {
          "$ref": "HydrationLog",
          "description": "Optional. Data for points in the `hydration-log` session data type collection."
        },
        "timeInHeartRateZone": {
          "description": "Optional. Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "altitude": {
          "$ref": "Altitude",
          "description": "Optional. Data for points in the `altitude` interval data type collection."
        },
        "exercise": {
          "description": "Optional. Data for points in the `exercise` session data type collection.",
          "$ref": "Exercise"
        },
        "dailyRespiratoryRate": {
          "description": "Optional. Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "bodyFat": {
          "description": "Optional. Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "sedentaryPeriod": {
          "description": "Optional. Data for points in the `sedentary-period` interval data type collection.",
          "$ref": "SedentaryPeriod"
        },
        "dailyHeartRateZones": {
          "description": "Optional. Data for points in the `daily-heart-rate-zones` daily data type collection.",
          "$ref": "DailyHeartRateZones"
        },
        "nutritionLog": {
          "description": "Optional. Data for points in the `nutrition-log` session data type collection.",
          "$ref": "NutritionLog"
        },
        "bloodGlucose": {
          "description": "Optional. Data for points in the `blood-glucose` sample data type collection.",
          "$ref": "BloodGlucose"
        },
        "foodMeasurementUnit": {
          "$ref": "FoodMeasurementUnit",
          "description": "Optional. The food measurement unit details."
        },
        "steps": {
          "$ref": "Steps",
          "description": "Optional. Data for points in the `steps` interval data type collection."
        },
        "swimLengthsData": {
          "description": "Optional. Data for points in the `swim-lengths-data` interval data type collection.",
          "$ref": "SwimLengthsData"
        },
        "oxygenSaturation": {
          "$ref": "OxygenSaturation",
          "description": "Optional. Data for points in the `oxygen-saturation` sample data type collection."
        },
        "height": {
          "$ref": "Height",
          "description": "Optional. Data for points in the `height` sample data type collection."
        },
        "coreBodyTemperature": {
          "description": "Optional. Data for points in the `core-body-temperature` sample data type collection.",
          "$ref": "CoreBodyTemperature"
        },
        "activeZoneMinutes": {
          "description": "Optional. Data for points in the `active-zone-minutes` interval data type collection, measured in minutes.",
          "$ref": "ActiveZoneMinutes"
        },
        "respiratoryRateSleepSummary": {
          "$ref": "RespiratoryRateSleepSummary",
          "description": "Optional. Data for points in the `respiratory-rate-sleep-summary` sample data type collection."
        },
        "dailySleepTemperatureDerivations": {
          "description": "Optional. Data for points in the `daily-sleep-temperature-derivations` daily data type collection.",
          "$ref": "DailySleepTemperatureDerivations"
        },
        "irregularRhythmNotification": {
          "description": "Optional. Data for points in the `irregular-rhythm-notification` session data type collection.",
          "$ref": "IrregularRhythmNotification"
        },
        "activeEnergyBurned": {
          "$ref": "ActiveEnergyBurned",
          "description": "Optional. Data for points in the `active-energy-burned` interval data type collection."
        },
        "dailyOxygenSaturation": {
          "description": "Optional. Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "electrocardiogram": {
          "$ref": "Electrocardiogram",
          "description": "Optional. Data for points in the `electrocardiogram` session data type collection."
        },
        "sleep": {
          "$ref": "Sleep",
          "description": "Optional. Data for points in the `sleep` session data type collection."
        },
        "heartRateVariability": {
          "$ref": "HeartRateVariability",
          "description": "Optional. Data for points in the `heart-rate-variability` sample data type collection."
        },
        "dailyVo2Max": {
          "$ref": "DailyVO2Max",
          "description": "Optional. Data for points in the `daily-vo2-max` daily data type collection."
        },
        "vo2Max": {
          "$ref": "VO2Max",
          "description": "Optional. Data for points in the `vo2-max` sample data type collection."
        },
        "food": {
          "description": "Optional. The food details.",
          "$ref": "Food"
        },
        "runVo2Max": {
          "$ref": "RunVO2Max",
          "description": "Optional. Data for points in the `run-vo2-max` sample data type collection."
        }
      },
      "id": "DataPoint"
    },
    "Settings": {
      "type": "object",
      "description": "Settings details.",
      "properties": {
        "weightUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "WEIGHT_UNIT_POUNDS",
            "WEIGHT_UNIT_STONE",
            "WEIGHT_UNIT_KILOGRAMS"
          ],
          "enumDescriptions": [
            "Weight unit is not specified.",
            "Weight unit is pounds.",
            "Weight unit is stones.",
            "Weight unit is kilograms."
          ],
          "type": "string"
        },
        "languageLocale": {
          "description": "Optional. The locale defined in the user's account settings. Updates to this field are currently not supported.",
          "type": "string"
        },
        "temperatureUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "TEMPERATURE_UNIT_UNSPECIFIED",
            "TEMPERATURE_UNIT_CELSIUS",
            "TEMPERATURE_UNIT_FAHRENHEIT"
          ],
          "enumDescriptions": [
            "Temperature unit is not specified.",
            "Temperature unit is Celsius.",
            "Temperature unit is Fahrenheit."
          ],
          "type": "string"
        },
        "waterUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "WATER_UNIT_UNSPECIFIED",
            "WATER_UNIT_ML",
            "WATER_UNIT_FL_OZ",
            "WATER_UNIT_CUP"
          ],
          "enumDescriptions": [
            "Water unit is not specified.",
            "Water unit is milliliters.",
            "Water unit is fluid ounces.",
            "Water unit is cups."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of this Settings resource. Format: `users/{user}/settings` Example: `users/1234567890/settings` or `users/me/settings` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "swimUnit": {
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "SWIM_UNIT_UNSPECIFIED",
            "SWIM_UNIT_METERS",
            "SWIM_UNIT_YARDS"
          ],
          "enumDescriptions": [
            "Swim unit is not specified.",
            "Swim unit is meters.",
            "Swim unit is yards."
          ],
          "type": "string"
        },
        "distanceUnit": {
          "type": "string",
          "description": "Optional. The measurement unit defined in the user's account settings. Updates to this field are currently not supported.",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "enumDescriptions": [
            "Distance unit is not specified.",
            "Distance unit is miles.",
            "Distance unit is kilometers."
          ]
        },
        "autoStrideEnabled": {
          "description": "Optional. True if the user's stride length is determined automatically. Updates to this field are currently not supported.",
          "type": "boolean"
        },
        "foodLanguageCode": {
          "type": "string",
          "description": "Output only. The food language code derived from the user's food database. Possible values: `'en-US'`, `'en-GB'`, `'de-DE'`, `'es-ES'`, `'fr-FR'`, `'zh-CN'`, `'zh-TW'`, `'ja-JP'`, `'en-AU'`, `'en-CA'`, `'it-IT'`, `'ko-KR'`, `'es-MX'`, `'en-IN'`, `'en-SG'`, `'en-PH'`, `'en-IE'`, `'fr-CA'`. Updates to this field are currently not supported.",
          "readOnly": true
        },
        "glucoseUnit": {
          "enumDescriptions": [
            "Glucose unit is not specified.",
            "Glucose unit is mg/dL.",
            "Glucose unit is mmol/l."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "GLUCOSE_UNIT_UNSPECIFIED",
            "GLUCOSE_UNIT_MG_DL",
            "GLUCOSE_UNIT_MMOL_L"
          ],
          "type": "string"
        },
        "utcOffset": {
          "format": "google-duration",
          "description": "Optional. The user's timezone offset relative to UTC. Updates to this field are currently not supported.",
          "type": "string"
        },
        "strideLengthRunningType": {
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "description": "Optional. The stride length type defined in the user's account settings for running. Updates to this field are currently not supported.",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "type": "string"
        },
        "strideLengthWalkingType": {
          "description": "Optional. The stride length type defined in the user's account settings for walking. Updates to this field are currently not supported.",
          "enum": [
            "STRIDE_LENGTH_TYPE_UNSPECIFIED",
            "STRIDE_LENGTH_TYPE_DEFAULT",
            "STRIDE_LENGTH_TYPE_MANUAL",
            "STRIDE_LENGTH_TYPE_AUTO"
          ],
          "enumDescriptions": [
            "Stride length type is not specified.",
            "Stride length type is computed based on the user's gender and height.",
            "Stride length type is manually set by the user.",
            "Stride length type is determined automatically."
          ],
          "type": "string"
        },
        "heightUnit": {
          "type": "string",
          "enumDescriptions": [
            "Height unit is not specified.",
            "Height unit is inches.",
            "Height unit is cm."
          ],
          "description": "Optional. The measurement unit defined in the user's account settings.",
          "enum": [
            "HEIGHT_UNIT_UNSPECIFIED",
            "HEIGHT_UNIT_INCHES",
            "HEIGHT_UNIT_CENTIMETERS"
          ]
        },
        "timeZone": {
          "description": "Optional. The timezone defined in the user's account settings. This follows the IANA [Time Zone Database](https://www.iana.org/time-zones). Updates to this field are currently not supported.",
          "type": "string"
        }
      },
      "id": "Settings"
    },
    "HydrationLog": {
      "type": "object",
      "id": "HydrationLog",
      "description": "Holds information about a user logged hydration.",
      "properties": {
        "interval": {
          "$ref": "SessionTimeInterval",
          "description": "Required. Observed interval."
        },
        "amountConsumed": {
          "description": "Required. Amount of liquid (ex. water) consumed.",
          "$ref": "VolumeQuantity"
        }
      }
    },
    "HeartRateVariability": {
      "description": "Captures user's heart rate variability (HRV) as measured by the root mean square of successive differences (RMSSD) between normal heartbeats or by standard deviation of the inter-beat intervals (SDNN).",
      "properties": {
        "sampleTime": {
          "description": "Required. The time of the heart rate variability measurement.",
          "$ref": "ObservationSampleTime"
        },
        "rootMeanSquareOfSuccessiveDifferencesMilliseconds": {
          "format": "double",
          "description": "Optional. The root mean square of successive differences between normal heartbeats. This is a measure of heart rate variability used by Google Health.",
          "type": "number"
        },
        "standardDeviationMilliseconds": {
          "description": "Optional. The standard deviation of the heart rate variability measurement.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "HeartRateVariability",
      "type": "object"
    },
    "CaloriesInHeartRateZoneValue": {
      "id": "CaloriesInHeartRateZoneValue",
      "description": "Represents the amount of kilocalories burned in a specific heart rate zone.",
      "properties": {
        "heartRateZone": {
          "description": "The heart rate zone.",
          "enum": [
            "HEART_RATE_ZONE_TYPE_UNSPECIFIED",
            "LIGHT",
            "MODERATE",
            "VIGOROUS",
            "PEAK"
          ],
          "enumDescriptions": [
            "Unspecified heart rate zone.",
            "The light heart rate zone.",
            "The moderate heart rate zone.",
            "The vigorous heart rate zone.",
            "The peak heart rate zone."
          ],
          "type": "string"
        },
        "kcal": {
          "type": "number",
          "format": "double",
          "description": "The amount of kilocalories burned in the specified heart rate zone."
        }
      },
      "type": "object"
    },
    "ReconciledDataPoint": {
      "type": "object",
      "description": "A reconciled computed or recorded metric.",
      "properties": {
        "dailyOxygenSaturation": {
          "description": "Data for points in the `daily-oxygen-saturation` daily data type collection.",
          "$ref": "DailyOxygenSaturation"
        },
        "activeEnergyBurned": {
          "description": "Data for points in the `active-energy-burned` interval data type collection.",
          "$ref": "ActiveEnergyBurned"
        },
        "sleep": {
          "$ref": "Sleep",
          "description": "Data for points in the `sleep` session data type collection."
        },
        "dataPointName": {
          "description": "Identifier. Data point name, only supported for the subset of identifiable data types. For the majority of the data types, individual data points do not need to be identified and this field would be empty. Format: `users/{user}/dataTypes/{data_type}/dataPoints/{data_point}` Example: `users/abcd1234/dataTypes/sleep/dataPoints/a1b2c3d4-e5f6-7890-1234-567890abcdef` The `{user}` ID is a system-generated identifier, as described in Identity.health_user_id. The `{data_type}` ID corresponds to the kebab-case version of the field names in the DataPoint data union field, e.g. `heart-rate` for the `heart_rate` field. The `{data_point}` ID can be client-provided or system-generated. If client-provided, it must be a string of 4-63 characters, containing only lowercase letters, numbers, and hyphens.",
          "type": "string"
        },
        "heartRateVariability": {
          "$ref": "HeartRateVariability",
          "description": "Data for points in the `heart-rate-variability` sample data type collection."
        },
        "vo2Max": {
          "$ref": "VO2Max",
          "description": "Data for points in the `vo2-max` sample data type collection."
        },
        "dailyVo2Max": {
          "description": "Data for points in the `daily-vo2-max` daily data type collection.",
          "$ref": "DailyVO2Max"
        },
        "runVo2Max": {
          "$ref": "RunVO2Max",
          "description": "Data for points in the `run-vo2-max` sample data type collection."
        },
        "bloodGlucose": {
          "$ref": "BloodGlucose",
          "description": "Data for points in the `blood-glucose` sample data type collection."
        },
        "steps": {
          "description": "Data for points in the `steps` interval data type collection.",
          "$ref": "Steps"
        },
        "swimLengthsData": {
          "$ref": "SwimLengthsData",
          "description": "Data for points in the `swim-lengths-data` interval data type collection."
        },
        "oxygenSaturation": {
          "$ref": "OxygenSaturation",
          "description": "Data for points in the `oxygen-saturation` sample data type collection."
        },
        "height": {
          "description": "Data for points in the `height` sample data type collection.",
          "$ref": "Height"
        },
        "coreBodyTemperature": {
          "$ref": "CoreBodyTemperature",
          "description": "Data for points in the `core-body-temperature` sample data type collection."
        },
        "respiratoryRateSleepSummary": {
          "description": "Data for points in the `respiratory-rate-sleep-summary` sample data type collection.",
          "$ref": "RespiratoryRateSleepSummary"
        },
        "activeZoneMinutes": {
          "$ref": "ActiveZoneMinutes",
          "description": "Data for points in the `active-zone-minutes` interval data type collection, measured in minutes."
        },
        "dailySleepTemperatureDerivations": {
          "$ref": "DailySleepTemperatureDerivations",
          "description": "Data for points in the `daily-sleep-temperature-derivations` daily data type collection."
        },
        "distance": {
          "$ref": "Distance",
          "description": "Data for points in the `distance` interval data type collection."
        },
        "hydrationLog": {
          "description": "Data for points in the `hydration-log` session data type collection.",
          "$ref": "HydrationLog"
        },
        "timeInHeartRateZone": {
          "description": "Data for points in the `time-in-heart-rate-zone` interval data type collection.",
          "$ref": "TimeInHeartRateZone"
        },
        "altitude": {
          "$ref": "Altitude",
          "description": "Data for points in the `altitude` interval data type collection."
        },
        "exercise": {
          "$ref": "Exercise",
          "description": "Data for points in the `exercise` session data type collection."
        },
        "dailyRespiratoryRate": {
          "description": "Data for points in the `daily-respiratory-rate` daily data type collection.",
          "$ref": "DailyRespiratoryRate"
        },
        "bodyFat": {
          "description": "Data for points in the `body-fat` sample data type collection.",
          "$ref": "BodyFat"
        },
        "sedentaryPeriod": {
          "$ref": "SedentaryPeriod",
          "description": "Data for points in the `sedentary-period` interval data type collection."
        },
        "dailyHeartRateZones": {
          "$ref": "DailyHeartRateZones",
          "description": "Data for points in the `daily-heart-rate-zones` daily data type collection."
        },
        "nutritionLog": {
          "description": "Data for points in the `nutrition-log` session data type collection.",
          "$ref": "NutritionLog"
        },
        "floors": {
          "$ref": "Floors",
          "description": "Data for points in the `floors` interval data type collection."
        },
        "basalEnergyBurned": {
          "description": "Data for points in the `basal-energy-burned` interval data type collection.",
          "$ref": "BasalEnergyBurned"
        },
        "weight": {
          "description": "Data for points in the `weight` sample data type collection.",
          "$ref": "Weight"
        },
        "activityLevel": {
          "description": "Data for points in the `activity-level` daily data type collection.",
          "$ref": "ActivityLevel"
        },
        "dailyRestingHeartRate": {
          "description": "Data for points in the `daily-resting-heart-rate` daily data type collection.",
          "$ref": "DailyRestingHeartRate"
        },
        "activeMinutes": {
          "$ref": "ActiveMinutes",
          "description": "Data for points in the `active-minutes` interval data type collection."
        },
        "dailyHeartRateVariability": {
          "description": "Data for points in the `daily-heart-rate-variability` daily data type collection.",
          "$ref": "DailyHeartRateVariability"
        },
        "heartRate": {
          "$ref": "HeartRate",
          "description": "Data for points in the `heart-rate` sample data type collection."
        }
      },
      "id": "ReconciledDataPoint"
    },
    "IrnProfile": {
      "type": "object",
      "description": "Irregular Rhythm Notifications (IRN) Profile details. The Irregular Rhythm Notifications (IRN) feature checks for signs of atrial fibrillation (AFib). The IrnProfile details include information about the user's onboarding status, enrollment status, and the last update time of analyzable data for this feature.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of this IrnProfile resource. Format: `users/{user}/irnProfile` Example: `users/1234567890/irnProfile` or `users/me/irnProfile` The {user} ID is a system-generated Google Health API user ID, a string of 1-63 characters consisting of lowercase and uppercase letters, numbers, and hyphens. The literal `me` can also be used to refer to the authenticated user.",
          "type": "string"
        },
        "onboardingStatus": {
          "description": "Required. Whether or not the user has onboarded onto the IRN feature.",
          "type": "boolean"
        },
        "enrollmentStatus": {
          "description": "Required. Whether or not the user is currently enrolled in having their data processed for IRN alerts.",
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of the last piece of analyzable data synced by the user.",
          "readOnly": true
        }
      },
      "id": "IrnProfile"
    },
[...]
