{
  "name": "homegraph",
  "basePath": "",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "title": "HomeGraph API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "description": "",
  "rootUrl": "https://homegraph.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "id": "homegraph:v1",
  "ownerName": "Google",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "kind": "discovery#restDescription",
  "canonicalName": "Home Graph Service",
  "protocol": "rest",
  "resources": {
    "devices": {
      "methods": {
        "requestSync": {
          "parameters": {},
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "flatPath": "v1/devices:requestSync",
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "id": "homegraph.devices.requestSync",
          "httpMethod": "POST",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameterOrder": [],
          "path": "v1/devices:requestSync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ]
        },
        "query": {
          "flatPath": "v1/devices:query",
          "parameters": {},
          "response": {
            "$ref": "QueryResponse"
          },
          "httpMethod": "POST",
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.query",
          "path": "v1/devices:query",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "QueryRequest"
          }
        },
        "sync": {
          "flatPath": "v1/devices:sync",
          "parameters": {},
          "response": {
            "$ref": "SyncResponse"
          },
          "id": "homegraph.devices.sync",
          "httpMethod": "POST",
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameterOrder": [],
          "path": "v1/devices:sync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "request": {
            "$ref": "SyncRequest"
          }
        },
        "reportStateAndNotification": {
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "id": "homegraph.devices.reportStateAndNotification",
          "httpMethod": "POST",
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameterOrder": [],
          "path": "v1/devices:reportStateAndNotification",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "flatPath": "v1/devices:reportStateAndNotification"
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "parameters": {
            "agentUserId": {
              "type": "string",
              "description": "Required. Third-party user ID.",
              "pattern": "^agentUsers/.*$",
              "required": true,
              "location": "path"
            },
            "requestId": {
              "type": "string",
              "description": "Request ID used for debugging.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "id": "homegraph.agentUsers.delete",
          "httpMethod": "DELETE",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameterOrder": [
            "agentUserId"
          ],
          "path": "v1/{+agentUserId}",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ]
        }
      }
    }
  },
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "schemas": {
    "QueryRequestPayload": {
      "description": "Payload containing device IDs.",
      "id": "QueryRequestPayload",
      "type": "object",
      "properties": {
        "devices": {
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "AgentDeviceId"
          }
        }
      }
    },
    "EventData": {
      "id": "EventData",
      "type": "object",
      "description": "Contains the details for a single event.",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Required. The unique event ID from the device provider."
        },
        "event": {
          "description": "Required. The actual event payload.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "eventTime": {
          "type": "string",
          "description": "Required. The timestamp of the event.",
          "format": "google-datetime"
        }
      }
    },
    "DeviceNames": {
      "description": "Identifiers used to describe the device.",
      "id": "DeviceNames",
      "type": "object",
      "properties": {
        "nicknames": {
          "description": "Additional names provided by the user for the device.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names."
        },
        "defaultNames": {
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Events": {
      "properties": {
        "componentId": {
          "type": "string",
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events."
        },
        "events": {
          "description": "Required. List of events associated with the component.",
          "type": "array",
          "items": {
            "$ref": "EventData"
          }
        }
      },
      "description": "Contains a set of events for a specific component.",
      "id": "Events",
      "type": "object"
    },
    "SyncRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "id": "SyncRequest",
      "type": "object"
    },
    "ComponentTraitUpdates": {
      "id": "ComponentTraitUpdates",
      "type": "object",
      "description": "Contains the set of updates for a component.",
      "properties": {
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "traitData": {
          "description": "Required. The updated trait data for the component.",
          "type": "array",
          "items": {
            "$ref": "TraitData"
          }
        }
      }
    },
    "DeviceInfo": {
      "properties": {
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Device model."
        },
        "swVersion": {
          "type": "string",
          "description": "Device software version."
        }
      },
      "id": "DeviceInfo",
      "type": "object",
      "description": "Device information."
    },
    "SyncResponsePayload": {
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "Devices associated with the third-party user."
        },
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        }
      },
      "id": "SyncResponsePayload",
      "type": "object",
      "description": "Payload containing device information."
    },
    "Device": {
      "description": "Third-party device definition.",
      "id": "Device",
      "type": "object",
      "properties": {
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Attributes for the traits supported by the device."
        },
        "otherDeviceIds": {
          "type": "array",
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."
        },
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        },
        "traits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "roomHint": {
          "type": "string",
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "type": {
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides).",
          "type": "string"
        },
        "notificationSupportedByAgent": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."
        },
        "name": {
          "description": "Names given to this device by your smart home Action.",
          "$ref": "DeviceNames"
        },
        "structureHint": {
          "type": "string",
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."
        }
      }
    },
    "AgentOtherDeviceId": {
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Project ID for your smart home Action."
        },
        "deviceId": {
          "description": "Unique third-party device ID.",
          "type": "string"
        }
      },
      "id": "AgentOtherDeviceId",
      "type": "object",
      "description": "Alternate third-party device ID."
    },
    "QueryResponsePayload": {
      "properties": {
        "devices": {
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "deviceMetadata": {
          "type": "object",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map."
        },
        "homeTraitPayload": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT."
        }
      },
      "id": "QueryResponsePayload",
      "type": "object",
      "description": "Payload containing device states information."
    },
    "StateAndNotificationPayload": {
      "id": "StateAndNotificationPayload",
      "type": "object",
      "description": "Payload containing the state and notification information for devices.",
      "properties": {
        "devices": {
          "description": "The devices for updating state and sending notifications.",
          "$ref": "ReportStateAndNotificationDevice"
        }
      }
    },
    "ReportStateAndNotificationResponse": {
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "id": "ReportStateAndNotificationResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID copied from ReportStateAndNotificationRequest."
        }
      }
    },
    "RequestSyncDevicesRequest": {
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "async": {
          "type": "boolean",
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."
        }
      },
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "id": "RequestSyncDevicesRequest",
      "type": "object"
    },
    "HomeTraitUpdates": {
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Required. Unique identifier for the device."
        },
        "components": {
          "description": "Required. Trait updates for each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentTraitUpdates"
          }
        }
      },
      "id": "HomeTraitUpdates",
      "type": "object",
      "description": "Contains the set of updates for a device."
    },
    "SyncResponse": {
      "id": "SyncResponse",
      "type": "object",
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "description": "Devices associated with the third-party user.",
          "$ref": "SyncResponsePayload"
        }
      }
    },
    "AgentDeviceId": {
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "id": "AgentDeviceId",
      "type": "object",
      "description": "Third-party device ID for one device."
    },
    "TraitData": {
      "id": "TraitData",
      "type": "object",
      "description": "Contains the trait payload for a single trait.",
      "properties": {
        "trait": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The Provider Home API trait payload."
        },
        "commitTime": {
          "type": "string",
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "format": "google-datetime"
        }
      }
    },
    "QueryResponse": {
      "properties": {
        "payload": {
          "description": "Device states for the devices given in the request.",
          "$ref": "QueryResponsePayload"
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        }
      },
      "id": "QueryResponse",
      "type": "object",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```"
    },
    "HomeTraitPayload": {
      "id": "HomeTraitPayload",
      "type": "object",
      "description": "Container for UDDM trait data associated with a device.",
      "properties": {
        "rootComponent": {
          "description": "The root component of the device as reported by the provider.",
          "$ref": "Component"
        }
      }
    },
    "Component": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "deviceTypes": {
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "traitData": {
          "description": "Required. List of trait data associated with the component.",
          "type": "array",
          "items": {
            "$ref": "TraitData"
          }
        },
        "childComponents": {
          "description": "Optional. Child components.",
          "type": "array",
          "items": {
            "$ref": "Component"
          }
        }
      },
      "description": "Component of a provider device.",
      "id": "Component",
      "type": "object"
    },
    "ReportStateAndNotificationDevice": {
      "description": "The states and notifications specific to a device.",
      "id": "ReportStateAndNotificationDevice",
      "type": "object",
      "properties": {
        "homeTraits": {
          "description": "Optional. UDDM/WHDM trait updates.",
          "type": "array",
          "items": {
            "$ref": "HomeTraitUpdates"
          }
        },
        "states": {
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "notifications": {
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "homeEvents": {
          "type": "array",
          "items": {
            "$ref": "HomeEvents"
          },
          "description": "Optional. UDDM/WHDM trait events"
        }
      }
    },
    "DeviceMetadata": {
      "description": "Metadata for traits of a single device.",
      "id": "DeviceMetadata",
      "type": "object",
      "properties": {
        "traitCommitTimestamps": {
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          }
        }
      }
    },
    "ReportStateAndNotificationRequest": {
      "id": "ReportStateAndNotificationRequest",
      "type": "object",
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "properties": {
        "eventId": {
          "description": "Unique identifier per event (for example, a doorbell press).",
          "type": "string"
        },
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "followUpToken": {
          "description": "Deprecated.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "QueryRequestInput": {
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      },
      "id": "QueryRequestInput",
      "type": "object",
      "description": "Device ID inputs to QueryRequest."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "QueryRequest": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "includeDeviceMetadata": {
          "type": "boolean",
          "description": "Optional. If true, the response will include device metadata in the device_metadata field."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "QueryRequestInput"
          },
          "description": "Required. Inputs containing third-party device IDs for which to get the device states."
        },
        "deviceView": {
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY.",
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ]
        }
      },
      "id": "QueryRequest",
      "type": "object",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call."
    },
    "RequestSyncDevicesResponse": {
      "id": "RequestSyncDevicesResponse",
      "type": "object",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "properties": {}
    },
    "HomeEvents": {
      "description": "Contains the set of events for an item.",
      "id": "HomeEvents",
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "Events"
          },
          "description": "Required. List of events for the item."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. / Unique identifier for the device."
        }
      }
    }
  },
  "servicePath": "",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "revision": "20260619",
  "baseUrl": "https://homegraph.googleapis.com/"
}