{
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "description": "",
  "schemas": {
    "ZoneStruct": {
      "type": "object",
      "properties": {
        "zoneId": {
          "format": "int64",
          "type": "string",
          "description": "Id of the zone"
        },
        "label": {
          "description": "Name of the zone.",
          "type": "string"
        }
      },
      "id": "ZoneStruct"
    },
    "CommonEventDataStruct": {
      "properties": {
        "mediaUrls": {
          "$ref": "MediaUrlsStruct",
          "description": "Contains media urls for the event"
        },
        "trackId": {
          "description": "Id of the track this object belongs to",
          "type": "string"
        },
        "sessionId": {
          "description": "Camera event session id. Used for identifying a unique event session",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Common camera event data.",
      "id": "CommonEventDataStruct"
    },
    "PartnerPresenceSignalTrait": {
      "type": "object",
      "properties": {},
      "id": "PartnerPresenceSignalTrait",
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:"
    },
    "DeviceNames": {
      "type": "object",
      "properties": {
        "defaultNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc."
        },
        "name": {
          "type": "string",
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names."
        },
        "nicknames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional names provided by the user for the device."
        }
      },
      "description": "Identifiers used to describe the device.",
      "id": "DeviceNames"
    },
    "CameraEventStreamTrait": {
      "id": "CameraEventStreamTrait",
      "properties": {},
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow",
      "type": "object"
    },
    "RequestSyncDevicesResponse": {
      "id": "RequestSyncDevicesResponse",
      "properties": {},
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "type": "object"
    },
    "QueryRequest": {
      "properties": {
        "deviceView": {
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY."
        },
        "inputs": {
          "type": "array",
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "QueryRequestInput"
          }
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "includeDeviceMetadata": {
          "type": "boolean",
          "description": "Optional. If true, the response will include device metadata in the device_metadata field."
        }
      },
      "id": "QueryRequest",
      "type": "object",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call."
    },
    "StructurePresenceStateChangeEvent": {
      "properties": {
        "presenceState": {
          "description": "Required. Specifies the presence state.",
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ],
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "type": "string"
        },
        "reason": {
          "$ref": "StructurePresenceStateChangeReasonStruct",
          "description": "Optional. Specifies the presence state change reason."
        }
      },
      "type": "object",
      "id": "StructurePresenceStateChangeEvent",
      "description": "Sent when the structure presence state changes."
    },
    "AgentDeviceId": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "id": "AgentDeviceId",
      "description": "Third-party device ID for one device."
    },
    "ComponentTraitUpdates": {
      "description": "Contains the set of updates for a component.",
      "id": "ComponentTraitUpdates",
      "type": "object",
      "properties": {
        "traitData": {
          "type": "array",
          "description": "Required. The updated trait data for the component.",
          "items": {
            "$ref": "TraitData"
          }
        },
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        }
      }
    },
    "QueryResponsePayload": {
      "description": "Payload containing device states information.",
      "id": "QueryResponsePayload",
      "type": "object",
      "properties": {
        "devices": {
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "type": "object"
        },
        "homeTraitPayload": {
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT.",
          "type": "object",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          }
        },
        "deviceMetadata": {
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          },
          "type": "object",
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map."
        }
      }
    },
    "UserBlameStruct": {
      "properties": {
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "type": "string",
          "description": "Required. Specifies the user blame type.",
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ]
        },
        "userEmail": {
          "description": "Required. Specifies the email of the user.",
          "type": "string"
        }
      },
      "id": "UserBlameStruct",
      "type": "object",
      "description": "Contains metadata about the cause of presence state change attributed to a user."
    },
    "RequestSyncDevicesRequest": {
      "type": "object",
      "id": "RequestSyncDevicesRequest",
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "properties": {
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "async": {
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
          "type": "boolean"
        }
      }
    },
    "Result": {
      "description": "Result of reporting state and notifications for a single device.",
      "id": "Result",
      "type": "object",
      "properties": {
        "homeTraitCommitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The trait commit timestamp of the state update in Home Graph."
        }
      }
    },
    "MotionEvent": {
      "type": "object",
      "id": "MotionEvent",
      "description": "Represents a newly detected motion event.",
      "properties": {
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zones": {
          "items": {
            "$ref": "ZoneStruct"
          },
          "type": "array",
          "description": "Zones where events are detected in."
        }
      }
    },
    "PersonEvent": {
      "type": "object",
      "properties": {
        "zones": {
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          },
          "description": "Zones where events are detected in."
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        }
      },
      "id": "PersonEvent",
      "description": "Represents a newly detected person event."
    },
    "EveUtilityTrait": {
      "id": "EveUtilityTrait",
      "type": "object",
      "properties": {
        "weatherTrend": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "accumulatedControlPoint": {
          "format": "int64",
          "type": "string"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "airPressure": {
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "statusFault": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "openCount": {
          "type": "string",
          "format": "int64"
        },
        "obstructionDetected": {
          "readOnly": true,
          "type": "boolean"
        },
        "altitude": {
          "format": "double",
          "type": "number"
        },
        "voltage": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "loggingControlPoint": {
          "type": "string",
          "format": "byte"
        },
        "current": {
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "wattAccumulated": {
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "setConfig": {
          "type": "string",
          "format": "byte"
        },
        "watt": {
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "loggingMetadata": {
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "childLock": {
          "type": "boolean"
        },
        "rloc16": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "getConfig": {
          "format": "byte",
          "readOnly": true,
          "type": "string"
        },
        "lastEventTime": {
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "loggingTime": {
          "format": "byte",
          "type": "string"
        },
        "motionSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "loggingData": {
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "acceptedCommandList": {
          "readOnly": true,
          "items": {
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ],
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ],
            "type": "string",
            "enumDeprecated": [
              true
            ]
          },
          "description": "Required. Output only. Accepted command list for this trait",
          "type": "array"
        }
      }
    },
    "ReportStateAndNotificationDevice": {
      "description": "The states and notifications specific to a device.",
      "type": "object",
      "properties": {
        "states": {
          "type": "object",
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "homeEvents": {
          "items": {
            "$ref": "HomeEvents"
          },
          "type": "array",
          "description": "Optional. UDDM/WHDM trait events"
        },
        "notifications": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "homeTraits": {
          "description": "Optional. UDDM/WHDM trait updates.",
          "items": {
            "$ref": "HomeTraitUpdates"
          },
          "type": "array"
        }
      },
      "id": "ReportStateAndNotificationDevice"
    },
    "EventData": {
      "description": "Contains the details for a single event.",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The timestamp of the event."
        },
        "event": {
          "description": "Required. The actual event payload.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "eventId": {
          "description": "Required. The unique event ID from the device provider.",
          "type": "string"
        }
      },
      "id": "EventData",
      "type": "object"
    },
    "Events": {
      "description": "Contains a set of events for a specific component.",
      "id": "Events",
      "type": "object",
      "properties": {
        "events": {
          "description": "Required. List of events associated with the component.",
          "type": "array",
          "items": {
            "$ref": "EventData"
          }
        },
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        }
      }
    },
    "ThermostatFanControlTrait": {
      "id": "ThermostatFanControlTrait",
      "type": "object",
      "description": "This cluster provides fan control capabilities for thermostats.",
      "properties": {
        "timerSpeed": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ]
        },
        "timerEnd": {
          "type": "string",
          "format": "int64"
        },
        "timerDuration": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "HomeTraitPayload": {
      "properties": {
        "rootComponent": {
          "$ref": "Component",
          "description": "The root component of the device as reported by the provider."
        }
      },
      "id": "HomeTraitPayload",
      "type": "object",
      "description": "Container for UDDM trait data associated with a device."
    },
    "QueryRequestInput": {
      "id": "QueryRequestInput",
      "description": "Device ID inputs to QueryRequest.",
      "properties": {
        "payload": {
          "$ref": "QueryRequestPayload",
          "description": "Payload containing third-party device IDs."
        }
      },
      "type": "object"
    },
    "Device": {
      "description": "Third-party device definition.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
        },
        "willReportState": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification."
        },
        "traits": {
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
          "items": {
            "type": "string"
          }
        },
        "customData": {
          "type": "object",
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "otherDeviceIds": {
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "type": "array",
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."
        },
        "name": {
          "$ref": "DeviceNames",
          "description": "Names given to this device by your smart home Action."
        },
        "deviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Device manufacturer, model, hardware version, and software version."
        },
        "attributes": {
          "description": "Attributes for the traits supported by the device.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "structureHint": {
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "notificationSupportedByAgent": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."
        },
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "id": "Device"
    },
    "SyncRequest": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "type": "object",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "id": "SyncRequest"
    },
    "ReportStateAndNotificationResponse": {
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "type": "object",
      "id": "ReportStateAndNotificationResponse",
      "properties": {
        "requestId": {
          "description": "Request ID copied from ReportStateAndNotificationRequest.",
          "type": "string"
        },
        "deviceResults": {
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now.",
          "additionalProperties": {
            "$ref": "Result"
          },
          "type": "object"
        }
      }
    },
    "StructurePresenceStateChangeReasonStruct": {
      "description": "Contains the metadata about the cause of the structure presence state change.",
      "type": "object",
      "id": "StructurePresenceStateChangeReasonStruct",
      "properties": {
        "userBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user.",
          "$ref": "UserBlameStruct"
        },
        "deviceBlame": {
          "$ref": "DeviceBlameStruct",
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device."
        }
      }
    },
    "ReportStateAndNotificationRequest": {
      "id": "ReportStateAndNotificationRequest",
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier per event (for example, a doorbell press)."
        },
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        },
        "followUpToken": {
          "description": "Deprecated.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "HomeTraitUpdates": {
      "id": "HomeTraitUpdates",
      "properties": {
        "deviceId": {
          "description": "Required. Unique identifier for the device.",
          "type": "string"
        },
        "components": {
          "type": "array",
          "description": "Required. Trait updates for each component.",
          "items": {
            "$ref": "ComponentTraitUpdates"
          }
        }
      },
      "type": "object",
      "description": "Contains the set of updates for a device."
    },
    "QueryRequestPayload": {
      "id": "QueryRequestPayload",
      "description": "Payload containing device IDs.",
      "properties": {
        "devices": {
          "items": {
            "$ref": "AgentDeviceId"
          },
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "MediaUrlsStruct": {
      "type": "object",
      "properties": {
        "previewUrl": {
          "description": "URL for animated preview clip representing the event session",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        },
        "hlsMasterPlaylistUrl": {
          "description": "URL for a hls master playlist for playback",
          "type": "string"
        },
        "dashManifestUrl": {
          "type": "string",
          "description": "URL for a dash manifest for playback"
        }
      },
      "id": "MediaUrlsStruct"
    },
    "Component": {
      "properties": {
        "id": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "childComponents": {
          "description": "Optional. Child components.",
          "items": {
            "$ref": "Component"
          },
          "type": "array"
        },
        "deviceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "type": "array"
        },
        "traitData": {
          "type": "array",
          "description": "Required. List of trait data associated with the component.",
          "items": {
            "$ref": "TraitData"
          }
        }
      },
      "type": "object",
      "description": "Component of a provider device.",
      "id": "Component"
    },
    "AgentOtherDeviceId": {
      "properties": {
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        },
        "deviceId": {
          "description": "Unique third-party device ID.",
          "type": "string"
        }
      },
      "description": "Alternate third-party device ID.",
      "type": "object",
      "id": "AgentOtherDeviceId"
    },
    "DeviceInfo": {
      "properties": {
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "model": {
          "description": "Device model.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Device manufacturer.",
          "type": "string"
        },
        "swVersion": {
          "type": "string",
          "description": "Device software version."
        }
      },
      "type": "object",
      "id": "DeviceInfo",
      "description": "Device information."
    },
    "SyncResponsePayload": {
      "properties": {
        "devices": {
          "type": "array",
          "description": "Devices associated with the third-party user.",
          "items": {
            "$ref": "Device"
          }
        },
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        }
      },
      "id": "SyncResponsePayload",
      "type": "object",
      "description": "Payload containing device information."
    },
    "StateAndNotificationPayload": {
      "type": "object",
      "description": "Payload containing the state and notification information for devices.",
      "properties": {
        "devices": {
          "description": "The devices for updating state and sending notifications.",
          "$ref": "ReportStateAndNotificationDevice"
        }
      },
      "id": "StateAndNotificationPayload"
    },
    "SyncResponse": {
      "type": "object",
      "id": "SyncResponse",
      "properties": {
        "payload": {
          "$ref": "SyncResponsePayload",
          "description": "Devices associated with the third-party user."
        },
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        }
      },
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```"
    },
    "HomeEvents": {
      "type": "object",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Required. / Unique identifier for the device."
        },
        "events": {
          "items": {
            "$ref": "Events"
          },
          "description": "Required. List of events for the item.",
          "type": "array"
        }
      },
      "id": "HomeEvents",
      "description": "Contains the set of events for an item."
    },
    "DeviceMetadata": {
      "id": "DeviceMetadata",
      "type": "object",
      "description": "Metadata for traits of a single device.",
      "properties": {
        "traitCommitTimestamps": {
          "type": "object",
          "additionalProperties": {
            "format": "google-datetime",
            "type": "string"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp."
        }
      }
    },
    "QueryResponse": {
      "id": "QueryResponse",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        }
      }
    },
    "DeviceBlameStruct": {
      "properties": {
        "blameType": {
          "type": "string",
          "description": "Required. Specifies the device blame type.",
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ]
        }
      },
      "id": "DeviceBlameStruct",
      "type": "object",
      "description": "Contains metadata about the cause of presence state change attributed to a device."
    },
    "TraitData": {
      "properties": {
        "providerUpdateTime": {
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`.",
          "format": "google-datetime",
          "type": "string"
        },
        "commitTime": {
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "format": "google-datetime",
          "type": "string"
        },
        "trait": {
          "description": "The Provider Home API trait payload.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "TraitData",
      "type": "object",
      "description": "Contains the trait payload for a single trait."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://homegraph.googleapis.com/",
  "ownerName": "Google",
  "id": "homegraph:v1",
  "title": "HomeGraph API",
  "basePath": "",
  "canonicalName": "Home Graph Service",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "resources": {
    "devices": {
      "methods": {
        "reportStateAndNotification": {
          "id": "homegraph.devices.reportStateAndNotification",
          "parameters": {},
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "path": "v1/devices:reportStateAndNotification",
          "flatPath": "v1/devices:reportStateAndNotification",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ]
        },
        "sync": {
          "httpMethod": "POST",
          "request": {
            "$ref": "SyncRequest"
          },
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "path": "v1/devices:sync",
          "parameterOrder": [],
          "id": "homegraph.devices.sync",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "SyncResponse"
          },
          "flatPath": "v1/devices:sync"
        },
        "query": {
          "id": "homegraph.devices.query",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "path": "v1/devices:query",
          "parameterOrder": [],
          "response": {
            "$ref": "QueryResponse"
          },
          "flatPath": "v1/devices:query",
          "request": {
            "$ref": "QueryRequest"
          },
          "httpMethod": "POST"
        },
        "requestSync": {
          "parameters": {},
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "id": "homegraph.devices.requestSync",
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "v1/devices:requestSync",
          "path": "v1/devices:requestSync"
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "agentUserId"
          ],
          "parameters": {
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "Request ID used for debugging."
            },
            "agentUserId": {
              "description": "Required. Third-party user ID.",
              "required": true,
              "pattern": "^agentUsers/.*$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1/{+agentUserId}",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.agentUsers.delete",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/agentUsers/{agentUsersId}"
        }
      }
    }
  },
  "name": "homegraph",
  "batchPath": "batch",
  "protocol": "rest",
  "revision": "20260828",
  "baseUrl": "https://homegraph.googleapis.com/",
  "servicePath": "",
  "version": "v1",
  "version_module": true,
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/"
}