{
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "name": "homegraph",
  "revision": "20260724",
  "version": "v1",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    }
  },
  "ownerDomain": "google.com",
  "id": "homegraph:v1",
  "version_module": true,
  "canonicalName": "Home Graph Service",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "title": "HomeGraph API",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "protocol": "rest",
  "rootUrl": "https://homegraph.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "baseUrl": "https://homegraph.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Result": {
      "properties": {
        "homeTraitCommitTime": {
          "description": "The trait commit timestamp of the state update in Home Graph.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Result",
      "description": "Result of reporting state and notifications for a single device."
    },
    "DeviceMetadata": {
      "description": "Metadata for traits of a single device.",
      "id": "DeviceMetadata",
      "type": "object",
      "properties": {
        "traitCommitTimestamps": {
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          },
          "type": "object",
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp."
        }
      }
    },
    "DeviceInfo": {
      "id": "DeviceInfo",
      "description": "Device information.",
      "properties": {
        "manufacturer": {
          "description": "Device manufacturer.",
          "type": "string"
        },
        "model": {
          "description": "Device model.",
          "type": "string"
        },
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Events": {
      "type": "object",
      "properties": {
        "events": {
          "description": "Required. List of events associated with the component.",
          "type": "array",
          "items": {
            "$ref": "EventData"
          }
        },
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        }
      },
      "description": "Contains a set of events for a specific component.",
      "id": "Events"
    },
    "ComponentTraitUpdates": {
      "description": "Contains the set of updates for a component.",
      "id": "ComponentTraitUpdates",
      "type": "object",
      "properties": {
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "traitData": {
          "description": "Required. The updated trait data for the component.",
          "type": "array",
          "items": {
            "$ref": "TraitData"
          }
        }
      }
    },
    "SyncResponse": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "description": "Devices associated with the third-party user.",
          "$ref": "SyncResponsePayload"
        }
      },
      "type": "object",
      "id": "SyncResponse",
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```"
    },
    "ReportStateAndNotificationDevice": {
      "description": "The states and notifications specific to a device.",
      "id": "ReportStateAndNotificationDevice",
      "type": "object",
      "properties": {
        "notifications": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "states": {
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "homeTraits": {
          "description": "Optional. UDDM/WHDM trait updates.",
          "type": "array",
          "items": {
            "$ref": "HomeTraitUpdates"
          }
        },
        "homeEvents": {
          "type": "array",
          "items": {
            "$ref": "HomeEvents"
          },
          "description": "Optional. UDDM/WHDM trait events"
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ReportStateAndNotificationRequest": {
      "type": "object",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "eventId": {
          "description": "Unique identifier per event (for example, a doorbell press).",
          "type": "string"
        },
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        },
        "followUpToken": {
          "description": "Deprecated.",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "id": "ReportStateAndNotificationRequest"
    },
    "HomeTraitUpdates": {
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Required. Unique identifier for the device.",
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "$ref": "ComponentTraitUpdates"
          },
          "description": "Required. Trait updates for each component."
        }
      },
      "description": "Contains the set of updates for a device.",
      "id": "HomeTraitUpdates"
    },
    "AgentDeviceId": {
      "description": "Third-party device ID for one device.",
      "id": "AgentDeviceId",
      "type": "object",
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      }
    },
    "Component": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "deviceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\"."
        },
        "traitData": {
          "description": "Required. List of trait data associated with the component.",
          "type": "array",
          "items": {
            "$ref": "TraitData"
          }
        },
        "childComponents": {
          "description": "Optional. Child components.",
          "type": "array",
          "items": {
            "$ref": "Component"
          }
        }
      },
      "description": "Component of a provider device.",
      "id": "Component"
    },
    "QueryResponse": {
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "description": "Device states for the devices given in the request.",
          "$ref": "QueryResponsePayload"
        }
      },
      "type": "object",
      "id": "QueryResponse",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```"
    },
    "SyncResponsePayload": {
      "type": "object",
      "properties": {
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        },
        "devices": {
          "description": "Devices associated with the third-party user.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        }
      },
      "description": "Payload containing device information.",
      "id": "SyncResponsePayload"
    },
    "StateAndNotificationPayload": {
      "description": "Payload containing the state and notification information for devices.",
      "id": "StateAndNotificationPayload",
      "type": "object",
      "properties": {
        "devices": {
          "description": "The devices for updating state and sending notifications.",
          "$ref": "ReportStateAndNotificationDevice"
        }
      }
    },
    "DeviceNames": {
      "description": "Identifiers used to describe the device.",
      "id": "DeviceNames",
      "type": "object",
      "properties": {
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        },
        "nicknames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional names provided by the user for the device."
        },
        "defaultNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc."
        }
      }
    },
    "TraitData": {
      "properties": {
        "commitTime": {
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "providerVersionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional in write requests (e.g. ReportStateAndNotification). If set, represents the provider version timestamp of the existing trait in the database. The server will perform optimistic locking validation if this field is present and the experiment is enabled. It will not be persisted to the database."
        },
        "trait": {
          "description": "The Provider Home API trait payload.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "id": "TraitData",
      "description": "Contains the trait payload for a single trait."
    },
    "HomeTraitPayload": {
      "properties": {
        "rootComponent": {
          "description": "The root component of the device as reported by the provider.",
          "$ref": "Component"
        }
      },
      "type": "object",
      "id": "HomeTraitPayload",
      "description": "Container for UDDM trait data associated with a device."
    },
    "Device": {
      "type": "object",
      "properties": {
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "attributes": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Attributes for the traits supported by the device."
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        },
        "notificationSupportedByAgent": {
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
          "type": "boolean"
        },
        "type": {
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides).",
          "type": "string"
        },
        "name": {
          "$ref": "DeviceNames",
          "description": "Names given to this device by your smart home Action."
        },
        "traits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "customData": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information."
        },
        "otherDeviceIds": {
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
          "type": "array",
          "items": {
            "$ref": "AgentOtherDeviceId"
          }
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "structureHint": {
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        }
      },
      "description": "Third-party device definition.",
      "id": "Device"
    },
    "QueryRequestInput": {
      "id": "QueryRequestInput",
      "description": "Device ID inputs to QueryRequest.",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      },
      "type": "object"
    },
    "RequestSyncDevicesRequest": {
      "id": "RequestSyncDevicesRequest",
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "properties": {
        "async": {
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
          "type": "boolean"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "QueryRequest": {
      "properties": {
        "includeDeviceMetadata": {
          "description": "Optional. If true, the response will include device metadata in the device_metadata field.",
          "type": "boolean"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "deviceView": {
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY.",
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "type": "string"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "inputs": {
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "QueryRequestInput"
          }
        }
      },
      "type": "object",
      "id": "QueryRequest",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call."
    },
    "EventData": {
      "type": "object",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The timestamp of the event."
        },
        "event": {
          "description": "Required. The actual event payload.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "eventId": {
          "description": "Required. The unique event ID from the device provider.",
          "type": "string"
        }
      },
      "description": "Contains the details for a single event.",
      "id": "EventData"
    },
    "QueryRequestPayload": {
      "id": "QueryRequestPayload",
      "description": "Payload containing device IDs.",
      "properties": {
        "devices": {
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "AgentDeviceId"
          }
        }
      },
      "type": "object"
    },
    "SyncRequest": {
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "id": "SyncRequest",
      "type": "object",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        }
      }
    },
    "AgentOtherDeviceId": {
      "description": "Alternate third-party device ID.",
      "id": "AgentOtherDeviceId",
      "type": "object",
      "properties": {
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        },
        "deviceId": {
          "description": "Unique third-party device ID.",
          "type": "string"
        }
      }
    },
    "ReportStateAndNotificationResponse": {
      "type": "object",
      "properties": {
        "deviceResults": {
          "additionalProperties": {
            "$ref": "Result"
          },
          "type": "object",
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now."
        },
        "requestId": {
          "description": "Request ID copied from ReportStateAndNotificationRequest.",
          "type": "string"
        }
      },
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "id": "ReportStateAndNotificationResponse"
    },
    "RequestSyncDevicesResponse": {
      "properties": {},
      "type": "object",
      "id": "RequestSyncDevicesResponse",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."
    },
    "QueryResponsePayload": {
      "description": "Payload containing device states information.",
      "id": "QueryResponsePayload",
      "type": "object",
      "properties": {
        "devices": {
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "type": "object"
        },
        "deviceMetadata": {
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map.",
          "type": "object",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          }
        },
        "homeTraitPayload": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT."
        }
      }
    },
    "HomeEvents": {
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Required. / Unique identifier for the device.",
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Events"
          },
          "description": "Required. List of events for the item."
        }
      },
      "description": "Contains the set of events for an item.",
      "id": "HomeEvents"
    }
  },
  "resources": {
    "agentUsers": {
      "methods": {
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "parameterOrder": [
            "agentUserId"
          ],
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.agentUsers.delete",
          "parameters": {
            "agentUserId": {
              "description": "Required. Third-party user ID.",
              "pattern": "^agentUsers/.*$",
              "type": "string",
              "location": "path",
              "required": true
            },
            "requestId": {
              "description": "Request ID used for debugging.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/{+agentUserId}"
        }
      }
    },
    "devices": {
      "methods": {
        "requestSync": {
          "httpMethod": "POST",
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "flatPath": "v1/devices:requestSync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "path": "v1/devices:requestSync",
          "parameterOrder": [],
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.requestSync",
          "parameters": {}
        },
        "reportStateAndNotification": {
          "flatPath": "v1/devices:reportStateAndNotification",
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "path": "v1/devices:reportStateAndNotification",
          "id": "homegraph.devices.reportStateAndNotification",
          "parameters": {},
          "parameterOrder": [],
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project."
        },
        "sync": {
          "path": "v1/devices:sync",
          "id": "homegraph.devices.sync",
          "parameters": {},
          "parameterOrder": [],
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/devices:sync",
          "httpMethod": "POST",
          "request": {
            "$ref": "SyncRequest"
          },
          "response": {
            "$ref": "SyncResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ]
        },
        "query": {
          "parameterOrder": [],
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.query",
          "parameters": {},
          "path": "v1/devices:query",
          "response": {
            "$ref": "QueryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "QueryRequest"
          },
          "flatPath": "v1/devices:query"
        }
      }
    }
  }
}