{
  "revision": "20260627",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "basePath": "",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "name": "homegraph",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "baseUrl": "https://homegraph.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "rootUrl": "https://homegraph.googleapis.com/",
  "protocol": "rest",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "version_module": true,
  "schemas": {
    "ReportStateAndNotificationRequest": {
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Unique identifier per event (for example, a doorbell press)."
        },
        "followUpToken": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated."
        },
        "payload": {
          "$ref": "StateAndNotificationPayload",
          "description": "Required. State of devices to update and notification metadata for devices."
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "id": "ReportStateAndNotificationRequest",
      "type": "object"
    },
    "ReportStateAndNotificationResponse": {
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID copied from ReportStateAndNotificationRequest."
        }
      },
      "id": "ReportStateAndNotificationResponse",
      "type": "object"
    },
    "QueryRequest": {
      "id": "QueryRequest",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "inputs": {
          "items": {
            "$ref": "QueryRequestInput"
          },
          "type": "array",
          "description": "Required. Inputs containing third-party device IDs for which to get the device states."
        },
        "deviceView": {
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY.",
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ]
        },
        "includeDeviceMetadata": {
          "type": "boolean",
          "description": "Optional. If true, the response will include device metadata in the device_metadata field."
        }
      },
      "type": "object"
    },
    "SyncRequest": {
      "type": "object",
      "id": "SyncRequest",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      }
    },
    "DeviceNames": {
      "description": "Identifiers used to describe the device.",
      "properties": {
        "defaultNames": {
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        },
        "nicknames": {
          "description": "Additional names provided by the user for the device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "DeviceNames",
      "type": "object"
    },
    "Component": {
      "type": "object",
      "id": "Component",
      "description": "Component of a provider device.",
      "properties": {
        "childComponents": {
          "description": "Optional. Child components.",
          "items": {
            "$ref": "Component"
          },
          "type": "array"
        },
        "deviceTypes": {
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "traitData": {
          "description": "Required. List of trait data associated with the component.",
          "type": "array",
          "items": {
            "$ref": "TraitData"
          }
        }
      }
    },
    "AgentOtherDeviceId": {
      "type": "object",
      "description": "Alternate third-party device ID.",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Unique third-party device ID."
        },
        "agentId": {
          "type": "string",
          "description": "Project ID for your smart home Action."
        }
      },
      "id": "AgentOtherDeviceId"
    },
    "EventData": {
      "type": "object",
      "description": "Contains the details for a single event.",
      "properties": {
        "eventTime": {
          "description": "Required. The timestamp of the event.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventId": {
          "description": "Required. The unique event ID from the device provider.",
          "type": "string"
        },
        "event": {
          "description": "Required. The actual event payload.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "EventData"
    },
    "QueryResponse": {
      "type": "object",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        },
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        }
      },
      "id": "QueryResponse"
    },
    "DeviceInfo": {
      "id": "DeviceInfo",
      "description": "Device information.",
      "properties": {
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Device model."
        }
      },
      "type": "object"
    },
    "SyncResponse": {
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        },
        "payload": {
          "description": "Devices associated with the third-party user.",
          "$ref": "SyncResponsePayload"
        }
      },
      "id": "SyncResponse",
      "type": "object"
    },
    "RequestSyncDevicesResponse": {
      "id": "RequestSyncDevicesResponse",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "properties": {},
      "type": "object"
    },
    "ComponentTraitUpdates": {
      "id": "ComponentTraitUpdates",
      "description": "Contains the set of updates for a component.",
      "properties": {
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "traitData": {
          "items": {
            "$ref": "TraitData"
          },
          "type": "array",
          "description": "Required. The updated trait data for the component."
        }
      },
      "type": "object"
    },
    "TraitData": {
      "type": "object",
      "description": "Contains the trait payload for a single trait.",
      "properties": {
        "trait": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The Provider Home API trait payload.",
          "type": "object"
        },
        "commitTime": {
          "type": "string",
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "format": "google-datetime"
        }
      },
      "id": "TraitData"
    },
    "QueryRequestPayload": {
      "type": "object",
      "id": "QueryRequestPayload",
      "description": "Payload containing device IDs.",
      "properties": {
        "devices": {
          "description": "Third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "AgentDeviceId"
          },
          "type": "array"
        }
      }
    },
    "HomeTraitPayload": {
      "type": "object",
      "id": "HomeTraitPayload",
      "description": "Container for UDDM trait data associated with a device.",
      "properties": {
        "rootComponent": {
          "description": "The root component of the device as reported by the provider.",
          "$ref": "Component"
        }
      }
    },
    "StateAndNotificationPayload": {
      "type": "object",
      "description": "Payload containing the state and notification information for devices.",
      "properties": {
        "devices": {
          "$ref": "ReportStateAndNotificationDevice",
          "description": "The devices for updating state and sending notifications."
        }
      },
      "id": "StateAndNotificationPayload"
    },
    "QueryRequestInput": {
      "type": "object",
      "description": "Device ID inputs to QueryRequest.",
      "properties": {
        "payload": {
          "$ref": "QueryRequestPayload",
          "description": "Payload containing third-party device IDs."
        }
      },
      "id": "QueryRequestInput"
    },
    "SyncResponsePayload": {
      "type": "object",
      "description": "Payload containing device information.",
      "properties": {
        "devices": {
          "description": "Devices associated with the third-party user.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        },
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        }
      },
      "id": "SyncResponsePayload"
    },
    "Events": {
      "type": "object",
      "id": "Events",
      "description": "Contains a set of events for a specific component.",
      "properties": {
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        },
        "events": {
          "description": "Required. List of events associated with the component.",
          "items": {
            "$ref": "EventData"
          },
          "type": "array"
        }
      }
    },
    "HomeEvents": {
      "id": "HomeEvents",
      "description": "Contains the set of events for an item.",
      "properties": {
        "deviceId": {
          "description": "Required. / Unique identifier for the device.",
          "type": "string"
        },
        "events": {
          "description": "Required. List of events for the item.",
          "type": "array",
          "items": {
            "$ref": "Events"
          }
        }
      },
      "type": "object"
    },
    "DeviceMetadata": {
      "type": "object",
      "id": "DeviceMetadata",
      "description": "Metadata for traits of a single device.",
      "properties": {
        "traitCommitTimestamps": {
          "type": "object",
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp.",
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          }
        }
      }
    },
    "RequestSyncDevicesRequest": {
      "type": "object",
      "id": "RequestSyncDevicesRequest",
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "properties": {
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "async": {
          "type": "boolean",
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."
        }
      }
    },
    "QueryResponsePayload": {
      "type": "object",
      "description": "Payload containing device states information.",
      "properties": {
        "homeTraitPayload": {
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT.",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "type": "object"
        },
        "devices": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "States of the devices. Map of third-party device ID to struct of device states."
        },
        "deviceMetadata": {
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map.",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          },
          "type": "object"
        }
      },
      "id": "QueryResponsePayload"
    },
    "ReportStateAndNotificationDevice": {
      "type": "object",
      "id": "ReportStateAndNotificationDevice",
      "description": "The states and notifications specific to a device.",
      "properties": {
        "notifications": {
          "type": "object",
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "homeEvents": {
          "description": "Optional. UDDM/WHDM trait events",
          "items": {
            "$ref": "HomeEvents"
          },
          "type": "array"
        },
        "states": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object"
        },
        "homeTraits": {
          "type": "array",
          "items": {
            "$ref": "HomeTraitUpdates"
          },
          "description": "Optional. UDDM/WHDM trait updates."
        }
      }
    },
    "AgentDeviceId": {
      "type": "object",
      "description": "Third-party device ID for one device.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        }
      },
      "id": "AgentDeviceId"
    },
    "Device": {
      "id": "Device",
      "description": "Third-party device definition.",
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        },
        "otherDeviceIds": {
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "type": "array",
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview)."
        },
        "notificationSupportedByAgent": {
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
        },
        "name": {
          "$ref": "DeviceNames",
          "description": "Names given to this device by your smart home Action."
        },
        "attributes": {
          "description": "Attributes for the traits supported by the device.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "structureHint": {
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "traits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "willReportState": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification."
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "HomeTraitUpdates": {
      "type": "object",
      "description": "Contains the set of updates for a device.",
      "properties": {
        "components": {
          "description": "Required. Trait updates for each component.",
          "items": {
            "$ref": "ComponentTraitUpdates"
          },
          "type": "array"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. Unique identifier for the device."
        }
      },
      "id": "HomeTraitUpdates"
    }
  },
  "description": "",
  "id": "homegraph:v1",
  "kind": "discovery#restDescription",
  "resources": {
    "agentUsers": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameterOrder": [
            "agentUserId"
          ],
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "httpMethod": "DELETE",
          "id": "homegraph.agentUsers.delete",
          "parameters": {
            "agentUserId": {
              "location": "path",
              "pattern": "^agentUsers/.*$",
              "description": "Required. Third-party user ID.",
              "required": true,
              "type": "string"
            },
            "requestId": {
              "description": "Request ID used for debugging.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/{+agentUserId}",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "response": {
            "$ref": "Empty"
          }
        }
      }
    },
    "devices": {
      "methods": {
        "reportStateAndNotification": {
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "flatPath": "v1/devices:reportStateAndNotification",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v1/devices:reportStateAndNotification",
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.reportStateAndNotification",
          "parameters": {}
        },
        "query": {
          "path": "v1/devices:query",
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.query",
          "parameters": {},
          "flatPath": "v1/devices:query",
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "QueryResponse"
          },
          "request": {
            "$ref": "QueryRequest"
          }
        },
        "requestSync": {
          "parameterOrder": [],
          "flatPath": "v1/devices:requestSync",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "id": "homegraph.devices.requestSync",
          "parameters": {},
          "path": "v1/devices:requestSync",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          }
        },
        "sync": {
          "parameterOrder": [],
          "flatPath": "v1/devices:sync",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "id": "homegraph.devices.sync",
          "parameters": {},
          "path": "v1/devices:sync",
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "request": {
            "$ref": "SyncRequest"
          },
          "response": {
            "$ref": "SyncResponse"
          }
        }
      }
    }
  },
  "title": "HomeGraph API",
  "canonicalName": "Home Graph Service"
}