{
  "version": "v1",
  "rootUrl": "https://homegraph.googleapis.com/",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "ownerName": "Google",
  "version_module": true,
  "servicePath": "",
  "id": "homegraph:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "title": "HomeGraph API",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "ComponentTraitUpdates": {
      "id": "ComponentTraitUpdates",
      "type": "object",
      "description": "Contains the set of updates for a component.",
      "properties": {
        "componentId": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "traitData": {
          "description": "Required. The updated trait data for the component.",
          "type": "array",
          "items": {
            "$ref": "TraitData"
          }
        }
      }
    },
    "HomeTraitUpdates": {
      "id": "HomeTraitUpdates",
      "properties": {
        "components": {
          "type": "array",
          "items": {
            "$ref": "ComponentTraitUpdates"
          },
          "description": "Required. Trait updates for each component."
        },
        "deviceId": {
          "description": "Required. Unique identifier for the device.",
          "type": "string"
        }
      },
      "description": "Contains the set of updates for a device.",
      "type": "object"
    },
    "DeviceBlameStruct": {
      "type": "object",
      "id": "DeviceBlameStruct",
      "description": "Contains metadata about the cause of presence state change attributed to a device.",
      "properties": {
        "blameType": {
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ],
          "description": "Required. Specifies the device blame type.",
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "type": "string"
        }
      }
    },
    "QueryResponse": {
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "id": "QueryResponse",
      "properties": {
        "payload": {
          "$ref": "QueryResponsePayload",
          "description": "Device states for the devices given in the request."
        },
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SyncRequest": {
      "id": "SyncRequest",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "type": "object"
    },
    "StructurePresenceStateChangeEvent": {
      "properties": {
        "presenceState": {
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ],
          "description": "Required. Specifies the presence state.",
          "type": "string"
        },
        "reason": {
          "$ref": "StructurePresenceStateChangeReasonStruct",
          "description": "Optional. Specifies the presence state change reason."
        }
      },
      "type": "object",
      "description": "Sent when the structure presence state changes.",
      "id": "StructurePresenceStateChangeEvent"
    },
    "SyncResponsePayload": {
      "type": "object",
      "description": "Payload containing device information.",
      "properties": {
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        },
        "devices": {
          "type": "array",
          "description": "Devices associated with the third-party user.",
          "items": {
            "$ref": "Device"
          }
        }
      },
      "id": "SyncResponsePayload"
    },
    "MotionEvent": {
      "description": "Represents a newly detected motion event.",
      "type": "object",
      "properties": {
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "zones": {
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          },
          "description": "Zones where events are detected in."
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        }
      },
      "id": "MotionEvent"
    },
    "EventData": {
      "properties": {
        "eventId": {
          "description": "Required. The unique event ID from the device provider.",
          "type": "string"
        },
        "event": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Required. The actual event payload."
        },
        "eventTime": {
          "description": "Required. The timestamp of the event.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Contains the details for a single event.",
      "type": "object",
      "id": "EventData"
    },
    "CameraEventStreamTrait": {
      "id": "CameraEventStreamTrait",
      "properties": {},
      "type": "object",
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ReportStateAndNotificationRequest": {
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Unique identifier per event (for example, a doorbell press)."
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "followUpToken": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated."
        }
      },
      "id": "ReportStateAndNotificationRequest",
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "type": "object"
    },
    "UserBlameStruct": {
      "id": "UserBlameStruct",
      "description": "Contains metadata about the cause of presence state change attributed to a user.",
      "type": "object",
      "properties": {
        "userEmail": {
          "description": "Required. Specifies the email of the user.",
          "type": "string"
        },
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "type": "string",
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ],
          "description": "Required. Specifies the user blame type."
        }
      }
    },
    "AgentDeviceId": {
      "type": "object",
      "id": "AgentDeviceId",
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "description": "Third-party device ID for one device."
    },
    "DeviceMetadata": {
      "properties": {
        "traitCommitTimestamps": {
          "additionalProperties": {
            "format": "google-datetime",
            "type": "string"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "DeviceMetadata",
      "description": "Metadata for traits of a single device."
    },
    "ReportStateAndNotificationDevice": {
      "type": "object",
      "id": "ReportStateAndNotificationDevice",
      "description": "The states and notifications specific to a device.",
      "properties": {
        "homeTraits": {
          "type": "array",
          "items": {
            "$ref": "HomeTraitUpdates"
          },
          "description": "Optional. UDDM/WHDM trait updates."
        },
        "homeEvents": {
          "items": {
            "$ref": "HomeEvents"
          },
          "description": "Optional. UDDM/WHDM trait events",
          "type": "array"
        },
        "notifications": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "states": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        }
      }
    },
    "QueryRequestInput": {
      "type": "object",
      "description": "Device ID inputs to QueryRequest.",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      },
      "id": "QueryRequestInput"
    },
    "RequestSyncDevicesRequest": {
      "id": "RequestSyncDevicesRequest",
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "type": "object",
      "properties": {
        "async": {
          "type": "boolean",
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      }
    },
    "StateAndNotificationPayload": {
      "id": "StateAndNotificationPayload",
      "type": "object",
      "properties": {
        "devices": {
          "$ref": "ReportStateAndNotificationDevice",
          "description": "The devices for updating state and sending notifications."
        }
      },
      "description": "Payload containing the state and notification information for devices."
    },
    "PersonEvent": {
      "description": "Represents a newly detected person event.",
      "id": "PersonEvent",
      "properties": {
        "zonesIsEmpty": {
          "type": "boolean",
          "description": "If set, zones is an empty list."
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zones": {
          "items": {
            "$ref": "ZoneStruct"
          },
          "description": "Zones where events are detected in.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Component": {
      "properties": {
        "childComponents": {
          "description": "Optional. Child components.",
          "items": {
            "$ref": "Component"
          },
          "type": "array"
        },
        "traitData": {
          "description": "Required. List of trait data associated with the component.",
          "type": "array",
          "items": {
            "$ref": "TraitData"
          }
        },
        "id": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "deviceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\"."
        }
      },
      "type": "object",
      "description": "Component of a provider device.",
      "id": "Component"
    },
    "RequestSyncDevicesResponse": {
      "id": "RequestSyncDevicesResponse",
      "type": "object",
      "properties": {},
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."
    },
    "AgentOtherDeviceId": {
      "description": "Alternate third-party device ID.",
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Project ID for your smart home Action."
        },
        "deviceId": {
          "description": "Unique third-party device ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AgentOtherDeviceId"
    },
    "Events": {
      "description": "Contains a set of events for a specific component.",
      "id": "Events",
      "properties": {
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        },
        "events": {
          "description": "Required. List of events associated with the component.",
          "items": {
            "$ref": "EventData"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ZoneStruct": {
      "type": "object",
      "id": "ZoneStruct",
      "properties": {
        "label": {
          "description": "Name of the zone.",
          "type": "string"
        },
        "zoneId": {
          "description": "Id of the zone",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TraitData": {
      "id": "TraitData",
      "description": "Contains the trait payload for a single trait.",
      "type": "object",
      "properties": {
        "trait": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The Provider Home API trait payload."
        },
        "commitTime": {
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "providerUpdateTime": {
          "type": "string",
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`.",
          "format": "google-datetime"
        }
      }
    },
    "ReportStateAndNotificationResponse": {
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "id": "ReportStateAndNotificationResponse",
      "properties": {
        "requestId": {
          "description": "Request ID copied from ReportStateAndNotificationRequest.",
          "type": "string"
        },
        "deviceResults": {
          "additionalProperties": {
            "$ref": "Result"
          },
          "type": "object",
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now."
        }
      },
      "type": "object"
    },
    "CommonEventDataStruct": {
      "id": "CommonEventDataStruct",
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Camera event session id. Used for identifying a unique event session"
        },
        "trackId": {
          "description": "Id of the track this object belongs to",
          "type": "string"
        },
        "mediaUrls": {
          "description": "Contains media urls for the event",
          "$ref": "MediaUrlsStruct"
        }
      },
      "description": "Common camera event data.",
      "type": "object"
    },
    "StructurePresenceStateChangeReasonStruct": {
      "properties": {
        "userBlame": {
          "$ref": "UserBlameStruct",
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user."
        },
        "deviceBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device.",
          "$ref": "DeviceBlameStruct"
        }
      },
      "type": "object",
      "description": "Contains the metadata about the cause of the structure presence state change.",
      "id": "StructurePresenceStateChangeReasonStruct"
    },
    "MediaUrlsStruct": {
      "id": "MediaUrlsStruct",
      "type": "object",
      "properties": {
        "previewUrl": {
          "description": "URL for animated preview clip representing the event session",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        },
        "hlsMasterPlaylistUrl": {
          "type": "string",
          "description": "URL for a hls master playlist for playback"
        },
        "dashManifestUrl": {
          "type": "string",
          "description": "URL for a dash manifest for playback"
        }
      }
    },
    "QueryResponsePayload": {
      "description": "Payload containing device states information.",
      "id": "QueryResponsePayload",
      "properties": {
        "homeTraitPayload": {
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT.",
          "type": "object",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          }
        },
        "devices": {
          "type": "object",
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          }
        },
        "deviceMetadata": {
          "type": "object",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map."
        }
      },
      "type": "object"
    },
    "EveUtilityTrait": {
      "type": "object",
      "properties": {
        "current": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "rloc16": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "loggingData": {
          "readOnly": true,
          "format": "byte",
          "type": "string"
        },
        "wattAccumulated": {
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "openCount": {
          "type": "string",
          "format": "int64"
        },
        "childLock": {
          "type": "boolean"
        },
        "loggingTime": {
          "type": "string",
          "format": "byte"
        },
        "watt": {
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "setConfig": {
          "type": "string",
          "format": "byte"
        },
        "motionSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "loggingControlPoint": {
          "type": "string",
          "format": "byte"
        },
        "statusFault": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "weatherTrend": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "obstructionDetected": {
          "type": "boolean",
          "readOnly": true
        },
        "voltage": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "airPressure": {
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "lastEventTime": {
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "altitude": {
          "type": "number",
          "format": "double"
        },
        "acceptedCommandList": {
          "readOnly": true,
          "description": "Required. Output only. Accepted command list for this trait",
          "type": "array",
          "items": {
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ],
            "enumDeprecated": [
              true
            ],
            "type": "string",
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ]
          }
        },
        "getConfig": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        },
        "loggingMetadata": {
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "accumulatedControlPoint": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "EveUtilityTrait"
    },
    "QueryRequest": {
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "id": "QueryRequest",
      "properties": {
        "includeDeviceMetadata": {
          "type": "boolean",
          "description": "Optional. If true, the response will include device metadata in the device_metadata field."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "inputs": {
          "type": "array",
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "QueryRequestInput"
          }
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "deviceView": {
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "type": "string",
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY."
        }
      },
      "type": "object"
    },
    "SyncResponse": {
      "id": "SyncResponse",
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "$ref": "SyncResponsePayload",
          "description": "Devices associated with the third-party user."
        }
      },
      "type": "object"
    },
    "HomeTraitPayload": {
      "description": "Container for UDDM trait data associated with a device.",
      "id": "HomeTraitPayload",
      "type": "object",
      "properties": {
        "rootComponent": {
          "description": "The root component of the device as reported by the provider.",
          "$ref": "Component"
        }
      }
    },
    "Result": {
      "description": "Result of reporting state and notifications for a single device.",
      "type": "object",
      "properties": {
        "homeTraitCommitTime": {
          "format": "google-datetime",
          "description": "The trait commit timestamp of the state update in Home Graph.",
          "type": "string"
        }
      },
      "id": "Result"
    },
    "QueryRequestPayload": {
      "type": "object",
      "id": "QueryRequestPayload",
      "description": "Payload containing device IDs.",
      "properties": {
        "devices": {
          "description": "Third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "AgentDeviceId"
          },
          "type": "array"
        }
      }
    },
    "ThermostatFanControlTrait": {
      "description": "This cluster provides fan control capabilities for thermostats.",
      "type": "object",
      "properties": {
        "timerDuration": {
          "format": "int64",
          "type": "string"
        },
        "timerSpeed": {
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "timerEnd": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ThermostatFanControlTrait"
    },
    "DeviceNames": {
      "description": "Identifiers used to describe the device.",
      "properties": {
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        },
        "defaultNames": {
          "items": {
            "type": "string"
          },
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "type": "array"
        },
        "nicknames": {
          "description": "Additional names provided by the user for the device.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DeviceNames",
      "type": "object"
    },
    "PartnerPresenceSignalTrait": {
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:",
      "type": "object",
      "properties": {},
      "id": "PartnerPresenceSignalTrait"
    },
    "Device": {
      "id": "Device",
      "properties": {
        "attributes": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Attributes for the traits supported by the device."
        },
        "name": {
          "$ref": "DeviceNames",
          "description": "Names given to this device by your smart home Action."
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "traits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "type": {
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides).",
          "type": "string"
        },
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        },
        "customData": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information."
        },
        "notificationSupportedByAgent": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."
        },
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "otherDeviceIds": {
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
          "type": "array"
        },
        "deviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Device manufacturer, model, hardware version, and software version."
        },
        "structureHint": {
          "type": "string",
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."
        }
      },
      "type": "object",
      "description": "Third-party device definition."
    },
    "HomeEvents": {
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Required. / Unique identifier for the device.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "Events"
          },
          "type": "array",
          "description": "Required. List of events for the item."
        }
      },
      "id": "HomeEvents",
      "description": "Contains the set of events for an item."
    },
    "DeviceInfo": {
      "type": "object",
      "properties": {
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "model": {
          "description": "Device model.",
          "type": "string"
        },
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        }
      },
      "id": "DeviceInfo",
      "description": "Device information."
    }
  },
  "description": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://homegraph.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "canonicalName": "Home Graph Service",
  "resources": {
    "agentUsers": {
      "methods": {
        "delete": {
          "path": "v1/{+agentUserId}",
          "parameters": {
            "agentUserId": {
              "pattern": "^agentUsers/.*$",
              "type": "string",
              "location": "path",
              "description": "Required. Third-party user ID.",
              "required": true
            },
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "Request ID used for debugging."
            }
          },
          "parameterOrder": [
            "agentUserId"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "id": "homegraph.agentUsers.delete",
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "response": {
            "$ref": "Empty"
          },
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project."
        }
      }
    },
    "devices": {
      "methods": {
        "sync": {
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "SyncResponse"
          },
          "flatPath": "v1/devices:sync",
          "parameterOrder": [],
          "path": "v1/devices:sync",
          "httpMethod": "POST",
          "id": "homegraph.devices.sync",
          "parameters": {},
          "request": {
            "$ref": "SyncRequest"
          }
        },
        "requestSync": {
          "parameterOrder": [],
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "httpMethod": "POST",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.requestSync",
          "path": "v1/devices:requestSync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "parameters": {},
          "flatPath": "v1/devices:requestSync"
        },
        "reportStateAndNotification": {
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "id": "homegraph.devices.reportStateAndNotification",
          "path": "v1/devices:reportStateAndNotification",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1/devices:reportStateAndNotification",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {}
        },
        "query": {
          "id": "homegraph.devices.query",
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "QueryRequest"
          },
          "path": "v1/devices:query",
          "response": {
            "$ref": "QueryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "flatPath": "v1/devices:query"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "revision": "20260915",
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "name": "homegraph",
  "fullyEncodeReservedExpansion": true
}