{
  "baseUrl": "https://homegraph.googleapis.com/",
  "revision": "20260806",
  "version": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "resources": {
    "devices": {
      "methods": {
        "query": {
          "parameterOrder": [],
          "request": {
            "$ref": "QueryRequest"
          },
          "response": {
            "$ref": "QueryResponse"
          },
          "path": "v1/devices:query",
          "id": "homegraph.devices.query",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "flatPath": "v1/devices:query",
          "httpMethod": "POST",
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project."
        },
        "sync": {
          "parameterOrder": [],
          "path": "v1/devices:sync",
          "id": "homegraph.devices.sync",
          "request": {
            "$ref": "SyncRequest"
          },
          "response": {
            "$ref": "SyncResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "flatPath": "v1/devices:sync",
          "httpMethod": "POST",
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project."
        },
        "requestSync": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "httpMethod": "POST",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/devices:requestSync",
          "parameterOrder": [],
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "id": "homegraph.devices.requestSync",
          "path": "v1/devices:requestSync"
        },
        "reportStateAndNotification": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameters": {},
          "flatPath": "v1/devices:reportStateAndNotification",
          "httpMethod": "POST",
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameterOrder": [],
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "path": "v1/devices:reportStateAndNotification",
          "id": "homegraph.devices.reportStateAndNotification"
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "agentUserId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "homegraph.agentUsers.delete",
          "path": "v1/{+agentUserId}",
          "parameters": {
            "agentUserId": {
              "type": "string",
              "description": "Required. Third-party user ID.",
              "pattern": "^agentUsers/.*$",
              "location": "path",
              "required": true
            },
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "Request ID used for debugging."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "httpMethod": "DELETE",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/agentUsers/{agentUsersId}"
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://homegraph.googleapis.com/",
  "ownerDomain": "google.com",
  "servicePath": "",
  "id": "homegraph:v1",
  "canonicalName": "Home Graph Service",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "name": "homegraph",
  "description": "",
  "discoveryVersion": "v1",
  "schemas": {
    "DeviceInfo": {
      "description": "Device information.",
      "id": "DeviceInfo",
      "type": "object",
      "properties": {
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Device manufacturer.",
          "type": "string"
        },
        "model": {
          "description": "Device model.",
          "type": "string"
        },
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        }
      }
    },
    "UserBlameStruct": {
      "description": "Contains metadata about the cause of presence state change attributed to a user.",
      "id": "UserBlameStruct",
      "type": "object",
      "properties": {
        "userEmail": {
          "description": "Required. Specifies the email of the user.",
          "type": "string"
        },
        "blameType": {
          "type": "string",
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "description": "Required. Specifies the user blame type.",
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ]
        }
      }
    },
    "ZoneStruct": {
      "id": "ZoneStruct",
      "type": "object",
      "properties": {
        "zoneId": {
          "type": "string",
          "format": "int64",
          "description": "Id of the zone"
        },
        "label": {
          "description": "Name of the zone.",
          "type": "string"
        }
      }
    },
    "Device": {
      "description": "Third-party device definition.",
      "id": "Device",
      "type": "object",
      "properties": {
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "structureHint": {
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "attributes": {
          "description": "Attributes for the traits supported by the device.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "traits": {
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Names given to this device by your smart home Action.",
          "$ref": "DeviceNames"
        },
        "type": {
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides).",
          "type": "string"
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "otherDeviceIds": {
          "type": "array",
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
          "items": {
            "$ref": "AgentOtherDeviceId"
          }
        },
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        },
        "notificationSupportedByAgent": {
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices.",
          "type": "boolean"
        }
      }
    },
    "RequestSyncDevicesRequest": {
      "id": "RequestSyncDevicesRequest",
      "type": "object",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "async": {
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
          "type": "boolean"
        }
      },
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call."
    },
    "Events": {
      "id": "Events",
      "type": "object",
      "properties": {
        "events": {
          "description": "Required. List of events associated with the component.",
          "items": {
            "$ref": "EventData"
          },
          "type": "array"
        },
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        }
      },
      "description": "Contains a set of events for a specific component."
    },
    "StructurePresenceStateChangeReasonStruct": {
      "description": "Contains the metadata about the cause of the structure presence state change.",
      "id": "StructurePresenceStateChangeReasonStruct",
      "type": "object",
      "properties": {
        "userBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user.",
          "$ref": "UserBlameStruct"
        },
        "deviceBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device.",
          "$ref": "DeviceBlameStruct"
        }
      }
    },
    "DeviceBlameStruct": {
      "description": "Contains metadata about the cause of presence state change attributed to a device.",
      "id": "DeviceBlameStruct",
      "type": "object",
      "properties": {
        "blameType": {
          "type": "string",
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "description": "Required. Specifies the device blame type.",
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ]
        }
      }
    },
    "ReportStateAndNotificationResponse": {
      "id": "ReportStateAndNotificationResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID copied from ReportStateAndNotificationRequest.",
          "type": "string"
        },
        "deviceResults": {
          "additionalProperties": {
            "$ref": "Result"
          },
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now.",
          "type": "object"
        }
      },
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call."
    },
    "EventData": {
      "id": "EventData",
      "type": "object",
      "properties": {
        "eventId": {
          "description": "Required. The unique event ID from the device provider.",
          "type": "string"
        },
        "eventTime": {
          "description": "Required. The timestamp of the event.",
          "type": "string",
          "format": "google-datetime"
        },
        "event": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Required. The actual event payload."
        }
      },
      "description": "Contains the details for a single event."
    },
    "CameraEventStreamTrait": {
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow",
      "id": "CameraEventStreamTrait",
      "type": "object",
      "properties": {}
    },
    "QueryRequestPayload": {
      "description": "Payload containing device IDs.",
      "id": "QueryRequestPayload",
      "type": "object",
      "properties": {
        "devices": {
          "description": "Third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "AgentDeviceId"
          },
          "type": "array"
        }
      }
    },
    "ThermostatFanControlTrait": {
      "description": "This cluster provides fan control capabilities for thermostats.",
      "id": "ThermostatFanControlTrait",
      "type": "object",
      "properties": {
        "timerEnd": {
          "type": "string",
          "format": "int64"
        },
        "timerDuration": {
          "type": "string",
          "format": "int64"
        },
        "timerSpeed": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ]
        }
      }
    },
    "SyncRequest": {
      "id": "SyncRequest",
      "type": "object",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        }
      },
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call."
    },
    "CommonEventDataStruct": {
      "id": "CommonEventDataStruct",
      "type": "object",
      "properties": {
        "trackId": {
          "description": "Id of the track this object belongs to",
          "type": "string"
        },
        "sessionId": {
          "description": "Camera event session id. Used for identifying a unique event session",
          "type": "string"
        },
        "mediaUrls": {
          "description": "Contains media urls for the event",
          "$ref": "MediaUrlsStruct"
        }
      },
      "description": "Common camera event data."
    },
    "Result": {
      "id": "Result",
      "type": "object",
      "properties": {
        "homeTraitCommitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The trait commit timestamp of the state update in Home Graph."
        }
      },
      "description": "Result of reporting state and notifications for a single device."
    },
    "AgentDeviceId": {
      "id": "AgentDeviceId",
      "type": "object",
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "description": "Third-party device ID for one device."
    },
    "QueryResponse": {
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "id": "QueryResponse",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Device states for the devices given in the request.",
          "$ref": "QueryResponsePayload"
        },
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        }
      }
    },
    "HomeEvents": {
      "id": "HomeEvents",
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "description": "Required. List of events for the item.",
          "items": {
            "$ref": "Events"
          }
        },
        "deviceId": {
          "description": "Required. / Unique identifier for the device.",
          "type": "string"
        }
      },
      "description": "Contains the set of events for an item."
    },
    "QueryRequest": {
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "id": "QueryRequest",
      "type": "object",
      "properties": {
        "inputs": {
          "type": "array",
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "QueryRequestInput"
          }
        },
        "includeDeviceMetadata": {
          "description": "Optional. If true, the response will include device metadata in the device_metadata field.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "deviceView": {
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY.",
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ]
        }
      }
    },
    "HomeTraitUpdates": {
      "id": "HomeTraitUpdates",
      "type": "object",
      "properties": {
        "components": {
          "type": "array",
          "description": "Required. Trait updates for each component.",
          "items": {
            "$ref": "ComponentTraitUpdates"
          }
        },
        "deviceId": {
          "description": "Required. Unique identifier for the device.",
          "type": "string"
        }
      },
      "description": "Contains the set of updates for a device."
    },
    "MediaUrlsStruct": {
      "id": "MediaUrlsStruct",
      "type": "object",
      "properties": {
        "previewUrl": {
          "description": "URL for animated preview clip representing the event session",
          "type": "string"
        },
        "hlsMasterPlaylistUrl": {
          "description": "URL for a hls master playlist for playback",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        },
        "dashManifestUrl": {
          "description": "URL for a dash manifest for playback",
          "type": "string"
        }
      }
    },
    "Component": {
      "id": "Component",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "deviceTypes": {
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "traitData": {
          "description": "Required. List of trait data associated with the component.",
          "items": {
            "$ref": "TraitData"
          },
          "type": "array"
        },
        "childComponents": {
          "type": "array",
          "description": "Optional. Child components.",
          "items": {
            "$ref": "Component"
          }
        }
      },
      "description": "Component of a provider device."
    },
    "DeviceMetadata": {
      "id": "DeviceMetadata",
      "type": "object",
      "properties": {
        "traitCommitTimestamps": {
          "type": "object",
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp.",
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          }
        }
      },
      "description": "Metadata for traits of a single device."
    },
    "HomeTraitPayload": {
      "description": "Container for UDDM trait data associated with a device.",
      "id": "HomeTraitPayload",
      "type": "object",
      "properties": {
        "rootComponent": {
          "description": "The root component of the device as reported by the provider.",
          "$ref": "Component"
        }
      }
    },
    "DeviceNames": {
      "description": "Identifiers used to describe the device.",
      "id": "DeviceNames",
      "type": "object",
      "properties": {
        "nicknames": {
          "type": "array",
          "description": "Additional names provided by the user for the device.",
          "items": {
            "type": "string"
          }
        },
        "defaultNames": {
          "type": "array",
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names.",
          "type": "string"
        }
      }
    },
    "StateAndNotificationPayload": {
      "description": "Payload containing the state and notification information for devices.",
      "id": "StateAndNotificationPayload",
      "type": "object",
      "properties": {
        "devices": {
          "description": "The devices for updating state and sending notifications.",
          "$ref": "ReportStateAndNotificationDevice"
        }
      }
    },
    "SyncResponse": {
      "id": "SyncResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "description": "Devices associated with the third-party user.",
          "$ref": "SyncResponsePayload"
        }
      },
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```"
    },
    "ReportStateAndNotificationRequest": {
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "id": "ReportStateAndNotificationRequest",
      "type": "object",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "eventId": {
          "description": "Unique identifier per event (for example, a doorbell press).",
          "type": "string"
        },
        "followUpToken": {
          "description": "Deprecated.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "StructurePresenceStateChangeEvent": {
      "id": "StructurePresenceStateChangeEvent",
      "type": "object",
      "properties": {
        "presenceState": {
          "type": "string",
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "description": "Required. Specifies the presence state.",
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ]
        },
        "reason": {
          "description": "Optional. Specifies the presence state change reason.",
          "$ref": "StructurePresenceStateChangeReasonStruct"
        }
      },
      "description": "Sent when the structure presence state changes."
    },
    "QueryResponsePayload": {
      "id": "QueryResponsePayload",
      "type": "object",
      "properties": {
        "homeTraitPayload": {
          "type": "object",
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT.",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          }
        },
        "devices": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "States of the devices. Map of third-party device ID to struct of device states."
        },
        "deviceMetadata": {
          "type": "object",
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map.",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          }
        }
      },
      "description": "Payload containing device states information."
    },
    "PersonEvent": {
      "description": "Represents a newly detected person event.",
      "id": "PersonEvent",
      "type": "object",
      "properties": {
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "zones": {
          "type": "array",
          "description": "Zones where events are detected in.",
          "items": {
            "$ref": "ZoneStruct"
          }
        }
      }
    },
    "SyncResponsePayload": {
      "description": "Payload containing device information.",
      "id": "SyncResponsePayload",
      "type": "object",
      "properties": {
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        },
        "devices": {
          "type": "array",
          "description": "Devices associated with the third-party user.",
          "items": {
            "$ref": "Device"
          }
        }
      }
    },
    "PartnerPresenceSignalTrait": {
      "id": "PartnerPresenceSignalTrait",
      "type": "object",
      "properties": {},
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "MotionEvent": {
      "id": "MotionEvent",
      "type": "object",
      "properties": {
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zones": {
          "type": "array",
          "description": "Zones where events are detected in.",
          "items": {
            "$ref": "ZoneStruct"
          }
        }
      },
      "description": "Represents a newly detected motion event."
    },
    "EveUtilityTrait": {
      "id": "EveUtilityTrait",
      "type": "object",
      "properties": {
        "rloc16": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "weatherTrend": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "loggingData": {
          "format": "byte",
          "readOnly": true,
          "type": "string"
        },
        "wattAccumulated": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "watt": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "statusFault": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "airPressure": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "current": {
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "accumulatedControlPoint": {
          "format": "int64",
          "type": "string"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "obstructionDetected": {
          "readOnly": true,
          "type": "boolean"
        },
        "motionSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "altitude": {
          "type": "number",
          "format": "double"
        },
        "loggingControlPoint": {
          "format": "byte",
          "type": "string"
        },
        "openCount": {
          "format": "int64",
          "type": "string"
        },
        "loggingTime": {
          "format": "byte",
          "type": "string"
        },
        "setConfig": {
          "format": "byte",
          "type": "string"
        },
        "lastEventTime": {
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "voltage": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "loggingMetadata": {
          "format": "byte",
          "readOnly": true,
          "type": "string"
        },
        "getConfig": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "childLock": {
          "type": "boolean"
        },
        "acceptedCommandList": {
          "description": "Required. Output only. Accepted command list for this trait",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ],
            "enumDeprecated": [
              true
            ],
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ]
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "QueryRequestInput": {
      "description": "Device ID inputs to QueryRequest.",
      "id": "QueryRequestInput",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      }
    },
    "RequestSyncDevicesResponse": {
      "id": "RequestSyncDevicesResponse",
      "type": "object",
      "properties": {},
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure."
    },
    "ComponentTraitUpdates": {
      "id": "ComponentTraitUpdates",
      "type": "object",
      "properties": {
        "traitData": {
          "type": "array",
          "description": "Required. The updated trait data for the component.",
          "items": {
            "$ref": "TraitData"
          }
        },
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        }
      },
      "description": "Contains the set of updates for a component."
    },
    "TraitData": {
      "description": "Contains the trait payload for a single trait.",
      "id": "TraitData",
      "type": "object",
      "properties": {
        "trait": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The Provider Home API trait payload."
        },
        "providerVersionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional in write requests (e.g. ReportStateAndNotification). If set, represents the provider version timestamp of the existing trait in the database. The server will perform optimistic locking validation if this field is present and the experiment is enabled. It will not be persisted to the database."
        },
        "commitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Other metadata for the trait. The time the client update was committed in the server."
        }
      }
    },
    "ReportStateAndNotificationDevice": {
      "description": "The states and notifications specific to a device.",
      "id": "ReportStateAndNotificationDevice",
      "type": "object",
      "properties": {
        "states": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "homeEvents": {
          "type": "array",
          "description": "Optional. UDDM/WHDM trait events",
          "items": {
            "$ref": "HomeEvents"
          }
        },
        "homeTraits": {
          "description": "Optional. UDDM/WHDM trait updates.",
          "items": {
            "$ref": "HomeTraitUpdates"
          },
          "type": "array"
        },
        "notifications": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        }
      }
    },
    "AgentOtherDeviceId": {
      "id": "AgentOtherDeviceId",
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Unique third-party device ID.",
          "type": "string"
        },
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        }
      },
      "description": "Alternate third-party device ID."
    }
  },
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "version_module": true,
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "title": "HomeGraph API"
}