{
  "name": "homegraph",
  "baseUrl": "https://homegraph.googleapis.com/",
  "description": "",
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://homegraph.googleapis.com/",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "devices": {
      "methods": {
        "sync": {
          "flatPath": "v1/devices:sync",
          "httpMethod": "POST",
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameters": {},
          "parameterOrder": [],
          "id": "homegraph.devices.sync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "SyncResponse"
          },
          "request": {
            "$ref": "SyncRequest"
          },
          "path": "v1/devices:sync"
        },
        "requestSync": {
          "parameters": {},
          "parameterOrder": [],
          "id": "homegraph.devices.requestSync",
          "flatPath": "v1/devices:requestSync",
          "httpMethod": "POST",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "path": "v1/devices:requestSync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          }
        },
        "query": {
          "response": {
            "$ref": "QueryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "request": {
            "$ref": "QueryRequest"
          },
          "path": "v1/devices:query",
          "flatPath": "v1/devices:query",
          "httpMethod": "POST",
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.query",
          "parameters": {},
          "parameterOrder": []
        },
        "reportStateAndNotification": {
          "httpMethod": "POST",
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "flatPath": "v1/devices:reportStateAndNotification",
          "parameters": {},
          "parameterOrder": [],
          "id": "homegraph.devices.reportStateAndNotification",
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "path": "v1/devices:reportStateAndNotification"
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "httpMethod": "DELETE",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.agentUsers.delete",
          "parameters": {
            "agentUserId": {
              "description": "Required. Third-party user ID.",
              "pattern": "^agentUsers/.*$",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "requestId": {
              "description": "Request ID used for debugging.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "agentUserId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "path": "v1/{+agentUserId}"
        }
      }
    }
  },
  "protocol": "rest",
  "id": "homegraph:v1",
  "version_module": true,
  "basePath": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "title": "HomeGraph API",
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "batchPath": "batch",
  "ownerName": "Google",
  "canonicalName": "Home Graph Service",
  "version": "v1",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    }
  },
  "revision": "20260731",
  "schemas": {
    "DeviceNames": {
      "id": "DeviceNames",
      "type": "object",
      "description": "Identifiers used to describe the device.",
      "properties": {
        "nicknames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional names provided by the user for the device."
        },
        "name": {
          "type": "string",
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names."
        },
        "defaultNames": {
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CommonEventDataStruct": {
      "id": "CommonEventDataStruct",
      "description": "Common camera event data.",
      "properties": {
        "trackId": {
          "type": "string",
          "description": "Id of the track this object belongs to"
        },
        "mediaUrls": {
          "description": "Contains media urls for the event",
          "$ref": "MediaUrlsStruct"
        },
        "sessionId": {
          "type": "string",
          "description": "Camera event session id. Used for identifying a unique event session"
        }
      },
      "type": "object"
    },
    "Result": {
      "id": "Result",
      "description": "Result of reporting state and notifications for a single device.",
      "properties": {
        "homeTraitCommitTime": {
          "description": "The trait commit timestamp of the state update in Home Graph.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "HomeTraitPayload": {
      "id": "HomeTraitPayload",
      "type": "object",
      "description": "Container for UDDM trait data associated with a device.",
      "properties": {
        "rootComponent": {
          "description": "The root component of the device as reported by the provider.",
          "$ref": "Component"
        }
      }
    },
    "HomeEvents": {
      "description": "Contains the set of events for an item.",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "Events"
          },
          "description": "Required. List of events for the item."
        },
        "deviceId": {
          "description": "Required. / Unique identifier for the device.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "HomeEvents"
    },
    "ZoneStruct": {
      "type": "object",
      "properties": {
        "zoneId": {
          "description": "Id of the zone",
          "type": "string",
          "format": "int64"
        },
        "label": {
          "description": "Name of the zone.",
          "type": "string"
        }
      },
      "id": "ZoneStruct"
    },
    "ReportStateAndNotificationRequest": {
      "id": "ReportStateAndNotificationRequest",
      "type": "object",
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "eventId": {
          "description": "Unique identifier per event (for example, a doorbell press).",
          "type": "string"
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "followUpToken": {
          "description": "Deprecated.",
          "deprecated": true,
          "type": "string"
        },
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        }
      }
    },
    "ReportStateAndNotificationDevice": {
      "id": "ReportStateAndNotificationDevice",
      "description": "The states and notifications specific to a device.",
      "properties": {
        "notifications": {
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "homeTraits": {
          "description": "Optional. UDDM/WHDM trait updates.",
          "type": "array",
          "items": {
            "$ref": "HomeTraitUpdates"
          }
        },
        "homeEvents": {
          "type": "array",
          "items": {
            "$ref": "HomeEvents"
          },
          "description": "Optional. UDDM/WHDM trait events"
        },
        "states": {
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "PartnerPresenceSignalTrait": {
      "id": "PartnerPresenceSignalTrait",
      "type": "object",
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:",
      "properties": {}
    },
    "CameraEventStreamTrait": {
      "type": "object",
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow",
      "properties": {},
      "id": "CameraEventStreamTrait"
    },
    "RequestSyncDevicesResponse": {
      "id": "RequestSyncDevicesResponse",
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "properties": {},
      "type": "object"
    },
    "HomeTraitUpdates": {
      "description": "Contains the set of updates for a device.",
      "properties": {
        "deviceId": {
          "description": "Required. Unique identifier for the device.",
          "type": "string"
        },
        "components": {
          "type": "array",
          "items": {
            "$ref": "ComponentTraitUpdates"
          },
          "description": "Required. Trait updates for each component."
        }
      },
      "type": "object",
      "id": "HomeTraitUpdates"
    },
    "SyncRequest": {
      "id": "SyncRequest",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "QueryRequest": {
      "id": "QueryRequest",
      "type": "object",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call.",
      "properties": {
        "includeDeviceMetadata": {
          "type": "boolean",
          "description": "Optional. If true, the response will include device metadata in the device_metadata field."
        },
        "inputs": {
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "QueryRequestInput"
          }
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "deviceView": {
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY.",
          "type": "string"
        }
      }
    },
    "Device": {
      "type": "object",
      "description": "Third-party device definition.",
      "properties": {
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        },
        "structureHint": {
          "type": "string",
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."
        },
        "traits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "type": {
          "type": "string",
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
        },
        "otherDeviceIds": {
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
          "type": "array",
          "items": {
            "$ref": "AgentOtherDeviceId"
          }
        },
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "roomHint": {
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "attributes": {
          "description": "Attributes for the traits supported by the device.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "notificationSupportedByAgent": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."
        },
        "name": {
          "description": "Names given to this device by your smart home Action.",
          "$ref": "DeviceNames"
        }
      },
      "id": "Device"
    },
    "AgentDeviceId": {
      "id": "AgentDeviceId",
      "description": "Third-party device ID for one device.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        }
      },
      "type": "object"
    },
    "DeviceMetadata": {
      "description": "Metadata for traits of a single device.",
      "properties": {
        "traitCommitTimestamps": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp."
        }
      },
      "type": "object",
      "id": "DeviceMetadata"
    },
    "MediaUrlsStruct": {
      "id": "MediaUrlsStruct",
      "type": "object",
      "properties": {
        "previewUrl": {
          "description": "URL for animated preview clip representing the event session",
          "type": "string"
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "URL for thumbnail image representing the event session"
        },
        "hlsMasterPlaylistUrl": {
          "description": "URL for a hls master playlist for playback",
          "type": "string"
        },
        "dashManifestUrl": {
          "type": "string",
          "description": "URL for a dash manifest for playback"
        }
      }
    },
    "QueryResponse": {
      "id": "QueryResponse",
      "type": "object",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "description": "Device states for the devices given in the request.",
          "$ref": "QueryResponsePayload"
        }
      }
    },
    "ComponentTraitUpdates": {
      "id": "ComponentTraitUpdates",
      "type": "object",
      "description": "Contains the set of updates for a component.",
      "properties": {
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "traitData": {
          "description": "Required. The updated trait data for the component.",
          "type": "array",
          "items": {
            "$ref": "TraitData"
          }
        }
      }
    },
    "QueryResponsePayload": {
      "type": "object",
      "description": "Payload containing device states information.",
      "properties": {
        "devices": {
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          }
        },
        "deviceMetadata": {
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map.",
          "type": "object",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          }
        },
        "homeTraitPayload": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT."
        }
      },
      "id": "QueryResponsePayload"
    },
    "PersonEvent": {
      "id": "PersonEvent",
      "type": "object",
      "description": "Represents a newly detected person event.",
      "properties": {
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zones": {
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          },
          "description": "Zones where events are detected in."
        },
        "zonesIsEmpty": {
          "type": "boolean",
          "description": "If set, zones is an empty list."
        }
      }
    },
    "DeviceInfo": {
      "type": "object",
      "description": "Device information.",
      "properties": {
        "swVersion": {
          "type": "string",
          "description": "Device software version."
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "hwVersion": {
          "description": "Device hardware version.",
          "type": "string"
        },
        "model": {
          "description": "Device model.",
          "type": "string"
        }
      },
      "id": "DeviceInfo"
    },
    "StructurePresenceStateChangeReasonStruct": {
      "id": "StructurePresenceStateChangeReasonStruct",
      "description": "Contains the metadata about the cause of the structure presence state change.",
      "properties": {
        "userBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user.",
          "$ref": "UserBlameStruct"
        },
        "deviceBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device.",
          "$ref": "DeviceBlameStruct"
        }
      },
      "type": "object"
    },
    "StateAndNotificationPayload": {
      "type": "object",
      "description": "Payload containing the state and notification information for devices.",
      "properties": {
        "devices": {
          "description": "The devices for updating state and sending notifications.",
          "$ref": "ReportStateAndNotificationDevice"
        }
      },
      "id": "StateAndNotificationPayload"
    },
    "StructurePresenceStateChangeEvent": {
      "id": "StructurePresenceStateChangeEvent",
      "description": "Sent when the structure presence state changes.",
      "properties": {
        "presenceState": {
          "description": "Required. Specifies the presence state.",
          "type": "string",
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ]
        },
        "reason": {
          "description": "Optional. Specifies the presence state change reason.",
          "$ref": "StructurePresenceStateChangeReasonStruct"
        }
      },
      "type": "object"
    },
    "Events": {
      "id": "Events",
      "type": "object",
      "description": "Contains a set of events for a specific component.",
      "properties": {
        "componentId": {
          "type": "string",
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events."
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "EventData"
          },
          "description": "Required. List of events associated with the component."
        }
      }
    },
    "Component": {
      "type": "object",
      "description": "Component of a provider device.",
      "properties": {
        "childComponents": {
          "type": "array",
          "items": {
            "$ref": "Component"
          },
          "description": "Optional. Child components."
        },
        "deviceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\"."
        },
        "id": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "traitData": {
          "type": "array",
          "items": {
            "$ref": "TraitData"
          },
          "description": "Required. List of trait data associated with the component."
        }
      },
      "id": "Component"
    },
    "UserBlameStruct": {
      "id": "UserBlameStruct",
      "type": "object",
      "description": "Contains metadata about the cause of presence state change attributed to a user.",
      "properties": {
        "blameType": {
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ],
          "description": "Required. Specifies the user blame type.",
          "type": "string"
        },
        "userEmail": {
          "type": "string",
          "description": "Required. Specifies the email of the user."
        }
      }
    },
    "EveUtilityTrait": {
      "id": "EveUtilityTrait",
      "properties": {
        "wattAccumulated": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "lastEventTime": {
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "weatherTrend": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "loggingData": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "accumulatedControlPoint": {
          "type": "string",
          "format": "int64"
        },
        "altitude": {
          "type": "number",
          "format": "double"
        },
        "loggingMetadata": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "setConfig": {
          "type": "string",
          "format": "byte"
        },
        "openCount": {
          "type": "string",
          "format": "int64"
        },
        "statusFault": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "rloc16": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "acceptedCommandList": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ],
            "enumDeprecated": [
              true
            ],
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ]
          },
          "description": "Required. Output only. Accepted command list for this trait"
        },
        "loggingTime": {
          "type": "string",
          "format": "byte"
        },
        "loggingControlPoint": {
          "type": "string",
          "format": "byte"
        },
        "motionSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "airPressure": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "current": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "childLock": {
          "type": "boolean"
        },
        "watt": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "getConfig": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "voltage": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "obstructionDetected": {
          "readOnly": true,
          "type": "boolean"
        },
        "holdPosition": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "QueryRequestInput": {
      "id": "QueryRequestInput",
      "type": "object",
      "description": "Device ID inputs to QueryRequest.",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      }
    },
    "SyncResponse": {
      "id": "SyncResponse",
      "type": "object",
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        },
        "payload": {
          "description": "Devices associated with the third-party user.",
          "$ref": "SyncResponsePayload"
        }
      }
    },
    "EventData": {
      "description": "Contains the details for a single event.",
      "properties": {
        "eventTime": {
          "description": "Required. The timestamp of the event.",
          "type": "string",
          "format": "google-datetime"
        },
        "event": {
          "description": "Required. The actual event payload.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "eventId": {
          "type": "string",
          "description": "Required. The unique event ID from the device provider."
        }
      },
      "type": "object",
      "id": "EventData"
    },
    "ThermostatFanControlTrait": {
      "id": "ThermostatFanControlTrait",
      "description": "This cluster provides fan control capabilities for thermostats.",
      "properties": {
        "timerSpeed": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ]
        },
        "timerDuration": {
          "type": "string",
          "format": "int64"
        },
        "timerEnd": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ReportStateAndNotificationResponse": {
      "id": "ReportStateAndNotificationResponse",
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "properties": {
        "requestId": {
          "description": "Request ID copied from ReportStateAndNotificationRequest.",
          "type": "string"
        },
        "deviceResults": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Result"
          },
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now."
        }
      },
      "type": "object"
    },
    "TraitData": {
      "id": "TraitData",
      "description": "Contains the trait payload for a single trait.",
      "properties": {
        "commitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Other metadata for the trait. The time the client update was committed in the server."
        },
        "trait": {
          "description": "The Provider Home API trait payload.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "providerVersionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional in write requests (e.g. ReportStateAndNotification). If set, represents the provider version timestamp of the existing trait in the database. The server will perform optimistic locking validation if this field is present and the experiment is enabled. It will not be persisted to the database."
        }
      },
      "type": "object"
    },
    "QueryRequestPayload": {
      "description": "Payload containing device IDs.",
      "properties": {
        "devices": {
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array",
          "items": {
            "$ref": "AgentDeviceId"
          }
        }
      },
      "type": "object",
      "id": "QueryRequestPayload"
    },
    "SyncResponsePayload": {
      "id": "SyncResponsePayload",
      "type": "object",
      "description": "Payload containing device information.",
      "properties": {
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "Devices associated with the third-party user."
        }
      }
    },
    "DeviceBlameStruct": {
      "id": "DeviceBlameStruct",
      "type": "object",
      "description": "Contains metadata about the cause of presence state change attributed to a device.",
      "properties": {
        "blameType": {
          "description": "Required. Specifies the device blame type.",
          "type": "string",
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ]
        }
      }
    },
    "MotionEvent": {
      "type": "object",
      "description": "Represents a newly detected motion event.",
      "properties": {
        "zonesIsEmpty": {
          "type": "boolean",
          "description": "If set, zones is an empty list."
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zones": {
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          },
          "description": "Zones where events are detected in."
        }
      },
      "id": "MotionEvent"
    },
    "RequestSyncDevicesRequest": {
      "type": "object",
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "async": {
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
          "type": "boolean"
        }
      },
      "id": "RequestSyncDevicesRequest"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "AgentOtherDeviceId": {
      "id": "AgentOtherDeviceId",
      "type": "object",
      "description": "Alternate third-party device ID.",
      "properties": {
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        },
        "deviceId": {
          "description": "Unique third-party device ID.",
          "type": "string"
        }
      }
    }
  }
}