{
  "ownerDomain": "google.com",
  "revision": "20260828",
  "title": "HomeGraph API",
  "rootUrl": "https://homegraph.googleapis.com/",
  "baseUrl": "https://homegraph.googleapis.com/",
  "servicePath": "",
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "resources": {
    "devices": {
      "methods": {
        "query": {
          "request": {
            "$ref": "QueryRequest"
          },
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": [],
          "path": "v1/devices:query",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "flatPath": "v1/devices:query",
          "parameters": {},
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "id": "homegraph.devices.query",
          "httpMethod": "POST"
        },
        "requestSync": {
          "parameterOrder": [],
          "flatPath": "v1/devices:requestSync",
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "path": "v1/devices:requestSync",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.home.google.com/cloud-to-cloud/intents/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "id": "homegraph.devices.requestSync"
        },
        "sync": {
          "request": {
            "$ref": "SyncRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "flatPath": "v1/devices:sync",
          "parameters": {},
          "id": "homegraph.devices.sync",
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v1/devices:sync",
          "response": {
            "$ref": "SyncResponse"
          }
        },
        "reportStateAndNotification": {
          "parameters": {},
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "id": "homegraph.devices.reportStateAndNotification",
          "httpMethod": "POST",
          "path": "v1/devices:reportStateAndNotification",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "flatPath": "v1/devices:reportStateAndNotification",
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.home.google.com/cloud-to-cloud/integration/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.home.google.com/cloud-to-cloud/primer/device-types-and-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameterOrder": []
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "id": "homegraph.agentUsers.delete",
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "parameters": {
            "agentUserId": {
              "pattern": "^agentUsers/.*$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Third-party user ID."
            },
            "requestId": {
              "description": "Request ID used for debugging.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.home.google.com/cloud-to-cloud/primer/fulfillment). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "agentUserId"
          ],
          "path": "v1/{+agentUserId}",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ]
        }
      }
    }
  },
  "documentationLink": "https://developers.home.google.com/cloud-to-cloud/get-started",
  "id": "homegraph:v1",
  "version_module": true,
  "batchPath": "batch",
  "version": "v1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "name": "homegraph",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "canonicalName": "Home Graph Service",
  "kind": "discovery#restDescription",
  "schemas": {
    "EventData": {
      "id": "EventData",
      "type": "object",
      "properties": {
        "eventId": {
          "description": "Required. The unique event ID from the device provider.",
          "type": "string"
        },
        "event": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Required. The actual event payload.",
          "type": "object"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Required. The timestamp of the event.",
          "type": "string"
        }
      },
      "description": "Contains the details for a single event."
    },
    "Device": {
      "type": "object",
      "id": "Device",
      "properties": {
        "deviceInfo": {
          "description": "Device manufacturer, model, hardware version, and software version.",
          "$ref": "DeviceInfo"
        },
        "roomHint": {
          "type": "string",
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."
        },
        "attributes": {
          "type": "object",
          "description": "Attributes for the traits supported by the device.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "willReportState": {
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification.",
          "type": "boolean"
        },
        "structureHint": {
          "type": "string",
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup."
        },
        "otherDeviceIds": {
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.home.google.com/local-home/overview).",
          "type": "array",
          "items": {
            "$ref": "AgentOtherDeviceId"
          }
        },
        "name": {
          "description": "Names given to this device by your smart home Action.",
          "$ref": "DeviceNames"
        },
        "traits": {
          "type": "array",
          "description": "Traits supported by the device. See [device traits](https://developers.home.google.com/cloud-to-cloud/traits).",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "description": "Hardware type of the device. See [device types](https://developers.home.google.com/cloud-to-cloud/guides)."
        },
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        },
        "notificationSupportedByAgent": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."
        },
        "customData": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.home.google.com/cloud-to-cloud/intents/query) and [EXECUTE](https://developers.home.google.com/cloud-to-cloud/intents/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information."
        }
      },
      "description": "Third-party device definition."
    },
    "ComponentTraitUpdates": {
      "id": "ComponentTraitUpdates",
      "type": "object",
      "description": "Contains the set of updates for a component.",
      "properties": {
        "componentId": {
          "description": "Required. ID of the component from the device provider.",
          "type": "string"
        },
        "traitData": {
          "description": "Required. The updated trait data for the component.",
          "type": "array",
          "items": {
            "$ref": "TraitData"
          }
        }
      }
    },
    "QueryResponsePayload": {
      "properties": {
        "devices": {
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "type": "object"
        },
        "homeTraitPayload": {
          "additionalProperties": {
            "$ref": "HomeTraitPayload"
          },
          "type": "object",
          "description": "Map of device IDs to their Unified Device Data Model (UDDM) trait payloads. This field is populated when `device_view` is set to HOME_TRAIT_ONLY or HOME_TRAIT_AND_SMART_HOME_TRAIT."
        },
        "deviceMetadata": {
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp. If a trait has no recorded timestamp, it will be omitted from this map.",
          "additionalProperties": {
            "$ref": "DeviceMetadata"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "QueryResponsePayload",
      "description": "Payload containing device states information."
    },
    "QueryRequest": {
      "id": "QueryRequest",
      "properties": {
        "deviceView": {
          "enum": [
            "DEVICE_VIEW_UNSPECIFIED",
            "SMART_HOME_TRAIT_ONLY",
            "HOME_TRAIT_ONLY",
            "HOME_TRAIT_AND_SMART_HOME_TRAIT"
          ],
          "enumDescriptions": [
            "Default value. Equivalent to SMART_HOME_TRAIT_ONLY.",
            "Return only standard Smart Home traits in the `devices` map.",
            "Return only Unified Device Data Model (UDDM) traits in the `home_trait_payload` map.",
            "Return both standard Smart Home traits and UDDM traits."
          ],
          "description": "Optional. Specifies the type of device data to be returned in the response. This allows callers to request traditional Smart Home traits, Unified Device Data Model (UDDM) traits, or both. If unspecified, defaults to SMART_HOME_TRAIT_ONLY.",
          "type": "string"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "inputs": {
          "description": "Required. Inputs containing third-party device IDs for which to get the device states.",
          "items": {
            "$ref": "QueryRequestInput"
          },
          "type": "array"
        },
        "includeDeviceMetadata": {
          "type": "boolean",
          "description": "Optional. If true, the response will include device metadata in the device_metadata field."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "type": "object",
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call."
    },
    "QueryResponse": {
      "id": "QueryResponse",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.home.google.com/cloud-to-cloud/intents/query). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        },
        "payload": {
          "description": "Device states for the devices given in the request.",
          "$ref": "QueryResponsePayload"
        }
      }
    },
    "DeviceInfo": {
      "id": "DeviceInfo",
      "properties": {
        "swVersion": {
          "description": "Device software version.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Device model."
        },
        "manufacturer": {
          "description": "Device manufacturer.",
          "type": "string"
        },
        "hwVersion": {
          "type": "string",
          "description": "Device hardware version."
        }
      },
      "description": "Device information.",
      "type": "object"
    },
    "RequestSyncDevicesRequest": {
      "id": "RequestSyncDevicesRequest",
      "type": "object",
      "properties": {
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "async": {
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses.",
          "type": "boolean"
        }
      },
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call."
    },
    "StateAndNotificationPayload": {
      "id": "StateAndNotificationPayload",
      "properties": {
        "devices": {
          "description": "The devices for updating state and sending notifications.",
          "$ref": "ReportStateAndNotificationDevice"
        }
      },
      "description": "Payload containing the state and notification information for devices.",
      "type": "object"
    },
    "StructurePresenceStateChangeReasonStruct": {
      "id": "StructurePresenceStateChangeReasonStruct",
      "properties": {
        "deviceBlame": {
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a device.",
          "$ref": "DeviceBlameStruct"
        },
        "userBlame": {
          "$ref": "UserBlameStruct",
          "description": "Optional. Contains metadata about the cause of presence state change attributed to a user."
        }
      },
      "type": "object",
      "description": "Contains the metadata about the cause of the structure presence state change."
    },
    "SyncResponse": {
      "id": "SyncResponse",
      "properties": {
        "payload": {
          "$ref": "SyncResponsePayload",
          "description": "Devices associated with the third-party user."
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        }
      },
      "type": "object",
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.home.google.com/cloud-to-cloud/intents/sync). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```"
    },
    "PersonEvent": {
      "description": "Represents a newly detected person event.",
      "type": "object",
      "properties": {
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "zones": {
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          },
          "description": "Zones where events are detected in."
        },
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        }
      },
      "id": "PersonEvent"
    },
    "EveUtilityTrait": {
      "properties": {
        "airPressure": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "getConfig": {
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "childLock": {
          "type": "boolean"
        },
        "loggingTime": {
          "type": "string",
          "format": "byte"
        },
        "rloc16": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "obstructionDetected": {
          "readOnly": true,
          "type": "boolean"
        },
        "voltage": {
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "loggingMetadata": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        },
        "motionSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "lastEventTime": {
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "weatherTrend": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "current": {
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "loggingControlPoint": {
          "type": "string",
          "format": "byte"
        },
        "statusFault": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "wattAccumulated": {
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "holdPosition": {
          "type": "boolean"
        },
        "watt": {
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "acceptedCommandList": {
          "description": "Required. Output only. Accepted command list for this trait",
          "readOnly": true,
          "type": "array",
          "items": {
            "enumDeprecated": [
              true
            ],
            "enumDescriptions": [
              "Deprecated: This enum exists only to conform to AIP guidelines and should never be used."
            ],
            "type": "string",
            "enum": [
              "COMMANDS_UNSPECIFIED"
            ]
          }
        },
        "setConfig": {
          "type": "string",
          "format": "byte"
        },
        "loggingData": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "altitude": {
          "format": "double",
          "type": "number"
        },
        "accumulatedControlPoint": {
          "type": "string",
          "format": "int64"
        },
        "openCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "EveUtilityTrait",
      "type": "object"
    },
    "HomeTraitPayload": {
      "id": "HomeTraitPayload",
      "properties": {
        "rootComponent": {
          "$ref": "Component",
          "description": "The root component of the device as reported by the provider."
        }
      },
      "type": "object",
      "description": "Container for UDDM trait data associated with a device."
    },
    "Component": {
      "type": "object",
      "id": "Component",
      "properties": {
        "deviceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of Device types associated with this component. Supported device types are defined in cs//depot/google3/home/homeservicelayer/uddm/types/uddm_device_types.proto and the type string is the enum name, for example: ON_OFF_LIGHT => \"ON_OFF_LIGHT\"."
        },
        "childComponents": {
          "items": {
            "$ref": "Component"
          },
          "description": "Optional. Child components.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. ID of the component from the device provider."
        },
        "traitData": {
          "type": "array",
          "description": "Required. List of trait data associated with the component.",
          "items": {
            "$ref": "TraitData"
          }
        }
      },
      "description": "Component of a provider device."
    },
    "HomeEvents": {
      "type": "object",
      "id": "HomeEvents",
      "description": "Contains the set of events for an item.",
      "properties": {
        "events": {
          "items": {
            "$ref": "Events"
          },
          "type": "array",
          "description": "Required. List of events for the item."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. / Unique identifier for the device."
        }
      }
    },
    "QueryRequestPayload": {
      "description": "Payload containing device IDs.",
      "id": "QueryRequestPayload",
      "type": "object",
      "properties": {
        "devices": {
          "items": {
            "$ref": "AgentDeviceId"
          },
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array"
        }
      }
    },
    "StructurePresenceStateChangeEvent": {
      "properties": {
        "presenceState": {
          "description": "Required. Specifies the presence state.",
          "enum": [
            "STRUCTURE_PRESENCE_STATE_ENUM_UNSPECIFIED",
            "HOME",
            "AWAY"
          ],
          "enumDescriptions": [
            "Indicates an unknown presence state.",
            "Indicates home presence state.",
            "Indicates away presence state."
          ],
          "type": "string"
        },
        "reason": {
          "description": "Optional. Specifies the presence state change reason.",
          "$ref": "StructurePresenceStateChangeReasonStruct"
        }
      },
      "id": "StructurePresenceStateChangeEvent",
      "type": "object",
      "description": "Sent when the structure presence state changes."
    },
    "AgentOtherDeviceId": {
      "id": "AgentOtherDeviceId",
      "type": "object",
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Project ID for your smart home Action."
        },
        "deviceId": {
          "description": "Unique third-party device ID.",
          "type": "string"
        }
      },
      "description": "Alternate third-party device ID."
    },
    "DeviceBlameStruct": {
      "id": "DeviceBlameStruct",
      "description": "Contains metadata about the cause of presence state change attributed to a device.",
      "type": "object",
      "properties": {
        "blameType": {
          "type": "string",
          "enumDescriptions": [
            "Indicates an unspecified device blame type.",
            "Indicates lock interaction.",
            "Indicates unlock interaction.",
            "Indicates motion detection.",
            "Indicates touch interaction.",
            "Indicates voice interaction."
          ],
          "enum": [
            "DEVICE_BLAME_TYPE_ENUM_UNSPECIFIED",
            "LOCK",
            "UNLOCK",
            "MOTION_DETECTION",
            "TOUCH_INTERACTION",
            "VOICE_INTERACTION"
          ],
          "description": "Required. Specifies the device blame type."
        }
      }
    },
    "ReportStateAndNotificationDevice": {
      "properties": {
        "notifications": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits)."
        },
        "homeTraits": {
          "description": "Optional. UDDM/WHDM trait updates.",
          "type": "array",
          "items": {
            "$ref": "HomeTraitUpdates"
          }
        },
        "homeEvents": {
          "description": "Optional. UDDM/WHDM trait events",
          "type": "array",
          "items": {
            "$ref": "HomeEvents"
          }
        },
        "states": {
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.home.google.com/cloud-to-cloud/traits).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "ReportStateAndNotificationDevice",
      "type": "object",
      "description": "The states and notifications specific to a device."
    },
    "QueryRequestInput": {
      "type": "object",
      "description": "Device ID inputs to QueryRequest.",
      "properties": {
        "payload": {
          "$ref": "QueryRequestPayload",
          "description": "Payload containing third-party device IDs."
        }
      },
      "id": "QueryRequestInput"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "ThermostatFanControlTrait": {
      "type": "object",
      "properties": {
        "timerSpeed": {
          "enum": [
            "FAN_SPEED_SETTING_ENUM_UNSPECIFIED",
            "FAN_SPEED_SETTING_OFF",
            "FAN_SPEED_SETTING_STAGE1",
            "FAN_SPEED_SETTING_STAGE2",
            "FAN_SPEED_SETTING_STAGE3",
            "FAN_SPEED_SETTING_AUTO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "timerEnd": {
          "format": "int64",
          "type": "string"
        },
        "timerDuration": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ThermostatFanControlTrait",
      "description": "This cluster provides fan control capabilities for thermostats."
    },
    "DeviceNames": {
      "type": "object",
      "description": "Identifiers used to describe the device.",
      "id": "DeviceNames",
      "properties": {
        "name": {
          "type": "string",
          "description": "Primary name of the device, generally provided by the user. Names will be truncated if over the 60 Unicode code point (character) limit and no errors will be thrown. Developers are responsible for handling long names."
        },
        "defaultNames": {
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nicknames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional names provided by the user for the device."
        }
      }
    },
    "Result": {
      "type": "object",
      "id": "Result",
      "description": "Result of reporting state and notifications for a single device.",
      "properties": {
        "homeTraitCommitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The trait commit timestamp of the state update in Home Graph."
        }
      }
    },
    "RequestSyncDevicesResponse": {
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "type": "object",
      "properties": {},
      "id": "RequestSyncDevicesResponse"
    },
    "TraitData": {
      "type": "object",
      "id": "TraitData",
      "description": "Contains the trait payload for a single trait.",
      "properties": {
        "providerUpdateTime": {
          "description": "The custom timestamp supplied by the provider during a ReportStateAndNotification update (if provided). This field is returned as part of the `QueryResponse`.",
          "format": "google-datetime",
          "type": "string"
        },
        "commitTime": {
          "description": "Other metadata for the trait. The time the client update was committed in the server.",
          "format": "google-datetime",
          "type": "string"
        },
        "trait": {
          "type": "object",
          "description": "The Provider Home API trait payload.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "ReportStateAndNotificationRequest": {
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "followUpToken": {
          "description": "Deprecated.",
          "deprecated": true,
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier per event (for example, a doorbell press)."
        },
        "payload": {
          "$ref": "StateAndNotificationPayload",
          "description": "Required. State of devices to update and notification metadata for devices."
        }
      },
      "type": "object",
      "id": "ReportStateAndNotificationRequest",
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, home_traits, home_events, or any combination thereof. Smart Home Device Traits (SHDT) `states` and `notifications` are defined per `device_id` (for example, \"123\" and \"456\" in the following example). Google Home Traits `home_traits` and `home_events` are lists of updates or events, each associated with a `device_id` (for example, \"789\" in the following example). Example: ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 }, }, \"homeTraits\": [ { \"deviceId\": \"789\", \"components\": [ { \"componentId\": \"main\", \"traitData\": [ { \"trait\": { \"@type\": \"type.googleapis.com/home.graph.v1.OnOffTrait\", \"onOff\": true } } ] } ] } ], \"homeEvents\": [ { \"deviceId\": \"789\", \"events\": [ { \"componentId\": \"main\", \"events\": [ { \"eventId\": \"event-123\", \"eventTime\": \"2026-01-01T00:00:00Z\", \"event\": { \"@type\": \"type.googleapis.com/home.graph.v1.DoorbellPressTrait.DoorbellPressedEvent\" } } ] } ] } ] } } } ```"
    },
    "Events": {
      "type": "object",
      "properties": {
        "componentId": {
          "description": "Optional. The ID of the provider component if the events are associated with a specific component. Optional for WHDM events, required for UDDM events.",
          "type": "string"
        },
        "events": {
          "description": "Required. List of events associated with the component.",
          "type": "array",
          "items": {
            "$ref": "EventData"
          }
        }
      },
      "description": "Contains a set of events for a specific component.",
      "id": "Events"
    },
    "HomeTraitUpdates": {
      "id": "HomeTraitUpdates",
      "description": "Contains the set of updates for a device.",
      "properties": {
        "components": {
          "items": {
            "$ref": "ComponentTraitUpdates"
          },
          "type": "array",
          "description": "Required. Trait updates for each component."
        },
        "deviceId": {
          "description": "Required. Unique identifier for the device.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CommonEventDataStruct": {
      "id": "CommonEventDataStruct",
      "type": "object",
      "description": "Common camera event data.",
      "properties": {
        "sessionId": {
          "description": "Camera event session id. Used for identifying a unique event session",
          "type": "string"
        },
        "trackId": {
          "type": "string",
          "description": "Id of the track this object belongs to"
        },
        "mediaUrls": {
          "$ref": "MediaUrlsStruct",
          "description": "Contains media urls for the event"
        }
      }
    },
    "AgentDeviceId": {
      "type": "object",
      "description": "Third-party device ID for one device.",
      "id": "AgentDeviceId",
      "properties": {
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        }
      }
    },
    "MediaUrlsStruct": {
      "type": "object",
      "properties": {
        "previewUrl": {
          "type": "string",
          "description": "URL for animated preview clip representing the event session"
        },
        "thumbnailUrl": {
          "description": "URL for thumbnail image representing the event session",
          "type": "string"
        },
        "hlsMasterPlaylistUrl": {
          "description": "URL for a hls master playlist for playback",
          "type": "string"
        },
        "dashManifestUrl": {
          "type": "string",
          "description": "URL for a dash manifest for playback"
        }
      },
      "id": "MediaUrlsStruct"
    },
    "UserBlameStruct": {
      "description": "Contains metadata about the cause of presence state change attributed to a user.",
      "type": "object",
      "id": "UserBlameStruct",
      "properties": {
        "blameType": {
          "description": "Required. Specifies the user blame type.",
          "type": "string",
          "enumDescriptions": [
            "Indicates an unspecified user blame type.",
            "Indicates phone location.",
            "Indicates manual change."
          ],
          "enum": [
            "USER_BLAME_TYPE_ENUM_UNSPECIFIED",
            "PHONE_LOCATION",
            "MANUAL_CHANGE"
          ]
        },
        "userEmail": {
          "type": "string",
          "description": "Required. Specifies the email of the user."
        }
      }
    },
    "ReportStateAndNotificationResponse": {
      "id": "ReportStateAndNotificationResponse",
      "type": "object",
      "properties": {
        "deviceResults": {
          "additionalProperties": {
            "$ref": "Result"
          },
          "type": "object",
          "description": "Map from agent device ID to the result of reporting state and notifications. This is only populated for UDDM updates for now."
        },
        "requestId": {
          "type": "string",
          "description": "Request ID copied from ReportStateAndNotificationRequest."
        }
      },
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call."
    },
    "PartnerPresenceSignalTrait": {
      "properties": {},
      "type": "object",
      "description": "Provides attributes and events related to partner presence signals. See PartnerPresenceSignal trait:",
      "id": "PartnerPresenceSignalTrait"
    },
    "ZoneStruct": {
      "type": "object",
      "id": "ZoneStruct",
      "properties": {
        "zoneId": {
          "description": "Id of the zone",
          "type": "string",
          "format": "int64"
        },
        "label": {
          "type": "string",
          "description": "Name of the zone."
        }
      }
    },
    "SyncRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        }
      },
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "id": "SyncRequest"
    },
    "MotionEvent": {
      "description": "Represents a newly detected motion event.",
      "id": "MotionEvent",
      "properties": {
        "commonEventData": {
          "$ref": "CommonEventDataStruct"
        },
        "zonesIsEmpty": {
          "description": "If set, zones is an empty list.",
          "type": "boolean"
        },
        "zones": {
          "description": "Zones where events are detected in.",
          "type": "array",
          "items": {
            "$ref": "ZoneStruct"
          }
        }
      },
      "type": "object"
    },
    "DeviceMetadata": {
      "properties": {
        "traitCommitTimestamps": {
          "additionalProperties": {
            "type": "string",
            "format": "google-datetime"
          },
          "description": "Map from the Trait ID (e.g., \"action.devices.traits.OnOff\") to its last Spanner commit timestamp.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "DeviceMetadata",
      "description": "Metadata for traits of a single device."
    },
    "SyncResponsePayload": {
      "id": "SyncResponsePayload",
      "description": "Payload containing device information.",
      "type": "object",
      "properties": {
        "agentUserId": {
          "type": "string",
          "description": "Third-party user ID"
        },
        "devices": {
          "description": "Devices associated with the third-party user.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        }
      }
    },
    "CameraEventStreamTrait": {
      "properties": {},
      "type": "object",
      "description": "This cluster defines the camera event stream used by GHP for their Cloud-to-Cloud eventing flow",
      "id": "CameraEventStreamTrait"
    }
  },
  "protocol": "rest",
  "basePath": ""
}