{
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "name": "hypercomputecluster",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "id": "hypercomputecluster:v1",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "hypercomputecluster.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "id": "hypercomputecluster.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "hypercomputecluster.projects.locations.operations.delete"
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "hypercomputecluster.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "clusters": {
              "methods": {
                "get": {
                  "id": "hypercomputecluster.projects.locations.clusters.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "description": "Gets details of a single Cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the cluster to retrieve, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "hypercomputecluster.projects.locations.clusters.list",
                  "description": "Lists Clusters in a given project and location.",
                  "path": "v1/{+parent}/clusters",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. [Filter](https://google.aip.dev/160) to apply to the returned results.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. How to order the resulting clusters. Must be one of the following strings: * `name` * `name desc` * `create_time` * `create_time desc` If not specified, clusters will be returned in an arbitrary order.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent location of the clusters to list, in the format `projects/{project}/locations/{location}`.",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of clusters to return. The service may return fewer than this value.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "hypercomputecluster.projects.locations.clusters.patch",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single Cluster.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Mask specifying which fields in the cluster to update. All paths must be specified explicitly - wildcards are not supported. At least one path must be provided.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the cluster to delete, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "required": true
                    }
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Cluster."
                },
                "create": {
                  "request": {
                    "$ref": "Cluster"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent location in which the cluster should be created, in the format `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "location": "path"
                    },
                    "clusterId": {
                      "location": "query",
                      "description": "Required. The ID of the cluster to create. The cluster ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 10 characters. For example, specify `cluster001`.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/clusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Cluster in a given project and location.",
                  "id": "hypercomputecluster.projects.locations.clusters.create"
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "hypercomputecluster.projects.locations.list",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "hypercomputecluster.projects.locations.get",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location."
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://hypercomputecluster.googleapis.com/",
  "description": "The Cluster Director API lets you deploy, manage, and monitor clusters that run artificial intelligence (AI), machine learning (ML), or high performance computing (HPC) workloads.",
  "version": "v1",
  "kind": "discovery#restDescription",
  "documentationLink": "https://docs.cloud.google.com/cluster-director/docs",
  "protocol": "rest",
  "schemas": {
    "ListClustersResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is absent, there are no subsequent pages."
        },
        "clusters": {
          "type": "array",
          "description": "Clusters in the specified location.",
          "items": {
            "$ref": "Cluster"
          }
        }
      },
      "id": "ListClustersResponse",
      "description": "Response message for ListClusters.",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location"
    },
    "DeleteNetwork": {
      "properties": {
        "network": {
          "readOnly": true,
          "description": "Output only. Name of the network to delete, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        }
      },
      "description": "When set in OperationStep, indicates network deletion step with the resource name.",
      "type": "object",
      "id": "DeleteNetwork"
    },
    "GcsAutoclassConfig": {
      "type": "object",
      "id": "GcsAutoclassConfig",
      "description": "Message describing Google Cloud Storage autoclass configuration",
      "properties": {
        "enabled": {
          "description": "Required. Enables Auto-class feature.",
          "type": "boolean"
        },
        "terminalStorageClass": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified terminal storage class",
            "Nearline terminal storage class",
            "Archive terminal storage class"
          ],
          "enum": [
            "TERMINAL_STORAGE_CLASS_UNSPECIFIED",
            "NEARLINE",
            "ARCHIVE"
          ],
          "description": "Optional. Terminal storage class of the autoclass bucket"
        }
      }
    },
    "BootDisk": {
      "description": "A [Persistent disk](https://cloud.google.com/compute/docs/disks) used as the boot disk for a Compute Engine VM instance.",
      "id": "BootDisk",
      "properties": {
        "sizeGb": {
          "type": "string",
          "description": "Optional. The size of the disk in gigabytes (GB), which must be at least 40 GB.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "Optional. [Persistent disk type](https://cloud.google.com/compute/docs/disks#disk-types), in the format `projects/{project}/zones/{zone}/diskTypes/{disk_type}`."
        }
      },
      "type": "object"
    },
    "OperationStep": {
      "id": "OperationStep",
      "description": "Message describing the status of a single step in a cluster mutation long-running operation.",
      "type": "object",
      "properties": {
        "createPartition": {
          "$ref": "CreatePartition",
          "readOnly": true,
          "description": "Output only. If set, indicates that new partition creation is part of the operation."
        },
        "createOrchestrator": {
          "description": "Output only. If set, indicates that orchestrator creation is part of the operation.",
          "$ref": "CreateOrchestrator",
          "readOnly": true
        },
        "deleteStorageBucket": {
          "readOnly": true,
          "$ref": "DeleteStorageBucket",
          "description": "Output only. If set, indicates that Cloud Storage bucket deletion is part of the operation."
        },
        "updateNodeset": {
          "readOnly": true,
          "description": "Output only. If set, indicates that nodeset update is part of the operation.",
          "$ref": "UpdateNodeset"
        },
        "createPrivateServiceAccess": {
          "description": "Output only. If set, indicates that new private service access creation is part of the operation.",
          "$ref": "CreatePrivateServiceAccess",
          "readOnly": true
        },
        "updatePartition": {
          "$ref": "UpdatePartition",
          "description": "Output only. If set, indicates that partition update is part of the operation.",
          "readOnly": true
        },
        "deleteNetwork": {
          "description": "Output only. If set, indicates that network deletion is part of the operation.",
          "$ref": "DeleteNetwork",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the operation step.",
          "enumDescriptions": [
            "Unspecified state.",
            "Initial state before step execution starts.",
            "Step execution is running in progress.",
            "Step execution is completed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "IN_PROGRESS",
            "DONE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "createLoginNode": {
          "description": "Output only. If set, indicates that new login node creation is part of the operation.",
          "$ref": "CreateLoginNode",
          "readOnly": true
        },
        "checkClusterHealth": {
          "$ref": "CheckClusterHealth",
          "readOnly": true,
          "description": "Output only. If set, indicates that cluster health check is part of the operation."
        },
        "createNetwork": {
          "description": "Output only. If set, indicates that new network creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateNetwork"
        },
        "deletePrivateServiceAccess": {
          "description": "Output only. If set, indicates that private service access deletion is part of the operation.",
          "$ref": "DeletePrivateServiceAccess",
          "readOnly": true
        },
        "deleteLustreInstance": {
          "description": "Output only. If set, indicates that Lustre instance deletion is part of the operation.",
          "$ref": "DeleteLustreInstance",
          "readOnly": true
        },
        "createLustreInstance": {
          "readOnly": true,
          "$ref": "CreateLustreInstance",
          "description": "Output only. If set, indicates that new Lustre instance creation is part of the operation."
        },
        "createFilestoreInstance": {
          "description": "Output only. If set, indicates that new Filestore instance creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateFilestoreInstance"
        },
        "deleteOrchestrator": {
          "readOnly": true,
          "$ref": "DeleteOrchestrator",
          "description": "Output only. If set, indicates that orchestrator deletion is part of the operation."
        },
        "createNodeset": {
          "$ref": "CreateNodeset",
          "description": "Output only. If set, indicates that new nodeset creation is part of the operation.",
          "readOnly": true
        },
        "updateLoginNode": {
          "description": "Output only. If set, indicates that login node update is part of the operation.",
          "$ref": "UpdateLoginNode",
          "readOnly": true
        },
        "deleteLoginNode": {
          "description": "Output only. If set, indicates that login node deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteLoginNode"
        },
        "deleteFilestoreInstance": {
          "$ref": "DeleteFilestoreInstance",
          "readOnly": true,
          "description": "Output only. If set, indicates that Filestore instance deletion is part of the operation."
        },
        "updateOrchestrator": {
          "$ref": "UpdateOrchestrator",
          "description": "Output only. If set, indicates that an orchestrator update is part of the operation.",
          "readOnly": true
        },
        "deletePartition": {
          "readOnly": true,
          "description": "Output only. If set, indicates that partition deletion is part of the operation.",
          "$ref": "DeletePartition"
        },
        "createStorageBucket": {
          "readOnly": true,
          "$ref": "CreateStorageBucket",
          "description": "Output only. If set, indicates that new Cloud Storage bucket creation is part of the operation."
        },
        "deleteNodeset": {
          "description": "Output only. If set, indicates that nodeset deletion is part of the operation.",
          "$ref": "DeleteNodeset",
          "readOnly": true
        }
      }
    },
    "NewFilestoreConfig": {
      "description": "When set in a StorageResourceConfig, indicates that a new [Filestore](https://cloud.google.com/filestore) instance should be created.",
      "properties": {
        "filestore": {
          "description": "Required. Immutable. Name of the Filestore instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`.",
          "type": "string"
        },
        "protocol": {
          "enumDescriptions": [
            "Not set.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "description": "Optional. Immutable. Access protocol to use for all file shares in the instance. Defaults to NFS V3 if not set.",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "NFSV3",
            "NFSV41"
          ],
          "type": "string"
        },
        "tier": {
          "enumDescriptions": [
            "Not set.",
            "Offers expanded capacity and performance scaling capabilities suitable for high-performance computing application requirements.",
            "Offers features and availability needed for mission-critical, high-performance computing workloads."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "type": "string",
          "description": "Required. Immutable. Service tier to use for the instance."
        },
        "fileShares": {
          "description": "Required. Immutable. File system shares on the instance. Exactly one file share must be specified.",
          "items": {
            "$ref": "FileShareConfig"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the instance. Maximum of 2048 characters."
        }
      },
      "id": "NewFilestoreConfig",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "progress": {
          "description": "Output only. Progress of the operation.",
          "$ref": "OperationProgress",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CreateStorageBucket": {
      "id": "CreateStorageBucket",
      "description": "When set in OperationStep, indicates that a new storage bucket should be created.",
      "properties": {
        "bucket": {
          "readOnly": true,
          "description": "Output only. Name of the bucket.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StorageConfig": {
      "properties": {
        "id": {
          "description": "Required. ID of the storage resource to mount, which must match a key in the cluster's storage_resources.",
          "type": "string"
        },
        "localMount": {
          "type": "string",
          "description": "Required. A directory inside the VM instance's file system where the storage resource should be mounted (e.g., `/mnt/share`)."
        }
      },
      "description": "Description of how a storage resource should be mounted on a VM instance.",
      "id": "StorageConfig",
      "type": "object"
    },
    "NetworkResource": {
      "id": "NetworkResource",
      "properties": {
        "network": {
          "readOnly": true,
          "description": "Output only. A reference to a network in Google Compute Engine.",
          "$ref": "NetworkReference"
        },
        "config": {
          "$ref": "NetworkResourceConfig",
          "description": "Immutable. Configuration for this network resource, which describes how it should be created or imported. This field only controls how the network resource is initially created or imported. Subsequent changes to the network resource should be made via the resource's API and will not be reflected in the configuration."
        }
      },
      "description": "A resource representing a network that connects the various components of a cluster together.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "CreatePrivateServiceAccess": {
      "id": "CreatePrivateServiceAccess",
      "description": "When set in OperationStep, indicates that a new private service access should be created.",
      "type": "object",
      "properties": {}
    },
    "ComputeInstance": {
      "properties": {
        "instance": {
          "type": "string",
          "description": "Output only. Name of the VM instance, in the format `projects/{project}/zones/{zone}/instances/{instance}`.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ComputeInstance",
      "description": "Details about a Compute Engine [instance](https://cloud.google.com/compute/docs/instances)."
    },
    "UpdateOrchestrator": {
      "properties": {},
      "type": "object",
      "id": "UpdateOrchestrator",
      "description": "When set in OperationStep, indicates that an orchestrator should be updated."
    },
    "UpdateNodeset": {
      "type": "object",
      "properties": {
        "nodesets": {
          "description": "Output only. Name of the nodeset to update",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "UpdateNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be updated."
    },
    "DeleteOrchestrator": {
      "id": "DeleteOrchestrator",
      "type": "object",
      "properties": {},
      "description": "When set in OperationStep, indicates that an orchestrator should be deleted."
    },
    "SlurmPartition": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the partition, which is how users will identify it. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
        },
        "nodeSetIds": {
          "description": "Required. IDs of the nodesets that make up this partition. Values must match SlurmNodeSet.id.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "SlurmPartition",
      "description": "Configuration for Slurm partitions in the cluster. Partitions are groups of nodesets, and are how clients specify where their workloads should be run."
    },
    "UpdateLoginNode": {
      "id": "UpdateLoginNode",
      "type": "object",
      "description": "When set in OperationStep, indicates that a login node should be updated.",
      "properties": {}
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "DeleteStorageBucket": {
      "description": "When set in OperationStep, indicates that Cloud Storage bucket should be deleted.",
      "type": "object",
      "id": "DeleteStorageBucket",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Output only. Name of the bucket.",
          "readOnly": true
        }
      }
    },
    "OperationProgress": {
      "properties": {
        "steps": {
          "items": {
            "$ref": "OperationStep"
          },
          "type": "array",
          "description": "Output only. Steps and status of the operation.",
          "readOnly": true
        }
      },
      "description": "Message describing the progress of a cluster mutation long-running operation.",
      "id": "OperationProgress",
      "type": "object"
    },
    "SlurmNodeSet": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The ID for the nodeset, which allows it to be referenced by cluster partitions. The nodeset ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 15 characters. For example, specify `nodeset001`."
        },
        "storageConfigs": {
          "description": "Optional. How storage resources should be mounted on each compute node.",
          "items": {
            "$ref": "StorageConfig"
          },
          "type": "array"
        },
        "computeInstance": {
          "$ref": "ComputeInstanceSlurmNodeSet",
          "description": "Optional. If set, indicates that the nodeset should be backed by Compute Engine instances."
        },
        "maxDynamicNodeCount": {
          "description": "Optional. Controls how many additional nodes a cluster can bring online to handle workloads. Set this value to enable dynamic node creation and limit the number of additional nodes the cluster can bring online. Leave empty if you do not want the cluster to create nodes dynamically, and instead rely only on static nodes.",
          "type": "string",
          "format": "int64"
        },
        "computeId": {
          "type": "string",
          "description": "Required. The ID of the compute resource on which this nodeset runs. Must match a key in the cluster's compute_resources."
        },
        "staticNodeCount": {
          "description": "Optional. Number of nodes to be statically created for this nodeset. The cluster will attempt to ensure that at least this many nodes exist at all times.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SlurmNodeSet",
      "description": "Configuration for Slurm nodesets in the cluster. Nodesets are groups of compute nodes used by Slurm that are responsible for running workloads submitted to the cluster.",
      "type": "object"
    },
    "DeleteLustreInstance": {
      "id": "DeleteLustreInstance",
      "type": "object",
      "description": "When set in OperationStep, indicates that a Lustre instance should be deleted.",
      "properties": {
        "lustre": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      }
    },
    "SlurmLoginNodes": {
      "description": "Configuration for Slurm [login nodes](https://slurm.schedmd.com/quickstart_admin.html#login) in the cluster. Login nodes are Compute Engine VM instances that allow users to access the cluster over SSH.",
      "type": "object",
      "id": "SlurmLoginNodes",
      "properties": {
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each login node instance. Max 256KB. The script must complete within the system-defined default timeout of 5 minutes. For tasks that require more time, consider running them in the background using methods such as `&` or `nohup`.",
          "type": "string"
        },
        "enableOsLogin": {
          "description": "Optional. Whether [OS Login](https://cloud.google.com/compute/docs/oslogin) should be enabled on login node instances.",
          "type": "boolean"
        },
        "count": {
          "type": "string",
          "description": "Required. Number of login node instances to create.",
          "format": "int64"
        },
        "instances": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Information about the login node instances that were created in Compute Engine.",
          "items": {
            "$ref": "ComputeInstance"
          }
        },
        "zone": {
          "description": "Required. Name of the zone in which login nodes should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each login node instance."
        },
        "enablePublicIps": {
          "type": "boolean",
          "description": "Optional. Whether login node instances should be assigned [external IP addresses](https://cloud.google.com/compute/docs/ip-addresses#externaladdresses)."
        },
        "machineType": {
          "type": "string",
          "description": "Required. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use for login nodes, e.g. `n2-standard-2`."
        },
        "storageConfigs": {
          "description": "Optional. How storage resources should be mounted on each login node.",
          "type": "array",
          "items": {
            "$ref": "StorageConfig"
          }
        },
        "bootDisk": {
          "$ref": "BootDisk",
          "description": "Optional. Boot disk for the login node."
        }
      }
    },
    "Orchestrator": {
      "type": "object",
      "id": "Orchestrator",
      "properties": {
        "slurm": {
          "$ref": "SlurmOrchestrator",
          "description": "Optional. If set, indicates that the cluster should use Slurm as the orchestrator."
        }
      },
      "description": "The component responsible for scheduling and running workloads on the cluster as well as providing the user interface for interacting with the cluster at runtime."
    },
    "NetworkResourceConfig": {
      "id": "NetworkResourceConfig",
      "description": "Describes how a network resource should be initialized. Each network resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "type": "object",
      "properties": {
        "newNetwork": {
          "description": "Optional. Immutable. If set, indicates that a new network should be created.",
          "$ref": "NewNetworkConfig"
        },
        "existingNetwork": {
          "description": "Optional. Immutable. If set, indicates that an existing network should be imported.",
          "$ref": "ExistingNetworkConfig"
        }
      }
    },
    "CreatePartition": {
      "description": "When set in OperationStep, indicates that a partition should be created.",
      "id": "CreatePartition",
      "properties": {
        "partitions": {
          "type": "array",
          "description": "Output only. Name of the partition to create",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DeleteLoginNode": {
      "properties": {},
      "description": "When set in OperationStep, indicates that a login node should be deleted.",
      "type": "object",
      "id": "DeleteLoginNode"
    },
    "ComputeResourceConfig": {
      "description": "Describes how a compute resource should be created at runtime.",
      "id": "ComputeResourceConfig",
      "properties": {
        "newReservedInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use reserved VMs.",
          "$ref": "NewReservedInstancesConfig"
        },
        "newFlexStartInstances": {
          "$ref": "NewFlexStartInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use flex-start VMs."
        },
        "newSpotInstances": {
          "$ref": "NewSpotInstancesConfig",
          "description": "Optional. Immutable. If set, indicates that this resource should use spot VMs."
        },
        "newOnDemandInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use on-demand VMs.",
          "$ref": "NewOnDemandInstancesConfig"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "NewFlexStartInstancesConfig": {
      "properties": {
        "maxDuration": {
          "format": "google-duration",
          "description": "Required. Immutable. Specifies the time limit for created instances. Instances will be terminated at the end of this duration.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        }
      },
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created using [Flex Start](https://cloud.google.com/compute/docs/instances/provisioning-models).",
      "type": "object",
      "id": "NewFlexStartInstancesConfig"
    },
    "DeletePartition": {
      "type": "object",
      "id": "DeletePartition",
      "description": "When set in OperationStep, indicates that a partition should be deleted.",
      "properties": {
        "partitions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Name of the partition to delete"
        }
      }
    },
    "ComputeInstanceSlurmNodeSet": {
      "description": "When set in a SlurmNodeSet, indicates that the nodeset should be backed by Compute Engine VM instances.",
      "properties": {
        "bootDisk": {
          "$ref": "BootDisk",
          "description": "Optional. Boot disk for the compute instance"
        },
        "startupScript": {
          "type": "string",
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each VM instance in the nodeset. Max 256KB."
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each VM instance in the nodeset.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "ComputeInstanceSlurmNodeSet"
    },
    "SlurmOrchestrator": {
      "id": "SlurmOrchestrator",
      "properties": {
        "defaultPartition": {
          "description": "Optional. Default partition to use for submitted jobs that do not explicitly specify a partition. Required if and only if there is more than one partition, in which case it must match the id of one of the partitions.",
          "type": "string"
        },
        "prologBashScripts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Slurm [prolog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes before a node begins running a new job. Values must not be empty.",
          "type": "array"
        },
        "partitions": {
          "items": {
            "$ref": "SlurmPartition"
          },
          "description": "Optional. Configuration for the Slurm partitions in your cluster. Each partition can contain one or more nodesets, and you can submit separate jobs on each partition. If you don't specify at least one partition in your cluster, you can't submit jobs to the cluster.",
          "type": "array"
        },
        "nodeSets": {
          "type": "array",
          "items": {
            "$ref": "SlurmNodeSet"
          },
          "description": "Optional. Compute resource configuration for the Slurm nodesets in your cluster. If not specified, the cluster won't create any nodes."
        },
        "loginNodes": {
          "description": "Required. Configuration for login nodes, which allow users to access the cluster over SSH.",
          "$ref": "SlurmLoginNodes"
        },
        "epilogBashScripts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Slurm [epilog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes whenever a node finishes running a job. Values must not be empty."
        }
      },
      "type": "object",
      "description": "When set in Orchestrator, indicates that the cluster should use [Slurm](https://slurm.schedmd.com/) as the orchestrator."
    },
    "StorageResource": {
      "id": "StorageResource",
      "type": "object",
      "description": "Represents a form of persistent storage that you can mount onto compute resources in the cluster.",
      "properties": {
        "lustre": {
          "$ref": "LustreReference",
          "readOnly": true,
          "description": "Output only. A reference to a Managed Lustre instance. Populated if and only if the storage resource was configured to use Managed Lustre."
        },
        "filestore": {
          "description": "Output only. A reference to a Filestore instance. Populated if and only if the storage resource was configured to use Filestore.",
          "readOnly": true,
          "$ref": "FilestoreReference"
        },
        "bucket": {
          "readOnly": true,
          "$ref": "BucketReference",
          "description": "Output only. A reference to a Google Cloud Storage bucket. Populated if and only if the storage resource was configured to use Google Cloud Storage."
        },
        "config": {
          "description": "Required. Immutable. Configuration for this storage resource, which describes how it should be created or imported. This field only controls how the storage resource is initially created or imported. Subsequent changes to the storage resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "StorageResourceConfig"
        }
      }
    },
    "CreateLoginNode": {
      "type": "object",
      "properties": {},
      "description": "When set in OperationStep, indicates that a login node should be created.",
      "id": "CreateLoginNode"
    },
    "UpdatePartition": {
      "properties": {
        "partitions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the partition to update",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "When set in OperationStep, indicates that a partition should be updated.",
      "id": "UpdatePartition",
      "type": "object"
    },
    "NetworkReference": {
      "type": "object",
      "id": "NetworkReference",
      "properties": {
        "subnetwork": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the particular subnetwork being used by the cluster, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`."
        },
        "network": {
          "description": "Output only. Name of the network, in the format `projects/{project}/global/networks/{network}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A reference to a [VPC network](https://cloud.google.com/vpc/docs/vpc) in Google Compute Engine."
    },
    "DeletePrivateServiceAccess": {
      "type": "object",
      "id": "DeletePrivateServiceAccess",
      "description": "When set in OperationStep, indicates private service access deletion step.",
      "properties": {}
    },
    "ExistingBucketConfig": {
      "description": "When set in a StorageResourceConfig, indicates that an existing [Google Cloud Storage](https://cloud.google.com/storage) bucket should be imported.",
      "properties": {
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to import.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExistingBucketConfig"
    },
    "Cluster": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time that the cluster was most recently updated."
        },
        "name": {
          "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "storageResources": {
          "additionalProperties": {
            "$ref": "StorageResource"
          },
          "description": "Optional. Storage resources available to the cluster. Keys specify the ID of the storage resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object"
        },
        "computeResources": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ComputeResource"
          },
          "description": "Optional. Compute resources available to the cluster. Keys specify the ID of the compute resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
        },
        "uid": {
          "type": "string",
          "description": "Output only. The globally unique identifier for this Cluster.",
          "readOnly": true
        },
        "orchestrator": {
          "$ref": "Orchestrator",
          "description": "Optional. Orchestrator that is responsible for scheduling and running jobs on the cluster."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description for your cluster. You can use up to 2,048 characters."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether changes to the cluster are currently in flight. If this is `true`, then the current state might not match the cluster's intended state."
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) applied to the cluster. Labels can be used to organize clusters and to filter them in queries.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time that the cluster was originally created.",
          "readOnly": true
        },
        "networkResources": {
          "type": "object",
          "additionalProperties": {
            "$ref": "NetworkResource"
          },
          "description": "Optional. Network resources available to the cluster. Must contain exactly one value. Keys specify the ID of the network resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
        }
      },
      "id": "Cluster",
      "description": "A collection of virtual machines and connected resources forming a high-performance computing cluster capable of running large-scale, tightly coupled workloads. A cluster combines a set a compute resources that perform computations, storage resources that contain inputs and store outputs, an orchestrator that is responsible for assigning jobs to compute resources, and network resources that connect everything together.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "CreateOrchestrator": {
      "description": "When set in OperationStep, indicates that an orchestrator should be created.",
      "id": "CreateOrchestrator",
      "type": "object",
      "properties": {}
    },
    "StorageResourceConfig": {
      "properties": {
        "existingBucket": {
          "description": "Optional. Immutable. If set, indicates that an existing Cloud Storage bucket should be imported.",
          "$ref": "ExistingBucketConfig"
        },
        "existingLustre": {
          "description": "Optional. Immutable. If set, indicates that an existing Managed Lustre instance should be imported.",
          "$ref": "ExistingLustreConfig"
        },
        "existingFilestore": {
          "$ref": "ExistingFilestoreConfig",
          "description": "Optional. Immutable. If set, indicates that an existing Filestore instance should be imported."
        },
        "newBucket": {
          "$ref": "NewBucketConfig",
          "description": "Optional. Immutable. If set, indicates that a new Cloud Storage bucket should be created."
        },
        "newFilestore": {
          "$ref": "NewFilestoreConfig",
          "description": "Optional. Immutable. If set, indicates that a new Filestore instance should be created."
        },
        "newLustre": {
          "description": "Optional. Immutable. If set, indicates that a new Managed Lustre instance should be created.",
          "$ref": "NewLustreConfig"
        }
      },
      "type": "object",
      "id": "StorageResourceConfig",
      "description": "Describes how a storage resource should be initialized. Each storage resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "FileShareConfig": {
      "type": "object",
      "description": "Message describing filestore configuration",
      "id": "FileShareConfig",
      "properties": {
        "fileShare": {
          "description": "Required. Filestore share location",
          "type": "string"
        },
        "capacityGb": {
          "format": "int64",
          "type": "string",
          "description": "Required. Size of the filestore in GB. Must be between 1024 and 102400, and must meet scalability requirements described at https://cloud.google.com/filestore/docs/service-tiers."
        }
      }
    },
    "CreateLustreInstance": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a new lustre instance should be created.",
      "id": "CreateLustreInstance",
      "properties": {
        "lustre": {
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "NewLustreConfig": {
      "type": "object",
      "id": "NewLustreConfig",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the Managed Lustre instance. Maximum of 2048 characters."
        },
        "perUnitStorageThroughput": {
          "format": "int64",
          "description": "Optional. Immutable. Throughput of the instance in MB/s/TiB. Valid values are 125, 250, 500, 1000. See [Performance tiers and maximum storage capacities](https://cloud.google.com/managed-lustre/docs/create-instance#performance-tiers) for more information.",
          "type": "string"
        },
        "filesystem": {
          "type": "string",
          "description": "Required. Immutable. Filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be 8 characters or less and can only contain letters and numbers."
        },
        "lustre": {
          "type": "string",
          "description": "Required. Immutable. Name of the Managed Lustre instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        },
        "capacityGb": {
          "description": "Required. Immutable. Storage capacity of the instance in gibibytes (GiB). Allowed values are between 18000 and 7632000.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that a new [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be created."
    },
    "CreateFilestoreInstance": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a new filestore instance should be created.",
      "properties": {
        "filestore": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      },
      "id": "CreateFilestoreInstance"
    },
    "CreateNetwork": {
      "type": "object",
      "properties": {
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the network to create, in the format `projects/{project}/global/networks/{network}`."
        }
      },
      "id": "CreateNetwork",
      "description": "When set in OperationStep, indicates that a new network should be created."
    },
    "BucketReference": {
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Output only. Name of the bucket.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A reference to a [Google Cloud Storage](https://cloud.google.com/storage) bucket.",
      "id": "BucketReference"
    },
    "DeleteFilestoreInstance": {
      "description": "When set in OperationStep, indicates that a Filestore instance should be deleted.",
      "type": "object",
      "id": "DeleteFilestoreInstance",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ComputeResource": {
      "description": "A resource defining how virtual machines and accelerators should be provisioned for the cluster.",
      "properties": {
        "config": {
          "description": "Required. Immutable. Configuration for this compute resource, which describes how it should be created at runtime.",
          "$ref": "ComputeResourceConfig"
        }
      },
      "id": "ComputeResource",
      "type": "object"
    },
    "DeleteNodeset": {
      "description": "When set in OperationStep, indicates that a nodeset should be deleted.",
      "id": "DeleteNodeset",
      "type": "object",
      "properties": {
        "nodesets": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the nodeset to delete",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "ExistingLustreConfig": {
      "properties": {
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that an existing [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be imported.",
      "type": "object",
      "id": "ExistingLustreConfig"
    },
    "NewNetworkConfig": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the network. Maximum of 2048 characters."
        },
        "network": {
          "description": "Required. Immutable. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        }
      },
      "id": "NewNetworkConfig",
      "description": "When set in a NetworkResourceConfig, indicates that a new network should be created.",
      "type": "object"
    },
    "CheckClusterHealth": {
      "type": "object",
      "description": "When set in OperationStep, indicates that cluster health check should be performed.",
      "properties": {},
      "id": "CheckClusterHealth"
    },
    "ExistingFilestoreConfig": {
      "description": "When set in a StorageResourceConfig, indicates that an existing [Filestore](https://cloud.google.com/filestore) instance should be imported.",
      "type": "object",
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Required. Immutable. Name of the Filestore instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      },
      "id": "ExistingFilestoreConfig"
    },
    "CreateNodeset": {
      "type": "object",
      "properties": {
        "nodesets": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Name of the nodeset to create"
        }
      },
      "id": "CreateNodeset",
      "description": "When set in OperationStep, indicates that a nodeset should be created."
    },
    "NewSpotInstancesConfig": {
      "id": "NewSpotInstancesConfig",
      "properties": {
        "terminationAction": {
          "enumDescriptions": [
            "Not set.",
            "Compute Engine stops the Spot VM on preemption.",
            "Compute Engine deletes the Spot VM on preemption."
          ],
          "enum": [
            "TERMINATION_ACTION_UNSPECIFIED",
            "STOP",
            "DELETE"
          ],
          "description": "Optional. Termination action for the instance. If not specified, Compute Engine sets the termination action to DELETE.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        },
        "machineType": {
          "type": "string",
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
        }
      },
      "description": "When set in a ComputeResourceConfig, indicates that [spot VM](https://cloud.google.com/compute/docs/instances/spot) instances should be created.",
      "type": "object"
    },
    "GcsHierarchicalNamespaceConfig": {
      "id": "GcsHierarchicalNamespaceConfig",
      "description": "Message describing Google Cloud Storage hierarchical namespace configuration",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables hierarchical namespace setup for the bucket."
        }
      },
      "type": "object"
    },
    "NewOnDemandInstancesConfig": {
      "type": "object",
      "id": "NewOnDemandInstancesConfig",
      "description": "When set in a ComputeResourceConfig, indicates that on-demand (i.e., using the standard provisioning model) VM instances should be created.",
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        }
      }
    },
    "ExistingNetworkConfig": {
      "type": "object",
      "description": "When set in a NetworkResourceConfig, indicates that an existing network should be imported.",
      "id": "ExistingNetworkConfig",
      "properties": {
        "network": {
          "type": "string",
          "description": "Required. Immutable. Name of the network to import, in the format `projects/{project}/global/networks/{network}`."
        },
        "subnetwork": {
          "type": "string",
          "description": "Required. Immutable. Particular subnetwork to use, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`."
        }
      }
    },
    "NewBucketConfig": {
      "id": "NewBucketConfig",
      "type": "object",
      "description": "When set in a StorageResourceConfig, indicates that a new [Google Cloud Storage](https://cloud.google.com/storage) bucket should be created.",
      "properties": {
        "bucket": {
          "description": "Required. Immutable. Name of the Cloud Storage bucket to create.",
          "type": "string"
        },
        "autoclass": {
          "description": "Optional. Immutable. If set, indicates that the bucket should use [Autoclass](https://cloud.google.com/storage/docs/autoclass).",
          "$ref": "GcsAutoclassConfig"
        },
        "hierarchicalNamespace": {
          "$ref": "GcsHierarchicalNamespaceConfig",
          "description": "Optional. Immutable. If set, indicates that the bucket should use [hierarchical namespaces](https://cloud.google.com/storage/docs/hns-overview)."
        },
        "storageClass": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Best for data that is frequently accessed.",
            "Low-cost storage for data that is accessed less frequently.",
            "Very low-cost storage for infrequently accessed data.",
            "Lowest-cost storage for data archiving, online backup, and disaster recovery.",
            "Storage class optimized for I/O intensive workloads."
          ],
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE",
            "RAPID"
          ],
          "description": "Optional. Immutable. If set, uses the provided storage class as the bucket's default storage class."
        }
      }
    },
    "FilestoreReference": {
      "type": "object",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A reference to a [Filestore](https://cloud.google.com/filestore) instance.",
      "id": "FilestoreReference"
    },
    "NewReservedInstancesConfig": {
      "properties": {
        "reservation": {
          "type": "string",
          "description": "Optional. Immutable. Name of the reservation from which VM instances should be created, in the format `projects/{project}/zones/{zone}/reservations/{reservation}`."
        }
      },
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created from a [reservation](https://cloud.google.com/compute/docs/instances/reservations-overview).",
      "id": "NewReservedInstancesConfig",
      "type": "object"
    },
    "LustreReference": {
      "type": "object",
      "id": "LustreReference",
      "description": "A reference to a [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance.",
      "properties": {
        "lustre": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      }
    },
    "Operation": {
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    }
  },
  "baseUrl": "https://hypercomputecluster.googleapis.com/",
  "title": "Cluster Director API",
  "canonicalName": "Hypercompute Cluster",
  "mtlsRootUrl": "https://hypercomputecluster.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "revision": "20260826",
  "servicePath": ""
}