{
  "servicePath": "",
  "baseUrl": "https://hypercomputecluster.googleapis.com/",
  "version_module": true,
  "id": "hypercomputecluster:v1",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://hypercomputecluster.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "hypercomputecluster",
  "canonicalName": "Hypercompute Cluster",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "The Cluster Director API lets you deploy, manage, and monitor clusters that run artificial intelligence (AI), machine learning (ML), or high performance computing (HPC) workloads.",
  "revision": "20260805",
  "documentationLink": "https://docs.cloud.google.com/cluster-director/docs",
  "rootUrl": "https://hypercomputecluster.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "id": "hypercomputecluster.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              }
            },
            "list": {
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "hypercomputecluster.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "hypercomputecluster.projects.locations.operations.cancel"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "hypercomputecluster.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "hypercomputecluster.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "hypercomputecluster.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                }
              }
            },
            "clusters": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a single Cluster.",
                  "id": "hypercomputecluster.projects.locations.clusters.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the cluster to retrieve, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "path": "v1/{+parent}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Clusters in a given project and location.",
                  "id": "hypercomputecluster.projects.locations.clusters.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of clusters to return. The service may return fewer than this value.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. [Filter](https://google.aip.dev/160) to apply to the returned results.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. How to order the resulting clusters. Must be one of the following strings: * `name` * `name desc` * `create_time` * `create_time desc` If not specified, clusters will be returned in an arbitrary order.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent location of the clusters to list, in the format `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a single Cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the cluster to delete, in the format `projects/{project}/locations/{location}/clusters/{cluster}`."
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "hypercomputecluster.projects.locations.clusters.delete"
                },
                "create": {
                  "path": "v1/{+parent}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new Cluster in a given project and location.",
                  "id": "hypercomputecluster.projects.locations.clusters.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Cluster"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Parent location in which the cluster should be created, in the format `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "Required. The ID of the cluster to create. The cluster ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 10 characters. For example, specify `cluster001`.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single Cluster.",
                  "id": "hypercomputecluster.projects.locations.clusters.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`.",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Mask specifying which fields in the cluster to update. All paths must be specified explicitly - wildcards are not supported. At least one path must be provided.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is idempotent if and only if `request_id` is provided.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Cluster"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "batchPath": "batch",
  "protocol": "rest",
  "schemas": {
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "progress": {
          "description": "Output only. Progress of the operation.",
          "readOnly": true,
          "$ref": "OperationProgress"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        }
      }
    },
    "CreatePartition": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a partition should be created.",
      "properties": {
        "partitions": {
          "description": "Output only. Name of the partition to create",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "CreatePartition"
    },
    "ComputeInstanceSlurmNodeSet": {
      "properties": {
        "bootDisk": {
          "description": "Optional. Boot disk for the compute instance",
          "$ref": "BootDisk"
        },
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each VM instance in the nodeset. Max 256KB.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each VM instance in the nodeset."
        }
      },
      "id": "ComputeInstanceSlurmNodeSet",
      "type": "object",
      "description": "When set in a SlurmNodeSet, indicates that the nodeset should be backed by Compute Engine VM instances."
    },
    "ExistingLustreConfig": {
      "type": "object",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be imported.",
      "properties": {
        "lustre": {
          "description": "Required. Immutable. Name of the Managed Lustre instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "id": "ExistingLustreConfig"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "NewBucketConfig": {
      "properties": {
        "hierarchicalNamespace": {
          "description": "Optional. Immutable. If set, indicates that the bucket should use [hierarchical namespaces](https://cloud.google.com/storage/docs/hns-overview).",
          "$ref": "GcsHierarchicalNamespaceConfig"
        },
        "autoclass": {
          "description": "Optional. Immutable. If set, indicates that the bucket should use [Autoclass](https://cloud.google.com/storage/docs/autoclass).",
          "$ref": "GcsAutoclassConfig"
        },
        "storageClass": {
          "description": "Optional. Immutable. If set, uses the provided storage class as the bucket's default storage class.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Best for data that is frequently accessed.",
            "Low-cost storage for data that is accessed less frequently.",
            "Very low-cost storage for infrequently accessed data.",
            "Lowest-cost storage for data archiving, online backup, and disaster recovery.",
            "Storage class optimized for I/O intensive workloads."
          ],
          "enum": [
            "STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE",
            "RAPID"
          ]
        },
        "bucket": {
          "type": "string",
          "description": "Required. Immutable. Name of the Cloud Storage bucket to create."
        }
      },
      "id": "NewBucketConfig",
      "type": "object",
      "description": "When set in a StorageResourceConfig, indicates that a new [Google Cloud Storage](https://cloud.google.com/storage) bucket should be created."
    },
    "BootDisk": {
      "properties": {
        "sizeGb": {
          "description": "Optional. The size of the disk in gigabytes (GB), which must be at least 40 GB.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "Optional. [Persistent disk type](https://cloud.google.com/compute/docs/disks#disk-types), in the format `projects/{project}/zones/{zone}/diskTypes/{disk_type}`."
        }
      },
      "id": "BootDisk",
      "type": "object",
      "description": "A [Persistent disk](https://cloud.google.com/compute/docs/disks) used as the boot disk for a Compute Engine VM instance."
    },
    "NewSpotInstancesConfig": {
      "id": "NewSpotInstancesConfig",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        },
        "machineType": {
          "type": "string",
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
        },
        "terminationAction": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Compute Engine stops the Spot VM on preemption.",
            "Compute Engine deletes the Spot VM on preemption."
          ],
          "enum": [
            "TERMINATION_ACTION_UNSPECIFIED",
            "STOP",
            "DELETE"
          ],
          "description": "Optional. Termination action for the instance. If not specified, Compute Engine sets the termination action to DELETE."
        }
      },
      "description": "When set in a ComputeResourceConfig, indicates that [spot VM](https://cloud.google.com/compute/docs/instances/spot) instances should be created.",
      "type": "object"
    },
    "DeletePrivateServiceAccess": {
      "id": "DeletePrivateServiceAccess",
      "properties": {},
      "description": "When set in OperationStep, indicates private service access deletion step.",
      "type": "object"
    },
    "NewNetworkConfig": {
      "properties": {
        "network": {
          "type": "string",
          "description": "Required. Immutable. Name of the network to create, in the format `projects/{project}/global/networks/{network}`."
        },
        "description": {
          "description": "Optional. Immutable. Description of the network. Maximum of 2048 characters.",
          "type": "string"
        }
      },
      "id": "NewNetworkConfig",
      "type": "object",
      "description": "When set in a NetworkResourceConfig, indicates that a new network should be created."
    },
    "StorageResource": {
      "id": "StorageResource",
      "properties": {
        "bucket": {
          "description": "Output only. A reference to a Google Cloud Storage bucket. Populated if and only if the storage resource was configured to use Google Cloud Storage.",
          "readOnly": true,
          "$ref": "BucketReference"
        },
        "filestore": {
          "description": "Output only. A reference to a Filestore instance. Populated if and only if the storage resource was configured to use Filestore.",
          "readOnly": true,
          "$ref": "FilestoreReference"
        },
        "config": {
          "description": "Required. Immutable. Configuration for this storage resource, which describes how it should be created or imported. This field only controls how the storage resource is initially created or imported. Subsequent changes to the storage resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "StorageResourceConfig"
        },
        "lustre": {
          "description": "Output only. A reference to a Managed Lustre instance. Populated if and only if the storage resource was configured to use Managed Lustre.",
          "readOnly": true,
          "$ref": "LustreReference"
        }
      },
      "description": "Represents a form of persistent storage that you can mount onto compute resources in the cluster.",
      "type": "object"
    },
    "CreatePrivateServiceAccess": {
      "properties": {},
      "id": "CreatePrivateServiceAccess",
      "type": "object",
      "description": "When set in OperationStep, indicates that a new private service access should be created."
    },
    "CreateNodeset": {
      "properties": {
        "nodesets": {
          "readOnly": true,
          "description": "Output only. Name of the nodeset to create",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CreateNodeset",
      "type": "object",
      "description": "When set in OperationStep, indicates that a nodeset should be created."
    },
    "CreateLoginNode": {
      "description": "When set in OperationStep, indicates that a login node should be created.",
      "type": "object",
      "id": "CreateLoginNode",
      "properties": {}
    },
    "StorageResourceConfig": {
      "description": "Describes how a storage resource should be initialized. Each storage resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "type": "object",
      "id": "StorageResourceConfig",
      "properties": {
        "existingFilestore": {
          "description": "Optional. Immutable. If set, indicates that an existing Filestore instance should be imported.",
          "$ref": "ExistingFilestoreConfig"
        },
        "existingLustre": {
          "description": "Optional. Immutable. If set, indicates that an existing Managed Lustre instance should be imported.",
          "$ref": "ExistingLustreConfig"
        },
        "newLustre": {
          "description": "Optional. Immutable. If set, indicates that a new Managed Lustre instance should be created.",
          "$ref": "NewLustreConfig"
        },
        "existingBucket": {
          "description": "Optional. Immutable. If set, indicates that an existing Cloud Storage bucket should be imported.",
          "$ref": "ExistingBucketConfig"
        },
        "newBucket": {
          "description": "Optional. Immutable. If set, indicates that a new Cloud Storage bucket should be created.",
          "$ref": "NewBucketConfig"
        },
        "newFilestore": {
          "description": "Optional. Immutable. If set, indicates that a new Filestore instance should be created.",
          "$ref": "NewFilestoreConfig"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "CheckClusterHealth": {
      "description": "When set in OperationStep, indicates that cluster health check should be performed.",
      "type": "object",
      "id": "CheckClusterHealth",
      "properties": {}
    },
    "UpdateOrchestrator": {
      "id": "UpdateOrchestrator",
      "properties": {},
      "description": "When set in OperationStep, indicates that an orchestrator should be updated.",
      "type": "object"
    },
    "Orchestrator": {
      "type": "object",
      "description": "The component responsible for scheduling and running workloads on the cluster as well as providing the user interface for interacting with the cluster at runtime.",
      "properties": {
        "slurm": {
          "description": "Optional. If set, indicates that the cluster should use Slurm as the orchestrator.",
          "$ref": "SlurmOrchestrator"
        }
      },
      "id": "Orchestrator"
    },
    "ExistingNetworkConfig": {
      "type": "object",
      "description": "When set in a NetworkResourceConfig, indicates that an existing network should be imported.",
      "properties": {
        "subnetwork": {
          "description": "Required. Immutable. Particular subnetwork to use, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`.",
          "type": "string"
        },
        "network": {
          "description": "Required. Immutable. Name of the network to import, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        }
      },
      "id": "ExistingNetworkConfig"
    },
    "UpdatePartition": {
      "properties": {
        "partitions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Name of the partition to update",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "UpdatePartition",
      "type": "object",
      "description": "When set in OperationStep, indicates that a partition should be updated."
    },
    "DeleteNodeset": {
      "properties": {
        "nodesets": {
          "type": "array",
          "description": "Output only. Name of the nodeset to delete",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "id": "DeleteNodeset",
      "type": "object",
      "description": "When set in OperationStep, indicates that a nodeset should be deleted."
    },
    "NewFilestoreConfig": {
      "description": "When set in a StorageResourceConfig, indicates that a new [Filestore](https://cloud.google.com/filestore) instance should be created.",
      "type": "object",
      "id": "NewFilestoreConfig",
      "properties": {
        "fileShares": {
          "description": "Required. Immutable. File system shares on the instance. Exactly one file share must be specified.",
          "items": {
            "$ref": "FileShareConfig"
          },
          "type": "array"
        },
        "protocol": {
          "description": "Optional. Immutable. Access protocol to use for all file shares in the instance. Defaults to NFS V3 if not set.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "NFS 3.0.",
            "NFS 4.1."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "NFSV3",
            "NFSV41"
          ]
        },
        "tier": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Offers expanded capacity and performance scaling capabilities suitable for high-performance computing application requirements.",
            "Offers features and availability needed for mission-critical, high-performance computing workloads."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "description": "Required. Immutable. Service tier to use for the instance."
        },
        "description": {
          "type": "string",
          "description": "Optional. Immutable. Description of the instance. Maximum of 2048 characters."
        },
        "filestore": {
          "type": "string",
          "description": "Required. Immutable. Name of the Filestore instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`."
        }
      }
    },
    "OperationStep": {
      "description": "Message describing the status of a single step in a cluster mutation long-running operation.",
      "type": "object",
      "id": "OperationStep",
      "properties": {
        "createNodeset": {
          "readOnly": true,
          "$ref": "CreateNodeset",
          "description": "Output only. If set, indicates that new nodeset creation is part of the operation."
        },
        "createOrchestrator": {
          "readOnly": true,
          "$ref": "CreateOrchestrator",
          "description": "Output only. If set, indicates that orchestrator creation is part of the operation."
        },
        "deleteFilestoreInstance": {
          "readOnly": true,
          "$ref": "DeleteFilestoreInstance",
          "description": "Output only. If set, indicates that Filestore instance deletion is part of the operation."
        },
        "deletePrivateServiceAccess": {
          "readOnly": true,
          "$ref": "DeletePrivateServiceAccess",
          "description": "Output only. If set, indicates that private service access deletion is part of the operation."
        },
        "deletePartition": {
          "description": "Output only. If set, indicates that partition deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeletePartition"
        },
        "deleteNetwork": {
          "description": "Output only. If set, indicates that network deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteNetwork"
        },
        "updateOrchestrator": {
          "description": "Output only. If set, indicates that an orchestrator update is part of the operation.",
          "readOnly": true,
          "$ref": "UpdateOrchestrator"
        },
        "state": {
          "description": "Output only. State of the operation step.",
          "enumDescriptions": [
            "Unspecified state.",
            "Initial state before step execution starts.",
            "Step execution is running in progress.",
            "Step execution is completed."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "IN_PROGRESS",
            "DONE"
          ]
        },
        "createPrivateServiceAccess": {
          "description": "Output only. If set, indicates that new private service access creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreatePrivateServiceAccess"
        },
        "createFilestoreInstance": {
          "description": "Output only. If set, indicates that new Filestore instance creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateFilestoreInstance"
        },
        "deleteOrchestrator": {
          "readOnly": true,
          "$ref": "DeleteOrchestrator",
          "description": "Output only. If set, indicates that orchestrator deletion is part of the operation."
        },
        "createLustreInstance": {
          "description": "Output only. If set, indicates that new Lustre instance creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateLustreInstance"
        },
        "checkClusterHealth": {
          "readOnly": true,
          "$ref": "CheckClusterHealth",
          "description": "Output only. If set, indicates that cluster health check is part of the operation."
        },
        "updatePartition": {
          "readOnly": true,
          "$ref": "UpdatePartition",
          "description": "Output only. If set, indicates that partition update is part of the operation."
        },
        "createLoginNode": {
          "readOnly": true,
          "$ref": "CreateLoginNode",
          "description": "Output only. If set, indicates that new login node creation is part of the operation."
        },
        "updateNodeset": {
          "description": "Output only. If set, indicates that nodeset update is part of the operation.",
          "readOnly": true,
          "$ref": "UpdateNodeset"
        },
        "deleteLustreInstance": {
          "description": "Output only. If set, indicates that Lustre instance deletion is part of the operation.",
          "readOnly": true,
          "$ref": "DeleteLustreInstance"
        },
        "updateLoginNode": {
          "description": "Output only. If set, indicates that login node update is part of the operation.",
          "readOnly": true,
          "$ref": "UpdateLoginNode"
        },
        "deleteStorageBucket": {
          "readOnly": true,
          "$ref": "DeleteStorageBucket",
          "description": "Output only. If set, indicates that Cloud Storage bucket deletion is part of the operation."
        },
        "createStorageBucket": {
          "readOnly": true,
          "$ref": "CreateStorageBucket",
          "description": "Output only. If set, indicates that new Cloud Storage bucket creation is part of the operation."
        },
        "createPartition": {
          "readOnly": true,
          "$ref": "CreatePartition",
          "description": "Output only. If set, indicates that new partition creation is part of the operation."
        },
        "deleteNodeset": {
          "readOnly": true,
          "$ref": "DeleteNodeset",
          "description": "Output only. If set, indicates that nodeset deletion is part of the operation."
        },
        "deleteLoginNode": {
          "readOnly": true,
          "$ref": "DeleteLoginNode",
          "description": "Output only. If set, indicates that login node deletion is part of the operation."
        },
        "createNetwork": {
          "description": "Output only. If set, indicates that new network creation is part of the operation.",
          "readOnly": true,
          "$ref": "CreateNetwork"
        }
      }
    },
    "CreateOrchestrator": {
      "properties": {},
      "id": "CreateOrchestrator",
      "type": "object",
      "description": "When set in OperationStep, indicates that an orchestrator should be created."
    },
    "ComputeResource": {
      "properties": {
        "config": {
          "description": "Required. Immutable. Configuration for this compute resource, which describes how it should be created at runtime.",
          "$ref": "ComputeResourceConfig"
        }
      },
      "id": "ComputeResource",
      "type": "object",
      "description": "A resource defining how virtual machines and accelerators should be provisioned for the cluster."
    },
    "ListClustersResponse": {
      "type": "object",
      "description": "Response message for ListClusters.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clusters": {
          "description": "Clusters in the specified location.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is absent, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListClustersResponse"
    },
    "ComputeResourceConfig": {
      "id": "ComputeResourceConfig",
      "properties": {
        "newOnDemandInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use on-demand VMs.",
          "$ref": "NewOnDemandInstancesConfig"
        },
        "newReservedInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use reserved VMs.",
          "$ref": "NewReservedInstancesConfig"
        },
        "newSpotInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use spot VMs.",
          "$ref": "NewSpotInstancesConfig"
        },
        "newFlexStartInstances": {
          "description": "Optional. Immutable. If set, indicates that this resource should use flex-start VMs.",
          "$ref": "NewFlexStartInstancesConfig"
        }
      },
      "description": "Describes how a compute resource should be created at runtime.",
      "type": "object"
    },
    "NewReservedInstancesConfig": {
      "id": "NewReservedInstancesConfig",
      "properties": {
        "reservation": {
          "description": "Optional. Immutable. Name of the reservation from which VM instances should be created, in the format `projects/{project}/zones/{zone}/reservations/{reservation}`.",
          "type": "string"
        }
      },
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created from a [reservation](https://cloud.google.com/compute/docs/instances/reservations-overview).",
      "type": "object"
    },
    "SlurmLoginNodes": {
      "id": "SlurmLoginNodes",
      "properties": {
        "enableOsLogin": {
          "type": "boolean",
          "description": "Optional. Whether [OS Login](https://cloud.google.com/compute/docs/oslogin) should be enabled on login node instances."
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of login node instances to create."
        },
        "enablePublicIps": {
          "type": "boolean",
          "description": "Optional. Whether login node instances should be assigned [external IP addresses](https://cloud.google.com/compute/docs/ip-addresses#externaladdresses)."
        },
        "instances": {
          "type": "array",
          "description": "Output only. Information about the login node instances that were created in Compute Engine.",
          "items": {
            "$ref": "ComputeInstance"
          },
          "readOnly": true
        },
        "bootDisk": {
          "description": "Optional. Boot disk for the login node.",
          "$ref": "BootDisk"
        },
        "machineType": {
          "type": "string",
          "description": "Required. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use for login nodes, e.g. `n2-standard-2`."
        },
        "zone": {
          "type": "string",
          "description": "Required. Name of the zone in which login nodes should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        },
        "startupScript": {
          "description": "Optional. [Startup script](https://cloud.google.com/compute/docs/instances/startup-scripts/linux) to be run on each login node instance. Max 256KB. The script must complete within the system-defined default timeout of 5 minutes. For tasks that require more time, consider running them in the background using methods such as `&` or `nohup`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) that should be applied to each login node instance.",
          "type": "object"
        },
        "storageConfigs": {
          "description": "Optional. How storage resources should be mounted on each login node.",
          "items": {
            "$ref": "StorageConfig"
          },
          "type": "array"
        }
      },
      "description": "Configuration for Slurm [login nodes](https://slurm.schedmd.com/quickstart_admin.html#login) in the cluster. Login nodes are Compute Engine VM instances that allow users to access the cluster over SSH.",
      "type": "object"
    },
    "NewOnDemandInstancesConfig": {
      "id": "NewOnDemandInstancesConfig",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`."
        },
        "zone": {
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster.",
          "type": "string"
        }
      },
      "description": "When set in a ComputeResourceConfig, indicates that on-demand (i.e., using the standard provisioning model) VM instances should be created.",
      "type": "object"
    },
    "GcsAutoclassConfig": {
      "properties": {
        "enabled": {
          "description": "Required. Enables Auto-class feature.",
          "type": "boolean"
        },
        "terminalStorageClass": {
          "description": "Optional. Terminal storage class of the autoclass bucket",
          "type": "string",
          "enumDescriptions": [
            "Unspecified terminal storage class",
            "Nearline terminal storage class",
            "Archive terminal storage class"
          ],
          "enum": [
            "TERMINAL_STORAGE_CLASS_UNSPECIFIED",
            "NEARLINE",
            "ARCHIVE"
          ]
        }
      },
      "id": "GcsAutoclassConfig",
      "type": "object",
      "description": "Message describing Google Cloud Storage autoclass configuration"
    },
    "NetworkResource": {
      "id": "NetworkResource",
      "properties": {
        "network": {
          "readOnly": true,
          "$ref": "NetworkReference",
          "description": "Output only. A reference to a network in Google Compute Engine."
        },
        "config": {
          "description": "Immutable. Configuration for this network resource, which describes how it should be created or imported. This field only controls how the network resource is initially created or imported. Subsequent changes to the network resource should be made via the resource's API and will not be reflected in the configuration.",
          "$ref": "NetworkResourceConfig"
        }
      },
      "description": "A resource representing a network that connects the various components of a cluster together.",
      "type": "object"
    },
    "UpdateLoginNode": {
      "id": "UpdateLoginNode",
      "properties": {},
      "description": "When set in OperationStep, indicates that a login node should be updated.",
      "type": "object"
    },
    "Cluster": {
      "description": "A collection of virtual machines and connected resources forming a high-performance computing cluster capable of running large-scale, tightly coupled workloads. A cluster combines a set a compute resources that perform computations, storage resources that contain inputs and store outputs, an orchestrator that is responsible for assigning jobs to compute resources, and network resources that connect everything together.",
      "type": "object",
      "id": "Cluster",
      "properties": {
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether changes to the cluster are currently in flight. If this is `true`, then the current state might not match the cluster's intended state."
        },
        "computeResources": {
          "additionalProperties": {
            "$ref": "ComputeResource"
          },
          "type": "object",
          "description": "Optional. Compute resources available to the cluster. Keys specify the ID of the compute resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
        },
        "storageResources": {
          "description": "Optional. Storage resources available to the cluster. Keys specify the ID of the storage resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object",
          "additionalProperties": {
            "$ref": "StorageResource"
          }
        },
        "orchestrator": {
          "description": "Optional. Orchestrator that is responsible for scheduling and running jobs on the cluster.",
          "$ref": "Orchestrator"
        },
        "name": {
          "type": "string",
          "description": "Identifier. [Relative resource name](https://google.aip.dev/122) of the cluster, in the format `projects/{project}/locations/{location}/clusters/{cluster}`."
        },
        "updateTime": {
          "description": "Output only. Time that the cluster was most recently updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Optional. A description for your cluster. You can use up to 2,048 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time that the cluster was originally created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "networkResources": {
          "description": "Optional. Network resources available to the cluster. Must contain exactly one value. Keys specify the ID of the network resource by which it can be referenced elsewhere, and must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters).",
          "type": "object",
          "additionalProperties": {
            "$ref": "NetworkResource"
          }
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/compute/docs/labeling-resources) applied to the cluster. Labels can be used to organize clusters and to filter them in queries.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DeletePartition": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a partition should be deleted.",
      "properties": {
        "partitions": {
          "type": "array",
          "description": "Output only. Name of the partition to delete",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "id": "DeletePartition"
    },
    "DeleteLustreInstance": {
      "id": "DeleteLustreInstance",
      "properties": {
        "lustre": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        }
      },
      "description": "When set in OperationStep, indicates that a Lustre instance should be deleted.",
      "type": "object"
    },
    "FilestoreReference": {
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "FilestoreReference",
      "type": "object",
      "description": "A reference to a [Filestore](https://cloud.google.com/filestore) instance."
    },
    "BucketReference": {
      "id": "BucketReference",
      "properties": {
        "bucket": {
          "description": "Output only. Name of the bucket.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A reference to a [Google Cloud Storage](https://cloud.google.com/storage) bucket.",
      "type": "object"
    },
    "NewLustreConfig": {
      "id": "NewLustreConfig",
      "properties": {
        "description": {
          "description": "Optional. Immutable. Description of the Managed Lustre instance. Maximum of 2048 characters.",
          "type": "string"
        },
        "lustre": {
          "type": "string",
          "description": "Required. Immutable. Name of the Managed Lustre instance to create, in the format `projects/{project}/locations/{location}/instances/{instance}`"
        },
        "capacityGb": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. Storage capacity of the instance in gibibytes (GiB). Allowed values are between 18000 and 7632000."
        },
        "perUnitStorageThroughput": {
          "description": "Optional. Immutable. Throughput of the instance in MB/s/TiB. Valid values are 125, 250, 500, 1000. See [Performance tiers and maximum storage capacities](https://cloud.google.com/managed-lustre/docs/create-instance#performance-tiers) for more information.",
          "type": "string",
          "format": "int64"
        },
        "filesystem": {
          "type": "string",
          "description": "Required. Immutable. Filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be 8 characters or less and can only contain letters and numbers."
        }
      },
      "description": "When set in a StorageResourceConfig, indicates that a new [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance should be created.",
      "type": "object"
    },
    "SlurmOrchestrator": {
      "properties": {
        "nodeSets": {
          "description": "Optional. Compute resource configuration for the Slurm nodesets in your cluster. If not specified, the cluster won't create any nodes.",
          "items": {
            "$ref": "SlurmNodeSet"
          },
          "type": "array"
        },
        "loginNodes": {
          "description": "Required. Configuration for login nodes, which allow users to access the cluster over SSH.",
          "$ref": "SlurmLoginNodes"
        },
        "prologBashScripts": {
          "description": "Optional. Slurm [prolog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes before a node begins running a new job. Values must not be empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "partitions": {
          "description": "Optional. Configuration for the Slurm partitions in your cluster. Each partition can contain one or more nodesets, and you can submit separate jobs on each partition. If you don't specify at least one partition in your cluster, you can't submit jobs to the cluster.",
          "items": {
            "$ref": "SlurmPartition"
          },
          "type": "array"
        },
        "defaultPartition": {
          "description": "Optional. Default partition to use for submitted jobs that do not explicitly specify a partition. Required if and only if there is more than one partition, in which case it must match the id of one of the partitions.",
          "type": "string"
        },
        "epilogBashScripts": {
          "description": "Optional. Slurm [epilog scripts](https://slurm.schedmd.com/prolog_epilog.html), which will be executed by compute nodes whenever a node finishes running a job. Values must not be empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SlurmOrchestrator",
      "type": "object",
      "description": "When set in Orchestrator, indicates that the cluster should use [Slurm](https://slurm.schedmd.com/) as the orchestrator."
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "DeleteLoginNode": {
      "id": "DeleteLoginNode",
      "properties": {},
      "description": "When set in OperationStep, indicates that a login node should be deleted.",
      "type": "object"
    },
    "ExistingFilestoreConfig": {
      "properties": {
        "filestore": {
          "description": "Required. Immutable. Name of the Filestore instance to import, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "id": "ExistingFilestoreConfig",
      "type": "object",
      "description": "When set in a StorageResourceConfig, indicates that an existing [Filestore](https://cloud.google.com/filestore) instance should be imported."
    },
    "CreateStorageBucket": {
      "description": "When set in OperationStep, indicates that a new storage bucket should be created.",
      "type": "object",
      "id": "CreateStorageBucket",
      "properties": {
        "bucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the bucket."
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "DeleteOrchestrator": {
      "description": "When set in OperationStep, indicates that an orchestrator should be deleted.",
      "type": "object",
      "id": "DeleteOrchestrator",
      "properties": {}
    },
    "SlurmNodeSet": {
      "description": "Configuration for Slurm nodesets in the cluster. Nodesets are groups of compute nodes used by Slurm that are responsible for running workloads submitted to the cluster.",
      "type": "object",
      "id": "SlurmNodeSet",
      "properties": {
        "computeId": {
          "description": "Required. The ID of the compute resource on which this nodeset runs. Must match a key in the cluster's compute_resources.",
          "type": "string"
        },
        "computeInstance": {
          "description": "Optional. If set, indicates that the nodeset should be backed by Compute Engine instances.",
          "$ref": "ComputeInstanceSlurmNodeSet"
        },
        "id": {
          "type": "string",
          "description": "Required. The ID for the nodeset, which allows it to be referenced by cluster partitions. The nodeset ID must start with a lowercase letter (`a`-`z`), use only lowercase letters or numbers, and contain up to 15 characters. For example, specify `nodeset001`."
        },
        "storageConfigs": {
          "description": "Optional. How storage resources should be mounted on each compute node.",
          "items": {
            "$ref": "StorageConfig"
          },
          "type": "array"
        },
        "staticNodeCount": {
          "description": "Optional. Number of nodes to be statically created for this nodeset. The cluster will attempt to ensure that at least this many nodes exist at all times.",
          "type": "string",
          "format": "int64"
        },
        "maxDynamicNodeCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Controls how many additional nodes a cluster can bring online to handle workloads. Set this value to enable dynamic node creation and limit the number of additional nodes the cluster can bring online. Leave empty if you do not want the cluster to create nodes dynamically, and instead rely only on static nodes."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "StorageConfig": {
      "description": "Description of how a storage resource should be mounted on a VM instance.",
      "type": "object",
      "id": "StorageConfig",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the storage resource to mount, which must match a key in the cluster's storage_resources."
        },
        "localMount": {
          "description": "Required. A directory inside the VM instance's file system where the storage resource should be mounted (e.g., `/mnt/share`).",
          "type": "string"
        }
      }
    },
    "ExistingBucketConfig": {
      "description": "When set in a StorageResourceConfig, indicates that an existing [Google Cloud Storage](https://cloud.google.com/storage) bucket should be imported.",
      "type": "object",
      "id": "ExistingBucketConfig",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. Immutable. Name of the Cloud Storage bucket to import."
        }
      }
    },
    "ComputeInstance": {
      "type": "object",
      "description": "Details about a Compute Engine [instance](https://cloud.google.com/compute/docs/instances).",
      "properties": {
        "instance": {
          "description": "Output only. Name of the VM instance, in the format `projects/{project}/zones/{zone}/instances/{instance}`.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ComputeInstance"
    },
    "SlurmPartition": {
      "id": "SlurmPartition",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the partition, which is how users will identify it. Must conform to [RFC-1034](https://datatracker.ietf.org/doc/html/rfc1034) (lower-case, alphanumeric, and at most 63 characters)."
        },
        "nodeSetIds": {
          "description": "Required. IDs of the nodesets that make up this partition. Values must match SlurmNodeSet.id.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Configuration for Slurm partitions in the cluster. Partitions are groups of nodesets, and are how clients specify where their workloads should be run.",
      "type": "object"
    },
    "UpdateNodeset": {
      "id": "UpdateNodeset",
      "properties": {
        "nodesets": {
          "description": "Output only. Name of the nodeset to update",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "description": "When set in OperationStep, indicates that a nodeset should be updated.",
      "type": "object"
    },
    "FileShareConfig": {
      "properties": {
        "capacityGb": {
          "description": "Required. Size of the filestore in GB. Must be between 1024 and 102400, and must meet scalability requirements described at https://cloud.google.com/filestore/docs/service-tiers.",
          "type": "string",
          "format": "int64"
        },
        "fileShare": {
          "description": "Required. Filestore share location",
          "type": "string"
        }
      },
      "id": "FileShareConfig",
      "type": "object",
      "description": "Message describing filestore configuration"
    },
    "DeleteFilestoreInstance": {
      "type": "object",
      "description": "When set in OperationStep, indicates that a Filestore instance should be deleted.",
      "properties": {
        "filestore": {
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "DeleteFilestoreInstance"
    },
    "NetworkResourceConfig": {
      "description": "Describes how a network resource should be initialized. Each network resource can either be imported from an existing Google Cloud resource or initialized when the cluster is created.",
      "type": "object",
      "id": "NetworkResourceConfig",
      "properties": {
        "newNetwork": {
          "description": "Optional. Immutable. If set, indicates that a new network should be created.",
          "$ref": "NewNetworkConfig"
        },
        "existingNetwork": {
          "description": "Optional. Immutable. If set, indicates that an existing network should be imported.",
          "$ref": "ExistingNetworkConfig"
        }
      }
    },
    "LustreReference": {
      "type": "object",
      "description": "A reference to a [Managed Lustre](https://cloud.google.com/products/managed-lustre) instance.",
      "properties": {
        "lustre": {
          "type": "string",
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      },
      "id": "LustreReference"
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "properties": {
        "steps": {
          "type": "array",
          "description": "Output only. Steps and status of the operation.",
          "items": {
            "$ref": "OperationStep"
          },
          "readOnly": true
        }
      },
      "description": "Message describing the progress of a cluster mutation long-running operation.",
      "type": "object"
    },
    "CreateNetwork": {
      "properties": {
        "network": {
          "readOnly": true,
          "description": "Output only. Name of the network to create, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        }
      },
      "id": "CreateNetwork",
      "type": "object",
      "description": "When set in OperationStep, indicates that a new network should be created."
    },
    "GcsHierarchicalNamespaceConfig": {
      "id": "GcsHierarchicalNamespaceConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables hierarchical namespace setup for the bucket."
        }
      },
      "description": "Message describing Google Cloud Storage hierarchical namespace configuration",
      "type": "object"
    },
    "DeleteNetwork": {
      "properties": {
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the network to delete, in the format `projects/{project}/global/networks/{network}`."
        }
      },
      "id": "DeleteNetwork",
      "type": "object",
      "description": "When set in OperationStep, indicates network deletion step with the resource name."
    },
    "DeleteStorageBucket": {
      "type": "object",
      "description": "When set in OperationStep, indicates that Cloud Storage bucket should be deleted.",
      "properties": {
        "bucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the bucket."
        }
      },
      "id": "DeleteStorageBucket"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "CreateFilestoreInstance": {
      "id": "CreateFilestoreInstance",
      "properties": {
        "filestore": {
          "type": "string",
          "description": "Output only. Name of the Filestore instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "readOnly": true
        }
      },
      "description": "When set in OperationStep, indicates that a new filestore instance should be created.",
      "type": "object"
    },
    "CreateLustreInstance": {
      "properties": {
        "lustre": {
          "readOnly": true,
          "description": "Output only. Name of the Managed Lustre instance, in the format `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        }
      },
      "id": "CreateLustreInstance",
      "type": "object",
      "description": "When set in OperationStep, indicates that a new lustre instance should be created."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "NewFlexStartInstancesConfig": {
      "properties": {
        "machineType": {
          "description": "Required. Immutable. Name of the Compute Engine [machine type](https://cloud.google.com/compute/docs/machine-resource) to use, e.g. `n2-standard-2`.",
          "type": "string"
        },
        "maxDuration": {
          "description": "Required. Immutable. Specifies the time limit for created instances. Instances will be terminated at the end of this duration.",
          "type": "string",
          "format": "google-duration"
        },
        "zone": {
          "type": "string",
          "description": "Required. Immutable. Name of the zone in which VM instances should run, e.g., `us-central1-a`. Must be in the same region as the cluster, and must match the zone of any other resources specified in the cluster."
        }
      },
      "id": "NewFlexStartInstancesConfig",
      "type": "object",
      "description": "When set in a ComputeResourceConfig, indicates that VM instances should be created using [Flex Start](https://cloud.google.com/compute/docs/instances/provisioning-models)."
    },
    "NetworkReference": {
      "id": "NetworkReference",
      "properties": {
        "subnetwork": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the particular subnetwork being used by the cluster, in the format `projects/{project}/regions/{region}/subnetworks/{subnetwork}`."
        },
        "network": {
          "readOnly": true,
          "description": "Output only. Name of the network, in the format `projects/{project}/global/networks/{network}`.",
          "type": "string"
        }
      },
      "description": "A reference to a [VPC network](https://cloud.google.com/vpc/docs/vpc) in Google Compute Engine.",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "title": "Cluster Director API",
  "version": "v1"
}