{
  "canonicalName": "Iam",
  "version": "v1",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://iam.googleapis.com/",
  "mtlsRootUrl": "https://iam.mtls.googleapis.com/",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "revision": "20260604",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/iam/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "iamPolicies": {
      "methods": {
        "lintPolicy": {
          "id": "iam.iamPolicies.lintPolicy",
          "flatPath": "v1/iamPolicies:lintPolicy",
          "path": "v1/iamPolicies:lintPolicy",
          "response": {
            "$ref": "LintPolicyResponse"
          },
          "httpMethod": "POST",
          "description": "Lints, or validates, an IAM policy. Currently checks the google.iam.v1.Binding.condition field, which contains a condition expression for a role binding. Successful calls to this method always return an HTTP `200 OK` status code, even if the linter detects an issue in the IAM policy.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "request": {
            "$ref": "LintPolicyRequest"
          }
        },
        "queryAuditableServices": {
          "parameters": {},
          "request": {
            "$ref": "QueryAuditableServicesRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "QueryAuditableServicesResponse"
          },
          "httpMethod": "POST",
          "description": "Returns a list of services that allow you to opt into audit logs that are not generated by default. To learn more about audit logs, see the [Logging documentation](https://cloud.google.com/logging/docs/audit).",
          "id": "iam.iamPolicies.queryAuditableServices",
          "flatPath": "v1/iamPolicies:queryAuditableServices",
          "path": "v1/iamPolicies:queryAuditableServices"
        }
      }
    },
    "permissions": {
      "methods": {
        "queryTestablePermissions": {
          "description": "Lists every permission that you can test on a resource. A permission is testable if you can check whether a principal has that permission on the resource.",
          "httpMethod": "POST",
          "response": {
            "$ref": "QueryTestablePermissionsResponse"
          },
          "path": "v1/permissions:queryTestablePermissions",
          "id": "iam.permissions.queryTestablePermissions",
          "flatPath": "v1/permissions:queryTestablePermissions",
          "request": {
            "$ref": "QueryTestablePermissionsRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        }
      }
    },
    "roles": {
      "methods": {
        "queryGrantableRoles": {
          "description": "Lists roles that can be granted on a Google Cloud resource. A role is grantable if the IAM policy for the resource can contain bindings to the role.",
          "httpMethod": "POST",
          "response": {
            "$ref": "QueryGrantableRolesResponse"
          },
          "path": "v1/roles:queryGrantableRoles",
          "id": "iam.roles.queryGrantableRoles",
          "flatPath": "v1/roles:queryGrantableRoles",
          "request": {
            "$ref": "QueryGrantableRolesRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        },
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^roles/[^/]+$",
              "description": "The `name` parameter's value depends on the target resource for the request, namely [roles](https://cloud.google.com/iam/docs/reference/rest/v1/roles), [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles), or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [roles.get](https://cloud.google.com/iam/docs/reference/rest/v1/roles/get): `roles/{ROLE_NAME}`. This method returns results from all [predefined roles](https://cloud.google.com/iam/docs/understanding-roles#predefined_roles) in IAM. Example request URL: `https://iam.googleapis.com/v1/roles/{ROLE_NAME}` * [projects.roles.get](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/get): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method returns only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [organizations.roles.get](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/get): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method returns only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the definition of a Role.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Role"
          },
          "path": "v1/{+name}",
          "id": "iam.roles.get",
          "flatPath": "v1/roles/{rolesId}"
        },
        "list": {
          "path": "v1/roles",
          "id": "iam.roles.list",
          "flatPath": "v1/roles",
          "response": {
            "$ref": "ListRolesResponse"
          },
          "description": "Lists every predefined Role that IAM supports, or every custom role that is defined for an organization or project.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "description": "The `parent` parameter's value depends on the target resource for the request, namely [roles](https://cloud.google.com/iam/docs/reference/rest/v1/roles), [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles), or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `parent` value format is described below: * [roles.list](https://cloud.google.com/iam/docs/reference/rest/v1/roles/list): An empty string. This method doesn't require a resource; it simply returns all [predefined roles](https://cloud.google.com/iam/docs/understanding-roles#predefined_roles) in IAM. Example request URL: `https://iam.googleapis.com/v1/roles` * [projects.roles.list](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/list): `projects/{PROJECT_ID}`. This method lists all project-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles` * [organizations.roles.list](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/list): `organizations/{ORGANIZATION_ID}`. This method lists all organization-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
              "location": "query"
            },
            "showDeleted": {
              "description": "Include Roles that have been deleted.",
              "location": "query",
              "type": "boolean"
            },
            "view": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Omits the `included_permissions` field. This is the default value.",
                "Returns all fields."
              ],
              "description": "Optional view for the returned Role objects. When `FULL` is specified, the `includedPermissions` field is returned, which includes a list of all permissions in the role. The default value is `BASIC`, which does not return the `includedPermissions` field.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 1,000.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional pagination token returned in an earlier ListRolesResponse.",
              "location": "query"
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "roles": {
          "methods": {
            "create": {
              "request": {
                "$ref": "CreateRoleRequest"
              },
              "parameters": {
                "parent": {
                  "description": "The `parent` parameter's value depends on the target resource for the request, namely [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles) or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `parent` value format is described below: * [projects.roles.create](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/create): `projects/{PROJECT_ID}`. This method creates project-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles` * [organizations.roles.create](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/create): `organizations/{ORGANIZATION_ID}`. This method creates organization-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new custom Role.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Role"
              },
              "path": "v1/{+parent}/roles",
              "id": "iam.organizations.roles.create",
              "flatPath": "v1/organizations/{organizationsId}/roles"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 1,000.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional pagination token returned in an earlier ListRolesResponse.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "The `parent` parameter's value depends on the target resource for the request, namely [roles](https://cloud.google.com/iam/docs/reference/rest/v1/roles), [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles), or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `parent` value format is described below: * [roles.list](https://cloud.google.com/iam/docs/reference/rest/v1/roles/list): An empty string. This method doesn't require a resource; it simply returns all [predefined roles](https://cloud.google.com/iam/docs/understanding-roles#predefined_roles) in IAM. Example request URL: `https://iam.googleapis.com/v1/roles` * [projects.roles.list](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/list): `projects/{PROJECT_ID}`. This method lists all project-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles` * [organizations.roles.list](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/list): `organizations/{ORGANIZATION_ID}`. This method lists all organization-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "location": "path"
                },
                "showDeleted": {
                  "type": "boolean",
                  "description": "Include Roles that have been deleted.",
                  "location": "query"
                },
                "view": {
                  "enum": [
                    "BASIC",
                    "FULL"
                  ],
                  "enumDescriptions": [
                    "Omits the `included_permissions` field. This is the default value.",
                    "Returns all fields."
                  ],
                  "description": "Optional view for the returned Role objects. When `FULL` is specified, the `includedPermissions` field is returned, which includes a list of all permissions in the role. The default value is `BASIC`, which does not return the `includedPermissions` field.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists every predefined Role that IAM supports, or every custom role that is defined for an organization or project.",
              "response": {
                "$ref": "ListRolesResponse"
              },
              "id": "iam.organizations.roles.list",
              "flatPath": "v1/organizations/{organizationsId}/roles",
              "path": "v1/{+parent}/roles"
            },
            "patch": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles) or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [projects.roles.patch](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/patch): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method updates only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [organizations.roles.patch](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/patch): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method updates only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/roles/[^/]+$"
                },
                "updateMask": {
                  "description": "A mask describing which fields in the Role have changed.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Role"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Role"
              },
              "description": "Updates the definition of a custom Role.",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "id": "iam.organizations.roles.patch",
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}"
            },
            "get": {
              "path": "v1/{+name}",
              "id": "iam.organizations.roles.get",
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}",
              "response": {
                "$ref": "Role"
              },
              "description": "Gets the definition of a Role.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [roles](https://cloud.google.com/iam/docs/reference/rest/v1/roles), [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles), or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [roles.get](https://cloud.google.com/iam/docs/reference/rest/v1/roles/get): `roles/{ROLE_NAME}`. This method returns results from all [predefined roles](https://cloud.google.com/iam/docs/understanding-roles#predefined_roles) in IAM. Example request URL: `https://iam.googleapis.com/v1/roles/{ROLE_NAME}` * [projects.roles.get](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/get): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method returns only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [organizations.roles.get](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/get): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method returns only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/roles/[^/]+$",
                  "required": true
                }
              }
            },
            "delete": {
              "description": "Deletes a custom Role. When you delete a custom role, the following changes occur immediately: * You cannot bind a principal to the custom role in an IAM Policy. * Existing bindings to the custom role are not changed, but they have no effect. * By default, the response from ListRoles does not include the custom role. A deleted custom role still counts toward the [custom role limit](https://cloud.google.com/iam/help/limits) until it is permanently deleted. You have 7 days to undelete the custom role. After 7 days, the following changes occur: * The custom role is permanently deleted and cannot be recovered. * If an IAM policy contains a binding to the custom role, the binding is permanently removed. * The custom role no longer counts toward your custom role limit.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Role"
              },
              "path": "v1/{+name}",
              "id": "iam.organizations.roles.delete",
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}",
              "parameters": {
                "etag": {
                  "description": "Used to perform a consistent read-modify-write.",
                  "location": "query",
                  "format": "byte",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/roles/[^/]+$",
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles) or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [projects.roles.delete](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/delete): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method deletes only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [organizations.roles.delete](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/delete): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method deletes only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "undelete": {
              "httpMethod": "POST",
              "description": "Undeletes a custom Role.",
              "response": {
                "$ref": "Role"
              },
              "id": "iam.organizations.roles.undelete",
              "flatPath": "v1/organizations/{organizationsId}/roles/{rolesId}:undelete",
              "path": "v1/{+name}:undelete",
              "request": {
                "$ref": "UndeleteRoleRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/roles/[^/]+$",
                  "description": "The `name` parameter's value depends on the target resource for the request, namely [projects](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles) or [organizations](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles). Each resource type's `name` value format is described below: * [projects.roles.undelete](https://cloud.google.com/iam/docs/reference/rest/v1/projects.roles/undelete): `projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}`. This method undeletes only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the project level. Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles/{CUSTOM_ROLE_ID}` * [organizations.roles.undelete](https://cloud.google.com/iam/docs/reference/rest/v1/organizations.roles/undelete): `organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}`. This method undeletes only [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles) that have been created at the organization level. Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles/{CUSTOM_ROLE_ID}` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workloadIdentityPools": {
              "methods": {
                "list": {
                  "id": "iam.projects.locations.workloadIdentityPools.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools",
                  "path": "v1/{+parent}/workloadIdentityPools",
                  "httpMethod": "GET",
                  "description": "Lists all non-deleted WorkloadIdentityPools in a project. If `show_deleted` is set to `true`, then deleted pools are also listed.",
                  "response": {
                    "$ref": "ListWorkloadIdentityPoolsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource to list pools for.",
                      "location": "path",
                      "type": "string"
                    },
                    "showDeleted": {
                      "description": "Whether to return soft-deleted pools.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of pools to return. If unspecified, at most 50 pools are returned. The maximum value is 1000; values above are 1000 truncated to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListWorkloadIdentityPools` call. Provide this to retrieve the subsequent page.",
                      "location": "query"
                    }
                  }
                },
                "removeAttestationRule": {
                  "httpMethod": "POST",
                  "description": "Remove an AttestationRule on a WorkloadIdentityPoolManagedIdentity.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.removeAttestationRule",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:removeAttestationRule",
                  "path": "v1/{+resource}:removeAttestationRule",
                  "request": {
                    "$ref": "RemoveAttestationRuleRequest"
                  },
                  "parameters": {
                    "resource": {
                      "description": "Required. The resource name of the managed identity or namespace resource to remove an attestation rule from.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "WorkloadIdentityPool"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "description": "Identifier. The resource name of the pool.",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to update.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates an existing WorkloadIdentityPool.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "description": "Deletes a WorkloadIdentityPool. You cannot use a deleted pool to exchange external credentials for Google Cloud credentials. However, deletion does not revoke credentials that have already been issued. Credentials issued for a deleted pool do not grant access to resources. If the pool is undeleted, and the credentials are not expired, they grant access again. You can undelete a pool for 30 days. After 30 days, deletion is permanent. You cannot update deleted pools. However, you can view and list them.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "id": "iam.projects.locations.workloadIdentityPools.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "description": "Required. The name of the pool to delete.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "description": "Creates a new WorkloadIdentityPool. You cannot reuse the name of a deleted pool until 30 days after deletion.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/workloadIdentityPools",
                  "id": "iam.projects.locations.workloadIdentityPools.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools",
                  "request": {
                    "$ref": "WorkloadIdentityPool"
                  },
                  "parameters": {
                    "workloadIdentityPoolId": {
                      "type": "string",
                      "description": "Required. The ID to use for the pool, which becomes the final component of the resource name. This value should be 4-32 characters, and may contain the characters [a-z0-9-]. The prefix `gcp-` is reserved for use by Google, and may not be specified.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource to create the pool in. The only supported location is `global`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "id": "iam.projects.locations.workloadIdentityPools.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}",
                  "response": {
                    "$ref": "WorkloadIdentityPool"
                  },
                  "description": "Gets an individual WorkloadIdentityPool.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "description": "Required. The name of the pool to retrieve.",
                      "location": "path"
                    }
                  }
                },
                "undelete": {
                  "httpMethod": "POST",
                  "description": "Undeletes a WorkloadIdentityPool, as long as it was deleted fewer than 30 days ago.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.undelete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:undelete",
                  "path": "v1/{+name}:undelete",
                  "request": {
                    "$ref": "UndeleteWorkloadIdentityPoolRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "description": "Required. The name of the pool to undelete.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "addAttestationRule": {
                  "request": {
                    "$ref": "AddAttestationRuleRequest"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the managed identity or namespace resource to add an attestation rule to.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Add an AttestationRule on a WorkloadIdentityPoolManagedIdentity. The total attestation rules after addition must not exceed 50.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+resource}:addAttestationRule",
                  "id": "iam.projects.locations.workloadIdentityPools.addAttestationRule",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:addAttestationRule"
                },
                "listAttestationRules": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "Required. The resource name of the managed identity or namespace resource to list attestation rules of.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of AttestationRules to return. If unspecified, at most 50 AttestationRules are returned. The maximum value is 100; values above 100 are truncated to 100.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListWorkloadIdentityPoolProviderKeys` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A query filter. Supports the following function: * `container_ids()`: Returns only the AttestationRules under the specific container ids. The function expects a comma-delimited list with only project numbers and must use the format `projects/`. For example: `container_ids(projects/, projects/,...)`.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+resource}:listAttestationRules",
                  "id": "iam.projects.locations.workloadIdentityPools.listAttestationRules",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:listAttestationRules",
                  "response": {
                    "$ref": "ListAttestationRulesResponse"
                  },
                  "description": "List all AttestationRule on a WorkloadIdentityPoolManagedIdentity.",
                  "httpMethod": "GET"
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "description": "Returns the caller's permissions on a WorkloadIdentityPool",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "id": "iam.projects.locations.workloadIdentityPools.getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:getIamPolicy",
                  "description": "Gets the IAM policy of a WorkloadIdentityPool.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "setAttestationRules": {
                  "request": {
                    "$ref": "SetAttestationRulesRequest"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "description": "Required. The resource name of the managed identity or namespace resource to add an attestation rule to.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "description": "Set all AttestationRule on a WorkloadIdentityPoolManagedIdentity. A maximum of 50 AttestationRules can be set.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "iam.projects.locations.workloadIdentityPools.setAttestationRules",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:setAttestationRules",
                  "path": "v1/{+resource}:setAttestationRules"
                },
                "setIamPolicy": {
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "description": "Sets the IAM policies on a WorkloadIdentityPool",
                  "id": "iam.projects.locations.workloadIdentityPools.setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}:setIamPolicy",
                  "path": "v1/{+resource}:setIamPolicy"
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "id": "iam.projects.locations.workloadIdentityPools.operations.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/operations/{operationsId}",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "namespaces": {
                  "methods": {
                    "list": {
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces",
                      "path": "v1/{+parent}/namespaces",
                      "httpMethod": "GET",
                      "description": "Lists all non-deleted WorkloadIdentityPoolNamespaces in a workload identity pool. If `show_deleted` is set to `true`, then deleted namespaces are also listed.",
                      "response": {
                        "$ref": "ListWorkloadIdentityPoolNamespacesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of namespaces to return. If unspecified, at most 50 namespaces are returned. The maximum value is 1000; values above are 1000 truncated to 1000.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListWorkloadIdentityPoolNamespaces` call. Provide this to retrieve the subsequent page.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                          "description": "Required. The parent resource to list namespaces for.",
                          "location": "path"
                        },
                        "showDeleted": {
                          "type": "boolean",
                          "description": "Whether to return soft-deleted namespaces.",
                          "location": "query"
                        }
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                          "description": "Identifier. The resource name of the namespace.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Required. The list of fields to update.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "WorkloadIdentityPoolNamespace"
                      },
                      "path": "v1/{+name}",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates an existing WorkloadIdentityPoolNamespace in a WorkloadIdentityPool.",
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                          "description": "Required. The name of the namespace to retrieve.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}",
                      "response": {
                        "$ref": "WorkloadIdentityPoolNamespace"
                      },
                      "description": "Gets an individual WorkloadIdentityPoolNamespace.",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the namespace to delete.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a WorkloadIdentityPoolNamespace. You can undelete a namespace for 30 days. After 30 days, deletion is permanent.",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}"
                    },
                    "undelete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the namespace to undelete.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "UndeleteWorkloadIdentityPoolNamespaceRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "description": "Undeletes a WorkloadIdentityPoolNamespace, as long as it was deleted fewer than 30 days ago.",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.undelete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}:undelete",
                      "path": "v1/{+name}:undelete"
                    },
                    "create": {
                      "path": "v1/{+parent}/namespaces",
                      "id": "iam.projects.locations.workloadIdentityPools.namespaces.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new WorkloadIdentityPoolNamespace in a WorkloadIdentityPool.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "workloadIdentityPoolNamespaceId": {
                          "type": "string",
                          "description": "Required. The ID to use for the namespace. This value must: * contain at most 63 characters * contain only lowercase alphanumeric characters or `-` * start with an alphanumeric character * end with an alphanumeric character The prefix \"gcp-\" will be reserved for future uses.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource to create the namespace in. The only supported location is `global`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "WorkloadIdentityPoolNamespace"
                      }
                    }
                  },
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation resource.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.operations.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/operations/{operationsId}",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "GET",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                        }
                      }
                    },
                    "managedIdentities": {
                      "methods": {
                        "patch": {
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+$",
                              "description": "Identifier. The resource name of the managed identity.",
                              "location": "path"
                            },
                            "updateMask": {
                              "type": "string",
                              "description": "Required. The list of fields to update.",
                              "location": "query",
                              "format": "google-fieldmask"
                            }
                          },
                          "request": {
                            "$ref": "WorkloadIdentityPoolManagedIdentity"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "description": "Updates an existing WorkloadIdentityPoolManagedIdentity in a WorkloadIdentityPoolNamespace.",
                          "httpMethod": "PATCH",
                          "path": "v1/{+name}",
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.patch",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}"
                        },
                        "delete": {
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.delete",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "DELETE",
                          "description": "Deletes a WorkloadIdentityPoolManagedIdentity. You can undelete a managed identity for 30 days. After 30 days, deletion is permanent.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+$",
                              "description": "Required. The name of the managed identity to delete.",
                              "location": "path",
                              "required": true
                            }
                          }
                        },
                        "listAttestationRules": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "resource"
                          ],
                          "parameters": {
                            "resource": {
                              "description": "Required. The resource name of the managed identity or namespace resource to list attestation rules of.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "Optional. The maximum number of AttestationRules to return. If unspecified, at most 50 AttestationRules are returned. The maximum value is 100; values above 100 are truncated to 100.",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListWorkloadIdentityPoolProviderKeys` call. Provide this to retrieve the subsequent page.",
                              "location": "query"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Optional. A query filter. Supports the following function: * `container_ids()`: Returns only the AttestationRules under the specific container ids. The function expects a comma-delimited list with only project numbers and must use the format `projects/`. For example: `container_ids(projects/, projects/,...)`.",
                              "location": "query"
                            }
                          },
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.listAttestationRules",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}:listAttestationRules",
                          "path": "v1/{+resource}:listAttestationRules",
                          "httpMethod": "GET",
                          "description": "List all AttestationRule on a WorkloadIdentityPoolManagedIdentity.",
                          "response": {
                            "$ref": "ListAttestationRulesResponse"
                          }
                        },
                        "setAttestationRules": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "resource"
                          ],
                          "request": {
                            "$ref": "SetAttestationRulesRequest"
                          },
                          "parameters": {
                            "resource": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The resource name of the managed identity or namespace resource to add an attestation rule to.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+$"
                            }
                          },
                          "path": "v1/{+resource}:setAttestationRules",
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.setAttestationRules",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}:setAttestationRules",
                          "description": "Set all AttestationRule on a WorkloadIdentityPoolManagedIdentity. A maximum of 50 AttestationRules can be set.",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "create": {
                          "request": {
                            "$ref": "WorkloadIdentityPoolManagedIdentity"
                          },
                          "parameters": {
                            "workloadIdentityPoolManagedIdentityId": {
                              "type": "string",
                              "description": "Required. The ID to use for the managed identity. This value must: * contain at most 63 characters * contain only lowercase alphanumeric characters or `-` * start with an alphanumeric character * end with an alphanumeric character The prefix \"gcp-\" will be reserved for future uses.",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "description": "Required. The parent resource to create the manage identity in. The only supported location is `global`.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "description": "Creates a new WorkloadIdentityPoolManagedIdentity in a WorkloadIdentityPoolNamespace.",
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.create",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities",
                          "path": "v1/{+parent}/managedIdentities"
                        },
                        "list": {
                          "response": {
                            "$ref": "ListWorkloadIdentityPoolManagedIdentitiesResponse"
                          },
                          "description": "Lists all non-deleted WorkloadIdentityPoolManagedIdentitys in a namespace. If `show_deleted` is set to `true`, then deleted managed identities are also listed.",
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/managedIdentities",
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+$",
                              "description": "Required. The parent resource to list managed identities for.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "showDeleted": {
                              "type": "boolean",
                              "description": "Whether to return soft-deleted managed identities.",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "The maximum number of managed identities to return. If unspecified, at most 50 managed identities are returned. The maximum value is 1000; values above are 1000 truncated to 1000.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A page token, received from a previous `ListWorkloadIdentityPoolManagedIdentities` call. Provide this to retrieve the subsequent page.",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The name of the managed identity to retrieve.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "WorkloadIdentityPoolManagedIdentity"
                          },
                          "description": "Gets an individual WorkloadIdentityPoolManagedIdentity.",
                          "httpMethod": "GET",
                          "path": "v1/{+name}",
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}"
                        },
                        "removeAttestationRule": {
                          "description": "Remove an AttestationRule on a WorkloadIdentityPoolManagedIdentity.",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1/{+resource}:removeAttestationRule",
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.removeAttestationRule",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}:removeAttestationRule",
                          "request": {
                            "$ref": "RemoveAttestationRuleRequest"
                          },
                          "parameters": {
                            "resource": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+$",
                              "description": "Required. The resource name of the managed identity or namespace resource to remove an attestation rule from.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "resource"
                          ]
                        },
                        "undelete": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "POST",
                          "description": "Undeletes a WorkloadIdentityPoolManagedIdentity, as long as it was deleted fewer than 30 days ago.",
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.undelete",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}:undelete",
                          "path": "v1/{+name}:undelete",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. The name of the managed identity to undelete.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+$",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "UndeleteWorkloadIdentityPoolManagedIdentityRequest"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "addAttestationRule": {
                          "parameterOrder": [
                            "resource"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "resource": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+$",
                              "description": "Required. The resource name of the managed identity or namespace resource to add an attestation rule to.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "AddAttestationRuleRequest"
                          },
                          "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.addAttestationRule",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}:addAttestationRule",
                          "path": "v1/{+resource}:addAttestationRule",
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "POST",
                          "description": "Add an AttestationRule on a WorkloadIdentityPoolManagedIdentity. The total attestation rules after addition must not exceed 50."
                        }
                      },
                      "resources": {
                        "workloadSources": {
                          "resources": {
                            "operations": {
                              "methods": {
                                "get": {
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform"
                                  ],
                                  "parameters": {
                                    "name": {
                                      "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+/workloadSources/[^/]+/operations/[^/]+$",
                                      "description": "The name of the operation resource.",
                                      "location": "path",
                                      "type": "string",
                                      "required": true
                                    }
                                  },
                                  "path": "v1/{+name}",
                                  "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.workloadSources.operations.get",
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}/workloadSources/{workloadSourcesId}/operations/{operationsId}",
                                  "response": {
                                    "$ref": "Operation"
                                  },
                                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                                  "httpMethod": "GET"
                                }
                              }
                            }
                          }
                        },
                        "operations": {
                          "methods": {
                            "get": {
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "type": "string",
                                  "description": "The name of the operation resource.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/namespaces/[^/]+/managedIdentities/[^/]+/operations/[^/]+$"
                                }
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "Operation"
                              },
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "httpMethod": "GET",
                              "path": "v1/{+name}",
                              "id": "iam.projects.locations.workloadIdentityPools.namespaces.managedIdentities.operations.get",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/namespaces/{namespacesId}/managedIdentities/{managedIdentitiesId}/operations/{operationsId}"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "providers": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "WorkloadIdentityPoolProvider"
                      },
                      "httpMethod": "GET",
                      "description": "Gets an individual WorkloadIdentityPoolProvider.",
                      "id": "iam.projects.locations.workloadIdentityPools.providers.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the provider to retrieve.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                          "description": "Required. The pool to list providers for.",
                          "location": "path",
                          "required": true
                        },
                        "showDeleted": {
                          "description": "Whether to return soft-deleted providers.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of providers to return. If unspecified, at most 50 providers are returned. The maximum value is 100; values above 100 are truncated to 100.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListWorkloadIdentityPoolProviders` call. Provide this to retrieve the subsequent page.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists all non-deleted WorkloadIdentityPoolProviders in a WorkloadIdentityPool. If `show_deleted` is set to `true`, then deleted providers are also listed.",
                      "response": {
                        "$ref": "ListWorkloadIdentityPoolProvidersResponse"
                      },
                      "id": "iam.projects.locations.workloadIdentityPools.providers.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers",
                      "path": "v1/{+parent}/providers"
                    },
                    "patch": {
                      "request": {
                        "$ref": "WorkloadIdentityPoolProvider"
                      },
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the provider.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. The list of fields to update.",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates an existing WorkloadIdentityPoolProvider.",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "id": "iam.projects.locations.workloadIdentityPools.providers.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}"
                    },
                    "undelete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                          "description": "Required. The name of the provider to undelete.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "UndeleteWorkloadIdentityPoolProviderRequest"
                      },
                      "id": "iam.projects.locations.workloadIdentityPools.providers.undelete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}:undelete",
                      "path": "v1/{+name}:undelete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "description": "Undeletes a WorkloadIdentityPoolProvider, as long as it was deleted fewer than 30 days ago."
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the provider to delete.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "iam.projects.locations.workloadIdentityPools.providers.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a WorkloadIdentityPoolProvider. Deleting a provider does not revoke credentials that have already been issued; they continue to grant access. You can undelete a provider for 30 days. After 30 days, deletion is permanent. You cannot update deleted providers. However, you can view and list them.",
                      "httpMethod": "DELETE"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+$",
                          "description": "Required. The pool to create this provider in.",
                          "location": "path",
                          "type": "string"
                        },
                        "workloadIdentityPoolProviderId": {
                          "description": "Required. The ID for the provider, which becomes the final component of the resource name. This value must be 4-32 characters, and may contain the characters [a-z0-9-]. The prefix `gcp-` is reserved for use by Google, and may not be specified.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "WorkloadIdentityPoolProvider"
                      },
                      "id": "iam.projects.locations.workloadIdentityPools.providers.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers",
                      "path": "v1/{+parent}/providers",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "description": "Creates a new WorkloadIdentityPoolProvider in a WorkloadIdentityPool. You cannot reuse the name of a deleted provider until 30 days after deletion."
                    }
                  },
                  "resources": {
                    "keys": {
                      "methods": {
                        "list": {
                          "path": "v1/{+parent}/keys",
                          "id": "iam.projects.locations.workloadIdentityPools.providers.keys.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workloadIdentityPools/{workloadIdentityPoolsId}/providers/{providersId}/keys",
                          "description": "Lists all non-deleted WorkloadIdentityPoolProviderKeys in a project. If show_deleted is set to `true`, then deleted pools are also listed.",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListWorkloadIdentityPoolProviderKeysResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "required": true,
                              "description": "Required. The parent provider resource to list encryption keys for.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workloadIdentityPools/[^/]+/providers/[^/]+$",
                              "type": "string"
                            },
                            "showDeleted": {
                              "description": "Whether to return soft deleted resources as well.",
                              "location": "query",
                              "type": "boolean"
                            },
                            "pageSize": {
                              "description": "The maximum number of keys to return. If unspecified, all keys are returned. The maximum value is 10; values above 10 are truncated to 10.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListWorkloadIdentityPoolProviderKeys` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            }
                          }
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
[...]
