{
  "version": "v1",
  "servicePath": "",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://iam.googleapis.com/",
  "title": "Identity and Access Management (IAM) API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://iam.googleapis.com/",
  "id": "iam:v1",
  "version_module": true,
  "revision": "20260821",
  "kind": "discovery#restDescription",
  "schemas": {
    "QueryGrantableRolesRequest": {
      "description": "The grantable role query request.",
      "id": "QueryGrantableRolesRequest",
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 2,000."
        },
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Omits the `included_permissions` field. This is the default value.",
            "Returns all fields."
          ],
          "enum": [
            "BASIC",
            "FULL"
          ]
        },
        "fullResourceName": {
          "description": "Required. Required. The full resource name to query from the list of grantable roles. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional pagination token returned in an earlier QueryGrantableRolesResponse."
        }
      },
      "type": "object"
    },
    "GoogleIamAdminV1WorkforcePoolProviderSaml": {
      "properties": {
        "idpMetadataXml": {
          "description": "Required. SAML Identity provider configuration metadata xml doc. The xml document should comply with [SAML 2.0 specification](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf). The max size of the acceptable xml document will be bounded to 128k characters. The metadata xml document should satisfy the following constraints: 1) Must contain an Identity Provider Entity ID. 2) Must contain at least one non-expired signing key certificate. 3) For each signing key: a) Valid from should be no more than 7 days from now. b) Valid to should be no more than 25 years in the future. 4) Up to 3 IdP signing keys are allowed in the metadata xml. When updating the provider's metadata xml, at least one non-expired signing key must overlap with the existing metadata. This requirement is skipped if there are no non-expired signing keys present in the existing metadata.",
          "type": "string"
        }
      },
      "description": "Represents a SAML identity provider.",
      "type": "object",
      "id": "GoogleIamAdminV1WorkforcePoolProviderSaml"
    },
    "X509": {
      "description": "An X.509-type identity provider represents a CA. It is trusted to assert a client identity if the client has a certificate that chains up to this CA.",
      "id": "X509",
      "properties": {
        "trustStore": {
          "description": "Required. A TrustStore. Use this trust store as a wrapper to config the trust anchor and optional intermediate cas to help build the trust chain for the incoming end entity certificate. Follow the X.509 guidelines to define those PEM encoded certs. Only one trust store is currently supported.",
          "$ref": "TrustStore"
        }
      },
      "type": "object"
    },
    "ListWorkforcePoolProviderKeysResponse": {
      "id": "ListWorkforcePoolProviderKeysResponse",
      "description": "Response message for ListWorkforcePoolProviderKeys.",
      "type": "object",
      "properties": {
        "workforcePoolProviderKeys": {
          "items": {
            "$ref": "WorkforcePoolProviderKey"
          },
          "description": "A list of WorkforcePoolProviderKeys.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "InlineCertificateIssuanceConfig": {
      "id": "InlineCertificateIssuanceConfig",
      "properties": {
        "caPools": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A required mapping of a Google Cloud region to the CA pool resource located in that region. The CA pool is used for certificate issuance, adhering to the following constraints: * Key format: A supported cloud region name equivalent to the location identifier in the corresponding map entry's value. * Value format: A valid CA pool resource path format like: \"projects/{project}/locations/{location}/caPools/{ca_pool}\" * Region Matching: Workloads are ONLY issued certificates from CA pools within the same region. Also the CA pool region (in value) must match the workload's region (key)."
        },
        "lifetime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Lifetime of the workload certificates issued by the CA pool. Must be between 24 hours and 30 days. If not specified, this will be defaulted to 24 hours."
        },
        "keyAlgorithm": {
          "type": "string",
          "description": "Optional. Key algorithm to use when generating the key pair. This key pair will be used to create the certificate. If not specified, this will default to ECDSA_P256.",
          "enumDescriptions": [
            "Unspecified key algorithm. Defaults to ECDSA_P256.",
            "Specifies RSA with a 2048-bit modulus.",
            "Specifies RSA with a 3072-bit modulus.",
            "Specifies RSA with a 4096-bit modulus.",
            "Specifies ECDSA with curve P256.",
            "Specifies ECDSA with curve P384."
          ],
          "enum": [
            "KEY_ALGORITHM_UNSPECIFIED",
            "RSA_2048",
            "RSA_3072",
            "RSA_4096",
            "ECDSA_P256",
            "ECDSA_P384"
          ]
        },
        "rotationWindowPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Rotation window percentage, the percentage of remaining lifetime after which certificate rotation is initiated. Must be between 50 and 80. If no value is specified, rotation window percentage is defaulted to 50."
        },
        "useDefaultSharedCa": {
          "description": "Optional. If set to true, the trust domain will utilize the GCP-provisioned default CA. A default CA in the same region as the workload will be selected to issue the certificate. Enabling this will clear any existing `ca_pools` configuration to provision the certificates. NOTE: This field is mutually exclusive with `ca_pools`. If this flag is enabled, certificates will be automatically provisioned from the default shared CAs. This flag should not be set if you want to use your own CA pools to provision the certificates.",
          "type": "boolean"
        }
      },
      "description": "Represents configuration for generating mutual TLS (mTLS) certificates for the identities within this pool.",
      "type": "object"
    },
    "ListRolesResponse": {
      "type": "object",
      "id": "ListRolesResponse",
      "properties": {
        "roles": {
          "items": {
            "$ref": "Role"
          },
          "description": "The Roles defined on this resource.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "To retrieve the next page of results, set `ListRolesRequest.page_token` to this value."
        }
      },
      "description": "The response containing the roles defined under a resource."
    },
    "UndeleteWorkforcePoolProviderScimTenantRequest": {
      "properties": {},
      "id": "UndeleteWorkforcePoolProviderScimTenantRequest",
      "description": "Gemini Enterprise only. Request message for UndeleteWorkforcePoolProviderScimTenant.",
      "type": "object"
    },
    "UndeleteServiceAccountRequest": {
      "id": "UndeleteServiceAccountRequest",
      "type": "object",
      "description": "The service account undelete request.",
      "properties": {}
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "UndeleteWorkforcePoolProviderKeyRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for UndeleteWorkforcePoolProviderKey.",
      "id": "UndeleteWorkforcePoolProviderKeyRequest"
    },
    "UndeleteOauthClientRequest": {
      "id": "UndeleteOauthClientRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for UndeleteOauthClient."
    },
    "Aws": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Required. The AWS account ID."
        }
      },
      "description": "Represents an Amazon Web Services identity provider.",
      "id": "Aws"
    },
    "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2ClientQueryParameters": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. The filter used to request specific records from the IdP. By default, all of the groups that are associated with a user are fetched. For Microsoft Entra ID, you can add `$search` query parameters using [Keyword Query Language] (https://learn.microsoft.com/en-us/sharepoint/dev/general-development/keyword-query-language-kql-syntax-reference). To learn more about `$search` querying in Microsoft Entra ID, see [Use the `$search` query parameter] (https://learn.microsoft.com/en-us/graph/search-query-parameter). Additionally, Workforce Identity Federation automatically adds the following [`$filter` query parameters] (https://learn.microsoft.com/en-us/graph/filter-query-parameter), based on the value of `attributes_type`. Values passed to `filter` are converted to `$search` query parameters. Additional `$filter` query parameters cannot be added using this field. * `AZURE_AD_GROUPS_MAIL`: `mailEnabled` and `securityEnabled` filters are applied. * `AZURE_AD_GROUPS_ID`: `securityEnabled` filter is applied."
        }
      },
      "id": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2ClientQueryParameters",
      "description": "Represents the parameters to control which claims are fetched from an IdP.",
      "type": "object"
    },
    "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecret": {
      "id": "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecret",
      "description": "Representation of a client secret configured for the OIDC provider.",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecretValue",
          "description": "The value of the client secret."
        }
      }
    },
    "LintResult": {
      "description": "Structured response of a single validation unit.",
      "id": "LintResult",
      "type": "object",
      "properties": {
        "locationOffset": {
          "format": "int32",
          "description": "0-based character position of problematic construct within the object identified by `field_name`. Currently, this is populated only for condition expression.",
          "type": "integer"
        },
        "fieldName": {
          "description": "The name of the field for which this lint result is about. For nested messages `field_name` consists of names of the embedded fields separated by period character. The top-level qualifier is the input object to lint in the request. For example, the `field_name` value `condition.expression` identifies a lint result for the `expression` field of the provided condition.",
          "type": "string"
        },
        "severity": {
          "description": "The validation unit severity.",
          "enumDescriptions": [
            "Severity is unspecified.",
            "A validation unit returns an error only for critical issues. If an attempt is made to set the problematic policy without rectifying the critical issue, it causes the `setPolicy` operation to fail.",
            "Any issue which is severe enough but does not cause an error. For example, suspicious constructs in the input object will not necessarily fail `setPolicy`, but there is a high likelihood that they won't behave as expected during policy evaluation in `checkPolicy`. This includes the following common scenarios: - Unsatisfiable condition: Expired timestamp in date/time condition. - Ineffective condition: Condition on a pair which is granted unconditionally in another binding of the same policy.",
            "Reserved for the issues that are not severe as `ERROR`/`WARNING`, but need special handling. For instance, messages about skipped validation units are issued as `NOTICE`.",
            "Any informative statement which is not severe enough to raise `ERROR`/`WARNING`/`NOTICE`, like auto-correction recommendations on the input content. Note that current version of the linter does not utilize `INFO`.",
            "Deprecated severity level."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "NOTICE",
            "INFO",
            "DEPRECATED"
          ]
        },
        "validationUnitName": {
          "type": "string",
          "description": "The validation unit name, for instance \"lintValidationUnits/ConditionComplexityCheck\"."
        },
        "debugMessage": {
          "type": "string",
          "description": "Human readable debug message associated with the issue."
        },
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Level is unspecified.",
            "A validation unit which operates on an individual condition within a binding."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "CONDITION"
          ],
          "description": "The validation unit level."
        }
      }
    },
    "RemoveAttestationRuleRequest": {
      "description": "Request message for RemoveAttestationRule.",
      "type": "object",
      "id": "RemoveAttestationRuleRequest",
      "properties": {
        "attestationRule": {
          "description": "Required. The attestation rule to be removed.",
          "$ref": "AttestationRule"
        }
      }
    },
    "QueryAuditableServicesResponse": {
      "description": "A response containing a list of auditable services for a resource.",
      "type": "object",
      "properties": {
        "services": {
          "description": "The auditable services for a resource.",
          "items": {
            "$ref": "AuditableService"
          },
          "type": "array"
        }
      },
      "id": "QueryAuditableServicesResponse"
    },
    "UndeleteWorkforcePoolSubjectRequest": {
      "id": "UndeleteWorkforcePoolSubjectRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for UndeleteWorkforcePoolSubject."
    },
    "ListWorkforcePoolsResponse": {
      "id": "ListWorkforcePoolsResponse",
      "description": "Response message for ListWorkforcePools.",
      "properties": {
        "workforcePools": {
          "items": {
            "$ref": "WorkforcePool"
          },
          "description": "A list of pools.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "CreateServiceAccountRequest": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Required. The account id that is used to generate the service account email address and a stable unique id. It is unique within a project, must be 6-30 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])` to comply with RFC1035."
        },
        "serviceAccount": {
          "description": "The ServiceAccount resource to create. Currently, only the following values are user assignable: `display_name` and `description`.",
          "$ref": "ServiceAccount"
        }
      },
      "id": "CreateServiceAccountRequest",
      "description": "The service account create request."
    },
    "UndeleteWorkforcePoolProviderRequest": {
      "type": "object",
      "id": "UndeleteWorkforcePoolProviderRequest",
      "properties": {},
      "description": "Request message for UndeleteWorkforcePoolProvider."
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "ListWorkloadIdentityPoolNamespacesResponse": {
      "type": "object",
      "id": "ListWorkloadIdentityPoolNamespacesResponse",
      "description": "Response message for ListWorkloadIdentityPoolNamespaces.",
      "properties": {
        "workloadIdentityPoolNamespaces": {
          "type": "array",
          "items": {
            "$ref": "WorkloadIdentityPoolNamespace"
          },
          "description": "A list of namespaces."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "WorkloadIdentityPoolManagedIdentity": {
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Output only. Time after which the managed identity will be permanently purged and cannot be recovered.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the managed identity."
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "The managed identity is active.",
            "The managed identity is soft-deleted. Soft-deleted managed identities are permanently deleted after approximately 30 days. You can restore a soft-deleted managed identity using UndeleteWorkloadIdentityPoolManagedIdentity. You cannot reuse the ID of a soft-deleted managed identity until it is permanently deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the managed identity."
        },
        "disabled": {
          "description": "Optional. Whether the managed identity is disabled. If disabled, credentials may no longer be issued for the identity, however existing credentials will still be accepted until they expire.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the managed identity. Cannot exceed 256 characters."
        }
      },
      "description": "Represents a managed identity for a workload identity pool namespace.",
      "type": "object",
      "id": "WorkloadIdentityPoolManagedIdentity"
    },
    "AuditableService": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Public name of the service. For example, the service name for IAM is 'iam.googleapis.com'."
        }
      },
      "type": "object",
      "id": "AuditableService",
      "description": "Contains information about an auditable service."
    },
    "DisableServiceAccountRequest": {
      "type": "object",
      "properties": {},
      "description": "The service account disable request.",
      "id": "DisableServiceAccountRequest"
    },
    "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client": {
      "description": "Represents the OAuth 2.0 client credential configuration for retrieving additional user attributes that are not present in the initial authentication credentials from the identity provider, for example, groups. See https://datatracker.ietf.org/doc/html/rfc6749#section-4.4 for more details on client credentials grant flow.",
      "properties": {
        "clientSecret": {
          "description": "Required. The OAuth 2.0 client secret for retrieving extra attributes from the identity provider. Required to get the Access Token using client credentials grant flow.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecret"
        },
        "issuerUri": {
          "type": "string",
          "description": "Required. The OIDC identity provider's issuer URI. Must be a valid URI using the `https` scheme. Required to get the OIDC discovery document."
        },
        "attributesType": {
          "enumDescriptions": [
            "No AttributesType specified.",
            "Used to get the user's group claims from the Microsoft Entra ID identity provider using the configuration provided in ExtraAttributesOAuth2Client. The `mail` property of the `microsoft.graph.group` object is used for claim mapping. See https://learn.microsoft.com/en-us/graph/api/resources/group?view=graph-rest-1.0#properties for more details on `microsoft.graph.group` properties. The group mail addresses of the user's groups that are returned from Microsoft Entra ID can be mapped by using the following attributes: * OIDC: `assertion.groups` * SAML: `assertion.attributes.groups`",
            "Used to get the user's group claims from the Microsoft Entra ID identity provider using the configuration provided in ExtraAttributesOAuth2Client. The `id` property of the `microsoft.graph.group` object is used for claim mapping. See https://learn.microsoft.com/en-us/graph/api/resources/group?view=graph-rest-1.0#properties for more details on `microsoft.graph.group` properties. The group IDs of the user's groups that are returned from Microsoft Entra ID can be mapped by using the following attributes: * OIDC: `assertion.groups` * SAML: `assertion.attributes.groups`",
            "Used to get the user's group claims from the Microsoft Entra ID identity provider using the configuration provided in ExtraAttributesOAuth2Client. The `displayName` property of the `microsoft.graph.group` object is used for claim mapping. See https://learn.microsoft.com/en-us/graph/api/resources/group?view=graph-rest-1.0#properties for more details on `microsoft.graph.group` properties. The display names of the user's groups that are returned from Microsoft Entra ID can be mapped by using the following attributes: * OIDC: `assertion.groups` * SAML: `assertion.attributes.groups`"
          ],
          "description": "Required. Represents the IdP and type of claims that should be fetched.",
          "enum": [
            "ATTRIBUTES_TYPE_UNSPECIFIED",
            "AZURE_AD_GROUPS_MAIL",
            "AZURE_AD_GROUPS_ID",
            "AZURE_AD_GROUPS_DISPLAY_NAME"
          ],
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Required. The OAuth 2.0 client ID for retrieving extra attributes from the identity provider. Required to get the Access Token using client credentials grant flow."
        },
        "queryParameters": {
          "description": "Optional. Represents the parameters to control which claims are fetched from an IdP.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2ClientQueryParameters"
        }
      },
      "id": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client",
      "type": "object"
    },
    "WorkloadIdentityPool": {
      "id": "WorkloadIdentityPool",
      "type": "object",
      "properties": {
        "inlineTrustConfig": {
          "description": "Optional. Represents config to add additional trusted trust domains.",
          "$ref": "InlineTrustConfig"
        },
        "mode": {
          "enumDescriptions": [
            "State unspecified. New pools should not use this mode. Pools with an unspecified mode will operate as if they are in federation-only mode.",
            "Federation-only mode. FEDERATION_ONLY mode pools can only be used for federating external workload identities into Google Cloud. Unless otherwise noted, no structure or format constraints are applied to workload identities in a FEDERATION_ONLY mode pool, and you cannot create any resources within the pool besides providers.",
            "Trust-domain mode. TRUST_DOMAIN mode pools can be used to assign identities to Google Cloud workloads. Identities within a TRUST_DOMAIN mode pool share the same root of trust. WorkloadIdentityPoolProviders cannot be created within trust-domain pools.",
            "SYSTEM_TRUST_DOMAIN mode pools are managed by Google Cloud services. Neither WorkloadIdentityPoolNamespaces nor WorkloadIdentityPoolProviders can be created within SYSTEM_TRUST_DOMAIN mode pools. All identities within a SYSTEM_TRUST_DOMAIN mode pool are in one of the following formats: * `spiffe:///ns//sa/` * `spiffe:///resources//`"
          ],
          "description": "Immutable. The mode the pool is operating in.",
          "enum": [
            "MODE_UNSPECIFIED",
            "FEDERATION_ONLY",
            "TRUST_DOMAIN",
            "SYSTEM_TRUST_DOMAIN"
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the pool.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the pool is disabled. You cannot use a disabled pool to exchange tokens, or use existing tokens to access resources. If the pool is re-enabled, existing tokens grant access again."
        },
        "description": {
          "description": "Optional. A description of the pool. Cannot exceed 256 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. A display name for the pool. Cannot exceed 32 characters.",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. Time after which the workload identity pool will be permanently purged and cannot be recovered.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "The pool is active, and may be used in Google Cloud policies.",
            "The pool is soft-deleted. Soft-deleted pools are permanently deleted after approximately 30 days. You can restore a soft-deleted pool using UndeleteWorkloadIdentityPool. You cannot reuse the ID of a soft-deleted pool until it is permanently deleted. While a pool is deleted, you cannot use it to exchange tokens, or use existing tokens to access resources. If the pool is undeleted, existing tokens grant access again."
          ],
          "description": "Output only. The state of the pool."
        },
        "inlineCertificateIssuanceConfig": {
          "description": "Optional. Defines the Certificate Authority (CA) pool resources and configurations required for issuance and rotation of mTLS workload certificates.",
          "$ref": "InlineCertificateIssuanceConfig"
        }
      },
      "description": "Represents a collection of workload identities. You can define IAM policies to grant these identities access to Google Cloud resources."
    },
    "SignJwtResponse": {
      "id": "SignJwtResponse",
      "type": "object",
      "properties": {
        "signedJwt": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The signed JWT.",
          "deprecated": true,
          "type": "string"
        },
        "keyId": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The id of the key used to sign the JWT.",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign JWT response."
    },
    "UndeleteWorkforcePoolRequest": {
      "type": "object",
      "properties": {},
      "id": "UndeleteWorkforcePoolRequest",
      "description": "Request message for UndeleteWorkforcePool."
    },
    "UndeleteWorkloadIdentityPoolProviderKeyRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for UndeleteWorkloadIdentityPoolProviderKey.",
      "id": "UndeleteWorkloadIdentityPoolProviderKeyRequest"
    },
    "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecretValue": {
      "id": "GoogleIamAdminV1WorkforcePoolProviderOidcClientSecretValue",
      "type": "object",
      "description": "Representation of the value of the client secret.",
      "properties": {
        "plainText": {
          "description": "Optional. Input only. The plain text of the client secret value. For security reasons, this field is only used for input and will never be populated in any response.",
          "type": "string"
        },
        "thumbprint": {
          "type": "string",
          "description": "Output only. A thumbprint to represent the current client secret value.",
          "readOnly": true
        }
      }
    },
    "Saml": {
      "type": "object",
      "description": "Represents an SAML 2.0 identity provider.",
      "properties": {
        "idpMetadataXml": {
          "description": "Required. SAML identity provider (IdP) configuration metadata XML doc. The XML document must comply with the [SAML 2.0 specification](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf). The maximum size of an acceptable XML document is 128K characters. The SAML metadata XML document must satisfy the following constraints: * Must contain an IdP Entity ID. * Must contain at least one non-expired signing certificate. * For each signing certificate, the expiration must be: * From no more than 7 days in the future. * To no more than 25 years in the future. * Up to three IdP signing keys are allowed. When updating the provider's metadata XML, at least one non-expired signing key must overlap with the existing metadata. This requirement is skipped if there are no non-expired signing keys present in the existing metadata.",
          "type": "string"
        }
      },
      "id": "Saml"
    },
    "SignBlobRequest": {
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign blob request.",
      "type": "object",
      "id": "SignBlobRequest",
      "properties": {
        "bytesToSign": {
          "deprecated": true,
          "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The bytes to sign.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "PermissionDelta": {
      "description": "A PermissionDelta message to record the added_permissions and removed_permissions inside a role.",
      "id": "PermissionDelta",
      "properties": {
        "addedPermissions": {
          "items": {
            "type": "string"
          },
          "description": "Added permissions.",
          "type": "array"
        },
        "removedPermissions": {
          "description": "Removed permissions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListServiceAccountKeysResponse": {
      "description": "The service account keys list response.",
      "properties": {
        "keys": {
          "items": {
            "$ref": "ServiceAccountKey"
          },
          "description": "The public keys for the service account.",
          "type": "array"
        }
      },
      "id": "ListServiceAccountKeysResponse",
      "type": "object"
    },
    "ServiceAccountKey": {
      "properties": {
        "privateKeyType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ],
          "type": "string",
          "description": "The output format for the private key. Only provided in `CreateServiceAccountKey` responses, not in `GetServiceAccountKey` or `ListServiceAccountKey` responses. Google never exposes system-managed private keys, and never retains user-managed private keys.",
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https://tools.ietf.org/html/rfc7292.",
            "Google Credentials File format."
          ]
        },
        "keyOrigin": {
          "description": "The key origin.",
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "USER_PROVIDED",
            "GOOGLE_PROVIDED"
          ],
          "enumDescriptions": [
            "Unspecified key origin.",
            "Key is provided by user.",
            "Key is provided by Google."
          ],
          "type": "string"
        },
        "keyAlgorithm": {
          "description": "Specifies the algorithm (and possibly key size) for the key.",
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ],
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "type": "string"
        },
        "privateKeyData": {
          "format": "byte",
          "description": "The private key data. Only provided in `CreateServiceAccountKey` responses. Make sure to keep the private key data secure because it allows for the assertion of the service account identity. When base64 decoded, the private key data can be used to authenticate with Google API client libraries and with gcloud auth activate-service-account.",
          "type": "string"
        },
        "keyType": {
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "USER_MANAGED",
            "SYSTEM_MANAGED"
          ],
          "enumDescriptions": [
            "Unspecified key type. The presence of this in the message will immediately result in an error.",
            "User-managed keys (managed and rotated by the user).",
            "System-managed keys (managed and rotated by Google)."
          ],
          "type": "string",
          "description": "The key type."
        },
        "publicKeyData": {
          "format": "byte",
          "description": "The public key data. Only provided in `GetServiceAccountKey` responses.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "The key status."
        },
        "validAfterTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The key can be used after this timestamp."
        },
        "validBeforeTime": {
          "type": "string",
          "description": "The key can be used before this timestamp. For system-managed key pairs, this timestamp is the end time for the private key signing operation. The public key could still be used for verification for a few hours after this time.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The resource name of the service account key in the following format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}`.",
          "type": "string"
        },
        "extendedStatus": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ExtendedStatus"
          },
          "description": "Output only. Extended Status provides permanent information about a service account key. For example, if this key was detected as exposed or compromised, that information will remain for the lifetime of the key in the extended_status."
        },
        "disableReason": {
          "enumDescriptions": [
            "Unspecified disable reason",
            "Disabled by the user",
            "Google detected this Service Account external key's private key data as exposed, typically in a public repository on GitHub or similar.",
            "This service account external key was detected as compromised and used by an attacker."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_UNSPECIFIED",
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_USER_INITIATED",
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_EXPOSED",
            "SERVICE_ACCOUNT_KEY_DISABLE_REASON_COMPROMISE_DETECTED"
          ],
          "description": "Output only. optional. If the key is disabled, it may have a DisableReason describing why it was disabled."
        }
      },
      "type": "object",
      "id": "ServiceAccountKey",
      "description": "Represents a service account key. A service account has two sets of key-pairs: user-managed and system-managed. System-managed keys are also called _Google-owned and managed keys_. User-managed key-pairs can be created and deleted by users. Users are responsible for rotating these keys periodically to ensure security of their service accounts. Users retain the private key of these key-pairs, and Google retains ONLY the public key. System-managed keys that are actively used for signing are rotated regularly according to [security best practices](https://docs.cloud.google.com/iam/docs/key-rotation#timing). The rotation process is probabilistic, and usage of the new key will gradually ramp up and down over the key's lifetime. If you cache the public key set for a service account, we recommend that you update the cache every 15 minutes. User-managed keys can be added and removed at any time, so it is important to update the cache frequently. For Google-managed keys, Google will publish a key at least 6 hours before it is first used for signing and will keep publishing it for at least 6 hours after it was last used for signing. Public keys for all service accounts are also published at the OAuth2 Service Account API."
    },
    "AdminAuditData": {
      "type": "object",
      "id": "AdminAuditData",
      "properties": {
        "permissionDelta": {
          "description": "The permission_delta when when creating or updating a Role.",
          "$ref": "PermissionDelta"
        }
      },
      "description": "Audit log information specific to Cloud IAM admin APIs. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message."
    },
    "TrustStore": {
      "properties": {
        "trustDefaultSharedCa": {
          "type": "boolean",
          "description": "Optional. If set to True, the trust bundle will include the private ca managed identity regional root public certificates. Important: `trust_default_shared_ca` is only supported for managed identity trust domain resource."
        },
        "trustAnchors": {
          "description": "Required. List of trust anchors to be used while performing validation against a given TrustStore. The incoming end entity's certificate must be in the trust chain of one of the trust anchors here.",
          "type": "array",
          "items": {
            "$ref": "TrustAnchor"
          }
        },
        "intermediateCas": {
          "description": "Optional. Set of intermediate CA certificates used for building the trust chain to the trust anchor. Important: Intermediate CAs are only supported for X.509 federation.",
          "type": "array",
          "items": {
            "$ref": "IntermediateCA"
          }
        }
      },
      "description": "Trust store that contains trust anchors and optional intermediate CAs used in PKI to build a trust chain(trust hierarchy) and verify a client's identity.",
      "id": "TrustStore",
      "type": "object"
    },
    "QueryTestablePermissionsResponse": {
      "type": "object",
      "description": "The response containing permissions which can be tested on a resource.",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The Permissions testable on the requested resource.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set `QueryTestableRolesRequest.page_token` to this value.",
          "type": "string"
        }
      },
      "id": "QueryTestablePermissionsResponse"
    },
    "AddAttestationRuleRequest": {
      "type": "object",
      "description": "Request message for AddAttestationRule.",
      "id": "AddAttestationRuleRequest",
      "properties": {
        "attestationRule": {
          "$ref": "AttestationRule",
          "description": "Required. The attestation rule to be added."
        }
      }
    },
    "CreateRoleRequest": {
      "properties": {
        "roleId": {
          "description": "The role ID to use for this role. A role ID may contain alphanumeric characters, underscores (`_`), and periods (`.`). It must contain a minimum of 3 characters and a maximum of 64 characters.",
          "type": "string"
        },
        "role": {
          "description": "The Role resource to create.",
          "$ref": "Role"
        }
      },
      "description": "The request to create a new role.",
      "id": "CreateRoleRequest",
      "type": "object"
    },
    "Expr": {
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "WorkforcePoolProviderScimToken": {
      "properties": {
        "displayName": {
          "description": "Optional. Gemini Enterprise only. The display name of the SCIM token. Cannot exceed 32 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Gemini Enterprise only. The resource name of the SCIM Token. Format: `locations/{location}/workforcePools/{workforce_pool}/providers/ {workforce_pool_provider}/scimTenants/{scim_tenant}/tokens/{token}`"
        },
        "state": {
          "enumDescriptions": [
            "Gemini Enterprise only. State unspecified.",
            "Gemini Enterprise only. The token is active and may be used to provision users and groups.",
            "Gemini Enterprise only. The token is soft-deleted. Soft-deleted tokens are permanently deleted after approximately 30 days."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "type": "string",
          "description": "Output only. Gemini Enterprise only. The state of the token.",
          "readOnly": true
        },
        "securityToken": {
          "type": "string",
          "description": "Output only. Gemini Enterprise only. The token string. Provide this to the IdP for authentication. Will be set only during creation.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "WorkforcePoolProviderScimToken",
      "description": "Gemini Enterprise only. Represents a token for the WorkforcePoolProviderScimTenant. Used for authenticating SCIM provisioning requests."
    },
    "QueryGrantableRolesResponse": {
      "type": "object",
      "id": "QueryGrantableRolesResponse",
      "properties": {
        "roles": {
          "type": "array",
          "description": "The list of matching roles.",
          "items": {
            "$ref": "Role"
          }
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set `QueryGrantableRolesRequest.page_token` to this value.",
          "type": "string"
        }
      },
      "description": "The grantable role query response."
    },
    "ListWorkloadIdentityPoolsResponse": {
      "description": "Response message for ListWorkloadIdentityPools.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workloadIdentityPools": {
          "items": {
            "$ref": "WorkloadIdentityPool"
          },
          "description": "A list of pools.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListWorkloadIdentityPoolsResponse"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest"
    },
    "Oidc": {
      "type": "object",
      "id": "Oidc",
      "properties": {
        "issuerUri": {
          "type": "string",
          "description": "Required. The OIDC `issuer_uri`. Must be an HTTPS endpoint. Per OpenID Connect Discovery 1.0 spec, the OIDC issuer URL is used to locate the provider's public keys (via `jwks_uri`) for verifying tokens like the OIDC ID token. These public key types must be 'EC' or 'RSA'."
        },
        "jwksJson": {
          "description": "Optional. OIDC JWKs in JSON String format. For details on the definition of a JWK, see https://tools.ietf.org/html/rfc7517. If not set, the `jwks_uri` from the discovery document(fetched from the .well-known path of the `issuer_uri`) will be used. Currently, RSA and EC asymmetric keys are supported. The JWK must use following format and include only the following fields: { \"keys\": [ { \"kty\": \"RSA/EC\", \"alg\": \"\", \"use\": \"sig\", \"kid\": \"\", \"n\": \"\", \"e\": \"\", \"x\": \"\", \"y\": \"\", \"crv\": \"\" } ] }",
          "type": "string"
        },
        "allowedAudiences": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Acceptable values for the `aud` field (audience) in the OIDC token. Token exchange requests are rejected if the token audience does not match one of the configured values. Each audience may be at most 256 characters. A maximum of 10 audiences may be configured. If this list is empty, the OIDC token audience must be equal to the full canonical resource name of the WorkloadIdentityPoolProvider, with or without the HTTPS prefix. For example: ``` //iam.googleapis.com/projects//locations//workloadIdentityPools//providers/ https://iam.googleapis.com/projects//locations//workloadIdentityPools//providers/ ```"
        }
      },
      "description": "Represents an OpenId Connect 1.0 identity provider."
    },
    "OauthClient": {
      "properties": {
        "allowedScopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of scopes that the OauthClient is allowed to request during OAuth flows. The following scopes are supported: * `https://www.googleapis.com/auth/cloud-platform`: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of the OauthClient. Format:`projects/{project}/locations/{location}/oauthClients/{oauth_client}`.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time after which the OauthClient will be permanently purged and cannot be recovered."
        },
        "allowedRedirectUris": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of redirect uris that is allowed to redirect back when authorization process is completed.",
          "type": "array"
        },
        "displayName": {
          "description": "Optional. A user-specified display name of the OauthClient. Cannot exceed 32 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A user-specified description of the OauthClient. Cannot exceed 256 characters."
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the OauthClient is disabled. You cannot use a disabled OAuth client."
        },
        "allowedGrantTypes": {
          "items": {
            "type": "string",
            "enum": [
              "GRANT_TYPE_UNSPECIFIED",
              "AUTHORIZATION_CODE_GRANT",
              "REFRESH_TOKEN_GRANT"
            ],
            "enumDescriptions": [
              "Should not be used.",
              "Authorization code grant.",
              "Refresh token grant."
            ]
          },
          "description": "Required. The list of OAuth grant types is allowed for the OauthClient.",
          "type": "array"
        },
        "clientType": {
          "type": "string",
          "description": "Immutable. The type of OauthClient. Either public or private. For private clients, the client secret can be managed using the dedicated OauthClientCredential resource.",
          "enumDescriptions": [
            "Should not be used.",
            "Public client has no secret.",
            "Private client."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "PUBLIC_CLIENT",
            "CONFIDENTIAL_CLIENT"
          ]
        },
        "clientId": {
          "description": "Output only. The system-generated OauthClient id.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the OauthClient.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The OauthClient is active.",
            "The OauthClient is soft-deleted. Soft-deleted OauthClient is permanently deleted after approximately 30 days unless restored via `UndeleteOauthClient`."
          ]
        }
      },
      "description": "Represents an OauthClient. Used to access Google Cloud resources on behalf of a Workforce Identity Federation user by using OAuth 2.0 Protocol to obtain an access token from Google Cloud.",
      "id": "OauthClient",
      "type": "object"
    },
    "UndeleteWorkloadIdentityPoolNamespaceRequest": {
      "properties": {},
      "description": "Request message for UndeleteWorkloadIdentityPoolNamespace.",
      "id": "UndeleteWorkloadIdentityPoolNamespaceRequest",
      "type": "object"
    },
    "ServiceConfig": {
      "id": "ServiceConfig",
      "properties": {
        "domain": {
          "description": "Optional. Domain name of the service. Example: console.cloud.google",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for a service."
    },
    "PatchServiceAccountRequest": {
      "description": "The service account patch request. You can patch only the `display_name` and `description` fields. You must use the `update_mask` field to specify which of these fields you want to patch. Only the fields specified in the request are guaranteed to be returned in the response. Other fields may be empty in the response.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount"
        }
      },
      "id": "PatchServiceAccountRequest",
      "type": "object"
    },
    "UndeleteServiceAccountResponse": {
      "properties": {
        "restoredAccount": {
          "$ref": "ServiceAccount",
          "description": "Metadata for the restored service account."
        }
      },
      "id": "UndeleteServiceAccountResponse",
      "type": "object"
    },
    "UploadServiceAccountKeyRequest": {
      "id": "UploadServiceAccountKeyRequest",
      "description": "The service account key upload request.",
      "type": "object",
      "properties": {
        "publicKeyData": {
          "description": "The public key to associate with the service account. Must be an RSA public key that is wrapped in an X.509 v3 certificate. Include the first line, `-----BEGIN CERTIFICATE-----`, and the last line, `-----END CERTIFICATE-----`.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "WorkloadIdentityPoolProvider": {
      "id": "WorkloadIdentityPoolProvider",
      "description": "A configuration for an external identity provider.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the provider is disabled. You cannot use a disabled provider to exchange tokens. However, existing tokens still grant access."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description for the provider. Cannot exceed 256 characters."
        },
        "oidc": {
          "$ref": "Oidc",
          "description": "An OpenId Connect 1.0 identity provider."
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. Time after which the workload identity pool provider will be permanently purged and cannot be recovered.",
          "type": "string",
          "format": "google-datetime"
        },
        "saml": {
          "description": "An SAML 2.0 identity provider.",
          "$ref": "Saml"
        },
        "attributeCondition": {
          "description": "Optional. [A Common Expression Language](https://opensource.google/projects/cel) expression, in plain text, to restrict what otherwise valid authentication credentials issued by the provider should not be accepted. The expression must output a boolean representing whether to allow the federation. The following keywords may be referenced in the expressions: * `assertion`: JSON representing the authentication credential issued by the provider. * `google`: The Google attributes mapped from the assertion in the `attribute_mappings`. * `attribute`: The custom attributes mapped from the assertion in the `attribute_mappings`. The maximum length of the attribute condition expression is 4096 characters. If unspecified, all valid authentication credential are accepted. The following example shows how to only allow credentials with a mapped `google.groups` value of `admins`: ``` \"'admins' in google.groups\" ```",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A display name for the provider. Cannot exceed 32 characters."
        },
        "attributeMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Maps attributes from authentication credentials issued by an external identity provider to Google Cloud attributes, such as `subject` and `segment`. Each key must be a string specifying the Google Cloud IAM attribute to map to. The following keys are supported: * `google.subject`: The principal IAM is authenticating. You can reference this value in IAM bindings. This is also the subject that appears in Cloud Logging logs. Cannot exceed 127 bytes. * `google.groups`: Groups the external identity belongs to. You can grant groups access to resources using an IAM `principalSet` binding; access applies to all members of the group. You can also provide custom attributes by specifying `attribute.{custom_attribute}`, where `{custom_attribute}` is the name of the custom attribute to be mapped. You can define a maximum of 50 custom attributes. The maximum length of a mapped attribute key is 100 characters, and the key may only contain the characters [a-z0-9_]. You can reference these attributes in IAM policies to define fine-grained access for a workload to Google Cloud resources. For example: * `google.subject`: `principal://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/subject/{value}` * `google.groups`: `principalSet://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/group/{value}` * `attribute.{custom_attribute}`: `principalSet://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/attribute.{custom_attribute}/{value}` Each value must be a [Common Expression Language] (https://opensource.google/projects/cel) function that maps an identity provider credential to the normalized attribute specified by the corresponding map key. You can use the `assertion` keyword in the expression to access a JSON representation of the authentication credential issued by the provider. The maximum length of an attribute mapping expression is 2048 characters. When evaluated, the total size of all mapped attributes must not exceed 8KB. For AWS providers, if no attribute mapping is defined, the following default mapping applies: ``` { \"google.subject\":\"assertion.arn\", \"attribute.aws_role\": \"assertion.arn.contains('assumed-role')\" \" ? assertion.arn.extract('{account_arn}assumed-role/')\" \" + 'assumed-role/'\" \" + assertion.arn.extract('assumed-role/{role_name}/')\" \" : assertion.arn\", } ``` If any custom attribute mappings are defined, they must include a mapping to the `google.subject` attribute. For OIDC providers, you must supply a custom mapping, which must include the `google.subject` attribute. For example, the following maps the `sub` claim of the incoming credential to the `subject` attribute on a Google token: ``` {\"google.subject\": \"assertion.sub\"} ```"
        },
        "x509": {
          "description": "An X.509-type identity provider.",
          "$ref": "X509"
        },
        "name": {
          "description": "Identifier. The resource name of the provider.",
          "type": "string"
        },
        "aws": {
          "description": "An Amazon Web Services identity provider.",
          "$ref": "Aws"
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "The provider is active, and may be used to validate authentication credentials.",
            "The provider is soft-deleted. Soft-deleted providers are permanently deleted after approximately 30 days. You can restore a soft-deleted provider using UndeleteWorkloadIdentityPoolProvider. You cannot reuse the ID of a soft-deleted provider until it is permanently deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the provider."
        }
      },
      "type": "object"
    },
    "UndeleteRoleRequest": {
      "id": "UndeleteRoleRequest",
      "description": "The request to undelete an existing role.",
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "Used to perform a consistent read-modify-write."
        }
      },
      "type": "object"
    },
    "OwnerService": {
      "type": "object",
      "properties": {
        "principalSubject": {
          "type": "string",
          "description": "Required. The service agent principal subject, e.g. \"serviceAccount:service-1234@gcp-sa-gkehub.iam.gserviceaccount.com\"."
        }
      },
      "description": "The Google Cloud service that owns this namespace.",
      "id": "OwnerService"
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig"
    },
    "UndeleteWorkloadIdentityPoolManagedIdentityRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for UndeleteWorkloadIdentityPoolManagedIdentity.",
      "id": "UndeleteWorkloadIdentityPoolManagedIdentityRequest"
    },
    "WorkforcePoolProvider": {
      "id": "WorkforcePoolProvider",
      "description": "A configuration for an external identity provider.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the provider.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The provider is active and may be used to validate authentication credentials.",
            "The provider is soft-deleted. Soft-deleted providers are permanently deleted after approximately 30 days. You can restore a soft-deleted provider using UndeleteWorkforcePoolProvider."
          ],
          "readOnly": true
        },
        "extraAttributesOauth2Client": {
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client",
          "description": "Optional. Defines the configuration for the OAuth 2.0 client that is used to get the additional user attributes in a separate backchannel call to the identity provider. This should be used when users can't get the required claims in authentication credentials. Currently, the OAuth 2.0 protocol is the only supported authorization method for this backchannel call."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the provider. Cannot exceed 256 characters."
        },
        "attributeMapping": {
          "description": "Required. Maps attributes from the authentication credentials issued by an external identity provider to Google Cloud attributes, such as `subject` and `segment`. Each key must be a string specifying the Google Cloud IAM attribute to map to. The following keys are supported: * `google.subject`: The principal IAM is authenticating. You can reference this value in IAM bindings. This is also the subject that appears in Cloud Logging logs. This is a required field and the mapped subject cannot exceed 127 bytes. * `google.groups`: Groups the authenticating user belongs to. You can grant groups access to resources using an IAM `principalSet` binding; access applies to all members of the group. * `google.display_name`: The name of the authenticated user. This is an optional field and the mapped display name cannot exceed 100 bytes. If not set, `google.subject` will be displayed instead. This attribute cannot be referenced in IAM bindings. * `google.profile_photo`: The URL that specifies the authenticated user's thumbnail photo. This is an optional field. When set, the image will be visible as the user's profile picture. If not set, a generic user icon will be displayed instead. This attribute cannot be referenced in IAM bindings. * `google.posix_username`: The Linux username used by OS Login. This is an optional field and the mapped POSIX username cannot exceed 32 characters. The key must match the regex `^a-zA-Z0-9._{0,31}$`. This attribute cannot be referenced in IAM bindings. You can also provide custom attributes by specifying `attribute.{custom_attribute}`, where {custom_attribute} is the name of the custom attribute to be mapped. You can define a maximum of 50 custom attributes. The maximum length of a mapped attribute key is 100 characters, and the key may only contain the characters `[a-z0-9_]`. You can reference these attributes in IAM policies to define fine-grained access for a workforce pool to Google Cloud resources. For example: * `google.subject`: `principal://iam.googleapis.com/locations/global/workforcePools/{pool}/subject/{value}` * `google.groups`: `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool}/group/{value}` * `attribute.{custom_attribute}`: `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool}/attribute.{custom_attribute}/{value}` Each value must be a [Common Expression Language] (https://opensource.google/projects/cel) function that maps an identity provider credential to the normalized attribute specified by the corresponding map key. You can use the `assertion` keyword in the expression to access a JSON representation of the authentication credential issued by the provider. The maximum length of an attribute mapping expression is 2048 characters. When evaluated, the total size of all mapped attributes must not exceed 16 KB. For OIDC providers, you must supply a custom mapping that includes the `google.subject` attribute. For example, the following maps the `sub` claim of the incoming credential to the `subject` attribute on a Google token: ``` {\"google.subject\": \"assertion.sub\"} ```",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A display name for the provider. Cannot exceed 32 characters."
        },
        "saml": {
          "description": "A SAML identity provider configuration.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderSaml"
        },
        "oidc": {
          "description": "An OpenID Connect 1.0 identity provider configuration.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderOidc"
        },
        "disabled": {
          "description": "Optional. Disables the workforce pool provider. You cannot use a disabled provider to exchange tokens. However, existing tokens still grant access.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the provider. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}`"
        },
        "extendedAttributesOauth2Client": {
          "description": "Optional. The configuration for OAuth 2.0 client used to get the extended group memberships for user identities. Only the `AZURE_AD_GROUPS_ID` attribute type is supported. Extended groups supports a subset of Google Cloud services. When the user accesses these services, extended group memberships override the mapped `google.groups` attribute. Extended group memberships cannot be used in attribute mapping or attribute condition expressions. To keep extended group memberships up to date, extended groups are retrieved when the user signs in and at regular intervals during the user's active session. Each user identity in the workforce identity pool must map to a unique Microsoft Entra ID user.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderExtraAttributesOAuth2Client"
        },
        "scimUsage": {
          "description": "Optional. Gemini Enterprise only. Specifies whether the workforce identity pool provider uses SCIM-managed groups instead of the `google.groups` attribute mapping for authorization checks. The `scim_usage` and `extended_attributes_oauth2_client` fields are mutually exclusive. A request that enables both fields on the same workforce identity pool provider will produce an error.",
          "enum": [
            "SCIM_USAGE_UNSPECIFIED",
            "ENABLED_FOR_GROUPS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Gemini Enterprise only. Do not use SCIM data.",
            "Gemini Enterprise only. SCIM sync is enabled and SCIM-managed groups are used for authorization checks."
          ]
        },
        "detailedAuditLogging": {
          "description": "Optional. If true, populates additional debug information in Cloud Audit Logs for this provider. Logged attribute mappings and values can be found in `sts.googleapis.com` data access logs. Default value is false.",
          "type": "boolean"
        },
        "expireTime": {
          "description": "Output only. Time after which the workforce identity pool provider will be permanently purged and cannot be recovered.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "attributeCondition": {
          "description": "Optional. A [Common Expression Language](https://opensource.google/projects/cel) expression, in plain text, to restrict what otherwise valid authentication credentials issued by the provider should not be accepted. The expression must output a boolean representing whether to allow the federation. The following keywords may be referenced in the expressions: * `assertion`: JSON representing the authentication credential issued by the provider. * `google`: The Google attributes mapped from the assertion in the `attribute_mappings`. `google.profile_photo`, `google.display_name` and `google.posix_username` are not supported. * `attribute`: The custom attributes mapped from the assertion in the `attribute_mappings`. The maximum length of the attribute condition expression is 4096 characters. If unspecified, all valid authentication credentials will be accepted. The following example shows how to only allow credentials with a mapped `google.groups` value of `admins`: ``` \"'admins' in google.groups\" ```",
          "type": "string"
        }
      }
    },
    "Role": {
      "type": "object",
      "description": "A role in the Identity and Access Management API.",
      "id": "Role",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the role. When `Role` is used in `CreateRole`, the role name must not be set. When `Role` is used in output and other input such as `UpdateRole`, the role name is the complete path. For example, `roles/logging.viewer` for predefined roles, `organizations/{ORGANIZATION_ID}/roles/myRole` for organization-level custom roles, and `projects/{PROJECT_ID}/roles/myRole` for project-level custom roles."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "Used to perform a consistent read-modify-write."
        },
        "title": {
          "type": "string",
          "description": "Optional. A human-readable title for the role. Typically this is limited to 100 UTF-8 bytes."
        },
        "stage": {
          "type": "string",
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED",
            "DISABLED",
            "EAP"
          ],
          "enumDescriptions": [
            "The user has indicated this role is currently in an Alpha phase. If this launch stage is selected, the `stage` field will not be included when requesting the definition for a given role.",
            "The user has indicated this role is currently in a Beta phase.",
            "The user has indicated this role is generally available.",
            "The user has indicated this role is being deprecated.",
            "This role is disabled and will not contribute permissions to any principals it is granted to in policies.",
            "The user has indicated this role is currently in an EAP phase."
          ],
          "description": "The current launch stage of the role. If the `ALPHA` launch stage has been selected for a role, the `stage` field will not be included in the returned definition for the role."
        },
        "includedPermissions": {
          "type": "array",
          "description": "The names of the permissions this role grants when bound in an IAM policy.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A human-readable description for the role.",
          "type": "string"
        },
        "deleted": {
          "description": "The current deleted state of the role. This field is read only. It will be ignored in calls to CreateRole and UpdateRole.",
          "type": "boolean"
        }
      }
    },
    "TrustAnchor": {
      "id": "TrustAnchor",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "PEM certificate of the PKI used for validation. Must only contain one ca certificate (either root or intermediate cert)."
        }
      },
      "description": "Represents a root of trust.",
      "type": "object"
    },
    "DisableServiceAccountKeyRequest": {
      "id": "DisableServiceAccountKeyRequest",
      "type": "object",
      "properties": {},
      "description": "The service account key disable request."
    },
    "BindingDelta": {
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "description": "The action that was performed on a Binding. Required",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ]
        },
        "condition": {
          "description": "The condition that is associated with this binding.",
          "$ref": "Expr"
        },
        "member": {
          "type": "string",
          "description": "A single identity requesting access for a Google Cloud resource. Follows the same format of Binding.members. Required"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. Required"
        }
      },
      "description": "One delta entry for Binding. Each individual change (only one member in each entry) to a binding will be a separate entry.",
      "type": "object",
      "id": "BindingDelta"
    },
    "ListServiceAccountsResponse": {
      "description": "The service account list response.",
      "properties": {
        "accounts": {
          "description": "The list of matching service accounts.",
          "items": {
            "$ref": "ServiceAccount"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "To retrieve the next page of results, set ListServiceAccountsRequest.page_token to this value."
        }
      },
      "type": "object",
      "id": "ListServiceAccountsResponse"
    },
    "KeyData": {
      "type": "object",
      "description": "Represents a public key data along with its format.",
      "id": "KeyData",
      "properties": {
        "notBeforeTime": {
          "description": "Output only. Earliest timestamp when this key is valid. Attempts to use this key before this time will fail. Only present if the key data represents a X.509 certificate.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "notAfterTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Latest timestamp when this key is valid. Attempts to use this key after this time will fail. Only present if the key data represents a X.509 certificate.",
          "readOnly": true
        },
        "key": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The key data. The format of the key is represented by the format field."
        },
        "format": {
          "enum": [
            "KEY_FORMAT_UNSPECIFIED",
            "RSA_X509_PEM"
          ],
          "type": "string",
          "description": "Output only. The format of the key.",
          "enumDescriptions": [
            "No format has been specified. This is an invalid format and must not be used.",
            "A RSA public key wrapped in an X.509v3 certificate ([RFC5280] ( https://www.ietf.org/rfc/rfc5280.txt)), encoded in base64, and wrapped in [public certificate label](https://datatracker.ietf.org/doc/html/rfc7468#section-5.1)."
          ],
          "readOnly": true
        },
        "keySpec": {
          "type": "string",
          "enum": [
            "KEY_SPEC_UNSPECIFIED",
            "RSA_2048",
            "RSA_3072",
            "RSA_4096"
          ],
          "description": "Required. The specifications for the key.",
          "enumDescriptions": [
            "No key specification specified.",
            "A 2048 bit RSA key.",
            "A 3072 bit RSA key.",
            "A 4096 bit RSA key."
          ]
        }
      }
    },
    "WorkloadIdentityPoolProviderKey": {
      "id": "WorkloadIdentityPoolProviderKey",
      "description": "Represents a public key configuration for your workload identity pool provider. The key can be configured in your identity provider to encrypt the SAML assertions. Google holds the corresponding private key which it uses to decrypt encrypted tokens.",
      "properties": {
        "keyData": {
          "description": "Immutable. Public half of the asymmetric key.",
          "$ref": "KeyData"
        },
        "name": {
          "description": "Identifier. The resource name of the key.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The key is active.",
            "The key is soft-deleted. Soft-deleted keys are permanently deleted after approximately 30 days. You can restore a soft-deleted key using UndeleteWorkloadIdentityPoolProviderKey. While a key is deleted, you cannot use it during the federation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the key."
        },
        "use": {
          "description": "Required. The purpose of the key.",
          "enum": [
            "KEY_USE_UNSPECIFIED",
            "ENCRYPTION"
          ],
          "enumDescriptions": [
            "The key use is not known.",
            "The public key is used for encryption purposes."
          ],
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. Time after which the key will be permanently purged and cannot be recovered. Note that the key may get purged before this timestamp if the total limit of keys per provider is crossed.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListWorkloadIdentityPoolProvidersResponse": {
      "type": "object",
      "properties": {
        "workloadIdentityPoolProviders": {
          "description": "A list of providers.",
          "items": {
            "$ref": "WorkloadIdentityPoolProvider"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListWorkloadIdentityPoolProviders.",
      "id": "ListWorkloadIdentityPoolProvidersResponse"
    },
    "ListOauthClientCredentialsResponse": {
      "description": "Response message for ListOauthClientCredentials.",
      "id": "ListOauthClientCredentialsResponse",
      "properties": {
        "oauthClientCredentials": {
          "type": "array",
          "items": {
            "$ref": "OauthClientCredential"
          },
          "description": "A list of OauthClientCredentials."
        }
      },
      "type": "object"
    },
    "ListOauthClientsResponse": {
      "properties": {
        "oauthClients": {
          "description": "A list of OauthClients.",
          "type": "array",
          "items": {
            "$ref": "OauthClient"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListOauthClients.",
      "type": "object",
      "id": "ListOauthClientsResponse"
    },
    "IntermediateCA": {
      "type": "object",
      "id": "IntermediateCA",
      "description": "Intermediate CA certificates used for building the trust chain to trust anchor",
      "properties": {
        "pemCertificate": {
          "type": "string",
          "description": "PEM certificate of the PKI used for validation. Must only contain one ca certificate."
        }
      }
    },
    "Permission": {
      "description": "A permission which can be included by a role.",
      "properties": {
        "apiDisabled": {
          "type": "boolean",
          "description": "The service API associated with the permission is not enabled."
        },
        "primaryPermission": {
          "description": "The preferred name for this permission. If present, then this permission is an alias of, and equivalent to, the listed primary_permission.",
          "type": "string"
        },
        "onlyInPredefinedRoles": {
          "type": "boolean",
          "deprecated": true
        },
        "name": {
          "description": "The name of this Permission.",
          "type": "string"
        },
        "description": {
          "description": "A brief description of what this Permission is used for.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of this Permission."
        },
        "stage": {
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "description": "The current launch stage of the permission.",
          "type": "string",
          "enumDescriptions": [
            "The permission is currently in an alpha phase.",
            "The permission is currently in a beta phase.",
            "The permission is generally available.",
            "The permission is being deprecated."
          ]
        },
        "customRolesSupportLevel": {
          "enumDescriptions": [
            "Default state. Permission is fully supported for custom role use.",
            "Permission is being tested to check custom role compatibility.",
            "Permission is not supported for custom role use."
          ],
          "description": "The current custom role support level.",
          "enum": [
            "SUPPORTED",
            "TESTING",
            "NOT_SUPPORTED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "Permission"
    },
    "CreateServiceAccountKeyRequest": {
      "type": "object",
      "id": "CreateServiceAccountKeyRequest",
      "properties": {
        "keyAlgorithm": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "description": "Which type of key and algorithm to use for the key. The default is currently a 2K RSA key. However this may change in the future.",
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ]
        },
        "privateKeyType": {
          "description": "The output format of the private key. The default value is `TYPE_GOOGLE_CREDENTIALS_FILE`, which is the Google Credentials File format.",
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https://tools.ietf.org/html/rfc7292.",
            "Google Credentials File format."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ]
        }
      },
      "description": "The service account key create request."
    },
    "QueryAuditableServicesRequest": {
      "properties": {
        "fullResourceName": {
          "description": "Required. The full resource name to query from the list of auditable services. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`.",
          "type": "string"
        }
      },
      "id": "QueryAuditableServicesRequest",
      "type": "object",
      "description": "A request to get the list of auditable services for a resource."
    },
    "InlineTrustConfig": {
      "description": "Defines configuration for extending trust to additional trust domains. By establishing trust with another domain, the current domain will recognize and accept certificates issued by entities within the trusted domains. Note that a trust domain automatically trusts itself, eliminating the need for explicit configuration.",
      "type": "object",
      "properties": {
        "additionalTrustBundles": {
          "description": "Optional. Maps specific trust domains (e.g., \"example.com\") to their corresponding TrustStore, which contain the trusted root certificates for that domain. There can be a maximum of 10 trust domain entries in this map. Note that a trust domain automatically trusts itself and don't need to be specified here. If however, this WorkloadIdentityPool's trust domain contains any trust anchors in the additional_trust_bundles map, those trust anchors will be *appended to* the trust bundle automatically derived from your InlineCertificateIssuanceConfig's ca_pools.",
          "additionalProperties": {
            "$ref": "TrustStore"
          },
          "type": "object"
        }
      },
      "id": "InlineTrustConfig"
    },
    "WorkloadIdentityPoolNamespace": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the namespace is disabled. If disabled, credentials may no longer be issued for identities within this namespace, however existing credentials will still be accepted until they expire."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the namespace.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The namespace is active.",
            "The namespace is soft-deleted. Soft-deleted namespaces are permanently deleted after approximately 30 days. You can restore a soft-deleted namespace using UndeleteWorkloadIdentityPoolNamespace. You cannot reuse the ID of a soft-deleted namespace until it is permanently deleted."
          ]
        },
        "expireTime": {
          "description": "Output only. Time after which the namespace will be permanently purged and cannot be recovered.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A description of the namespace. Cannot exceed 256 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the namespace."
        },
        "ownerService": {
          "$ref": "OwnerService",
          "readOnly": true,
          "description": "Output only. The Google Cloud service that owns this namespace."
        }
      },
      "id": "WorkloadIdentityPoolNamespace",
      "description": "Represents a namespace for a workload identity pool. Namespaces are used to segment identities within the pool.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Binding": {
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All 
[...]
