{
  "protocol": "rest",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "title": "Identity Toolkit API",
  "canonicalName": "Identity Toolkit",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "name": "identitytoolkit",
  "id": "identitytoolkit:v2",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "defaultSupportedIdps": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The next_page_token value returned from a previous List request, if any.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of items to return.",
              "location": "query"
            }
          },
          "path": "v2/defaultSupportedIdps",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse"
          },
          "description": "List all default supported Idps.",
          "flatPath": "v2/defaultSupportedIdps",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "identitytoolkit.defaultSupportedIdps.list"
        }
      }
    },
    "projects": {
      "methods": {
        "getConfig": {
          "flatPath": "v2/projects/{projectsId}/config",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "The resource name of the config, for example: \"projects/my-awesome-project/config\"",
              "pattern": "^projects/[^/]+/config$",
              "required": true
            }
          },
          "path": "v2/{+name}",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "description": "Retrieve an Identity Toolkit project configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.projects.getConfig",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        },
        "updateConfig": {
          "flatPath": "v2/projects/{projectsId}/config",
          "parameters": {
            "name": {
              "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\"",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/config$",
              "type": "string"
            },
            "updateMask": {
              "description": "The update mask applies to the resource. Fields set in the config but not included in this update mask will be ignored. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "description": "Update an Identity Toolkit project configuration.",
          "path": "v2/{+name}",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "identitytoolkit.projects.updateConfig",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "inboundSamlConfigs": {
          "methods": {
            "delete": {
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Delete an inbound SAML configuration for an Identity Toolkit project.",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.inboundSamlConfigs.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$"
                }
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "identitytoolkit.projects.inboundSamlConfigs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "create": {
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs",
              "path": "v2/{+parent}/inboundSamlConfigs",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "location": "path"
                },
                "inboundSamlConfigId": {
                  "type": "string",
                  "location": "query",
                  "description": "The id to use for this config."
                }
              },
              "id": "identitytoolkit.projects.inboundSamlConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "id": "identitytoolkit.projects.inboundSamlConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs",
              "description": "List all inbound SAML configurations for an Identity Toolkit project.",
              "path": "v2/{+parent}/inboundSamlConfigs",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of items to return.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "type": "string"
                }
              }
            },
            "patch": {
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                }
              },
              "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
              "path": "v2/{+name}",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.inboundSamlConfigs.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "defaultSupportedIdpConfigs": {
          "methods": {
            "list": {
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The next_page_token value returned from a previous List request, if any."
                },
                "parent": {
                  "location": "path",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of items to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "List all default supported Idp configurations for an Identity Toolkit project.",
              "path": "v2/{+parent}/defaultSupportedIdpConfigs",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                }
              },
              "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
              "path": "v2/{+name}",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}"
            },
            "delete": {
              "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.get",
              "parameters": {
                "name": {
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
              "path": "v2/{+parent}/defaultSupportedIdpConfigs",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "parameters": {
                "parent": {
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "idpId": {
                  "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs"
            }
          }
        },
        "oauthIdpConfigs": {
          "methods": {
            "list": {
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of items to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
              "path": "v2/{+parent}/oauthIdpConfigs",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.oauthIdpConfigs.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                }
              },
              "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
              "path": "v2/{+name}",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.oauthIdpConfigs.patch"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "identitytoolkit.projects.oauthIdpConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v2/{+parent}/oauthIdpConfigs",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "location": "path"
                },
                "oauthIdpConfigId": {
                  "location": "query",
                  "description": "The id to use for this config.",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs"
            },
            "delete": {
              "id": "identitytoolkit.projects.oauthIdpConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.oauthIdpConfigs.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}"
            }
          }
        },
        "identityPlatform": {
          "methods": {
            "initializeAuth": {
              "description": "Initialize Identity Platform for a Cloud project. Identity Platform is an end-to-end authentication system for third-party users to access your apps and services. These could include mobile/web apps, games, APIs and beyond. This is the publicly available variant of EnableIdentityPlatform that is only available to billing-enabled projects.",
              "path": "v2/{+project}/identityPlatform:initializeAuth",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse"
              },
              "parameters": {
                "project": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The resource name of the target project the developer wants to enable Identity Platform for.",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/identityPlatform:initializeAuth",
              "parameterOrder": [
                "project"
              ],
              "httpMethod": "POST",
              "id": "identitytoolkit.projects.identityPlatform.initializeAuth",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "tenants": {
          "methods": {
            "create": {
              "flatPath": "v2/projects/{projectsId}/tenants",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The parent resource name where the tenant will be created. For example, \"projects/project1\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": "Create a tenant. Requires write permission on the Agent project.",
              "path": "v2/{+parent}/tenants",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.tenants.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "setIamPolicy": {
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.tenants.setIamPolicy",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+resource}:setIamPolicy",
              "request": {
                "$ref": "GoogleIamV1SetIamPolicyRequest"
              },
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "description": "Sets the access control policy for a resource. If the policy exists, it is replaced. Caller must have the right Google IAM permission on the resource.",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:setIamPolicy"
            },
            "delete": {
              "description": "Delete a tenant. Requires write permission on the Agent project.",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Resource name of the tenant to delete.",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "identitytoolkit.projects.tenants.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "get": {
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "description": "Get a tenant. Requires read permission on the Tenant resource.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "description": "Resource name of the tenant to retrieve.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "identitytoolkit.projects.tenants.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "getIamPolicy": {
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Gets the access control policy for a resource. An error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it. Caller must have the right Google IAM permission on the resource.",
              "path": "v2/{+resource}:getIamPolicy",
              "request": {
                "$ref": "GoogleIamV1GetIamPolicyRequest"
              },
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:getIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.tenants.getIamPolicy"
            },
            "testIamPermissions": {
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "id": "identitytoolkit.projects.tenants.testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Returns the caller's permissions on a resource. An error is returned if the resource does not exist. A caller is not required to have Google IAM permission to make this request.",
              "path": "v2/{+resource}:testIamPermissions",
              "request": {
                "$ref": "GoogleIamV1TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "GoogleIamV1TestIamPermissionsResponse"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:testIamPermissions"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "identitytoolkit.projects.tenants.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "List tenants under the given agent project. Requires read permission on the Agent project.",
              "path": "v2/{+parent}/tenants",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The pagination token from the response of a previous request.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource name to list tenants for.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "The maximum number of results to return, capped at 1000. If not specified, the default value is 20.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "v2/projects/{projectsId}/tenants"
            },
            "patch": {
              "id": "identitytoolkit.projects.tenants.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "path": "v2/{+name}",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "description": "Update a tenant. Requires write permission on the Tenant resource.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "If provided, only update fields set in the update mask. Otherwise, all settable fields will be updated. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              }
            }
          },
          "resources": {
            "inboundSamlConfigs": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return."
                    }
                  },
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
                  },
                  "description": "List all inbound SAML configurations for an Identity Toolkit project.",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.list"
                },
                "patch": {
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$"
                    },
                    "inboundSamlConfigId": {
                      "type": "string",
                      "location": "query",
                      "description": "The id to use for this config."
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Delete an inbound SAML configuration for an Identity Toolkit project.",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.delete"
                },
                "get": {
                  "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "defaultSupportedIdpConfigs": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "idpId": {
                      "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.create"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "get": {
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
                  },
                  "description": "List all default supported Idp configurations for an Identity Toolkit project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}"
                }
              }
            },
            "oauthIdpConfigs": {
              "methods": {
                "create": {
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs",
                  "path": "v2/{+parent}/oauthIdpConfigs",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\""
                    },
                    "oauthIdpConfigId": {
                      "description": "The id to use for this config.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}"
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                      "location": "path"
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/oauthIdpConfigs",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
                  },
                  "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}"
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "revokeToken": {
          "description": "Revokes a user's token from an Identity Provider (IdP). This is done by manually providing an IdP credential, and the token types for revocation. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "path": "v2/accounts:revokeToken",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest"
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse"
          },
          "parameters": {},
          "flatPath": "v2/accounts:revokeToken",
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "identitytoolkit.accounts.revokeToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "mfaEnrollment": {
          "methods": {
            "finalize": {
              "flatPath": "v2/accounts/mfaEnrollment:finalize",
              "path": "v2/accounts/mfaEnrollment:finalize",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse"
              },
              "description": "Finishes enrolling a second factor for the user.",
              "parameters": {},
              "id": "identitytoolkit.accounts.mfaEnrollment.finalize",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [],
              "httpMethod": "POST"
            },
            "start": {
              "httpMethod": "POST",
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "identitytoolkit.accounts.mfaEnrollment.start",
              "parameters": {},
              "path": "v2/accounts/mfaEnrollment:start",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse"
              },
              "description": "Step one of the MFA enrollment process. In SMS case, this sends an SMS verification code to the user.",
              "flatPath": "v2/accounts/mfaEnrollment:start"
            },
            "withdraw": {
              "httpMethod": "POST",
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "identitytoolkit.accounts.mfaEnrollment.withdraw",
              "parameters": {},
              "description": "Revokes one second factor from the enrolled second factors for an account.",
              "path": "v2/accounts/mfaEnrollment:withdraw",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse"
              },
              "flatPath": "v2/accounts/mfaEnrollment:withdraw"
            }
          }
        },
        "mfaSignIn": {
          "methods": {
            "finalize": {
              "flatPath": "v2/accounts/mfaSignIn:finalize",
              "description": "Verifies the MFA challenge and performs sign-in",
              "path": "v2/accounts/mfaSignIn:finalize",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse"
              },
              "parameters": {},
              "id": "identitytoolkit.accounts.mfaSignIn.finalize",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [],
              "httpMethod": "POST"
            },
            "start": {
              "id": "identitytoolkit.accounts.mfaSignIn.start",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [],
              "httpMethod": "POST",
              "flatPath": "v2/accounts/mfaSignIn:start",
              "path": "v2/accounts/mfaSignIn:start",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse"
              },
              "description": "Sends the MFA challenge",
              "parameters": {}
            }
          }
        }
      }
    },
    "v2": {
      "methods": {
        "getRecaptchaConfig": {
          "flatPath": "v2/recaptchaConfig",
          "description": "Gets parameters needed for reCAPTCHA analysis.",
          "path": "v2/recaptchaConfig",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaConfig"
          },
          "parameters": {
            "clientType": {
              "enumDescriptions": [
                "Client type is not specified.",
                "Client type is web.",
                "Client type is android.",
                "Client type is ios."
              ],
              "description": "reCAPTCHA Enterprise uses separate site keys for different client types. Specify the client type to get the corresponding key.",
              "location": "query",
              "enum": [
                "CLIENT_TYPE_UNSPECIFIED",
                "CLIENT_TYPE_WEB",
                "CLIENT_TYPE_ANDROID",
                "CLIENT_TYPE_IOS"
              ],
              "type": "string"
            },
            "version": {
              "enumDescriptions": [
                "The reCAPTCHA version is not specified.",
                "The reCAPTCHA enterprise."
              ],
              "location": "query",
              "enum": [
                "RECAPTCHA_VERSION_UNSPECIFIED",
                "RECAPTCHA_ENTERPRISE"
              ],
              "description": "The reCAPTCHA version.",
              "type": "string"
            },
            "tenantId": {
              "type": "string",
              "description": "The id of a tenant.",
              "location": "query"
            }
          },
          "id": "identitytoolkit.getRecaptchaConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "getPasswordPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.getPasswordPolicy",
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v2/passwordPolicy",
          "parameters": {
            "tenantId": {
              "description": "The id of a tenant.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Gets password policy config set on the project or tenant.",
          "path": "v2/passwordPolicy",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2PasswordPolicy"
          }
        }
      }
    }
  },
  "version": "v2",
  "schemas": {
    "GoogleCloudIdentitytoolkitAdminV2SpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SpConfig",
      "properties": {
        "callbackUri": {
          "description": "Callback URI where responses from IDP are handled.",
          "type": "string"
        },
        "spEntityId": {
          "description": "Unique identifier for all SAML entities.",
          "type": "string"
        },
        "spCertificates": {
          "description": "Output only. Public certificates generated by the server to verify the signature in SAMLRequest in the SP-initiated flow.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2SpCertificate"
          }
        }
      },
      "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse",
      "properties": {
        "tenants": {
          "description": "A list of tenants under the given agent project.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
          }
        },
        "nextPageToken": {
          "description": "The token to get the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for ListTenants.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest",
      "properties": {
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        },
        "phoneEnrollmentInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
          "description": "Verification info to authorize sending an SMS for phone verification."
        },
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        },
        "totpEnrollmentInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo",
          "description": "Sign-in info specific to TOTP auth."
        }
      },
      "description": "Sends MFA enrollment verification SMS for a user."
    },
    "GoogleCloudIdentitytoolkitAdminV2Permissions": {
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "id": "GoogleCloudIdentitytoolkitAdminV2Permissions",
      "properties": {
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "type": "object",
      "description": "Configuration for SMTP relay",
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp",
      "properties": {
        "password": {
          "description": "SMTP relay password",
          "type": "string"
        },
        "senderEmail": {
          "description": "Sender email for the SMTP relay",
          "type": "string"
        },
        "host": {
          "description": "SMTP relay host",
          "type": "string"
        },
        "port": {
          "description": "SMTP relay port",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "SMTP relay username",
          "type": "string"
        },
        "securityMode": {
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ],
          "description": "SMTP security mode.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ],
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "description": "History information of the hash algorithm and key. Different accounts' passwords may be generated by different version.",
      "id": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
      "properties": {
        "algorithm": {
          "readOnly": true,
          "enum": [
            "HASH_ALGORITHM_UNSPECIFIED",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "description": "Output only. Different password hash algorithms used in Identity Toolkit.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "type": "string"
        },
        "rounds": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. How many rounds for hash calculation. Used by scrypt and other similar password derivation algorithms."
        },
        "memoryCost": {
          "description": "Output only. Memory cost for hash calculation. Used by scrypt and other similar password derivation algorithms. See https://tools.ietf.org/html/rfc7914 for explanation of field.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "signerKey": {
          "readOnly": true,
          "description": "Output only. Signer key in base64.",
          "type": "string"
        },
        "saltSeparator": {
          "readOnly": true,
          "description": "Output only. Non-printable character to be inserted between the salt and plain text password in base64.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
      "properties": {
        "allowByDefault": {
          "description": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault"
        },
        "allowlistOnly": {
          "description": "A policy of only allowing regions by explicitly adding them to an allowlist.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly"
        }
      },
      "description": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number."
    },
    "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "id": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When this quota will take effect"
        },
        "quota": {
          "description": "Corresponds to the 'refill_token_count' field in QuotaServer config",
          "type": "string",
          "format": "int64"
        },
        "quotaDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "How long this quota will be active for"
        }
      },
      "description": "Temporary quota increase / decrease",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
      "properties": {
        "androidVerificationProof": {
          "description": "Android only. Uses for \"instant\" phone number verification though GmsCore.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Required if Android verification proof is presented.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        },
        "code": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      },
      "description": "Phone Verification info for a FinalizeMfa request."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo": {
      "type": "object",
      "description": "Mfa response info specific to TOTP auth for StartMfa.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo",
      "properties": {
        "hashingAlgorithm": {
          "description": "The hashing algorithm used to generate the verification code.",
          "type": "string"
        },
        "sharedSecretKey": {
          "description": "A base 32 encoded string that represents the shared TOTP secret. The base 32 encoding is the one specified by [RFC4648#section-6](https://datatracker.ietf.org/doc/html/rfc4648#section-6). (This is the same as the base 32 encoding from [RFC3548#section-5](https://datatracker.ietf.org/doc/html/rfc3548#section-5).)",
          "type": "string"
        },
        "periodSec": {
          "description": "Duration in seconds at which the verification code will change.",
          "type": "integer",
          "format": "int32"
        },
        "verificationCodeLength": {
          "description": "The length of the verification code that needs to be generated.",
          "type": "integer",
          "format": "int32"
        },
        "sessionInfo": {
          "description": "An encoded string that represents the enrollment session.",
          "type": "string"
        },
        "finalizeEnrollmentTime": {
          "description": "The time by which the enrollment must finish.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse": {
      "type": "object",
      "description": "FinalizeMfaSignIn response.",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse",
      "properties": {
        "idToken": {
          "description": "ID token for the authenticated user.",
          "type": "string"
        },
        "phoneAuthInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
          "description": "Extra phone auth info, including android verification proof."
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsTemplate": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate",
      "properties": {
        "content": {
          "type": "string",
          "description": "Output only. The SMS's content. Can contain the following placeholders which will be replaced with the appropriate values: %APP_NAME% - For Android or iOS apps, the app's display name. For web apps, the domain hosting the application. %LOGIN_CODE% - The OOB code being sent in the SMS.",
          "readOnly": true
        }
      },
      "description": "The template to use when sending an SMS.",
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "type": "object",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "GoogleCloudIdentitytoolkitV2CustomStrengthOptions": {
      "type": "object",
      "description": "Custom strength options to enforce on user passwords.",
      "id": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions",
      "properties": {
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "maxPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum password length. No default max length"
        },
        "containsNumericCharacter": {
          "description": "The password must contain a number.",
          "type": "boolean"
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "minPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum password length. Range from 6 to 30"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig": {
      "description": "Configuration related to multi-tenant functionality.",
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig",
      "properties": {
        "allowTenants": {
          "description": "Whether this project can have tenants or not.",
          "type": "boolean"
        },
        "defaultTenantLocation": {
          "description": "The default cloud parent org or folder that the tenant project should be created under. The parent resource name should be in the format of \"/\", such as \"folders/123\" or \"organizations/456\". If the value is not set, the tenant will be created under the same organization or folder as the agent project.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials": {
      "type": "object",
      "description": "Indicates which credentials to pass to the registered Blocking Functions.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials",
      "properties": {
        "accessToken": {
          "description": "Whether to pass the user's OAuth identity provider's access token.",
          "type": "boolean"
        },
        "idToken": {
          "description": "Whether to pass the user's OIDC identity provider's ID token.",
          "type": "boolean"
        },
        "refreshToken": {
          "description": "Whether to pass the user's OAuth identity provider's refresh token.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState": {
      "description": "Enforcement states for reCAPTCHA protection.",
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState",
      "properties": {
        "enforcementState": {
          "description": "The reCAPTCHA enforcement state for the provider.",
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ]
        },
        "provider": {
          "enumDescriptions": [
            "reCAPTCHA provider not specified",
            "Email password provider",
            "Phone auth provider"
          ],
          "type": "string",
          "enum": [
            "RECAPTCHA_PROVIDER_UNSPECIFIED",
            "EMAIL_PASSWORD_PROVIDER",
            "PHONE_PROVIDER"
          ],
          "description": "The provider that has reCAPTCHA protection."
        }
      },
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions",
      "properties": {
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig",
      "properties": {
        "permissions": {
          "description": "Configuration related to restricting a user's ability to affect their account.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions"
        }
      },
      "description": "Options related to how clients making requests on behalf of a tenant should be configured.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig": {
      "type": "object",
      "description": "Configuration for settings related to email privacy and public visibility. Settings in this config protect against email enumeration, but may make some trade-offs in user-friendliness.",
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
      "properties": {
        "enableImprovedEmailPrivacy": {
          "description": "Migrates the project to a state of improved email privacy. For example certain error codes are more generic to avoid giving away information on whether the account exists. In addition, this disables certain features that as a side-effect allow user enumeration. Enabling this toggle disables the fetchSignInMethodsForEmail functionality and changing the user's email to an unverified email. It is recommended to remove dependence on this functionality and enable this toggle to improve user privacy.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
      "properties": {
        "providerConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
          },
          "description": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field."
        },
        "state": {
          "description": "Whether MultiFactor Authentication has been enabled for this project.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project",
            "Multi-factor authentication can be used for this project",
[...]
