{
  "servicePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/identity-platform",
  "name": "identitytoolkit",
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerName": "Google",
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "version": "v2",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "protocol": "rest",
  "canonicalName": "Identity Toolkit",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "title": "Identity Toolkit API",
  "id": "identitytoolkit:v2",
  "batchPath": "batch",
  "version_module": true,
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions",
      "type": "object",
      "properties": {
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo",
      "description": "Mfa request info specific to TOTP auth for FinalizeMfa.",
      "properties": {
        "verificationCode": {
          "description": "User-entered verification code.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Email": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Email",
      "description": "Configuration options related to authenticating a user by their email address.",
      "properties": {
        "enabled": {
          "description": "Whether email auth is enabled for the project or not.",
          "type": "boolean"
        },
        "passwordRequired": {
          "description": "Whether a password is required for email auth or not. If true, both an email and password must be provided to sign in. If false, a user may sign in via either email/password or email link.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse": {
      "type": "object",
      "properties": {
        "defaultSupportedIdps": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
          },
          "type": "array",
          "description": "The set of configs."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response for ListDefaultSupportedIdps",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse"
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "type": "object",
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GoogleIamV1GetIamPolicyRequest",
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GoogleIamV1GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      }
    },
    "GoogleIamV1GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "id": "GoogleIamV1GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest",
      "description": "Request for InitializeIdentityPlatform."
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailTemplate": {
      "description": "Email template. The subject and body fields can contain the following placeholders which will be replaced with the appropriate values: %LINK% - The link to use to redeem the send OOB code. %EMAIL% - The email where the email is being sent. %NEW_EMAIL% - The new email being set for the account (when applicable). %APP_NAME% - The Google Cloud project's display name. %DISPLAY_NAME% - The user's display name.",
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
      "type": "object",
      "properties": {
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        },
        "customized": {
          "description": "Output only. Whether the body or subject of the email is customized.",
          "type": "boolean",
          "readOnly": true
        },
        "senderDisplayName": {
          "description": "Sender display name",
          "type": "string"
        },
        "body": {
          "description": "Email body",
          "type": "string"
        },
        "bodyFormat": {
          "description": "Email body format",
          "enum": [
            "BODY_FORMAT_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Plain text",
            "HTML"
          ]
        },
        "senderLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "type": "object",
      "properties": {
        "algorithm": {
          "description": "Output only. Different password hash algorithms used in Identity Toolkit.",
          "enum": [
            "HASH_ALGORITHM_UNSPECIFIED",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ]
        },
        "rounds": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. How many rounds for hash calculation. Used by scrypt and other similar password derivation algorithms."
        },
        "memoryCost": {
          "description": "Output only. Memory cost for hash calculation. Used by scrypt and other similar password derivation algorithms. See https://tools.ietf.org/html/rfc7914 for explanation of field.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "signerKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Signer key in base64."
        },
        "saltSeparator": {
          "description": "Output only. Non-printable character to be inserted between the salt and plain text password in base64.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "History information of the hash algorithm and key. Different accounts' passwords may be generated by different version.",
      "id": "GoogleCloudIdentitytoolkitAdminV2HashConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse": {
      "description": "Response message for ListTenants.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse",
      "type": "object",
      "properties": {
        "tenants": {
          "description": "A list of tenants under the given agent project.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to get the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsTemplate": {
      "properties": {
        "content": {
          "description": "Output only. The SMS's content. Can contain the following placeholders which will be replaced with the appropriate values: %APP_NAME% - For Android or iOS apps, the app's display name. For web apps, the domain hosting the application. %LOGIN_CODE% - The OOB code being sent in the SMS.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate",
      "description": "The template to use when sending an SMS."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse": {
      "type": "object",
      "properties": {
        "phoneSessionInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        },
        "totpSessionInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo",
          "description": "Enrollment response info specific to TOTP auth."
        }
      },
      "description": "StartMfaEnrollment response.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "description": "Options related to MultiFactor Authentication for the project.",
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
      "type": "object",
      "properties": {
        "providerConfigs": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
          },
          "type": "array",
          "description": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project",
            "Multi-factor authentication can be used for this project",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "description": "Whether MultiFactor Authentication has been enabled for this project.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ]
        },
        "enabledProviders": {
          "items": {
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "PHONE_SMS"
            ],
            "enumDescriptions": [
              "Illegal Provider, should not be used",
              "SMS is enabled as a second factor for this project."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "A list of usable second factors for this project."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig",
      "description": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs.",
      "properties": {
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "clientSecret": {
          "description": "OAuth client secret.",
          "type": "string"
        },
        "appleSignInConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig",
          "description": "Additional config for Apple-based projects."
        },
        "clientId": {
          "description": "OAuth client ID.",
          "type": "string"
        },
        "name": {
          "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest",
      "description": "Sends MFA enrollment verification SMS for a user.",
      "properties": {
        "phoneEnrollmentInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
          "description": "Verification info to authorize sending an SMS for phone verification."
        },
        "totpEnrollmentInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo",
          "description": "Sign-in info specific to TOTP auth."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        },
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig": {
      "type": "object",
      "properties": {
        "allowTenants": {
          "description": "Whether this project can have tenants or not.",
          "type": "boolean"
        },
        "defaultTenantLocation": {
          "description": "The default cloud parent org or folder that the tenant project should be created under. The parent resource name should be in the format of \"/\", such as \"folders/123\" or \"organizations/456\". If the value is not set, the tenant will be created under the same organization or folder as the agent project.",
          "type": "string"
        }
      },
      "description": "Configuration related to multi-tenant functionality.",
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2ProviderConfig": {
      "properties": {
        "totpProviderConfig": {
          "description": "TOTP MFA provider config for this project.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig"
        },
        "state": {
          "description": "Describes the state of the MultiFactor Authentication type.",
          "enum": [
            "MFA_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project.",
            "Multi-factor authentication can be used for this project.",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig",
      "description": "ProviderConfig describes the supported MFA providers along with their configurations."
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      },
      "type": "object"
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest": {
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest",
      "description": "Withdraws MFA.",
      "properties": {
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "description": "Required. MFA enrollment id from a current MFA enrollment.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user unenrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenResponse": {
      "type": "object",
      "properties": {},
      "description": "Response message for RevokeToken. Empty for now.",
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig": {
      "type": "object",
      "properties": {
        "managedRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
          },
          "description": "The managed rules for authentication action based on reCAPTCHA scores. The rules are shared across providers for a given tenant project."
        },
        "recaptchaKeys": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
          },
          "type": "array",
          "description": "The reCAPTCHA keys."
        },
        "emailPasswordEnforcementState": {
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "description": "The reCAPTCHA config for email/password provider, containing the enforcement status. The email/password provider contains all email related user flows protected by reCAPTCHA.",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "type": "string"
        },
        "tollFraudManagedRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule"
          },
          "description": "The managed rules for the authentication action based on reCAPTCHA toll fraud risk scores. Toll fraud managed rules will only take effect when the phone_enforcement_state is AUDIT or ENFORCE and use_sms_toll_fraud_protection is true."
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        },
        "phoneEnforcementState": {
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "description": "The reCAPTCHA config for phone provider, containing the enforcement status. The phone provider contains all SMS related user flows protected by reCAPTCHA.",
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ]
        },
        "useAccountDefender": {
          "description": "Whether to use the account defender for reCAPTCHA assessment. Defaults to `false`.",
          "type": "boolean"
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        }
      },
      "description": "The reCAPTCHA Enterprise integration config.",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2Inheritance": {
      "description": "Settings that the tenants will inherit from project level.",
      "id": "GoogleCloudIdentitytoolkitAdminV2Inheritance",
      "type": "object",
      "properties": {
        "emailSendingConfig": {
          "description": "Whether to allow the tenant to inherit custom domains, email templates, and custom SMTP settings. If true, email sent from tenant will follow the project level email sending configurations. If false (by default), emails will go with the default settings with no customizations.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2CustomStrengthOptions": {
      "id": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions",
      "description": "Custom strength options to enforce on user passwords.",
      "properties": {
        "maxPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum password length. No default max length"
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "containsNumericCharacter": {
          "description": "The password must contain a number.",
          "type": "boolean"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "minPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum password length. Range from 6 to 30"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo": {
      "properties": {
        "phoneNumber": {
          "description": "For Android verification proof.",
          "type": "string"
        },
        "androidVerificationProof": {
          "description": "Android only. Long-lived replacement for valid code tied to android device.",
          "type": "string"
        },
        "androidVerificationProofExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Android only. Expiration time of verification proof in seconds."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
      "description": "Phone Verification info for a FinalizeMfa response."
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowByDefault": {
      "type": "object",
      "properties": {
        "disallowedRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Two letter unicode region codes to disallow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json"
        }
      },
      "description": "Defines a policy of allowing every region by default and adding disallowed regions to a disallow list.",
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest",
      "description": "Finishes enrolling a second factor for the user.",
      "properties": {
        "displayName": {
          "description": "Display name which is entered by users to distinguish between different second factors with same type or different type.",
          "type": "string"
        },
        "totpVerificationInfo": {
          "description": "Verification information for TOTP.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo"
        },
        "idToken": {
          "description": "Required. ID token.",
          "type": "string"
        },
        "phoneVerificationInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion": {
      "type": "object",
      "properties": {
        "customStrengthOptions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions",
          "description": "The custom strength options enforced by the password policy."
        },
        "schemaVersion": {
          "description": "Output only. schema version number for the password policy",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The strength attributes for the password policy on the project.",
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
    },
    "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "type": "object",
      "properties": {
        "quota": {
          "description": "Corresponds to the 'refill_token_count' field in QuotaServer config",
          "format": "int64",
          "type": "string"
        },
        "quotaDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "How long this quota will be active for"
        },
        "startTime": {
          "description": "When this quota will take effect",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Temporary quota increase / decrease",
      "id": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota"
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig",
      "description": "Configuration options for authenticating with an OAuth IDP.",
      "properties": {
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "clientSecret": {
          "description": "The client secret of the OAuth client, to enable OIDC code flow.",
          "type": "string"
        },
        "responseType": {
          "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType"
        },
        "name": {
          "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "issuer": {
          "description": "For OIDC Idps, the issuer identifier.",
          "type": "string"
        },
        "displayName": {
          "description": "The config's display name set by developers.",
          "type": "string"
        },
        "clientId": {
          "description": "The client id of an OAuth client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2NotificationConfig": {
      "description": "Configuration related to sending notifications to users.",
      "id": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig",
      "type": "object",
      "properties": {
        "sendEmail": {
          "description": "Options for email sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendEmail"
        },
        "defaultLocale": {
          "description": "Default locale used for email and SMS in IETF BCP 47 format.",
          "type": "string"
        },
        "sendSms": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendSms",
          "description": "Options for SMS sending."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse": {
      "description": "Response for ListOAuthIdpConfigs",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse",
      "type": "object",
      "properties": {
        "oauthIdpConfigs": {
          "description": "The set of configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Anonymous": {
      "description": "Configuration options related to authenticating an anonymous user.",
      "id": "GoogleCloudIdentitytoolkitAdminV2Anonymous",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether anonymous user auth is enabled for the project or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SpConfig": {
      "type": "object",
      "properties": {
        "spEntityId": {
          "description": "Unique identifier for all SAML entities.",
          "type": "string"
        },
        "callbackUri": {
          "description": "Callback URI where responses from IDP are handled.",
          "type": "string"
        },
        "spCertificates": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2SpCertificate"
          },
          "description": "Output only. Public certificates generated by the server to verify the signature in SAMLRequest in the SP-initiated flow."
        }
      },
      "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SpConfig"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse": {
      "properties": {
        "phoneResponseInfo": {
          "description": "MultiFactor sign-in session information specific to SMS-type second factors. Along with the one-time code retrieved from the sent SMS, the contents of this session information should be passed to FinalizeMfaSignIn to complete the sign in.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse",
      "description": "StartMfaSignIn response."
    },
    "GoogleCloudIdentitytoolkitAdminV2DnsInfo": {
      "id": "GoogleCloudIdentitytoolkitAdminV2DnsInfo",
      "description": "Information of custom domain DNS verification. By default, default_domain will be used. A custom domain can be configured using VerifyCustomDomain.",
      "properties": {
        "domainVerificationRequestTime": {
          "description": "Output only. The timestamp of initial request for the current domain verification.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "useCustomDomain": {
          "description": "Whether to use custom domain.",
          "type": "boolean"
        },
        "customDomainState": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "The verification has not started.",
            "The verification is in progress.",
            "The verification failed.",
            "The verification succeeded and is ready to be applied."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED"
          ],
          "description": "Output only. The current verification state of the custom domain. The custom domain will only be used once the domain verification is successful."
        },
        "pendingCustomDomain": {
          "description": "Output only. The custom domain that's to be verified.",
          "readOnly": true,
          "type": "string"
        },
        "customDomain": {
          "description": "Output only. The applied verified custom domain.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig": {
      "properties": {
        "passwordPolicyEnforcementState": {
          "enum": [
            "PASSWORD_POLICY_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "description": "Which enforcement mode to use for the password policy.",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "type": "string"
        },
        "passwordPolicyVersions": {
          "description": "Must be of length 1. Contains the strength attributes for the password policy.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
          },
          "type": "array"
        },
        "forceUpgradeOnSignin": {
          "description": "Users must have a password compliant with the password policy to sign-in.",
          "type": "boolean"
        },
        "lastUpdateTime": {
          "description": "Output only. The last time the password policy on the project was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
      "description": "The configuration for the password policy on the project."
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule": {
      "type": "object",
      "properties": {
        "endScore": {
          "description": "The end score (inclusive) of the score range for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the riskiest request (likely a bot), whereas 1.0 indicates the safest request (likely a human). See https://cloud.google.com/recaptcha-enterprise/docs/interpret-assessment.",
          "type": "number",
          "format": "float"
        },
        "action": {
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score].",
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ],
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ]
        }
      },
      "description": "The config for a reCAPTCHA managed rule. Models a single interval [start_score, end_score]. The start_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping.",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
    },
    "GoogleCloudIdentitytoolkitAdminV2SendSms": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SendSms",
      "description": "Options for SMS sending.",
      "properties": {
        "smsTemplate": {
          "readOnly": true,
          "description": "Output only. The template to use when sending an SMS.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate"
        },
        "useDeviceLocale": {
          "description": "Whether to use the accept_language header for SMS.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule": {
      "properties": {
        "startScore": {
          "description": "The start score (inclusive) for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the safest request (likely legitimate), whereas 1.0 indicates the riskiest request (likely toll fraud). See https://cloud.google.com/recaptcha-enterprise/docs/sms-fraud-detection#create-assessment-sms.",
          "type": "number",
          "format": "float"
        },
        "action": {
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score].",
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ],
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule",
      "description": "The config for a reCAPTCHA toll fraud assessment managed rule. Models a single interval [start_score, end_score]. The end_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping."
    },
    "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions": {
      "description": "Custom strength options to enforce on user passwords.",
      "id": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions",
      "type": "object",
      "properties": {
        "containsNumericCharacter": {
          "description": "The password must contain a number.",
          "type": "boolean"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "maxPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum password length. No default max length"
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "minPasswordLength": {
          "description": "Minimum password length. Range from 6 to 30",
          "format": "int32",
          "type": "integer"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
      "description": "Configuration related to monitoring project activity.",
      "properties": {
        "requestLogging": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RequestLogging",
          "description": "Configuration for logging requests made to this project to Stackdriver Logging"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig",
      "description": "Additional config for SignInWithApple.",
      "properties": {
        "codeFlowConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig",
          "description": "Additional config for Apple for code flow."
        },
        "bundleIds": {
          "description": "A list of Bundle ID's usable by this project",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig": {
      "properties": {
        "domain": {
          "enum": [
            "DOMAIN_UNSPECIFIED",
            "FIREBASE_DYNAMIC_LINK_DOMAIN",
            "HOSTING_DOMAIN"
          ],
          "description": "Open code in app domain to use for app links and universal links.",
          "enumDescriptions": [
            "Default value. The default domain is the Firebase Dynamic Link domain before the FDL deprecation and the hosting domain after the FDL deprecation.",
            "Use Firebase Dynamic Link domain as app link domain. Default value.",
            "Use hosting domain as app link domain."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
      "description": "Configuration mobile links."
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse": {
      "type": "object",
      "properties": {
        "defaultSupportedIdpConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
          },
          "description": "The set of configs."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response for DefaultSupportedIdpConfigs",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
    },
    "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo": {
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo",
      "description": "The information required to auto-retrieve an SMS."
    },
    "GoogleCloudIdentitytoolkitAdminV2Tenant": {
      "type": "object",
      "properties": {
        "allowPasswordSignup": {
          "description": "Whether to allow email/password user authentication.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Display name of the tenant.",
          "type": "string"
        },
        "monitoring": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
          "description": "Configuration related to monitoring project activity."
        },
        "emailPrivacyConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
          "description": "Configuration for settings related to email privacy and public visibility."
        },
        "testPhoneNumbers": {
          "type": "object",
          "description": "A map of pairs that can be used for MFA. The phone number should be in E.164 format (https://www.itu.int/rec/T-REC-E.164/) and a maximum of 10 pairs can be added (error will be thrown once exceeded).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inheritance": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Inheritance",
          "description": "Specify the settings that the tenant could inherit."
        },
        "mobileLinksConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
          "description": "Optional. Deprecated. Never launched. Configuration for settings related to univeral links (iOS) and app links (Android).",
          "deprecated": true
        },
        "enableEmailLinkSignin": {
          "description": "Whether to enable email link user authentication.",
          "type": "boolean"
        },
        "autodeleteAnonymousUsers": {
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days.",
          "type": "boolean"
        },
        "passwordPolicyConfig": {
          "description": "The tenant-level password policy config",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user authentication.",
          "type": "boolean"
        },
        "recaptchaConfig": {
          "description": "The tenant-level reCAPTCHA config.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig"
        },
        "hashConfig": {
          "readOnly": true,
          "description": "Output only. Hash config information of a tenant for display on Pantheon. This can only be displayed on Pantheon to avoid the sensitive information to get accidentally leaked. Only returned in GetTenant response to restrict reading of this information. Requires firebaseauth.configs.getHashConfig permission on the agent project for returning this field.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig"
        },
        "disableAuth": {
          "description": "Whether authentication is disabled for the tenant. If true, the users under the disabled tenant are not allowed to sign-in. Admins of the disabled tenant are not able to manage its users.",
          "type": "boolean"
        },
        "mfaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
          "description": "The tenant-level configuration of MFA options."
        },
        "smsRegionConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
          "description": "Configures which regions are enabled for SMS verification code sending."
        }
      },
      "description": "A Tenant contains configuration for the tenant in a multi-tenant project.",
      "id": "GoogleCloudIdentitytoolkitAdminV2Tenant"
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig": {
      "properties": {
        "triggers": {
          "description": "Map of Trigger to event type. Key should be one of the supported event types: \"beforeCreate\", \"beforeSignIn\"",
          "additionalProperties": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Trigger"
          },
          "type": "object"
        },
        "forwardInboundCredentials": {
          "description": "The user credentials to include in the JWT payload that is sent to the registered Blocking Functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig",
      "description": "Configuration related to Blocking Functions."
    },
    "GoogleCloudIdentitytoolkitAdminV2RequestLogging": {
      "description": "Configuration for logging requests made to this project to Stackdriver Logging",
      "id": "GoogleCloudIdentitytoolkitAdminV2RequestLogging",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether logging is enabled for this project or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp": {
      "type": "object",
      "properties": {
        "idpId": {
          "description": "Id the of Idp",
          "type": "string"
        },
        "description": {
          "description": "Description of the Idp",
          "type": "string"
        }
      },
      "description": "Standard Identity Toolkit-trusted IDPs.",
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo",
      "description": "Mfa response info specific to TOTP auth for FinalizeMfa."
    },
    "GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "properties": {
        "callbackUri": {
          "description": "action url in email template.",
          "type": "string"
        },
        "revertSecondFactorAdditionTemplate": {
          "description": "Email template for reverting second factor addition emails",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Reset password email template for legacy Firebase V1 app."
        },
        "smtp": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Smtp",
          "description": "Use a custom SMTP relay"
        },
        "changeEmailTemplate": {
          "description": "Email template for change email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "dnsInfo": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2DnsInfo",
          "description": "Information of custom domain DNS verification."
        },
        "method": {
          "description": "The method used for sending an email.",
          "enum": [
            "METHOD_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM_SMTP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Email method unspecified.",
            "Sending email on behalf of developer.",
            "Sending email using SMTP configuration provided by developers."
          ]
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendEmail",
      "description": "Options for email sending."
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenRequest": {
      "description": "Request message for RevokeToken.",
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest",
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "redirectUri": {
          "description": "The redirect URI provided in the initial authorization request made by the client to the IDP. The URI must use the HTTPS protocol, include a domain name, and can't contain an IP address or localhost. Required if token_type is CODE.",
          "type": "string"
        },
        "token": {
          "description": "Required. The token to be revoked. If an authorization_code is passed in, the API will first exchange the code for access token and then revoke the token exchanged.",
          "type": "string"
        },
        "idToken": {
          "description": "Required. A valid Identity Platform ID token to link the account. If there was a successful token revocation request on the account and no tokens are generated after the revocation, the duplicate requests will be ignored and returned immediately.",
          "type": "string"
        },
        "providerId": {
          "description": "Required. The idp provider for the token. Currently only supports Apple Idp. The format should be \"apple.com\".",
          "type": "string"
        },
        "tokenType": {
          "enum": [
            "TOKEN_TYPE_UNSPECIFIED",
            "REFRESH_TOKEN",
            "ACCESS_TOKEN",
            "CODE"
          ],
          "description": "Required. The type of the token to be revoked.",
          "enumDescriptions": [
            "Default value, do not use.",
            "Token type is refresh_token.",
            "Token type is access_token.",
            "Token type is authorization_code."
          ],
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest": {
      "properties": {
        "phoneVerificationInfo": {
          "description": "Proof of completion of the SMS based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "description": "The MFA enrollment ID from the user's list of current MFA enrollments.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "totpVerificationInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo",
          "description": "Proof of completion of the TOTP based MFA challenge."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest",
      "description": "Finalizes sign-in by verifying MFA challenge."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse": {
      "type": "object",
      "properties": {
        "phoneAuthInfo": {
          "description": "Extra phone auth info, including android verification proof.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "idToken": {
          "description": "ID token for the authenticated user.",
          "type": "string"
        }
      },
      "description": "FinalizeMfaSignIn response.",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig": {
      "description": "Configuration for settings related to email privacy and public visibility. Settings in this config protect against email enumeration, but may make some trade-offs in user-friendliness.",
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
      "type": "object",
      "properties": {
        "enableImprovedEmailPrivacy": {
          "description": "Migrates the project to a state of improved email privacy. For example certain error codes are more generic to avoid giving away information on whether the account exists. In addition, this disables certain features that as a side-effect allow user enumeration. Enabling this toggle disables the fetchSignInMethodsForEmail functionality and changing the user's email to an unverified email. It is recommended to remove dependence on this functionality and enable this toggle to improve user privacy.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState": {
      "type": "object",
      "properties": {
        "provider": {
          "description": "The provider that has reCAPTCHA protection.",
          "enum": [
            "RECAPTCHA_PROVIDER_UNSPECIFIED",
            "EMAIL_PASSWORD_PROVIDER",
            "PHONE_PROVIDER"
          ],
          "type": "string",
          "enumDescriptions": [
            "reCAPTCHA provider not specified",
            "Email password provider",
            "Phone auth provider"
          ]
        },
        "enforcementState": {
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "description": "The reCAPTCHA enforcement state for the provider.",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "type": "string"
        }
      },
      "description": "Enforcement states for reCAPTCHA protection.",
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
    },
    "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig": {
      "type": "object",
      "properties": {
        "adjacentIntervals": {
          "description": "The allowed number of adjacent intervals that will be used for verification to avoid clock skew.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "TotpMFAProviderConfig represents the TOTP based MFA provider.",
      "id": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig": {
      "description": "A pair of SAML RP-IDP configurations when the project acts as the relying party.",
      "id": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "displayName": {
          "description": "The config's display name set by developers.",
          "type": "string"
        },
        "spConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SpConfig",
          "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider."
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "idpConfig": {
          "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpConfig"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SpCertificate": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SpCertificate",
      "description": "The SP's certificate data for IDP to verify the SAMLRequest generated by the SP.",
      "properties": {
        "x509Certificate": {
          "description": "Self-signed public certificate.",
          "type": "string"
        },
        "expiresAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the cert expiration instance."
        }
      },
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Trigger": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Trigger",
      "description": "Synchronous Cloud Function with HTTP Trigger",
      "properties": {
        "functionUri": {
          "description": "HTTP URI trigger for the Cloud Function.",
          "type": "string"
        },
        "updateTime": {
          "description": "When the trigger was changed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
      "description": "Phone Verification info for a FinalizeMfa request.",
      "properties": {
        "androidVerificationProof": {
          "description": "Android only. Uses for \"instant\" phone number verification though GmsCore.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Required if Android verification proof is presented.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        },
        "code": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse",
      "description": "Response for InitializeIdentityPlatform. Empty for now.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials": {
      "properties": {
        "accessToken": {
          "description": "Whether to pass the user's OAuth identity provider's access token.",
          "type": "boolean"
        },
        "idToken": {
          "description": "Whether to pass the user's OIDC identity provider's ID token.",
          "type": "boolean"
        },
        "refreshToken": {
          "description": "Whether to pass the user's OAuth identity provider's refresh token.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials",
      "description": "Indicates which credentials to pass to the registered Blocking Functions."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo",
      "description": "Mfa request info specific to TOTP auth for StartMfa."
    },
    "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig": {
      "description": "Additional config for Apple for code flow.",
      "id": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig",
      "type": "object",
      "properties": {
        "teamId": {
          "description": "Apple Developer Team ID.",
          "type": "string"
        },
        "privateKey": {
          "description": "Private key used for signing the client secret JWT.",
          "type": "string"
        },
        "keyId": {
          "description": "Key ID for the private key.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2PasswordPolicy": {
      "description": "Configuration for password policy.",
      "id": "GoogleCloudIdentitytoolkitV2PasswordPolicy",
      "type": "object",
      "properties": {
        "enforcementState": {
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "description": "Output only. Which enforcement mode to use for the password policy."
        },
        "schemaVersion": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. schema version number for the password policy"
        },
        "forceUpgradeOnSignin": {
          "description": "Users must have a password compliant with the password policy to sign-in.",
          "type": "boolean"
        },
        "customStrengthOptions": {
          "description": "The custom strength options enforced by the password policy.",
          "$ref": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions"
        },
        "allowedNonAlphanumericCharacters": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Allowed characters which satisfy the non_alphanumeric requirement."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2PhoneNumber": {
      "type": "object",
      "properties": {
        "testPhoneNumbers": {
          "description": "A map of that can be used for phone auth testing.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "enabled": {
          "description": "Whether phone number auth is enabled for the project or not.",
          "type": "boolean"
        }
      },
      "description": "Configuration options related to authenticated a user by their phone number.",
      "id": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber"
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpConfig",
      "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party.",
      "properties": {
        "idpCertificates": {
          "description": "IDP's public keys for verifying signature in the assertions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate"
          }
        },
        "idpEntityId": {
          "description": "Unique identifier for all SAML entities.",
          "type": "string"
        },
        "signRequest": {
          "description": "Indicates if outbounding SAMLRequest should be signed.",
          "type": "boolean"
        },
        "ssoUrl": {
          "description": "URL to send Authentication request to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse",
      "description": "Response for ListInboundSamlConfigs",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "inboundSamlConfigs": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
          },
          "type": "array",
          "description": "The set of configs."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SignInConfig": {
      "type": "object",
      "properties": {
        "email": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Email",
          "description": "Configuration options related to authenticating a user by their email address."
        },
        "anonymous": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Anonymous",
          "description": "Configuration options related to authenticating an anonymous user."
        },
        "allowDuplicateEmails": {
          "description": "Whether to allow more than one account to have the same email.",
          "type": "boolean"
        },
        "hashConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "description": "Output only. Hash config information.",
          "readOnly": true
        },
        "phoneNumber": {
          "description": "Configuration options related to authenticated a user by their phone number.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber"
        }
      },
      "description": "Configuration related to local sign in methods.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SignInConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp",
      "description": "Configuration for SMTP relay",
      "properties": {
        "host": {
          "description": "SMTP relay host",
          "type": "string"
        },
        "securityMode": {
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ],
          "description": "SMTP security mode.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ],
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "SMTP relay port"
        },
        "password": {
          "description": "SMTP relay password",
          "type": "string"
        },
        "senderEmail": {
          "description": "Sender email for the SMTP relay",
          "type": "string"
        },
        "username": {
          "description": "SMTP relay username",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientConfig",
      "description": "Options related to how clients making requests on behalf of a project should be configured.",
      "properties": {
        "permissions": {
          "description": "Configuration related to restricting a user's ability to affect their account.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Permissions"
        },
        "firebaseSubdomain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Firebase subdomain."
        },
        "apiKey": {
          "description": "Output only. API key that can be used when making requests for this project.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType": {
      "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported. See https://openid.net/specs/openid-connect-core-1_0.html#Authentication for a mapping of response type to OAuth 2.0 flow.",
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType",
      "type": "object",
      "properties": {
        "token": {
          "description": "Do not use. The `token` response type is not supported at the moment.",
          "deprecated": true,
          "type": "boolean"
        },
        "code": {
          "description": "If true, authorization code is returned from IdP's authorization endpoint.",
          "type": "boolean"
        },
        "idToken": {
          "description": "If true, ID token is returned from IdP's authorization endpoint.",
          "type": "boolean"
        }
      }
    },
    "GoogleIamV1Binding": {
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
      "description": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number.",
      "properties": {
        "allowlistOnly": {
          "description": "A policy of only allowing regions by explicitly adding them to an allowlist.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly"
        },
        "allowByDefault": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
          "description": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse": {
      "properties": {
        "refreshToken": {
          "description": "Refresh token updated to reflect removal of the second factor.",
          "type": "string"
        },
        "idToken": {
          "description": "ID token updated to reflect removal of the second factor.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse",
      "description": "Withdraws MultiFactorAuth response."
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo": {
      "properties": {
        "verificationCode": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo",
      "description": "TOTP verification info for FinalizeMfaSignInRequest."
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaConfig": {
      "type": "object",
      "properties": {
        "recaptchaKey": {
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\". This will only be returned when the reCAPTCHA enforcement state is AUDIT or ENFORCE on at least one of the reCAPTCHA providers.",
          "type": "string"
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider.",
          "type": "boolean"
        },
        "recaptchaEnforcementState": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
          },
          "description": "The reCAPTCHA enforcement state for the providers that GCIP supports reCAPTCHA protection."
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider.",
          "type": "boolean"
        }
      },
      "description": "Configuration for reCAPTCHA",
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaConfig"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo": {
      "description": "Mfa response info specific to TOTP auth for StartMfa.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "description": "An encoded string that represents the enrollment session.",
          "type": "string"
        },
        "hashingAlgorithm": {
          "description": "The hashing algorithm used to generate the verification code.",
          "type": "string"
        },
        "sharedSecretKey": {
          "description": "A base 32 encoded string that represents the shared TOTP secret. The base 32 encoding is the one specified by [RFC4648#section-6](https://datatracker.ietf.org/doc/html/rfc4648#section-6). (This is the same as the base 32 encoding from [RFC3548#section-5](https://datatracker.ietf.org/doc/html/rfc3548#section-5).)",
          "type": "string"
        },
        "verificationCodeLength": {
          "description": "The length of the verification code that needs to be generated.",
          "format": "int32",
          "type": "integer"
        },
        "finalizeEnrollmentTime": {
          "description": "The time by which the enrollment must finish.",
          "type": "string",
          "format": "google-datetime"
        },
        "periodSec": {
          "description": "Duration in seconds at which the verification code will change.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "description": "Configuration related to quotas.",
      "id": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
      "type": "object",
      "properties": {
        "signUpQuotaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
          "description": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo": {
      "description": "Phone Verification info for a StartMfa response.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest",
      "description": "Starts multi-factor sign-in by sending the multi-factor auth challenge.",
      "properties": {
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "description": "Required. MFA enrollment id from the user's list of current MFA enrollments.",
          "type": "string"
        },
        "phoneSignInInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
          "description": "Verification info to authorize sending an SMS for phone verification."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse": {
      "properties": {
        "refreshToken": {
          "description": "Refresh token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "totpAuthInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo",
          "description": "Auxiliary auth info specific to TOTP auth."
        },
        "idToken": {
          "description": "ID token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "phoneAuthInfo": {
          "description": "Auxiliary auth info specific to phone auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse",
      "description": "FinalizeMfaEnrollment response."
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is iOS.",
            "Client type is Android."
          ],
          "description": "The client's platform type.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "WEB",
            "IOS",
            "ANDROID"
          ]
        },
        "key": {
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\"",
          "type": "string"
        }
      },
      "description": "The reCAPTCHA key config. reCAPTCHA Enterprise offers different keys for different client platforms.",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
    },
    "GoogleCloudIdentitytoolkitAdminV2Config": {
      "properties": {
        "client": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientConfig",
          "description": "Options related to how clients making requests on behalf of a project should be configured."
        },
        "defaultHostingSite": {
          "description": "Output only. Default Firebase hosting site name",
          "readOnly": true,
          "type": "string"
        },
        "smsRegionConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
          "description": "Configures which regions are enabled for SMS verification code sending."
        },
        "monitoring": {
          "description": "Configuration related to monitoring project activity.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "signIn": {
          "description": "Configuration related to local sign in methods.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SignInConfig"
        },
[...]
