{
  "name": "identitytoolkit",
  "discoveryVersion": "v1",
  "version": "v3",
  "title": "Google Identity Toolkit API",
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "canonicalName": "Identity Toolkit",
  "ownerDomain": "google.com",
  "id": "identitytoolkit:v3",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "schemas": {
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "properties": {
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "memoryCost": {
          "format": "int32",
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms."
        },
        "rounds": {
          "format": "int32",
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms."
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "users": {
          "type": "array",
          "description": "The account info to be stored.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "cpuMemCost": {
          "format": "int32",
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm."
        },
        "saltSeparator": {
          "format": "byte",
          "type": "string",
          "description": "The salt separator."
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "signerKey": {
          "format": "byte",
          "type": "string",
          "description": "The key for to hash the password."
        }
      },
      "type": "object",
      "description": "Request to upload user account in batch."
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "type": "object",
      "description": "Request to verify the password.",
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "properties": {
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        }
      }
    },
    "ResetPasswordResponse": {
      "type": "object",
      "description": "Response of resetting the password.",
      "id": "ResetPasswordResponse",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\".",
          "default": "identitytoolkit#ResetPasswordResponse"
        },
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        }
      }
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "properties": {
        "newPassword": {
          "type": "string",
          "description": "The new password inputted by the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        }
      },
      "type": "object",
      "description": "Request to reset the password."
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "properties": {
        "idpConfig": {
          "type": "array",
          "description": "Oauth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether to enable anonymous user."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        }
      },
      "type": "object",
      "description": "Request to set the project configuration."
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "properties": {
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "type": "string",
          "description": "Privileged caller can create user with specified user id."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "properties": {
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          }
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "idpConfig": {
          "type": "array",
          "description": "OAuth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled."
        },
        "dynamicLinksDomain": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response of getting the project configuration."
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "type": "object",
      "description": "Request to verify a custom token",
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        }
      }
    },
    "DeleteAccountResponse": {
      "type": "object",
      "description": "Respone of deleting account.",
      "id": "DeleteAccountResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "default": "identitytoolkit#DeleteAccountResponse"
        }
      }
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      }
    },
    "GetAccountInfoResponse": {
      "type": "object",
      "description": "Response of getting account information.",
      "id": "GetAccountInfoResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\".",
          "default": "identitytoolkit#GetAccountInfoResponse"
        },
        "users": {
          "type": "array",
          "description": "The info of the users.",
          "items": {
            "$ref": "UserInfo"
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "type": "object",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "properties": {
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "verificationProof": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "phoneNumber": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "localId": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        }
      }
    },
    "UploadAccountResponse": {
      "id": "UploadAccountResponse",
      "properties": {
        "error": {
          "type": "array",
          "description": "The error encountered while processing the account info.",
          "items": {
            "properties": {
              "index": {
                "format": "int32",
                "type": "integer",
                "description": "The index of the malformed account, starting from 0."
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\".",
          "default": "identitytoolkit#UploadAccountResponse"
        }
      },
      "type": "object",
      "description": "Respone of uploading accounts in batch."
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "type": "object",
      "description": "Respone of getting public keys.",
      "additionalProperties": {
        "type": "string"
      },
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "properties": {
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        }
      },
      "type": "object",
      "description": "Request for Identitytoolkit-SendVerificationCode"
    },
    "VerifyCustomTokenResponse": {
      "type": "object",
      "description": "Response from verifying a custom token",
      "id": "VerifyCustomTokenResponse",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "default": "identitytoolkit#VerifyCustomTokenResponse"
        }
      }
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "type": "object",
      "description": "Request to download user account in batch.",
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "properties": {
        "maxResults": {
          "format": "uint32",
          "type": "integer",
          "description": "The max number of results to return in the response."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "type": "object",
      "description": "Request to set the account information.",
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "properties": {
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "lastLoginAt": {
          "format": "int64",
          "type": "string",
          "description": "Last login timestamp."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "deleteAttribute": {
          "type": "array",
          "description": "The attributes users request to delete.",
          "items": {
            "type": "string"
          }
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "deleteProvider": {
          "type": "array",
          "description": "The IDPs the user request to delete.",
          "items": {
            "type": "string"
          }
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "provider": {
          "type": "array",
          "description": "The associated IDPs of the user.",
          "items": {
            "type": "string"
          }
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp when the account is created."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        }
      }
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        }
      },
      "type": "object",
      "description": "Request to delete account."
    },
    "VerifyAssertionResponse": {
      "type": "object",
      "description": "Response of verifying the IDP assertion.",
      "id": "VerifyAssertionResponse",
      "properties": {
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "appScheme": {
          "type": "string",
          "description": "The custom scheme used by mobile app."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "nickName": {
          "type": "string",
          "description": "The nick name of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "verifiedProvider": {
          "type": "array",
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "default": "identitytoolkit#VerifyAssertionResponse"
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "appInstallationUrl": {
          "type": "string",
          "description": "URL for OTA app installation."
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned."
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "It's true if the email is recycled."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email."
        },
        "action": {
          "type": "string",
          "description": "The action code."
        }
      }
    },
    "IdpConfig": {
      "type": "object",
      "description": "Template for a single idp configuration.",
      "id": "IdpConfig",
      "properties": {
        "experimentPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Percent of users who will be prompted/redirected federated login for this IDP."
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "whitelistedAudiences": {
          "type": "array",
          "description": "Whitelisted client IDs for audience check.",
          "items": {
            "type": "string"
          }
        },
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        }
      }
    },
    "GetRecaptchaParamResponse": {
      "type": "object",
      "description": "Response of getting recaptcha param.",
      "id": "GetRecaptchaParamResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "default": "identitytoolkit#GetRecaptchaParamResponse"
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "properties": {
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "lastLoginAt": {
          "format": "int64",
          "type": "string",
          "description": "last login timestamp."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The IDP of the user.",
          "items": {
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              }
            },
            "type": "object"
          }
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp when the password was last updated.",
          "format": "double"
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "User creation timestamp."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "salt": {
          "format": "byte",
          "type": "string",
          "description": "The user's password salt."
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Version of the user's password."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        }
      },
      "type": "object",
      "description": "Template for an individual account info."
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        }
      },
      "type": "object",
      "description": "Request to sign out user."
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "type": "object",
      "description": "Request to sign in with email.",
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "email": {
          "type": "array",
          "description": "The list of emails of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "localId": {
          "type": "array",
          "description": "The list of local ID's of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "phoneNumber": {
          "type": "array",
          "description": "Privileged caller can query users by specified phone number.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request to get the account information."
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "type": "object",
      "description": "Response of signing out user.",
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "DownloadAccountResponse": {
      "id": "DownloadAccountResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "default": "identitytoolkit#DownloadAccountResponse"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        },
        "users": {
          "type": "array",
          "description": "The user accounts data.",
          "items": {
            "$ref": "UserInfo"
          }
        }
      },
      "type": "object",
      "description": "Response of downloading accounts in batch."
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "properties": {
        "verificationProof": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        },
        "operation": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber"
    },
    "EmailLinkSigninResponse": {
      "id": "EmailLinkSigninResponse",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "Expiration time of STS id token in seconds."
        },
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "The refresh token for the signed in user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "default": "identitytoolkit#EmailLinkSigninResponse"
        }
      },
      "type": "object",
      "description": "Response of email signIn."
    },
    "GetOobConfirmationCodeResponse": {
      "id": "GetOobConfirmationCodeResponse",
      "properties": {
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        },
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse"
        }
      },
      "type": "object",
      "description": "Response of getting a code for user confirmation (reset password, change email etc.)."
    },
    "SetAccountInfoResponse": {
      "id": "SetAccountInfoResponse",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "default": "identitytoolkit#SetAccountInfoResponse"
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The user's profiles at the associated IdPs.",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              }
            }
          }
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "passwordHash": {
          "type": "string",
          "description": "The user's hashed password.",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "Respone of setting the account information."
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "properties": {
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        }
      },
      "type": "object",
      "description": "Request to verify the IDP assertion."
    },
    "VerifyPasswordResponse": {
      "id": "VerifyPasswordResponse",
      "properties": {
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "oauthExpireIn": {
          "format": "int32",
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\".",
          "default": "identitytoolkit#VerifyPasswordResponse"
        }
      },
      "type": "object",
      "description": "Request of verifying the password."
    },
    "EmailTemplate": {
      "type": "object",
      "description": "Template for an email template.",
      "id": "EmailTemplate",
      "properties": {
        "body": {
          "type": "string",
          "description": "Email body."
        },
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name."
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        }
      }
    },
    "SignupNewUserResponse": {
      "type": "object",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "id": "SignupNewUserResponse",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "default": "identitytoolkit#SignupNewUserResponse"
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "type": "object",
      "description": "Response of setting the project configuration.",
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      }
    },
    "CreateAuthUriResponse": {
      "id": "CreateAuthUriResponse",
      "properties": {
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "allProviders": {
          "type": "array",
          "description": "all providers the user has once used to do federated login",
          "items": {
            "type": "string"
          }
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID which should be passed in the following verifyAssertion request."
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "signinMethods": {
          "type": "array",
          "description": "All sign-in methods this user has used.",
          "items": {
            "type": "string"
          }
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "True if captcha is required."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "default": "identitytoolkit#CreateAuthUriResponse"
        }
      },
      "type": "object",
      "description": "Response of creating the IDP authentication URL."
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "properties": {
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#relyingparty\".",
          "default": "identitytoolkit#relyingparty"
        }
      },
      "type": "object",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)"
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "type": "object",
      "description": "Request to get the IDP authentication URL.",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        },
        "customParameter": {
          "type": "object",
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.",
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          }
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "authFlowType": {
          "type": "string",
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider."
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        }
      }
    }
  },
  "protocol": "rest",
  "resources": {
    "relyingparty": {
      "methods": {
        "getOobConfirmationCode": {
          "description": "Get a code for user action confirmation.",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Relyingparty"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "path": "getOobConfirmationCode"
        },
        "resetPassword": {
          "httpMethod": "POST",
          "description": "Reset password for a user.",
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "id": "identitytoolkit.relyingparty.resetPassword",
          "path": "resetPassword"
        },
        "createAuthUri": {
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "path": "createAuthUri",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "deleteAccount": {
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "path": "deleteAccount",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "description": "Delete user account.",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "emailLinkSignin": {
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "path": "emailLinkSignin",
          "description": "Reset password for a user.",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "httpMethod": "POST"
        },
        "downloadAccount": {
          "description": "Batch download user accounts.",
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "path": "downloadAccount"
        },
        "getPublicKeys": {
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "path": "publicKeys",
          "description": "Get token signing public key.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET"
        },
        "signupNewUser": {
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "description": "Signup new user.",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "path": "signupNewUser"
        },
        "setAccountInfo": {
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "path": "setAccountInfo",
          "description": "Set account info for a user.",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "httpMethod": "POST"
        },
        "signOutUser": {
          "httpMethod": "POST",
          "description": "Sign out user.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "id": "identitytoolkit.relyingparty.signOutUser",
          "path": "signOutUser"
        },
        "verifyAssertion": {
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "path": "verifyAssertion",
          "httpMethod": "POST",
          "description": "Verifies the assertion returned by the IdP.",
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          }
        },
        "setProjectConfig": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "description": "Set project configuration.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "path": "setProjectConfig"
        },
        "uploadAccount": {
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "path": "uploadAccount",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "description": "Batch upload existing user accounts.",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "POST"
        },
        "verifyPassword": {
          "httpMethod": "POST",
          "description": "Verifies the user entered password.",
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "path": "verifyPassword"
        },
        "getProjectConfig": {
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "path": "getProjectConfig",
          "parameters": {
            "delegatedProjectNumber": {
              "location": "query",
              "type": "string",
              "description": "Delegated GCP project number of the request."
            },
            "projectNumber": {
              "location": "query",
              "type": "string",
              "description": "GCP project number of the request."
            }
          },
          "httpMethod": "GET",
          "description": "Get project configuration.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getRecaptchaParam": {
          "description": "Get recaptcha secure param.",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "path": "getRecaptchaParam"
        },
        "verifyCustomToken": {
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "description": "Verifies the developer asserted ID token.",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "path": "verifyCustomToken"
        },
        "verifyPhoneNumber": {
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "path": "verifyPhoneNumber"
        },
        "getAccountInfo": {
          "description": "Returns the account info.",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "path": "getAccountInfo"
        },
        "sendVerificationCode": {
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "path": "sendVerificationCode",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "description": "Send SMS verification code.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "kind": "discovery#restDescription",
  "description": "Help the third party sites to implement federated login.",
  "batchPath": "batch/identitytoolkit/v3",
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "enum": [
        "json"
      ],
      "type": "string",
      "description": "Data format for the response.",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    }
  },
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "revision": "20180723",
  "rootUrl": "https://www.googleapis.com/",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "ownerName": "Google"
}