{
  "basePath": "",
  "protocol": "rest",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "name": "identitytoolkit",
  "version": "v2",
  "title": "Identity Toolkit API",
  "id": "identitytoolkit:v2",
  "version_module": true,
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "canonicalName": "Identity Toolkit",
  "schemas": {
    "GoogleCloudIdentitytoolkitAdminV2Anonymous": {
      "type": "object",
      "description": "Configuration options related to authenticating an anonymous user.",
      "properties": {
        "enabled": {
          "description": "Whether anonymous user auth is enabled for the project or not.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Anonymous"
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse": {
      "description": "Withdraws MultiFactorAuth response.",
      "properties": {
        "idToken": {
          "description": "ID token updated to reflect removal of the second factor.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token updated to reflect removal of the second factor."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientConfig": {
      "description": "Options related to how clients making requests on behalf of a project should be configured.",
      "properties": {
        "permissions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Permissions",
          "description": "Configuration related to restricting a user's ability to affect their account."
        },
        "firebaseSubdomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Firebase subdomain."
        },
        "apiKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API key that can be used when making requests for this project."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientConfig"
    },
    "GoogleCloudIdentitytoolkitV2CustomStrengthOptions": {
      "id": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions",
      "type": "object",
      "description": "Custom strength options to enforce on user passwords.",
      "properties": {
        "minPasswordLength": {
          "description": "Minimum password length. Range from 6 to 30",
          "type": "integer",
          "format": "int32"
        },
        "containsUppercaseCharacter": {
          "type": "boolean",
          "description": "The password must contain an upper case character."
        },
        "maxPasswordLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum password length. No default max length"
        },
        "containsNonAlphanumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a non alpha numeric character."
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "containsNumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a number."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpConfig": {
      "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party.",
      "properties": {
        "idpCertificates": {
          "type": "array",
          "description": "IDP's public keys for verifying signature in the assertions.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate"
          }
        },
        "signRequest": {
          "description": "Indicates if outbounding SAMLRequest should be signed.",
          "type": "boolean"
        },
        "idpEntityId": {
          "description": "Unique identifier for all SAML entities.",
          "type": "string"
        },
        "ssoUrl": {
          "description": "URL to send Authentication request to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SendEmail",
      "type": "object",
      "description": "Options for email sending.",
      "properties": {
        "method": {
          "description": "The method used for sending an email.",
          "type": "string",
          "enumDescriptions": [
            "Email method unspecified.",
            "Sending email on behalf of developer.",
            "Sending email using SMTP configuration provided by developers."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM_SMTP"
          ]
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "changeEmailTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Email template for change email"
        },
        "revertSecondFactorAdditionTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Email template for reverting second factor addition emails"
        },
        "smtp": {
          "description": "Use a custom SMTP relay",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Smtp"
        },
        "legacyResetPasswordTemplate": {
          "description": "Reset password email template for legacy Firebase V1 app.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "dnsInfo": {
          "description": "Information of custom domain DNS verification.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2DnsInfo"
        },
        "callbackUri": {
          "type": "string",
          "description": "action url in email template."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
      "description": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number.",
      "properties": {
        "allowByDefault": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
          "description": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list."
        },
        "allowlistOnly": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
          "description": "A policy of only allowing regions by explicitly adding them to an allowlist."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2DnsInfo": {
      "id": "GoogleCloudIdentitytoolkitAdminV2DnsInfo",
      "description": "Information of custom domain DNS verification. By default, default_domain will be used. A custom domain can be configured using VerifyCustomDomain.",
      "properties": {
        "useCustomDomain": {
          "description": "Whether to use custom domain.",
          "type": "boolean"
        },
        "customDomainState": {
          "description": "Output only. The current verification state of the custom domain. The custom domain will only be used once the domain verification is successful.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "The verification has not started.",
            "The verification is in progress.",
            "The verification failed.",
            "The verification succeeded and is ready to be applied."
          ],
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "domainVerificationRequestTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of initial request for the current domain verification."
        },
        "pendingCustomDomain": {
          "description": "Output only. The custom domain that's to be verified.",
          "readOnly": true,
          "type": "string"
        },
        "customDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The applied verified custom domain."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse": {
      "description": "Response for ListDefaultSupportedIdps",
      "properties": {
        "defaultSupportedIdps": {
          "type": "array",
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse"
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest": {
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest",
      "description": "Withdraws MFA.",
      "properties": {
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "Required. MFA enrollment id from a current MFA enrollment."
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant that the user unenrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse",
      "description": "Response for DefaultSupportedIdpConfigs",
      "properties": {
        "defaultSupportedIdpConfigs": {
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Permissions": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Permissions",
      "type": "object",
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "properties": {
        "disabledUserSignup": {
          "type": "boolean",
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods"
        },
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo": {
      "id": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo",
      "description": "The information required to auto-retrieve an SMS.",
      "properties": {
        "appSignatureHash": {
          "type": "string",
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig": {
      "description": "Configuration related to multi-tenant functionality.",
      "properties": {
        "allowTenants": {
          "type": "boolean",
          "description": "Whether this project can have tenants or not."
        },
        "defaultTenantLocation": {
          "description": "The default cloud parent org or folder that the tenant project should be created under. The parent resource name should be in the format of \"/\", such as \"folders/123\" or \"organizations/456\". If the value is not set, the tenant will be created under the same organization or folder as the agent project.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig": {
      "description": "A pair of SAML RP-IDP configurations when the project acts as the relying party.",
      "properties": {
        "idpConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpConfig",
          "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party."
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "spConfig": {
          "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SpConfig"
        },
        "name": {
          "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "displayName": {
          "description": "The config's display name set by developers.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "id": "GoogleIamV1GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SpCertificate": {
      "description": "The SP's certificate data for IDP to verify the SAMLRequest generated by the SP.",
      "properties": {
        "x509Certificate": {
          "description": "Self-signed public certificate.",
          "type": "string"
        },
        "expiresAt": {
          "type": "string",
          "description": "Timestamp of the cert expiration instance.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SpCertificate"
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp": {
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp",
      "description": "Standard Identity Toolkit-trusted IDPs.",
      "properties": {
        "idpId": {
          "type": "string",
          "description": "Id the of Idp"
        },
        "description": {
          "description": "Description of the Idp",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
      "description": "Configuration related to quotas.",
      "properties": {
        "signUpQuotaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
          "description": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
      "type": "object",
      "description": "Phone Verification info for a FinalizeMfa response.",
      "properties": {
        "androidVerificationProof": {
          "description": "Android only. Long-lived replacement for valid code tied to android device.",
          "type": "string"
        },
        "androidVerificationProofExpireTime": {
          "format": "google-datetime",
          "description": "Android only. Expiration time of verification proof in seconds.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "For Android verification proof.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaConfig": {
      "type": "object",
      "description": "Configuration for reCAPTCHA",
      "properties": {
        "recaptchaKey": {
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\". This will only be returned when the reCAPTCHA enforcement state is AUDIT or ENFORCE on at least one of the reCAPTCHA providers.",
          "type": "string"
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider.",
          "type": "boolean"
        },
        "recaptchaEnforcementState": {
          "description": "The reCAPTCHA enforcement state for the providers that GCIP supports reCAPTCHA protection.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
          },
          "type": "array"
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaConfig"
    },
    "GoogleIamV1GetPolicyOptions": {
      "id": "GoogleIamV1GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "description": "Configuration for SMTP relay",
      "properties": {
        "port": {
          "type": "integer",
          "description": "SMTP relay port",
          "format": "int32"
        },
        "password": {
          "type": "string",
          "description": "SMTP relay password"
        },
        "senderEmail": {
          "type": "string",
          "description": "Sender email for the SMTP relay"
        },
        "username": {
          "type": "string",
          "description": "SMTP relay username"
        },
        "securityMode": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ],
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ],
          "description": "SMTP security mode."
        },
        "host": {
          "description": "SMTP relay host",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse",
      "description": "Response message for ListTenants.",
      "properties": {
        "tenants": {
          "description": "A list of tenants under the given agent project.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to get the next page of results."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsTemplate": {
      "type": "object",
      "description": "The template to use when sending an SMS.",
      "properties": {
        "content": {
          "description": "Output only. The SMS's content. Can contain the following placeholders which will be replaced with the appropriate values: %APP_NAME% - For Android or iOS apps, the app's display name. For web apps, the domain hosting the application. %LOGIN_CODE% - The OOB code being sent in the SMS.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate"
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse",
      "type": "object",
      "description": "Response for InitializeIdentityPlatform. Empty for now.",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig",
      "description": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs.",
      "properties": {
        "clientId": {
          "description": "OAuth client ID.",
          "type": "string"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "clientSecret": {
          "description": "OAuth client secret.",
          "type": "string"
        },
        "appleSignInConfig": {
          "description": "Additional config for Apple-based projects.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig"
        },
        "name": {
          "type": "string",
          "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2NotificationConfig": {
      "description": "Configuration related to sending notifications to users.",
      "properties": {
        "defaultLocale": {
          "type": "string",
          "description": "Default locale used for email and SMS in IETF BCP 47 format."
        },
        "sendEmail": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendEmail",
          "description": "Options for email sending."
        },
        "sendSms": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendSms",
          "description": "Options for SMS sending."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo": {
      "type": "object",
      "description": "Phone Verification info for a StartMfa response.",
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
    },
    "GoogleCloudIdentitytoolkitAdminV2Tenant": {
      "type": "object",
      "description": "A Tenant contains configuration for the tenant in a multi-tenant project.",
      "properties": {
        "allowPasswordSignup": {
          "description": "Whether to allow email/password user authentication.",
          "type": "boolean"
        },
        "mfaConfig": {
          "description": "The tenant-level configuration of MFA options.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\""
        },
        "displayName": {
          "description": "Display name of the tenant.",
          "type": "string"
        },
        "enableEmailLinkSignin": {
          "description": "Whether to enable email link user authentication.",
          "type": "boolean"
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig"
        },
        "mobileLinksConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
          "deprecated": true,
          "description": "Optional. Deprecated. Never launched. Configuration for settings related to univeral links (iOS) and app links (Android)."
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "testPhoneNumbers": {
          "description": "A map of pairs that can be used for MFA. The phone number should be in E.164 format (https://www.itu.int/rec/T-REC-E.164/) and a maximum of 10 pairs can be added (error will be thrown once exceeded).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "recaptchaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
          "description": "The tenant-level reCAPTCHA config."
        },
        "passwordPolicyConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
          "description": "The tenant-level password policy config"
        },
        "disableAuth": {
          "description": "Whether authentication is disabled for the tenant. If true, the users under the disabled tenant are not allowed to sign-in. Admins of the disabled tenant are not able to manage its users.",
          "type": "boolean"
        },
        "smsRegionConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
          "description": "Configures which regions are enabled for SMS verification code sending."
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user authentication.",
          "type": "boolean"
        },
        "autodeleteAnonymousUsers": {
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days.",
          "type": "boolean"
        },
        "inheritance": {
          "description": "Specify the settings that the tenant could inherit.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Inheritance"
        },
        "monitoring": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
          "description": "Configuration related to monitoring project activity."
        },
        "hashConfig": {
          "readOnly": true,
          "description": "Output only. Hash config information of a tenant for display on Pantheon. This can only be displayed on Pantheon to avoid the sensitive information to get accidentally leaked. Only returned in GetTenant response to restrict reading of this information. Requires firebaseauth.configs.getHashConfig permission on the agent project for returning this field.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Tenant"
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType": {
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType",
      "type": "object",
      "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported. See https://openid.net/specs/openid-connect-core-1_0.html#Authentication for a mapping of response type to OAuth 2.0 flow.",
      "properties": {
        "idToken": {
          "description": "If true, ID token is returned from IdP's authorization endpoint.",
          "type": "boolean"
        },
        "code": {
          "description": "If true, authorization code is returned from IdP's authorization endpoint.",
          "type": "boolean"
        },
        "token": {
          "deprecated": true,
          "type": "boolean",
          "description": "Do not use. The `token` response type is not supported at the moment."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo",
      "type": "object",
      "description": "Mfa request info specific to TOTP auth for FinalizeMfa.",
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        },
        "verificationCode": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ProviderConfig": {
      "description": "ProviderConfig describes the supported MFA providers along with their configurations.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project.",
            "Multi-factor authentication can be used for this project.",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "enum": [
            "MFA_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "description": "Describes the state of the MultiFactor Authentication type."
        },
        "totpProviderConfig": {
          "description": "TOTP MFA provider config for this project.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig": {
      "type": "object",
      "description": "Configuration mobile links.",
      "properties": {
        "domain": {
          "description": "Open code in app domain to use for app links and universal links.",
          "type": "string",
          "enumDescriptions": [
            "Default value. The default domain is the Firebase Dynamic Link domain before the FDL deprecation and the hosting domain after the FDL deprecation.",
            "Use Firebase Dynamic Link domain as app link domain. Default value.",
            "Use hosting domain as app link domain."
          ],
          "enum": [
            "DOMAIN_UNSPECIFIED",
            "FIREBASE_DYNAMIC_LINK_DOMAIN",
            "HOSTING_DOMAIN"
          ]
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailTemplate": {
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
      "type": "object",
      "description": "Email template. The subject and body fields can contain the following placeholders which will be replaced with the appropriate values: %LINK% - The link to use to redeem the send OOB code. %EMAIL% - The email where the email is being sent. %NEW_EMAIL% - The new email being set for the account (when applicable). %APP_NAME% - The Google Cloud project's display name. %DISPLAY_NAME% - The user's display name.",
      "properties": {
        "senderDisplayName": {
          "type": "string",
          "description": "Sender display name"
        },
        "body": {
          "type": "string",
          "description": "Email body"
        },
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        },
        "customized": {
          "description": "Output only. Whether the body or subject of the email is customized.",
          "readOnly": true,
          "type": "boolean"
        },
        "senderLocalPart": {
          "type": "string",
          "description": "Local part of From address"
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email"
        },
        "bodyFormat": {
          "description": "Email body format",
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Plain text",
            "HTML"
          ],
          "enum": [
            "BODY_FORMAT_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
      "type": "object",
      "description": "History information of the hash algorithm and key. Different accounts' passwords may be generated by different version.",
      "properties": {
        "memoryCost": {
          "description": "Output only. Memory cost for hash calculation. Used by scrypt and other similar password derivation algorithms. See https://tools.ietf.org/html/rfc7914 for explanation of field.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "algorithm": {
          "enum": [
            "HASH_ALGORITHM_UNSPECIFIED",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "description": "Output only. Different password hash algorithms used in Identity Toolkit.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ]
        },
        "signerKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Signer key in base64."
        },
        "saltSeparator": {
          "description": "Output only. Non-printable character to be inserted between the salt and plain text password in base64.",
          "readOnly": true,
          "type": "string"
        },
        "rounds": {
          "format": "int32",
          "description": "Output only. How many rounds for hash calculation. Used by scrypt and other similar password derivation algorithms.",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig": {
      "description": "The reCAPTCHA Enterprise integration config.",
      "properties": {
        "useAccountDefender": {
          "description": "Whether to use the account defender for reCAPTCHA assessment. Defaults to `false`.",
          "type": "boolean"
        },
        "phoneEnforcementState": {
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "description": "The reCAPTCHA config for phone provider, containing the enforcement status. The phone provider contains all SMS related user flows protected by reCAPTCHA."
        },
        "managedRules": {
          "type": "array",
          "description": "The managed rules for authentication action based on reCAPTCHA scores. The rules are shared across providers for a given tenant project.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
          }
        },
        "emailPasswordEnforcementState": {
          "description": "The reCAPTCHA config for email/password provider, containing the enforcement status. The email/password provider contains all email related user flows protected by reCAPTCHA.",
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ]
        },
        "recaptchaKeys": {
          "type": "array",
          "description": "The reCAPTCHA keys.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
          }
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        },
        "tollFraudManagedRules": {
          "description": "The managed rules for the authentication action based on reCAPTCHA toll fraud risk scores. Toll fraud managed rules will only take effect when the phone_enforcement_state is AUDIT or ENFORCE and use_sms_toll_fraud_protection is true.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule"
          },
          "type": "array"
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig",
      "type": "object",
      "description": "Additional config for SignInWithApple.",
      "properties": {
        "codeFlowConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig",
          "description": "Additional config for Apple for code flow."
        },
        "bundleIds": {
          "type": "array",
          "description": "A list of Bundle ID's usable by this project",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse",
      "type": "object",
      "description": "FinalizeMfaSignIn response.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "ID token for the authenticated user."
        },
        "phoneAuthInfo": {
          "description": "Extra phone auth info, including android verification proof.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo": {
      "type": "object",
      "description": "Mfa request info specific to TOTP auth for StartMfa.",
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo",
      "description": "Mfa response info specific to TOTP auth for FinalizeMfa.",
      "properties": {},
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Config": {
      "description": "Represents an Identity Toolkit project.",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "IDENTITY_PLATFORM",
            "FIREBASE_AUTH"
          ],
          "description": "Output only. The subtype of this config.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "An Identity Platform project.",
            "A Firebase Authentication project."
          ]
        },
        "recaptchaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
          "description": "The project-level reCAPTCHA config."
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "mobileLinksConfig": {
          "description": "Configuration for settings related to univeral links (iOS) and app links (Android).",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig"
        },
        "client": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientConfig",
          "description": "Options related to how clients making requests on behalf of a project should be configured."
        },
        "passwordPolicyConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
          "description": "The project level password policy configuration."
        },
        "blockingFunctions": {
          "description": "Configuration related to blocking functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig"
        },
        "signIn": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SignInConfig",
          "description": "Configuration related to local sign in methods."
        },
        "notification": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig",
          "description": "Configuration related to sending notifications to users."
        },
        "name": {
          "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\"",
          "readOnly": true,
          "type": "string"
        },
        "quota": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
          "description": "Configuration related to quotas."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "List of domains authorized for OAuth redirects",
          "items": {
            "type": "string"
          }
        },
        "mfa": {
          "description": "Configuration for this project's multi-factor authentication, including whether it is active and what factors can be used for the second factor",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        },
        "monitoring": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
          "description": "Configuration related to monitoring project activity."
        },
        "autodeleteAnonymousUsers": {
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days.",
          "type": "boolean"
        },
        "smsRegionConfig": {
          "description": "Configures which regions are enabled for SMS verification code sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
        },
        "defaultHostingSite": {
          "description": "Output only. Default Firebase hosting site name",
          "readOnly": true,
          "type": "string"
        },
        "multiTenant": {
          "description": "Configuration related to multi-tenant functionality.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Config"
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpCertificate": {
      "description": "The IDP's certificate data to verify the signature in the SAMLResponse issued by the IDP.",
      "properties": {
        "x509Certificate": {
          "description": "The x509 certificate",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate"
    },
    "GoogleCloudIdentitytoolkitV2PasswordPolicy": {
      "type": "object",
      "description": "Configuration for password policy.",
      "properties": {
        "forceUpgradeOnSignin": {
          "type": "boolean",
          "description": "Users must have a password compliant with the password policy to sign-in."
        },
        "allowedNonAlphanumericCharacters": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Allowed characters which satisfy the non_alphanumeric requirement.",
          "items": {
            "type": "string"
          }
        },
        "customStrengthOptions": {
          "description": "The custom strength options enforced by the password policy.",
          "$ref": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions"
        },
        "enforcementState": {
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "description": "Output only. Which enforcement mode to use for the password policy."
        },
        "schemaVersion": {
          "format": "int32",
          "description": "Output only. schema version number for the password policy",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2PasswordPolicy"
    },
    "GoogleCloudIdentitytoolkitAdminV2RequestLogging": {
      "description": "Configuration for logging requests made to this project to Stackdriver Logging",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether logging is enabled for this project or not."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2RequestLogging"
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig",
      "type": "object",
      "description": "Configuration options for authenticating with an OAuth IDP.",
      "properties": {
        "responseType": {
          "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType"
        },
        "enabled": {
          "type": "boolean",
          "description": "True if allows the user to sign in with the provider."
        },
        "clientId": {
          "type": "string",
          "description": "The client id of an OAuth client."
        },
        "issuer": {
          "type": "string",
          "description": "For OIDC Idps, the issuer identifier."
        },
        "name": {
          "type": "string",
          "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests."
        },
        "displayName": {
          "type": "string",
          "description": "The config's display name set by developers."
        },
        "clientSecret": {
          "type": "string",
          "description": "The client secret of the OAuth client, to enable OIDC code flow."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig": {
      "type": "object",
      "description": "The configuration for the password policy on the project.",
      "properties": {
        "passwordPolicyVersions": {
          "description": "Must be of length 1. Contains the strength attributes for the password policy.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
          },
          "type": "array"
        },
        "passwordPolicyEnforcementState": {
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "enum": [
            "PASSWORD_POLICY_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "description": "Which enforcement mode to use for the password policy."
        },
        "forceUpgradeOnSignin": {
          "description": "Users must have a password compliant with the password policy to sign-in.",
          "type": "boolean"
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the password policy on the project was updated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey": {
      "description": "The reCAPTCHA key config. reCAPTCHA Enterprise offers different keys for different client platforms.",
      "properties": {
        "key": {
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\"",
          "type": "string"
        },
        "type": {
          "description": "The client's platform type.",
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is iOS.",
            "Client type is Android."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "WEB",
            "IOS",
            "ANDROID"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
    },
    "GoogleIamV1AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse",
      "description": "Response for ListInboundSamlConfigs",
      "properties": {
        "inboundSamlConfigs": {
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2PhoneNumber": {
      "id": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber",
      "description": "Configuration options related to authenticated a user by their phone number.",
      "properties": {
        "enabled": {
          "description": "Whether phone number auth is enabled for the project or not.",
          "type": "boolean"
        },
        "testPhoneNumbers": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of that can be used for phone auth testing."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule": {
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule",
      "description": "The config for a reCAPTCHA managed rule. Models a single interval [start_score, end_score]. The start_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping.",
      "properties": {
        "endScore": {
          "type": "number",
          "description": "The end score (inclusive) of the score range for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the riskiest request (likely a bot), whereas 1.0 indicates the safest request (likely a human). See https://cloud.google.com/recaptcha-enterprise/docs/interpret-assessment.",
          "format": "float"
        },
        "action": {
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score].",
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ],
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions",
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "properties": {
        "disabledUserSignup": {
          "type": "boolean",
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods"
        },
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo": {
      "description": "Mfa response info specific to TOTP auth for StartMfa.",
      "properties": {
        "periodSec": {
          "format": "int32",
          "description": "Duration in seconds at which the verification code will change.",
          "type": "integer"
        },
        "finalizeEnrollmentTime": {
          "format": "google-datetime",
          "description": "The time by which the enrollment must finish.",
          "type": "string"
        },
        "verificationCodeLength": {
          "format": "int32",
          "description": "The length of the verification code that needs to be generated.",
          "type": "integer"
        },
        "sessionInfo": {
          "type": "string",
          "description": "An encoded string that represents the enrollment session."
        },
        "sharedSecretKey": {
          "description": "A base 32 encoded string that represents the shared TOTP secret. The base 32 encoding is the one specified by [RFC4648#section-6](https://datatracker.ietf.org/doc/html/rfc4648#section-6). (This is the same as the base 32 encoding from [RFC3548#section-5](https://datatracker.ietf.org/doc/html/rfc3548#section-5).)",
          "type": "string"
        },
        "hashingAlgorithm": {
          "description": "The hashing algorithm used to generate the verification code.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials",
      "description": "Indicates which credentials to pass to the registered Blocking Functions.",
      "properties": {
        "refreshToken": {
          "description": "Whether to pass the user's OAuth identity provider's refresh token.",
          "type": "boolean"
        },
        "accessToken": {
          "type": "boolean",
          "description": "Whether to pass the user's OAuth identity provider's access token."
        },
        "idToken": {
          "type": "boolean",
          "description": "Whether to pass the user's OIDC identity provider's ID token."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SendSms": {
      "description": "Options for SMS sending.",
      "properties": {
        "useDeviceLocale": {
          "description": "Whether to use the accept_language header for SMS.",
          "type": "boolean"
        },
        "smsTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate",
          "description": "Output only. The template to use when sending an SMS.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendSms"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest",
      "type": "object",
      "description": "Sends MFA enrollment verification SMS for a user.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "Required. User's ID token."
        },
        "phoneEnrollmentInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        },
        "totpEnrollmentInfo": {
          "description": "Sign-in info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SignInConfig": {
      "description": "Configuration related to local sign in methods.",
      "properties": {
        "hashConfig": {
          "readOnly": true,
          "description": "Output only. Hash config information.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig"
        },
        "phoneNumber": {
          "description": "Configuration options related to authenticated a user by their phone number.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber"
        },
        "anonymous": {
          "description": "Configuration options related to authenticating an anonymous user.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Anonymous"
        },
        "email": {
          "description": "Configuration options related to authenticating a user by their email address.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Email"
        },
        "allowDuplicateEmails": {
          "type": "boolean",
          "description": "Whether to allow more than one account to have the same email."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SignInConfig"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse",
      "type": "object",
      "description": "StartMfaSignIn response.",
      "properties": {
        "phoneResponseInfo": {
          "description": "MultiFactor sign-in session information specific to SMS-type second factors. Along with the one-time code retrieved from the sent SMS, the contents of this session information should be passed to FinalizeMfaSignIn to complete the sign in.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Trigger": {
      "type": "object",
      "description": "Synchronous Cloud Function with HTTP Trigger",
      "properties": {
        "functionUri": {
          "type": "string",
          "description": "HTTP URI trigger for the Cloud Function."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "When the trigger was changed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Trigger"
    },
    "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig",
      "type": "object",
      "description": "Configuration related to Blocking Functions.",
      "properties": {
        "triggers": {
          "type": "object",
          "description": "Map of Trigger to event type. Key should be one of the supported event types: \"beforeCreate\", \"beforeSignIn\"",
          "additionalProperties": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Trigger"
          }
        },
        "forwardInboundCredentials": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials",
          "description": "The user credentials to include in the JWT payload that is sent to the registered Blocking Functions."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Email": {
      "type": "object",
      "description": "Configuration options related to authenticating a user by their email address.",
      "properties": {
        "passwordRequired": {
          "description": "Whether a password is required for email auth or not. If true, both an email and password must be provided to sign in. If false, a user may sign in via either email/password or email link.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether email auth is enabled for the project or not.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Email"
    },
    "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo",
      "type": "object",
      "description": "TOTP verification info for FinalizeMfaSignInRequest.",
      "properties": {
        "verificationCode": {
          "type": "string",
          "description": "User-entered verification code."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Inheritance": {
      "type": "object",
      "description": "Settings that the tenants will inherit from project level.",
      "properties": {
        "emailSendingConfig": {
          "type": "boolean",
          "description": "Whether to allow the tenant to inherit custom domains, email templates, and custom SMTP settings. If true, email sent from tenant will follow the project level email sending configurations. If false (by default), emails will go with the default settings with no customizations."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Inheritance"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest",
      "description": "Finalizes sign-in by verifying MFA challenge.",
      "properties": {
        "totpVerificationInfo": {
          "description": "Proof of completion of the TOTP based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "The MFA enrollment ID from the user's list of current MFA enrollments."
        },
        "phoneVerificationInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
          "description": "Proof of completion of the SMS based MFA challenge."
        },
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenRequest": {
      "type": "object",
      "description": "Request message for RevokeToken.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "tokenType": {
          "description": "Required. The type of the token to be revoked.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Token type is refresh_token.",
            "Token type is access_token.",
            "Token type is authorization_code."
          ],
          "enum": [
            "TOKEN_TYPE_UNSPECIFIED",
            "REFRESH_TOKEN",
            "ACCESS_TOKEN",
            "CODE"
          ]
        },
        "redirectUri": {
          "description": "The redirect URI provided in the initial authorization request made by the client to the IDP. The URI must use the HTTPS protocol, include a domain name, and can't contain an IP address or localhost. Required if token_type is CODE.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Required. The token to be revoked. If an authorization_code is passed in, the API will first exchange the code for access token and then revoke the token exchanged."
        },
        "providerId": {
          "description": "Required. The idp provider for the token. Currently only supports Apple Idp. The format should be \"apple.com\".",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Required. A valid Identity Platform ID token to link the account. If there was a successful token revocation request on the account and no tokens are generated after the revocation, the duplicate requests will be ignored and returned immediately."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
      "type": "object",
      "description": "Configuration for settings related to email privacy and public visibility. Settings in this config protect against email enumeration, but may make some trade-offs in user-friendliness.",
      "properties": {
        "enableImprovedEmailPrivacy": {
          "type": "boolean",
          "description": "Migrates the project to a state of improved email privacy. For example certain error codes are more generic to avoid giving away information on whether the account exists. In addition, this disables certain features that as a side-effect allow user enumeration. Enabling this toggle disables the fetchSignInMethodsForEmail functionality and changing the user's email to an unverified email. It is recommended to remove dependence on this functionality and enable this toggle to improve user privacy."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenResponse": {
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse",
      "description": "Response message for RevokeToken. Empty for now.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
      "type": "object",
      "description": "Configuration related to monitoring project activity.",
      "properties": {
        "requestLogging": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RequestLogging",
          "description": "Configuration for logging requests made to this project to Stackdriver Logging"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest": {
      "description": "Starts multi-factor sign-in by sending the multi-factor auth challenge.",
      "properties": {
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "phoneSignInInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "Required. MFA enrollment id from the user's list of current MFA enrollments."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
      "description": "App Verification info for a StartMfa request.",
      "properties": {
        "iosReceipt": {
          "type": "string",
          "description": "iOS only. Receipt of successful app token validation with APNS."
        },
        "iosSecret": {
          "type": "string",
          "description": "iOS only. Secret delivered to iOS app via APNS."
        },
        "phoneNumber": {
          "description": "Required for enrollment. Phone number to be enrolled as MFA.",
          "type": "string"
        },
        "clientType": {
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled."
        },
        "safetyNetToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token. A SafetyNet Token can be generated via the [SafetyNet Android Attestation API](https://developer.android.com/training/safetynet/attestation.html), with the Base64 encoding of the `phone_number` field as the nonce."
        },
        "recaptchaVersion": {
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "recaptchaToken": {
          "description": "Web only. Recaptcha solution.",
          "type": "string"
        },
        "playIntegrityToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token (or safety net token). A Play Integrity Token can be generated via the [PlayIntegrity API] (https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce.",
          "type": "string"
        },
        "autoRetrievalInfo": {
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval.",
          "$ref": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo"
        },
        "captchaResponse": {
          "type": "string",
          "description": "The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule": {
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule",
      "type": "object",
      "description": "The config for a reCAPTCHA toll fraud assessment managed rule. Models a single interval [start_score, end_score]. The end_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping.",
      "properties": {
        "startScore": {
          "format": "float",
          "type": "number",
          "description": "The start score (inclusive) for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the safest request (likely legitimate), whereas 1.0 indicates the riskiest request (likely toll fraud). See https://cloud.google.com/recaptcha-enterprise/docs/sms-fraud-detection#create-assessment-sms."
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ],
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ],
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score]."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly": {
      "type": "object",
      "description": "Defines a policy of only allowing regions by explicitly adding them to an allowlist.",
      "properties": {
        "allowedRegions": {
          "description": "Two letter unicode region codes to allow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly"
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowByDefault": {
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
      "description": "Defines a policy of allowing every region by default and adding disallowed regions to a disallow list.",
      "properties": {
        "disallowedRegions": {
          "description": "Two letter unicode region codes to disallow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig",
      "type": "object",
      "description": "Options related to how clients making requests on behalf of a tenant should be configured.",
      "properties": {
        "permissions": {
          "description": "Configuration related to restricting a user's ability to affect their account.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
      "type": "object",
      "description": "Phone Verification info for a FinalizeMfa request.",
      "properties": {
        "androidVerificationProof": {
          "description": "Android only. Uses for \"instant\" phone number verification though GmsCore.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "User-entered verification code."
        },
        "sessionInfo": {
          "type": "string",
          "description": "An opaque string that represents the enrollment session."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Required if Android verification proof is presented."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "id": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
      "type": "object",
      "description": "Temporary quota increase / decrease",
      "properties": {
        "quota": {
          "format": "int64",
          "type": "string",
          "description": "Corresponds to the 'refill_token_count' field in QuotaServer config"
        },
        "quotaDuration": {
          "description": "How long this quota will be active for",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "When this quota will take effect"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig",
      "description": "Additional config for Apple for code flow.",
      "properties": {
        "teamId": {
          "type": "string",
          "description": "Apple Developer Team ID."
        },
        "keyId": {
          "type": "string",
          "description": "Key ID for the private key."
        },
        "privateKey": {
          "description": "Private key used for signing the client secret JWT.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SpConfig",
      "type": "object",
      "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
      "properties": {
        "spEntityId": {
          "description": "Unique identifier for all SAML entities.",
          "type": "string"
        },
        "callbackUri": {
          "description": "Callback URI where responses from IDP are handled.",
          "type": "string"
        },
        "spCertificates": {
          "description": "Output only. Public certificates generated by the server to verify the signature in SAMLRequest in the SP-initiated flow.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2SpCertificate"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion": {
      "type": "object",
      "description": "The strength attributes for the password policy on the project.",
      "properties": {
        "schemaVersion": {
          "description": "Output only. schema version number for the password policy",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "customStrengthOptions": {
          "description": "The custom strength options enforced by the password policy.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse": {
      "description": "Response for ListOAuthIdpConfigs",
      "properties": {
        "oauthIdpConfigs": {
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions": {
      "type": "object",
      "description": "Custom strength options to enforce on user passwords.",
      "properties": {
        "minPasswordLength": {
          "type": "integer",
          "description": "Minimum password length. Range from 6 to 30",
          "format": "int32"
        },
        "maxPasswordLength": {
          "format": "int32",
          "description": "Maximum password length. No default max length",
          "type": "integer"
        },
        "containsNonAlphanumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a non alpha numeric character."
        },
        "containsLowercaseCharacter": {
          "type": "boolean",
          "description": "The password must contain a lower case character."
        },
        "containsNumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a number."
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions"
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState": {
      "description": "Enforcement states for reCAPTCHA protection.",
      "properties": {
        "provider": {
          "description": "The provider that has reCAPTCHA protection.",
          "type": "string",
          "enumDescriptions": [
            "reCAPTCHA provider not specified",
            "Email password provider",
            "Phone auth provider"
          ],
          "enum": [
            "RECAPTCHA_PROVIDER_UNSPECIFIED",
            "EMAIL_PASSWORD_PROVIDER",
            "PHONE_PROVIDER"
          ]
        },
        "enforcementState": {
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "description": "The reCAPTCHA enforcement state for the provider."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse",
      "description": "FinalizeMfaEnrollment response.",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "Refresh token updated to reflect MFA enrollment."
        },
        "idToken": {
          "description": "ID token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "phoneAuthInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
          "description": "Auxiliary auth info specific to phone auth."
        },
        "totpAuthInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo",
          "description": "Auxiliary auth info specific to TOTP auth."
        }
      },
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
[...]
