{
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "id": "identitytoolkit:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "title": "Identity Toolkit API",
  "revision": "20260911",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "name": "identitytoolkit",
  "canonicalName": "Identity Toolkit",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "type": "object",
      "description": "Response message for SignInWithGameCenter",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse",
      "properties": {
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "teamPlayerId": {
          "type": "string",
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the authenticated user."
        },
        "gamePlayerId": {
          "type": "string",
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user. Always present in the response."
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the ID token expires.",
          "format": "int64"
        },
        "playerId": {
          "description": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1UserNotification": {
      "properties": {
        "notificationCode": {
          "description": "Warning notification enum. Can be used for localization.",
          "type": "string",
          "enumDescriptions": [
            "No notification specified.",
            "Password missing lowercase character.",
            "Password missing uppercase character.",
            "Password missing numeric character.",
            "Password missing non alphanumeric character.",
            "Password less than minimum required length.",
            "Password greater than maximum required length."
          ],
          "enum": [
            "NOTIFICATION_CODE_UNSPECIFIED",
            "MISSING_LOWERCASE_CHARACTER",
            "MISSING_UPPERCASE_CHARACTER",
            "MISSING_NUMERIC_CHARACTER",
            "MISSING_NON_ALPHANUMERIC_CHARACTER",
            "MINIMUM_PASSWORD_LENGTH",
            "MAXIMUM_PASSWORD_LENGTH"
          ]
        },
        "notificationMessage": {
          "description": "Warning notification string. Can be used as fallback.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1UserNotification",
      "description": "Warning notifications for the user."
    },
    "GoogleCloudIdentitytoolkitV1MfaFactor": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name for this mfa option e.g. \"corp cell phone\"."
        },
        "phoneInfo": {
          "description": "Phone number to receive OTP for MFA.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1MfaFactor"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest": {
      "type": "object",
      "description": "Request message for SignInWithEmailLink",
      "properties": {
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the email address to the user represented by this ID token and enable sign-in with email link on the account for the future."
        },
        "email": {
          "type": "string",
          "description": "Required. The email address the sign-in link was sent to. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        },
        "oobCode": {
          "description": "Required. The out-of-band code from the email link.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest"
    },
    "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse": {
      "type": "object",
      "description": "Response message for GetProjectConfig.",
      "id": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse",
      "properties": {
        "authorizedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Authorized domains for widget redirect."
        },
        "verifyEmailTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate",
          "description": "Email template for verify email. This field is only returned for authenticated calls from a developer."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending. This field is only returned for authenticated calls from a developer."
        },
        "dynamicLinksDomain": {
          "type": "string",
          "description": "The Firebase Dynamic Links domain used to construct links for redirects to native apps."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate",
          "description": "Reset password email template for legacy Firebase V1 app. This field is only returned for authenticated calls from a developer."
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled. This field is only returned for authenticated calls from a developer.",
          "type": "boolean"
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password account sign up. This field is only returned for authenticated calls from a developer."
        },
        "apiKey": {
          "description": "Google Cloud API key. This field is only returned for authenticated calls from a developer.",
          "type": "string"
        },
        "projectId": {
          "description": "The project id of the retrieved configuration.",
          "type": "string"
        },
        "idpConfig": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1IdpConfig"
          },
          "description": "OAuth2 provider config. This field is only returned for authenticated calls from a developer."
        },
        "revertSecondFactorAdditionTemplate": {
          "description": "Email template for reverting second factor additions. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "changeEmailTemplate": {
          "description": "Email template for change email. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest": {
      "type": "object",
      "properties": {
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "autoCreate": {
          "type": "boolean",
          "deprecated": true
        },
        "postBody": {
          "type": "string",
          "description": "If the user is signing in with an authorization response obtained via a previous CreateAuthUri authorization request, this is the body of the HTTP POST callback from the IdP, if present. Otherwise, if the user is signing in with a manually provided IdP credential, this should be a URL-encoded form that contains the credential (e.g. an ID token or access token for OAuth 2.0 IdPs) and the provider ID of the IdP that issued the credential. For example, if the user is signing in to the Google provider using a Google ID token, this should be set to id_token`=[GOOGLE_ID_TOKEN]&providerId=google.com`, where `[GOOGLE_ID_TOKEN]` should be replaced with the Google ID token. If the user is signing in to the Facebook provider using a Facebook authentication token, this should be set to id_token`=[FACEBOOK_AUTHENTICATION_TOKEN]&providerId=facebook. com&nonce= [NONCE]`, where `[FACEBOOK_AUTHENTICATION_TOKEN]` should be replaced with the Facebook authentication token. Nonce is required for validating the token. The request will fail if no nonce is provided. If the user is signing in to the Facebook provider using a Facebook access token, this should be set to access_token`=[FACEBOOK_ACCESS_TOKEN]&providerId=facebook. com`, where `[FACEBOOK_ACCESS_TOKEN]` should be replaced with the Facebook access token. If the user is signing in to the Twitter provider using a Twitter OAuth 1.0 credential, this should be set to access_token`=[TWITTER_ACCESS_TOKEN]&oauth_token_secret= [TWITTER_TOKEN_SECRET]&providerId=twitter.com`, where `[TWITTER_ACCESS_TOKEN]` and `[TWITTER_TOKEN_SECRET]` should be replaced with the Twitter OAuth access token and Twitter OAuth token secret respectively."
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. If passed, the user's account at the IdP will be linked to the account represented by this ID token.",
          "type": "string"
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether or not to return the OAuth refresh token from the IdP, if available."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether or not to return OAuth credentials from the IdP on the following errors: `FEDERATED_USER_ID_ALREADY_LINKED` and `EMAIL_EXISTS`."
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "sessionId": {
          "description": "The session ID returned from a previous CreateAuthUri call. This field is verified against that session ID to prevent session fixation attacks. Required if the user is signing in with an authorization response from a previous CreateAuthUri authorization request.",
          "type": "string"
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "pendingToken": {
          "description": "An opaque string from a previous SignInWithIdp response. If set, it can be used to repeat the sign-in operation from the previous SignInWithIdp operation. This may be present if the user needs to confirm their account information as part of a previous federated login attempt, or perform account linking.",
          "type": "string"
        },
        "requestUri": {
          "description": "Required. The URL to which the IdP redirects the user back. This can be set to `http://localhost` if the user is signing in with a manually provided IdP credential.",
          "type": "string"
        }
      },
      "description": "Request message for SignInWithIdp.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest"
    },
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "type": "object",
      "properties": {
        "format": {
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "description": "Email body format",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ],
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email"
        },
        "body": {
          "type": "string",
          "description": "Email body"
        },
        "disabled": {
          "description": "Whether the template is disabled. If true, a default template will be used.",
          "type": "boolean"
        },
        "fromLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        },
        "customized": {
          "type": "boolean",
          "description": "Whether the body or subject of the email is customized."
        },
        "fromDisplayName": {
          "description": "From display name",
          "type": "string"
        },
        "from": {
          "type": "string",
          "description": "From address of the email"
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address"
        },
        "locale": {
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate",
      "description": "Email template"
    },
    "GoogleCloudIdentitytoolkitV1SignUpResponse": {
      "description": "Response message for SignUp.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the created user. This field is only set for non-admin requests."
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the created user. This field is only set for non-admin requests.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the created user. Always present in the response.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The created user's email."
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "description": "The created user's display name.",
          "type": "string"
        },
        "kind": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignUpResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignUpRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignUpRequest",
      "description": "Request message for SignUp.",
      "properties": {
        "targetProjectId": {
          "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the user's email is verified. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "email": {
          "type": "string",
          "description": "The email to assign to the created user. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. An anonymous user will be created if not provided."
        },
        "instanceId": {
          "type": "string",
          "deprecated": true
        },
        "clientType": {
          "description": "The client type: web, Android or iOS. Required when enabling reCAPTCHA enterprise protection.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "displayName": {
          "description": "The display name of the user to be created.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number of the user to create. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for assessment. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The profile photo url of the user to create."
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform user. If set, this request will link the authentication credential to the user represented by this ID token. For a non-admin request, both the `email` and `password` fields must be set. For an admin request, `local_id` must not be set.",
          "type": "string"
        },
        "recaptchaVersion": {
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project."
        },
        "localId": {
          "description": "The ID of the user to create. The ID must be unique within the project that the user is being created under. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the user will be disabled upon creation. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "password": {
          "description": "The password to assign to the created user. The password must be be at least 6 characters long. If set, the `email` field must also be set.",
          "type": "string"
        },
        "mfaInfo": {
          "description": "The multi-factor authentication providers for the user to create.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaFactor"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest": {
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest",
      "description": "Request message for CreateSessionCookie.",
      "properties": {
        "validDuration": {
          "format": "int64",
          "description": "The number of seconds until the session cookie expires. Specify a duration in seconds, between five minutes and fourteen days, inclusively.",
          "type": "string"
        },
        "idToken": {
          "description": "Required. A valid Identity Platform ID token.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant the account belongs to."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1MfaInfo": {
      "id": "GoogleCloudIdentitytoolkitV1MfaInfo",
      "description": "Multi-factor authentication related information.",
      "type": "object",
      "properties": {
        "enrollments": {
          "type": "array",
          "description": "The second factors the user has enrolled.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "properties": {
        "appToken": {
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service).",
          "type": "string"
        },
        "isSandbox": {
          "type": "boolean",
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment."
        }
      },
      "type": "object",
      "description": "Request message for VerifyIosClient"
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest": {
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest",
      "description": "Request message for QueryUserInfo.",
      "properties": {
        "limit": {
          "description": "The maximum number of accounts to return with an upper limit of __500__. Defaults to _500_. Only valid when `return_user_info` is set to `true`.",
          "format": "int64",
          "type": "string"
        },
        "order": {
          "enumDescriptions": [
            "Order is not specified.",
            "Sort on ascending order.",
            "Sort on descending order."
          ],
          "type": "string",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASC",
            "DESC"
          ]
        },
        "returnUserInfo": {
          "description": "If `true`, this request will return the accounts matching the query. If `false`, only the __count__ of accounts matching the query will be returned. Defaults to `true`.",
          "type": "boolean"
        },
        "offset": {
          "description": "The number of accounts to skip from the beginning of matching records. Only valid when `return_user_info` is set to `true`.",
          "format": "int64",
          "type": "string"
        },
        "sortBy": {
          "enum": [
            "SORT_BY_FIELD_UNSPECIFIED",
            "USER_ID",
            "NAME",
            "CREATED_AT",
            "LAST_LOGIN_AT",
            "USER_EMAIL"
          ],
          "enumDescriptions": [
            "Sort field is not specified.",
            "Sort result by userId.",
            "Sort result by name.",
            "Sort result by createdAt.",
            "Sort result by lastLoginAt.",
            "Sort result by userEmail."
          ],
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant to which the result is scoped."
        },
        "expression": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1SqlExpression"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1IdpConfig": {
      "id": "GoogleCloudIdentitytoolkitV1IdpConfig",
      "properties": {
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "MSLIVE",
            "GOOGLE",
            "FACEBOOK",
            "PAYPAL",
            "TWITTER",
            "YAHOO",
            "AOL",
            "GITHUB",
            "GOOGLE_PLAY_GAMES",
            "LINKEDIN",
            "IOS_GAME_CENTER"
          ],
          "enumDescriptions": [
            "",
            "Microsoft Live as identity provider.",
            "Google as identity provider.",
            "Facebook as identity provider.",
            "PayPal as identity provider.",
            "Twitter as identity provider.",
            "Yahoo as identity provider.",
            "AOL as identity provider.",
            "GitHub as identity provider.",
            "Google Play Games as identity provider.",
            "LinkedIn as identity provider.",
            "iOS Game Center as identity provider."
          ],
          "type": "string"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "whitelistedAudiences": {
          "description": "Whitelisted client IDs for audience check.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "secret": {
          "description": "OAuth2 client secret.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "experimentPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Percent of users who will be prompted/redirected federated login for this IdP"
        }
      },
      "description": "Config of an identity provider.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1ProviderUserInfo": {
      "id": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
      "properties": {
        "email": {
          "description": "The user's email address at the Identity Provider.",
          "type": "string"
        },
        "providerId": {
          "description": "The ID of the Identity Provider.",
          "type": "string"
        },
        "screenName": {
          "description": "The user's screen_name at Twitter or login name at GitHub.",
          "type": "string"
        },
        "federatedId": {
          "type": "string",
          "description": "The user's identifier at the Identity Provider."
        },
        "rawId": {
          "description": "The user's raw identifier directly returned from Identity Provider.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name at the Identity Provider."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The user's phone number at the Identity Provider."
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's profile photo URL at the Identity Provider."
        }
      },
      "description": "Information about the user as provided by various Identity Providers.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse": {
      "properties": {
        "sessionCookie": {
          "description": "The session cookie that has been created from the Identity Platform ID token specified in the request. It is in the form of a JSON Web Token (JWT). Always present.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse",
      "description": "Response message for CreateSessionCookie.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountResponse": {
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Response message for DeleteAccount."
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest": {
      "description": "Request message for SetAccountInfo.",
      "type": "object",
      "properties": {
        "targetProjectId": {
          "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user's email has been verified. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "captchaChallenge": {
          "type": "string",
          "deprecated": true
        },
        "validSince": {
          "type": "string",
          "format": "int64",
          "description": "Specifies the minimum timestamp in seconds for an Identity Platform ID token to be considered valid."
        },
        "disableUser": {
          "description": "If true, marks the account as disabled, meaning the user will no longer be able to sign-in.",
          "type": "boolean"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether or not to return an ID and refresh token. Should always be true."
        },
        "oobCode": {
          "description": "The out-of-band code to be applied on the user's account. The following out-of-band code types are supported: * VERIFY_EMAIL * RECOVER_EMAIL * REVERT_SECOND_FACTOR_ADDITION * VERIFY_AND_CHANGE_EMAIL",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field."
        },
        "password": {
          "description": "The user's new password to be updated in the account's attributes. The password must be at least 6 characters long.",
          "type": "string"
        },
        "deleteAttribute": {
          "type": "array",
          "items": {
            "enum": [
              "USER_ATTRIBUTE_NAME_UNSPECIFIED",
              "EMAIL",
              "DISPLAY_NAME",
              "PROVIDER",
              "PHOTO_URL",
              "PASSWORD",
              "RAW_USER_INFO"
            ],
            "enumDescriptions": [
              "User attribute name is not specified.",
              "User attribute key name is email.",
              "User attribute key name is displayName.",
              "User attribute key name is provider.",
              "User attribute key name is photoURL.",
              "User attribute key name is password.",
              "User attribute key name is rawUserInfo."
            ],
            "type": "string"
          }
        },
        "mfa": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaInfo",
          "description": "The multi-factor authentication related information to be set on the user's account. This will overwrite any previous multi-factor related information on the account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "deleteProvider": {
          "description": "The Identity Providers to unlink from the user's account.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "upgradeToFederatedLogin": {
          "description": "Whether the account should be restricted to only using federated login.",
          "type": "boolean"
        },
        "localId": {
          "description": "The ID of the user. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). For requests from end-users, an ID token should be passed instead.",
          "type": "string"
        },
        "customAttributes": {
          "description": "JSON formatted custom attributes to be stored in the Identity Platform ID token. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The user's new display name to be updated in the account's attributes. The length of the display name must be less than or equal to 256 characters."
        },
        "idToken": {
          "type": "string",
          "description": "A valid Identity Platform ID token. Required when attempting to change user-related information."
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's new photo URL for the account's profile photo to be updated in the account's attributes. The length of the URL must be less than or equal to 2048 characters."
        },
        "provider": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Identity Providers that the account should be associated with."
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "linkProviderUserInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
          "description": "The provider to be linked to the user's account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "captchaResponse": {
          "description": "The response from reCaptcha challenge. This is required when the system detects possible abuse activities.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to be updated in the account's attributes."
        },
        "createdAt": {
          "description": "The timestamp in milliseconds when the account was created.",
          "format": "int64",
          "type": "string"
        },
        "lastLoginAt": {
          "type": "string",
          "description": "The timestamp in milliseconds when the account last logged in.",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "description": "The user's new email to be updated in the account's attributes. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, the email cannot be changed by the user without verifying the email first, but it can be changed by an administrator."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "type": "object",
      "properties": {
        "oldPassword": {
          "description": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code.",
          "type": "string"
        },
        "newPassword": {
          "description": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "Optional. The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "oobCode": {
          "description": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Optional. The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code."
        }
      },
      "description": "Request message for ResetPassword.",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest"
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordResponse": {
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse",
      "properties": {
        "mfaInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "email": {
          "type": "string",
          "description": "The email associated with the out-of-band code that was used."
        },
        "newEmail": {
          "type": "string"
        },
        "requestType": {
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ResetPassword."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest",
      "description": "Request message for SignInWithPassword.",
      "properties": {
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaVersion": {
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "type": "string",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "deprecated": true
        },
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Required. The password the user provides to sign in to the account."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "clientType": {
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string",
          "deprecated": true
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest": {
      "description": "Request message for BatchDeleteAccounts.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest",
      "properties": {
        "localIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of user IDs to be deleted.",
          "type": "array"
        },
        "force": {
          "description": "Whether to force deleting accounts that are not in disabled state. If false, only disabled accounts will be deleted, and accounts that are not disabled will be added to the `errors`.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to a default Identity Platform project, the field is not needed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse": {
      "description": "Response message for CreateAuthUri.",
      "properties": {
        "authUri": {
          "description": "The authorization URI for the requested provider. Present only when a provider ID is set in the request.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID from the request, if provided."
        },
        "allProviders": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email identifier represents an existing account. Present only when an email identifier is set in the request."
        },
        "captchaRequired": {
          "description": "Whether a CAPTCHA is needed because there have been too many failed login attempts by the user. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "forExistingProvider": {
          "description": "Whether the user has previously signed in with the provider ID in the request. Present only when a registered email identifier is set in the request.",
          "type": "boolean"
        },
        "sessionId": {
          "description": "The session ID from the request, or a random string generated by CreateAuthUri if absent. It is used to prevent session fixation attacks.",
          "type": "string"
        },
        "signinMethods": {
          "type": "array",
          "description": "The list of sign-in methods that the user has previously used. Each element is one of `password`, `emailLink`, or the provider ID of an IdP. Present only when a registered email identifier is set in the request. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse"
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse",
      "properties": {
        "error": {
          "description": "Detailed error info for accounts that cannot be uploaded.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          },
          "type": "array"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Response message for UploadAccount.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1TotpInfo": {
      "id": "GoogleCloudIdentitytoolkitV1TotpInfo",
      "type": "object",
      "description": "Information about TOTP MFA.",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "properties": {
        "federatedUserId": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          }
        },
        "email": {
          "items": {
            "type": "string"
          },
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "type": "array"
        },
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer.",
          "type": "string"
        },
        "initialEmail": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        },
        "localId": {
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetProjectId": {
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "phoneNumber": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555."
        },
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest",
      "type": "object",
      "description": "Request message for GetAccountInfo."
    },
    "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse": {
      "description": "Response message for GetSessionCookiePublicKeys.",
      "id": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse",
      "properties": {
        "keys": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey"
          },
          "type": "array",
          "description": "Public keys of the session cookie signer, formatted as [JSON Web Keys (JWK)](https://tools.ietf.org/html/rfc7517)."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse",
      "type": "object",
      "properties": {
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the ID token expires."
        }
      },
      "description": "Response message for SignInWithCustomToken."
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse": {
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse",
      "description": "Response message for QueryUserInfo.",
      "properties": {
        "recordsCount": {
          "description": "If `return_user_info` in the request is true, this is the number of returned accounts in this message. Otherwise, this is the total number of accounts matching the query.",
          "type": "string",
          "format": "int64"
        },
        "userInfo": {
          "type": "array",
          "description": "If `return_user_info` in the request is true, this is the accounts matching the query.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "description": "Request message for GetOobCode.",
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest",
      "type": "object",
      "properties": {
        "challenge": {
          "deprecated": true,
          "type": "string"
        },
        "linkDomain": {
          "type": "string",
          "description": "Optional. In order to ensure that the url used can be easily opened in iOS or Android, we create a Hosting link '/__/auth/links'. This optional field contains the domain to use when constructing a Hosting link. If not set, '.firebaseapp.com' domain will be used."
        },
        "userIp": {
          "description": "The IP address of the caller. Required only for PASSWORD_RESET requests.",
          "type": "string"
        },
        "continueUrl": {
          "type": "string",
          "description": "The Url to continue after user clicks the link sent in email. This is the url that will allow the web widget to handle the OOB code."
        },
        "captchaResp": {
          "description": "For a PASSWORD_RESET request, a reCaptcha response is required when the system detects possible abuse activity. In those cases, this is the response from the reCaptcha challenge used to verify the caller.",
          "type": "string"
        },
        "returnOobLink": {
          "type": "boolean",
          "description": "Whether the confirmation link containing the OOB code should be returned in the response (no email is sent). Used when a developer wants to construct the email template and send it on their own. By default this is false; to specify this field, and to set it to true, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)"
        },
        "clientType": {
          "description": "The client type: web, Android or iOS. Required when reCAPTCHA Enterprise protection is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "email": {
          "type": "string",
          "description": "The account's email address to send the OOB code to, and generally the email address of the account that needs to be updated. Required for PASSWORD_RESET, EMAIL_SIGNIN, and VERIFY_EMAIL. Only required for VERIFY_AND_CHANGE_EMAIL requests when return_oob_link is set to true. In this case, it is the original email of the user."
        },
        "iOSBundleId": {
          "type": "string",
          "description": "If an associated iOS app can handle the OOB code, the iOS bundle id of this app. This will allow the correct app to open if it is already installed."
        },
        "iOSAppStoreId": {
          "description": "If an associated iOS app can handle the OOB code, the App Store id of this app. This will allow App Store to open to the correct app if the app is not yet installed.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The email address the account is being updated to. Required only for VERIFY_AND_CHANGE_EMAIL requests."
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "If an associated android app can handle the OOB code, the minimum version of the app. If the version on the device is lower than this version then the user is taken to Google Play Store to upgrade the app."
        },
        "dynamicLinkDomain": {
          "description": "In order to ensure that the url used can be easily opened up in iOS or android, we create a [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links). Most Identity Platform projects will only have one Dynamic Link domain enabled, and can leave this field blank. This field contains a specified Dynamic Link domain for projects that have multiple enabled.",
          "type": "string"
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "When set to true, the OOB code link will be be sent as a Universal Link or an Android App Link and will be opened by the corresponding app if installed. If not set, or set to false, the OOB code will be sent to the web widget first and then on continue will redirect to the app if installed."
        },
        "recaptchaVersion": {
          "type": "string",
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "idToken": {
          "type": "string",
          "description": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true."
        },
        "androidPackageName": {
          "description": "If an associated android app can handle the OOB code, the Android package name of the android app that will handle the callback when this OOB code is used. This will allow the correct app to open if it is already installed, or allow Google Play Store to open to the correct app if it is not yet installed.",
          "type": "string"
        },
        "requestType": {
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "description": "Required. The type of out-of-band (OOB) code to send. Depending on this value, other fields in this request will be required and/or have different meanings. There are 4 different OOB codes that can be sent: * PASSWORD_RESET * EMAIL_SIGNIN * VERIFY_EMAIL * VERIFY_AND_CHANGE_EMAIL",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ]
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "If an associated android app can handle the OOB code, whether or not to install the android app on the device where the link is opened if the app is not already installed."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse": {
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse",
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "description": "The information of specific user account(s) matching the parameters in the request."
        },
        "kind": {
          "type": "string",
          "deprecated": true
        }
      },
      "description": "Response message for GetAccountInfo."
    },
    "GoogleCloudIdentitytoolkitV1EmailInfo": {
      "description": "Information about email MFA.",
      "id": "GoogleCloudIdentitytoolkitV1EmailInfo",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Email address that a MFA verification should be sent to."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "description": "The information required to auto-retrieve an SMS.",
      "type": "object",
      "properties": {
        "appSignatureHash": {
          "type": "string",
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo"
    },
    "GoogleCloudIdentitytoolkitV1DownloadAccountResponse": {
      "description": "Response message for DownloadAccount.",
      "id": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse",
      "properties": {
        "users": {
          "description": "All accounts belonging to the project/tenant limited by max_results in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        },
        "nextPageToken": {
          "description": "If there are more accounts to be downloaded, a token that can be passed back to DownloadAccount to get more accounts. Otherwise, this is blank.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountRequest",
      "description": "Request message for UploadAccount.",
      "properties": {
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "blockSize": {
          "description": "The block size parameter used by the STANDARD_SCRYPT hashing function. This parameter, along with parallelization and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32",
          "type": "integer"
        },
        "cpuMemCost": {
          "format": "int32",
          "type": "integer",
          "description": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance."
        },
        "argon2Parameters": {
          "description": "The parameters for Argon2 hashing algorithm.",
          "$ref": "GoogleCloudIdentitytoolkitV1Argon2Parameters"
        },
        "passwordHashOrder": {
          "type": "string",
          "enumDescriptions": [
            "The order is not specified.",
            "The order is salt first, and then password.",
            "The order is password first, and then salt."
          ],
          "enum": [
            "UNSPECIFIED_ORDER",
            "SALT_AND_PASSWORD",
            "PASSWORD_AND_SALT"
          ]
        },
        "parallelization": {
          "type": "integer",
          "description": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32"
        },
        "dkLen": {
          "format": "int32",
          "description": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1.",
          "type": "integer"
        },
        "rounds": {
          "description": "The number of rounds used for hash calculation. Only required for the following hashing functions: * MD5 * SHA1 * SHA256 * SHA512 * PBKDF_SHA1 * PBKDF2_SHA256 * SCRYPT",
          "type": "integer",
          "format": "int32"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "allowOverwrite": {
          "description": "Whether to overwrite an existing account in Identity Platform with a matching `local_id` in the request. If true, the existing account will be overwritten. If false, an error will be returned.",
          "type": "boolean"
        },
        "hashAlgorithm": {
          "description": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2",
          "type": "string"
        },
        "signerKey": {
          "format": "byte",
          "type": "string",
          "description": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512"
        },
        "saltSeparator": {
          "type": "string",
          "format": "byte",
          "description": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character."
        },
        "users": {
          "description": "A list of accounts to upload. `local_id` is required for each user; everything else is optional.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Only required when the hashing function is SCRYPT.",
          "format": "int32"
        },
        "sanityCheck": {
          "description": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1ErrorInfo": {
      "type": "object",
      "description": "Error information explaining why an account cannot be uploaded. batch upload.",
      "id": "GoogleCloudIdentitytoolkitV1ErrorInfo",
      "properties": {
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the item, range is [0, request.size - 1]"
        },
        "message": {
          "description": "Detailed error message",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse": {
      "properties": {
        "email": {
          "description": "Email of the user.",
          "type": "string"
        },
        "lastName": {
          "description": "Last name of the user.",
          "type": "string"
        },
        "relayState": {
          "type": "string",
          "description": "Generated RelayState."
        },
        "acsEndpoint": {
          "description": "The ACS endpoint which consumes the returned SAMLResponse.",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "First name of the user."
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "samlResponse": {
          "type": "string",
          "description": "Signed SAMLResponse created for the Relying Party."
        }
      },
      "description": "Response for IssueSamlResponse request.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest": {
      "description": "Request message for SignInWithGameCenter",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest",
      "type": "object",
      "properties": {
        "publicKeyUrl": {
          "type": "string",
          "description": "Required. The URL to fetch the Apple public key in order to verify the given signature is signed by Apple."
        },
        "displayName": {
          "description": "The user's Game Center display name.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "signature": {
          "description": "Required. The verification signature data generated by Apple.",
          "type": "string"
        },
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If present, this request will link the Game Center player ID to the account represented by this ID token.",
          "type": "string"
        },
        "salt": {
          "description": "Required. A random string used to generate the given signature.",
          "type": "string"
        },
        "playerId": {
          "description": "Required. The user's Game Center player ID. Deprecated by Apple. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The time when the signature was created by Apple, in milliseconds since the epoch.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse",
      "properties": {
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user. Always present in the response."
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the ID token expires."
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor check.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "email": {
          "description": "The email the user signed in with. Always present in the response.",
          "type": "string"
        }
      },
      "description": "Response message for SignInWithEmailLink.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1Argon2Parameters": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
      "description": "The parameters for Argon2 hashing algorithm.",
      "properties": {
        "associatedData": {
          "type": "string",
          "description": "The additional associated data, if provided, is appended to the hash value to provide an additional layer of security. A base64-encoded string if specified via JSON.",
          "format": "byte"
        },
        "memoryCostKib": {
          "description": "Required. The memory cost in kibibytes. Maximum is 32768.",
          "type": "integer",
          "format": "int32"
        },
        "parallelism": {
          "type": "integer",
          "description": "Required. The degree of parallelism, also called threads or lanes. Minimum is 1, maximum is 16.",
          "format": "int32"
        },
        "hashType": {
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "ARGON2_D",
            "ARGON2_ID",
            "ARGON2_I"
          ],
          "enumDescriptions": [
            "The hash type is not specified.",
            "An Argon2 variant, Argon2d.",
            "An Argon2 variant, Argonid. Recommended.",
            "An Argon2 variant, Argon2i."
          ],
          "description": "Required. Must not be HASH_TYPE_UNSPECIFIED.",
          "type": "string"
        },
        "iterations": {
          "format": "int32",
          "description": "Required. The number of iterations to perform. Minimum is 1, maximum is 16.",
          "type": "integer"
        },
        "version": {
          "enum": [
            "VERSION_UNSPECIFIED",
            "VERSION_10",
            "VERSION_13"
          ],
          "enumDescriptions": [
            "The version is not specified.",
            "The previous version, 0x10.",
            "The current version, 0x13. The default value for version."
          ],
          "description": "The version of the Argon2 algorithm. This defaults to VERSION_13 if not specified.",
          "type": "string"
        },
        "hashLengthBytes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The desired hash length in bytes. Minimum is 4 and maximum is 1024."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1OpenIdConnectKey": {
      "properties": {
        "use": {
          "type": "string",
          "description": "Key use."
        },
        "n": {
          "description": "Modulus for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        },
        "e": {
          "description": "Exponent for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        },
        "kty": {
          "description": "Key type.",
          "type": "string"
        },
        "kid": {
          "description": "Unique string to identify this key.",
          "type": "string"
        },
        "alg": {
          "description": "Signature algorithm.",
          "type": "string"
        }
      },
      "description": "Represents a public key of the session cookie signer, formatted as a [JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517).",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey"
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse",
      "description": "Response message for SendVerificationCode.",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment",
      "properties": {
        "phoneInfo": {
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for this mfa option e.g. \"corp cell phone\".",
          "type": "string"
        },
        "unobfuscatedPhoneInfo": {
          "description": "Output only. Unobfuscated phone_info.",
          "type": "string",
          "readOnly": true
        },
        "totpInfo": {
          "description": "Contains information specific to TOTP MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo"
        },
        "enrolledAt": {
          "description": "Timestamp when the account enrolled this second factor.",
          "type": "string",
          "format": "google-datetime"
        },
        "emailInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo",
          "description": "Contains information specific to email MFA."
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "ID of this MFA option."
        }
      },
      "type": "object",
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account."
    },
    "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse": {
      "id": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse",
      "description": "Response message for GetRecaptchaParam.",
      "properties": {
        "recaptchaStoken": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "The reCAPTCHA v2 site key used to invoke the reCAPTCHA service. Always present."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "producerProjectNumber": {
          "description": "The producer project number used to generate PIA tokens",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "properties": {
        "targetProjectId": {
          "type": "string",
          "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "deprecated": true
        },
        "localId": {
          "description": "The ID of user account to delete. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). Requests from users lacking the credential should pass an ID token instead.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant.",
          "type": "string"
        },
        "idToken": {
          "description": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest",
      "description": "Request message for DeleteAccount.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest": {
      "description": "Request message for IssueSamlResponse.",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "The Identity Platform ID token. It will be verified and then converted to a new SAMLResponse.",
          "type": "string"
        },
        "samlAppEntityId": {
          "type": "string",
          "description": "SAML app entity id specified in Google Admin Console for each app. If developers want to redirect to a third-party app rather than a G Suite app, they'll probably they need this. When it's used, we'll return a RelayState. This includes a SAMLRequest, which can be used to trigger a SP-initiated SAML flow to redirect to the real app."
        },
        "rpId": {
          "description": "Relying Party identifier, which is the audience of issued SAMLResponse.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest": {
      "properties": {
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful iOS app token validation. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). This should come from the response of verifyIosClient. If present, the caller should also provide the `ios_secret`, as well as a bundle ID in the `x-ios-bundle-identifier` header, which must match the bundle ID from the verifyIosClient request."
        },
        "recaptchaToken": {
          "description": "Recaptcha token for app verification. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). The recaptcha should be generated by calling getRecaptchaParams and the recaptcha token will be generated on user completion of the recaptcha challenge.",
          "type": "string"
        },
        "autoRetrievalInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval."
        },
        "safetyNetToken": {
          "type": "string",
          "description": "Android only. Safety Net has been deprecated. Use play_integrity_token instead."
        },
        "recaptchaVersion": {
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "description": "Optional. The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "Tenant ID of the Identity Platform tenant the user is signing in to."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app as a push notification. Should be passed with an `ios_receipt` as well as the `x-ios-bundle-identifier` header."
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Optional. The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "clientType": {
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "description": "Optional. The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "playIntegrityToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token (and safety_net_token). At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, , or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator, if 'captcha_response' is not used (reCAPTCHA enterprise is not enabled). A Play Integrity Token can be generated via the [PlayIntegrity API](https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest",
      "description": "Request message for SendVerificationCode. 'captcha_response' is required when reCAPTCHA enterprise is enabled, or otherwise at least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator."
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "properties": {
        "errors": {
          "type": "array",
          "description": "Detailed error info for accounts that cannot be deleted.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse",
      "description": "Response message to BatchDeleteAccounts."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest": {
      "description": "Request message for SignInWithCustomToken.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If present, the ID should match the tenant_id in the token."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "token": {
          "type": "string",
          "description": "Required. The custom Auth token asserted by the developer. The token should be a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that includes the claims listed in the [API reference](https://cloud.google.com/identity-platform/docs/reference/rest/client/) under the \"Custom Token Claims\" section."
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo",
      "description": "Error info for account failed to be deleted.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The corresponding user ID."
        },
        "index": {
          "format": "int32",
          "description": "The index of the errored item in the original local_ids field.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "Detailed error message."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse",
      "type": "object",
      "properties": {
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider."
        },
        "email": {
          "description": "The email address of the user's account at the IdP.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "rawUserInfo": {
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user account's email address is verified."
        },
        "needEmail": {
          "deprecated": true,
          "type": "boolean"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated Identity Platform user. Always present in the response."
        },
        "lastName": {
          "description": "The last name for the user's account at the IdP.",
          "type": "string"
        },
        "mfaInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the Identity Platform ID token expires."
        },
        "tenantId": {
          "type": "string",
          "description": "The value of the `tenant_id` field in the request."
        },
        "timeZone": {
          "description": "The time zone for the user's account at the IdP.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name for the user's account at the IdP.",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "The first name for the user's account at the IdP."
        },
        "pendingToken": {
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again.",
          "type": "string"
        },
        "fullName": {
          "description": "The full name for the user's account at the IdP.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email address is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled."
        },
        "federatedId": {
          "description": "The user's account ID at the IdP. Always present in the response.",
          "type": "string"
        },
        "screenName": {
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP.",
          "type": "string"
        },
        "verifiedProvider": {
          "type": "array",
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`.",
          "items": {
            "type": "string"
          }
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified."
        },
        "isNewUser": {
          "description": "Whether or not a new Identity Platform account was created for the authenticated user.",
          "type": "boolean"
        },
        "originalEmail": {
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response."
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`."
        },
        "oauthTokenSecret": {
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider.",
          "type": "string"
        },
        "dateOfBirth": {
          "description": "The date of birth for the user's account at the IdP.",
          "type": "string"
        },
        "inputEmail": {
          "deprecated": true,
          "type": "string"
        },
        "oauthIdToken": {
          "description": "The OpenID Connect ID token from the IdP, if available.",
          "type": "string"
        },
        "language": {
          "description": "The language preference for the user's account at the IdP.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP."
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The number of seconds until the OAuth access token from the IdP expires.",
          "format": "int32"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth access token from the IdP, if available."
        },
        "nickName": {
          "type": "string",
          "description": "The nickname for the user's account at the IdP."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user's profile picture at the IdP."
        },
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "oauthRefreshToken": {
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`.",
          "type": "string"
        }
      },
      "description": "Response message for SignInWithIdp."
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeResponse": {
      "description": "Response message for GetOobCode.",
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true
        },
        "email": {
          "type": "string",
[...]
