{
  "kind": "discovery#restDescription",
  "batchPath": "batch/identitytoolkit/v3",
  "name": "identitytoolkit",
  "discoveryVersion": "v1",
  "revision": "20180723",
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "schemas": {
    "EmailTemplate": {
      "type": "object",
      "properties": {
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "replyTo": {
          "description": "Reply-to address.",
          "type": "string"
        },
        "subject": {
          "description": "Subject of the email.",
          "type": "string"
        },
        "format": {
          "description": "Email body format.",
          "type": "string"
        },
        "body": {
          "type": "string",
          "description": "Email body."
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name."
        }
      },
      "id": "EmailTemplate",
      "description": "Template for an email template."
    },
    "DownloadAccountResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token. To be used in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "default": "identitytoolkit#DownloadAccountResponse",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "type": "string"
        },
        "users": {
          "description": "The user accounts data.",
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array"
        }
      },
      "description": "Response of downloading accounts in batch.",
      "id": "DownloadAccountResponse"
    },
    "DeleteAccountResponse": {
      "description": "Respone of deleting account.",
      "id": "DeleteAccountResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "default": "identitytoolkit#DeleteAccountResponse"
        }
      }
    },
    "SetAccountInfoResponse": {
      "type": "object",
      "properties": {
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The user's profiles at the associated IdPs.",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              }
            }
          }
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "newEmail": {
          "description": "The new email the user attempts to change to.",
          "type": "string"
        },
        "passwordHash": {
          "description": "The user's hashed password.",
          "format": "byte",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "default": "identitytoolkit#SetAccountInfoResponse"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        }
      },
      "id": "SetAccountInfoResponse",
      "description": "Respone of setting the account information."
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page. This should be taken from the previous response.",
          "type": "string"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "maxResults": {
          "type": "integer",
          "description": "The max number of results to return in the response.",
          "format": "uint32"
        }
      },
      "description": "Request to download user account in batch.",
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "disabled": {
          "description": "Whether to disable the user. Only can be used by service account.",
          "type": "boolean"
        },
        "localId": {
          "type": "string",
          "description": "Privileged caller can create user with specified user id."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "password": {
          "description": "The new password of the user.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Privileged caller can create user with specified phone number.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        }
      },
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest"
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "description": "Request to verify a custom token",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        }
      }
    },
    "GetOobConfirmationCodeResponse": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        },
        "kind": {
          "default": "identitytoolkit#GetOobConfirmationCodeResponse",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        }
      },
      "id": "GetOobConfirmationCodeResponse",
      "description": "Response of getting a code for user confirmation (reset password, change email etc.)."
    },
    "UploadAccountResponse": {
      "description": "Respone of uploading accounts in batch.",
      "id": "UploadAccountResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\".",
          "default": "identitytoolkit#UploadAccountResponse",
          "type": "string"
        },
        "error": {
          "items": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              },
              "index": {
                "type": "integer",
                "description": "The index of the malformed account, starting from 0.",
                "format": "int32"
              }
            }
          },
          "description": "The error encountered while processing the account info.",
          "type": "array"
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "description": "Request to get the account information.",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "email": {
          "description": "The list of emails of the users to inquiry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "phoneNumber": {
          "items": {
            "type": "string"
          },
          "description": "Privileged caller can query users by specified phone number.",
          "type": "array"
        },
        "localId": {
          "items": {
            "type": "string"
          },
          "description": "The list of local ID's of the users to inquiry.",
          "type": "array"
        }
      }
    },
    "GetRecaptchaParamResponse": {
      "id": "GetRecaptchaParamResponse",
      "description": "Response of getting recaptcha param.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "identitytoolkit#GetRecaptchaParamResponse",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\"."
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        }
      }
    },
    "ResetPasswordResponse": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "requestType": {
          "description": "The request type.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#ResetPasswordResponse",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\"."
        },
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        }
      },
      "id": "ResetPasswordResponse",
      "description": "Response of resetting the password."
    },
    "EmailLinkSigninResponse": {
      "type": "object",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "Expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "default": "identitytoolkit#EmailLinkSigninResponse",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "type": "string"
        },
        "email": {
          "description": "The user's email.",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        },
        "refreshToken": {
          "type": "string",
          "description": "The refresh token for the signed in user."
        }
      },
      "id": "EmailLinkSigninResponse",
      "description": "Response of email signIn."
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "description": "Request to set the project configuration.",
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "type": "object",
      "properties": {
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "authorizedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Authorized domains for widget redirect."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "resetPasswordTemplate": {
          "description": "Reset password email template.",
          "$ref": "EmailTemplate"
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user.",
          "type": "boolean"
        },
        "idpConfig": {
          "items": {
            "$ref": "IdpConfig"
          },
          "description": "Oauth2 provider configuration.",
          "type": "array"
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "changeEmailTemplate": {
          "description": "Change email template.",
          "$ref": "EmailTemplate"
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "type": "object",
      "properties": {
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          }
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "verifyEmailTemplate": {
          "description": "Verify email template.",
          "$ref": "EmailTemplate"
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled.",
          "type": "boolean"
        },
        "idpConfig": {
          "type": "array",
          "items": {
            "$ref": "IdpConfig"
          },
          "description": "OAuth2 provider configuration."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "description": "Response of getting the project configuration."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "type": "object",
      "properties": {
        "requestUri": {
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP.",
          "type": "string"
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "postBody": {
          "description": "The post body if the request is a HTTP POST.",
          "type": "string"
        },
        "autoCreate": {
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist.",
          "type": "boolean"
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "sessionId": {
          "description": "Session ID, which should match the one in previous createAuthUri request.",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        }
      },
      "description": "Request to verify the IDP assertion.",
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
    },
    "GetAccountInfoResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "identitytoolkit#GetAccountInfoResponse",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\"."
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "UserInfo"
          },
          "description": "The info of the users."
        }
      },
      "id": "GetAccountInfoResponse",
      "description": "Response of getting account information."
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "type": "object",
      "properties": {
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "oauthConsumerKey": {
          "description": "The developer's consumer key for OpenId OAuth Extension",
          "type": "string"
        },
        "otaApp": {
          "description": "The native app package for OTA installation.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "hostedDomain": {
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts.",
          "type": "string"
        },
        "clientId": {
          "description": "The relying party OAuth client ID.",
          "type": "string"
        },
        "authFlowType": {
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider.",
          "type": "string"
        },
        "oauthScope": {
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "customParameter": {
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.",
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          },
          "type": "object"
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        }
      },
      "description": "Request to get the IDP authentication URL.",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
    },
    "CreateAuthUriResponse": {
      "id": "CreateAuthUriResponse",
      "description": "Response of creating the IDP authentication URL.",
      "type": "object",
      "properties": {
        "captchaRequired": {
          "type": "boolean",
          "description": "True if captcha is required."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "default": "identitytoolkit#CreateAuthUriResponse"
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID which should be passed in the following verifyAssertion request."
        },
        "authUri": {
          "description": "The URI used by the IDP to authenticate the user.",
          "type": "string"
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "allProviders": {
          "type": "array",
          "description": "all providers the user has once used to do federated login",
          "items": {
            "type": "string"
          }
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "signinMethods": {
          "description": "All sign-in methods this user has used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "type": "object",
      "properties": {
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "pendingIdToken": {
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        }
      },
      "description": "Request to verify the password.",
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
    },
    "VerifyAssertionResponse": {
      "description": "Response of verifying the IDP assertion.",
      "id": "VerifyAssertionResponse",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "originalEmail": {
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email.",
          "type": "string"
        },
        "screenName": {
          "description": "The screen_name of a Twitter user or the login name at Github.",
          "type": "string"
        },
        "action": {
          "description": "The action code.",
          "type": "string"
        },
        "appInstallationUrl": {
          "description": "URL for OTA app installation.",
          "type": "string"
        },
        "context": {
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback.",
          "type": "string"
        },
        "appScheme": {
          "description": "The custom scheme used by mobile app.",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "inputEmail": {
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email.",
          "type": "string"
        },
        "nickName": {
          "type": "string",
          "description": "The nick name of the user."
        },
        "oauthTokenSecret": {
          "description": "The OAuth1 access token secret.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "needConfirmation": {
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation.",
          "type": "boolean"
        },
        "photoUrl": {
          "description": "The URI of the public accessible profiel picture.",
          "type": "string"
        },
        "federatedId": {
          "description": "The unique ID identifies the IdP account.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "default": "identitytoolkit#VerifyAssertionResponse",
          "type": "string"
        },
        "timeZone": {
          "description": "The timezone of the user.",
          "type": "string"
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "It's true if the email is recycled."
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "rawUserInfo": {
          "description": "Raw IDP-returned user info.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "dateOfBirth": {
          "description": "The birth date of the IdP account.",
          "type": "string"
        },
        "verifiedProvider": {
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "emailVerified": {
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email.",
          "type": "boolean"
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "lastName": {
          "description": "The last name of the user.",
          "type": "string"
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "oauthScope": {
          "description": "The scope for the OpenID OAuth extension.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "type": "object",
      "properties": {
        "newPassword": {
          "description": "The new password inputted by the user.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        },
        "oldPassword": {
          "description": "The old password inputted by the user.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "description": "Request to reset the password."
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "type": "object",
      "properties": {
        "expiresIn": {
          "format": "int64",
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "refreshToken": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "localId": {
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "description": "Request to sign in with email.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "type": "object",
      "properties": {
        "emailVerified": {
          "description": "Mark the email as verified or not.",
          "type": "boolean"
        },
        "lastLoginAt": {
          "description": "Last login timestamp.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "provider": {
          "description": "The associated IDPs of the user.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        },
        "oobCode": {
          "description": "The out-of-band code of the change email request.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "deleteProvider": {
          "items": {
            "type": "string"
          },
          "description": "The IDPs the user request to delete.",
          "type": "array"
        },
        "createdAt": {
          "description": "The timestamp when the account is created.",
          "format": "int64",
          "type": "string"
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "deleteAttribute": {
          "description": "The attributes users request to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        }
      },
      "description": "Request to set the account information.",
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
    },
    "IdpConfig": {
      "description": "Template for a single idp configuration.",
      "id": "IdpConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether this IDP is enabled.",
          "type": "boolean"
        },
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "format": "int32",
          "type": "integer"
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "whitelistedAudiences": {
          "description": "Whitelisted client IDs for audience check.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "description": "Request to delete account.",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token or STS id token of the authenticated user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "description": "Request to sign out user.",
      "type": "object",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        }
      }
    },
    "VerifyCustomTokenResponse": {
      "description": "Response from verifying a custom token",
      "id": "VerifyCustomTokenResponse",
      "type": "object",
      "properties": {
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "default": "identitytoolkit#VerifyCustomTokenResponse",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        }
      }
    },
    "VerifyPasswordResponse": {
      "id": "VerifyPasswordResponse",
      "description": "Request of verifying the password.",
      "type": "object",
      "properties": {
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#VerifyPasswordResponse",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\"."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "oauthExpireIn": {
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32",
          "type": "integer"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "description": "Respone of getting public keys.",
      "additionalProperties": {
        "type": "string"
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "type": "object",
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "description": "Response of signing out user."
    },
    "SignupNewUserResponse": {
      "type": "object",
      "properties": {
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        },
        "localId": {
          "description": "The RP local ID of the user.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        }
      },
      "id": "SignupNewUserResponse",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth."
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Project ID of the relying party.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "description": "Response of setting the project configuration."
    },
    "UserInfo": {
      "type": "object",
      "properties": {
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "emailVerified": {
          "description": "Whether the email has been verified.",
          "type": "boolean"
        },
        "passwordHash": {
          "type": "string",
          "description": "The user's hashed password.",
          "format": "byte"
        },
        "lastLoginAt": {
          "type": "string",
          "description": "last login timestamp.",
          "format": "int64"
        },
        "version": {
          "type": "integer",
          "description": "Version of the user's password.",
          "format": "int32"
        },
        "phoneNumber": {
          "description": "User's phone number.",
          "type": "string"
        },
        "passwordUpdatedAt": {
          "description": "The timestamp when the password was last updated.",
          "format": "double",
          "type": "number"
        },
        "rawPassword": {
          "description": "The user's plain text password.",
          "type": "string"
        },
        "validSince": {
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64",
          "type": "string"
        },
        "providerUserInfo": {
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "phoneNumber": {
                "description": "User's phone number.",
                "type": "string"
              },
              "rawId": {
                "description": "User's raw identifier directly returned from IDP.",
                "type": "string"
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "providerId": {
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              },
              "screenName": {
                "description": "User's screen name at Twitter or login name at Github.",
                "type": "string"
              },
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              }
            }
          },
          "description": "The IDP of the user.",
          "type": "array"
        },
        "screenName": {
          "description": "User's screen name at Twitter or login name at Github.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "salt": {
          "type": "string",
          "description": "The user's password salt.",
          "format": "byte"
        },
        "customAuth": {
          "description": "Whether the user is authenticated by the developer.",
          "type": "boolean"
        },
        "createdAt": {
          "type": "string",
          "description": "User creation timestamp.",
          "format": "int64"
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "disabled": {
          "description": "Whether the user is disabled.",
          "type": "boolean"
        }
      },
      "description": "Template for an individual account info.",
      "id": "UserInfo"
    },
    "Relyingparty": {
      "type": "object",
      "properties": {
        "userIp": {
          "description": "The IP address of the user.",
          "type": "string"
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "androidPackageName": {
          "description": "android package name of the android app to handle the action code",
          "type": "string"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "kind": {
          "type": "string",
          "default": "identitytoolkit#relyingparty",
          "description": "The fixed string \"identitytoolkit#relyingparty\"."
        },
        "challenge": {
          "description": "The recaptcha challenge presented to the user.",
          "type": "string"
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "newEmail": {
          "description": "The new email if the code is for email change.",
          "type": "string"
        },
        "canHandleCodeInApp": {
          "description": "whether or not the app can handle the oob code without first going to web",
          "type": "boolean"
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        }
      },
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "id": "Relyingparty"
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "type": "object",
      "properties": {
        "iosReceipt": {
          "description": "Receipt of successful app token validation with APNS.",
          "type": "string"
        },
        "iosSecret": {
          "description": "Secret delivered to iOS app via APNS.",
          "type": "string"
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "description": "Request for Identitytoolkit-SendVerificationCode"
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "description": "Request to upload user account in batch.",
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "signerKey": {
          "type": "string",
          "description": "The key for to hash the password.",
          "format": "byte"
        },
        "rounds": {
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "format": "int32"
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        },
        "saltSeparator": {
          "type": "string",
          "description": "The salt separator.",
          "format": "byte"
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "format": "int32"
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "description": "The account info to be stored.",
          "type": "array"
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "cpuMemCost": {
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "format": "int32"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "type": "object",
      "properties": {
        "idToken": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "sessionInfo": {
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode.",
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber"
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://www.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "description": "Help the third party sites to implement federated login.",
  "title": "Google Identity Toolkit API",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "userIp": {
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string"
    }
  },
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "ownerName": "Google",
  "canonicalName": "Identity Toolkit",
  "version": "v3",
  "protocol": "rest",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "id": "identitytoolkit:v3",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "resources": {
    "relyingparty": {
      "methods": {
        "deleteAccount": {
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "path": "deleteAccount",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Delete user account.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          }
        },
        "setAccountInfo": {
          "description": "Set account info for a user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "setAccountInfo",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "httpMethod": "POST"
        },
        "getOobConfirmationCode": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get a code for user action confirmation.",
          "request": {
            "$ref": "Relyingparty"
          },
          "httpMethod": "POST",
          "path": "getOobConfirmationCode",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode"
        },
        "downloadAccount": {
          "path": "downloadAccount",
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "httpMethod": "POST",
          "description": "Batch download user accounts.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        },
        "verifyCustomToken": {
          "description": "Verifies the developer asserted ID token.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "path": "verifyCustomToken",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "httpMethod": "POST"
        },
        "getAccountInfo": {
          "path": "getAccountInfo",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "httpMethod": "POST",
          "description": "Returns the account info.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getRecaptchaParam": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get recaptcha secure param.",
          "httpMethod": "GET",
          "path": "getRecaptchaParam",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "id": "identitytoolkit.relyingparty.getRecaptchaParam"
        },
        "createAuthUri": {
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "path": "createAuthUri",
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "httpMethod": "POST"
        },
        "emailLinkSignin": {
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "path": "emailLinkSignin",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "httpMethod": "POST",
          "description": "Reset password for a user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getPublicKeys": {
          "path": "publicKeys",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "httpMethod": "GET",
          "description": "Get token signing public key.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "verifyPassword": {
          "description": "Verifies the user entered password.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "path": "verifyPassword",
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "httpMethod": "POST"
        },
        "getProjectConfig": {
          "path": "getProjectConfig",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "httpMethod": "GET",
          "description": "Get project configuration.",
          "parameters": {
            "delegatedProjectNumber": {
              "type": "string",
              "description": "Delegated GCP project number of the request.",
              "location": "query"
            },
            "projectNumber": {
              "type": "string",
              "description": "GCP project number of the request.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "signOutUser": {
          "httpMethod": "POST",
          "path": "signOutUser",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "id": "identitytoolkit.relyingparty.signOutUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sign out user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          }
        },
        "uploadAccount": {
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "path": "uploadAccount",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "httpMethod": "POST",
          "description": "Batch upload existing user accounts.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        },
        "sendVerificationCode": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Send SMS verification code.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "path": "sendVerificationCode",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          }
        },
        "verifyAssertion": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Verifies the assertion returned by the IdP.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "httpMethod": "POST",
          "path": "verifyAssertion",
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyAssertion"
        },
        "resetPassword": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Reset password for a user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.resetPassword",
          "path": "resetPassword",
          "response": {
            "$ref": "ResetPasswordResponse"
          }
        },
        "verifyPhoneNumber": {
          "httpMethod": "POST",
          "path": "verifyPhoneNumber",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          }
        },
        "setProjectConfig": {
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "path": "setProjectConfig",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "httpMethod": "POST",
          "description": "Set project configuration.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "signupNewUser": {
          "httpMethod": "POST",
          "path": "signupNewUser",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Signup new user.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          }
        }
      }
    }
  }
}