{
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260715",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "identitytoolkit:v2",
  "resources": {
    "projects": {
      "methods": {
        "getConfig": {
          "httpMethod": "GET",
          "flatPath": "v2/projects/{projectsId}/config",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "id": "identitytoolkit.projects.getConfig",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/config$",
              "description": "The resource name of the config, for example: \"projects/my-awesome-project/config\"",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieve an Identity Toolkit project configuration."
        },
        "updateConfig": {
          "id": "identitytoolkit.projects.updateConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "Update an Identity Toolkit project configuration.",
          "parameters": {
            "updateMask": {
              "description": "The update mask applies to the resource. Fields set in the config but not included in this update mask will be ignored. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\"",
              "pattern": "^projects/[^/]+/config$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v2/projects/{projectsId}/config",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "path": "v2/{+name}"
        }
      },
      "resources": {
        "tenants": {
          "methods": {
            "setIamPolicy": {
              "path": "v2/{+resource}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleIamV1SetIamPolicyRequest"
              },
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:setIamPolicy",
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Sets the access control policy for a resource. If the policy exists, it is replaced. Caller must have the right Google IAM permission on the resource.",
              "id": "identitytoolkit.projects.tenants.setIamPolicy"
            },
            "delete": {
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "description": "Resource name of the tenant to delete.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Delete a tenant. Requires write permission on the Agent project.",
              "id": "identitytoolkit.projects.tenants.delete"
            },
            "patch": {
              "id": "identitytoolkit.projects.tenants.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "If provided, only update fields set in the update mask. Otherwise, all settable fields will be updated. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Update a tenant. Requires write permission on the Tenant resource.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              }
            },
            "testIamPermissions": {
              "path": "v2/{+resource}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "GoogleIamV1TestIamPermissionsResponse"
              },
              "request": {
                "$ref": "GoogleIamV1TestIamPermissionsRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Returns the caller's permissions on a resource. An error is returned if the resource does not exist. A caller is not required to have Google IAM permission to make this request.",
              "id": "identitytoolkit.projects.tenants.testIamPermissions"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Get a tenant. Requires read permission on the Tenant resource.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name of the tenant to retrieve.",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "identitytoolkit.projects.tenants.get"
            },
            "list": {
              "path": "v2/{+parent}/tenants",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/tenants",
              "parameters": {
                "pageToken": {
                  "description": "The pagination token from the response of a previous request.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The parent resource name to list tenants for."
                },
                "pageSize": {
                  "description": "The maximum number of results to return, capped at 1000. If not specified, the default value is 20.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "List tenants under the given agent project. Requires read permission on the Agent project.",
              "id": "identitytoolkit.projects.tenants.list"
            },
            "getIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Gets the access control policy for a resource. An error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it. Caller must have the right Google IAM permission on the resource.",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$"
                }
              },
              "id": "identitytoolkit.projects.tenants.getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "path": "v2/{+resource}:getIamPolicy",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:getIamPolicy",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleIamV1GetIamPolicyRequest"
              }
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/tenants",
              "path": "v2/{+parent}/tenants",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "id": "identitytoolkit.projects.tenants.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name where the tenant will be created. For example, \"projects/project1\"."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Create a tenant. Requires write permission on the Agent project."
            }
          },
          "resources": {
            "inboundSamlConfigs": {
              "methods": {
                "delete": {
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Delete an inbound SAML configuration for an Identity Toolkit project.",
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "path": "v2/{+name}",
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$"
                    },
                    "updateMask": {
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  }
                },
                "get": {
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
                  },
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "List all inbound SAML configurations for an Identity Toolkit project."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "location": "path",
                      "required": true
                    },
                    "inboundSamlConfigId": {
                      "description": "The id to use for this config.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "defaultSupportedIdpConfigs": {
              "methods": {
                "get": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.get"
                },
                "list": {
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "List all default supported Idp configurations for an Identity Toolkit project.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
                  },
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "type": "string"
                    },
                    "idpId": {
                      "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.create"
                },
                "delete": {
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Update a default supported Idp configuration for an Identity Toolkit project."
                }
              }
            },
            "oauthIdpConfigs": {
              "methods": {
                "delete": {
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "patch": {
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  }
                },
                "create": {
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
                  "parameters": {
                    "oauthIdpConfigId": {
                      "type": "string",
                      "description": "The id to use for this config.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "path": "v2/{+parent}/oauthIdpConfigs"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project."
                },
                "list": {
                  "path": "v2/{+parent}/oauthIdpConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.list"
                }
              }
            }
          }
        },
        "oauthIdpConfigs": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs",
              "path": "v2/{+parent}/oauthIdpConfigs",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "id": "identitytoolkit.projects.oauthIdpConfigs.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "oauthIdpConfigId": {
                  "description": "The id to use for this config.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Create an Oidc Idp configuration for an Identity Toolkit project."
            },
            "get": {
              "id": "identitytoolkit.projects.oauthIdpConfigs.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              }
            },
            "list": {
              "id": "identitytoolkit.projects.oauthIdpConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
              "parameters": {
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of items to return.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
              },
              "path": "v2/{+parent}/oauthIdpConfigs"
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
              "id": "identitytoolkit.projects.oauthIdpConfigs.delete",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}"
            },
            "patch": {
              "id": "identitytoolkit.projects.oauthIdpConfigs.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
              "parameters": {
                "updateMask": {
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "path": "v2/{+name}"
            }
          }
        },
        "inboundSamlConfigs": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Delete an inbound SAML configuration for an Identity Toolkit project.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "type": "string"
                }
              },
              "id": "identitytoolkit.projects.inboundSamlConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "httpMethod": "DELETE"
            },
            "patch": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
              "id": "identitytoolkit.projects.inboundSamlConfigs.patch",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$"
                }
              },
              "id": "identitytoolkit.projects.inboundSamlConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "httpMethod": "GET"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "List all inbound SAML configurations for an Identity Toolkit project.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of items to return.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "identitytoolkit.projects.inboundSamlConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
              },
              "path": "v2/{+parent}/inboundSamlConfigs",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs",
              "httpMethod": "GET"
            },
            "create": {
              "path": "v2/{+parent}/inboundSamlConfigs",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "inboundSamlConfigId": {
                  "description": "The id to use for this config.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
              "id": "identitytoolkit.projects.inboundSamlConfigs.create"
            }
          }
        },
        "identityPlatform": {
          "methods": {
            "initializeAuth": {
              "id": "identitytoolkit.projects.identityPlatform.initializeAuth",
              "parameters": {
                "project": {
                  "type": "string",
                  "description": "The resource name of the target project the developer wants to enable Identity Platform for.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Initialize Identity Platform for a Cloud project. Identity Platform is an end-to-end authentication system for third-party users to access your apps and services. These could include mobile/web apps, games, APIs and beyond. This is the publicly available variant of EnableIdentityPlatform that is only available to billing-enabled projects.",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/identityPlatform:initializeAuth",
              "path": "v2/{+project}/identityPlatform:initializeAuth",
              "parameterOrder": [
                "project"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse"
              }
            }
          }
        },
        "defaultSupportedIdpConfigs": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Delete a default supported Idp configuration for an Identity Toolkit project."
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.patch",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "httpMethod": "PATCH"
            },
            "create": {
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "idpId": {
                  "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs",
              "path": "v2/{+parent}/defaultSupportedIdpConfigs",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              }
            },
            "get": {
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              }
            },
            "list": {
              "path": "v2/{+parent}/defaultSupportedIdpConfigs",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of items to return.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "List all default supported Idp configurations for an Identity Toolkit project.",
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.list"
            }
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "revokeToken": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Revokes a user's token from an Identity Provider (IdP). This is done by manually providing an IdP credential, and the token types for revocation. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "id": "identitytoolkit.accounts.revokeToken",
          "path": "v2/accounts:revokeToken",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse"
          },
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v2/accounts:revokeToken"
        }
      },
      "resources": {
        "mfaEnrollment": {
          "methods": {
            "finalize": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest"
              },
              "flatPath": "v2/accounts/mfaEnrollment:finalize",
              "path": "v2/accounts/mfaEnrollment:finalize",
              "parameterOrder": [],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse"
              },
              "id": "identitytoolkit.accounts.mfaEnrollment.finalize",
              "parameters": {},
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Finishes enrolling a second factor for the user."
            },
            "start": {
              "parameters": {},
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Step one of the MFA enrollment process. In SMS case, this sends an SMS verification code to the user.",
              "id": "identitytoolkit.accounts.mfaEnrollment.start",
              "path": "v2/accounts/mfaEnrollment:start",
              "parameterOrder": [],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse"
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v2/accounts/mfaEnrollment:start"
            },
            "withdraw": {
              "path": "v2/accounts/mfaEnrollment:withdraw",
              "parameterOrder": [],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest"
              },
              "flatPath": "v2/accounts/mfaEnrollment:withdraw",
              "parameters": {},
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Revokes one second factor from the enrolled second factors for an account.",
              "id": "identitytoolkit.accounts.mfaEnrollment.withdraw"
            }
          }
        },
        "mfaSignIn": {
          "methods": {
            "finalize": {
              "parameters": {},
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Verifies the MFA challenge and performs sign-in",
              "id": "identitytoolkit.accounts.mfaSignIn.finalize",
              "path": "v2/accounts/mfaSignIn:finalize",
              "parameterOrder": [],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse"
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v2/accounts/mfaSignIn:finalize"
            },
            "start": {
              "flatPath": "v2/accounts/mfaSignIn:start",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest"
              },
              "parameterOrder": [],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse"
              },
              "path": "v2/accounts/mfaSignIn:start",
              "id": "identitytoolkit.accounts.mfaSignIn.start",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sends the MFA challenge",
              "parameters": {}
            }
          }
        }
      }
    },
    "defaultSupportedIdps": {
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "description": "The maximum number of items to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "The next_page_token value returned from a previous List request, if any.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "List all default supported Idps.",
          "id": "identitytoolkit.defaultSupportedIdps.list",
          "path": "v2/defaultSupportedIdps",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v2/defaultSupportedIdps"
        }
      }
    },
    "v2": {
      "methods": {
        "getRecaptchaConfig": {
          "id": "identitytoolkit.getRecaptchaConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets parameters needed for reCAPTCHA analysis.",
          "parameters": {
            "tenantId": {
              "description": "The id of a tenant.",
              "location": "query",
              "type": "string"
            },
            "clientType": {
              "description": "reCAPTCHA Enterprise uses separate site keys for different client types. Specify the client type to get the corresponding key.",
              "enum": [
                "CLIENT_TYPE_UNSPECIFIED",
                "CLIENT_TYPE_WEB",
                "CLIENT_TYPE_ANDROID",
                "CLIENT_TYPE_IOS"
              ],
              "type": "string",
              "enumDescriptions": [
                "Client type is not specified.",
                "Client type is web.",
                "Client type is android.",
                "Client type is ios."
              ],
              "location": "query"
            },
            "version": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The reCAPTCHA version is not specified.",
                "The reCAPTCHA enterprise."
              ],
              "description": "The reCAPTCHA version.",
              "enum": [
                "RECAPTCHA_VERSION_UNSPECIFIED",
                "RECAPTCHA_ENTERPRISE"
              ]
            }
          },
          "flatPath": "v2/recaptchaConfig",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaConfig"
          },
          "path": "v2/recaptchaConfig"
        },
        "getPasswordPolicy": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2PasswordPolicy"
          },
          "path": "v2/passwordPolicy",
          "flatPath": "v2/passwordPolicy",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets password policy config set on the project or tenant.",
          "parameters": {
            "tenantId": {
              "description": "The id of a tenant.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "identitytoolkit.getPasswordPolicy"
        }
      }
    }
  },
  "version_module": true,
  "schemas": {
    "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest": {
      "description": "Withdraws MFA.",
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest",
      "type": "object",
      "properties": {
        "mfaEnrollmentId": {
          "description": "Required. MFA enrollment id from a current MFA enrollment.",
          "type": "string"
        },
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user unenrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule": {
      "type": "object",
      "properties": {
        "startScore": {
          "type": "number",
          "format": "float",
          "description": "The start score (inclusive) for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the safest request (likely legitimate), whereas 1.0 indicates the riskiest request (likely toll fraud). See https://cloud.google.com/recaptcha-enterprise/docs/sms-fraud-detection#create-assessment-sms."
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ],
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ],
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score]."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule",
      "description": "The config for a reCAPTCHA toll fraud assessment managed rule. Models a single interval [start_score, end_score]. The end_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping."
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudIdentitytoolkitV2CustomStrengthOptions": {
      "id": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions",
      "description": "Custom strength options to enforce on user passwords.",
      "type": "object",
      "properties": {
        "minPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum password length. Range from 6 to 30"
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "maxPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum password length. No default max length"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "containsNumericCharacter": {
          "description": "The password must contain a number.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "type": "object",
      "properties": {
        "enabledProviders": {
          "type": "array",
          "description": "A list of usable second factors for this project.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Illegal Provider, should not be used",
              "SMS is enabled as a second factor for this project."
            ],
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "PHONE_SMS"
            ]
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "description": "Whether MultiFactor Authentication has been enabled for this project.",
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project",
            "Multi-factor authentication can be used for this project",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ]
        },
        "providerConfigs": {
          "description": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
          },
          "type": "array"
        }
      },
      "description": "Options related to MultiFactor Authentication for the project.",
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "description": "Configuration for SMTP relay",
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp",
      "type": "object",
      "properties": {
        "port": {
          "description": "SMTP relay port",
          "type": "integer",
          "format": "int32"
        },
        "securityMode": {
          "description": "SMTP security mode.",
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ]
        },
        "senderEmail": {
          "description": "Sender email for the SMTP relay",
          "type": "string"
        },
        "password": {
          "description": "SMTP relay password",
          "type": "string"
        },
        "host": {
          "description": "SMTP relay host",
          "type": "string"
        },
        "username": {
          "description": "SMTP relay username",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig": {
      "description": "The configuration for the password policy on the project.",
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
      "type": "object",
      "properties": {
        "passwordPolicyEnforcementState": {
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "description": "Which enforcement mode to use for the password policy.",
          "enum": [
            "PASSWORD_POLICY_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ]
        },
        "forceUpgradeOnSignin": {
          "description": "Users must have a password compliant with the password policy to sign-in.",
          "type": "boolean"
        },
        "passwordPolicyVersions": {
          "description": "Must be of length 1. Contains the strength attributes for the password policy.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
          },
          "type": "array"
        },
        "lastUpdateTime": {
          "description": "Output only. The last time the password policy on the project was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleTypeExpr": {
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudIdentitytoolkitAdminV2Permissions": {
      "type": "object",
      "properties": {
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        }
      },
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "id": "GoogleCloudIdentitytoolkitAdminV2Permissions"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse",
      "description": "Response message for ListTenants.",
      "type": "object",
      "properties": {
        "tenants": {
          "type": "array",
          "description": "A list of tenants under the given agent project.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
          }
        },
        "nextPageToken": {
          "description": "The token to get the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
          "type": "string"
        },
        "appleSignInConfig": {
          "description": "Additional config for Apple-based projects.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "clientSecret": {
          "description": "OAuth client secret.",
          "type": "string"
        },
        "clientId": {
          "description": "OAuth client ID.",
          "type": "string"
        }
      },
      "description": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs.",
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig": {
      "description": "Options related to how clients making requests on behalf of a tenant should be configured.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "Configuration related to restricting a user's ability to affect their account.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest": {
      "type": "object",
      "properties": {
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "description": "Required. MFA enrollment id from the user's list of current MFA enrollments.",
          "type": "string"
        },
        "phoneSignInInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest",
      "description": "Starts multi-factor sign-in by sending the multi-factor auth challenge."
    },
    "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials": {
      "type": "object",
      "properties": {
        "idToken": {
          "description": "Whether to pass the user's OIDC identity provider's ID token.",
          "type": "boolean"
        },
        "accessToken": {
          "description": "Whether to pass the user's OAuth identity provider's access token.",
          "type": "boolean"
        },
        "refreshToken": {
          "description": "Whether to pass the user's OAuth identity provider's refresh token.",
          "type": "boolean"
        }
      },
      "description": "Indicates which credentials to pass to the registered Blocking Functions.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials"
    },
    "GoogleCloudIdentitytoolkitV2PasswordPolicy": {
      "type": "object",
      "properties": {
        "customStrengthOptions": {
          "description": "The custom strength options enforced by the password policy.",
          "$ref": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions"
        },
        "schemaVersion": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. schema version number for the password policy"
        },
        "allowedNonAlphanumericCharacters": {
          "description": "Output only. Allowed characters which satisfy the non_alphanumeric requirement.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "enforcementState": {
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "description": "Output only. Which enforcement mode to use for the password policy.",
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "readOnly": true
        },
        "forceUpgradeOnSignin": {
          "description": "Users must have a password compliant with the password policy to sign-in.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2PasswordPolicy",
      "description": "Configuration for password policy."
    },
    "GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "description": "Options for email sending.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendEmail",
      "type": "object",
      "properties": {
        "method": {
          "description": "The method used for sending an email.",
          "enum": [
            "METHOD_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM_SMTP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Email method unspecified.",
            "Sending email on behalf of developer.",
            "Sending email using SMTP configuration provided by developers."
          ]
        },
        "smtp": {
          "description": "Use a custom SMTP relay",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Smtp"
        },
        "legacyResetPasswordTemplate": {
          "description": "Reset password email template for legacy Firebase V1 app.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "changeEmailTemplate": {
          "description": "Email template for change email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "callbackUri": {
          "description": "action url in email template.",
          "type": "string"
        },
        "dnsInfo": {
          "description": "Information of custom domain DNS verification.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2DnsInfo"
        },
        "revertSecondFactorAdditionTemplate": {
          "description": "Email template for reverting second factor addition emails",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
      "description": "Configuration related to quotas.",
      "type": "object",
      "properties": {
        "signUpQuotaConfig": {
          "description": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota"
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsTemplate": {
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SMS's content. Can contain the following placeholders which will be replaced with the appropriate values: %APP_NAME% - For Android or iOS apps, the app's display name. For web apps, the domain hosting the application. %LOGIN_CODE% - The OOB code being sent in the SMS."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate",
      "description": "The template to use when sending an SMS."
    },
    "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse": {
      "type": "object",
      "properties": {
        "inboundSamlConfigs": {
          "type": "array",
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response for ListInboundSamlConfigs",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2Tenant": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Tenant",
      "description": "A Tenant contains configuration for the tenant in a multi-tenant project.",
      "type": "object",
      "properties": {
        "hashConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "description": "Output only. Hash config information of a tenant for display on Pantheon. This can only be displayed on Pantheon to avoid the sensitive information to get accidentally leaked. Only returned in GetTenant response to restrict reading of this information. Requires firebaseauth.configs.getHashConfig permission on the agent project for returning this field."
        },
        "displayName": {
          "description": "Display name of the tenant.",
          "type": "string"
        },
        "monitoring": {
          "description": "Configuration related to monitoring project activity.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
        },
        "allowPasswordSignup": {
          "description": "Whether to allow email/password user authentication.",
          "type": "boolean"
        },
        "testPhoneNumbers": {
          "description": "A map of pairs that can be used for MFA. The phone number should be in E.164 format (https://www.itu.int/rec/T-REC-E.164/) and a maximum of 10 pairs can be added (error will be thrown once exceeded).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "smsRegionConfig": {
          "description": "Configures which regions are enabled for SMS verification code sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
        },
        "autodeleteAnonymousUsers": {
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days.",
          "type": "boolean"
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig"
        },
        "enableEmailLinkSignin": {
          "description": "Whether to enable email link user authentication.",
          "type": "boolean"
        },
        "disableAuth": {
          "description": "Whether authentication is disabled for the tenant. If true, the users under the disabled tenant are not allowed to sign-in. Admins of the disabled tenant are not able to manage its users.",
          "type": "boolean"
        },
        "mfaConfig": {
          "description": "The tenant-level configuration of MFA options.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        },
        "passwordPolicyConfig": {
          "description": "The tenant-level password policy config",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
        },
        "name": {
          "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
          "readOnly": true,
          "type": "string"
        },
        "mobileLinksConfig": {
[...]
