{
  "title": "Google Identity Toolkit API",
  "version": "v3",
  "rootUrl": "https://www.googleapis.com/",
  "revision": "20180723",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "protocol": "rest",
  "ownerName": "Google",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for the response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json"
      ]
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "ownerDomain": "google.com",
  "batchPath": "batch/identitytoolkit/v3",
  "description": "Help the third party sites to implement federated login.",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "discoveryVersion": "v1",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "kind": "discovery#restDescription",
  "schemas": {
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether to disable the user. Only can be used by service account.",
          "type": "boolean"
        },
        "localId": {
          "description": "Privileged caller can create user with specified user id.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        }
      }
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "type": "object",
      "description": "Request to sign in with email.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        },
        "idToken": {
          "description": "Token for linking flow.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "properties": {
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        },
        "maxResults": {
          "format": "uint32",
          "type": "integer",
          "description": "The max number of results to return in the response."
        }
      },
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "type": "object",
      "description": "Request to download user account in batch."
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "properties": {
        "signerKey": {
          "description": "The key for to hash the password.",
          "type": "string",
          "format": "byte"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "users": {
          "description": "The account info to be stored.",
          "type": "array",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "sanityCheck": {
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account.",
          "type": "boolean"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "saltSeparator": {
          "type": "string",
          "description": "The salt separator.",
          "format": "byte"
        },
        "cpuMemCost": {
          "format": "int32",
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm."
        },
        "dkLen": {
          "format": "int32",
          "type": "integer"
        },
        "hashAlgorithm": {
          "description": "The password hash algorithm.",
          "type": "string"
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "format": "int32"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "rounds": {
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Request to upload user account in batch.",
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "type": "object"
    },
    "EmailLinkSigninResponse": {
      "properties": {
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        },
        "idToken": {
          "description": "The STS id token to login the newly signed in user.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "Expiration time of STS id token in seconds."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "default": "identitytoolkit#EmailLinkSigninResponse"
        },
        "refreshToken": {
          "description": "The refresh token for the signed in user.",
          "type": "string"
        },
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      },
      "id": "EmailLinkSigninResponse",
      "type": "object",
      "description": "Response of email signIn."
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "properties": {
        "code": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        },
        "idToken": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        }
      },
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "type": "object"
    },
    "UploadAccountResponse": {
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\".",
          "default": "identitytoolkit#UploadAccountResponse",
          "type": "string"
        },
        "error": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "index": {
                "format": "int32",
                "description": "The index of the malformed account, starting from 0.",
                "type": "integer"
              },
              "message": {
                "description": "Detailed error message for the account info.",
                "type": "string"
              }
            }
          },
          "description": "The error encountered while processing the account info."
        }
      },
      "description": "Respone of uploading accounts in batch.",
      "id": "UploadAccountResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "type": "object",
      "properties": {
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "verificationProof": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "localId": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DeleteAccountResponse": {
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "default": "identitytoolkit#DeleteAccountResponse",
          "type": "string"
        }
      },
      "id": "DeleteAccountResponse",
      "type": "object",
      "description": "Respone of deleting account."
    },
    "UserInfo": {
      "description": "Template for an individual account info.",
      "id": "UserInfo",
      "type": "object",
      "properties": {
        "screenName": {
          "description": "User's screen name at Twitter or login name at Github.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "lastLoginAt": {
          "format": "int64",
          "description": "last login timestamp.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the email has been verified.",
          "type": "boolean"
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "version": {
          "type": "integer",
          "description": "Version of the user's password.",
          "format": "int32"
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp in seconds for valid login token."
        },
        "providerUserInfo": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "providerId": {
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              },
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              },
              "phoneNumber": {
                "description": "User's phone number.",
                "type": "string"
              },
              "screenName": {
                "description": "User's screen name at Twitter or login name at Github.",
                "type": "string"
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "displayName": {
                "description": "The user's display name at the IDP.",
                "type": "string"
              },
              "email": {
                "description": "User's email at IDP.",
                "type": "string"
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              }
            }
          },
          "description": "The IDP of the user."
        },
        "createdAt": {
          "description": "User creation timestamp.",
          "type": "string",
          "format": "int64"
        },
        "photoUrl": {
          "description": "The URL of the user profile photo.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the user is disabled.",
          "type": "boolean"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "phoneNumber": {
          "description": "User's phone number.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "salt": {
          "type": "string",
          "description": "The user's password salt.",
          "format": "byte"
        },
        "passwordUpdatedAt": {
          "description": "The timestamp when the password was last updated.",
          "type": "number",
          "format": "double"
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "properties": {
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "token": {
          "description": "The custom token to verify",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "type": "object",
      "description": "Request to verify a custom token"
    },
    "SetAccountInfoResponse": {
      "id": "SetAccountInfoResponse",
      "type": "object",
      "description": "Respone of setting the account information.",
      "properties": {
        "passwordHash": {
          "format": "byte",
          "type": "string",
          "description": "The user's hashed password."
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "providerUserInfo": {
          "description": "The user's profiles at the associated IdPs.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "providerId": {
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              },
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              }
            }
          }
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "emailVerified": {
          "description": "If email has been verified.",
          "type": "boolean"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "default": "identitytoolkit#SetAccountInfoResponse"
        }
      }
    },
    "IdpConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "experimentPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Percent of users who will be prompted/redirected federated login for this IDP."
        },
        "whitelistedAudiences": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Whitelisted client IDs for audience check."
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "secret": {
          "description": "OAuth2 client secret.",
          "type": "string"
        },
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        }
      },
      "description": "Template for a single idp configuration.",
      "id": "IdpConfig",
      "type": "object"
    },
    "GetOobConfirmationCodeResponse": {
      "properties": {
        "email": {
          "description": "The email address that the email is sent to.",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse"
        }
      },
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "id": "GetOobConfirmationCodeResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "properties": {
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled.",
          "type": "boolean"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "authorizedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Authorized domains."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "idpConfig": {
          "description": "OAuth2 provider configuration.",
          "type": "array",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      },
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object",
      "description": "Response of getting the project configuration."
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "properties": {
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "pendingIdToken": {
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string"
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "password": {
          "description": "The password inputed by the user.",
          "type": "string"
        }
      },
      "description": "Request to verify the password.",
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "type": "object"
    },
    "CreateAuthUriResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "default": "identitytoolkit#CreateAuthUriResponse"
        },
        "registered": {
          "description": "Whether the user is registered if the identifier is an email.",
          "type": "boolean"
        },
        "authUri": {
          "description": "The URI used by the IDP to authenticate the user.",
          "type": "string"
        },
        "captchaRequired": {
          "description": "True if captcha is required.",
          "type": "boolean"
        },
        "signinMethods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All sign-in methods this user has used."
        },
        "sessionId": {
          "description": "Session ID which should be passed in the following verifyAssertion request.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "allProviders": {
          "description": "all providers the user has once used to do federated login",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        }
      },
      "description": "Response of creating the IDP authentication URL.",
      "id": "CreateAuthUriResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "type": "object",
      "description": "Request to sign out user.",
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        }
      }
    },
    "SignupNewUserResponse": {
      "properties": {
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "localId": {
          "description": "The RP local ID of the user.",
          "type": "string"
        },
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        }
      },
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "id": "SignupNewUserResponse",
      "type": "object"
    },
    "EmailTemplate": {
      "properties": {
        "from": {
          "description": "From address of the email.",
          "type": "string"
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "body": {
          "description": "Email body.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name."
        }
      },
      "id": "EmailTemplate",
      "type": "object",
      "description": "Template for an email template."
    },
    "GetAccountInfoResponse": {
      "description": "Response of getting account information.",
      "id": "GetAccountInfoResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\".",
          "default": "identitytoolkit#GetAccountInfoResponse"
        },
        "users": {
          "description": "The info of the users.",
          "type": "array",
          "items": {
            "$ref": "UserInfo"
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "description": "Request to reset the password.",
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "type": "object",
      "properties": {
        "newPassword": {
          "description": "The new password inputted by the user.",
          "type": "string"
        },
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        },
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "type": "object",
      "description": "Response of signing out user.",
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      }
    },
    "Relyingparty": {
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "id": "Relyingparty",
      "type": "object",
      "properties": {
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "newEmail": {
          "description": "The new email if the code is for email change.",
          "type": "string"
        },
        "androidMinimumVersion": {
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app",
          "type": "string"
        },
        "requestType": {
          "description": "The request type.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#relyingparty\".",
          "default": "identitytoolkit#relyingparty",
          "type": "string"
        },
        "androidInstallApp": {
          "description": "whether or not to install the android app on the device where the link is opened",
          "type": "boolean"
        },
        "captchaResp": {
          "description": "The recaptcha response from the user.",
          "type": "string"
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "iOSAppStoreId": {
          "description": "iOS app store id to download the app if it's not already installed",
          "type": "string"
        },
        "idToken": {
          "description": "The user's Gitkit login token for email change.",
          "type": "string"
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        }
      }
    },
    "VerifyAssertionResponse": {
      "properties": {
        "emailVerified": {
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email.",
          "type": "boolean"
        },
        "appScheme": {
          "description": "The custom scheme used by mobile app.",
          "type": "string"
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "errorMessage": {
          "description": "Client error code.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "federatedId": {
          "description": "The unique ID identifies the IdP account.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "nickName": {
          "description": "The nick name of the user.",
          "type": "string"
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "default": "identitytoolkit#VerifyAssertionResponse"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "oauthScope": {
          "description": "The scope for the OpenID OAuth extension.",
          "type": "string"
        },
        "oauthExpireIn": {
          "format": "int32",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "type": "integer"
        },
        "timeZone": {
          "description": "The timezone of the user.",
          "type": "string"
        },
        "appInstallationUrl": {
          "description": "URL for OTA app installation.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "idToken": {
          "description": "The ID token.",
          "type": "string"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned.",
          "type": "string"
        },
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "needEmail": {
          "description": "Whether need client to supply email to complete the federated login flow.",
          "type": "boolean"
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "rawUserInfo": {
          "description": "Raw IDP-returned user info.",
          "type": "string"
        },
        "verifiedProvider": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "When action is 'map', contains the idps which can be used for confirmation."
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "originalEmail": {
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email.",
          "type": "string"
        },
        "emailRecycled": {
          "description": "It's true if the email is recycled.",
          "type": "boolean"
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "needConfirmation": {
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation.",
          "type": "boolean"
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        }
      },
      "description": "Response of verifying the IDP assertion.",
      "id": "VerifyAssertionResponse",
      "type": "object"
    },
    "DownloadAccountResponse": {
      "properties": {
        "users": {
          "description": "The user accounts data.",
          "type": "array",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "default": "identitytoolkit#DownloadAccountResponse",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        }
      },
      "description": "Response of downloading accounts in batch.",
      "id": "DownloadAccountResponse",
      "type": "object"
    },
    "GetRecaptchaParamResponse": {
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "default": "identitytoolkit#GetRecaptchaParamResponse",
          "type": "string"
        },
        "recaptchaSiteKey": {
          "description": "Site key registered at recaptcha.",
          "type": "string"
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        }
      },
      "id": "GetRecaptchaParamResponse",
      "type": "object",
      "description": "Response of getting recaptcha param."
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "properties": {
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "localId": {
          "description": "The list of local ID's of the users to inquiry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "phoneNumber": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Privileged caller can query users by specified phone number."
        },
        "email": {
          "description": "The list of emails of the users to inquiry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "type": "object",
      "description": "Request to get the account information."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "properties": {
        "continueUri": {
          "description": "The URI to which the IDP redirects the user after the federated login flow.",
          "type": "string"
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "oauthScope": {
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant",
          "type": "string"
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "authFlowType": {
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider.",
          "type": "string"
        },
        "sessionId": {
          "description": "The session_id passed by client.",
          "type": "string"
        },
        "customParameter": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          },
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token."
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "oauthConsumerKey": {
          "description": "The developer's consumer key for OpenId OAuth Extension",
          "type": "string"
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
          "type": "string"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "clientId": {
          "description": "The relying party OAuth client ID.",
          "type": "string"
        },
        "context": {
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback.",
          "type": "string"
        },
        "openidRealm": {
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set.",
          "type": "string"
        }
      },
      "description": "Request to get the IDP authentication URL.",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "properties": {
        "iosSecret": {
          "description": "Secret delivered to iOS app via APNS.",
          "type": "string"
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "iosReceipt": {
          "description": "Receipt of successful app token validation with APNS.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-SendVerificationCode"
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "description": "Request to delete account.",
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "type": "object"
    },
    "VerifyPasswordResponse": {
      "id": "VerifyPasswordResponse",
      "type": "object",
      "description": "Request of verifying the password.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\".",
          "default": "identitytoolkit#VerifyPasswordResponse"
        },
        "registered": {
          "description": "Whether the email is registered.",
          "type": "boolean"
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        },
        "oauthExpireIn": {
          "format": "int32",
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token."
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "properties": {
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "authorizedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Authorized domains for widget redirect."
        },
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether to enable anonymous user."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "idpConfig": {
          "description": "Oauth2 provider configuration.",
          "type": "array",
          "items": {
            "$ref": "IdpConfig"
          }
        }
      },
      "description": "Request to set the project configuration.",
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "properties": {
        "projectId": {
          "description": "Project ID of the relying party.",
          "type": "string"
        }
      },
      "description": "Response of setting the project configuration.",
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "type": "object"
    },
    "VerifyCustomTokenResponse": {
      "id": "VerifyCustomTokenResponse",
      "type": "object",
      "description": "Response from verifying a custom token",
      "properties": {
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "default": "identitytoolkit#VerifyCustomTokenResponse"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "description": "Respone of getting public keys."
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Privileged caller can update user with specified phone number.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "upgradeToFederatedLogin": {
          "description": "Mark the user to upgrade to federated login.",
          "type": "boolean"
        },
        "oobCode": {
          "description": "The out-of-band code of the change email request.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "validSince": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp in seconds for valid login token."
        },
        "createdAt": {
          "type": "string",
          "description": "The timestamp when the account is created.",
          "format": "int64"
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "provider": {
          "description": "The associated IDPs of the user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "password": {
          "description": "The new password of the user.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "deleteProvider": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDPs the user request to delete."
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "lastLoginAt": {
          "type": "string",
          "description": "Last login timestamp.",
          "format": "int64"
        },
        "deleteAttribute": {
          "description": "The attributes users request to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "emailVerified": {
          "description": "Mark the email as verified or not.",
          "type": "boolean"
        }
      },
      "description": "Request to set the account information.",
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "type": "object"
    },
    "ResetPasswordResponse": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "newEmail": {
          "description": "If the out-of-band code is for email recovery, the user's new email.",
          "type": "string"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\".",
          "default": "identitytoolkit#ResetPasswordResponse"
        }
      },
      "id": "ResetPasswordResponse",
      "type": "object",
      "description": "Response of resetting the password."
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "properties": {
        "requestUri": {
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "pendingIdToken": {
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user.",
          "type": "string"
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "postBody": {
          "description": "The post body if the request is a HTTP POST.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string"
        },
        "returnRefreshToken": {
          "description": "Whether to return refresh tokens.",
          "type": "boolean"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "type": "object",
      "description": "Request to verify the IDP assertion."
    }
  },
  "canonicalName": "Identity Toolkit",
  "name": "identitytoolkit",
  "resources": {
    "relyingparty": {
      "methods": {
        "verifyPhoneNumber": {
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "httpMethod": "POST",
          "path": "verifyPhoneNumber",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "createAuthUri": {
          "path": "createAuthUri",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "response": {
            "$ref": "CreateAuthUriResponse"
          }
        },
        "downloadAccount": {
          "description": "Batch download user accounts.",
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "httpMethod": "POST",
          "path": "downloadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        },
        "getAccountInfo": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "description": "Returns the account info.",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "path": "getAccountInfo",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "httpMethod": "POST"
        },
        "resetPassword": {
          "path": "resetPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.resetPassword",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "description": "Reset password for a user.",
          "response": {
            "$ref": "ResetPasswordResponse"
          }
        },
        "verifyCustomToken": {
          "path": "verifyCustomToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "description": "Verifies the developer asserted ID token.",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          }
        },
        "setProjectConfig": {
          "path": "setProjectConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "description": "Set project configuration.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          }
        },
        "setAccountInfo": {
          "description": "Set account info for a user.",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "httpMethod": "POST",
          "path": "setAccountInfo",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "signOutUser": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "description": "Sign out user.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "path": "signOutUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.signOutUser",
          "httpMethod": "POST"
        },
        "getOobConfirmationCode": {
          "request": {
            "$ref": "Relyingparty"
          },
          "description": "Get a code for user action confirmation.",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "path": "getOobConfirmationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "httpMethod": "POST"
        },
        "getRecaptchaParam": {
          "description": "Get recaptcha secure param.",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "path": "getRecaptchaParam",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "httpMethod": "GET"
        },
        "emailLinkSignin": {
          "description": "Reset password for a user.",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "httpMethod": "POST",
          "path": "emailLinkSignin",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "sendVerificationCode": {
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "httpMethod": "POST",
          "path": "sendVerificationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Send SMS verification code.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          }
        },
        "uploadAccount": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "description": "Batch upload existing user accounts.",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "path": "uploadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "httpMethod": "POST"
        },
        "signupNewUser": {
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "httpMethod": "POST",
          "path": "signupNewUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Signup new user.",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          }
        },
        "verifyPassword": {
          "path": "verifyPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "description": "Verifies the user entered password.",
          "response": {
            "$ref": "VerifyPasswordResponse"
          }
        },
        "deleteAccount": {
          "description": "Delete user account.",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "httpMethod": "POST",
          "path": "deleteAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getProjectConfig": {
          "parameters": {
            "delegatedProjectNumber": {
              "type": "string",
              "description": "Delegated GCP project number of the request.",
              "location": "query"
            },
            "projectNumber": {
              "description": "GCP project number of the request.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Get project configuration.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "path": "getProjectConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "httpMethod": "GET"
        },
        "getPublicKeys": {
          "description": "Get token signing public key.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "httpMethod": "GET",
          "path": "publicKeys",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "verifyAssertion": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "description": "Verifies the assertion returned by the IdP.",
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "path": "verifyAssertion",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "httpMethod": "POST"
        }
      }
    }
  },
  "id": "identitytoolkit:v3"
}