{
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/identity-platform",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "revision": "20260715",
  "name": "identitytoolkit",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Identity Toolkit",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudIdentitytoolkitV1SqlExpression": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "A string that the account's phone number should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
        },
        "email": {
          "description": "A case insensitive string that the account's email should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "userId": {
          "description": "A string that the account's local ID should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        }
      },
      "description": "Query conditions used to filter results.",
      "id": "GoogleCloudIdentitytoolkitV1SqlExpression"
    },
    "GoogleCloudIdentitytoolkitV1UserInfo": {
      "id": "GoogleCloudIdentitytoolkitV1UserInfo",
      "description": "An Identity Platform account's information.",
      "type": "object",
      "properties": {
        "salt": {
          "description": "The account's password salt. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "format": "byte",
          "type": "string"
        },
        "initialEmail": {
          "description": "The first email address associated with this account. The account's initial email cannot be changed once set and is used to recover access to this account if lost via the RECOVER_EMAIL flow in GetOobCode. Should match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "customAttributes": {
          "type": "string",
          "description": "Custom claims to be added to any ID tokens minted for the account. Should be at most 1,000 characters in length and in valid JSON format."
        },
        "emailLinkSignin": {
          "readOnly": true,
          "description": "Output only. Whether the account can authenticate with email link.",
          "type": "boolean"
        },
        "passwordHash": {
          "type": "string",
          "description": "The account's hashed password. Only accessible by requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "format": "byte"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the account's email address has been verified."
        },
        "disabled": {
          "description": "Whether the account is disabled. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "boolean"
        },
        "email": {
          "description": "The account's email address. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the account's profile photo. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The account's phone number."
        },
        "version": {
          "type": "integer",
          "description": "The version of the account's password. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "format": "int32"
        },
        "displayName": {
          "description": "The display name of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "createdAt": {
          "description": "The time, in milliseconds from epoch, when the account was created.",
          "format": "int64",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Output only. The time zone preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true
        },
        "screenName": {
          "description": "Output only. This account's screen name at Twitter or login name at GitHub.",
          "type": "string",
          "readOnly": true
        },
        "customAuth": {
          "readOnly": true,
          "description": "Output only. Whether this account has been authenticated using SignInWithCustomToken.",
          "type": "boolean"
        },
        "localId": {
          "description": "Immutable. The unique ID of the account.",
          "type": "string"
        },
        "providerUserInfo": {
          "description": "Information about the user as provided by various Identity Providers.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "type": "array"
        },
        "validSince": {
          "type": "string",
          "description": "Oldest timestamp, in seconds since epoch, that an ID token should be considered valid. All ID tokens issued before this time are considered invalid.",
          "format": "int64"
        },
        "tenantId": {
          "description": "ID of the tenant this account belongs to. Only set if this account belongs to a tenant.",
          "type": "string"
        },
        "mfaInfo": {
          "description": "Information on which multi-factor authentication providers are enabled for this account.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array"
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp, in milliseconds from the epoch of 1970-01-01T00:00:00Z, when the account's password was last updated.",
          "format": "double"
        },
        "lastLoginAt": {
          "description": "The last time, in milliseconds from epoch, this account was logged into.",
          "format": "int64",
          "type": "string"
        },
        "lastRefreshAt": {
          "description": "Timestamp when an ID token was last minted for this account.",
          "format": "google-datetime",
          "type": "string"
        },
        "language": {
          "readOnly": true,
          "description": "Output only. The language preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "rawPassword": {
          "type": "string",
          "description": "Input only. Plain text password used to update a account's password. This field is only ever used as input in a request. Identity Platform uses cryptographically secure hashing when managing passwords and will never store or transmit a user's password in plain text."
        },
        "dateOfBirth": {
          "readOnly": true,
          "description": "Output only. The date of birth set for the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse": {
      "type": "object",
      "properties": {
        "suggestedTimeout": {
          "description": "Suggested time that the client should wait in seconds for delivery of the push notification.",
          "format": "int64",
          "type": "string"
        },
        "receipt": {
          "description": "Receipt of successful app token validation.",
          "type": "string"
        }
      },
      "description": "Response message for VerifyIosClient.",
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse"
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest": {
      "description": "Request message for QueryUserInfo.",
      "type": "object",
      "properties": {
        "limit": {
          "description": "The maximum number of accounts to return with an upper limit of __500__. Defaults to _500_. Only valid when `return_user_info` is set to `true`.",
          "format": "int64",
          "type": "string"
        },
        "sortBy": {
          "type": "string",
          "enumDescriptions": [
            "Sort field is not specified.",
            "Sort result by userId.",
            "Sort result by name.",
            "Sort result by createdAt.",
            "Sort result by lastLoginAt.",
            "Sort result by userEmail."
          ],
          "enum": [
            "SORT_BY_FIELD_UNSPECIFIED",
            "USER_ID",
            "NAME",
            "CREATED_AT",
            "LAST_LOGIN_AT",
            "USER_EMAIL"
          ]
        },
        "expression": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1SqlExpression"
          },
          "type": "array"
        },
        "returnUserInfo": {
          "type": "boolean",
          "description": "If `true`, this request will return the accounts matching the query. If `false`, only the __count__ of accounts matching the query will be returned. Defaults to `true`."
        },
        "offset": {
          "type": "string",
          "description": "The number of accounts to skip from the beginning of matching records. Only valid when `return_user_info` is set to `true`.",
          "format": "int64"
        },
        "tenantId": {
          "description": "The ID of the tenant to which the result is scoped.",
          "type": "string"
        },
        "order": {
          "type": "string",
          "enumDescriptions": [
            "Order is not specified.",
            "Sort on ascending order.",
            "Sort on descending order."
          ],
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASC",
            "DESC"
          ]
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse": {
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse",
      "type": "object",
      "properties": {
        "recordsCount": {
          "description": "If `return_user_info` in the request is true, this is the number of returned accounts in this message. Otherwise, this is the total number of accounts matching the query.",
          "format": "int64",
          "type": "string"
        },
        "userInfo": {
          "description": "If `return_user_info` in the request is true, this is the accounts matching the query.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "type": "array"
        }
      },
      "description": "Response message for QueryUserInfo."
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "description": "Request message for VerifyIosClient",
      "type": "object",
      "properties": {
        "appToken": {
          "type": "string",
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service)."
        },
        "isSandbox": {
          "type": "boolean",
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest",
      "description": "Request message for SignInWithIdp.",
      "type": "object",
      "properties": {
        "sessionId": {
          "description": "The session ID returned from a previous CreateAuthUri call. This field is verified against that session ID to prevent session fixation attacks. Required if the user is signing in with an authorization response from a previous CreateAuthUri authorization request.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "postBody": {
          "type": "string",
          "description": "If the user is signing in with an authorization response obtained via a previous CreateAuthUri authorization request, this is the body of the HTTP POST callback from the IdP, if present. Otherwise, if the user is signing in with a manually provided IdP credential, this should be a URL-encoded form that contains the credential (e.g. an ID token or access token for OAuth 2.0 IdPs) and the provider ID of the IdP that issued the credential. For example, if the user is signing in to the Google provider using a Google ID token, this should be set to id_token`=[GOOGLE_ID_TOKEN]&providerId=google.com`, where `[GOOGLE_ID_TOKEN]` should be replaced with the Google ID token. If the user is signing in to the Facebook provider using a Facebook authentication token, this should be set to id_token`=[FACEBOOK_AUTHENTICATION_TOKEN]&providerId=facebook. com&nonce= [NONCE]`, where `[FACEBOOK_AUTHENTICATION_TOKEN]` should be replaced with the Facebook authentication token. Nonce is required for validating the token. The request will fail if no nonce is provided. If the user is signing in to the Facebook provider using a Facebook access token, this should be set to access_token`=[FACEBOOK_ACCESS_TOKEN]&providerId=facebook. com`, where `[FACEBOOK_ACCESS_TOKEN]` should be replaced with the Facebook access token. If the user is signing in to the Twitter provider using a Twitter OAuth 1.0 credential, this should be set to access_token`=[TWITTER_ACCESS_TOKEN]&oauth_token_secret= [TWITTER_TOKEN_SECRET]&providerId=twitter.com`, where `[TWITTER_ACCESS_TOKEN]` and `[TWITTER_TOKEN_SECRET]` should be replaced with the Twitter OAuth access token and Twitter OAuth token secret respectively."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether or not to return the OAuth refresh token from the IdP, if available."
        },
        "requestUri": {
          "type": "string",
          "description": "Required. The URL to which the IdP redirects the user back. This can be set to `http://localhost` if the user is signing in with a manually provided IdP credential."
        },
        "pendingToken": {
          "type": "string",
          "description": "An opaque string from a previous SignInWithIdp response. If set, it can be used to repeat the sign-in operation from the previous SignInWithIdp operation. This may be present if the user needs to confirm their account information as part of a previous federated login attempt, or perform account linking."
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "returnIdpCredential": {
          "description": "Whether or not to return OAuth credentials from the IdP on the following errors: `FEDERATED_USER_ID_ALREADY_LINKED` and `EMAIL_EXISTS`.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "A valid Identity Platform ID token. If passed, the user's account at the IdP will be linked to the account represented by this ID token."
        },
        "autoCreate": {
          "deprecated": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number."
        }
      },
      "description": "Response message for SendVerificationCode."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest": {
      "type": "object",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the email address to the user represented by this ID token and enable sign-in with email link on the account for the future."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Required. The email address the sign-in link was sent to. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        },
        "oobCode": {
          "type": "string",
          "description": "Required. The out-of-band code from the email link."
        }
      },
      "description": "Request message for SignInWithEmailLink",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest"
    },
    "GoogleCloudIdentitytoolkitV1OpenIdConnectKey": {
      "id": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey",
      "type": "object",
      "properties": {
        "use": {
          "type": "string",
          "description": "Key use."
        },
        "n": {
          "type": "string",
          "description": "Modulus for the RSA public key, it is represented as the base64url encoding of the value's big endian representation."
        },
        "alg": {
          "type": "string",
          "description": "Signature algorithm."
        },
        "kty": {
          "description": "Key type.",
          "type": "string"
        },
        "kid": {
          "description": "Unique string to identify this key.",
          "type": "string"
        },
        "e": {
          "type": "string",
          "description": "Exponent for the RSA public key, it is represented as the base64url encoding of the value's big endian representation."
        }
      },
      "description": "Represents a public key of the session cookie signer, formatted as a [JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517)."
    },
    "GoogleCloudIdentitytoolkitV1SignUpRequest": {
      "description": "Request message for SignUp.",
      "type": "object",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform user. If set, this request will link the authentication credential to the user represented by this ID token. For a non-admin request, both the `email` and `password` fields must be set. For an admin request, `local_id` must not be set."
        },
        "recaptchaVersion": {
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user to be created."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project.",
          "type": "string"
        },
        "targetProjectId": {
          "type": "string",
          "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token."
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the user to create. The ID must be unique within the project that the user is being created under. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user will be disabled upon creation. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "emailVerified": {
          "description": "Whether the user's email is verified. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "photoUrl": {
          "type": "string",
          "description": "The profile photo url of the user to create."
        },
        "email": {
          "description": "The email to assign to the created user. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. An anonymous user will be created if not provided.",
          "type": "string"
        },
        "mfaInfo": {
          "type": "array",
          "description": "The multi-factor authentication providers for the user to create.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaFactor"
          }
        },
        "clientType": {
          "description": "The client type: web, Android or iOS. Required when enabling reCAPTCHA enterprise protection.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "password": {
          "description": "The password to assign to the created user. The password must be be at least 6 characters long. If set, the `email` field must also be set.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the user to create. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "captchaResponse": {
          "type": "string",
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for assessment. Required when reCAPTCHA enterprise is enabled."
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignUpRequest"
    },
    "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier": {
      "description": "Federated user identifier at an Identity Provider.",
      "type": "object",
      "properties": {
        "providerId": {
          "description": "The ID of supported identity providers. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`.",
          "type": "string"
        },
        "rawId": {
          "description": "The user ID of the account at the third-party Identity Provider specified by `provider_id`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest",
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to."
        },
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        },
        "salt": {
          "type": "string",
          "description": "Required. A random string used to generate the given signature."
        },
        "publicKeyUrl": {
          "type": "string",
          "description": "Required. The URL to fetch the Apple public key in order to verify the given signature is signed by Apple."
        },
        "playerId": {
          "description": "Required. The user's Game Center player ID. Deprecated by Apple. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        },
        "signature": {
          "description": "Required. The verification signature data generated by Apple.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The time when the signature was created by Apple, in milliseconds since the epoch.",
          "format": "int64"
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If present, this request will link the Game Center player ID to the account represented by this ID token.",
          "type": "string"
        },
        "gamePlayerId": {
          "type": "string",
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid"
        },
        "displayName": {
          "type": "string",
          "description": "The user's Game Center display name."
        }
      },
      "description": "Request message for SignInWithGameCenter"
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse": {
      "type": "object",
      "properties": {
        "acsEndpoint": {
          "type": "string",
          "description": "The ACS endpoint which consumes the returned SAMLResponse."
        },
        "relayState": {
          "description": "Generated RelayState.",
          "type": "string"
        },
        "lastName": {
          "description": "Last name of the user.",
          "type": "string"
        },
        "samlResponse": {
          "description": "Signed SAMLResponse created for the Relying Party.",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "First name of the user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the logged in user was created by this request."
        },
        "email": {
          "description": "Email of the user.",
          "type": "string"
        }
      },
      "description": "Response for IssueSamlResponse request.",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse": {
      "description": "Response message for SignInWithPassword.",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "oauthAuthorizationCode": {
          "deprecated": true,
          "type": "string"
        },
        "displayName": {
          "description": "The user's display name stored in the account's attributes.",
          "type": "string"
        },
        "registered": {
          "deprecated": true,
          "description": "Whether the email is for an existing account. Always true.",
          "type": "boolean"
        },
        "profilePicture": {
          "type": "string",
          "description": "The user's profile picture stored in the account's attributes."
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user. Always present in the response."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "userNotifications": {
          "type": "array",
          "description": "Warning notifications for the user.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserNotification"
          }
        },
        "email": {
          "description": "The email of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "oauthExpireIn": {
          "description": "The access token expiration time in seconds.",
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "mfaPendingCredential": {
          "type": "string",
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication."
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64"
        },
        "mfaInfo": {
          "type": "array",
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token.",
          "deprecated": true
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Detailed error info for accounts that cannot be deleted.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          }
        }
      },
      "description": "Response message to BatchDeleteAccounts.",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse",
      "type": "object",
      "properties": {
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user account's email address is verified."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "description": "The email address of the user's account at the IdP.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user's profile picture at the IdP."
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "nickName": {
          "type": "string",
          "description": "The nickname for the user's account at the IdP."
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OpenID Connect ID token from the IdP, if available."
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider.",
          "type": "string"
        },
        "context": {
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP.",
          "type": "string"
        },
        "pendingToken": {
          "type": "string",
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP."
        },
        "errorMessage": {
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`.",
          "type": "string"
        },
        "fullName": {
          "type": "string",
          "description": "The full name for the user's account at the IdP."
        },
        "firstName": {
          "type": "string",
          "description": "The first name for the user's account at the IdP."
        },
        "oauthExpireIn": {
          "description": "The number of seconds until the OAuth access token from the IdP expires.",
          "format": "int32",
          "type": "integer"
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "lastName": {
          "type": "string",
          "description": "The last name for the user's account at the IdP."
        },
        "originalEmail": {
          "type": "string",
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled."
        },
        "mfaInfo": {
          "type": "array",
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response."
        },
        "needConfirmation": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email address is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled.",
          "type": "boolean"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The date of birth for the user's account at the IdP."
        },
        "emailRecycled": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified.",
          "type": "boolean"
        },
        "isNewUser": {
          "description": "Whether or not a new Identity Platform account was created for the authenticated user.",
          "type": "boolean"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth access token from the IdP, if available."
        },
        "language": {
          "type": "string",
          "description": "The language preference for the user's account at the IdP."
        },
        "oauthRefreshToken": {
          "type": "string",
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`."
        },
        "oauthTokenSecret": {
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider.",
          "type": "string"
        },
        "federatedId": {
          "description": "The user's account ID at the IdP. Always present in the response.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone for the user's account at the IdP."
        },
        "inputEmail": {
          "deprecated": true,
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "screenName": {
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name for the user's account at the IdP.",
          "type": "string"
        },
        "verifiedProvider": {
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "needEmail": {
          "deprecated": true,
          "type": "boolean"
        },
        "tenantId": {
          "description": "The value of the `tenant_id` field in the request.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated Identity Platform user. Always present in the response.",
          "type": "string"
        }
      },
      "description": "Response message for SignInWithIdp."
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest": {
      "type": "object",
      "properties": {
        "rpId": {
          "description": "Relying Party identifier, which is the audience of issued SAMLResponse.",
          "type": "string"
        },
        "idToken": {
          "description": "The Identity Platform ID token. It will be verified and then converted to a new SAMLResponse.",
          "type": "string"
        },
        "samlAppEntityId": {
          "description": "SAML app entity id specified in Google Admin Console for each app. If developers want to redirect to a third-party app rather than a G Suite app, they'll probably they need this. When it's used, we'll return a RelayState. This includes a SAMLRequest, which can be used to trigger a SP-initiated SAML flow to redirect to the real app.",
          "type": "string"
        }
      },
      "description": "Request message for IssueSamlResponse.",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "description": "Request message for SignInWithPassword.",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        },
        "idToken": {
          "deprecated": true,
          "type": "string"
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "recaptchaVersion": {
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "clientType": {
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "password": {
          "type": "string",
          "description": "Required. The password the user provides to sign in to the account."
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project.",
          "type": "string"
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string"
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest"
    },
    "GoogleCloudIdentitytoolkitV1ProviderUserInfo": {
      "id": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
      "type": "object",
      "properties": {
        "providerId": {
          "description": "The ID of the Identity Provider.",
          "type": "string"
        },
        "federatedId": {
          "type": "string",
          "description": "The user's identifier at the Identity Provider."
        },
        "rawId": {
          "type": "string",
          "description": "The user's raw identifier directly returned from Identity Provider."
        },
        "email": {
          "description": "The user's email address at the Identity Provider.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's profile photo URL at the Identity Provider."
        },
        "screenName": {
          "type": "string",
          "description": "The user's screen_name at Twitter or login name at GitHub."
        },
        "phoneNumber": {
          "description": "The user's phone number at the Identity Provider.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name at the Identity Provider."
        }
      },
      "description": "Information about the user as provided by various Identity Providers."
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse",
      "description": "Response message for UploadAccount.",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "error": {
          "type": "array",
          "description": "Detailed error info for accounts that cannot be uploaded.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest",
      "type": "object",
      "properties": {
        "code": {
          "description": "User-entered verification code from an SMS sent to the user's phone.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the phone number to the user represented by this ID token if the phone number is not in use, or will reauthenticate the user if the phone number is already linked to the user."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information from the response of sendVerificationCode. In the case of authenticating with an SMS code this must be specified, but in the case of using a temporary proof it can be unspecified."
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Operation is not specified.",
            "Verify operation is to sign up/sign in.",
            "Verify operation is to reauth.",
            "Verify operation is to update.",
            "Verify operation is to link."
          ],
          "enum": [
            "VERIFY_OP_UNSPECIFIED",
            "SIGN_UP_OR_IN",
            "REAUTH",
            "UPDATE",
            "LINK"
          ],
          "deprecated": true
        },
        "verificationProof": {
          "type": "string",
          "description": "Do not use."
        },
        "temporaryProof": {
          "type": "string",
          "description": "A proof of the phone number verification, provided from a previous signInWithPhoneNumber request. If this is passed, the caller must also pass in the phone_number field the phone number that was verified in the previous request."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The user's phone number to sign in with. This is necessary in the case of uing a temporary proof, in which case it must match the phone number that was authenticated in the request that generated the temporary proof. This field is ignored if a session info is passed."
        }
      },
      "description": "Request message for SignInWithPhoneNumber."
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo": {
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo",
      "description": "Error info for account failed to be deleted.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Detailed error message."
        },
        "index": {
          "type": "integer",
          "description": "The index of the errored item in the original local_ids field.",
          "format": "int32"
        },
        "localId": {
          "description": "The corresponding user ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest": {
      "description": "Request message for SetAccountInfo.",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code to be applied on the user's account. The following out-of-band code types are supported: * VERIFY_EMAIL * RECOVER_EMAIL * REVERT_SECOND_FACTOR_ADDITION * VERIFY_AND_CHANGE_EMAIL"
        },
        "provider": {
          "description": "The Identity Providers that the account should be associated with.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "deleteAttribute": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "User attribute name is not specified.",
              "User attribute key name is email.",
              "User attribute key name is displayName.",
              "User attribute key name is provider.",
              "User attribute key name is photoURL.",
              "User attribute key name is password.",
              "User attribute key name is rawUserInfo."
            ],
            "enum": [
              "USER_ATTRIBUTE_NAME_UNSPECIFIED",
              "EMAIL",
              "DISPLAY_NAME",
              "PROVIDER",
              "PHOTO_URL",
              "PASSWORD",
              "RAW_USER_INFO"
            ]
          }
        },
        "targetProjectId": {
          "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
          "type": "string"
        },
        "customAttributes": {
          "type": "string",
          "description": "JSON formatted custom attributes to be stored in the Identity Platform ID token. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "linkProviderUserInfo": {
          "description": "The provider to be linked to the user's account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
        },
        "email": {
          "description": "The user's new email to be updated in the account's attributes. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, the email cannot be changed by the user without verifying the email first, but it can be changed by an administrator.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's new photo URL for the account's profile photo to be updated in the account's attributes. The length of the URL must be less than or equal to 2048 characters.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user's email has been verified. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to be updated in the account's attributes."
        },
        "deleteProvider": {
          "description": "The Identity Providers to unlink from the user's account.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The user's new display name to be updated in the account's attributes. The length of the display name must be less than or equal to 256 characters."
        },
        "mfa": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaInfo",
          "description": "The multi-factor authentication related information to be set on the user's account. This will overwrite any previous multi-factor related information on the account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "upgradeToFederatedLogin": {
          "description": "Whether the account should be restricted to only using federated login.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "A valid Identity Platform ID token. Required when attempting to change user-related information."
        },
        "createdAt": {
          "description": "The timestamp in milliseconds when the account was created.",
          "format": "int64",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the user. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). For requests from end-users, an ID token should be passed instead."
        },
        "disableUser": {
          "description": "If true, marks the account as disabled, meaning the user will no longer be able to sign-in.",
          "type": "boolean"
        },
        "validSince": {
          "description": "Specifies the minimum timestamp in seconds for an Identity Platform ID token to be considered valid.",
          "format": "int64",
          "type": "string"
        },
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field.",
          "type": "string"
        },
        "lastLoginAt": {
          "type": "string",
          "description": "The timestamp in milliseconds when the account last logged in.",
          "format": "int64"
        },
        "captchaResponse": {
          "type": "string",
          "description": "The response from reCaptcha challenge. This is required when the system detects possible abuse activities."
        },
        "returnSecureToken": {
          "description": "Whether or not to return an ID and refresh token. Should always be true.",
          "type": "boolean"
        },
        "password": {
          "type": "string",
          "description": "The user's new password to be updated in the account's attributes. The password must be at least 6 characters long."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountResponse": {
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse",
      "description": "Response message for DeleteAccount.",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordResponse": {
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse",
      "type": "object",
      "properties": {
        "mfaInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "newEmail": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email associated with the out-of-band code that was used."
        },
        "requestType": {
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ]
        }
      },
      "description": "Response message for ResetPassword."
    },
    "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse": {
      "description": "Response message for GetProjectConfig.",
      "type": "object",
      "properties": {
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled. This field is only returned for authenticated calls from a developer."
        },
        "revertSecondFactorAdditionTemplate": {
          "description": "Email template for reverting second factor additions. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "projectId": {
          "description": "The project id of the retrieved configuration.",
          "type": "string"
        },
        "dynamicLinksDomain": {
          "type": "string",
          "description": "The Firebase Dynamic Links domain used to construct links for redirects to native apps."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password account sign up. This field is only returned for authenticated calls from a developer."
        },
        "authorizedDomains": {
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "changeEmailTemplate": {
          "description": "Email template for change email. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending. This field is only returned for authenticated calls from a developer."
        },
        "idpConfig": {
          "type": "array",
          "description": "OAuth2 provider config. This field is only returned for authenticated calls from a developer.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1IdpConfig"
          }
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "description": "Reset password email template for legacy Firebase V1 app. This field is only returned for authenticated calls from a developer.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailTemplate"
        },
        "apiKey": {
          "type": "string",
          "description": "Google Cloud API key. This field is only returned for authenticated calls from a developer."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignUpResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignUpResponse",
      "description": "Response message for SignUp.",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "An Identity Platform ID token for the created user. This field is only set for non-admin requests.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The created user's email."
        },
        "kind": {
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the created user. Always present in the response."
        },
        "displayName": {
          "type": "string",
          "description": "The created user's display name."
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the created user. This field is only set for non-admin requests.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest",
      "description": "Request message for GetAccountInfo.",
      "type": "object",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users."
        },
        "federatedUserId": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          },
          "type": "array"
        },
        "email": {
          "type": "array",
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "items": {
            "type": "string"
          }
        },
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer.",
          "type": "string"
        },
        "targetProjectId": {
          "type": "string",
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "initialEmail": {
          "type": "array",
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "items": {
            "type": "string"
          }
        },
        "localId": {
          "type": "array",
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "items": {
            "type": "string"
          }
        },
        "phoneNumber": {
          "type": "array",
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1IdpConfig": {
      "id": "GoogleCloudIdentitytoolkitV1IdpConfig",
      "description": "Config of an identity provider.",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "provider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Microsoft Live as identity provider.",
            "Google as identity provider.",
            "Facebook as identity provider.",
            "PayPal as identity provider.",
            "Twitter as identity provider.",
            "Yahoo as identity provider.",
            "AOL as identity provider.",
            "GitHub as identity provider.",
            "Google Play Games as identity provider.",
            "LinkedIn as identity provider.",
            "iOS Game Center as identity provider."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "MSLIVE",
            "GOOGLE",
            "FACEBOOK",
            "PAYPAL",
            "TWITTER",
            "YAHOO",
            "AOL",
            "GITHUB",
            "GOOGLE_PLAY_GAMES",
            "LINKEDIN",
            "IOS_GAME_CENTER"
          ]
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IdP",
          "format": "int32",
          "type": "integer"
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "whitelistedAudiences": {
          "description": "Whitelisted client IDs for audience check.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeResponse": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "If return_oob_link is false in the request, the email address the verification was sent to."
        },
        "oobCode": {
          "description": "If return_oob_link is true in the request, the OOB code to send.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "oobLink": {
          "description": "If return_oob_link is true in the request, the OOB link to be sent to the user. This returns the constructed link including [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links) related parameters.",
          "type": "string"
        }
      },
      "description": "Response message for GetOobCode.",
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "type": "object",
      "properties": {
        "androidPackageName": {
          "description": "If an associated android app can handle the OOB code, the Android package name of the android app that will handle the callback when this OOB code is used. This will allow the correct app to open if it is already installed, or allow Google Play Store to open to the correct app if it is not yet installed.",
          "type": "string"
        },
        "challenge": {
          "deprecated": true,
          "type": "string"
        },
        "userIp": {
          "description": "The IP address of the caller. Required only for PASSWORD_RESET requests.",
          "type": "string"
        },
        "idToken": {
          "description": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true.",
          "type": "string"
        },
        "continueUrl": {
          "description": "The Url to continue after user clicks the link sent in email. This is the url that will allow the web widget to handle the OOB code.",
          "type": "string"
        },
        "recaptchaVersion": {
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "linkDomain": {
          "type": "string",
          "description": "Optional. In order to ensure that the url used can be easily opened in iOS or Android, we create a Hosting link '/__/auth/links'. This optional field contains the domain to use when constructing a Hosting link. If not set, '.firebaseapp.com' domain will be used."
        },
        "newEmail": {
          "description": "The email address the account is being updated to. Required only for VERIFY_AND_CHANGE_EMAIL requests.",
          "type": "string"
        },
        "canHandleCodeInApp": {
          "description": "When set to true, the OOB code link will be be sent as a Universal Link or an Android App Link and will be opened by the corresponding app if installed. If not set, or set to false, the OOB code will be sent to the web widget first and then on continue will redirect to the app if installed.",
          "type": "boolean"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "targetProjectId": {
          "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "captchaResp": {
          "type": "string",
          "description": "For a PASSWORD_RESET request, a reCaptcha response is required when the system detects possible abuse activity. In those cases, this is the response from the reCaptcha challenge used to verify the caller."
        },
        "email": {
          "type": "string",
          "description": "The account's email address to send the OOB code to, and generally the email address of the account that needs to be updated. Required for PASSWORD_RESET, EMAIL_SIGNIN, and VERIFY_EMAIL. Only required for VERIFY_AND_CHANGE_EMAIL requests when return_oob_link is set to true. In this case, it is the original email of the user."
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "If an associated android app can handle the OOB code, the minimum version of the app. If the version on the device is lower than this version then the user is taken to Google Play Store to upgrade the app."
        },
        "dynamicLinkDomain": {
          "type": "string",
          "description": "In order to ensure that the url used can be easily opened up in iOS or android, we create a [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links). Most Identity Platform projects will only have one Dynamic Link domain enabled, and can leave this field blank. This field contains a specified Dynamic Link domain for projects that have multiple enabled."
        },
        "returnOobLink": {
          "type": "boolean",
          "description": "Whether the confirmation link containing the OOB code should be returned in the response (no email is sent). Used when a developer wants to construct the email template and send it on their own. By default this is false; to specify this field, and to set it to true, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)"
        },
        "iOSBundleId": {
          "description": "If an associated iOS app can handle the OOB code, the iOS bundle id of this app. This will allow the correct app to open if it is already installed.",
          "type": "string"
        },
        "clientType": {
          "description": "The client type: web, Android or iOS. Required when reCAPTCHA Enterprise protection is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "requestType": {
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "description": "Required. The type of out-of-band (OOB) code to send. Depending on this value, other fields in this request will be required and/or have different meanings. There are 4 different OOB codes that can be sent: * PASSWORD_RESET * EMAIL_SIGNIN * VERIFY_EMAIL * VERIFY_AND_CHANGE_EMAIL"
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "If an associated android app can handle the OOB code, whether or not to install the android app on the device where the link is opened if the app is not already installed."
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "If an associated iOS app can handle the OOB code, the App Store id of this app. This will allow App Store to open to the correct app if the app is not yet installed."
        }
      },
      "description": "Request message for GetOobCode.",
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
    },
    "GoogleCloudIdentitytoolkitV1ErrorInfo": {
      "id": "GoogleCloudIdentitytoolkitV1ErrorInfo",
      "description": "Error information explaining why an account cannot be uploaded. batch upload.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Detailed error message"
        },
        "index": {
          "description": "The index of the item, range is [0, request.size - 1]",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse": {
      "description": "Response message for SetAccountInfo",
      "type": "object",
      "properties": {
        "providerUserInfo": {
          "type": "array",
          "description": "The linked Identity Providers on the account.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          }
        },
        "newEmail": {
          "description": "The new email that has been set on the user's account attributes.",
          "type": "string"
        },
        "refreshToken": {
          "description": "A refresh token for the account. This is used for legacy user sign up.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user."
        },
        "passwordHash": {
          "type": "string",
          "description": "Deprecated. No actual password hash is currently returned.",
          "deprecated": true
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the account's email has been verified."
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The account's email address.",
          "deprecated": true
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the account. This is used for legacy user sign up."
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's photo URL for the account's profile photo.",
          "deprecated": true
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "deprecated": true,
          "description": "The account's display name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "Optional. The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "email": {
          "description": "Optional. The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code.",
          "type": "string"
        },
        "oobCode": {
          "description": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method.",
          "type": "string"
        },
        "newPassword": {
          "type": "string",
          "description": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET."
        },
        "oldPassword": {
          "description": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code.",
          "type": "string"
        }
      },
      "description": "Request message for ResetPassword.",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest"
    },
    "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "type": "object",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      },
      "description": "The information required to auto-retrieve an SMS.",
      "id": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo"
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "description": "Request message for UploadAccount.",
      "type": "object",
      "properties": {
        "rounds": {
          "type": "integer",
          "description": "The number of rounds used for hash calculation. Only required for the following hashing functions: * MD5 * SHA1 * SHA256 * SHA512 * PBKDF_SHA1 * PBKDF2_SHA256 * SCRYPT",
          "format": "int32"
        },
        "users": {
          "type": "array",
          "description": "A list of accounts to upload. `local_id` is required for each user; everything else is optional.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        },
        "cpuMemCost": {
          "description": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32",
          "type": "integer"
        },
        "parallelization": {
          "type": "integer",
          "description": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32"
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Only required when the hashing function is SCRYPT.",
          "format": "int32"
        },
        "argon2Parameters": {
          "$ref": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
          "description": "The parameters for Argon2 hashing algorithm."
        },
        "passwordHashOrder": {
          "enum": [
            "UNSPECIFIED_ORDER",
            "SALT_AND_PASSWORD",
            "PASSWORD_AND_SALT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The order is not specified.",
            "The order is salt first, and then password.",
            "The order is password first, and then salt."
          ]
        },
        "signerKey": {
          "description": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512",
          "format": "byte",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "deprecated": true
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether to overwrite an existing account in Identity Platform with a matching `local_id` in the request. If true, the existing account will be overwritten. If false, an error will be returned."
        },
        "saltSeparator": {
          "type": "string",
          "description": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character.",
          "format": "byte"
        },
        "hashAlgorithm": {
          "description": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2",
          "type": "string"
        },
        "blockSize": {
          "type": "integer",
          "description": "The block size parameter used by the STANDARD_SCRYPT hashing function. This parameter, along with parallelization and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32"
        },
        "dkLen": {
          "description": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1.",
          "format": "int32",
          "type": "integer"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the account belongs to."
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse",
      "description": "Response message for SignInWithGameCenter",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "playerId": {
          "description": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the logged in user was created by this request."
        },
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1Argon2Parameters": {
      "type": "object",
      "properties": {
        "parallelism": {
          "description": "Required. The degree of parallelism, also called threads or lanes. Minimum is 1, maximum is 16.",
          "format": "int32",
          "type": "integer"
        },
        "memoryCostKib": {
          "type": "integer",
          "description": "Required. The memory cost in kibibytes. Maximum is 32768.",
          "format": "int32"
        },
        "hashLengthBytes": {
          "type": "integer",
          "description": "Required. The desired hash length in bytes. Minimum is 4 and maximum is 1024.",
          "format": "int32"
        },
        "hashType": {
          "type": "string",
          "enumDescriptions": [
            "The hash type is not specified.",
            "An Argon2 variant, Argon2d.",
            "An Argon2 variant, Argonid. Recommended.",
            "An Argon2 variant, Argon2i."
          ],
          "description": "Required. Must not be HASH_TYPE_UNSPECIFIED.",
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "ARGON2_D",
            "ARGON2_ID",
            "ARGON2_I"
          ]
        },
        "version": {
          "type": "string",
          "enumDescriptions": [
            "The version is not specified.",
            "The previous version, 0x10.",
            "The current version, 0x13. The default value for version."
          ],
          "description": "The version of the Argon2 algorithm. This defaults to VERSION_13 if not specified.",
          "enum": [
            "VERSION_UNSPECIFIED",
            "VERSION_10",
            "VERSION_13"
          ]
        },
        "iterations": {
          "type": "integer",
          "description": "Required. The number of iterations to perform. Minimum is 1, maximum is 16.",
          "format": "int32"
        },
        "associatedData": {
          "description": "The additional associated data, if provided, is appended to the hash value to provide an additional layer of security. A base64-encoded string if specified via JSON.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "The parameters for Argon2 hashing algorithm.",
      "id": "GoogleCloudIdentitytoolkitV1Argon2Parameters"
    },
    "GoogleCloudIdentitytoolkitV1UserNotification": {
      "description": "Warning notifications for the user.",
      "type": "object",
      "properties": {
        "notificationCode": {
          "type": "string",
          "enumDescriptions": [
            "No notification specified.",
            "Password missing lowercase character.",
            "Password missing uppercase character.",
            "Password missing numeric character.",
            "Password missing non alphanumeric character.",
            "Password less than minimum required length.",
            "Password greater than maximum required length."
          ],
          "description": "Warning notification enum. Can be used for localization.",
          "enum": [
            "NOTIFICATION_CODE_UNSPECIFIED",
            "MISSING_LOWERCASE_CHARACTER",
            "MISSING_UPPERCASE_CHARACTER",
            "MISSING_NUMERIC_CHARACTER",
            "MISSING_NON_ALPHANUMERIC_CHARACTER",
            "MINIMUM_PASSWORD_LENGTH",
            "MAXIMUM_PASSWORD_LENGTH"
          ]
        },
        "notificationMessage": {
          "description": "Warning notification string. Can be used as fallback.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1UserNotification"
    },
    "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse": {
      "id": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse",
      "description": "Response message for GetRecaptchaParam.",
      "type": "object",
      "properties": {
        "recaptchaStoken": {
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaSiteKey": {
          "description": "The reCAPTCHA v2 site key used to invoke the reCAPTCHA service. Always present.",
          "type": "string"
        },
        "producerProjectNumber": {
          "type": "string",
          "description": "The producer project number used to generate PIA tokens"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1MfaInfo": {
      "type": "object",
      "properties": {
        "enrollments": {
          "type": "array",
          "description": "The second factors the user has enrolled.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        }
      },
      "description": "Multi-factor authentication related information.",
      "id": "GoogleCloudIdentitytoolkitV1MfaInfo"
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment",
      "type": "object",
      "properties": {
        "phoneInfo": {
          "type": "string",
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number."
        },
        "totpInfo": {
          "description": "Contains information specific to TOTP MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo"
        },
        "enrolledAt": {
          "type": "string",
          "description": "Timestamp when the account enrolled this second factor.",
          "format": "google-datetime"
        },
        "unobfuscatedPhoneInfo": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unobfuscated phone_info."
        },
        "emailInfo": {
          "description": "Contains information specific to email MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo"
        },
        "mfaEnrollmentId": {
          "description": "ID of this MFA option.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this mfa option e.g. \"corp cell phone\"."
        }
      },
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account."
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "description": "Request message for DeleteAccount.",
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "localId": {
          "description": "The ID of user account to delete. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). Requests from users lacking the credential should pass an ID token instead.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
          "type": "string"
        },
        "idToken": {
          "description": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
    },
    "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse": {
      "type": "object",
      "properties": {
        "allProviders": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "deprecated": true
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "Whether a CAPTCHA is needed because there have been too many failed login attempts by the user. Present only when a registered email identifier is set in the request."
        },
        "registered": {
[...]
