{
  "ownerName": "Google",
  "name": "identitytoolkit",
  "version_module": true,
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "v2": {
      "methods": {
        "getRecaptchaConfig": {
          "description": "Gets parameters needed for reCAPTCHA analysis.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaConfig"
          },
          "path": "v2/recaptchaConfig",
          "flatPath": "v2/recaptchaConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "parameters": {
            "clientType": {
              "location": "query",
              "enumDescriptions": [
                "Client type is not specified.",
                "Client type is web.",
                "Client type is android.",
                "Client type is ios."
              ],
              "type": "string",
              "description": "reCAPTCHA Enterprise uses separate site keys for different client types. Specify the client type to get the corresponding key.",
              "enum": [
                "CLIENT_TYPE_UNSPECIFIED",
                "CLIENT_TYPE_WEB",
                "CLIENT_TYPE_ANDROID",
                "CLIENT_TYPE_IOS"
              ]
            },
            "tenantId": {
              "type": "string",
              "description": "The id of a tenant.",
              "location": "query"
            },
            "version": {
              "enumDescriptions": [
                "The reCAPTCHA version is not specified.",
                "The reCAPTCHA enterprise."
              ],
              "enum": [
                "RECAPTCHA_VERSION_UNSPECIFIED",
                "RECAPTCHA_ENTERPRISE"
              ],
              "description": "The reCAPTCHA version.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "identitytoolkit.getRecaptchaConfig"
        },
        "getPasswordPolicy": {
          "parameterOrder": [],
          "id": "identitytoolkit.getPasswordPolicy",
          "parameters": {
            "tenantId": {
              "description": "The id of a tenant.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v2/passwordPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2PasswordPolicy"
          },
          "flatPath": "v2/passwordPolicy",
          "httpMethod": "GET",
          "description": "Gets password policy config set on the project or tenant."
        }
      }
    },
    "defaultSupportedIdps": {
      "methods": {
        "list": {
          "id": "identitytoolkit.defaultSupportedIdps.list",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of items to return.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The next_page_token value returned from a previous List request, if any."
            }
          },
          "flatPath": "v2/defaultSupportedIdps",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v2/defaultSupportedIdps",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "List all default supported Idps."
        }
      }
    },
    "projects": {
      "methods": {
        "getConfig": {
          "httpMethod": "GET",
          "description": "Retrieve an Identity Toolkit project configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/projects/{projectsId}/config",
          "path": "v2/{+name}",
          "id": "identitytoolkit.projects.getConfig",
          "parameters": {
            "name": {
              "description": "The resource name of the config, for example: \"projects/my-awesome-project/config\"",
              "location": "path",
              "pattern": "^projects/[^/]+/config$",
              "required": true,
              "type": "string"
            }
          }
        },
        "updateConfig": {
          "path": "v2/{+name}",
          "description": "Update an Identity Toolkit project configuration.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "id": "identitytoolkit.projects.updateConfig",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v2/projects/{projectsId}/config",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\"",
              "location": "path",
              "pattern": "^projects/[^/]+/config$"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "The update mask applies to the resource. Fields set in the config but not included in this update mask will be ignored. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
            }
          }
        }
      },
      "resources": {
        "identityPlatform": {
          "methods": {
            "initializeAuth": {
              "parameterOrder": [
                "project"
              ],
              "parameters": {
                "project": {
                  "description": "The resource name of the target project the developer wants to enable Identity Platform for.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/identityPlatform:initializeAuth",
              "id": "identitytoolkit.projects.identityPlatform.initializeAuth",
              "path": "v2/{+project}/identityPlatform:initializeAuth",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest"
              },
              "description": "Initialize Identity Platform for a Cloud project. Identity Platform is an end-to-end authentication system for third-party users to access your apps and services. These could include mobile/web apps, games, APIs and beyond. This is the publicly available variant of EnableIdentityPlatform that is only available to billing-enabled projects.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse"
              },
              "httpMethod": "POST"
            }
          }
        },
        "defaultSupportedIdpConfigs": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "httpMethod": "PATCH",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.patch",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
                }
              },
              "path": "v2/{+name}",
              "description": "Update a default supported Idp configuration for an Identity Toolkit project."
            },
            "list": {
              "description": "List all default supported Idp configurations for an Identity Toolkit project.",
              "httpMethod": "GET",
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.list",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
              },
              "path": "v2/{+parent}/defaultSupportedIdpConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of items to return.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v2/{+parent}/defaultSupportedIdpConfigs",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "idpId": {
                  "location": "query",
                  "type": "string",
                  "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps."
                }
              },
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs",
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.create",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "description": "Create a default supported Idp configuration for an Identity Toolkit project."
            },
            "get": {
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
                }
              },
              "path": "v2/{+name}"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}"
            }
          }
        },
        "tenants": {
          "resources": {
            "oauthIdpConfigs": {
              "methods": {
                "list": {
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.list",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs",
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/oauthIdpConfigs",
                  "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "location": "path",
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                      "type": "string"
                    }
                  },
                  "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.get",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.delete",
                  "path": "v2/{+name}"
                },
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.patch",
                  "path": "v2/{+name}"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v2/{+parent}/oauthIdpConfigs",
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "location": "path",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "type": "string"
                    },
                    "oauthIdpConfigId": {
                      "type": "string",
                      "description": "The id to use for this config.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs",
                  "description": "Create an Oidc Idp configuration for an Identity Toolkit project."
                }
              }
            },
            "defaultSupportedIdpConfigs": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.delete"
                },
                "list": {
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all default supported Idp configurations for an Identity Toolkit project.",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs",
                  "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$"
                    },
                    "idpId": {
                      "type": "string",
                      "location": "query",
                      "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps."
                    }
                  }
                },
                "get": {
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
                    },
                    "updateMask": {
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "path": "v2/{+name}",
                  "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.patch",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "httpMethod": "PATCH"
                }
              }
            },
            "inboundSamlConfigs": {
              "methods": {
                "create": {
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$"
                    },
                    "inboundSamlConfigId": {
                      "location": "query",
                      "type": "string",
                      "description": "The id to use for this config."
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "location": "path",
                      "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.patch"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.get",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "httpMethod": "GET"
                },
                "delete": {
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.delete",
                  "description": "Delete an inbound SAML configuration for an Identity Toolkit project.",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "List all inbound SAML configurations for an Identity Toolkit project.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return."
                    },
                    "parent": {
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.list",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "description": "Create a tenant. Requires write permission on the Agent project.",
              "id": "identitytoolkit.projects.tenants.create",
              "httpMethod": "POST",
              "path": "v2/{+parent}/tenants",
              "flatPath": "v2/projects/{projectsId}/tenants",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "The parent resource name where the tenant will be created. For example, \"projects/project1\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              }
            },
            "patch": {
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "If provided, only update fields set in the update mask. Otherwise, all settable fields will be updated. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "type": "string"
                },
                "name": {
                  "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "id": "identitytoolkit.projects.tenants.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "description": "Update a tenant. Requires write permission on the Tenant resource.",
              "path": "v2/{+name}"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Resource name of the tenant to retrieve.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "httpMethod": "GET",
              "description": "Get a tenant. Requires read permission on the Tenant resource.",
              "id": "identitytoolkit.projects.tenants.get"
            },
            "delete": {
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Delete a tenant. Requires write permission on the Agent project.",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "description": "Resource name of the tenant to delete."
                }
              },
              "id": "identitytoolkit.projects.tenants.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name to list tenants for.",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The pagination token from the response of a previous request.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return, capped at 1000. If not specified, the default value is 20."
                }
              },
              "flatPath": "v2/projects/{projectsId}/tenants",
              "parameterOrder": [
                "parent"
              ],
              "id": "identitytoolkit.projects.tenants.list",
              "description": "List tenants under the given agent project. Requires read permission on the Agent project.",
              "path": "v2/{+parent}/tenants",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse"
              },
              "httpMethod": "GET"
            },
            "testIamPermissions": {
              "response": {
                "$ref": "GoogleIamV1TestIamPermissionsResponse"
              },
              "description": "Returns the caller's permissions on a resource. An error is returned if the resource does not exist. A caller is not required to have Google IAM permission to make this request.",
              "path": "v2/{+resource}:testIamPermissions",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "GoogleIamV1TestIamPermissionsRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "identitytoolkit.projects.tenants.testIamPermissions",
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:testIamPermissions"
            },
            "setIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Sets the access control policy for a resource. If the policy exists, it is replaced. Caller must have the right Google IAM permission on the resource.",
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:setIamPolicy",
              "request": {
                "$ref": "GoogleIamV1SetIamPolicyRequest"
              },
              "path": "v2/{+resource}:setIamPolicy",
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "id": "identitytoolkit.projects.tenants.setIamPolicy"
            },
            "getIamPolicy": {
              "path": "v2/{+resource}:getIamPolicy",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:getIamPolicy",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "resource"
              ],
              "description": "Gets the access control policy for a resource. An error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it. Caller must have the right Google IAM permission on the resource.",
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "request": {
                "$ref": "GoogleIamV1GetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "id": "identitytoolkit.projects.tenants.getIamPolicy"
            }
          }
        },
        "oauthIdpConfigs": {
          "methods": {
            "patch": {
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "httpMethod": "PATCH",
              "path": "v2/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.oauthIdpConfigs.patch",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              }
            },
            "list": {
              "path": "v2/{+parent}/oauthIdpConfigs",
              "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
              "id": "identitytoolkit.projects.oauthIdpConfigs.list",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "The maximum number of items to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "get": {
              "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
              "httpMethod": "GET",
              "id": "identitytoolkit.projects.oauthIdpConfigs.get",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'."
                }
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "oauthIdpConfigId": {
                  "description": "The id to use for this config.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "path": "v2/{+parent}/oauthIdpConfigs",
              "id": "identitytoolkit.projects.oauthIdpConfigs.create",
              "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs"
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "identitytoolkit.projects.oauthIdpConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'."
                }
              },
              "description": "Delete an Oidc Idp configuration for an Identity Toolkit project."
            }
          }
        },
        "inboundSamlConfigs": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of items to return.",
                  "type": "integer"
                }
              },
              "id": "identitytoolkit.projects.inboundSamlConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/inboundSamlConfigs",
              "description": "List all inbound SAML configurations for an Identity Toolkit project."
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "identitytoolkit.projects.inboundSamlConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "path": "v2/{+name}",
              "httpMethod": "DELETE",
              "description": "Delete an inbound SAML configuration for an Identity Toolkit project."
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
              "path": "v2/{+name}",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests."
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "id": "identitytoolkit.projects.inboundSamlConfigs.patch"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "id": "identitytoolkit.projects.inboundSamlConfigs.get",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project."
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "location": "path",
                  "type": "string"
                },
                "inboundSamlConfigId": {
                  "location": "query",
                  "description": "The id to use for this config.",
                  "type": "string"
                }
              },
              "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "path": "v2/{+parent}/inboundSamlConfigs",
              "id": "identitytoolkit.projects.inboundSamlConfigs.create",
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs"
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "mfaSignIn": {
          "methods": {
            "finalize": {
              "path": "v2/accounts/mfaSignIn:finalize",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {},
              "parameterOrder": [],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse"
              },
              "id": "identitytoolkit.accounts.mfaSignIn.finalize",
              "httpMethod": "POST",
              "flatPath": "v2/accounts/mfaSignIn:finalize",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest"
              },
              "description": "Verifies the MFA challenge and performs sign-in"
            },
            "start": {
              "description": "Sends the MFA challenge",
              "id": "identitytoolkit.accounts.mfaSignIn.start",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse"
              },
              "parameterOrder": [],
              "path": "v2/accounts/mfaSignIn:start",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/accounts/mfaSignIn:start",
              "parameters": {}
            }
          }
        },
        "mfaEnrollment": {
          "methods": {
            "finalize": {
              "path": "v2/accounts/mfaEnrollment:finalize",
              "flatPath": "v2/accounts/mfaEnrollment:finalize",
              "parameters": {},
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest"
              },
              "id": "identitytoolkit.accounts.mfaEnrollment.finalize",
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Finishes enrolling a second factor for the user.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse"
              }
            },
            "start": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse"
              },
              "httpMethod": "POST",
              "id": "identitytoolkit.accounts.mfaEnrollment.start",
              "path": "v2/accounts/mfaEnrollment:start",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest"
              },
              "description": "Step one of the MFA enrollment process. In SMS case, this sends an SMS verification code to the user.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [],
              "flatPath": "v2/accounts/mfaEnrollment:start",
              "parameters": {}
            },
            "withdraw": {
              "httpMethod": "POST",
              "description": "Revokes one second factor from the enrolled second factors for an account.",
              "id": "identitytoolkit.accounts.mfaEnrollment.withdraw",
              "flatPath": "v2/accounts/mfaEnrollment:withdraw",
              "parameterOrder": [],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse"
              },
              "path": "v2/accounts/mfaEnrollment:withdraw",
              "parameters": {}
            }
          }
        }
      },
      "methods": {
        "revokeToken": {
          "description": "Revokes a user's token from an Identity Provider (IdP). This is done by manually providing an IdP credential, and the token types for revocation. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest"
          },
          "id": "identitytoolkit.accounts.revokeToken",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse"
          },
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v2/accounts:revokeToken",
          "path": "v2/accounts:revokeToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "title": "Identity Toolkit API",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "schemas": {
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest": {
      "description": "Sends MFA enrollment verification SMS for a user.",
      "type": "object",
      "properties": {
        "totpEnrollmentInfo": {
          "description": "Sign-in info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project."
        },
        "phoneEnrollmentInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
          "description": "Verification info to authorize sending an SMS for phone verification."
        },
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest"
    },
    "GoogleCloudIdentitytoolkitAdminV2Email": {
      "description": "Configuration options related to authenticating a user by their email address.",
      "type": "object",
      "properties": {
        "passwordRequired": {
          "description": "Whether a password is required for email auth or not. If true, both an email and password must be provided to sign in. If false, a user may sign in via either email/password or email link.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether email auth is enabled for the project or not."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Email"
    },
    "GoogleCloudIdentitytoolkitV2CustomStrengthOptions": {
      "description": "Custom strength options to enforce on user passwords.",
      "properties": {
        "containsUppercaseCharacter": {
          "type": "boolean",
          "description": "The password must contain an upper case character."
        },
        "containsLowercaseCharacter": {
          "type": "boolean",
          "description": "The password must contain a lower case character."
        },
        "maxPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum password length. No default max length"
        },
        "containsNumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a number."
        },
        "minPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum password length. Range from 6 to 30"
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions"
    },
    "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig": {
      "properties": {
        "forwardInboundCredentials": {
          "description": "The user credentials to include in the JWT payload that is sent to the registered Blocking Functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials"
        },
        "triggers": {
          "additionalProperties": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Trigger"
          },
          "description": "Map of Trigger to event type. Key should be one of the supported event types: \"beforeCreate\", \"beforeSignIn\"",
          "type": "object"
        }
      },
      "description": "Configuration related to Blocking Functions.",
      "id": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
      "properties": {
        "algorithm": {
          "enum": [
            "HASH_ALGORITHM_UNSPECIFIED",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. Do not use.",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "description": "Output only. Different password hash algorithms used in Identity Toolkit.",
          "type": "string"
        },
        "memoryCost": {
          "format": "int32",
          "description": "Output only. Memory cost for hash calculation. Used by scrypt and other similar password derivation algorithms. See https://tools.ietf.org/html/rfc7914 for explanation of field.",
          "readOnly": true,
          "type": "integer"
        },
        "signerKey": {
          "description": "Output only. Signer key in base64.",
          "readOnly": true,
          "type": "string"
        },
        "saltSeparator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Non-printable character to be inserted between the salt and plain text password in base64."
        },
        "rounds": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. How many rounds for hash calculation. Used by scrypt and other similar password derivation algorithms.",
          "format": "int32"
        }
      },
      "description": "History information of the hash algorithm and key. Different accounts' passwords may be generated by different version.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "properties": {
        "securityMode": {
          "description": "SMTP security mode.",
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ]
        },
        "host": {
          "type": "string",
          "description": "SMTP relay host"
        },
        "port": {
          "description": "SMTP relay port",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "SMTP relay username"
        },
        "senderEmail": {
          "type": "string",
          "description": "Sender email for the SMTP relay"
        },
        "password": {
          "description": "SMTP relay password",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for SMTP relay",
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp"
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "description": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs.",
      "type": "object",
      "properties": {
        "appleSignInConfig": {
          "description": "Additional config for Apple-based projects.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig"
        },
        "name": {
          "type": "string",
          "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "clientSecret": {
          "type": "string",
          "description": "OAuth client secret."
        },
        "clientId": {
          "type": "string",
          "description": "OAuth client ID."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig": {
      "type": "object",
      "description": "TotpMFAProviderConfig represents the TOTP based MFA provider.",
      "id": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig",
      "properties": {
        "adjacentIntervals": {
          "description": "The allowed number of adjacent intervals that will be used for verification to avoid clock skew.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowByDefault": {
      "type": "object",
      "description": "Defines a policy of allowing every region by default and adding disallowed regions to a disallow list.",
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
      "properties": {
        "disallowedRegions": {
          "items": {
            "type": "string"
          },
          "description": "Two letter unicode region codes to disallow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "type": "array"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
      "properties": {
        "signUpQuotaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
          "description": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP."
        }
      },
      "type": "object",
      "description": "Configuration related to quotas."
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule": {
      "properties": {
        "startScore": {
          "format": "float",
          "description": "The start score (inclusive) for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the safest request (likely legitimate), whereas 1.0 indicates the riskiest request (likely toll fraud). See https://cloud.google.com/recaptcha-enterprise/docs/sms-fraud-detection#create-assessment-sms.",
          "type": "number"
        },
        "action": {
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ],
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score].",
          "type": "string",
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ]
        }
      },
      "type": "object",
      "description": "The config for a reCAPTCHA toll fraud assessment managed rule. Models a single interval [start_score, end_score]. The end_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping.",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule"
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest": {
      "type": "object",
      "description": "Withdraws MFA.",
      "properties": {
        "mfaEnrollmentId": {
          "type": "string",
          "description": "Required. MFA enrollment id from a current MFA enrollment."
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant that the user unenrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project."
        },
        "idToken": {
          "type": "string",
          "description": "Required. User's ID token."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey": {
      "type": "object",
      "description": "The reCAPTCHA key config. reCAPTCHA Enterprise offers different keys for different client platforms.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "WEB",
            "IOS",
            "ANDROID"
          ],
          "description": "The client's platform type.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is iOS.",
            "Client type is Android."
          ]
        },
        "key": {
          "type": "string",
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\""
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
    },
    "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "id": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
      "description": "Temporary quota increase / decrease",
      "properties": {
        "quotaDuration": {
          "description": "How long this quota will be active for",
          "format": "google-duration",
          "type": "string"
        },
        "quota": {
          "type": "string",
          "description": "Corresponds to the 'refill_token_count' field in QuotaServer config",
          "format": "int64"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "When this quota will take effect"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig": {
      "properties": {
        "lastUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last time the password policy on the project was updated.",
          "readOnly": true
        },
        "passwordPolicyEnforcementState": {
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "description": "Which enforcement mode to use for the password policy.",
          "enum": [
            "PASSWORD_POLICY_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ]
        },
        "forceUpgradeOnSignin": {
          "description": "Users must have a password compliant with the password policy to sign-in.",
          "type": "boolean"
        },
        "passwordPolicyVersions": {
          "type": "array",
          "description": "Must be of length 1. Contains the strength attributes for the password policy.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
      "type": "object",
      "description": "The configuration for the password policy on the project."
    },
    "GoogleCloudIdentitytoolkitAdminV2Trigger": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Trigger",
      "type": "object",
      "description": "Synchronous Cloud Function with HTTP Trigger",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "When the trigger was changed.",
          "type": "string"
        },
        "functionUri": {
          "description": "HTTP URI trigger for the Cloud Function.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "properties": {
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserSignup": {
          "type": "boolean",
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions",
      "type": "object",
      "description": "Configuration related to restricting a user's ability to affect their account."
    },
    "GoogleCloudIdentitytoolkitAdminV2SignInConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SignInConfig",
      "description": "Configuration related to local sign in methods.",
      "properties": {
        "phoneNumber": {
          "description": "Configuration options related to authenticated a user by their phone number.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber"
        },
        "email": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Email",
          "description": "Configuration options related to authenticating a user by their email address."
        },
        "hashConfig": {
          "readOnly": true,
          "description": "Output only. Hash config information.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig"
        },
        "allowDuplicateEmails": {
          "description": "Whether to allow more than one account to have the same email.",
          "type": "boolean"
        },
        "anonymous": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Anonymous",
          "description": "Configuration options related to authenticating an anonymous user."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion": {
      "type": "object",
      "description": "The strength attributes for the password policy on the project.",
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion",
      "properties": {
        "customStrengthOptions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions",
          "description": "The custom strength options enforced by the password policy."
        },
        "schemaVersion": {
          "format": "int32",
          "description": "Output only. schema version number for the password policy",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitAdminV2Inheritance": {
      "description": "Settings that the tenants will inherit from project level.",
      "id": "GoogleCloudIdentitytoolkitAdminV2Inheritance",
      "type": "object",
      "properties": {
        "emailSendingConfig": {
          "description": "Whether to allow the tenant to inherit custom domains, email templates, and custom SMTP settings. If true, email sent from tenant will follow the project level email sending configurations. If false (by default), emails will go with the default settings with no customizations.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly": {
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
      "properties": {
        "allowedRegions": {
          "type": "array",
          "description": "Two letter unicode region codes to allow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Defines a policy of only allowing regions by explicitly adding them to an allowlist.",
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsTemplate": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The SMS's content. Can contain the following placeholders which will be replaced with the appropriate values: %APP_NAME% - For Android or iOS apps, the app's display name. For web apps, the domain hosting the application. %LOGIN_CODE% - The OOB code being sent in the SMS."
        }
      },
      "description": "The template to use when sending an SMS.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate"
    },
    "GoogleCloudIdentitytoolkitAdminV2RequestLogging": {
      "type": "object",
      "description": "Configuration for logging requests made to this project to Stackdriver Logging",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether logging is enabled for this project or not."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2RequestLogging"
    },
    "GoogleCloudIdentitytoolkitAdminV2ProviderConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig",
      "description": "ProviderConfig describes the supported MFA providers along with their configurations.",
      "type": "object",
      "properties": {
        "totpProviderConfig": {
          "description": "TOTP MFA provider config for this project.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project.",
            "Multi-factor authentication can be used for this project.",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "description": "Describes the state of the MultiFactor Authentication type.",
          "enum": [
            "MFA_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse",
      "description": "Response for InitializeIdentityPlatform. Empty for now."
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest": {
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest",
      "type": "object",
      "description": "Request for InitializeIdentityPlatform.",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "properties": {
        "enabledProviders": {
          "items": {
            "enumDescriptions": [
              "Illegal Provider, should not be used",
              "SMS is enabled as a second factor for this project."
            ],
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "PHONE_SMS"
            ],
            "type": "string"
          },
          "description": "A list of usable second factors for this project.",
          "type": "array"
        },
        "state": {
          "description": "Whether MultiFactor Authentication has been enabled for this project.",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project",
            "Multi-factor authentication can be used for this project",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ]
        },
        "providerConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
          },
          "description": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field."
        }
      },
      "type": "object",
      "description": "Options related to MultiFactor Authentication for the project.",
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig": {
      "type": "object",
      "description": "Additional config for SignInWithApple.",
      "id": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig",
      "properties": {
        "bundleIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Bundle ID's usable by this project"
        },
        "codeFlowConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig",
          "description": "Additional config for Apple for code flow."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest": {
      "type": "object",
      "description": "Starts multi-factor sign-in by sending the multi-factor auth challenge.",
      "properties": {
        "mfaEnrollmentId": {
          "description": "Required. MFA enrollment id from the user's list of current MFA enrollments.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "mfaPendingCredential": {
          "type": "string",
          "description": "Required. Pending credential from first factor sign-in."
        },
        "phoneSignInInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest"
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "id": "GoogleIamV1GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Config": {
      "description": "Represents an Identity Toolkit project.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Config",
      "properties": {
        "smsRegionConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
          "description": "Configures which regions are enabled for SMS verification code sending."
        },
        "mfa": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
          "description": "Configuration for this project's multi-factor authentication, including whether it is active and what factors can be used for the second factor"
        },
        "mobileLinksConfig": {
          "description": "Configuration for settings related to univeral links (iOS) and app links (Android).",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig"
        },
        "notification": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig",
          "description": "Configuration related to sending notifications to users."
        },
        "authorizedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of domains authorized for OAuth redirects"
        },
        "passwordPolicyConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
          "description": "The project level password policy configuration."
        },
        "autodeleteAnonymousUsers": {
          "type": "boolean",
[...]
