{
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "discoveryVersion": "v1",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "rootUrl": "https://www.googleapis.com/",
  "ownerName": "Google",
  "title": "Google Identity Toolkit API",
  "canonicalName": "Identity Toolkit",
  "name": "identitytoolkit",
  "protocol": "rest",
  "version": "v3",
  "parameters": {
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string"
    },
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch/identitytoolkit/v3",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "identitytoolkit:v3",
  "kind": "discovery#restDescription",
  "resources": {
    "relyingparty": {
      "methods": {
        "downloadAccount": {
          "httpMethod": "POST",
          "description": "Batch download user accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "path": "downloadAccount",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          }
        },
        "emailLinkSignin": {
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Reset password for a user.",
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "path": "emailLinkSignin",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          }
        },
        "uploadAccount": {
          "path": "uploadAccount",
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "Batch upload existing user accounts.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "httpMethod": "POST"
        },
        "verifyPhoneNumber": {
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "verifyPhoneNumber",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly."
        },
        "verifyPassword": {
          "description": "Verifies the user entered password.",
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "path": "verifyPassword",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "signupNewUser": {
          "path": "signupNewUser",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "httpMethod": "POST",
          "description": "Signup new user."
        },
        "verifyAssertion": {
          "httpMethod": "POST",
          "path": "verifyAssertion",
          "description": "Verifies the assertion returned by the IdP.",
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "createAuthUri": {
          "httpMethod": "POST",
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "path": "createAuthUri"
        },
        "resetPassword": {
          "path": "resetPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.resetPassword",
          "description": "Reset password for a user.",
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "httpMethod": "POST"
        },
        "getProjectConfig": {
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "description": "Get project configuration.",
          "path": "getProjectConfig",
          "parameters": {
            "projectNumber": {
              "location": "query",
              "description": "GCP project number of the request.",
              "type": "string"
            },
            "delegatedProjectNumber": {
              "type": "string",
              "description": "Delegated GCP project number of the request.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          }
        },
        "getAccountInfo": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "description": "Returns the account info.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "getAccountInfo",
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "httpMethod": "POST"
        },
        "sendVerificationCode": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "description": "Send SMS verification code.",
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "httpMethod": "POST",
          "path": "sendVerificationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setProjectConfig": {
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "setProjectConfig",
          "description": "Set project configuration.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "httpMethod": "POST"
        },
        "verifyCustomToken": {
          "path": "verifyCustomToken",
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "httpMethod": "POST",
          "description": "Verifies the developer asserted ID token.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          }
        },
        "deleteAccount": {
          "path": "deleteAccount",
          "httpMethod": "POST",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Delete user account.",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          }
        },
        "setAccountInfo": {
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Set account info for a user.",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "httpMethod": "POST",
          "path": "setAccountInfo"
        },
        "signOutUser": {
          "id": "identitytoolkit.relyingparty.signOutUser",
          "httpMethod": "POST",
          "path": "signOutUser",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "description": "Sign out user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getRecaptchaParam": {
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "path": "getRecaptchaParam",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get recaptcha secure param."
        },
        "getPublicKeys": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          },
          "path": "publicKeys",
          "httpMethod": "GET",
          "description": "Get token signing public key."
        },
        "getOobConfirmationCode": {
          "description": "Get a code for user action confirmation.",
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "httpMethod": "POST",
          "path": "getOobConfirmationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Relyingparty"
          }
        }
      }
    }
  },
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "schemas": {
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "properties": {
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string",
          "format": "uint64"
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "description": "Request to verify the password."
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "properties": {
        "projectId": {
          "description": "Project ID of the relying party.",
          "type": "string"
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "authorizedDomains": {
          "items": {
            "type": "string"
          },
          "description": "Authorized domains.",
          "type": "array"
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "legacyResetPasswordTemplate": {
          "description": "Legacy reset password email template.",
          "$ref": "EmailTemplate"
        },
        "idpConfig": {
          "type": "array",
          "items": {
            "$ref": "IdpConfig"
          },
          "description": "OAuth2 provider configuration."
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled.",
          "type": "boolean"
        }
      },
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object",
      "description": "Response of getting the project configuration."
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "type": "object",
      "properties": {
        "temporaryProof": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "sessionInfo": {
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode.",
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "type": "object",
      "description": "Request to delete account.",
      "properties": {
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        }
      },
      "description": "Request to sign out user.",
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "type": "object",
      "description": "Request to download user account in batch.",
      "properties": {
        "maxResults": {
          "format": "uint32",
          "type": "integer",
          "description": "The max number of results to return in the response."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        }
      }
    },
    "ResetPasswordResponse": {
      "properties": {
        "newEmail": {
          "description": "If the out-of-band code is for email recovery, the user's new email.",
          "type": "string"
        },
        "kind": {
          "default": "identitytoolkit#ResetPasswordResponse",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\".",
          "type": "string"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        }
      },
      "description": "Response of resetting the password.",
      "id": "ResetPasswordResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "type": "object",
      "description": "Response of setting the project configuration."
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "lastLoginAt": {
          "description": "Last login timestamp.",
          "type": "string",
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "upgradeToFederatedLogin": {
          "description": "Mark the user to upgrade to federated login.",
          "type": "boolean"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Privileged caller can update user with specified phone number.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "password": {
          "description": "The new password of the user.",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp when the account is created."
        },
        "provider": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The associated IDPs of the user."
        },
        "deleteAttribute": {
          "description": "The attributes users request to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "validSince": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp in seconds for valid login token."
        },
        "deleteProvider": {
          "description": "The IDPs the user request to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "emailVerified": {
          "description": "Mark the email as verified or not.",
          "type": "boolean"
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "description": "Request to set the account information."
    },
    "CreateAuthUriResponse": {
      "id": "CreateAuthUriResponse",
      "properties": {
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "signinMethods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All sign-in methods this user has used."
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "True if captcha is required."
        },
        "kind": {
          "default": "identitytoolkit#CreateAuthUriResponse",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "type": "string"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "allProviders": {
          "description": "all providers the user has once used to do federated login",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "authUri": {
          "description": "The URI used by the IDP to authenticate the user.",
          "type": "string"
        },
        "sessionId": {
          "description": "Session ID which should be passed in the following verifyAssertion request.",
          "type": "string"
        }
      },
      "description": "Response of creating the IDP authentication URL.",
      "type": "object"
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "type": "object",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "properties": {
        "captchaResp": {
          "description": "The recaptcha response from the user.",
          "type": "string"
        },
        "requestType": {
          "description": "The request type.",
          "type": "string"
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "iOSBundleId": {
          "description": "the iOS bundle id of iOS app to handle the action code",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "canHandleCodeInApp": {
          "description": "whether or not the app can handle the oob code without first going to web",
          "type": "boolean"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#relyingparty\".",
          "type": "string",
          "default": "identitytoolkit#relyingparty"
        },
        "userIp": {
          "description": "The IP address of the user.",
          "type": "string"
        },
        "androidMinimumVersion": {
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app",
          "type": "string"
        },
        "idToken": {
          "description": "The user's Gitkit login token for email change.",
          "type": "string"
        },
        "androidPackageName": {
          "description": "android package name of the android app to handle the action code",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        }
      }
    },
    "GetOobConfirmationCodeResponse": {
      "id": "GetOobConfirmationCodeResponse",
      "properties": {
        "kind": {
          "default": "identitytoolkit#GetOobConfirmationCodeResponse",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        },
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        }
      },
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "properties": {
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user.",
          "type": "boolean"
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string",
          "format": "int64"
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "allowPasswordUser": {
          "description": "Whether to allow password user sign in or sign up.",
          "type": "boolean"
        },
        "authorizedDomains": {
          "items": {
            "type": "string"
          },
          "description": "Authorized domains for widget redirect.",
          "type": "array"
        },
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Oauth2 provider configuration.",
          "type": "array",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        }
      },
      "description": "Request to set the project configuration."
    },
    "UploadAccountResponse": {
      "type": "object",
      "id": "UploadAccountResponse",
      "description": "Respone of uploading accounts in batch.",
      "properties": {
        "kind": {
          "default": "identitytoolkit#UploadAccountResponse",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\".",
          "type": "string"
        },
        "error": {
          "type": "array",
          "items": {
            "properties": {
              "index": {
                "type": "integer",
                "format": "int32",
                "description": "The index of the malformed account, starting from 0."
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              }
            },
            "type": "object"
          },
          "description": "The error encountered while processing the account info."
        }
      }
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "type": "object",
      "description": "Request to reset the password.",
      "properties": {
        "newPassword": {
          "type": "string",
          "description": "The new password inputted by the user."
        },
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        },
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest"
    },
    "VerifyPasswordResponse": {
      "type": "object",
      "id": "VerifyPasswordResponse",
      "properties": {
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\".",
          "type": "string",
          "default": "identitytoolkit#VerifyPasswordResponse"
        },
        "registered": {
          "description": "Whether the email is registered.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "oauthExpireIn": {
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Request of verifying the password."
    },
    "VerifyAssertionResponse": {
      "id": "VerifyAssertionResponse",
      "type": "object",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "type": "string",
          "default": "identitytoolkit#VerifyAssertionResponse"
        },
        "oauthIdToken": {
          "description": "The OIDC id token.",
          "type": "string"
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "inputEmail": {
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email.",
          "type": "string"
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "oauthRequestToken": {
          "description": "The user approved request token for the OpenID OAuth extension.",
          "type": "string"
        },
        "nickName": {
          "type": "string",
          "description": "The nick name of the user."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "verifiedProvider": {
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "timeZone": {
          "description": "The timezone of the user.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "needConfirmation": {
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation.",
          "type": "boolean"
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "It's true if the email is recycled."
        },
        "appScheme": {
          "type": "string",
          "description": "The custom scheme used by mobile app."
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email."
        },
        "appInstallationUrl": {
          "description": "URL for OTA app installation.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "errorMessage": {
          "description": "Client error code.",
          "type": "string"
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string",
          "format": "int64"
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        },
        "oauthExpireIn": {
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32",
          "type": "integer"
        },
        "oauthTokenSecret": {
          "description": "The OAuth1 access token secret.",
          "type": "string"
        }
      },
      "description": "Response of verifying the IDP assertion."
    },
    "VerifyCustomTokenResponse": {
      "type": "object",
      "description": "Response from verifying a custom token",
      "id": "VerifyCustomTokenResponse",
      "properties": {
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "kind": {
          "default": "identitytoolkit#VerifyCustomTokenResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\"."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        }
      }
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "properties": {
        "recaptchaToken": {
          "description": "Recaptcha solution.",
          "type": "string"
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        },
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        }
      },
      "description": "Request for Identitytoolkit-SendVerificationCode"
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "description": "Request to upload user account in batch.",
      "properties": {
        "dkLen": {
          "format": "int32",
          "type": "integer"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "signerKey": {
          "format": "byte",
          "type": "string",
          "description": "The key for to hash the password."
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        },
        "parallelization": {
          "format": "int32",
          "type": "integer"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The account info to be stored."
        },
        "rounds": {
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "format": "int32"
        },
        "cpuMemCost": {
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "format": "int32",
          "type": "integer"
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "format": "int32"
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "saltSeparator": {
          "description": "The salt separator.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest"
    },
    "EmailTemplate": {
      "id": "EmailTemplate",
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "description": "Email body format."
        },
        "fromDisplayName": {
          "description": "From display name.",
          "type": "string"
        },
        "subject": {
          "description": "Subject of the email.",
          "type": "string"
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        },
        "from": {
          "description": "From address of the email.",
          "type": "string"
        },
        "body": {
          "type": "string",
          "description": "Email body."
        }
      },
      "description": "Template for an email template."
    },
    "GetRecaptchaParamResponse": {
      "properties": {
        "recaptchaStoken": {
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge.",
          "type": "string"
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "default": "identitytoolkit#GetRecaptchaParamResponse"
        }
      },
      "id": "GetRecaptchaParamResponse",
      "type": "object",
      "description": "Response of getting recaptcha param."
    },
    "SignupNewUserResponse": {
      "id": "SignupNewUserResponse",
      "type": "object",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "kind": {
          "default": "identitytoolkit#SignupNewUserResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\"."
        }
      }
    },
    "SetAccountInfoResponse": {
      "id": "SetAccountInfoResponse",
      "type": "object",
      "properties": {
        "passwordHash": {
          "description": "The user's hashed password.",
          "format": "byte",
          "type": "string"
        },
        "emailVerified": {
          "description": "If email has been verified.",
          "type": "boolean"
        },
        "providerUserInfo": {
          "items": {
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              },
              "providerId": {
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              }
            },
            "type": "object"
          },
          "description": "The user's profiles at the associated IdPs.",
          "type": "array"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "expiresIn": {
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "kind": {
          "default": "identitytoolkit#SetAccountInfoResponse",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        }
      },
      "description": "Respone of setting the account information."
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "hostedDomain": {
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts.",
          "type": "string"
        },
        "authFlowType": {
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        },
        "context": {
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback.",
          "type": "string"
        },
        "continueUri": {
          "description": "The URI to which the IDP redirects the user after the federated login flow.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "appId": {
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS.",
          "type": "string"
        },
        "customParameter": {
          "type": "object",
          "additionalProperties": {
            "description": "The customized query parameter.",
            "type": "string"
          },
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token."
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        }
      },
      "description": "Request to get the IDP authentication URL.",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "type": "object"
    },
    "UserInfo": {
      "type": "object",
      "properties": {
        "customAttributes": {
          "description": "The custom attributes to be set in the user's id token.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "disabled": {
          "description": "Whether the user is disabled.",
          "type": "boolean"
        },
        "validSince": {
          "description": "Timestamp in seconds for valid login token.",
          "type": "string",
          "format": "int64"
        },
        "version": {
          "description": "Version of the user's password.",
          "format": "int32",
          "type": "integer"
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "lastLoginAt": {
          "format": "int64",
          "description": "last login timestamp.",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "description": "User creation timestamp.",
          "type": "string"
        },
        "passwordHash": {
          "description": "The user's hashed password.",
          "type": "string",
          "format": "byte"
        },
        "salt": {
          "description": "The user's password salt.",
          "format": "byte",
          "type": "string"
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The IDP of the user.",
          "items": {
            "properties": {
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              },
              "displayName": {
                "description": "The user's display name at the IDP.",
                "type": "string"
              },
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              },
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              }
            },
            "type": "object"
          }
        },
        "emailVerified": {
          "description": "Whether the email has been verified.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "photoUrl": {
          "description": "The URL of the user profile photo.",
          "type": "string"
        },
        "passwordUpdatedAt": {
          "type": "number",
          "format": "double",
          "description": "The timestamp when the password was last updated."
        }
      },
      "id": "UserInfo",
      "description": "Template for an individual account info."
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "description": "Request to get the account information.",
      "type": "object",
      "properties": {
        "email": {
          "items": {
            "type": "string"
          },
          "description": "The list of emails of the users to inquiry.",
          "type": "array"
        },
        "localId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of local ID's of the users to inquiry."
        },
        "phoneNumber": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Privileged caller can query users by specified phone number."
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "additionalProperties": {
        "type": "string"
      },
      "description": "Respone of getting public keys.",
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "description": "Response of signing out user.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      }
    },
    "DeleteAccountResponse": {
      "id": "DeleteAccountResponse",
      "description": "Respone of deleting account.",
      "properties": {
        "kind": {
          "default": "identitytoolkit#DeleteAccountResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\"."
        }
      },
      "type": "object"
    },
    "GetAccountInfoResponse": {
      "type": "object",
      "properties": {
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "description": "The info of the users.",
          "type": "array"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\".",
          "default": "identitytoolkit#GetAccountInfoResponse",
          "type": "string"
        }
      },
      "id": "GetAccountInfoResponse",
      "description": "Response of getting account information."
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "postBody": {
          "description": "The post body if the request is a HTTP POST.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "requestUri": {
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP.",
          "type": "string"
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string"
        }
      },
      "description": "Request to verify the IDP assertion.",
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "type": "object"
    },
    "DownloadAccountResponse": {
      "id": "DownloadAccountResponse",
      "description": "Response of downloading accounts in batch.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "type": "string",
          "default": "identitytoolkit#DownloadAccountResponse"
        },
        "users": {
          "type": "array",
          "description": "The user accounts data.",
          "items": {
            "$ref": "UserInfo"
          }
        }
      },
      "type": "object"
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "experimentPercent": {
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "type": "integer",
          "format": "int32"
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "whitelistedAudiences": {
          "items": {
            "type": "string"
          },
          "description": "Whitelisted client IDs for audience check.",
          "type": "array"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "secret": {
          "description": "OAuth2 client secret.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Template for a single idp configuration."
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "description": "Request to verify a custom token",
      "properties": {
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "token": {
          "description": "The custom token to verify",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "properties": {
        "idToken": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "localId": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "phoneNumber": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "format": "int64",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "refreshToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "type": "object",
      "properties": {
        "idToken": {
          "description": "Token for linking flow.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "description": "Request to sign in with email."
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "localId": {
          "type": "string",
          "description": "Privileged caller can create user with specified user id."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "emailVerified": {
          "description": "Mark the email as verified or not. Only can be used by service account.",
          "type": "boolean"
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "type": "string",
          "description": "Tenant project number to be used for idp discovery."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        }
      },
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest"
    },
    "EmailLinkSigninResponse": {
      "properties": {
        "localId": {
          "description": "The RP local ID of the user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "Expiration time of STS id token in seconds."
        },
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "kind": {
          "default": "identitytoolkit#EmailLinkSigninResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\"."
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        },
        "refreshToken": {
          "description": "The refresh token for the signed in user.",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        }
      },
      "id": "EmailLinkSigninResponse",
      "description": "Response of email signIn.",
      "type": "object"
    }
  },
  "revision": "20180723",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "description": "Help the third party sites to implement federated login."
}