{
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "canonicalName": "Identity Toolkit",
  "version": "v2",
  "batchPath": "batch",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "revision": "20260813",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Identity Toolkit API",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/identity-platform",
  "name": "identitytoolkit",
  "resources": {
    "projects": {
      "resources": {
        "inboundSamlConfigs": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "identitytoolkit.projects.inboundSamlConfigs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "identitytoolkit.projects.inboundSamlConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs",
              "path": "v2/{+parent}/inboundSamlConfigs",
              "httpMethod": "GET",
              "description": "List all inbound SAML configurations for an Identity Toolkit project.",
              "parameters": {
                "parent": {
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of items to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "type": "string"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs",
              "path": "v2/{+parent}/inboundSamlConfigs",
              "httpMethod": "POST",
              "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "inboundSamlConfigId": {
                  "location": "query",
                  "description": "The id to use for this config.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "identitytoolkit.projects.inboundSamlConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "identitytoolkit.projects.inboundSamlConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "description": "Delete an inbound SAML configuration for an Identity Toolkit project."
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                }
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.inboundSamlConfigs.patch",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "identityPlatform": {
          "methods": {
            "initializeAuth": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest"
              },
              "parameterOrder": [
                "project"
              ],
              "id": "identitytoolkit.projects.identityPlatform.initializeAuth",
              "httpMethod": "POST",
              "description": "Initialize Identity Platform for a Cloud project. Identity Platform is an end-to-end authentication system for third-party users to access your apps and services. These could include mobile/web apps, games, APIs and beyond. This is the publicly available variant of EnableIdentityPlatform that is only available to billing-enabled projects.",
              "parameters": {
                "project": {
                  "description": "The resource name of the target project the developer wants to enable Identity Platform for.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse"
              },
              "flatPath": "v2/projects/{projectsId}/identityPlatform:initializeAuth",
              "path": "v2/{+project}/identityPlatform:initializeAuth"
            }
          }
        },
        "defaultSupportedIdpConfigs": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                }
              },
              "httpMethod": "PATCH",
              "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.get",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of items to return.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "List all default supported Idp configurations for an Identity Toolkit project.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
              },
              "path": "v2/{+parent}/defaultSupportedIdpConfigs",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.list"
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "path": "v2/{+parent}/defaultSupportedIdpConfigs",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs",
              "parameters": {
                "idpId": {
                  "type": "string",
                  "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
                  "location": "query"
                },
                "parent": {
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            }
          }
        },
        "oauthIdpConfigs": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "id": "identitytoolkit.projects.oauthIdpConfigs.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\""
                },
                "oauthIdpConfigId": {
                  "type": "string",
                  "location": "query",
                  "description": "The id to use for this config."
                }
              },
              "httpMethod": "POST",
              "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "path": "v2/{+parent}/oauthIdpConfigs",
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.oauthIdpConfigs.get",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "identitytoolkit.projects.oauthIdpConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v2/{+parent}/oauthIdpConfigs",
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "The maximum number of items to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The next_page_token value returned from a previous List request, if any."
                }
              },
              "httpMethod": "GET",
              "description": "List all Oidc Idp configurations for an Identity Toolkit project."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "identitytoolkit.projects.oauthIdpConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "description": "Delete an Oidc Idp configuration for an Identity Toolkit project."
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.oauthIdpConfigs.patch",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "parameters": {
                "name": {
                  "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                }
              },
              "httpMethod": "PATCH",
              "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              }
            }
          }
        },
        "tenants": {
          "methods": {
            "testIamPermissions": {
              "id": "identitytoolkit.projects.tenants.testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "GoogleIamV1TestIamPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v2/{+resource}:testIamPermissions",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:testIamPermissions",
              "response": {
                "$ref": "GoogleIamV1TestIamPermissionsResponse"
              },
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "description": "Returns the caller's permissions on a resource. An error is returned if the resource does not exist. A caller is not required to have Google IAM permission to make this request."
            },
            "getIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "GoogleIamV1GetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "identitytoolkit.projects.tenants.getIamPolicy",
              "httpMethod": "POST",
              "description": "Gets the access control policy for a resource. An error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it. Caller must have the right Google IAM permission on the resource.",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:getIamPolicy",
              "path": "v2/{+resource}:getIamPolicy"
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Delete a tenant. Requires write permission on the Agent project.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Resource name of the tenant to delete.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "identitytoolkit.projects.tenants.delete"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "id": "identitytoolkit.projects.tenants.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "If provided, only update fields set in the update mask. Otherwise, all settable fields will be updated. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                }
              },
              "httpMethod": "PATCH",
              "description": "Update a tenant. Requires write permission on the Tenant resource.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}"
            },
            "create": {
              "flatPath": "v2/projects/{projectsId}/tenants",
              "path": "v2/{+parent}/tenants",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "httpMethod": "POST",
              "description": "Create a tenant. Requires write permission on the Agent project.",
              "parameters": {
                "parent": {
                  "description": "The parent resource name where the tenant will be created. For example, \"projects/project1\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "id": "identitytoolkit.projects.tenants.create",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "setIamPolicy": {
              "path": "v2/{+resource}:setIamPolicy",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:setIamPolicy",
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Sets the access control policy for a resource. If the policy exists, it is replaced. Caller must have the right Google IAM permission on the resource.",
              "id": "identitytoolkit.projects.tenants.setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "GoogleIamV1SetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Resource name of the tenant to retrieve."
                }
              },
              "httpMethod": "GET",
              "description": "Get a tenant. Requires read permission on the Tenant resource.",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.tenants.get",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name to list tenants for.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The pagination token from the response of a previous request.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return, capped at 1000. If not specified, the default value is 20.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "description": "List tenants under the given agent project. Requires read permission on the Agent project.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse"
              },
              "path": "v2/{+parent}/tenants",
              "flatPath": "v2/projects/{projectsId}/tenants",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "identitytoolkit.projects.tenants.list"
            }
          },
          "resources": {
            "defaultSupportedIdpConfigs": {
              "methods": {
                "delete": {
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.patch",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "httpMethod": "POST",
                  "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "required": true,
                      "location": "path"
                    },
                    "idpId": {
                      "type": "string",
                      "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
                      "location": "query"
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.create",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.get",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}"
                },
                "list": {
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "List all default supported Idp configurations for an Identity Toolkit project.",
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "oauthIdpConfigs": {
              "methods": {
                "delete": {
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.patch"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.get"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
                  },
                  "path": "v2/{+parent}/oauthIdpConfigs",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\""
                    },
                    "oauthIdpConfigId": {
                      "type": "string",
                      "location": "query",
                      "description": "The id to use for this config."
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
                  "path": "v2/{+parent}/oauthIdpConfigs",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  }
                }
              }
            },
            "inboundSamlConfigs": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "required": true
                    },
                    "inboundSamlConfigId": {
                      "description": "The id to use for this config.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "List all inbound SAML configurations for an Identity Toolkit project.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\"."
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Delete an inbound SAML configuration for an Identity Toolkit project.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
                  "parameters": {
                    "name": {
                      "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "getConfig": {
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "flatPath": "v2/projects/{projectsId}/config",
          "path": "v2/{+name}",
          "httpMethod": "GET",
          "description": "Retrieve an Identity Toolkit project configuration.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/config$",
              "description": "The resource name of the config, for example: \"projects/my-awesome-project/config\"",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "identitytoolkit.projects.getConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateConfig": {
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "id": "identitytoolkit.projects.updateConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "path": "v2/{+name}",
          "flatPath": "v2/projects/{projectsId}/config",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/config$",
              "type": "string",
              "required": true,
              "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\"",
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "The update mask applies to the resource. Fields set in the config but not included in this update mask will be ignored. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "description": "Update an Identity Toolkit project configuration."
        }
      }
    },
    "v2": {
      "methods": {
        "getPasswordPolicy": {
          "parameterOrder": [],
          "id": "identitytoolkit.getPasswordPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2PasswordPolicy"
          },
          "path": "v2/passwordPolicy",
          "flatPath": "v2/passwordPolicy",
          "parameters": {
            "tenantId": {
              "description": "The id of a tenant.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Gets password policy config set on the project or tenant."
        },
        "getRecaptchaConfig": {
          "id": "identitytoolkit.getRecaptchaConfig",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v2/recaptchaConfig",
          "path": "v2/recaptchaConfig",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaConfig"
          },
          "httpMethod": "GET",
          "description": "Gets parameters needed for reCAPTCHA analysis.",
          "parameters": {
            "tenantId": {
              "location": "query",
              "description": "The id of a tenant.",
              "type": "string"
            },
            "clientType": {
              "location": "query",
              "type": "string",
              "enum": [
                "CLIENT_TYPE_UNSPECIFIED",
                "CLIENT_TYPE_WEB",
                "CLIENT_TYPE_ANDROID",
                "CLIENT_TYPE_IOS"
              ],
              "description": "reCAPTCHA Enterprise uses separate site keys for different client types. Specify the client type to get the corresponding key.",
              "enumDescriptions": [
                "Client type is not specified.",
                "Client type is web.",
                "Client type is android.",
                "Client type is ios."
              ]
            },
            "version": {
              "enumDescriptions": [
                "The reCAPTCHA version is not specified.",
                "The reCAPTCHA enterprise."
              ],
              "description": "The reCAPTCHA version.",
              "type": "string",
              "enum": [
                "RECAPTCHA_VERSION_UNSPECIFIED",
                "RECAPTCHA_ENTERPRISE"
              ],
              "location": "query"
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "mfaSignIn": {
          "methods": {
            "finalize": {
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest"
              },
              "parameterOrder": [],
              "id": "identitytoolkit.accounts.mfaSignIn.finalize",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse"
              },
              "flatPath": "v2/accounts/mfaSignIn:finalize",
              "path": "v2/accounts/mfaSignIn:finalize",
              "httpMethod": "POST",
              "description": "Verifies the MFA challenge and performs sign-in",
              "parameters": {}
            },
            "start": {
              "id": "identitytoolkit.accounts.mfaSignIn.start",
              "parameterOrder": [],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/accounts/mfaSignIn:start",
              "flatPath": "v2/accounts/mfaSignIn:start",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse"
              },
              "parameters": {},
              "httpMethod": "POST",
              "description": "Sends the MFA challenge"
            }
          }
        },
        "mfaEnrollment": {
          "methods": {
            "finalize": {
              "id": "identitytoolkit.accounts.mfaEnrollment.finalize",
              "parameterOrder": [],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/accounts/mfaEnrollment:finalize",
              "flatPath": "v2/accounts/mfaEnrollment:finalize",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse"
              },
              "parameters": {},
              "httpMethod": "POST",
              "description": "Finishes enrolling a second factor for the user."
            },
            "start": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest"
              },
              "parameterOrder": [],
              "id": "identitytoolkit.accounts.mfaEnrollment.start",
              "httpMethod": "POST",
              "description": "Step one of the MFA enrollment process. In SMS case, this sends an SMS verification code to the user.",
              "parameters": {},
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse"
              },
              "flatPath": "v2/accounts/mfaEnrollment:start",
              "path": "v2/accounts/mfaEnrollment:start"
            },
            "withdraw": {
              "parameters": {},
              "httpMethod": "POST",
              "description": "Revokes one second factor from the enrolled second factors for an account.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse"
              },
              "path": "v2/accounts/mfaEnrollment:withdraw",
              "flatPath": "v2/accounts/mfaEnrollment:withdraw",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest"
              },
              "id": "identitytoolkit.accounts.mfaEnrollment.withdraw"
            }
          }
        }
      },
      "methods": {
        "revokeToken": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.accounts.revokeToken",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Revokes a user's token from an Identity Provider (IdP). This is done by manually providing an IdP credential, and the token types for revocation. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameters": {},
          "flatPath": "v2/accounts:revokeToken",
          "path": "v2/accounts:revokeToken",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse"
          }
        }
      }
    },
    "defaultSupportedIdps": {
      "methods": {
        "list": {
          "flatPath": "v2/defaultSupportedIdps",
          "path": "v2/defaultSupportedIdps",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse"
          },
          "httpMethod": "GET",
          "description": "List all default supported Idps.",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of items to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "The next_page_token value returned from a previous List request, if any.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "identitytoolkit.defaultSupportedIdps.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        }
      }
    }
  },
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp": {
      "type": "object",
      "properties": {
        "idpId": {
          "description": "Id the of Idp",
          "type": "string"
        },
        "description": {
          "description": "Description of the Idp",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp",
      "description": "Standard Identity Toolkit-trusted IDPs."
    },
    "GoogleCloudIdentitytoolkitAdminV2Anonymous": {
      "properties": {
        "enabled": {
          "description": "Whether anonymous user auth is enabled for the project or not.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Anonymous",
      "description": "Configuration options related to authenticating an anonymous user."
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig",
      "description": "Configuration related to multi-tenant functionality.",
      "properties": {
        "allowTenants": {
          "description": "Whether this project can have tenants or not.",
          "type": "boolean"
        },
        "defaultTenantLocation": {
          "description": "The default cloud parent org or folder that the tenant project should be created under. The parent resource name should be in the format of \"/\", such as \"folders/123\" or \"organizations/456\". If the value is not set, the tenant will be created under the same organization or folder as the agent project.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleTypeExpr": {
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse": {
      "type": "object",
      "properties": {
        "refreshToken": {
          "description": "Refresh token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "totpAuthInfo": {
          "description": "Auxiliary auth info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo"
        },
        "idToken": {
          "description": "ID token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "phoneAuthInfo": {
          "description": "Auxiliary auth info specific to phone auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse",
      "description": "FinalizeMfaEnrollment response."
    },
    "GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "properties": {
        "verifyEmailTemplate": {
          "description": "Email template for verify email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "dnsInfo": {
          "description": "Information of custom domain DNS verification.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2DnsInfo"
        },
        "legacyResetPasswordTemplate": {
          "description": "Reset password email template for legacy Firebase V1 app.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "changeEmailTemplate": {
          "description": "Email template for change email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "callbackUri": {
          "description": "action url in email template.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM_SMTP"
          ],
          "enumDescriptions": [
            "Email method unspecified.",
            "Sending email on behalf of developer.",
            "Sending email using SMTP configuration provided by developers."
          ],
          "description": "The method used for sending an email."
        },
        "revertSecondFactorAdditionTemplate": {
          "description": "Email template for reverting second factor addition emails",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "smtp": {
          "description": "Use a custom SMTP relay",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Smtp"
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendEmail",
      "description": "Options for email sending."
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
      "description": "The reCAPTCHA Enterprise integration config.",
      "type": "object",
      "properties": {
        "useAccountDefender": {
          "description": "Whether to use the account defender for reCAPTCHA assessment. Defaults to `false`.",
          "type": "boolean"
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        },
        "phoneEnforcementState": {
          "type": "string",
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "description": "The reCAPTCHA config for phone provider, containing the enforcement status. The phone provider contains all SMS related user flows protected by reCAPTCHA.",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ]
        },
        "emailPasswordEnforcementState": {
          "type": "string",
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "description": "The reCAPTCHA config for email/password provider, containing the enforcement status. The email/password provider contains all email related user flows protected by reCAPTCHA.",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ]
        },
        "recaptchaKeys": {
          "description": "The reCAPTCHA keys.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
          },
          "type": "array"
        },
        "managedRules": {
          "type": "array",
          "description": "The managed rules for authentication action based on reCAPTCHA scores. The rules are shared across providers for a given tenant project.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
          }
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        },
        "tollFraudManagedRules": {
          "description": "The managed rules for the authentication action based on reCAPTCHA toll fraud risk scores. Toll fraud managed rules will only take effect when the phone_enforcement_state is AUDIT or ENFORCE and use_sms_toll_fraud_protection is true.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions": {
      "id": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions",
      "description": "Custom strength options to enforce on user passwords.",
      "type": "object",
      "properties": {
        "maxPasswordLength": {
          "description": "Maximum password length. No default max length",
          "type": "integer",
          "format": "int32"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "minPasswordLength": {
          "description": "Minimum password length. Range from 6 to 30",
          "type": "integer",
          "format": "int32"
        },
        "containsNumericCharacter": {
          "description": "The password must contain a number.",
          "type": "boolean"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig": {
      "properties": {
        "adjacentIntervals": {
          "description": "The allowed number of adjacent intervals that will be used for verification to avoid clock skew.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig",
      "description": "TotpMFAProviderConfig represents the TOTP based MFA provider."
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpCertificate": {
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate",
      "description": "The IDP's certificate data to verify the signature in the SAMLResponse issued by the IDP.",
      "properties": {
        "x509Certificate": {
          "description": "The x509 certificate",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
      "description": "Configuration related to quotas.",
      "properties": {
        "signUpQuotaConfig": {
          "description": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse": {
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse",
      "description": "Withdraws MultiFactorAuth response.",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "ID token updated to reflect removal of the second factor.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token updated to reflect removal of the second factor.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Tenant": {
      "properties": {
        "displayName": {
          "description": "Display name of the tenant.",
          "type": "string"
        },
        "mfaConfig": {
          "description": "The tenant-level configuration of MFA options.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        },
        "inheritance": {
          "description": "Specify the settings that the tenant could inherit.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Inheritance"
        },
        "autodeleteAnonymousUsers": {
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days.",
          "type": "boolean"
        },
        "testPhoneNumbers": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of pairs that can be used for MFA. The phone number should be in E.164 format (https://www.itu.int/rec/T-REC-E.164/) and a maximum of 10 pairs can be added (error will be thrown once exceeded)."
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "disableAuth": {
          "description": "Whether authentication is disabled for the tenant. If true, the users under the disabled tenant are not allowed to sign-in. Admins of the disabled tenant are not able to manage its users.",
          "type": "boolean"
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig"
        },
        "recaptchaConfig": {
          "description": "The tenant-level reCAPTCHA config.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
        },
        "enableEmailLinkSignin": {
          "description": "Whether to enable email link user authentication.",
          "type": "boolean"
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user authentication.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
          "readOnly": true,
          "type": "string"
        },
        "monitoring": {
          "description": "Configuration related to monitoring project activity.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
        },
        "smsRegionConfig": {
          "description": "Configures which regions are enabled for SMS verification code sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
        },
        "hashConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "description": "Output only. Hash config information of a tenant for display on Pantheon. This can only be displayed on Pantheon to avoid the sensitive information to get accidentally leaked. Only returned in GetTenant response to restrict reading of this information. Requires firebaseauth.configs.getHashConfig permission on the agent project for returning this field."
        },
        "mobileLinksConfig": {
          "deprecated": true,
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
          "description": "Optional. Deprecated. Never launched. Configuration for settings related to univeral links (iOS) and app links (Android)."
        },
        "allowPasswordSignup": {
          "description": "Whether to allow email/password user authentication.",
          "type": "boolean"
        },
        "passwordPolicyConfig": {
          "description": "The tenant-level password policy config",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Tenant",
      "description": "A Tenant contains configuration for the tenant in a multi-tenant project."
    },
    "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
      "description": "Configuration mobile links.",
      "properties": {
        "domain": {
          "type": "string",
          "enum": [
            "DOMAIN_UNSPECIFIED",
            "FIREBASE_DYNAMIC_LINK_DOMAIN",
            "HOSTING_DOMAIN"
          ],
          "description": "Open code in app domain to use for app links and universal links.",
          "enumDescriptions": [
            "Default value. The default domain is the Firebase Dynamic Link domain before the FDL deprecation and the hosting domain after the FDL deprecation.",
            "Use Firebase Dynamic Link domain as app link domain. Default value.",
            "Use hosting domain as app link domain."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
      "description": "Options related to MultiFactor Authentication for the project.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Whether MultiFactor Authentication has been enabled for this project.",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project",
            "Multi-factor authentication can be used for this project",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ]
        },
        "enabledProviders": {
          "description": "A list of usable second factors for this project.",
          "items": {
            "type": "string",
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "PHONE_SMS"
            ],
            "enumDescriptions": [
              "Illegal Provider, should not be used",
              "SMS is enabled as a second factor for this project."
            ]
          },
          "type": "array"
        },
        "providerConfigs": {
          "description": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
      "description": "History information of the hash algorithm and key. Different accounts' passwords may be generated by different version.",
      "type": "object",
      "properties": {
        "algorithm": {
          "description": "Output only. Different password hash algorithms used in Identity Toolkit.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "type": "string",
          "enum": [
            "HASH_ALGORITHM_UNSPECIFIED",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "readOnly": true
        },
        "saltSeparator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Non-printable character to be inserted between the salt and plain text password in base64."
        },
        "rounds": {
          "description": "Output only. How many rounds for hash calculation. Used by scrypt and other similar password derivation algorithms.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "signerKey": {
          "description": "Output only. Signer key in base64.",
          "readOnly": true,
          "type": "string"
        },
        "memoryCost": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Memory cost for hash calculation. Used by scrypt and other similar password derivation algorithms. See https://tools.ietf.org/html/rfc7914 for explanation of field."
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo",
      "description": "Mfa response info specific to TOTP auth for StartMfa.",
      "properties": {
        "verificationCodeLength": {
          "description": "The length of the verification code that needs to be generated.",
          "type": "integer",
          "format": "int32"
        },
        "sharedSecretKey": {
          "description": "A base 32 encoded string that represents the shared TOTP secret. The base 32 encoding is the one specified by [RFC4648#section-6](https://datatracker.ietf.org/doc/html/rfc4648#section-6). (This is the same as the base 32 encoding from [RFC3548#section-5](https://datatracker.ietf.org/doc/html/rfc3548#section-5).)",
          "type": "string"
        },
        "periodSec": {
          "format": "int32",
          "type": "integer",
          "description": "Duration in seconds at which the verification code will change."
        },
        "sessionInfo": {
          "description": "An encoded string that represents the enrollment session.",
          "type": "string"
        },
        "hashingAlgorithm": {
          "description": "The hashing algorithm used to generate the verification code.",
          "type": "string"
        },
        "finalizeEnrollmentTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time by which the enrollment must finish."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "type": "object",
      "properties": {
        "allowlistOnly": {
          "description": "A policy of only allowing regions by explicitly adding them to an allowlist.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly"
        },
        "allowByDefault": {
          "description": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
      "description": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number."
    },
    "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig": {
      "type": "object",
      "properties": {
        "requestLogging": {
          "description": "Configuration for logging requests made to this project to Stackdriver Logging",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RequestLogging"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
      "description": "Configuration related to monitoring project activity."
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowByDefault": {
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
      "description": "Defines a policy of allowing every region by default and adding disallowed regions to a disallow list.",
      "properties": {
        "disallowedRegions": {
[...]
