{
  "title": "Identity Toolkit API",
  "revision": "20260911",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "servicePath": "",
  "id": "identitytoolkit:v2",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse",
      "description": "StartMfaSignIn response.",
      "properties": {
        "phoneResponseInfo": {
          "description": "MultiFactor sign-in session information specific to SMS-type second factors. Along with the one-time code retrieved from the sent SMS, the contents of this session information should be passed to FinalizeMfaSignIn to complete the sign in.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest",
      "description": "Finishes enrolling a second factor for the user.",
      "properties": {
        "phoneVerificationInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo"
        },
        "displayName": {
          "description": "Display name which is entered by users to distinguish between different second factors with same type or different type.",
          "type": "string"
        },
        "idToken": {
          "description": "Required. ID token.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        },
        "totpVerificationInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo",
          "description": "Verification information for TOTP."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo": {
      "properties": {},
      "description": "Mfa response info specific to TOTP auth for FinalizeMfa.",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SpConfig",
      "type": "object",
      "properties": {
        "callbackUri": {
          "description": "Callback URI where responses from IDP are handled.",
          "type": "string"
        },
        "spEntityId": {
          "type": "string",
          "description": "Unique identifier for all SAML entities."
        },
        "spCertificates": {
          "readOnly": true,
          "description": "Output only. Public certificates generated by the server to verify the signature in SAMLRequest in the SP-initiated flow.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2SpCertificate"
          }
        }
      },
      "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider."
    },
    "GoogleCloudIdentitytoolkitAdminV2SignInConfig": {
      "type": "object",
      "description": "Configuration related to local sign in methods.",
      "properties": {
        "anonymous": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Anonymous",
          "description": "Configuration options related to authenticating an anonymous user."
        },
        "phoneNumber": {
          "description": "Configuration options related to authenticated a user by their phone number.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber"
        },
        "allowDuplicateEmails": {
          "description": "Whether to allow more than one account to have the same email.",
          "type": "boolean"
        },
        "email": {
          "description": "Configuration options related to authenticating a user by their email address.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Email"
        },
        "hashConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "description": "Output only. Hash config information."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2SignInConfig"
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenResponse": {
      "description": "Response message for RevokeToken. Empty for now.",
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
      "description": "Configuration related to quotas.",
      "properties": {
        "signUpQuotaConfig": {
          "description": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig": {
      "type": "object",
      "description": "Additional config for Apple for code flow.",
      "id": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig",
      "properties": {
        "teamId": {
          "description": "Apple Developer Team ID.",
          "type": "string"
        },
        "privateKey": {
          "description": "Private key used for signing the client secret JWT.",
          "type": "string"
        },
        "keyId": {
          "description": "Key ID for the private key.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientConfig": {
      "type": "object",
      "properties": {
        "permissions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Permissions",
          "description": "Configuration related to restricting a user's ability to affect their account."
        },
        "firebaseSubdomain": {
          "readOnly": true,
          "description": "Output only. Firebase subdomain.",
          "type": "string"
        },
        "apiKey": {
          "readOnly": true,
          "description": "Output only. API key that can be used when making requests for this project.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientConfig",
      "description": "Options related to how clients making requests on behalf of a project should be configured."
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsTemplate": {
      "type": "object",
      "description": "The template to use when sending an SMS.",
      "properties": {
        "content": {
          "readOnly": true,
          "description": "Output only. The SMS's content. Can contain the following placeholders which will be replaced with the appropriate values: %APP_NAME% - For Android or iOS apps, the app's display name. For web apps, the domain hosting the application. %LOGIN_CODE% - The OOB code being sent in the SMS.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate"
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo": {
      "description": "Mfa response info specific to TOTP auth for StartMfa.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo",
      "properties": {
        "verificationCodeLength": {
          "description": "The length of the verification code that needs to be generated.",
          "type": "integer",
          "format": "int32"
        },
        "hashingAlgorithm": {
          "type": "string",
          "description": "The hashing algorithm used to generate the verification code."
        },
        "periodSec": {
          "description": "Duration in seconds at which the verification code will change.",
          "type": "integer",
          "format": "int32"
        },
        "finalizeEnrollmentTime": {
          "description": "The time by which the enrollment must finish.",
          "type": "string",
          "format": "google-datetime"
        },
        "sessionInfo": {
          "type": "string",
          "description": "An encoded string that represents the enrollment session."
        },
        "sharedSecretKey": {
          "type": "string",
          "description": "A base 32 encoded string that represents the shared TOTP secret. The base 32 encoding is the one specified by [RFC4648#section-6](https://datatracker.ietf.org/doc/html/rfc4648#section-6). (This is the same as the base 32 encoding from [RFC3548#section-5](https://datatracker.ietf.org/doc/html/rfc3548#section-5).)"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse": {
      "description": "StartMfaEnrollment response.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse",
      "properties": {
        "totpSessionInfo": {
          "description": "Enrollment response info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo"
        },
        "phoneSessionInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Trigger": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Trigger",
      "properties": {
        "functionUri": {
          "type": "string",
          "description": "HTTP URI trigger for the Cloud Function."
        },
        "updateTime": {
          "description": "When the trigger was changed.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Synchronous Cloud Function with HTTP Trigger"
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState": {
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState",
      "description": "Enforcement states for reCAPTCHA protection.",
      "type": "object",
      "properties": {
        "enforcementState": {
          "type": "string",
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "description": "The reCAPTCHA enforcement state for the provider."
        },
        "provider": {
          "type": "string",
          "enum": [
            "RECAPTCHA_PROVIDER_UNSPECIFIED",
            "EMAIL_PASSWORD_PROVIDER",
            "PHONE_PROVIDER"
          ],
          "description": "The provider that has reCAPTCHA protection.",
          "enumDescriptions": [
            "reCAPTCHA provider not specified",
            "Email password provider",
            "Phone auth provider"
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse": {
      "type": "object",
      "description": "Response for InitializeIdentityPlatform. Empty for now.",
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to get the next page of results."
        },
        "tenants": {
          "description": "A list of tenants under the given agent project.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse",
      "description": "Response message for ListTenants.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly": {
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
      "type": "object",
      "properties": {
        "allowedRegions": {
          "type": "array",
          "description": "Two letter unicode region codes to allow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Defines a policy of only allowing regions by explicitly adding them to an allowlist."
    },
    "GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "description": "History information of the hash algorithm and key. Different accounts' passwords may be generated by different version.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
      "properties": {
        "saltSeparator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Non-printable character to be inserted between the salt and plain text password in base64."
        },
        "memoryCost": {
          "type": "integer",
          "description": "Output only. Memory cost for hash calculation. Used by scrypt and other similar password derivation algorithms. See https://tools.ietf.org/html/rfc7914 for explanation of field.",
          "format": "int32",
          "readOnly": true
        },
        "signerKey": {
          "description": "Output only. Signer key in base64.",
          "type": "string",
          "readOnly": true
        },
        "rounds": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. How many rounds for hash calculation. Used by scrypt and other similar password derivation algorithms."
        },
        "algorithm": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "HASH_ALGORITHM_UNSPECIFIED",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "description": "Output only. Different password hash algorithms used in Identity Toolkit.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse",
      "properties": {
        "phoneAuthInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
          "description": "Extra phone auth info, including android verification proof."
        },
        "idToken": {
          "type": "string",
          "description": "ID token for the authenticated user."
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        }
      },
      "description": "FinalizeMfaSignIn response.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaConfig": {
      "description": "Configuration for reCAPTCHA",
      "properties": {
        "recaptchaKey": {
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\". This will only be returned when the reCAPTCHA enforcement state is AUDIT or ENFORCE on at least one of the reCAPTCHA providers.",
          "type": "string"
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider.",
          "type": "boolean"
        },
        "useSmsTollFraudProtection": {
          "type": "boolean",
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider."
        },
        "recaptchaEnforcementState": {
          "description": "The reCAPTCHA enforcement state for the providers that GCIP supports reCAPTCHA protection.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "description": "Configuration for SMTP relay",
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp",
      "properties": {
        "password": {
          "description": "SMTP relay password",
          "type": "string"
        },
        "senderEmail": {
          "type": "string",
          "description": "Sender email for the SMTP relay"
        },
        "securityMode": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ],
          "type": "string",
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ],
          "description": "SMTP security mode."
        },
        "port": {
          "description": "SMTP relay port",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "SMTP relay username"
        },
        "host": {
          "description": "SMTP relay host",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig": {
      "type": "object",
      "properties": {
        "recaptchaKeys": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
          },
          "description": "The reCAPTCHA keys."
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        },
        "managedRules": {
          "description": "The managed rules for authentication action based on reCAPTCHA scores. The rules are shared across providers for a given tenant project.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
          },
          "type": "array"
        },
        "emailPasswordEnforcementState": {
          "description": "The reCAPTCHA config for email/password provider, containing the enforcement status. The email/password provider contains all email related user flows protected by reCAPTCHA.",
          "type": "string",
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ]
        },
        "tollFraudManagedRules": {
          "description": "The managed rules for the authentication action based on reCAPTCHA toll fraud risk scores. Toll fraud managed rules will only take effect when the phone_enforcement_state is AUDIT or ENFORCE and use_sms_toll_fraud_protection is true.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule"
          }
        },
        "useAccountDefender": {
          "type": "boolean",
          "description": "Whether to use the account defender for reCAPTCHA assessment. Defaults to `false`."
        },
        "phoneEnforcementState": {
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "type": "string",
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "description": "The reCAPTCHA config for phone provider, containing the enforcement status. The phone provider contains all SMS related user flows protected by reCAPTCHA."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
      "description": "The reCAPTCHA Enterprise integration config."
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is iOS.",
            "Client type is Android."
          ],
          "description": "The client's platform type.",
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "WEB",
            "IOS",
            "ANDROID"
          ]
        },
        "key": {
          "type": "string",
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\""
        }
      },
      "description": "The reCAPTCHA key config. reCAPTCHA Enterprise offers different keys for different client platforms.",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig": {
      "description": "Options related to how clients making requests on behalf of a tenant should be configured.",
      "properties": {
        "permissions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions",
          "description": "Configuration related to restricting a user's ability to affect their account."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "description": "Options related to MultiFactor Authentication for the project.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project",
            "Multi-factor authentication can be used for this project",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "description": "Whether MultiFactor Authentication has been enabled for this project."
        },
        "enabledProviders": {
          "items": {
            "enumDescriptions": [
              "Illegal Provider, should not be used",
              "SMS is enabled as a second factor for this project."
            ],
            "type": "string",
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "PHONE_SMS"
            ]
          },
          "description": "A list of usable second factors for this project.",
          "type": "array"
        },
        "providerConfigs": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
          },
          "description": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field.",
          "type": "array"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2NotificationConfig": {
      "properties": {
        "sendEmail": {
          "description": "Options for email sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendEmail"
        },
        "sendSms": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendSms",
          "description": "Options for SMS sending."
        },
        "defaultLocale": {
          "type": "string",
          "description": "Default locale used for email and SMS in IETF BCP 47 format."
        }
      },
      "description": "Configuration related to sending notifications to users.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo": {
      "description": "Mfa request info specific to TOTP auth for StartMfa.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo"
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig",
      "description": "Configuration options for authenticating with an OAuth IDP.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The client id of an OAuth client."
        },
        "issuer": {
          "description": "For OIDC Idps, the issuer identifier.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "True if allows the user to sign in with the provider."
        },
        "displayName": {
          "description": "The config's display name set by developers.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "The client secret of the OAuth client, to enable OIDC code flow."
        },
        "name": {
          "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "responseType": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType",
          "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig": {
      "properties": {
        "requestLogging": {
          "description": "Configuration for logging requests made to this project to Stackdriver Logging",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RequestLogging"
        }
      },
      "type": "object",
      "description": "Configuration related to monitoring project activity.",
      "id": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig": {
      "properties": {
        "domain": {
          "description": "Open code in app domain to use for app links and universal links.",
          "enumDescriptions": [
            "Default value. The default domain is the Firebase Dynamic Link domain before the FDL deprecation and the hosting domain after the FDL deprecation.",
            "Use Firebase Dynamic Link domain as app link domain. Default value.",
            "Use hosting domain as app link domain."
          ],
          "type": "string",
          "enum": [
            "DOMAIN_UNSPECIFIED",
            "FIREBASE_DYNAMIC_LINK_DOMAIN",
            "HOSTING_DOMAIN"
          ]
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
      "description": "Configuration mobile links.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig": {
      "properties": {
        "allowTenants": {
          "type": "boolean",
          "description": "Whether this project can have tenants or not."
        },
        "defaultTenantLocation": {
          "type": "string",
          "description": "The default cloud parent org or folder that the tenant project should be created under. The parent resource name should be in the format of \"/\", such as \"folders/123\" or \"organizations/456\". If the value is not set, the tenant will be created under the same organization or folder as the agent project."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig",
      "type": "object",
      "description": "Configuration related to multi-tenant functionality."
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpCertificate": {
      "properties": {
        "x509Certificate": {
          "type": "string",
          "description": "The x509 certificate"
        }
      },
      "description": "The IDP's certificate data to verify the signature in the SAMLResponse issued by the IDP.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate"
    },
    "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo": {
      "description": "The information required to auto-retrieve an SMS.",
      "id": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp": {
      "properties": {
        "description": {
          "description": "Description of the Idp",
          "type": "string"
        },
        "idpId": {
          "description": "Id the of Idp",
          "type": "string"
        }
      },
      "description": "Standard Identity Toolkit-trusted IDPs.",
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig": {
      "description": "TotpMFAProviderConfig represents the TOTP based MFA provider.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig",
      "properties": {
        "adjacentIntervals": {
          "type": "integer",
          "description": "The allowed number of adjacent intervals that will be used for verification to avoid clock skew.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo": {
      "properties": {
        "verificationCode": {
          "type": "string",
          "description": "User-entered verification code."
        }
      },
      "type": "object",
      "description": "TOTP verification info for FinalizeMfaSignInRequest.",
      "id": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo"
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "GoogleIamV1AuditLogConfig"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo": {
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "An opaque string that represents the enrollment session."
        }
      },
      "description": "Phone Verification info for a StartMfa response.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
    },
    "GoogleCloudIdentitytoolkitV2CustomStrengthOptions": {
      "type": "object",
      "description": "Custom strength options to enforce on user passwords.",
      "properties": {
        "containsNumericCharacter": {
          "description": "The password must contain a number.",
          "type": "boolean"
        },
        "containsUppercaseCharacter": {
          "type": "boolean",
          "description": "The password must contain an upper case character."
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "minPasswordLength": {
          "format": "int32",
          "description": "Minimum password length. Range from 6 to 30",
          "type": "integer"
        },
        "containsLowercaseCharacter": {
          "type": "boolean",
          "description": "The password must contain a lower case character."
        },
        "maxPasswordLength": {
          "format": "int32",
          "description": "Maximum password length. No default max length",
          "type": "integer"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions"
    },
    "GoogleCloudIdentitytoolkitAdminV2RequestLogging": {
      "id": "GoogleCloudIdentitytoolkitAdminV2RequestLogging",
      "description": "Configuration for logging requests made to this project to Stackdriver Logging",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether logging is enabled for this project or not."
        }
      },
      "type": "object"
    },
    "GoogleTypeExpr": {
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo": {
      "type": "object",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "An opaque string that represents the enrollment session."
        },
        "verificationCode": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo",
      "description": "Mfa request info specific to TOTP auth for FinalizeMfa."
    },
    "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse": {
      "description": "Response for ListInboundSamlConfigs",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "inboundSamlConfigs": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
          },
          "type": "array",
          "description": "The set of configs."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "defaultSupportedIdpConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
          },
          "description": "The set of configs."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse",
      "type": "object",
      "description": "Response for DefaultSupportedIdpConfigs"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse",
      "description": "Response for ListDefaultSupportedIdps",
      "properties": {
        "defaultSupportedIdps": {
          "description": "The set of configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendEmail",
      "description": "Options for email sending.",
      "properties": {
        "changeEmailTemplate": {
          "description": "Email template for change email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "smtp": {
          "description": "Use a custom SMTP relay",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Smtp"
        },
        "resetPasswordTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Email template for reset password"
        },
        "dnsInfo": {
          "description": "Information of custom domain DNS verification.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2DnsInfo"
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "method": {
          "enumDescriptions": [
            "Email method unspecified.",
            "Sending email on behalf of developer.",
            "Sending email using SMTP configuration provided by developers."
          ],
          "description": "The method used for sending an email.",
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM_SMTP"
          ]
        },
        "callbackUri": {
          "type": "string",
          "description": "action url in email template."
        },
        "revertSecondFactorAdditionTemplate": {
          "description": "Email template for reverting second factor addition emails",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Reset password email template for legacy Firebase V1 app."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Inheritance": {
      "properties": {
        "emailSendingConfig": {
          "description": "Whether to allow the tenant to inherit custom domains, email templates, and custom SMTP settings. If true, email sent from tenant will follow the project level email sending configurations. If false (by default), emails will go with the default settings with no customizations.",
          "type": "boolean"
        }
      },
      "description": "Settings that the tenants will inherit from project level.",
      "id": "GoogleCloudIdentitytoolkitAdminV2Inheritance",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SpCertificate": {
      "type": "object",
      "properties": {
        "expiresAt": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the cert expiration instance."
        },
        "x509Certificate": {
          "description": "Self-signed public certificate.",
          "type": "string"
        }
      },
      "description": "The SP's certificate data for IDP to verify the SAMLRequest generated by the SP.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SpCertificate"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials": {
      "description": "Indicates which credentials to pass to the registered Blocking Functions.",
      "properties": {
        "accessToken": {
          "type": "boolean",
          "description": "Whether to pass the user's OAuth identity provider's access token."
        },
        "refreshToken": {
          "description": "Whether to pass the user's OAuth identity provider's refresh token.",
          "type": "boolean"
        },
        "idToken": {
          "description": "Whether to pass the user's OIDC identity provider's ID token.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest",
      "properties": {
        "mfaPendingCredential": {
          "type": "string",
          "description": "Required. Pending credential from first factor sign-in."
        },
        "phoneSignInInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
          "description": "Verification info to authorize sending an SMS for phone verification."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "Required. MFA enrollment id from the user's list of current MFA enrollments."
        }
      },
      "type": "object",
      "description": "Starts multi-factor sign-in by sending the multi-factor auth challenge."
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailTemplate": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
      "description": "Email template. The subject and body fields can contain the following placeholders which will be replaced with the appropriate values: %LINK% - The link to use to redeem the send OOB code. %EMAIL% - The email where the email is being sent. %NEW_EMAIL% - The new email being set for the account (when applicable). %APP_NAME% - The Google Cloud project's display name. %DISPLAY_NAME% - The user's display name.",
      "properties": {
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email"
        },
        "senderDisplayName": {
          "type": "string",
          "description": "Sender display name"
        },
        "customized": {
          "type": "boolean",
          "description": "Output only. Whether the body or subject of the email is customized.",
          "readOnly": true
        },
        "body": {
          "type": "string",
          "description": "Email body"
        },
        "bodyFormat": {
          "description": "Email body format",
          "type": "string",
          "enum": [
            "BODY_FORMAT_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "Plain text",
            "HTML"
          ]
        },
        "senderLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig": {
      "type": "object",
      "description": "Additional config for SignInWithApple.",
      "properties": {
        "bundleIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Bundle ID's usable by this project"
        },
        "codeFlowConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig",
          "description": "Additional config for Apple for code flow."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest": {
      "description": "Request for InitializeIdentityPlatform.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
      "description": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number.",
      "type": "object",
      "properties": {
        "allowByDefault": {
          "description": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault"
        },
        "allowlistOnly": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
          "description": "A policy of only allowing regions by explicitly adding them to an allowlist."
        }
      }
    },
    "GoogleIamV1GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "GoogleIamV1GetPolicyOptions",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion": {
      "type": "object",
      "description": "The strength attributes for the password policy on the project.",
      "properties": {
        "schemaVersion": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. schema version number for the password policy",
          "format": "int32"
        },
        "customStrengthOptions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions",
          "description": "The custom strength options enforced by the password policy."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse": {
      "type": "object",
      "properties": {
        "idToken": {
          "description": "ID token updated to reflect removal of the second factor.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token updated to reflect removal of the second factor.",
          "type": "string"
        }
      },
      "description": "Withdraws MultiFactorAuth response.",
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse"
    },
    "GoogleIamV1Policy": {
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        }
      },
      "type": "object",
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "id": "GoogleIamV1GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ProviderConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig",
      "properties": {
        "totpProviderConfig": {
          "description": "TOTP MFA provider config for this project.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig"
        },
        "state": {
          "type": "string",
          "enum": [
            "MFA_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "description": "Describes the state of the MultiFactor Authentication type.",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project.",
            "Multi-factor authentication can be used for this project.",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ]
        }
      },
      "description": "ProviderConfig describes the supported MFA providers along with their configurations.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions": {
      "type": "object",
      "description": "Custom strength options to enforce on user passwords.",
      "properties": {
        "minPasswordLength": {
          "description": "Minimum password length. Range from 6 to 30",
          "format": "int32",
          "type": "integer"
        },
        "containsNumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a number."
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "maxPasswordLength": {
          "type": "integer",
          "description": "Maximum password length. No default max length",
          "format": "int32"
        },
        "containsLowercaseCharacter": {
          "type": "boolean",
          "description": "The password must contain a lower case character."
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions"
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "description": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs.",
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "OAuth client secret."
        },
        "appleSignInConfig": {
          "description": "Additional config for Apple-based projects.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "clientId": {
          "type": "string",
          "description": "OAuth client ID."
        },
        "name": {
          "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowByDefault": {
      "type": "object",
      "properties": {
        "disallowedRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Two letter unicode region codes to disallow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
      "description": "Defines a policy of allowing every region by default and adding disallowed regions to a disallow list."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo": {
      "type": "object",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "An opaque string that represents the enrollment session."
        },
        "androidVerificationProof": {
          "description": "Android only. Uses for \"instant\" phone number verification though GmsCore.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Required if Android verification proof is presented.",
          "type": "string"
        },
        "code": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
      "description": "Phone Verification info for a FinalizeMfa request."
    },
    "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse",
      "type": "object",
      "description": "Response for ListOAuthIdpConfigs",
      "properties": {
        "oauthIdpConfigs": {
          "type": "array",
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "When this quota will take effect",
          "type": "string"
        },
        "quota": {
          "description": "Corresponds to the 'refill_token_count' field in QuotaServer config",
          "type": "string",
          "format": "int64"
        },
        "quotaDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "How long this quota will be active for"
        }
      },
      "description": "Temporary quota increase / decrease"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType": {
      "properties": {
        "token": {
          "type": "boolean",
          "description": "Do not use. The `token` response type is not supported at the moment.",
          "deprecated": true
        },
        "idToken": {
          "type": "boolean",
          "description": "If true, ID token is returned from IdP's authorization endpoint."
        },
        "code": {
          "description": "If true, authorization code is returned from IdP's authorization endpoint.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType",
      "type": "object",
      "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported. See https://openid.net/specs/openid-connect-core-1_0.html#Authentication for a mapping of response type to OAuth 2.0 flow."
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule": {
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule",
      "type": "object",
      "description": "The config for a reCAPTCHA toll fraud assessment managed rule. Models a single interval [start_score, end_score]. The end_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping.",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ],
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ],
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score]."
        },
        "startScore": {
          "description": "The start score (inclusive) for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the safest request (likely legitimate), whereas 1.0 indicates the riskiest request (likely toll fraud). See https://cloud.google.com/recaptcha-enterprise/docs/sms-fraud-detection#create-assessment-sms.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig": {
      "properties": {
        "idpConfig": {
          "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpConfig"
        },
        "name": {
          "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "spConfig": {
          "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SpConfig"
        },
        "displayName": {
          "description": "The config's display name set by developers.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig",
      "description": "A pair of SAML RP-IDP configurations when the project acts as the relying party."
    },
    "GoogleCloudIdentitytoolkitAdminV2Anonymous": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether anonymous user auth is enabled for the project or not."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Anonymous",
      "description": "Configuration options related to authenticating an anonymous user.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2DnsInfo": {
      "description": "Information of custom domain DNS verification. By default, default_domain will be used. A custom domain can be configured using VerifyCustomDomain.",
      "type": "object",
      "properties": {
        "domainVerificationRequestTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of initial request for the current domain verification.",
          "readOnly": true,
          "type": "string"
        },
        "useCustomDomain": {
          "description": "Whether to use custom domain.",
          "type": "boolean"
        },
        "customDomainState": {
          "description": "Output only. The current verification state of the custom domain. The custom domain will only be used once the domain verification is successful.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "The verification has not started.",
            "The verification is in progress.",
            "The verification failed.",
            "The verification succeeded and is ready to be applied."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "customDomain": {
          "readOnly": true,
          "description": "Output only. The applied verified custom domain.",
          "type": "string"
        },
        "pendingCustomDomain": {
          "type": "string",
          "description": "Output only. The custom domain that's to be verified.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2DnsInfo"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo": {
      "properties": {
        "iosSecret": {
          "description": "iOS only. Secret delivered to iOS app via APNS.",
          "type": "string"
        },
        "safetyNetToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token. A SafetyNet Token can be generated via the [SafetyNet Android Attestation API](https://developer.android.com/training/safetynet/attestation.html), with the Base64 encoding of the `phone_number` field as the nonce."
        },
        "clientType": {
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "phoneNumber": {
          "description": "Required for enrollment. Phone number to be enrolled as MFA.",
          "type": "string"
        },
        "iosReceipt": {
          "description": "iOS only. Receipt of successful app token validation with APNS.",
          "type": "string"
        },
        "recaptchaVersion": {
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "type": "string",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled."
        },
        "autoRetrievalInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo",
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval."
        },
        "captchaResponse": {
          "description": "The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "playIntegrityToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token (or safety net token). A Play Integrity Token can be generated via the [PlayIntegrity API] (https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce."
        },
        "recaptchaToken": {
          "description": "Web only. Recaptcha solution.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "App Verification info for a StartMfa request.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "properties": {
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserSignup": {
          "type": "boolean",
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods"
        }
      },
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions"
    },
    "GoogleCloudIdentitytoolkitAdminV2Permissions": {
      "type": "object",
      "properties": {
        "disabledUserDeletion": {
          "type": "boolean",
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods"
        },
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Permissions",
      "description": "Configuration related to restricting a user's ability to affect their account."
    },
    "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig": {
      "properties": {
        "forwardInboundCredentials": {
          "description": "The user credentials to include in the JWT payload that is sent to the registered Blocking Functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials"
        },
        "triggers": {
          "additionalProperties": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Trigger"
          },
          "description": "Map of Trigger to event type. Key should be one of the supported event types: \"beforeCreate\", \"beforeSignIn\"",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Configuration related to Blocking Functions.",
      "id": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
      "properties": {
        "enableImprovedEmailPrivacy": {
          "type": "boolean",
          "description": "Migrates the project to a state of improved email privacy. For example certain error codes are more generic to avoid giving away information on whether the account exists. In addition, this disables certain features that as a side-effect allow user enumeration. Enabling this toggle disables the fetchSignInMethodsForEmail functionality and changing the user's email to an unverified email. It is recommended to remove dependence on this functionality and enable this toggle to improve user privacy."
        }
      },
      "description": "Configuration for settings related to email privacy and public visibility. Settings in this config protect against email enumeration, but may make some trade-offs in user-friendliness.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Email": {
      "description": "Configuration options related to authenticating a user by their email address.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Email",
      "properties": {
        "passwordRequired": {
          "type": "boolean",
          "description": "Whether a password is required for email auth or not. If true, both an email and password must be provided to sign in. If false, a user may sign in via either email/password or email link."
        },
        "enabled": {
          "description": "Whether email auth is enabled for the project or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest": {
      "type": "object",
      "description": "Withdraws MFA.",
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest",
      "properties": {
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant that the user unenrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project."
        },
        "mfaEnrollmentId": {
          "description": "Required. MFA enrollment id from a current MFA enrollment.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2PhoneNumber": {
      "description": "Configuration options related to authenticated a user by their phone number.",
      "properties": {
        "testPhoneNumbers": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of that can be used for phone auth testing."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether phone number auth is enabled for the project or not."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "ID token updated to reflect MFA enrollment."
        },
        "phoneAuthInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
          "description": "Auxiliary auth info specific to phone auth."
        },
        "refreshToken": {
          "description": "Refresh token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "totpAuthInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo",
          "description": "Auxiliary auth info specific to TOTP auth."
        }
      },
      "description": "FinalizeMfaEnrollment response."
    },
    "GoogleCloudIdentitytoolkitAdminV2SendSms": {
      "description": "Options for SMS sending.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendSms",
      "type": "object",
      "properties": {
        "useDeviceLocale": {
          "description": "Whether to use the accept_language header for SMS.",
          "type": "boolean"
        },
        "smsTemplate": {
          "description": "Output only. The template to use when sending an SMS.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate",
          "readOnly": true
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig": {
      "description": "The configuration for the password policy on the project.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
      "properties": {
        "forceUpgradeOnSignin": {
          "type": "boolean",
          "description": "Users must have a password compliant with the password policy to sign-in."
        },
        "lastUpdateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time the password policy on the project was updated.",
          "format": "google-datetime"
        },
        "passwordPolicyVersions": {
          "description": "Must be of length 1. Contains the strength attributes for the password policy.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
          },
          "type": "array"
        },
        "passwordPolicyEnforcementState": {
          "description": "Which enforcement mode to use for the password policy.",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "type": "string",
          "enum": [
            "PASSWORD_POLICY_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest": {
      "description": "Sends MFA enrollment verification SMS for a user.",
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        },
        "phoneEnrollmentInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        },
        "totpEnrollmentInfo": {
          "description": "Sign-in info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo"
        },
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest"
    },
    "GoogleCloudIdentitytoolkitV2PasswordPolicy": {
      "id": "GoogleCloudIdentitytoolkitV2PasswordPolicy",
      "description": "Configuration for password policy.",
      "type": "object",
      "properties": {
        "allowedNonAlphanumericCharacters": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Allowed characters which satisfy the non_alphanumeric requirement.",
          "items": {
            "type": "string"
          }
        },
        "enforcementState": {
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "type": "string",
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "readOnly": true,
          "description": "Output only. Which enforcement mode to use for the password policy."
        },
        "customStrengthOptions": {
          "description": "The custom strength options enforced by the password policy.",
          "$ref": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions"
        },
        "schemaVersion": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. schema version number for the password policy",
          "format": "int32"
        },
        "forceUpgradeOnSignin": {
          "type": "boolean",
          "description": "Users must have a password compliant with the password policy to sign-in."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpConfig",
      "type": "object",
      "properties": {
        "signRequest": {
          "type": "boolean",
          "description": "Indicates if outbounding SAMLRequest should be signed."
        },
        "ssoUrl": {
          "description": "URL to send Authentication request to.",
          "type": "string"
        },
        "idpCertificates": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate"
          },
          "type": "array",
          "description": "IDP's public keys for verifying signature in the assertions."
        },
        "idpEntityId": {
          "type": "string",
          "description": "Unique identifier for all SAML entities."
        }
      },
      "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party."
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest": {
      "properties": {
        "mfaEnrollmentId": {
          "type": "string",
          "description": "The MFA enrollment ID from the user's list of current MFA enrollments."
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "phoneVerificationInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
          "description": "Proof of completion of the SMS based MFA challenge."
        },
        "totpVerificationInfo": {
          "description": "Proof of completion of the TOTP based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest",
      "description": "Finalizes sign-in by verifying MFA challenge."
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenRequest": {
      "description": "Request message for RevokeToken.",
      "properties": {
        "tokenType": {
          "enumDescriptions": [
            "Default value, do not use.",
            "Token type is refresh_token.",
            "Token type is access_token.",
            "Token type is authorization_code."
          ],
          "type": "string",
          "enum": [
            "TOKEN_TYPE_UNSPECIFIED",
            "REFRESH_TOKEN",
            "ACCESS_TOKEN",
            "CODE"
          ],
          "description": "Required. The type of the token to be revoked."
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "token": {
          "description": "Required. The token to be revoked. If an authorization_code is passed in, the API will first exchange the code for access token and then revoke the token exchanged.",
          "type": "string"
        },
        "providerId": {
          "description": "Required. The idp provider for the token. Currently only supports Apple Idp. The format should be \"apple.com\".",
          "type": "string"
        },
        "redirectUri": {
          "type": "string",
          "description": "The redirect URI provided in the initial authorization request made by the client to the IDP. The URI must use the HTTPS protocol, include a domain name, and can't contain an IP address or localhost. Required if token_type is CODE."
        },
        "idToken": {
          "description": "Required. A valid Identity Platform ID token to link the account. If there was a successful token revocation request on the account and no tokens are generated after the revocation, the duplicate requests will be ignored and returned immediately.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Config": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Config",
      "type": "object",
      "description": "Represents an Identity Toolkit project.",
      "properties": {
        "mobileLinksConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
          "description": "Configuration for settings related to univeral links (iOS) and app links (Android)."
        },
        "defaultHostingSite": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Default Firebase hosting site name"
        },
        "monitoring": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
          "description": "Configuration related to monitoring project activity."
        },
        "blockingFunctions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig",
          "description": "Configuration related to blocking functions."
        },
        "multiTenant": {
          "description": "Configuration related to multi-tenant functionality.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig"
        },
        "autodeleteAnonymousUsers": {
          "type": "boolean",
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days."
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientConfig"
        },
        "emailPrivacyConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
          "description": "Configuration for settings related to email privacy and public visibility."
        },
        "quota": {
          "description": "Configuration related to quotas.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig"
        },
        "name": {
          "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\"",
          "readOnly": true,
          "type": "string"
        },
        "smsRegionConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
          "description": "Configures which regions are enabled for SMS verification code sending."
        },
        "recaptchaConfig": {
          "description": "The project-level reCAPTCHA config.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
        },
        "notification": {
          "description": "Configuration related to sending notifications to users.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig"
        },
        "signIn": {
          "description": "Configuration related to local sign in methods.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SignInConfig"
        },
        "mfa": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
[...]
