{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "resources": {
    "relyingparty": {
      "methods": {
        "uploadAccount": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "httpMethod": "POST",
          "description": "Batch upload existing user accounts.",
          "path": "uploadAccount",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          }
        },
        "setProjectConfig": {
          "path": "setProjectConfig",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "httpMethod": "POST",
          "description": "Set project configuration."
        },
        "getRecaptchaParam": {
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "httpMethod": "GET",
          "description": "Get recaptcha secure param.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "getRecaptchaParam",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          }
        },
        "getOobConfirmationCode": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "httpMethod": "POST",
          "description": "Get a code for user action confirmation.",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "path": "getOobConfirmationCode",
          "request": {
            "$ref": "Relyingparty"
          }
        },
        "signupNewUser": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "httpMethod": "POST",
          "description": "Signup new user.",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "path": "signupNewUser",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          }
        },
        "createAuthUri": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "httpMethod": "POST",
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "path": "createAuthUri",
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          }
        },
        "emailLinkSignin": {
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "path": "emailLinkSignin",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "httpMethod": "POST",
          "description": "Reset password for a user."
        },
        "verifyPassword": {
          "path": "verifyPassword",
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "httpMethod": "POST",
          "description": "Verifies the user entered password."
        },
        "getAccountInfo": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "path": "getAccountInfo",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "httpMethod": "POST",
          "description": "Returns the account info.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "sendVerificationCode": {
          "id": "identitytoolkit.relyingparty.sendVerificationCode",
          "httpMethod": "POST",
          "description": "Send SMS verification code.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "path": "sendVerificationCode",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          }
        },
        "setAccountInfo": {
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "httpMethod": "POST",
          "description": "Set account info for a user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "path": "setAccountInfo"
        },
        "verifyAssertion": {
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "httpMethod": "POST",
          "description": "Verifies the assertion returned by the IdP.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "path": "verifyAssertion"
        },
        "deleteAccount": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "httpMethod": "POST",
          "description": "Delete user account.",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "path": "deleteAccount",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          }
        },
        "signOutUser": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "path": "signOutUser",
          "id": "identitytoolkit.relyingparty.signOutUser",
          "httpMethod": "POST",
          "description": "Sign out user.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "resetPassword": {
          "path": "resetPassword",
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.resetPassword",
          "httpMethod": "POST",
          "description": "Reset password for a user."
        },
        "verifyPhoneNumber": {
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "path": "verifyPhoneNumber",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "httpMethod": "POST",
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly."
        },
        "verifyCustomToken": {
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "httpMethod": "POST",
          "description": "Verifies the developer asserted ID token.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "path": "verifyCustomToken",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          }
        },
        "downloadAccount": {
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "httpMethod": "POST",
          "description": "Batch download user accounts.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "path": "downloadAccount",
          "response": {
            "$ref": "DownloadAccountResponse"
          }
        },
        "getPublicKeys": {
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "httpMethod": "GET",
          "description": "Get token signing public key.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "publicKeys",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          }
        },
        "getProjectConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "httpMethod": "GET",
          "description": "Get project configuration.",
          "path": "getProjectConfig",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "parameters": {
            "delegatedProjectNumber": {
              "location": "query",
              "type": "string",
              "description": "Delegated GCP project number of the request."
            },
            "projectNumber": {
              "location": "query",
              "type": "string",
              "description": "GCP project number of the request."
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "id": "identitytoolkit:v3",
  "description": "Help the third party sites to implement federated login.",
  "batchPath": "batch/identitytoolkit/v3",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "canonicalName": "Identity Toolkit",
  "schemas": {
    "DeleteAccountResponse": {
      "id": "DeleteAccountResponse",
      "type": "object",
      "description": "Respone of deleting account.",
      "properties": {
        "kind": {
          "default": "identitytoolkit#DeleteAccountResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\"."
        }
      }
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "type": "object",
      "description": "Request to get the IDP authentication URL.",
      "properties": {
        "authFlowType": {
          "type": "string",
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider."
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "hostedDomain": {
          "type": "string",
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts."
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "customParameter": {
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          },
          "type": "object",
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token."
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "properties": {
        "lastLoginAt": {
          "type": "string",
          "description": "Last login timestamp.",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "disableUser": {
          "type": "boolean",
          "description": "Whether to disable the user."
        },
        "deleteProvider": {
          "type": "array",
          "description": "The IDPs the user request to delete.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "deleteAttribute": {
          "type": "array",
          "description": "The attributes users request to delete.",
          "items": {
            "type": "string"
          }
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "provider": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The associated IDPs of the user."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "createdAt": {
          "type": "string",
          "description": "The timestamp when the account is created.",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "type": "object",
      "description": "Request to set the account information."
    },
    "SignupNewUserResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        }
      },
      "id": "SignupNewUserResponse",
      "type": "object",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth."
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "type": "object",
      "description": "Response of signing out user."
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "type": "object",
      "description": "Request to delete account.",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token or STS id token of the authenticated user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "type": "object",
      "description": "Response of setting the project configuration.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      }
    },
    "VerifyPasswordResponse": {
      "id": "VerifyPasswordResponse",
      "type": "object",
      "description": "Request of verifying the password.",
      "properties": {
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "kind": {
          "default": "identitytoolkit#VerifyPasswordResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\"."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        }
      }
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "type": "object",
      "description": "Request to sign in with email.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "type": "object",
      "description": "Request to get the account information.",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "localId": {
          "type": "array",
          "description": "The list of local ID's of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "email": {
          "type": "array",
          "description": "The list of emails of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "phoneNumber": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Privileged caller can query users by specified phone number."
        }
      }
    },
    "DownloadAccountResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "default": "identitytoolkit#DownloadAccountResponse"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. To be used in a subsequent request to return the next page of results."
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The user accounts data."
        }
      },
      "id": "DownloadAccountResponse",
      "type": "object",
      "description": "Response of downloading accounts in batch."
    },
    "GetAccountInfoResponse": {
      "properties": {
        "users": {
          "type": "array",
          "description": "The info of the users.",
          "items": {
            "$ref": "UserInfo"
          }
        },
        "kind": {
          "default": "identitytoolkit#GetAccountInfoResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\"."
        }
      },
      "id": "GetAccountInfoResponse",
      "type": "object",
      "description": "Response of getting account information."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-SendVerificationCode",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        },
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        }
      }
    },
    "VerifyAssertionResponse": {
      "id": "VerifyAssertionResponse",
      "type": "object",
      "description": "Response of verifying the IDP assertion.",
      "properties": {
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "kind": {
          "default": "identitytoolkit#VerifyAssertionResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\"."
        },
        "verifiedProvider": {
          "type": "array",
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "items": {
            "type": "string"
          }
        },
        "language": {
          "type": "string",
          "description": "The language preference of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user."
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "originalEmail": {
          "type": "string",
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "It's true if the email is recycled."
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "providerId": {
          "type": "string",
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "appScheme": {
          "type": "string",
          "description": "The custom scheme used by mobile app."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth1 access token secret."
        },
        "screenName": {
          "type": "string",
          "description": "The screen_name of a Twitter user or the login name at Github."
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The birth date of the IdP account."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "appInstallationUrl": {
          "type": "string",
          "description": "URL for OTA app installation."
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "nickName": {
          "type": "string",
          "description": "The nick name of the user."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "Raw IDP-returned user info."
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object",
      "description": "Response of getting the project configuration.",
      "properties": {
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          }
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "idpConfig": {
          "type": "array",
          "description": "OAuth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether anonymous user is enabled."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "dynamicLinksDomain": {
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "properties": {
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "type": "object",
      "description": "Request to verify the IDP assertion."
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "localId": {
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "temporaryProof": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "properties": {
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "idpConfig": {
          "type": "array",
          "description": "Oauth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "enableAnonymousUser": {
          "type": "boolean",
          "description": "Whether to enable anonymous user."
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        }
      },
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "type": "object",
      "description": "Request to set the project configuration."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      }
    },
    "EmailLinkSigninResponse": {
      "id": "EmailLinkSigninResponse",
      "type": "object",
      "description": "Response of email signIn.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "default": "identitytoolkit#EmailLinkSigninResponse"
        },
        "refreshToken": {
          "type": "string",
          "description": "The refresh token for the signed in user."
        },
        "expiresIn": {
          "type": "string",
          "description": "Expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the user is new."
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        }
      }
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "type": "object",
      "description": "Template for a single idp configuration.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "experimentPercent": {
          "type": "integer",
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "format": "int32"
        },
        "whitelistedAudiences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Whitelisted client IDs for audience check."
        }
      }
    },
    "VerifyCustomTokenResponse": {
      "id": "VerifyCustomTokenResponse",
      "type": "object",
      "description": "Response from verifying a custom token",
      "properties": {
        "kind": {
          "default": "identitytoolkit#VerifyCustomTokenResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\"."
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token for authenticated user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        }
      }
    },
    "GetOobConfirmationCodeResponse": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address that the email is sent to."
        },
        "kind": {
          "default": "identitytoolkit#GetOobConfirmationCodeResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\"."
        },
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        }
      },
      "id": "GetOobConfirmationCodeResponse",
      "type": "object",
      "description": "Response of getting a code for user confirmation (reset password, change email etc.)."
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "type": "object",
      "description": "Request to verify a custom token",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        }
      }
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "properties": {
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "newPassword": {
          "type": "string",
          "description": "The new password inputted by the user."
        },
        "oobCode": {
          "type": "string",
          "description": "The confirmation code."
        }
      },
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "type": "object",
      "description": "Request to reset the password."
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "type": "object",
      "description": "Request to upload user account in batch.",
      "properties": {
        "cpuMemCost": {
          "type": "integer",
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "format": "int32"
        },
        "signerKey": {
          "type": "string",
          "description": "The key for to hash the password.",
          "format": "byte"
        },
        "memoryCost": {
          "type": "integer",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "format": "int32"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "saltSeparator": {
          "type": "string",
          "description": "The salt separator.",
          "format": "byte"
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The account info to be stored."
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "rounds": {
          "type": "integer",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "format": "int32"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account."
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "properties": {
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not. Only can be used by service account."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "localId": {
          "type": "string",
          "description": "Privileged caller can create user with specified user id."
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "type": "object",
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "idToken": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        }
      }
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "properties": {
        "maxResults": {
          "type": "integer",
          "description": "The max number of results to return in the response.",
          "format": "uint32"
        },
        "targetProjectId": {
          "type": "string",
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        }
      },
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "type": "object",
      "description": "Request to download user account in batch."
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "type": "object",
      "description": "Request to sign out user."
    },
    "GetRecaptchaParamResponse": {
      "id": "GetRecaptchaParamResponse",
      "type": "object",
      "description": "Response of getting recaptcha param.",
      "properties": {
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        },
        "recaptchaStoken": {
          "type": "string",
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge."
        },
        "kind": {
          "default": "identitytoolkit#GetRecaptchaParamResponse",
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\"."
        }
      }
    },
    "CreateAuthUriResponse": {
      "properties": {
        "sessionId": {
          "type": "string",
          "description": "Session ID which should be passed in the following verifyAssertion request."
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "allProviders": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "all providers the user has once used to do federated login"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the auth URI."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "default": "identitytoolkit#CreateAuthUriResponse"
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "True if captcha is required."
        },
        "signinMethods": {
          "type": "array",
          "description": "All sign-in methods this user has used.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CreateAuthUriResponse",
      "type": "object",
      "description": "Response of creating the IDP authentication URL."
    },
    "UserInfo": {
      "id": "UserInfo",
      "type": "object",
      "description": "Template for an individual account info.",
      "properties": {
        "providerUserInfo": {
          "items": {
            "type": "object",
            "properties": {
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              },
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              }
            }
          },
          "type": "array",
          "description": "The IDP of the user."
        },
        "salt": {
          "type": "string",
          "description": "The user's password salt.",
          "format": "byte"
        },
        "lastLoginAt": {
          "type": "string",
          "description": "last login timestamp.",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the user is disabled."
        },
        "passwordHash": {
          "type": "string",
          "description": "The user's hashed password.",
          "format": "byte"
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the email has been verified."
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "version": {
          "type": "integer",
          "description": "Version of the user's password.",
          "format": "int32"
        },
        "createdAt": {
          "type": "string",
          "description": "User creation timestamp.",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp when the password was last updated.",
          "format": "double"
        },
        "validSince": {
          "type": "string",
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64"
        }
      }
    },
    "ResetPasswordResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\".",
          "default": "identitytoolkit#ResetPasswordResponse"
        },
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        }
      },
      "id": "ResetPasswordResponse",
      "type": "object",
      "description": "Response of resetting the password."
    },
    "EmailTemplate": {
      "id": "EmailTemplate",
      "type": "object",
      "description": "Template for an email template.",
      "properties": {
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "body": {
          "type": "string",
          "description": "Email body."
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name."
        },
        "format": {
          "type": "string",
          "description": "Email body format."
        }
      }
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "type": "object",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "properties": {
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "iOSBundleId": {
          "type": "string",
          "description": "the iOS bundle id of iOS app to handle the action code"
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#relyingparty\".",
          "default": "identitytoolkit#relyingparty"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email if the code is for email change."
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        }
      }
    },
    "SetAccountInfoResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "default": "identitytoolkit#SetAccountInfoResponse"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "passwordHash": {
          "type": "string",
          "description": "The user's hashed password.",
          "format": "byte"
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "providerUserInfo": {
          "type": "array",
          "description": "The user's profiles at the associated IdPs.",
          "items": {
            "type": "object",
            "properties": {
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              }
            }
          }
        },
        "newEmail": {
          "type": "string",
          "description": "The new email the user attempts to change to."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        }
      },
      "id": "SetAccountInfoResponse",
      "type": "object",
      "description": "Respone of setting the account information."
    },
    "UploadAccountResponse": {
      "id": "UploadAccountResponse",
      "type": "object",
      "description": "Respone of uploading accounts in batch.",
      "properties": {
        "error": {
          "items": {
            "type": "object",
            "properties": {
              "index": {
                "type": "integer",
                "description": "The index of the malformed account, starting from 0.",
                "format": "int32"
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              }
            }
          },
          "type": "array",
          "description": "The error encountered while processing the account info."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\".",
          "default": "identitytoolkit#UploadAccountResponse"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "type": "object",
      "description": "Request to verify the password.",
      "properties": {
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user."
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "additionalProperties": {
        "type": "string"
      },
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "type": "object",
      "description": "Respone of getting public keys."
    }
  },
  "title": "Google Identity Toolkit API",
  "ownerName": "Google",
  "protocol": "rest",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "enum": [
        "json"
      ],
      "location": "query"
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "name": "identitytoolkit",
  "revision": "20180723",
  "version": "v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  }
}