{
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "description": "Help the third party sites to implement federated login.",
  "batchPath": "batch/identitytoolkit/v3",
  "version": "v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "Identity Toolkit",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "ownerName": "Google",
  "revision": "20180723",
  "discoveryVersion": "v1",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "title": "Google Identity Toolkit API",
  "name": "identitytoolkit",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "description": "Request to sign out user.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "type": "object",
      "description": "Response of signing out user.",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "description": "Request to delete account.",
      "properties": {
        "idToken": {
          "description": "The GITKit token or STS id token of the authenticated user.",
          "type": "string"
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        }
      },
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "type": "object"
    },
    "VerifyAssertionResponse": {
      "id": "VerifyAssertionResponse",
      "type": "object",
      "properties": {
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "oauthIdToken": {
          "description": "The OIDC id token.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email."
        },
        "oauthScope": {
          "description": "The scope for the OpenID OAuth extension.",
          "type": "string"
        },
        "fullName": {
          "description": "The full name of the user.",
          "type": "string"
        },
        "verifiedProvider": {
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "screenName": {
          "description": "The screen_name of a Twitter user or the login name at Github.",
          "type": "string"
        },
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "appScheme": {
          "description": "The custom scheme used by mobile app.",
          "type": "string"
        },
        "dateOfBirth": {
          "description": "The birth date of the IdP account.",
          "type": "string"
        },
        "needEmail": {
          "description": "Whether need client to supply email to complete the federated login flow.",
          "type": "boolean"
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "errorMessage": {
          "type": "string",
          "description": "Client error code."
        },
        "language": {
          "description": "The language preference of the user.",
          "type": "string"
        },
        "rawUserInfo": {
          "description": "Raw IDP-returned user info.",
          "type": "string"
        },
        "oauthTokenSecret": {
          "description": "The OAuth1 access token secret.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "default": "identitytoolkit#VerifyAssertionResponse",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the user.",
          "type": "string"
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "appInstallationUrl": {
          "type": "string",
          "description": "URL for OTA app installation."
        },
        "idToken": {
          "description": "The ID token.",
          "type": "string"
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "oauthRequestToken": {
          "description": "The user approved request token for the OpenID OAuth extension.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string"
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "nickName": {
          "description": "The nick name of the user.",
          "type": "string"
        },
        "originalEmail": {
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email.",
          "type": "string"
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "inputEmail": {
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email.",
          "type": "string"
        },
        "emailRecycled": {
          "description": "It's true if the email is recycled.",
          "type": "boolean"
        },
        "needConfirmation": {
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation.",
          "type": "boolean"
        }
      },
      "description": "Response of verifying the IDP assertion."
    },
    "GetOobConfirmationCodeResponse": {
      "description": "Response of getting a code for user confirmation (reset password, change email etc.).",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse"
        },
        "email": {
          "description": "The email address that the email is sent to.",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The code to be send to the user."
        }
      },
      "id": "GetOobConfirmationCodeResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "type": "object",
      "description": "Request to verify the IDP assertion.",
      "properties": {
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "requestUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "postBody": {
          "type": "string",
          "description": "The post body if the request is a HTTP POST."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "pendingIdToken": {
          "type": "string",
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "properties": {
        "pendingIdToken": {
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user.",
          "type": "string"
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "tenantProjectNumber": {
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery.",
          "type": "string"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "password": {
          "description": "The password inputed by the user.",
          "type": "string"
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        }
      },
      "description": "Request to verify the password.",
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "type": "object"
    },
    "GetRecaptchaParamResponse": {
      "id": "GetRecaptchaParamResponse",
      "type": "object",
      "description": "Response of getting recaptcha param.",
      "properties": {
        "recaptchaStoken": {
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge.",
          "type": "string"
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "default": "identitytoolkit#GetRecaptchaParamResponse"
        }
      }
    },
    "IdpConfig": {
      "id": "IdpConfig",
      "type": "object",
      "description": "Template for a single idp configuration.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "experimentPercent": {
          "format": "int32",
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "type": "integer"
        },
        "whitelistedAudiences": {
          "description": "Whitelisted client IDs for audience check.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "provider": {
          "description": "OAuth2 provider.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether this IDP is enabled.",
          "type": "boolean"
        },
        "secret": {
          "description": "OAuth2 client secret.",
          "type": "string"
        }
      }
    },
    "VerifyPasswordResponse": {
      "description": "Request of verifying the password.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "oauthExpireIn": {
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32",
          "type": "integer"
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\".",
          "default": "identitytoolkit#VerifyPasswordResponse"
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the user's photo at IdP"
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth2 authorization code.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        }
      },
      "id": "VerifyPasswordResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "description": "Request for Identitytoolkit-SendVerificationCode",
      "properties": {
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha solution."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app via APNS."
        },
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "type": "object"
    },
    "UserInfo": {
      "properties": {
        "passwordHash": {
          "description": "The user's hashed password.",
          "format": "byte",
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the email has been verified.",
          "type": "boolean"
        },
        "phoneNumber": {
          "description": "User's phone number.",
          "type": "string"
        },
        "salt": {
          "description": "The user's password salt.",
          "format": "byte",
          "type": "string"
        },
        "customAttributes": {
          "description": "The custom attributes to be set in the user's id token.",
          "type": "string"
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "description": "User creation timestamp."
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "version": {
          "description": "Version of the user's password.",
          "format": "int32",
          "type": "integer"
        },
        "validSince": {
          "format": "int64",
          "description": "Timestamp in seconds for valid login token.",
          "type": "string"
        },
        "providerUserInfo": {
          "description": "The IDP of the user.",
          "items": {
            "type": "object",
            "properties": {
              "screenName": {
                "description": "User's screen name at Twitter or login name at Github.",
                "type": "string"
              },
              "email": {
                "type": "string",
                "description": "User's email at IDP."
              },
              "federatedId": {
                "type": "string",
                "description": "User's identifier at IDP."
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              },
              "providerId": {
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "phoneNumber": {
                "type": "string",
                "description": "User's phone number."
              },
              "rawId": {
                "description": "User's raw identifier directly returned from IDP.",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "passwordUpdatedAt": {
          "description": "The timestamp when the password was last updated.",
          "format": "double",
          "type": "number"
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "disabled": {
          "description": "Whether the user is disabled.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The URL of the user profile photo.",
          "type": "string"
        },
        "lastLoginAt": {
          "type": "string",
          "format": "int64",
          "description": "last login timestamp."
        }
      },
      "description": "Template for an individual account info.",
      "id": "UserInfo",
      "type": "object"
    },
    "EmailLinkSigninResponse": {
      "id": "EmailLinkSigninResponse",
      "type": "object",
      "description": "Response of email signIn.",
      "properties": {
        "refreshToken": {
          "description": "The refresh token for the signed in user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        },
        "isNewUser": {
          "description": "Whether the user is new.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "default": "identitytoolkit#EmailLinkSigninResponse"
        },
        "email": {
          "type": "string",
          "description": "The user's email."
        },
        "expiresIn": {
          "description": "Expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        }
      }
    },
    "EmailTemplate": {
      "id": "EmailTemplate",
      "type": "object",
      "properties": {
        "replyTo": {
          "type": "string",
          "description": "Reply-to address."
        },
        "format": {
          "description": "Email body format.",
          "type": "string"
        },
        "fromDisplayName": {
          "description": "From display name.",
          "type": "string"
        },
        "body": {
          "description": "Email body.",
          "type": "string"
        },
        "from": {
          "description": "From address of the email.",
          "type": "string"
        },
        "subject": {
          "description": "Subject of the email.",
          "type": "string"
        }
      },
      "description": "Template for an email template."
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "localId": {
          "description": "Privileged caller can create user with specified user id.",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether to disable the user. Only can be used by service account.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        },
        "emailVerified": {
          "description": "Mark the email as verified or not. Only can be used by service account.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "phoneNumber": {
          "description": "Privileged caller can create user with specified phone number.",
          "type": "string"
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        }
      }
    },
    "SignupNewUserResponse": {
      "id": "SignupNewUserResponse",
      "type": "object",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "properties": {
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "expiresIn": {
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "default": "identitytoolkit#SignupNewUserResponse",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        }
      }
    },
    "VerifyCustomTokenResponse": {
      "id": "VerifyCustomTokenResponse",
      "type": "object",
      "properties": {
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "True if it's a new user sign-in, false if it's a returning user."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\".",
          "default": "identitytoolkit#VerifyCustomTokenResponse",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        }
      },
      "description": "Response from verifying a custom token"
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "type": "object",
      "properties": {
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "authorizedDomains": {
          "description": "Authorized domains.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "projectId": {
          "description": "Project ID of the relying party.",
          "type": "string"
        },
        "useEmailSending": {
          "description": "Whether to use email sending provided by Firebear.",
          "type": "boolean"
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled.",
          "type": "boolean"
        },
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "idpConfig": {
          "description": "OAuth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          },
          "type": "array"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        }
      },
      "description": "Response of getting the project configuration."
    },
    "CreateAuthUriResponse": {
      "description": "Response of creating the IDP authentication URL.",
      "properties": {
        "signinMethods": {
          "description": "All sign-in methods this user has used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "captchaRequired": {
          "type": "boolean",
          "description": "True if captcha is required."
        },
        "allProviders": {
          "type": "array",
          "description": "all providers the user has once used to do federated login",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "default": "identitytoolkit#CreateAuthUriResponse",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID which should be passed in the following verifyAssertion request."
        },
        "forExistingProvider": {
          "description": "True if the authUri is for user's existing provider.",
          "type": "boolean"
        },
        "authUri": {
          "description": "The URI used by the IDP to authenticate the user.",
          "type": "string"
        },
        "registered": {
          "description": "Whether the user is registered if the identifier is an email.",
          "type": "boolean"
        },
        "providerId": {
          "description": "The provider ID of the auth URI.",
          "type": "string"
        }
      },
      "id": "CreateAuthUriResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "description": "Request to sign in with email.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        }
      },
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "type": "object"
    },
    "DeleteAccountResponse": {
      "id": "DeleteAccountResponse",
      "type": "object",
      "description": "Respone of deleting account.",
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "default": "identitytoolkit#DeleteAccountResponse",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "type": "object",
      "description": "Request to set the account information.",
      "properties": {
        "deleteAttribute": {
          "description": "The attributes users request to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "captchaResponse": {
          "type": "string",
          "description": "Response to the captcha."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "lastLoginAt": {
          "type": "string",
          "format": "int64",
          "description": "Last login timestamp."
        },
        "provider": {
          "description": "The associated IDPs of the user.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "disableUser": {
          "description": "Whether to disable the user.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "oobCode": {
          "description": "The out-of-band code of the change email request.",
          "type": "string"
        },
        "customAttributes": {
          "description": "The custom attributes to be set in the user's id token.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "deleteProvider": {
          "description": "The IDPs the user request to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "emailVerified": {
          "description": "Mark the email as verified or not.",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "phoneNumber": {
          "description": "Privileged caller can update user with specified phone number.",
          "type": "string"
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "validSince": {
          "format": "int64",
          "description": "Timestamp in seconds for valid login token.",
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "createdAt": {
          "description": "The timestamp when the account is created.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SetAccountInfoResponse": {
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "default": "identitytoolkit#SetAccountInfoResponse",
          "type": "string"
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "newEmail": {
          "description": "The new email the user attempts to change to.",
          "type": "string"
        },
        "providerUserInfo": {
          "description": "The user's profiles at the associated IdPs.",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              },
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              },
              "providerId": {
                "type": "string",
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier."
              }
            }
          },
          "type": "array"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        },
        "passwordHash": {
          "format": "byte",
          "description": "The user's hashed password.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        }
      },
      "description": "Respone of setting the account information.",
      "id": "SetAccountInfoResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "verificationProof": {
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "localId": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "phoneNumber": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "type": "object"
    },
    "DownloadAccountResponse": {
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "default": "identitytoolkit#DownloadAccountResponse",
          "type": "string"
        },
        "users": {
          "description": "The user accounts data.",
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token. To be used in a subsequent request to return the next page of results.",
          "type": "string"
        }
      },
      "description": "Response of downloading accounts in batch.",
      "id": "DownloadAccountResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "description": "Request to upload user account in batch.",
      "properties": {
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "memoryCost": {
          "format": "int32",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "type": "integer"
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "rounds": {
          "format": "int32",
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "type": "integer"
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "The password hash algorithm."
        },
        "signerKey": {
          "type": "string",
          "format": "byte",
          "description": "The key for to hash the password."
        },
        "cpuMemCost": {
          "type": "integer",
          "format": "int32",
          "description": "The following 4 fields are for standard scrypt algorithm."
        },
        "users": {
          "description": "The account info to be stored.",
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "sanityCheck": {
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account.",
          "type": "boolean"
        },
        "saltSeparator": {
          "type": "string",
          "format": "byte",
          "description": "The salt separator."
        }
      },
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "type": "object",
      "description": "Request to get the IDP authentication URL.",
      "properties": {
        "appId": {
          "type": "string",
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS."
        },
        "hostedDomain": {
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts.",
          "type": "string"
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
          "type": "string"
        },
        "authFlowType": {
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider.",
          "type": "string"
        },
        "continueUri": {
          "description": "The URI to which the IDP redirects the user after the federated login flow.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The relying party OAuth client ID."
        },
        "openidRealm": {
          "type": "string",
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set."
        },
        "otaApp": {
          "type": "string",
          "description": "The native app package for OTA installation."
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "identifier": {
          "description": "The email or federated ID of the user.",
          "type": "string"
        },
        "oauthConsumerKey": {
          "description": "The developer's consumer key for OpenId OAuth Extension",
          "type": "string"
        },
        "customParameter": {
          "type": "object",
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.",
          "additionalProperties": {
            "type": "string",
            "description": "The customized query parameter."
          }
        },
        "sessionId": {
          "description": "The session_id passed by client.",
          "type": "string"
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "tenantProjectNumber": {
          "type": "string",
          "format": "uint64",
          "description": "Tenant project number to be used for idp discovery."
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        }
      }
    },
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "description": "Respone of getting public keys.",
      "additionalProperties": {
        "type": "string"
      },
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "type": "object"
    },
    "UploadAccountResponse": {
      "id": "UploadAccountResponse",
      "type": "object",
      "properties": {
        "error": {
          "type": "array",
          "description": "The error encountered while processing the account info.",
          "items": {
            "type": "object",
            "properties": {
              "index": {
                "description": "The index of the malformed account, starting from 0.",
                "format": "int32",
                "type": "integer"
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              }
            }
          }
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\".",
          "default": "identitytoolkit#UploadAccountResponse",
          "type": "string"
        }
      },
      "description": "Respone of uploading accounts in batch."
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "type": "object",
      "properties": {
        "changeEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Change email template."
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        },
        "idpConfig": {
          "type": "array",
          "description": "Oauth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          }
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user.",
          "type": "boolean"
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "allowPasswordUser": {
          "description": "Whether to allow password user sign in or sign up.",
          "type": "boolean"
        },
        "verifyEmailTemplate": {
          "$ref": "EmailTemplate",
          "description": "Verify email template."
        },
        "authorizedDomains": {
          "type": "array",
          "description": "Authorized domains for widget redirect.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request to set the project configuration."
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "type": "object",
      "description": "Request to get the account information.",
      "properties": {
        "email": {
          "description": "The list of emails of the users to inquiry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "localId": {
          "type": "array",
          "description": "The list of local ID's of the users to inquiry.",
          "items": {
            "type": "string"
          }
        },
        "phoneNumber": {
          "description": "Privileged caller can query users by specified phone number.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "type": "object",
      "properties": {
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        }
      },
      "description": "Request to verify a custom token"
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "type": "object",
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "properties": {
        "code": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "sessionInfo": {
          "type": "string",
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode."
        },
        "phoneNumber": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "type": "object"
    },
    "GetAccountInfoResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\".",
          "default": "identitytoolkit#GetAccountInfoResponse"
        },
        "users": {
          "type": "array",
          "description": "The info of the users.",
          "items": {
            "$ref": "UserInfo"
          }
        }
      },
      "description": "Response of getting account information.",
      "id": "GetAccountInfoResponse",
      "type": "object"
    },
    "Relyingparty": {
      "id": "Relyingparty",
      "type": "object",
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)",
      "properties": {
        "captchaResp": {
          "type": "string",
          "description": "The recaptcha response from the user."
        },
        "androidMinimumVersion": {
          "type": "string",
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app"
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#relyingparty\".",
          "default": "identitytoolkit#relyingparty",
          "type": "string"
        },
        "androidInstallApp": {
          "type": "boolean",
          "description": "whether or not to install the android app on the device where the link is opened"
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        },
        "canHandleCodeInApp": {
          "type": "boolean",
          "description": "whether or not the app can handle the oob code without first going to web"
        },
        "iOSBundleId": {
          "description": "the iOS bundle id of iOS app to handle the action code",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "idToken": {
          "description": "The user's Gitkit login token for email change.",
          "type": "string"
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "newEmail": {
          "description": "The new email if the code is for email change.",
          "type": "string"
        },
        "userIp": {
          "description": "The IP address of the user.",
          "type": "string"
        },
        "challenge": {
          "type": "string",
          "description": "The recaptcha challenge presented to the user."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "type": "object",
      "description": "Response of setting the project configuration.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      }
    },
    "ResetPasswordResponse": {
      "properties": {
        "kind": {
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\".",
          "default": "identitytoolkit#ResetPasswordResponse",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "If the out-of-band code is for email recovery, the user's new email."
        },
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "requestType": {
          "type": "string",
          "description": "The request type."
        }
      },
      "description": "Response of resetting the password.",
      "id": "ResetPasswordResponse",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "description": "Request to reset the password.",
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "newPassword": {
          "description": "The new password inputted by the user.",
          "type": "string"
        },
        "oldPassword": {
          "type": "string",
          "description": "The old password inputted by the user."
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "description": "Request to download user account in batch.",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "nextPageToken": {
          "description": "The token for the next page. This should be taken from the previous response.",
          "type": "string"
        },
        "maxResults": {
          "description": "The max number of results to return in the response.",
          "format": "uint32",
          "type": "integer"
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        }
      },
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "type": "object"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "identitytoolkit:v3",
  "ownerDomain": "google.com",
  "resources": {
    "relyingparty": {
      "methods": {
        "setAccountInfo": {
          "id": "identitytoolkit.relyingparty.setAccountInfo",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Set account info for a user.",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "path": "setAccountInfo",
          "httpMethod": "POST"
        },
        "downloadAccount": {
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "Batch download user accounts.",
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "path": "downloadAccount",
          "httpMethod": "POST"
        },
        "sendVerificationCode": {
          "path": "sendVerificationCode",
          "httpMethod": "POST",
          "description": "Send SMS verification code.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.sendVerificationCode"
        },
        "getOobConfirmationCode": {
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "request": {
            "$ref": "Relyingparty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "getOobConfirmationCode",
          "httpMethod": "POST",
          "description": "Get a code for user action confirmation.",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          }
        },
        "getPublicKeys": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "path": "publicKeys",
          "httpMethod": "GET",
          "description": "Get token signing public key.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          }
        },
        "signOutUser": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.signOutUser",
          "description": "Sign out user.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "path": "signOutUser",
          "httpMethod": "POST"
        },
        "verifyPhoneNumber": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "path": "verifyPhoneNumber",
          "httpMethod": "POST",
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          }
        },
        "getProjectConfig": {
          "path": "getProjectConfig",
          "httpMethod": "GET",
          "description": "Get project configuration.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          },
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectNumber": {
              "type": "string",
              "description": "GCP project number of the request.",
              "location": "query"
            },
            "delegatedProjectNumber": {
              "type": "string",
              "description": "Delegated GCP project number of the request.",
              "location": "query"
            }
          }
        },
        "getAccountInfo": {
          "id": "identitytoolkit.relyingparty.getAccountInfo",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Returns the account info.",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "path": "getAccountInfo",
          "httpMethod": "POST"
        },
        "verifyAssertion": {
          "description": "Verifies the assertion returned by the IdP.",
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "path": "verifyAssertion",
          "httpMethod": "POST",
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getRecaptchaParam": {
          "path": "getRecaptchaParam",
          "httpMethod": "GET",
          "description": "Get recaptcha secure param.",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "id": "identitytoolkit.relyingparty.getRecaptchaParam",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "createAuthUri": {
          "path": "createAuthUri",
          "httpMethod": "POST",
          "description": "Creates the URI used by the IdP to authenticate the user.",
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "resetPassword": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.resetPassword",
          "path": "resetPassword",
          "httpMethod": "POST",
          "description": "Reset password for a user.",
          "response": {
            "$ref": "ResetPasswordResponse"
          }
        },
        "uploadAccount": {
          "path": "uploadAccount",
          "httpMethod": "POST",
          "description": "Batch upload existing user accounts.",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "identitytoolkit.relyingparty.uploadAccount"
        },
        "signupNewUser": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "description": "Signup new user.",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "path": "signupNewUser",
          "httpMethod": "POST"
        },
        "verifyPassword": {
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Verifies the user entered password.",
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "path": "verifyPassword",
          "httpMethod": "POST"
        },
        "setProjectConfig": {
          "path": "setProjectConfig",
          "httpMethod": "POST",
          "description": "Set project configuration.",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.setProjectConfig"
        },
        "verifyCustomToken": {
          "path": "verifyCustomToken",
          "httpMethod": "POST",
          "description": "Verifies the developer asserted ID token.",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "deleteAccount": {
          "description": "Delete user account.",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "path": "deleteAccount",
          "httpMethod": "POST",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.deleteAccount"
        },
        "emailLinkSignin": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "path": "emailLinkSignin",
          "httpMethod": "POST",
          "description": "Reset password for a user.",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          }
        }
      }
    }
  }
}