{
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v1",
  "kind": "discovery#restDescription",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "discoveryVersion": "v1",
  "title": "Identity Toolkit API",
  "name": "identitytoolkit",
  "basePath": "",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "batchPath": "batch",
  "ownerName": "Google",
  "resources": {
    "accounts": {
      "methods": {
        "signInWithIdp": {
          "parameterOrder": [],
          "description": "Signs in or signs up a user using credentials from an Identity Provider (IdP). This is done by manually providing an IdP credential, or by providing the authorization response obtained via the authorization request from CreateAuthUri. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. A new Identity Platform user account will be created if the user has not previously signed in to the IdP with the same account. In addition, when the \"One account per email address\" setting is enabled, there should not be an existing Identity Platform user account with the same email address for a new user account to be created. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "path": "v1/accounts:signInWithIdp",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse"
          },
          "id": "identitytoolkit.accounts.signInWithIdp",
          "flatPath": "v1/accounts:signInWithIdp",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest"
          }
        },
        "signInWithCustomToken": {
          "description": "Signs in or signs up a user by exchanging a custom Auth token. Upon a successful sign-in or sign-up, a new Identity Platform ID token and refresh token are issued for the user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "path": "v1/accounts:signInWithCustomToken",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse"
          },
          "id": "identitytoolkit.accounts.signInWithCustomToken",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/accounts:signInWithCustomToken"
        },
        "verifyIosClient": {
          "parameterOrder": [],
          "description": "Verifies an iOS client is a real iOS device. If the request is valid, a receipt will be sent in the response and a secret will be sent via Apple Push Notification Service. The client should send both of them back to certain Identity Platform APIs in a later call (for example, /accounts:sendVerificationCode), in order to verify the client. The bundle ID is required in the request header as `x-ios-bundle-identifier`. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "path": "v1/accounts:verifyIosClient",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse"
          },
          "id": "identitytoolkit.accounts.verifyIosClient",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/accounts:verifyIosClient",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest"
          },
          "parameters": {}
        },
        "lookup": {
          "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
          "parameterOrder": [],
          "path": "v1/accounts:lookup",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
          },
          "id": "identitytoolkit.accounts.lookup",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
          },
          "flatPath": "v1/accounts:lookup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "sendVerificationCode": {
          "path": "v1/accounts:sendVerificationCode",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse"
          },
          "description": "Sends a SMS verification code for phone number sign-in. To localize the text of the SMS sent to the user, set the HTTP header `X-Firebase-Locale` to the language code that corresponds with the user's locale. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest"
          },
          "flatPath": "v1/accounts:sendVerificationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.accounts.sendVerificationCode"
        },
        "signUp": {
          "id": "identitytoolkit.accounts.signUp",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/accounts:signUp",
          "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "path": "v1/accounts:signUp",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
          }
        },
        "sendOobCode": {
          "path": "v1/accounts:sendOobCode",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
          },
          "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
          },
          "flatPath": "v1/accounts:sendOobCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.accounts.sendOobCode"
        },
        "signInWithGameCenter": {
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest"
          },
          "flatPath": "v1/accounts:signInWithGameCenter",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.accounts.signInWithGameCenter",
          "path": "v1/accounts:signInWithGameCenter",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse"
          },
          "description": "Signs in or signs up a user with iOS Game Center credentials. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. The bundle ID is required in the request header as `x-ios-bundle-identifier`. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project. Apple has [deprecated the `playerID` field](https://developer.apple.com/documentation/gamekit/gkplayer/1521127-playerid/). The Apple platform Firebase SDK will use `gamePlayerID` and `teamPlayerID` from version 10.5.0 and onwards. Upgrading to SDK version 10.5.0 or later updates existing integrations that use `playerID` to instead use `gamePlayerID` and `teamPlayerID`. When making calls to `signInWithGameCenter`, you must include `playerID` along with the new fields `gamePlayerID` and `teamPlayerID` to successfully identify all existing users. Upgrading existing Game Center sign in integrations to SDK version 10.5.0 or later is irreversible.",
          "parameterOrder": []
        },
        "delete": {
          "id": "identitytoolkit.accounts.delete",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
          },
          "flatPath": "v1/accounts:delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes a user's account.",
          "parameterOrder": [],
          "path": "v1/accounts:delete",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
          }
        },
        "resetPassword": {
          "id": "identitytoolkit.accounts.resetPassword",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest"
          },
          "flatPath": "v1/accounts:resetPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Resets the password of an account either using an out-of-band code generated by sendOobCode or by specifying the email and password of the account to be modified. Can also check the purpose of an out-of-band code without consuming it.",
          "parameterOrder": [],
          "path": "v1/accounts:resetPassword",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse"
          }
        },
        "signInWithEmailLink": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/accounts:signInWithEmailLink",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest"
          },
          "parameters": {},
          "id": "identitytoolkit.accounts.signInWithEmailLink",
          "path": "v1/accounts:signInWithEmailLink",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse"
          },
          "parameterOrder": [],
          "description": "Signs in or signs up a user with a out-of-band code from an email link. If a user does not exist with the given email address, a user record will be created. If the sign-in succeeds, an Identity Platform ID and refresh token are issued for the authenticated user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project."
        },
        "signInWithPhoneNumber": {
          "path": "v1/accounts:signInWithPhoneNumber",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse"
          },
          "parameterOrder": [],
          "description": "Completes a phone number authentication attempt. If a user already exists with the given phone number, an ID token is minted for that user. Otherwise, a new user is created and associated with the phone number. This method may also be used to link a phone number to an existing user. To localize the text of the SMS sent to the user, set the HTTP header `X-Firebase-Locale` to the language code that corresponds with the user's locale. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "flatPath": "v1/accounts:signInWithPhoneNumber",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest"
          },
          "id": "identitytoolkit.accounts.signInWithPhoneNumber"
        },
        "issueSamlResponse": {
          "parameterOrder": [],
          "description": "Experimental",
          "path": "v1/accounts:issueSamlResponse",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse"
          },
          "id": "identitytoolkit.accounts.issueSamlResponse",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/accounts:issueSamlResponse",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest"
          },
          "parameters": {}
        },
        "createAuthUri": {
          "parameterOrder": [],
          "description": "If an email identifier is specified, checks and returns if any user account is registered with the email. If there is a registered account, fetches all providers associated with the account's email. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, this method returns an empty list. If the provider ID of an Identity Provider (IdP) is specified, creates an authorization URI for the IdP. The user can be directed to this URI to sign in with the IdP. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "path": "v1/accounts:createAuthUri",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse"
          },
          "id": "identitytoolkit.accounts.createAuthUri",
          "flatPath": "v1/accounts:createAuthUri",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/accounts:update",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
          },
          "parameters": {},
          "id": "identitytoolkit.accounts.update",
          "path": "v1/accounts:update",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
          },
          "parameterOrder": [],
          "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported."
        },
        "signInWithPassword": {
          "flatPath": "v1/accounts:signInWithPassword",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest"
          },
          "id": "identitytoolkit.accounts.signInWithPassword",
          "path": "v1/accounts:signInWithPassword",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse"
          },
          "parameterOrder": [],
          "description": "Signs in a user with email and password. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project."
        }
      }
    },
    "v1": {
      "methods": {
        "getRecaptchaParams": {
          "path": "v1/recaptchaParams",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse"
          },
          "parameterOrder": [],
          "description": "Gets parameters needed for generating a reCAPTCHA challenge.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/recaptchaParams",
          "httpMethod": "GET",
          "parameters": {},
          "id": "identitytoolkit.getRecaptchaParams"
        },
        "getSessionCookiePublicKeys": {
          "httpMethod": "GET",
          "parameters": {},
          "path": "v1/sessionCookiePublicKeys",
          "flatPath": "v1/sessionCookiePublicKeys",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse"
          },
          "description": "Retrieves the set of public keys of the session cookie JSON Web Token (JWT) signer that can be used to validate the session cookie created through createSessionCookie.",
          "parameterOrder": [],
          "id": "identitytoolkit.getSessionCookiePublicKeys"
        },
        "getPublicKeys": {
          "httpMethod": "GET",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/publicKeys",
          "id": "identitytoolkit.getPublicKeys",
          "path": "v1/publicKeys",
          "response": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          },
          "description": "Retrieves public keys of the legacy Identity Toolkit token signer to enable third parties to verify the legacy ID token. For now the X509 pem cert is the only format supported.",
          "parameterOrder": []
        },
        "getProjects": {
          "id": "identitytoolkit.getProjects",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/projects",
          "httpMethod": "GET",
          "parameters": {
            "iosBundleId": {
              "description": "iOS bundle id to check against the real ios bundle id. If this field is provided, the action will throw an error if this does not match the real iOS bundle id.",
              "location": "query",
              "type": "string"
            },
            "returnDynamicLink": {
              "location": "query",
              "type": "boolean",
              "description": "Whether dynamic link should be returned."
            },
            "clientId": {
              "location": "query",
              "type": "string",
              "description": "The RP OAuth client ID. If set, a check will be performed to ensure that the OAuth client is valid for the retrieved project and the request rejected with a client error if not valid."
            },
            "firebaseAppId": {
              "description": "The Firebase app ID, for applications that use Firebase. This can be found in the Firebase console for your project. If set, a check will be performed to ensure that the app ID is valid for the retrieved project. If not valid, the request will be rejected with a client error.",
              "location": "query",
              "type": "string"
            },
            "delegatedProjectNumber": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Project Number of the delegated project request. This field should only be used as part of the Firebase V1 migration."
            },
            "projectNumber": {
              "format": "int64",
              "description": "Project number of the configuration to retrieve. This field is deprecated and should not be used by new integrations.",
              "location": "query",
              "type": "string"
            },
            "sha1Cert": {
              "description": "SHA-1 Android application cert hash. If set, a check will be performed to ensure that the cert hash is valid for the retrieved project and android_package_name.",
              "location": "query",
              "type": "string"
            },
            "androidPackageName": {
              "location": "query",
              "type": "string",
              "description": "Android package name to check against the real android package name. If this field is provided, and sha1_cert_hash is not provided, the action will throw an error if this does not match the real android package name."
            }
          },
          "parameterOrder": [],
          "description": "Gets a project's public Identity Toolkit configuration. (Legacy) This method also supports authenticated calls from a developer to retrieve non-public configuration.",
          "path": "v1/projects",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse"
          }
        }
      }
    },
    "projects": {
      "methods": {
        "queryAccounts": {
          "id": "identitytoolkit.projects.queryAccounts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1/projects/{projectsId}:queryAccounts",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
          },
          "parameters": {
            "targetProjectId": {
              "location": "path",
              "required": true,
              "description": "The ID of the project to which the result is scoped.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "targetProjectId"
          ],
          "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
          "path": "v1/projects/{+targetProjectId}:queryAccounts",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
          }
        },
        "accounts": {
          "parameterOrder": [
            "targetProjectId"
          ],
          "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "path": "v1/projects/{+targetProjectId}/accounts",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
          },
          "id": "identitytoolkit.projects.accounts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/projects/{projectsId}/accounts",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
          },
          "parameters": {
            "targetProjectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
              "pattern": "^[^/]+$"
            }
          }
        },
        "createSessionCookie": {
          "parameterOrder": [
            "targetProjectId"
          ],
          "description": "Creates a session cookie for the given Identity Platform ID token. The session cookie is used by the client to preserve the user's login state.",
          "path": "v1/projects/{+targetProjectId}:createSessionCookie",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse"
          },
          "id": "identitytoolkit.projects.createSessionCookie",
          "flatPath": "v1/projects/{projectsId}:createSessionCookie",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "targetProjectId": {
              "type": "string",
              "description": "The ID of the project that the account belongs to.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
          }
        }
      },
      "resources": {
        "accounts": {
          "methods": {
            "sendOobCode": {
              "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
              "parameterOrder": [
                "targetProjectId"
              ],
              "path": "v1/projects/{+targetProjectId}/accounts:sendOobCode",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
              },
              "id": "identitytoolkit.projects.accounts.sendOobCode",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
              },
              "parameters": {
                "targetProjectId": {
                  "type": "string",
                  "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/accounts:sendOobCode"
            },
            "batchGet": {
              "flatPath": "v1/projects/{projectsId}/accounts:batchGet",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "tenantId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the Identity Platform tenant the accounts belongs to. If not specified, accounts on the Identity Platform project are returned."
                },
                "delegatedProjectNumber": {
                  "location": "query",
                  "type": "string",
                  "deprecated": true,
                  "format": "int64"
                },
                "targetProjectId": {
                  "type": "string",
                  "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that the accounts belong to.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                },
                "nextPageToken": {
                  "description": "The pagination token from the response of a previous request.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. Must be at least 1 and no greater than 1000. By default, it is 20.",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "id": "identitytoolkit.projects.accounts.batchGet",
              "path": "v1/projects/{+targetProjectId}/accounts:batchGet",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
              },
              "parameterOrder": [
                "targetProjectId"
              ],
              "description": "Download account information for all accounts on the project in a paginated manner. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).. Furthermore, additional permissions are needed to get password hash, password salt, and password version from accounts; otherwise these fields are redacted."
            },
            "query": {
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the project to which the result is scoped.",
                  "pattern": "^[^/]+$"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
              },
              "flatPath": "v1/projects/{projectsId}/accounts:query",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.accounts.query",
              "path": "v1/projects/{+targetProjectId}/accounts:query",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
              },
              "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
              "parameterOrder": [
                "targetProjectId"
              ]
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/accounts:update",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
              },
              "parameters": {
                "targetProjectId": {
                  "type": "string",
                  "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "identitytoolkit.projects.accounts.update",
              "path": "v1/projects/{+targetProjectId}/accounts:update",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
              },
              "parameterOrder": [
                "targetProjectId"
              ],
              "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported."
            },
            "lookup": {
              "path": "v1/projects/{+targetProjectId}/accounts:lookup",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
              },
              "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
              "parameterOrder": [
                "targetProjectId"
              ],
              "parameters": {
                "targetProjectId": {
                  "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
              },
              "flatPath": "v1/projects/{projectsId}/accounts:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "identitytoolkit.projects.accounts.lookup"
            },
            "batchDelete": {
              "path": "v1/projects/{+targetProjectId}/accounts:batchDelete",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
              },
              "parameterOrder": [
                "targetProjectId"
              ],
              "description": "Batch deletes multiple accounts. For accounts that fail to be deleted, error info is contained in the response. The method ignores accounts that do not exist or are duplicated in the request. This method requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/accounts:batchDelete",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest"
              },
              "parameters": {
                "targetProjectId": {
                  "type": "string",
                  "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that accounts belong to.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "identitytoolkit.projects.accounts.batchDelete"
            },
            "delete": {
              "parameterOrder": [
                "targetProjectId"
              ],
              "description": "Deletes a user's account.",
              "path": "v1/projects/{+targetProjectId}/accounts:delete",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
              },
              "id": "identitytoolkit.projects.accounts.delete",
              "flatPath": "v1/projects/{projectsId}/accounts:delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
                  "pattern": "^[^/]+$"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
              }
            },
            "batchCreate": {
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The Project ID of the Identity Platform project which the account belongs to.",
                  "pattern": "^[^/]+$"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
              },
              "flatPath": "v1/projects/{projectsId}/accounts:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.accounts.batchCreate",
              "path": "v1/projects/{+targetProjectId}/accounts:batchCreate",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountResponse"
              },
              "description": "Uploads multiple accounts into the Google Cloud project. If there is a problem uploading one or more of the accounts, the rest will be uploaded, and a list of the errors will be returned. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
              "parameterOrder": [
                "targetProjectId"
              ]
            }
          }
        },
        "tenants": {
          "methods": {
            "accounts": {
              "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
              "parameterOrder": [
                "targetProjectId",
                "tenantId"
              ],
              "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
              },
              "id": "identitytoolkit.projects.tenants.accounts",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
              },
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "location": "path",
                  "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                },
                "tenantId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project.",
                  "pattern": "^[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts"
            },
            "createSessionCookie": {
              "id": "identitytoolkit.projects.tenants.createSessionCookie",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}:createSessionCookie",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
              },
              "parameters": {
                "targetProjectId": {
                  "type": "string",
                  "description": "The ID of the project that the account belongs to.",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "tenantId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "targetProjectId",
                "tenantId"
              ],
              "description": "Creates a session cookie for the given Identity Platform ID token. The session cookie is used by the client to preserve the user's login state.",
              "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}:createSessionCookie",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse"
              }
            }
          },
          "resources": {
            "accounts": {
              "methods": {
                "update": {
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:update",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
                  },
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:update",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "tenantId": {
                      "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field.",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "targetProjectId": {
                      "location": "path",
                      "required": true,
                      "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
                      "pattern": "^[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
                  },
                  "id": "identitytoolkit.projects.tenants.accounts.update"
                },
                "sendOobCode": {
                  "id": "identitytoolkit.projects.tenants.accounts.sendOobCode",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
                  },
                  "parameters": {
                    "targetProjectId": {
                      "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "tenantId": {
                      "type": "string",
                      "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:sendOobCode",
                  "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:sendOobCode",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
                  }
                },
                "batchGet": {
                  "description": "Download account information for all accounts on the project in a paginated manner. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).. Furthermore, additional permissions are needed to get password hash, password salt, and password version from accounts; otherwise these fields are redacted.",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchGet",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
                  },
                  "id": "identitytoolkit.projects.tenants.accounts.batchGet",
                  "httpMethod": "GET",
                  "parameters": {
                    "tenantId": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the Identity Platform tenant the accounts belongs to. If not specified, accounts on the Identity Platform project are returned.",
                      "pattern": "^[^/]+$",
                      "type": "string"
                    },
                    "targetProjectId": {
                      "type": "string",
                      "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that the accounts belong to.",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "delegatedProjectNumber": {
                      "location": "query",
                      "type": "string",
                      "deprecated": true,
                      "format": "int64"
                    },
                    "nextPageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The pagination token from the response of a previous request."
                    },
                    "maxResults": {
                      "description": "The maximum number of results to return. Must be at least 1 and no greater than 1000. By default, it is 20.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchGet"
                },
                "query": {
                  "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:query",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
                  },
                  "id": "identitytoolkit.projects.tenants.accounts.query",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
                  },
                  "parameters": {
                    "tenantId": {
                      "type": "string",
                      "description": "The ID of the tenant to which the result is scoped.",
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "targetProjectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the project to which the result is scoped.",
                      "pattern": "^[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:query"
                },
                "batchCreate": {
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "description": "Uploads multiple accounts into the Google Cloud project. If there is a problem uploading one or more of the accounts, the rest will be uploaded, and a list of the errors will be returned. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchCreate",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountResponse"
                  },
                  "id": "identitytoolkit.projects.tenants.accounts.batchCreate",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchCreate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "targetProjectId": {
                      "type": "string",
                      "description": "The Project ID of the Identity Platform project which the account belongs to.",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "tenantId": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the Identity Platform tenant the account belongs to.",
                      "pattern": "^[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
                  }
                },
                "lookup": {
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:lookup",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
                  },
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:lookup",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
                  },
                  "parameters": {
                    "tenantId": {
                      "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer.",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "targetProjectId": {
                      "type": "string",
                      "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.accounts.lookup"
                },
                "batchDelete": {
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchDelete",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
                  },
                  "description": "Batch deletes multiple accounts. For accounts that fail to be deleted, error info is contained in the response. The method ignores accounts that do not exist or are duplicated in the request. This method requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "parameters": {
                    "tenantId": {
                      "location": "path",
                      "required": true,
                      "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to a default Identity Platform project, the field is not needed.",
                      "pattern": "^[^/]+$",
                      "type": "string"
                    },
                    "targetProjectId": {
                      "type": "string",
                      "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that accounts belong to.",
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.accounts.batchDelete"
                },
                "delete": {
                  "parameters": {
                    "targetProjectId": {
                      "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "tenantId": {
                      "type": "string",
                      "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant.",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "identitytoolkit.projects.tenants.accounts.delete",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:delete",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
                  },
                  "description": "Deletes a user's account.",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "description": "Response message for SendVerificationCode.",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest",
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer."
        },
        "targetProjectId": {
          "type": "string",
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "initialEmail": {
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "localId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "phoneNumber": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555."
        },
        "email": {
          "items": {
            "type": "string"
          },
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer.",
          "type": "array"
        },
        "idToken": {
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users.",
          "type": "string"
        },
        "federatedUserId": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          }
        }
      },
      "description": "Request message for GetAccountInfo."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest",
      "type": "object",
      "properties": {
        "code": {
          "description": "User-entered verification code from an SMS sent to the user's phone.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "Encrypted session information from the response of sendVerificationCode. In the case of authenticating with an SMS code this must be specified, but in the case of using a temporary proof it can be unspecified.",
          "type": "string"
        },
        "verificationProof": {
          "type": "string",
          "description": "Do not use."
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the phone number to the user represented by this ID token if the phone number is not in use, or will reauthenticate the user if the phone number is already linked to the user.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The user's phone number to sign in with. This is necessary in the case of uing a temporary proof, in which case it must match the phone number that was authenticated in the request that generated the temporary proof. This field is ignored if a session info is passed."
        },
        "temporaryProof": {
          "type": "string",
          "description": "A proof of the phone number verification, provided from a previous signInWithPhoneNumber request. If this is passed, the caller must also pass in the phone_number field the phone number that was verified in the previous request."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "operation": {
          "deprecated": true,
          "enum": [
            "VERIFY_OP_UNSPECIFIED",
            "SIGN_UP_OR_IN",
            "REAUTH",
            "UPDATE",
            "LINK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Operation is not specified.",
            "Verify operation is to sign up/sign in.",
            "Verify operation is to reauth.",
            "Verify operation is to update.",
            "Verify operation is to link."
          ]
        }
      },
      "description": "Request message for SignInWithPhoneNumber."
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "description": "Response message to BatchDeleteAccounts.",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse",
      "type": "object",
      "properties": {
        "errors": {
          "description": "Detailed error info for accounts that cannot be deleted.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SqlExpression": {
      "description": "Query conditions used to filter results.",
      "id": "GoogleCloudIdentitytoolkitV1SqlExpression",
      "type": "object",
      "properties": {
        "email": {
          "description": "A case insensitive string that the account's email should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "A string that the account's phone number should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "userId": {
          "description": "A string that the account's local ID should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest",
      "type": "object",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The ID of user account to delete. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). Requests from users lacking the credential should pass an ID token instead."
        },
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively."
        },
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        }
      },
      "description": "Request message for DeleteAccount."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest",
      "type": "object",
      "properties": {
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string"
        },
        "idToken": {
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "clientType": {
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "pendingIdToken": {
          "deprecated": true,
          "type": "string"
        },
        "recaptchaVersion": {
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response."
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project."
        },
        "password": {
          "type": "string",
          "description": "Required. The password the user provides to sign in to the account."
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Request message for SignInWithPassword."
    },
    "GoogleCloudIdentitytoolkitV1Argon2Parameters": {
      "description": "The parameters for Argon2 hashing algorithm.",
      "id": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
      "type": "object",
      "properties": {
        "hashType": {
          "description": "Required. Must not be HASH_TYPE_UNSPECIFIED.",
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "ARGON2_D",
            "ARGON2_ID",
            "ARGON2_I"
          ],
          "type": "string",
          "enumDescriptions": [
            "The hash type is not specified.",
            "An Argon2 variant, Argon2d.",
            "An Argon2 variant, Argonid. Recommended.",
            "An Argon2 variant, Argon2i."
          ]
        },
        "iterations": {
          "type": "integer",
          "description": "Required. The number of iterations to perform. Minimum is 1, maximum is 16.",
          "format": "int32"
        },
        "memoryCostKib": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The memory cost in kibibytes. Maximum is 32768."
        },
        "hashLengthBytes": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The desired hash length in bytes. Minimum is 4 and maximum is 1024."
        },
        "version": {
          "description": "The version of the Argon2 algorithm. This defaults to VERSION_13 if not specified.",
          "type": "string",
          "enumDescriptions": [
            "The version is not specified.",
            "The previous version, 0x10.",
            "The current version, 0x13. The default value for version."
          ],
          "enum": [
            "VERSION_UNSPECIFIED",
            "VERSION_10",
            "VERSION_13"
          ]
        },
        "parallelism": {
          "type": "integer",
          "description": "Required. The degree of parallelism, also called threads or lanes. Minimum is 1, maximum is 16.",
          "format": "int32"
        },
        "associatedData": {
          "format": "byte",
          "description": "The additional associated data, if provided, is appended to the hash value to provide an additional layer of security. A base64-encoded string if specified via JSON.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "description": "Response message for UploadAccount.",
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse",
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "error": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          },
          "description": "Detailed error info for accounts that cannot be uploaded.",
          "type": "array"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignUpResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignUpResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        },
        "displayName": {
          "description": "The created user's display name.",
          "type": "string"
        },
        "email": {
          "description": "The created user's email.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the created user. Always present in the response."
        },
        "idToken": {
          "description": "An Identity Platform ID token for the created user. This field is only set for non-admin requests.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the created user. This field is only set for non-admin requests.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Response message for SignUp."
    },
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "description": "Email template",
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate",
      "type": "object",
      "properties": {
        "body": {
          "description": "Email body",
          "type": "string"
        },
        "fromLocalPart": {
          "type": "string",
          "description": "Local part of From address"
        },
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "fromDisplayName": {
          "description": "From display name",
          "type": "string"
        },
        "customized": {
          "type": "boolean",
          "description": "Whether the body or subject of the email is customized."
        },
        "format": {
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ],
          "description": "Email body format"
        },
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the template is disabled. If true, a default template will be used."
        },
        "from": {
          "description": "From address of the email",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "id": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
      "type": "object",
      "properties": {
        "appSignatureHash": {
          "type": "string",
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API."
        }
      },
      "description": "The information required to auto-retrieve an SMS."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest": {
      "description": "Request message for SignInWithEmailLink",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The email address the sign-in link was sent to. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "oobCode": {
          "type": "string",
          "description": "Required. The out-of-band code from the email link."
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the email address to the user represented by this ID token and enable sign-in with email link on the account for the future."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "description": "Request message for ResetPassword.",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest",
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Optional. The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "oldPassword": {
          "type": "string",
          "description": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code."
        },
        "newPassword": {
          "type": "string",
          "description": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET."
        },
        "email": {
          "type": "string",
          "description": "Optional. The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code."
        },
        "oobCode": {
          "type": "string",
          "description": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest": {
      "description": "Request message for SetAccountInfo.",
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest",
      "type": "object",
      "properties": {
        "deleteProvider": {
          "description": "The Identity Providers to unlink from the user's account.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "captchaChallenge": {
          "deprecated": true,
          "type": "string"
        },
        "disableUser": {
          "type": "boolean",
          "description": "If true, marks the account as disabled, meaning the user will no longer be able to sign-in."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "createdAt": {
          "type": "string",
          "description": "The timestamp in milliseconds when the account was created.",
          "format": "int64"
        },
        "password": {
          "type": "string",
          "description": "The user's new password to be updated in the account's attributes. The password must be at least 6 characters long."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Whether the account should be restricted to only using federated login."
        },
        "targetProjectId": {
          "type": "string",
          "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead."
        },
        "provider": {
          "description": "The Identity Providers that the account should be associated with.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "captchaResponse": {
          "description": "The response from reCaptcha challenge. This is required when the system detects possible abuse activities.",
          "type": "string"
        },
        "deleteAttribute": {
          "type": "array",
          "items": {
            "enum": [
              "USER_ATTRIBUTE_NAME_UNSPECIFIED",
              "EMAIL",
              "DISPLAY_NAME",
              "PROVIDER",
              "PHOTO_URL",
              "PASSWORD",
              "RAW_USER_INFO"
            ],
            "type": "string",
            "enumDescriptions": [
              "User attribute name is not specified.",
              "User attribute key name is email.",
              "User attribute key name is displayName.",
              "User attribute key name is provider.",
              "User attribute key name is photoURL.",
              "User attribute key name is password.",
              "User attribute key name is rawUserInfo."
            ]
          }
        },
        "displayName": {
          "description": "The user's new display name to be updated in the account's attributes. The length of the display name must be less than or equal to 256 characters.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether or not to return an ID and refresh token. Should always be true.",
          "type": "boolean"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field."
        },
        "emailVerified": {
          "description": "Whether the user's email has been verified. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "customAttributes": {
          "type": "string",
          "description": "JSON formatted custom attributes to be stored in the Identity Platform ID token. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "oobCode": {
          "description": "The out-of-band code to be applied on the user's account. The following out-of-band code types are supported: * VERIFY_EMAIL * RECOVER_EMAIL * REVERT_SECOND_FACTOR_ADDITION * VERIFY_AND_CHANGE_EMAIL",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the user. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). For requests from end-users, an ID token should be passed instead."
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "linkProviderUserInfo": {
          "description": "The provider to be linked to the user's account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
        },
        "lastLoginAt": {
          "description": "The timestamp in milliseconds when the account last logged in.",
          "format": "int64",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The user's new email to be updated in the account's attributes. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. If [email enumeration protection](https://cloud.google.com/identity-platform/docs/admin/email-enumeration-protection) is enabled, the email cannot be changed by the user without verifying the email first, but it can be changed by an administrator."
        },
        "validSince": {
          "description": "Specifies the minimum timestamp in seconds for an Identity Platform ID token to be considered valid.",
          "format": "int64",
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's new photo URL for the account's profile photo to be updated in the account's attributes. The length of the URL must be less than or equal to 2048 characters.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to be updated in the account's attributes."
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. Required when attempting to change user-related information.",
          "type": "string"
        },
        "mfa": {
          "description": "The multi-factor authentication related information to be set on the user's account. This will overwrite any previous multi-factor related information on the account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "$ref": "GoogleCloudIdentitytoolkitV1MfaInfo"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordResponse": {
      "description": "Response message for ResetPassword.",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse",
      "type": "object",
      "properties": {
        "newEmail": {
          "type": "string"
        },
        "requestType": {
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            true,
            false,
            false,
            true
          ],
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ]
        },
        "mfaInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
        },
        "kind": {
          "deprecated": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email associated with the out-of-band code that was used."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse": {
      "description": "Response message for SignInWithPhoneNumber.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse",
      "type": "object",
      "properties": {
        "idToken": {
          "description": "Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the ID token expires."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of the authenticated user. Always present in the response."
        },
        "verificationProof": {
          "description": "Do not use.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "description": "Do not use.",
          "format": "int64"
        },
        "temporaryProofExpiresIn": {
          "format": "int64",
          "description": "The number of seconds until the temporary proof expires.",
          "type": "string"
        },
        "localId": {
          "description": "The id of the authenticated user. Present in the case of a successful authentication. In the case when the phone could be verified but the account operation could not be performed, a temporary proof will be returned instead.",
          "type": "string"
        },
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided if a phone authentication is successful but the user operation fails. This happens when the request tries to link a phone number to a user with an ID token or reauthenticate with an ID token but the phone number is linked to a different user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse": {
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse",
      "type": "object",
      "properties": {
        "sessionCookie": {
          "type": "string",
          "description": "The session cookie that has been created from the Identity Platform ID token specified in the request. It is in the form of a JSON Web Token (JWT). Always present."
        }
      },
      "description": "Response message for CreateSessionCookie."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest",
      "type": "object",
      "properties": {
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "token": {
          "type": "string",
          "description": "Required. The custom Auth token asserted by the developer. The token should be a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that includes the claims listed in the [API reference](https://cloud.google.com/identity-platform/docs/reference/rest/client/) under the \"Custom Token Claims\" section."
        },
        "instanceId": {
          "deprecated": true,
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If present, the ID should match the tenant_id in the token."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64"
        }
      },
      "description": "Request message for SignInWithCustomToken."
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse": {
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse",
      "type": "object",
      "properties": {
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "relayState": {
          "type": "string",
          "description": "Generated RelayState."
        },
        "lastName": {
          "type": "string",
          "description": "Last name of the user."
        },
        "samlResponse": {
          "description": "Signed SAMLResponse created for the Relying Party.",
          "type": "string"
        },
        "email": {
          "description": "Email of the user.",
          "type": "string"
        },
        "acsEndpoint": {
          "description": "The ACS endpoint which consumes the returned SAMLResponse.",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "First name of the user."
        }
      },
      "description": "Response for IssueSamlResponse request."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "description": "Response message for SignInWithGameCenter",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse",
      "type": "object",
      "properties": {
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the logged in user was created by this request."
        },
        "gamePlayerId": {
          "type": "string",
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid"
        },
        "playerId": {
          "type": "string",
          "description": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the authenticated user."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "teamPlayerId": {
          "type": "string",
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid"
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest": {
      "description": "Request message for CreateSessionCookie.",
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest",
      "type": "object",
      "properties": {
        "validDuration": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the session cookie expires. Specify a duration in seconds, between five minutes and fourteen days, inclusively."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "idToken": {
          "type": "string",
          "description": "Required. A valid Identity Platform ID token."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "description": "Request message for VerifyIosClient",
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "type": "object",
      "properties": {
        "appToken": {
          "type": "string",
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service)."
        },
        "isSandbox": {
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest": {
      "description": "Request message for SignInWithGameCenter",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest",
      "type": "object",
      "properties": {
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "timestamp": {
          "description": "Required. The time when the signature was created by Apple, in milliseconds since the epoch.",
          "format": "int64",
[...]
