{
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/taa97NuhcHSAt0fUktvGBcH-OqE\"",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "default": "json"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "ownerDomain": "google.com",
  "version": "v3",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "documentationLink": "https://developers.google.com/identity-toolkit/v3/",
  "title": "Google Identity Toolkit API",
  "name": "identitytoolkit",
  "rootUrl": "https://www.googleapis.com/",
  "baseUrl": "https://www.googleapis.com/identitytoolkit/v3/relyingparty/",
  "servicePath": "identitytoolkit/v3/relyingparty/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "description": "Help the third party sites to implement federated login.",
  "revision": "20180723",
  "canonicalName": "Identity Toolkit",
  "schemas": {
    "IdentitytoolkitRelyingpartyGetPublicKeysResponse": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "id": "IdentitytoolkitRelyingpartyGetPublicKeysResponse",
      "description": "Respone of getting public keys."
    },
    "IdentitytoolkitRelyingpartySignOutUserResponse": {
      "id": "IdentitytoolkitRelyingpartySignOutUserResponse",
      "properties": {
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        }
      },
      "description": "Response of signing out user.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySetProjectConfigResponse": {
      "id": "IdentitytoolkitRelyingpartySetProjectConfigResponse",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        }
      },
      "description": "Response of setting the project configuration.",
      "type": "object"
    },
    "UserInfo": {
      "type": "object",
      "id": "UserInfo",
      "properties": {
        "version": {
          "description": "Version of the user's password.",
          "format": "int32",
          "type": "integer"
        },
        "createdAt": {
          "description": "User creation timestamp.",
          "format": "int64",
          "type": "string"
        },
        "passwordUpdatedAt": {
          "type": "number",
          "description": "The timestamp when the password was last updated.",
          "format": "double"
        },
        "emailVerified": {
          "description": "Whether the email has been verified.",
          "type": "boolean"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the user profile photo."
        },
        "providerUserInfo": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "providerId": {
                "description": "The IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              },
              "phoneNumber": {
                "description": "User's phone number.",
                "type": "string"
              },
              "photoUrl": {
                "description": "The user's photo url at the IDP.",
                "type": "string"
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              },
              "screenName": {
                "type": "string",
                "description": "User's screen name at Twitter or login name at Github."
              },
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "rawId": {
                "type": "string",
                "description": "User's raw identifier directly returned from IDP."
              },
              "email": {
                "description": "User's email at IDP.",
                "type": "string"
              }
            }
          },
          "description": "The IDP of the user."
        },
        "lastLoginAt": {
          "description": "last login timestamp.",
          "format": "int64",
          "type": "string"
        },
        "salt": {
          "type": "string",
          "format": "byte",
          "description": "The user's password salt."
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "disabled": {
          "description": "Whether the user is disabled.",
          "type": "boolean"
        },
        "validSince": {
          "format": "int64",
          "description": "Timestamp in seconds for valid login token.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "screenName": {
          "type": "string",
          "description": "User's screen name at Twitter or login name at Github."
        },
        "passwordHash": {
          "format": "byte",
          "description": "The user's hashed password.",
          "type": "string"
        },
        "customAuth": {
          "type": "boolean",
          "description": "Whether the user is authenticated by the developer."
        },
        "rawPassword": {
          "type": "string",
          "description": "The user's plain text password."
        }
      },
      "description": "Template for an individual account info."
    },
    "IdentitytoolkitRelyingpartyDownloadAccountRequest": {
      "id": "IdentitytoolkitRelyingpartyDownloadAccountRequest",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. This should be taken from the previous response."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        },
        "maxResults": {
          "description": "The max number of results to return in the response.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "description": "Request to download user account in batch.",
      "type": "object"
    },
    "EmailTemplate": {
      "description": "Template for an email template.",
      "id": "EmailTemplate",
      "properties": {
        "fromDisplayName": {
          "description": "From display name.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email."
        },
        "from": {
          "type": "string",
          "description": "From address of the email."
        },
        "replyTo": {
          "description": "Reply-to address.",
          "type": "string"
        },
        "format": {
          "description": "Email body format.",
          "type": "string"
        },
        "body": {
          "type": "string",
          "description": "Email body."
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
      "type": "object",
      "description": "Request to get the IDP authentication URL.",
      "id": "IdentitytoolkitRelyingpartyCreateAuthUriRequest",
      "properties": {
        "appId": {
          "description": "The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS.",
          "type": "string"
        },
        "authFlowType": {
          "description": "Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback."
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "clientId": {
          "description": "The relying party OAuth client ID.",
          "type": "string"
        },
        "oauthScope": {
          "type": "string",
          "description": "Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant"
        },
        "openidRealm": {
          "description": "Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set.",
          "type": "string"
        },
        "hostedDomain": {
          "description": "The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts.",
          "type": "string"
        },
        "otaApp": {
          "description": "The native app package for OTA installation.",
          "type": "string"
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
          "type": "string"
        },
        "identifier": {
          "type": "string",
          "description": "The email or federated ID of the user."
        },
        "sessionId": {
          "type": "string",
          "description": "The session_id passed by client."
        },
        "customParameter": {
          "type": "object",
          "additionalProperties": {
            "description": "The customized query parameter.",
            "type": "string"
          },
          "description": "The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token."
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        },
        "continueUri": {
          "type": "string",
          "description": "The URI to which the IDP redirects the user after the federated login flow."
        },
        "oauthConsumerKey": {
          "type": "string",
          "description": "The developer's consumer key for OpenId OAuth Extension"
        }
      }
    },
    "IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
      "type": "object",
      "description": "Request to verify the password.",
      "id": "IdentitytoolkitRelyingpartyVerifyPasswordRequest",
      "properties": {
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        },
        "pendingIdToken": {
          "description": "The GITKit token for the non-trusted IDP, which is to be confirmed by the user.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from."
        },
        "password": {
          "type": "string",
          "description": "The password inputed by the user."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        }
      }
    },
    "DownloadAccountResponse": {
      "id": "DownloadAccountResponse",
      "properties": {
        "kind": {
          "default": "identitytoolkit#DownloadAccountResponse",
          "description": "The fixed string \"identitytoolkit#DownloadAccountResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The next page token. To be used in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The user accounts data."
        }
      },
      "description": "Response of downloading accounts in batch.",
      "type": "object"
    },
    "VerifyPasswordResponse": {
      "id": "VerifyPasswordResponse",
      "properties": {
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "oauthExpireIn": {
          "format": "int32",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "type": "integer"
        },
        "photoUrl": {
          "description": "The URI of the user's photo at IdP",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is registered."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#VerifyPasswordResponse\".",
          "default": "identitytoolkit#VerifyPasswordResponse"
        }
      },
      "description": "Request of verifying the password.",
      "type": "object"
    },
    "VerifyAssertionResponse": {
      "description": "Response of verifying the IDP assertion.",
      "id": "VerifyAssertionResponse",
      "properties": {
        "oauthIdToken": {
          "type": "string",
          "description": "The OIDC id token."
        },
        "oauthTokenSecret": {
          "description": "The OAuth1 access token secret.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds."
        },
        "needEmail": {
          "type": "boolean",
          "description": "Whether need client to supply email to complete the federated login flow."
        },
        "providerId": {
          "description": "The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\" param is federated ID in the createAuthUri request. The domain part of the federated ID is returned.",
          "type": "string"
        },
        "appInstallationUrl": {
          "type": "string",
          "description": "URL for OTA app installation."
        },
        "verifiedProvider": {
          "description": "When action is 'map', contains the idps which can be used for confirmation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inputEmail": {
          "type": "string",
          "description": "It's the identifier param in the createAuthUri request if the identifier is an email. It can be used to check whether the user input email is different from the asserted email."
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the user."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth2 authorization code."
        },
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "It's true if the email is recycled."
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#VerifyAssertionResponse\".",
          "default": "identitytoolkit#VerifyAssertionResponse",
          "type": "string"
        },
        "federatedId": {
          "type": "string",
          "description": "The unique ID identifies the IdP account."
        },
        "fullName": {
          "type": "string",
          "description": "The full name of the user."
        },
        "displayName": {
          "description": "The display name of the user.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Client error code.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The ID token."
        },
        "dateOfBirth": {
          "description": "The birth date of the IdP account.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "The action code."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "The value is true if the IDP is also the email provider. It means the user owns the email."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URI of the public accessible profiel picture."
        },
        "context": {
          "description": "The opaque value used by the client to maintain context info between the authentication request and the IDP callback.",
          "type": "string"
        },
        "email": {
          "description": "The email returned by the IdP. NOTE: The federated login user may not own the email.",
          "type": "string"
        },
        "language": {
          "description": "The language preference of the user.",
          "type": "string"
        },
        "localId": {
          "description": "The RP local ID if it's already been mapped to the IdP account identified by the federated ID.",
          "type": "string"
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the user."
        },
        "oauthRequestToken": {
          "type": "string",
          "description": "The user approved request token for the OpenID OAuth extension."
        },
        "rawUserInfo": {
          "description": "Raw IDP-returned user info.",
          "type": "string"
        },
        "originalEmail": {
          "description": "The original email stored in the mapping storage. It's returned when the federated ID is associated to a different email.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "needConfirmation": {
          "type": "boolean",
          "description": "Whether the assertion is from a non-trusted IDP and need account linking confirmation."
        },
        "oauthScope": {
          "type": "string",
          "description": "The scope for the OpenID OAuth extension."
        },
        "appScheme": {
          "type": "string",
          "description": "The custom scheme used by mobile app."
        },
        "nickName": {
          "description": "The nick name of the user.",
          "type": "string"
        },
        "screenName": {
          "description": "The screen_name of a Twitter user or the login name at Github.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "The timezone of the user."
        },
        "oauthExpireIn": {
          "type": "integer",
          "description": "The lifetime in seconds of the OAuth2 access token.",
          "format": "int32"
        },
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse": {
      "type": "object",
      "description": "Response for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse",
      "properties": {
        "expiresIn": {
          "type": "string",
          "format": "int64"
        },
        "localId": {
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "phoneNumber": {
          "type": "string"
        },
        "temporaryProofExpiresIn": {
          "type": "string",
          "format": "int64"
        },
        "temporaryProof": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean"
        },
        "refreshToken": {
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartyEmailLinkSigninRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest",
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Token for linking flow."
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        }
      },
      "description": "Request to sign in with email."
    },
    "CreateAuthUriResponse": {
      "type": "object",
      "description": "Response of creating the IDP authentication URL.",
      "id": "CreateAuthUriResponse",
      "properties": {
        "kind": {
          "default": "identitytoolkit#CreateAuthUriResponse",
          "description": "The fixed string identitytoolkit#CreateAuthUriResponse\".",
          "type": "string"
        },
        "providerId": {
          "description": "The provider ID of the auth URI.",
          "type": "string"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the user is registered if the identifier is an email."
        },
        "forExistingProvider": {
          "type": "boolean",
          "description": "True if the authUri is for user's existing provider."
        },
        "authUri": {
          "type": "string",
          "description": "The URI used by the IDP to authenticate the user."
        },
        "captchaRequired": {
          "description": "True if captcha is required.",
          "type": "boolean"
        },
        "allProviders": {
          "description": "all providers the user has once used to do federated login",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sessionId": {
          "description": "Session ID which should be passed in the following verifyAssertion request.",
          "type": "string"
        },
        "signinMethods": {
          "description": "All sign-in methods this user has used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IdentitytoolkitRelyingpartySignupNewUserRequest": {
      "type": "object",
      "description": "Request to signup new user, create anonymous user or anonymous user reauth.",
      "id": "IdentitytoolkitRelyingpartySignupNewUserRequest",
      "properties": {
        "captchaChallenge": {
          "type": "string",
          "description": "The captcha challenge."
        },
        "tenantProjectNumber": {
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "idToken": {
          "description": "The GITKit token of the authenticated user.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether to disable the user. Only can be used by service account."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "localId": {
          "description": "Privileged caller can create user with specified user id.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can create user with specified phone number."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "emailVerified": {
          "description": "Mark the email as verified or not. Only can be used by service account.",
          "type": "boolean"
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        }
      }
    },
    "Relyingparty": {
      "type": "object",
      "id": "Relyingparty",
      "properties": {
        "iOSBundleId": {
          "description": "the iOS bundle id of iOS app to handle the action code",
          "type": "string"
        },
        "challenge": {
          "description": "The recaptcha challenge presented to the user.",
          "type": "string"
        },
        "continueUrl": {
          "type": "string",
          "description": "The url to continue to the Gitkit app"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "canHandleCodeInApp": {
          "description": "whether or not the app can handle the oob code without first going to web",
          "type": "boolean"
        },
        "androidMinimumVersion": {
          "description": "minimum version of the app. if the version on the device is lower than this version then the user is taken to the play store to upgrade the app",
          "type": "string"
        },
        "iOSAppStoreId": {
          "type": "string",
          "description": "iOS app store id to download the app if it's not already installed"
        },
        "androidPackageName": {
          "type": "string",
          "description": "android package name of the android app to handle the action code"
        },
        "requestType": {
          "description": "The request type.",
          "type": "string"
        },
        "captchaResp": {
          "description": "The recaptcha response from the user.",
          "type": "string"
        },
        "newEmail": {
          "description": "The new email if the code is for email change.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#relyingparty\".",
          "default": "identitytoolkit#relyingparty"
        },
        "androidInstallApp": {
          "description": "whether or not to install the android app on the device where the link is opened",
          "type": "boolean"
        },
        "idToken": {
          "type": "string",
          "description": "The user's Gitkit login token for email change."
        },
        "userIp": {
          "type": "string",
          "description": "The IP address of the user."
        }
      },
      "description": "Request of getting a code for user confirmation (reset password, change email etc.)"
    },
    "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest": {
      "description": "Request for Identitytoolkit-VerifyPhoneNumber",
      "id": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest",
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "code": {
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "sessionInfo": {
          "description": "The session info previously returned by IdentityToolkit-SendVerificationCode.",
          "type": "string"
        },
        "verificationProof": {
          "type": "string"
        },
        "temporaryProof": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "VerifyCustomTokenResponse": {
      "type": "object",
      "description": "Response from verifying a custom token",
      "id": "VerifyCustomTokenResponse",
      "properties": {
        "kind": {
          "type": "string",
          "default": "identitytoolkit#VerifyCustomTokenResponse",
          "description": "The fixed string \"identitytoolkit#VerifyCustomTokenResponse\"."
        },
        "isNewUser": {
          "description": "True if it's a new user sign-in, false if it's a returning user.",
          "type": "boolean"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "idToken": {
          "description": "The GITKit token for authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "type": "string"
        }
      }
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeRequest": {
      "type": "object",
      "description": "Request for Identitytoolkit-SendVerificationCode",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeRequest",
      "properties": {
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Recaptcha solution.",
          "type": "string"
        },
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful app token validation with APNS."
        },
        "iosSecret": {
          "description": "Secret delivered to iOS app via APNS.",
          "type": "string"
        }
      }
    },
    "GetRecaptchaParamResponse": {
      "id": "GetRecaptchaParamResponse",
      "properties": {
        "kind": {
          "default": "identitytoolkit#GetRecaptchaParamResponse",
          "description": "The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".",
          "type": "string"
        },
        "recaptchaSiteKey": {
          "type": "string",
          "description": "Site key registered at recaptcha."
        },
        "recaptchaStoken": {
          "description": "The stoken field for the recaptcha widget, used to request captcha challenge.",
          "type": "string"
        }
      },
      "description": "Response of getting recaptcha param.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyVerifyAssertionRequest",
      "properties": {
        "tenantProjectNumber": {
          "type": "string",
          "description": "Tenant project number to be used for idp discovery.",
          "format": "uint64"
        },
        "pendingIdToken": {
          "description": "The GITKit token for the non-trusted IDP pending to be confirmed by the user.",
          "type": "string"
        },
        "postBody": {
          "description": "The post body if the request is a HTTP POST.",
          "type": "string"
        },
        "autoCreate": {
          "type": "boolean",
          "description": "When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist."
        },
        "returnRefreshToken": {
          "type": "boolean",
          "description": "Whether to return refresh tokens."
        },
        "sessionId": {
          "type": "string",
          "description": "Session ID, which should match the one in previous createAuthUri request."
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether return 200 and IDP credential rather than throw exception when federated id is already linked."
        },
        "tenantId": {
          "description": "For multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters, Firebear needs to know which Tenant to retrieve IDP configs from.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Whether return sts id token and refresh token instead of gitkit token."
        },
        "requestUri": {
          "description": "The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP.",
          "type": "string"
        }
      },
      "description": "Request to verify the IDP assertion."
    },
    "EmailLinkSigninResponse": {
      "type": "object",
      "id": "EmailLinkSigninResponse",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The STS id token to login the newly signed in user."
        },
        "localId": {
          "description": "The RP local ID of the user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "Expiration time of STS id token in seconds."
        },
        "refreshToken": {
          "type": "string",
          "description": "The refresh token for the signed in user."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#EmailLinkSigninResponse\".",
          "default": "identitytoolkit#EmailLinkSigninResponse"
        },
        "isNewUser": {
          "description": "Whether the user is new.",
          "type": "boolean"
        }
      },
      "description": "Response of email signIn."
    },
    "IdentitytoolkitRelyingpartySendVerificationCodeResponse": {
      "description": "Response for Identitytoolkit-SendVerificationCode",
      "id": "IdentitytoolkitRelyingpartySendVerificationCodeResponse",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information"
        }
      },
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartyGetAccountInfoRequest",
      "properties": {
        "phoneNumber": {
          "description": "Privileged caller can query users by specified phone number.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "email": {
          "description": "The list of emails of the users to inquiry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "localId": {
          "description": "The list of local ID's of the users to inquiry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request to get the account information.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyDeleteAccountRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyDeleteAccountRequest",
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64"
        },
        "idToken": {
          "description": "The GITKit token or STS id token of the authenticated user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        }
      },
      "description": "Request to delete account."
    },
    "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest",
      "properties": {
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "token": {
          "type": "string",
          "description": "The custom token to verify"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        }
      },
      "description": "Request to verify a custom token"
    },
    "GetOobConfirmationCodeResponse": {
      "type": "object",
      "id": "GetOobConfirmationCodeResponse",
      "properties": {
        "kind": {
          "type": "string",
          "default": "identitytoolkit#GetOobConfirmationCodeResponse",
          "description": "The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\"."
        },
        "email": {
          "description": "The email address that the email is sent to.",
          "type": "string"
        },
        "oobCode": {
          "description": "The code to be send to the user.",
          "type": "string"
        }
      },
      "description": "Response of getting a code for user confirmation (reset password, change email etc.)."
    },
    "IdentitytoolkitRelyingpartyGetProjectConfigResponse": {
      "type": "object",
      "description": "Response of getting the project configuration.",
      "id": "IdentitytoolkitRelyingpartyGetProjectConfigResponse",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the relying party."
        },
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "idpConfig": {
          "description": "OAuth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          },
          "type": "array"
        },
        "authorizedDomains": {
          "description": "Authorized domains.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dynamicLinksDomain": {
          "type": "string"
        },
        "apiKey": {
          "description": "Browser API key, needed when making http request to Apiary.",
          "type": "string"
        },
        "changeEmailTemplate": {
          "description": "Change email template.",
          "$ref": "EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Legacy reset password email template."
        },
        "allowPasswordUser": {
          "type": "boolean",
          "description": "Whether to allow password user sign in or sign up."
        },
        "enableAnonymousUser": {
          "description": "Whether anonymous user is enabled.",
          "type": "boolean"
        },
        "verifyEmailTemplate": {
          "description": "Verify email template.",
          "$ref": "EmailTemplate"
        },
        "resetPasswordTemplate": {
          "$ref": "EmailTemplate",
          "description": "Reset password email template."
        }
      }
    },
    "IdentitytoolkitRelyingpartySetProjectConfigRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartySetProjectConfigRequest",
      "properties": {
        "useEmailSending": {
          "type": "boolean",
          "description": "Whether to use email sending provided by Firebear."
        },
        "idpConfig": {
          "description": "Oauth2 provider configuration.",
          "items": {
            "$ref": "IdpConfig"
          },
          "type": "array"
        },
        "authorizedDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Authorized domains for widget redirect."
        },
        "apiKey": {
          "type": "string",
          "description": "Browser API key, needed when making http request to Apiary."
        },
        "changeEmailTemplate": {
          "description": "Change email template.",
          "$ref": "EmailTemplate"
        },
        "delegatedProjectNumber": {
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "format": "int64",
          "type": "string"
        },
        "legacyResetPasswordTemplate": {
          "description": "Legacy reset password email template.",
          "$ref": "EmailTemplate"
        },
        "allowPasswordUser": {
          "description": "Whether to allow password user sign in or sign up.",
          "type": "boolean"
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user.",
          "type": "boolean"
        },
        "verifyEmailTemplate": {
          "description": "Verify email template.",
          "$ref": "EmailTemplate"
        },
        "resetPasswordTemplate": {
          "description": "Reset password email template.",
          "$ref": "EmailTemplate"
        }
      },
      "description": "Request to set the project configuration."
    },
    "IdentitytoolkitRelyingpartySetAccountInfoRequest": {
      "id": "IdentitytoolkitRelyingpartySetAccountInfoRequest",
      "properties": {
        "password": {
          "type": "string",
          "description": "The new password of the user."
        },
        "captchaChallenge": {
          "description": "The captcha challenge.",
          "type": "string"
        },
        "disableUser": {
          "description": "Whether to disable the user.",
          "type": "boolean"
        },
        "provider": {
          "description": "The associated IDPs of the user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "validSince": {
          "description": "Timestamp in seconds for valid login token.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The GITKit token of the authenticated user."
        },
        "captchaResponse": {
          "description": "Response to the captcha.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the user."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Privileged caller can update user with specified phone number."
        },
        "photoUrl": {
          "type": "string",
          "description": "The photo url of the user."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Mark the email as verified or not."
        },
        "deleteProvider": {
          "description": "The IDPs the user request to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customAttributes": {
          "type": "string",
          "description": "The custom attributes to be set in the user's id token."
        },
        "deleteAttribute": {
          "description": "The attributes users request to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "lastLoginAt": {
          "format": "int64",
          "description": "Last login timestamp.",
          "type": "string"
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Mark the user to upgrade to federated login."
        },
        "returnSecureToken": {
          "description": "Whether return sts id token and refresh token instead of gitkit token.",
          "type": "boolean"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration."
        },
        "instanceId": {
          "description": "Instance id token of the app.",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "description": "The timestamp when the account is created.",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code of the change email request."
        }
      },
      "description": "Request to set the account information.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartyResetPasswordRequest": {
      "id": "IdentitytoolkitRelyingpartyResetPasswordRequest",
      "properties": {
        "oldPassword": {
          "description": "The old password inputted by the user.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "newPassword": {
          "type": "string",
          "description": "The new password inputted by the user."
        },
        "oobCode": {
          "description": "The confirmation code.",
          "type": "string"
        }
      },
      "description": "Request to reset the password.",
      "type": "object"
    },
    "IdentitytoolkitRelyingpartySignOutUserRequest": {
      "type": "object",
      "description": "Request to sign out user.",
      "id": "IdentitytoolkitRelyingpartySignOutUserRequest",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The local ID of the user."
        },
        "instanceId": {
          "type": "string",
          "description": "Instance id token of the app."
        }
      }
    },
    "IdentitytoolkitRelyingpartyUploadAccountRequest": {
      "type": "object",
      "id": "IdentitytoolkitRelyingpartyUploadAccountRequest",
      "properties": {
        "signerKey": {
          "description": "The key for to hash the password.",
          "format": "byte",
          "type": "string"
        },
        "users": {
          "description": "The account info to be stored.",
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array"
        },
        "memoryCost": {
          "format": "int32",
          "description": "Memory cost for hash calculation. Used by scrypt similar algorithms.",
          "type": "integer"
        },
        "blockSize": {
          "type": "integer",
          "format": "int32"
        },
        "dkLen": {
          "type": "integer",
          "format": "int32"
        },
        "hashAlgorithm": {
          "description": "The password hash algorithm.",
          "type": "string"
        },
        "cpuMemCost": {
          "description": "The following 4 fields are for standard scrypt algorithm.",
          "format": "int32",
          "type": "integer"
        },
        "saltSeparator": {
          "type": "string",
          "format": "byte",
          "description": "The salt separator."
        },
        "allowOverwrite": {
          "type": "boolean",
          "description": "Whether allow overwrite existing account when user local_id exists."
        },
        "parallelization": {
          "type": "integer",
          "format": "int32"
        },
        "sanityCheck": {
          "description": "If true, backend will do sanity check(including duplicate email and federated id) when uploading account.",
          "type": "boolean"
        },
        "targetProjectId": {
          "description": "Specify which project (field value is actually project id) to operate. Only used when provided credential.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "description": "GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.",
          "type": "string"
        },
        "rounds": {
          "description": "Rounds for hash calculation. Used by scrypt and similar algorithms.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Request to upload user account in batch."
    },
    "ResetPasswordResponse": {
      "type": "object",
      "id": "ResetPasswordResponse",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email. If the out-of-band code is for email recovery, the user's original email."
        },
        "newEmail": {
          "description": "If the out-of-band code is for email recovery, the user's new email.",
          "type": "string"
        },
        "kind": {
          "description": "The fixed string \"identitytoolkit#ResetPasswordResponse\".",
          "default": "identitytoolkit#ResetPasswordResponse",
          "type": "string"
        },
        "requestType": {
          "description": "The request type.",
          "type": "string"
        }
      },
      "description": "Response of resetting the password."
    },
    "GetAccountInfoResponse": {
      "type": "object",
      "description": "Response of getting account information.",
      "id": "GetAccountInfoResponse",
      "properties": {
        "kind": {
          "default": "identitytoolkit#GetAccountInfoResponse",
          "description": "The fixed string \"identitytoolkit#GetAccountInfoResponse\".",
          "type": "string"
        },
        "users": {
          "items": {
            "$ref": "UserInfo"
          },
          "type": "array",
          "description": "The info of the users."
        }
      }
    },
    "SignupNewUserResponse": {
      "type": "object",
      "description": "Response of signing up new user, creating anonymous user or anonymous user reauth.",
      "id": "SignupNewUserResponse",
      "properties": {
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "email": {
          "description": "The email of the user.",
          "type": "string"
        },
        "idToken": {
          "description": "The Gitkit id token to login the newly sign up user.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "The RP local ID of the user."
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SignupNewUserResponse\".",
          "default": "identitytoolkit#SignupNewUserResponse"
        },
        "refreshToken": {
          "description": "If idToken is STS id token, then this field will be refresh token.",
          "type": "string"
        }
      }
    },
    "IdpConfig": {
      "type": "object",
      "id": "IdpConfig",
      "properties": {
        "experimentPercent": {
          "format": "int32",
          "description": "Percent of users who will be prompted/redirected federated login for this IDP.",
          "type": "integer"
        },
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "provider": {
          "type": "string",
          "description": "OAuth2 provider."
        },
        "whitelistedAudiences": {
          "description": "Whitelisted client IDs for audience check.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this IDP is enabled."
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        }
      },
      "description": "Template for a single idp configuration."
    },
    "SetAccountInfoResponse": {
      "type": "object",
      "description": "Respone of setting the account information.",
      "id": "SetAccountInfoResponse",
      "properties": {
        "providerUserInfo": {
          "description": "The user's profiles at the associated IdPs.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The user's display name at the IDP."
              },
              "providerId": {
                "description": "The IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.",
                "type": "string"
              },
              "federatedId": {
                "description": "User's identifier at IDP.",
                "type": "string"
              },
              "photoUrl": {
                "type": "string",
                "description": "The user's photo url at the IDP."
              }
            }
          }
        },
        "passwordHash": {
          "description": "The user's hashed password.",
          "format": "byte",
          "type": "string"
        },
        "photoUrl": {
          "description": "The photo url of the user.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "If email has been verified."
        },
        "email": {
          "type": "string",
          "description": "The email of the user."
        },
        "localId": {
          "description": "The local ID of the user.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be expiration time of STS id token in seconds.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#SetAccountInfoResponse\".",
          "default": "identitytoolkit#SetAccountInfoResponse"
        },
        "newEmail": {
          "description": "The new email the user attempts to change to.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If idToken is STS id token, then this field will be refresh token."
        },
        "displayName": {
          "description": "The name of the user.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "The Gitkit id token to login the newly sign up user."
        }
      }
    },
    "DeleteAccountResponse": {
      "description": "Respone of deleting account.",
      "id": "DeleteAccountResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#DeleteAccountResponse\".",
          "default": "identitytoolkit#DeleteAccountResponse"
        }
      },
      "type": "object"
    },
    "UploadAccountResponse": {
      "type": "object",
      "description": "Respone of uploading accounts in batch.",
      "id": "UploadAccountResponse",
      "properties": {
        "error": {
          "items": {
            "type": "object",
            "properties": {
              "index": {
                "type": "integer",
                "description": "The index of the malformed account, starting from 0.",
                "format": "int32"
              },
              "message": {
                "type": "string",
                "description": "Detailed error message for the account info."
              }
            }
          },
          "type": "array",
          "description": "The error encountered while processing the account info."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"identitytoolkit#UploadAccountResponse\".",
          "default": "identitytoolkit#UploadAccountResponse"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "/identitytoolkit/v3/relyingparty/",
  "ownerName": "Google",
  "id": "identitytoolkit:v3",
  "resources": {
    "relyingparty": {
      "methods": {
        "deleteAccount": {
          "httpMethod": "POST",
          "response": {
            "$ref": "DeleteAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.deleteAccount",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDeleteAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Delete user account.",
          "path": "deleteAccount"
        },
        "createAuthUri": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyCreateAuthUriRequest"
          },
          "id": "identitytoolkit.relyingparty.createAuthUri",
          "httpMethod": "POST",
          "response": {
            "$ref": "CreateAuthUriResponse"
          },
          "path": "createAuthUri",
          "description": "Creates the URI used by the IdP to authenticate the user."
        },
        "downloadAccount": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyDownloadAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "DownloadAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.downloadAccount",
          "description": "Batch download user accounts.",
          "path": "downloadAccount"
        },
        "verifyAssertion": {
          "description": "Verifies the assertion returned by the IdP.",
          "path": "verifyAssertion",
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyAssertionResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyAssertion",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyAssertionRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setProjectConfig": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySetProjectConfigResponse"
          },
          "id": "identitytoolkit.relyingparty.setProjectConfig",
          "description": "Set project configuration.",
          "path": "setProjectConfig"
        },
        "sendVerificationCode": {
          "description": "Send SMS verification code.",
          "path": "sendVerificationCode",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySendVerificationCodeResponse"
          },
          "id": "identitytoolkit.relyingparty.sendVerificationCode"
        },
        "signupNewUser": {
          "id": "identitytoolkit.relyingparty.signupNewUser",
          "httpMethod": "POST",
          "response": {
            "$ref": "SignupNewUserResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignupNewUserRequest"
          },
          "path": "signupNewUser",
          "description": "Signup new user."
        },
        "getProjectConfig": {
          "parameters": {
            "delegatedProjectNumber": {
              "type": "string",
              "location": "query",
              "description": "Delegated GCP project number of the request."
            },
            "projectNumber": {
              "type": "string",
              "location": "query",
              "description": "GCP project number of the request."
            }
          },
          "path": "getProjectConfig",
          "description": "Get project configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getProjectConfig",
          "httpMethod": "GET",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetProjectConfigResponse"
          }
        },
        "verifyPassword": {
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyPasswordResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyPassword",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Verifies the user entered password.",
          "path": "verifyPassword"
        },
        "emailLinkSignin": {
          "httpMethod": "POST",
          "response": {
            "$ref": "EmailLinkSigninResponse"
          },
          "id": "identitytoolkit.relyingparty.emailLinkSignin",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyEmailLinkSigninRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Reset password for a user.",
          "path": "emailLinkSignin"
        },
        "getRecaptchaParam": {
          "description": "Get recaptcha secure param.",
          "path": "getRecaptchaParam",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GetRecaptchaParamResponse"
          },
          "id": "identitytoolkit.relyingparty.getRecaptchaParam"
        },
        "getAccountInfo": {
          "description": "Returns the account info.",
          "path": "getAccountInfo",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyGetAccountInfoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GetAccountInfoResponse"
          },
          "id": "identitytoolkit.relyingparty.getAccountInfo"
        },
        "verifyCustomToken": {
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyCustomTokenResponse"
          },
          "id": "identitytoolkit.relyingparty.verifyCustomToken",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyCustomTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Verifies the developer asserted ID token.",
          "path": "verifyCustomToken"
        },
        "getOobConfirmationCode": {
          "description": "Get a code for user action confirmation.",
          "path": "getOobConfirmationCode",
          "httpMethod": "POST",
          "response": {
            "$ref": "GetOobConfirmationCodeResponse"
          },
          "id": "identitytoolkit.relyingparty.getOobConfirmationCode",
          "request": {
            "$ref": "Relyingparty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getPublicKeys": {
          "path": "publicKeys",
          "description": "Get token signing public key.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.relyingparty.getPublicKeys",
          "httpMethod": "GET",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyGetPublicKeysResponse"
          }
        },
        "signOutUser": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserRequest"
          },
          "id": "identitytoolkit.relyingparty.signOutUser",
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartySignOutUserResponse"
          },
          "path": "signOutUser",
          "description": "Sign out user."
        },
        "setAccountInfo": {
          "description": "Set account info for a user.",
          "path": "setAccountInfo",
          "request": {
            "$ref": "IdentitytoolkitRelyingpartySetAccountInfoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "SetAccountInfoResponse"
          },
          "id": "identitytoolkit.relyingparty.setAccountInfo"
        },
        "uploadAccount": {
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyUploadAccountRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "UploadAccountResponse"
          },
          "id": "identitytoolkit.relyingparty.uploadAccount",
          "description": "Batch upload existing user accounts.",
          "path": "uploadAccount"
        },
        "verifyPhoneNumber": {
          "path": "verifyPhoneNumber",
          "description": "Verifies ownership of a phone number and creates/updates the user account accordingly.",
          "id": "identitytoolkit.relyingparty.verifyPhoneNumber",
          "httpMethod": "POST",
          "response": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest"
          }
        },
        "resetPassword": {
          "path": "resetPassword",
          "description": "Reset password for a user.",
          "id": "identitytoolkit.relyingparty.resetPassword",
          "httpMethod": "POST",
          "response": {
            "$ref": "ResetPasswordResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "IdentitytoolkitRelyingpartyResetPasswordRequest"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "batchPath": "batch/identitytoolkit/v3"
}