{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState": {
      "description": "Enforcement states for reCAPTCHA protection.",
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState",
      "properties": {
        "provider": {
          "enum": [
            "RECAPTCHA_PROVIDER_UNSPECIFIED",
            "EMAIL_PASSWORD_PROVIDER",
            "PHONE_PROVIDER"
          ],
          "description": "The provider that has reCAPTCHA protection.",
          "enumDescriptions": [
            "reCAPTCHA provider not specified",
            "Email password provider",
            "Phone auth provider"
          ],
          "type": "string"
        },
        "enforcementState": {
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "description": "The reCAPTCHA enforcement state for the provider.",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Inheritance": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Inheritance",
      "properties": {
        "emailSendingConfig": {
          "description": "Whether to allow the tenant to inherit custom domains, email templates, and custom SMTP settings. If true, email sent from tenant will follow the project level email sending configurations. If false (by default), emails will go with the default settings with no customizations.",
          "type": "boolean"
        }
      },
      "description": "Settings that the tenants will inherit from project level."
    },
    "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo",
      "properties": {
        "verificationCode": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      },
      "description": "TOTP verification info for FinalizeMfaSignInRequest.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse",
      "properties": {
        "defaultSupportedIdpConfigs": {
          "type": "array",
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response for DefaultSupportedIdpConfigs"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest": {
      "type": "object",
      "description": "Finishes enrolling a second factor for the user.",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest",
      "properties": {
        "phoneVerificationInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo"
        },
        "totpVerificationInfo": {
          "description": "Verification information for TOTP.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name which is entered by users to distinguish between different second factors with same type or different type.",
          "type": "string"
        },
        "idToken": {
          "description": "Required. ID token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2PasswordPolicy": {
      "description": "Configuration for password policy.",
      "id": "GoogleCloudIdentitytoolkitV2PasswordPolicy",
      "properties": {
        "customStrengthOptions": {
          "description": "The custom strength options enforced by the password policy.",
          "$ref": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions"
        },
        "forceUpgradeOnSignin": {
          "description": "Users must have a password compliant with the password policy to sign-in.",
          "type": "boolean"
        },
        "enforcementState": {
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "description": "Output only. Which enforcement mode to use for the password policy.",
          "readOnly": true
        },
        "allowedNonAlphanumericCharacters": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Allowed characters which satisfy the non_alphanumeric requirement."
        },
        "schemaVersion": {
          "description": "Output only. schema version number for the password policy",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse",
      "properties": {
        "oauthIdpConfigs": {
          "type": "array",
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response for ListOAuthIdpConfigs",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Trigger": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Trigger",
      "properties": {
        "functionUri": {
          "description": "HTTP URI trigger for the Cloud Function.",
          "type": "string"
        },
        "updateTime": {
          "description": "When the trigger was changed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Synchronous Cloud Function with HTTP Trigger"
    },
    "GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
      "properties": {
        "memoryCost": {
          "description": "Output only. Memory cost for hash calculation. Used by scrypt and other similar password derivation algorithms. See https://tools.ietf.org/html/rfc7914 for explanation of field.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "algorithm": {
          "readOnly": true,
          "description": "Output only. Different password hash algorithms used in Identity Toolkit.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "type": "string",
          "enum": [
            "HASH_ALGORITHM_UNSPECIFIED",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ]
        },
        "signerKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Signer key in base64."
        },
        "rounds": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. How many rounds for hash calculation. Used by scrypt and other similar password derivation algorithms."
        },
        "saltSeparator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Non-printable character to be inserted between the salt and plain text password in base64."
        }
      },
      "description": "History information of the hash algorithm and key. Different accounts' passwords may be generated by different version.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsTemplate": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate",
      "properties": {
        "content": {
          "description": "Output only. The SMS's content. Can contain the following placeholders which will be replaced with the appropriate values: %APP_NAME% - For Android or iOS apps, the app's display name. For web apps, the domain hosting the application. %LOGIN_CODE% - The OOB code being sent in the SMS.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The template to use when sending an SMS."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse",
      "properties": {
        "idToken": {
          "description": "ID token for the authenticated user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        },
        "phoneAuthInfo": {
          "description": "Extra phone auth info, including android verification proof.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        }
      },
      "description": "FinalizeMfaSignIn response.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse",
      "properties": {},
      "description": "Response for InitializeIdentityPlatform. Empty for now."
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule": {
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule",
      "properties": {
        "startScore": {
          "description": "The start score (inclusive) for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the safest request (likely legitimate), whereas 1.0 indicates the riskiest request (likely toll fraud). See https://cloud.google.com/recaptcha-enterprise/docs/sms-fraud-detection#create-assessment-sms.",
          "type": "number",
          "format": "float"
        },
        "action": {
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score].",
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ],
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ]
        }
      },
      "description": "The config for a reCAPTCHA toll fraud assessment managed rule. Models a single interval [start_score, end_score]. The end_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientConfig": {
      "description": "Options related to how clients making requests on behalf of a project should be configured.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientConfig",
      "properties": {
        "apiKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API key that can be used when making requests for this project."
        },
        "permissions": {
          "description": "Configuration related to restricting a user's ability to affect their account.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Permissions"
        },
        "firebaseSubdomain": {
          "description": "Output only. Firebase subdomain.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig": {
      "description": "Configuration for settings related to email privacy and public visibility. Settings in this config protect against email enumeration, but may make some trade-offs in user-friendliness.",
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
      "properties": {
        "enableImprovedEmailPrivacy": {
          "description": "Migrates the project to a state of improved email privacy. For example certain error codes are more generic to avoid giving away information on whether the account exists. In addition, this disables certain features that as a side-effect allow user enumeration. Enabling this toggle disables the fetchSignInMethodsForEmail functionality and changing the user's email to an unverified email. It is recommended to remove dependence on this functionality and enable this toggle to improve user privacy.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse": {
      "type": "object",
      "description": "Response for ListInboundSamlConfigs",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "inboundSamlConfigs": {
          "type": "array",
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig",
      "properties": {
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The config's display name set by developers.",
          "type": "string"
        },
        "name": {
          "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "clientId": {
          "description": "The client id of an OAuth client.",
          "type": "string"
        },
        "issuer": {
          "description": "For OIDC Idps, the issuer identifier.",
          "type": "string"
        },
        "clientSecret": {
          "description": "The client secret of the OAuth client, to enable OIDC code flow.",
          "type": "string"
        },
        "responseType": {
          "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType"
        }
      },
      "description": "Configuration options for authenticating with an OAuth IDP.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpConfig",
      "properties": {
        "idpEntityId": {
          "description": "Unique identifier for all SAML entities.",
          "type": "string"
        },
        "ssoUrl": {
          "description": "URL to send Authentication request to.",
          "type": "string"
        },
        "idpCertificates": {
          "description": "IDP's public keys for verifying signature in the assertions.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate"
          },
          "type": "array"
        },
        "signRequest": {
          "description": "Indicates if outbounding SAMLRequest should be signed.",
          "type": "boolean"
        }
      },
      "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "type": "object",
      "description": "Configuration related to quotas.",
      "id": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
      "properties": {
        "signUpQuotaConfig": {
          "description": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig": {
      "type": "object",
      "description": "A pair of SAML RP-IDP configurations when the project acts as the relying party.",
      "id": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig",
      "properties": {
        "name": {
          "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "displayName": {
          "description": "The config's display name set by developers.",
          "type": "string"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "spConfig": {
          "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SpConfig"
        },
        "idpConfig": {
          "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpConfig"
        }
      }
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GoogleIamV1GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
      "properties": {
        "state": {
          "description": "Whether MultiFactor Authentication has been enabled for this project.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project",
            "Multi-factor authentication can be used for this project",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ]
        },
        "enabledProviders": {
          "type": "array",
          "description": "A list of usable second factors for this project.",
          "items": {
            "enumDescriptions": [
              "Illegal Provider, should not be used",
              "SMS is enabled as a second factor for this project."
            ],
            "type": "string",
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "PHONE_SMS"
            ]
          }
        },
        "providerConfigs": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
          },
          "description": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field.",
          "type": "array"
        }
      },
      "description": "Options related to MultiFactor Authentication for the project.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest": {
      "type": "object",
      "description": "Starts multi-factor sign-in by sending the multi-factor auth challenge.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest",
      "properties": {
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "description": "Required. MFA enrollment id from the user's list of current MFA enrollments.",
          "type": "string"
        },
        "phoneSignInInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig": {
      "type": "object",
      "description": "Additional config for SignInWithApple.",
      "id": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig",
      "properties": {
        "codeFlowConfig": {
          "description": "Additional config for Apple for code flow.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig"
        },
        "bundleIds": {
          "type": "array",
          "description": "A list of Bundle ID's usable by this project",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "description": "Options for email sending.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SendEmail",
      "properties": {
        "changeEmailTemplate": {
          "description": "Email template for change email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "verifyEmailTemplate": {
          "description": "Email template for verify email",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "legacyResetPasswordTemplate": {
          "description": "Reset password email template for legacy Firebase V1 app.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "callbackUri": {
          "description": "action url in email template.",
          "type": "string"
        },
        "dnsInfo": {
          "description": "Information of custom domain DNS verification.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2DnsInfo"
        },
        "method": {
          "description": "The method used for sending an email.",
          "enum": [
            "METHOD_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM_SMTP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Email method unspecified.",
            "Sending email on behalf of developer.",
            "Sending email using SMTP configuration provided by developers."
          ]
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "revertSecondFactorAdditionTemplate": {
          "description": "Email template for reverting second factor addition emails",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "smtp": {
          "description": "Use a custom SMTP relay",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Smtp"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SignInConfig": {
      "type": "object",
      "description": "Configuration related to local sign in methods.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SignInConfig",
      "properties": {
        "hashConfig": {
          "description": "Output only. Hash config information.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "readOnly": true
        },
        "allowDuplicateEmails": {
          "description": "Whether to allow more than one account to have the same email.",
          "type": "boolean"
        },
        "anonymous": {
          "description": "Configuration options related to authenticating an anonymous user.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Anonymous"
        },
        "email": {
          "description": "Configuration options related to authenticating a user by their email address.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Email"
        },
        "phoneNumber": {
          "description": "Configuration options related to authenticated a user by their phone number.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenResponse": {
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse",
      "properties": {},
      "description": "Response message for RevokeToken. Empty for now.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule": {
      "type": "object",
      "description": "The config for a reCAPTCHA managed rule. Models a single interval [start_score, end_score]. The start_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping.",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule",
      "properties": {
        "endScore": {
          "type": "number",
          "format": "float",
          "description": "The end score (inclusive) of the score range for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the riskiest request (likely a bot), whereas 1.0 indicates the safest request (likely a human). See https://cloud.google.com/recaptcha-enterprise/docs/interpret-assessment."
        },
        "action": {
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score].",
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ],
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey": {
      "type": "object",
      "description": "The reCAPTCHA key config. reCAPTCHA Enterprise offers different keys for different client platforms.",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey",
      "properties": {
        "type": {
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "WEB",
            "IOS",
            "ANDROID"
          ],
          "description": "The client's platform type.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is iOS.",
            "Client type is Android."
          ],
          "type": "string"
        },
        "key": {
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpCertificate": {
      "type": "object",
      "description": "The IDP's certificate data to verify the signature in the SAMLResponse issued by the IDP.",
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate",
      "properties": {
        "x509Certificate": {
          "description": "The x509 certificate",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2RequestLogging": {
      "type": "object",
      "description": "Configuration for logging requests made to this project to Stackdriver Logging",
      "id": "GoogleCloudIdentitytoolkitAdminV2RequestLogging",
      "properties": {
        "enabled": {
          "description": "Whether logging is enabled for this project or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy",
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest",
      "properties": {
        "totpVerificationInfo": {
          "description": "Proof of completion of the TOTP based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "description": "The MFA enrollment ID from the user's list of current MFA enrollments.",
          "type": "string"
        },
        "phoneVerificationInfo": {
          "description": "Proof of completion of the SMS based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo"
        },
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        }
      },
      "description": "Finalizes sign-in by verifying MFA challenge.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SpCertificate": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SpCertificate",
      "properties": {
        "x509Certificate": {
          "description": "Self-signed public certificate.",
          "type": "string"
        },
        "expiresAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the cert expiration instance."
        }
      },
      "description": "The SP's certificate data for IDP to verify the SAMLRequest generated by the SP.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "id": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
      "properties": {
        "quota": {
          "description": "Corresponds to the 'refill_token_count' field in QuotaServer config",
          "type": "string",
          "format": "int64"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When this quota will take effect"
        },
        "quotaDuration": {
          "description": "How long this quota will be active for",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Temporary quota increase / decrease",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaConfig": {
      "description": "Configuration for reCAPTCHA",
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaConfig",
      "properties": {
        "recaptchaEnforcementState": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
          },
          "description": "The reCAPTCHA enforcement state for the providers that GCIP supports reCAPTCHA protection."
        },
        "recaptchaKey": {
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\". This will only be returned when the reCAPTCHA enforcement state is AUDIT or ENFORCE on at least one of the reCAPTCHA providers.",
          "type": "string"
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider.",
          "type": "boolean"
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig",
      "properties": {
        "permissions": {
          "description": "Configuration related to restricting a user's ability to affect their account.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions"
        }
      },
      "description": "Options related to how clients making requests on behalf of a tenant should be configured.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2DnsInfo": {
      "type": "object",
      "description": "Information of custom domain DNS verification. By default, default_domain will be used. A custom domain can be configured using VerifyCustomDomain.",
      "id": "GoogleCloudIdentitytoolkitAdminV2DnsInfo",
      "properties": {
        "useCustomDomain": {
          "description": "Whether to use custom domain.",
          "type": "boolean"
        },
        "customDomain": {
          "description": "Output only. The applied verified custom domain.",
          "readOnly": true,
          "type": "string"
        },
        "pendingCustomDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The custom domain that's to be verified."
        },
        "customDomainState": {
          "description": "Output only. The current verification state of the custom domain. The custom domain will only be used once the domain verification is successful.",
          "readOnly": true,
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "The verification has not started.",
            "The verification is in progress.",
            "The verification failed.",
            "The verification succeeded and is ready to be applied."
          ]
        },
        "domainVerificationRequestTime": {
          "description": "Output only. The timestamp of initial request for the current domain verification.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2CustomStrengthOptions": {
      "description": "Custom strength options to enforce on user passwords.",
      "id": "GoogleCloudIdentitytoolkitV2CustomStrengthOptions",
      "properties": {
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "containsNumericCharacter": {
          "description": "The password must contain a number.",
          "type": "boolean"
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "maxPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum password length. No default max length"
        },
        "minPasswordLength": {
          "description": "Minimum password length. Range from 6 to 30",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowByDefault": {
      "description": "Defines a policy of allowing every region by default and adding disallowed regions to a disallow list.",
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
      "properties": {
        "disallowedRegions": {
          "description": "Two letter unicode region codes to disallow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "description": "Configuration for SMTP relay",
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp",
      "properties": {
        "port": {
          "description": "SMTP relay port",
          "type": "integer",
          "format": "int32"
        },
        "senderEmail": {
          "description": "Sender email for the SMTP relay",
          "type": "string"
        },
        "host": {
          "description": "SMTP relay host",
          "type": "string"
        },
        "password": {
          "description": "SMTP relay password",
          "type": "string"
        },
        "username": {
          "description": "SMTP relay username",
          "type": "string"
        },
        "securityMode": {
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ],
          "description": "SMTP security mode.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig",
      "properties": {
        "allowTenants": {
          "description": "Whether this project can have tenants or not.",
          "type": "boolean"
        },
        "defaultTenantLocation": {
          "description": "The default cloud parent org or folder that the tenant project should be created under. The parent resource name should be in the format of \"/\", such as \"folders/123\" or \"organizations/456\". If the value is not set, the tenant will be created under the same organization or folder as the agent project.",
          "type": "string"
        }
      },
      "description": "Configuration related to multi-tenant functionality."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo",
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        },
        "verificationCode": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      },
      "description": "Mfa request info specific to TOTP auth for FinalizeMfa.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions",
      "properties": {
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        }
      },
      "description": "Configuration related to restricting a user's ability to affect their account."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse": {
      "description": "FinalizeMfaEnrollment response.",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse",
      "properties": {
        "phoneAuthInfo": {
          "description": "Auxiliary auth info specific to phone auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        },
        "totpAuthInfo": {
          "description": "Auxiliary auth info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo"
        },
        "idToken": {
          "description": "ID token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token updated to reflect MFA enrollment.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions",
      "properties": {
        "maxPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum password length. No default max length"
        },
        "minPasswordLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum password length. Range from 6 to 30"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "containsNumericCharacter": {
          "description": "The password must contain a number.",
          "type": "boolean"
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        }
      },
      "description": "Custom strength options to enforce on user passwords."
    },
    "GoogleIamV1GetPolicyOptions": {
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GoogleIamV1GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailTemplate": {
      "description": "Email template. The subject and body fields can contain the following placeholders which will be replaced with the appropriate values: %LINK% - The link to use to redeem the send OOB code. %EMAIL% - The email where the email is being sent. %NEW_EMAIL% - The new email being set for the account (when applicable). %APP_NAME% - The Google Cloud project's display name. %DISPLAY_NAME% - The user's display name.",
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
      "properties": {
        "senderLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        },
        "bodyFormat": {
          "enum": [
            "BODY_FORMAT_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ],
          "description": "Email body format",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Plain text",
            "HTML"
          ],
          "type": "string"
        },
        "senderDisplayName": {
          "description": "Sender display name",
          "type": "string"
        },
        "body": {
          "description": "Email body",
          "type": "string"
        },
        "customized": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the body or subject of the email is customized."
        },
        "subject": {
          "description": "Subject of the email",
          "type": "string"
        },
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig": {
      "type": "object",
      "description": "Additional config for Apple for code flow.",
      "id": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig",
      "properties": {
        "teamId": {
          "description": "Apple Developer Team ID.",
          "type": "string"
        },
        "keyId": {
          "description": "Key ID for the private key.",
          "type": "string"
        },
        "privateKey": {
          "description": "Private key used for signing the client secret JWT.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2PhoneNumber": {
      "type": "object",
      "description": "Configuration options related to authenticated a user by their phone number.",
      "id": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber",
      "properties": {
        "testPhoneNumbers": {
          "description": "A map of that can be used for phone auth testing.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enabled": {
          "description": "Whether phone number auth is enabled for the project or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "type": "object",
      "description": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
      "properties": {
        "allowByDefault": {
          "description": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault"
        },
        "allowlistOnly": {
          "description": "A policy of only allowing regions by explicitly adding them to an allowlist.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Config": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Config",
      "properties": {
        "mobileLinksConfig": {
          "description": "Configuration for settings related to univeral links (iOS) and app links (Android).",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig"
        },
        "passwordPolicyConfig": {
          "description": "The project level password policy configuration.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
        },
        "mfa": {
          "description": "Configuration for this project's multi-factor authentication, including whether it is active and what factors can be used for the second factor",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        },
        "name": {
          "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\"",
          "readOnly": true,
          "type": "string"
        },
        "smsRegionConfig": {
          "description": "Configures which regions are enabled for SMS verification code sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
        },
        "defaultHostingSite": {
          "description": "Output only. Default Firebase hosting site name",
          "readOnly": true,
          "type": "string"
        },
        "notification": {
          "description": "Configuration related to sending notifications to users.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig"
        },
        "recaptchaConfig": {
          "description": "The project-level reCAPTCHA config.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
        },
        "blockingFunctions": {
          "description": "Configuration related to blocking functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig"
        },
        "multiTenant": {
          "description": "Configuration related to multi-tenant functionality.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig"
        },
        "subtype": {
          "readOnly": true,
          "description": "Output only. The subtype of this config.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "An Identity Platform project.",
            "A Firebase Authentication project."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "IDENTITY_PLATFORM",
            "FIREBASE_AUTH"
          ]
        },
        "signIn": {
          "description": "Configuration related to local sign in methods.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SignInConfig"
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientConfig"
        },
        "monitoring": {
          "description": "Configuration related to monitoring project activity.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
        },
        "authorizedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of domains authorized for OAuth redirects"
        },
        "autodeleteAnonymousUsers": {
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days.",
          "type": "boolean"
        },
        "quota": {
          "description": "Configuration related to quotas.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig"
        }
      },
      "description": "Represents an Identity Toolkit project."
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType",
      "properties": {
        "code": {
          "description": "If true, authorization code is returned from IdP's authorization endpoint.",
          "type": "boolean"
        },
        "idToken": {
          "description": "If true, ID token is returned from IdP's authorization endpoint.",
          "type": "boolean"
        },
        "token": {
          "description": "Do not use. The `token` response type is not supported at the moment.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported. See https://openid.net/specs/openid-connect-core-1_0.html#Authentication for a mapping of response type to OAuth 2.0 flow."
    },
    "GoogleCloudIdentitytoolkitAdminV2Permissions": {
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "id": "GoogleCloudIdentitytoolkitAdminV2Permissions",
      "properties": {
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly": {
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
      "properties": {
        "allowedRegions": {
          "type": "array",
          "description": "Two letter unicode region codes to allow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Defines a policy of only allowing regions by explicitly adding them to an allowlist.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenRequest": {
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest",
      "properties": {
        "token": {
          "description": "Required. The token to be revoked. If an authorization_code is passed in, the API will first exchange the code for access token and then revoke the token exchanged.",
          "type": "string"
        },
        "tokenType": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Token type is refresh_token.",
            "Token type is access_token.",
            "Token type is authorization_code."
          ],
          "description": "Required. The type of the token to be revoked.",
          "enum": [
            "TOKEN_TYPE_UNSPECIFIED",
            "REFRESH_TOKEN",
            "ACCESS_TOKEN",
            "CODE"
          ]
        },
        "idToken": {
          "description": "Required. A valid Identity Platform ID token to link the account. If there was a successful token revocation request on the account and no tokens are generated after the revocation, the duplicate requests will be ignored and returned immediately.",
          "type": "string"
        },
        "providerId": {
          "description": "Required. The idp provider for the token. Currently only supports Apple Idp. The format should be \"apple.com\".",
          "type": "string"
        },
        "redirectUri": {
          "description": "The redirect URI provided in the initial authorization request made by the client to the IDP. The URI must use the HTTPS protocol, include a domain name, and can't contain an IP address or localhost. Required if token_type is CODE.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        }
      },
      "description": "Request message for RevokeToken.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse",
      "properties": {
        "tenants": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
          },
          "description": "A list of tenants under the given agent project.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to get the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for ListTenants.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig",
      "properties": {
        "domain": {
          "type": "string",
          "enumDescriptions": [
            "Default value. The default domain is the Firebase Dynamic Link domain before the FDL deprecation and the hosting domain after the FDL deprecation.",
            "Use Firebase Dynamic Link domain as app link domain. Default value.",
            "Use hosting domain as app link domain."
          ],
          "description": "Open code in app domain to use for app links and universal links.",
          "enum": [
            "DOMAIN_UNSPECIFIED",
            "FIREBASE_DYNAMIC_LINK_DOMAIN",
            "HOSTING_DOMAIN"
          ]
        }
      },
      "description": "Configuration mobile links.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse",
      "properties": {
        "defaultSupportedIdps": {
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response for ListDefaultSupportedIdps"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest": {
      "description": "Sends MFA enrollment verification SMS for a user.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest",
      "properties": {
        "phoneEnrollmentInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        },
        "idToken": {
          "description": "Required. User's ID token.",
          "type": "string"
        },
        "totpEnrollmentInfo": {
          "description": "Sign-in info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo"
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig": {
      "type": "object",
      "description": "Configuration related to monitoring project activity.",
      "id": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
      "properties": {
        "requestLogging": {
          "description": "Configuration for logging requests made to this project to Stackdriver Logging",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RequestLogging"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials": {
      "description": "Indicates which credentials to pass to the registered Blocking Functions.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials",
      "properties": {
        "accessToken": {
          "description": "Whether to pass the user's OAuth identity provider's access token.",
          "type": "boolean"
        },
        "idToken": {
          "description": "Whether to pass the user's OIDC identity provider's ID token.",
          "type": "boolean"
        },
        "refreshToken": {
          "description": "Whether to pass the user's OAuth identity provider's refresh token.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Anonymous": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Anonymous",
      "properties": {
        "enabled": {
          "description": "Whether anonymous user auth is enabled for the project or not.",
          "type": "boolean"
        }
      },
      "description": "Configuration options related to authenticating an anonymous user."
    },
    "GoogleCloudIdentitytoolkitAdminV2NotificationConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig",
      "properties": {
        "sendEmail": {
          "description": "Options for email sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendEmail"
        },
        "sendSms": {
          "description": "Options for SMS sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendSms"
        },
        "defaultLocale": {
          "description": "Default locale used for email and SMS in IETF BCP 47 format.",
          "type": "string"
        }
      },
      "description": "Configuration related to sending notifications to users."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo": {
      "description": "Phone Verification info for a StartMfa response.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo",
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo": {
      "description": "App Verification info for a StartMfa request.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
      "properties": {
        "captchaResponse": {
          "description": "The reCAPTCHA Enterprise token provided by the reCAPTCHA client-side integration. Required when reCAPTCHA enterprise is enabled.",
          "type": "string"
        },
        "safetyNetToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token. A SafetyNet Token can be generated via the [SafetyNet Android Attestation API](https://developer.android.com/training/safetynet/attestation.html), with the Base64 encoding of the `phone_number` field as the nonce.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Required for enrollment. Phone number to be enrolled as MFA.",
          "type": "string"
        },
        "recaptchaVersion": {
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "type": "string"
        },
        "iosSecret": {
          "description": "iOS only. Secret delivered to iOS app via APNS.",
          "type": "string"
        },
        "playIntegrityToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token (or safety net token). A Play Integrity Token can be generated via the [PlayIntegrity API] (https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce.",
          "type": "string"
        },
        "recaptchaToken": {
          "description": "Web only. Recaptcha solution.",
          "type": "string"
        },
        "autoRetrievalInfo": {
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval.",
          "$ref": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo"
        },
        "iosReceipt": {
          "description": "iOS only. Receipt of successful app token validation with APNS.",
          "type": "string"
        },
        "clientType": {
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Required if Android verification proof is presented.",
          "type": "string"
        },
        "code": {
          "description": "User-entered verification code.",
          "type": "string"
        },
        "androidVerificationProof": {
          "description": "Android only. Uses for \"instant\" phone number verification though GmsCore.",
          "type": "string"
        }
      },
      "description": "Phone Verification info for a FinalizeMfa request.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo": {
      "description": "Mfa response info specific to TOTP auth for StartMfa.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo",
      "properties": {
        "periodSec": {
          "type": "integer",
          "format": "int32",
          "description": "Duration in seconds at which the verification code will change."
        },
        "sessionInfo": {
          "description": "An encoded string that represents the enrollment session.",
          "type": "string"
        },
        "finalizeEnrollmentTime": {
          "description": "The time by which the enrollment must finish.",
          "type": "string",
          "format": "google-datetime"
        },
        "sharedSecretKey": {
          "description": "A base 32 encoded string that represents the shared TOTP secret. The base 32 encoding is the one specified by [RFC4648#section-6](https://datatracker.ietf.org/doc/html/rfc4648#section-6). (This is the same as the base 32 encoding from [RFC3548#section-5](https://datatracker.ietf.org/doc/html/rfc3548#section-5).)",
          "type": "string"
        },
        "verificationCodeLength": {
          "description": "The length of the verification code that needs to be generated.",
          "type": "integer",
          "format": "int32"
        },
        "hashingAlgorithm": {
          "description": "The hashing algorithm used to generate the verification code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig": {
      "type": "object",
      "description": "The configuration for the password policy on the project.",
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
      "properties": {
        "passwordPolicyVersions": {
          "type": "array",
          "description": "Must be of length 1. Contains the strength attributes for the password policy.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
          }
        },
        "lastUpdateTime": {
          "description": "Output only. The last time the password policy on the project was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "passwordPolicyEnforcementState": {
          "enum": [
            "PASSWORD_POLICY_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "description": "Which enforcement mode to use for the password policy.",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ],
          "type": "string"
        },
        "forceUpgradeOnSignin": {
          "description": "Users must have a password compliant with the password policy to sign-in.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo": {
      "description": "The information required to auto-retrieve an SMS.",
      "id": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Tenant": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Tenant",
      "properties": {
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user authentication.",
          "type": "boolean"
        },
        "passwordPolicyConfig": {
          "description": "The tenant-level password policy config",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig"
        },
        "mobileLinksConfig": {
          "deprecated": true,
          "description": "Optional. Deprecated. Never launched. Configuration for settings related to univeral links (iOS) and app links (Android).",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MobileLinksConfig"
        },
        "enableEmailLinkSignin": {
          "description": "Whether to enable email link user authentication.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Display name of the tenant.",
          "type": "string"
        },
        "hashConfig": {
          "readOnly": true,
          "description": "Output only. Hash config information of a tenant for display on Pantheon. This can only be displayed on Pantheon to avoid the sensitive information to get accidentally leaked. Only returned in GetTenant response to restrict reading of this information. Requires firebaseauth.configs.getHashConfig permission on the agent project for returning this field.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig"
        },
        "recaptchaConfig": {
          "description": "The tenant-level reCAPTCHA config.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
        },
        "allowPasswordSignup": {
          "description": "Whether to allow email/password user authentication.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\""
        },
        "smsRegionConfig": {
          "description": "Configures which regions are enabled for SMS verification code sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "inheritance": {
          "description": "Specify the settings that the tenant could inherit.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Inheritance"
        },
        "testPhoneNumbers": {
          "description": "A map of pairs that can be used for MFA. The phone number should be in E.164 format (https://www.itu.int/rec/T-REC-E.164/) and a maximum of 10 pairs can be added (error will be thrown once exceeded).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "disableAuth": {
          "description": "Whether authentication is disabled for the tenant. If true, the users under the disabled tenant are not allowed to sign-in. Admins of the disabled tenant are not able to manage its users.",
          "type": "boolean"
        },
        "autodeleteAnonymousUsers": {
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days.",
          "type": "boolean"
        },
        "monitoring": {
          "description": "Configuration related to monitoring project activity.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig"
        },
        "mfaConfig": {
          "description": "The tenant-level configuration of MFA options.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
        }
      },
      "description": "A Tenant contains configuration for the tenant in a multi-tenant project."
    },
    "GoogleCloudIdentitytoolkitAdminV2ProviderConfig": {
      "type": "object",
      "description": "ProviderConfig describes the supported MFA providers along with their configurations.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig",
      "properties": {
        "totpProviderConfig": {
          "description": "TOTP MFA provider config for this project.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig"
        },
        "state": {
          "description": "Describes the state of the MultiFactor Authentication type.",
          "enum": [
            "MFA_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project.",
            "Multi-factor authentication can be used for this project.",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp",
      "properties": {
        "idpId": {
          "description": "Id the of Idp",
          "type": "string"
        },
        "description": {
          "description": "Description of the Idp",
          "type": "string"
        }
      },
      "description": "Standard Identity Toolkit-trusted IDPs."
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "description": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs.",
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig",
      "properties": {
        "clientSecret": {
          "description": "OAuth client secret.",
          "type": "string"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
          "type": "string"
        },
        "clientId": {
          "description": "OAuth client ID.",
          "type": "string"
        },
        "appleSignInConfig": {
          "description": "Additional config for Apple-based projects.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig"
        }
      },
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse": {
      "description": "StartMfaEnrollment response.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse",
      "properties": {
        "totpSessionInfo": {
          "description": "Enrollment response info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo"
        },
        "phoneSessionInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest": {
      "description": "Request for InitializeIdentityPlatform.",
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
      "properties": {
        "emailPasswordEnforcementState": {
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "description": "The reCAPTCHA config for email/password provider, containing the enforcement status. The email/password provider contains all email related user flows protected by reCAPTCHA.",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "type": "string"
        },
        "phoneEnforcementState": {
          "description": "The reCAPTCHA config for phone provider, containing the enforcement status. The phone provider contains all SMS related user flows protected by reCAPTCHA.",
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ]
        },
        "useSmsBotScore": {
          "description": "Whether to use the rCE bot score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        },
        "useAccountDefender": {
          "description": "Whether to use the account defender for reCAPTCHA assessment. Defaults to `false`.",
          "type": "boolean"
        },
        "managedRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
          },
          "description": "The managed rules for authentication action based on reCAPTCHA scores. The rules are shared across providers for a given tenant project."
        },
        "tollFraudManagedRules": {
          "description": "The managed rules for the authentication action based on reCAPTCHA toll fraud risk scores. Toll fraud managed rules will only take effect when the phone_enforcement_state is AUDIT or ENFORCE and use_sms_toll_fraud_protection is true.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaTollFraudManagedRule"
          },
          "type": "array"
        },
        "recaptchaKeys": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
          },
          "description": "The reCAPTCHA keys."
        },
        "useSmsTollFraudProtection": {
          "description": "Whether to use the rCE sms toll fraud protection risk score for reCAPTCHA phone provider. Can only be true when the phone_enforcement_state is AUDIT or ENFORCE.",
          "type": "boolean"
        }
      },
      "description": "The reCAPTCHA Enterprise integration config."
    },
    "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig",
      "properties": {
        "triggers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Trigger"
          },
          "description": "Map of Trigger to event type. Key should be one of the supported event types: \"beforeCreate\", \"beforeSignIn\""
        },
        "forwardInboundCredentials": {
          "description": "The user credentials to include in the JWT payload that is sent to the registered Blocking Functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials"
        }
      },
      "description": "Configuration related to Blocking Functions."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo",
      "properties": {},
[...]
