{
  "baseUrl": "https://integrations.googleapis.com/",
  "canonicalName": "Integrations",
  "id": "integrations:v1",
  "description": "",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "basePath": "",
  "title": "Application Integration API",
  "version_module": true,
  "rootUrl": "https://integrations.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "getClientmetadata": {
          "flatPath": "v1/projects/{projectsId}/clientmetadata",
          "httpMethod": "GET",
          "description": "Gets the metadata info for the requested client",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Required: The ID of the GCP Project to be provisioned.",
              "required": true
            }
          },
          "path": "v1/{+parent}/clientmetadata",
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaGetClientMetadataResponse"
          },
          "id": "integrations.projects.getClientmetadata"
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "getClients": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients",
              "response": {
                "$ref": "GoogleCloudIntegrationsV1alphaGetClientResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "path": "v1/{+parent}/clients",
              "parameterOrder": [
                "parent"
              ],
              "description": "Gets the client configuration for the given project and location resource name",
              "id": "integrations.projects.locations.getClients"
            },
            "generateOpenApiSpec": {
              "parameterOrder": [
                "name"
              ],
              "id": "integrations.projects.locations.generateOpenApiSpec",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:generateOpenApiSpec",
              "httpMethod": "POST",
              "path": "v1/{+name}:generateOpenApiSpec",
              "response": {
                "$ref": "GoogleCloudIntegrationsV1alphaGenerateOpenApiSpecResponse"
              },
              "request": {
                "$ref": "GoogleCloudIntegrationsV1alphaGenerateOpenApiSpecRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Project and location from which the integrations should be fetched. Format: projects/{project}/location/{location}",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Generate OpenAPI spec for the requested integrations and api triggers"
            }
          },
          "resources": {
            "certificates": {
              "methods": {
                "patch": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Output only. Auto generated primary key",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Field mask specifying the fields in the above Certificate that have been modified and need to be updated.",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "integrations.projects.locations.certificates.patch",
                  "description": "Updates the certificate by id. If new certificate file is updated, it will register with the trawler service, re-encrypt with cloud KMS and update the Spanner record. Other fields will directly update the Spanner record. Returns the Certificate.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "id": "integrations.projects.locations.certificates.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a certificates in the specified project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "description": "List all the certificates that match the filter. Restrict to certificate of current client only.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/certificates",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The size of entries in the response. If unspecified, defaults to 100.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The client, which owns this collection of Certificates."
                    },
                    "readMask": {
                      "description": "The mask which specifies fields that need to be returned in the Certificate's response.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The token returned in the previous response.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                      "type": "string"
                    }
                  },
                  "id": "integrations.projects.locations.certificates.list",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListCertificatesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Creates a new certificate. The certificate will be registered to the trawler service and will be encrypted using cloud KMS and stored in Spanner Returns the certificate.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/certificates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "integrations.projects.locations.certificates.create",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "description": "Required. The name that is associated with the Certificate.",
                      "location": "path"
                    }
                  },
                  "description": "Delete a certificate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "id": "integrations.projects.locations.certificates.delete",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "integrations": {
              "resources": {
                "versions": {
                  "methods": {
                    "delete": {
                      "id": "integrations.projects.locations.integrations.versions.delete",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The version to delete. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "Soft-deletes the integration. Changes the status of the integration to ARCHIVED. If the integration being ARCHIVED is tagged as \"HEAD\", the tag is removed from this snapshot and set to the previous non-ARCHIVED snapshot. The PUBLISH_REQUESTED, DUE_FOR_DELETION tags are removed too. This RPC throws an exception if the version being deleted is DRAFT, and if the `locked_by` user is not the same as the user performing the Delete. Audit fields updated include last_modified_timestamp, last_modified_by. Any existing lock is released when Deleting a integration. Currently, there is no undelete mechanism."
                    },
                    "unpublish": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:unpublish",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "description": "Required. The version to deactivate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}:unpublish",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "integrations.projects.locations.integrations.versions.unpublish",
                      "description": "Sets the status of the ACTIVE integration to SNAPSHOT with a new tag \"PREVIOUSLY_PUBLISHED\" after validating it. The \"HEAD\" and \"PUBLISH_REQUESTED\" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp."
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
                      },
                      "path": "v1/{+parent}/versions",
                      "parameters": {
                        "fieldMask": {
                          "description": "The field mask which specifies the particular data to be returned.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \">\" (greater), \"<\" (less than), >=\" (greater than or equal to), \"<=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`."
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "The results would be returned in order you specified here. Currently supported sort keys are: Descending sort order for \"last\\_modified\\_time\", \"created\\_time\", and \"snapshot\\_number\". Ascending sort order for `name`.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListIntegrationVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationVersions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration} Specifically, when parent equals: 1. projects//locations//integrations/, Meaning: \"List versions (with filter) for a particular integration\". 2. projects//locations//integrations/- Meaning: \"List versions (with filter) for a client within a particular region\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.list",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions",
                      "description": "Returns the list of all integration versions in the specified project."
                    },
                    "upload": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions:upload",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The version to upload. Format: projects/{project}/locations/{location}/integrations/{integration}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v1/{+parent}/versions:upload",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse"
                      },
                      "id": "integrations.projects.locations.integrations.versions.upload",
                      "description": "Uploads an integration. The content can be a previously downloaded integration. Performs the same function as CreateDraftIntegrationVersion, but accepts input in a string format, which holds the complete representation of the IntegrationVersion content."
                    },
                    "patch": {
                      "description": "Update a integration with a draft version in the specified project.",
                      "path": "v1/{+name}",
                      "id": "integrations.projects.locations.integrations.versions.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "parameters": {
                        "name": {
                          "description": "Output only. Auto-generated primary key.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "httpMethod": "PATCH"
                    },
                    "test": {
                      "path": "v1/{+name}:test",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:test",
                      "id": "integrations.projects.locations.integrations.versions.test",
                      "description": "Execute the integration in draft state",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Output only. Auto-generated primary key.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse"
                      }
                    },
                    "downloadJsonPackage": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadJsonPackageResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "files": {
                          "enum": [
                            "INTEGRATION_FILE_UNSPECIFIED",
                            "INTEGRATION",
                            "INTEGRATION_CONFIG_VARIABLES"
                          ],
                          "enumDescriptions": [
                            "Default value.",
                            "Integration file.",
                            "Integration Config variables."
                          ],
                          "description": "Optional. Integration related file to download like Integration Version, Config variable, testcase etc.",
                          "location": "query",
                          "repeated": true,
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. Integration version name Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "integrations.projects.locations.integrations.versions.downloadJsonPackage",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:downloadJsonPackage",
                      "description": "Downloads an Integration version package like IntegrationVersion,Integration Config etc. Retrieves the IntegrationVersion package for a given `integration_id` and returns the response as a JSON.",
                      "path": "v1/{+name}:downloadJsonPackage",
                      "httpMethod": "GET"
                    },
                    "publish": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The version to publish. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.publish",
                      "description": "This RPC throws an exception if the integration is in ARCHIVED or ACTIVE state. This RPC throws an exception if the version being published is DRAFT, and if the `locked_by` user is not the same as the user performing the Publish. Audit fields updated include last_published_timestamp, last_published_by, last_modified_timestamp, last_modified_by. Any existing lock is on this integration is released.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:publish",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.create",
                      "httpMethod": "POST",
                      "description": "Create a integration with a draft version in the specified project.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "path": "v1/{+parent}/versions",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration}",
                          "type": "string",
                          "location": "path"
                        },
                        "newIntegration": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Set this flag to true, if draft version is to be created for a brand new integration. False, if the request is for an existing integration. For backward compatibility reasons, even if this flag is set to `false` and no existing integration is found, a new draft integration will still be created."
                        },
                        "createSampleIntegrations": {
                          "description": "Optional. Optional. Indicates if sample workflow should be created.",
                          "location": "query",
                          "type": "boolean"
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The version to retrieve. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Get a integration in the specified project.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "id": "integrations.projects.locations.integrations.versions.get",
                      "httpMethod": "GET"
                    },
                    "download": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The version to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$"
                        },
                        "files": {
                          "repeated": true,
                          "location": "query",
                          "description": "Optional. Integration related file to download like Integration Json, Config variable, testcase etc.",
                          "enum": [
                            "INTEGRATION_FILE_UNSPECIFIED",
                            "INTEGRATION",
                            "INTEGRATION_CONFIG_VARIABLES"
                          ],
                          "enumDescriptions": [
                            "Default value.",
                            "Integration file.",
                            "Integration Config variables."
                          ],
                          "type": "string"
                        },
                        "fileFormat": {
                          "type": "string",
                          "enumDescriptions": [
                            "Unspecified file format",
                            "JSON File Format",
                            "YAML File Format"
                          ],
                          "location": "query",
                          "enum": [
                            "FILE_FORMAT_UNSPECIFIED",
                            "JSON",
                            "YAML"
                          ],
                          "description": "File format for download request."
                        }
                      },
                      "id": "integrations.projects.locations.integrations.versions.download",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:download",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:download",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Downloads an integration. Retrieves the `IntegrationVersion` for a given `integration_id` and returns the response as a string."
                    }
                  },
                  "resources": {
                    "testCases": {
                      "methods": {
                        "patch": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "parameters": {
                            "updateMask": {
                              "format": "google-fieldmask",
                              "type": "string",
                              "description": "Optional. Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                              "location": "query"
                            },
                            "name": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "description": "Output only. Auto-generated primary key."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "httpMethod": "PATCH",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "description": "Updates a test case",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "integrations.projects.locations.integrations.versions.testCases.patch",
                          "path": "v1/{+name}"
                        },
                        "delete": {
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "description": "Required. ID for the test case to be deleted",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "description": "Deletes a test case",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "id": "integrations.projects.locations.integrations.versions.testCases.delete",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "upload": {
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. The test case to upload. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases:upload",
                          "path": "v1/{+parent}/testCases:upload",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadTestCaseResponse"
                          },
                          "description": "Uploads a test case. The content can be a previously downloaded test case. Performs the same function as CreateTestCase, but accepts input in a string format, which holds the complete representation of the TestCase content.",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadTestCaseRequest"
                          },
                          "id": "integrations.projects.locations.integrations.versions.testCases.upload"
                        },
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The ID of the test case to retrieve",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$"
                            }
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Get a test case",
                          "id": "integrations.projects.locations.integrations.versions.testCases.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}",
                          "httpMethod": "GET"
                        },
                        "download": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Downloads a test case. Retrieves the `TestCase` for a given `test_case_id` and returns the response as a string.",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDownloadTestCaseResponse"
                          },
                          "path": "v1/{+name}:download",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}:download",
                          "id": "integrations.projects.locations.integrations.versions.testCases.download",
                          "parameters": {
                            "fileFormat": {
                              "enum": [
                                "FILE_FORMAT_UNSPECIFIED",
                                "JSON",
                                "YAML"
                              ],
                              "enumDescriptions": [
                                "Unspecified file format",
                                "JSON File Format",
                                "YAML File Format"
                              ],
                              "description": "File format for download request.",
                              "type": "string",
                              "location": "query"
                            },
                            "name": {
                              "description": "Required. The test case to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}/testCases/{test_case_id}",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$"
                            }
                          }
                        },
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases",
                          "description": "Lists all the test cases that satisfy the filters.",
                          "id": "integrations.projects.locations.integrations.versions.testCases.list",
                          "parameters": {
                            "readMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "type": "string",
                              "description": "Optional. The mask which specifies fields that need to be returned in the TestCases's response."
                            },
                            "orderBy": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The results would be returned in order specified here. Currently supported sort keys are: Descending sort order for \"last_modified_time\", \"created_time\". Ascending sort order for \"name\"."
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 100 test cases will be returned.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "description": "Required. The parent resource where this TestCase was created.",
                              "location": "path"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                              "location": "query"
                            },
                            "filter": {
                              "location": "query",
                              "description": "Optional. Standard filter field. Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+parent}/testCases",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListTestCasesResponse"
                          }
                        },
                        "execute": {
                          "id": "integrations.projects.locations.integrations.versions.testCases.execute",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCasesResponse"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases:execute",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCasesRequest"
                          },
                          "path": "v1/{+parent}/testCases:execute",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource whose test cases are executed. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "description": "Executes all test cases in an integration version."
                        },
                        "executeTest": {
                          "path": "v1/{+testCaseName}:executeTest",
                          "description": "Executes functional test",
                          "parameterOrder": [
                            "testCaseName"
                          ],
                          "id": "integrations.projects.locations.integrations.versions.testCases.executeTest",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCaseResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}:executeTest",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecuteTestCaseRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "testCaseName": {
                              "location": "path",
                              "required": true,
                              "description": "Required. Test case resource name",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$"
                            }
                          }
                        },
                        "takeoverEditLock": {
                          "id": "integrations.projects.locations.integrations.versions.testCases.takeoverEditLock",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The ID of test case to takeover edit lock. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}/testCases/{test_case_id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+/testCases/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases/{testCasesId}:takeoverEditLock",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTakeoverTestCaseEditLockRequest"
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}:takeoverEditLock",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Clear the lock fields and assign them to current user",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          }
                        },
                        "create": {
                          "id": "integrations.projects.locations.integrations.versions.testCases.create",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTestCase"
                          },
                          "parameters": {
                            "testCaseId": {
                              "description": "Required. Required",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "description": "Required. The parent resource where this test case will be created. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{integration_version}",
                              "type": "string",
                              "required": true
                            }
                          },
                          "path": "v1/{+parent}/testCases",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Creates a new test case",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}/testCases"
                        }
                      }
                    }
                  }
                },
                "executions": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}",
                      "description": "Get an execution in the specified project.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaExecution"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.integrations.executions.get"
                    },
                    "cancel": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}:cancel",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "integrations.projects.locations.integrations.executions.cancel",
                      "httpMethod": "POST",
                      "path": "v1/{+name}:cancel",
                      "description": "Cancellation of an execution and associated sub-executions. This will not cancel an IN_PROCESS or completed(SUCCESSFUL, FAILED or CANCELLED) executions.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse"
                      }
                    },
                    "download": {
                      "path": "v1/{+name}:download",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}:download",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Download the execution.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "integrations.projects.locations.integrations.executions.download",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadExecutionResponse"
                      }
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions",
                      "path": "v1/{+parent}/executions",
                      "httpMethod": "GET",
                      "description": "Lists the results of all the integration executions. The response includes the same information as the [execution log](https://cloud.google.com/application-integration/docs/viewing-logs) in the Integration UI.",
                      "id": "integrations.projects.locations.integrations.executions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "truncateParams": {
                          "deprecated": true,
                          "location": "query",
                          "description": "Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out.",
                          "type": "boolean"
                        },
                        "refreshAcl": {
                          "description": "Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "filterParams.taskStatuses": {
                          "type": "string",
                          "repeated": true,
                          "description": "List of possible task statuses.",
                          "location": "query",
                          "deprecated": true
                        },
                        "filterParams.parameterPairValue": {
                          "type": "string",
                          "description": "Param value in the key value pair filter.",
                          "location": "query"
                        },
                        "filterParams.parameterValue": {
                          "type": "string",
                          "description": "Param value. DEPRECATED. User parameter_pair_value instead.",
                          "location": "query",
                          "deprecated": true
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "description": "Required. The parent resource name of the integration execution.",
                          "required": true
                        },
                        "filterParams.parameterType": {
                          "description": "Param type.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Standard filter field, we support filtering on following fields: workflow_name: the name of the integration. CreateTimestamp: the execution created time. event_execution_state: the state of the executions. execution_id: the id of the execution. trigger_id: the id of the trigger. parameter_type: the type of the parameters involved in the execution. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterType support for HAS For example: \"parameter_type\" HAS \\\"string\\\" Also supports operators like AND, OR, NOT For example, trigger_id=\\\"id1\\\" AND workflow_name=\\\"testWorkflow\\\"",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The size of entries in the response."
                        },
                        "filterParams.eventStatuses": {
                          "type": "string",
                          "location": "query",
                          "repeated": true,
                          "description": "List of possible event statuses."
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. The results would be returned in order you specified here. Currently supporting \"create_time\".",
                          "location": "query"
                        },
                        "filterParams.parameterKey": {
                          "location": "query",
                          "description": "Param key. DEPRECATED. User parameter_pair_key instead.",
                          "type": "string",
                          "deprecated": true
                        },
                        "filterParams.startTime": {
                          "location": "query",
                          "format": "int64",
                          "type": "string",
                          "description": "Start timestamp."
                        },
                        "filterParams.parameterPairKey": {
                          "location": "query",
                          "type": "string",
                          "description": "Param key in the key value pair filter."
                        },
                        "filterParams.endTime": {
                          "format": "int64",
                          "location": "query",
                          "description": "End timestamp.",
                          "type": "string"
                        },
                        "readMask": {
                          "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in Execution will be filled and returned. Supported fields: trigger_id execution_method create_time update_time execution_details execution_details.state execution_details.execution_snapshots execution_details.attempt_stats execution_details.event_execution_snapshots_size request_parameters cloud_logging_details snapshot_number replay_info",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "filterParams.customFilter": {
                          "location": "query",
                          "description": "Optional user-provided custom filter.",
                          "type": "string"
                        },
                        "snapshotMetadataWithoutParams": {
                          "location": "query",
                          "description": "Optional. If true, the service will provide execution info with snapshot metadata only i.e. without event parameters.",
                          "type": "boolean"
                        },
                        "filterParams.executionId": {
                          "location": "query",
                          "description": "Execution id.",
                          "type": "string"
                        },
                        "filterParams.workflowName": {
                          "description": "Workflow name.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The token returned in the previous response."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "replay": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Next ID: 6 The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/integrations/{integration}/executions/{execution_id}",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaReplayExecutionResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "integrations.projects.locations.integrations.executions.replay",
                      "httpMethod": "POST",
                      "description": "Re-execute an existing execution, with same request parameters and execution strategy.",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaReplayExecutionRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}:replay",
                      "path": "v1/{+name}:replay"
                    }
                  },
                  "resources": {
                    "suspensions": {
                      "methods": {
                        "lift": {
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. The resource that the suspension belongs to. \"projects/{project}/locations/{location}/products/{product}/integrations/{integration}/executions/{execution}/suspensions/{suspenion}\" format.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:lift",
                          "id": "integrations.projects.locations.integrations.executions.suspensions.lift",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
                          },
                          "path": "v1/{+name}:lift",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "* Lifts suspension for the Suspension task. Fetch corresponding suspension with provided suspension Id, resolve suspension, and set up suspension result for the Suspension Task."
                        },
                        "resolve": {
                          "id": "integrations.projects.locations.integrations.executions.suspensions.resolve",
                          "path": "v1/{+name}:resolve",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:resolve",
                          "httpMethod": "POST",
                          "description": "* Resolves (lifts/rejects) any number of suspensions. If the integration is already running, only the status of the suspension is updated. Otherwise, the suspended integration will begin execution again.",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}/suspensions/{suspension_id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
                          }
                        },
                        "list": {
                          "description": "* Lists suspensions associated with a specific execution. Only those with permissions to resolve the relevant suspensions will be able to view them.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions",
                          "path": "v1/{+parent}/suspensions",
                          "parameters": {
                            "orderBy": {
                              "location": "query",
                              "description": "Field name to order by.",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Standard filter field.",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Token to retrieve a specific page."
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32",
                              "description": "Maximum number of entries in the response."
                            },
                            "parent": {
                              "type": "string",
                              "required": true,
                              "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "location": "path"
                            }
                          },
                          "id": "integrations.projects.locations.integrations.executions.suspensions.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "test": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:test",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.integrations.test",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "required": true,
                      "description": "Output only. Auto-generated primary key."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:test",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse"
                  },
                  "description": "Execute the integration in draft state"
                },
                "execute": {
                  "parameters": {
                    "name": {
                      "description": "Required. The integration resource name.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:execute",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:execute",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Executes integrations synchronously by passing the trigger id in the request body. The request is not returned until the requested executions are either fulfilled or experienced an error. If the integration name is not specified (passing `-`), all of the associated integration under the given trigger_id will be executed. Otherwise only the specified integration for the given `trigger_id` is executed. This is helpful for execution the integration from UI.",
                  "id": "integrations.projects.locations.integrations.execute"
                },
                "search": {
                  "path": "v1/{+parent}/integrations:search",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. The pre-filter to be applied to the search. This should follow the expressions defined in https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata. For example, \"status:ANY(\"ACTIVE\")\" will return all the resources whose status contains the \"ACTIVE\".",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `SearchIntegrations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchIntegrations` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 10 results will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer"
                    },
                    "query": {
                      "type": "string",
                      "description": "Required. The user query",
                      "location": "query"
                    },
                    "enableNaturalLanguageQueryUnderstanding": {
                      "description": "Optional. Whether to enable natural language query understanding.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Project and location from which the integrations should be listed. Format: projects/*/locations/*/resources/integrations",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations:search",
                  "id": "integrations.projects.locations.integrations.search",
                  "description": "Searches and returns the list of integrations in the specified project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSearchIntegrationsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "schedule": {
                  "id": "integrations.projects.locations.integrations.schedule",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:schedule",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
                  },
                  "description": "Schedules an integration for execution by passing the trigger id and the scheduled time in the request body.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The integration resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:schedule"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete the selected integration and all versions inside",
                  "parameters": {
                    "name": {
                      "description": "Required. The location resource of the request.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}",
                  "id": "integrations.projects.locations.integrations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE"
                },
                "executeEvent": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "description": "Required. The integration resource name. Format: projects/{gcp_project_id}/locations/{location}/integrations/{integration_id}"
                    },
                    "triggerId": {
                      "description": "Required. Id of the integration trigger config. The trigger_id is in the format: `integration_connector_trigger/projects/{gcp_project_id}/location/{location}/connections/{connection_name}/subscriptions/{subscription_name}`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "additionalProperties": {
                      "type": "any",
                      "description": "Properties of the object."
                    },
                    "type": "object"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:executeEvent",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteEventResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:executeEvent",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "integrations.projects.locations.integrations.executeEvent",
                  "description": "Executes an integration on receiving events from Integration Connector triggers, Eventarc or CPS Trigger. Input data to integration is received in body in json format"
                },
                "list": {
                  "description": "Returns the list of all integrations in the specified project.",
                  "path": "v1/{+parent}/integrations",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "description": "The results would be returned in order you specified here. Supported sort keys are: Descending sort order by \"last_modified_time\", \"created_time\", \"snapshot_number\". Ascending sort order by the integration name.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Project and location from which the integrations should be listed. Format: projects/{project}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The page token for the resquest.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \">\" (greater), \"<\" (less than), >=\" (greater than or equal to), \"<=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The page size for the resquest.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.integrations.list"
                }
              }
            },
            "cloudFunctions": {
              "methods": {
                "create": {
                  "id": "integrations.projects.locations.cloudFunctions.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudFunctions",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionResponse"
                  },
                  "path": "v1/{+parent}/cloudFunctions",
                  "description": "Creates a cloud function project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The project that the executed integration belongs to.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest"
                  }
                }
              }
            },
            "templates": {
              "methods": {
                "search": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates:search",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/templates:search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "enableNaturalLanguageQueryUnderstanding": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Whether to enable natural language query understanding."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Standard filter field to filter templates. client_id filter won't be supported and will restrict to templates belonging to the current client only. Return all templates of the current client if the filter is empty. Also supports operators like AND, OR, NOT For example, \"status=\\\"ACTIVE\\\""
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. The results would be returned in the order you specified here.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The token returned in the previous response.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The client, which owns this collection of Templates."
                    },
                    "query": {
                      "location": "query",
                      "description": "Optional. The search query that will be passed to Vertex search service.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The size of the response entries. If unspecified, defaults to 100. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The mask which specifies fields that need to be returned in the template's response."
                    }
                  },
                  "id": "integrations.projects.locations.templates.search",
                  "description": "Search templates based on user query and filters. This api would query the templates and return a list of templates based on the user filter.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSearchTemplatesResponse"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new template",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates",
                  "path": "v1/{+parent}/templates",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTemplate"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "id": "integrations.projects.locations.templates.create",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTemplate"
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTemplate"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. Field mask specifying the fields in the above template that have been modified and must be updated.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "description": "Identifier. Resource name of the template.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "integrations.projects.locations.templates.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "description": "Updates the template by given id.",
[...]
