{
  "kind": "discovery#restDescription",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "name": "keep",
  "title": "Google Keep API",
  "version_module": true,
  "baseUrl": "https://keep.googleapis.com/",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "resources": {
    "notes": {
      "methods": {
        "delete": {
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Name of the note to delete.",
              "pattern": "^notes/[^/]+$"
            }
          },
          "id": "keep.notes.delete",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/notes/{notesId}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note."
        },
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "id": "keep.notes.list",
          "parameters": {
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of results to return.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "flatPath": "v1/notes",
          "httpMethod": "GET",
          "path": "v1/notes"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Name of the resource.",
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "keep.notes.get",
          "response": {
            "$ref": "Note"
          },
          "description": "Gets a note.",
          "path": "v1/{+name}",
          "flatPath": "v1/notes/{notesId}",
          "httpMethod": "GET"
        },
        "create": {
          "parameters": {},
          "id": "keep.notes.create",
          "request": {
            "$ref": "Note"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "parameterOrder": [],
          "path": "v1/notes",
          "flatPath": "v1/notes",
          "httpMethod": "POST",
          "response": {
            "$ref": "Note"
          },
          "description": "Creates a new note."
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "httpMethod": "POST",
              "path": "v1/{+parent}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "id": "keep.notes.permissions.batchDelete",
              "parameters": {
                "parent": {
                  "pattern": "^notes/[^/]+$",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "batchCreate": {
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "keep.notes.permissions.batchCreate",
              "parameters": {
                "parent": {
                  "pattern": "^notes/[^/]+$",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "path": "v1/{+parent}/permissions:batchCreate",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "path": "v1/{+name}",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "httpMethod": "GET",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "useMediaDownloadService": true,
          "response": {
            "$ref": "Attachment"
          },
          "id": "keep.media.download",
          "parameters": {
            "name": {
              "description": "Required. The name of the attachment.",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "mimeType": {
              "location": "query",
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "supportsMediaDownload": true,
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        }
      }
    }
  },
  "version": "v1",
  "revision": "20260729",
  "schemas": {
    "Group": {
      "id": "Group",
      "description": "Describes a single Group.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      }
    },
    "BatchCreatePermissionsResponse": {
      "id": "BatchCreatePermissionsResponse",
      "description": "The response for creating permissions on a note.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      }
    },
    "Note": {
      "id": "Note",
      "description": "A single note.",
      "type": "object",
      "properties": {
        "attachments": {
          "description": "Output only. The attachments attached to this note.",
          "items": {
            "$ref": "Attachment"
          },
          "readOnly": true,
          "type": "array"
        },
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        },
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When this note was created."
        },
        "trashTime": {
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "trashed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted."
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "permissions": {
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "items": {
            "$ref": "Permission"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "Family": {
      "type": "object",
      "properties": {},
      "id": "Family",
      "description": "Describes a single Google Family."
    },
    "ListItem": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        },
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "items": {
            "$ref": "ListItem"
          },
          "type": "array"
        },
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        }
      },
      "id": "ListItem",
      "description": "A single list item in a note's list."
    },
    "BatchDeletePermissionsRequest": {
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "BatchDeletePermissionsRequest",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
    },
    "Permission": {
      "id": "Permission",
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "readOnly": true,
          "description": "Output only. The user to whom this role applies."
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes."
        },
        "group": {
          "readOnly": true,
          "$ref": "Group",
          "description": "Output only. The group to which this role applies."
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name."
        },
        "family": {
          "$ref": "Family",
          "readOnly": true,
          "description": "Output only. The Google Family to which this role applies."
        }
      }
    },
    "ListContent": {
      "type": "object",
      "properties": {
        "listItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      },
      "id": "ListContent",
      "description": "The list of items for a single list note."
    },
    "BatchCreatePermissionsRequest": {
      "id": "BatchCreatePermissionsRequest",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          }
        }
      }
    },
    "Attachment": {
      "id": "Attachment",
      "description": "An attachment to a note.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name;",
          "type": "string"
        },
        "mimeType": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The MIME types (IANA media types) in which the attachment is available."
        }
      }
    },
    "Section": {
      "id": "Section",
      "description": "The content of the note.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      },
      "id": "User",
      "description": "Describes a single user."
    },
    "CreatePermissionRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ListNotesResponse": {
      "type": "object",
      "properties": {
        "notes": {
          "description": "A page of notes.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      },
      "id": "ListNotesResponse",
      "description": "The response when listing a page of notes."
    },
    "TextContent": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "id": "TextContent",
      "description": "The block of text for a single text section or list item."
    }
  },
  "rootUrl": "https://keep.googleapis.com/",
  "ownerDomain": "google.com",
  "servicePath": "",
  "canonicalName": "Keep",
  "id": "keep:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software."
}