{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "batchPath": "batch",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://keep.googleapis.com/",
  "revision": "20260906",
  "discoveryVersion": "v1",
  "servicePath": "",
  "protocol": "rest",
  "ownerName": "Google",
  "name": "keep",
  "title": "Google Keep API",
  "baseUrl": "https://keep.googleapis.com/",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "version_module": true,
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Keep",
  "schemas": {
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "description": "The request to add a single permission on the note.",
      "type": "object"
    },
    "Family": {
      "id": "Family",
      "properties": {},
      "type": "object",
      "description": "Describes a single Google Family."
    },
    "ListItem": {
      "type": "object",
      "id": "ListItem",
      "description": "A single list item in a note's list.",
      "properties": {
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        },
        "childListItems": {
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "type": "array"
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        }
      }
    },
    "Note": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When this note was last modified."
        },
        "trashTime": {
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "type": "string",
          "readOnly": true
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When this note was created.",
          "readOnly": true,
          "type": "string"
        },
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        },
        "attachments": {
          "readOnly": true,
          "description": "Output only. The attachments attached to this note.",
          "items": {
            "$ref": "Attachment"
          },
          "type": "array"
        },
        "trashed": {
          "type": "boolean",
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        }
      },
      "id": "Note",
      "type": "object",
      "description": "A single note."
    },
    "BatchDeletePermissionsRequest": {
      "type": "object",
      "id": "BatchDeletePermissionsRequest",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "properties": {
        "names": {
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Section": {
      "type": "object",
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters."
        },
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        }
      },
      "id": "Section",
      "description": "The content of the note."
    },
    "Group": {
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      },
      "description": "Describes a single Group.",
      "type": "object",
      "id": "Group"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "User": {
      "id": "User",
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      },
      "type": "object"
    },
    "Attachment": {
      "properties": {
        "mimeType": {
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "The resource name;",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An attachment to a note.",
      "id": "Attachment"
    },
    "Permission": {
      "properties": {
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "family": {
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name.",
          "type": "string"
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ]
        },
        "user": {
          "$ref": "User",
          "readOnly": true,
          "description": "Output only. The user to whom this role applies."
        },
        "group": {
          "$ref": "Group",
          "readOnly": true,
          "description": "Output only. The group to which this role applies."
        }
      },
      "id": "Permission",
      "type": "object",
      "description": "A single permission on the note. Associates a `member` with a `role`."
    },
    "TextContent": {
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TextContent",
      "description": "The block of text for a single text section or list item."
    },
    "ListContent": {
      "id": "ListContent",
      "properties": {
        "listItems": {
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          }
        }
      },
      "description": "The list of items for a single list note.",
      "type": "object"
    },
    "ListNotesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        },
        "notes": {
          "type": "array",
          "description": "A page of notes.",
          "items": {
            "$ref": "Note"
          }
        }
      },
      "description": "The response when listing a page of notes.",
      "id": "ListNotesResponse"
    },
    "BatchCreatePermissionsResponse": {
      "description": "The response for creating permissions on a note.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "type": "object",
      "id": "BatchCreatePermissionsResponse"
    },
    "BatchCreatePermissionsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "id": "BatchCreatePermissionsRequest"
    }
  },
  "ownerDomain": "google.com",
  "id": "keep:v1",
  "resources": {
    "notes": {
      "methods": {
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "id": "keep.notes.delete",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "flatPath": "v1/notes/{notesId}",
          "parameters": {
            "name": {
              "description": "Required. Name of the note to delete.",
              "location": "path",
              "required": true,
              "pattern": "^notes/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}"
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "id": "keep.notes.get",
          "flatPath": "v1/notes/{notesId}",
          "httpMethod": "GET",
          "description": "Gets a note.",
          "response": {
            "$ref": "Note"
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^notes/[^/]+$",
              "description": "Required. Name of the resource.",
              "required": true,
              "location": "path"
            }
          }
        },
        "create": {
          "flatPath": "v1/notes",
          "parameterOrder": [],
          "request": {
            "$ref": "Note"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "response": {
            "$ref": "Note"
          },
          "description": "Creates a new note.",
          "id": "keep.notes.create",
          "httpMethod": "POST",
          "path": "v1/notes"
        },
        "list": {
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160)."
            },
            "pageToken": {
              "type": "string",
              "description": "The previous page's `next_page_token` field.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of results to return."
            }
          },
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "id": "keep.notes.list",
          "path": "v1/notes",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "flatPath": "v1/notes",
          "parameterOrder": []
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^notes/[^/]+$",
                  "required": true,
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "path": "v1/{+parent}/permissions:batchCreate",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "id": "keep.notes.permissions.batchCreate"
            },
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchDelete",
              "id": "keep.notes.permissions.batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "name": {
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the attachment.",
              "location": "path"
            },
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "path": "v1/{+name}",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "id": "keep.media.download",
          "supportsMediaDownload": true,
          "response": {
            "$ref": "Attachment"
          },
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  }
}