{
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "canonicalName": "Keep",
  "kind": "discovery#restDescription",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Group": {
      "description": "Describes a single Group.",
      "type": "object",
      "id": "Group",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      }
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "description": "The request to add a single permission on the note.",
      "type": "object"
    },
    "BatchDeletePermissionsRequest": {
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "type": "object",
      "id": "BatchDeletePermissionsRequest",
      "properties": {
        "names": {
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Permission": {
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "type": "object",
      "id": "Permission",
      "properties": {
        "family": {
          "description": "Output only. The Google Family to which this role applies.",
          "$ref": "Family",
          "readOnly": true
        },
        "user": {
          "readOnly": true,
          "description": "Output only. The user to whom this role applies.",
          "$ref": "User"
        },
        "group": {
          "description": "Output only. The group to which this role applies.",
          "$ref": "Group",
          "readOnly": true
        },
        "role": {
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "type": "string",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ]
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The resource name.",
          "type": "string",
          "readOnly": true
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        }
      }
    },
    "TextContent": {
      "id": "TextContent",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "description": "The block of text for a single text section or list item.",
      "type": "object"
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "properties": {
        "notes": {
          "description": "A page of notes.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      },
      "description": "The response when listing a page of notes.",
      "type": "object"
    },
    "BatchCreatePermissionsResponse": {
      "description": "The response for creating permissions on a note.",
      "type": "object",
      "id": "BatchCreatePermissionsResponse",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      }
    },
    "Note": {
      "description": "A single note.",
      "type": "object",
      "id": "Note",
      "properties": {
        "attachments": {
          "readOnly": true,
          "description": "Output only. The attachments attached to this note.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "permissions": {
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "type": "string"
        },
        "trashed": {
          "readOnly": true,
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "type": "boolean"
        },
        "trashTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When this note was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        }
      }
    },
    "User": {
      "description": "Describes a single user.",
      "type": "object",
      "id": "User",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      }
    },
    "Section": {
      "id": "Section",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      },
      "description": "The content of the note.",
      "type": "object"
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "type": "object",
      "id": "Attachment",
      "properties": {
        "name": {
          "description": "The resource name;",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BatchCreatePermissionsRequest": {
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "type": "object",
      "id": "BatchCreatePermissionsRequest",
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          }
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Family": {
      "description": "Describes a single Google Family.",
      "type": "object",
      "id": "Family",
      "properties": {}
    },
    "ListContent": {
      "description": "The list of items for a single list note.",
      "type": "object",
      "id": "ListContent",
      "properties": {
        "listItems": {
          "description": "The items in the list. The number of items must be less than 1,000.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        }
      }
    },
    "ListItem": {
      "description": "A single list item in a note's list.",
      "type": "object",
      "id": "ListItem",
      "properties": {
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        },
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        },
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        }
      }
    }
  },
  "rootUrl": "https://keep.googleapis.com/",
  "batchPath": "batch",
  "name": "keep",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "protocol": "rest",
  "id": "keep:v1",
  "resources": {
    "notes": {
      "methods": {
        "get": {
          "path": "v1/{+name}",
          "description": "Gets a note.",
          "id": "keep.notes.get",
          "response": {
            "$ref": "Note"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "description": "Required. Name of the resource.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/notes/{notesId}"
        },
        "list": {
          "response": {
            "$ref": "ListNotesResponse"
          },
          "id": "keep.notes.list",
          "path": "v1/notes",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of results to return.",
              "type": "integer"
            },
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/notes",
          "parameterOrder": []
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "id": "keep.notes.delete",
          "parameters": {
            "name": {
              "description": "Required. Name of the note to delete.",
              "type": "string",
              "location": "path",
              "pattern": "^notes/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/notes/{notesId}",
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "parameterOrder": [],
          "flatPath": "v1/notes",
          "request": {
            "$ref": "Note"
          },
          "id": "keep.notes.create",
          "path": "v1/notes",
          "description": "Creates a new note.",
          "response": {
            "$ref": "Note"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "parameters": {}
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "path": "v1/{+parent}/permissions:batchCreate",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "id": "keep.notes.permissions.batchCreate",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "type": "string",
                  "pattern": "^notes/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              }
            },
            "batchDelete": {
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^notes/[^/]+$",
                  "required": true,
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "id": "keep.notes.permissions.batchDelete",
              "path": "v1/{+parent}/permissions:batchDelete",
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "mimeType": {
              "location": "query",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "type": "string"
            },
            "name": {
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. The name of the attachment.",
              "type": "string"
            }
          },
          "id": "keep.media.download",
          "useMediaDownloadService": true,
          "path": "v1/{+name}",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "response": {
            "$ref": "Attachment"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}"
        }
      }
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "version_module": true,
  "title": "Google Keep API",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260713",
  "baseUrl": "https://keep.googleapis.com/",
  "servicePath": "",
  "version": "v1",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  }
}