{
  "kind": "discovery#restDescription",
  "id": "keep:v1",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "rootUrl": "https://keep.googleapis.com/",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "servicePath": "",
  "canonicalName": "Keep",
  "name": "keep",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "protocol": "rest",
  "title": "Google Keep API",
  "version_module": true,
  "baseUrl": "https://keep.googleapis.com/",
  "version": "v1",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "ownerDomain": "google.com",
  "resources": {
    "notes": {
      "methods": {
        "list": {
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "flatPath": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of results to return."
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160)."
            },
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "path": "v1/notes",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "id": "keep.notes.list"
        },
        "delete": {
          "id": "keep.notes.delete",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Name of the note to delete.",
              "pattern": "^notes/[^/]+$"
            }
          },
          "flatPath": "v1/notes/{notesId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note."
        },
        "create": {
          "request": {
            "$ref": "Note"
          },
          "description": "Creates a new note.",
          "flatPath": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "path": "v1/notes",
          "response": {
            "$ref": "Note"
          },
          "id": "keep.notes.create"
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "Note"
          },
          "id": "keep.notes.get",
          "description": "Gets a note.",
          "flatPath": "v1/notes/{notesId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Name of the resource.",
              "pattern": "^notes/[^/]+$"
            }
          }
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "location": "path",
                  "pattern": "^notes/[^/]+$"
                }
              },
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "response": {
                "$ref": "Empty"
              },
              "id": "keep.notes.permissions.batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchDelete"
            },
            "batchCreate": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^notes/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "id": "keep.notes.permissions.batchCreate",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "path": "v1/{+parent}/permissions:batchCreate",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the attachment.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^notes/[^/]+/attachments/[^/]+$"
            },
            "mimeType": {
              "location": "query",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "path": "v1/{+name}",
          "supportsMediaDownload": true,
          "parameterOrder": [
            "name"
          ],
          "id": "keep.media.download",
          "response": {
            "$ref": "Attachment"
          }
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "schemas": {
    "Family": {
      "description": "Describes a single Google Family.",
      "id": "Family",
      "properties": {},
      "type": "object"
    },
    "BatchCreatePermissionsRequest": {
      "id": "BatchCreatePermissionsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create."
        }
      },
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "type": "object"
    },
    "ListNotesResponse": {
      "type": "object",
      "description": "The response when listing a page of notes.",
      "id": "ListNotesResponse",
      "properties": {
        "notes": {
          "description": "A page of notes.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      }
    },
    "Note": {
      "description": "A single note.",
      "id": "Note",
      "properties": {
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "trashTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true
        },
        "trashed": {
          "type": "boolean",
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was created.",
          "readOnly": true
        },
        "permissions": {
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "attachments": {
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true,
          "items": {
            "$ref": "Attachment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CreatePermissionRequest": {
      "type": "object",
      "id": "CreatePermissionRequest",
      "properties": {
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        },
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        }
      },
      "description": "The request to add a single permission on the note."
    },
    "BatchDeletePermissionsRequest": {
      "type": "object",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "id": "BatchDeletePermissionsRequest",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      }
    },
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "description": "The response for creating permissions on a note.",
      "id": "BatchCreatePermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "Permissions created."
        }
      }
    },
    "TextContent": {
      "description": "The block of text for a single text section or list item.",
      "id": "TextContent",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Section": {
      "id": "Section",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        }
      },
      "description": "The content of the note.",
      "type": "object"
    },
    "Group": {
      "description": "Describes a single Group.",
      "id": "Group",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListItem": {
      "type": "object",
      "id": "ListItem",
      "properties": {
        "childListItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed."
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        },
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        }
      },
      "description": "A single list item in a note's list."
    },
    "User": {
      "description": "Describes a single user.",
      "id": "User",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListContent": {
      "id": "ListContent",
      "properties": {
        "listItems": {
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          },
          "type": "array"
        }
      },
      "description": "The list of items for a single list note.",
      "type": "object"
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "id": "Attachment",
      "properties": {
        "name": {
          "description": "The resource name;",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Permission": {
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "id": "Permission",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name.",
          "readOnly": true
        },
        "user": {
          "description": "Output only. The user to whom this role applies.",
          "readOnly": true,
          "$ref": "User"
        },
        "group": {
          "description": "Output only. The group to which this role applies.",
          "readOnly": true,
          "$ref": "Group"
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "role": {
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true
        },
        "family": {
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true
        }
      },
      "type": "object"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260715"
}