{
  "version": "v1",
  "title": "Google Keep API",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "ownerName": "Google",
  "baseUrl": "https://keep.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://keep.googleapis.com/",
  "version_module": true,
  "canonicalName": "Keep",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "Group": {
      "description": "Describes a single Group.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      },
      "id": "Group"
    },
    "ListNotesResponse": {
      "description": "The response when listing a page of notes.",
      "id": "ListNotesResponse",
      "type": "object",
      "properties": {
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes."
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      }
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "description": "The request to add a single permission on the note."
    },
    "Attachment": {
      "id": "Attachment",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The resource name;",
          "type": "string"
        }
      },
      "description": "An attachment to a note."
    },
    "BatchCreatePermissionsResponse": {
      "description": "The response for creating permissions on a note.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Permissions created."
        }
      },
      "id": "BatchCreatePermissionsResponse"
    },
    "BatchCreatePermissionsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create."
        }
      },
      "id": "BatchCreatePermissionsRequest",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made."
    },
    "Section": {
      "description": "The content of the note.",
      "id": "Section",
      "type": "object",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      }
    },
    "User": {
      "id": "User",
      "type": "object",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      },
      "description": "Describes a single user."
    },
    "ListContent": {
      "description": "The list of items for a single list note.",
      "type": "object",
      "properties": {
        "listItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      },
      "id": "ListContent"
    },
    "Family": {
      "description": "Describes a single Google Family.",
      "id": "Family",
      "type": "object",
      "properties": {}
    },
    "Note": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was last modified."
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "attachments": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Attachment"
          },
          "description": "Output only. The attachments attached to this note."
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "permissions": {
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService."
        },
        "trashTime": {
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was created."
        },
        "trashed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted."
        }
      },
      "id": "Note",
      "description": "A single note."
    },
    "Permission": {
      "id": "Permission",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name.",
          "readOnly": true,
          "type": "string"
        },
        "user": {
          "readOnly": true,
          "$ref": "User",
          "description": "Output only. The user to whom this role applies."
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "family": {
          "readOnly": true,
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies."
        },
        "group": {
          "description": "Output only. The group to which this role applies.",
          "readOnly": true,
          "$ref": "Group"
        },
        "role": {
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ]
        }
      },
      "description": "A single permission on the note. Associates a `member` with a `role`."
    },
    "ListItem": {
      "description": "A single list item in a note's list.",
      "type": "object",
      "properties": {
        "childListItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed."
        },
        "checked": {
          "description": "Whether this item has been checked off or not.",
          "type": "boolean"
        },
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        }
      },
      "id": "ListItem"
    },
    "TextContent": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "id": "TextContent",
      "description": "The block of text for a single text section or list item."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "BatchDeletePermissionsRequest": {
      "id": "BatchDeletePermissionsRequest",
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      },
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "id": "keep:v1",
  "resources": {
    "notes": {
      "methods": {
        "create": {
          "parameterOrder": [],
          "flatPath": "v1/notes",
          "httpMethod": "POST",
          "request": {
            "$ref": "Note"
          },
          "parameters": {},
          "response": {
            "$ref": "Note"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/notes",
          "description": "Creates a new note.",
          "id": "keep.notes.create"
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/notes/{notesId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Name of the resource.",
              "pattern": "^notes/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Note"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "path": "v1/{+name}",
          "description": "Gets a note.",
          "id": "keep.notes.get"
        },
        "list": {
          "flatPath": "v1/notes",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of results to return."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160)."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The previous page's `next_page_token` field."
            }
          },
          "id": "keep.notes.list",
          "path": "v1/notes",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error."
        },
        "delete": {
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Name of the note to delete.",
              "pattern": "^notes/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/{+name}",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "id": "keep.notes.delete",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/notes/{notesId}",
          "httpMethod": "DELETE"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "id": "keep.notes.permissions.batchDelete",
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "path": "v1/{+parent}/permissions:batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^notes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field."
                }
              }
            },
            "batchCreate": {
              "id": "keep.notes.permissions.batchCreate",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "path": "v1/{+parent}/permissions:batchCreate",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "pattern": "^notes/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "id": "keep.media.download",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Attachment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the attachment.",
              "location": "path",
              "type": "string",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "required": true
            },
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "parameterOrder": [
            "name"
          ],
          "useMediaDownloadService": true
        }
      }
    }
  },
  "revision": "20260608",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "keep",
  "batchPath": "batch",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software."
}