{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "baseUrl": "https://keep.googleapis.com/",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "resources": {
    "notes": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Note"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Note"
          },
          "id": "keep.notes.create",
          "parameters": {},
          "flatPath": "v1/notes",
          "parameterOrder": [],
          "path": "v1/notes",
          "description": "Creates a new note.",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/{+name}",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "flatPath": "v1/notes/{notesId}",
          "parameterOrder": [
            "name"
          ],
          "id": "keep.notes.delete",
          "parameters": {
            "name": {
              "pattern": "^notes/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Name of the note to delete."
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE"
        },
        "get": {
          "path": "v1/{+name}",
          "description": "Gets a note.",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "flatPath": "v1/notes/{notesId}",
          "parameterOrder": [
            "name"
          ],
          "id": "keep.notes.get",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^notes/[^/]+$",
              "description": "Required. Name of the resource.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Note"
          },
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "v1/notes",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "path": "v1/notes",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "id": "keep.notes.list",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "type": "string",
              "location": "query"
            }
          }
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "path": "v1/{+parent}/permissions:batchDelete",
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "id": "keep.notes.permissions.batchDelete",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^notes/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              }
            },
            "batchCreate": {
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchCreate",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "id": "keep.notes.permissions.batchCreate",
              "parameters": {
                "parent": {
                  "pattern": "^notes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field."
                }
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "id": "keep.media.download",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the attachment.",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "required": true
            },
            "mimeType": {
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Attachment"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "path": "v1/{+name}",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "useMediaDownloadService": true,
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "parameterOrder": [
            "name"
          ],
          "supportsMediaDownload": true
        }
      }
    }
  },
  "rootUrl": "https://keep.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "canonicalName": "Keep",
  "schemas": {
    "Family": {
      "description": "Describes a single Google Family.",
      "properties": {},
      "id": "Family",
      "type": "object"
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "type": "object",
      "description": "The request to add a single permission on the note.",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      }
    },
    "Permission": {
      "id": "Permission",
      "type": "object",
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "properties": {
        "name": {
          "description": "Output only. The resource name.",
          "readOnly": true,
          "type": "string"
        },
        "family": {
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true,
          "$ref": "Family"
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "role": {
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "type": "string"
        },
        "group": {
          "readOnly": true,
          "description": "Output only. The group to which this role applies.",
          "$ref": "Group"
        },
        "user": {
          "$ref": "User",
          "readOnly": true,
          "description": "Output only. The user to whom this role applies."
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        }
      }
    },
    "ListItem": {
      "id": "ListItem",
      "type": "object",
      "description": "A single list item in a note's list.",
      "properties": {
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        },
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        },
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "BatchCreatePermissionsResponse": {
      "id": "BatchCreatePermissionsResponse",
      "type": "object",
      "description": "The response for creating permissions on a note.",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      }
    },
    "Attachment": {
      "id": "Attachment",
      "type": "object",
      "description": "An attachment to a note.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name;"
        },
        "mimeType": {
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TextContent": {
      "description": "The block of text for a single text section or list item.",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "id": "TextContent",
      "type": "object"
    },
    "Section": {
      "description": "The content of the note.",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        }
      },
      "id": "Section",
      "type": "object"
    },
    "BatchCreatePermissionsRequest": {
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "type": "array",
          "description": "The request message specifying the resources to create."
        }
      },
      "id": "BatchCreatePermissionsRequest",
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "description": "Describes a single Group.",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      }
    },
    "Note": {
      "id": "Note",
      "type": "object",
      "description": "A single note.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true,
          "type": "string"
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "readOnly": true,
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "attachments": {
          "items": {
            "$ref": "Attachment"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The attachments attached to this note."
        },
        "trashTime": {
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When this note was last modified.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. When this note was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "type": "object",
      "description": "The response when listing a page of notes.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        },
        "notes": {
          "description": "A page of notes.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        }
      }
    },
    "ListContent": {
      "id": "ListContent",
      "type": "object",
      "description": "The list of items for a single list note.",
      "properties": {
        "listItems": {
          "description": "The items in the list. The number of items must be less than 1,000.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        }
      }
    },
    "User": {
      "id": "User",
      "type": "object",
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      }
    },
    "BatchDeletePermissionsRequest": {
      "id": "BatchDeletePermissionsRequest",
      "type": "object",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "protocol": "rest",
  "batchPath": "batch",
  "id": "keep:v1",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "version_module": true,
  "name": "keep",
  "title": "Google Keep API",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "revision": "20260617",
  "kind": "discovery#restDescription",
  "version": "v1",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  }
}