{
  "kind": "discovery#restDescription",
  "name": "keep",
  "discoveryVersion": "v1",
  "rootUrl": "https://keep.googleapis.com/",
  "basePath": "",
  "version_module": true,
  "resources": {
    "media": {
      "methods": {
        "download": {
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "mimeType": {
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query"
            },
            "name": {
              "description": "Required. The name of the attachment.",
              "required": true,
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "keep.media.download",
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "response": {
            "$ref": "Attachment"
          }
        }
      }
    },
    "notes": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/notes",
          "id": "keep.notes.list",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "path": "v1/notes",
          "parameters": {
            "filter": {
              "type": "string",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query"
            },
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of results to return.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListNotesResponse"
          }
        },
        "create": {
          "id": "keep.notes.create",
          "flatPath": "v1/notes",
          "parameterOrder": [],
          "request": {
            "$ref": "Note"
          },
          "parameters": {},
          "response": {
            "$ref": "Note"
          },
          "description": "Creates a new note.",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/notes",
          "httpMethod": "POST"
        },
        "delete": {
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^notes/[^/]+$",
              "description": "Required. Name of the note to delete."
            }
          },
          "flatPath": "v1/notes/{notesId}",
          "id": "keep.notes.delete",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE"
        },
        "get": {
          "description": "Gets a note.",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1/notes/{notesId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Note"
          },
          "parameters": {
            "name": {
              "description": "Required. Name of the resource.",
              "location": "path",
              "required": true,
              "pattern": "^notes/[^/]+$",
              "type": "string"
            }
          },
          "id": "keep.notes.get"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "pattern": "^notes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "id": "keep.notes.permissions.batchCreate",
              "path": "v1/{+parent}/permissions:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "httpMethod": "POST",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made."
            },
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "path": "v1/{+parent}/permissions:batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "parameterOrder": [
                "parent"
              ],
              "id": "keep.notes.permissions.batchDelete",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "pattern": "^notes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "id": "keep:v1",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "batchPath": "batch",
  "revision": "20260916",
  "title": "Google Keep API",
  "baseUrl": "https://keep.googleapis.com/",
  "schemas": {
    "ListNotesResponse": {
      "description": "The response when listing a page of notes.",
      "type": "object",
      "id": "ListNotesResponse",
      "properties": {
        "notes": {
          "description": "A page of notes.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      }
    },
    "BatchCreatePermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "description": "The response for creating permissions on a note.",
      "id": "BatchCreatePermissionsResponse",
      "type": "object"
    },
    "Attachment": {
      "properties": {
        "name": {
          "description": "The resource name;",
          "type": "string"
        },
        "mimeType": {
          "items": {
            "type": "string"
          },
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Attachment",
      "description": "An attachment to a note."
    },
    "Note": {
      "description": "A single note.",
      "id": "Note",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was created.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true
        },
        "permissions": {
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "readOnly": true
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "trashed": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When this note was last modified.",
          "type": "string"
        },
        "attachments": {
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        },
        "trashTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "type": "string"
        },
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        }
      },
      "type": "object"
    },
    "CreatePermissionRequest": {
      "type": "object",
      "description": "The request to add a single permission on the note.",
      "properties": {
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        },
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        }
      },
      "id": "CreatePermissionRequest"
    },
    "Permission": {
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "id": "Permission",
      "type": "object",
      "properties": {
        "group": {
          "$ref": "Group",
          "description": "Output only. The group to which this role applies.",
          "readOnly": true
        },
        "family": {
          "$ref": "Family",
          "readOnly": true,
          "description": "Output only. The Google Family to which this role applies."
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes."
        },
        "user": {
          "description": "Output only. The user to whom this role applies.",
          "$ref": "User",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name.",
          "type": "string",
          "readOnly": true
        },
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note."
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        }
      }
    },
    "Family": {
      "id": "Family",
      "type": "object",
      "description": "Describes a single Google Family.",
      "properties": {}
    },
    "BatchDeletePermissionsRequest": {
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "id": "BatchDeletePermissionsRequest",
      "type": "object",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "type": "array"
        }
      }
    },
    "Group": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      },
      "description": "Describes a single Group.",
      "id": "Group",
      "type": "object"
    },
    "User": {
      "type": "object",
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      },
      "id": "User"
    },
    "ListContent": {
      "properties": {
        "listItems": {
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListContent",
      "description": "The list of items for a single list note."
    },
    "ListItem": {
      "description": "A single list item in a note's list.",
      "id": "ListItem",
      "properties": {
        "childListItems": {
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "type": "array"
        },
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        },
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        }
      },
      "type": "object"
    },
    "TextContent": {
      "id": "TextContent",
      "description": "The block of text for a single text section or list item.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the note. The limits on this vary with the specific field using this type."
        }
      },
      "type": "object"
    },
    "Section": {
      "id": "Section",
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters."
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      },
      "type": "object",
      "description": "The content of the note."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "BatchCreatePermissionsRequest": {
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          }
        }
      },
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "type": "object",
      "id": "BatchCreatePermissionsRequest"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Keep",
  "version": "v1",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "ownerDomain": "google.com"
}