{
  "id": "keep:v1",
  "basePath": "",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "baseUrl": "https://keep.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "Note": {
      "id": "Note",
      "properties": {
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. When this note was last modified.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "trashTime": {
          "type": "string",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. When this note was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "attachments": {
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true,
          "items": {
            "$ref": "Attachment"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true
        },
        "permissions": {
          "type": "array",
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "readOnly": true,
          "items": {
            "$ref": "Permission"
          }
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        }
      },
      "description": "A single note.",
      "type": "object"
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "description": "The request to add a single permission on the note.",
      "type": "object"
    },
    "BatchCreatePermissionsRequest": {
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "description": "The request message specifying the resources to create.",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsRequest"
    },
    "Permission": {
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "type": "object",
      "id": "Permission",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name.",
          "readOnly": true
        },
        "user": {
          "description": "Output only. The user to whom this role applies.",
          "readOnly": true,
          "$ref": "User"
        },
        "family": {
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true
        },
        "group": {
          "$ref": "Group",
          "description": "Output only. The group to which this role applies.",
          "readOnly": true
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "type": "string",
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes."
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true
        }
      }
    },
    "Group": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      },
      "id": "Group",
      "type": "object",
      "description": "Describes a single Group."
    },
    "Family": {
      "properties": {},
      "id": "Family",
      "type": "object",
      "description": "Describes a single Google Family."
    },
    "User": {
      "id": "User",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      },
      "description": "Describes a single user.",
      "type": "object"
    },
    "TextContent": {
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "id": "TextContent",
      "type": "object",
      "description": "The block of text for a single text section or list item."
    },
    "BatchDeletePermissionsRequest": {
      "id": "BatchDeletePermissionsRequest",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "type": "object"
    },
    "Section": {
      "type": "object",
      "description": "The content of the note.",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      },
      "id": "Section"
    },
    "ListContent": {
      "properties": {
        "listItems": {
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          },
          "type": "array"
        }
      },
      "id": "ListContent",
      "type": "object",
      "description": "The list of items for a single list note."
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "properties": {
        "notes": {
          "description": "A page of notes.",
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        }
      },
      "description": "The response when listing a page of notes.",
      "type": "object"
    },
    "BatchCreatePermissionsResponse": {
      "description": "The response for creating permissions on a note.",
      "type": "object",
      "id": "BatchCreatePermissionsResponse",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "ListItem": {
      "type": "object",
      "description": "A single list item in a note's list.",
      "properties": {
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        },
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "items": {
            "$ref": "ListItem"
          },
          "type": "array"
        },
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        }
      },
      "id": "ListItem"
    },
    "Attachment": {
      "type": "object",
      "description": "An attachment to a note.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name;"
        },
        "mimeType": {
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Attachment"
    }
  },
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260617",
  "title": "Google Keep API",
  "batchPath": "batch",
  "rootUrl": "https://keep.googleapis.com/",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "canonicalName": "Keep",
  "ownerDomain": "google.com",
  "name": "keep",
  "resources": {
    "notes": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Note"
          },
          "flatPath": "v1/notes",
          "parameters": {},
          "request": {
            "$ref": "Note"
          },
          "id": "keep.notes.create",
          "path": "v1/notes",
          "httpMethod": "POST",
          "description": "Creates a new note.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ]
        },
        "get": {
          "response": {
            "$ref": "Note"
          },
          "flatPath": "v1/notes/{notesId}",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Name of the resource.",
              "pattern": "^notes/[^/]+$"
            }
          },
          "id": "keep.notes.get",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "description": "Gets a note.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ]
        },
        "list": {
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "path": "v1/notes",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameterOrder": [],
          "id": "keep.notes.list",
          "parameters": {
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return.",
              "format": "int32"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160)."
            }
          },
          "flatPath": "v1/notes",
          "response": {
            "$ref": "ListNotesResponse"
          }
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/notes/{notesId}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Name of the note to delete.",
              "pattern": "^notes/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "id": "keep.notes.delete"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "id": "keep.notes.permissions.batchDelete",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^notes/[^/]+$",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "path": "v1/{+parent}/permissions:batchDelete",
              "httpMethod": "POST"
            },
            "batchCreate": {
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "path": "v1/{+parent}/permissions:batchCreate",
              "httpMethod": "POST",
              "id": "keep.notes.permissions.batchCreate",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "location": "path",
                  "pattern": "^notes/[^/]+$"
                }
              },
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "useMediaDownloadService": true,
          "parameters": {
            "name": {
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "description": "Required. The name of the attachment.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "keep.media.download",
          "response": {
            "$ref": "Attachment"
          },
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "supportsMediaDownload": true
        }
      }
    }
  }
}