{
  "title": "Google Keep API",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Keep",
  "resources": {
    "notes": {
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchCreate",
              "parameters": {
                "parent": {
                  "pattern": "^notes/[^/]+$",
                  "type": "string",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "id": "keep.notes.permissions.batchCreate",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ]
            },
            "batchDelete": {
              "id": "keep.notes.permissions.batchDelete",
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchDelete",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^notes/[^/]+$",
                  "type": "string",
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        }
      },
      "methods": {
        "delete": {
          "id": "keep.notes.delete",
          "flatPath": "v1/notes/{notesId}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. Name of the note to delete.",
              "type": "string",
              "pattern": "^notes/[^/]+$"
            }
          }
        },
        "create": {
          "response": {
            "$ref": "Note"
          },
          "request": {
            "$ref": "Note"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "id": "keep.notes.create",
          "flatPath": "v1/notes",
          "path": "v1/notes",
          "parameters": {},
          "httpMethod": "POST",
          "description": "Creates a new note.",
          "parameterOrder": []
        },
        "get": {
          "description": "Gets a note.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^notes/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. Name of the resource."
            }
          },
          "id": "keep.notes.get",
          "flatPath": "v1/notes/{notesId}",
          "response": {
            "$ref": "Note"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ]
        },
        "list": {
          "id": "keep.notes.list",
          "flatPath": "v1/notes",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "parameterOrder": [],
          "path": "v1/notes",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The previous page's `next_page_token` field."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of results to return."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160)."
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the attachment.",
              "type": "string",
              "pattern": "^notes/[^/]+/attachments/[^/]+$"
            },
            "mimeType": {
              "location": "query",
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise."
            }
          },
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "supportsMediaDownload": true,
          "parameterOrder": [
            "name"
          ],
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "response": {
            "$ref": "Attachment"
          },
          "id": "keep.media.download",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}"
        }
      }
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "revision": "20260812",
  "baseUrl": "https://keep.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "name": "keep",
  "version": "v1",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "id": "keep:v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "basePath": "",
  "schemas": {
    "Attachment": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name;"
        },
        "mimeType": {
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Attachment",
      "description": "An attachment to a note."
    },
    "ListNotesResponse": {
      "type": "object",
      "properties": {
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes."
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      },
      "id": "ListNotesResponse",
      "description": "The response when listing a page of notes."
    },
    "ListContent": {
      "type": "object",
      "id": "ListContent",
      "description": "The list of items for a single list note.",
      "properties": {
        "listItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      }
    },
    "TextContent": {
      "type": "object",
      "id": "TextContent",
      "description": "The block of text for a single text section or list item.",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      }
    },
    "BatchCreatePermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsResponse",
      "description": "The response for creating permissions on a note."
    },
    "Permission": {
      "properties": {
        "role": {
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name.",
          "readOnly": true,
          "type": "string"
        },
        "user": {
          "description": "Output only. The user to whom this role applies.",
          "readOnly": true,
          "$ref": "User"
        },
        "group": {
          "readOnly": true,
          "$ref": "Group",
          "description": "Output only. The group to which this role applies."
        },
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "family": {
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true,
          "$ref": "Family"
        },
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "Permission",
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "type": "object"
    },
    "Note": {
      "id": "Note",
      "description": "A single note.",
      "properties": {
        "permissions": {
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "attachments": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Attachment"
          },
          "description": "Output only. The attachments attached to this note."
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was created."
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "trashTime": {
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService."
        }
      },
      "type": "object"
    },
    "Family": {
      "type": "object",
      "properties": {},
      "id": "Family",
      "description": "Describes a single Google Family."
    },
    "Group": {
      "id": "Group",
      "description": "Describes a single Group.",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "User": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      },
      "id": "User",
      "description": "Describes a single user."
    },
    "Section": {
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      },
      "id": "Section",
      "description": "The content of the note.",
      "type": "object"
    },
    "BatchCreatePermissionsRequest": {
      "id": "BatchCreatePermissionsRequest",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create."
        }
      },
      "type": "object"
    },
    "ListItem": {
      "type": "object",
      "properties": {
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        },
        "childListItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed."
        },
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        }
      },
      "id": "ListItem",
      "description": "A single list item in a note's list."
    },
    "BatchDeletePermissionsRequest": {
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      },
      "id": "BatchDeletePermissionsRequest",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "type": "object"
    },
    "CreatePermissionRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "rootUrl": "https://keep.googleapis.com/",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/"
}