{
  "discoveryVersion": "v1",
  "canonicalName": "Keep",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "ownerDomain": "google.com",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "version_module": true,
  "servicePath": "",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "revision": "20260824",
  "version": "v1",
  "batchPath": "batch",
  "resources": {
    "notes": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The previous page's `next_page_token` field."
            },
            "filter": {
              "location": "query",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return.",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListNotesResponse"
          },
          "id": "keep.notes.list",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "path": "v1/notes",
          "httpMethod": "GET",
          "flatPath": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ]
        },
        "create": {
          "parameters": {},
          "request": {
            "$ref": "Note"
          },
          "flatPath": "v1/notes",
          "id": "keep.notes.create",
          "parameterOrder": [],
          "path": "v1/notes",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Creates a new note.",
          "response": {
            "$ref": "Note"
          }
        },
        "delete": {
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^notes/[^/]+$",
              "type": "string",
              "description": "Required. Name of the note to delete.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "httpMethod": "DELETE",
          "id": "keep.notes.delete",
          "flatPath": "v1/notes/{notesId}"
        },
        "get": {
          "response": {
            "$ref": "Note"
          },
          "parameters": {
            "name": {
              "description": "Required. Name of the resource.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^notes/[^/]+$"
            }
          },
          "id": "keep.notes.get",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/notes/{notesId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets a note.",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^notes/[^/]+$"
                }
              },
              "id": "keep.notes.permissions.batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "path": "v1/{+parent}/permissions:batchCreate"
            },
            "batchDelete": {
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^notes/[^/]+$",
                  "required": true,
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "type": "string"
                }
              },
              "id": "keep.notes.permissions.batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "httpMethod": "POST",
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "path": "v1/{+parent}/permissions:batchDelete"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "id": "keep.media.download",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Attachment"
          },
          "supportsMediaDownload": true,
          "path": "v1/{+name}",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "required": true,
              "description": "Required. The name of the attachment."
            },
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "type": "string",
              "location": "query"
            }
          },
          "useMediaDownloadService": true
        }
      }
    }
  },
  "id": "keep:v1",
  "title": "Google Keep API",
  "schemas": {
    "ListItem": {
      "properties": {
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        },
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        },
        "childListItems": {
          "items": {
            "$ref": "ListItem"
          },
          "type": "array",
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed."
        }
      },
      "id": "ListItem",
      "type": "object",
      "description": "A single list item in a note's list."
    },
    "Family": {
      "description": "Describes a single Google Family.",
      "id": "Family",
      "properties": {},
      "type": "object"
    },
    "CreatePermissionRequest": {
      "description": "The request to add a single permission on the note.",
      "id": "CreatePermissionRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "type": "object"
    },
    "BatchCreatePermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "description": "The response for creating permissions on a note.",
      "id": "BatchCreatePermissionsResponse",
      "type": "object"
    },
    "ListNotesResponse": {
      "description": "The response when listing a page of notes.",
      "properties": {
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        }
      },
      "id": "ListNotesResponse",
      "type": "object"
    },
    "TextContent": {
      "description": "The block of text for a single text section or list item.",
      "id": "TextContent",
      "properties": {
        "text": {
          "description": "The text of the note. The limits on this vary with the specific field using this type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchDeletePermissionsRequest": {
      "id": "BatchDeletePermissionsRequest",
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
    },
    "ListContent": {
      "type": "object",
      "description": "The list of items for a single list note.",
      "id": "ListContent",
      "properties": {
        "listItems": {
          "items": {
            "$ref": "ListItem"
          },
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000."
        }
      }
    },
    "Note": {
      "type": "object",
      "description": "A single note.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService."
        },
        "attachments": {
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. When this note was last modified.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "body": {
          "$ref": "Section",
          "description": "The body of the note."
        },
        "permissions": {
          "type": "array",
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "readOnly": true,
          "items": {
            "$ref": "Permission"
          }
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "trashTime": {
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When this note was created.",
          "type": "string"
        }
      },
      "id": "Note"
    },
    "User": {
      "type": "object",
      "description": "Describes a single user.",
      "id": "User",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      }
    },
    "Group": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      },
      "id": "Group",
      "description": "Describes a single Group."
    },
    "Section": {
      "description": "The content of the note.",
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters."
        },
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        }
      },
      "id": "Section",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "BatchCreatePermissionsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create."
        }
      },
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "id": "BatchCreatePermissionsRequest"
    },
    "Attachment": {
      "type": "object",
      "id": "Attachment",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name;"
        },
        "mimeType": {
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "An attachment to a note."
    },
    "Permission": {
      "properties": {
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "type": "string",
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ]
        },
        "user": {
          "readOnly": true,
          "$ref": "User",
          "description": "Output only. The user to whom this role applies."
        },
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name.",
          "readOnly": true
        },
        "group": {
          "$ref": "Group",
          "description": "Output only. The group to which this role applies.",
          "readOnly": true
        },
        "family": {
          "$ref": "Family",
          "readOnly": true,
          "description": "Output only. The Google Family to which this role applies."
        }
      },
      "id": "Permission",
      "type": "object",
      "description": "A single permission on the note. Associates a `member` with a `role`."
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "name": "keep",
  "rootUrl": "https://keep.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "baseUrl": "https://keep.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        }
      }
    }
  }
}