{
  "version": "v1",
  "name": "keep",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260805",
  "protocol": "rest",
  "ownerName": "Google",
  "batchPath": "batch",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "id": "keep:v1",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "baseUrl": "https://keep.googleapis.com/",
  "schemas": {
    "ListItem": {
      "type": "object",
      "description": "A single list item in a note's list.",
      "properties": {
        "childListItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed."
        },
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        }
      },
      "id": "ListItem"
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "description": "The request to add a single permission on the note.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "type": "object"
    },
    "Group": {
      "type": "object",
      "description": "Describes a single Group.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      },
      "id": "Group"
    },
    "BatchCreatePermissionsRequest": {
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "type": "array",
          "description": "The request message specifying the resources to create."
        }
      },
      "id": "BatchCreatePermissionsRequest"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "Family": {
      "id": "Family",
      "description": "Describes a single Google Family.",
      "properties": {},
      "type": "object"
    },
    "BatchCreatePermissionsResponse": {
      "description": "The response for creating permissions on a note.",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsResponse",
      "type": "object"
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "properties": {
        "mimeType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available."
        },
        "name": {
          "type": "string",
          "description": "The resource name;"
        }
      },
      "id": "Attachment",
      "type": "object"
    },
    "Permission": {
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "properties": {
        "family": {
          "description": "Output only. The Google Family to which this role applies.",
          "readOnly": true,
          "$ref": "Family"
        },
        "name": {
          "description": "Output only. The resource name.",
          "readOnly": true,
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email."
        },
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true,
          "type": "boolean"
        },
        "role": {
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "type": "string",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ]
        },
        "user": {
          "description": "Output only. The user to whom this role applies.",
          "readOnly": true,
          "$ref": "User"
        },
        "group": {
          "$ref": "Group",
          "description": "Output only. The group to which this role applies.",
          "readOnly": true
        }
      },
      "id": "Permission",
      "type": "object"
    },
    "ListContent": {
      "type": "object",
      "id": "ListContent",
      "description": "The list of items for a single list note.",
      "properties": {
        "listItems": {
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          },
          "type": "array"
        }
      }
    },
    "Section": {
      "type": "object",
      "id": "Section",
      "description": "The content of the note.",
      "properties": {
        "text": {
          "$ref": "TextContent",
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters."
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      }
    },
    "BatchDeletePermissionsRequest": {
      "type": "object",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`"
        }
      },
      "id": "BatchDeletePermissionsRequest"
    },
    "Note": {
      "type": "object",
      "description": "A single note.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "createTime": {
          "description": "Output only. When this note was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "trashTime": {
          "type": "string",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "trashed": {
          "type": "boolean",
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true
        },
        "attachments": {
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true,
          "items": {
            "$ref": "Attachment"
          },
          "type": "array"
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "readOnly": true
        }
      },
      "id": "Note"
    },
    "TextContent": {
      "type": "object",
      "description": "The block of text for a single text section or list item.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the note. The limits on this vary with the specific field using this type."
        }
      },
      "id": "TextContent"
    },
    "ListNotesResponse": {
      "type": "object",
      "id": "ListNotesResponse",
      "description": "The response when listing a page of notes.",
      "properties": {
        "notes": {
          "description": "A page of notes.",
          "type": "array",
          "items": {
            "$ref": "Note"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        }
      }
    },
    "User": {
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      },
      "id": "User",
      "type": "object"
    }
  },
  "canonicalName": "Keep",
  "rootUrl": "https://keep.googleapis.com/",
  "ownerDomain": "google.com",
  "title": "Google Keep API",
  "resources": {
    "notes": {
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "id": "keep.notes.permissions.batchCreate",
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "httpMethod": "POST",
              "path": "v1/{+parent}/permissions:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "pattern": "^notes/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              }
            },
            "batchDelete": {
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "required": true,
                  "type": "string",
                  "pattern": "^notes/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/permissions:batchDelete",
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "httpMethod": "POST",
              "id": "keep.notes.permissions.batchDelete",
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "id": "keep.notes.create",
          "description": "Creates a new note.",
          "flatPath": "v1/notes",
          "httpMethod": "POST",
          "response": {
            "$ref": "Note"
          },
          "parameters": {},
          "request": {
            "$ref": "Note"
          },
          "path": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "parameterOrder": []
        },
        "get": {
          "response": {
            "$ref": "Note"
          },
          "httpMethod": "GET",
          "flatPath": "v1/notes/{notesId}",
          "description": "Gets a note.",
          "id": "keep.notes.get",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Name of the resource.",
              "required": true,
              "type": "string",
              "pattern": "^notes/[^/]+$",
              "location": "path"
            }
          }
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "flatPath": "v1/notes/{notesId}",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "id": "keep.notes.delete",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Name of the note to delete.",
              "pattern": "^notes/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "v1/notes",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "id": "keep.notes.list",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "parameters": {
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "The previous page's `next_page_token` field.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "path": "v1/notes"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "path": "v1/{+name}",
          "supportsMediaDownload": true,
          "parameters": {
            "name": {
              "description": "Required. The name of the attachment.",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "mimeType": {
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Attachment"
          },
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "id": "keep.media.download"
        }
      }
    }
  }
}