{
  "id": "keep:v1",
  "ownerName": "Google",
  "baseUrl": "https://keep.googleapis.com/",
  "title": "Google Keep API",
  "discoveryVersion": "v1",
  "schemas": {
    "User": {
      "id": "User",
      "description": "Describes a single user.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email."
        }
      },
      "type": "object"
    },
    "Family": {
      "id": "Family",
      "description": "Describes a single Google Family.",
      "properties": {},
      "type": "object"
    },
    "TextContent": {
      "description": "The block of text for a single text section or list item.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the note. The limits on this vary with the specific field using this type."
        }
      },
      "id": "TextContent",
      "type": "object"
    },
    "ListContent": {
      "type": "object",
      "id": "ListContent",
      "description": "The list of items for a single list note.",
      "properties": {
        "listItems": {
          "description": "The items in the list. The number of items must be less than 1,000.",
          "type": "array",
          "items": {
            "$ref": "ListItem"
          }
        }
      }
    },
    "ListItem": {
      "type": "object",
      "id": "ListItem",
      "description": "A single list item in a note's list.",
      "properties": {
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        },
        "childListItems": {
          "type": "array",
          "items": {
            "$ref": "ListItem"
          },
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed."
        },
        "text": {
          "description": "The text of this item. Length must be less than 1,000 characters.",
          "$ref": "TextContent"
        }
      }
    },
    "CreatePermissionRequest": {
      "description": "The request to add a single permission on the note.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`"
        },
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        }
      },
      "id": "CreatePermissionRequest",
      "type": "object"
    },
    "Note": {
      "type": "object",
      "id": "Note",
      "description": "A single note.",
      "properties": {
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true,
          "type": "string"
        },
        "trashTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`)."
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was created."
        },
        "permissions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner."
        },
        "title": {
          "description": "The title of the note. Length must be less than 1,000 characters.",
          "type": "string"
        },
        "attachments": {
          "description": "Output only. The attachments attached to this note.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was last modified."
        }
      }
    },
    "Permission": {
      "description": "A single permission on the note. Associates a `member` with a `role`.",
      "properties": {
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true,
          "type": "boolean"
        },
        "group": {
          "$ref": "Group",
          "readOnly": true,
          "description": "Output only. The group to which this role applies."
        },
        "email": {
          "type": "string",
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name."
        },
        "role": {
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ],
          "type": "string",
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes."
        },
        "user": {
          "readOnly": true,
          "$ref": "User",
          "description": "Output only. The user to whom this role applies."
        },
        "family": {
          "readOnly": true,
          "$ref": "Family",
          "description": "Output only. The Google Family to which this role applies."
        }
      },
      "id": "Permission",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "BatchCreatePermissionsRequest": {
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePermissionRequest"
          },
          "description": "The request message specifying the resources to create."
        }
      },
      "id": "BatchCreatePermissionsRequest"
    },
    "Section": {
      "description": "The content of the note.",
      "properties": {
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        },
        "list": {
          "description": "Used if this section's content is a list.",
          "$ref": "ListContent"
        }
      },
      "id": "Section",
      "type": "object"
    },
    "Group": {
      "type": "object",
      "id": "Group",
      "description": "Describes a single Group.",
      "properties": {
        "email": {
          "description": "The group email.",
          "type": "string"
        }
      }
    },
    "BatchDeletePermissionsRequest": {
      "type": "object",
      "id": "BatchDeletePermissionsRequest",
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
      "properties": {
        "names": {
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BatchCreatePermissionsResponse": {
      "description": "The response for creating permissions on a note.",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "id": "BatchCreatePermissionsResponse",
      "type": "object"
    },
    "Attachment": {
      "description": "An attachment to a note.",
      "properties": {
        "mimeType": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The MIME types (IANA media types) in which the attachment is available."
        },
        "name": {
          "type": "string",
          "description": "The resource name;"
        }
      },
      "id": "Attachment",
      "type": "object"
    },
    "ListNotesResponse": {
      "id": "ListNotesResponse",
      "description": "The response when listing a page of notes.",
      "properties": {
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A page of notes."
        },
        "nextPageToken": {
          "description": "Next page's `page_token` field.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "rootUrl": "https://keep.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "version": "v1",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "revision": "20260615",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Keep",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "name": "keep",
  "servicePath": "",
  "resources": {
    "notes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "v1/notes",
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "flatPath": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160)."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of results to return.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The previous page's `next_page_token` field.",
              "location": "query"
            }
          },
          "id": "keep.notes.list",
          "response": {
            "$ref": "ListNotesResponse"
          }
        },
        "create": {
          "description": "Creates a new note.",
          "path": "v1/notes",
          "httpMethod": "POST",
          "flatPath": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "id": "keep.notes.create",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "Note"
          },
          "response": {
            "$ref": "Note"
          }
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "pattern": "^notes/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Name of the note to delete."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "keep.notes.delete",
          "flatPath": "v1/notes/{notesId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note."
        },
        "get": {
          "flatPath": "v1/notes/{notesId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "description": "Gets a note.",
          "response": {
            "$ref": "Note"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Name of the resource.",
              "required": true,
              "location": "path",
              "pattern": "^notes/[^/]+$",
              "type": "string"
            }
          },
          "id": "keep.notes.get"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "id": "keep.notes.permissions.batchCreate",
              "parameters": {
                "parent": {
                  "pattern": "^notes/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "path": "v1/{+parent}/permissions:batchCreate",
              "httpMethod": "POST"
            },
            "batchDelete": {
              "parameters": {
                "parent": {
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^notes/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              },
              "id": "keep.notes.permissions.batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/permissions:batchDelete",
              "httpMethod": "POST",
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ]
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "supportsMediaDownload": true,
          "response": {
            "$ref": "Attachment"
          },
          "parameters": {
            "mimeType": {
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query"
            },
            "name": {
              "description": "Required. The name of the attachment.",
              "location": "path",
              "required": true,
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "keep.media.download",
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "useMediaDownloadService": true,
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "version_module": true
}