{
  "revision": "20260617",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/keep": {
          "description": "See, edit, create and permanently delete all your Google Keep data"
        },
        "https://www.googleapis.com/auth/keep.readonly": {
          "description": "View all your Google Keep data"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Google Keep API",
  "id": "keep:v1",
  "mtlsRootUrl": "https://keep.mtls.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "ListContent": {
      "description": "The list of items for a single list note.",
      "properties": {
        "listItems": {
          "type": "array",
          "description": "The items in the list. The number of items must be less than 1,000.",
          "items": {
            "$ref": "ListItem"
          }
        }
      },
      "id": "ListContent",
      "type": "object"
    },
    "BatchDeletePermissionsRequest": {
      "id": "BatchDeletePermissionsRequest",
      "type": "object",
      "properties": {
        "names": {
          "description": "Required. The names of the permissions to delete. Format: `notes/{note}/permissions/{permission}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The request to remove one or more permissions from a note. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note."
    },
    "BatchCreatePermissionsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "The request message specifying the resources to create.",
          "items": {
            "$ref": "CreatePermissionRequest"
          }
        }
      },
      "id": "BatchCreatePermissionsRequest",
      "type": "object",
      "description": "The request to add one or more permissions on the note. Currently, only the `WRITER` role may be specified. If adding a permission fails, then the entire request fails and no changes are made."
    },
    "User": {
      "description": "Describes a single user.",
      "id": "User",
      "type": "object",
      "properties": {
        "email": {
          "description": "The user's email.",
          "type": "string"
        }
      }
    },
    "Attachment": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name;"
        },
        "mimeType": {
          "type": "array",
          "description": "The MIME types (IANA media types) in which the attachment is available.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Attachment",
      "type": "object",
      "description": "An attachment to a note."
    },
    "TextContent": {
      "id": "TextContent",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the note. The limits on this vary with the specific field using this type."
        }
      },
      "description": "The block of text for a single text section or list item."
    },
    "ListNotesResponse": {
      "description": "The response when listing a page of notes.",
      "id": "ListNotesResponse",
      "type": "object",
      "properties": {
        "notes": {
          "type": "array",
          "description": "A page of notes.",
          "items": {
            "$ref": "Note"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page's `page_token` field."
        }
      }
    },
    "CreatePermissionRequest": {
      "id": "CreatePermissionRequest",
      "type": "object",
      "properties": {
        "permission": {
          "description": "Required. The permission to create. One of Permission.email, User.email or Group.email must be supplied.",
          "$ref": "Permission"
        },
        "parent": {
          "description": "Required. The parent note where this permission will be created. Format: `notes/{note}`",
          "type": "string"
        }
      },
      "description": "The request to add a single permission on the note."
    },
    "Note": {
      "properties": {
        "permissions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of permissions set on the note. Contains at least one entry for the note owner.",
          "items": {
            "$ref": "Permission"
          }
        },
        "trashed": {
          "description": "Output only. `true` if this note has been trashed. If trashed, the note is eventually deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "body": {
          "description": "The body of the note.",
          "$ref": "Section"
        },
        "trashTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was trashed. If `trashed`, the note is eventually deleted. If the note is not trashed, this field is not set (and the trashed field is `false`)."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was created."
        },
        "name": {
          "description": "Output only. The resource name of this note. See general note on identifiers in KeepService.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the note. Length must be less than 1,000 characters."
        },
        "updateTime": {
          "description": "Output only. When this note was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "attachments": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The attachments attached to this note.",
          "items": {
            "$ref": "Attachment"
          }
        }
      },
      "id": "Note",
      "type": "object",
      "description": "A single note."
    },
    "Section": {
      "description": "The content of the note.",
      "properties": {
        "list": {
          "$ref": "ListContent",
          "description": "Used if this section's content is a list."
        },
        "text": {
          "description": "Used if this section's content is a block of text. The length of the text content must be less than 20,000 characters.",
          "$ref": "TextContent"
        }
      },
      "id": "Section",
      "type": "object"
    },
    "ListItem": {
      "description": "A single list item in a note's list.",
      "properties": {
        "childListItems": {
          "description": "If set, list of list items nested under this list item. Only one level of nesting is allowed.",
          "items": {
            "$ref": "ListItem"
          },
          "type": "array"
        },
        "text": {
          "$ref": "TextContent",
          "description": "The text of this item. Length must be less than 1,000 characters."
        },
        "checked": {
          "type": "boolean",
          "description": "Whether this item has been checked off or not."
        }
      },
      "id": "ListItem",
      "type": "object"
    },
    "Group": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The group email."
        }
      },
      "id": "Group",
      "type": "object",
      "description": "Describes a single Group."
    },
    "Family": {
      "properties": {},
      "id": "Family",
      "type": "object",
      "description": "Describes a single Google Family."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "BatchCreatePermissionsResponse": {
      "description": "The response for creating permissions on a note.",
      "properties": {
        "permissions": {
          "description": "Permissions created.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      },
      "id": "BatchCreatePermissionsResponse",
      "type": "object"
    },
    "Permission": {
      "properties": {
        "email": {
          "description": "The email associated with the member. If set on create, the `email` field in the `User` or `Group` message must either be empty or match this field. On read, may be unset if the member does not have an associated email.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name.",
          "readOnly": true,
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether this member has been deleted. If the member is recovered, this value is set to false and the recovered member retains the role on the note.",
          "readOnly": true,
          "type": "boolean"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "An undefined role.",
            "A role granting full access. This role cannot be added or removed. Defined by the creator of the note.",
            "A role granting the ability to contribute content and modify note permissions."
          ],
          "description": "The role granted by this permission. The role determines the entity’s ability to read, write, and share notes.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "WRITER"
          ]
        },
        "group": {
          "readOnly": true,
          "description": "Output only. The group to which this role applies.",
          "$ref": "Group"
        },
        "user": {
          "$ref": "User",
          "description": "Output only. The user to whom this role applies.",
          "readOnly": true
        },
        "family": {
          "description": "Output only. The Google Family to which this role applies.",
          "$ref": "Family",
          "readOnly": true
        }
      },
      "id": "Permission",
      "type": "object",
      "description": "A single permission on the note. Associates a `member` with a `role`."
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "description": "The Google Keep API is used in an enterprise environment to manage Google Keep content and resolve issues identified by cloud security software.",
  "rootUrl": "https://keep.googleapis.com/",
  "canonicalName": "Keep",
  "baseUrl": "https://keep.googleapis.com/",
  "resources": {
    "notes": {
      "methods": {
        "create": {
          "request": {
            "$ref": "Note"
          },
          "flatPath": "v1/notes",
          "id": "keep.notes.create",
          "description": "Creates a new note.",
          "response": {
            "$ref": "Note"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1/notes",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ]
        },
        "get": {
          "description": "Gets a note.",
          "response": {
            "$ref": "Note"
          },
          "flatPath": "v1/notes/{notesId}",
          "id": "keep.notes.get",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^notes/[^/]+$",
              "type": "string",
              "description": "Required. Name of the resource.",
              "location": "path"
            }
          }
        },
        "list": {
          "id": "keep.notes.list",
          "flatPath": "v1/notes",
          "response": {
            "$ref": "ListNotesResponse"
          },
          "description": "Lists notes. Every list call returns a page of results with `page_size` as the upper bound of returned items. A `page_size` of zero allows the server to choose the upper bound. The ListNotesResponse contains at most `page_size` entries. If there are more things left to list, it provides a `next_page_token` value. (Page tokens are opaque values.) To get the next page of results, copy the result's `next_page_token` into the next request's `page_token`. Repeat until the `next_page_token` returned with a page of results is empty. ListNotes return consistent results in the face of concurrent changes, or signals that it cannot with an ABORTED error.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of results to return.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The previous page's `next_page_token` field.",
              "location": "query"
            },
            "filter": {
              "description": "Filter for list results. If no filter is supplied, the `trashed` filter is applied by default. Valid fields to filter by are: `create_time`, `update_time`, `trash_time`, and `trashed`. Filter syntax follows the [Google AIP filtering spec](https://aip.dev/160).",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ],
          "path": "v1/notes"
        },
        "delete": {
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^notes/[^/]+$",
              "required": true,
              "description": "Required. Name of the note to delete.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a note. Caller must have the `OWNER` role on the note to delete. Deleting a note removes the resource immediately and cannot be undone. Any collaborators will lose access to the note.",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/notes/{notesId}",
          "id": "keep.notes.delete"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchCreate": {
              "request": {
                "$ref": "BatchCreatePermissionsRequest"
              },
              "id": "keep.notes.permissions.batchCreate",
              "flatPath": "v1/notes/{notesId}/permissions:batchCreate",
              "response": {
                "$ref": "BatchCreatePermissionsResponse"
              },
              "description": "Creates one or more permissions on the note. Only permissions with the `WRITER` role may be created. If adding any permission fails, then the entire request fails and no changes are made.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^notes/[^/]+$",
                  "type": "string",
                  "description": "The parent resource shared by all Permissions being created. Format: `notes/{note}` If this is set, the parent field in the CreatePermission messages must either be empty or match this field.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "path": "v1/{+parent}/permissions:batchCreate"
            },
            "batchDelete": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^notes/[^/]+$",
                  "required": true,
                  "description": "The parent resource shared by all permissions being deleted. Format: `notes/{note}` If this is set, the parent of all of the permissions specified in the DeletePermissionRequest messages must match this field.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/keep"
              ],
              "path": "v1/{+parent}/permissions:batchDelete",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "keep.notes.permissions.batchDelete",
              "flatPath": "v1/notes/{notesId}/permissions:batchDelete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes one or more permissions on the note. The specified entities will immediately lose access. A permission with the `OWNER` role can't be removed. If removing a permission fails, then the entire request fails and no changes are made. Returns a 400 bad request error if a specified permission does not exist on the note.",
              "request": {
                "$ref": "BatchDeletePermissionsRequest"
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "supportsMediaDownload": true,
          "flatPath": "v1/notes/{notesId}/attachments/{attachmentsId}",
          "useMediaDownloadService": true,
          "id": "keep.media.download",
          "description": "Gets an attachment. To download attachment media via REST requires the alt=media query parameter. Returns a 400 bad request error if attachment media is not available in the requested MIME type.",
          "response": {
            "$ref": "Attachment"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the attachment.",
              "location": "path",
              "type": "string",
              "pattern": "^notes/[^/]+/attachments/[^/]+$",
              "required": true
            },
            "mimeType": {
              "type": "string",
              "description": "The IANA MIME type format requested. The requested MIME type must be one specified in the attachment.mime_type. Required when downloading attachment media and ignored otherwise.",
              "location": "query"
            }
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/keep",
            "https://www.googleapis.com/auth/keep.readonly"
          ]
        }
      }
    }
  },
  "name": "keep",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/workspace/keep/api",
  "version": "v1",
  "version_module": true,
  "basePath": "",
  "servicePath": ""
}