{
  "baseUrl": "https://language.googleapis.com/",
  "ownerName": "Google",
  "id": "language:v1",
  "documentationLink": "https://cloud.google.com/natural-language/",
  "title": "Cloud Natural Language API",
  "discoveryVersion": "v1",
  "rootUrl": "https://language.googleapis.com/",
  "schemas": {
    "XPSIntegratedGradientsAttribution": {
      "type": "object",
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
      "properties": {
        "stepCount": {
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "XPSIntegratedGradientsAttribution",
      "deprecated": true
    },
    "XPSResponseExplanationMetadataInputMetadata": {
      "type": "object",
      "id": "XPSResponseExplanationMetadataInputMetadata",
      "description": "Metadata of the input of a feature.",
      "properties": {
        "visualizationConfig": {
          "description": "Visualization configurations for image explanation.",
          "$ref": "XPSVisualization"
        },
        "inputTensorName": {
          "description": "Name of the input tensor for this model. Only needed in train response.",
          "type": "string"
        },
        "modality": {
          "description": "Modality of the feature. Valid values are: numeric, image. Defaults to numeric.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MODALITY_UNSPECIFIED",
            "NUMERIC",
            "IMAGE",
            "CATEGORICAL"
          ]
        }
      }
    },
    "XPSStructStats": {
      "description": "The data statistics of a series of STRUCT values.",
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "fieldStats": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSDataStats"
          },
          "description": "Map from a field name of the struct to data stats aggregated over series of all data in that field across all the structs."
        }
      },
      "id": "XPSStructStats",
      "type": "object"
    },
    "XPSConfusionMatrix": {
      "type": "object",
      "id": "XPSConfusionMatrix",
      "description": "Confusion matrix of the model running the classification.",
      "properties": {
        "category": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Category (mainly for segmentation). Set only for image segmentation models. Note: uCAIP Image Segmentation should use annotation_spec_id_token."
        },
        "sentimentLabel": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Sentiment labels used in the confusion matrix. Set only for text sentiment models. For AutoML Text Revamp, use `annotation_spec_id_token` instead and leave this field empty."
        },
        "row": {
          "type": "array",
          "items": {
            "$ref": "XPSConfusionMatrixRow"
          },
          "description": "Rows in the confusion matrix. The number of rows is equal to the size of `annotation_spec_id_token`. `row[i].value[j]` is the number of examples that have ground truth of the `annotation_spec_id_token[i]` and are predicted as `annotation_spec_id_token[j]` by the model being evaluated."
        },
        "annotationSpecIdToken": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For the following three repeated fields, only one is intended to be set. annotation_spec_id_token is preferable to be set. ID tokens of the annotation specs used in the confusion matrix."
        }
      }
    },
    "XPSSpeechEvaluationMetricsSubModelEvaluationMetric": {
      "type": "object",
      "properties": {
        "numSubstitutions": {
          "type": "integer",
          "format": "int32"
        },
        "sentenceAccuracy": {
          "description": "Below fields are used for debugging purposes",
          "type": "number",
          "format": "double"
        },
        "wer": {
          "description": "Word error rate (standard error metric used for speech recognition).",
          "type": "number",
          "format": "double"
        },
        "numUtterances": {
          "type": "integer",
          "format": "int32",
          "description": "Number of utterances used in the wer computation."
        },
        "numDeletions": {
          "type": "integer",
          "format": "int32"
        },
        "numInsertions": {
          "type": "integer",
          "format": "int32"
        },
        "isEnhancedModel": {
          "description": "If true then it means we have an enhanced version of the biasing models.",
          "type": "boolean"
        },
        "numWords": {
          "type": "integer",
          "format": "int32",
          "description": "Number of words over which the word error rate was computed."
        },
        "biasingModelType": {
          "description": "Type of the biasing model.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ],
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ]
        }
      },
      "id": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
    },
    "AnnotateTextResponse": {
      "description": "The text annotations response message.",
      "properties": {
        "sentences": {
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax.",
          "type": "array",
          "items": {
            "$ref": "Sentence"
          }
        },
        "language": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language field for more details.",
          "type": "string"
        },
        "moderationCategories": {
          "description": "Harmful and sensitive categories identified in the input document.",
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          }
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Categories identified in the input document."
        },
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "Token"
          },
          "description": "Tokens, along with their syntactic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_syntax."
        },
        "documentSentiment": {
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "$ref": "Sentiment"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities."
        }
      },
      "id": "AnnotateTextResponse",
      "type": "object"
    },
    "XPSTablesModelStructure": {
      "type": "object",
      "description": "A description of Tables model structure.",
      "properties": {
        "modelParameters": {
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParameters"
          },
          "description": "A list of models."
        }
      },
      "id": "XPSTablesModelStructure"
    },
    "XPSConfusionMatrixRow": {
      "type": "object",
      "id": "XPSConfusionMatrixRow",
      "description": "A row in the confusion matrix.",
      "properties": {
        "exampleCount": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Value of the specific cell in the confusion matrix. The number of values each row has (i.e. the length of the row) is equal to the length of the annotation_spec_id_token field."
        },
        "count": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Same as above except intended to represent other counts (for e.g. for segmentation this is pixel count). NOTE(params): Only example_count or count is set (oneoff does not support repeated fields unless they are embedded inside another message)."
        }
      }
    },
    "XPSStringStats": {
      "description": "The data statistics of a series of STRING values.",
      "properties": {
        "topUnigramStats": {
          "description": "The statistics of the top 20 unigrams, ordered by StringStats.UnigramStats.count.",
          "type": "array",
          "items": {
            "$ref": "XPSStringStatsUnigramStats"
          }
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "id": "XPSStringStats",
      "type": "object"
    },
    "XPSTranslationTrainResponse": {
      "id": "XPSTranslationTrainResponse",
      "description": "Train response for translation.",
      "properties": {
        "modelType": {
          "description": "Type of the model.",
          "type": "string",
          "enumDescriptions": [
            "Default",
            "Legacy model. Will be deprecated.",
            "Current model."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LEGACY",
            "CURRENT"
          ]
        }
      },
      "type": "object"
    },
    "XPSClassificationEvaluationMetrics": {
      "type": "object",
      "description": "Model evaluation metrics for classification problems. It can be used for image and video classification. Next tag: 9.",
      "properties": {
        "confusionMatrix": {
          "description": "Confusion matrix of the evaluation. Only set for MULTICLASS classification problems where number of annotation specs is no more than 10. Only set for model level evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "type": "array",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          }
        },
        "evaluatedExamplesCount": {
          "description": "The number of examples used for model evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "baseAuPrc": {
          "description": "The Area under precision recall curve metric based on priors.",
          "type": "number",
          "format": "float"
        },
        "auRoc": {
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation.",
          "type": "number",
          "format": "float"
        },
        "logLoss": {
          "description": "The Log Loss metric.",
          "type": "number",
          "format": "float"
        },
        "auPrc": {
          "description": "The Area under precision recall curve metric.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "XPSClassificationEvaluationMetrics"
    },
    "XPSTablesClassificationMetrics": {
      "type": "object",
      "id": "XPSTablesClassificationMetrics",
      "description": "Metrics for Tables classification problems.",
      "properties": {
        "curveMetrics": {
          "description": "Metrics building a curve.",
          "type": "array",
          "items": {
            "$ref": "XPSTablesClassificationMetricsCurveMetrics"
          }
        }
      }
    },
    "AnalyzeSentimentRequest": {
      "id": "AnalyzeSentimentRequest",
      "description": "The sentiment analysis request message.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "encodingType": {
          "description": "The encoding type used by the API to calculate sentence offsets.",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnnotateTextRequest": {
      "id": "AnnotateTextRequest",
      "description": "The request message for the text annotation API, which can perform multiple analysis types (sentiment, entities, and syntax) in one call.",
      "properties": {
        "encodingType": {
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string",
          "description": "The encoding type used by the API to calculate offsets."
        },
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "features": {
          "description": "Required. The enabled features.",
          "$ref": "AnnotateTextRequestFeatures"
        }
      },
      "type": "object"
    },
    "XPSArrayStats": {
      "type": "object",
      "description": "The data statistics of a series of ARRAY values.",
      "properties": {
        "memberStats": {
          "description": "Stats of all the values of all arrays, as if they were a single long series of data. The type depends on the element type of the array.",
          "$ref": "XPSDataStats"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "id": "XPSArrayStats"
    },
    "XPSVideoObjectTrackingTrainResponse": {
      "id": "XPSVideoObjectTrackingTrainResponse",
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "exportModelSpec": {
          "description": "Populated for AutoML request only.",
          "$ref": "XPSVideoExportModelSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        }
      },
      "type": "object"
    },
    "XPSTableSpec": {
      "type": "object",
      "properties": {
        "validRowCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of valid rows."
        },
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of rows in the table."
        },
        "timeColumnId": {
          "description": "The id of the time column.",
          "type": "integer",
          "format": "int32"
        },
        "importedDataSizeInBytes": {
          "description": "The total size of imported data of the table.",
          "type": "string",
          "format": "int64"
        },
        "columnSpecs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          },
          "description": "Mapping from column id to column spec."
        }
      },
      "id": "XPSTableSpec"
    },
    "XPSResponseExplanationSpec": {
      "description": "Specification of Model explanation. Feature-based XAI in AutoML Vision ICN is deprecated.",
      "properties": {
        "explanationType": {
          "description": "Explanation type. For AutoML Image Classification models, possible values are: * `image-integrated-gradients` * `image-xrai`",
          "type": "string"
        },
        "parameters": {
          "description": "Parameters that configure explaining of the Model's predictions.",
          "$ref": "XPSResponseExplanationParameters"
        },
        "metadata": {
          "description": "Metadata describing the Model's input and output for explanation.",
          "$ref": "XPSResponseExplanationMetadata"
        }
      },
      "id": "XPSResponseExplanationSpec",
      "deprecated": true,
      "type": "object"
    },
    "XPSVideoClassificationTrainResponse": {
      "type": "object",
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSVideoClassificationTrainResponse"
    },
    "XPSStructType": {
      "type": "object",
      "description": "`StructType` defines the DataType-s of a STRUCT type.",
      "properties": {
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSDataType"
          },
          "description": "Unordered map of struct field names to their data types."
        }
      },
      "id": "XPSStructType"
    },
    "XPSResponseExplanationParameters": {
      "deprecated": true,
      "type": "object",
      "id": "XPSResponseExplanationParameters",
      "properties": {
        "integratedGradientsAttribution": {
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
          "$ref": "XPSIntegratedGradientsAttribution"
        },
        "xraiAttribution": {
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead.",
          "$ref": "XPSXraiAttribution"
        }
      }
    },
    "XPSTrackMetricsEntryConfidenceMetricsEntry": {
      "type": "object",
      "description": "Metrics for a single confidence threshold. Next tag: 6.",
      "properties": {
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "Output only. The confidence threshold value used to compute the metrics."
        },
        "boundingBoxIou": {
          "type": "number",
          "format": "float",
          "description": "Output only. Bounding box intersection-over-union precision. Measures how well the bounding boxes overlap between each other (e.g. complete overlap or just barely above iou_threshold)."
        },
        "trackingRecall": {
          "type": "number",
          "format": "float",
          "description": "Output only. Tracking recall."
        },
        "mismatchRate": {
          "description": "Output only. Mismatch rate, which measures the tracking consistency, i.e. correctness of instance ID continuity.",
          "type": "number",
          "format": "float"
        },
        "trackingPrecision": {
          "description": "Output only. Tracking precision.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "XPSTrackMetricsEntryConfidenceMetricsEntry"
    },
    "XPSTablesConfidenceMetricsEntry": {
      "id": "XPSTablesConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "precision": {
          "description": "Precision = #true positives / (#true positives + #false positives).",
          "type": "number",
          "format": "double"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "double",
          "description": "The confidence threshold value used to compute the metrics."
        },
        "truePositiveRate": {
          "description": "TPR = #true positives / (#true positives + #false negatvies)",
          "type": "number",
          "format": "double"
        },
        "f1Score": {
          "type": "number",
          "format": "double",
          "description": "The harmonic mean of recall and precision. (2 * precision * recall) / (precision + recall)"
        },
        "falsePositiveCount": {
          "description": "False positive count.",
          "type": "string",
          "format": "int64"
        },
        "falseNegativeCount": {
          "type": "string",
          "format": "int64",
          "description": "False negative count."
        },
        "falsePositiveRate": {
          "description": "FPR = #false positives / (#false positives + #true negatives)",
          "type": "number",
          "format": "double"
        },
        "recall": {
          "description": "Recall = #true positives / (#true positives + #false negatives).",
          "type": "number",
          "format": "double"
        },
        "trueNegativeCount": {
          "type": "string",
          "format": "int64",
          "description": "True negative count."
        },
        "truePositiveCount": {
          "type": "string",
          "format": "int64",
          "description": "True positive count."
        }
      },
      "type": "object"
    },
    "XPSEvaluationMetricsSet": {
      "type": "object",
      "description": "Specifies location of model evaluation metrics.",
      "properties": {
        "evaluationMetrics": {
          "description": "Inline EvaluationMetrics - should be relatively small. For passing large quantities of exhaustive metrics, use file_spec.",
          "type": "array",
          "items": {
            "$ref": "XPSEvaluationMetrics"
          }
        },
        "fileSpec": {
          "description": "File spec containing evaluation metrics of a model, must point to RecordIO file(s) of intelligence.cloud.automl.xps.EvaluationMetrics messages.",
          "$ref": "XPSFileSpec"
        },
        "numEvaluationMetrics": {
          "type": "string",
          "format": "int64",
          "description": "Number of the evaluation metrics (usually one per label plus overall)."
        }
      },
      "id": "XPSEvaluationMetricsSet"
    },
    "XPSCoreMlFormat": {
      "type": "object",
      "id": "XPSCoreMlFormat",
      "description": "A model format used for iOS mobile devices.",
      "properties": {}
    },
    "XPSXpsOperationMetadata": {
      "id": "XPSXpsOperationMetadata",
      "properties": {
        "exampleCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. XPS server can opt to provide example count of the long running operation (e.g. training, data importing, batch prediction)."
        },
        "videoTrainingOperationMetadata": {
          "$ref": "XPSVideoTrainingOperationMetadata"
        },
        "videoBatchPredictOperationMetadata": {
          "$ref": "XPSVideoBatchPredictOperationMetadata"
        },
        "tablesTrainingOperationMetadata": {
          "$ref": "XPSTablesTrainingOperationMetadata"
        },
        "reportingMetrics": {
          "description": "Metrics for the operation. By the time the operation is terminated (whether succeeded or failed) as returned from XPS, AutoML BE assumes the metrics are finalized. AutoML BE transparently posts the metrics to Chemist if it's not empty, regardless of the response content or error type. If user is supposed to be charged in case of cancellation/error, this field should be set. In the case where the type of LRO doesn't require any billing, this field should be left unset.",
          "$ref": "XPSReportingMetrics"
        },
        "visionTrainingOperationMetadata": {
          "$ref": "XPSVisionTrainingOperationMetadata"
        }
      },
      "type": "object"
    },
    "XPSColorMapIntColor": {
      "description": "RGB color and each channel is represented by an integer.",
      "properties": {
        "green": {
          "description": "The value should be in range of [0, 255].",
          "type": "integer",
          "format": "int32"
        },
        "blue": {
          "description": "The value should be in range of [0, 255].",
          "type": "integer",
          "format": "int32"
        },
        "red": {
          "description": "The value should be in range of [0, 255].",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "XPSColorMapIntColor",
      "type": "object"
    },
    "XPSFloat64StatsHistogramBucket": {
      "type": "object",
      "id": "XPSFloat64StatsHistogramBucket",
      "description": "A bucket of a histogram.",
      "properties": {
        "min": {
          "type": "number",
          "format": "double",
          "description": "The minimum value of the bucket, inclusive."
        },
        "max": {
          "type": "number",
          "format": "double",
          "description": "The maximum value of the bucket, exclusive unless max = `\"Infinity\"`, in which case it's inclusive."
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The number of data values that are in the bucket, i.e. are between min and max values."
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "TextSpan": {
      "id": "TextSpan",
      "description": "Represents a text span in the input document.",
      "properties": {
        "content": {
          "description": "The content of the text span, which is a substring of the document.",
          "type": "string"
        },
        "beginOffset": {
          "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "XPSTextExtractionEvaluationMetrics": {
      "type": "object",
      "id": "XPSTextExtractionEvaluationMetrics",
      "properties": {
        "confidenceMetricsEntries": {
          "description": "If the enclosing EvaluationMetrics.label is empty, confidence_metrics_entries is an evaluation of the entire model across all labels. If the enclosing EvaluationMetrics.label is set, confidence_metrics_entries applies to that label.",
          "type": "array",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          }
        },
        "bestF1ConfidenceMetrics": {
          "description": "Values are at the highest F1 score on the precision-recall curve. Only confidence_threshold, recall, precision, and f1_score will be set.",
          "deprecated": true,
          "$ref": "XPSConfidenceMetricsEntry"
        },
        "perLabelConfidenceMetrics": {
          "deprecated": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "description": "Only recall, precision, and f1_score will be set."
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the model, at the default confidence threshold (0.0). Only set for whole-model evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        }
      }
    },
    "ClassificationModelOptionsV2Model": {
      "description": "Options for the V2 model.",
      "properties": {
        "contentCategoriesVersion": {
          "type": "string",
          "enumDescriptions": [
            "If `ContentCategoriesVersion` is not specified, this option will default to `V1`.",
            "Legacy content categories of our initial launch in 2017.",
            "Updated content categories in 2022."
          ],
          "enum": [
            "CONTENT_CATEGORIES_VERSION_UNSPECIFIED",
            "V1",
            "V2"
          ],
          "description": "The content categories used for classification."
        }
      },
      "id": "ClassificationModelOptionsV2Model",
      "type": "object"
    },
    "XPSTfSavedModelFormat": {
      "description": "A tensorflow model format in SavedModel format.",
      "properties": {},
      "id": "XPSTfSavedModelFormat",
      "type": "object"
    },
    "AnalyzeSyntaxRequest": {
      "type": "object",
      "id": "AnalyzeSyntaxRequest",
      "description": "The syntax analysis request message.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "encodingType": {
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string",
          "description": "The encoding type used by the API to calculate offsets."
        }
      }
    },
    "XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "type": "object",
      "id": "XPSVideoActionMetricsEntryConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "recall": {
          "type": "number",
          "format": "float",
          "description": "Output only. Recall for the given confidence threshold."
        },
        "precision": {
          "description": "Output only. Precision for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "type": "number",
          "format": "float"
        },
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "Output only. The harmonic mean of recall and precision."
        }
      }
    },
    "Entity": {
      "type": "object",
      "description": "Represents a phrase in the text that is a known entity, such as a person, an organization, or location. The API associates information, such as salience and mentions, with entities.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Person",
            "Location",
            "Organization",
            "Event",
            "Artwork",
            "Consumer product",
            "Other types of entities",
            "Phone number The metadata lists the phone number, formatted according to local convention, plus whichever additional elements appear in the text: * `number` - the actual number, broken down into sections as per local convention * `national_prefix` - country code, if detected * `area_code` - region or area code, if detected * `extension` - phone extension (to be dialed after connection), if detected",
            "Address The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - street number * `locality` - city or town * `street_name` - street/route name, if detected * `postal_code` - postal code, if detected * `country` - country, if detected< * `broad_region` - administrative area, such as the state, if detected * `narrow_region` - smaller administrative area, such as county, if detected * `sublocality` - used in Asian addresses to demark a district within a city, if detected",
            "Date The metadata identifies the components of the date: * `year` - four digit year, if detected * `month` - two digit month number, if detected * `day` - two digit day number, if detected",
            "Number The metadata is the number itself.",
            "Price The metadata identifies the `value` and `currency`."
          ],
          "enum": [
            "UNKNOWN",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "description": "The entity type."
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment or if AnnotateTextRequest.Features.extract_entity_sentiment is set to true, this field will contain the aggregate sentiment expressed for this entity in the provided document.",
          "$ref": "Sentiment"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata associated with the entity. For most entity types, the metadata is a Wikipedia URL (`wikipedia_url`) and Knowledge Graph MID (`mid`), if they are available. For the metadata associated with other entity types, see the Type table below."
        },
        "salience": {
          "type": "number",
          "format": "float",
          "description": "The salience score associated with the entity in the [0, 1.0] range. The salience score for an entity provides information about the importance or centrality of that entity to the entire document text. Scores closer to 0 are less salient, while scores closer to 1.0 are highly salient."
        },
        "mentions": {
          "description": "The mentions of this entity in the input document. The API currently supports proper noun mentions.",
          "type": "array",
          "items": {
            "$ref": "EntityMention"
          }
        },
        "name": {
          "description": "The representative name for the entity.",
          "type": "string"
        }
      },
      "id": "Entity"
    },
    "XPSTranslationPreprocessResponse": {
      "type": "object",
      "description": "Translation preprocess response.",
      "properties": {
        "validExampleCount": {
          "type": "string",
          "format": "int64",
          "description": "Total valid example count."
        },
        "parsedExampleCount": {
          "type": "string",
          "format": "int64",
          "description": "Total example count parsed."
        }
      },
      "id": "XPSTranslationPreprocessResponse"
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4.",
      "properties": {
        "confidenceMetricsEntries": {
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "type": "array",
          "items": {
            "$ref": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          }
        }
      },
      "id": "XPSImageSegmentationEvaluationMetrics",
      "type": "object"
    },
    "XPSCorrelationStats": {
      "id": "XPSCorrelationStats",
      "description": "A correlation statistics between two series of DataType values. The series may have differing DataType-s, but within a single series the DataType must be the same.",
      "properties": {
        "cramersV": {
          "type": "number",
          "format": "double",
          "description": "The correlation value using the Cramer's V measure."
        }
      },
      "type": "object"
    },
    "XPSColumnSpec": {
      "properties": {
        "dataStats": {
          "description": "The data stats of the column. It's outputed in RefreshTablesStats and a required input for Train.",
          "$ref": "XPSDataStats"
        },
        "forecastingMetadata": {
          "$ref": "XPSColumnSpecForecastingMetadata"
        },
        "displayName": {
          "description": "The display name of the column. It's outputed in Preprocess and a required input for RefreshTablesStats and Train.",
          "type": "string"
        },
        "dataType": {
          "description": "The data type of the column. It's outputed in Preprocess rpc and a required input for RefreshTablesStats and Train.",
          "$ref": "XPSDataType"
        },
        "columnId": {
          "type": "integer",
          "format": "int32",
          "description": "The unique id of the column. When Preprocess, the Tables BE will popuate the order id of the column, which reflects the order of the column inside the table, i.e. 0 means the first column in the table, N-1 means the last column. AutoML BE will persist this order id in Spanner and set the order id here when calling RefreshTablesStats and Train. Note: it's different than the column_spec_id that is generated in AutoML BE."
        },
        "topCorrelatedColumns": {
          "description": "It's outputed in RefreshTablesStats, and a required input in Train.",
          "type": "array",
          "items": {
            "$ref": "XPSColumnSpecCorrelatedColumn"
          }
        }
      },
      "id": "XPSColumnSpec",
      "type": "object"
    },
    "XPSTextTrainResponse": {
      "type": "object",
      "id": "XPSTextTrainResponse",
      "properties": {
        "componentModel": {
          "description": "Component submodels.",
          "type": "array",
          "items": {
            "$ref": "XPSTextComponentModel"
          }
        }
      }
    },
    "XPSTablesModelStructureModelParametersParameter": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Parameter name."
        },
        "stringValue": {
          "description": "String type parameter value.",
          "type": "string"
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Integer type parameter value."
        },
        "floatValue": {
          "description": "Float type parameter value.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "XPSTablesModelStructureModelParametersParameter",
      "type": "object"
    },
    "Color": {
      "type": "object",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "type": "number",
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "Color"
    },
    "XPSEdgeTpuTfLiteFormat": {
      "type": "object",
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "properties": {},
      "id": "XPSEdgeTpuTfLiteFormat"
    },
    "XPSTranslationEvaluationMetrics": {
      "type": "object",
      "description": "Evaluation metrics for the dataset.",
      "properties": {
        "bleuScore": {
          "type": "number",
          "format": "double",
          "description": "BLEU score."
        },
        "baseBleuScore": {
          "description": "BLEU score for base model.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "XPSTranslationEvaluationMetrics"
    },
    "ModerateTextResponse": {
      "description": "The document moderation response message.",
      "properties": {
        "moderationCategories": {
          "description": "Harmful and sensitive categories representing the input document.",
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          }
        }
      },
      "id": "ModerateTextResponse",
      "type": "object"
    },
    "XPSResponseExplanationMetadataOutputMetadata": {
      "description": "Metadata of the prediction output to be explained.",
      "properties": {
        "outputTensorName": {
          "type": "string",
          "description": "Name of the output tensor. Only needed in train response."
        }
      },
      "id": "XPSResponseExplanationMetadataOutputMetadata",
      "type": "object"
    },
    "XPSSpeechModelSpecSubModelSpec": {
      "type": "object",
      "id": "XPSSpeechModelSpecSubModelSpec",
      "properties": {
        "isEnhancedModel": {
          "type": "boolean",
          "description": "If true then it means we have an enhanced version of the biasing models."
        },
        "contextId": {
          "type": "string",
          "description": "In S3, Recognition ClientContextId.context_id"
        },
        "clientId": {
          "description": "In S3, Recognition ClientContextId.client_id",
          "type": "string"
        },
        "biasingModelType": {
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ],
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ],
          "type": "string",
          "description": "Type of the biasing model."
        }
      }
    },
    "XPSTfLiteFormat": {
      "id": "XPSTfLiteFormat",
      "description": "LINT.IfChange A model format used for mobile and IoT devices. See https://www.tensorflow.org/lite.",
      "properties": {},
      "type": "object"
    },
    "XPSVideoModelArtifactSpec": {
      "type": "object",
      "properties": {
        "exportArtifact": {
          "type": "array",
          "items": {
            "$ref": "XPSModelArtifactItem"
          },
          "description": "The model binary files in different formats for model export."
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        }
      },
      "id": "XPSVideoModelArtifactSpec"
    },
    "PartOfSpeech": {
      "type": "object",
      "id": "PartOfSpeech",
      "description": "Represents part of speech information for a token. Parts of speech are as defined in http://www.lrec-conf.org/proceedings/lrec2012/pdf/274_Paper.pdf",
      "properties": {
        "form": {
          "type": "string",
          "enumDescriptions": [
            "Form is not applicable in the analyzed language or is not predicted.",
            "Adnomial",
            "Auxiliary",
            "Complementizer",
            "Final ending",
            "Gerund",
            "Realis",
            "Irrealis",
            "Short form",
            "Long form",
            "Order form",
            "Specific form"
          ],
          "enum": [
            "FORM_UNKNOWN",
            "ADNOMIAL",
            "AUXILIARY",
            "COMPLEMENTIZER",
            "FINAL_ENDING",
            "GERUND",
            "REALIS",
            "IRREALIS",
            "SHORT",
            "LONG",
            "ORDER",
            "SPECIFIC"
          ],
          "description": "The grammatical form."
        },
        "reciprocity": {
          "description": "The grammatical reciprocity.",
          "enumDescriptions": [
            "Reciprocity is not applicable in the analyzed language or is not predicted.",
            "Reciprocal",
            "Non-reciprocal"
          ],
          "enum": [
            "RECIPROCITY_UNKNOWN",
            "RECIPROCAL",
            "NON_RECIPROCAL"
          ],
          "type": "string"
        },
        "tag": {
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Adjective",
            "Adposition (preposition and postposition)",
            "Adverb",
            "Conjunction",
            "Determiner",
            "Noun (common and proper)",
            "Cardinal number",
            "Pronoun",
            "Particle or other function word",
            "Punctuation",
            "Verb (all tenses and modes)",
            "Other: foreign words, typos, abbreviations",
            "Affix"
          ],
          "enum": [
            "UNKNOWN",
            "ADJ",
            "ADP",
            "ADV",
            "CONJ",
            "DET",
            "NOUN",
            "NUM",
            "PRON",
            "PRT",
            "PUNCT",
            "VERB",
            "X",
            "AFFIX"
          ],
          "description": "The part of speech tag."
        },
        "gender": {
          "description": "The grammatical gender.",
          "enumDescriptions": [
            "Gender is not applicable in the analyzed language or is not predicted.",
            "Feminine",
            "Masculine",
            "Neuter"
          ],
          "enum": [
            "GENDER_UNKNOWN",
            "FEMININE",
            "MASCULINE",
            "NEUTER"
          ],
          "type": "string"
        },
        "person": {
          "type": "string",
          "enumDescriptions": [
            "Person is not applicable in the analyzed language or is not predicted.",
            "First",
            "Second",
            "Third",
            "Reflexive"
          ],
          "enum": [
            "PERSON_UNKNOWN",
            "FIRST",
            "SECOND",
            "THIRD",
            "REFLEXIVE_PERSON"
          ],
          "description": "The grammatical person."
        },
        "proper": {
          "description": "The grammatical properness.",
          "enumDescriptions": [
            "Proper is not applicable in the analyzed language or is not predicted.",
            "Proper",
            "Not proper"
          ],
          "enum": [
            "PROPER_UNKNOWN",
            "PROPER",
            "NOT_PROPER"
          ],
          "type": "string"
        },
        "aspect": {
          "description": "The grammatical aspect.",
          "enumDescriptions": [
            "Aspect is not applicable in the analyzed language or is not predicted.",
            "Perfective",
            "Imperfective",
            "Progressive"
          ],
          "enum": [
            "ASPECT_UNKNOWN",
            "PERFECTIVE",
            "IMPERFECTIVE",
            "PROGRESSIVE"
          ],
          "type": "string"
        },
        "tense": {
          "description": "The grammatical tense.",
          "enumDescriptions": [
            "Tense is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Future",
            "Past",
            "Present",
            "Imperfect",
            "Pluperfect"
          ],
          "enum": [
            "TENSE_UNKNOWN",
            "CONDITIONAL_TENSE",
            "FUTURE",
            "PAST",
            "PRESENT",
            "IMPERFECT",
            "PLUPERFECT"
          ],
          "type": "string"
        },
        "voice": {
          "description": "The grammatical voice.",
          "enumDescriptions": [
            "Voice is not applicable in the analyzed language or is not predicted.",
            "Active",
            "Causative",
            "Passive"
          ],
          "enum": [
            "VOICE_UNKNOWN",
            "ACTIVE",
            "CAUSATIVE",
            "PASSIVE"
          ],
          "type": "string"
        },
        "mood": {
          "description": "The grammatical mood.",
          "enumDescriptions": [
            "Mood is not applicable in the analyzed language or is not predicted.",
            "Conditional",
            "Imperative",
            "Indicative",
            "Interrogative",
            "Jussive",
            "Subjunctive"
          ],
          "enum": [
            "MOOD_UNKNOWN",
            "CONDITIONAL_MOOD",
            "IMPERATIVE",
            "INDICATIVE",
            "INTERROGATIVE",
            "JUSSIVE",
            "SUBJUNCTIVE"
          ],
          "type": "string"
        },
        "number": {
          "type": "string",
          "enumDescriptions": [
            "Number is not applicable in the analyzed language or is not predicted.",
            "Singular",
            "Plural",
            "Dual"
          ],
          "enum": [
            "NUMBER_UNKNOWN",
            "SINGULAR",
            "PLURAL",
            "DUAL"
          ],
          "description": "The grammatical number."
        },
        "case": {
          "description": "The grammatical case.",
          "type": "string",
          "enumDescriptions": [
            "Case is not applicable in the analyzed language or is not predicted.",
            "Accusative",
            "Adverbial",
            "Complementive",
            "Dative",
            "Genitive",
            "Instrumental",
            "Locative",
            "Nominative",
            "Oblique",
            "Partitive",
            "Prepositional",
            "Reflexive",
            "Relative",
            "Vocative"
          ],
          "enum": [
            "CASE_UNKNOWN",
            "ACCUSATIVE",
            "ADVERBIAL",
            "COMPLEMENTIVE",
            "DATIVE",
            "GENITIVE",
            "INSTRUMENTAL",
            "LOCATIVE",
            "NOMINATIVE",
            "OBLIQUE",
            "PARTITIVE",
            "PREPOSITIONAL",
            "REFLEXIVE_CASE",
            "RELATIVE_CASE",
            "VOCATIVE"
          ]
        }
      }
    },
    "XPSDataStats": {
      "description": "The data statistics of a series of values that share the same DataType.",
      "properties": {
        "validValueCount": {
          "description": "The number of values that are valid.",
          "type": "string",
          "format": "int64"
        },
        "nullValueCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of values that are null."
        },
        "categoryStats": {
          "description": "The statistics for CATEGORY DataType.",
          "$ref": "XPSCategoryStats"
        },
        "stringStats": {
          "description": "The statistics for STRING DataType.",
          "$ref": "XPSStringStats"
        },
        "timestampStats": {
          "description": "The statistics for TIMESTAMP DataType.",
          "$ref": "XPSTimestampStats"
        },
        "float64Stats": {
          "description": "The statistics for FLOAT64 DataType.",
          "$ref": "XPSFloat64Stats"
        },
        "distinctValueCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of distinct values."
        },
        "structStats": {
          "description": "The statistics for STRUCT DataType.",
          "$ref": "XPSStructStats"
        },
        "arrayStats": {
          "description": "The statistics for ARRAY DataType.",
          "$ref": "XPSArrayStats"
        }
      },
      "id": "XPSDataStats",
      "type": "object"
    },
    "EntityMention": {
      "type": "object",
      "id": "EntityMention",
      "description": "Represents a mention for an entity in the text. Currently, proper noun mentions are supported.",
      "properties": {
        "text": {
          "description": "The mention text.",
          "$ref": "TextSpan"
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment or if AnnotateTextRequest.Features.extract_entity_sentiment is set to true, this field will contain the sentiment expressed for this mention of the entity in the provided document.",
          "$ref": "Sentiment"
        },
        "type": {
          "description": "The type of the entity mention.",
          "enumDescriptions": [
            "Unknown",
            "Proper name",
            "Common noun (or noun compound)"
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "PROPER",
            "COMMON"
          ],
          "type": "string"
        }
      }
    },
    "XPSVideoActionMetricsEntry": {
      "type": "object",
      "description": "The Evaluation metrics entry given a specific precision_window_length.",
      "properties": {
        "meanAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "The mean average precision."
        },
        "precisionWindowLength": {
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive.",
          "type": "string",
          "format": "google-duration"
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          },
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
        }
      },
      "id": "XPSVideoActionMetricsEntry"
    },
    "XPSCategoryStatsSingleCategoryStats": {
      "type": "object",
      "description": "The statistics of a single CATEGORY value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The CATEGORY value."
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The number of occurrences of this value in the series."
        }
      },
      "id": "XPSCategoryStatsSingleCategoryStats"
    },
    "XPSTrainResponse": {
      "type": "object",
      "properties": {
        "speechTrainResp": {
          "$ref": "XPSSpeechModelSpec"
        },
        "deployedModelSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Estimated model size in bytes once deployed."
        },
        "imageObjectDetectionTrainResp": {
          "$ref": "XPSImageObjectDetectionModelSpec"
        },
        "imageSegmentationTrainResp": {
          "$ref": "XPSImageSegmentationTrainResponse"
        },
        "videoObjectTrackingTrainResp": {
          "$ref": "XPSVideoObjectTrackingTrainResponse"
        },
        "videoClassificationTrainResp": {
          "$ref": "XPSVideoClassificationTrainResponse"
        },
        "modelToken": {
          "type": "string",
          "format": "byte",
          "description": "Token that represents the trained model. This is considered immutable and is persisted in AutoML. xPS can put their own proto in the byte string, to e.g. point to the model checkpoints. The token is passed to other xPS APIs to refer to the model."
        },
        "videoActionRecognitionTrainResp": {
          "$ref": "XPSVideoActionRecognitionTrainResponse"
        },
        "textTrainResp": {
          "description": "Will only be needed for uCAIP from Beta.",
          "$ref": "XPSTextTrainResponse"
        },
        "evaluationMetricsSet": {
          "description": "The trained model evaluation metrics. This can be optionally returned.",
          "$ref": "XPSEvaluationMetricsSet"
        },
        "explanationConfigs": {
          "description": "VisionExplanationConfig for XAI on test set. Optional for when XAI is enable in training request.",
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "XPSResponseExplanationSpec"
          }
        },
        "errorAnalysisConfigs": {
          "description": "Optional vision model error analysis configuration. The field is set when model error analysis is enabled in the training request. The results of error analysis will be binded together with evaluation results (in the format of AnnotatedExample).",
          "type": "array",
          "items": {
            "$ref": "XPSVisionErrorAnalysisConfig"
          }
        },
        "evaluatedExampleSet": {
          "description": "Examples used to evaluate the model (usually the test set), with the predicted annotations. The file_spec should point to recordio file(s) of AnnotatedExample. For each returned example, the example_id_token and annotations predicted by the model must be set. The example payload can and is recommended to be omitted.",
          "$ref": "XPSExampleSet"
        },
        "imageClassificationTrainResp": {
          "$ref": "XPSImageClassificationTrainResponse"
        },
        "tablesTrainResp": {
          "$ref": "XPSTablesTrainResponse"
        },
        "translationTrainResp": {
          "$ref": "XPSTranslationTrainResponse"
        },
        "textToSpeechTrainResp": {
          "$ref": "XPSTextToSpeechTrainResponse"
        }
      },
      "id": "XPSTrainResponse"
    },
    "XPSImageObjectDetectionEvaluationMetrics": {
      "type": "object",
      "description": "Model evaluation metrics for image object detection problems. Evaluates prediction quality of labeled bounding boxes.",
      "properties": {
        "boundingBoxMetricsEntries": {
          "description": "The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "type": "array",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          }
        },
        "evaluatedBoundingBoxCount": {
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had.",
          "type": "integer",
          "format": "int32"
        },
        "boundingBoxMeanAveragePrecision": {
          "description": "The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "XPSImageObjectDetectionEvaluationMetrics"
    },
    "DiskMetric": {
      "type": "object",
      "properties": {
        "diskType": {
          "description": "Required. Type of Disk, e.g. REGIONAL_SSD.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_DISK_TYPE",
            "REGIONAL_SSD",
            "REGIONAL_STORAGE",
            "PD_SSD",
            "PD_STANDARD",
            "STORAGE_SNAPSHOT"
          ],
          "type": "string"
        },
        "gibSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of physical disk usage, e.g. 3600."
        }
      },
      "id": "DiskMetric"
    },
    "DependencyEdge": {
      "type": "object",
      "id": "DependencyEdge",
      "description": "Represents dependency parse tree information for a token. (For more information on dependency labels, see http://www.aclweb.org/anthology/P13-2017",
      "properties": {
        "headTokenIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Represents the head of this token in the dependency tree. This is the index of the token which has an arc going to this token. The index is the position of the token in the array of tokens returned by the API method. If this token is a root token, then the `head_token_index` is its own index."
        },
        "label": {
          "type": "string",
          "enumDescriptions": [
            "Unknown",
            "Abbreviation modifier",
            "Adjectival complement",
            "Adverbial clause modifier",
            "Adverbial modifier",
            "Adjectival modifier of an NP",
            "Appositional modifier of an NP",
            "Attribute dependent of a copular verb",
            "Auxiliary (non-main) verb",
            "Passive auxiliary",
            "Coordinating conjunction",
            "Clausal complement of a verb or adjective",
            "Conjunct",
            "Clausal subject",
            "Clausal passive subject",
            "Dependency (unable to determine)",
            "Determiner",
            "Discourse",
            "Direct object",
            "Expletive",
            "Goes with (part of a word in a text not well edited)",
            "Indirect object",
            "Marker (word introducing a subordinate clause)",
            "Multi-word expression",
            "Multi-word verbal expression",
            "Negation modifier",
            "Noun compound modifier",
            "Noun phrase used as an adverbial modifier",
            "Nominal subject",
            "Passive nominal subject",
            "Numeric modifier of a noun",
            "Element of compound number",
            "Punctuation mark",
            "Parataxis relation",
            "Participial modifier",
            "The complement of a preposition is a clause",
            "Object of a preposition",
            "Possession modifier",
            "Postverbal negative particle",
            "Predicate complement",
            "Preconjunt",
            "Predeterminer",
            "Prefix",
            "Prepositional modifier",
            "The relationship between a verb and verbal morpheme",
            "Particle",
            "Associative or possessive marker",
            "Quantifier phrase modifier",
            "Relative clause modifier",
            "Complementizer in relative clause",
            "Ellipsis without a preceding predicate",
            "Referent",
            "Remnant",
            "Reparandum",
            "Root",
            "Suffix specifying a unit of number",
            "Suffix",
            "Temporal modifier",
            "Topic marker",
            "Clause headed by an infinite form of the verb that modifies a noun",
            "Vocative",
            "Open clausal complement",
            "Name suffix",
            "Name title",
            "Adverbial phrase modifier",
            "Causative auxiliary",
            "Helper auxiliary",
            "Rentaishi (Prenominal modifier)",
            "Foreign words",
            "Keyword",
            "List for chains of comparable items",
            "Nominalized clause",
            "Nominalized clausal subject",
            "Nominalized clausal passive",
            "Compound of numeric modifier",
            "Copula",
            "Dislocated relation (for fronted/topicalized elements)",
            "Aspect marker",
            "Genitive modifier",
            "Genitive object",
            "Infinitival modifier",
            "Measure",
            "Nominal complement of a noun"
          ],
          "enum": [
            "UNKNOWN",
            "ABBREV",
            "ACOMP",
            "ADVCL",
            "ADVMOD",
            "AMOD",
            "APPOS",
            "ATTR",
            "AUX",
            "AUXPASS",
            "CC",
            "CCOMP",
            "CONJ",
            "CSUBJ",
            "CSUBJPASS",
            "DEP",
            "DET",
            "DISCOURSE",
            "DOBJ",
            "EXPL",
            "GOESWITH",
            "IOBJ",
            "MARK",
            "MWE",
            "MWV",
            "NEG",
            "NN",
            "NPADVMOD",
            "NSUBJ",
            "NSUBJPASS",
            "NUM",
            "NUMBER",
            "P",
            "PARATAXIS",
            "PARTMOD",
            "PCOMP",
            "POBJ",
            "POSS",
            "POSTNEG",
            "PRECOMP",
            "PRECONJ",
            "PREDET",
            "PREF",
            "PREP",
            "PRONL",
            "PRT",
            "PS",
            "QUANTMOD",
            "RCMOD",
            "RCMODREL",
            "RDROP",
            "REF",
            "REMNANT",
            "REPARANDUM",
            "ROOT",
            "SNUM",
            "SUFF",
            "TMOD",
            "TOPIC",
            "VMOD",
            "VOCATIVE",
            "XCOMP",
            "SUFFIX",
            "TITLE",
            "ADVPHMOD",
            "AUXCAUS",
            "AUXVV",
            "DTMOD",
            "FOREIGN",
            "KW",
            "LIST",
            "NOMC",
            "NOMCSUBJ",
            "NOMCSUBJPASS",
            "NUMC",
            "COP",
            "DISLOCATED",
            "ASP",
            "GMOD",
            "GOBJ",
            "INFMOD",
            "MES",
            "NCOMP"
          ],
          "description": "The parse label for the token."
        }
      }
    },
    "Sentiment": {
      "id": "Sentiment",
      "description": "Represents the feeling associated with the entire text or entities in the text.",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float",
          "description": "A non-negative number in the [0, +inf) range, which represents the absolute magnitude of sentiment regardless of score (positive or negative)."
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment)."
        }
      },
      "type": "object"
    },
    "XPSTablesPreprocessResponse": {
      "type": "object",
      "id": "XPSTablesPreprocessResponse",
      "properties": {
        "tablesDatasetMetadata": {
          "description": "The table/column id, column_name and the DataTypes of the columns will be populated.",
          "$ref": "XPSTablesDatasetMetadata"
        }
      }
    },
    "XPSVisionTrainingOperationMetadata": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "explanationUsage": {
          "description": "Aggregated infra usage within certain time period, for billing report purpose if XAI is enable in training request.",
          "$ref": "InfraUsage"
        }
      },
      "id": "XPSVisionTrainingOperationMetadata"
    },
    "AnalyzeEntitySentimentRequest": {
      "type": "object",
      "description": "The entity-level sentiment analysis request message.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "encodingType": {
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string",
          "description": "The encoding type used by the API to calculate offsets."
        }
      },
      "id": "AnalyzeEntitySentimentRequest"
    },
    "XPSImageModelServingSpec": {
      "type": "object",
      "description": "Serving specification for image models.",
      "properties": {
        "tfRuntimeVersion": {
          "type": "string",
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list"
        },
        "modelThroughputEstimation": {
          "description": "Populate under uCAIP request scope.",
          "type": "array",
          "items": {
            "$ref": "XPSImageModelServingSpecModelThroughputEstimation"
          }
        },
        "nodeQps": {
          "description": "An estimated value of how much traffic a node can serve. Populated for AutoMl request only.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "XPSImageModelServingSpec"
    },
    "XPSTextComponentModel": {
      "id": "XPSTextComponentModel",
      "description": "Component model.",
      "properties": {
        "partition": {
          "description": "The partition where the model is deployed. Populated by uCAIP BE as part of online PredictRequest.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ],
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ]
        },
        "onlinePredictionModelGcsUri": {
          "type": "string",
          "description": "The Cloud Storage resource path to hold online prediction model."
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud Ai Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "batchPredictionModelGcsUri": {
          "type": "string",
          "description": "The Cloud Storage resource path to hold batch prediction model."
        },
        "submodelName": {
          "type": "string",
          "description": "The name of the trained NL submodel."
        },
        "tfRuntimeVersion": {
          "type": "string",
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list"
        },
        "submodelType": {
          "description": "The type of trained NL submodel",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Model type for entity extraction.",
            "Model type for relationship extraction.",
            "A composite model represents a set of component models that have to be used together for prediction. A composite model appears to be a single model to the model user. It may contain only one component model.",
            "Model type used to train default, MA, and ATC models in a single batch worker pipeline.",
            "BERT pipeline needs a specific model type, since it uses a different TFX configuration compared with DEFAULT (despite sharing most of the code).",
            "Model type for EncPaLM."
          ],
          "enum": [
            "TEXT_MODEL_TYPE_UNSPECIFIED",
            "TEXT_MODEL_TYPE_DEFAULT",
            "TEXT_MODEL_TYPE_META_ARCHITECT",
            "TEXT_MODEL_TYPE_ATC",
            "TEXT_MODEL_TYPE_CLARA2",
            "TEXT_MODEL_TYPE_CHATBASE",
            "TEXT_MODEL_TYPE_SAFT_SPAN_LABELING",
            "TEXT_MODEL_TYPE_TEXT_EXTRACTION",
            "TEXT_MODEL_TYPE_RELATIONSHIP_EXTRACTION",
            "TEXT_MODEL_TYPE_COMPOSITE",
            "TEXT_MODEL_TYPE_ALL_MODELS",
            "TEXT_MODEL_TYPE_BERT",
            "TEXT_MODEL_TYPE_ENC_PALM"
          ],
          "type": "string"
        },
        "servoModelName": {
          "description": "The name of servo model. Populated by uCAIP BE as part of online PredictRequest.",
          "type": "string"
        },
        "versionNumber": {
          "type": "string",
          "format": "int64",
          "description": "The servomatic model version number. Populated by uCAIP BE as part of online PredictRequest."
        }
      },
      "type": "object"
    },
    "XPSModelArtifactItem": {
      "description": "A single model artifact item.",
      "properties": {
        "artifactFormat": {
          "description": "The model artifact format.",
          "enumDescriptions": [
            "Should not be used.",
            "The Tensorflow checkpoints. See https://www.tensorflow.org/guide/checkpoint.",
            "The Tensorflow SavedModel binary.",
            "Model artifact in generic TensorFlow Lite (.tflite) format. See https://www.tensorflow.org/lite.",
            "Used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
            "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
            "Used for iOS mobile devices in (.mlmodel) format. See https://developer.apple.com/documentation/coreml"
          ],
          "enum": [
            "ARTIFACT_FORMAT_UNSPECIFIED",
            "TF_CHECKPOINT",
            "TF_SAVED_MODEL",
            "TF_LITE",
            "EDGE_TPU_TF_LITE",
            "TF_JS",
            "CORE_ML"
          ],
          "type": "string"
        },
        "gcsUri": {
          "description": "The Google Cloud Storage URI that stores the model binary files.",
          "type": "string"
        }
      },
      "id": "XPSModelArtifactItem",
      "type": "object"
    },
    "XPSStringStatsUnigramStats": {
      "type": "object",
      "description": "The statistics of a unigram.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The unigram."
        },
        "count": {
          "description": "The number of occurrences of this unigram in the series.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSStringStatsUnigramStats"
    },
    "TpuMetric": {
      "properties": {
        "tpuType": {
          "description": "Required. Type of TPU, e.g. TPU_V2, TPU_V3_POD.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_TPU_TYPE",
            "TPU_V2_POD",
            "TPU_V2",
            "TPU_V3_POD",
            "TPU_V3",
            "TPU_V5_LITEPOD"
          ],
          "type": "string"
        },
        "tpuSec": {
          "description": "Required. Seconds of TPU usage, e.g. 3600.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "TpuMetric",
      "type": "object"
    },
    "XPSImageObjectDetectionModelSpec": {
      "properties": {
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "maxBoundingBoxCount": {
          "type": "string",
          "format": "int64",
          "description": "Max number of bounding box."
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        },
        "classCount": {
          "description": "Total number of classes.",
          "type": "string",
          "format": "int64"
        },
        "stopReason": {
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'."
        }
      },
      "id": "XPSImageObjectDetectionModelSpec",
      "type": "object"
    },
    "XPSColumnSpecCorrelatedColumn": {
      "type": "object",
      "description": "Identifies a table's column, and its correlation with the column this ColumnSpec describes.",
      "properties": {
        "columnId": {
          "type": "integer",
          "format": "int32"
        },
        "correlationStats": {
          "$ref": "XPSCorrelationStats"
        }
      },
      "id": "XPSColumnSpecCorrelatedColumn"
    },
    "XPSTrackMetricsEntry": {
      "description": "Track matching model metrics for a single track match threshold and multiple label match confidence thresholds. Next tag: 6.",
      "properties": {
        "iouThreshold": {
          "type": "number",
          "format": "float",
          "description": "Output only. The intersection-over-union threshold value between bounding boxes across frames used to compute this metric entry."
        },
        "meanTrackingAveragePrecision": {
          "description": "Output only. The mean average precision over all confidence thresholds.",
          "type": "number",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSTrackMetricsEntryConfidenceMetricsEntry"
          },
          "description": "Output only. Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99. Precision-recall curve is derived from them."
        },
        "meanMismatchRate": {
          "description": "Output only. The mean mismatch rate over all confidence thresholds.",
          "type": "number",
          "format": "float"
        },
        "meanBoundingBoxIou": {
          "type": "number",
          "format": "float",
          "description": "Output only. The mean bounding box iou over all confidence thresholds."
        }
      },
      "id": "XPSTrackMetricsEntry",
      "type": "object"
    },
    "XPSSpeechModelSpec": {
      "id": "XPSSpeechModelSpec",
      "properties": {
        "subModelSpecs": {
          "type": "array",
          "items": {
            "$ref": "XPSSpeechModelSpecSubModelSpec"
          },
          "description": "Model specs for all submodels contained in this model."
        },
        "datasetId": {
          "type": "string",
          "format": "int64",
          "description": "Required for speech xps backend. Speech xps has to use dataset_id and model_id as the primary key in db so that speech API can query the db directly."
        },
        "language": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSTextToSpeechTrainResponse": {
      "type": "object",
      "id": "XPSTextToSpeechTrainResponse",
      "description": "TextToSpeech train response",
      "properties": {}
    },
    "XPSTablesClassificationMetricsCurveMetrics": {
      "description": "Metrics curve data point for a single value.",
      "properties": {
        "aucRoc": {
          "description": "The area under receiver operating characteristic curve.",
          "type": "number",
          "format": "double"
        },
        "value": {
          "description": "The CATEGORY row value (for ARRAY unnested) the curve metrics are for.",
          "type": "string"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics that have confidence thresholds. Precision-recall curve and ROC curve can be derived from them.",
          "type": "array",
          "items": {
            "$ref": "XPSTablesConfidenceMetricsEntry"
          }
        },
        "aucPr": {
          "description": "The area under the precision-recall curve.",
          "type": "number",
          "format": "double"
        },
        "logLoss": {
          "type": "number",
          "format": "double",
          "description": "The Log loss metric."
        },
        "positionThreshold": {
          "description": "The position threshold value used to compute the metrics.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "XPSTablesClassificationMetricsCurveMetrics",
      "type": "object"
    },
    "XPSImageClassificationTrainResponse": {
      "properties": {
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "trainCostInNodeTime": {
          "description": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA.",
          "type": "string",
          "format": "google-duration"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "classCount": {
          "description": "Total number of classes.",
          "type": "string",
          "format": "int64"
        },
        "trainCostNodeSeconds": {
          "description": "The actual training cost, expressed in node seconds. Populated for models trained in node time.",
          "type": "string",
          "format": "int64"
        },
        "exportModelSpec": {
          "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests.",
          "$ref": "XPSImageExportModelSpec"
        },
        "stopReason": {
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'."
        }
      },
      "id": "XPSImageClassificationTrainResponse",
      "type": "object"
    },
    "XPSCategoryStats": {
      "description": "The data statistics of a series of CATEGORY values.",
      "properties": {
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "topCategoryStats": {
          "description": "The statistics of the top 20 CATEGORY values, ordered by CategoryStats.SingleCategoryStats.count.",
          "type": "array",
          "items": {
            "$ref": "XPSCategoryStatsSingleCategoryStats"
          }
        }
      },
      "id": "XPSCategoryStats",
      "type": "object"
    },
    "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry": {
      "type": "object",
      "id": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "recall": {
          "description": "Recall for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Precision for the given confidence threshold."
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The confidence threshold value used to compute the metrics."
        },
        "f1Score": {
          "description": "The harmonic mean of recall and precision.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "XPSBoundingBoxMetricsEntry": {
      "id": "XPSBoundingBoxMetricsEntry",
      "description": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds.",
      "properties": {
        "iouThreshold": {
          "description": "The intersection-over-union threshold value used to compute this metrics entry.",
          "type": "number",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry"
          }
        },
        "meanAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "The mean average precision."
        }
      },
      "type": "object"
    },
    "XPSTablesTrainingOperationMetadata": {
      "type": "object",
      "properties": {
        "topTrials": {
          "description": "This field is for training. When the operation is terminated successfully, AutoML Backend post this field to operation metadata in spanner. If the metadata has no trials returned, the training operation is supposed to be a failure.",
          "type": "array",
          "items": {
            "$ref": "XPSTuningTrial"
          }
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective for model."
        },
        "trainBudgetMilliNodeHours": {
          "type": "string",
          "format": "int64",
          "description": "Creating model budget."
        },
        "trainingObjectivePoints": {
          "type": "array",
          "items": {
            "$ref": "XPSTrainingObjectivePoint"
          },
          "description": "This field records the training objective value with respect to time, giving insight into how the model architecture search is performing as training time elapses."
        },
        "createModelStage": {
          "enumDescriptions": [
            "Unspecified stage.",
            "Prepare the model training pipeline and run data processing.",
            "Training model.",
            "Run evaluation.",
            "Finalizing model training pipeline."
          ],
          "enum": [
            "CREATE_MODEL_STAGE_UNSPECIFIED",
            "DATA_PREPROCESSING",
            "TRAINING",
            "EVALUATING",
            "MODEL_POST_PROCESSING"
          ],
          "type": "string",
          "description": "Current stage of creating model."
        },
        "trainingStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when training process starts."
        }
      },
      "id": "XPSTablesTrainingOperationMetadata"
    },
    "XPSSpeechPreprocessStats": {
      "type": "object",
      "properties": {
        "testExamplesCount": {
          "description": "The number of examples labelled as TEST by Speech xps server.",
          "type": "integer",
          "format": "int32"
        },
        "trainWordsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of words in the training data set."
        },
        "trainSentencesCount": {
          "description": "The number of sentences in the training data set.",
          "type": "integer",
          "format": "int32"
        },
        "testSentencesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of sentences in the test data set."
        },
        "numLogsExamples": {
          "description": "The number of samples found in the previously recorded logs data.",
          "type": "integer",
          "format": "int32"
        },
        "dataErrors": {
          "description": "Different types of data errors and the counts associated with them.",
          "type": "array",
          "items": {
            "$ref": "XPSDataErrors"
          }
        },
        "numHumanLabeledExamples": {
          "description": "The number of rows marked HUMAN_LABELLED",
          "type": "integer",
          "format": "int32"
        },
        "testWordsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of words in the test data set."
        },
        "numMachineTranscribedExamples": {
          "description": "The number of rows marked as MACHINE_TRANSCRIBED",
          "type": "integer",
          "format": "int32"
        },
        "trainExamplesCount": {
          "description": "The number of examples labeled as TRAIN by Speech xps server.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "XPSSpeechPreprocessStats"
    },
    "XPSVideoTrainingOperationMetadata": {
      "id": "XPSVideoTrainingOperationMetadata",
      "properties": {
        "trainCostMilliNodeHour": {
          "description": "This is an estimation of the node hours necessary for training a model, expressed in milli node hours (i.e. 1,000 value in this field means 1 node hour). A node hour represents the time a virtual machine spends running your training job. The cost of one node running for one hour is a node hour.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "AnalyzeEntitiesRequest": {
      "type": "object",
      "id": "AnalyzeEntitiesRequest",
      "description": "The entity analysis request message.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "encodingType": {
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string",
          "description": "The encoding type used by the API to calculate offsets."
        }
      }
[...]
