{
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        }
      }
    }
  },
  "protocol": "rest",
  "version": "v2",
  "ownerName": "Google",
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "rootUrl": "https://language.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "resources": {
    "documents": {
      "methods": {
        "analyzeSentiment": {
          "description": "Analyzes the sentiment of the provided text.",
          "path": "v2/documents:analyzeSentiment",
          "httpMethod": "POST",
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          },
          "id": "language.documents.analyzeSentiment",
          "parameters": {},
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          },
          "parameterOrder": [],
          "flatPath": "v2/documents:analyzeSentiment",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "annotateText": {
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v2/documents:annotateText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/documents:annotateText",
          "description": "A convenience method that provides all features in one call.",
          "id": "language.documents.annotateText",
          "httpMethod": "POST",
          "request": {
            "$ref": "AnnotateTextRequest"
          }
        },
        "analyzeEntities": {
          "path": "v2/documents:analyzeEntities",
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, probability, mentions for each entity, and other properties.",
          "id": "language.documents.analyzeEntities",
          "httpMethod": "POST",
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          },
          "parameters": {},
          "flatPath": "v2/documents:analyzeEntities",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        },
        "classifyText": {
          "description": "Classifies a document into categories.",
          "path": "v2/documents:classifyText",
          "httpMethod": "POST",
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "id": "language.documents.classifyText",
          "parameters": {},
          "response": {
            "$ref": "ClassifyTextResponse"
          },
          "parameterOrder": [],
          "flatPath": "v2/documents:classifyText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "moderateText": {
          "description": "Moderates a document for harmful and sensitive categories.",
          "path": "v2/documents:moderateText",
          "httpMethod": "POST",
          "request": {
            "$ref": "ModerateTextRequest"
          },
          "id": "language.documents.moderateText",
          "parameters": {},
          "response": {
            "$ref": "ModerateTextResponse"
          },
          "flatPath": "v2/documents:moderateText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        }
      }
    }
  },
  "basePath": "",
  "version_module": true,
  "canonicalName": "Cloud Natural Language",
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "batchPath": "batch",
  "id": "language:v2",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "name": "language",
  "schemas": {
    "XPSTuningTrial": {
      "description": "Metrics for a tuning job generated, will get forwarded to Stackdriver as model tuning logs. Setting this as a standalone message out of CreateModelMetadata to avoid confusion as we expose this message only to users.",
      "type": "object",
      "id": "XPSTuningTrial",
      "properties": {
        "modelStructure": {
          "$ref": "XPSTablesModelStructure",
          "description": "Model parameters for the trial."
        },
        "trainingObjectivePoint": {
          "description": "The optimization objective evaluation of the eval split data.",
          "$ref": "XPSTrainingObjectivePoint"
        }
      }
    },
    "XPSTableSpec": {
      "type": "object",
      "id": "XPSTableSpec",
      "properties": {
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of rows in the table."
        },
        "columnSpecs": {
          "description": "Mapping from column id to column spec.",
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          },
          "type": "object"
        },
        "importedDataSizeInBytes": {
          "type": "string",
          "format": "int64",
          "description": "The total size of imported data of the table."
        },
        "validRowCount": {
          "description": "The number of valid rows.",
          "type": "string",
          "format": "int64"
        },
        "timeColumnId": {
          "description": "The id of the time column.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "XPSTrackMetricsEntryConfidenceMetricsEntry": {
      "type": "object",
      "id": "XPSTrackMetricsEntryConfidenceMetricsEntry",
      "properties": {
        "trackingRecall": {
          "description": "Output only. Tracking recall.",
          "type": "number",
          "format": "float"
        },
        "trackingPrecision": {
          "description": "Output only. Tracking precision.",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "Output only. The confidence threshold value used to compute the metrics."
        },
        "boundingBoxIou": {
          "description": "Output only. Bounding box intersection-over-union precision. Measures how well the bounding boxes overlap between each other (e.g. complete overlap or just barely above iou_threshold).",
          "type": "number",
          "format": "float"
        },
        "mismatchRate": {
          "type": "number",
          "format": "float",
          "description": "Output only. Mismatch rate, which measures the tracking consistency, i.e. correctness of instance ID continuity."
        }
      },
      "description": "Metrics for a single confidence threshold. Next tag: 6."
    },
    "XPSSpeechPreprocessStats": {
      "id": "XPSSpeechPreprocessStats",
      "properties": {
        "trainExamplesCount": {
          "description": "The number of examples labeled as TRAIN by Speech xps server.",
          "type": "integer",
          "format": "int32"
        },
        "trainSentencesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of sentences in the training data set."
        },
        "testExamplesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of examples labelled as TEST by Speech xps server."
        },
        "numLogsExamples": {
          "type": "integer",
          "format": "int32",
          "description": "The number of samples found in the previously recorded logs data."
        },
        "dataErrors": {
          "type": "array",
          "description": "Different types of data errors and the counts associated with them.",
          "items": {
            "$ref": "XPSDataErrors"
          }
        },
        "testWordsCount": {
          "description": "The number of words in the test data set.",
          "type": "integer",
          "format": "int32"
        },
        "trainWordsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of words in the training data set."
        },
        "numMachineTranscribedExamples": {
          "description": "The number of rows marked as MACHINE_TRANSCRIBED",
          "type": "integer",
          "format": "int32"
        },
        "numHumanLabeledExamples": {
          "description": "The number of rows marked HUMAN_LABELLED",
          "type": "integer",
          "format": "int32"
        },
        "testSentencesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of sentences in the test data set."
        }
      },
      "type": "object"
    },
    "ModerateTextRequest": {
      "description": "The document moderation request message.",
      "type": "object",
      "id": "ModerateTextRequest",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "modelVersion": {
          "type": "string",
          "description": "Optional. The model version to use for ModerateText.",
          "enumDescriptions": [
            "The default model version.",
            "Use the v1 model, this model is used by default when not provided. The v1 model only returns probability (confidence) score for each category.",
            "Use the v2 model. The v2 model only returns probability (confidence) score for each category, and returns severity score for a subset of the categories."
          ],
          "enum": [
            "MODEL_VERSION_UNSPECIFIED",
            "MODEL_VERSION_1",
            "MODEL_VERSION_2"
          ]
        }
      }
    },
    "XPSVisionTrainingOperationMetadata": {
      "id": "XPSVisionTrainingOperationMetadata",
      "properties": {
        "explanationUsage": {
          "description": "Aggregated infra usage within certain time period, for billing report purpose if XAI is enable in training request.",
          "$ref": "InfraUsage"
        }
      },
      "type": "object",
      "deprecated": true
    },
    "XPSTextComponentModel": {
      "description": "Component model.",
      "type": "object",
      "id": "XPSTextComponentModel",
      "properties": {
        "batchPredictionModelGcsUri": {
          "description": "The Cloud Storage resource path to hold batch prediction model.",
          "type": "string"
        },
        "submodelType": {
          "type": "string",
          "description": "The type of trained NL submodel",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Model type for entity extraction.",
            "Model type for relationship extraction.",
            "A composite model represents a set of component models that have to be used together for prediction. A composite model appears to be a single model to the model user. It may contain only one component model.",
            "Model type used to train default, MA, and ATC models in a single batch worker pipeline.",
            "BERT pipeline needs a specific model type, since it uses a different TFX configuration compared with DEFAULT (despite sharing most of the code).",
            "Model type for EncPaLM."
          ],
          "enum": [
            "TEXT_MODEL_TYPE_UNSPECIFIED",
            "TEXT_MODEL_TYPE_DEFAULT",
            "TEXT_MODEL_TYPE_META_ARCHITECT",
            "TEXT_MODEL_TYPE_ATC",
            "TEXT_MODEL_TYPE_CLARA2",
            "TEXT_MODEL_TYPE_CHATBASE",
            "TEXT_MODEL_TYPE_SAFT_SPAN_LABELING",
            "TEXT_MODEL_TYPE_TEXT_EXTRACTION",
            "TEXT_MODEL_TYPE_RELATIONSHIP_EXTRACTION",
            "TEXT_MODEL_TYPE_COMPOSITE",
            "TEXT_MODEL_TYPE_ALL_MODELS",
            "TEXT_MODEL_TYPE_BERT",
            "TEXT_MODEL_TYPE_ENC_PALM"
          ]
        },
        "submodelName": {
          "description": "The name of the trained NL submodel.",
          "type": "string"
        },
        "onlinePredictionModelGcsUri": {
          "description": "The Cloud Storage resource path to hold online prediction model.",
          "type": "string"
        },
        "servingArtifact": {
          "$ref": "XPSModelArtifactItem",
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud Ai Platform API."
        },
        "versionNumber": {
          "description": "The servomatic model version number. Populated by uCAIP BE as part of online PredictRequest.",
          "type": "string",
          "format": "int64"
        },
        "servoModelName": {
          "description": "The name of servo model. Populated by uCAIP BE as part of online PredictRequest.",
          "type": "string"
        },
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        },
        "partition": {
          "description": "The partition where the model is deployed. Populated by uCAIP BE as part of online PredictRequest.",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ],
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ],
          "type": "string"
        }
      }
    },
    "XPSVideoActionMetricsEntry": {
      "description": "The Evaluation metrics entry given a specific precision_window_length.",
      "id": "XPSVideoActionMetricsEntry",
      "properties": {
        "precisionWindowLength": {
          "type": "string",
          "format": "google-duration",
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive."
        },
        "meanAveragePrecision": {
          "description": "The mean average precision.",
          "type": "number",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "XPSIntegratedGradientsAttribution": {
      "id": "XPSIntegratedGradientsAttribution",
      "properties": {
        "stepCount": {
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "type": "integer",
          "format": "int32"
        }
      },
      "deprecated": true,
      "type": "object",
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365"
    },
    "XPSVisualization": {
      "deprecated": true,
      "id": "XPSVisualization",
      "properties": {
        "colorMap": {
          "type": "string",
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue.",
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ],
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ]
        },
        "type": {
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES.",
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ],
          "type": "string"
        },
        "polarity": {
          "type": "string",
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE.",
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ],
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ]
        },
        "clipPercentUpperbound": {
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9.",
          "type": "number",
          "format": "float"
        },
        "clipPercentLowerbound": {
          "type": "number",
          "format": "float",
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62."
        },
        "overlayType": {
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE.",
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ],
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ],
          "type": "string"
        }
      },
      "description": "Visualization configurations for image explanation.",
      "type": "object"
    },
    "XPSImageSegmentationTrainResponse": {
      "id": "XPSImageSegmentationTrainResponse",
      "properties": {
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "NOTE: These fields are not used/needed in EAP but will be set later."
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "colorMaps": {
          "type": "array",
          "description": "Color map of the model.",
          "items": {
            "$ref": "XPSColorMap"
          }
        },
        "modelArtifactSpec": {
          "$ref": "XPSImageModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata"
        },
        "stopReason": {
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSVisionErrorAnalysisConfig": {
      "type": "object",
      "id": "XPSVisionErrorAnalysisConfig",
      "properties": {
        "queryType": {
          "description": "The query type used in retrieval. The enum values are frozen in the foreseeable future.",
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ],
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_ALL_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_DISSIMILAR"
          ],
          "type": "string"
        },
        "exampleCount": {
          "description": "The number of query examples in error analysis.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The vision model error analysis configuration. Next tag: 3"
    },
    "XPSTablesModelStructureModelParameters": {
      "description": "Model hyper-parameters for a model.",
      "id": "XPSTablesModelStructureModelParameters",
      "properties": {
        "hyperparameters": {
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParametersParameter"
          }
        }
      },
      "type": "object"
    },
    "XPSCommonStats": {
      "type": "object",
      "id": "XPSCommonStats",
      "properties": {
        "validValueCount": {
          "type": "string",
          "format": "int64"
        },
        "distinctValueCount": {
          "type": "string",
          "format": "int64"
        },
        "nullValueCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Common statistics for a column with a specified data type."
    },
    "XPSVideoActionRecognitionEvaluationMetrics": {
      "type": "object",
      "id": "XPSVideoActionRecognitionEvaluationMetrics",
      "properties": {
        "evaluatedActionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of ground truth actions used to create this evaluation."
        },
        "videoActionMetricsEntries": {
          "description": "Output only. The metric entries for precision window lengths: 1s,2s,3s,4s, 5s.",
          "items": {
            "$ref": "XPSVideoActionMetricsEntry"
          },
          "type": "array"
        }
      },
      "description": "Model evaluation metrics for video action recognition."
    },
    "XPSFileSpec": {
      "description": "Spec of input and output files, on external file systems (for example, Colossus Namespace System or Google Cloud Storage).",
      "id": "XPSFileSpec",
      "properties": {
        "directoryPath": {
          "deprecated": true,
          "description": "Deprecated. Use file_spec.",
          "type": "string"
        },
        "singleFilePath": {
          "deprecated": true,
          "description": "Deprecated. Use file_spec.",
          "type": "string"
        },
        "fileSpec": {
          "type": "string",
          "description": "Single file path, or file pattern of format \"/path/to/file@shard_count\". E.g. /cns/cell-d/somewhere/file@2 is expanded to two files: /cns/cell-d/somewhere/file-00000-of-00002 and /cns/cell-d/somewhere/file-00001-of-00002."
        },
        "fileFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Internal format for parallel text data used by Google Translate.",
            "",
            "Only the lexicographically first file described by the file_spec contains the header line.",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "FILE_FORMAT_UNKNOWN",
            "FILE_FORMAT_SSTABLE",
            "FILE_FORMAT_TRANSLATION_RKV",
            "FILE_FORMAT_RECORDIO",
            "FILE_FORMAT_RAW_CSV",
            "FILE_FORMAT_RAW_CAPACITOR"
          ]
        }
      },
      "type": "object"
    },
    "XPSTablesPreprocessResponse": {
      "id": "XPSTablesPreprocessResponse",
      "properties": {
        "tablesDatasetMetadata": {
          "description": "The table/column id, column_name and the DataTypes of the columns will be populated.",
          "$ref": "XPSTablesDatasetMetadata"
        }
      },
      "type": "object"
    },
    "ClassificationCategory": {
      "id": "ClassificationCategory",
      "properties": {
        "name": {
          "description": "The name of the category representing the document.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "The classifier's confidence of the category. Number represents how certain the classifier is that this category represents the given text."
        },
        "severity": {
          "type": "number",
          "format": "float",
          "description": "Optional. The classifier's severity of the category. This is only present when the ModerateTextRequest.ModelVersion is set to MODEL_VERSION_2, and the corresponding category has a severity score."
        }
      },
      "type": "object",
      "description": "Represents a category returned from the text classifier."
    },
    "XPSSpeechPreprocessResponse": {
      "id": "XPSSpeechPreprocessResponse",
      "properties": {
        "speechPreprocessStats": {
          "$ref": "XPSSpeechPreprocessStats",
          "description": "Stats associated with the data."
        },
        "cnsTrainDataPath": {
          "description": "Location of shards of sstables (training data) of DataUtterance protos.",
          "type": "string"
        },
        "cnsTestDataPath": {
          "description": "Location od shards of sstables (test data) of DataUtterance protos.",
          "type": "string"
        },
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        }
      },
      "type": "object"
    },
    "XPSConfusionMatrixRow": {
      "id": "XPSConfusionMatrixRow",
      "properties": {
        "exampleCount": {
          "description": "Value of the specific cell in the confusion matrix. The number of values each row has (i.e. the length of the row) is equal to the length of the annotation_spec_id_token field.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "count": {
          "description": "Same as above except intended to represent other counts (for e.g. for segmentation this is pixel count). NOTE(params): Only example_count or count is set (oneoff does not support repeated fields unless they are embedded inside another message).",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A row in the confusion matrix."
    },
    "XPSResponseExplanationParameters": {
      "deprecated": true,
      "id": "XPSResponseExplanationParameters",
      "properties": {
        "integratedGradientsAttribution": {
          "$ref": "XPSIntegratedGradientsAttribution",
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365"
        },
        "xraiAttribution": {
          "$ref": "XPSXraiAttribution",
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead."
        }
      },
      "type": "object"
    },
    "XPSConfidenceMetricsEntry": {
      "description": "ConfidenceMetricsEntry includes generic precision, recall, f1 score etc. Next tag: 16.",
      "type": "object",
      "id": "XPSConfidenceMetricsEntry",
      "properties": {
        "precisionAt1": {
          "description": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "type": "number",
          "format": "float"
        },
        "f1ScoreAt1": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall_at1 and precision_at1."
        },
        "positionThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Metrics are computed with an assumption that the model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the confidence_threshold."
        },
        "falsePositiveRateAt1": {
          "description": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "type": "number",
          "format": "float"
        },
        "truePositiveCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of model created labels that match a ground truth label."
        },
        "confidenceThreshold": {
          "description": "Metrics are computed with an assumption that the model never return predictions with score lower than this value.",
          "type": "number",
          "format": "float"
        },
        "falsePositiveRate": {
          "type": "number",
          "format": "float",
          "description": "False Positive Rate for the given confidence threshold."
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall and precision."
        },
        "falsePositiveCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of model created labels that do not match a ground truth label."
        },
        "recallAt1": {
          "description": "The recall (true positive rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each example.",
          "type": "number",
          "format": "float"
        },
        "trueNegativeCount": {
          "description": "The number of labels that were not created by the model, but if they would, they would not match a ground truth label.",
          "type": "string",
          "format": "int64"
        },
        "recall": {
          "description": "Recall (true positive rate) for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "falseNegativeCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of ground truth labels that are not matched by a model created label."
        }
      }
    },
    "AnnotateTextRequest": {
      "description": "The request message for the text annotation API, which can perform multiple analysis types in one call.",
      "id": "AnnotateTextRequest",
      "properties": {
        "features": {
          "description": "Required. The enabled features.",
          "$ref": "AnnotateTextRequestFeatures"
        },
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "encodingType": {
          "type": "string",
          "description": "The encoding type used by the API to calculate offsets.",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ]
        }
      },
      "type": "object"
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4.",
      "type": "object",
      "id": "XPSImageSegmentationEvaluationMetrics",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "items": {
            "$ref": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          }
        }
      }
    },
    "TpuMetric": {
      "id": "TpuMetric",
      "properties": {
        "tpuSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of TPU usage, e.g. 3600."
        },
        "tpuType": {
          "type": "string",
          "description": "Required. Type of TPU, e.g. TPU_V2, TPU_V3_POD.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_TPU_TYPE",
            "TPU_V2_POD",
            "TPU_V2",
            "TPU_V3_POD",
            "TPU_V3",
            "TPU_V5_LITEPOD"
          ]
        }
      },
      "type": "object"
    },
    "RamMetric": {
      "type": "object",
      "id": "RamMetric",
      "properties": {
        "ramType": {
          "type": "string",
          "description": "Required. Type of ram.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_RAM_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "C3",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ]
        },
        "gibSec": {
          "description": "Required. VM memory in Gigabyte second, e.g. 3600. Using int64 type to match billing metrics definition.",
          "type": "string",
          "format": "int64"
        },
        "machineSpec": {
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ],
          "type": "string"
        },
        "memories": {
          "description": "Required. VM memory in gb.",
          "type": "number",
          "format": "double"
        },
        "trackingLabels": {
          "type": "object",
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "XPSTranslationPreprocessResponse": {
      "type": "object",
      "id": "XPSTranslationPreprocessResponse",
      "properties": {
        "parsedExampleCount": {
          "type": "string",
          "format": "int64",
          "description": "Total example count parsed."
        },
        "validExampleCount": {
          "description": "Total valid example count.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Translation preprocess response."
    },
    "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry": {
      "id": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry",
      "properties": {
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The confidence threshold value used to compute the metrics."
        },
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Precision for the given confidence threshold."
        },
        "f1Score": {
          "description": "The harmonic mean of recall and precision.",
          "type": "number",
          "format": "float"
        },
        "recall": {
          "description": "Recall for the given confidence threshold.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Metrics for a single confidence threshold."
    },
    "XPSMetricEntry": {
      "type": "object",
      "id": "XPSMetricEntry",
      "properties": {
        "int64Value": {
          "description": "A signed 64-bit integer value.",
          "type": "string",
          "format": "int64"
        },
        "doubleValue": {
          "description": "A double value.",
          "type": "number",
          "format": "double"
        },
        "systemLabels": {
          "type": "array",
          "description": "Billing system labels for this (metric, value) pair.",
          "items": {
            "$ref": "XPSMetricEntryLabel"
          }
        },
        "argentumMetricId": {
          "description": "For billing metrics that are using legacy sku's, set the legacy billing metric id here. This will be sent to Chemist as the \"cloudbilling.googleapis.com/argentum_metric_id\" label. Otherwise leave empty.",
          "type": "string"
        },
        "metricName": {
          "type": "string",
          "description": "The metric name defined in the service configuration."
        }
      }
    },
    "XPSEvaluationMetricsSet": {
      "description": "Specifies location of model evaluation metrics.",
      "type": "object",
      "id": "XPSEvaluationMetricsSet",
      "properties": {
        "fileSpec": {
          "description": "File spec containing evaluation metrics of a model, must point to RecordIO file(s) of intelligence.cloud.automl.xps.EvaluationMetrics messages.",
          "$ref": "XPSFileSpec"
        },
        "evaluationMetrics": {
          "description": "Inline EvaluationMetrics - should be relatively small. For passing large quantities of exhaustive metrics, use file_spec.",
          "items": {
            "$ref": "XPSEvaluationMetrics"
          },
          "type": "array"
        },
        "numEvaluationMetrics": {
          "type": "string",
          "format": "int64",
          "description": "Number of the evaluation metrics (usually one per label plus overall)."
        }
      }
    },
    "XPSStructType": {
      "id": "XPSStructType",
      "properties": {
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSDataType"
          },
          "description": "Unordered map of struct field names to their data types."
        }
      },
      "type": "object",
      "description": "`StructType` defines the DataType-s of a STRUCT type."
    },
    "XPSSpeechModelSpec": {
      "type": "object",
      "id": "XPSSpeechModelSpec",
      "properties": {
        "subModelSpecs": {
          "type": "array",
          "description": "Model specs for all submodels contained in this model.",
          "items": {
            "$ref": "XPSSpeechModelSpecSubModelSpec"
          }
        },
        "language": {
          "type": "string"
        },
        "datasetId": {
          "description": "Required for speech xps backend. Speech xps has to use dataset_id and model_id as the primary key in db so that speech API can query the db directly.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "XPSCorrelationStats": {
      "description": "A correlation statistics between two series of DataType values. The series may have differing DataType-s, but within a single series the DataType must be the same.",
      "type": "object",
      "id": "XPSCorrelationStats",
      "properties": {
        "cramersV": {
          "description": "The correlation value using the Cramer's V measure.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "XPSTrainResponse": {
      "type": "object",
      "id": "XPSTrainResponse",
      "properties": {
        "videoObjectTrackingTrainResp": {
          "$ref": "XPSVideoObjectTrackingTrainResponse"
        },
        "imageSegmentationTrainResp": {
          "$ref": "XPSImageSegmentationTrainResponse"
        },
        "imageObjectDetectionTrainResp": {
          "$ref": "XPSImageObjectDetectionModelSpec"
        },
        "videoActionRecognitionTrainResp": {
          "$ref": "XPSVideoActionRecognitionTrainResponse"
        },
        "imageClassificationTrainResp": {
          "$ref": "XPSImageClassificationTrainResponse"
        },
        "evaluationMetricsSet": {
          "$ref": "XPSEvaluationMetricsSet",
          "description": "The trained model evaluation metrics. This can be optionally returned."
        },
        "textToSpeechTrainResp": {
          "$ref": "XPSTextToSpeechTrainResponse"
        },
        "speechTrainResp": {
          "$ref": "XPSSpeechModelSpec"
        },
        "translationTrainResp": {
          "$ref": "XPSTranslationTrainResponse"
        },
        "modelToken": {
          "type": "string",
          "format": "byte",
          "description": "Token that represents the trained model. This is considered immutable and is persisted in AutoML. xPS can put their own proto in the byte string, to e.g. point to the model checkpoints. The token is passed to other xPS APIs to refer to the model."
        },
        "tablesTrainResp": {
          "$ref": "XPSTablesTrainResponse"
        },
        "evaluatedExampleSet": {
          "description": "Examples used to evaluate the model (usually the test set), with the predicted annotations. The file_spec should point to recordio file(s) of AnnotatedExample. For each returned example, the example_id_token and annotations predicted by the model must be set. The example payload can and is recommended to be omitted.",
          "$ref": "XPSExampleSet"
        },
        "errorAnalysisConfigs": {
          "type": "array",
          "description": "Optional vision model error analysis configuration. The field is set when model error analysis is enabled in the training request. The results of error analysis will be binded together with evaluation results (in the format of AnnotatedExample).",
          "items": {
            "$ref": "XPSVisionErrorAnalysisConfig"
          }
        },
        "explanationConfigs": {
          "type": "array",
          "deprecated": true,
          "description": "VisionExplanationConfig for XAI on test set. Optional for when XAI is enable in training request.",
          "items": {
            "$ref": "XPSResponseExplanationSpec"
          }
        },
        "deployedModelSizeBytes": {
          "description": "Estimated model size in bytes once deployed.",
          "type": "string",
          "format": "int64"
        },
        "videoClassificationTrainResp": {
          "$ref": "XPSVideoClassificationTrainResponse"
        },
        "textTrainResp": {
          "$ref": "XPSTextTrainResponse",
          "description": "Will only be needed for uCAIP from Beta."
        }
      }
    },
    "XPSTablesModelStructureModelParametersParameter": {
      "type": "object",
      "id": "XPSTablesModelStructureModelParametersParameter",
      "properties": {
        "intValue": {
          "description": "Integer type parameter value.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Parameter name."
        },
        "floatValue": {
          "type": "number",
          "format": "double",
          "description": "Float type parameter value."
        },
        "stringValue": {
          "description": "String type parameter value.",
          "type": "string"
        }
      }
    },
    "XPSExportModelOutputConfig": {
      "id": "XPSExportModelOutputConfig",
      "properties": {
        "exportFirebaseAuxiliaryInfo": {
          "type": "boolean",
          "description": "For any model and format: If true, will additionally export FirebaseExportedModelInfo in a firebase.txt file."
        },
        "edgeTpuTfLiteFormat": {
          "$ref": "XPSEdgeTpuTfLiteFormat"
        },
        "dockerFormat": {
          "$ref": "XPSDockerFormat"
        },
        "tfSavedModelFormat": {
          "$ref": "XPSTfSavedModelFormat"
        },
        "outputGcsUri": {
          "description": "The Google Cloud Storage directory where XPS will output the exported models and related files. Format: gs://bucket/directory",
          "type": "string"
        },
        "outputGcrUri": {
          "type": "string",
          "description": "The Google Contained Registry path the exported files to be pushed to. This location is set if the exported format is DOCKDER."
        },
        "tfLiteFormat": {
          "$ref": "XPSTfLiteFormat"
        },
        "coreMlFormat": {
          "$ref": "XPSCoreMlFormat"
        },
        "tfJsFormat": {
          "$ref": "XPSTfJsFormat"
        }
      },
      "type": "object"
    },
    "DiskMetric": {
      "id": "DiskMetric",
      "properties": {
        "diskType": {
          "type": "string",
          "description": "Required. Type of Disk, e.g. REGIONAL_SSD.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_DISK_TYPE",
            "REGIONAL_SSD",
            "REGIONAL_STORAGE",
            "PD_SSD",
            "PD_STANDARD",
            "STORAGE_SNAPSHOT"
          ]
        },
        "gibSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of physical disk usage, e.g. 3600."
        }
      },
      "type": "object"
    },
    "XPSFloat64Stats": {
      "description": "The data statistics of a series of FLOAT64 values.",
      "type": "object",
      "id": "XPSFloat64Stats",
      "properties": {
        "quantiles": {
          "description": "Ordered from 0 to k k-quantile values of the data series of n values. The value at index i is, approximately, the i*n/k-th smallest value in the series; for i = 0 and i = k these are, respectively, the min and max values.",
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "histogramBuckets": {
          "description": "Histogram buckets of the data series. Sorted by the min value of the bucket, ascendingly, and the number of the buckets is dynamically generated. The buckets are non-overlapping and completely cover whole FLOAT64 range with min of first bucket being `\"-Infinity\"`, and max of the last one being `\"Infinity\"`.",
          "items": {
            "$ref": "XPSFloat64StatsHistogramBucket"
          },
          "type": "array"
        },
        "mean": {
          "type": "number",
          "format": "double",
          "description": "The mean of the series."
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        },
        "standardDeviation": {
          "type": "number",
          "format": "double",
          "description": "The standard deviation of the series."
        }
      }
    },
    "XPSResponseExplanationSpec": {
      "type": "object",
      "description": "Specification of Model explanation. Feature-based XAI in AutoML Vision ICN is deprecated.",
      "id": "XPSResponseExplanationSpec",
      "properties": {
        "explanationType": {
          "type": "string",
          "description": "Explanation type. For AutoML Image Classification models, possible values are: * `image-integrated-gradients` * `image-xrai`"
        },
        "metadata": {
          "$ref": "XPSResponseExplanationMetadata",
          "description": "Metadata describing the Model's input and output for explanation."
        },
        "parameters": {
          "$ref": "XPSResponseExplanationParameters",
          "description": "Parameters that configure explaining of the Model's predictions."
        }
      },
      "deprecated": true
    },
    "XPSSpeechEvaluationMetrics": {
      "id": "XPSSpeechEvaluationMetrics",
      "properties": {
        "subModelEvaluationMetrics": {
          "description": "Evaluation metrics for all submodels contained in this model.",
          "items": {
            "$ref": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AnalyzeEntitiesRequest": {
      "description": "The entity analysis request message.",
      "id": "AnalyzeEntitiesRequest",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "encodingType": {
          "type": "string",
          "description": "The encoding type used by the API to calculate offsets.",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ]
        }
      },
      "type": "object"
    },
    "XPSRegressionMetricsEntry": {
      "description": "A pair of actual & observed values for the model being evaluated.",
      "type": "object",
      "id": "XPSRegressionMetricsEntry",
      "properties": {
        "trueValue": {
          "type": "number",
          "format": "float",
          "description": "The actual target value for a row in the dataset."
        },
        "predictedValue": {
          "type": "number",
          "format": "float",
          "description": "The observed value for a row in the dataset."
        }
      }
    },
    "XPSArrayStats": {
      "type": "object",
      "id": "XPSArrayStats",
      "properties": {
        "memberStats": {
          "$ref": "XPSDataStats",
          "description": "Stats of all the values of all arrays, as if they were a single long series of data. The type depends on the element type of the array."
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "description": "The data statistics of a series of ARRAY values."
    },
    "XPSStructStats": {
      "id": "XPSStructStats",
      "properties": {
        "fieldStats": {
          "description": "Map from a field name of the struct to data stats aggregated over series of all data in that field across all the structs.",
          "additionalProperties": {
            "$ref": "XPSDataStats"
          },
          "type": "object"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "type": "object",
      "description": "The data statistics of a series of STRUCT values."
    },
    "XPSMetricEntryLabel": {
      "type": "object",
      "id": "XPSMetricEntryLabel",
      "properties": {
        "labelValue": {
          "type": "string",
          "description": "The value of the label."
        },
        "labelName": {
          "type": "string",
          "description": "The name of the label."
        }
      }
    },
    "XPSTablesModelColumnInfo": {
      "description": "An information specific to given column and Tables Model, in context of the Model and the predictions created by it.",
      "id": "XPSTablesModelColumnInfo",
      "properties": {
        "columnId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the column."
        },
        "featureImportance": {
          "type": "number",
          "format": "float",
          "description": "When given as part of a Model: Measurement of how much model predictions correctness on the TEST data depend on values in this column. A value between 0 and 1, higher means higher influence. These values are normalized - for all input feature columns of a given model they add to 1. When given back by Predict or Batch Predict: Measurement of how impactful for the prediction returned for the given row the value in this column was. Specifically, the feature importance specifies the marginal contribution that the feature made to the prediction score compared to the baseline score. These values are computed using the Sampled Shapley method."
        }
      },
      "type": "object"
    },
    "XPSXpsOperationMetadata": {
      "type": "object",
      "id": "XPSXpsOperationMetadata",
      "properties": {
        "tablesTrainingOperationMetadata": {
          "$ref": "XPSTablesTrainingOperationMetadata"
        },
        "videoTrainingOperationMetadata": {
          "$ref": "XPSVideoTrainingOperationMetadata"
        },
        "exampleCount": {
          "description": "Optional. XPS server can opt to provide example count of the long running operation (e.g. training, data importing, batch prediction).",
          "type": "string",
          "format": "int64"
        },
        "reportingMetrics": {
          "$ref": "XPSReportingMetrics",
          "description": "Metrics for the operation. By the time the operation is terminated (whether succeeded or failed) as returned from XPS, AutoML BE assumes the metrics are finalized. AutoML BE transparently posts the metrics to Chemist if it's not empty, regardless of the response content or error type. If user is supposed to be charged in case of cancellation/error, this field should be set. In the case where the type of LRO doesn't require any billing, this field should be left unset."
        },
        "visionTrainingOperationMetadata": {
          "$ref": "XPSVisionTrainingOperationMetadata"
        },
        "videoBatchPredictOperationMetadata": {
          "$ref": "XPSVideoBatchPredictOperationMetadata"
        }
      }
    },
    "AnnotateTextResponse": {
      "description": "The text annotations response message.",
      "id": "AnnotateTextResponse",
      "properties": {
        "sentences": {
          "type": "array",
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "items": {
            "$ref": "Sentence"
          }
        },
        "moderationCategories": {
          "description": "Harmful and sensitive categories identified in the input document.",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "type": "array"
        },
        "categories": {
          "description": "Categories identified in the input document.",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "type": "array"
        },
        "entities": {
          "type": "array",
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities .",
          "items": {
            "$ref": "Entity"
          }
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "languageSupported": {
          "description": "Whether the language is officially supported by all requested features. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        },
        "documentSentiment": {
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "$ref": "Sentiment"
        }
      },
      "type": "object"
    },
    "XPSResponseExplanationMetadata": {
      "id": "XPSResponseExplanationMetadata",
      "properties": {
        "inputs": {
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataInputMetadata"
          },
          "description": "Metadata of the input.",
          "type": "object"
        },
        "outputs": {
          "type": "object",
          "description": "Metadata of the output.",
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataOutputMetadata"
          }
        }
      },
      "type": "object",
      "deprecated": true
    },
    "AnalyzeSentimentRequest": {
      "description": "The sentiment analysis request message.",
      "id": "AnalyzeSentimentRequest",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        },
        "encodingType": {
          "description": "The encoding type used by the API to calculate sentence offsets.",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "TextSpan": {
      "description": "Represents a text span in the input document.",
      "id": "TextSpan",
      "properties": {
        "beginOffset": {
          "type": "integer",
          "format": "int32",
          "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request."
        },
        "content": {
          "description": "The content of the text span, which is a substring of the document.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSImageModelServingSpecModelThroughputEstimation": {
      "type": "object",
      "id": "XPSImageModelServingSpecModelThroughputEstimation",
      "properties": {
        "nodeQps": {
          "description": "The approximate qps a deployed node can serve.",
          "type": "number",
          "format": "double"
        },
        "servomaticPartitionType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ],
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ]
        },
        "latencyInMilliseconds": {
          "description": "Estimated latency.",
          "type": "number",
          "format": "double"
        },
        "computeEngineAcceleratorType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "Nvidia A100 80GB GPU.",
            "Nvidia L4 GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H200 141Gb GPU.",
            "Nvidia B200 GPU.",
            "Nvidia GB200 GPU.",
            "TPU v2 (JellyFish).",
            "TPU v3 (DragonFish).",
            "TPU_v4 (PufferFish).",
            "TPU v5 Lite Pods."
          ],
          "enum": [
            "UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_L4",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "TPU_V2",
            "TPU_V3",
            "TPU_V4_POD",
            "TPU_V5_LITEPOD"
          ]
        }
      }
    },
    "GpuMetric": {
      "type": "object",
      "id": "GpuMetric",
      "properties": {
        "trackingLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "type": "object"
        },
        "gpuSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of GPU usage, e.g. 3600."
        },
        "gpuType": {
          "description": "Required. Type of GPU, e.g. NVIDIA_TESLA_V100.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_GPU_TYPE",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "NVIDIA_TESLA_K80",
            "NVIDIA_L4",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_V100",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_RTX_PRO_6000"
          ],
          "type": "string"
        },
        "machineSpec": {
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ],
          "type": "string"
        }
      }
    },
    "XPSImageClassificationTrainResponse": {
      "type": "object",
      "id": "XPSImageClassificationTrainResponse",
      "properties": {
        "stopReason": {
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ]
        },
        "classCount": {
          "description": "Total number of classes.",
          "type": "string",
          "format": "int64"
        },
[...]
