{
  "id": "language:v2",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "documents": {
      "methods": {
        "moderateText": {
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/documents:moderateText",
          "description": "Moderates a document for harmful and sensitive categories.",
          "request": {
            "$ref": "ModerateTextRequest"
          },
          "response": {
            "$ref": "ModerateTextResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v2/documents:moderateText",
          "id": "language.documents.moderateText"
        },
        "analyzeEntities": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, probability, mentions for each entity, and other properties.",
          "id": "language.documents.analyzeEntities",
          "parameters": {},
          "flatPath": "v2/documents:analyzeEntities",
          "parameterOrder": [],
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "path": "v2/documents:analyzeEntities",
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          }
        },
        "classifyText": {
          "path": "v2/documents:classifyText",
          "id": "language.documents.classifyText",
          "parameters": {},
          "description": "Classifies a document into categories.",
          "response": {
            "$ref": "ClassifyTextResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "parameterOrder": [],
          "flatPath": "v2/documents:classifyText"
        },
        "analyzeSentiment": {
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          },
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "flatPath": "v2/documents:analyzeSentiment",
          "parameterOrder": [],
          "id": "language.documents.analyzeSentiment",
          "path": "v2/documents:analyzeSentiment",
          "httpMethod": "POST",
          "description": "Analyzes the sentiment of the provided text."
        },
        "annotateText": {
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "httpMethod": "POST",
          "description": "A convenience method that provides all features in one call.",
          "flatPath": "v2/documents:annotateText",
          "parameters": {},
          "request": {
            "$ref": "AnnotateTextRequest"
          },
          "parameterOrder": [],
          "path": "v2/documents:annotateText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.documents.annotateText"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "canonicalName": "Cloud Natural Language",
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "title": "Cloud Natural Language API",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v2",
  "baseUrl": "https://language.googleapis.com/",
  "documentationLink": "https://cloud.google.com/natural-language/",
  "protocol": "rest",
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "ownerName": "Google",
  "rootUrl": "https://language.googleapis.com/",
  "schemas": {
    "XPSTablesPreprocessResponse": {
      "id": "XPSTablesPreprocessResponse",
      "properties": {
        "tablesDatasetMetadata": {
          "description": "The table/column id, column_name and the DataTypes of the columns will be populated.",
          "$ref": "XPSTablesDatasetMetadata"
        }
      },
      "type": "object"
    },
    "XPSTablesTrainingOperationMetadata": {
      "properties": {
        "topTrials": {
          "type": "array",
          "items": {
            "$ref": "XPSTuningTrial"
          },
          "description": "This field is for training. When the operation is terminated successfully, AutoML Backend post this field to operation metadata in spanner. If the metadata has no trials returned, the training operation is supposed to be a failure."
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective for model."
        },
        "trainingStartTime": {
          "type": "string",
          "description": "Timestamp when training process starts.",
          "format": "google-datetime"
        },
        "trainBudgetMilliNodeHours": {
          "type": "string",
          "description": "Creating model budget.",
          "format": "int64"
        },
        "createModelStage": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified stage.",
            "Prepare the model training pipeline and run data processing.",
            "Training model.",
            "Run evaluation.",
            "Finalizing model training pipeline."
          ],
          "description": "Current stage of creating model.",
          "enum": [
            "CREATE_MODEL_STAGE_UNSPECIFIED",
            "DATA_PREPROCESSING",
            "TRAINING",
            "EVALUATING",
            "MODEL_POST_PROCESSING"
          ]
        },
        "trainingObjectivePoints": {
          "items": {
            "$ref": "XPSTrainingObjectivePoint"
          },
          "type": "array",
          "description": "This field records the training objective value with respect to time, giving insight into how the model architecture search is performing as training time elapses."
        }
      },
      "type": "object",
      "id": "XPSTablesTrainingOperationMetadata"
    },
    "XPSImageModelArtifactSpec": {
      "type": "object",
      "id": "XPSImageModelArtifactSpec",
      "properties": {
        "labelGcsUri": {
          "description": "Google Cloud Storage URI of decoded labels file for model export 'dict.txt'.",
          "type": "string"
        },
        "checkpointArtifact": {
          "description": "The Tensorflow checkpoint files. e.g. Used for resumable training.",
          "$ref": "XPSModelArtifactItem"
        },
        "exportArtifact": {
          "items": {
            "$ref": "XPSModelArtifactItem"
          },
          "description": "The model binary files in different formats for model export.",
          "type": "array"
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "tfLiteMetadataGcsUri": {
          "type": "string",
          "description": "Google Cloud Storage URI of Tensorflow Lite metadata 'tflite_metadata.json'."
        },
        "tfJsBinaryGcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage URI prefix of Tensorflow JavaScript binary files 'groupX-shardXofX.bin'. Deprecated."
        }
      },
      "description": "Stores the locations and related metadata of the model artifacts. Populated for uCAIP requests only."
    },
    "XPSImageExportModelSpec": {
      "id": "XPSImageExportModelSpec",
      "type": "object",
      "properties": {
        "exportModelOutputConfig": {
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          },
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files.",
          "type": "array"
        }
      },
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format."
    },
    "XPSImageObjectDetectionEvaluationMetrics": {
      "type": "object",
      "id": "XPSImageObjectDetectionEvaluationMetrics",
      "properties": {
        "boundingBoxMetricsEntries": {
          "description": "The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          },
          "type": "array"
        },
        "evaluatedBoundingBoxCount": {
          "type": "integer",
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had.",
          "format": "int32"
        },
        "boundingBoxMeanAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries."
        }
      },
      "description": "Model evaluation metrics for image object detection problems. Evaluates prediction quality of labeled bounding boxes."
    },
    "Color": {
      "type": "object",
      "id": "Color",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "alpha": {
          "format": "float",
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
    },
    "AnnotateTextResponse": {
      "description": "The text annotations response message.",
      "properties": {
        "categories": {
          "description": "Categories identified in the input document.",
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          }
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "sentences": {
          "items": {
            "$ref": "Sentence"
          },
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "type": "array"
        },
        "documentSentiment": {
          "$ref": "Sentiment",
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment."
        },
        "entities": {
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities .",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        },
        "languageSupported": {
          "type": "boolean",
          "description": "Whether the language is officially supported by all requested features. The API may still return a response when the language is not supported, but it is on a best effort basis."
        },
        "moderationCategories": {
          "type": "array",
          "description": "Harmful and sensitive categories identified in the input document.",
          "items": {
            "$ref": "ClassificationCategory"
          }
        }
      },
      "type": "object",
      "id": "AnnotateTextResponse"
    },
    "XPSVisionTrainingOperationMetadata": {
      "id": "XPSVisionTrainingOperationMetadata",
      "properties": {
        "explanationUsage": {
          "description": "Aggregated infra usage within certain time period, for billing report purpose if XAI is enable in training request.",
          "$ref": "InfraUsage"
        }
      },
      "deprecated": true,
      "type": "object"
    },
    "XPSTrackMetricsEntry": {
      "description": "Track matching model metrics for a single track match threshold and multiple label match confidence thresholds. Next tag: 6.",
      "properties": {
        "meanTrackingAveragePrecision": {
          "format": "float",
          "type": "number",
          "description": "Output only. The mean average precision over all confidence thresholds."
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Output only. Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99. Precision-recall curve is derived from them.",
          "items": {
            "$ref": "XPSTrackMetricsEntryConfidenceMetricsEntry"
          }
        },
        "meanMismatchRate": {
          "description": "Output only. The mean mismatch rate over all confidence thresholds.",
          "type": "number",
          "format": "float"
        },
        "meanBoundingBoxIou": {
          "type": "number",
          "format": "float",
          "description": "Output only. The mean bounding box iou over all confidence thresholds."
        },
        "iouThreshold": {
          "type": "number",
          "description": "Output only. The intersection-over-union threshold value between bounding boxes across frames used to compute this metric entry.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "XPSTrackMetricsEntry"
    },
    "ClassifyTextRequest": {
      "type": "object",
      "description": "The document classification request message.",
      "id": "ClassifyTextRequest",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      }
    },
    "InfraUsage": {
      "type": "object",
      "description": "LINT: LEGACY_NAMES Infra Usage of billing metrics.",
      "properties": {
        "cpuMetrics": {
          "type": "array",
          "items": {
            "$ref": "CpuMetric"
          },
          "description": "Aggregated core metrics since requested start_time."
        },
        "diskMetrics": {
          "type": "array",
          "items": {
            "$ref": "DiskMetric"
          },
          "description": "Aggregated persistent disk metrics since requested start_time."
        },
        "ramMetrics": {
          "items": {
            "$ref": "RamMetric"
          },
          "description": "Aggregated ram metrics since requested start_time.",
          "type": "array"
        },
        "gpuMetrics": {
          "type": "array",
          "description": "Aggregated gpu metrics since requested start_time.",
          "items": {
            "$ref": "GpuMetric"
          }
        },
        "tpuMetrics": {
          "items": {
            "$ref": "TpuMetric"
          },
          "description": "Aggregated tpu metrics since requested start_time.",
          "type": "array"
        }
      },
      "id": "InfraUsage"
    },
    "Sentence": {
      "description": "Represents a sentence in the input document.",
      "properties": {
        "sentiment": {
          "description": "For calls to AnalyzeSentiment or if AnnotateTextRequest.Features.extract_document_sentiment is set to true, this field will contain the sentiment for the sentence.",
          "$ref": "Sentiment"
        },
        "text": {
          "description": "The sentence text.",
          "$ref": "TextSpan"
        }
      },
      "type": "object",
      "id": "Sentence"
    },
    "XPSReportingMetrics": {
      "properties": {
        "metricEntries": {
          "description": "One entry per metric name. The values must be aggregated per metric name.",
          "type": "array",
          "items": {
            "$ref": "XPSMetricEntry"
          }
        },
        "effectiveTrainingDuration": {
          "deprecated": true,
          "description": "The effective time training used. If set, this is used for quota management and billing. Deprecated. AutoML BE doesn't use this. Don't set.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "XPSReportingMetrics"
    },
    "XPSTimestampStatsGranularStats": {
      "description": "Stats split by a defined in context granularity.",
      "properties": {
        "buckets": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "A map from granularity key to example count for that key. E.g. for hour_of_day `13` means 1pm, or for month_of_year `5` means May)."
        }
      },
      "type": "object",
      "id": "XPSTimestampStatsGranularStats"
    },
    "XPSRegressionEvaluationMetrics": {
      "description": "Model evaluation metrics for regression problems. It can be used for Tables.",
      "id": "XPSRegressionEvaluationMetrics",
      "properties": {
        "rootMeanSquaredError": {
          "format": "float",
          "description": "Root Mean Squared Error (RMSE).",
          "type": "number"
        },
        "rootMeanSquaredLogError": {
          "description": "Root mean squared log error.",
          "type": "number",
          "format": "float"
        },
        "rSquared": {
          "type": "number",
          "description": "R squared.",
          "format": "float"
        },
        "meanAbsolutePercentageError": {
          "format": "float",
          "description": "Mean absolute percentage error. Only set if all ground truth values are positive.",
          "type": "number"
        },
        "meanAbsoluteError": {
          "description": "Mean Absolute Error (MAE).",
          "format": "float",
          "type": "number"
        },
        "regressionMetricsEntries": {
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          },
          "description": "A list of actual versus predicted points for the model being evaluated.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "XPSDockerFormat": {
      "properties": {
        "gpuArchitecture": {
          "description": "Optional. Additional gpu information describing the requirements for the to be exported model files.",
          "enum": [
            "GPU_ARCHITECTURE_UNSPECIFIED",
            "GPU_ARCHITECTURE_NVIDIA"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "cpuArchitecture": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Optional. Additional cpu information describing the requirements for the to be exported model files.",
          "enum": [
            "CPU_ARCHITECTURE_UNSPECIFIED",
            "CPU_ARCHITECTURE_X86_64"
          ]
        }
      },
      "description": "A model format used for Docker containers. Use the params field to customize the container. The container is verified to work correctly on ubuntu 16.04 operating system.",
      "type": "object",
      "id": "XPSDockerFormat"
    },
    "XPSImageSegmentationTrainResponse": {
      "id": "XPSImageSegmentationTrainResponse",
      "properties": {
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "trainCostNodeSeconds": {
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string"
        },
        "colorMaps": {
          "type": "array",
          "description": "Color map of the model.",
          "items": {
            "$ref": "XPSColorMap"
          }
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "NOTE: These fields are not used/needed in EAP but will be set later."
        },
        "stopReason": {
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "type": "string",
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ]
        },
        "modelArtifactSpec": {
          "$ref": "XPSImageModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata"
        }
      },
      "type": "object"
    },
    "XPSMetricEntryLabel": {
      "properties": {
        "labelName": {
          "type": "string",
          "description": "The name of the label."
        },
        "labelValue": {
          "type": "string",
          "description": "The value of the label."
        }
      },
      "id": "XPSMetricEntryLabel",
      "type": "object"
    },
    "Document": {
      "type": "object",
      "id": "Document",
      "description": "Represents the input to API methods.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ],
          "enumDescriptions": [
            "The content type is not specified.",
            "Plain text",
            "HTML"
          ],
          "description": "Required. If the type is not set or is `TYPE_UNSPECIFIED`, returns an `INVALID_ARGUMENT` error.",
          "type": "string"
        },
        "content": {
          "description": "The content of the input in string format. Cloud audit logging exempt since it is based on user data.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The language of the document (if not specified, the language is automatically detected). Both ISO and BCP-47 language codes are accepted. [Language Support](https://cloud.google.com/natural-language/docs/languages) lists currently supported languages for each API method. If the language (either specified by the caller or automatically detected) is not supported by the called API method, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "gcsContentUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI where the file content is located. This URI must be of the form: gs://bucket_name/object_name. For more details, see https://cloud.google.com/storage/docs/reference-uris. NOTE: Cloud Storage object versioning is not supported."
        }
      }
    },
    "XPSTextTrainResponse": {
      "type": "object",
      "id": "XPSTextTrainResponse",
      "properties": {
        "componentModel": {
          "description": "Component submodels.",
          "type": "array",
          "items": {
            "$ref": "XPSTextComponentModel"
          }
        }
      }
    },
    "XPSCorrelationStats": {
      "description": "A correlation statistics between two series of DataType values. The series may have differing DataType-s, but within a single series the DataType must be the same.",
      "properties": {
        "cramersV": {
          "format": "double",
          "description": "The correlation value using the Cramer's V measure.",
          "type": "number"
        }
      },
      "id": "XPSCorrelationStats",
      "type": "object"
    },
    "XPSTextComponentModel": {
      "type": "object",
      "id": "XPSTextComponentModel",
      "properties": {
        "onlinePredictionModelGcsUri": {
          "type": "string",
          "description": "The Cloud Storage resource path to hold online prediction model."
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud Ai Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "submodelName": {
          "type": "string",
          "description": "The name of the trained NL submodel."
        },
        "batchPredictionModelGcsUri": {
          "description": "The Cloud Storage resource path to hold batch prediction model.",
          "type": "string"
        },
        "versionNumber": {
          "type": "string",
          "description": "The servomatic model version number. Populated by uCAIP BE as part of online PredictRequest.",
          "format": "int64"
        },
        "servoModelName": {
          "type": "string",
          "description": "The name of servo model. Populated by uCAIP BE as part of online PredictRequest."
        },
        "partition": {
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ],
          "type": "string",
          "description": "The partition where the model is deployed. Populated by uCAIP BE as part of online PredictRequest.",
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ]
        },
        "submodelType": {
          "type": "string",
          "description": "The type of trained NL submodel",
          "enum": [
            "TEXT_MODEL_TYPE_UNSPECIFIED",
            "TEXT_MODEL_TYPE_DEFAULT",
            "TEXT_MODEL_TYPE_META_ARCHITECT",
            "TEXT_MODEL_TYPE_ATC",
            "TEXT_MODEL_TYPE_CLARA2",
            "TEXT_MODEL_TYPE_CHATBASE",
            "TEXT_MODEL_TYPE_SAFT_SPAN_LABELING",
            "TEXT_MODEL_TYPE_TEXT_EXTRACTION",
            "TEXT_MODEL_TYPE_RELATIONSHIP_EXTRACTION",
            "TEXT_MODEL_TYPE_COMPOSITE",
            "TEXT_MODEL_TYPE_ALL_MODELS",
            "TEXT_MODEL_TYPE_BERT",
            "TEXT_MODEL_TYPE_ENC_PALM"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Model type for entity extraction.",
            "Model type for relationship extraction.",
            "A composite model represents a set of component models that have to be used together for prediction. A composite model appears to be a single model to the model user. It may contain only one component model.",
            "Model type used to train default, MA, and ATC models in a single batch worker pipeline.",
            "BERT pipeline needs a specific model type, since it uses a different TFX configuration compared with DEFAULT (despite sharing most of the code).",
            "Model type for EncPaLM."
          ]
        },
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        }
      },
      "description": "Component model."
    },
    "XPSTablesEvaluationMetrics": {
      "type": "object",
      "properties": {
        "regressionMetrics": {
          "description": "Regression metrics.",
          "$ref": "XPSTablesRegressionMetrics"
        },
        "classificationMetrics": {
          "$ref": "XPSTablesClassificationMetrics",
          "description": "Classification metrics."
        }
      },
      "id": "XPSTablesEvaluationMetrics"
    },
    "AnalyzeSentimentResponse": {
      "properties": {
        "documentSentiment": {
          "description": "The overall sentiment of the input document.",
          "$ref": "Sentiment"
        },
        "sentences": {
          "description": "The sentiment for all the sentences in the document.",
          "type": "array",
          "items": {
            "$ref": "Sentence"
          }
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "languageSupported": {
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AnalyzeSentimentResponse",
      "description": "The sentiment analysis response message."
    },
    "XPSImageModelServingSpec": {
      "description": "Serving specification for image models.",
      "id": "XPSImageModelServingSpec",
      "type": "object",
      "properties": {
        "nodeQps": {
          "format": "double",
          "type": "number",
          "description": "An estimated value of how much traffic a node can serve. Populated for AutoMl request only."
        },
        "modelThroughputEstimation": {
          "items": {
            "$ref": "XPSImageModelServingSpecModelThroughputEstimation"
          },
          "type": "array",
          "description": "Populate under uCAIP request scope."
        },
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        }
      }
    },
    "XPSTranslationEvaluationMetrics": {
      "id": "XPSTranslationEvaluationMetrics",
      "description": "Evaluation metrics for the dataset.",
      "properties": {
        "baseBleuScore": {
          "format": "double",
          "description": "BLEU score for base model.",
          "type": "number"
        },
        "bleuScore": {
          "format": "double",
          "description": "BLEU score.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "XPSColorMap": {
      "properties": {
        "intColor": {
          "$ref": "XPSColorMapIntColor"
        },
        "color": {
          "description": "This type is deprecated in favor of the IntColor below. This is because google.type.Color represent color has a float which semantically does not reflect discrete classes/categories concept. Moreover, to handle it well we need to have some tolerance when converting to a discretized color. As such, the recommendation is to have API surface still use google.type.Color while internally IntColor is used.",
          "deprecated": true,
          "$ref": "Color"
        },
        "displayName": {
          "description": "Should be used during preprocessing.",
          "type": "string"
        },
        "annotationSpecIdToken": {
          "type": "string",
          "description": "Should be used during training."
        }
      },
      "id": "XPSColorMap",
      "description": "Map from color to display name. Will only be used by Image Segmentation for uCAIP.",
      "type": "object"
    },
    "XPSSpeechPreprocessResponse": {
      "id": "XPSSpeechPreprocessResponse",
      "properties": {
        "cnsTrainDataPath": {
          "description": "Location of shards of sstables (training data) of DataUtterance protos.",
          "type": "string"
        },
        "speechPreprocessStats": {
          "description": "Stats associated with the data.",
          "$ref": "XPSSpeechPreprocessStats"
        },
        "cnsTestDataPath": {
          "description": "Location od shards of sstables (test data) of DataUtterance protos.",
          "type": "string"
        },
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        }
      },
      "type": "object"
    },
    "XPSExampleSet": {
      "properties": {
        "fileSpec": {
          "$ref": "XPSFileSpec",
          "description": "File spec of the examples or input sources."
        },
        "numInputSources": {
          "format": "int64",
          "type": "string",
          "description": "Number of input sources."
        },
        "numExamples": {
          "format": "int64",
          "description": "Number of examples.",
          "type": "string"
        },
        "fingerprint": {
          "description": "Fingerprint of the example set.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSExampleSet",
      "description": "Set of examples or input sources.",
      "type": "object"
    },
    "XPSColumnSpecCorrelatedColumn": {
      "properties": {
        "columnId": {
          "format": "int32",
          "type": "integer"
        },
        "correlationStats": {
          "$ref": "XPSCorrelationStats"
        }
      },
      "id": "XPSColumnSpecCorrelatedColumn",
      "description": "Identifies a table's column, and its correlation with the column this ColumnSpec describes.",
      "type": "object"
    },
    "XPSCategoryStats": {
      "id": "XPSCategoryStats",
      "type": "object",
      "properties": {
        "topCategoryStats": {
          "description": "The statistics of the top 20 CATEGORY values, ordered by CategoryStats.SingleCategoryStats.count.",
          "type": "array",
          "items": {
            "$ref": "XPSCategoryStatsSingleCategoryStats"
          }
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "description": "The data statistics of a series of CATEGORY values."
    },
    "XPSVideoTrainingOperationMetadata": {
      "properties": {
        "trainCostMilliNodeHour": {
          "type": "string",
          "description": "This is an estimation of the node hours necessary for training a model, expressed in milli node hours (i.e. 1,000 value in this field means 1 node hour). A node hour represents the time a virtual machine spends running your training job. The cost of one node running for one hour is a node hour.",
          "format": "int64"
        }
      },
      "id": "XPSVideoTrainingOperationMetadata",
      "type": "object"
    },
    "XPSTextToSpeechTrainResponse": {
      "id": "XPSTextToSpeechTrainResponse",
      "type": "object",
      "properties": {},
      "description": "TextToSpeech train response"
    },
    "XPSXpsOperationMetadata": {
      "type": "object",
      "properties": {
        "exampleCount": {
          "description": "Optional. XPS server can opt to provide example count of the long running operation (e.g. training, data importing, batch prediction).",
          "type": "string",
          "format": "int64"
        },
        "videoTrainingOperationMetadata": {
          "$ref": "XPSVideoTrainingOperationMetadata"
        },
        "visionTrainingOperationMetadata": {
          "$ref": "XPSVisionTrainingOperationMetadata"
        },
        "reportingMetrics": {
          "description": "Metrics for the operation. By the time the operation is terminated (whether succeeded or failed) as returned from XPS, AutoML BE assumes the metrics are finalized. AutoML BE transparently posts the metrics to Chemist if it's not empty, regardless of the response content or error type. If user is supposed to be charged in case of cancellation/error, this field should be set. In the case where the type of LRO doesn't require any billing, this field should be left unset.",
          "$ref": "XPSReportingMetrics"
        },
        "tablesTrainingOperationMetadata": {
          "$ref": "XPSTablesTrainingOperationMetadata"
        },
        "videoBatchPredictOperationMetadata": {
          "$ref": "XPSVideoBatchPredictOperationMetadata"
        }
      },
      "id": "XPSXpsOperationMetadata"
    },
    "XPSVideoObjectTrackingTrainResponse": {
      "properties": {
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string",
          "format": "int64"
        },
        "exportModelSpec": {
          "description": "Populated for AutoML request only.",
          "$ref": "XPSVideoExportModelSpec"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        }
      },
      "type": "object",
      "id": "XPSVideoObjectTrackingTrainResponse"
    },
    "XPSVideoObjectTrackingEvaluationMetrics": {
      "type": "object",
      "id": "XPSVideoObjectTrackingEvaluationMetrics",
      "description": "Model evaluation metrics for ObjectTracking problems. Next tag: 10.",
      "properties": {
        "boundingBoxMeanAveragePrecision": {
          "description": "Output only. The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "type": "number",
          "format": "float"
        },
        "trackMeanBoundingBoxIou": {
          "description": "Output only. The single metric for tracks bounding box iou evaluation: the mean_bounding_box_iou averaged over all track_metrics_entries.",
          "type": "number",
          "format": "float"
        },
        "boundingBoxMetricsEntries": {
          "type": "array",
          "description": "Output only. The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          }
        },
        "evaluatedTrackCount": {
          "description": "The number of tracks used for model evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "trackMetricsEntries": {
          "items": {
            "$ref": "XPSTrackMetricsEntry"
          },
          "type": "array",
          "description": "Output only. The tracks match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
        },
        "trackMeanAveragePrecision": {
          "type": "number",
          "description": "Output only. The single metric for tracks accuracy evaluation: the mean_average_precision averaged over all track_metrics_entries.",
          "format": "float"
        },
        "evaluatedFrameCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of video frames used for model evaluation."
        },
        "evaluatedBoundingboxCount": {
          "description": "The number of bounding boxes used for model evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "trackMeanMismatchRate": {
          "type": "number",
          "format": "float",
          "description": "Output only. The single metric for tracking consistency evaluation: the mean_mismatch_rate averaged over all track_metrics_entries."
        }
      }
    },
    "XPSTrackMetricsEntryConfidenceMetricsEntry": {
      "id": "XPSTrackMetricsEntryConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold. Next tag: 6.",
      "type": "object",
      "properties": {
        "boundingBoxIou": {
          "description": "Output only. Bounding box intersection-over-union precision. Measures how well the bounding boxes overlap between each other (e.g. complete overlap or just barely above iou_threshold).",
          "format": "float",
          "type": "number"
        },
        "trackingRecall": {
          "description": "Output only. Tracking recall.",
          "format": "float",
          "type": "number"
        },
        "mismatchRate": {
          "description": "Output only. Mismatch rate, which measures the tracking consistency, i.e. correctness of instance ID continuity.",
          "type": "number",
          "format": "float"
        },
        "trackingPrecision": {
          "type": "number",
          "description": "Output only. Tracking precision.",
          "format": "float"
        },
        "confidenceThreshold": {
          "format": "float",
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "type": "number"
        }
      }
    },
    "AnalyzeEntitiesResponse": {
      "type": "object",
      "description": "The entity analysis response message.",
      "properties": {
        "languageSupported": {
          "type": "boolean",
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis."
        },
        "entities": {
          "items": {
            "$ref": "Entity"
          },
          "description": "The recognized entities in the input document.",
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details."
        }
      },
      "id": "AnalyzeEntitiesResponse"
    },
    "XPSVideoModelArtifactSpec": {
      "type": "object",
      "properties": {
        "exportArtifact": {
          "type": "array",
          "description": "The model binary files in different formats for model export.",
          "items": {
            "$ref": "XPSModelArtifactItem"
          }
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        }
      },
      "id": "XPSVideoModelArtifactSpec"
    },
    "TpuMetric": {
      "properties": {
        "tpuSec": {
          "description": "Required. Seconds of TPU usage, e.g. 3600.",
          "format": "int64",
          "type": "string"
        },
        "tpuType": {
          "enum": [
            "UNKNOWN_TPU_TYPE",
            "TPU_V2_POD",
            "TPU_V2",
            "TPU_V3_POD",
            "TPU_V3",
            "TPU_V5_LITEPOD"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Required. Type of TPU, e.g. TPU_V2, TPU_V3_POD."
        }
      },
      "id": "TpuMetric",
      "type": "object"
    },
    "XPSSpeechModelSpec": {
      "id": "XPSSpeechModelSpec",
      "type": "object",
      "properties": {
        "subModelSpecs": {
          "items": {
            "$ref": "XPSSpeechModelSpecSubModelSpec"
          },
          "type": "array",
          "description": "Model specs for all submodels contained in this model."
        },
        "language": {
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "format": "int64",
          "description": "Required for speech xps backend. Speech xps has to use dataset_id and model_id as the primary key in db so that speech API can query the db directly."
        }
      }
    },
    "XPSTableSpec": {
      "properties": {
        "columnSpecs": {
          "type": "object",
          "description": "Mapping from column id to column spec.",
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          }
        },
        "rowCount": {
          "format": "int64",
          "description": "The number of rows in the table.",
          "type": "string"
        },
        "validRowCount": {
          "description": "The number of valid rows.",
          "type": "string",
          "format": "int64"
        },
        "importedDataSizeInBytes": {
          "format": "int64",
          "type": "string",
          "description": "The total size of imported data of the table."
        },
        "timeColumnId": {
          "type": "integer",
          "description": "The id of the time column.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "XPSTableSpec"
    },
    "XPSIntegratedGradientsAttribution": {
      "deprecated": true,
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
      "type": "object",
      "id": "XPSIntegratedGradientsAttribution",
      "properties": {
        "stepCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively."
        }
      }
    },
    "XPSImageObjectDetectionModelSpec": {
      "properties": {
        "classCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of classes."
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "maxBoundingBoxCount": {
          "type": "string",
          "format": "int64",
          "description": "Max number of bounding box."
        },
        "stopReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ]
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec"
        }
      },
      "id": "XPSImageObjectDetectionModelSpec",
      "type": "object"
    },
    "XPSImageClassificationTrainResponse": {
      "properties": {
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "description": "The actual training cost, expressed in node seconds. Populated for models trained in node time.",
          "format": "int64"
        },
        "stopReason": {
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'.",
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ]
        },
        "trainCostInNodeTime": {
          "description": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA.",
          "type": "string",
          "format": "google-duration"
        },
        "modelArtifactSpec": {
          "$ref": "XPSImageModelArtifactSpec",
          "description": "## The fields below are only populated under uCAIP request scope."
        },
        "classCount": {
          "description": "Total number of classes.",
          "type": "string",
          "format": "int64"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec",
          "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests."
        }
      },
      "id": "XPSImageClassificationTrainResponse",
      "type": "object"
    },
    "XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "type": "object",
      "id": "XPSVideoActionMetricsEntryConfidenceMetricsEntry",
      "properties": {
        "precision": {
          "format": "float",
          "description": "Output only. Precision for the given confidence threshold.",
          "type": "number"
        },
        "recall": {
          "type": "number",
          "description": "Output only. Recall for the given confidence threshold.",
          "format": "float"
        },
        "confidenceThreshold": {
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "description": "Output only. The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Metrics for a single confidence threshold."
    },
    "XPSTfJsFormat": {
      "properties": {},
      "type": "object",
      "description": "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
      "id": "XPSTfJsFormat"
    },
    "XPSCoreMlFormat": {
      "description": "A model format used for iOS mobile devices.",
      "properties": {},
      "type": "object",
      "id": "XPSCoreMlFormat"
    },
    "XPSEvaluationMetrics": {
      "properties": {
        "annotationSpecIdToken": {
          "type": "string",
          "description": "The annotation_spec for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The value comes from the input annotations in AnnotatedExample. For MVP product or for text sentiment models where annotation_spec_id_token is not available, set label instead."
        },
        "videoActionRecognitionEvalMetrics": {
          "$ref": "XPSVideoActionRecognitionEvaluationMetrics"
        },
        "translationEvalMetrics": {
          "$ref": "XPSTranslationEvaluationMetrics"
        },
        "regressionEvalMetrics": {
          "$ref": "XPSRegressionEvaluationMetrics"
        },
        "imageObjectDetectionEvalMetrics": {
          "$ref": "XPSImageObjectDetectionEvaluationMetrics"
        },
        "evaluatedExampleCount": {
          "description": "The number of examples used to create this evaluation metrics instance.",
          "type": "integer",
          "format": "int32"
        },
        "imageSegmentationEvalMetrics": {
          "$ref": "XPSImageSegmentationEvaluationMetrics"
        },
        "videoClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "textClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "label": {
          "type": "string",
          "description": "The label for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The label maps to AnnotationSpec.display_name in Public API protos. Only used by MVP implementation and text sentiment FULL implementation."
        },
        "category": {
          "description": "The integer category label for which this evaluation metric instance had been created. Valid categories are 0 or higher. Overall model evaluation should set this to negative values (rather than implicit zero). Only used for Image Segmentation (prefer to set annotation_spec_id_token instead). Note: uCAIP Image Segmentation should use annotation_spec_id_token.",
          "type": "integer",
          "format": "int32"
        },
        "textSentimentEvalMetrics": {
          "$ref": "XPSTextSentimentEvaluationMetrics"
        },
        "videoObjectTrackingEvalMetrics": {
          "$ref": "XPSVideoObjectTrackingEvaluationMetrics"
        },
        "tablesClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "tablesEvalMetrics": {
          "$ref": "XPSTablesEvaluationMetrics"
        },
        "imageClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "textExtractionEvalMetrics": {
          "$ref": "XPSTextExtractionEvaluationMetrics"
        }
      },
      "description": "Contains xPS-specific model evaluation metrics either for a single annotation spec (label), or for the model overall. Next tag: 18.",
      "type": "object",
      "id": "XPSEvaluationMetrics"
    },
    "XPSTablesConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold.",
      "type": "object",
      "properties": {
        "truePositiveRate": {
          "description": "TPR = #true positives / (#true positives + #false negatvies)",
          "format": "double",
          "type": "number"
        },
        "precision": {
          "format": "double",
          "description": "Precision = #true positives / (#true positives + #false positives).",
          "type": "number"
        },
        "falseNegativeCount": {
          "format": "int64",
          "type": "string",
          "description": "False negative count."
        },
        "truePositiveCount": {
          "format": "int64",
          "description": "True positive count.",
          "type": "string"
        },
        "recall": {
          "type": "number",
          "format": "double",
          "description": "Recall = #true positives / (#true positives + #false negatives)."
        },
        "falsePositiveRate": {
          "format": "double",
          "description": "FPR = #false positives / (#false positives + #true negatives)",
          "type": "number"
        },
        "trueNegativeCount": {
          "format": "int64",
          "type": "string",
          "description": "True negative count."
        },
        "confidenceThreshold": {
          "description": "The confidence threshold value used to compute the metrics.",
          "type": "number",
          "format": "double"
        },
        "falsePositiveCount": {
          "description": "False positive count.",
          "type": "string",
          "format": "int64"
        },
        "f1Score": {
          "type": "number",
          "format": "double",
          "description": "The harmonic mean of recall and precision. (2 * precision * recall) / (precision + recall)"
        }
      },
      "id": "XPSTablesConfidenceMetricsEntry"
    },
    "XPSConfusionMatrixRow": {
      "properties": {
        "exampleCount": {
          "description": "Value of the specific cell in the confusion matrix. The number of values each row has (i.e. the length of the row) is equal to the length of the annotation_spec_id_token field.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "count": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Same as above except intended to represent other counts (for e.g. for segmentation this is pixel count). NOTE(params): Only example_count or count is set (oneoff does not support repeated fields unless they are embedded inside another message)."
        }
      },
      "type": "object",
      "description": "A row in the confusion matrix.",
      "id": "XPSConfusionMatrixRow"
    },
    "ModerateTextResponse": {
      "properties": {
        "languageSupported": {
          "type": "boolean",
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis."
        },
        "languageCode": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details."
        },
        "moderationCategories": {
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Harmful and sensitive categories representing the input document."
        }
      },
      "id": "ModerateTextResponse",
      "description": "The document moderation response message.",
      "type": "object"
    },
    "XPSModelArtifactItem": {
      "properties": {
        "artifactFormat": {
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The Tensorflow checkpoints. See https://www.tensorflow.org/guide/checkpoint.",
            "The Tensorflow SavedModel binary.",
            "Model artifact in generic TensorFlow Lite (.tflite) format. See https://www.tensorflow.org/lite.",
            "Used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
            "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
            "Used for iOS mobile devices in (.mlmodel) format. See https://developer.apple.com/documentation/coreml"
          ],
          "enum": [
            "ARTIFACT_FORMAT_UNSPECIFIED",
            "TF_CHECKPOINT",
            "TF_SAVED_MODEL",
            "TF_LITE",
            "EDGE_TPU_TF_LITE",
            "TF_JS",
            "CORE_ML"
          ],
          "description": "The model artifact format."
        },
        "gcsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI that stores the model binary files."
        }
      },
      "id": "XPSModelArtifactItem",
      "description": "A single model artifact item.",
      "type": "object"
    },
    "XPSCategoryStatsSingleCategoryStats": {
      "description": "The statistics of a single CATEGORY value.",
      "id": "XPSCategoryStatsSingleCategoryStats",
      "properties": {
        "count": {
          "format": "int64",
          "description": "The number of occurrences of this value in the series.",
          "type": "string"
        },
        "value": {
          "description": "The CATEGORY value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Entity": {
      "description": "Represents a phrase in the text that is a known entity, such as a person, an organization, or location. The API associates information, such as probability and mentions, with entities.",
      "id": "Entity",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unknown",
            "Person",
            "Location",
            "Organization",
            "Event",
            "Artwork",
            "Consumer product",
            "Other types of entities",
            "Phone number The metadata lists the phone number, formatted according to local convention, plus whichever additional elements appear in the text: * `number` - the actual number, broken down into sections as per local convention * `national_prefix` - country code, if detected * `area_code` - region or area code, if detected * `extension` - phone extension (to be dialed after connection), if detected",
            "Address The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - street number * `locality` - city or town * `street_name` - street/route name, if detected * `postal_code` - postal code, if detected * `country` - country, if detected * `broad_region` - administrative area, such as the state, if detected * `narrow_region` - smaller administrative area, such as county, if detected * `sublocality` - used in Asian addresses to demark a district within a city, if detected",
            "Date The metadata identifies the components of the date: * `year` - four digit year, if detected * `month` - two digit month number, if detected * `day` - two digit day number, if detected",
            "Number The metadata is the number itself.",
            "Price The metadata identifies the `value` and `currency`."
          ],
          "description": "The entity type.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ]
        },
        "mentions": {
          "items": {
            "$ref": "EntityMention"
          },
          "type": "array",
          "description": "The mentions of this entity in the input document. The API currently supports proper noun mentions."
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment this field will contain the aggregate sentiment expressed for this entity in the provided document.",
          "$ref": "Sentiment"
        },
        "metadata": {
          "description": "Metadata associated with the entity. For the metadata associated with other entity types, see the Type table below.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "The representative name for the entity.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSSpeechPreprocessStats": {
      "properties": {
        "trainWordsCount": {
          "format": "int32",
          "description": "The number of words in the training data set.",
          "type": "integer"
        },
        "numMachineTranscribedExamples": {
          "description": "The number of rows marked as MACHINE_TRANSCRIBED",
          "format": "int32",
          "type": "integer"
        },
        "dataErrors": {
          "items": {
            "$ref": "XPSDataErrors"
          },
          "description": "Different types of data errors and the counts associated with them.",
          "type": "array"
        },
        "numHumanLabeledExamples": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows marked HUMAN_LABELLED"
        },
        "numLogsExamples": {
          "description": "The number of samples found in the previously recorded logs data.",
          "format": "int32",
          "type": "integer"
        },
        "trainExamplesCount": {
          "type": "integer",
          "description": "The number of examples labeled as TRAIN by Speech xps server.",
          "format": "int32"
        },
        "trainSentencesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of sentences in the training data set."
        },
        "testExamplesCount": {
          "type": "integer",
          "description": "The number of examples labelled as TEST by Speech xps server.",
          "format": "int32"
        },
        "testWordsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of words in the test data set."
        },
        "testSentencesCount": {
          "description": "The number of sentences in the test data set.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "XPSSpeechPreprocessStats"
    },
    "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry": {
      "properties": {
        "recall": {
          "type": "number",
          "format": "float",
          "description": "Recall for the given confidence threshold."
        },
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall and precision."
        },
        "confidenceThreshold": {
          "format": "float",
          "description": "The confidence threshold value used to compute the metrics.",
          "type": "number"
        },
        "precision": {
          "format": "float",
          "type": "number",
          "description": "Precision for the given confidence threshold."
        }
      },
      "id": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry",
      "description": "Metrics for a single confidence threshold.",
      "type": "object"
    },
    "XPSXraiAttribution": {
      "id": "XPSXraiAttribution",
      "properties": {
        "stepCount": {
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "format": "int32",
          "type": "integer"
        }
      },
      "deprecated": true,
      "type": "object",
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Only supports image Models (modality is IMAGE)."
    },
    "XPSDataStats": {
      "type": "object",
      "properties": {
        "float64Stats": {
          "$ref": "XPSFloat64Stats",
          "description": "The statistics for FLOAT64 DataType."
        },
        "categoryStats": {
          "$ref": "XPSCategoryStats",
          "description": "The statistics for CATEGORY DataType."
        },
        "arrayStats": {
          "$ref": "XPSArrayStats",
          "description": "The statistics for ARRAY DataType."
        },
        "validValueCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of values that are valid."
        },
        "distinctValueCount": {
          "type": "string",
          "description": "The number of distinct values.",
          "format": "int64"
        },
        "structStats": {
          "description": "The statistics for STRUCT DataType.",
          "$ref": "XPSStructStats"
        },
        "nullValueCount": {
          "description": "The number of values that are null.",
          "type": "string",
          "format": "int64"
        },
        "timestampStats": {
          "description": "The statistics for TIMESTAMP DataType.",
          "$ref": "XPSTimestampStats"
        },
        "stringStats": {
          "$ref": "XPSStringStats",
          "description": "The statistics for STRING DataType."
        }
      },
      "description": "The data statistics of a series of values that share the same DataType.",
      "id": "XPSDataStats"
    },
    "AnalyzeEntitiesRequest": {
      "type": "object",
      "properties": {
        "encodingType": {
          "description": "The encoding type used by the API to calculate offsets.",
          "type": "string",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ]
        },
        "document": {
          "$ref": "Document",
          "description": "Required. Input document."
        }
      },
      "description": "The entity analysis request message.",
      "id": "AnalyzeEntitiesRequest"
    },
    "AnnotateTextRequest": {
      "type": "object",
      "description": "The request message for the text annotation API, which can perform multiple analysis types in one call.",
      "properties": {
        "features": {
          "description": "Required. The enabled features.",
          "$ref": "AnnotateTextRequestFeatures"
        },
        "encodingType": {
          "description": "The encoding type used by the API to calculate offsets.",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string"
        },
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      },
      "id": "AnnotateTextRequest"
    },
    "XPSVideoActionMetricsEntry": {
      "id": "XPSVideoActionMetricsEntry",
      "properties": {
        "precisionWindowLength": {
          "type": "string",
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive.",
          "format": "google-duration"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          }
        },
        "meanAveragePrecision": {
          "format": "float",
          "description": "The mean average precision.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "The Evaluation metrics entry given a specific precision_window_length."
    },
    "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry": {
      "id": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry",
      "properties": {
        "confidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "The confidence threshold value used to compute the metrics."
        },
        "diceScoreCoefficient": {
          "description": "DSC or the F1 score: The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        },
        "precision": {
          "format": "float",
          "description": "Precision for the given confidence threshold.",
          "type": "number"
        },
        "recall": {
          "type": "number",
          "description": "Recall for the given confidence threshold.",
          "format": "float"
        },
        "confusionMatrix": {
          "$ref": "XPSConfusionMatrix",
          "description": "Confusion matrix of the per confidence_threshold evaluation. Pixel counts are set here. Only set for model level evaluation, not for evaluation per label."
        },
        "iouScore": {
          "type": "number",
          "format": "float",
          "description": "IOU score."
        }
      },
      "type": "object",
      "description": "Metrics for a single confidence threshold."
    },
    "CpuMetric": {
      "properties": {
        "cpuType": {
          "type": "string",
          "enum": [
            "UNKNOWN_CPU_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C3",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "enumDescriptions": [
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Type of cpu, e.g. N2."
        },
        "machineSpec": {
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ],
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "coreNumber": {
          "type": "string",
          "description": "Required. Number of CPU cores.",
          "format": "int64"
        },
        "trackingLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\""
        },
        "coreSec": {
          "description": "Required. Total seconds of core usage, e.g. 4.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CpuMetric",
      "description": "Metric for billing reports."
    },
    "XPSConfusionMatrix": {
      "description": "Confusion matrix of the model running the classification.",
      "id": "XPSConfusionMatrix",
      "type": "object",
      "properties": {
        "sentimentLabel": {
          "type": "array",
          "description": "Sentiment labels used in the confusion matrix. Set only for text sentiment models. For AutoML Text Revamp, use `annotation_spec_id_token` instead and leave this field empty.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "annotationSpecIdToken": {
          "type": "array",
          "description": "For the following three repeated fields, only one is intended to be set. annotation_spec_id_token is preferable to be set. ID tokens of the annotation specs used in the confusion matrix.",
          "items": {
            "type": "string"
          }
        },
        "category": {
          "description": "Category (mainly for segmentation). Set only for image segmentation models. Note: uCAIP Image Segmentation should use annotation_spec_id_token.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "row": {
          "items": {
            "$ref": "XPSConfusionMatrixRow"
          },
          "type": "array",
          "description": "Rows in the confusion matrix. The number of rows is equal to the size of `annotation_spec_id_token`. `row[i].value[j]` is the number of examples that have ground truth of the `annotation_spec_id_token[i]` and are predicted as `annotation_spec_id_token[j]` by the model being evaluated."
        }
      }
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4.",
      "id": "XPSImageSegmentationEvaluationMetrics",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
[...]
