{
  "fullyEncodeReservedExpansion": true,
  "version": "v2",
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "baseUrl": "https://language.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version_module": true,
  "name": "language",
  "basePath": "",
  "revision": "20260705",
  "title": "Cloud Natural Language API",
  "documentationLink": "https://cloud.google.com/natural-language/",
  "canonicalName": "Cloud Natural Language",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "rootUrl": "https://language.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        }
      }
    }
  },
  "servicePath": "",
  "schemas": {
    "XPSTrackMetricsEntryConfidenceMetricsEntry": {
      "id": "XPSTrackMetricsEntryConfidenceMetricsEntry",
      "type": "object",
      "description": "Metrics for a single confidence threshold. Next tag: 6.",
      "properties": {
        "confidenceThreshold": {
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "type": "number",
          "format": "float"
        },
        "mismatchRate": {
          "description": "Output only. Mismatch rate, which measures the tracking consistency, i.e. correctness of instance ID continuity.",
          "type": "number",
          "format": "float"
        },
        "trackingPrecision": {
          "type": "number",
          "format": "float",
          "description": "Output only. Tracking precision."
        },
        "boundingBoxIou": {
          "type": "number",
          "format": "float",
          "description": "Output only. Bounding box intersection-over-union precision. Measures how well the bounding boxes overlap between each other (e.g. complete overlap or just barely above iou_threshold)."
        },
        "trackingRecall": {
          "description": "Output only. Tracking recall.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "DiskMetric": {
      "id": "DiskMetric",
      "type": "object",
      "properties": {
        "gibSec": {
          "description": "Required. Seconds of physical disk usage, e.g. 3600.",
          "type": "string",
          "format": "int64"
        },
        "diskType": {
          "description": "Required. Type of Disk, e.g. REGIONAL_SSD.",
          "enum": [
            "UNKNOWN_DISK_TYPE",
            "REGIONAL_SSD",
            "REGIONAL_STORAGE",
            "PD_SSD",
            "PD_STANDARD",
            "STORAGE_SNAPSHOT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "XPSTablesConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "falsePositiveRate": {
          "type": "number",
          "format": "double",
          "description": "FPR = #false positives / (#false positives + #true negatives)"
        },
        "f1Score": {
          "type": "number",
          "format": "double",
          "description": "The harmonic mean of recall and precision. (2 * precision * recall) / (precision + recall)"
        },
        "falsePositiveCount": {
          "description": "False positive count.",
          "type": "string",
          "format": "int64"
        },
        "truePositiveCount": {
          "description": "True positive count.",
          "type": "string",
          "format": "int64"
        },
        "trueNegativeCount": {
          "description": "True negative count.",
          "type": "string",
          "format": "int64"
        },
        "confidenceThreshold": {
          "description": "The confidence threshold value used to compute the metrics.",
          "type": "number",
          "format": "double"
        },
        "falseNegativeCount": {
          "type": "string",
          "format": "int64",
          "description": "False negative count."
        },
        "recall": {
          "type": "number",
          "format": "double",
          "description": "Recall = #true positives / (#true positives + #false negatives)."
        },
        "precision": {
          "type": "number",
          "format": "double",
          "description": "Precision = #true positives / (#true positives + #false positives)."
        },
        "truePositiveRate": {
          "description": "TPR = #true positives / (#true positives + #false negatvies)",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "XPSTablesConfidenceMetricsEntry"
    },
    "XPSTablesModelStructureModelParametersParameter": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Parameter name.",
          "type": "string"
        },
        "intValue": {
          "description": "Integer type parameter value.",
          "type": "string",
          "format": "int64"
        },
        "stringValue": {
          "type": "string",
          "description": "String type parameter value."
        },
        "floatValue": {
          "description": "Float type parameter value.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "XPSTablesModelStructureModelParametersParameter"
    },
    "XPSExportModelOutputConfig": {
      "type": "object",
      "properties": {
        "edgeTpuTfLiteFormat": {
          "$ref": "XPSEdgeTpuTfLiteFormat"
        },
        "exportFirebaseAuxiliaryInfo": {
          "type": "boolean",
          "description": "For any model and format: If true, will additionally export FirebaseExportedModelInfo in a firebase.txt file."
        },
        "coreMlFormat": {
          "$ref": "XPSCoreMlFormat"
        },
        "dockerFormat": {
          "$ref": "XPSDockerFormat"
        },
        "tfJsFormat": {
          "$ref": "XPSTfJsFormat"
        },
        "outputGcsUri": {
          "description": "The Google Cloud Storage directory where XPS will output the exported models and related files. Format: gs://bucket/directory",
          "type": "string"
        },
        "outputGcrUri": {
          "description": "The Google Contained Registry path the exported files to be pushed to. This location is set if the exported format is DOCKDER.",
          "type": "string"
        },
        "tfLiteFormat": {
          "$ref": "XPSTfLiteFormat"
        },
        "tfSavedModelFormat": {
          "$ref": "XPSTfSavedModelFormat"
        }
      },
      "id": "XPSExportModelOutputConfig"
    },
    "Document": {
      "type": "object",
      "description": "Represents the input to API methods.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The content type is not specified.",
            "Plain text",
            "HTML"
          ],
          "type": "string",
          "description": "Required. If the type is not set or is `TYPE_UNSPECIFIED`, returns an `INVALID_ARGUMENT` error.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ]
        },
        "gcsContentUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI where the file content is located. This URI must be of the form: gs://bucket_name/object_name. For more details, see https://cloud.google.com/storage/docs/reference-uris. NOTE: Cloud Storage object versioning is not supported."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language of the document (if not specified, the language is automatically detected). Both ISO and BCP-47 language codes are accepted. [Language Support](https://cloud.google.com/natural-language/docs/languages) lists currently supported languages for each API method. If the language (either specified by the caller or automatically detected) is not supported by the called API method, an `INVALID_ARGUMENT` error is returned."
        },
        "content": {
          "description": "The content of the input in string format. Cloud audit logging exempt since it is based on user data.",
          "type": "string"
        }
      },
      "id": "Document"
    },
    "XPSColumnSpecForecastingMetadata": {
      "id": "XPSColumnSpecForecastingMetadata",
      "type": "object",
      "properties": {
        "columnType": {
          "enumDescriptions": [
            "An un-set value of this enum.",
            "Key columns are used to identify timeseries.",
            "This column contains information describing static properties of the entities identified by the key column(s) (e.g. city's ZIP code).",
            "This column contains information for the given entity, at any time poinrt, they are only available in the time series before.",
            "This column contains information for the given entity is known both for the past and the sufficiently far future."
          ],
          "type": "string",
          "description": "The type of the column for FORECASTING model training purposes.",
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "KEY",
            "KEY_METADATA",
            "TIME_SERIES_AVAILABLE_PAST_ONLY",
            "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE"
          ]
        }
      }
    },
    "XPSTrackMetricsEntry": {
      "description": "Track matching model metrics for a single track match threshold and multiple label match confidence thresholds. Next tag: 6.",
      "properties": {
        "meanMismatchRate": {
          "type": "number",
          "format": "float",
          "description": "Output only. The mean mismatch rate over all confidence thresholds."
        },
        "meanBoundingBoxIou": {
          "description": "Output only. The mean bounding box iou over all confidence thresholds.",
          "type": "number",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "description": "Output only. Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99. Precision-recall curve is derived from them.",
          "type": "array",
          "items": {
            "$ref": "XPSTrackMetricsEntryConfidenceMetricsEntry"
          }
        },
        "iouThreshold": {
          "type": "number",
          "format": "float",
          "description": "Output only. The intersection-over-union threshold value between bounding boxes across frames used to compute this metric entry."
        },
        "meanTrackingAveragePrecision": {
          "description": "Output only. The mean average precision over all confidence thresholds.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "XPSTrackMetricsEntry"
    },
    "XPSVideoBatchPredictOperationMetadata": {
      "id": "XPSVideoBatchPredictOperationMetadata",
      "type": "object",
      "properties": {
        "outputExamples": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All the partial batch prediction results that are completed at the moment. Output examples are sorted by completion time. The order will not be changed. Each output example should be the path of a single RecordIO file of AnnotatedExamples."
        }
      }
    },
    "AnalyzeEntitiesResponse": {
      "type": "object",
      "description": "The entity analysis response message.",
      "properties": {
        "entities": {
          "description": "The recognized entities in the input document.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        },
        "languageCode": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details."
        },
        "languageSupported": {
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        }
      },
      "id": "AnalyzeEntitiesResponse"
    },
    "XPSVideoActionMetricsEntryConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "recall": {
          "type": "number",
          "format": "float",
          "description": "Output only. Recall for the given confidence threshold."
        },
        "f1Score": {
          "description": "Output only. The harmonic mean of recall and precision.",
          "type": "number",
          "format": "float"
        },
        "precision": {
          "description": "Output only. Precision for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "Output only. The confidence threshold value used to compute the metrics."
        }
      },
      "type": "object",
      "id": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
    },
    "AnnotateTextResponse": {
      "id": "AnnotateTextResponse",
      "type": "object",
      "description": "The text annotations response message.",
      "properties": {
        "categories": {
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Categories identified in the input document."
        },
        "sentences": {
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "type": "array",
          "items": {
            "$ref": "Sentence"
          }
        },
        "entities": {
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities .",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        },
        "documentSentiment": {
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "$ref": "Sentiment"
        },
        "moderationCategories": {
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Harmful and sensitive categories identified in the input document."
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "languageSupported": {
          "type": "boolean",
          "description": "Whether the language is officially supported by all requested features. The API may still return a response when the language is not supported, but it is on a best effort basis."
        }
      }
    },
    "XPSTfSavedModelFormat": {
      "type": "object",
      "description": "A tensorflow model format in SavedModel format.",
      "properties": {},
      "id": "XPSTfSavedModelFormat"
    },
    "XPSCorrelationStats": {
      "description": "A correlation statistics between two series of DataType values. The series may have differing DataType-s, but within a single series the DataType must be the same.",
      "properties": {
        "cramersV": {
          "description": "The correlation value using the Cramer's V measure.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "XPSCorrelationStats"
    },
    "AnnotateTextRequest": {
      "id": "AnnotateTextRequest",
      "type": "object",
      "description": "The request message for the text annotation API, which can perform multiple analysis types in one call.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "features": {
          "description": "Required. The enabled features.",
          "$ref": "AnnotateTextRequestFeatures"
        },
        "encodingType": {
          "description": "The encoding type used by the API to calculate offsets.",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ]
        }
      }
    },
    "XPSImageObjectDetectionEvaluationMetrics": {
      "type": "object",
      "description": "Model evaluation metrics for image object detection problems. Evaluates prediction quality of labeled bounding boxes.",
      "properties": {
        "boundingBoxMetricsEntries": {
          "description": "The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "type": "array",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          }
        },
        "evaluatedBoundingBoxCount": {
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had.",
          "type": "integer",
          "format": "int32"
        },
        "boundingBoxMeanAveragePrecision": {
          "description": "The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "XPSImageObjectDetectionEvaluationMetrics"
    },
    "XPSTextComponentModel": {
      "type": "object",
      "description": "Component model.",
      "properties": {
        "batchPredictionModelGcsUri": {
          "description": "The Cloud Storage resource path to hold batch prediction model.",
          "type": "string"
        },
        "partition": {
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ],
          "description": "The partition where the model is deployed. Populated by uCAIP BE as part of online PredictRequest.",
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ],
          "type": "string"
        },
        "versionNumber": {
          "type": "string",
          "format": "int64",
          "description": "The servomatic model version number. Populated by uCAIP BE as part of online PredictRequest."
        },
        "submodelType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Model type for entity extraction.",
            "Model type for relationship extraction.",
            "A composite model represents a set of component models that have to be used together for prediction. A composite model appears to be a single model to the model user. It may contain only one component model.",
            "Model type used to train default, MA, and ATC models in a single batch worker pipeline.",
            "BERT pipeline needs a specific model type, since it uses a different TFX configuration compared with DEFAULT (despite sharing most of the code).",
            "Model type for EncPaLM."
          ],
          "description": "The type of trained NL submodel",
          "enum": [
            "TEXT_MODEL_TYPE_UNSPECIFIED",
            "TEXT_MODEL_TYPE_DEFAULT",
            "TEXT_MODEL_TYPE_META_ARCHITECT",
            "TEXT_MODEL_TYPE_ATC",
            "TEXT_MODEL_TYPE_CLARA2",
            "TEXT_MODEL_TYPE_CHATBASE",
            "TEXT_MODEL_TYPE_SAFT_SPAN_LABELING",
            "TEXT_MODEL_TYPE_TEXT_EXTRACTION",
            "TEXT_MODEL_TYPE_RELATIONSHIP_EXTRACTION",
            "TEXT_MODEL_TYPE_COMPOSITE",
            "TEXT_MODEL_TYPE_ALL_MODELS",
            "TEXT_MODEL_TYPE_BERT",
            "TEXT_MODEL_TYPE_ENC_PALM"
          ],
          "type": "string"
        },
        "submodelName": {
          "type": "string",
          "description": "The name of the trained NL submodel."
        },
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud Ai Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "servoModelName": {
          "type": "string",
          "description": "The name of servo model. Populated by uCAIP BE as part of online PredictRequest."
        },
        "onlinePredictionModelGcsUri": {
          "description": "The Cloud Storage resource path to hold online prediction model.",
          "type": "string"
        }
      },
      "id": "XPSTextComponentModel"
    },
    "XPSTextTrainResponse": {
      "properties": {
        "componentModel": {
          "type": "array",
          "items": {
            "$ref": "XPSTextComponentModel"
          },
          "description": "Component submodels."
        }
      },
      "type": "object",
      "id": "XPSTextTrainResponse"
    },
    "ClassificationCategory": {
      "type": "object",
      "description": "Represents a category returned from the text classifier.",
      "properties": {
        "name": {
          "description": "The name of the category representing the document.",
          "type": "string"
        },
        "confidence": {
          "description": "The classifier's confidence of the category. Number represents how certain the classifier is that this category represents the given text.",
          "type": "number",
          "format": "float"
        },
        "severity": {
          "description": "Optional. The classifier's severity of the category. This is only present when the ModerateTextRequest.ModelVersion is set to MODEL_VERSION_2, and the corresponding category has a severity score.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "ClassificationCategory"
    },
    "XPSVideoActionMetricsEntry": {
      "description": "The Evaluation metrics entry given a specific precision_window_length.",
      "properties": {
        "precisionWindowLength": {
          "type": "string",
          "format": "google-duration",
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive."
        },
        "meanAveragePrecision": {
          "description": "The mean average precision.",
          "type": "number",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          }
        }
      },
      "type": "object",
      "id": "XPSVideoActionMetricsEntry"
    },
    "XPSTablesEvaluationMetrics": {
      "properties": {
        "regressionMetrics": {
          "description": "Regression metrics.",
          "$ref": "XPSTablesRegressionMetrics"
        },
        "classificationMetrics": {
          "description": "Classification metrics.",
          "$ref": "XPSTablesClassificationMetrics"
        }
      },
      "type": "object",
      "id": "XPSTablesEvaluationMetrics"
    },
    "XPSIntegratedGradientsAttribution": {
      "id": "XPSIntegratedGradientsAttribution",
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
      "type": "object",
      "deprecated": true,
      "properties": {
        "stepCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively."
        }
      }
    },
    "XPSTablesModelStructure": {
      "description": "A description of Tables model structure.",
      "properties": {
        "modelParameters": {
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParameters"
          },
          "description": "A list of models."
        }
      },
      "type": "object",
      "id": "XPSTablesModelStructure"
    },
    "XPSCategoryStatsSingleCategoryStats": {
      "id": "XPSCategoryStatsSingleCategoryStats",
      "type": "object",
      "description": "The statistics of a single CATEGORY value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The CATEGORY value."
        },
        "count": {
          "description": "The number of occurrences of this value in the series.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "XPSTableSpec": {
      "properties": {
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of rows in the table."
        },
        "timeColumnId": {
          "description": "The id of the time column.",
          "type": "integer",
          "format": "int32"
        },
        "columnSpecs": {
          "additionalProperties": {
            "$ref": "XPSColumnSpec"
          },
          "type": "object",
          "description": "Mapping from column id to column spec."
        },
        "validRowCount": {
          "description": "The number of valid rows.",
          "type": "string",
          "format": "int64"
        },
        "importedDataSizeInBytes": {
          "description": "The total size of imported data of the table.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "XPSTableSpec"
    },
    "XPSVisualization": {
      "id": "XPSVisualization",
      "description": "Visualization configurations for image explanation.",
      "type": "object",
      "deprecated": true,
      "properties": {
        "colorMap": {
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ],
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue.",
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ],
          "type": "string"
        },
        "clipPercentLowerbound": {
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62.",
          "type": "number",
          "format": "float"
        },
        "overlayType": {
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE.",
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ]
        },
        "polarity": {
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ],
          "type": "string",
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE.",
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ]
        },
        "type": {
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ],
          "type": "string",
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ]
        },
        "clipPercentUpperbound": {
          "type": "number",
          "format": "float",
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9."
        }
      }
    },
    "XPSSpeechPreprocessResponse": {
      "properties": {
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        },
        "speechPreprocessStats": {
          "description": "Stats associated with the data.",
          "$ref": "XPSSpeechPreprocessStats"
        },
        "cnsTrainDataPath": {
          "type": "string",
          "description": "Location of shards of sstables (training data) of DataUtterance protos."
        },
        "cnsTestDataPath": {
          "type": "string",
          "description": "Location od shards of sstables (test data) of DataUtterance protos."
        }
      },
      "type": "object",
      "id": "XPSSpeechPreprocessResponse"
    },
    "XPSRegressionEvaluationMetrics": {
      "type": "object",
      "description": "Model evaluation metrics for regression problems. It can be used for Tables.",
      "properties": {
        "rSquared": {
          "description": "R squared.",
          "type": "number",
          "format": "float"
        },
        "regressionMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          },
          "description": "A list of actual versus predicted points for the model being evaluated."
        },
        "meanAbsolutePercentageError": {
          "type": "number",
          "format": "float",
          "description": "Mean absolute percentage error. Only set if all ground truth values are positive."
        },
        "rootMeanSquaredError": {
          "type": "number",
          "format": "float",
          "description": "Root Mean Squared Error (RMSE)."
        },
        "meanAbsoluteError": {
          "type": "number",
          "format": "float",
          "description": "Mean Absolute Error (MAE)."
        },
        "rootMeanSquaredLogError": {
          "description": "Root mean squared log error.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "XPSRegressionEvaluationMetrics"
    },
    "AnnotateTextRequestFeatures": {
      "id": "AnnotateTextRequestFeatures",
      "type": "object",
      "description": "All available features. Setting each one to true will enable that specific analysis for the input.",
      "properties": {
        "extractDocumentSentiment": {
          "description": "Optional. Extract document-level sentiment.",
          "type": "boolean"
        },
        "classifyText": {
          "type": "boolean",
          "description": "Optional. Classify the full document into categories."
        },
        "moderateText": {
          "description": "Optional. Moderate the document for harmful and sensitive categories.",
          "type": "boolean"
        },
        "extractEntities": {
          "description": "Optional. Extract entities.",
          "type": "boolean"
        }
      }
    },
    "XPSVideoActionRecognitionEvaluationMetrics": {
      "type": "object",
      "description": "Model evaluation metrics for video action recognition.",
      "properties": {
        "videoActionMetricsEntries": {
          "description": "Output only. The metric entries for precision window lengths: 1s,2s,3s,4s, 5s.",
          "type": "array",
          "items": {
            "$ref": "XPSVideoActionMetricsEntry"
          }
        },
        "evaluatedActionCount": {
          "description": "Output only. The number of ground truth actions used to create this evaluation.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "XPSVideoActionRecognitionEvaluationMetrics"
    },
    "XPSSpeechPreprocessStats": {
      "properties": {
        "numLogsExamples": {
          "type": "integer",
          "format": "int32",
          "description": "The number of samples found in the previously recorded logs data."
        },
        "trainExamplesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of examples labeled as TRAIN by Speech xps server."
        },
        "trainSentencesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of sentences in the training data set."
        },
        "numMachineTranscribedExamples": {
          "description": "The number of rows marked as MACHINE_TRANSCRIBED",
          "type": "integer",
          "format": "int32"
        },
        "testSentencesCount": {
          "description": "The number of sentences in the test data set.",
          "type": "integer",
          "format": "int32"
        },
        "trainWordsCount": {
          "description": "The number of words in the training data set.",
          "type": "integer",
          "format": "int32"
        },
        "testWordsCount": {
          "description": "The number of words in the test data set.",
          "type": "integer",
          "format": "int32"
        },
        "dataErrors": {
          "description": "Different types of data errors and the counts associated with them.",
          "type": "array",
          "items": {
            "$ref": "XPSDataErrors"
          }
        },
        "numHumanLabeledExamples": {
          "description": "The number of rows marked HUMAN_LABELLED",
          "type": "integer",
          "format": "int32"
        },
        "testExamplesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of examples labelled as TEST by Speech xps server."
        }
      },
      "type": "object",
      "id": "XPSSpeechPreprocessStats"
    },
    "XPSImageExportModelSpec": {
      "id": "XPSImageExportModelSpec",
      "type": "object",
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format.",
      "properties": {
        "exportModelOutputConfig": {
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files.",
          "type": "array",
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          }
        }
      }
    },
    "XPSStructType": {
      "id": "XPSStructType",
      "type": "object",
      "description": "`StructType` defines the DataType-s of a STRUCT type.",
      "properties": {
        "fields": {
          "type": "object",
          "description": "Unordered map of struct field names to their data types.",
          "additionalProperties": {
            "$ref": "XPSDataType"
          }
        }
      }
    },
    "XPSVideoObjectTrackingEvaluationMetrics": {
      "description": "Model evaluation metrics for ObjectTracking problems. Next tag: 10.",
      "properties": {
        "boundingBoxMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          },
          "description": "Output only. The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99."
        },
        "trackMetricsEntries": {
          "description": "Output only. The tracks match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array",
          "items": {
            "$ref": "XPSTrackMetricsEntry"
          }
        },
        "evaluatedTrackCount": {
          "description": "The number of tracks used for model evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "evaluatedFrameCount": {
          "description": "The number of video frames used for model evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "evaluatedBoundingboxCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of bounding boxes used for model evaluation."
        },
        "trackMeanBoundingBoxIou": {
          "type": "number",
          "format": "float",
          "description": "Output only. The single metric for tracks bounding box iou evaluation: the mean_bounding_box_iou averaged over all track_metrics_entries."
        },
        "boundingBoxMeanAveragePrecision": {
          "description": "Output only. The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries.",
          "type": "number",
          "format": "float"
        },
        "trackMeanAveragePrecision": {
          "description": "Output only. The single metric for tracks accuracy evaluation: the mean_average_precision averaged over all track_metrics_entries.",
          "type": "number",
          "format": "float"
        },
        "trackMeanMismatchRate": {
          "description": "Output only. The single metric for tracking consistency evaluation: the mean_mismatch_rate averaged over all track_metrics_entries.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "XPSVideoObjectTrackingEvaluationMetrics"
    },
    "XPSResponseExplanationSpec": {
      "type": "object",
      "description": "Specification of Model explanation. Feature-based XAI in AutoML Vision ICN is deprecated.",
      "id": "XPSResponseExplanationSpec",
      "properties": {
        "explanationType": {
          "type": "string",
          "description": "Explanation type. For AutoML Image Classification models, possible values are: * `image-integrated-gradients` * `image-xrai`"
        },
        "parameters": {
          "description": "Parameters that configure explaining of the Model's predictions.",
          "$ref": "XPSResponseExplanationParameters"
        },
        "metadata": {
          "description": "Metadata describing the Model's input and output for explanation.",
          "$ref": "XPSResponseExplanationMetadata"
        }
      },
      "deprecated": true
    },
    "CpuMetric": {
      "id": "CpuMetric",
      "description": "Metric for billing reports.",
      "properties": {
        "coreSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Total seconds of core usage, e.g. 4."
        },
        "coreNumber": {
          "description": "Required. Number of CPU cores.",
          "type": "string",
          "format": "int64"
        },
        "cpuType": {
          "enumDescriptions": [
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "GPU-based machine, skip quota reporting.",
            "GPU-based machine, skip quota reporting.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Type of cpu, e.g. N2.",
          "enum": [
            "UNKNOWN_CPU_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C3",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "type": "string"
        },
        "machineSpec": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ]
        },
        "trackingLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\""
        }
      },
      "type": "object"
    },
    "AnalyzeSentimentRequest": {
      "id": "AnalyzeSentimentRequest",
      "type": "object",
      "description": "The sentiment analysis request message.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "encodingType": {
          "description": "The encoding type used by the API to calculate sentence offsets.",
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ]
        }
      }
    },
    "XPSResponseExplanationMetadataOutputMetadata": {
      "id": "XPSResponseExplanationMetadataOutputMetadata",
      "description": "Metadata of the prediction output to be explained.",
      "properties": {
        "outputTensorName": {
          "description": "Name of the output tensor. Only needed in train response.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "XPSVideoTrainingOperationMetadata": {
      "type": "object",
      "properties": {
        "trainCostMilliNodeHour": {
          "description": "This is an estimation of the node hours necessary for training a model, expressed in milli node hours (i.e. 1,000 value in this field means 1 node hour). A node hour represents the time a virtual machine spends running your training job. The cost of one node running for one hour is a node hour.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSVideoTrainingOperationMetadata"
    },
    "XPSVideoClassificationTrainResponse": {
      "id": "XPSVideoClassificationTrainResponse",
      "type": "object",
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        }
      }
    },
    "XPSImageModelArtifactSpec": {
      "id": "XPSImageModelArtifactSpec",
      "type": "object",
      "description": "Stores the locations and related metadata of the model artifacts. Populated for uCAIP requests only.",
      "properties": {
        "checkpointArtifact": {
          "description": "The Tensorflow checkpoint files. e.g. Used for resumable training.",
          "$ref": "XPSModelArtifactItem"
        },
        "tfLiteMetadataGcsUri": {
          "description": "Google Cloud Storage URI of Tensorflow Lite metadata 'tflite_metadata.json'.",
          "type": "string"
        },
        "tfJsBinaryGcsPrefix": {
          "type": "string",
          "description": "Google Cloud Storage URI prefix of Tensorflow JavaScript binary files 'groupX-shardXofX.bin'. Deprecated."
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "labelGcsUri": {
          "type": "string",
          "description": "Google Cloud Storage URI of decoded labels file for model export 'dict.txt'."
        },
        "exportArtifact": {
          "description": "The model binary files in different formats for model export.",
          "type": "array",
          "items": {
            "$ref": "XPSModelArtifactItem"
          }
        }
      }
    },
    "XPSImageModelServingSpecModelThroughputEstimation": {
      "id": "XPSImageModelServingSpecModelThroughputEstimation",
      "type": "object",
      "properties": {
        "latencyInMilliseconds": {
          "description": "Estimated latency.",
          "type": "number",
          "format": "double"
        },
        "servomaticPartitionType": {
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ],
          "type": "string",
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ]
        },
        "computeEngineAcceleratorType": {
          "enum": [
            "UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_L4",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "TPU_V2",
            "TPU_V3",
            "TPU_V4_POD",
            "TPU_V5_LITEPOD"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "Nvidia A100 80GB GPU.",
            "Nvidia L4 GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H200 141Gb GPU.",
            "Nvidia B200 GPU.",
            "Nvidia GB200 GPU.",
            "TPU v2 (JellyFish).",
            "TPU v3 (DragonFish).",
            "TPU_v4 (PufferFish).",
            "TPU v5 Lite Pods."
          ]
        },
        "nodeQps": {
          "type": "number",
          "format": "double",
          "description": "The approximate qps a deployed node can serve."
        }
      }
    },
    "Entity": {
      "type": "object",
      "description": "Represents a phrase in the text that is a known entity, such as a person, an organization, or location. The API associates information, such as probability and mentions, with entities.",
      "properties": {
        "name": {
          "description": "The representative name for the entity.",
          "type": "string"
        },
        "mentions": {
          "description": "The mentions of this entity in the input document. The API currently supports proper noun mentions.",
          "type": "array",
          "items": {
            "$ref": "EntityMention"
          }
        },
        "metadata": {
          "description": "Metadata associated with the entity. For the metadata associated with other entity types, see the Type table below.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "description": "The entity type.",
          "enum": [
            "UNKNOWN",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "enumDescriptions": [
            "Unknown",
            "Person",
            "Location",
            "Organization",
            "Event",
            "Artwork",
            "Consumer product",
            "Other types of entities",
            "Phone number The metadata lists the phone number, formatted according to local convention, plus whichever additional elements appear in the text: * `number` - the actual number, broken down into sections as per local convention * `national_prefix` - country code, if detected * `area_code` - region or area code, if detected * `extension` - phone extension (to be dialed after connection), if detected",
            "Address The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - street number * `locality` - city or town * `street_name` - street/route name, if detected * `postal_code` - postal code, if detected * `country` - country, if detected * `broad_region` - administrative area, such as the state, if detected * `narrow_region` - smaller administrative area, such as county, if detected * `sublocality` - used in Asian addresses to demark a district within a city, if detected",
            "Date The metadata identifies the components of the date: * `year` - four digit year, if detected * `month` - two digit month number, if detected * `day` - two digit day number, if detected",
            "Number The metadata is the number itself.",
            "Price The metadata identifies the `value` and `currency`."
          ]
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment this field will contain the aggregate sentiment expressed for this entity in the provided document.",
          "$ref": "Sentiment"
        }
      },
      "id": "Entity"
    },
    "XPSReportingMetrics": {
      "type": "object",
      "properties": {
        "metricEntries": {
          "description": "One entry per metric name. The values must be aggregated per metric name.",
          "type": "array",
          "items": {
            "$ref": "XPSMetricEntry"
          }
        },
        "effectiveTrainingDuration": {
          "description": "The effective time training used. If set, this is used for quota management and billing. Deprecated. AutoML BE doesn't use this. Don't set.",
          "type": "string",
          "format": "google-duration",
          "deprecated": true
        }
      },
      "id": "XPSReportingMetrics"
    },
    "ClassifyTextResponse": {
      "type": "object",
      "description": "The document classification response message.",
      "properties": {
        "categories": {
          "description": "Categories representing the input document.",
          "type": "array",
          "items": {
            "$ref": "ClassificationCategory"
          }
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "languageSupported": {
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        }
      },
      "id": "ClassifyTextResponse"
    },
    "XPSColorMap": {
      "id": "XPSColorMap",
      "description": "Map from color to display name. Will only be used by Image Segmentation for uCAIP.",
      "properties": {
        "displayName": {
          "description": "Should be used during preprocessing.",
          "type": "string"
        },
        "intColor": {
          "$ref": "XPSColorMapIntColor"
        },
        "color": {
          "deprecated": true,
          "$ref": "Color",
          "description": "This type is deprecated in favor of the IntColor below. This is because google.type.Color represent color has a float which semantically does not reflect discrete classes/categories concept. Moreover, to handle it well we need to have some tolerance when converting to a discretized color. As such, the recommendation is to have API surface still use google.type.Color while internally IntColor is used."
        },
        "annotationSpecIdToken": {
          "type": "string",
          "description": "Should be used during training."
        }
      },
      "type": "object"
    },
    "XPSVisionErrorAnalysisConfig": {
      "id": "XPSVisionErrorAnalysisConfig",
      "type": "object",
      "description": "The vision model error analysis configuration. Next tag: 3",
      "properties": {
        "exampleCount": {
          "description": "The number of query examples in error analysis.",
          "type": "integer",
          "format": "int32"
        },
        "queryType": {
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ],
          "description": "The query type used in retrieval. The enum values are frozen in the foreseeable future.",
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_ALL_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_DISSIMILAR"
          ],
          "type": "string"
        }
      }
    },
    "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "recall": {
          "type": "number",
          "format": "float",
          "description": "Recall for the given confidence threshold."
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the per confidence_threshold evaluation. Pixel counts are set here. Only set for model level evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        },
        "iouScore": {
          "description": "IOU score.",
          "type": "number",
          "format": "float"
        },
        "diceScoreCoefficient": {
          "description": "DSC or the F1 score: The harmonic mean of recall and precision.",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "description": "The confidence threshold value used to compute the metrics.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
    },
    "XPSTuningTrial": {
      "id": "XPSTuningTrial",
      "type": "object",
      "description": "Metrics for a tuning job generated, will get forwarded to Stackdriver as model tuning logs. Setting this as a standalone message out of CreateModelMetadata to avoid confusion as we expose this message only to users.",
      "properties": {
        "modelStructure": {
          "description": "Model parameters for the trial.",
          "$ref": "XPSTablesModelStructure"
        },
        "trainingObjectivePoint": {
          "description": "The optimization objective evaluation of the eval split data.",
          "$ref": "XPSTrainingObjectivePoint"
        }
      }
    },
    "XPSImageClassificationTrainResponse": {
      "properties": {
        "exportModelSpec": {
          "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests.",
          "$ref": "XPSImageExportModelSpec"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "classCount": {
          "description": "Total number of classes.",
          "type": "string",
          "format": "int64"
        },
        "trainCostNodeSeconds": {
          "description": "The actual training cost, expressed in node seconds. Populated for models trained in node time.",
          "type": "string",
          "format": "int64"
        },
        "trainCostInNodeTime": {
          "type": "string",
          "format": "google-duration",
          "description": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA."
        },
        "stopReason": {
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'.",
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ]
        }
      },
      "type": "object",
      "id": "XPSImageClassificationTrainResponse"
    },
    "XPSFileSpec": {
      "type": "object",
      "description": "Spec of input and output files, on external file systems (for example, Colossus Namespace System or Google Cloud Storage).",
      "properties": {
        "fileSpec": {
          "description": "Single file path, or file pattern of format \"/path/to/file@shard_count\". E.g. /cns/cell-d/somewhere/file@2 is expanded to two files: /cns/cell-d/somewhere/file-00000-of-00002 and /cns/cell-d/somewhere/file-00001-of-00002.",
          "type": "string"
        },
        "fileFormat": {
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNKNOWN",
            "FILE_FORMAT_SSTABLE",
            "FILE_FORMAT_TRANSLATION_RKV",
            "FILE_FORMAT_RECORDIO",
            "FILE_FORMAT_RAW_CSV",
            "FILE_FORMAT_RAW_CAPACITOR"
          ],
          "enumDescriptions": [
            "",
            "",
            "Internal format for parallel text data used by Google Translate.",
            "",
            "Only the lexicographically first file described by the file_spec contains the header line.",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false
          ]
        },
        "directoryPath": {
          "deprecated": true,
          "description": "Deprecated. Use file_spec.",
          "type": "string"
        },
        "singleFilePath": {
          "type": "string",
          "description": "Deprecated. Use file_spec.",
          "deprecated": true
        }
      },
      "id": "XPSFileSpec"
    },
    "XPSVideoActionRecognitionTrainResponse": {
      "id": "XPSVideoActionRecognitionTrainResponse",
      "type": "object",
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        }
      }
    },
    "XPSEdgeTpuTfLiteFormat": {
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "properties": {},
      "type": "object",
      "id": "XPSEdgeTpuTfLiteFormat"
    },
    "XPSVideoExportModelSpec": {
      "id": "XPSVideoExportModelSpec",
      "type": "object",
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format.",
      "properties": {
        "exportModelOutputConfig": {
          "type": "array",
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          },
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files."
        }
      }
    },
    "XPSColorMapIntColor": {
      "type": "object",
      "description": "RGB color and each channel is represented by an integer.",
      "properties": {
        "green": {
          "type": "integer",
          "format": "int32",
          "description": "The value should be in range of [0, 255]."
        },
        "red": {
          "type": "integer",
          "format": "int32",
          "description": "The value should be in range of [0, 255]."
        },
        "blue": {
          "type": "integer",
          "format": "int32",
          "description": "The value should be in range of [0, 255]."
        }
      },
      "id": "XPSColorMapIntColor"
    },
    "EntityMention": {
      "type": "object",
      "description": "Represents a mention for an entity in the text. Currently, proper noun mentions are supported.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unknown",
            "Proper name",
            "Common noun (or noun compound)"
          ],
          "description": "The type of the entity mention.",
          "enum": [
            "TYPE_UNKNOWN",
            "PROPER",
            "COMMON"
          ],
          "type": "string"
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment this field will contain the sentiment expressed for this mention of the entity in the provided document.",
          "$ref": "Sentiment"
        },
        "probability": {
          "type": "number",
          "format": "float",
          "description": "Probability score associated with the entity. The score shows the probability of the entity mention being the entity type. The score is in (0, 1] range."
        },
        "text": {
          "description": "The mention text.",
          "$ref": "TextSpan"
        }
      },
      "id": "EntityMention"
    },
    "XPSFloat64Stats": {
      "id": "XPSFloat64Stats",
      "description": "The data statistics of a series of FLOAT64 values.",
      "properties": {
        "quantiles": {
          "description": "Ordered from 0 to k k-quantile values of the data series of n values. The value at index i is, approximately, the i*n/k-th smallest value in the series; for i = 0 and i = k these are, respectively, the min and max values.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "histogramBuckets": {
          "description": "Histogram buckets of the data series. Sorted by the min value of the bucket, ascendingly, and the number of the buckets is dynamically generated. The buckets are non-overlapping and completely cover whole FLOAT64 range with min of first bucket being `\"-Infinity\"`, and max of the last one being `\"Infinity\"`.",
          "type": "array",
          "items": {
            "$ref": "XPSFloat64StatsHistogramBucket"
          }
        },
        "mean": {
          "description": "The mean of the series.",
          "type": "number",
          "format": "double"
        },
        "standardDeviation": {
          "description": "The standard deviation of the series.",
          "type": "number",
          "format": "double"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "type": "object"
    },
    "XPSXpsOperationMetadata": {
      "id": "XPSXpsOperationMetadata",
      "properties": {
        "videoBatchPredictOperationMetadata": {
          "$ref": "XPSVideoBatchPredictOperationMetadata"
        },
        "exampleCount": {
          "description": "Optional. XPS server can opt to provide example count of the long running operation (e.g. training, data importing, batch prediction).",
          "type": "string",
          "format": "int64"
        },
        "reportingMetrics": {
          "description": "Metrics for the operation. By the time the operation is terminated (whether succeeded or failed) as returned from XPS, AutoML BE assumes the metrics are finalized. AutoML BE transparently posts the metrics to Chemist if it's not empty, regardless of the response content or error type. If user is supposed to be charged in case of cancellation/error, this field should be set. In the case where the type of LRO doesn't require any billing, this field should be left unset.",
          "$ref": "XPSReportingMetrics"
        },
        "videoTrainingOperationMetadata": {
          "$ref": "XPSVideoTrainingOperationMetadata"
        },
        "visionTrainingOperationMetadata": {
          "$ref": "XPSVisionTrainingOperationMetadata"
        },
        "tablesTrainingOperationMetadata": {
          "$ref": "XPSTablesTrainingOperationMetadata"
        }
      },
      "type": "object"
    },
    "Sentiment": {
      "id": "Sentiment",
      "description": "Represents the feeling associated with the entire text or entities in the text.",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float",
          "description": "A non-negative number in the [0, +inf] range, which represents the absolute magnitude of sentiment regardless of score (positive or negative)."
        },
        "score": {
          "description": "Sentiment score between -1.0 (negative sentiment) and 1.0 (positive sentiment).",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "Sentence": {
      "type": "object",
      "description": "Represents a sentence in the input document.",
      "properties": {
        "sentiment": {
          "description": "For calls to AnalyzeSentiment or if AnnotateTextRequest.Features.extract_document_sentiment is set to true, this field will contain the sentiment for the sentence.",
          "$ref": "Sentiment"
        },
        "text": {
          "description": "The sentence text.",
          "$ref": "TextSpan"
        }
      },
      "id": "Sentence"
    },
    "XPSVideoObjectTrackingTrainResponse": {
      "id": "XPSVideoObjectTrackingTrainResponse",
      "properties": {
        "exportModelSpec": {
          "description": "Populated for AutoML request only.",
          "$ref": "XPSVideoExportModelSpec"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "XPSTablesModelColumnInfo": {
      "id": "XPSTablesModelColumnInfo",
      "description": "An information specific to given column and Tables Model, in context of the Model and the predictions created by it.",
      "properties": {
        "columnId": {
          "description": "The ID of the column.",
          "type": "integer",
          "format": "int32"
        },
        "featureImportance": {
          "description": "When given as part of a Model: Measurement of how much model predictions correctness on the TEST data depend on values in this column. A value between 0 and 1, higher means higher influence. These values are normalized - for all input feature columns of a given model they add to 1. When given back by Predict or Batch Predict: Measurement of how impactful for the prediction returned for the given row the value in this column was. Specifically, the feature importance specifies the marginal contribution that the feature made to the prediction score compared to the baseline score. These values are computed using the Sampled Shapley method.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "XPSResponseExplanationMetadata": {
      "type": "object",
      "properties": {
        "inputs": {
          "description": "Metadata of the input.",
          "type": "object",
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataInputMetadata"
          }
        },
        "outputs": {
          "type": "object",
          "description": "Metadata of the output.",
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataOutputMetadata"
          }
        }
      },
      "id": "XPSResponseExplanationMetadata",
      "deprecated": true
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "id": "XPSImageSegmentationEvaluationMetrics",
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4.",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          },
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it."
        }
      },
      "type": "object"
    },
    "TpuMetric": {
      "id": "TpuMetric",
      "type": "object",
      "properties": {
        "tpuSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of TPU usage, e.g. 3600."
        },
        "tpuType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Required. Type of TPU, e.g. TPU_V2, TPU_V3_POD.",
          "enum": [
            "UNKNOWN_TPU_TYPE",
            "TPU_V2_POD",
            "TPU_V2",
            "TPU_V3_POD",
            "TPU_V3",
            "TPU_V5_LITEPOD"
          ]
        }
      }
    },
    "XPSTablesDatasetMetadata": {
      "type": "object",
      "description": "Metadata for a dataset used for AutoML Tables.",
      "properties": {
        "weightColumnId": {
          "description": "Id of the primary table column that should be used as the weight column.",
          "type": "integer",
          "format": "int32"
        },
        "mlUseColumnId": {
          "type": "integer",
          "format": "int32",
          "description": "Id the column to split the table."
        },
        "primaryTableSpec": {
          "description": "Primary table.",
          "$ref": "XPSTableSpec"
        },
        "targetColumnId": {
          "type": "integer",
          "format": "int32",
          "description": "Id of the primary table column that should be used as the training label."
        },
        "targetColumnCorrelations": {
          "additionalProperties": {
            "$ref": "XPSCorrelationStats"
          },
          "type": "object",
          "description": "(the column id : its CorrelationStats with target column)."
        }
      },
      "id": "XPSTablesDatasetMetadata"
    },
    "XPSColumnSpec": {
      "id": "XPSColumnSpec",
      "properties": {
        "forecastingMetadata": {
          "$ref": "XPSColumnSpecForecastingMetadata"
        },
        "columnId": {
          "type": "integer",
          "format": "int32",
          "description": "The unique id of the column. When Preprocess, the Tables BE will popuate the order id of the column, which reflects the order of the column inside the table, i.e. 0 means the first column in the table, N-1 means the last column. AutoML BE will persist this order id in Spanner and set the order id here when calling RefreshTablesStats and Train. Note: it's different than the column_spec_id that is generated in AutoML BE."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the column. It's outputed in Preprocess and a required input for RefreshTablesStats and Train."
        },
        "dataStats": {
          "description": "The data stats of the column. It's outputed in RefreshTablesStats and a required input for Train.",
          "$ref": "XPSDataStats"
        },
        "topCorrelatedColumns": {
          "type": "array",
          "items": {
            "$ref": "XPSColumnSpecCorrelatedColumn"
          },
          "description": "It's outputed in RefreshTablesStats, and a required input in Train."
        },
        "dataType": {
          "description": "The data type of the column. It's outputed in Preprocess rpc and a required input for RefreshTablesStats and Train.",
          "$ref": "XPSDataType"
        }
      },
      "type": "object"
    },
    "GpuMetric": {
      "type": "object",
      "properties": {
        "gpuType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Required. Type of GPU, e.g. NVIDIA_TESLA_V100.",
          "enum": [
            "UNKNOWN_GPU_TYPE",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "NVIDIA_TESLA_K80",
            "NVIDIA_L4",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_V100",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_RTX_PRO_6000"
          ]
        },
        "machineSpec": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
[...]
