{
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "title": "Cloud Natural Language API",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Cloud Natural Language",
  "resources": {
    "documents": {
      "methods": {
        "analyzeEntities": {
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "language.documents.analyzeEntities",
          "flatPath": "v2/documents:analyzeEntities",
          "path": "v2/documents:analyzeEntities",
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          },
          "parameters": {},
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, probability, mentions for each entity, and other properties.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "moderateText": {
          "request": {
            "$ref": "ModerateTextRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "language.documents.moderateText",
          "flatPath": "v2/documents:moderateText",
          "path": "v2/documents:moderateText",
          "response": {
            "$ref": "ModerateTextResponse"
          },
          "parameters": {},
          "description": "Moderates a document for harmful and sensitive categories.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "analyzeSentiment": {
          "parameterOrder": [],
          "path": "v2/documents:analyzeSentiment",
          "id": "language.documents.analyzeSentiment",
          "flatPath": "v2/documents:analyzeSentiment",
          "httpMethod": "POST",
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          },
          "description": "Analyzes the sentiment of the provided text.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          },
          "parameters": {}
        },
        "classifyText": {
          "path": "v2/documents:classifyText",
          "id": "language.documents.classifyText",
          "flatPath": "v2/documents:classifyText",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Classifies a document into categories.",
          "parameters": {},
          "response": {
            "$ref": "ClassifyTextResponse"
          }
        },
        "annotateText": {
          "request": {
            "$ref": "AnnotateTextRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "language.documents.annotateText",
          "flatPath": "v2/documents:annotateText",
          "path": "v2/documents:annotateText",
          "response": {
            "$ref": "AnnotateTextResponse"
          },
          "parameters": {},
          "description": "A convenience method that provides all features in one call.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "id": "language:v2",
  "rootUrl": "https://language.googleapis.com/",
  "version_module": true,
  "schemas": {
    "XPSImageObjectDetectionModelSpec": {
      "type": "object",
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "stopReason": {
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ]
        },
        "classCount": {
          "description": "Total number of classes.",
          "type": "string",
          "format": "int64"
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec"
        },
        "maxBoundingBoxCount": {
          "description": "Max number of bounding box.",
          "type": "string",
          "format": "int64"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSImageObjectDetectionModelSpec"
    },
    "XPSSpeechEvaluationMetrics": {
      "properties": {
        "subModelEvaluationMetrics": {
          "type": "array",
          "description": "Evaluation metrics for all submodels contained in this model.",
          "items": {
            "$ref": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric"
          }
        }
      },
      "id": "XPSSpeechEvaluationMetrics",
      "type": "object"
    },
    "XPSVideoTrainingOperationMetadata": {
      "type": "object",
      "properties": {
        "trainCostMilliNodeHour": {
          "description": "This is an estimation of the node hours necessary for training a model, expressed in milli node hours (i.e. 1,000 value in this field means 1 node hour). A node hour represents the time a virtual machine spends running your training job. The cost of one node running for one hour is a node hour.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSVideoTrainingOperationMetadata"
    },
    "XPSModelArtifactItem": {
      "description": "A single model artifact item.",
      "type": "object",
      "id": "XPSModelArtifactItem",
      "properties": {
        "gcsUri": {
          "description": "The Google Cloud Storage URI that stores the model binary files.",
          "type": "string"
        },
        "artifactFormat": {
          "enum": [
            "ARTIFACT_FORMAT_UNSPECIFIED",
            "TF_CHECKPOINT",
            "TF_SAVED_MODEL",
            "TF_LITE",
            "EDGE_TPU_TF_LITE",
            "TF_JS",
            "CORE_ML"
          ],
          "type": "string",
          "description": "The model artifact format.",
          "enumDescriptions": [
            "Should not be used.",
            "The Tensorflow checkpoints. See https://www.tensorflow.org/guide/checkpoint.",
            "The Tensorflow SavedModel binary.",
            "Model artifact in generic TensorFlow Lite (.tflite) format. See https://www.tensorflow.org/lite.",
            "Used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
            "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
            "Used for iOS mobile devices in (.mlmodel) format. See https://developer.apple.com/documentation/coreml"
          ]
        }
      }
    },
    "XPSTranslationTrainResponse": {
      "properties": {
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LEGACY",
            "CURRENT"
          ],
          "type": "string",
          "description": "Type of the model.",
          "enumDescriptions": [
            "Default",
            "Legacy model. Will be deprecated.",
            "Current model."
          ]
        }
      },
      "id": "XPSTranslationTrainResponse",
      "type": "object",
      "description": "Train response for translation."
    },
    "XPSTfLiteFormat": {
      "id": "XPSTfLiteFormat",
      "properties": {},
      "description": "LINT.IfChange A model format used for mobile and IoT devices. See https://www.tensorflow.org/lite.",
      "type": "object"
    },
    "DiskMetric": {
      "id": "DiskMetric",
      "properties": {
        "diskType": {
          "description": "Required. Type of Disk, e.g. REGIONAL_SSD.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_DISK_TYPE",
            "REGIONAL_SSD",
            "REGIONAL_STORAGE",
            "PD_SSD",
            "PD_STANDARD",
            "STORAGE_SNAPSHOT"
          ]
        },
        "gibSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of physical disk usage, e.g. 3600."
        }
      },
      "type": "object"
    },
    "XPSBatchPredictResponse": {
      "id": "XPSBatchPredictResponse",
      "properties": {
        "exampleSet": {
          "description": "Examples for batch prediction result. Under full API implementation, results are stored in shared RecordIO of AnnotatedExample protobufs, the annotations field of which is populated by XPS backend.",
          "$ref": "XPSExampleSet"
        }
      },
      "type": "object"
    },
    "TpuMetric": {
      "type": "object",
      "properties": {
        "tpuType": {
          "enum": [
            "UNKNOWN_TPU_TYPE",
            "TPU_V2_POD",
            "TPU_V2",
            "TPU_V3_POD",
            "TPU_V3",
            "TPU_V5_LITEPOD"
          ],
          "type": "string",
          "description": "Required. Type of TPU, e.g. TPU_V2, TPU_V3_POD.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "tpuSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of TPU usage, e.g. 3600."
        }
      },
      "id": "TpuMetric"
    },
    "XPSTextExtractionEvaluationMetrics": {
      "type": "object",
      "id": "XPSTextExtractionEvaluationMetrics",
      "properties": {
        "bestF1ConfidenceMetrics": {
          "deprecated": true,
          "$ref": "XPSConfidenceMetricsEntry",
          "description": "Values are at the highest F1 score on the precision-recall curve. Only confidence_threshold, recall, precision, and f1_score will be set."
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the model, at the default confidence threshold (0.0). Only set for whole-model evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        },
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "type": "array",
          "description": "If the enclosing EvaluationMetrics.label is empty, confidence_metrics_entries is an evaluation of the entire model across all labels. If the enclosing EvaluationMetrics.label is set, confidence_metrics_entries applies to that label."
        },
        "perLabelConfidenceMetrics": {
          "deprecated": true,
          "description": "Only recall, precision, and f1_score will be set.",
          "additionalProperties": {
            "$ref": "XPSConfidenceMetricsEntry"
          },
          "type": "object"
        }
      }
    },
    "XPSStructStats": {
      "properties": {
        "fieldStats": {
          "description": "Map from a field name of the struct to data stats aggregated over series of all data in that field across all the structs.",
          "additionalProperties": {
            "$ref": "XPSDataStats"
          },
          "type": "object"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "id": "XPSStructStats",
      "type": "object",
      "description": "The data statistics of a series of STRUCT values."
    },
    "XPSImageModelServingSpec": {
      "id": "XPSImageModelServingSpec",
      "properties": {
        "tfRuntimeVersion": {
          "type": "string",
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list"
        },
        "nodeQps": {
          "description": "An estimated value of how much traffic a node can serve. Populated for AutoMl request only.",
          "type": "number",
          "format": "double"
        },
        "modelThroughputEstimation": {
          "description": "Populate under uCAIP request scope.",
          "type": "array",
          "items": {
            "$ref": "XPSImageModelServingSpecModelThroughputEstimation"
          }
        }
      },
      "description": "Serving specification for image models.",
      "type": "object"
    },
    "InfraUsage": {
      "type": "object",
      "description": "LINT: LEGACY_NAMES Infra Usage of billing metrics.",
      "properties": {
        "ramMetrics": {
          "description": "Aggregated ram metrics since requested start_time.",
          "type": "array",
          "items": {
            "$ref": "RamMetric"
          }
        },
        "gpuMetrics": {
          "items": {
            "$ref": "GpuMetric"
          },
          "description": "Aggregated gpu metrics since requested start_time.",
          "type": "array"
        },
        "tpuMetrics": {
          "type": "array",
          "description": "Aggregated tpu metrics since requested start_time.",
          "items": {
            "$ref": "TpuMetric"
          }
        },
        "diskMetrics": {
          "items": {
            "$ref": "DiskMetric"
          },
          "type": "array",
          "description": "Aggregated persistent disk metrics since requested start_time."
        },
        "cpuMetrics": {
          "items": {
            "$ref": "CpuMetric"
          },
          "description": "Aggregated core metrics since requested start_time.",
          "type": "array"
        }
      },
      "id": "InfraUsage"
    },
    "XPSImageSegmentationEvaluationMetrics": {
      "description": "Model evaluation metrics for image segmentation problems. Next tag: 4.",
      "type": "object",
      "id": "XPSImageSegmentationEvaluationMetrics",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "items": {
            "$ref": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          }
        }
      }
    },
    "XPSTablesClassificationMetrics": {
      "id": "XPSTablesClassificationMetrics",
      "properties": {
        "curveMetrics": {
          "items": {
            "$ref": "XPSTablesClassificationMetricsCurveMetrics"
          },
          "description": "Metrics building a curve.",
          "type": "array"
        }
      },
      "description": "Metrics for Tables classification problems.",
      "type": "object"
    },
    "XPSCommonStats": {
      "properties": {
        "nullValueCount": {
          "type": "string",
          "format": "int64"
        },
        "distinctValueCount": {
          "type": "string",
          "format": "int64"
        },
        "validValueCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSCommonStats",
      "type": "object",
      "description": "Common statistics for a column with a specified data type."
    },
    "XPSSpeechModelSpec": {
      "properties": {
        "datasetId": {
          "description": "Required for speech xps backend. Speech xps has to use dataset_id and model_id as the primary key in db so that speech API can query the db directly.",
          "type": "string",
          "format": "int64"
        },
        "subModelSpecs": {
          "type": "array",
          "description": "Model specs for all submodels contained in this model.",
          "items": {
            "$ref": "XPSSpeechModelSpecSubModelSpec"
          }
        },
        "language": {
          "type": "string"
        }
      },
      "id": "XPSSpeechModelSpec",
      "type": "object"
    },
    "XPSRow": {
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "The values of the row cells, given in the same order as the column_ids. If column_ids is not set, then in the same order as the input_feature_column_ids in TablesModelMetadata."
        },
        "columnIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The ids of the columns. Note: The below `values` field must match order of this field, if this field is set.",
          "type": "array"
        }
      },
      "id": "XPSRow"
    },
    "XPSTablesPreprocessResponse": {
      "properties": {
        "tablesDatasetMetadata": {
          "description": "The table/column id, column_name and the DataTypes of the columns will be populated.",
          "$ref": "XPSTablesDatasetMetadata"
        }
      },
      "id": "XPSTablesPreprocessResponse",
      "type": "object"
    },
    "XPSVideoModelArtifactSpec": {
      "properties": {
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "exportArtifact": {
          "items": {
            "$ref": "XPSModelArtifactItem"
          },
          "type": "array",
          "description": "The model binary files in different formats for model export."
        }
      },
      "id": "XPSVideoModelArtifactSpec",
      "type": "object"
    },
    "XPSVisionTrainingOperationMetadata": {
      "id": "XPSVisionTrainingOperationMetadata",
      "deprecated": true,
      "properties": {
        "explanationUsage": {
          "description": "Aggregated infra usage within certain time period, for billing report purpose if XAI is enable in training request.",
          "$ref": "InfraUsage"
        }
      },
      "type": "object"
    },
    "XPSTablesModelColumnInfo": {
      "description": "An information specific to given column and Tables Model, in context of the Model and the predictions created by it.",
      "type": "object",
      "id": "XPSTablesModelColumnInfo",
      "properties": {
        "columnId": {
          "description": "The ID of the column.",
          "type": "integer",
          "format": "int32"
        },
        "featureImportance": {
          "description": "When given as part of a Model: Measurement of how much model predictions correctness on the TEST data depend on values in this column. A value between 0 and 1, higher means higher influence. These values are normalized - for all input feature columns of a given model they add to 1. When given back by Predict or Batch Predict: Measurement of how impactful for the prediction returned for the given row the value in this column was. Specifically, the feature importance specifies the marginal contribution that the feature made to the prediction score compared to the baseline score. These values are computed using the Sampled Shapley method.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "XPSColumnSpecForecastingMetadata": {
      "type": "object",
      "properties": {
        "columnType": {
          "description": "The type of the column for FORECASTING model training purposes.",
          "enumDescriptions": [
            "An un-set value of this enum.",
            "Key columns are used to identify timeseries.",
            "This column contains information describing static properties of the entities identified by the key column(s) (e.g. city's ZIP code).",
            "This column contains information for the given entity, at any time poinrt, they are only available in the time series before.",
            "This column contains information for the given entity is known both for the past and the sufficiently far future."
          ],
          "type": "string",
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "KEY",
            "KEY_METADATA",
            "TIME_SERIES_AVAILABLE_PAST_ONLY",
            "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE"
          ]
        }
      },
      "id": "XPSColumnSpecForecastingMetadata"
    },
    "XPSDockerFormat": {
      "type": "object",
      "description": "A model format used for Docker containers. Use the params field to customize the container. The container is verified to work correctly on ubuntu 16.04 operating system.",
      "properties": {
        "cpuArchitecture": {
          "type": "string",
          "description": "Optional. Additional cpu information describing the requirements for the to be exported model files.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CPU_ARCHITECTURE_UNSPECIFIED",
            "CPU_ARCHITECTURE_X86_64"
          ]
        },
        "gpuArchitecture": {
          "type": "string",
          "description": "Optional. Additional gpu information describing the requirements for the to be exported model files.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "GPU_ARCHITECTURE_UNSPECIFIED",
            "GPU_ARCHITECTURE_NVIDIA"
          ]
        }
      },
      "id": "XPSDockerFormat"
    },
    "XPSMetricEntryLabel": {
      "type": "object",
      "properties": {
        "labelName": {
          "description": "The name of the label.",
          "type": "string"
        },
        "labelValue": {
          "description": "The value of the label.",
          "type": "string"
        }
      },
      "id": "XPSMetricEntryLabel"
    },
    "AnalyzeSentimentResponse": {
      "type": "object",
      "description": "The sentiment analysis response message.",
      "properties": {
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "languageSupported": {
          "type": "boolean",
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis."
        },
        "sentences": {
          "items": {
            "$ref": "Sentence"
          },
          "type": "array",
          "description": "The sentiment for all the sentences in the document."
        },
        "documentSentiment": {
          "description": "The overall sentiment of the input document.",
          "$ref": "Sentiment"
        }
      },
      "id": "AnalyzeSentimentResponse"
    },
    "AnnotateTextResponse": {
      "id": "AnnotateTextResponse",
      "properties": {
        "sentences": {
          "type": "array",
          "description": "Sentences in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "items": {
            "$ref": "Sentence"
          }
        },
        "documentSentiment": {
          "description": "The overall sentiment for the document. Populated if the user enables AnnotateTextRequest.Features.extract_document_sentiment.",
          "$ref": "Sentiment"
        },
        "entities": {
          "description": "Entities, along with their semantic information, in the input document. Populated if the user enables AnnotateTextRequest.Features.extract_entities .",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        },
        "moderationCategories": {
          "type": "array",
          "description": "Harmful and sensitive categories identified in the input document.",
          "items": {
            "$ref": "ClassificationCategory"
          }
        },
        "languageSupported": {
          "description": "Whether the language is officially supported by all requested features. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        },
        "languageCode": {
          "type": "string",
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details."
        },
        "categories": {
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Categories identified in the input document.",
          "type": "array"
        }
      },
      "description": "The text annotations response message.",
      "type": "object"
    },
    "Entity": {
      "id": "Entity",
      "properties": {
        "type": {
          "description": "The entity type.",
          "enumDescriptions": [
            "Unknown",
            "Person",
            "Location",
            "Organization",
            "Event",
            "Artwork",
            "Consumer product",
            "Other types of entities",
            "Phone number The metadata lists the phone number, formatted according to local convention, plus whichever additional elements appear in the text: * `number` - the actual number, broken down into sections as per local convention * `national_prefix` - country code, if detected * `area_code` - region or area code, if detected * `extension` - phone extension (to be dialed after connection), if detected",
            "Address The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - street number * `locality` - city or town * `street_name` - street/route name, if detected * `postal_code` - postal code, if detected * `country` - country, if detected * `broad_region` - administrative area, such as the state, if detected * `narrow_region` - smaller administrative area, such as county, if detected * `sublocality` - used in Asian addresses to demark a district within a city, if detected",
            "Date The metadata identifies the components of the date: * `year` - four digit year, if detected * `month` - two digit month number, if detected * `day` - two digit day number, if detected",
            "Number The metadata is the number itself.",
            "Price The metadata identifies the `value` and `currency`."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ]
        },
        "metadata": {
          "description": "Metadata associated with the entity. For the metadata associated with other entity types, see the Type table below.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "mentions": {
          "description": "The mentions of this entity in the input document. The API currently supports proper noun mentions.",
          "type": "array",
          "items": {
            "$ref": "EntityMention"
          }
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment this field will contain the aggregate sentiment expressed for this entity in the provided document.",
          "$ref": "Sentiment"
        },
        "name": {
          "type": "string",
          "description": "The representative name for the entity."
        }
      },
      "description": "Represents a phrase in the text that is a known entity, such as a person, an organization, or location. The API associates information, such as probability and mentions, with entities.",
      "type": "object"
    },
    "XPSColumnSpec": {
      "id": "XPSColumnSpec",
      "properties": {
        "topCorrelatedColumns": {
          "description": "It's outputed in RefreshTablesStats, and a required input in Train.",
          "type": "array",
          "items": {
            "$ref": "XPSColumnSpecCorrelatedColumn"
          }
        },
        "forecastingMetadata": {
          "$ref": "XPSColumnSpecForecastingMetadata"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the column. It's outputed in Preprocess and a required input for RefreshTablesStats and Train."
        },
        "dataType": {
          "description": "The data type of the column. It's outputed in Preprocess rpc and a required input for RefreshTablesStats and Train.",
          "$ref": "XPSDataType"
        },
        "dataStats": {
          "description": "The data stats of the column. It's outputed in RefreshTablesStats and a required input for Train.",
          "$ref": "XPSDataStats"
        },
        "columnId": {
          "description": "The unique id of the column. When Preprocess, the Tables BE will popuate the order id of the column, which reflects the order of the column inside the table, i.e. 0 means the first column in the table, N-1 means the last column. AutoML BE will persist this order id in Spanner and set the order id here when calling RefreshTablesStats and Train. Note: it's different than the column_spec_id that is generated in AutoML BE.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "XPSTrackMetricsEntryConfidenceMetricsEntry": {
      "description": "Metrics for a single confidence threshold. Next tag: 6.",
      "type": "object",
      "id": "XPSTrackMetricsEntryConfidenceMetricsEntry",
      "properties": {
        "boundingBoxIou": {
          "description": "Output only. Bounding box intersection-over-union precision. Measures how well the bounding boxes overlap between each other (e.g. complete overlap or just barely above iou_threshold).",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "type": "number",
          "format": "float"
        },
        "mismatchRate": {
          "type": "number",
          "format": "float",
          "description": "Output only. Mismatch rate, which measures the tracking consistency, i.e. correctness of instance ID continuity."
        },
        "trackingPrecision": {
          "type": "number",
          "format": "float",
          "description": "Output only. Tracking precision."
        },
        "trackingRecall": {
          "description": "Output only. Tracking recall.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "XPSTfJsFormat": {
      "type": "object",
      "description": "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
      "properties": {},
      "id": "XPSTfJsFormat"
    },
    "XPSXraiAttribution": {
      "deprecated": true,
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Only supports image Models (modality is IMAGE).",
      "type": "object",
      "id": "XPSXraiAttribution",
      "properties": {
        "stepCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively."
        }
      }
    },
    "TextSpan": {
      "properties": {
        "content": {
          "type": "string",
          "description": "The content of the text span, which is a substring of the document."
        },
        "beginOffset": {
          "type": "integer",
          "format": "int32",
          "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request."
        }
      },
      "id": "TextSpan",
      "type": "object",
      "description": "Represents a text span in the input document."
    },
    "XPSRegressionMetricsEntry": {
      "id": "XPSRegressionMetricsEntry",
      "properties": {
        "predictedValue": {
          "description": "The observed value for a row in the dataset.",
          "type": "number",
          "format": "float"
        },
        "trueValue": {
          "description": "The actual target value for a row in the dataset.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "A pair of actual & observed values for the model being evaluated.",
      "type": "object"
    },
    "XPSResponseExplanationSpec": {
      "deprecated": true,
      "description": "Specification of Model explanation. Feature-based XAI in AutoML Vision ICN is deprecated.",
      "type": "object",
      "id": "XPSResponseExplanationSpec",
      "properties": {
        "explanationType": {
          "type": "string",
          "description": "Explanation type. For AutoML Image Classification models, possible values are: * `image-integrated-gradients` * `image-xrai`"
        },
        "metadata": {
          "description": "Metadata describing the Model's input and output for explanation.",
          "$ref": "XPSResponseExplanationMetadata"
        },
        "parameters": {
          "description": "Parameters that configure explaining of the Model's predictions.",
          "$ref": "XPSResponseExplanationParameters"
        }
      }
    },
    "XPSImageClassificationTrainResponse": {
      "type": "object",
      "properties": {
        "trainCostInNodeTime": {
          "type": "string",
          "format": "google-duration",
          "description": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA."
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "exportModelSpec": {
          "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests.",
          "$ref": "XPSImageExportModelSpec"
        },
        "stopReason": {
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ]
        },
        "classCount": {
          "description": "Total number of classes.",
          "type": "string",
          "format": "int64"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual training cost, expressed in node seconds. Populated for models trained in node time."
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        }
      },
      "id": "XPSImageClassificationTrainResponse"
    },
    "ClassifyTextResponse": {
      "type": "object",
      "description": "The document classification response message.",
      "properties": {
        "categories": {
          "items": {
            "$ref": "ClassificationCategory"
          },
          "description": "Categories representing the input document.",
          "type": "array"
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "languageSupported": {
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        }
      },
      "id": "ClassifyTextResponse"
    },
    "XPSTablesModelStructureModelParameters": {
      "properties": {
        "hyperparameters": {
          "type": "array",
          "items": {
            "$ref": "XPSTablesModelStructureModelParametersParameter"
          }
        }
      },
      "id": "XPSTablesModelStructureModelParameters",
      "type": "object",
      "description": "Model hyper-parameters for a model."
    },
    "XPSConfusionMatrix": {
      "description": "Confusion matrix of the model running the classification.",
      "type": "object",
      "id": "XPSConfusionMatrix",
      "properties": {
        "sentimentLabel": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Sentiment labels used in the confusion matrix. Set only for text sentiment models. For AutoML Text Revamp, use `annotation_spec_id_token` instead and leave this field empty.",
          "type": "array"
        },
        "annotationSpecIdToken": {
          "description": "For the following three repeated fields, only one is intended to be set. annotation_spec_id_token is preferable to be set. ID tokens of the annotation specs used in the confusion matrix.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "category": {
          "type": "array",
          "description": "Category (mainly for segmentation). Set only for image segmentation models. Note: uCAIP Image Segmentation should use annotation_spec_id_token.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "row": {
          "type": "array",
          "description": "Rows in the confusion matrix. The number of rows is equal to the size of `annotation_spec_id_token`. `row[i].value[j]` is the number of examples that have ground truth of the `annotation_spec_id_token[i]` and are predicted as `annotation_spec_id_token[j]` by the model being evaluated.",
          "items": {
            "$ref": "XPSConfusionMatrixRow"
          }
        }
      }
    },
    "AnalyzeSentimentRequest": {
      "type": "object",
      "description": "The sentiment analysis request message.",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "encodingType": {
          "type": "string",
          "description": "The encoding type used by the API to calculate sentence offsets.",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ],
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ]
        }
      },
      "id": "AnalyzeSentimentRequest"
    },
    "XPSEvaluationMetrics": {
      "properties": {
        "textClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "evaluatedExampleCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of examples used to create this evaluation metrics instance."
        },
        "videoActionRecognitionEvalMetrics": {
          "$ref": "XPSVideoActionRecognitionEvaluationMetrics"
        },
        "category": {
          "type": "integer",
          "format": "int32",
          "description": "The integer category label for which this evaluation metric instance had been created. Valid categories are 0 or higher. Overall model evaluation should set this to negative values (rather than implicit zero). Only used for Image Segmentation (prefer to set annotation_spec_id_token instead). Note: uCAIP Image Segmentation should use annotation_spec_id_token."
        },
        "translationEvalMetrics": {
          "$ref": "XPSTranslationEvaluationMetrics"
        },
        "annotationSpecIdToken": {
          "description": "The annotation_spec for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The value comes from the input annotations in AnnotatedExample. For MVP product or for text sentiment models where annotation_spec_id_token is not available, set label instead.",
          "type": "string"
        },
        "tablesClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "textSentimentEvalMetrics": {
          "$ref": "XPSTextSentimentEvaluationMetrics"
        },
        "regressionEvalMetrics": {
          "$ref": "XPSRegressionEvaluationMetrics"
        },
        "imageObjectDetectionEvalMetrics": {
          "$ref": "XPSImageObjectDetectionEvaluationMetrics"
        },
        "videoObjectTrackingEvalMetrics": {
          "$ref": "XPSVideoObjectTrackingEvaluationMetrics"
        },
        "tablesEvalMetrics": {
          "$ref": "XPSTablesEvaluationMetrics"
        },
        "imageClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "label": {
          "type": "string",
          "description": "The label for which this evaluation metrics instance had been created. Empty iff this is an overall model evaluation (like Tables evaluation metrics), i.e. aggregated across all labels. The label maps to AnnotationSpec.display_name in Public API protos. Only used by MVP implementation and text sentiment FULL implementation."
        },
        "videoClassificationEvalMetrics": {
          "$ref": "XPSClassificationEvaluationMetrics"
        },
        "textExtractionEvalMetrics": {
          "$ref": "XPSTextExtractionEvaluationMetrics"
        },
        "imageSegmentationEvalMetrics": {
          "$ref": "XPSImageSegmentationEvaluationMetrics"
        }
      },
      "id": "XPSEvaluationMetrics",
      "type": "object",
      "description": "Contains xPS-specific model evaluation metrics either for a single annotation spec (label), or for the model overall. Next tag: 18."
    },
    "XPSTrainResponse": {
      "type": "object",
      "properties": {
        "imageClassificationTrainResp": {
          "$ref": "XPSImageClassificationTrainResponse"
        },
        "textToSpeechTrainResp": {
          "$ref": "XPSTextToSpeechTrainResponse"
        },
        "imageObjectDetectionTrainResp": {
          "$ref": "XPSImageObjectDetectionModelSpec"
        },
        "textTrainResp": {
          "description": "Will only be needed for uCAIP from Beta.",
          "$ref": "XPSTextTrainResponse"
        },
        "errorAnalysisConfigs": {
          "items": {
            "$ref": "XPSVisionErrorAnalysisConfig"
          },
          "type": "array",
          "description": "Optional vision model error analysis configuration. The field is set when model error analysis is enabled in the training request. The results of error analysis will be binded together with evaluation results (in the format of AnnotatedExample)."
        },
        "speechTrainResp": {
          "$ref": "XPSSpeechModelSpec"
        },
        "videoObjectTrackingTrainResp": {
          "$ref": "XPSVideoObjectTrackingTrainResponse"
        },
        "videoActionRecognitionTrainResp": {
          "$ref": "XPSVideoActionRecognitionTrainResponse"
        },
        "tablesTrainResp": {
          "$ref": "XPSTablesTrainResponse"
        },
        "explanationConfigs": {
          "type": "array",
          "description": "VisionExplanationConfig for XAI on test set. Optional for when XAI is enable in training request.",
          "items": {
            "$ref": "XPSResponseExplanationSpec"
          },
          "deprecated": true
        },
        "videoClassificationTrainResp": {
          "$ref": "XPSVideoClassificationTrainResponse"
        },
        "deployedModelSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Estimated model size in bytes once deployed."
        },
        "modelToken": {
          "description": "Token that represents the trained model. This is considered immutable and is persisted in AutoML. xPS can put their own proto in the byte string, to e.g. point to the model checkpoints. The token is passed to other xPS APIs to refer to the model.",
          "type": "string",
          "format": "byte"
        },
        "translationTrainResp": {
          "$ref": "XPSTranslationTrainResponse"
        },
        "evaluatedExampleSet": {
          "description": "Examples used to evaluate the model (usually the test set), with the predicted annotations. The file_spec should point to recordio file(s) of AnnotatedExample. For each returned example, the example_id_token and annotations predicted by the model must be set. The example payload can and is recommended to be omitted.",
          "$ref": "XPSExampleSet"
        },
        "imageSegmentationTrainResp": {
          "$ref": "XPSImageSegmentationTrainResponse"
        },
        "evaluationMetricsSet": {
          "description": "The trained model evaluation metrics. This can be optionally returned.",
          "$ref": "XPSEvaluationMetricsSet"
        }
      },
      "id": "XPSTrainResponse"
    },
    "XPSTablesClassificationMetricsCurveMetrics": {
      "type": "object",
      "description": "Metrics curve data point for a single value.",
      "properties": {
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "XPSTablesConfidenceMetricsEntry"
          },
          "type": "array",
          "description": "Metrics that have confidence thresholds. Precision-recall curve and ROC curve can be derived from them."
        },
        "aucPr": {
          "description": "The area under the precision-recall curve.",
          "type": "number",
          "format": "double"
        },
        "positionThreshold": {
          "description": "The position threshold value used to compute the metrics.",
          "type": "integer",
          "format": "int32"
        },
        "logLoss": {
          "description": "The Log loss metric.",
          "type": "number",
          "format": "double"
        },
        "value": {
          "type": "string",
          "description": "The CATEGORY row value (for ARRAY unnested) the curve metrics are for."
        },
        "aucRoc": {
          "description": "The area under receiver operating characteristic curve.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "XPSTablesClassificationMetricsCurveMetrics"
    },
    "XPSIntegratedGradientsAttribution": {
      "deprecated": true,
      "type": "object",
      "description": "An attribution method that computes the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
      "properties": {
        "stepCount": {
          "description": "The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is within the desired error range. Valid range of its value is [1, 100], inclusively.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "XPSIntegratedGradientsAttribution"
    },
    "XPSVideoActionRecognitionEvaluationMetrics": {
      "properties": {
        "videoActionMetricsEntries": {
          "description": "Output only. The metric entries for precision window lengths: 1s,2s,3s,4s, 5s.",
          "type": "array",
          "items": {
            "$ref": "XPSVideoActionMetricsEntry"
          }
        },
        "evaluatedActionCount": {
          "description": "Output only. The number of ground truth actions used to create this evaluation.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "XPSVideoActionRecognitionEvaluationMetrics",
      "type": "object",
      "description": "Model evaluation metrics for video action recognition."
    },
    "XPSExampleSet": {
      "description": "Set of examples or input sources.",
      "type": "object",
      "id": "XPSExampleSet",
      "properties": {
        "fileSpec": {
          "description": "File spec of the examples or input sources.",
          "$ref": "XPSFileSpec"
        },
        "numInputSources": {
          "description": "Number of input sources.",
          "type": "string",
          "format": "int64"
        },
        "numExamples": {
          "description": "Number of examples.",
          "type": "string",
          "format": "int64"
        },
        "fingerprint": {
          "type": "string",
          "format": "int64",
          "description": "Fingerprint of the example set."
        }
      }
    },
    "XPSVideoActionMetricsEntry": {
      "id": "XPSVideoActionMetricsEntry",
      "properties": {
        "precisionWindowLength": {
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive.",
          "type": "string",
          "format": "google-duration"
        },
        "meanAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "The mean average precision."
        },
        "confidenceMetricsEntries": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          }
        }
      },
      "description": "The Evaluation metrics entry given a specific precision_window_length.",
      "type": "object"
    },
    "XPSTextTrainResponse": {
      "type": "object",
      "id": "XPSTextTrainResponse",
      "properties": {
        "componentModel": {
          "type": "array",
          "description": "Component submodels.",
          "items": {
            "$ref": "XPSTextComponentModel"
          }
        }
      }
    },
    "XPSTrackMetricsEntry": {
      "description": "Track matching model metrics for a single track match threshold and multiple label match confidence thresholds. Next tag: 6.",
      "type": "object",
      "id": "XPSTrackMetricsEntry",
      "properties": {
        "iouThreshold": {
          "type": "number",
          "format": "float",
          "description": "Output only. The intersection-over-union threshold value between bounding boxes across frames used to compute this metric entry."
        },
        "meanBoundingBoxIou": {
          "description": "Output only. The mean bounding box iou over all confidence thresholds.",
          "type": "number",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Output only. Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99. Precision-recall curve is derived from them.",
          "items": {
            "$ref": "XPSTrackMetricsEntryConfidenceMetricsEntry"
          }
        },
        "meanTrackingAveragePrecision": {
          "description": "Output only. The mean average precision over all confidence thresholds.",
          "type": "number",
          "format": "float"
        },
        "meanMismatchRate": {
          "type": "number",
          "format": "float",
          "description": "Output only. The mean mismatch rate over all confidence thresholds."
        }
      }
    },
    "XPSFloat64StatsHistogramBucket": {
      "properties": {
        "min": {
          "description": "The minimum value of the bucket, inclusive.",
          "type": "number",
          "format": "double"
        },
        "max": {
          "description": "The maximum value of the bucket, exclusive unless max = `\"Infinity\"`, in which case it's inclusive.",
          "type": "number",
          "format": "double"
        },
        "count": {
          "description": "The number of data values that are in the bucket, i.e. are between min and max values.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "XPSFloat64StatsHistogramBucket",
      "type": "object",
      "description": "A bucket of a histogram."
    },
    "XPSTimestampStatsGranularStats": {
      "properties": {
        "buckets": {
          "description": "A map from granularity key to example count for that key. E.g. for hour_of_day `13` means 1pm, or for month_of_year `5` means May).",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      },
      "id": "XPSTimestampStatsGranularStats",
      "type": "object",
      "description": "Stats split by a defined in context granularity."
    },
    "XPSTextToSpeechTrainResponse": {
      "id": "XPSTextToSpeechTrainResponse",
      "properties": {},
      "description": "TextToSpeech train response",
      "type": "object"
    },
    "XPSPreprocessResponse": {
      "type": "object",
      "properties": {
        "outputExampleSet": {
          "description": "Preprocessed examples, that are to be imported into AutoML storage. This should point to RecordIO file(s) of PreprocessedExample messages. The PreprocessedExample.mvp_training_data-s returned here are later verbatim passed to Train() call in TrainExample.mvp_training_data.",
          "$ref": "XPSExampleSet"
        },
        "speechPreprocessResp": {
          "$ref": "XPSSpeechPreprocessResponse"
        },
        "tablesPreprocessResponse": {
          "$ref": "XPSTablesPreprocessResponse"
        },
        "translationPreprocessResp": {
          "$ref": "XPSTranslationPreprocessResponse"
        }
      },
      "id": "XPSPreprocessResponse"
    },
    "XPSExportModelOutputConfig": {
      "properties": {
        "tfLiteFormat": {
          "$ref": "XPSTfLiteFormat"
        },
        "dockerFormat": {
          "$ref": "XPSDockerFormat"
        },
        "outputGcsUri": {
          "type": "string",
          "description": "The Google Cloud Storage directory where XPS will output the exported models and related files. Format: gs://bucket/directory"
        },
        "tfSavedModelFormat": {
          "$ref": "XPSTfSavedModelFormat"
        },
        "tfJsFormat": {
          "$ref": "XPSTfJsFormat"
        },
        "coreMlFormat": {
          "$ref": "XPSCoreMlFormat"
        },
        "outputGcrUri": {
          "type": "string",
          "description": "The Google Contained Registry path the exported files to be pushed to. This location is set if the exported format is DOCKDER."
        },
        "exportFirebaseAuxiliaryInfo": {
          "type": "boolean",
          "description": "For any model and format: If true, will additionally export FirebaseExportedModelInfo in a firebase.txt file."
        },
        "edgeTpuTfLiteFormat": {
          "$ref": "XPSEdgeTpuTfLiteFormat"
        }
      },
      "id": "XPSExportModelOutputConfig",
      "type": "object"
    },
    "XPSFileSpec": {
      "id": "XPSFileSpec",
      "properties": {
        "singleFilePath": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. Use file_spec."
        },
        "fileSpec": {
          "description": "Single file path, or file pattern of format \"/path/to/file@shard_count\". E.g. /cns/cell-d/somewhere/file@2 is expanded to two files: /cns/cell-d/somewhere/file-00000-of-00002 and /cns/cell-d/somewhere/file-00001-of-00002.",
          "type": "string"
        },
        "fileFormat": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "Internal format for parallel text data used by Google Translate.",
            "",
            "Only the lexicographically first file described by the file_spec contains the header line.",
            ""
          ],
          "enum": [
            "FILE_FORMAT_UNKNOWN",
            "FILE_FORMAT_SSTABLE",
            "FILE_FORMAT_TRANSLATION_RKV",
            "FILE_FORMAT_RECORDIO",
            "FILE_FORMAT_RAW_CSV",
            "FILE_FORMAT_RAW_CAPACITOR"
          ]
        },
        "directoryPath": {
          "type": "string",
          "description": "Deprecated. Use file_spec.",
          "deprecated": true
        }
      },
      "description": "Spec of input and output files, on external file systems (for example, Colossus Namespace System or Google Cloud Storage).",
      "type": "object"
    },
    "XPSTextSentimentEvaluationMetrics": {
      "id": "XPSTextSentimentEvaluationMetrics",
      "properties": {
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "Output only. The harmonic mean of recall and precision."
        },
        "quadraticKappa": {
          "description": "Output only. Quadratic weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number",
          "format": "float"
        },
        "confusionMatrix": {
          "description": "Output only. Confusion matrix of the evaluation. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "$ref": "XPSConfusionMatrix"
        },
        "meanSquaredError": {
          "description": "Output only. Mean squared error. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number",
          "format": "float"
        },
        "linearKappa": {
          "type": "number",
          "format": "float",
          "description": "Output only. Linear weighted kappa. Only set for the overall model evaluation, not for evaluation of a single annotation spec."
        },
        "precision": {
          "description": "Output only. Precision.",
          "type": "number",
          "format": "float"
        },
        "recall": {
          "description": "Output only. Recall.",
          "type": "number",
          "format": "float"
        },
        "meanAbsoluteError": {
          "description": "Output only. Mean absolute error. Only set for the overall model evaluation, not for evaluation of a single annotation spec.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Model evaluation metrics for text sentiment problems.",
      "type": "object"
    },
    "XPSResponseExplanationMetadataOutputMetadata": {
      "description": "Metadata of the prediction output to be explained.",
      "type": "object",
      "id": "XPSResponseExplanationMetadataOutputMetadata",
      "properties": {
        "outputTensorName": {
          "description": "Name of the output tensor. Only needed in train response.",
          "type": "string"
        }
      }
    },
    "XPSSpeechPreprocessResponse": {
      "type": "object",
      "properties": {
        "prebuiltModelEvaluationMetrics": {
          "description": "The metrics for prebuilt speech models. They are included here because there is no prebuilt speech models stored in the AutoML.",
          "$ref": "XPSSpeechEvaluationMetrics"
        },
        "speechPreprocessStats": {
          "description": "Stats associated with the data.",
          "$ref": "XPSSpeechPreprocessStats"
        },
        "cnsTrainDataPath": {
          "type": "string",
          "description": "Location of shards of sstables (training data) of DataUtterance protos."
        },
        "cnsTestDataPath": {
          "description": "Location od shards of sstables (test data) of DataUtterance protos.",
          "type": "string"
        }
      },
      "id": "XPSSpeechPreprocessResponse"
    },
    "XPSTablesModelStructureModelParametersParameter": {
      "type": "object",
      "id": "XPSTablesModelStructureModelParametersParameter",
      "properties": {
        "name": {
          "type": "string",
          "description": "Parameter name."
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Integer type parameter value."
        },
        "stringValue": {
          "description": "String type parameter value.",
          "type": "string"
        },
        "floatValue": {
          "type": "number",
          "format": "double",
          "description": "Float type parameter value."
        }
      }
    },
    "GpuMetric": {
      "id": "GpuMetric",
      "properties": {
        "gpuSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of GPU usage, e.g. 3600."
        },
        "machineSpec": {
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ],
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "gpuType": {
          "enum": [
            "UNKNOWN_GPU_TYPE",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "NVIDIA_TESLA_K80",
            "NVIDIA_L4",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_V100",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_RTX_PRO_6000"
          ],
          "type": "string",
          "description": "Required. Type of GPU, e.g. NVIDIA_TESLA_V100.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "trackingLabels": {
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "XPSColumnSpecCorrelatedColumn": {
      "properties": {
        "columnId": {
          "type": "integer",
          "format": "int32"
        },
        "correlationStats": {
          "$ref": "XPSCorrelationStats"
        }
      },
      "id": "XPSColumnSpecCorrelatedColumn",
      "type": "object",
      "description": "Identifies a table's column, and its correlation with the column this ColumnSpec describes."
    },
    "XPSArrayStats": {
      "properties": {
        "memberStats": {
          "description": "Stats of all the values of all arrays, as if they were a single long series of data. The type depends on the element type of the array.",
          "$ref": "XPSDataStats"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "id": "XPSArrayStats",
      "type": "object",
      "description": "The data statistics of a series of ARRAY values."
    },
    "XPSConfusionMatrixRow": {
      "id": "XPSConfusionMatrixRow",
      "properties": {
        "exampleCount": {
          "description": "Value of the specific cell in the confusion matrix. The number of values each row has (i.e. the length of the row) is equal to the length of the annotation_spec_id_token field.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "count": {
          "description": "Same as above except intended to represent other counts (for e.g. for segmentation this is pixel count). NOTE(params): Only example_count or count is set (oneoff does not support repeated fields unless they are embedded inside another message).",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "A row in the confusion matrix.",
      "type": "object"
    },
    "XPSImageExportModelSpec": {
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format.",
      "type": "object",
      "id": "XPSImageExportModelSpec",
      "properties": {
        "exportModelOutputConfig": {
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          },
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files.",
          "type": "array"
        }
      }
    },
    "XPSTextComponentModel": {
      "type": "object",
      "description": "Component model.",
      "properties": {
        "batchPredictionModelGcsUri": {
          "type": "string",
          "description": "The Cloud Storage resource path to hold batch prediction model."
        },
        "servoModelName": {
          "description": "The name of servo model. Populated by uCAIP BE as part of online PredictRequest.",
          "type": "string"
        },
        "submodelType": {
          "enum": [
            "TEXT_MODEL_TYPE_UNSPECIFIED",
            "TEXT_MODEL_TYPE_DEFAULT",
            "TEXT_MODEL_TYPE_META_ARCHITECT",
            "TEXT_MODEL_TYPE_ATC",
            "TEXT_MODEL_TYPE_CLARA2",
            "TEXT_MODEL_TYPE_CHATBASE",
            "TEXT_MODEL_TYPE_SAFT_SPAN_LABELING",
            "TEXT_MODEL_TYPE_TEXT_EXTRACTION",
            "TEXT_MODEL_TYPE_RELATIONSHIP_EXTRACTION",
            "TEXT_MODEL_TYPE_COMPOSITE",
            "TEXT_MODEL_TYPE_ALL_MODELS",
            "TEXT_MODEL_TYPE_BERT",
            "TEXT_MODEL_TYPE_ENC_PALM"
          ],
          "description": "The type of trained NL submodel",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Model type for entity extraction.",
            "Model type for relationship extraction.",
            "A composite model represents a set of component models that have to be used together for prediction. A composite model appears to be a single model to the model user. It may contain only one component model.",
            "Model type used to train default, MA, and ATC models in a single batch worker pipeline.",
            "BERT pipeline needs a specific model type, since it uses a different TFX configuration compared with DEFAULT (despite sharing most of the code).",
            "Model type for EncPaLM."
          ],
          "type": "string"
        },
        "partition": {
          "description": "The partition where the model is deployed. Populated by uCAIP BE as part of online PredictRequest.",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ],
          "type": "string",
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ]
        },
        "submodelName": {
          "type": "string",
          "description": "The name of the trained NL submodel."
        },
        "versionNumber": {
          "type": "string",
          "format": "int64",
          "description": "The servomatic model version number. Populated by uCAIP BE as part of online PredictRequest."
        },
        "onlinePredictionModelGcsUri": {
          "type": "string",
          "description": "The Cloud Storage resource path to hold online prediction model."
        },
        "tfRuntimeVersion": {
          "type": "string",
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list"
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud Ai Platform API.",
          "$ref": "XPSModelArtifactItem"
        }
      },
      "id": "XPSTextComponentModel"
    },
    "XPSTablesRegressionMetrics": {
      "properties": {
        "meanAbsoluteError": {
          "type": "number",
          "format": "double",
          "description": "Mean absolute error."
        },
        "rSquared": {
          "type": "number",
          "format": "double",
          "description": "R squared."
        },
        "regressionMetricsEntries": {
          "items": {
            "$ref": "XPSRegressionMetricsEntry"
          },
          "description": "A list of actual versus predicted points for the model being evaluated.",
          "type": "array"
        },
        "rootMeanSquaredError": {
          "description": "Root mean squared error.",
          "type": "number",
          "format": "double"
        },
        "meanAbsolutePercentageError": {
          "type": "number",
          "format": "double",
          "description": "Mean absolute percentage error, only set if all of the target column's values are positive."
        },
        "rootMeanSquaredLogError": {
          "type": "number",
          "format": "double",
          "description": "Root mean squared log error."
        }
      },
      "id": "XPSTablesRegressionMetrics",
      "type": "object",
      "description": "Metrics for Tables regression problems."
    },
    "XPSReportingMetrics": {
      "id": "XPSReportingMetrics",
      "properties": {
        "metricEntries": {
          "items": {
            "$ref": "XPSMetricEntry"
          },
          "type": "array",
          "description": "One entry per metric name. The values must be aggregated per metric name."
        },
        "effectiveTrainingDuration": {
          "deprecated": true,
          "description": "The effective time training used. If set, this is used for quota management and billing. Deprecated. AutoML BE doesn't use this. Don't set.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry": {
      "properties": {
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "recall": {
          "type": "number",
          "format": "float",
          "description": "Recall for the given confidence threshold."
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The confidence threshold value used to compute the metrics."
        },
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall and precision."
        }
      },
      "id": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry",
      "type": "object",
      "description": "Metrics for a single confidence threshold."
    },
    "XPSResponseExplanationParameters": {
      "id": "XPSResponseExplanationParameters",
      "deprecated": true,
      "properties": {
        "integratedGradientsAttribution": {
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
          "$ref": "XPSIntegratedGradientsAttribution"
        },
        "xraiAttribution": {
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead.",
          "$ref": "XPSXraiAttribution"
        }
      },
      "type": "object"
    },
    "Document": {
      "id": "Document",
      "properties": {
        "content": {
          "type": "string",
          "description": "The content of the input in string format. Cloud audit logging exempt since it is based on user data."
        },
        "gcsContentUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI where the file content is located. This URI must be of the form: gs://bucket_name/object_name. For more details, see https://cloud.google.com/storage/docs/reference-uris. NOTE: Cloud Storage object versioning is not supported."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language of the document (if not specified, the language is automatically detected). Both ISO and BCP-47 language codes are accepted. [Language Support](https://cloud.google.com/natural-language/docs/languages) lists currently supported languages for each API method. If the language (either specified by the caller or automatically detected) is not supported by the called API method, an `INVALID_ARGUMENT` error is returned."
        },
        "type": {
          "type": "string",
          "description": "Required. If the type is not set or is `TYPE_UNSPECIFIED`, returns an `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "The content type is not specified.",
            "Plain text",
            "HTML"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ]
        }
      },
      "description": "Represents the input to API methods.",
      "type": "object"
    },
    "XPSDataType": {
      "type": "object",
      "description": "Indicated the type of data that can be stored in a structured data entity (e.g. a table).",
      "properties": {
        "typeCode": {
          "description": "Required. The TypeCode for this type.",
          "enumDescriptions": [
            "Not specified. Should not be used.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Must be between 0AD and 9999AD. Encoded as `string` according to time_format, or, if that format is not set, then in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z).",
            "Encoded as `string`.",
            "Encoded as `list`, where the list elements are represented according to list_element_type.",
            "Encoded as `struct`, where field values are represented according to struct_type.",
            "Values of this type are not further understood by AutoML, e.g. AutoML is unable to tell the order of values (as it could with FLOAT64), or is unable to say if one value contains another (as it could with STRING). Encoded as `string` (bytes should be base64-encoded, as described in RFC 4648, section 4)."
          ],
          "type": "string",
          "enum": [
            "TYPE_CODE_UNSPECIFIED",
            "FLOAT64",
            "TIMESTAMP",
            "STRING",
            "ARRAY",
            "STRUCT",
            "CATEGORY"
          ]
        },
        "compatibleDataTypes": {
          "items": {
            "$ref": "XPSDataType"
          },
          "description": "The highly compatible data types to this data type.",
          "type": "array"
        },
        "structType": {
          "description": "If type_code == STRUCT, then `struct_type` provides type information for the struct's fields.",
          "$ref": "XPSStructType"
        },
        "nullable": {
          "description": "If true, this DataType can also be `null`.",
          "type": "boolean"
        },
        "listElementType": {
          "description": "If type_code == ARRAY, then `list_element_type` is the type of the elements.",
          "$ref": "XPSDataType"
        },
        "timeFormat": {
          "description": "If type_code == TIMESTAMP then `time_format` provides the format in which that time field is expressed. The time_format must be written in `strftime` syntax. If time_format is not set, then the default format as described on the field is used.",
          "type": "string"
        }
      },
      "id": "XPSDataType"
    },
    "XPSColorMap": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Should be used during preprocessing."
        },
        "annotationSpecIdToken": {
          "type": "string",
          "description": "Should be used during training."
        },
        "color": {
          "description": "This type is deprecated in favor of the IntColor below. This is because google.type.Color represent color has a float which semantically does not reflect discrete classes/categories concept. Moreover, to handle it well we need to have some tolerance when converting to a discretized color. As such, the recommendation is to have API surface still use google.type.Color while internally IntColor is used.",
          "deprecated": true,
          "$ref": "Color"
        },
        "intColor": {
          "$ref": "XPSColorMapIntColor"
        }
      },
      "id": "XPSColorMap",
      "type": "object",
      "description": "Map from color to display name. Will only be used by Image Segmentation for uCAIP."
    },
    "XPSMetricEntry": {
      "id": "XPSMetricEntry",
      "properties": {
        "argentumMetricId": {
          "description": "For billing metrics that are using legacy sku's, set the legacy billing metric id here. This will be sent to Chemist as the \"cloudbilling.googleapis.com/argentum_metric_id\" label. Otherwise leave empty.",
          "type": "string"
        },
        "doubleValue": {
          "description": "A double value.",
          "type": "number",
          "format": "double"
        },
        "systemLabels": {
          "items": {
            "$ref": "XPSMetricEntryLabel"
          },
          "type": "array",
          "description": "Billing system labels for this (metric, value) pair."
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "A signed 64-bit integer value."
        },
        "metricName": {
          "description": "The metric name defined in the service configuration.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnnotateTextRequestFeatures": {
      "description": "All available features. Setting each one to true will enable that specific analysis for the input.",
      "type": "object",
      "id": "AnnotateTextRequestFeatures",
      "properties": {
        "moderateText": {
          "description": "Optional. Moderate the document for harmful and sensitive categories.",
          "type": "boolean"
        },
        "extractEntities": {
          "type": "boolean",
          "description": "Optional. Extract entities."
        },
        "classifyText": {
          "description": "Optional. Classify the full document into categories.",
          "type": "boolean"
        },
        "extractDocumentSentiment": {
          "type": "boolean",
          "description": "Optional. Extract document-level sentiment."
        }
      }
    },
    "ClassificationCategory": {
      "properties": {
        "severity": {
          "description": "Optional. The classifier's severity of the category. This is only present when the ModerateTextRequest.ModelVersion is set to MODEL_VERSION_2, and the corresponding category has a severity score.",
          "type": "number",
          "format": "float"
        },
        "confidence": {
          "description": "The classifier's confidence of the category. Number represents how certain the classifier is that this category represents the given text.",
          "type": "number",
          "format": "float"
        },
        "name": {
          "type": "string",
          "description": "The name of the category representing the document."
[...]
