{
  "version_module": true,
  "servicePath": "",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "version": "v2",
  "resources": {
    "documents": {
      "methods": {
        "moderateText": {
          "description": "Moderates a document for harmful and sensitive categories.",
          "parameters": {},
          "parameterOrder": [],
          "id": "language.documents.moderateText",
          "flatPath": "v2/documents:moderateText",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ModerateTextResponse"
          },
          "path": "v2/documents:moderateText",
          "request": {
            "$ref": "ModerateTextRequest"
          }
        },
        "annotateText": {
          "description": "A convenience method that provides all features in one call.",
          "parameters": {},
          "parameterOrder": [],
          "path": "v2/documents:annotateText",
          "request": {
            "$ref": "AnnotateTextRequest"
          },
          "id": "language.documents.annotateText",
          "flatPath": "v2/documents:annotateText",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AnnotateTextResponse"
          }
        },
        "analyzeSentiment": {
          "parameters": {},
          "description": "Analyzes the sentiment of the provided text.",
          "response": {
            "$ref": "AnalyzeSentimentResponse"
          },
          "id": "language.documents.analyzeSentiment",
          "flatPath": "v2/documents:analyzeSentiment",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/documents:analyzeSentiment",
          "request": {
            "$ref": "AnalyzeSentimentRequest"
          },
          "parameterOrder": []
        },
        "analyzeEntities": {
          "path": "v2/documents:analyzeEntities",
          "request": {
            "$ref": "AnalyzeEntitiesRequest"
          },
          "id": "language.documents.analyzeEntities",
          "flatPath": "v2/documents:analyzeEntities",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AnalyzeEntitiesResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "description": "Finds named entities (currently proper names and common nouns) in the text along with entity types, probability, mentions for each entity, and other properties."
        },
        "classifyText": {
          "parameterOrder": [],
          "id": "language.documents.classifyText",
          "flatPath": "v2/documents:classifyText",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-language",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ClassifyTextResponse"
          },
          "path": "v2/documents:classifyText",
          "request": {
            "$ref": "ClassifyTextRequest"
          },
          "description": "Classifies a document into categories.",
          "parameters": {}
        }
      }
    }
  },
  "name": "language",
  "baseUrl": "https://language.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/natural-language/",
  "canonicalName": "Cloud Natural Language",
  "protocol": "rest",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-language": {
          "description": "Apply machine learning models to reveal the structure and meaning of text"
        }
      }
    }
  },
  "mtlsRootUrl": "https://language.mtls.googleapis.com/",
  "description": "Provides natural language understanding technologies, such as sentiment analysis, entity recognition, entity sentiment analysis, and other text annotations, to developers.",
  "revision": "20260628",
  "fullyEncodeReservedExpansion": true,
  "id": "language:v2",
  "rootUrl": "https://language.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "title": "Cloud Natural Language API",
  "schemas": {
    "XPSTfSavedModelFormat": {
      "id": "XPSTfSavedModelFormat",
      "type": "object",
      "properties": {},
      "description": "A tensorflow model format in SavedModel format."
    },
    "XPSTextToSpeechTrainResponse": {
      "id": "XPSTextToSpeechTrainResponse",
      "type": "object",
      "properties": {},
      "description": "TextToSpeech train response"
    },
    "XPSImageClassificationTrainResponse": {
      "id": "XPSImageClassificationTrainResponse",
      "type": "object",
      "properties": {
        "stopReason": {
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED', 'MODEL_EARLY_STOPPED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "type": "string"
        },
        "classCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of classes."
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "trainCostInNodeTime": {
          "format": "google-duration",
          "type": "string",
          "description": "The actual cost to create this model. - For edge type model, the cost is expressed in node hour. - For cloud type model,the cost is expressed in compute hour. - Populated for models created before GA. To be deprecated after GA."
        },
        "trainCostNodeSeconds": {
          "description": "The actual training cost, expressed in node seconds. Populated for models trained in node time.",
          "format": "int64",
          "type": "string"
        },
        "exportModelSpec": {
          "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Populated for AutoMl requests.",
          "$ref": "XPSImageExportModelSpec"
        }
      }
    },
    "XPSImageSegmentationTrainResponse": {
      "id": "XPSImageSegmentationTrainResponse",
      "type": "object",
      "properties": {
        "stopReason": {
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ],
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "type": "string"
        },
        "colorMaps": {
          "type": "array",
          "description": "Color map of the model.",
          "items": {
            "$ref": "XPSColorMap"
          }
        },
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64",
          "type": "string"
        },
        "exportModelSpec": {
          "description": "NOTE: These fields are not used/needed in EAP but will be set later.",
          "$ref": "XPSImageExportModelSpec"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope. Model artifact spec stores and model gcs pathes and related metadata",
          "$ref": "XPSImageModelArtifactSpec"
        }
      }
    },
    "ModerateTextRequest": {
      "id": "ModerateTextRequest",
      "type": "object",
      "properties": {
        "modelVersion": {
          "enum": [
            "MODEL_VERSION_UNSPECIFIED",
            "MODEL_VERSION_1",
            "MODEL_VERSION_2"
          ],
          "type": "string",
          "description": "Optional. The model version to use for ModerateText.",
          "enumDescriptions": [
            "The default model version.",
            "Use the v1 model, this model is used by default when not provided. The v1 model only returns probability (confidence) score for each category.",
            "Use the v2 model. The v2 model only returns probability (confidence) score for each category, and returns severity score for a subset of the categories."
          ]
        },
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        }
      },
      "description": "The document moderation request message."
    },
    "EntityMention": {
      "id": "EntityMention",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "PROPER",
            "COMMON"
          ],
          "description": "The type of the entity mention.",
          "enumDescriptions": [
            "Unknown",
            "Proper name",
            "Common noun (or noun compound)"
          ]
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment this field will contain the sentiment expressed for this mention of the entity in the provided document.",
          "$ref": "Sentiment"
        },
        "probability": {
          "description": "Probability score associated with the entity. The score shows the probability of the entity mention being the entity type. The score is in (0, 1] range.",
          "type": "number",
          "format": "float"
        },
        "text": {
          "description": "The mention text.",
          "$ref": "TextSpan"
        }
      },
      "description": "Represents a mention for an entity in the text. Currently, proper noun mentions are supported."
    },
    "XPSConfidenceMetricsEntry": {
      "id": "XPSConfidenceMetricsEntry",
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "description": "Metrics are computed with an assumption that the model never return predictions with score lower than this value.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "format": "float",
          "type": "number",
          "description": "The harmonic mean of recall and precision."
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "f1ScoreAt1": {
          "description": "The harmonic mean of recall_at1 and precision_at1.",
          "type": "number",
          "format": "float"
        },
        "recallAt1": {
          "type": "number",
          "format": "float",
          "description": "The recall (true positive rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        },
        "recall": {
          "description": "Recall (true positive rate) for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "falsePositiveRateAt1": {
          "type": "number",
          "format": "float",
          "description": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        },
        "falsePositiveCount": {
          "description": "The number of model created labels that do not match a ground truth label.",
          "format": "int64",
          "type": "string"
        },
        "truePositiveCount": {
          "description": "The number of model created labels that match a ground truth label.",
          "type": "string",
          "format": "int64"
        },
        "falsePositiveRate": {
          "format": "float",
          "type": "number",
          "description": "False Positive Rate for the given confidence threshold."
        },
        "precisionAt1": {
          "format": "float",
          "type": "number",
          "description": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each example."
        },
        "trueNegativeCount": {
          "description": "The number of labels that were not created by the model, but if they would, they would not match a ground truth label.",
          "type": "string",
          "format": "int64"
        },
        "falseNegativeCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of ground truth labels that are not matched by a model created label."
        },
        "positionThreshold": {
          "description": "Metrics are computed with an assumption that the model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the confidence_threshold.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "ConfidenceMetricsEntry includes generic precision, recall, f1 score etc. Next tag: 16."
    },
    "XPSImageObjectDetectionModelSpec": {
      "id": "XPSImageObjectDetectionModelSpec",
      "type": "object",
      "properties": {
        "classCount": {
          "description": "Total number of classes.",
          "type": "string",
          "format": "int64"
        },
        "modelServingSpec": {
          "$ref": "XPSImageModelServingSpec"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSImageModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "type": "string",
          "format": "int64",
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour."
        },
        "exportModelSpec": {
          "$ref": "XPSImageExportModelSpec"
        },
        "maxBoundingBoxCount": {
          "type": "string",
          "format": "int64",
          "description": "Max number of bounding box."
        },
        "stopReason": {
          "enum": [
            "TRAIN_STOP_REASON_UNSPECIFIED",
            "TRAIN_STOP_REASON_BUDGET_REACHED",
            "TRAIN_STOP_REASON_MODEL_CONVERGED",
            "TRAIN_STOP_REASON_MODEL_EARLY_STOPPED"
          ],
          "type": "string",
          "description": "Stop reason for training job, e.g. 'TRAIN_BUDGET_REACHED', 'MODEL_CONVERGED'.",
          "enumDescriptions": [
            "",
            "",
            "Model fully converged, can not be resumbed training.",
            "Model early converged, can be further trained till full convergency."
          ]
        }
      }
    },
    "XPSDataErrors": {
      "description": "Different types of errors and the stats associatesd with each error.",
      "id": "XPSDataErrors",
      "type": "object",
      "properties": {
        "errorType": {
          "description": "Type of the error.",
          "enumDescriptions": [
            "Not specified.",
            "Audio format not in the formats by cloud-speech AutoML. Currently only wav and flac file formats are supported.",
            "File format differnt from what is specified in the file name extension.",
            "File too large. Maximum allowed size is 50 MB.",
            "Transcript is missing."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "UNSUPPORTED_AUDIO_FORMAT",
            "FILE_EXTENSION_MISMATCH_WITH_AUDIO_FORMAT",
            "FILE_TOO_LARGE",
            "MISSING_TRANSCRIPTION"
          ],
          "type": "string"
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "Number of records having errors associated with the enum."
        }
      }
    },
    "TextSpan": {
      "description": "Represents a text span in the input document.",
      "id": "TextSpan",
      "type": "object",
      "properties": {
        "content": {
          "description": "The content of the text span, which is a substring of the document.",
          "type": "string"
        },
        "beginOffset": {
          "description": "The API calculates the beginning offset of the content in the original document according to the EncodingType specified in the API request.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "XPSStructStats": {
      "id": "XPSStructStats",
      "type": "object",
      "properties": {
        "fieldStats": {
          "type": "object",
          "description": "Map from a field name of the struct to data stats aggregated over series of all data in that field across all the structs.",
          "additionalProperties": {
            "$ref": "XPSDataStats"
          }
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      },
      "description": "The data statistics of a series of STRUCT values."
    },
    "XPSColumnSpecForecastingMetadata": {
      "id": "XPSColumnSpecForecastingMetadata",
      "type": "object",
      "properties": {
        "columnType": {
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "KEY",
            "KEY_METADATA",
            "TIME_SERIES_AVAILABLE_PAST_ONLY",
            "TIME_SERIES_AVAILABLE_PAST_AND_FUTURE"
          ],
          "type": "string",
          "description": "The type of the column for FORECASTING model training purposes.",
          "enumDescriptions": [
            "An un-set value of this enum.",
            "Key columns are used to identify timeseries.",
            "This column contains information describing static properties of the entities identified by the key column(s) (e.g. city's ZIP code).",
            "This column contains information for the given entity, at any time poinrt, they are only available in the time series before.",
            "This column contains information for the given entity is known both for the past and the sufficiently far future."
          ]
        }
      }
    },
    "XPSBoundingBoxMetricsEntry": {
      "description": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds.",
      "id": "XPSBoundingBoxMetricsEntry",
      "type": "object",
      "properties": {
        "iouThreshold": {
          "description": "The intersection-over-union threshold value used to compute this metrics entry.",
          "format": "float",
          "type": "number"
        },
        "meanAveragePrecision": {
          "format": "float",
          "type": "number",
          "description": "The mean average precision."
        },
        "confidenceMetricsEntries": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry"
          },
          "type": "array"
        }
      }
    },
    "XPSTfJsFormat": {
      "description": "A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript.",
      "id": "XPSTfJsFormat",
      "type": "object",
      "properties": {}
    },
    "XPSImageModelServingSpecModelThroughputEstimation": {
      "id": "XPSImageModelServingSpecModelThroughputEstimation",
      "type": "object",
      "properties": {
        "nodeQps": {
          "type": "number",
          "format": "double",
          "description": "The approximate qps a deployed node can serve."
        },
        "latencyInMilliseconds": {
          "description": "Estimated latency.",
          "format": "double",
          "type": "number"
        },
        "computeEngineAcceleratorType": {
          "enum": [
            "UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_L4",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "NVIDIA_H200_141GB",
            "NVIDIA_B200",
            "NVIDIA_GB200",
            "TPU_V2",
            "TPU_V3",
            "TPU_V4_POD",
            "TPU_V5_LITEPOD"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "Nvidia A100 80GB GPU.",
            "Nvidia L4 GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H100 80Gb GPU.",
            "Nvidia H200 141Gb GPU.",
            "Nvidia B200 GPU.",
            "Nvidia GB200 GPU.",
            "TPU v2 (JellyFish).",
            "TPU v3 (DragonFish).",
            "TPU_v4 (PufferFish).",
            "TPU v5 Lite Pods."
          ]
        },
        "servomaticPartitionType": {
          "enum": [
            "PARTITION_TYPE_UNSPECIFIED",
            "PARTITION_ZERO",
            "PARTITION_REDUCED_HOMING",
            "PARTITION_JELLYFISH",
            "PARTITION_CPU",
            "PARTITION_CUSTOM_STORAGE_CPU"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The default partition.",
            "It has significantly lower replication than partition-0 and is located in the US only. It also has a larger model size limit and higher default RAM quota than partition-0. Customers with batch traffic, US-based traffic, or very large models should use this partition. Capacity in this partition is significantly cheaper than partition-0.",
            "To be used by customers with Jellyfish-accelerated ops.",
            "The partition used by regionalized servomatic cloud regions.",
            "The partition used for loading models from custom storage."
          ]
        }
      }
    },
    "XPSTrainResponse": {
      "id": "XPSTrainResponse",
      "type": "object",
      "properties": {
        "videoObjectTrackingTrainResp": {
          "$ref": "XPSVideoObjectTrackingTrainResponse"
        },
        "speechTrainResp": {
          "$ref": "XPSSpeechModelSpec"
        },
        "deployedModelSizeBytes": {
          "description": "Estimated model size in bytes once deployed.",
          "type": "string",
          "format": "int64"
        },
        "errorAnalysisConfigs": {
          "description": "Optional vision model error analysis configuration. The field is set when model error analysis is enabled in the training request. The results of error analysis will be binded together with evaluation results (in the format of AnnotatedExample).",
          "items": {
            "$ref": "XPSVisionErrorAnalysisConfig"
          },
          "type": "array"
        },
        "modelToken": {
          "description": "Token that represents the trained model. This is considered immutable and is persisted in AutoML. xPS can put their own proto in the byte string, to e.g. point to the model checkpoints. The token is passed to other xPS APIs to refer to the model.",
          "format": "byte",
          "type": "string"
        },
        "imageClassificationTrainResp": {
          "$ref": "XPSImageClassificationTrainResponse"
        },
        "explanationConfigs": {
          "type": "array",
          "description": "VisionExplanationConfig for XAI on test set. Optional for when XAI is enable in training request.",
          "deprecated": true,
          "items": {
            "$ref": "XPSResponseExplanationSpec"
          }
        },
        "evaluatedExampleSet": {
          "description": "Examples used to evaluate the model (usually the test set), with the predicted annotations. The file_spec should point to recordio file(s) of AnnotatedExample. For each returned example, the example_id_token and annotations predicted by the model must be set. The example payload can and is recommended to be omitted.",
          "$ref": "XPSExampleSet"
        },
        "textToSpeechTrainResp": {
          "$ref": "XPSTextToSpeechTrainResponse"
        },
        "videoClassificationTrainResp": {
          "$ref": "XPSVideoClassificationTrainResponse"
        },
        "textTrainResp": {
          "description": "Will only be needed for uCAIP from Beta.",
          "$ref": "XPSTextTrainResponse"
        },
        "evaluationMetricsSet": {
          "description": "The trained model evaluation metrics. This can be optionally returned.",
          "$ref": "XPSEvaluationMetricsSet"
        },
        "imageObjectDetectionTrainResp": {
          "$ref": "XPSImageObjectDetectionModelSpec"
        },
        "translationTrainResp": {
          "$ref": "XPSTranslationTrainResponse"
        },
        "tablesTrainResp": {
          "$ref": "XPSTablesTrainResponse"
        },
        "imageSegmentationTrainResp": {
          "$ref": "XPSImageSegmentationTrainResponse"
        },
        "videoActionRecognitionTrainResp": {
          "$ref": "XPSVideoActionRecognitionTrainResponse"
        }
      }
    },
    "XPSResponseExplanationMetadataInputMetadata": {
      "id": "XPSResponseExplanationMetadataInputMetadata",
      "type": "object",
      "properties": {
        "visualizationConfig": {
          "description": "Visualization configurations for image explanation.",
          "$ref": "XPSVisualization"
        },
        "modality": {
          "description": "Modality of the feature. Valid values are: numeric, image. Defaults to numeric.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "NUMERIC",
            "IMAGE",
            "CATEGORICAL"
          ]
        },
        "inputTensorName": {
          "description": "Name of the input tensor for this model. Only needed in train response.",
          "type": "string"
        }
      },
      "description": "Metadata of the input of a feature."
    },
    "XPSColumnSpecCorrelatedColumn": {
      "description": "Identifies a table's column, and its correlation with the column this ColumnSpec describes.",
      "id": "XPSColumnSpecCorrelatedColumn",
      "type": "object",
      "properties": {
        "columnId": {
          "format": "int32",
          "type": "integer"
        },
        "correlationStats": {
          "$ref": "XPSCorrelationStats"
        }
      }
    },
    "XPSVideoObjectTrackingEvaluationMetrics": {
      "id": "XPSVideoObjectTrackingEvaluationMetrics",
      "type": "object",
      "properties": {
        "evaluatedFrameCount": {
          "description": "The number of video frames used for model evaluation.",
          "format": "int32",
          "type": "integer"
        },
        "boundingBoxMeanAveragePrecision": {
          "format": "float",
          "type": "number",
          "description": "Output only. The single metric for bounding boxes evaluation: the mean_average_precision averaged over all bounding_box_metrics_entries."
        },
        "evaluatedTrackCount": {
          "description": "The number of tracks used for model evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "trackMeanBoundingBoxIou": {
          "description": "Output only. The single metric for tracks bounding box iou evaluation: the mean_bounding_box_iou averaged over all track_metrics_entries.",
          "format": "float",
          "type": "number"
        },
        "trackMeanAveragePrecision": {
          "description": "Output only. The single metric for tracks accuracy evaluation: the mean_average_precision averaged over all track_metrics_entries.",
          "type": "number",
          "format": "float"
        },
        "trackMetricsEntries": {
          "description": "Output only. The tracks match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSTrackMetricsEntry"
          },
          "type": "array"
        },
        "evaluatedBoundingboxCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of bounding boxes used for model evaluation."
        },
        "boundingBoxMetricsEntries": {
          "description": "Output only. The bounding boxes match metrics for each Intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSBoundingBoxMetricsEntry"
          },
          "type": "array"
        },
        "trackMeanMismatchRate": {
          "format": "float",
          "type": "number",
          "description": "Output only. The single metric for tracking consistency evaluation: the mean_mismatch_rate averaged over all track_metrics_entries."
        }
      },
      "description": "Model evaluation metrics for ObjectTracking problems. Next tag: 10."
    },
    "Color": {
      "id": "Color",
      "type": "object",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "type": "number",
          "format": "float"
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "blue": {
          "format": "float",
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
    },
    "XPSDockerFormat": {
      "id": "XPSDockerFormat",
      "type": "object",
      "properties": {
        "cpuArchitecture": {
          "type": "string",
          "enum": [
            "CPU_ARCHITECTURE_UNSPECIFIED",
            "CPU_ARCHITECTURE_X86_64"
          ],
          "description": "Optional. Additional cpu information describing the requirements for the to be exported model files.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "gpuArchitecture": {
          "description": "Optional. Additional gpu information describing the requirements for the to be exported model files.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "GPU_ARCHITECTURE_UNSPECIFIED",
            "GPU_ARCHITECTURE_NVIDIA"
          ],
          "type": "string"
        }
      },
      "description": "A model format used for Docker containers. Use the params field to customize the container. The container is verified to work correctly on ubuntu 16.04 operating system."
    },
    "XPSVideoObjectTrackingTrainResponse": {
      "id": "XPSVideoObjectTrackingTrainResponse",
      "type": "object",
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "exportModelSpec": {
          "description": "Populated for AutoML request only.",
          "$ref": "XPSVideoExportModelSpec"
        },
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "XPSColorMapIntColor": {
      "id": "XPSColorMapIntColor",
      "type": "object",
      "properties": {
        "green": {
          "description": "The value should be in range of [0, 255].",
          "format": "int32",
          "type": "integer"
        },
        "blue": {
          "format": "int32",
          "type": "integer",
          "description": "The value should be in range of [0, 255]."
        },
        "red": {
          "type": "integer",
          "format": "int32",
          "description": "The value should be in range of [0, 255]."
        }
      },
      "description": "RGB color and each channel is represented by an integer."
    },
    "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry": {
      "id": "XPSImageSegmentationEvaluationMetricsConfidenceMetricsEntry",
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "The confidence threshold value used to compute the metrics."
        },
        "recall": {
          "description": "Recall for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Precision for the given confidence threshold."
        },
        "iouScore": {
          "description": "IOU score.",
          "format": "float",
          "type": "number"
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the per confidence_threshold evaluation. Pixel counts are set here. Only set for model level evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        },
        "diceScoreCoefficient": {
          "description": "DSC or the F1 score: The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Metrics for a single confidence threshold."
    },
    "XPSVideoClassificationTrainResponse": {
      "id": "XPSVideoClassificationTrainResponse",
      "type": "object",
      "properties": {
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "format": "int64",
          "type": "string"
        },
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        }
      }
    },
    "XPSImageModelArtifactSpec": {
      "description": "Stores the locations and related metadata of the model artifacts. Populated for uCAIP requests only.",
      "id": "XPSImageModelArtifactSpec",
      "type": "object",
      "properties": {
        "checkpointArtifact": {
          "description": "The Tensorflow checkpoint files. e.g. Used for resumable training.",
          "$ref": "XPSModelArtifactItem"
        },
        "tfJsBinaryGcsPrefix": {
          "description": "Google Cloud Storage URI prefix of Tensorflow JavaScript binary files 'groupX-shardXofX.bin'. Deprecated.",
          "type": "string"
        },
        "exportArtifact": {
          "description": "The model binary files in different formats for model export.",
          "items": {
            "$ref": "XPSModelArtifactItem"
          },
          "type": "array"
        },
        "labelGcsUri": {
          "description": "Google Cloud Storage URI of decoded labels file for model export 'dict.txt'.",
          "type": "string"
        },
        "servingArtifact": {
          "description": "The default model binary file used for serving (e.g. online predict, batch predict) via public Cloud AI Platform API.",
          "$ref": "XPSModelArtifactItem"
        },
        "tfLiteMetadataGcsUri": {
          "description": "Google Cloud Storage URI of Tensorflow Lite metadata 'tflite_metadata.json'.",
          "type": "string"
        }
      }
    },
    "XPSVisualization": {
      "deprecated": true,
      "description": "Visualization configurations for image explanation.",
      "properties": {
        "clipPercentLowerbound": {
          "format": "float",
          "type": "number",
          "description": "Excludes attributions below the specified percentile, from the highlighted areas. Defaults to 62."
        },
        "colorMap": {
          "enum": [
            "COLOR_MAP_UNSPECIFIED",
            "PINK_GREEN",
            "VIRIDIS",
            "RED",
            "GREEN",
            "RED_GREEN",
            "PINK_WHITE_GREEN"
          ],
          "type": "string",
          "description": "The color scheme used for the highlighted areas. Defaults to PINK_GREEN for Integrated Gradients attribution, which shows positive attributions in green and negative in pink. Defaults to VIRIDIS for XRAI attribution, which highlights the most influential regions in yellow and the least influential in blue.",
          "enumDescriptions": [
            "Should not be used.",
            "Positive: green. Negative: pink.",
            "Viridis color map: A perceptually uniform color mapping which is easier to see by those with colorblindness and progresses from yellow to green to blue. Positive: yellow. Negative: blue.",
            "Positive: red. Negative: red.",
            "Positive: green. Negative: green.",
            "Positive: green. Negative: red.",
            "PiYG palette."
          ]
        },
        "overlayType": {
          "description": "How the original image is displayed in the visualization. Adjusting the overlay can help increase visual clarity if the original image makes it difficult to view the visualization. Defaults to NONE.",
          "enumDescriptions": [
            "Default value. This is the same as NONE.",
            "No overlay.",
            "The attributions are shown on top of the original image.",
            "The attributions are shown on top of grayscaled version of the original image.",
            "The attributions are used as a mask to reveal predictive parts of the image and hide the un-predictive parts."
          ],
          "enum": [
            "OVERLAY_TYPE_UNSPECIFIED",
            "NONE",
            "ORIGINAL",
            "GRAYSCALE",
            "MASK_BLACK"
          ],
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXELS",
            "OUTLINES"
          ],
          "description": "Type of the image visualization. Only applicable to Integrated Gradients attribution. OUTLINES shows regions of attribution, while PIXELS shows per-pixel attribution. Defaults to OUTLINES.",
          "enumDescriptions": [
            "Should not be used.",
            "Shows which pixel contributed to the image prediction.",
            "Shows which region contributed to the image prediction by outlining the region."
          ]
        },
        "polarity": {
          "enum": [
            "POLARITY_UNSPECIFIED",
            "POSITIVE",
            "NEGATIVE",
            "BOTH"
          ],
          "type": "string",
          "description": "Whether to only highlight pixels with positive contributions, negative or both. Defaults to POSITIVE.",
          "enumDescriptions": [
            "Default value. This is the same as POSITIVE.",
            "Highlights the pixels/outlines that were most influential to the model's prediction.",
            "Setting polarity to negative highlights areas that does not lead to the models's current prediction.",
            "Shows both positive and negative attributions."
          ]
        },
        "clipPercentUpperbound": {
          "description": "Excludes attributions above the specified percentile from the highlighted areas. Using the clip_percent_upperbound and clip_percent_lowerbound together can be useful for filtering out noise and making it easier to see areas of strong attribution. Defaults to 99.9.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "XPSVisualization",
      "type": "object"
    },
    "Sentence": {
      "description": "Represents a sentence in the input document.",
      "id": "Sentence",
      "type": "object",
      "properties": {
        "sentiment": {
          "description": "For calls to AnalyzeSentiment or if AnnotateTextRequest.Features.extract_document_sentiment is set to true, this field will contain the sentiment for the sentence.",
          "$ref": "Sentiment"
        },
        "text": {
          "description": "The sentence text.",
          "$ref": "TextSpan"
        }
      }
    },
    "Entity": {
      "description": "Represents a phrase in the text that is a known entity, such as a person, an organization, or location. The API associates information, such as probability and mentions, with entities.",
      "id": "Entity",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PERSON",
            "LOCATION",
            "ORGANIZATION",
            "EVENT",
            "WORK_OF_ART",
            "CONSUMER_GOOD",
            "OTHER",
            "PHONE_NUMBER",
            "ADDRESS",
            "DATE",
            "NUMBER",
            "PRICE"
          ],
          "description": "The entity type.",
          "enumDescriptions": [
            "Unknown",
            "Person",
            "Location",
            "Organization",
            "Event",
            "Artwork",
            "Consumer product",
            "Other types of entities",
            "Phone number The metadata lists the phone number, formatted according to local convention, plus whichever additional elements appear in the text: * `number` - the actual number, broken down into sections as per local convention * `national_prefix` - country code, if detected * `area_code` - region or area code, if detected * `extension` - phone extension (to be dialed after connection), if detected",
            "Address The metadata identifies the street number and locality plus whichever additional elements appear in the text: * `street_number` - street number * `locality` - city or town * `street_name` - street/route name, if detected * `postal_code` - postal code, if detected * `country` - country, if detected * `broad_region` - administrative area, such as the state, if detected * `narrow_region` - smaller administrative area, such as county, if detected * `sublocality` - used in Asian addresses to demark a district within a city, if detected",
            "Date The metadata identifies the components of the date: * `year` - four digit year, if detected * `month` - two digit month number, if detected * `day` - two digit day number, if detected",
            "Number The metadata is the number itself.",
            "Price The metadata identifies the `value` and `currency`."
          ]
        },
        "metadata": {
          "description": "Metadata associated with the entity. For the metadata associated with other entity types, see the Type table below.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "The representative name for the entity.",
          "type": "string"
        },
        "sentiment": {
          "description": "For calls to AnalyzeEntitySentiment this field will contain the aggregate sentiment expressed for this entity in the provided document.",
          "$ref": "Sentiment"
        },
        "mentions": {
          "type": "array",
          "description": "The mentions of this entity in the input document. The API currently supports proper noun mentions.",
          "items": {
            "$ref": "EntityMention"
          }
        }
      }
    },
    "XPSTablesEvaluationMetrics": {
      "id": "XPSTablesEvaluationMetrics",
      "type": "object",
      "properties": {
        "regressionMetrics": {
          "description": "Regression metrics.",
          "$ref": "XPSTablesRegressionMetrics"
        },
        "classificationMetrics": {
          "description": "Classification metrics.",
          "$ref": "XPSTablesClassificationMetrics"
        }
      }
    },
    "XPSSpeechEvaluationMetricsSubModelEvaluationMetric": {
      "id": "XPSSpeechEvaluationMetricsSubModelEvaluationMetric",
      "type": "object",
      "properties": {
        "numInsertions": {
          "type": "integer",
          "format": "int32"
        },
        "isEnhancedModel": {
          "description": "If true then it means we have an enhanced version of the biasing models.",
          "type": "boolean"
        },
        "wer": {
          "type": "number",
          "format": "double",
          "description": "Word error rate (standard error metric used for speech recognition)."
        },
        "numUtterances": {
          "description": "Number of utterances used in the wer computation.",
          "type": "integer",
          "format": "int32"
        },
        "numWords": {
          "description": "Number of words over which the word error rate was computed.",
          "format": "int32",
          "type": "integer"
        },
        "sentenceAccuracy": {
          "format": "double",
          "type": "number",
          "description": "Below fields are used for debugging purposes"
        },
        "biasingModelType": {
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ],
          "type": "string",
          "description": "Type of the biasing model.",
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ]
        },
        "numSubstitutions": {
          "format": "int32",
          "type": "integer"
        },
        "numDeletions": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "XPSDataType": {
      "description": "Indicated the type of data that can be stored in a structured data entity (e.g. a table).",
      "id": "XPSDataType",
      "type": "object",
      "properties": {
        "nullable": {
          "description": "If true, this DataType can also be `null`.",
          "type": "boolean"
        },
        "listElementType": {
          "description": "If type_code == ARRAY, then `list_element_type` is the type of the elements.",
          "$ref": "XPSDataType"
        },
        "structType": {
          "description": "If type_code == STRUCT, then `struct_type` provides type information for the struct's fields.",
          "$ref": "XPSStructType"
        },
        "compatibleDataTypes": {
          "description": "The highly compatible data types to this data type.",
          "items": {
            "$ref": "XPSDataType"
          },
          "type": "array"
        },
        "timeFormat": {
          "description": "If type_code == TIMESTAMP then `time_format` provides the format in which that time field is expressed. The time_format must be written in `strftime` syntax. If time_format is not set, then the default format as described on the field is used.",
          "type": "string"
        },
        "typeCode": {
          "description": "Required. The TypeCode for this type.",
          "enumDescriptions": [
            "Not specified. Should not be used.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Must be between 0AD and 9999AD. Encoded as `string` according to time_format, or, if that format is not set, then in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z).",
            "Encoded as `string`.",
            "Encoded as `list`, where the list elements are represented according to list_element_type.",
            "Encoded as `struct`, where field values are represented according to struct_type.",
            "Values of this type are not further understood by AutoML, e.g. AutoML is unable to tell the order of values (as it could with FLOAT64), or is unable to say if one value contains another (as it could with STRING). Encoded as `string` (bytes should be base64-encoded, as described in RFC 4648, section 4)."
          ],
          "type": "string",
          "enum": [
            "TYPE_CODE_UNSPECIFIED",
            "FLOAT64",
            "TIMESTAMP",
            "STRING",
            "ARRAY",
            "STRUCT",
            "CATEGORY"
          ]
        }
      }
    },
    "Document": {
      "description": "Represents the input to API methods.",
      "id": "Document",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. If the type is not set or is `TYPE_UNSPECIFIED`, returns an `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "The content type is not specified.",
            "Plain text",
            "HTML"
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ]
        },
        "gcsContentUri": {
          "description": "The Google Cloud Storage URI where the file content is located. This URI must be of the form: gs://bucket_name/object_name. For more details, see https://cloud.google.com/storage/docs/reference-uris. NOTE: Cloud Storage object versioning is not supported.",
          "type": "string"
        },
        "content": {
          "description": "The content of the input in string format. Cloud audit logging exempt since it is based on user data.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The language of the document (if not specified, the language is automatically detected). Both ISO and BCP-47 language codes are accepted. [Language Support](https://cloud.google.com/natural-language/docs/languages) lists currently supported languages for each API method. If the language (either specified by the caller or automatically detected) is not supported by the called API method, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        }
      }
    },
    "XPSCorrelationStats": {
      "id": "XPSCorrelationStats",
      "type": "object",
      "properties": {
        "cramersV": {
          "format": "double",
          "type": "number",
          "description": "The correlation value using the Cramer's V measure."
        }
      },
      "description": "A correlation statistics between two series of DataType values. The series may have differing DataType-s, but within a single series the DataType must be the same."
    },
    "XPSBatchPredictResponse": {
      "id": "XPSBatchPredictResponse",
      "type": "object",
      "properties": {
        "exampleSet": {
          "description": "Examples for batch prediction result. Under full API implementation, results are stored in shared RecordIO of AnnotatedExample protobufs, the annotations field of which is populated by XPS backend.",
          "$ref": "XPSExampleSet"
        }
      }
    },
    "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry": {
      "id": "XPSBoundingBoxMetricsEntryConfidenceMetricsEntry",
      "type": "object",
      "properties": {
        "f1Score": {
          "description": "The harmonic mean of recall and precision.",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The confidence threshold value used to compute the metrics."
        },
        "recall": {
          "format": "float",
          "type": "number",
          "description": "Recall for the given confidence threshold."
        },
        "precision": {
          "type": "number",
          "format": "float",
          "description": "Precision for the given confidence threshold."
        }
      },
      "description": "Metrics for a single confidence threshold."
    },
    "XPSImageExportModelSpec": {
      "description": "Information of downloadable models that are pre-generated as part of training flow and will be persisted in AutoMl backend. Upon receiving ExportModel request from user, AutoMl backend can serve the pre-generated models to user if exists (by copying the files from internal path to user provided location), otherwise, AutoMl backend will call xPS ExportModel API to generate the model on the fly with the requesting format.",
      "id": "XPSImageExportModelSpec",
      "type": "object",
      "properties": {
        "exportModelOutputConfig": {
          "type": "array",
          "description": "Contains the model format and internal location of the model files to be exported/downloaded. Use the Google Cloud Storage bucket name which is provided via TrainRequest.gcs_bucket_name to store the model files.",
          "items": {
            "$ref": "XPSExportModelOutputConfig"
          }
        }
      }
    },
    "XPSEvaluationMetricsSet": {
      "id": "XPSEvaluationMetricsSet",
      "type": "object",
      "properties": {
        "fileSpec": {
          "description": "File spec containing evaluation metrics of a model, must point to RecordIO file(s) of intelligence.cloud.automl.xps.EvaluationMetrics messages.",
          "$ref": "XPSFileSpec"
        },
        "numEvaluationMetrics": {
          "description": "Number of the evaluation metrics (usually one per label plus overall).",
          "type": "string",
          "format": "int64"
        },
        "evaluationMetrics": {
          "type": "array",
          "description": "Inline EvaluationMetrics - should be relatively small. For passing large quantities of exhaustive metrics, use file_spec.",
          "items": {
            "$ref": "XPSEvaluationMetrics"
          }
        }
      },
      "description": "Specifies location of model evaluation metrics."
    },
    "XPSCategoryStats": {
      "description": "The data statistics of a series of CATEGORY values.",
      "id": "XPSCategoryStats",
      "type": "object",
      "properties": {
        "topCategoryStats": {
          "description": "The statistics of the top 20 CATEGORY values, ordered by CategoryStats.SingleCategoryStats.count.",
          "items": {
            "$ref": "XPSCategoryStatsSingleCategoryStats"
          },
          "type": "array"
        },
        "commonStats": {
          "$ref": "XPSCommonStats"
        }
      }
    },
    "XPSVideoActionMetricsEntry": {
      "id": "XPSVideoActionMetricsEntry",
      "type": "object",
      "properties": {
        "precisionWindowLength": {
          "type": "string",
          "format": "google-duration",
          "description": "This VideoActionMetricsEntry is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive."
        },
        "meanAveragePrecision": {
          "description": "The mean average precision.",
          "type": "number",
          "format": "float"
        },
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "items": {
            "$ref": "XPSVideoActionMetricsEntryConfidenceMetricsEntry"
          }
        }
      },
      "description": "The Evaluation metrics entry given a specific precision_window_length."
    },
    "XPSSpeechPreprocessStats": {
      "id": "XPSSpeechPreprocessStats",
      "type": "object",
      "properties": {
        "numMachineTranscribedExamples": {
          "format": "int32",
          "type": "integer",
          "description": "The number of rows marked as MACHINE_TRANSCRIBED"
        },
        "trainSentencesCount": {
          "description": "The number of sentences in the training data set.",
          "format": "int32",
          "type": "integer"
        },
        "trainExamplesCount": {
          "description": "The number of examples labeled as TRAIN by Speech xps server.",
          "type": "integer",
          "format": "int32"
        },
        "dataErrors": {
          "description": "Different types of data errors and the counts associated with them.",
          "items": {
            "$ref": "XPSDataErrors"
          },
          "type": "array"
        },
        "testWordsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of words in the test data set."
        },
        "testSentencesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of sentences in the test data set."
        },
        "numLogsExamples": {
          "type": "integer",
          "format": "int32",
          "description": "The number of samples found in the previously recorded logs data."
        },
        "trainWordsCount": {
          "description": "The number of words in the training data set.",
          "type": "integer",
          "format": "int32"
        },
        "testExamplesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of examples labelled as TEST by Speech xps server."
        },
        "numHumanLabeledExamples": {
          "description": "The number of rows marked HUMAN_LABELLED",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "XPSVisionErrorAnalysisConfig": {
      "id": "XPSVisionErrorAnalysisConfig",
      "type": "object",
      "properties": {
        "exampleCount": {
          "description": "The number of query examples in error analysis.",
          "format": "int32",
          "type": "integer"
        },
        "queryType": {
          "description": "The query type used in retrieval. The enum values are frozen in the foreseeable future.",
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ],
          "type": "string",
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "QUERY_TYPE_ALL_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_SIMILAR",
            "QUERY_TYPE_SAME_CLASS_DISSIMILAR"
          ]
        }
      },
      "description": "The vision model error analysis configuration. Next tag: 3"
    },
    "XPSResponseExplanationSpec": {
      "properties": {
        "parameters": {
          "description": "Parameters that configure explaining of the Model's predictions.",
          "$ref": "XPSResponseExplanationParameters"
        },
        "explanationType": {
          "description": "Explanation type. For AutoML Image Classification models, possible values are: * `image-integrated-gradients` * `image-xrai`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata describing the Model's input and output for explanation.",
          "$ref": "XPSResponseExplanationMetadata"
        }
      },
      "deprecated": true,
      "description": "Specification of Model explanation. Feature-based XAI in AutoML Vision ICN is deprecated.",
      "id": "XPSResponseExplanationSpec",
      "type": "object"
    },
    "AnalyzeSentimentResponse": {
      "description": "The sentiment analysis response message.",
      "id": "AnalyzeSentimentResponse",
      "type": "object",
      "properties": {
        "documentSentiment": {
          "description": "The overall sentiment of the input document.",
          "$ref": "Sentiment"
        },
        "languageCode": {
          "description": "The language of the text, which will be the same as the language specified in the request or, if not specified, the automatically-detected language. See Document.language_code field for more details.",
          "type": "string"
        },
        "sentences": {
          "description": "The sentiment for all the sentences in the document.",
          "items": {
            "$ref": "Sentence"
          },
          "type": "array"
        },
        "languageSupported": {
          "description": "Whether the language is officially supported. The API may still return a response when the language is not supported, but it is on a best effort basis.",
          "type": "boolean"
        }
      }
    },
    "XPSTimestampStatsGranularStats": {
      "id": "XPSTimestampStatsGranularStats",
      "type": "object",
      "properties": {
        "buckets": {
          "description": "A map from granularity key to example count for that key. E.g. for hour_of_day `13` means 1pm, or for month_of_year `5` means May).",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      },
      "description": "Stats split by a defined in context granularity."
    },
    "XPSTextTrainResponse": {
      "id": "XPSTextTrainResponse",
      "type": "object",
      "properties": {
        "componentModel": {
          "description": "Component submodels.",
          "items": {
            "$ref": "XPSTextComponentModel"
          },
          "type": "array"
        }
      }
    },
    "XPSImageModelServingSpec": {
      "description": "Serving specification for image models.",
      "id": "XPSImageModelServingSpec",
      "type": "object",
      "properties": {
        "modelThroughputEstimation": {
          "type": "array",
          "description": "Populate under uCAIP request scope.",
          "items": {
            "$ref": "XPSImageModelServingSpecModelThroughputEstimation"
          }
        },
        "tfRuntimeVersion": {
          "description": "## The fields below are only populated under uCAIP request scope. https://cloud.google.com/ml-engine/docs/runtime-version-list",
          "type": "string"
        },
        "nodeQps": {
          "description": "An estimated value of how much traffic a node can serve. Populated for AutoMl request only.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "XPSClassificationEvaluationMetrics": {
      "description": "Model evaluation metrics for classification problems. It can be used for image and video classification. Next tag: 9.",
      "id": "XPSClassificationEvaluationMetrics",
      "type": "object",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from it.",
          "items": {
            "$ref": "XPSConfidenceMetricsEntry"
          }
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the evaluation. Only set for MULTICLASS classification problems where number of annotation specs is no more than 10. Only set for model level evaluation, not for evaluation per label.",
          "$ref": "XPSConfusionMatrix"
        },
        "auPrc": {
          "description": "The Area under precision recall curve metric.",
          "type": "number",
          "format": "float"
        },
        "baseAuPrc": {
          "type": "number",
          "format": "float",
          "description": "The Area under precision recall curve metric based on priors."
        },
        "auRoc": {
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation.",
          "type": "number",
          "format": "float"
        },
        "logLoss": {
          "description": "The Log Loss metric.",
          "format": "float",
          "type": "number"
        },
        "evaluatedExamplesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of examples used for model evaluation."
        }
      }
    },
    "XPSResponseExplanationMetadata": {
      "id": "XPSResponseExplanationMetadata",
      "type": "object",
      "properties": {
        "outputs": {
          "type": "object",
          "description": "Metadata of the output.",
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataOutputMetadata"
          }
        },
        "inputs": {
          "description": "Metadata of the input.",
          "additionalProperties": {
            "$ref": "XPSResponseExplanationMetadataInputMetadata"
          },
          "type": "object"
        }
      },
      "deprecated": true
    },
    "XPSEdgeTpuTfLiteFormat": {
      "description": "A model format used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices.",
      "id": "XPSEdgeTpuTfLiteFormat",
      "type": "object",
      "properties": {}
    },
    "XPSXpsOperationMetadata": {
      "id": "XPSXpsOperationMetadata",
      "type": "object",
      "properties": {
        "videoTrainingOperationMetadata": {
          "$ref": "XPSVideoTrainingOperationMetadata"
        },
        "videoBatchPredictOperationMetadata": {
          "$ref": "XPSVideoBatchPredictOperationMetadata"
        },
        "tablesTrainingOperationMetadata": {
          "$ref": "XPSTablesTrainingOperationMetadata"
        },
        "reportingMetrics": {
          "description": "Metrics for the operation. By the time the operation is terminated (whether succeeded or failed) as returned from XPS, AutoML BE assumes the metrics are finalized. AutoML BE transparently posts the metrics to Chemist if it's not empty, regardless of the response content or error type. If user is supposed to be charged in case of cancellation/error, this field should be set. In the case where the type of LRO doesn't require any billing, this field should be left unset.",
          "$ref": "XPSReportingMetrics"
        },
        "visionTrainingOperationMetadata": {
          "$ref": "XPSVisionTrainingOperationMetadata"
        },
        "exampleCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. XPS server can opt to provide example count of the long running operation (e.g. training, data importing, batch prediction)."
        }
      }
    },
    "XPSVideoActionRecognitionTrainResponse": {
      "id": "XPSVideoActionRecognitionTrainResponse",
      "type": "object",
      "properties": {
        "modelArtifactSpec": {
          "description": "## The fields below are only populated under uCAIP request scope.",
          "$ref": "XPSVideoModelArtifactSpec"
        },
        "trainCostNodeSeconds": {
          "description": "The actual train cost of creating this model, expressed in node seconds, i.e. 3,600 value in this field means 1 node hour.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "XPSTablesModelColumnInfo": {
      "id": "XPSTablesModelColumnInfo",
      "type": "object",
      "properties": {
        "columnId": {
          "description": "The ID of the column.",
          "format": "int32",
          "type": "integer"
        },
        "featureImportance": {
          "type": "number",
          "format": "float",
          "description": "When given as part of a Model: Measurement of how much model predictions correctness on the TEST data depend on values in this column. A value between 0 and 1, higher means higher influence. These values are normalized - for all input feature columns of a given model they add to 1. When given back by Predict or Batch Predict: Measurement of how impactful for the prediction returned for the given row the value in this column was. Specifically, the feature importance specifies the marginal contribution that the feature made to the prediction score compared to the baseline score. These values are computed using the Sampled Shapley method."
        }
      },
      "description": "An information specific to given column and Tables Model, in context of the Model and the predictions created by it."
    },
    "AnnotateTextRequestFeatures": {
      "id": "AnnotateTextRequestFeatures",
      "type": "object",
      "properties": {
        "extractDocumentSentiment": {
          "description": "Optional. Extract document-level sentiment.",
          "type": "boolean"
        },
        "extractEntities": {
          "description": "Optional. Extract entities.",
          "type": "boolean"
        },
        "classifyText": {
          "description": "Optional. Classify the full document into categories.",
          "type": "boolean"
        },
        "moderateText": {
          "description": "Optional. Moderate the document for harmful and sensitive categories.",
          "type": "boolean"
        }
      },
      "description": "All available features. Setting each one to true will enable that specific analysis for the input."
    },
    "XPSTablesPreprocessResponse": {
      "id": "XPSTablesPreprocessResponse",
      "type": "object",
      "properties": {
        "tablesDatasetMetadata": {
          "description": "The table/column id, column_name and the DataTypes of the columns will be populated.",
          "$ref": "XPSTablesDatasetMetadata"
        }
      }
    },
    "XPSSpeechModelSpecSubModelSpec": {
      "id": "XPSSpeechModelSpecSubModelSpec",
      "type": "object",
      "properties": {
        "isEnhancedModel": {
          "description": "If true then it means we have an enhanced version of the biasing models.",
          "type": "boolean"
        },
        "contextId": {
          "description": "In S3, Recognition ClientContextId.context_id",
          "type": "string"
        },
        "clientId": {
          "description": "In S3, Recognition ClientContextId.client_id",
          "type": "string"
        },
        "biasingModelType": {
          "description": "Type of the biasing model.",
          "enumDescriptions": [
            "",
            "Build biasing model on top of COMMAND_AND_SEARCH model",
            "Build biasing model on top of PHONE_CALL model",
            "Build biasing model on top of VIDEO model",
            "Build biasing model on top of DEFAULT model"
          ],
          "type": "string",
          "enum": [
            "BIASING_MODEL_TYPE_UNSPECIFIED",
            "COMMAND_AND_SEARCH",
            "PHONE_CALL",
            "VIDEO",
            "DEFAULT"
          ]
        }
      }
    },
    "XPSVideoActionRecognitionEvaluationMetrics": {
      "id": "XPSVideoActionRecognitionEvaluationMetrics",
      "type": "object",
      "properties": {
        "evaluatedActionCount": {
          "description": "Output only. The number of ground truth actions used to create this evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "videoActionMetricsEntries": {
          "type": "array",
          "description": "Output only. The metric entries for precision window lengths: 1s,2s,3s,4s, 5s.",
          "items": {
            "$ref": "XPSVideoActionMetricsEntry"
          }
        }
      },
      "description": "Model evaluation metrics for video action recognition."
    },
    "XPSCommonStats": {
      "description": "Common statistics for a column with a specified data type.",
      "id": "XPSCommonStats",
      "type": "object",
      "properties": {
        "distinctValueCount": {
          "type": "string",
          "format": "int64"
        },
        "nullValueCount": {
          "type": "string",
          "format": "int64"
        },
        "validValueCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DiskMetric": {
      "id": "DiskMetric",
      "type": "object",
      "properties": {
        "diskType": {
          "enum": [
            "UNKNOWN_DISK_TYPE",
            "REGIONAL_SSD",
            "REGIONAL_STORAGE",
            "PD_SSD",
            "PD_STANDARD",
            "STORAGE_SNAPSHOT"
          ],
          "type": "string",
          "description": "Required. Type of Disk, e.g. REGIONAL_SSD.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "gibSec": {
          "description": "Required. Seconds of physical disk usage, e.g. 3600.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "XPSRow": {
      "id": "XPSRow",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "The values of the row cells, given in the same order as the column_ids. If column_ids is not set, then in the same order as the input_feature_column_ids in TablesModelMetadata.",
          "items": {
            "type": "any"
          }
        },
        "columnIds": {
          "type": "array",
          "description": "The ids of the columns. Note: The below `values` field must match order of this field, if this field is set.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "RamMetric": {
      "id": "RamMetric",
      "type": "object",
      "properties": {
        "machineSpec": {
          "enum": [
            "UNKNOWN_MACHINE_SPEC",
            "N1_STANDARD_2",
            "N1_STANDARD_4",
            "N1_STANDARD_8",
            "N1_STANDARD_16",
            "N1_STANDARD_32",
            "N1_STANDARD_64",
            "N1_STANDARD_96",
            "N1_HIGHMEM_2",
            "N1_HIGHMEM_4",
            "N1_HIGHMEM_8",
            "N1_HIGHMEM_16",
            "N1_HIGHMEM_32",
            "N1_HIGHMEM_64",
            "N1_HIGHMEM_96",
            "N1_HIGHCPU_2",
            "N1_HIGHCPU_4",
            "N1_HIGHCPU_8",
            "N1_HIGHCPU_16",
            "N1_HIGHCPU_32",
            "N1_HIGHCPU_64",
            "N1_HIGHCPU_96",
            "A2_HIGHGPU_1G",
            "A2_HIGHGPU_2G",
            "A2_HIGHGPU_4G",
            "A2_HIGHGPU_8G",
            "A2_MEGAGPU_16G",
            "A2_ULTRAGPU_1G",
            "A2_ULTRAGPU_2G",
            "A2_ULTRAGPU_4G",
            "A2_ULTRAGPU_8G",
            "A3_HIGHGPU_1G",
            "A3_HIGHGPU_2G",
            "A3_HIGHGPU_4G",
            "A3_HIGHGPU_8G",
            "A3_MEGAGPU_8G",
            "A3_ULTRAGPU_8G",
            "A3_EDGEGPU_8G",
            "A4_HIGHGPU_8G",
            "A4X_HIGHGPU_4G",
            "E2_STANDARD_2",
            "E2_STANDARD_4",
            "E2_STANDARD_8",
            "E2_STANDARD_16",
            "E2_STANDARD_32",
            "E2_HIGHMEM_2",
            "E2_HIGHMEM_4",
            "E2_HIGHMEM_8",
            "E2_HIGHMEM_16",
            "E2_HIGHCPU_2",
            "E2_HIGHCPU_4",
            "E2_HIGHCPU_8",
            "E2_HIGHCPU_16",
            "E2_HIGHCPU_32",
            "N2_STANDARD_2",
            "N2_STANDARD_4",
            "N2_STANDARD_8",
            "N2_STANDARD_16",
            "N2_STANDARD_32",
            "N2_STANDARD_48",
            "N2_STANDARD_64",
            "N2_STANDARD_80",
            "N2_STANDARD_96",
            "N2_STANDARD_128",
            "N2_HIGHMEM_2",
            "N2_HIGHMEM_4",
            "N2_HIGHMEM_8",
            "N2_HIGHMEM_16",
            "N2_HIGHMEM_32",
            "N2_HIGHMEM_48",
            "N2_HIGHMEM_64",
            "N2_HIGHMEM_80",
            "N2_HIGHMEM_96",
            "N2_HIGHMEM_128",
            "N2_HIGHCPU_2",
            "N2_HIGHCPU_4",
            "N2_HIGHCPU_8",
            "N2_HIGHCPU_16",
            "N2_HIGHCPU_32",
            "N2_HIGHCPU_48",
            "N2_HIGHCPU_64",
            "N2_HIGHCPU_80",
            "N2_HIGHCPU_96",
            "N2D_STANDARD_2",
            "N2D_STANDARD_4",
            "N2D_STANDARD_8",
            "N2D_STANDARD_16",
            "N2D_STANDARD_32",
            "N2D_STANDARD_48",
            "N2D_STANDARD_64",
            "N2D_STANDARD_80",
            "N2D_STANDARD_96",
            "N2D_STANDARD_128",
            "N2D_STANDARD_224",
            "N2D_HIGHMEM_2",
            "N2D_HIGHMEM_4",
            "N2D_HIGHMEM_8",
            "N2D_HIGHMEM_16",
            "N2D_HIGHMEM_32",
            "N2D_HIGHMEM_48",
            "N2D_HIGHMEM_64",
            "N2D_HIGHMEM_80",
            "N2D_HIGHMEM_96",
            "N2D_HIGHCPU_2",
            "N2D_HIGHCPU_4",
            "N2D_HIGHCPU_8",
            "N2D_HIGHCPU_16",
            "N2D_HIGHCPU_32",
            "N2D_HIGHCPU_48",
            "N2D_HIGHCPU_64",
            "N2D_HIGHCPU_80",
            "N2D_HIGHCPU_96",
            "N2D_HIGHCPU_128",
            "N2D_HIGHCPU_224",
            "C2_STANDARD_4",
            "C2_STANDARD_8",
            "C2_STANDARD_16",
            "C2_STANDARD_30",
            "C2_STANDARD_60",
            "C2D_STANDARD_2",
            "C2D_STANDARD_4",
            "C2D_STANDARD_8",
            "C2D_STANDARD_16",
            "C2D_STANDARD_32",
            "C2D_STANDARD_56",
            "C2D_STANDARD_112",
            "C2D_HIGHCPU_2",
            "C2D_HIGHCPU_4",
            "C2D_HIGHCPU_8",
            "C2D_HIGHCPU_16",
            "C2D_HIGHCPU_32",
            "C2D_HIGHCPU_56",
            "C2D_HIGHCPU_112",
            "C2D_HIGHMEM_2",
            "C2D_HIGHMEM_4",
            "C2D_HIGHMEM_8",
            "C2D_HIGHMEM_16",
            "C2D_HIGHMEM_32",
            "C2D_HIGHMEM_56",
            "C2D_HIGHMEM_112",
            "G2_STANDARD_4",
            "G2_STANDARD_8",
            "G2_STANDARD_12",
            "G2_STANDARD_16",
            "G2_STANDARD_24",
            "G2_STANDARD_32",
            "G2_STANDARD_48",
            "G2_STANDARD_96",
            "G4_STANDARD_48",
            "C3_STANDARD_4",
            "C3_STANDARD_8",
            "C3_STANDARD_22",
            "C3_STANDARD_44",
            "C3_STANDARD_88",
            "C3_STANDARD_176",
            "C3_HIGHCPU_4",
            "C3_HIGHCPU_8",
            "C3_HIGHCPU_22",
            "C3_HIGHCPU_44",
            "C3_HIGHCPU_88",
            "C3_HIGHCPU_176",
            "C3_HIGHMEM_4",
            "C3_HIGHMEM_8",
            "C3_HIGHMEM_22",
            "C3_HIGHMEM_44",
            "C3_HIGHMEM_88",
            "C3_HIGHMEM_176",
            "C4_STANDARD_8",
            "C4_STANDARD_16",
            "C4_STANDARD_24",
            "C4_STANDARD_32",
            "C4_STANDARD_48",
            "C4_STANDARD_96",
            "C4_STANDARD_144",
            "C4_STANDARD_192",
            "C4_STANDARD_288",
            "C4_HIGHCPU_8",
            "C4_HIGHCPU_16",
            "C4_HIGHCPU_24",
            "C4_HIGHCPU_32",
            "C4_HIGHCPU_48",
            "C4_HIGHCPU_96",
            "C4_HIGHCPU_144",
            "C4_HIGHCPU_192",
            "C4_HIGHCPU_288",
            "C4_HIGHMEM_8",
            "C4_HIGHMEM_16",
            "C4_HIGHMEM_24",
            "C4_HIGHMEM_32",
            "C4_HIGHMEM_48",
            "C4_HIGHMEM_96",
            "C4_HIGHMEM_144",
            "C4_HIGHMEM_192",
            "C4_HIGHMEM_288",
            "C4A_STANDARD_8",
            "C4A_STANDARD_16",
            "C4A_STANDARD_32",
            "C4A_STANDARD_48",
            "C4A_STANDARD_64",
            "C4A_STANDARD_72",
            "C4A_HIGHCPU_8",
            "C4A_HIGHCPU_16",
            "C4A_HIGHCPU_32",
            "C4A_HIGHCPU_48",
            "C4A_HIGHCPU_64",
            "C4A_HIGHCPU_72",
            "C4A_HIGHMEM_8",
            "C4A_HIGHMEM_16",
            "C4A_HIGHMEM_32",
            "C4A_HIGHMEM_48",
            "C4A_HIGHMEM_64",
            "C4A_HIGHMEM_72",
            "C4D_STANDARD_2",
            "C4D_STANDARD_4",
            "C4D_STANDARD_8",
            "C4D_STANDARD_16",
            "C4D_STANDARD_32",
            "C4D_STANDARD_48",
            "C4D_STANDARD_64",
            "C4D_STANDARD_96",
            "C4D_STANDARD_192",
            "C4D_STANDARD_384",
            "C4D_HIGHCPU_2",
            "C4D_HIGHCPU_4",
            "C4D_HIGHCPU_8",
            "C4D_HIGHCPU_16",
            "C4D_HIGHCPU_32",
            "C4D_HIGHCPU_48",
            "C4D_HIGHCPU_64",
            "C4D_HIGHCPU_96",
            "C4D_HIGHCPU_192",
            "C4D_HIGHCPU_384",
            "C4D_HIGHMEM_2",
            "C4D_HIGHMEM_4",
            "C4D_HIGHMEM_8",
            "C4D_HIGHMEM_16",
            "C4D_HIGHMEM_32",
            "C4D_HIGHMEM_48",
            "C4D_HIGHMEM_64",
            "C4D_HIGHMEM_96",
            "C4D_HIGHMEM_192",
            "C4D_HIGHMEM_384",
            "N4_STANDARD_2",
            "N4_STANDARD_4",
            "N4_STANDARD_8",
            "N4_STANDARD_16",
            "N4_STANDARD_32",
            "N4_STANDARD_48",
            "N4_STANDARD_64",
            "N4_STANDARD_80",
            "N4_HIGHCPU_2",
            "N4_HIGHCPU_4",
            "N4_HIGHCPU_8",
            "N4_HIGHCPU_16",
            "N4_HIGHCPU_32",
            "N4_HIGHCPU_48",
            "N4_HIGHCPU_64",
            "N4_HIGHCPU_80",
            "N4_HIGHMEM_2",
            "N4_HIGHMEM_4",
            "N4_HIGHMEM_8",
            "N4_HIGHMEM_16",
            "N4_HIGHMEM_32",
            "N4_HIGHMEM_48",
            "N4_HIGHMEM_64",
            "N4_HIGHMEM_80",
            "N4A_STANDARD_2",
            "N4A_STANDARD_4",
            "N4A_STANDARD_8",
            "N4A_STANDARD_16",
            "N4A_STANDARD_32",
            "N4A_STANDARD_48",
            "N4A_STANDARD_64",
            "N4A_HIGHCPU_2",
            "N4A_HIGHCPU_4",
            "N4A_HIGHCPU_8",
            "N4A_HIGHCPU_16",
            "N4A_HIGHCPU_32",
            "N4A_HIGHCPU_48",
            "N4A_HIGHCPU_64",
            "N4A_HIGHMEM_2",
            "N4A_HIGHMEM_4",
            "N4A_HIGHMEM_8",
            "N4A_HIGHMEM_16",
            "N4A_HIGHMEM_32",
            "N4A_HIGHMEM_48",
            "N4A_HIGHMEM_64",
            "C3D_STANDARD_8",
            "C3D_STANDARD_16",
            "C3D_STANDARD_30",
            "C3D_STANDARD_60",
            "C3D_STANDARD_90",
            "C3D_STANDARD_180",
            "C3D_STANDARD_360",
            "C3D_HIGHCPU_8",
            "C3D_HIGHCPU_16",
            "C3D_HIGHCPU_30",
            "C3D_HIGHCPU_60",
            "C3D_HIGHCPU_90",
            "C3D_HIGHCPU_180",
            "C3D_HIGHCPU_360",
            "C3D_HIGHMEM_8",
            "C3D_HIGHMEM_16",
            "C3D_HIGHMEM_30",
            "C3D_HIGHMEM_60",
            "C3D_HIGHMEM_90",
            "C3D_HIGHMEM_180",
            "C3D_HIGHMEM_360"
          ],
          "type": "string",
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "trackingLabels": {
          "type": "object",
          "description": "Billing tracking labels. They do not contain any user data but only the labels set by Vertex Core Infra itself. Tracking labels' keys are defined with special format: goog-[\\p{Ll}\\p{N}]+ E.g. \"key\": \"goog-k8s-cluster-name\",\"value\": \"us-east1-b4rk\"",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gibSec": {
          "description": "Required. VM memory in Gigabyte second, e.g. 3600. Using int64 type to match billing metrics definition.",
          "type": "string",
          "format": "int64"
        },
        "memories": {
          "format": "double",
          "type": "number",
          "description": "Required. VM memory in gb."
        },
        "ramType": {
          "enum": [
            "UNKNOWN_RAM_TYPE",
            "A2",
            "A3",
            "A4",
            "A4X",
            "C2",
            "C2D",
            "CUSTOM",
            "E2",
            "G2",
            "G4",
            "C4",
            "C4A",
            "C4D",
            "N4",
            "N4A",
            "C3D",
            "C3",
            "M2",
            "M1",
            "N1",
            "N2_CUSTOM",
            "N2",
            "N2D"
          ],
          "type": "string",
          "description": "Required. Type of ram.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "COMPUTE_OPTIMIZED",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "MEMORY_OPTIMIZED_UPGRADE_PREMIUM",
            "MEMORY_OPTIMIZED",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "AnnotateTextRequest": {
      "description": "The request message for the text annotation API, which can perform multiple analysis types in one call.",
      "id": "AnnotateTextRequest",
      "type": "object",
      "properties": {
        "document": {
          "description": "Required. Input document.",
          "$ref": "Document"
        },
        "features": {
          "description": "Required. The enabled features.",
          "$ref": "AnnotateTextRequestFeatures"
        },
        "encodingType": {
          "enum": [
            "NONE",
            "UTF8",
            "UTF16",
            "UTF32"
          ],
          "type": "string",
          "description": "The encoding type used by the API to calculate offsets.",
          "enumDescriptions": [
            "If `EncodingType` is not specified, encoding-dependent information (such as `begin_offset`) will be set at `-1`.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-8 encoding of the input. C++ and Go are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-16 encoding of the input. Java and JavaScript are examples of languages that use this encoding natively.",
            "Encoding-dependent information (such as `begin_offset`) is calculated based on the UTF-32 encoding of the input. Python is an example of a language that uses this encoding natively."
          ]
        }
      }
    },
    "GpuMetric": {
      "id": "GpuMetric",
      "type": "object",
      "properties": {
        "gpuSec": {
          "type": "string",
          "format": "int64",
          "description": "Required. Seconds of GPU usage, e.g. 3600."
        },
        "machineSpec": {
          "description": "Required. Machine spec, e.g. N1_STANDARD_4.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
[...]
