{
  "baseUrl": "https://libraryagent.googleapis.com/",
  "title": "Library Agent API",
  "schemas": {
    "GoogleExampleLibraryagentV1Book": {
      "id": "GoogleExampleLibraryagentV1Book",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
          "type": "string"
        },
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "read": {
          "description": "Value indicating whether the book has been read.",
          "type": "boolean"
        }
      },
      "description": "A single book in the library."
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "description": "A Shelf contains a collection of books with a theme.",
      "id": "GoogleExampleLibraryagentV1Shelf",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        }
      }
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "type": "object",
      "properties": {
        "shelves": {
          "description": "The list of shelves.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for LibraryAgent.ListShelves."
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "description": "Response message for LibraryAgent.ListBooks.",
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "type": "object",
      "properties": {
        "books": {
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "description": "The list of books."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "resources": {
    "shelves": {
      "methods": {
        "list": {
          "path": "v1/shelves",
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "id": "libraryagent.shelves.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "pageSize": {
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1/shelves"
        },
        "get": {
          "parameters": {
            "name": {
              "description": "Required. The name of the shelf to retrieve.",
              "required": true,
              "type": "string",
              "pattern": "^shelves/[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "libraryagent.shelves.get",
          "path": "v1/{+name}",
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "flatPath": "v1/shelves/{shelvesId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        }
      },
      "resources": {
        "books": {
          "methods": {
            "list": {
              "flatPath": "v1/shelves/{shelvesId}/books",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^shelves/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "required": true
                },
                "pageSize": {
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "v1/{+parent}/books",
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "id": "libraryagent.shelves.books.list"
            },
            "borrow": {
              "path": "v1/{+name}:borrow",
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "id": "libraryagent.shelves.books.borrow",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the book to borrow.",
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "httpMethod": "POST",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow"
            },
            "return": {
              "id": "libraryagent.shelves.books.return",
              "path": "v1/{+name}:return",
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the book to return.",
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "id": "libraryagent.shelves.books.get",
              "path": "v1/{+name}",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the book to retrieve.",
                  "required": true,
                  "type": "string",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "name": "libraryagent",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260816",
  "servicePath": "",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "id": "libraryagent:v1",
  "basePath": "",
  "version": "v1",
  "canonicalName": "Libraryagent",
  "description": "A simple Google Example Library API."
}