{
  "schemas": {
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "description": "Response message for LibraryAgent.ListShelves.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        },
        "shelves": {
          "description": "The list of shelves.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        }
      }
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "id": "GoogleExampleLibraryagentV1Shelf",
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        }
      }
    },
    "GoogleExampleLibraryagentV1Book": {
      "id": "GoogleExampleLibraryagentV1Book",
      "description": "A single book in the library.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
          "type": "string"
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "read": {
          "description": "Value indicating whether the book has been read.",
          "type": "boolean"
        },
        "title": {
          "description": "The title of the book.",
          "type": "string"
        }
      }
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "description": "Response message for LibraryAgent.ListBooks.",
      "type": "object",
      "properties": {
        "books": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "description": "The list of books.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    }
  },
  "basePath": "",
  "description": "A simple Google Example Library API.",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "name": "libraryagent",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260712",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Libraryagent",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "version": "v1",
  "resources": {
    "shelves": {
      "methods": {
        "list": {
          "flatPath": "v1/shelves",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "libraryagent.shelves.list",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1/shelves"
        },
        "get": {
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "path": "v1/{+name}",
          "id": "libraryagent.shelves.get",
          "parameters": {
            "name": {
              "description": "Required. The name of the shelf to retrieve.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^shelves/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/shelves/{shelvesId}",
          "httpMethod": "GET",
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist."
        }
      },
      "resources": {
        "books": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.get",
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the book to retrieve."
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books",
              "httpMethod": "GET",
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "path": "v1/{+parent}/books",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^shelves/[^/]+$",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "location": "path"
                }
              }
            },
            "borrow": {
              "path": "v1/{+name}:borrow",
              "id": "libraryagent.shelves.books.borrow",
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the book to borrow."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "httpMethod": "POST"
            },
            "return": {
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.return",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the book to return.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}:return"
            }
          }
        }
      }
    }
  },
  "title": "Library Agent API",
  "protocol": "rest",
  "servicePath": "",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "rootUrl": "https://libraryagent.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "id": "libraryagent:v1"
}