{
  "version": "v1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Libraryagent",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "id": "libraryagent:v1",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "shelves": {
      "methods": {
        "list": {
          "path": "v1/shelves",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "id": "libraryagent.shelves.list",
          "flatPath": "v1/shelves",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "location": "query"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/shelves/{shelvesId}",
          "path": "v1/{+name}",
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "parameters": {
            "name": {
              "pattern": "^shelves/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the shelf to retrieve.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "id": "libraryagent.shelves.get",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "books": {
          "methods": {
            "get": {
              "id": "libraryagent.shelves.books.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the book to retrieve.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "return": {
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to return."
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.return",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "path": "v1/{+name}:return"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^shelves/[^/]+$",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "path": "v1/{+parent}/books",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.list",
              "flatPath": "v1/shelves/{shelvesId}/books",
              "parameterOrder": [
                "parent"
              ]
            },
            "borrow": {
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "libraryagent.shelves.books.borrow",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "path": "v1/{+name}:borrow",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the book to borrow."
                }
              },
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions."
            }
          }
        }
      }
    }
  },
  "name": "libraryagent",
  "basePath": "",
  "title": "Library Agent API",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "revision": "20260830",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "protocol": "rest",
  "description": "A simple Google Example Library API.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleExampleLibraryagentV1Shelf": {
      "id": "GoogleExampleLibraryagentV1Shelf",
      "type": "object",
      "description": "A Shelf contains a collection of books with a theme.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."
        },
        "theme": {
          "type": "string",
          "description": "The theme of the shelf"
        }
      }
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "type": "object",
      "description": "Response message for LibraryAgent.ListShelves.",
      "properties": {
        "shelves": {
          "description": "The list of shelves.",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results."
        }
      }
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "description": "Response message for LibraryAgent.ListBooks.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        },
        "books": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "type": "array",
          "description": "The list of books."
        }
      },
      "type": "object"
    },
    "GoogleExampleLibraryagentV1Book": {
      "properties": {
        "name": {
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the book."
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "read": {
          "type": "boolean",
          "description": "Value indicating whether the book has been read."
        }
      },
      "type": "object",
      "id": "GoogleExampleLibraryagentV1Book",
      "description": "A single book in the library."
    }
  },
  "documentationLink": "https://cloud.google.com/docs/quota",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "version_module": true
}