{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://libraryagent.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "canonicalName": "Libraryagent",
  "ownerDomain": "google.com",
  "title": "Library Agent API",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "version_module": true,
  "description": "A simple Google Example Library API.",
  "servicePath": "",
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerName": "Google",
  "schemas": {
    "GoogleExampleLibraryagentV1Shelf": {
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object",
      "id": "GoogleExampleLibraryagentV1Shelf",
      "properties": {
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."
        }
      }
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "description": "Response message for LibraryAgent.ListShelves.",
      "type": "object",
      "properties": {
        "shelves": {
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "description": "The list of shelves."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results."
        }
      }
    },
    "GoogleExampleLibraryagentV1Book": {
      "properties": {
        "read": {
          "description": "Value indicating whether the book has been read.",
          "type": "boolean"
        },
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        },
        "author": {
          "type": "string",
          "description": "The name of the book author."
        }
      },
      "description": "A single book in the library.",
      "id": "GoogleExampleLibraryagentV1Book",
      "type": "object"
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        },
        "books": {
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "description": "The list of books."
        }
      },
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "description": "Response message for LibraryAgent.ListBooks.",
      "type": "object"
    }
  },
  "name": "libraryagent",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "shelves": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/shelves",
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "flatPath": "v1/shelves",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method."
            }
          },
          "id": "libraryagent.shelves.list"
        },
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The name of the shelf to retrieve.",
              "pattern": "^shelves/[^/]+$"
            }
          },
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/shelves/{shelvesId}",
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "id": "libraryagent.shelves.get"
        }
      },
      "resources": {
        "books": {
          "methods": {
            "borrow": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the book to borrow.",
                  "type": "string",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:borrow",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "httpMethod": "POST",
              "id": "libraryagent.shelves.books.borrow",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow"
            },
            "get": {
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "parameterOrder": [
                "name"
              ],
              "id": "libraryagent.shelves.books.get",
              "httpMethod": "GET",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the book to retrieve.",
                  "location": "path"
                }
              }
            },
            "return": {
              "path": "v1/{+name}:return",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "id": "libraryagent.shelves.books.return",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the book to return."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before."
            },
            "list": {
              "httpMethod": "GET",
              "id": "libraryagent.shelves.books.list",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/books",
              "flatPath": "v1/shelves/{shelvesId}/books",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default."
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^shelves/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the shelf whose books we'd like to list."
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "libraryagent:v1",
  "batchPath": "batch",
  "version": "v1",
  "revision": "20260906",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://libraryagent.googleapis.com/"
}