{
  "protocol": "rest",
  "revision": "20260830",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Library Agent API",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Libraryagent",
  "basePath": "",
  "batchPath": "batch",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "name": "libraryagent",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleExampleLibraryagentV1Shelf": {
      "description": "A Shelf contains a collection of books with a theme.",
      "id": "GoogleExampleLibraryagentV1Shelf",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."
        },
        "theme": {
          "description": "The theme of the shelf",
          "type": "string"
        }
      }
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        },
        "shelves": {
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "description": "The list of shelves."
        }
      },
      "type": "object",
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "description": "Response message for LibraryAgent.ListShelves."
    },
    "GoogleExampleLibraryagentV1Book": {
      "id": "GoogleExampleLibraryagentV1Book",
      "description": "A single book in the library.",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        },
        "read": {
          "description": "Value indicating whether the book has been read.",
          "type": "boolean"
        }
      }
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "type": "object",
      "description": "Response message for LibraryAgent.ListBooks.",
      "properties": {
        "books": {
          "description": "The list of books.",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleExampleLibraryagentV1ListBooksResponse"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "A simple Google Example Library API.",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "libraryagent:v1",
  "resources": {
    "shelves": {
      "resources": {
        "books": {
          "methods": {
            "return": {
              "path": "v1/{+name}:return",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the book to return.",
                  "required": true,
                  "type": "string",
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "id": "libraryagent.shelves.books.return"
            },
            "list": {
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "flatPath": "v1/shelves/{shelvesId}/books",
              "path": "v1/{+parent}/books",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "required": true,
                  "pattern": "^shelves/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "id": "libraryagent.shelves.books.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "borrow": {
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "id": "libraryagent.shelves.books.borrow",
              "parameters": {
                "name": {
                  "description": "Required. The name of the book to borrow.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "path": "v1/{+name}:borrow",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "httpMethod": "POST"
            },
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the book to retrieve.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^shelves/[^/]+/books/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "id": "libraryagent.shelves.books.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^shelves/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the shelf to retrieve.",
              "location": "path"
            }
          },
          "flatPath": "v1/shelves/{shelvesId}",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "libraryagent.shelves.get",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "flatPath": "v1/shelves",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "id": "libraryagent.shelves.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default."
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "location": "query"
            }
          },
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "path": "v1/shelves"
        }
      }
    }
  },
  "version_module": true,
  "servicePath": ""
}