{
  "version_module": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "name": "libraryagent",
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "schemas": {
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results."
        },
        "books": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "type": "array",
          "description": "The list of books."
        }
      },
      "type": "object",
      "description": "Response message for LibraryAgent.ListBooks."
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."
        },
        "theme": {
          "type": "string",
          "description": "The theme of the shelf"
        }
      },
      "id": "GoogleExampleLibraryagentV1Shelf",
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object"
    },
    "GoogleExampleLibraryagentV1Book": {
      "type": "object",
      "description": "A single book in the library.",
      "id": "GoogleExampleLibraryagentV1Book",
      "properties": {
        "name": {
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book.",
          "type": "string"
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "read": {
          "type": "boolean",
          "description": "Value indicating whether the book has been read."
        }
      }
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "type": "object",
      "description": "Response message for LibraryAgent.ListShelves.",
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "properties": {
        "shelves": {
          "description": "The list of shelves.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "revision": "20260727",
  "canonicalName": "Libraryagent",
  "resources": {
    "shelves": {
      "resources": {
        "books": {
          "methods": {
            "return": {
              "path": "v1/{+name}:return",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.return",
              "parameterOrder": [
                "name"
              ],
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the book to return.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "httpMethod": "POST"
            },
            "borrow": {
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "path": "v1/{+name}:borrow",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "httpMethod": "POST",
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the book to borrow."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.borrow",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "httpMethod": "GET",
              "id": "libraryagent.shelves.books.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the book to retrieve.",
                  "required": true
                }
              },
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist."
            },
            "list": {
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "path": "v1/{+parent}/books",
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^shelves/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "get": {
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/shelves/{shelvesId}",
          "httpMethod": "GET",
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "parameters": {
            "name": {
              "description": "Required. The name of the shelf to retrieve.",
              "type": "string",
              "pattern": "^shelves/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "libraryagent.shelves.get",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "path": "v1/shelves",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "libraryagent.shelves.list",
          "parameterOrder": [],
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method."
            }
          },
          "flatPath": "v1/shelves",
          "httpMethod": "GET"
        }
      }
    }
  },
  "id": "libraryagent:v1",
  "title": "Library Agent API",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "description": "A simple Google Example Library API."
}