{
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleExampleLibraryagentV1Book": {
      "properties": {
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "read": {
          "type": "boolean",
          "description": "Value indicating whether the book has been read."
        },
        "title": {
          "description": "The title of the book.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        }
      },
      "id": "GoogleExampleLibraryagentV1Book",
      "description": "A single book in the library.",
      "type": "object"
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results."
        },
        "shelves": {
          "description": "The list of shelves.",
          "type": "array",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          }
        }
      },
      "type": "object",
      "description": "Response message for LibraryAgent.ListShelves.",
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse"
    },
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results.",
          "type": "string"
        },
        "books": {
          "type": "array",
          "description": "The list of books.",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          }
        }
      },
      "description": "Response message for LibraryAgent.ListBooks.",
      "id": "GoogleExampleLibraryagentV1ListBooksResponse"
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "id": "GoogleExampleLibraryagentV1Shelf",
      "description": "A Shelf contains a collection of books with a theme.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."
        },
        "theme": {
          "type": "string",
          "description": "The theme of the shelf"
        }
      },
      "type": "object"
    }
  },
  "version_module": true,
  "version": "v1",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/docs/quota",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "description": "A simple Google Example Library API.",
  "id": "libraryagent:v1",
  "resources": {
    "shelves": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method."
            },
            "pageSize": {
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          },
          "parameterOrder": [],
          "path": "v1/shelves",
          "flatPath": "v1/shelves",
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "id": "libraryagent.shelves.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "flatPath": "v1/shelves/{shelvesId}",
          "parameterOrder": [
            "name"
          ],
          "id": "libraryagent.shelves.get",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^shelves/[^/]+$",
              "required": true,
              "description": "Required. The name of the shelf to retrieve.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist."
        }
      },
      "resources": {
        "books": {
          "methods": {
            "borrow": {
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "httpMethod": "POST",
              "id": "libraryagent.shelves.books.borrow",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the book to borrow.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}:borrow",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "return": {
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "id": "libraryagent.shelves.books.return",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "path": "v1/{+name}:return",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to return."
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1/shelves/{shelvesId}/books",
              "parameters": {
                "parent": {
                  "pattern": "^shelves/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the shelf whose books we'd like to list.",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method."
                }
              },
              "id": "libraryagent.shelves.books.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "path": "v1/{+parent}/books",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to retrieve.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "libraryagent.shelves.books.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "path": "v1/{+name}"
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "libraryagent",
  "protocol": "rest",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "servicePath": "",
  "batchPath": "batch",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "canonicalName": "Libraryagent",
  "revision": "20260913",
  "ownerName": "Google",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "title": "Library Agent API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}