{
  "id": "libraryagent:v1",
  "canonicalName": "Libraryagent",
  "rootUrl": "https://libraryagent.googleapis.com/",
  "description": "A simple Google Example Library API.",
  "batchPath": "batch",
  "ownerName": "Google",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "version_module": true,
  "version": "v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "title": "Library Agent API",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/docs/quota",
  "baseUrl": "https://libraryagent.googleapis.com/",
  "servicePath": "",
  "mtlsRootUrl": "https://libraryagent.mtls.googleapis.com/",
  "name": "libraryagent",
  "kind": "discovery#restDescription",
  "resources": {
    "shelves": {
      "resources": {
        "books": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "libraryagent.shelves.books.get",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "description": "Gets a book. Returns NOT_FOUND if the book does not exist.",
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the book to retrieve.",
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1ListBooksResponse"
              },
              "id": "libraryagent.shelves.books.list",
              "description": "Lists books in a shelf. The order is unspecified but deterministic. Newly created books will not necessarily be added to the end of this list. Returns NOT_FOUND if the shelf does not exist.",
              "flatPath": "v1/shelves/{shelvesId}/books",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. Server may return fewer books than requested. If unspecified, server will pick an appropriate default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBooksResponse.next_page_token. returned from the previous call to `ListBooks` method.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^shelves/[^/]+$",
                  "description": "Required. The name of the shelf whose books we'd like to list."
                }
              },
              "path": "v1/{+parent}/books"
            },
            "return": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "description": "Required. The name of the book to return.",
                  "location": "path"
                }
              },
              "id": "libraryagent.shelves.books.return",
              "description": "Return a book to the library. Returns the book if it is returned to the library successfully. Returns error if the book does not belong to the library or the users didn't borrow before.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:return",
              "path": "v1/{+name}:return",
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "borrow": {
              "flatPath": "v1/shelves/{shelvesId}/books/{booksId}:borrow",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^shelves/[^/]+/books/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the book to borrow.",
                  "required": true
                }
              },
              "id": "libraryagent.shelves.books.borrow",
              "parameterOrder": [
                "name"
              ],
              "description": "Borrow a book from the library. Returns the book if it is borrowed successfully. Returns NOT_FOUND if the book does not exist in the library. Returns quota exceeded error if the amount of books borrowed exceeds allocation quota in any dimensions.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleExampleLibraryagentV1Book"
              },
              "path": "v1/{+name}:borrow"
            }
          }
        }
      },
      "methods": {
        "get": {
          "description": "Gets a shelf. Returns NOT_FOUND if the shelf does not exist.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/shelves/{shelvesId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the shelf to retrieve.",
              "type": "string",
              "pattern": "^shelves/[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "id": "libraryagent.shelves.get"
        },
        "list": {
          "flatPath": "v1/shelves",
          "path": "v1/shelves",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Requested page size. Server may return fewer shelves than requested. If unspecified, server will pick an appropriate default.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListShelvesResponse.next_page_token returned from the previous call to `ListShelves` method.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists shelves. The order is unspecified but deterministic. Newly created shelves will not necessarily be added to the end of this list.",
          "id": "libraryagent.shelves.list",
          "response": {
            "$ref": "GoogleExampleLibraryagentV1ListShelvesResponse"
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleExampleLibraryagentV1ListBooksResponse": {
      "properties": {
        "books": {
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Book"
          },
          "type": "array",
          "description": "The list of books."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListBooksRequest.page_token field in the subsequent call to `ListBooks` method to retrieve the next page of results."
        }
      },
      "id": "GoogleExampleLibraryagentV1ListBooksResponse",
      "type": "object",
      "description": "Response message for LibraryAgent.ListBooks."
    },
    "GoogleExampleLibraryagentV1Shelf": {
      "id": "GoogleExampleLibraryagentV1Shelf",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the shelf. Shelf names have the form `shelves/{shelf_id}`. The name is ignored when creating a shelf."
        },
        "theme": {
          "type": "string",
          "description": "The theme of the shelf"
        }
      },
      "description": "A Shelf contains a collection of books with a theme.",
      "type": "object"
    },
    "GoogleExampleLibraryagentV1ListShelvesResponse": {
      "id": "GoogleExampleLibraryagentV1ListShelvesResponse",
      "properties": {
        "shelves": {
          "description": "The list of shelves.",
          "items": {
            "$ref": "GoogleExampleLibraryagentV1Shelf"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListShelvesRequest.page_token field in the subsequent call to `ListShelves` method to retrieve the next page of results."
        }
      },
      "description": "Response message for LibraryAgent.ListShelves.",
      "type": "object"
    },
    "GoogleExampleLibraryagentV1Book": {
      "properties": {
        "read": {
          "type": "boolean",
          "description": "Value indicating whether the book has been read."
        },
        "title": {
          "type": "string",
          "description": "The title of the book."
        },
        "author": {
          "description": "The name of the book author.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the book. Book names have the form `shelves/{shelf_id}/books/{book_id}`. The name is ignored when creating a book."
        }
      },
      "id": "GoogleExampleLibraryagentV1Book",
      "type": "object",
      "description": "A single book in the library."
    }
  },
  "revision": "20260928"
}