{
  "basePath": "",
  "rootUrl": "https://localservices.googleapis.com/",
  "version": "v1",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "baseUrl": "https://localservices.googleapis.com/",
  "name": "localservices",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "id": "localservices:v1",
  "revision": "20260721",
  "description": "",
  "title": "Local Services API",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "resources": {
    "accountReports": {
      "methods": {
        "search": {
          "parameters": {
            "endDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "query": {
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "type": "string",
              "location": "query"
            },
            "startDate.month": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "format": "int32"
            },
            "startDate.day": {
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer"
            },
            "endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "startDate.year": {
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer"
            },
            "endDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "parameterOrder": [],
          "path": "v1/accountReports:search",
          "flatPath": "v1/accountReports:search",
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "id": "localservices.accountReports.search"
        }
      }
    },
    "detailedLeadReports": {
      "methods": {
        "search": {
          "parameters": {
            "endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "startDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "startDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32"
            },
            "endDate.month": {
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "type": "integer"
            },
            "endDate.year": {
              "type": "integer",
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            },
            "query": {
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "location": "query",
              "type": "string"
            },
            "startDate.month": {
              "type": "integer",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "parameterOrder": [],
          "id": "localservices.detailedLeadReports.search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "httpMethod": "GET",
          "path": "v1/detailedLeadReports:search",
          "flatPath": "v1/detailedLeadReports:search",
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts."
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "ownerName": "Google",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "canonicalName": "Localservices",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "properties": {
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "bookingAppointmentTimestamp": {
          "type": "string",
          "description": "Timestamp of when service is provided by advertiser.",
          "format": "google-datetime"
        },
        "consumerEmail": {
          "description": "Consumer email associated with the booking lead.",
          "type": "string"
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the booking lead.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "type": "object",
      "description": "Container for booking lead specific information."
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "properties": {
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the account.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "currentPeriodChargedLeads": {
          "description": "Number of charged leads the account received in current specified period.",
          "format": "int64",
          "type": "string"
        },
        "phoneLeadResponsiveness": {
          "format": "double",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "type": "number"
        },
        "previousPeriodTotalCost": {
          "type": "number",
          "format": "double",
          "description": "Total cost of the account in previous specified period in the account's specified currency."
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in current specified period."
        },
        "currentPeriodTotalCost": {
          "description": "Total cost of the account in current specified period in the account's specified currency.",
          "format": "double",
          "type": "number"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of the GLS account."
        },
        "totalReview": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of reviews the account has up to current date."
        },
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        },
        "currentPeriodPhoneCalls": {
          "type": "string",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls.",
          "format": "int64"
        },
        "previousPeriodChargedLeads": {
          "type": "string",
          "description": "Number of charged leads the account received in previous specified period.",
          "format": "int64"
        },
        "businessName": {
          "description": "Business name of the account.",
          "type": "string"
        },
        "averageWeeklyBudget": {
          "format": "double",
          "description": "Average weekly budget in the currency code of the account.",
          "type": "number"
        },
        "previousPeriodPhoneCalls": {
          "format": "int64",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls.",
          "type": "string"
        },
        "averageFiveStarRating": {
          "format": "double",
          "description": "Average review rating score from 1-5 stars.",
          "type": "number"
        },
        "previousPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period."
        },
        "impressionsLastTwoDays": {
          "type": "string",
          "description": "Number of impressions that customers have had in the past 2 days.",
          "format": "int64"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "type": "object",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18"
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "type": "object",
      "properties": {
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code of the customer who created the lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the message lead.",
          "type": "string"
        }
      },
      "description": "Container for message lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "type": "object",
      "properties": {
        "leadCategory": {
          "description": "Lead category (e.g. hvac, plumber)",
          "type": "string"
        },
        "leadPrice": {
          "type": "number",
          "format": "double",
          "description": "Price of the lead (available only after it has been charged)."
        },
        "timezone": {
          "description": "Timezone of the particular provider associated to a lead.",
          "$ref": "GoogleTypeTimeZone"
        },
        "accountId": {
          "format": "int64",
          "description": "Identifies account that received the lead.",
          "type": "string"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the lead.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "leadId": {
          "type": "string",
          "format": "int64",
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report."
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        },
        "bookingLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
          "description": "More information associated to only booking leads."
        },
        "chargeStatus": {
          "type": "string",
          "description": "Whether the lead has been charged.",
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ]
        },
        "leadCreationTimestamp": {
          "format": "google-datetime",
          "description": "Timestamp of when the lead was created.",
          "type": "string"
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        },
        "leadType": {
          "type": "string",
          "description": "Lead type.",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ]
        },
        "googleAdsLeadId": {
          "type": "string",
          "description": "Unique identifier of a Detailed Lead Report.",
          "format": "int64"
        },
        "phoneLead": {
          "description": "More information associated to only phone leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
        },
        "currencyCode": {
          "description": "Currency code.",
          "type": "string"
        }
      },
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data."
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "description": "Container for phone lead specific information.",
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "type": "object",
      "properties": {
        "chargedCallTimestamp": {
          "description": "Timestamp of the phone call which resulted in a charged phone lead.",
          "format": "google-datetime",
          "type": "string"
        },
        "chargedConnectedCallDurationSeconds": {
          "format": "google-duration",
          "description": "Duration of the charged phone call in seconds.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the phone lead.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "properties": {
        "detailedLeadReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "type": "array",
          "description": "List of detailed lead reports uniquely identified by external lead id."
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "type": "object",
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "type": "object",
      "properties": {
        "accountReports": {
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      },
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
    }
  },
  "batchPath": "batch"
}