{
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "basePath": "",
  "version": "v1",
  "revision": "20260622",
  "rootUrl": "https://localservices.googleapis.com/",
  "version_module": true,
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "protocol": "rest",
  "title": "Local Services API",
  "discoveryVersion": "v1",
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://localservices.googleapis.com/",
  "description": "",
  "canonicalName": "Localservices",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "localservices:v1",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "resources": {
    "detailedLeadReports": {
      "methods": {
        "search": {
          "path": "v1/detailedLeadReports:search",
          "id": "localservices.detailedLeadReports.search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "flatPath": "v1/detailedLeadReports:search",
          "httpMethod": "GET",
          "parameters": {
            "endDate.year": {
              "location": "query",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional.",
              "type": "string",
              "location": "query"
            },
            "startDate.month": {
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "location": "query"
            },
            "startDate.day": {
              "location": "query",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32"
            },
            "startDate.year": {
              "location": "query",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32"
            },
            "endDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "query": {
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "location": "query",
              "type": "string"
            },
            "endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "accountReports": {
      "methods": {
        "search": {
          "path": "v1/accountReports:search",
          "id": "localservices.accountReports.search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "flatPath": "v1/accountReports:search",
          "httpMethod": "GET",
          "parameters": {
            "endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageSize": {
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "startDate.month": {
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "location": "query"
            },
            "startDate.day": {
              "location": "query",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32"
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
              "type": "string",
              "location": "query"
            },
            "endDate.day": {
              "location": "query",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "format": "int32"
            },
            "startDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required."
            },
            "endDate.month": {
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "parameterOrder": []
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "description": "Container for phone lead specific information.",
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "type": "object",
      "properties": {
        "chargedCallTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the phone call which resulted in a charged phone lead."
        },
        "chargedConnectedCallDurationSeconds": {
          "description": "Duration of the charged phone call in seconds.",
          "format": "google-duration",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the phone lead.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "type": "object",
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account."
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "type": "object",
      "properties": {
        "leadId": {
          "type": "string",
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report.",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Identifies account that received the lead."
        },
        "leadType": {
          "description": "Lead type.",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "type": "string",
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ]
        },
        "googleAdsLeadId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of a Detailed Lead Report."
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        },
        "leadPrice": {
          "type": "number",
          "format": "double",
          "description": "Price of the lead (available only after it has been charged)."
        },
        "chargeStatus": {
          "description": "Whether the lead has been charged.",
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "type": "string",
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ]
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        },
        "timezone": {
          "description": "Timezone of the particular provider associated to a lead.",
          "$ref": "GoogleTypeTimeZone"
        },
        "leadCategory": {
          "type": "string",
          "description": "Lead category (e.g. hvac, plumber)"
        },
        "leadCreationTimestamp": {
          "description": "Timestamp of when the lead was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the lead.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Currency code.",
          "type": "string"
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        },
        "phoneLead": {
          "description": "More information associated to only phone leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
        },
        "bookingLead": {
          "description": "More information associated to only booking leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data."
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "description": "Container for booking lead specific information.",
      "type": "object",
      "properties": {
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the booking lead.",
          "type": "string"
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "bookingAppointmentTimestamp": {
          "type": "string",
          "description": "Timestamp of when service is provided by advertiser.",
          "format": "google-datetime"
        },
        "consumerEmail": {
          "description": "Consumer email associated with the booking lead.",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        }
      }
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "GoogleTypeTimeZone"
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "type": "object",
      "properties": {
        "phoneLeadResponsiveness": {
          "format": "double",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "type": "number"
        },
        "accountId": {
          "format": "int64",
          "description": "Unique identifier of the GLS account.",
          "type": "string"
        },
        "averageFiveStarRating": {
          "type": "number",
          "format": "double",
          "description": "Average review rating score from 1-5 stars."
        },
        "totalReview": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of reviews the account has up to current date."
        },
        "currentPeriodTotalCost": {
          "type": "number",
          "format": "double",
          "description": "Total cost of the account in current specified period in the account's specified currency."
        },
        "impressionsLastTwoDays": {
          "format": "int64",
          "description": "Number of impressions that customers have had in the past 2 days.",
          "type": "string"
        },
        "currentPeriodChargedLeads": {
          "type": "string",
          "description": "Number of charged leads the account received in current specified period.",
          "format": "int64"
        },
        "previousPeriodChargedLeads": {
          "type": "string",
          "description": "Number of charged leads the account received in previous specified period.",
          "format": "int64"
        },
        "previousPeriodPhoneCalls": {
          "type": "string",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls.",
          "format": "int64"
        },
        "previousPeriodTotalCost": {
          "type": "number",
          "format": "double",
          "description": "Total cost of the account in previous specified period in the account's specified currency."
        },
        "currentPeriodPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls."
        },
        "businessName": {
          "type": "string",
          "description": "Business name of the account."
        },
        "averageWeeklyBudget": {
          "format": "double",
          "description": "Average weekly budget in the currency code of the account.",
          "type": "number"
        },
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        },
        "previousPeriodConnectedPhoneCalls": {
          "description": "Number of connected phone calls (duration over 30s) in previous specified period.",
          "format": "int64",
          "type": "string"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the account.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "currentPeriodConnectedPhoneCalls": {
          "description": "Number of connected phone calls (duration over 30s) in current specified period.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "type": "object",
      "properties": {
        "accountReports": {
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "type": "object",
      "properties": {
        "detailedLeadReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "description": "List of detailed lead reports uniquely identified by external lead id."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        }
      },
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "type": "object",
      "properties": {
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the message lead.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code of the customer who created the lead.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "description": "Container for message lead specific information."
    }
  },
  "name": "localservices"
}