{
  "id": "localservices:v1",
  "baseUrl": "https://localservices.googleapis.com/",
  "revision": "20260820",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "resources": {
    "detailedLeadReports": {
      "methods": {
        "search": {
          "path": "v1/detailedLeadReports:search",
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional.",
              "location": "query"
            },
            "endDate.year": {
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "query": {
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "type": "string",
              "location": "query"
            },
            "endDate.month": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "startDate.day": {
              "format": "int32",
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "location": "query"
            },
            "endDate.day": {
              "location": "query",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "startDate.year": {
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "flatPath": "v1/detailedLeadReports:search",
          "httpMethod": "GET",
          "id": "localservices.detailedLeadReports.search",
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ]
        }
      }
    },
    "accountReports": {
      "methods": {
        "search": {
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "httpMethod": "GET",
          "parameters": {
            "startDate.year": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "endDate.day": {
              "format": "int32",
              "location": "query",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "type": "integer"
            },
            "endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
              "type": "string",
              "location": "query"
            },
            "query": {
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "type": "string"
            },
            "startDate.month": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "endDate.month": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
            },
            "startDate.day": {
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "type": "integer",
              "location": "query"
            }
          },
          "path": "v1/accountReports:search",
          "id": "localservices.accountReports.search",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "flatPath": "v1/accountReports:search",
          "parameterOrder": []
        }
      }
    }
  },
  "version": "v1",
  "canonicalName": "Localservices",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "name": "localservices",
  "kind": "discovery#restDescription",
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "rootUrl": "https://localservices.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "description": "",
  "title": "Local Services API",
  "basePath": "",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "type": "object",
      "properties": {
        "accountReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "description": "List of account reports which maps 1:1 to a particular linked GLS account."
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page."
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Currency code of the account."
        },
        "previousPeriodTotalCost": {
          "format": "double",
          "type": "number",
          "description": "Total cost of the account in previous specified period in the account's specified currency."
        },
        "phoneLeadResponsiveness": {
          "format": "double",
          "type": "number",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received."
        },
        "previousPeriodPhoneCalls": {
          "type": "string",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls.",
          "format": "int64"
        },
        "businessName": {
          "description": "Business name of the account.",
          "type": "string"
        },
        "averageWeeklyBudget": {
          "type": "number",
          "format": "double",
          "description": "Average weekly budget in the currency code of the account."
        },
        "averageFiveStarRating": {
          "type": "number",
          "format": "double",
          "description": "Average review rating score from 1-5 stars."
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the account.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in current specified period."
        },
        "totalReview": {
          "description": "Total number of reviews the account has up to current date.",
          "type": "integer",
          "format": "int32"
        },
        "previousPeriodChargedLeads": {
          "type": "string",
          "format": "int64",
          "description": "Number of charged leads the account received in previous specified period."
        },
        "currentPeriodTotalCost": {
          "type": "number",
          "format": "double",
          "description": "Total cost of the account in current specified period in the account's specified currency."
        },
        "impressionsLastTwoDays": {
          "description": "Number of impressions that customers have had in the past 2 days.",
          "format": "int64",
          "type": "string"
        },
        "currentPeriodChargedLeads": {
          "type": "string",
          "format": "int64",
          "description": "Number of charged leads the account received in current specified period."
        },
        "previousPeriodConnectedPhoneCalls": {
          "type": "string",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period.",
          "format": "int64"
        },
        "accountId": {
          "description": "Unique identifier of the GLS account.",
          "type": "string",
          "format": "int64"
        },
        "currentPeriodPhoneCalls": {
          "format": "int64",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "properties": {
        "bookingLead": {
          "description": "More information associated to only booking leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
        },
        "leadCategory": {
          "type": "string",
          "description": "Lead category (e.g. hvac, plumber)"
        },
        "leadCreationTimestamp": {
          "description": "Timestamp of when the lead was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "accountId": {
          "description": "Identifies account that received the lead.",
          "format": "int64",
          "type": "string"
        },
        "leadPrice": {
          "description": "Price of the lead (available only after it has been charged).",
          "type": "number",
          "format": "double"
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        },
        "timezone": {
          "description": "Timezone of the particular provider associated to a lead.",
          "$ref": "GoogleTypeTimeZone"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the lead.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "phoneLead": {
          "description": "More information associated to only phone leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
        },
        "googleAdsLeadId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of a Detailed Lead Report."
        },
        "currencyCode": {
          "description": "Currency code.",
          "type": "string"
        },
        "leadId": {
          "format": "int64",
          "type": "string",
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report."
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        },
        "leadType": {
          "description": "Lead type.",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "type": "string",
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ]
        },
        "chargeStatus": {
          "description": "Whether the lead has been charged.",
          "type": "string",
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ]
        },
        "messageLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
          "description": "More information associated to only message leads."
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "description": "Container for phone lead specific information.",
      "type": "object",
      "properties": {
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the phone lead.",
          "type": "string"
        },
        "chargedConnectedCallDurationSeconds": {
          "format": "google-duration",
          "description": "Duration of the charged phone call in seconds.",
          "type": "string"
        },
        "chargedCallTimestamp": {
          "description": "Timestamp of the phone call which resulted in a charged phone lead.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "description": "Container for message lead specific information.",
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "properties": {
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the customer who created the lead."
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the message lead.",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "type": "object",
      "properties": {
        "consumerEmail": {
          "description": "Consumer email associated with the booking lead.",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the booking lead."
        },
        "bookingAppointmentTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of when service is provided by advertiser."
        },
        "jobType": {
          "type": "string",
          "description": "The job type of the specified lead."
        }
      },
      "description": "Container for booking lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account."
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        },
        "detailedLeadReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "type": "array"
        }
      },
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "type": "object"
    },
    "GoogleTypeTimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "GoogleTypeTimeZone",
      "type": "object"
    }
  },
  "protocol": "rest"
}