{
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "version_module": true,
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "name": "localservices",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "title": "Local Services API",
  "baseUrl": "https://localservices.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "localservices:v1",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "rootUrl": "https://localservices.googleapis.com/",
  "revision": "20260802",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "basePath": "",
  "batchPath": "batch",
  "canonicalName": "Localservices",
  "description": "",
  "protocol": "rest",
  "resources": {
    "accountReports": {
      "methods": {
        "search": {
          "id": "localservices.accountReports.search",
          "flatPath": "v1/accountReports:search",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "path": "v1/accountReports:search",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          },
          "parameters": {
            "query": {
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "startDate.day": {
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "endDate.month": {
              "type": "integer",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            },
            "endDate.year": {
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer"
            },
            "startDate.year": {
              "type": "integer",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "format": "int32"
            },
            "startDate.month": {
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional.",
              "location": "query"
            },
            "endDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            }
          }
        }
      }
    },
    "detailedLeadReports": {
      "methods": {
        "search": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "parameters": {
            "query": {
              "type": "string",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required.",
              "location": "query"
            },
            "startDate.day": {
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "type": "integer"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "location": "query",
              "format": "int32"
            },
            "endDate.year": {
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "endDate.month": {
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "format": "int32"
            },
            "endDate.day": {
              "type": "integer",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query",
              "format": "int32"
            },
            "startDate.year": {
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query",
              "type": "integer"
            },
            "startDate.month": {
              "type": "integer",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/detailedLeadReports:search",
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "id": "localservices.detailedLeadReports.search",
          "flatPath": "v1/detailedLeadReports:search",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ]
        }
      }
    }
  },
  "version": "v1",
  "servicePath": "",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "properties": {
        "accountReports": {
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "type": "array",
          "description": "List of account reports which maps 1:1 to a particular linked GLS account."
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "properties": {
        "phoneLeadResponsiveness": {
          "type": "number",
          "format": "double",
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received."
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the account.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "currentPeriodTotalCost": {
          "format": "double",
          "description": "Total cost of the account in current specified period in the account's specified currency.",
          "type": "number"
        },
        "impressionsLastTwoDays": {
          "description": "Number of impressions that customers have had in the past 2 days.",
          "format": "int64",
          "type": "string"
        },
        "previousPeriodChargedLeads": {
          "type": "string",
          "format": "int64",
          "description": "Number of charged leads the account received in previous specified period."
        },
        "currentPeriodPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls."
        },
        "currentPeriodChargedLeads": {
          "description": "Number of charged leads the account received in current specified period.",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        },
        "averageWeeklyBudget": {
          "type": "number",
          "description": "Average weekly budget in the currency code of the account.",
          "format": "double"
        },
        "previousPeriodPhoneCalls": {
          "format": "int64",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls.",
          "type": "string"
        },
        "averageFiveStarRating": {
          "type": "number",
          "format": "double",
          "description": "Average review rating score from 1-5 stars."
        },
        "previousPeriodConnectedPhoneCalls": {
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period.",
          "type": "string"
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in current specified period."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of the GLS account."
        },
        "previousPeriodTotalCost": {
          "format": "double",
          "description": "Total cost of the account in previous specified period in the account's specified currency.",
          "type": "number"
        },
        "totalReview": {
          "format": "int32",
          "description": "Total number of reviews the account has up to current date.",
          "type": "integer"
        },
        "businessName": {
          "description": "Business name of the account.",
          "type": "string"
        }
      },
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "properties": {
        "detailedLeadReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          },
          "description": "List of detailed lead reports uniquely identified by external lead id."
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "type": "object",
      "description": "Container for phone lead specific information.",
      "properties": {
        "chargedCallTimestamp": {
          "type": "string",
          "description": "Timestamp of the phone call which resulted in a charged phone lead.",
          "format": "google-datetime"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the phone lead.",
          "type": "string"
        },
        "chargedConnectedCallDurationSeconds": {
          "format": "google-duration",
          "description": "Duration of the charged phone call in seconds.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "type": "object",
      "properties": {
        "consumerEmail": {
          "description": "Consumer email associated with the booking lead.",
          "type": "string"
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the booking lead.",
          "type": "string"
        },
        "bookingAppointmentTimestamp": {
          "description": "Timestamp of when service is provided by advertiser.",
          "format": "google-datetime",
          "type": "string"
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        }
      },
      "description": "Container for booking lead specific information."
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      },
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "properties": {
        "bookingLead": {
          "description": "More information associated to only booking leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead"
        },
        "accountId": {
          "format": "int64",
          "description": "Identifies account that received the lead.",
          "type": "string"
        },
        "geo": {
          "description": "Location of the associated account's home city.",
          "type": "string"
        },
        "leadPrice": {
          "type": "number",
          "format": "double",
          "description": "Price of the lead (available only after it has been charged)."
        },
        "timezone": {
          "description": "Timezone of the particular provider associated to a lead.",
          "$ref": "GoogleTypeTimeZone"
        },
        "leadType": {
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "description": "Lead type.",
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ],
          "type": "string"
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        },
        "businessName": {
          "description": "Business name associated to the account.",
          "type": "string"
        },
        "leadCreationTimestamp": {
          "type": "string",
          "description": "Timestamp of when the lead was created.",
          "format": "google-datetime"
        },
        "leadCategory": {
          "description": "Lead category (e.g. hvac, plumber)",
          "type": "string"
        },
        "leadId": {
          "type": "string",
          "format": "int64",
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report."
        },
        "phoneLead": {
          "description": "More information associated to only phone leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the lead.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "googleAdsLeadId": {
          "description": "Unique identifier of a Detailed Lead Report.",
          "format": "int64",
          "type": "string"
        },
        "chargeStatus": {
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "description": "Whether the lead has been charged.",
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ],
          "type": "string"
        },
        "currencyCode": {
          "description": "Currency code.",
          "type": "string"
        }
      },
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "type": "object",
      "properties": {
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code of the customer who created the lead.",
          "type": "string"
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the message lead.",
          "type": "string"
        }
      },
      "description": "Container for message lead specific information."
    },
    "GoogleTypeTimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "GoogleTypeTimeZone",
      "type": "object"
    }
  }
}