{
  "servicePath": "",
  "id": "localservices:v1",
  "version": "v1",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260715",
  "title": "Local Services API",
  "mtlsRootUrl": "https://localservices.mtls.googleapis.com/",
  "name": "localservices",
  "description": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://ads.google.com/local-services-ads/",
  "canonicalName": "Localservices",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "schemas": {
    "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse": {
      "description": "A page of the response received from the SearchDetailedLeadReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "properties": {
        "detailedLeadReports": {
          "type": "array",
          "description": "List of detailed lead reports uniquely identified by external lead id.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse",
      "type": "object"
    },
    "GoogleTypeTimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "GoogleTypeTimeZone",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1PhoneLead": {
      "id": "GoogleAdsHomeservicesLocalservicesV1PhoneLead",
      "type": "object",
      "description": "Container for phone lead specific information.",
      "properties": {
        "chargedConnectedCallDurationSeconds": {
          "description": "Duration of the charged phone call in seconds.",
          "type": "string",
          "format": "google-duration"
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the phone lead."
        },
        "chargedCallTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the phone call which resulted in a charged phone lead."
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse": {
      "description": "A page of the response received from the SearchAccountReports method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "properties": {
        "accountReports": {
          "description": "List of account reports which maps 1:1 to a particular linked GLS account.",
          "items": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1AccountReport"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to retrieve the next page of results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set."
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1MessageLead": {
      "description": "Container for message lead specific information.",
      "properties": {
        "customerName": {
          "type": "string",
          "description": "Name of the customer who created the lead."
        },
        "consumerPhoneNumber": {
          "description": "Consumer phone number associated with the message lead.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the customer who created the lead."
        },
        "jobType": {
          "description": "The job type of the specified lead.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1MessageLead",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo": {
      "id": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
      "type": "object",
      "description": "Conatiner for aggregator specific information if lead is for an aggregator GLS account.",
      "properties": {
        "aggregatorProviderId": {
          "description": "Provider id (listed in aggregator system) which maps to a account id in GLS system.",
          "type": "string"
        }
      }
    },
    "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport": {
      "description": "A Detailed Lead Report of a lead identified by their lead id and contains consumer, account, monetization, and lead data.",
      "properties": {
        "googleAdsLeadId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of a Detailed Lead Report."
        },
        "businessName": {
          "type": "string",
          "description": "Business name associated to the account."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Identifies account that received the lead."
        },
        "bookingLead": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
          "description": "More information associated to only booking leads."
        },
        "leadType": {
          "description": "Lead type.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Message lead.",
            "Phone call lead.",
            "Booking lead."
          ],
          "enum": [
            "LEAD_TYPE_UNSPECIFIED",
            "MESSAGE",
            "PHONE_CALL",
            "BOOKING"
          ]
        },
        "messageLead": {
          "description": "More information associated to only message leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1MessageLead"
        },
        "leadCreationTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when the lead was created."
        },
        "geo": {
          "type": "string",
          "description": "Location of the associated account's home city."
        },
        "aggregatorInfo": {
          "description": "Aggregator specific information related to the lead.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo"
        },
        "timezone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Timezone of the particular provider associated to a lead."
        },
        "disputeStatus": {
          "description": "Dispute status related to the lead.",
          "type": "string"
        },
        "leadId": {
          "type": "string",
          "format": "int64",
          "description": "Deprecated in favor of google_ads_lead_id. Unique identifier of a Detailed Lead Report."
        },
        "leadCategory": {
          "type": "string",
          "description": "Lead category (e.g. hvac, plumber)"
        },
        "phoneLead": {
          "description": "More information associated to only phone leads.",
          "$ref": "GoogleAdsHomeservicesLocalservicesV1PhoneLead"
        },
        "chargeStatus": {
          "enumDescriptions": [
            "Not specified.",
            "Charged.",
            "Not charged."
          ],
          "enum": [
            "CHARGE_STATUS_UNSPECIFIED",
            "CHARGED",
            "NOT_CHARGED"
          ],
          "type": "string",
          "description": "Whether the lead has been charged."
        },
        "leadPrice": {
          "type": "number",
          "format": "double",
          "description": "Price of the lead (available only after it has been charged)."
        },
        "currencyCode": {
          "description": "Currency code.",
          "type": "string"
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1DetailedLeadReport",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1BookingLead": {
      "description": "Container for booking lead specific information.",
      "properties": {
        "bookingAppointmentTimestamp": {
          "description": "Timestamp of when service is provided by advertiser.",
          "type": "string",
          "format": "google-datetime"
        },
        "customerName": {
          "description": "Name of the customer who created the lead.",
          "type": "string"
        },
        "consumerEmail": {
          "description": "Consumer email associated with the booking lead.",
          "type": "string"
        },
        "jobType": {
          "type": "string",
          "description": "The job type of the specified lead."
        },
        "consumerPhoneNumber": {
          "type": "string",
          "description": "Consumer phone number associated with the booking lead."
        }
      },
      "id": "GoogleAdsHomeservicesLocalservicesV1BookingLead",
      "type": "object"
    },
    "GoogleAdsHomeservicesLocalservicesV1AccountReport": {
      "id": "GoogleAdsHomeservicesLocalservicesV1AccountReport",
      "type": "object",
      "description": "An Account Report of a GLS account identified by their account id containing aggregate data gathered from a particular date range. Next ID: 18",
      "properties": {
        "currencyCode": {
          "description": "Currency code of the account.",
          "type": "string"
        },
        "phoneLeadResponsiveness": {
          "description": "Phone lead responsiveness of the account for the past 90 days from current date. This is computed by taking the total number of connected calls from charged phone leads and dividing by the total number of calls received.",
          "type": "number",
          "format": "double"
        },
        "totalReview": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of reviews the account has up to current date."
        },
        "currentPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in current specified period."
        },
        "averageFiveStarRating": {
          "type": "number",
          "format": "double",
          "description": "Average review rating score from 1-5 stars."
        },
        "previousPeriodPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of phone calls in previous specified period, including both connected and unconnected calls."
        },
        "impressionsLastTwoDays": {
          "type": "string",
          "format": "int64",
          "description": "Number of impressions that customers have had in the past 2 days."
        },
        "currentPeriodPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of phone calls in current specified period, including both connected and unconnected calls."
        },
        "currentPeriodChargedLeads": {
          "type": "string",
          "format": "int64",
          "description": "Number of charged leads the account received in current specified period."
        },
        "averageWeeklyBudget": {
          "type": "number",
          "format": "double",
          "description": "Average weekly budget in the currency code of the account."
        },
        "previousPeriodChargedLeads": {
          "description": "Number of charged leads the account received in previous specified period.",
          "type": "string",
          "format": "int64"
        },
        "aggregatorInfo": {
          "$ref": "GoogleAdsHomeservicesLocalservicesV1AggregatorInfo",
          "description": "Aggregator specific information related to the account."
        },
        "businessName": {
          "type": "string",
          "description": "Business name of the account."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Unique identifier of the GLS account."
        },
        "currentPeriodTotalCost": {
          "type": "number",
          "format": "double",
          "description": "Total cost of the account in current specified period in the account's specified currency."
        },
        "previousPeriodConnectedPhoneCalls": {
          "type": "string",
          "format": "int64",
          "description": "Number of connected phone calls (duration over 30s) in previous specified period."
        },
        "previousPeriodTotalCost": {
          "description": "Total cost of the account in previous specified period in the account's specified currency.",
          "type": "number",
          "format": "double"
        }
      }
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adwords": {
          "description": "See, edit, create, and delete your Google Ads accounts and data."
        }
      }
    }
  },
  "basePath": "",
  "version_module": true,
  "rootUrl": "https://localservices.googleapis.com/",
  "baseUrl": "https://localservices.googleapis.com/",
  "resources": {
    "detailedLeadReports": {
      "methods": {
        "search": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Detailed Lead Report for Manager with id | | | 123. | Required."
            },
            "startDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "The `next_page_token` value returned from a previous request to SearchDetailedLeadReports that indicates where listing should continue. Optional.",
              "type": "string"
            },
            "startDate.day": {
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "endDate.day": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "startDate.month": {
              "type": "integer",
              "format": "int32",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "location": "query"
            },
            "endDate.year": {
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "location": "query"
            },
            "endDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional."
            }
          },
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchDetailedLeadReportsResponse"
          },
          "path": "v1/detailedLeadReports:search",
          "parameterOrder": [],
          "id": "localservices.detailedLeadReports.search",
          "flatPath": "v1/detailedLeadReports:search",
          "description": "Get detailed lead reports containing leads that have been received by all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts."
        }
      }
    },
    "accountReports": {
      "methods": {
        "search": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "The maximum number of accounts to return. If the page size is unset, page size will default to 1000. Maximum page_size is 10000. Optional.",
              "type": "integer",
              "format": "int32"
            },
            "startDate.month": {
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "endDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
            },
            "endDate.month": {
              "location": "query",
              "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
              "type": "integer",
              "format": "int32"
            },
            "endDate.day": {
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
              "location": "query"
            },
            "startDate.year": {
              "location": "query",
              "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
              "type": "integer",
              "format": "int32"
            },
            "query": {
              "location": "query",
              "description": "A query string for searching for account reports. Caller must provide a customer id of their MCC account with an associated Gaia Mint that allows read permission on their linked accounts. Search expressions are case insensitive. Example query: | Query | Description | |-------------------------|-----------------------------------------------| | manager_customer_id:123 | Get Account Report for Manager with id 123. | Required.",
              "type": "string"
            },
            "startDate.day": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `next_page_token` value returned from a previous request to SearchAccountReports that indicates where listing should continue. Optional."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/adwords"
          ],
          "httpMethod": "GET",
          "description": "Get account reports containing aggregate account data of all linked GLS accounts. Caller needs to provide their manager customer id and the associated auth credential that allows them read permissions on their linked accounts.",
          "flatPath": "v1/accountReports:search",
          "id": "localservices.accountReports.search",
          "path": "v1/accountReports:search",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAdsHomeservicesLocalservicesV1SearchAccountReportsResponse"
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription"
}