{
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "discoveryVersion": "v1",
  "servicePath": "",
  "basePath": "",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "looker",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "ownerName": "Google",
  "version_module": true,
  "baseUrl": "https://looker.googleapis.com/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://looker.mtls.googleapis.com/",
  "schemas": {
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Required. Day of the week for this MaintenanceWindow (in UTC).",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Required. Time in UTC when the period starts. Maintenance will be scheduled within 60 minutes.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object",
      "description": "Specifies the recurring maintenance window."
    },
    "EncryptionConfig": {
      "type": "object",
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "description": "Name of the CMEK key in KMS (input parameter).",
          "type": "string"
        },
        "kmsKeyState": {
          "enumDescriptions": [
            "CMEK status not specified.",
            "CMEK key is currently valid.",
            "CMEK key is currently revoked (instance should in restricted mode)."
          ],
          "description": "Output only. Status of the CMEK key.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "KMS_KEY_STATE_UNSPECIFIED",
            "VALID",
            "REVOKED"
          ]
        },
        "kmsKeyNameVersion": {
          "description": "Output only. Full name and version of the CMEK key currently in use to encrypt Looker data. Format: `projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`. Empty if CMEK is not configured in this instance.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Encryption configuration (i.e. CMEK)."
    },
    "Instance": {
      "type": "object",
      "id": "Instance",
      "properties": {
        "linkedLspProjectNumber": {
          "type": "string",
          "description": "Optional. Linked Google Cloud Project Number for Looker Studio Pro.",
          "format": "int64"
        },
        "ingressPublicIp": {
          "type": "string",
          "description": "Output only. Public Ingress IP (IPv4).",
          "readOnly": true
        },
        "controlledEgressConfig": {
          "description": "Optional. Controlled egress configuration.",
          "$ref": "ControlledEgressConfig"
        },
        "lookerVersion": {
          "type": "string",
          "description": "Output only. The Looker version that the instance is using.",
          "readOnly": true
        },
        "fipsEnabled": {
          "type": "boolean",
          "description": "Optional. Whether FIPS is enabled on the Looker instance."
        },
        "releaseChannel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified release channel.",
            "Rapid: Most frequent updates.",
            "Regular: Balanced, default for production.",
            "Stable: Least frequent, for maximum stability."
          ],
          "description": "Optional. The selected release channel for the instance.",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ]
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "FAILED",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "EXPORTING",
            "IMPORTING"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "Instance is active and ready for use.",
            "Instance provisioning is in progress.",
            "Instance is in a failed state.",
            "Instance was suspended.",
            "Instance update is in progress.",
            "Instance delete is in progress.",
            "Instance is being exported.",
            "Instance is importing data."
          ],
          "description": "Output only. The state of the instance.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Encryption configuration (CMEK). Only set if CMEK has been enabled on the instance."
        },
        "acceleratedSecurityPatchEnabled": {
          "description": "Optional. Accelerated security patch enabled for the instance.",
          "type": "boolean"
        },
        "pscEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to use Private Service Connect (PSC) for private IP connectivity. If true, neither `public_ip_enabled` nor `private_ip_enabled` can be true."
        },
        "softDeleteReason": {
          "enum": [
            "SOFT_DELETE_REASON_UNSPECIFIED",
            "BILLING_ACCOUNT_ISSUE",
            "TRIAL_EXPIRED",
            "CUSTOMER_REQUEST"
          ],
          "type": "string",
          "description": "Output only. The reason for the instance being in a soft-deleted state.",
          "readOnly": true,
          "enumDescriptions": [
            "Soft delete reason is unspecified. This is the default value.",
            "Instance is soft deleted due to billing account issues.",
            "Instance is soft deleted due to trial expiration.",
            "Instance is soft deleted by the customer."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the Looker instance was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "adminSettings": {
          "$ref": "AdminSettings",
          "description": "Looker Instance Admin settings."
        },
        "periodicExportConfig": {
          "description": "Optional. Configuration for periodic export.",
          "$ref": "PeriodicExportConfig"
        },
        "ingressIpAllowlistConfig": {
          "description": "Optional. Ingress IP allowlist configuration for the Looker instance.",
          "$ref": "IngressIpAllowlistConfig"
        },
        "platformEdition": {
          "enumDescriptions": [
            "Represents an unspecified platform edition.",
            "Represents the Looker Core Trial edition.",
            "Represents the Looker Core Standard edition.",
            "Represents the Looker Core Standard Annual edition.",
            "Represents the Looker Core Enterprise Annual edition.",
            "Represents the Looker Core Embed Annual edition.",
            "Represents the Looker Core Nonprod Standard Annual edition.",
            "Represents the Looker Core Nonprod Enterprise Annual edition.",
            "Represents the Looker Core Nonprod Embed Annual edition.",
            "Represents the Looker Core Trial Standard edition.",
            "Represents the Looker Core Trial Enterprise edition.",
            "Represents the Looker Core Trial Embed edition."
          ],
          "type": "string",
          "description": "Platform edition.",
          "enum": [
            "PLATFORM_EDITION_UNSPECIFIED",
            "LOOKER_CORE_TRIAL",
            "LOOKER_CORE_STANDARD",
            "LOOKER_CORE_STANDARD_ANNUAL",
            "LOOKER_CORE_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_EMBED_ANNUAL",
            "LOOKER_CORE_NONPROD_STANDARD_ANNUAL",
            "LOOKER_CORE_NONPROD_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_NONPROD_EMBED_ANNUAL",
            "LOOKER_CORE_TRIAL_STANDARD",
            "LOOKER_CORE_TRIAL_ENTERPRISE",
            "LOOKER_CORE_TRIAL_EMBED"
          ]
        },
        "maintenanceWindow": {
          "description": "Maintenance window for this instance.",
          "$ref": "MaintenanceWindow"
        },
        "classType": {
          "enumDescriptions": [
            "Unspecified storage class.",
            "Filestore.",
            "PD SSD."
          ],
          "type": "string",
          "description": "Optional. Storage class of the instance.",
          "enum": [
            "CLASS_TYPE_UNSPECIFIED",
            "R1",
            "P1"
          ]
        },
        "lookerUri": {
          "type": "string",
          "description": "Output only. Looker instance URI which can be used to access the Looker Instance UI.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
          "readOnly": true
        },
        "privateIpEnabled": {
          "type": "boolean",
          "description": "Whether private IP is enabled on the Looker instance."
        },
        "publicIpEnabled": {
          "description": "Whether public IP is enabled on the Looker instance.",
          "type": "boolean"
        },
        "egressPublicIp": {
          "description": "Output only. Public Egress IP (IPv4).",
          "readOnly": true,
          "type": "string"
        },
        "controlledEgressEnabled": {
          "type": "boolean",
          "description": "Optional. Whether controlled egress is enabled on the Looker instance."
        },
        "consumerNetwork": {
          "type": "string",
          "description": "Network name in the consumer project. Format: `projects/{project}/global/networks/{network}`. Note that the consumer network may be in a different GCP project than the consumer project that is hosting the Looker Instance."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the Looker instance provisioning was first requested.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "reservedRange": {
          "description": "Name of a reserved IP address range within the Instance.consumer_network, to be used for private services access connection. May or may not be specified in a create request.",
          "type": "string"
        },
        "oauthConfig": {
          "description": "Looker instance OAuth login settings.",
          "$ref": "OAuthConfig"
        },
        "catalogIntegrationOptOut": {
          "type": "boolean",
          "description": "Optional. Indicates whether catalog integration is disabled for the Looker instance."
        },
        "ingressPrivateIp": {
          "type": "string",
          "description": "Output only. Private Ingress IP (IPv4).",
          "readOnly": true
        },
        "lastDenyMaintenancePeriod": {
          "$ref": "DenyMaintenancePeriod",
          "description": "Output only. Last computed maintenance denial period for this instance.",
          "readOnly": true
        },
        "geminiEnabled": {
          "type": "boolean",
          "description": "Optional. Whether Gemini feature is enabled on the Looker instance or not."
        },
        "userMetadata": {
          "description": "Optional. User metadata.",
          "$ref": "UserMetadata"
        },
        "denyMaintenancePeriod": {
          "$ref": "DenyMaintenancePeriod",
          "description": "Maintenance denial period for this instance."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "customDomain": {
          "description": "Custom domain configuration for the instance.",
          "$ref": "CustomDomain"
        },
        "pscConfig": {
          "description": "Optional. PSC configuration. Used when `psc_enabled` is true.",
          "$ref": "PscConfig"
        },
        "maintenanceSchedule": {
          "description": "Maintenance schedule for this instance.",
          "$ref": "MaintenanceSchedule"
        },
        "suspendedTime": {
          "type": "string",
          "description": "Output only. The time when the Looker instance was suspended (soft deleted).",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "A Looker instance."
    },
    "PscConfig": {
      "description": "Information for Private Service Connect (PSC) setup for a Looker instance.",
      "id": "PscConfig",
      "properties": {
        "allowedVpcs": {
          "description": "Optional. List of VPCs that are allowed ingress into looker. Format: projects/{project}/global/networks/{network}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAttachments": {
          "type": "array",
          "items": {
            "$ref": "ServiceAttachment"
          },
          "description": "Optional. List of egress service attachment configurations."
        },
        "lookerServiceAttachmentUri": {
          "type": "string",
          "description": "Output only. URI of the Looker service attachment.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "IngressIpAllowlistRule": {
      "description": "Ingress IP allowlist rule.",
      "type": "object",
      "id": "IngressIpAllowlistRule",
      "properties": {
        "ipRange": {
          "type": "string",
          "description": "Optional. The IP range to allow ingress traffic from."
        },
        "description": {
          "description": "Optional. Description for the IP range.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ExportMetadataEncryptionKey": {
      "description": "Encryption key details for the exported artifact.",
      "id": "ExportMetadataEncryptionKey",
      "properties": {
        "cmek": {
          "type": "string",
          "description": "Name of the CMEK."
        },
        "version": {
          "type": "string",
          "description": "Version of the CMEK."
        }
      },
      "type": "object"
    },
    "ListInstanceBackupsResponse": {
      "description": "Response from listing Looker instance backups.",
      "id": "ListInstanceBackupsResponse",
      "properties": {
        "instanceBackups": {
          "type": "array",
          "items": {
            "$ref": "InstanceBackup"
          },
          "description": "The list of instances matching the request filters, up to the requested `page_size`."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next `page_size` results. If empty, the results list is exhausted.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UndeleteInstanceRequest": {
      "id": "UndeleteInstanceRequest",
      "properties": {},
      "type": "object",
      "description": "Request options for undeleting an instance."
    },
    "CustomDomain": {
      "type": "object",
      "id": "CustomDomain",
      "properties": {
        "state": {
          "description": "Domain state.",
          "enum": [
            "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED",
            "MODIFYING",
            "AVAILABLE",
            "UNAVAILABLE",
            "UNKNOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "DNS record is not created.",
            "DNS record is created.",
            "Calling SLM to update.",
            "ManagedCertificate is ready.",
            "ManagedCertificate is not ready.",
            "Status is not known."
          ]
        },
        "domain": {
          "description": "Domain name.",
          "type": "string"
        }
      },
      "description": "Custom domain information."
    },
    "AdminSettings": {
      "description": "Looker instance Admin settings fields.",
      "id": "AdminSettings",
      "properties": {
        "allowedEmailDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Email domain allowlist for the instance."
        }
      },
      "type": "object"
    },
    "ExportEncryptionConfig": {
      "description": "Configuration for Encryption - e.g. CMEK.",
      "id": "ExportEncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "description": "Required. Name of the CMEK key in KMS.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PeriodicExportConfig": {
      "type": "object",
      "id": "PeriodicExportConfig",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. Name of the CMEK key in KMS. Format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC to start the periodic export job."
        },
        "gcsUri": {
          "description": "Required. Cloud Storage bucket URI for periodic export. Format: gs://{bucket_name}",
          "type": "string"
        }
      },
      "description": "Configuration for periodic export."
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "properties": {
        "instances": {
          "description": "The list of instances matching the request filters, up to the requested ListInstancesRequest.pageSize.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next ListInstancesRequest.pageSize results. If empty, the results list is exhausted.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response from ListInstances."
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "id": "TimeOfDay",
      "properties": {
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "RestoreInstanceRequest": {
      "type": "object",
      "id": "RestoreInstanceRequest",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. Backup being used to restore the instance Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}"
        }
      },
      "description": "Request options for restoring an instance"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "DenyMaintenancePeriod": {
      "type": "object",
      "id": "DenyMaintenancePeriod",
      "properties": {
        "startDate": {
          "description": "Required. Start date of the deny maintenance period.",
          "$ref": "Date"
        },
        "time": {
          "description": "Required. Time in UTC when the period starts and ends.",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date of the deny maintenance period."
        }
      },
      "description": "Specifies the maintenance denial period."
    },
    "ExportInstanceRequest": {
      "id": "ExportInstanceRequest",
      "properties": {
        "encryptionConfig": {
          "$ref": "ExportEncryptionConfig",
          "description": "Required. Encryption configuration (CMEK). For CMEK enabled instances it should be same as looker CMEK."
        },
        "gcsUri": {
          "description": "The path to the folder in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/folderName`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request options for exporting data of an Instance."
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "OAuthConfig": {
      "type": "object",
      "id": "OAuthConfig",
      "properties": {
        "clientSecret": {
          "description": "Input only. Client secret from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        },
        "sharedOauthClientEnabled": {
          "description": "Optional. Whether to use the shared OAuth client. Instances specifying this field do not need to provide client_id and client_secret.",
          "type": "boolean"
        },
        "clientId": {
          "type": "string",
          "description": "Input only. Client ID from an external OAuth application. This is an input-only field, and thus will not be set in any responses."
        }
      },
      "description": "Looker instance OAuth login settings."
    },
    "InstanceBackup": {
      "type": "object",
      "id": "InstanceBackup",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Output only. The time when the backup will be deleted.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The relative resource name of the backup, in the following form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}/backups/{backup}`"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Output only. Current status of the CMEK encryption",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed."
          ],
          "description": "Output only. The current state of the backup.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the backup was started.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "The details of a backup resource."
    },
    "ServiceAttachment": {
      "id": "ServiceAttachment",
      "properties": {
        "failureReason": {
          "description": "Output only. Reason the service attachment creation failed. This value will only be populated if the service attachment encounters an issue during provisioning.",
          "readOnly": true,
          "type": "string"
        },
        "localFqdn": {
          "description": "Optional. Fully qualified domain name that will be used in the private DNS record created for the service attachment.",
          "type": "string"
        },
        "connectionStatus": {
          "description": "Output only. Connection status.",
          "readOnly": true,
          "enumDescriptions": [
            "Connection status is unspecified.",
            "Connection is established and functioning normally.",
            "Connection is not established (Looker tenant project hasn't been allowlisted).",
            "Connection is not established (Looker tenant project is explicitly in reject list).",
            "Issue with target service attachment, e.g. NAT subnet is exhausted.",
            "Target service attachment does not exist. This status is a terminal state."
          ],
          "enum": [
            "UNKNOWN",
            "ACCEPTED",
            "PENDING",
            "REJECTED",
            "NEEDS_ATTENTION",
            "CLOSED"
          ],
          "type": "string"
        },
        "targetServiceAttachmentUri": {
          "description": "Required. URI of the service attachment to connect to. Format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment}",
          "type": "string"
        },
        "localFqdns": {
          "description": "Optional. List of fully qualified domain names that will be used in the private DNS record created for the service attachment.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Service attachment configuration."
    },
    "ControlledEgressConfig": {
      "id": "ControlledEgressConfig",
      "properties": {
        "marketplaceEnabled": {
          "type": "boolean",
          "description": "Optional. Whether marketplace is enabled."
        },
        "egressFqdns": {
          "description": "Optional. List of fully qualified domain names to be added to the allowlist for outbound traffic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "webProxyIps": {
          "description": "Output only. The list of IP addresses used by Secure Web Proxy for outbound traffic.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Controlled egress configuration."
    },
    "ImportInstanceRequest": {
      "description": "Requestion options for importing looker data to an Instance",
      "type": "object",
      "id": "ImportInstanceRequest",
      "properties": {
        "gcsUri": {
          "description": "Path to the import folder in Google Cloud Storage, in the form `gs://bucketName/folderName`.",
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "type": "string",
          "description": "API version used to start the operation."
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "IngressIpAllowlistConfig": {
      "type": "object",
      "id": "IngressIpAllowlistConfig",
      "properties": {
        "enabled": {
          "description": "Optional. Whether ingress IP allowlist functionality is enabled on the Looker instance.",
          "type": "boolean"
        },
        "allowlistRules": {
          "type": "array",
          "items": {
            "$ref": "IngressIpAllowlistRule"
          },
          "description": "Optional. List of IP range rules to allow ingress traffic."
        },
        "googleServicesEnabled": {
          "type": "boolean",
          "description": "Optional. Whether google service connections are enabled for the instance."
        }
      },
      "description": "Ingress IP allowlist configuration."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "UserMetadata": {
      "id": "UserMetadata",
      "properties": {
        "additionalStandardUserCount": {
          "description": "Optional. The number of additional standard users the instance owner has purchased.",
          "format": "int32",
          "type": "integer"
        },
        "additionalViewerUserCount": {
          "type": "integer",
          "description": "Optional. The number of additional viewer users the instance owner has purchased.",
          "format": "int32"
        },
        "additionalDeveloperUserCount": {
          "description": "Optional. The number of additional developer users the instance owner has purchased.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Metadata about users for a Looker instance."
    },
    "RestartInstanceRequest": {
      "type": "object",
      "id": "RestartInstanceRequest",
      "properties": {},
      "description": "Request options for restarting an instance."
    },
    "ExportMetadata": {
      "id": "ExportMetadata",
      "properties": {
        "lookerEncryptionKey": {
          "description": "Looker encryption key, encrypted with the provided export encryption key. This value will only be populated if the looker instance uses Looker managed encryption instead of CMEK.",
          "type": "string"
        },
        "lookerVersion": {
          "type": "string",
          "description": "Version of instance when the export was created."
        },
        "lookerPlatformEdition": {
          "type": "string",
          "description": "Platform edition of the exported instance."
        },
        "source": {
          "description": "The source type of the migration.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LOOKER_CORE",
            "LOOKER_ORIGINAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Source not specified",
            "Source of export is Looker Core",
            "Source of export is Looker Original"
          ]
        },
        "lookerInstance": {
          "type": "string",
          "description": "Name of the exported instance. Format: projects/{project}/locations/{location}/instances/{instance}"
        },
        "exportEncryptionKey": {
          "$ref": "ExportMetadataEncryptionKey",
          "description": "Encryption key that was used to encrypt the export artifacts."
        },
        "filePaths": {
          "description": "List of files created as part of export artifact (excluding the metadata). The paths are relative to the folder containing the metadata.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "ExportMetadata represents the metadata of the exported artifacts. The metadata.json file in export artifact can be parsed as this message"
    },
    "MaintenanceSchedule": {
      "description": "Published upcoming future maintenance schedule.",
      "type": "object",
      "id": "MaintenanceSchedule",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The scheduled end time for the maintenance.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    }
  },
  "revision": "20260609",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "looker.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "looker.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "id": "looker.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "id": "looker.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "instances": {
              "methods": {
                "restart": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RestartInstanceRequest"
                  },
                  "id": "looker.projects.locations.instances.restart",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restart",
                  "httpMethod": "POST",
                  "description": "Restart instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:restart",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "looker.projects.locations.instances.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/instances",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "A page token received from a previous ListInstancesRequest.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of instances to return. If unspecified at most 256 will be returned. The maximum possible value is 2048.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "showDeleted": {
                      "type": "boolean",
                      "description": "Optional. Whether to include deleted instances in the response.",
                      "location": "query"
                    }
                  },
                  "description": "Lists Instances in a given project and location.",
                  "response": {
                    "$ref": "ListInstancesResponse"
                  }
                },
                "undelete": {
                  "request": {
                    "$ref": "UndeleteInstanceRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Undeletes Looker instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:undelete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "looker.projects.locations.instances.undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:undelete",
                  "httpMethod": "POST"
                },
                "restore": {
                  "id": "looker.projects.locations.instances.restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "httpMethod": "POST",
                  "description": "Restore Looker instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:restore",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Instance being restored Format: projects/{project}/locations/{location}/instances/{instance}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Update Instance.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. Field mask used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "PATCH",
                  "id": "looker.projects.locations.instances.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Instance"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new Instance in a given project and location.",
                  "path": "v1/{+parent}/instances",
                  "parameters": {
                    "instanceId": {
                      "type": "string",
                      "description": "Required. The unique instance identifier. Must contain only lowercase letters, numbers, or hyphens, with the first character a letter and the last a letter or a number. 63 characters maximum.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "POST",
                  "id": "looker.projects.locations.instances.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Instance"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "export": {
                  "id": "looker.projects.locations.instances.export",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:export",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:export",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`."
                    }
                  },
                  "description": "Export instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ExportInstanceRequest"
                  }
                },
                "import": {
                  "request": {
                    "$ref": "ImportInstanceRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Import instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:import",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "id": "looker.projects.locations.instances.import",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:import",
                  "httpMethod": "POST"
                },
                "get": {
                  "id": "looker.projects.locations.instances.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets details of a single Instance.",
                  "response": {
                    "$ref": "Instance"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "force": {
                      "location": "query",
                      "description": "Whether to force cascading delete.",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "looker.projects.locations.instances.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "DELETE"
                }
              },
              "resources": {
                "backups": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "httpMethod": "DELETE",
                      "id": "looker.projects.locations.instances.backups.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Delete backup.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}"
                        }
                      }
                    },
                    "list": {
                      "path": "v1/{+parent}/backups",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of instances to return.",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A page token received from a previous ListInstances request.",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Sort results. Default order is \"create_time desc\". Other supported fields are \"state\" and \"expire_time\". https://google.aip.dev/132#ordering"
                        }
                      },
                      "description": "List backups of Looker instance.",
                      "response": {
                        "$ref": "ListInstanceBackupsResponse"
                      },
                      "id": "looker.projects.locations.instances.backups.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "InstanceBackup"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}/backups/{backup}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "looker.projects.locations.instances.backups.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "path": "v1/{+parent}/backups",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Backup Looker instance.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "httpMethod": "POST",
                      "id": "looker.projects.locations.instances.backups.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "InstanceBackup"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "id": "looker.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "id": "looker.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://looker.googleapis.com/",
  "canonicalName": "Looker",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "id": "looker:v1",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/looker/docs/reference/rest/",
  "title": "Looker (Google Cloud core) API"
}