{
  "ownerDomain": "google.com",
  "baseUrl": "https://looker.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/looker/docs/reference/rest/",
  "servicePath": "",
  "version": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "looker.projects.locations.list",
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "id": "looker.projects.locations.get",
              "path": "v1/{+name}",
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "instances": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token received from a previous ListInstancesRequest.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of instances to return. If unspecified at most 256 will be returned. The maximum possible value is 2048.",
                      "location": "query",
                      "type": "integer"
                    },
                    "showDeleted": {
                      "description": "Optional. Whether to include deleted instances in the response.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Instances in a given project and location.",
                  "id": "looker.projects.locations.instances.list",
                  "path": "v1/{+parent}/instances"
                },
                "undelete": {
                  "id": "looker.projects.locations.instances.undelete",
                  "path": "v1/{+name}:undelete",
                  "description": "Undeletes Looker instance.",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:undelete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "UndeleteInstanceRequest"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true
                    },
                    "force": {
                      "description": "Whether to force cascading delete.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete instance.",
                  "id": "looker.projects.locations.instances.delete",
                  "path": "v1/{+name}"
                },
                "create": {
                  "id": "looker.projects.locations.instances.create",
                  "path": "v1/{+parent}/instances",
                  "description": "Creates a new Instance in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "location": "path"
                    },
                    "instanceId": {
                      "description": "Required. The unique instance identifier. Must contain only lowercase letters, numbers, or hyphens, with the first character a letter and the last a letter or a number. 63 characters maximum.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "restart": {
                  "description": "Restart instance.",
                  "id": "looker.projects.locations.instances.restart",
                  "path": "v1/{+name}:restart",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RestartInstanceRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restart",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "description": "Gets details of a single Instance.",
                  "id": "looker.projects.locations.instances.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Instance"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "restore": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Instance being restored Format: projects/{project}/locations/{location}/instances/{instance}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Restore Looker instance.",
                  "id": "looker.projects.locations.instances.restore",
                  "path": "v1/{+name}:restore"
                },
                "export": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:export",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ExportInstanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "looker.projects.locations.instances.export",
                  "path": "v1/{+name}:export",
                  "description": "Export instance."
                },
                "patch": {
                  "description": "Update Instance.",
                  "id": "looker.projects.locations.instances.patch",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Instance"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Field mask used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true
                    }
                  }
                },
                "import": {
                  "description": "Import instance.",
                  "id": "looker.projects.locations.instances.import",
                  "path": "v1/{+name}:import",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ImportInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:import"
                }
              },
              "resources": {
                "backups": {
                  "methods": {
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "InstanceBackup"
                      },
                      "id": "looker.projects.locations.instances.backups.create",
                      "path": "v1/{+parent}/backups",
                      "description": "Backup Looker instance."
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$"
                        }
                      },
                      "description": "Delete backup.",
                      "id": "looker.projects.locations.instances.backups.delete",
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "orderBy": {
                          "description": "Sort results. Default order is \"create_time desc\". Other supported fields are \"state\" and \"expire_time\". https://google.aip.dev/132#ordering",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A page token received from a previous ListInstances request.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of instances to return.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListInstanceBackupsResponse"
                      },
                      "id": "looker.projects.locations.instances.backups.list",
                      "path": "v1/{+parent}/backups",
                      "description": "List backups of Looker instance."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}/backups/{backup}`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "InstanceBackup"
                      },
                      "httpMethod": "GET",
                      "id": "looker.projects.locations.instances.backups.get",
                      "path": "v1/{+name}",
                      "description": ""
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "looker.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path"
                    }
                  }
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "looker.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "looker.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "looker.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "rootUrl": "https://looker.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "description": "",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "revision": "20260703",
  "ownerName": "Google",
  "mtlsRootUrl": "https://looker.mtls.googleapis.com/",
  "schemas": {
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "RestartInstanceRequest": {
      "properties": {},
      "type": "object",
      "id": "RestartInstanceRequest",
      "description": "Request options for restarting an instance."
    },
    "ExportMetadata": {
      "properties": {
        "exportEncryptionKey": {
          "$ref": "ExportMetadataEncryptionKey",
          "description": "Encryption key that was used to encrypt the export artifacts."
        },
        "source": {
          "type": "string",
          "description": "The source type of the migration.",
          "enumDescriptions": [
            "Source not specified",
            "Source of export is Looker Core",
            "Source of export is Looker Original"
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LOOKER_CORE",
            "LOOKER_ORIGINAL"
          ]
        },
        "lookerInstance": {
          "description": "Name of the exported instance. Format: projects/{project}/locations/{location}/instances/{instance}",
          "type": "string"
        },
        "lookerVersion": {
          "description": "Version of instance when the export was created.",
          "type": "string"
        },
        "lookerPlatformEdition": {
          "type": "string",
          "description": "Platform edition of the exported instance."
        },
        "lookerEncryptionKey": {
          "type": "string",
          "description": "Looker encryption key, encrypted with the provided export encryption key. This value will only be populated if the looker instance uses Looker managed encryption instead of CMEK."
        },
        "filePaths": {
          "description": "List of files created as part of export artifact (excluding the metadata). The paths are relative to the folder containing the metadata.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ExportMetadata",
      "description": "ExportMetadata represents the metadata of the exported artifacts. The metadata.json file in export artifact can be parsed as this message"
    },
    "MaintenanceSchedule": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The scheduled end time for the maintenance.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The scheduled start time for the maintenance.",
          "format": "google-datetime"
        }
      },
      "id": "MaintenanceSchedule",
      "description": "Published upcoming future maintenance schedule.",
      "type": "object"
    },
    "PscConfig": {
      "properties": {
        "allowedVpcs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of VPCs that are allowed ingress into looker. Format: projects/{project}/global/networks/{network}"
        },
        "serviceAttachments": {
          "description": "Optional. List of egress service attachment configurations.",
          "type": "array",
          "items": {
            "$ref": "ServiceAttachment"
          }
        },
        "lookerServiceAttachmentUri": {
          "type": "string",
          "description": "Output only. URI of the Looker service attachment.",
          "readOnly": true
        }
      },
      "id": "PscConfig",
      "description": "Information for Private Service Connect (PSC) setup for a Looker instance.",
      "type": "object"
    },
    "RestoreInstanceRequest": {
      "id": "RestoreInstanceRequest",
      "description": "Request options for restoring an instance",
      "type": "object",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. Backup being used to restore the instance Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}"
        }
      }
    },
    "UndeleteInstanceRequest": {
      "type": "object",
      "id": "UndeleteInstanceRequest",
      "description": "Request options for undeleting an instance.",
      "properties": {}
    },
    "ExportInstanceRequest": {
      "properties": {
        "gcsUri": {
          "description": "The path to the folder in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/folderName`.",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Required. Encryption configuration (CMEK). For CMEK enabled instances it should be same as looker CMEK.",
          "$ref": "ExportEncryptionConfig"
        }
      },
      "type": "object",
      "id": "ExportInstanceRequest",
      "description": "Request options for exporting data of an Instance."
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation finished running.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "target": {
          "type": "string",
          "description": "Server-defined resource path for the target of the operation."
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "Date": {
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "EncryptionConfig": {
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Name of the CMEK key in KMS (input parameter)."
        },
        "kmsKeyState": {
          "description": "Output only. Status of the CMEK key.",
          "readOnly": true,
          "enumDescriptions": [
            "CMEK status not specified.",
            "CMEK key is currently valid.",
            "CMEK key is currently revoked (instance should in restricted mode)."
          ],
          "enum": [
            "KMS_KEY_STATE_UNSPECIFIED",
            "VALID",
            "REVOKED"
          ],
          "type": "string"
        },
        "kmsKeyNameVersion": {
          "type": "string",
          "description": "Output only. Full name and version of the CMEK key currently in use to encrypt Looker data. Format: `projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`. Empty if CMEK is not configured in this instance.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "EncryptionConfig",
      "description": "Encryption configuration (i.e. CMEK)."
    },
    "ExportEncryptionConfig": {
      "type": "object",
      "id": "ExportEncryptionConfig",
      "description": "Configuration for Encryption - e.g. CMEK.",
      "properties": {
        "kmsKeyName": {
          "description": "Required. Name of the CMEK key in KMS.",
          "type": "string"
        }
      }
    },
    "InstanceBackup": {
      "type": "object",
      "id": "InstanceBackup",
      "description": "The details of a backup resource.",
      "properties": {
        "state": {
          "description": "Output only. The current state of the backup.",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED"
          ],
          "type": "string"
        },
        "name": {
          "description": "Immutable. The relative resource name of the backup, in the following form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}/backups/{backup}`",
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Output only. Current status of the CMEK encryption",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the backup was started.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. The time when the backup will be deleted.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "ListInstanceBackupsResponse": {
      "id": "ListInstanceBackupsResponse",
      "description": "Response from listing Looker instance backups.",
      "type": "object",
      "properties": {
        "instanceBackups": {
          "type": "array",
          "items": {
            "$ref": "InstanceBackup"
          },
          "description": "The list of instances matching the request filters, up to the requested `page_size`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If provided, a page token that can look up the next `page_size` results. If empty, the results list is exhausted."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IngressIpAllowlistConfig": {
      "id": "IngressIpAllowlistConfig",
      "description": "Ingress IP allowlist configuration.",
      "type": "object",
      "properties": {
        "googleServicesEnabled": {
          "type": "boolean",
          "description": "Optional. Whether google service connections are enabled for the instance."
        },
        "enabled": {
          "description": "Optional. Whether ingress IP allowlist functionality is enabled on the Looker instance.",
          "type": "boolean"
        },
        "allowlistRules": {
          "type": "array",
          "items": {
            "$ref": "IngressIpAllowlistRule"
          },
          "description": "Optional. List of IP range rules to allow ingress traffic."
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "TimeOfDay": {
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        }
      },
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "UserMetadata": {
      "type": "object",
      "id": "UserMetadata",
      "description": "Metadata about users for a Looker instance.",
      "properties": {
        "additionalStandardUserCount": {
          "description": "Optional. The number of additional standard users the instance owner has purchased.",
          "type": "integer",
          "format": "int32"
        },
        "additionalDeveloperUserCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of additional developer users the instance owner has purchased."
        },
        "additionalViewerUserCount": {
          "description": "Optional. The number of additional viewer users the instance owner has purchased.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DenyMaintenancePeriod": {
      "properties": {
        "startDate": {
          "description": "Required. Start date of the deny maintenance period.",
          "$ref": "Date"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date of the deny maintenance period."
        },
        "time": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC when the period starts and ends."
        }
      },
      "id": "DenyMaintenancePeriod",
      "description": "Specifies the maintenance denial period.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "ListInstancesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next ListInstancesRequest.pageSize results. If empty, the results list is exhausted.",
          "type": "string"
        },
        "instances": {
          "description": "The list of instances matching the request filters, up to the requested ListInstancesRequest.pageSize.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListInstancesResponse",
      "description": "Response from ListInstances.",
      "type": "object"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "Specifies the recurring maintenance window.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required. Time in UTC when the period starts. Maintenance will be scheduled within 60 minutes.",
          "$ref": "TimeOfDay"
        },
        "dayOfWeek": {
          "type": "string",
          "description": "Required. Day of the week for this MaintenanceWindow (in UTC).",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      }
    },
    "ExportMetadataEncryptionKey": {
      "id": "ExportMetadataEncryptionKey",
      "description": "Encryption key details for the exported artifact.",
      "type": "object",
      "properties": {
        "cmek": {
          "type": "string",
          "description": "Name of the CMEK."
        },
        "version": {
          "type": "string",
          "description": "Version of the CMEK."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "ControlledEgressConfig": {
      "id": "ControlledEgressConfig",
      "description": "Controlled egress configuration.",
      "type": "object",
      "properties": {
        "egressFqdns": {
          "description": "Optional. List of fully qualified domain names to be added to the allowlist for outbound traffic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "marketplaceEnabled": {
          "type": "boolean",
          "description": "Optional. Whether marketplace is enabled."
        },
        "webProxyIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of IP addresses used by Secure Web Proxy for outbound traffic.",
          "readOnly": true
        }
      }
    },
    "ImportInstanceRequest": {
      "type": "object",
      "id": "ImportInstanceRequest",
      "description": "Requestion options for importing looker data to an Instance",
      "properties": {
        "gcsUri": {
          "description": "Path to the import folder in Google Cloud Storage, in the form `gs://bucketName/folderName`.",
          "type": "string"
        }
      }
    },
    "CustomDomain": {
      "properties": {
        "domain": {
          "description": "Domain name.",
          "type": "string"
        },
        "state": {
          "description": "Domain state.",
          "enumDescriptions": [
            "Unspecified state.",
            "DNS record is not created.",
            "DNS record is created.",
            "Calling SLM to update.",
            "ManagedCertificate is ready.",
            "ManagedCertificate is not ready.",
            "Status is not known."
          ],
          "enum": [
            "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED",
            "MODIFYING",
            "AVAILABLE",
            "UNAVAILABLE",
            "UNKNOWN"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomDomain",
      "description": "Custom domain information."
    },
    "ServiceAttachment": {
      "properties": {
        "connectionStatus": {
          "type": "string",
          "description": "Output only. Connection status.",
          "readOnly": true,
          "enumDescriptions": [
            "Connection status is unspecified.",
            "Connection is established and functioning normally.",
            "Connection is not established (Looker tenant project hasn't been allowlisted).",
            "Connection is not established (Looker tenant project is explicitly in reject list).",
            "Issue with target service attachment, e.g. NAT subnet is exhausted.",
            "Target service attachment does not exist. This status is a terminal state."
          ],
          "enum": [
            "UNKNOWN",
            "ACCEPTED",
            "PENDING",
            "REJECTED",
            "NEEDS_ATTENTION",
            "CLOSED"
          ]
        },
        "localFqdns": {
          "description": "Optional. List of fully qualified domain names that will be used in the private DNS record created for the service attachment.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failureReason": {
          "type": "string",
          "description": "Output only. Reason the service attachment creation failed. This value will only be populated if the service attachment encounters an issue during provisioning.",
          "readOnly": true
        },
        "targetServiceAttachmentUri": {
          "type": "string",
          "description": "Required. URI of the service attachment to connect to. Format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment}"
        },
        "localFqdn": {
          "type": "string",
          "description": "Optional. Fully qualified domain name that will be used in the private DNS record created for the service attachment."
        }
      },
      "id": "ServiceAttachment",
      "description": "Service attachment configuration.",
      "type": "object"
    },
    "IngressIpAllowlistRule": {
      "id": "IngressIpAllowlistRule",
      "description": "Ingress IP allowlist rule.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description for the IP range.",
          "type": "string"
        },
        "ipRange": {
          "type": "string",
          "description": "Optional. The IP range to allow ingress traffic from."
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "description": "A Looker instance.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the instance.",
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "Instance is active and ready for use.",
            "Instance provisioning is in progress.",
            "Instance is in a failed state.",
            "Instance was suspended.",
            "Instance update is in progress.",
            "Instance delete is in progress.",
            "Instance is being exported.",
            "Instance is importing data."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "FAILED",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "EXPORTING",
            "IMPORTING"
          ]
        },
        "releaseChannel": {
          "type": "string",
          "description": "Optional. The selected release channel for the instance.",
          "enumDescriptions": [
            "Unspecified release channel.",
            "Rapid: Most frequent updates.",
            "Regular: Balanced, default for production.",
            "Stable: Least frequent, for maximum stability."
          ],
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ]
        },
        "classType": {
          "type": "string",
          "description": "Optional. Storage class of the instance.",
          "enumDescriptions": [
            "Unspecified storage class.",
            "Filestore.",
            "PD SSD."
          ],
          "enum": [
            "CLASS_TYPE_UNSPECIFIED",
            "R1",
            "P1"
          ]
        },
        "adminSettings": {
          "$ref": "AdminSettings",
          "description": "Looker Instance Admin settings."
        },
        "platformEdition": {
          "description": "Platform edition.",
          "enumDescriptions": [
            "Represents an unspecified platform edition.",
            "Represents the Looker Core Trial edition.",
            "Represents the Looker Core Standard edition.",
            "Represents the Looker Core Standard Annual edition.",
            "Represents the Looker Core Enterprise Annual edition.",
            "Represents the Looker Core Embed Annual edition.",
            "Represents the Looker Core Nonprod Standard Annual edition.",
            "Represents the Looker Core Nonprod Enterprise Annual edition.",
            "Represents the Looker Core Nonprod Embed Annual edition.",
            "Represents the Looker Core Trial Standard edition.",
            "Represents the Looker Core Trial Enterprise edition.",
            "Represents the Looker Core Trial Embed edition."
          ],
          "enum": [
            "PLATFORM_EDITION_UNSPECIFIED",
            "LOOKER_CORE_TRIAL",
            "LOOKER_CORE_STANDARD",
            "LOOKER_CORE_STANDARD_ANNUAL",
            "LOOKER_CORE_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_EMBED_ANNUAL",
            "LOOKER_CORE_NONPROD_STANDARD_ANNUAL",
            "LOOKER_CORE_NONPROD_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_NONPROD_EMBED_ANNUAL",
            "LOOKER_CORE_TRIAL_STANDARD",
            "LOOKER_CORE_TRIAL_ENTERPRISE",
            "LOOKER_CORE_TRIAL_EMBED"
          ],
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Encryption configuration (CMEK). Only set if CMEK has been enabled on the instance.",
          "$ref": "EncryptionConfig"
        },
        "softDeleteReason": {
          "type": "string",
          "description": "Output only. The reason for the instance being in a soft-deleted state.",
          "readOnly": true,
          "enumDescriptions": [
            "Soft delete reason is unspecified. This is the default value.",
            "Instance is soft deleted due to billing account issues.",
            "Instance is soft deleted due to trial expiration.",
            "Instance is soft deleted by the customer."
          ],
          "enum": [
            "SOFT_DELETE_REASON_UNSPECIFIED",
            "BILLING_ACCOUNT_ISSUE",
            "TRIAL_EXPIRED",
            "CUSTOMER_REQUEST"
          ]
        },
        "lookerUri": {
          "type": "string",
          "description": "Output only. Looker instance URI which can be used to access the Looker Instance UI.",
          "readOnly": true
        },
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Looker instance OAuth login settings."
        },
        "reservedRange": {
          "description": "Name of a reserved IP address range within the Instance.consumer_network, to be used for private services access connection. May or may not be specified in a create request.",
          "type": "string"
        },
        "ingressPrivateIp": {
          "type": "string",
          "description": "Output only. Private Ingress IP (IPv4).",
          "readOnly": true
        },
        "catalogIntegrationOptOut": {
          "description": "Optional. Indicates whether catalog integration is disabled for the Looker instance.",
          "type": "boolean"
        },
        "geminiEnabled": {
          "type": "boolean",
          "description": "Optional. Whether Gemini feature is enabled on the Looker instance or not."
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "Maintenance window for this instance."
        },
        "periodicExportConfig": {
          "$ref": "PeriodicExportConfig",
          "description": "Optional. Configuration for periodic export."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "suspendedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the Looker instance was suspended (soft deleted).",
          "readOnly": true
        },
        "acceleratedSecurityPatchEnabled": {
          "type": "boolean",
          "description": "Optional. Accelerated security patch enabled for the instance."
        },
        "pscConfig": {
          "description": "Optional. PSC configuration. Used when `psc_enabled` is true.",
          "$ref": "PscConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the Looker instance provisioning was first requested.",
          "readOnly": true
        },
        "lookerVersion": {
          "type": "string",
          "description": "Output only. The Looker version that the instance is using.",
          "readOnly": true
        },
        "ingressPublicIp": {
          "type": "string",
          "description": "Output only. Public Ingress IP (IPv4).",
          "readOnly": true
        },
        "controlledEgressConfig": {
          "description": "Optional. Controlled egress configuration.",
          "$ref": "ControlledEgressConfig"
        },
        "publicIpEnabled": {
          "type": "boolean",
          "description": "Whether public IP is enabled on the Looker instance."
        },
        "consumerNetwork": {
          "type": "string",
          "description": "Network name in the consumer project. Format: `projects/{project}/global/networks/{network}`. Note that the consumer network may be in a different GCP project than the consumer project that is hosting the Looker Instance."
        },
        "privateIpEnabled": {
          "type": "boolean",
          "description": "Whether private IP is enabled on the Looker instance."
        },
        "egressPublicIp": {
          "type": "string",
          "description": "Output only. Public Egress IP (IPv4).",
          "readOnly": true
        },
        "ingressIpAllowlistConfig": {
          "description": "Optional. Ingress IP allowlist configuration for the Looker instance.",
          "$ref": "IngressIpAllowlistConfig"
        },
        "pscEnabled": {
          "description": "Optional. Whether to use Private Service Connect (PSC) for private IP connectivity. If true, neither `public_ip_enabled` nor `private_ip_enabled` can be true.",
          "type": "boolean"
        },
        "controlledEgressEnabled": {
          "description": "Optional. Whether controlled egress is enabled on the Looker instance.",
          "type": "boolean"
        },
        "linkedLspProjectNumber": {
          "format": "int64",
          "description": "Optional. Linked Google Cloud Project Number for Looker Studio Pro.",
          "type": "string"
        },
        "maintenanceSchedule": {
          "$ref": "MaintenanceSchedule",
          "description": "Maintenance schedule for this instance."
        },
        "customDomain": {
          "$ref": "CustomDomain",
          "description": "Custom domain configuration for the instance."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the Looker instance was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "denyMaintenancePeriod": {
          "description": "Maintenance denial period for this instance.",
          "$ref": "DenyMaintenancePeriod"
        },
        "name": {
          "type": "string",
          "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
          "readOnly": true
        },
        "lastDenyMaintenancePeriod": {
          "description": "Output only. Last computed maintenance denial period for this instance.",
          "readOnly": true,
          "$ref": "DenyMaintenancePeriod"
        },
        "fipsEnabled": {
          "description": "Optional. Whether FIPS is enabled on the Looker instance.",
          "type": "boolean"
        },
        "userMetadata": {
          "$ref": "UserMetadata",
          "description": "Optional. User metadata."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "AdminSettings": {
      "id": "AdminSettings",
      "description": "Looker instance Admin settings fields.",
      "type": "object",
      "properties": {
        "allowedEmailDomains": {
          "description": "Email domain allowlist for the instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PeriodicExportConfig": {
      "type": "object",
      "id": "PeriodicExportConfig",
      "description": "Configuration for periodic export.",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. Name of the CMEK key in KMS. Format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}"
        },
        "gcsUri": {
          "description": "Required. Cloud Storage bucket URI for periodic export. Format: gs://{bucket_name}",
          "type": "string"
        },
        "startTime": {
          "description": "Required. Time in UTC to start the periodic export job.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "Status": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Location": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "OAuthConfig": {
      "type": "object",
      "id": "OAuthConfig",
      "description": "Looker instance OAuth login settings.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "Input only. Client ID from an external OAuth application. This is an input-only field, and thus will not be set in any responses."
        },
        "sharedOauthClientEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to use the shared OAuth client. Instances specifying this field do not need to provide client_id and client_secret."
        },
        "clientSecret": {
          "description": "Input only. Client secret from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        }
      }
    }
  },
  "title": "Looker (Google Cloud core) API",
  "id": "looker:v1",
  "canonicalName": "Looker",
  "name": "looker",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}