{
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://looker.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://looker.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://looker.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://looker.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://looker.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://looker.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://looker.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://looker.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://looker.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://looker.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    }
  ],
  "description": "",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "title": "Looker (Google Cloud core) API",
  "schemas": {
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomDomain": {
      "type": "object",
      "id": "CustomDomain",
      "description": "Custom domain information.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain name."
        },
        "state": {
          "description": "Domain state.",
          "enumDescriptions": [
            "Unspecified state.",
            "DNS record is not created.",
            "DNS record is created.",
            "Calling SLM to update.",
            "ManagedCertificate is ready.",
            "ManagedCertificate is not ready.",
            "Status is not known."
          ],
          "type": "string",
          "enum": [
            "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED",
            "MODIFYING",
            "AVAILABLE",
            "UNAVAILABLE",
            "UNKNOWN"
          ]
        }
      }
    },
    "ExportMetadata": {
      "properties": {
        "exportEncryptionKey": {
          "description": "Encryption key that was used to encrypt the export artifacts.",
          "$ref": "ExportMetadataEncryptionKey"
        },
        "lookerInstance": {
          "type": "string",
          "description": "Name of the exported instance. Format: projects/{project}/locations/{location}/instances/{instance}"
        },
        "lookerEncryptionKey": {
          "type": "string",
          "description": "Looker encryption key, encrypted with the provided export encryption key. This value will only be populated if the looker instance uses Looker managed encryption instead of CMEK."
        },
        "filePaths": {
          "items": {
            "type": "string"
          },
          "description": "List of files created as part of export artifact (excluding the metadata). The paths are relative to the folder containing the metadata.",
          "type": "array"
        },
        "esaSourceDatasetId": {
          "description": "Source BigQuery dataset (formatted as `project_id:dataset_id`) for O2C Elite System Activity (ESA) direct dataset migration.",
          "type": "string"
        },
        "lookerVersion": {
          "description": "Version of instance when the export was created.",
          "type": "string"
        },
        "lookerPlatformEdition": {
          "description": "Platform edition of the exported instance.",
          "type": "string"
        },
        "exportMetrics": {
          "description": "Overall export metrics, timing, and component telemetry.",
          "$ref": "ExportMetrics"
        },
        "source": {
          "description": "The source type of the migration.",
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LOOKER_CORE",
            "LOOKER_ORIGINAL",
            "LOOKER_SELF_HOSTED"
          ],
          "enumDescriptions": [
            "Source not specified",
            "Source of export is Looker Core",
            "Source of export is Looker Original",
            "Source of export is Self-Hosted Looker"
          ]
        }
      },
      "id": "ExportMetadata",
      "type": "object",
      "description": "ExportMetadata represents the metadata of the exported artifacts. The metadata.json file in export artifact can be parsed as this message"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "ImportInstanceRequest": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "Path to the import folder in Google Cloud Storage, in the form `gs://bucketName/folderName`.",
          "type": "string"
        }
      },
      "id": "ImportInstanceRequest",
      "description": "Requestion options for importing looker data to an Instance"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "AdminSettings": {
      "properties": {
        "allowedEmailDomains": {
          "type": "array",
          "description": "Email domain allowlist for the instance.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Looker instance Admin settings fields.",
      "type": "object",
      "id": "AdminSettings"
    },
    "PeriodicExportConfig": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Required. Time in UTC to start the periodic export job.",
          "$ref": "TimeOfDay"
        },
        "gcsUri": {
          "description": "Required. Cloud Storage bucket URI for periodic export. Format: gs://{bucket_name}",
          "type": "string"
        },
        "kmsKey": {
          "description": "Required. Name of the CMEK key in KMS. Format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}",
          "type": "string"
        }
      },
      "id": "PeriodicExportConfig",
      "description": "Configuration for periodic export."
    },
    "RestartInstanceRequest": {
      "description": "Request options for restarting an instance.",
      "properties": {},
      "type": "object",
      "id": "RestartInstanceRequest"
    },
    "UserMetadata": {
      "properties": {
        "additionalStandardUserCount": {
          "format": "int32",
          "description": "Optional. The number of additional standard users the instance owner has purchased.",
          "type": "integer"
        },
        "additionalDeveloperUserCount": {
          "format": "int32",
          "description": "Optional. The number of additional developer users the instance owner has purchased.",
          "type": "integer"
        },
        "additionalViewerUserCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of additional viewer users the instance owner has purchased."
        }
      },
      "description": "Metadata about users for a Looker instance.",
      "id": "UserMetadata",
      "type": "object"
    },
    "PscConfig": {
      "type": "object",
      "properties": {
        "serviceAttachments": {
          "items": {
            "$ref": "ServiceAttachment"
          },
          "description": "Optional. List of egress service attachment configurations.",
          "type": "array"
        },
        "lookerServiceAttachmentUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the Looker service attachment."
        },
        "allowedVpcs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of VPCs that are allowed ingress into looker. Format: projects/{project}/global/networks/{network}"
        }
      },
      "description": "Information for Private Service Connect (PSC) setup for a Looker instance.",
      "id": "PscConfig"
    },
    "ExportEncryptionConfig": {
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Required. Name of the CMEK key in KMS."
        }
      },
      "type": "object",
      "id": "ExportEncryptionConfig",
      "description": "Configuration for Encryption - e.g. CMEK."
    },
    "IngressIpAllowlistRule": {
      "properties": {
        "ipRange": {
          "description": "Optional. The IP range to allow ingress traffic from.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for the IP range."
        }
      },
      "type": "object",
      "description": "Ingress IP allowlist rule.",
      "id": "IngressIpAllowlistRule"
    },
    "ListInstanceBackupsResponse": {
      "id": "ListInstanceBackupsResponse",
      "type": "object",
      "description": "Response from listing Looker instance backups.",
      "properties": {
        "instanceBackups": {
          "type": "array",
          "description": "The list of instances matching the request filters, up to the requested `page_size`.",
          "items": {
            "$ref": "InstanceBackup"
          }
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next `page_size` results. If empty, the results list is exhausted.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "Date": {
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "DenyMaintenancePeriod": {
      "type": "object",
      "description": "Specifies the maintenance denial period.",
      "id": "DenyMaintenancePeriod",
      "properties": {
        "time": {
          "description": "Required. Time in UTC when the period starts and ends.",
          "$ref": "TimeOfDay"
        },
        "startDate": {
          "description": "Required. Start date of the deny maintenance period.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "Required. End date of the deny maintenance period.",
          "$ref": "Date"
        }
      }
    },
    "Instance": {
      "type": "object",
      "properties": {
        "suspendedTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the Looker instance was suspended (soft deleted)."
        },
        "fipsEnabled": {
          "type": "boolean",
          "description": "Optional. Whether FIPS is enabled on the Looker instance."
        },
        "egressPublicIp": {
          "description": "Output only. Public Egress IP (IPv4).",
          "type": "string",
          "readOnly": true
        },
        "controlledEgressConfig": {
          "description": "Optional. Controlled egress configuration.",
          "$ref": "ControlledEgressConfig"
        },
        "userMetadata": {
          "description": "Optional. User metadata.",
          "$ref": "UserMetadata"
        },
        "controlledEgressEnabled": {
          "description": "Optional. Whether controlled egress is enabled on the Looker instance.",
          "type": "boolean"
        },
        "publicIpEnabled": {
          "type": "boolean",
          "description": "Whether public IP is enabled on the Looker instance."
        },
        "classType": {
          "description": "Optional. Storage class of the instance.",
          "type": "string",
          "enum": [
            "CLASS_TYPE_UNSPECIFIED",
            "R1",
            "P1"
          ],
          "enumDescriptions": [
            "Unspecified storage class.",
            "Filestore.",
            "PD SSD."
          ]
        },
        "ingressIpAllowlistConfig": {
          "$ref": "IngressIpAllowlistConfig",
          "description": "Optional. Ingress IP allowlist configuration for the Looker instance."
        },
        "denyMaintenancePeriod": {
          "description": "Maintenance denial period for this instance.",
          "$ref": "DenyMaintenancePeriod"
        },
        "ingressPublicIp": {
          "description": "Output only. Public Ingress IP (IPv4).",
          "readOnly": true,
          "type": "string"
        },
        "maintenanceSchedule": {
          "$ref": "MaintenanceSchedule",
          "description": "Maintenance schedule for this instance."
        },
        "geminiEnabled": {
          "description": "Optional. Whether Gemini feature is enabled on the Looker instance or not.",
          "type": "boolean"
        },
        "consumerNetwork": {
          "description": "Network name in the consumer project. Format: `projects/{project}/global/networks/{network}`. Note that the consumer network may be in a different GCP project than the consumer project that is hosting the Looker Instance.",
          "type": "string"
        },
        "periodicExportConfig": {
          "description": "Optional. Configuration for periodic export.",
          "$ref": "PeriodicExportConfig"
        },
        "pscConfig": {
          "description": "Optional. PSC configuration. Used when `psc_enabled` is true.",
          "$ref": "PscConfig"
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Instance is active and ready for use.",
            "Instance provisioning is in progress.",
            "Instance is in a failed state.",
            "Instance was suspended.",
            "Instance update is in progress.",
            "Instance delete is in progress.",
            "Instance is being exported.",
            "Instance is importing data."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "FAILED",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "EXPORTING",
            "IMPORTING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the instance."
        },
        "linkedLspProjectNumber": {
          "description": "Optional. Linked Google Cloud Project Number for Looker Studio Pro.",
          "format": "int64",
          "type": "string"
        },
        "softDeleteReason": {
          "enumDescriptions": [
            "Soft delete reason is unspecified. This is the default value.",
            "Instance is soft deleted due to billing account issues.",
            "Instance is soft deleted due to trial expiration.",
            "Instance is soft deleted by the customer."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SOFT_DELETE_REASON_UNSPECIFIED",
            "BILLING_ACCOUNT_ISSUE",
            "TRIAL_EXPIRED",
            "CUSTOMER_REQUEST"
          ],
          "description": "Output only. The reason for the instance being in a soft-deleted state."
        },
        "adminSettings": {
          "$ref": "AdminSettings",
          "description": "Looker Instance Admin settings."
        },
        "catalogIntegrationOptOut": {
          "type": "boolean",
          "description": "Optional. Indicates whether catalog integration is disabled for the Looker instance."
        },
        "reservedRange": {
          "description": "Name of a reserved IP address range within the Instance.consumer_network, to be used for private services access connection. May or may not be specified in a create request.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Looker instance was last updated.",
          "readOnly": true
        },
        "lookerUri": {
          "description": "Output only. Looker instance URI which can be used to access the Looker Instance UI.",
          "readOnly": true,
          "type": "string"
        },
        "customDomain": {
          "$ref": "CustomDomain",
          "description": "Custom domain configuration for the instance."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the Looker instance provisioning was first requested.",
          "readOnly": true,
          "type": "string"
        },
        "lookerVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Looker version that the instance is using."
        },
        "releaseChannel": {
          "enumDescriptions": [
            "Unspecified release channel.",
            "Rapid: Most frequent updates.",
            "Regular: Balanced, default for production.",
            "Stable: Least frequent, for maximum stability."
          ],
          "type": "string",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "description": "Optional. The selected release channel for the instance."
        },
        "ingressPrivateIp": {
          "type": "string",
          "description": "Output only. Private Ingress IP (IPv4).",
          "readOnly": true
        },
        "encryptionConfig": {
          "description": "Encryption configuration (CMEK). Only set if CMEK has been enabled on the instance.",
          "$ref": "EncryptionConfig"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "platformEdition": {
          "enumDescriptions": [
            "Represents an unspecified platform edition.",
            "Represents the Looker Core Trial edition.",
            "Represents the Looker Core Standard edition.",
            "Represents the Looker Core Standard Annual edition.",
            "Represents the Looker Core Enterprise Annual edition.",
            "Represents the Looker Core Embed Annual edition.",
            "Represents the Looker Core Nonprod Standard Annual edition.",
            "Represents the Looker Core Nonprod Enterprise Annual edition.",
            "Represents the Looker Core Nonprod Embed Annual edition.",
            "Represents the Looker Core Trial Standard edition.",
            "Represents the Looker Core Trial Enterprise edition.",
            "Represents the Looker Core Trial Embed edition."
          ],
          "description": "Platform edition.",
          "type": "string",
          "enum": [
            "PLATFORM_EDITION_UNSPECIFIED",
            "LOOKER_CORE_TRIAL",
            "LOOKER_CORE_STANDARD",
            "LOOKER_CORE_STANDARD_ANNUAL",
            "LOOKER_CORE_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_EMBED_ANNUAL",
            "LOOKER_CORE_NONPROD_STANDARD_ANNUAL",
            "LOOKER_CORE_NONPROD_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_NONPROD_EMBED_ANNUAL",
            "LOOKER_CORE_TRIAL_STANDARD",
            "LOOKER_CORE_TRIAL_ENTERPRISE",
            "LOOKER_CORE_TRIAL_EMBED"
          ]
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "lastDenyMaintenancePeriod": {
          "$ref": "DenyMaintenancePeriod",
          "readOnly": true,
          "description": "Output only. Last computed maintenance denial period for this instance."
        },
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Looker instance OAuth login settings."
        },
        "pscEnabled": {
          "description": "Optional. Whether to use Private Service Connect (PSC) for private IP connectivity. If true, neither `public_ip_enabled` nor `private_ip_enabled` can be true.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`."
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "Maintenance window for this instance."
        },
        "privateIpEnabled": {
          "description": "Whether private IP is enabled on the Looker instance.",
          "type": "boolean"
        },
        "acceleratedSecurityPatchEnabled": {
          "type": "boolean",
          "description": "Optional. Accelerated security patch enabled for the instance."
        }
      },
      "id": "Instance",
      "description": "A Looker instance."
    },
    "ExportMetadataEncryptionKey": {
      "description": "Encryption key details for the exported artifact.",
      "type": "object",
      "id": "ExportMetadataEncryptionKey",
      "properties": {
        "version": {
          "description": "Version of the CMEK.",
          "type": "string"
        },
        "cmek": {
          "description": "Name of the CMEK.",
          "type": "string"
        }
      }
    },
    "MaintenanceWindow": {
      "properties": {
        "dayOfWeek": {
          "description": "Required. Day of the week for this MaintenanceWindow (in UTC).",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC when the period starts. Maintenance will be scheduled within 60 minutes."
        }
      },
      "id": "MaintenanceWindow",
      "description": "Specifies the recurring maintenance window.",
      "type": "object"
    },
    "ComponentMetrics": {
      "description": "ComponentMetrics contains sizing, timing, retries, and metrics for an exported component.",
      "id": "ComponentMetrics",
      "properties": {
        "sizeGb": {
          "type": "number",
          "format": "double",
          "description": "Size of the exported component in gigabytes."
        },
        "retryCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of retries during the component export."
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of the component export."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End timestamp of the component export."
        },
        "componentType": {
          "description": "Type of the exported component.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BQ_ESA",
            "DB",
            "FS",
            "ALL"
          ],
          "enumDescriptions": [
            "Unspecified component type.",
            "BigQuery Elite System Activity component.",
            "Database component.",
            "File system component.",
            "Overall Export Job."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start timestamp of the component export.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "EncryptionConfig": {
      "description": "Encryption configuration (i.e. CMEK).",
      "id": "EncryptionConfig",
      "type": "object",
      "properties": {
        "kmsKeyNameVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full name and version of the CMEK key currently in use to encrypt Looker data. Format: `projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`. Empty if CMEK is not configured in this instance."
        },
        "kmsKeyState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "KMS_KEY_STATE_UNSPECIFIED",
            "VALID",
            "REVOKED"
          ],
          "description": "Output only. Status of the CMEK key.",
          "enumDescriptions": [
            "CMEK status not specified.",
            "CMEK key is currently valid.",
            "CMEK key is currently revoked (instance should in restricted mode)."
          ]
        },
        "kmsKeyName": {
          "description": "Name of the CMEK key in KMS (input parameter).",
          "type": "string"
        }
      }
    },
    "MaintenanceSchedule": {
      "properties": {
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The scheduled end time for the maintenance."
        }
      },
      "type": "object",
      "description": "Published upcoming future maintenance schedule.",
      "id": "MaintenanceSchedule"
    },
    "IngressIpAllowlistConfig": {
      "description": "Ingress IP allowlist configuration.",
      "properties": {
        "allowlistRules": {
          "items": {
            "$ref": "IngressIpAllowlistRule"
          },
          "type": "array",
          "description": "Optional. List of IP range rules to allow ingress traffic."
        },
        "googleServicesEnabled": {
          "description": "Optional. Whether google service connections are enabled for the instance.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Optional. Whether ingress IP allowlist functionality is enabled on the Looker instance.",
          "type": "boolean"
        }
      },
      "id": "IngressIpAllowlistConfig",
      "type": "object"
    },
    "InstanceBackup": {
      "description": "The details of a backup resource.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the backup was started.",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The relative resource name of the backup, in the following form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}/backups/{backup}`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed."
          ],
          "description": "Output only. The current state of the backup.",
          "readOnly": true
        },
        "encryptionConfig": {
          "readOnly": true,
          "$ref": "EncryptionConfig",
          "description": "Output only. Current status of the CMEK encryption"
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. The time when the backup will be deleted.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "InstanceBackup",
      "type": "object"
    },
    "ExportMetrics": {
      "type": "object",
      "id": "ExportMetrics",
      "properties": {
        "instanceInternalName": {
          "type": "string",
          "description": "Internal name of the instance being exported."
        },
        "componentMetrics": {
          "description": "Metrics and telemetry for each exported component.",
          "items": {
            "$ref": "ComponentMetrics"
          },
          "type": "array"
        }
      },
      "description": "ExportMetrics contains overall export execution metrics, timing, and component telemetry."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "ServiceAttachment": {
      "properties": {
        "localFqdn": {
          "description": "Optional. Fully qualified domain name that will be used in the private DNS record created for the service attachment.",
          "type": "string"
        },
        "failureReason": {
          "type": "string",
          "description": "Output only. Reason the service attachment creation failed. This value will only be populated if the service attachment encounters an issue during provisioning.",
          "readOnly": true
        },
        "localFqdns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of fully qualified domain names that will be used in the private DNS record created for the service attachment.",
          "type": "array"
        },
        "connectionStatus": {
          "enumDescriptions": [
            "Connection status is unspecified.",
            "Connection is established and functioning normally.",
            "Connection is not established (Looker tenant project hasn't been allowlisted).",
            "Connection is not established (Looker tenant project is explicitly in reject list).",
            "Issue with target service attachment, e.g. NAT subnet is exhausted.",
            "Target service attachment does not exist. This status is a terminal state."
          ],
          "description": "Output only. Connection status.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "ACCEPTED",
            "PENDING",
            "REJECTED",
            "NEEDS_ATTENTION",
            "CLOSED"
          ],
          "readOnly": true
        },
        "targetServiceAttachmentUri": {
          "type": "string",
          "description": "Required. URI of the service attachment to connect to. Format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment}"
        }
      },
      "description": "Service attachment configuration.",
      "id": "ServiceAttachment",
      "type": "object"
    },
    "UndeleteInstanceRequest": {
      "description": "Request options for undeleting an instance.",
      "properties": {},
      "id": "UndeleteInstanceRequest",
      "type": "object"
    },
    "OAuthConfig": {
      "type": "object",
      "id": "OAuthConfig",
      "description": "Looker instance OAuth login settings.",
      "properties": {
        "clientSecret": {
          "description": "Input only. Client secret from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        },
        "sharedOauthClientEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to use the shared OAuth client. Instances specifying this field do not need to provide client_id and client_secret."
        },
        "clientId": {
          "description": "Input only. Client ID from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        }
      }
    },
    "ListInstancesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "type": "array",
          "description": "The list of instances matching the request filters, up to the requested `pageSize`."
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next `pageSize` results. If empty, the results list is exhausted.",
          "type": "string"
        }
      },
      "description": "Response from ListInstances.",
      "id": "ListInstancesResponse"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      },
      "type": "object"
    },
    "ControlledEgressConfig": {
      "id": "ControlledEgressConfig",
      "description": "Controlled egress configuration.",
      "type": "object",
      "properties": {
        "egressFqdns": {
          "description": "Optional. List of fully qualified domain names to be added to the allowlist for outbound traffic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "marketplaceEnabled": {
          "description": "Optional. Whether marketplace is enabled.",
          "type": "boolean"
        },
        "webProxyIps": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of IP addresses used by Secure Web Proxy for outbound traffic."
        }
      }
    },
    "RestoreInstanceRequest": {
      "description": "Request options for restoring an instance",
      "id": "RestoreInstanceRequest",
      "type": "object",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. Backup being used to restore the instance Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}"
        }
      }
    },
    "ExportInstanceRequest": {
      "id": "ExportInstanceRequest",
      "description": "Request options for exporting data of an Instance.",
      "properties": {
        "gcsUri": {
          "description": "The path to the folder in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/folderName`.",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Required. Encryption configuration (CMEK). For CMEK enabled instances it should be same as looker CMEK.",
          "$ref": "ExportEncryptionConfig"
        }
      },
      "type": "object"
    },
    "Location": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    }
  },
  "mtlsRootUrl": "https://looker.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "rootUrl": "https://looker.googleapis.com/",
  "id": "looker:v1",
  "batchPath": "batch",
  "canonicalName": "Looker",
  "revision": "20260916",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    }
  },
  "documentationLink": "https://cloud.google.com/looker/docs/reference/rest/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "instances": {
              "resources": {
                "backups": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/backups",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of instances to return.",
                          "location": "query",
                          "type": "integer"
                        },
                        "orderBy": {
                          "description": "Sort results. Default order is \"create_time desc\". Other supported fields are \"state\" and \"expire_time\". https://google.aip.dev/132#ordering",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token received from a previous ListInstances request."
                        }
                      },
                      "response": {
                        "$ref": "ListInstanceBackupsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "id": "looker.projects.locations.instances.backups.list",
                      "httpMethod": "GET",
                      "description": "List backups of Looker instance."
                    },
                    "get": {
                      "response": {
                        "$ref": "InstanceBackup"
                      },
                      "httpMethod": "GET",
                      "description": "",
                      "id": "looker.projects.locations.instances.backups.get",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}/backups/{backup}`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "InstanceBackup"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "looker.projects.locations.instances.backups.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "path": "v1/{+parent}/backups",
                      "description": "Backup Looker instance.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "id": "looker.projects.locations.instances.backups.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Delete backup.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "import": {
                  "id": "looker.projects.locations.instances.import",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ImportInstanceRequest"
                  },
                  "path": "v1/{+name}:import",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`."
                    }
                  },
                  "description": "Import instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:import"
                },
                "delete": {
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "description": "Whether to force cascading delete.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "looker.projects.locations.instances.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "description": "Delete instance.",
                  "path": "v1/{+name}"
                },
                "list": {
                  "path": "v1/{+parent}/instances",
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "parameters": {
                    "showDeleted": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Whether to include deleted instances in the response."
                    },
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token received from a previous ListInstancesRequest."
                    },
                    "pageSize": {
                      "description": "The maximum number of instances to return. If unspecified at most 256 will be returned. The maximum possible value is 2048.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "description": "Lists Instances in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "looker.projects.locations.instances.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances"
                },
                "patch": {
                  "description": "Update Instance.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "looker.projects.locations.instances.patch",
                  "request": {
                    "$ref": "Instance"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Field mask used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
                    },
                    "name": {
                      "type": "string",
                      "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "undelete": {
                  "request": {
                    "$ref": "UndeleteInstanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Undeletes Looker instance.",
                  "id": "looker.projects.locations.instances.undelete",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:undelete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                      "type": "string"
                    }
                  }
                },
                "restore": {
                  "description": "Restore Looker instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Instance being restored Format: projects/{project}/locations/{location}/instances/{instance}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "looker.projects.locations.instances.restore",
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "path": "v1/{+name}:restore",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "description": "Gets details of a single Instance.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "looker.projects.locations.instances.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Instance"
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "looker.projects.locations.instances.create",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/instances",
                  "description": "Creates a new Instance in a given project and location.",
                  "request": {
                    "$ref": "Instance"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "instanceId": {
                      "description": "Required. The unique instance identifier. Must contain only lowercase letters, numbers, or hyphens, with the first character a letter and the last a letter or a number. 63 characters maximum.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "export": {
                  "description": "Export instance.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "looker.projects.locations.instances.export",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ExportInstanceRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:export",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:export"
                },
                "restart": {
                  "httpMethod": "POST",
                  "description": "Restart instance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "looker.projects.locations.instances.restart",
                  "request": {
                    "$ref": "RestartInstanceRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:restart",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restart"
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "looker.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "looker.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "looker.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET"
                },
                "delete": {
                  "id": "looker.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                }
              }
            }
          },
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "looker.projects.locations.list",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "id": "looker.projects.locations.get",
              "response": {
                "$ref": "Location"
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version": "v1",
  "name": "looker",
  "protocol": "rest",
  "baseUrl": "https://looker.googleapis.com/",
  "servicePath": ""
}