{
  "discoveryVersion": "v1",
  "rootUrl": "https://looker.googleapis.com/",
  "version": "v1",
  "title": "Looker (Google Cloud core) API",
  "revision": "20260726",
  "ownerDomain": "google.com",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "basePath": "",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "id": "looker:v1",
  "documentationLink": "https://cloud.google.com/looker/docs/reference/rest/",
  "canonicalName": "Looker",
  "mtlsRootUrl": "https://looker.mtls.googleapis.com/",
  "baseUrl": "https://looker.googleapis.com/",
  "name": "looker",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "id": "looker.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Location"
              },
              "id": "looker.projects.locations.get",
              "description": "Gets information about a location.",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "looker.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "id": "looker.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    }
                  },
                  "id": "looker.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "id": "looker.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "instances": {
              "methods": {
                "restore": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restore",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RestoreInstanceRequest"
                  },
                  "path": "v1/{+name}:restore",
                  "id": "looker.projects.locations.instances.restore",
                  "description": "Restore Looker instance.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "Required. Instance being restored Format: projects/{project}/locations/{location}/instances/{instance}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "looker.projects.locations.instances.delete",
                  "description": "Delete instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "force": {
                      "location": "query",
                      "description": "Whether to force cascading delete.",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/instances",
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "A page token received from a previous ListInstancesRequest.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of instances to return. If unspecified at most 256 will be returned. The maximum possible value is 2048.",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "type": "string"
                    },
                    "showDeleted": {
                      "location": "query",
                      "description": "Optional. Whether to include deleted instances in the response.",
                      "type": "boolean"
                    }
                  },
                  "id": "looker.projects.locations.instances.list",
                  "description": "Lists Instances in a given project and location.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Instance"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "looker.projects.locations.instances.get",
                  "description": "Gets details of a single Instance."
                },
                "patch": {
                  "id": "looker.projects.locations.instances.patch",
                  "description": "Update Instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Instance"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "undelete": {
                  "request": {
                    "$ref": "UndeleteInstanceRequest"
                  },
                  "path": "v1/{+name}:undelete",
                  "id": "looker.projects.locations.instances.undelete",
                  "description": "Undeletes Looker instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:undelete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "restart": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:restart",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RestartInstanceRequest"
                  },
                  "path": "v1/{+name}:restart",
                  "id": "looker.projects.locations.instances.restart",
                  "description": "Restart instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string"
                    }
                  }
                },
                "export": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:export",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "looker.projects.locations.instances.export",
                  "description": "Export instance.",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ExportInstanceRequest"
                  },
                  "path": "v1/{+name}:export"
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Instance"
                  },
                  "path": "v1/{+parent}/instances",
                  "id": "looker.projects.locations.instances.create",
                  "description": "Creates a new Instance in a given project and location.",
                  "parameters": {
                    "instanceId": {
                      "location": "query",
                      "description": "Required. The unique instance identifier. Must contain only lowercase letters, numbers, or hyphens, with the first character a letter and the last a letter or a number. 63 characters maximum.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "import": {
                  "request": {
                    "$ref": "ImportInstanceRequest"
                  },
                  "path": "v1/{+name}:import",
                  "id": "looker.projects.locations.instances.import",
                  "description": "Import instance.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:import",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "backups": {
                  "methods": {
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "looker.projects.locations.instances.backups.delete",
                      "description": "Delete backup.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "path": "v1/{+parent}/backups",
                      "response": {
                        "$ref": "ListInstanceBackupsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of instances to return.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Sort results. Default order is \"create_time desc\". Other supported fields are \"state\" and \"expire_time\". https://google.aip.dev/132#ordering",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token received from a previous ListInstances request.",
                          "type": "string"
                        }
                      },
                      "id": "looker.projects.locations.instances.backups.list",
                      "description": "List backups of Looker instance.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups/{backupsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "id": "looker.projects.locations.instances.backups.get",
                      "description": "",
                      "response": {
                        "$ref": "InstanceBackup"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Format: `projects/{project}/locations/{location}/instances/{instance}/backups/{backup}`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/backups/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/backups",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "looker.projects.locations.instances.backups.create",
                      "description": "Backup Looker instance.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "InstanceBackup"
                      },
                      "path": "v1/{+parent}/backups"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer"
        }
      }
    },
    "IngressIpAllowlistRule": {
      "properties": {
        "description": {
          "description": "Optional. Description for the IP range.",
          "type": "string"
        },
        "ipRange": {
          "description": "Optional. The IP range to allow ingress traffic from.",
          "type": "string"
        }
      },
      "id": "IngressIpAllowlistRule",
      "description": "Ingress IP allowlist rule.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "InstanceBackup": {
      "properties": {
        "name": {
          "description": "Immutable. The relative resource name of the backup, in the following form: `projects/{project_number}/locations/{location_id}/instances/{instance_id}/backups/{backup}`",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED"
          ],
          "description": "Output only. The current state of the backup.",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. The time when the backup will be deleted.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "encryptionConfig": {
          "readOnly": true,
          "$ref": "EncryptionConfig",
          "description": "Output only. Current status of the CMEK encryption"
        }
      },
      "id": "InstanceBackup",
      "description": "The details of a backup resource.",
      "type": "object"
    },
    "RestoreInstanceRequest": {
      "id": "RestoreInstanceRequest",
      "description": "Request options for restoring an instance",
      "type": "object",
      "properties": {
        "backup": {
          "description": "Required. Backup being used to restore the instance Format: projects/{project}/locations/{location}/instances/{instance}/backups/{backup}",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "description": "The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "apiVersion": {
          "description": "API version used to start the operation.",
          "type": "string"
        }
      }
    },
    "ServiceAttachment": {
      "properties": {
        "localFqdn": {
          "description": "Optional. Fully qualified domain name that will be used in the private DNS record created for the service attachment.",
          "type": "string"
        },
        "failureReason": {
          "description": "Output only. Reason the service attachment creation failed. This value will only be populated if the service attachment encounters an issue during provisioning.",
          "type": "string",
          "readOnly": true
        },
        "connectionStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Connection status is unspecified.",
            "Connection is established and functioning normally.",
            "Connection is not established (Looker tenant project hasn't been allowlisted).",
            "Connection is not established (Looker tenant project is explicitly in reject list).",
            "Issue with target service attachment, e.g. NAT subnet is exhausted.",
            "Target service attachment does not exist. This status is a terminal state."
          ],
          "enum": [
            "UNKNOWN",
            "ACCEPTED",
            "PENDING",
            "REJECTED",
            "NEEDS_ATTENTION",
            "CLOSED"
          ],
          "description": "Output only. Connection status.",
          "type": "string"
        },
        "localFqdns": {
          "description": "Optional. List of fully qualified domain names that will be used in the private DNS record created for the service attachment.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetServiceAttachmentUri": {
          "description": "Required. URI of the service attachment to connect to. Format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment}",
          "type": "string"
        }
      },
      "id": "ServiceAttachment",
      "description": "Service attachment configuration.",
      "type": "object"
    },
    "AdminSettings": {
      "properties": {
        "allowedEmailDomains": {
          "description": "Email domain allowlist for the instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AdminSettings",
      "description": "Looker instance Admin settings fields.",
      "type": "object"
    },
    "MaintenanceWindow": {
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Required. Time in UTC when the period starts. Maintenance will be scheduled within 60 minutes."
        },
        "dayOfWeek": {
          "description": "Required. Day of the week for this MaintenanceWindow (in UTC).",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "id": "MaintenanceWindow",
      "description": "Specifies the recurring maintenance window.",
      "type": "object"
    },
    "ListInstanceBackupsResponse": {
      "id": "ListInstanceBackupsResponse",
      "description": "Response from listing Looker instance backups.",
      "type": "object",
      "properties": {
        "instanceBackups": {
          "description": "The list of instances matching the request filters, up to the requested `page_size`.",
          "type": "array",
          "items": {
            "$ref": "InstanceBackup"
          }
        },
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next `page_size` results. If empty, the results list is exhausted.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "ExportMetadata": {
      "id": "ExportMetadata",
      "description": "ExportMetadata represents the metadata of the exported artifacts. The metadata.json file in export artifact can be parsed as this message",
      "type": "object",
      "properties": {
        "lookerPlatformEdition": {
          "description": "Platform edition of the exported instance.",
          "type": "string"
        },
        "exportEncryptionKey": {
          "$ref": "ExportMetadataEncryptionKey",
          "description": "Encryption key that was used to encrypt the export artifacts."
        },
        "filePaths": {
          "description": "List of files created as part of export artifact (excluding the metadata). The paths are relative to the folder containing the metadata.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lookerEncryptionKey": {
          "description": "Looker encryption key, encrypted with the provided export encryption key. This value will only be populated if the looker instance uses Looker managed encryption instead of CMEK.",
          "type": "string"
        },
        "lookerInstance": {
          "description": "Name of the exported instance. Format: projects/{project}/locations/{location}/instances/{instance}",
          "type": "string"
        },
        "source": {
          "description": "The source type of the migration.",
          "type": "string",
          "enumDescriptions": [
            "Source not specified",
            "Source of export is Looker Core",
            "Source of export is Looker Original"
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "LOOKER_CORE",
            "LOOKER_ORIGINAL"
          ]
        },
        "lookerVersion": {
          "description": "Version of instance when the export was created.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "DenyMaintenancePeriod": {
      "id": "DenyMaintenancePeriod",
      "description": "Specifies the maintenance denial period.",
      "type": "object",
      "properties": {
        "time": {
          "description": "Required. Time in UTC when the period starts and ends.",
          "$ref": "TimeOfDay"
        },
        "endDate": {
          "description": "Required. End date of the deny maintenance period.",
          "$ref": "Date"
        },
        "startDate": {
          "$ref": "Date",
          "description": "Required. Start date of the deny maintenance period."
        }
      }
    },
    "PscConfig": {
      "properties": {
        "allowedVpcs": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of VPCs that are allowed ingress into looker. Format: projects/{project}/global/networks/{network}",
          "type": "array"
        },
        "lookerServiceAttachmentUri": {
          "description": "Output only. URI of the Looker service attachment.",
          "type": "string",
          "readOnly": true
        },
        "serviceAttachments": {
          "description": "Optional. List of egress service attachment configurations.",
          "type": "array",
          "items": {
            "$ref": "ServiceAttachment"
          }
        }
      },
      "id": "PscConfig",
      "description": "Information for Private Service Connect (PSC) setup for a Looker instance.",
      "type": "object"
    },
    "ExportMetadataEncryptionKey": {
      "properties": {
        "cmek": {
          "description": "Name of the CMEK.",
          "type": "string"
        },
        "version": {
          "description": "Version of the CMEK.",
          "type": "string"
        }
      },
      "id": "ExportMetadataEncryptionKey",
      "description": "Encryption key details for the exported artifact.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "UserMetadata": {
      "properties": {
        "additionalViewerUserCount": {
          "format": "int32",
          "description": "Optional. The number of additional viewer users the instance owner has purchased.",
          "type": "integer"
        },
        "additionalStandardUserCount": {
          "description": "Optional. The number of additional standard users the instance owner has purchased.",
          "type": "integer",
          "format": "int32"
        },
        "additionalDeveloperUserCount": {
          "description": "Optional. The number of additional developer users the instance owner has purchased.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "UserMetadata",
      "description": "Metadata about users for a Looker instance.",
      "type": "object"
    },
    "OAuthConfig": {
      "id": "OAuthConfig",
      "description": "Looker instance OAuth login settings.",
      "type": "object",
      "properties": {
        "clientSecret": {
          "description": "Input only. Client secret from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        },
        "sharedOauthClientEnabled": {
          "description": "Optional. Whether to use the shared OAuth client. Instances specifying this field do not need to provide client_id and client_secret.",
          "type": "boolean"
        },
        "clientId": {
          "description": "Input only. Client ID from an external OAuth application. This is an input-only field, and thus will not be set in any responses.",
          "type": "string"
        }
      }
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "MaintenanceSchedule": {
      "id": "MaintenanceSchedule",
      "description": "Published upcoming future maintenance schedule.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The scheduled start time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The scheduled end time for the maintenance.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CustomDomain": {
      "properties": {
        "state": {
          "description": "Domain state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "DNS record is not created.",
            "DNS record is created.",
            "Calling SLM to update.",
            "ManagedCertificate is ready.",
            "ManagedCertificate is not ready.",
            "Status is not known."
          ],
          "enum": [
            "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
            "UNVERIFIED",
            "VERIFIED",
            "MODIFYING",
            "AVAILABLE",
            "UNAVAILABLE",
            "UNKNOWN"
          ]
        },
        "domain": {
          "description": "Domain name.",
          "type": "string"
        }
      },
      "id": "CustomDomain",
      "description": "Custom domain information.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "RestartInstanceRequest": {
      "properties": {},
      "id": "RestartInstanceRequest",
      "description": "Request options for restarting an instance.",
      "type": "object"
    },
    "IngressIpAllowlistConfig": {
      "id": "IngressIpAllowlistConfig",
      "description": "Ingress IP allowlist configuration.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Whether ingress IP allowlist functionality is enabled on the Looker instance.",
          "type": "boolean"
        },
        "allowlistRules": {
          "items": {
            "$ref": "IngressIpAllowlistRule"
          },
          "description": "Optional. List of IP range rules to allow ingress traffic.",
          "type": "array"
        },
        "googleServicesEnabled": {
          "description": "Optional. Whether google service connections are enabled for the instance.",
          "type": "boolean"
        }
      }
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "Response from ListInstances.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If provided, a page token that can look up the next `pageSize` results. If empty, the results list is exhausted.",
          "type": "string"
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "description": "The list of instances matching the request filters, up to the requested `pageSize`.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "description": "Encryption configuration (i.e. CMEK).",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Name of the CMEK key in KMS (input parameter).",
          "type": "string"
        },
        "kmsKeyNameVersion": {
          "description": "Output only. Full name and version of the CMEK key currently in use to encrypt Looker data. Format: `projects/{project}/locations/{location}/keyRings/{ring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`. Empty if CMEK is not configured in this instance.",
          "type": "string",
          "readOnly": true
        },
        "kmsKeyState": {
          "description": "Output only. Status of the CMEK key.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "CMEK status not specified.",
            "CMEK key is currently valid.",
            "CMEK key is currently revoked (instance should in restricted mode)."
          ],
          "enum": [
            "KMS_KEY_STATE_UNSPECIFIED",
            "VALID",
            "REVOKED"
          ]
        }
      }
    },
    "ExportEncryptionConfig": {
      "properties": {
        "kmsKeyName": {
          "description": "Required. Name of the CMEK key in KMS.",
          "type": "string"
        }
      },
      "id": "ExportEncryptionConfig",
      "description": "Configuration for Encryption - e.g. CMEK.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "Instance": {
      "properties": {
        "denyMaintenancePeriod": {
          "description": "Maintenance denial period for this instance.",
          "$ref": "DenyMaintenancePeriod"
        },
        "lookerUri": {
          "description": "Output only. Looker instance URI which can be used to access the Looker Instance UI.",
          "type": "string",
          "readOnly": true
        },
        "pscEnabled": {
          "description": "Optional. Whether to use Private Service Connect (PSC) for private IP connectivity. If true, neither `public_ip_enabled` nor `private_ip_enabled` can be true.",
          "type": "boolean"
        },
        "classType": {
          "enumDescriptions": [
            "Unspecified storage class.",
            "Filestore.",
            "PD SSD."
          ],
          "enum": [
            "CLASS_TYPE_UNSPECIFIED",
            "R1",
            "P1"
          ],
          "description": "Optional. Storage class of the instance.",
          "type": "string"
        },
        "suspendedTime": {
          "description": "Output only. The time when the Looker instance was suspended (soft deleted).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "ingressPrivateIp": {
          "description": "Output only. Private Ingress IP (IPv4).",
          "type": "string",
          "readOnly": true
        },
        "maintenanceWindow": {
          "description": "Maintenance window for this instance.",
          "$ref": "MaintenanceWindow"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Format: `projects/{project}/locations/{location}/instances/{instance}`.",
          "type": "string"
        },
        "linkedLspProjectNumber": {
          "description": "Optional. Linked Google Cloud Project Number for Looker Studio Pro.",
          "type": "string",
          "format": "int64"
        },
        "platformEdition": {
          "enumDescriptions": [
            "Represents an unspecified platform edition.",
            "Represents the Looker Core Trial edition.",
            "Represents the Looker Core Standard edition.",
            "Represents the Looker Core Standard Annual edition.",
            "Represents the Looker Core Enterprise Annual edition.",
            "Represents the Looker Core Embed Annual edition.",
            "Represents the Looker Core Nonprod Standard Annual edition.",
            "Represents the Looker Core Nonprod Enterprise Annual edition.",
            "Represents the Looker Core Nonprod Embed Annual edition.",
            "Represents the Looker Core Trial Standard edition.",
            "Represents the Looker Core Trial Enterprise edition.",
            "Represents the Looker Core Trial Embed edition."
          ],
          "enum": [
            "PLATFORM_EDITION_UNSPECIFIED",
            "LOOKER_CORE_TRIAL",
            "LOOKER_CORE_STANDARD",
            "LOOKER_CORE_STANDARD_ANNUAL",
            "LOOKER_CORE_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_EMBED_ANNUAL",
            "LOOKER_CORE_NONPROD_STANDARD_ANNUAL",
            "LOOKER_CORE_NONPROD_ENTERPRISE_ANNUAL",
            "LOOKER_CORE_NONPROD_EMBED_ANNUAL",
            "LOOKER_CORE_TRIAL_STANDARD",
            "LOOKER_CORE_TRIAL_ENTERPRISE",
            "LOOKER_CORE_TRIAL_EMBED"
          ],
          "description": "Platform edition.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the Looker instance provisioning was first requested.",
          "type": "string",
          "readOnly": true
        },
        "privateIpEnabled": {
          "description": "Whether private IP is enabled on the Looker instance.",
          "type": "boolean"
        },
        "pscConfig": {
          "description": "Optional. PSC configuration. Used when `psc_enabled` is true.",
          "$ref": "PscConfig"
        },
        "lastDenyMaintenancePeriod": {
          "readOnly": true,
          "$ref": "DenyMaintenancePeriod",
          "description": "Output only. Last computed maintenance denial period for this instance."
        },
        "acceleratedSecurityPatchEnabled": {
          "description": "Optional. Accelerated security patch enabled for the instance.",
          "type": "boolean"
        },
        "catalogIntegrationOptOut": {
          "description": "Optional. Indicates whether catalog integration is disabled for the Looker instance.",
          "type": "boolean"
        },
        "customDomain": {
          "$ref": "CustomDomain",
          "description": "Custom domain configuration for the instance."
        },
        "publicIpEnabled": {
          "description": "Whether public IP is enabled on the Looker instance.",
          "type": "boolean"
        },
        "reservedRange": {
          "description": "Name of a reserved IP address range within the Instance.consumer_network, to be used for private services access connection. May or may not be specified in a create request.",
          "type": "string"
        },
        "consumerNetwork": {
          "description": "Network name in the consumer project. Format: `projects/{project}/global/networks/{network}`. Note that the consumer network may be in a different GCP project than the consumer project that is hosting the Looker Instance.",
          "type": "string"
        },
        "userMetadata": {
          "description": "Optional. User metadata.",
          "$ref": "UserMetadata"
        },
        "controlledEgressConfig": {
          "$ref": "ControlledEgressConfig",
          "description": "Optional. Controlled egress configuration."
        },
        "releaseChannel": {
          "enumDescriptions": [
            "Unspecified release channel.",
            "Rapid: Most frequent updates.",
            "Regular: Balanced, default for production.",
            "Stable: Least frequent, for maximum stability."
          ],
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "description": "Optional. The selected release channel for the instance.",
          "type": "string"
        },
        "softDeleteReason": {
          "description": "Output only. The reason for the instance being in a soft-deleted state.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Soft delete reason is unspecified. This is the default value.",
            "Instance is soft deleted due to billing account issues.",
            "Instance is soft deleted due to trial expiration.",
            "Instance is soft deleted by the customer."
          ],
          "enum": [
            "SOFT_DELETE_REASON_UNSPECIFIED",
            "BILLING_ACCOUNT_ISSUE",
            "TRIAL_EXPIRED",
            "CUSTOMER_REQUEST"
          ]
        },
        "lookerVersion": {
          "readOnly": true,
          "description": "Output only. The Looker version that the instance is using.",
          "type": "string"
        },
        "ingressPublicIp": {
          "readOnly": true,
          "description": "Output only. Public Ingress IP (IPv4).",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the Looker instance was last updated.",
          "type": "string",
          "readOnly": true
        },
        "periodicExportConfig": {
          "$ref": "PeriodicExportConfig",
          "description": "Optional. Configuration for periodic export."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State is unspecified.",
            "Instance is active and ready for use.",
            "Instance provisioning is in progress.",
            "Instance is in a failed state.",
            "Instance was suspended.",
            "Instance update is in progress.",
            "Instance delete is in progress.",
            "Instance is being exported.",
            "Instance is importing data."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "FAILED",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "EXPORTING",
            "IMPORTING"
          ],
          "description": "Output only. The state of the instance.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "egressPublicIp": {
          "readOnly": true,
          "description": "Output only. Public Egress IP (IPv4).",
          "type": "string"
        },
        "geminiEnabled": {
          "description": "Optional. Whether Gemini feature is enabled on the Looker instance or not.",
          "type": "boolean"
        },
        "adminSettings": {
          "$ref": "AdminSettings",
          "description": "Looker Instance Admin settings."
        },
        "oauthConfig": {
          "$ref": "OAuthConfig",
          "description": "Looker instance OAuth login settings."
        },
        "fipsEnabled": {
          "description": "Optional. Whether FIPS is enabled on the Looker instance.",
          "type": "boolean"
        },
        "ingressIpAllowlistConfig": {
          "description": "Optional. Ingress IP allowlist configuration for the Looker instance.",
          "$ref": "IngressIpAllowlistConfig"
        },
        "maintenanceSchedule": {
          "$ref": "MaintenanceSchedule",
          "description": "Maintenance schedule for this instance."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Encryption configuration (CMEK). Only set if CMEK has been enabled on the instance."
        },
        "controlledEgressEnabled": {
          "description": "Optional. Whether controlled egress is enabled on the Looker instance.",
          "type": "boolean"
        }
      },
      "id": "Instance",
      "description": "A Looker instance.",
      "type": "object"
    },
    "ImportInstanceRequest": {
      "properties": {
        "gcsUri": {
          "description": "Path to the import folder in Google Cloud Storage, in the form `gs://bucketName/folderName`.",
          "type": "string"
        }
      },
      "id": "ImportInstanceRequest",
      "description": "Requestion options for importing looker data to an Instance",
      "type": "object"
    },
    "PeriodicExportConfig": {
      "id": "PeriodicExportConfig",
      "description": "Configuration for periodic export.",
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Required. Name of the CMEK key in KMS. Format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}",
          "type": "string"
        },
        "gcsUri": {
          "description": "Required. Cloud Storage bucket URI for periodic export. Format: gs://{bucket_name}",
          "type": "string"
        },
        "startTime": {
          "description": "Required. Time in UTC to start the periodic export job.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "ControlledEgressConfig": {
      "properties": {
        "marketplaceEnabled": {
          "description": "Optional. Whether marketplace is enabled.",
          "type": "boolean"
        },
        "egressFqdns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of fully qualified domain names to be added to the allowlist for outbound traffic.",
          "type": "array"
        },
        "webProxyIps": {
          "readOnly": true,
          "description": "Output only. The list of IP addresses used by Secure Web Proxy for outbound traffic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ControlledEgressConfig",
      "description": "Controlled egress configuration.",
      "type": "object"
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "UndeleteInstanceRequest": {
      "properties": {},
      "id": "UndeleteInstanceRequest",
      "description": "Request options for undeleting an instance.",
      "type": "object"
    },
    "ExportInstanceRequest": {
      "id": "ExportInstanceRequest",
      "description": "Request options for exporting data of an Instance.",
      "type": "object",
      "properties": {
        "encryptionConfig": {
          "$ref": "ExportEncryptionConfig",
          "description": "Required. Encryption configuration (CMEK). For CMEK enabled instances it should be same as looker CMEK."
        },
        "gcsUri": {
          "description": "The path to the folder in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/folderName`.",
          "type": "string"
        }
      }
    }
  },
  "protocol": "rest",
  "version_module": true
}