{
  "ownerName": "Google",
  "id": "lustre:v1",
  "version_module": true,
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/managed-lustre/docs",
  "description": "",
  "version": "v1",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "rootUrl": "https://lustre.googleapis.com/",
  "protocol": "rest",
  "servicePath": "",
  "mtlsRootUrl": "https://lustre.mtls.googleapis.com/",
  "schemas": {
    "MaintenancePolicy": {
      "properties": {
        "weeklyMaintenanceWindows": {
          "type": "array",
          "description": "Required. The weekly maintenance windows for the instance. Currently limited to 1 window.",
          "items": {
            "$ref": "WeeklyMaintenanceWindow"
          }
        },
        "maintenanceExclusionWindow": {
          "description": "Optional. The exclusion windows for the instance. Currently limited to 1 window.",
          "items": {
            "$ref": "MaintenanceExclusionWindow"
          },
          "type": "array"
        }
      },
      "id": "MaintenancePolicy",
      "description": "Defines a maintenance policy for a resource.",
      "type": "object"
    },
    "MaintenanceSchedule": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The scheduled start time for the maintenance."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The scheduled end time for the maintenance.",
          "format": "google-datetime"
        }
      },
      "id": "MaintenanceSchedule",
      "description": "Represents a scheduled maintenance event.",
      "type": "object"
    },
    "Reschedule": {
      "properties": {
        "rescheduleType": {
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "BY_TIME"
          ],
          "type": "string",
          "description": "Required. The type of rescheduling.",
          "enumDescriptions": [
            "Unspecified schedule type.",
            "Apply update immediately",
            "Reschedule to the next available window.",
            "Reschedule to a specific time."
          ]
        },
        "scheduleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Required if reschedule_type is BY_TIME. Timestamp when the maintenance shall be rescheduled to. This time must be within 28 days of the original scheduled maintenance start time."
        }
      },
      "type": "object",
      "id": "Reschedule",
      "description": "The desired reschedule settings."
    },
    "ReconciliationOperationMetadata": {
      "id": "ReconciliationOperationMetadata",
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "type": "object",
      "properties": {
        "deleteResource": {
          "deprecated": true,
          "type": "boolean",
          "description": "DEPRECATED. Use exclusive_action instead."
        },
        "exclusiveAction": {
          "type": "string",
          "description": "Excluisive action returned by the CLH.",
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ]
        }
      }
    },
    "Operation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of a long-running operation.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "Message for response to listing Instances",
      "type": "object",
      "properties": {
        "instances": {
          "type": "array",
          "description": "Response from ListInstances.",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AccessRulesOptions": {
      "id": "AccessRulesOptions",
      "description": "IP-based access rules for the Managed Lustre instance. These options define the root user squash configuration.",
      "type": "object",
      "properties": {
        "defaultSquashUid": {
          "type": "integer",
          "description": "Optional. The user squash UID for the default access rule. This user squash UID applies to all root users connecting from clients that are not matched by any of the access rules. If not set, the default is 0 (no UID squash).",
          "format": "int32"
        },
        "accessRules": {
          "description": "Optional. The access rules for the instance.",
          "items": {
            "$ref": "AccessRule"
          },
          "type": "array"
        },
        "defaultSquashMode": {
          "description": "Required. The squash mode for the default access rule.",
          "enumDescriptions": [
            "Unspecified squash mode.",
            "Squash is disabled. If set inside an AccessRule, root users matching the ip_ranges are not squashed. If set as the default_squash_mode, root squash is disabled for this instance. If the default squash mode is `NO_SQUASH`, do not set the default_squash_uid or default_squash_gid, or an `invalid argument` error is returned.",
            "Root user squash is enabled. Not supported inside an AccessRule. If set as the default_squash_mode, root users not matching any of the access_rules are squashed to the default_squash_uid and default_squash_gid."
          ],
          "type": "string",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_SQUASH",
            "ROOT_SQUASH"
          ]
        },
        "defaultSquashGid": {
          "description": "Optional. The user squash GID for the default access rule. This user squash GID applies to all root users connecting from clients that are not matched by any of the access rules. If not set, the default is 0 (no GID squash).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MaintenanceExclusionWindow": {
      "type": "object",
      "id": "MaintenanceExclusionWindow",
      "description": "Exclusion period when maintenance updates should not occur. An exclusion window can be in either of the following two formats: * Non-recurring : A full date, with non-zero year, month and day values. * Recurring : A month and day value, with a zero year. Time zone is UTC.",
      "properties": {
        "startDate": {
          "description": "Required. Start date of the exclusion period in UTC time zone. This date is inclusive.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "Required. End date of the exclusion period in UTC time zone. This date is inclusive.",
          "$ref": "Date"
        },
        "time": {
          "description": "Required. Time in UTC when the exclusion window starts on start_date and ends on end_date. This can be: * Full time OR * All zeros for 00:00:00 UTC",
          "$ref": "TimeOfDay"
        }
      }
    },
    "LustrePath": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Optional. The root directory path to the Managed Lustre file system. Must start with `/`. Default is `/`. If you're importing data into Managed Lustre, any path other than the default must already exist on the file system."
        }
      },
      "id": "LustrePath",
      "description": "The root directory path to the Lustre file system.",
      "type": "object"
    },
    "DynamicTierOptions": {
      "properties": {
        "mode": {
          "type": "string",
          "description": "Required. Immutable. The dynamic tier mode of the instance.",
          "enumDescriptions": [
            "Unspecified dynamic tier mode.",
            "The dynamic tier is explicitly disabled.",
            "The dynamic tier is enabled."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "DEFAULT_CACHE"
          ]
        }
      },
      "id": "DynamicTierOptions",
      "description": "Dynamic tier options for a Managed Lustre instance.",
      "type": "object"
    },
    "Instance": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the instance was created."
        },
        "dynamicTierOptions": {
          "description": "Optional. Immutable. Specifies whether the instance is on the Dynamic tier. See [Performance tiers](https://docs.cloud.google.com/managed-lustre/docs/performance-tiers) for more information.",
          "$ref": "DynamicTierOptions"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID of the resource. This is unrelated to the access rules which allow specifying the root squash uid."
        },
        "name": {
          "description": "Identifier. The name of the instance.",
          "type": "string"
        },
        "stateReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason why the instance is in a certain state (e.g. SUSPENDED)."
        },
        "placementPolicy": {
          "description": "Optional. The placement policy name for the instance in the format of projects/{project}/locations/{location}/resourcePolicies/{resource_policy}",
          "type": "string"
        },
        "perUnitStorageThroughput": {
          "type": "string",
          "description": "Optional. The throughput of the instance in MBps per TiB. Valid values are 0, 125, 250, 500, 1000. See [Performance tiers](https://docs.cloud.google.com/managed-lustre/docs/performance-tiers) for more information. If the instance is using the Dynamic tier, this field must not be set or must be set to zero.",
          "format": "int64"
        },
        "maintenancePolicy": {
          "description": "Optional. The maintenance policy for the instance to determine when to allow or exclude the instance from maintenance updates.",
          "$ref": "MaintenancePolicy"
        },
        "mountPoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Mount point of the instance in the format `IP_ADDRESS@tcp:/FILESYSTEM`."
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. Immutable. The Cloud KMS key name to use for data encryption. If not set, the instance will use Google-managed encryption keys. If set, the instance will use customer-managed encryption keys. The key must be in the same region as the instance. The key format is: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the instance was last updated."
        },
        "description": {
          "description": "Optional. A user-readable description of the instance.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the instance.",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The instance is available for use.",
            "The instance is being created and is not yet ready for use.",
            "The instance is being deleted.",
            "The instance is being upgraded.",
            "The instance is being repaired.",
            "The instance is stopped.",
            "The instance is being updated.",
            "The instance is suspended due to an issue related to Cloud KMS. The details are available in state_reason."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "UPGRADING",
            "REPAIRING",
            "STOPPED",
            "UPDATING",
            "SUSPENDED"
          ]
        },
        "upcomingMaintenanceSchedule": {
          "$ref": "MaintenanceSchedule",
          "readOnly": true,
          "description": "Output only. Date and time of upcoming maintenance for the instance, if a maintenance policy is set."
        },
        "accessRulesOptions": {
          "description": "Optional. The access rules options for the instance.",
          "$ref": "AccessRulesOptions"
        },
        "filesystem": {
          "description": "Required. Immutable. The filesystem name for this instance. This name is used by client-side tools, including when mounting the instance. Must be eight characters or less and can only contain letters and numbers.",
          "type": "string"
        },
        "capacityGib": {
          "description": "Required. The storage capacity of the instance in gibibytes (GiB). Allowed values depend on the `perUnitStorageThroughput`. See [Performance tiers](https://docs.cloud.google.com/managed-lustre/docs/performance-tiers) for specific minimums, maximums, and step sizes for each performance tier.",
          "type": "string",
          "format": "int64"
        },
        "network": {
          "description": "Required. Immutable. The full name of the VPC network to which the instance is connected. Must be in the format `projects/{project_id}/global/networks/{network_name}`.",
          "type": "string"
        },
        "gkeSupportEnabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "Optional. Deprecated: No longer required for GKE instance creation. Indicates whether you want to enable support for GKE clients. By default, GKE clients are not supported."
        }
      },
      "id": "Instance",
      "description": "A Managed Lustre instance.",
      "type": "object"
    },
    "RescheduleMaintenanceRequest": {
      "properties": {
        "reschedule": {
          "description": "Required. The desired reschedule settings.",
          "$ref": "Reschedule"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique identifier for this request. A random UUID is recommended. This request is only idempotent if a `request_id` is provided."
        }
      },
      "type": "object",
      "id": "RescheduleMaintenanceRequest",
      "description": "Message for requesting to reschedule a maintenance event for a specific instance."
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        }
      }
    },
    "GcsPath": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The URI to a Cloud Storage bucket, or a path within a bucket, using the format `gs:////`. If a path inside the bucket is specified, it must end with a forward slash (`/`)."
        }
      },
      "type": "object",
      "id": "GcsPath",
      "description": "Specifies a Cloud Storage bucket and, optionally, a path inside the bucket."
    },
    "ImportDataRequest": {
      "properties": {
        "gcsPath": {
          "description": "The Cloud Storage source bucket and, optionally, path inside the bucket. If a path inside the bucket is specified, it must end with a forward slash (`/`).",
          "$ref": "GcsPath"
        },
        "requestId": {
          "description": "Optional. UUID to identify requests.",
          "type": "string"
        },
        "lustrePath": {
          "description": "Lustre path destination.",
          "$ref": "LustrePath"
        },
        "serviceAccount": {
          "description": "Optional. User-specified service account used to perform the transfer. If unspecified, the default Managed Lustre service agent will be used. Use one of the following formats: * `{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/{PROJECT_ID}/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/-/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ImportDataRequest",
      "description": "Message for importing data to Lustre."
    },
    "AccessRule": {
      "type": "object",
      "id": "AccessRule",
      "description": "A single policy group with IP-based access rules for the Managed Lustre instance.",
      "properties": {
        "ipAddressRanges": {
          "description": "Required. The IP address ranges to which to apply this access rule. Accepts non-overlapping CIDR ranges (e.g., `192.168.1.0/24`) and IP addresses (e.g., `192.168.1.0`).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "squashMode": {
          "type": "string",
          "description": "Required. Squash mode for the access rule.",
          "enumDescriptions": [
            "Unspecified squash mode.",
            "Squash is disabled. If set inside an AccessRule, root users matching the ip_ranges are not squashed. If set as the default_squash_mode, root squash is disabled for this instance. If the default squash mode is `NO_SQUASH`, do not set the default_squash_uid or default_squash_gid, or an `invalid argument` error is returned.",
            "Root user squash is enabled. Not supported inside an AccessRule. If set as the default_squash_mode, root users not matching any of the access_rules are squashed to the default_squash_uid and default_squash_gid."
          ],
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_SQUASH",
            "ROOT_SQUASH"
          ]
        },
        "name": {
          "description": "Required. The name of the access rule policy group. Must be 16 characters or less and include only alphanumeric characters or '_'.",
          "type": "string"
        }
      }
    },
    "ExportDataRequest": {
      "properties": {
        "gcsPath": {
          "description": "The URI to a Cloud Storage bucket, or a path within a bucket, using the format `gs:////`. If a path inside the bucket is specified, it must end with a forward slash (`/`).",
          "$ref": "GcsPath"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. UUID to identify requests."
        },
        "lustrePath": {
          "description": "The root directory path to the Managed Lustre file system. Must start with `/`. Default is `/`.",
          "$ref": "LustrePath"
        },
        "serviceAccount": {
          "description": "Optional. User-specified service account used to perform the transfer. If unspecified, the Managed Lustre service agent is used. Use one of the following formats: * `{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/{PROJECT_ID}/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}` * `projects/-/serviceAccounts/{EMAIL_ADDRESS_OR_UNIQUE_ID}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExportDataRequest",
      "description": "Export data from Managed Lustre to a Cloud Storage bucket."
    },
    "WeeklyMaintenanceWindow": {
      "id": "WeeklyMaintenanceWindow",
      "description": "Weekly time window in which maintenance updates may occur. Duration of the window is currently fixed at 1 hour. Time zone is UTC.",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "description": "Required. Day of the week for the maintenance window.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Required. Start time of the maintenance window in UTC time zone.",
          "$ref": "TimeOfDay"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "name": "lustre",
  "kind": "discovery#restDescription",
  "revision": "20260722",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "lustre.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "lustre.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query"
                }
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "lustre.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "lustre.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "lustre.projects.locations.operations.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "id": "lustre.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                }
              }
            },
            "instances": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Instance"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "instanceId": {
                      "type": "string",
                      "description": "Required. The name of the Managed Lustre instance. * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The instance's project and location, in the format `projects/{project}/locations/{location}`. Locations map to Google Cloud zones; for example, `us-west1-b`.",
                      "type": "string"
                    }
                  },
                  "id": "lustre.projects.locations.instances.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new instance in a given project and location.",
                  "path": "v1/{+parent}/instances",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "lustre.projects.locations.instances.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single instance.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Instance"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "description": "Identifier. The name of the instance.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. Specifies the fields to be overwritten in the instance resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If no mask is provided then all fields present in the request are overwritten.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "path": "v1/{+name}"
                },
                "importData": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Managed Lustre instance in the format `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "ImportDataRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "lustre.projects.locations.instances.importData",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Imports data from Cloud Storage to a Managed Lustre instance.",
                  "path": "v1/{+name}:importData",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:importData",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The instance resource name, in the format `projects/{projectId}/locations/{location}/instances/{instanceId}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "lustre.projects.locations.instances.get",
                  "response": {
                    "$ref": "Instance"
                  },
                  "description": "Gets details of a single instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "path": "v1/{+name}",
                  "id": "lustre.projects.locations.instances.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single instance.",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the instance to delete, in the format `projects/{projectId}/locations/{location}/instances/{instanceId}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, any sub-resources from this instance will also be deleted. Otherwise, the request will only work if the instance has no sub-resources.",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/instances",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "id": "lustre.projects.locations.instances.list",
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "description": "Lists instances in a given project and location.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The project and location for which to retrieve a list of instances, in the format `projects/{projectId}/locations/{location}`. To retrieve instance information for all locations, use \"-\" as the value of `{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server might return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Desired order of results.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "rescheduleMaintenance": {
                  "id": "lustre.projects.locations.instances.rescheduleMaintenance",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Reschedules a planned maintenance event for a specific instance.",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: projects/{project}/locations/{location}/instances/{instance}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RescheduleMaintenanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:rescheduleMaintenance",
                  "path": "v1/{+name}:rescheduleMaintenance"
                },
                "exportData": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Managed Lustre instance in the format `projects/{project}/locations/{location}/instances/{instance}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ExportDataRequest"
                  },
                  "id": "lustre.projects.locations.instances.exportData",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Exports data from a Managed Lustre instance to Cloud Storage.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:exportData",
                  "path": "v1/{+name}:exportData",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                }
              }
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "title": "Google Cloud Managed Lustre API",
  "baseUrl": "https://lustre.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Google Cloud Managed Lustre"
}