{
  "version": "v1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://managedkafka.mtls.googleapis.com/",
  "schemas": {
    "Acl": {
      "id": "Acl",
      "properties": {
        "name": {
          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
          "type": "string"
        },
        "patternType": {
          "description": "Output only. The ACL pattern type derived from the name. One of: LITERAL, PREFIXED.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. `etag` is used for concurrency control. An `etag` is returned in the response to `GetAcl` and `CreateAcl`. Callers are required to put that etag in the request to `UpdateAcl` to ensure that their change will be applied to the same version of the acl that exists in the Kafka Cluster. A terminal 'T' character in the etag indicates that the AclEntries were truncated; more entries for the Acl exist on the Kafka Cluster, but can't be returned in the Acl due to repeated field limits.",
          "type": "string"
        },
        "aclEntries": {
          "description": "Required. The ACL entries that apply to the resource pattern. The maximum number of allowed entries 100.",
          "items": {
            "$ref": "AclEntry"
          },
          "type": "array"
        },
        "resourceType": {
          "type": "string",
          "description": "Output only. The ACL resource type derived from the name. One of: CLUSTER, TOPIC, GROUP, TRANSACTIONAL_ID.",
          "readOnly": true
        },
        "resourceName": {
          "type": "string",
          "description": "Output only. The ACL resource name derived from the name. For cluster resource_type, this is always \"kafka-cluster\". Can be the wildcard literal \"*\".",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents the set of ACLs for a given Kafka Resource Pattern, which consists of resource_type, resource_name and pattern_type."
    },
    "TrustConfig": {
      "type": "object",
      "description": "Sources of CA certificates to install in the broker's truststore.",
      "id": "TrustConfig",
      "properties": {
        "casConfigs": {
          "type": "array",
          "description": "Optional. Configuration for the Google Certificate Authority Service. Maximum 10.",
          "items": {
            "$ref": "CertificateAuthorityServiceConfig"
          }
        }
      }
    },
    "ResumeConnectorResponse": {
      "id": "ResumeConnectorResponse",
      "properties": {},
      "type": "object",
      "description": "Response for ResumeConnector."
    },
    "SchemaSubject": {
      "id": "SchemaSubject",
      "properties": {
        "versions": {
          "description": "Optional. The versions of the subject.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the subject. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}` Subject name {subject} can contain the following: * Up to 255 UTF-8 bytes. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`."
        }
      },
      "type": "object",
      "description": "Subject defines the evolution scope of schemas as a holder of schema versions."
    },
    "Cluster": {
      "id": "Cluster",
      "properties": {
        "capacityConfig": {
          "$ref": "CapacityConfig",
          "description": "Required. Capacity configuration for the Kafka cluster."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is being updated."
          ],
          "description": "Output only. The current state of the cluster.",
          "readOnly": true
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. TLS configuration for the Kafka cluster."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}"
        },
        "createTime": {
          "description": "Output only. The time when the cluster was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "rebalanceConfig": {
          "$ref": "RebalanceConfig",
          "description": "Optional. Rebalance configuration for the Kafka cluster."
        },
        "gcpConfig": {
          "$ref": "GcpConfig",
          "description": "Required. Configuration properties for a Kafka cluster deployed to Google Cloud Platform."
        },
        "brokerDetails": {
          "type": "array",
          "description": "Output only. Only populated when FULL view is requested. Details of each broker in the cluster.",
          "items": {
            "$ref": "BrokerDetails"
          },
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the cluster was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "kafkaVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Only populated when FULL view is requested. The Kafka version of the cluster."
        },
        "updateOptions": {
          "description": "Optional. UpdateOptions represents options that control how updates to the cluster are applied.",
          "$ref": "UpdateOptions"
        }
      },
      "type": "object",
      "description": "An Apache Kafka cluster deployed in a location."
    },
    "RemoveAclEntryResponse": {
      "id": "RemoveAclEntryResponse",
      "properties": {
        "aclDeleted": {
          "type": "boolean",
          "description": "Returned with value true if the removed acl entry was the last entry in the acl, resulting in acl deletion."
        },
        "acl": {
          "$ref": "Acl",
          "description": "The updated acl. Returned if the removed acl entry was not the last entry in the acl."
        }
      },
      "type": "object",
      "description": "Response for RemoveAclEntry."
    },
    "ConsumerPartitionMetadata": {
      "description": "Metadata for a consumer group corresponding to a specific partition.",
      "type": "object",
      "id": "ConsumerPartitionMetadata",
      "properties": {
        "metadata": {
          "type": "string",
          "description": "Optional. The associated metadata for this partition, or empty if it does not exist."
        },
        "offset": {
          "description": "Required. The current offset for this partition, or 0 if no offset has been committed.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ListConnectClustersResponse": {
      "id": "ListConnectClustersResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "connectClusters": {
          "type": "array",
          "description": "The list of Connect clusters in the requested parent.",
          "items": {
            "$ref": "ConnectCluster"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "type": "object",
      "description": "Response for ListConnectClusters."
    },
    "CheckCompatibilityResponse": {
      "id": "CheckCompatibilityResponse",
      "properties": {
        "messages": {
          "description": "Failure reasons if verbose = true.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "is_compatible": {
          "type": "boolean",
          "description": "The compatibility check result. If true, the schema is compatible with the resource."
        }
      },
      "description": "Response for CheckCompatibility.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "PauseConnectorResponse": {
      "id": "PauseConnectorResponse",
      "properties": {},
      "description": "Response for PauseConnector.",
      "type": "object"
    },
    "SchemaRegistry": {
      "id": "SchemaRegistry",
      "properties": {
        "contexts": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The contexts of the schema registry instance.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the schema registry instance. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` The instance name {schema_registry} can contain the following: * Up to 255 characters. * Letters (uppercase or lowercase), numbers, and underscores."
        }
      },
      "type": "object",
      "description": "SchemaRegistry is a schema registry instance."
    },
    "ConnectNetworkConfig": {
      "id": "ConnectNetworkConfig",
      "properties": {
        "primarySubnet": {
          "type": "string",
          "description": "Required. VPC subnet to make available to the Kafka Connect cluster. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} It is used to create a Private Service Connect (PSC) interface for the Kafka Connect workers. It must be located in the same region as the Kafka Connect cluster. The CIDR range of the subnet must be within the IPv4 address ranges for private networks, as specified in RFC 1918. The primary subnet CIDR range must have a minimum size of /22 (1024 addresses)."
        },
        "additionalSubnets": {
          "description": "Optional. Deprecated: Managed Kafka Connect clusters can now reach any endpoint accessible from the primary subnet without the need to define additional subnets. Please see https://cloud.google.com/managed-service-for-apache-kafka/docs/connect-cluster/create-connect-cluster#worker-subnet for more information.",
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dnsDomainNames": {
          "type": "array",
          "description": "Optional. Additional DNS domain names from the subnet's network to be made visible to the Connect Cluster. When using MirrorMaker2, it's necessary to add the bootstrap address's dns domain name of the target cluster to make it visible to the connector. For example: my-kafka-cluster.us-central1.managedkafka.my-project.cloud.goog",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka Connect cluster."
    },
    "ListConnectorsResponse": {
      "type": "object",
      "description": "Response for ListConnectors.",
      "id": "ListConnectorsResponse",
      "properties": {
        "connectors": {
          "description": "The list of connectors in the requested parent.",
          "items": {
            "$ref": "Connector"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "RestartConnectorRequest": {
      "id": "RestartConnectorRequest",
      "properties": {},
      "description": "Request for RestartConnector.",
      "type": "object"
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "properties": {
        "clusters": {
          "description": "The list of Clusters in the requested parent.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "description": "Response for ListClusters.",
      "type": "object"
    },
    "ConnectCluster": {
      "id": "ConnectCluster",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the cluster was created.",
          "format": "google-datetime"
        },
        "capacityConfig": {
          "$ref": "CapacityConfig",
          "description": "Required. Capacity configuration for the Kafka Connect cluster."
        },
        "gcpConfig": {
          "description": "Required. Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
          "$ref": "ConnectGcpConfig"
        },
        "kafkaCluster": {
          "type": "string",
          "description": "Required. Immutable. The name of the Kafka cluster this Kafka Connect cluster is attached to. Structured like: projects/{project}/locations/{location}/clusters/{cluster}"
        },
        "config": {
          "type": "object",
          "description": "Optional. Reserved for future use. This field is meant for worker config overrides, but is unsupported for now.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is detached."
          ],
          "description": "Output only. The current state of the Kafka Connect cluster.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the cluster was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "An Apache Kafka Connect cluster deployed in a location.",
      "type": "object"
    },
    "AccessConfig": {
      "type": "object",
      "description": "The configuration of access to the Kafka cluster.",
      "id": "AccessConfig",
      "properties": {
        "networkConfigs": {
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array"
        }
      }
    },
    "ListTopicsResponse": {
      "type": "object",
      "description": "Response for ListTopics.",
      "id": "ListTopicsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "topics": {
          "type": "array",
          "description": "The list of topics in the requested parent. The order of the topics is unspecified.",
          "items": {
            "$ref": "Topic"
          }
        }
      }
    },
    "Context": {
      "id": "Context",
      "properties": {
        "name": {
          "description": "Identifier. The name of the context. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}` The context name {context} can contain the following: * Up to 255 characters. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`.",
          "type": "string"
        },
        "subjects": {
          "description": "Optional. The subjects of the context.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Context represents an independent schema grouping in a schema registry instance."
    },
    "RebalanceConfig": {
      "type": "object",
      "description": "Defines rebalancing behavior of a Kafka cluster.",
      "id": "RebalanceConfig",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "A mode was not specified. Do not use.",
            "Do not rebalance automatically.",
            "Automatically rebalance topic partitions among brokers when the cluster is scaled up."
          ],
          "type": "string",
          "description": "Optional. The rebalance behavior for the cluster. When not specified, defaults to `NO_REBALANCE`.",
          "enum": [
            "MODE_UNSPECIFIED",
            "NO_REBALANCE",
            "AUTO_REBALANCE_ON_SCALE_UP"
          ]
        }
      }
    },
    "PauseConnectorRequest": {
      "type": "object",
      "description": "Request for PauseConnector.",
      "id": "PauseConnectorRequest",
      "properties": {}
    },
    "HttpBody": {
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "HttpBody",
      "properties": {
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte",
          "type": "string"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      }
    },
    "ConnectGcpConfig": {
      "type": "object",
      "description": "Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
      "id": "ConnectGcpConfig",
      "properties": {
        "secretPaths": {
          "type": "array",
          "description": "Optional. Secrets to load into workers. Exact SecretVersions from Secret Manager must be provided -- aliases are not supported. Up to 32 secrets may be loaded into one cluster. Format: projects//secrets//versions/",
          "items": {
            "type": "string"
          }
        },
        "accessConfig": {
          "description": "Required. Access configuration for the Kafka Connect cluster.",
          "$ref": "ConnectAccessConfig"
        }
      }
    },
    "Topic": {
      "id": "Topic",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}"
        },
        "replicationFactor": {
          "type": "integer",
          "description": "Required. Immutable. The number of replicas of each partition. A replication factor of 3 is recommended for high availability.",
          "format": "int32"
        },
        "partitionCount": {
          "description": "Required. The number of partitions this topic has. The partition count can only be increased, not decreased. Please note that if partitions are increased for a topic that has a key, the partitioning logic or the ordering of the messages will be affected.",
          "format": "int32",
          "type": "integer"
        },
        "configs": {
          "description": "Optional. Configurations for the topic that are overridden from the cluster defaults. The key of the map is a Kafka topic property name, for example: `cleanup.policy`, `compression.type`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "A Kafka topic in a given cluster."
    },
    "AddAclEntryResponse": {
      "description": "Response for AddAclEntry.",
      "type": "object",
      "id": "AddAclEntryResponse",
      "properties": {
        "acl": {
          "$ref": "Acl",
          "description": "The updated acl."
        },
        "aclCreated": {
          "type": "boolean",
          "description": "Whether the acl was created as a result of adding the acl entry."
        }
      }
    },
    "CertificateAuthorityServiceConfig": {
      "description": "A configuration for the Google Certificate Authority Service.",
      "type": "object",
      "id": "CertificateAuthorityServiceConfig",
      "properties": {
        "caPool": {
          "type": "string",
          "description": "Required. The name of the CA pool to pull CA certificates from. Structured like: projects/{project}/locations/{location}/caPools/{ca_pool}. The CA pool does not need to be in the same project or location as the Kafka cluster."
        }
      }
    },
    "ConnectAccessConfig": {
      "type": "object",
      "description": "The configuration of access to the Kafka Connect cluster.",
      "id": "ConnectAccessConfig",
      "properties": {
        "networkConfigs": {
          "type": "array",
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka Connect cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "items": {
            "$ref": "ConnectNetworkConfig"
          }
        }
      }
    },
    "SchemaMode": {
      "description": "SchemaMode represents the mode of a schema registry or a specific subject. Four modes are supported: * NONE: deprecated. This was the default mode for a subject, but now the default is unset (which means use the global schema registry setting) * READONLY: The schema registry is in read-only mode. * READWRITE: The schema registry is in read-write mode, which allows limited write operations on the schema. * IMPORT: The schema registry is in import mode, which allows more editing operations on the schema for data importing purposes.",
      "type": "object",
      "id": "SchemaMode",
      "properties": {
        "mode": {
          "type": "string",
          "description": "Required. The mode type of a schema registry (READWRITE by default) or of a subject (unset by default, which means use the global schema registry setting).",
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ]
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "UpdateSchemaModeRequest": {
      "type": "object",
      "description": "Request for updating schema registry or subject mode.",
      "id": "UpdateSchemaModeRequest",
      "properties": {
        "mode": {
          "type": "string",
          "description": "Required. The mode type.",
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ]
        }
      }
    },
    "ResumeConnectorRequest": {
      "type": "object",
      "description": "Request for ResumeConnector.",
      "id": "ResumeConnectorRequest",
      "properties": {}
    },
    "LookupVersionRequest": {
      "id": "LookupVersionRequest",
      "properties": {
        "schema": {
          "type": "string",
          "description": "Required. The schema payload"
        },
        "references": {
          "type": "array",
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "deleted": {
          "description": "Optional. If true, soft-deleted versions will be included in lookup, no matter if the subject is active or soft-deleted. If false, soft-deleted versions will be excluded. The default is false.",
          "type": "boolean"
        },
        "normalize": {
          "type": "boolean",
          "description": "Optional. If true, the schema will be normalized before being looked up. The default is false."
        },
        "schemaType": {
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "type": "string",
          "description": "Optional. The schema type of the schema.",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        }
      },
      "description": "Request for LookupVersion.",
      "type": "object"
    },
    "UpdateSchemaConfigRequest": {
      "id": "UpdateSchemaConfigRequest",
      "properties": {
        "compatibility": {
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "description": "Required. The compatibility type of the schemas. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the compatibility field for the SchemaConfig.",
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "type": "string"
        },
        "normalize": {
          "type": "boolean",
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the normalize field for the SchemaConfig."
        }
      },
      "description": "Request for updating schema config. On a SchemaSubject-level SchemaConfig, an unset field will be removed from the SchemaConfig.",
      "type": "object"
    },
    "CreateVersionResponse": {
      "id": "CreateVersionResponse",
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique identifier of the schema created.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Response for CreateVersion."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "AclEntry": {
      "type": "object",
      "description": "Represents the access granted for a given Resource Pattern in an ACL.",
      "id": "AclEntry",
      "properties": {
        "principal": {
          "description": "Required. The principal. Specified as Google Cloud account, with the Kafka StandardAuthorizer prefix \"User:\". For example: \"User:test-kafka-client@test-project.iam.gserviceaccount.com\". Can be the wildcard \"User:*\" to refer to all users.",
          "type": "string"
        },
        "operation": {
          "description": "Required. The operation type. Allowed values are (case insensitive): ALL, READ, WRITE, CREATE, DELETE, ALTER, DESCRIBE, CLUSTER_ACTION, DESCRIBE_CONFIGS, ALTER_CONFIGS, and IDEMPOTENT_WRITE. See https://kafka.apache.org/documentation/#operations_resources_and_protocols for valid combinations of resource_type and operation for different Kafka API requests.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Required. The host. Must be set to \"*\" for Managed Service for Apache Kafka."
        },
        "permissionType": {
          "description": "Required. The permission type. Accepted values are (case insensitive): ALLOW, DENY.",
          "type": "string"
        }
      }
    },
    "RestartConnectorResponse": {
      "id": "RestartConnectorResponse",
      "properties": {},
      "description": "Response for RestartConnector.",
      "type": "object"
    },
    "Connector": {
      "description": "A Kafka Connect connector in a given ConnectCluster.",
      "type": "object",
      "id": "Connector",
      "properties": {
        "taskRestartPolicy": {
          "description": "Optional. Restarts the individual tasks of a Connector.",
          "$ref": "TaskRetryPolicy"
        },
        "configs": {
          "type": "object",
          "description": "Optional. Connector config as keys/values. The keys of the map are connector property names, for example: `connector.class`, `tasks.max`, `key.converter`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNASSIGNED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "RESTARTING",
            "STOPPED"
          ],
          "enumDescriptions": [
            "A state was not specified.",
            "The connector is not assigned to any tasks, usually transient.",
            "The connector is running.",
            "The connector has been paused.",
            "The connector has failed. See logs for why.",
            "The connector is restarting.",
            "The connector has been stopped."
          ],
          "description": "Output only. The current state of the connector.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}"
        }
      }
    },
    "SchemaReference": {
      "id": "SchemaReference",
      "properties": {
        "subject": {
          "description": "Required. The subject of the reference.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the reference.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version of the reference.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "SchemaReference is a reference to a schema.",
      "type": "object"
    },
    "CreateVersionRequest": {
      "description": "Request for CreateVersion.",
      "type": "object",
      "id": "CreateVersionRequest",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Optional. The version to create. It is optional. If not specified, the version will be created with the max version ID of the subject increased by 1. If the version ID is specified, it will be used as the new version ID and must not be used by an existing version of the subject.",
          "format": "int32"
        },
        "schemaType": {
          "description": "Optional. The type of the schema. It is optional. If not specified, the schema type will be AVRO.",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ]
        },
        "id": {
          "description": "Optional. The schema ID of the schema. If not specified, the schema ID will be generated by the server. If the schema ID is specified, it must not be used by an existing schema that is different from the schema to be created.",
          "format": "int32",
          "type": "integer"
        },
        "normalize": {
          "type": "boolean",
          "description": "Optional. If true, the schema will be normalized before being stored. The default is false."
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          },
          "type": "array"
        }
      }
    },
    "GcpConfig": {
      "id": "GcpConfig",
      "properties": {
        "accessConfig": {
          "description": "Required. Access configuration for the Kafka cluster.",
          "$ref": "AccessConfig"
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. Immutable. The Cloud KMS Key name to use for encryption. The key must be located in the same region as the cluster and cannot be changed. Structured like: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}."
        }
      },
      "description": "Configuration properties for a Kafka cluster deployed to Google Cloud Platform.",
      "type": "object"
    },
    "TaskRetryPolicy": {
      "description": "Task Retry Policy is implemented on a best-effort basis. The default policy retries tasks with a minimum_backoff of 60 seconds, and a maximum_backoff of 12 hours. You can disable the policy by setting the task_retry_disabled field to true. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. Note that the delay between consecutive task restarts may not always precisely match the configured settings. This can happen when the ConnectCluster is in rebalancing state or if the ConnectCluster is unresponsive etc. The default values for minimum and maximum backoffs are 60 seconds and 12 hours respectively.",
      "type": "object",
      "id": "TaskRetryPolicy",
      "properties": {
        "taskRetryDisabled": {
          "description": "Optional. If true, task retry is disabled.",
          "type": "boolean"
        },
        "minimumBackoff": {
          "type": "string",
          "description": "Optional. The minimum amount of time to wait before retrying a failed task. This sets a lower bound for the backoff delay.",
          "format": "google-duration"
        },
        "maximumBackoff": {
          "description": "Optional. The maximum amount of time to wait before retrying a failed task. This sets an upper bound for the backoff delay.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "UpdateOptions": {
      "id": "UpdateOptions",
      "properties": {
        "allowBrokerDownscaleOnClusterUpscale": {
          "description": "Optional. If true, allows an update operation that increases the total vCPU and/or memory allocation of the cluster to significantly decrease the per-broker vCPU and/or memory allocation. This can result in reduced performance and availability. By default, the update operation will fail if an upscale request results in a vCPU or memory allocation for the brokers that is smaller than 90% of the current broker size.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "UpdateOptions specifies options that influence how a cluster update is applied. These options control the behavior of the update process, rather than defining the desired end-state of a cluster."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "SchemaConfig": {
      "description": "SchemaConfig represents configuration for a schema registry or a specific subject.",
      "type": "object",
      "id": "SchemaConfig",
      "properties": {
        "alias": {
          "type": "string",
          "description": "Optional. The subject to which this subject is an alias of. Only applicable for subject config."
        },
        "compatibility": {
          "type": "string",
          "description": "Required. The compatibility type of the schema. The default value is BACKWARD. If unset in a SchemaSubject-level SchemaConfig, defaults to the global value. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ]
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. If unset in a SchemaSubject-level SchemaConfig, the global value will be used. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "boolean"
        }
      }
    },
    "Schema": {
      "id": "Schema",
      "properties": {
        "schemaType": {
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "description": "Optional. The schema type of the schema.",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "type": "string"
        },
        "schema": {
          "description": "The schema payload.",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          },
          "type": "array"
        }
      },
      "description": "Schema for a Kafka message.",
      "type": "object"
    },
    "ListConsumerGroupsResponse": {
      "type": "object",
      "description": "Response for ListConsumerGroups.",
      "id": "ListConsumerGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "consumerGroups": {
          "type": "array",
          "description": "The list of consumer group in the requested parent. The order of the consumer groups is unspecified.",
          "items": {
            "$ref": "ConsumerGroup"
          }
        }
      }
    },
    "StopConnectorResponse": {
      "description": "Response for StopConnector.",
      "type": "object",
      "id": "StopConnectorResponse",
      "properties": {}
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "ConsumerGroup": {
      "id": "ConsumerGroup",
      "properties": {
        "name": {
          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}",
          "type": "string"
        },
        "topics": {
          "type": "object",
          "description": "Optional. Metadata for this consumer group for all topics it has metadata for. The key of the map is a topic name, structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "additionalProperties": {
            "$ref": "ConsumerTopicMetadata"
          }
        }
      },
      "type": "object",
      "description": "A Kafka consumer group in a given cluster."
    },
    "BrokerDetails": {
      "id": "BrokerDetails",
      "properties": {
        "brokerIndex": {
          "description": "Output only. The index of the broker.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "nodeId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The node id of the broker.",
          "format": "int64"
        },
        "rack": {
          "description": "Output only. The rack of the broker.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Details of a broker in the Kafka cluster.",
      "type": "object"
    },
    "ListAclsResponse": {
      "id": "ListAclsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "acls": {
          "type": "array",
          "description": "The list of acls in the requested parent. The order of the acls is unspecified.",
          "items": {
            "$ref": "Acl"
          }
        }
      },
      "description": "Response for ListAcls.",
      "type": "object"
    },
    "StopConnectorRequest": {
      "description": "Request for StopConnector.",
      "type": "object",
      "id": "StopConnectorRequest",
      "properties": {}
    },
    "TlsConfig": {
      "id": "TlsConfig",
      "properties": {
        "trustConfig": {
          "$ref": "TrustConfig",
          "description": "Optional. The configuration of the broker truststore. If specified, clients can use mTLS for authentication."
        },
        "sslPrincipalMappingRules": {
          "description": "Optional. A list of rules for mapping from SSL principal names to short names. These are applied in order by Kafka. Refer to the Apache Kafka documentation for `ssl.principal.mapping.rules` for the precise formatting details and syntax. Example: \"RULE:^CN=(.*?),OU=ServiceUsers.*$/$1@example.com/,DEFAULT\" This is a static Kafka broker configuration. Setting or modifying this field will trigger a rolling restart of the Kafka brokers to apply the change. An empty string means no rules are applied (Kafka default).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The TLS configuration for the Kafka cluster."
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "properties": {
        "subnet": {
          "description": "Required. Name of the VPC subnet in which to create Private Service Connect (PSC) endpoints for the Kafka brokers and bootstrap address. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} The subnet must be located in the same region as the Kafka cluster. The project may differ. Multiple subnets from the same parent network must not be specified.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka cluster."
    },
    "CreateSchemaRegistryRequest": {
      "description": "Request to create a schema registry instance.",
      "type": "object",
      "id": "CreateSchemaRegistryRequest",
      "properties": {
        "schemaRegistryId": {
          "type": "string",
          "description": "Required. The schema registry instance ID to use for this schema registry. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores (-). The maximum length is 63 characters. The ID must not start with a number."
        },
        "schemaRegistry": {
          "$ref": "SchemaRegistry",
          "description": "Required. The schema registry instance to create. The name field is ignored."
        }
      }
    },
    "SchemaVersion": {
      "type": "object",
      "description": "Version of a schema.",
      "id": "SchemaVersion",
      "properties": {
        "version": {
          "description": "Required. The version ID",
          "format": "int32",
          "type": "integer"
        },
        "schemaType": {
          "type": "string",
          "description": "Optional. The schema type of the schema.",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ]
        },
        "subject": {
          "type": "string",
          "description": "Required. The subject of the version."
        },
        "id": {
          "description": "Required. The schema ID.",
          "format": "int32",
          "type": "integer"
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload."
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          },
          "type": "array"
        }
      }
    },
    "CheckCompatibilityRequest": {
      "id": "CheckCompatibilityRequest",
      "properties": {
        "schemaType": {
          "description": "Optional. The schema type of the schema.",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ]
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload"
        },
        "references": {
          "type": "array",
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "verbose": {
          "description": "Optional. If true, the response will contain the compatibility check result with reasons for failed checks. The default is false.",
          "type": "boolean"
        }
      },
      "description": "Request for CheckCompatibility.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ConsumerTopicMetadata": {
      "description": "Metadata for a consumer group corresponding to a specific topic.",
      "type": "object",
      "id": "ConsumerTopicMetadata",
      "properties": {
        "partitions": {
          "description": "Optional. Metadata for this consumer group and topic for all partition indexes it has metadata for.",
          "additionalProperties": {
            "$ref": "ConsumerPartitionMetadata"
          },
          "type": "object"
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ListSchemaRegistriesResponse": {
      "description": "Request for ListSchemaRegistries.",
      "type": "object",
      "id": "ListSchemaRegistriesResponse",
      "properties": {
        "schemaRegistries": {
          "type": "array",
          "description": "The schema registry instances.",
          "items": {
            "$ref": "SchemaRegistry"
          }
        }
      }
    },
    "CapacityConfig": {
      "description": "A capacity configuration of a Kafka cluster.",
      "type": "object",
      "id": "CapacityConfig",
      "properties": {
        "vcpuCount": {
          "description": "Required. The number of vCPUs to provision for the cluster. Minimum: 3.",
          "format": "int64",
          "type": "string"
        },
        "memoryBytes": {
          "description": "Required. The memory to provision for the cluster in bytes. The CPU:memory ratio (vCPU:GiB) must be between 1:1 and 1:8. Minimum: 3221225472 (3 GiB).",
          "format": "int64",
          "type": "string"
        }
      }
    }
  },
  "description": "Manage Apache Kafka clusters and resources. ",
  "revision": "20260618",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "managedkafka.projects.locations.operations.get"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "managedkafka.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "delete": {
                  "id": "managedkafka.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "connectClusters": {
              "resources": {
                "connectors": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "parameters": {
                        "connectorId": {
                          "type": "string",
                          "description": "Required. The ID to use for the connector, which will become the final component of the connector's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-connector-id`.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent Connect cluster in which to create the connector. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Creates a new connector in a given Connect cluster.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Connector"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/connectors",
                      "response": {
                        "$ref": "Connector"
                      },
                      "id": "managedkafka.projects.locations.connectClusters.connectors.create"
                    },
                    "stop": {
                      "path": "v1/{+name}:stop",
                      "response": {
                        "$ref": "StopConnectorResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.connectClusters.connectors.stop",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:stop",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "StopConnectorRequest"
                      },
                      "description": "Stops the connector.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the connector to stop. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/connectors",
                      "response": {
                        "$ref": "ListConnectorsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent Connect cluster whose connectors are to be listed. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListConnectors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectors` must match the call that provided the page token."
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of connectors to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "description": "Lists the connectors in a given Connect cluster."
                    },
                    "delete": {
                      "id": "managedkafka.projects.locations.connectClusters.connectors.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "description": "Deletes a connector.",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the connector to delete. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "required": true
                        }
                      }
                    },
                    "restart": {
                      "description": "Restarts the connector.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the connector to restart. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}:restart",
                      "response": {
                        "$ref": "RestartConnectorResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.connectClusters.connectors.restart",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:restart",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "RestartConnectorRequest"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Connector"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the connector whose configuration to return. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Returns the properties of a single connector."
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Connector"
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Connector"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.connectClusters.connectors.patch",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Updates the properties of a connector."
                    },
                    "pause": {
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the connector to pause. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Pauses the connector and its tasks.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:pause",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "PauseConnectorRequest"
                      },
                      "id": "managedkafka.projects.locations.connectClusters.connectors.pause",
                      "path": "v1/{+name}:pause",
                      "response": {
                        "$ref": "PauseConnectorResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "resume": {
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the connector to pause. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Resumes the connector and its tasks.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "ResumeConnectorRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:resume",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:resume",
                      "response": {
                        "$ref": "ResumeConnectorResponse"
                      },
                      "id": "managedkafka.projects.locations.connectClusters.connectors.resume"
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "description": "Deletes a single Connect cluster.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Kafka Connect cluster to delete. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "id": "managedkafka.projects.locations.connectClusters.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ConnectCluster"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/connectClusters",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "managedkafka.projects.locations.connectClusters.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "connectClusterId": {
                      "description": "Required. The ID to use for the Connect cluster, which will become the final component of the cluster's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-cluster-id`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent project/location in which to create the Kafka Connect cluster. Structured like `projects/{project}/locations/{location}/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new Kafka Connect cluster in a given project and location."
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the Kafka Connect cluster whose configuration to return. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Returns the properties of a single Kafka Connect cluster.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ConnectCluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "managedkafka.projects.locations.connectClusters.get"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of Connect clusters to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListConnectClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectClusters` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Order by fields for the result.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter expression for the result."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent project/location whose Connect clusters are to be listed. Structured like `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Lists the Kafka Connect clusters in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "managedkafka.projects.locations.connectClusters.list",
                  "path": "v1/{+parent}/connectClusters",
                  "response": {
                    "$ref": "ListConnectClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "description": "Updates the properties of a single Kafka Connect cluster.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ConnectCluster"
                  },
                  "id": "managedkafka.projects.locations.connectClusters.patch",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "clusters": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "id": "managedkafka.projects.locations.clusters.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/clusters",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent region in which to create the cluster. Structured like `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Required. The ID to use for the cluster, which will become the final component of the cluster's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-cluster-id`.",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new cluster in a given project and location."
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the cluster whose configuration to return.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true
                    },
                    "view": {
                      "description": "Optional. Specifies the view of the Cluster resource to be returned. Defaults to CLUSTER_VIEW_BASIC. See the ClusterView enum for possible values.",
                      "location": "query",
                      "enum": [
                        "CLUSTER_VIEW_UNSPECIFIED",
                        "CLUSTER_VIEW_BASIC",
                        "CLUSTER_VIEW_FULL"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include the basic metadata of the Cluster. This is the default value (for both ListClusters and GetCluster).",
                        "Include everything, including data fetched from the Kafka cluster source of truth."
                      ]
                    }
                  },
                  "description": "Returns the properties of a single cluster.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Cluster"
                  },
[...]
