{
  "version_module": true,
  "basePath": "",
  "title": "Managed Service for Apache Kafka API",
  "mtlsRootUrl": "https://managedkafka.mtls.googleapis.com/",
  "description": "Manage Apache Kafka clusters and resources. ",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Managed Kafka",
  "kind": "discovery#restDescription",
  "id": "managedkafka:v1",
  "ownerDomain": "google.com",
  "schemas": {
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      }
    },
    "UpdateSchemaModeRequest": {
      "id": "UpdateSchemaModeRequest",
      "description": "Request for updating schema registry or subject mode.",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "description": "Required. The mode type.",
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ]
        }
      },
      "type": "object"
    },
    "ConsumerTopicMetadata": {
      "type": "object",
      "properties": {
        "partitions": {
          "description": "Optional. Metadata for this consumer group and topic for all partition indexes it has metadata for.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsumerPartitionMetadata"
          }
        }
      },
      "description": "Metadata for a consumer group corresponding to a specific topic.",
      "id": "ConsumerTopicMetadata"
    },
    "UpdateSchemaConfigRequest": {
      "id": "UpdateSchemaConfigRequest",
      "description": "Request for updating schema config. On a SchemaSubject-level SchemaConfig, an unset field will be removed from the SchemaConfig.",
      "properties": {
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the normalize field for the SchemaConfig.",
          "type": "boolean"
        },
        "compatibility": {
          "description": "Required. The compatibility type of the schemas. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the compatibility field for the SchemaConfig.",
          "type": "string",
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ]
        }
      },
      "type": "object"
    },
    "PauseConnectorResponse": {
      "type": "object",
      "id": "PauseConnectorResponse",
      "properties": {},
      "description": "Response for PauseConnector."
    },
    "SchemaConfig": {
      "properties": {
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. If unset in a SchemaSubject-level SchemaConfig, the global value will be used. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "boolean"
        },
        "compatibility": {
          "description": "Required. The compatibility type of the schema. The default value is BACKWARD. If unset in a SchemaSubject-level SchemaConfig, defaults to the global value. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "type": "string",
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ]
        },
        "alias": {
          "description": "Optional. The subject to which this subject is an alias of. Only applicable for subject config.",
          "type": "string"
        }
      },
      "id": "SchemaConfig",
      "description": "SchemaConfig represents configuration for a schema registry or a specific subject.",
      "type": "object"
    },
    "CreateSchemaRegistryRequest": {
      "properties": {
        "schemaRegistryId": {
          "description": "Required. The schema registry instance ID to use for this schema registry. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores (-). The maximum length is 63 characters. The ID must not start with a number.",
          "type": "string"
        },
        "schemaRegistry": {
          "$ref": "SchemaRegistry",
          "description": "Required. The schema registry instance to create. The name field is ignored."
        }
      },
      "id": "CreateSchemaRegistryRequest",
      "type": "object",
      "description": "Request to create a schema registry instance."
    },
    "CertificateAuthorityServiceConfig": {
      "type": "object",
      "description": "A configuration for the Google Certificate Authority Service.",
      "properties": {
        "caPool": {
          "description": "Required. The name of the CA pool to pull CA certificates from. Structured like: projects/{project}/locations/{location}/caPools/{ca_pool}. The CA pool does not need to be in the same project or location as the Kafka cluster.",
          "type": "string"
        }
      },
      "id": "CertificateAuthorityServiceConfig"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "TrustConfig": {
      "description": "Sources of CA certificates to install in the broker's truststore.",
      "type": "object",
      "properties": {
        "casConfigs": {
          "description": "Optional. Configuration for the Google Certificate Authority Service. Maximum 10.",
          "items": {
            "$ref": "CertificateAuthorityServiceConfig"
          },
          "type": "array"
        }
      },
      "id": "TrustConfig"
    },
    "Schema": {
      "type": "object",
      "description": "Schema for a Kafka message.",
      "properties": {
        "references": {
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema.",
          "type": "array"
        },
        "schema": {
          "description": "The schema payload.",
          "type": "string"
        },
        "schemaType": {
          "description": "Optional. The schema type of the schema.",
          "type": "string",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ]
        }
      },
      "id": "Schema"
    },
    "ConnectNetworkConfig": {
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka Connect cluster.",
      "properties": {
        "dnsDomainNames": {
          "description": "Optional. Additional DNS domain names from the subnet's network to be made visible to the Connect Cluster. When using MirrorMaker2, it's necessary to add the bootstrap address's dns domain name of the target cluster to make it visible to the connector. For example: my-kafka-cluster.us-central1.managedkafka.my-project.cloud.goog",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "primarySubnet": {
          "description": "Required. VPC subnet to make available to the Kafka Connect cluster. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} It is used to create a Private Service Connect (PSC) interface for the Kafka Connect workers. It must be located in the same region as the Kafka Connect cluster. The CIDR range of the subnet must be within the IPv4 address ranges for private networks, as specified in RFC 1918. The primary subnet CIDR range must have a minimum size of /22 (1024 addresses).",
          "type": "string"
        },
        "additionalSubnets": {
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "description": "Optional. Deprecated: Managed Kafka Connect clusters can now reach any endpoint accessible from the primary subnet without the need to define additional subnets. Please see https://cloud.google.com/managed-service-for-apache-kafka/docs/connect-cluster/create-connect-cluster#worker-subnet for more information."
        }
      },
      "id": "ConnectNetworkConfig",
      "type": "object"
    },
    "CheckCompatibilityRequest": {
      "properties": {
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "verbose": {
          "description": "Optional. If true, the response will contain the compatibility check result with reasons for failed checks. The default is false.",
          "type": "boolean"
        },
        "schemaType": {
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        },
        "references": {
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema.",
          "type": "array"
        }
      },
      "id": "CheckCompatibilityRequest",
      "description": "Request for CheckCompatibility.",
      "type": "object"
    },
    "ListConnectorsResponse": {
      "description": "Response for ListConnectors.",
      "id": "ListConnectorsResponse",
      "properties": {
        "connectors": {
          "items": {
            "$ref": "Connector"
          },
          "type": "array",
          "description": "The list of connectors in the requested parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "PublicClusterConfig": {
      "type": "object",
      "properties": {
        "allowedSourceIpRanges": {
          "description": "Required. The list of IPv4 ranges in CIDR notation that are allowed to connect to the public Kafka broker endpoints. The Kafka cluster should only be exposed to trusted external ranges. A maximum of 500 IP ranges can be specified and no single range can be larger than a `/16`. This field is required if PublicClusterConfig is specified.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "PublicClusterConfig",
      "description": "The configuration for a public Kafka cluster"
    },
    "RebalanceConfig": {
      "description": "Defines rebalancing behavior of a Kafka cluster.",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "A mode was not specified. Do not use.",
            "Do not rebalance automatically.",
            "Automatically rebalance topic partitions among brokers when the cluster is scaled up."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "NO_REBALANCE",
            "AUTO_REBALANCE_ON_SCALE_UP"
          ],
          "description": "Optional. The rebalance behavior for the cluster. When not specified, defaults to `NO_REBALANCE`."
        }
      },
      "type": "object",
      "id": "RebalanceConfig"
    },
    "PauseConnectorRequest": {
      "type": "object",
      "id": "PauseConnectorRequest",
      "description": "Request for PauseConnector.",
      "properties": {}
    },
    "SchemaVersion": {
      "properties": {
        "subject": {
          "type": "string",
          "description": "Required. The subject of the version."
        },
        "schemaType": {
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "description": "Optional. The schema type of the schema."
        },
        "schema": {
          "description": "Required. The schema payload.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version ID",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "format": "int32",
          "description": "Required. The schema ID.",
          "type": "integer"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema."
        }
      },
      "type": "object",
      "id": "SchemaVersion",
      "description": "Version of a schema."
    },
    "ConsumerGroup": {
      "description": "A Kafka consumer group in a given cluster.",
      "type": "object",
      "properties": {
        "topics": {
          "type": "object",
          "description": "Optional. Metadata for this consumer group for all topics it has metadata for. The key of the map is a topic name, structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "additionalProperties": {
            "$ref": "ConsumerTopicMetadata"
          }
        },
        "name": {
          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}",
          "type": "string"
        }
      },
      "id": "ConsumerGroup"
    },
    "StopConnectorRequest": {
      "properties": {},
      "id": "StopConnectorRequest",
      "description": "Request for StopConnector.",
      "type": "object"
    },
    "CheckCompatibilityResponse": {
      "type": "object",
      "properties": {
        "is_compatible": {
          "type": "boolean",
          "description": "The compatibility check result. If true, the schema is compatible with the resource."
        },
        "messages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Failure reasons if verbose = true."
        }
      },
      "id": "CheckCompatibilityResponse",
      "description": "Response for CheckCompatibility."
    },
    "PublicClusterDetails": {
      "properties": {
        "discoveryDnsRecords": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. DNS discovery records that resolve to all of the external IP addresses associated with the public cluster. Used for configuring DNS-based egress firewall rules to a public cluster. discovery_dns_record can be added to this list if the cluster is scaled up. Must configure DNS based firewalls to resolve ALL DNS records in this list as large clusters have IP addresses sharded across records. Each record contains a maximum of 30 IP addresses."
        },
        "externalIpAddresses": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. All of the external IP addresses associated with the public cluster used for configuring egress firewall rules to a public cluster. external_ip_address can be added to this list if the cluster is scaled up."
        }
      },
      "type": "object",
      "id": "PublicClusterDetails",
      "description": "Details of the public cluster feature for the Kafka cluster."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "UpdateOptions": {
      "type": "object",
      "id": "UpdateOptions",
      "description": "UpdateOptions specifies options that influence how a cluster update is applied. These options control the behavior of the update process, rather than defining the desired end-state of a cluster.",
      "properties": {
        "allowBrokerDownscaleOnClusterUpscale": {
          "description": "Optional. If true, allows an update operation that increases the total vCPU and/or memory allocation of the cluster to significantly decrease the per-broker vCPU and/or memory allocation. This can result in reduced performance and availability. By default, the update operation will fail if an upscale request results in a vCPU or memory allocation for the brokers that is smaller than 90% of the current broker size.",
          "type": "boolean"
        }
      }
    },
    "Acl": {
      "id": "Acl",
      "properties": {
        "aclEntries": {
          "description": "Required. The ACL entries that apply to the resource pattern. The maximum number of allowed entries 100.",
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          }
        },
        "resourceName": {
          "description": "Output only. The ACL resource name derived from the name. For cluster resource_type, this is always \"kafka-cluster\". Can be the wildcard literal \"*\".",
          "type": "string",
          "readOnly": true
        },
        "patternType": {
          "type": "string",
          "description": "Output only. The ACL pattern type derived from the name. One of: LITERAL, PREFIXED.",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. `etag` is used for concurrency control. An `etag` is returned in the response to `GetAcl` and `CreateAcl`. Callers are required to put that etag in the request to `UpdateAcl` to ensure that their change will be applied to the same version of the acl that exists in the Kafka Cluster. A terminal 'T' character in the etag indicates that the AclEntries were truncated; more entries for the Acl exist on the Kafka Cluster, but can't be returned in the Acl due to repeated field limits.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
          "type": "string"
        },
        "resourceType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ACL resource type derived from the name. One of: CLUSTER, TOPIC, GROUP, TRANSACTIONAL_ID."
        }
      },
      "type": "object",
      "description": "Represents the set of ACLs for a given Kafka Resource Pattern, which consists of resource_type, resource_name and pattern_type."
    },
    "EffectiveCapacityConfig": {
      "properties": {
        "brokerCount": {
          "readOnly": true,
          "description": "Output only. The number of brokers in the cluster.",
          "type": "string",
          "format": "int64"
        },
        "brokerDiskSizeGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The disk assigned to each broker in Gibibytes.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EffectiveCapacityConfig",
      "description": "Describes the effective capacity configuration of a Kafka cluster, both cluster-wide and per-broker."
    },
    "AclEntry": {
      "id": "AclEntry",
      "properties": {
        "host": {
          "description": "Required. The host. Must be set to \"*\" for Managed Service for Apache Kafka.",
          "type": "string"
        },
        "principal": {
          "description": "Required. The principal. Specified as Google Cloud account, with the Kafka StandardAuthorizer prefix \"User:\". For example: \"User:test-kafka-client@test-project.iam.gserviceaccount.com\". Can be the wildcard \"User:*\" to refer to all users.",
          "type": "string"
        },
        "operation": {
          "description": "Required. The operation type. Allowed values are (case insensitive): ALL, READ, WRITE, CREATE, DELETE, ALTER, DESCRIBE, CLUSTER_ACTION, DESCRIBE_CONFIGS, ALTER_CONFIGS, and IDEMPOTENT_WRITE. See https://kafka.apache.org/documentation/#operations_resources_and_protocols for valid combinations of resource_type and operation for different Kafka API requests.",
          "type": "string"
        },
        "permissionType": {
          "description": "Required. The permission type. Accepted values are (case insensitive): ALLOW, DENY.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the access granted for a given Resource Pattern in an ACL."
    },
    "TlsConfig": {
      "properties": {
        "sslPrincipalMappingRules": {
          "description": "Optional. A list of rules for mapping from SSL principal names to short names. These are applied in order by Kafka. Refer to the Apache Kafka documentation for `ssl.principal.mapping.rules` for the precise formatting details and syntax. Example: \"RULE:^CN=(.*?),OU=ServiceUsers.*$/$1@example.com/,DEFAULT\" This is a static Kafka broker configuration. Setting or modifying this field will trigger a rolling restart of the Kafka brokers to apply the change. An empty string means no rules are applied (Kafka default).",
          "type": "string"
        },
        "trustConfig": {
          "description": "Optional. The configuration of the broker truststore. If specified, clients can use mTLS for authentication.",
          "$ref": "TrustConfig"
        }
      },
      "id": "TlsConfig",
      "description": "The TLS configuration for the Kafka cluster.",
      "type": "object"
    },
    "BrokerCapacityConfig": {
      "description": "Capacity configuration at a per-broker level within the Kafka cluster. The config will be appled to each broker in the cluster.",
      "type": "object",
      "id": "BrokerCapacityConfig",
      "properties": {
        "diskSizeGib": {
          "description": "Optional. The disk to provision for each broker in Gibibytes. Minimum: 100 GiB.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "LookupVersionRequest": {
      "id": "LookupVersionRequest",
      "description": "Request for LookupVersion.",
      "properties": {
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being looked up. The default is false.",
          "type": "boolean"
        },
        "schemaType": {
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload"
        },
        "deleted": {
          "type": "boolean",
          "description": "Optional. If true, soft-deleted versions will be included in lookup, no matter if the subject is active or soft-deleted. If false, soft-deleted versions will be excluded. The default is false."
        },
        "references": {
          "type": "array",
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          }
        }
      },
      "type": "object"
    },
    "ConsumerPartitionMetadata": {
      "properties": {
        "offset": {
          "description": "Required. The current offset for this partition, or 0 if no offset has been committed.",
          "format": "int64",
          "type": "string"
        },
        "metadata": {
          "type": "string",
          "description": "Optional. The associated metadata for this partition, or empty if it does not exist."
        }
      },
      "id": "ConsumerPartitionMetadata",
      "type": "object",
      "description": "Metadata for a consumer group corresponding to a specific partition."
    },
    "NetworkConfig": {
      "properties": {
        "subnet": {
          "description": "Required. Name of the VPC subnet in which to create Private Service Connect (PSC) endpoints for the Kafka brokers and bootstrap address. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} The subnet must be located in the same region as the Kafka cluster. The project may differ. Multiple subnets from the same parent network must not be specified.",
          "type": "string"
        }
      },
      "id": "NetworkConfig",
      "type": "object",
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka cluster."
    },
    "AccessConfig": {
      "properties": {
        "publicClusterConfig": {
          "description": "Optional. The configuration for public connectivity to the Kafka cluster.",
          "$ref": "PublicClusterConfig"
        },
        "networkConfigs": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array",
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka cluster. Minimum of 1 network is required. Maximum 10 networks can be specified."
        }
      },
      "type": "object",
      "description": "The configuration of access to the Kafka cluster.",
      "id": "AccessConfig"
    },
    "Cluster": {
      "type": "object",
      "id": "Cluster",
      "description": "An Apache Kafka cluster deployed in a location.",
      "properties": {
        "name": {
          "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the cluster was created.",
          "type": "string",
          "readOnly": true
        },
        "rebalanceConfig": {
          "description": "Optional. Rebalance configuration for the Kafka cluster.",
          "$ref": "RebalanceConfig"
        },
        "publicClusterDetails": {
          "description": "Output only. Details of the public cluster feature for the Kafka cluster.",
          "$ref": "PublicClusterDetails",
          "readOnly": true
        },
        "brokerDetails": {
          "items": {
            "$ref": "BrokerDetails"
          },
          "readOnly": true,
          "description": "Output only. Only populated when FULL view is requested. Details of each broker in the cluster.",
          "type": "array"
        },
        "kafkaVersion": {
          "description": "Optional. The Apache Kafka version of the cluster (for example, `3.7.x`, `4.3.x`). If not specified during cluster creation, defaults to `3.7.x`.",
          "type": "string"
        },
        "brokerCapacityConfig": {
          "description": "Optional. Capacity configuration at a per-broker level within the Kafka cluster. The config will be appled to each broker in the cluster.",
          "$ref": "BrokerCapacityConfig"
        },
        "capacityConfig": {
          "$ref": "CapacityConfig",
          "description": "Required. Capacity configuration for the Kafka cluster."
        },
        "tlsConfig": {
          "description": "Optional. TLS configuration for the Kafka cluster.",
          "$ref": "TlsConfig"
        },
        "gcpConfig": {
          "$ref": "GcpConfig",
          "description": "Required. Configuration properties for a Kafka cluster deployed to Google Cloud Platform."
        },
        "bootstrapAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The bootstrap address of the Kafka cluster. The returned address format is: `bootstrap-...managedkafka.s.cloud.goog` or `bootstrap...managedkafka..cloud.goog` (legacy format). ## Examples: `bootstrap-nol2mecj8p94jhx2ge2rg54579a.c0aad26f.europe-west1.managedkafka.s.cloud.goog` - `bootstrap.my-cluster.us-central1.managedkafka.my-project.cloud.goog` The port number is omitted so clients can connect to their target listener (for example, `:9092` for TLS or `:9094` for mTLS)."
        },
        "effectiveCapacityConfig": {
          "readOnly": true,
          "description": "Output only. Only populated when FULL view is requested. The effective capacity configuration of the cluster.",
          "$ref": "EffectiveCapacityConfig"
        },
        "updateTime": {
          "description": "Output only. The time when the cluster was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateOptions": {
          "description": "Optional. UpdateOptions represents options that control how updates to the cluster are applied.",
          "$ref": "UpdateOptions"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "description": "Output only. The current state of the cluster.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is being updated."
          ]
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        }
      }
    },
    "Topic": {
      "id": "Topic",
      "type": "object",
      "description": "A Kafka topic in a given cluster.",
      "properties": {
        "partitionCount": {
          "description": "Required. The number of partitions this topic has. The partition count can only be increased, not decreased. Please note that if partitions are increased for a topic that has a key, the partitioning logic or the ordering of the messages will be affected.",
          "type": "integer",
          "format": "int32"
        },
        "replicationFactor": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Immutable. The number of replicas of each partition. A replication factor of 3 is recommended for high availability."
        },
        "configs": {
          "description": "Optional. Configurations for the topic that are overridden from the cluster defaults. The key of the map is a Kafka topic property name, for example: `cleanup.policy`, `compression.type`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "string"
        }
      }
    },
    "SchemaSubject": {
      "properties": {
        "versions": {
          "type": "array",
          "description": "Optional. The versions of the subject.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the subject. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}` Subject name {subject} can contain the following: * Up to 255 UTF-8 bytes. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`."
        }
      },
      "description": "Subject defines the evolution scope of schemas as a holder of schema versions.",
      "id": "SchemaSubject",
      "type": "object"
    },
    "BrokerDetails": {
      "id": "BrokerDetails",
      "description": "Details of a broker in the Kafka cluster.",
      "properties": {
        "rack": {
          "readOnly": true,
          "description": "Output only. The rack of the broker.",
          "type": "string"
        },
        "nodeId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The node id of the broker.",
          "type": "string"
        },
        "brokerIndex": {
          "description": "Output only. The index of the broker.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SchemaReference": {
      "id": "SchemaReference",
      "type": "object",
      "description": "SchemaReference is a reference to a schema.",
      "properties": {
        "name": {
          "description": "Required. The name of the reference.",
          "type": "string"
        },
        "subject": {
          "description": "Required. The subject of the reference.",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "description": "Required. The version of the reference.",
          "format": "int32"
        }
      }
    },
    "ResumeConnectorResponse": {
      "description": "Response for ResumeConnector.",
      "id": "ResumeConnectorResponse",
      "properties": {},
      "type": "object"
    },
    "SchemaMode": {
      "description": "SchemaMode represents the mode of a schema registry or a specific subject. Four modes are supported: * NONE: deprecated. This was the default mode for a subject, but now the default is unset (which means use the global schema registry setting) * READONLY: The schema registry is in read-only mode. * READWRITE: The schema registry is in read-write mode, which allows limited write operations on the schema. * IMPORT: The schema registry is in import mode, which allows more editing operations on the schema for data importing purposes.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Required. The mode type of a schema registry (READWRITE by default) or of a subject (unset by default, which means use the global schema registry setting).",
          "type": "string",
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ]
        }
      },
      "id": "SchemaMode"
    },
    "ListClustersResponse": {
      "description": "Response for ListClusters.",
      "id": "ListClustersResponse",
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "The list of Clusters in the requested parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "SchemaRegistry": {
      "type": "object",
      "description": "SchemaRegistry is a schema registry instance.",
      "properties": {
        "contexts": {
          "readOnly": true,
          "description": "Output only. The contexts of the schema registry instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The name of the schema registry instance. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` The instance name {schema_registry} can contain the following: * Up to 255 characters. * Letters (uppercase or lowercase), numbers, and underscores.",
          "type": "string"
        }
      },
      "id": "SchemaRegistry"
    },
    "ConnectAccessConfig": {
      "id": "ConnectAccessConfig",
      "description": "The configuration of access to the Kafka Connect cluster.",
      "type": "object",
      "properties": {
        "networkConfigs": {
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka Connect cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "type": "array",
          "items": {
            "$ref": "ConnectNetworkConfig"
          }
        }
      }
    },
    "ListConnectClustersResponse": {
      "description": "Response for ListConnectClusters.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "connectClusters": {
          "type": "array",
          "items": {
            "$ref": "ConnectCluster"
          },
          "description": "The list of Connect clusters in the requested parent."
        }
      },
      "id": "ListConnectClustersResponse"
    },
    "ListSchemaRegistriesResponse": {
      "type": "object",
      "description": "Request for ListSchemaRegistries.",
      "id": "ListSchemaRegistriesResponse",
      "properties": {
        "schemaRegistries": {
          "items": {
            "$ref": "SchemaRegistry"
          },
          "description": "The schema registry instances.",
          "type": "array"
        }
      }
    },
    "HttpBody": {
      "id": "HttpBody",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "RemoveAclEntryResponse": {
      "id": "RemoveAclEntryResponse",
      "type": "object",
      "description": "Response for RemoveAclEntry.",
      "properties": {
        "acl": {
          "description": "The updated acl. Returned if the removed acl entry was not the last entry in the acl.",
          "$ref": "Acl"
        },
        "aclDeleted": {
          "type": "boolean",
          "description": "Returned with value true if the removed acl entry was the last entry in the acl, resulting in acl deletion."
        }
      }
    },
    "ListConsumerGroupsResponse": {
      "description": "Response for ListConsumerGroups.",
      "id": "ListConsumerGroupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "consumerGroups": {
          "items": {
            "$ref": "ConsumerGroup"
          },
          "description": "The list of consumer group in the requested parent. The order of the consumer groups is unspecified.",
          "type": "array"
        }
      }
    },
    "ResumeConnectorRequest": {
      "id": "ResumeConnectorRequest",
      "type": "object",
      "description": "Request for ResumeConnector.",
      "properties": {}
    },
    "ConnectGcpConfig": {
      "description": "Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
      "type": "object",
      "id": "ConnectGcpConfig",
      "properties": {
        "accessConfig": {
          "description": "Required. Access configuration for the Kafka Connect cluster.",
          "$ref": "ConnectAccessConfig"
        },
        "secretPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Secrets to load into workers. Exact SecretVersions from Secret Manager must be provided -- aliases are not supported. Up to 32 secrets may be loaded into one cluster. Format: projects//secrets//versions/"
        }
      }
    },
    "Context": {
      "description": "Context represents an independent schema grouping in a schema registry instance.",
      "id": "Context",
      "type": "object",
      "properties": {
        "subjects": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The subjects of the context.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the context. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}` The context name {context} can contain the following: * Up to 255 characters. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`."
        }
      }
    },
    "RestartConnectorResponse": {
      "type": "object",
      "properties": {},
      "id": "RestartConnectorResponse",
      "description": "Response for RestartConnector."
    },
    "TaskRetryPolicy": {
      "description": "Task Retry Policy is implemented on a best-effort basis. The default policy retries tasks with a minimum_backoff of 60 seconds, and a maximum_backoff of 12 hours. You can disable the policy by setting the task_retry_disabled field to true. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. Note that the delay between consecutive task restarts may not always precisely match the configured settings. This can happen when the ConnectCluster is in rebalancing state or if the ConnectCluster is unresponsive etc. The default values for minimum and maximum backoffs are 60 seconds and 12 hours respectively.",
      "id": "TaskRetryPolicy",
      "properties": {
        "minimumBackoff": {
          "description": "Optional. The minimum amount of time to wait before retrying a failed task. This sets a lower bound for the backoff delay.",
          "format": "google-duration",
          "type": "string"
        },
        "maximumBackoff": {
          "type": "string",
          "description": "Optional. The maximum amount of time to wait before retrying a failed task. This sets an upper bound for the backoff delay.",
          "format": "google-duration"
        },
        "taskRetryDisabled": {
          "type": "boolean",
          "description": "Optional. If true, task retry is disabled."
        }
      },
      "type": "object"
    },
    "StopConnectorResponse": {
      "description": "Response for StopConnector.",
      "type": "object",
      "properties": {},
      "id": "StopConnectorResponse"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "CreateVersionResponse": {
      "id": "CreateVersionResponse",
      "type": "object",
      "description": "Response for CreateVersion.",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "The unique identifier of the schema created."
        }
      }
    },
    "CapacityConfig": {
      "description": "A capacity configuration of a Kafka cluster.",
      "id": "CapacityConfig",
      "type": "object",
      "properties": {
        "vcpuCount": {
          "description": "Required. The number of vCPUs to provision for the cluster. Minimum: 3.",
          "type": "string",
          "format": "int64"
        },
        "memoryBytes": {
          "description": "Required. The memory to provision for the cluster in bytes. The CPU:memory ratio (vCPU:GiB) must be between 1:1 and 1:8. Minimum: 3221225472 (3 GiB).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Connector": {
      "description": "A Kafka Connect connector in a given ConnectCluster.",
      "properties": {
        "configs": {
          "type": "object",
          "description": "Optional. Connector config as keys/values. The keys of the map are connector property names, for example: `connector.class`, `tasks.max`, `key.converter`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNASSIGNED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "RESTARTING",
            "STOPPED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "A state was not specified.",
            "The connector is not assigned to any tasks, usually transient.",
            "The connector is running.",
            "The connector has been paused.",
            "The connector has failed. See logs for why.",
            "The connector is restarting.",
            "The connector has been stopped."
          ],
          "description": "Output only. The current state of the connector."
        },
        "taskRestartPolicy": {
          "$ref": "TaskRetryPolicy",
          "description": "Optional. Restarts the individual tasks of a Connector."
        },
        "name": {
          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}",
          "type": "string"
        }
      },
      "id": "Connector",
      "type": "object"
    },
    "AddAclEntryResponse": {
      "properties": {
        "acl": {
          "$ref": "Acl",
          "description": "The updated acl."
        },
        "aclCreated": {
          "type": "boolean",
          "description": "Whether the acl was created as a result of adding the acl entry."
        }
      },
      "id": "AddAclEntryResponse",
      "type": "object",
      "description": "Response for AddAclEntry."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GcpConfig": {
      "properties": {
        "accessConfig": {
          "$ref": "AccessConfig",
          "description": "Required. Access configuration for the Kafka cluster."
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. Immutable. The Cloud KMS Key name to use for encryption. The key must be located in the same region as the cluster and cannot be changed. Structured like: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}."
        }
      },
      "type": "object",
      "description": "Configuration properties for a Kafka cluster deployed to Google Cloud Platform.",
      "id": "GcpConfig"
    },
    "ConnectCluster": {
      "description": "An Apache Kafka Connect cluster deployed in a location.",
      "type": "object",
      "id": "ConnectCluster",
      "properties": {
        "config": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Reserved for future use. This field is meant for worker config overrides, but is unsupported for now.",
          "type": "object"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the Kafka Connect cluster.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is detached."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the cluster was last updated.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "kafkaCluster": {
          "description": "Required. Immutable. The name of the Kafka cluster this Kafka Connect cluster is attached to. Structured like: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the cluster was created.",
          "readOnly": true
        },
        "gcpConfig": {
          "$ref": "ConnectGcpConfig",
          "description": "Required. Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka Connect cluster.",
          "$ref": "CapacityConfig"
        },
        "name": {
          "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}",
          "type": "string"
        }
      }
    },
    "ListAclsResponse": {
      "properties": {
        "acls": {
          "items": {
            "$ref": "Acl"
          },
          "description": "The list of acls in the requested parent. The order of the acls is unspecified.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "id": "ListAclsResponse",
      "type": "object",
      "description": "Response for ListAcls."
    },
    "ListTopicsResponse": {
      "description": "Response for ListTopics.",
      "properties": {
        "topics": {
          "type": "array",
          "items": {
            "$ref": "Topic"
          },
          "description": "The list of topics in the requested parent. The order of the topics is unspecified."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "id": "ListTopicsResponse",
      "type": "object"
    },
    "RestartConnectorRequest": {
      "description": "Request for RestartConnector.",
      "id": "RestartConnectorRequest",
      "properties": {},
      "type": "object"
    },
    "CreateVersionRequest": {
      "description": "Request for CreateVersion.",
      "id": "CreateVersionRequest",
      "properties": {
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored. The default is false.",
          "type": "boolean"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The version to create. It is optional. If not specified, the version will be created with the max version ID of the subject increased by 1. If the version ID is specified, it will be used as the new version ID and must not be used by an existing version of the subject."
        },
        "schemaType": {
          "description": "Optional. The type of the schema. It is optional. If not specified, the schema type will be AVRO.",
          "type": "string",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ]
        },
        "id": {
          "type": "integer",
          "description": "Optional. The schema ID of the schema. If not specified, the schema ID will be generated by the server. If the schema ID is specified, it must not be used by an existing schema that is different from the schema to be created.",
          "format": "int32"
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        }
      },
      "type": "object"
    }
  },
  "baseUrl": "https://managedkafka.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/managed-service-for-apache-kafka/docs",
  "name": "managedkafka",
  "ownerName": "Google",
  "rootUrl": "https://managedkafka.googleapis.com/",
  "revision": "20260917",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "managedkafka.projects.locations.clusters.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the properties of a single cluster.",
                  "path": "v1/{+name}"
                },
                "create": {
                  "path": "v1/{+parent}/clusters",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "clusterId": {
                      "description": "Required. The ID to use for the cluster, which will become the final component of the cluster's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-cluster-id`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent region in which to create the cluster. Structured like `projects/{project}/locations/{location}`.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "id": "managedkafka.projects.locations.clusters.create",
                  "description": "Creates a new cluster in a given project and location."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the cluster to delete.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "managedkafka.projects.locations.clusters.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a single cluster.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter expression for the result.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Order by fields for the result.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent location whose clusters are to be listed. Structured like `projects/{project}/locations/{location}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of clusters to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token."
                    }
                  },
                  "id": "managedkafka.projects.locations.clusters.list",
                  "description": "Lists the clusters in a given project and location.",
                  "path": "v1/{+parent}/clusters",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListClustersResponse"
                  }
                },
                "get": {
                  "description": "Returns the properties of a single cluster.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "view": {
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include the basic metadata of the Cluster. This is the default value (for both ListClusters and GetCluster).",
                        "Include everything, including data fetched from the Kafka cluster source of truth."
                      ],
                      "location": "query",
                      "description": "Optional. Specifies the view of the Cluster resource to be returned. Defaults to CLUSTER_VIEW_BASIC. See the ClusterView enum for possible values.",
                      "type": "string",
                      "enum": [
                        "CLUSTER_VIEW_UNSPECIFIED",
                        "CLUSTER_VIEW_BASIC",
                        "CLUSTER_VIEW_FULL"
                      ]
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the cluster whose configuration to return.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "managedkafka.projects.locations.clusters.get"
                }
              },
              "resources": {
                "consumerGroups": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/consumerGroups",
                      "response": {
                        "$ref": "ListConsumerGroupsResponse"
                      },
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.list",
                      "description": "Lists the consumer groups in a given cluster.",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of consumer groups to return. The service may return fewer than this value. If unset or zero, all consumer groups for the parent is returned."
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListConsumerGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConsumerGroups` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent cluster whose consumer groups are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter expression for the result. Only supports filtering by topic name as a key in the `topics` map.",
                          "type": "string",
                          "location": "query"
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the FULL view.",
                            "Include the name of the ConsumerGroup. This hides partition and topic metadata.",
                            "Include everything, including partition and topic metadata. This is the default value."
                          ],
                          "type": "string",
                          "enum": [
                            "CONSUMER_GROUP_VIEW_UNSPECIFIED",
                            "CONSUMER_GROUP_VIEW_BASIC",
                            "CONSUMER_GROUP_VIEW_FULL"
                          ],
                          "location": "query",
                          "description": "Optional. Specifies the view (BASIC or FULL) of the ConsumerGroup resource to be returned in the response. Defaults to FULL view."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups/{consumerGroupsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates the properties of a single consumer group.",
                      "request": {
                        "$ref": "ConsumerGroup"
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "ConsumerGroup"
                      },
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/consumerGroups/.*$"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the ConsumerGroup resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields."
                        }
                      }
                    },
                    "get": {
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/consumerGroups/.*$",
                          "description": "Required. The name of the consumer group whose configuration to return. `projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumerGroup}`.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ConsumerGroup"
                      },
                      "description": "Returns the properties of a single consumer group.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups/{consumerGroupsId}"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups/{consumerGroupsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/consumerGroups/.*$",
                          "type": "string",
                          "description": "Required. The name of the consumer group to delete. `projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumerGroup}`.",
                          "required": true
                        }
                      },
                      "description": "Deletes a single consumer group.",
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.delete",
                      "path": "v1/{+name}"
                    }
                  }
                },
                "topics": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics",
                      "id": "managedkafka.projects.locations.clusters.topics.list",
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "path": "v1/{+parent}/topics",
                      "description": "Lists the topics in a given cluster.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent is returned.",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent cluster whose topics are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$",
                          "description": "Required. The name of the topic whose configuration to return. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}.",
                          "required": true
                        }
                      },
                      "id": "managedkafka.projects.locations.clusters.topics.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Topic"
                      },
                      "description": "Returns the properties of a single topic.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}"
                    },
                    "delete": {
                      "description": "Deletes a single topic.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.clusters.topics.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$",
                          "description": "Required. The name of the topic to delete. `projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}"
                    },
                    "patch": {
                      "id": "managedkafka.projects.locations.clusters.topics.patch",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the Topic resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Topic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Topic"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}",
                      "description": "Updates the properties of a single topic."
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics",
                      "request": {
                        "$ref": "Topic"
                      },
                      "description": "Creates a new topic in a given project and location.",
                      "response": {
                        "$ref": "Topic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/topics",
                      "httpMethod": "POST",
                      "parameters": {
                        "topicId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`."
                        },
                        "parent": {
                          "description": "Required. The parent cluster in which to create the topic. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "managedkafka.projects.locations.clusters.topics.create"
                    }
                  }
                },
                "acls": {
                  "methods": {
                    "create": {
                      "request": {
                        "$ref": "Acl"
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "aclId": {
[...]
