{
  "id": "managedkafka:v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "description": "Manage Apache Kafka clusters and resources. ",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "schemas": {
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "PauseConnectorResponse": {
      "type": "object",
      "description": "Response for PauseConnector.",
      "id": "PauseConnectorResponse",
      "properties": {}
    },
    "TlsConfig": {
      "id": "TlsConfig",
      "properties": {
        "sslPrincipalMappingRules": {
          "description": "Optional. A list of rules for mapping from SSL principal names to short names. These are applied in order by Kafka. Refer to the Apache Kafka documentation for `ssl.principal.mapping.rules` for the precise formatting details and syntax. Example: \"RULE:^CN=(.*?),OU=ServiceUsers.*$/$1@example.com/,DEFAULT\" This is a static Kafka broker configuration. Setting or modifying this field will trigger a rolling restart of the Kafka brokers to apply the change. An empty string means no rules are applied (Kafka default).",
          "type": "string"
        },
        "trustConfig": {
          "$ref": "TrustConfig",
          "description": "Optional. The configuration of the broker truststore. If specified, clients can use mTLS for authentication."
        }
      },
      "type": "object",
      "description": "The TLS configuration for the Kafka cluster."
    },
    "SchemaRegistry": {
      "type": "object",
      "id": "SchemaRegistry",
      "description": "SchemaRegistry is a schema registry instance.",
      "properties": {
        "name": {
          "description": "Identifier. The name of the schema registry instance. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` The instance name {schema_registry} can contain the following: * Up to 255 characters. * Letters (uppercase or lowercase), numbers, and underscores.",
          "type": "string"
        },
        "contexts": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The contexts of the schema registry instance.",
          "type": "array"
        }
      }
    },
    "RestartConnectorRequest": {
      "id": "RestartConnectorRequest",
      "description": "Request for RestartConnector.",
      "type": "object",
      "properties": {}
    },
    "ListTopicsResponse": {
      "description": "Response for ListTopics.",
      "id": "ListTopicsResponse",
      "properties": {
        "topics": {
          "description": "The list of topics in the requested parent. The order of the topics is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "type": "object"
    },
    "ListConnectClustersResponse": {
      "type": "object",
      "description": "Response for ListConnectClusters.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "connectClusters": {
          "description": "The list of Connect clusters in the requested parent.",
          "items": {
            "$ref": "ConnectCluster"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListConnectClustersResponse"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka cluster.",
      "type": "object",
      "properties": {
        "subnet": {
          "type": "string",
          "description": "Required. Name of the VPC subnet in which to create Private Service Connect (PSC) endpoints for the Kafka brokers and bootstrap address. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} The subnet must be located in the same region as the Kafka cluster. The project may differ. Multiple subnets from the same parent network must not be specified."
        }
      }
    },
    "TaskRetryPolicy": {
      "id": "TaskRetryPolicy",
      "type": "object",
      "description": "Task Retry Policy is implemented on a best-effort basis. The default policy retries tasks with a minimum_backoff of 60 seconds, and a maximum_backoff of 12 hours. You can disable the policy by setting the task_retry_disabled field to true. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. Note that the delay between consecutive task restarts may not always precisely match the configured settings. This can happen when the ConnectCluster is in rebalancing state or if the ConnectCluster is unresponsive etc. The default values for minimum and maximum backoffs are 60 seconds and 12 hours respectively.",
      "properties": {
        "taskRetryDisabled": {
          "type": "boolean",
          "description": "Optional. If true, task retry is disabled."
        },
        "minimumBackoff": {
          "description": "Optional. The minimum amount of time to wait before retrying a failed task. This sets a lower bound for the backoff delay.",
          "type": "string",
          "format": "google-duration"
        },
        "maximumBackoff": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The maximum amount of time to wait before retrying a failed task. This sets an upper bound for the backoff delay."
        }
      }
    },
    "Cluster": {
      "description": "An Apache Kafka cluster deployed in a location.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the cluster was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs.",
          "type": "object"
        },
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka cluster.",
          "$ref": "CapacityConfig"
        },
        "kafkaVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Only populated when FULL view is requested. The Kafka version of the cluster."
        },
        "gcpConfig": {
          "description": "Required. Configuration properties for a Kafka cluster deployed to Google Cloud Platform.",
          "$ref": "GcpConfig"
        },
        "updateOptions": {
          "$ref": "UpdateOptions",
          "description": "Optional. UpdateOptions represents options that control how updates to the cluster are applied."
        },
        "tlsConfig": {
          "description": "Optional. TLS configuration for the Kafka cluster.",
          "$ref": "TlsConfig"
        },
        "brokerDetails": {
          "description": "Output only. Only populated when FULL view is requested. Details of each broker in the cluster.",
          "type": "array",
          "items": {
            "$ref": "BrokerDetails"
          },
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is being updated."
          ],
          "description": "Output only. The current state of the cluster.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the cluster was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "rebalanceConfig": {
          "$ref": "RebalanceConfig",
          "description": "Optional. Rebalance configuration for the Kafka cluster."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Cluster"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Schema": {
      "id": "Schema",
      "type": "object",
      "description": "Schema for a Kafka message.",
      "properties": {
        "references": {
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema."
        },
        "schema": {
          "type": "string",
          "description": "The schema payload."
        },
        "schemaType": {
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "description": "Optional. The schema type of the schema."
        }
      }
    },
    "CertificateAuthorityServiceConfig": {
      "id": "CertificateAuthorityServiceConfig",
      "type": "object",
      "properties": {
        "caPool": {
          "type": "string",
          "description": "Required. The name of the CA pool to pull CA certificates from. Structured like: projects/{project}/locations/{location}/caPools/{ca_pool}. The CA pool does not need to be in the same project or location as the Kafka cluster."
        }
      },
      "description": "A configuration for the Google Certificate Authority Service."
    },
    "ListConnectorsResponse": {
      "properties": {
        "connectors": {
          "type": "array",
          "description": "The list of connectors in the requested parent.",
          "items": {
            "$ref": "Connector"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "description": "Response for ListConnectors.",
      "id": "ListConnectorsResponse",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListAclsResponse": {
      "id": "ListAclsResponse",
      "description": "Response for ListAcls.",
      "properties": {
        "acls": {
          "items": {
            "$ref": "Acl"
          },
          "type": "array",
          "description": "The list of acls in the requested parent. The order of the acls is unspecified."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "type": "object"
    },
    "ResumeConnectorResponse": {
      "description": "Response for ResumeConnector.",
      "type": "object",
      "properties": {},
      "id": "ResumeConnectorResponse"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "Topic": {
      "description": "A Kafka topic in a given cluster.",
      "properties": {
        "partitionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of partitions this topic has. The partition count can only be increased, not decreased. Please note that if partitions are increased for a topic that has a key, the partitioning logic or the ordering of the messages will be affected."
        },
        "replicationFactor": {
          "format": "int32",
          "description": "Required. Immutable. The number of replicas of each partition. A replication factor of 3 is recommended for high availability.",
          "type": "integer"
        },
        "configs": {
          "description": "Optional. Configurations for the topic that are overridden from the cluster defaults. The key of the map is a Kafka topic property name, for example: `cleanup.policy`, `compression.type`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Topic"
    },
    "GcpConfig": {
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Optional. Immutable. The Cloud KMS Key name to use for encryption. The key must be located in the same region as the cluster and cannot be changed. Structured like: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}.",
          "type": "string"
        },
        "accessConfig": {
          "$ref": "AccessConfig",
          "description": "Required. Access configuration for the Kafka cluster."
        }
      },
      "id": "GcpConfig",
      "description": "Configuration properties for a Kafka cluster deployed to Google Cloud Platform."
    },
    "SchemaSubject": {
      "id": "SchemaSubject",
      "properties": {
        "versions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The versions of the subject.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The name of the subject. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}` Subject name {subject} can contain the following: * Up to 255 UTF-8 bytes. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Subject defines the evolution scope of schemas as a holder of schema versions."
    },
    "Acl": {
      "description": "Represents the set of ACLs for a given Kafka Resource Pattern, which consists of resource_type, resource_name and pattern_type.",
      "properties": {
        "aclEntries": {
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          },
          "description": "Required. The ACL entries that apply to the resource pattern. The maximum number of allowed entries 100."
        },
        "patternType": {
          "description": "Output only. The ACL pattern type derived from the name. One of: LITERAL, PREFIXED.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. `etag` is used for concurrency control. An `etag` is returned in the response to `GetAcl` and `CreateAcl`. Callers are required to put that etag in the request to `UpdateAcl` to ensure that their change will be applied to the same version of the acl that exists in the Kafka Cluster. A terminal 'T' character in the etag indicates that the AclEntries were truncated; more entries for the Acl exist on the Kafka Cluster, but can't be returned in the Acl due to repeated field limits.",
          "type": "string"
        },
        "resourceType": {
          "description": "Output only. The ACL resource type derived from the name. One of: CLUSTER, TOPIC, GROUP, TRANSACTIONAL_ID.",
          "readOnly": true,
          "type": "string"
        },
        "resourceName": {
          "description": "Output only. The ACL resource name derived from the name. For cluster resource_type, this is always \"kafka-cluster\". Can be the wildcard literal \"*\".",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
          "type": "string"
        }
      },
      "id": "Acl",
      "type": "object"
    },
    "ListConsumerGroupsResponse": {
      "properties": {
        "consumerGroups": {
          "type": "array",
          "description": "The list of consumer group in the requested parent. The order of the consumer groups is unspecified.",
          "items": {
            "$ref": "ConsumerGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "id": "ListConsumerGroupsResponse",
      "description": "Response for ListConsumerGroups.",
      "type": "object"
    },
    "ListSchemaRegistriesResponse": {
      "description": "Request for ListSchemaRegistries.",
      "properties": {
        "schemaRegistries": {
          "description": "The schema registry instances.",
          "items": {
            "$ref": "SchemaRegistry"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListSchemaRegistriesResponse"
    },
    "StopConnectorRequest": {
      "properties": {},
      "description": "Request for StopConnector.",
      "id": "StopConnectorRequest",
      "type": "object"
    },
    "UpdateSchemaConfigRequest": {
      "properties": {
        "compatibility": {
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "type": "string",
          "description": "Required. The compatibility type of the schemas. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the compatibility field for the SchemaConfig."
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the normalize field for the SchemaConfig.",
          "type": "boolean"
        }
      },
      "id": "UpdateSchemaConfigRequest",
      "description": "Request for updating schema config. On a SchemaSubject-level SchemaConfig, an unset field will be removed from the SchemaConfig.",
      "type": "object"
    },
    "CreateSchemaRegistryRequest": {
      "properties": {
        "schemaRegistryId": {
          "description": "Required. The schema registry instance ID to use for this schema registry. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores (-). The maximum length is 63 characters. The ID must not start with a number.",
          "type": "string"
        },
        "schemaRegistry": {
          "description": "Required. The schema registry instance to create. The name field is ignored.",
          "$ref": "SchemaRegistry"
        }
      },
      "id": "CreateSchemaRegistryRequest",
      "description": "Request to create a schema registry instance.",
      "type": "object"
    },
    "ConsumerTopicMetadata": {
      "description": "Metadata for a consumer group corresponding to a specific topic.",
      "type": "object",
      "properties": {
        "partitions": {
          "additionalProperties": {
            "$ref": "ConsumerPartitionMetadata"
          },
          "description": "Optional. Metadata for this consumer group and topic for all partition indexes it has metadata for.",
          "type": "object"
        }
      },
      "id": "ConsumerTopicMetadata"
    },
    "BrokerDetails": {
      "type": "object",
      "id": "BrokerDetails",
      "description": "Details of a broker in the Kafka cluster.",
      "properties": {
        "nodeId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The node id of the broker.",
          "format": "int64"
        },
        "rack": {
          "type": "string",
          "description": "Output only. The rack of the broker.",
          "readOnly": true
        },
        "brokerIndex": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The index of the broker."
        }
      }
    },
    "ConnectAccessConfig": {
      "description": "The configuration of access to the Kafka Connect cluster.",
      "id": "ConnectAccessConfig",
      "properties": {
        "networkConfigs": {
          "items": {
            "$ref": "ConnectNetworkConfig"
          },
          "type": "array",
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka Connect cluster. Minimum of 1 network is required. Maximum 10 networks can be specified."
        }
      },
      "type": "object"
    },
    "CheckCompatibilityResponse": {
      "description": "Response for CheckCompatibility.",
      "id": "CheckCompatibilityResponse",
      "properties": {
        "messages": {
          "description": "Failure reasons if verbose = true.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "is_compatible": {
          "description": "The compatibility check result. If true, the schema is compatible with the resource.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListClustersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusters": {
          "description": "The list of Clusters in the requested parent.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        }
      },
      "description": "Response for ListClusters.",
      "id": "ListClustersResponse",
      "type": "object"
    },
    "UpdateOptions": {
      "type": "object",
      "id": "UpdateOptions",
      "properties": {
        "allowBrokerDownscaleOnClusterUpscale": {
          "description": "Optional. If true, allows an update operation that increases the total vCPU and/or memory allocation of the cluster to significantly decrease the per-broker vCPU and/or memory allocation. This can result in reduced performance and availability. By default, the update operation will fail if an upscale request results in a vCPU or memory allocation for the brokers that is smaller than 90% of the current broker size.",
          "type": "boolean"
        }
      },
      "description": "UpdateOptions specifies options that influence how a cluster update is applied. These options control the behavior of the update process, rather than defining the desired end-state of a cluster."
    },
    "LookupVersionRequest": {
      "properties": {
        "references": {
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema."
        },
        "normalize": {
          "type": "boolean",
          "description": "Optional. If true, the schema will be normalized before being looked up. The default is false."
        },
        "schemaType": {
          "description": "Optional. The schema type of the schema.",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Optional. If true, soft-deleted versions will be included in lookup, no matter if the subject is active or soft-deleted. If false, soft-deleted versions will be excluded. The default is false."
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload"
        }
      },
      "description": "Request for LookupVersion.",
      "type": "object",
      "id": "LookupVersionRequest"
    },
    "ConsumerGroup": {
      "id": "ConsumerGroup",
      "properties": {
        "topics": {
          "description": "Optional. Metadata for this consumer group for all topics it has metadata for. The key of the map is a topic name, structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "additionalProperties": {
            "$ref": "ConsumerTopicMetadata"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}"
        }
      },
      "description": "A Kafka consumer group in a given cluster.",
      "type": "object"
    },
    "RestartConnectorResponse": {
      "description": "Response for RestartConnector.",
      "properties": {},
      "id": "RestartConnectorResponse",
      "type": "object"
    },
    "Connector": {
      "description": "A Kafka Connect connector in a given ConnectCluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}"
        },
        "taskRestartPolicy": {
          "$ref": "TaskRetryPolicy",
          "description": "Optional. Restarts the individual tasks of a Connector."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNASSIGNED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "RESTARTING",
            "STOPPED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A state was not specified.",
            "The connector is not assigned to any tasks, usually transient.",
            "The connector is running.",
            "The connector has been paused.",
            "The connector has failed. See logs for why.",
            "The connector is restarting.",
            "The connector has been stopped."
          ],
          "description": "Output only. The current state of the connector."
        },
        "configs": {
          "description": "Optional. Connector config as keys/values. The keys of the map are connector property names, for example: `connector.class`, `tasks.max`, `key.converter`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Connector",
      "type": "object"
    },
    "CapacityConfig": {
      "id": "CapacityConfig",
      "description": "A capacity configuration of a Kafka cluster.",
      "type": "object",
      "properties": {
        "memoryBytes": {
          "type": "string",
          "description": "Required. The memory to provision for the cluster in bytes. The CPU:memory ratio (vCPU:GiB) must be between 1:1 and 1:8. Minimum: 3221225472 (3 GiB).",
          "format": "int64"
        },
        "vcpuCount": {
          "format": "int64",
          "type": "string",
          "description": "Required. The number of vCPUs to provision for the cluster. Minimum: 3."
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "SchemaConfig": {
      "id": "SchemaConfig",
      "properties": {
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. If unset in a SchemaSubject-level SchemaConfig, the global value will be used. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "boolean"
        },
        "compatibility": {
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "description": "Required. The compatibility type of the schema. The default value is BACKWARD. If unset in a SchemaSubject-level SchemaConfig, defaults to the global value. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "string",
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ]
        },
        "alias": {
          "type": "string",
          "description": "Optional. The subject to which this subject is an alias of. Only applicable for subject config."
        }
      },
      "type": "object",
      "description": "SchemaConfig represents configuration for a schema registry or a specific subject."
    },
    "RemoveAclEntryResponse": {
      "type": "object",
      "properties": {
        "acl": {
          "description": "The updated acl. Returned if the removed acl entry was not the last entry in the acl.",
          "$ref": "Acl"
        },
        "aclDeleted": {
          "type": "boolean",
          "description": "Returned with value true if the removed acl entry was the last entry in the acl, resulting in acl deletion."
        }
      },
      "id": "RemoveAclEntryResponse",
      "description": "Response for RemoveAclEntry."
    },
    "TrustConfig": {
      "type": "object",
      "id": "TrustConfig",
      "description": "Sources of CA certificates to install in the broker's truststore.",
      "properties": {
        "casConfigs": {
          "type": "array",
          "items": {
            "$ref": "CertificateAuthorityServiceConfig"
          },
          "description": "Optional. Configuration for the Google Certificate Authority Service. Maximum 10."
        }
      }
    },
    "CheckCompatibilityRequest": {
      "description": "Request for CheckCompatibility.",
      "properties": {
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "schemaType": {
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ]
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload"
        },
        "verbose": {
          "description": "Optional. If true, the response will contain the compatibility check result with reasons for failed checks. The default is false.",
          "type": "boolean"
        }
      },
      "id": "CheckCompatibilityRequest",
      "type": "object"
    },
    "HttpBody": {
      "properties": {
        "extensions": {
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        }
      },
      "id": "HttpBody",
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "PauseConnectorRequest": {
      "type": "object",
      "properties": {},
      "description": "Request for PauseConnector.",
      "id": "PauseConnectorRequest"
    },
    "AccessConfig": {
      "description": "The configuration of access to the Kafka cluster.",
      "properties": {
        "networkConfigs": {
          "type": "array",
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "items": {
            "$ref": "NetworkConfig"
          }
        }
      },
      "type": "object",
      "id": "AccessConfig"
    },
    "ConnectNetworkConfig": {
      "type": "object",
      "id": "ConnectNetworkConfig",
      "properties": {
        "additionalSubnets": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array",
          "description": "Optional. Deprecated: Managed Kafka Connect clusters can now reach any endpoint accessible from the primary subnet without the need to define additional subnets. Please see https://cloud.google.com/managed-service-for-apache-kafka/docs/connect-cluster/create-connect-cluster#worker-subnet for more information."
        },
        "dnsDomainNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional DNS domain names from the subnet's network to be made visible to the Connect Cluster. When using MirrorMaker2, it's necessary to add the bootstrap address's dns domain name of the target cluster to make it visible to the connector. For example: my-kafka-cluster.us-central1.managedkafka.my-project.cloud.goog"
        },
        "primarySubnet": {
          "type": "string",
          "description": "Required. VPC subnet to make available to the Kafka Connect cluster. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} It is used to create a Private Service Connect (PSC) interface for the Kafka Connect workers. It must be located in the same region as the Kafka Connect cluster. The CIDR range of the subnet must be within the IPv4 address ranges for private networks, as specified in RFC 1918. The primary subnet CIDR range must have a minimum size of /22 (1024 addresses)."
        }
      },
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka Connect cluster."
    },
    "CreateVersionRequest": {
      "type": "object",
      "properties": {
        "references": {
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema.",
          "type": "array"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The version to create. It is optional. If not specified, the version will be created with the max version ID of the subject increased by 1. If the version ID is specified, it will be used as the new version ID and must not be used by an existing version of the subject."
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload"
        },
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The schema ID of the schema. If not specified, the schema ID will be generated by the server. If the schema ID is specified, it must not be used by an existing schema that is different from the schema to be created."
        },
        "schemaType": {
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "type": "string",
          "description": "Optional. The type of the schema. It is optional. If not specified, the schema type will be AVRO.",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored. The default is false.",
          "type": "boolean"
        }
      },
      "id": "CreateVersionRequest",
      "description": "Request for CreateVersion."
    },
    "StopConnectorResponse": {
      "type": "object",
      "properties": {},
      "id": "StopConnectorResponse",
      "description": "Response for StopConnector."
    },
    "ConnectGcpConfig": {
      "id": "ConnectGcpConfig",
      "description": "Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
      "properties": {
        "accessConfig": {
          "$ref": "ConnectAccessConfig",
          "description": "Required. Access configuration for the Kafka Connect cluster."
        },
        "secretPaths": {
          "type": "array",
          "description": "Optional. Secrets to load into workers. Exact SecretVersions from Secret Manager must be provided -- aliases are not supported. Up to 32 secrets may be loaded into one cluster. Format: projects//secrets//versions/",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "RebalanceConfig": {
      "type": "object",
      "id": "RebalanceConfig",
      "description": "Defines rebalancing behavior of a Kafka cluster.",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "A mode was not specified. Do not use.",
            "Do not rebalance automatically.",
            "Automatically rebalance topic partitions among brokers when the cluster is scaled up."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "NO_REBALANCE",
            "AUTO_REBALANCE_ON_SCALE_UP"
          ],
          "description": "Optional. The rebalance behavior for the cluster. When not specified, defaults to `NO_REBALANCE`.",
          "type": "string"
        }
      }
    },
    "SchemaReference": {
      "description": "SchemaReference is a reference to a schema.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the reference."
        },
        "subject": {
          "description": "Required. The subject of the reference.",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "description": "Required. The version of the reference.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "SchemaReference"
    },
    "ConsumerPartitionMetadata": {
      "id": "ConsumerPartitionMetadata",
      "description": "Metadata for a consumer group corresponding to a specific partition.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "string",
          "description": "Optional. The associated metadata for this partition, or empty if it does not exist."
        },
        "offset": {
          "format": "int64",
          "description": "Required. The current offset for this partition, or 0 if no offset has been committed.",
          "type": "string"
        }
      }
    },
    "AclEntry": {
      "description": "Represents the access granted for a given Resource Pattern in an ACL.",
      "properties": {
        "permissionType": {
          "description": "Required. The permission type. Accepted values are (case insensitive): ALLOW, DENY.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Required. The host. Must be set to \"*\" for Managed Service for Apache Kafka."
        },
        "principal": {
          "type": "string",
          "description": "Required. The principal. Specified as Google Cloud account, with the Kafka StandardAuthorizer prefix \"User:\". For example: \"User:test-kafka-client@test-project.iam.gserviceaccount.com\". Can be the wildcard \"User:*\" to refer to all users."
        },
        "operation": {
          "description": "Required. The operation type. Allowed values are (case insensitive): ALL, READ, WRITE, CREATE, DELETE, ALTER, DESCRIBE, CLUSTER_ACTION, DESCRIBE_CONFIGS, ALTER_CONFIGS, and IDEMPOTENT_WRITE. See https://kafka.apache.org/documentation/#operations_resources_and_protocols for valid combinations of resource_type and operation for different Kafka API requests.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AclEntry"
    },
    "CreateVersionResponse": {
      "id": "CreateVersionResponse",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "The unique identifier of the schema created."
        }
      },
      "description": "Response for CreateVersion."
    },
    "UpdateSchemaModeRequest": {
      "properties": {
        "mode": {
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "description": "Required. The mode type.",
          "type": "string"
        }
      },
      "id": "UpdateSchemaModeRequest",
      "description": "Request for updating schema registry or subject mode.",
      "type": "object"
    },
    "SchemaMode": {
      "description": "SchemaMode represents the mode of a schema registry or a specific subject. Four modes are supported: * NONE: deprecated. This was the default mode for a subject, but now the default is unset (which means use the global schema registry setting) * READONLY: The schema registry is in read-only mode. * READWRITE: The schema registry is in read-write mode, which allows limited write operations on the schema. * IMPORT: The schema registry is in import mode, which allows more editing operations on the schema for data importing purposes.",
      "id": "SchemaMode",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "description": "Required. The mode type of a schema registry (READWRITE by default) or of a subject (unset by default, which means use the global schema registry setting).",
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ]
        }
      },
      "type": "object"
    },
    "ConnectCluster": {
      "description": "An Apache Kafka Connect cluster deployed in a location.",
      "id": "ConnectCluster",
      "properties": {
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka Connect cluster.",
          "$ref": "CapacityConfig"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time when the cluster was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "kafkaCluster": {
          "type": "string",
          "description": "Required. Immutable. The name of the Kafka cluster this Kafka Connect cluster is attached to. Structured like: projects/{project}/locations/{location}/clusters/{cluster}"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is detached."
          ],
          "type": "string",
          "description": "Output only. The current state of the Kafka Connect cluster."
        },
        "gcpConfig": {
          "description": "Required. Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
          "$ref": "ConnectGcpConfig"
        },
        "name": {
          "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the cluster was last updated.",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs.",
          "type": "object"
        },
        "config": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Reserved for future use. This field is meant for worker config overrides, but is unsupported for now."
        }
      },
      "type": "object"
    },
    "Context": {
      "type": "object",
      "id": "Context",
      "properties": {
        "name": {
          "description": "Identifier. The name of the context. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}` The context name {context} can contain the following: * Up to 255 characters. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`.",
          "type": "string"
        },
        "subjects": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The subjects of the context."
        }
      },
      "description": "Context represents an independent schema grouping in a schema registry instance."
    },
    "AddAclEntryResponse": {
      "id": "AddAclEntryResponse",
      "properties": {
        "aclCreated": {
          "description": "Whether the acl was created as a result of adding the acl entry.",
          "type": "boolean"
        },
        "acl": {
          "description": "The updated acl.",
          "$ref": "Acl"
        }
      },
      "type": "object",
      "description": "Response for AddAclEntry."
    },
    "ResumeConnectorRequest": {
      "description": "Request for ResumeConnector.",
      "id": "ResumeConnectorRequest",
      "type": "object",
      "properties": {}
    },
    "SchemaVersion": {
      "type": "object",
      "id": "SchemaVersion",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Required. The schema ID.",
          "type": "integer"
        },
        "schema": {
          "description": "Required. The schema payload.",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          },
          "type": "array"
        },
        "subject": {
          "type": "string",
          "description": "Required. The subject of the version."
        },
        "schemaType": {
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "description": "Required. The version ID",
          "type": "integer"
        }
      },
      "description": "Version of a schema."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://managedkafka.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://managedkafka.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://managedkafka.asia-northeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://managedkafka.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://managedkafka.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://managedkafka.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.australia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://managedkafka.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://managedkafka.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://managedkafka.europe-west3.rep.googleapis.com/"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://managedkafka.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://managedkafka.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://managedkafka.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-west12.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://managedkafka.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.me-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://managedkafka.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://managedkafka.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://managedkafka.us-east7.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-west4.rep.googleapis.com/"
    }
  ],
  "basePath": "",
  "documentationLink": "https://cloud.google.com/managed-service-for-apache-kafka/docs",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "version": "v1",
  "servicePath": "",
  "title": "Managed Service for Apache Kafka API",
  "name": "managedkafka",
  "mtlsRootUrl": "https://managedkafka.mtls.googleapis.com/",
  "rootUrl": "https://managedkafka.googleapis.com/",
  "baseUrl": "https://managedkafka.googleapis.com/",
  "revision": "20260806",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "description": "Gets information about a location.",
              "id": "managedkafka.projects.locations.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "managedkafka.projects.locations.list",
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "connectClusters": {
              "resources": {
                "connectors": {
                  "methods": {
                    "stop": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:stop",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.stop",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the connector to stop. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "StopConnectorRequest"
                      },
                      "response": {
                        "$ref": "StopConnectorResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Stops the connector.",
                      "path": "v1/{+name}:stop",
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "description": "Updates the properties of a connector.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields."
                        }
                      },
                      "request": {
                        "$ref": "Connector"
                      },
                      "response": {
                        "$ref": "Connector"
                      },
                      "id": "managedkafka.projects.locations.connectClusters.connectors.patch",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "restart": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Restarts the connector.",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:restart",
                      "request": {
                        "$ref": "RestartConnectorRequest"
                      },
                      "id": "managedkafka.projects.locations.connectClusters.connectors.restart",
                      "path": "v1/{+name}:restart",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the connector to restart. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "RestartConnectorResponse"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "description": "Required. The name of the connector whose configuration to return. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "description": "Returns the properties of a single connector.",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Connector"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the connector to delete. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "description": "Deletes a connector.",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "resume": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:resume",
                      "httpMethod": "POST",
                      "path": "v1/{+name}:resume",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "ResumeConnectorRequest"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the connector to pause. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}"
                        }
                      },
                      "response": {
                        "$ref": "ResumeConnectorResponse"
                      },
                      "id": "managedkafka.projects.locations.connectClusters.connectors.resume",
                      "description": "Resumes the connector and its tasks."
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListConnectors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectors` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of connectors to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent Connect cluster whose connectors are to be listed. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`."
                        }
                      },
                      "id": "managedkafka.projects.locations.connectClusters.connectors.list",
                      "response": {
                        "$ref": "ListConnectorsResponse"
                      },
                      "path": "v1/{+parent}/connectors",
                      "httpMethod": "GET",
                      "description": "Lists the connectors in a given Connect cluster.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors"
                    },
                    "pause": {
                      "id": "managedkafka.projects.locations.connectClusters.connectors.pause",
                      "httpMethod": "POST",
                      "description": "Pauses the connector and its tasks.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:pause",
                      "request": {
                        "$ref": "PauseConnectorRequest"
                      },
                      "path": "v1/{+name}:pause",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the connector to pause. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "PauseConnectorResponse"
                      }
                    },
                    "create": {
                      "parameters": {
                        "connectorId": {
                          "description": "Required. The ID to use for the connector, which will become the final component of the connector's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-connector-id`.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent Connect cluster in which to create the connector. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.create",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Connector"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new connector in a given Connect cluster.",
                      "response": {
                        "$ref": "Connector"
                      },
                      "path": "v1/{+parent}/connectors"
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "id": "managedkafka.projects.locations.connectClusters.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                      "description": "Required. The name of the Kafka Connect cluster to delete. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Deletes a single Connect cluster.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/connectClusters",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of Connect clusters to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListConnectClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectClusters` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent project/location whose Connect clusters are to be listed. Structured like `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Order by fields for the result.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter expression for the result.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListConnectClustersResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "managedkafka.projects.locations.connectClusters.list",
                  "description": "Lists the Kafka Connect clusters in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters"
                },
                "create": {
                  "id": "managedkafka.projects.locations.connectClusters.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Kafka Connect cluster in a given project and location.",
                  "request": {
                    "$ref": "ConnectCluster"
                  },
                  "path": "v1/{+parent}/connectClusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent project/location in which to create the Kafka Connect cluster. Structured like `projects/{project}/locations/{location}/`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "connectClusterId": {
                      "description": "Required. The ID to use for the Connect cluster, which will become the final component of the cluster's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-cluster-id`.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Kafka Connect cluster whose configuration to return. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "managedkafka.projects.locations.connectClusters.get",
                  "httpMethod": "GET",
                  "description": "Returns the properties of a single Kafka Connect cluster.",
                  "response": {
                    "$ref": "ConnectCluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "ConnectCluster"
                  },
[...]
