{
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "id": "managedkafka.projects.locations.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "managedkafka.projects.locations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "schemaRegistries": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "SchemaRegistry"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the schema registry instance to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "id": "managedkafka.projects.locations.schemaRegistries.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}",
                  "description": "Get the schema registry instance."
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}",
                  "description": "Delete a schema registry instance.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "managedkafka.projects.locations.schemaRegistries.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the schema registry instance to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListSchemaRegistriesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/schemaRegistries",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries",
                  "description": "List schema registries.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent whose schema registry instances are to be listed. Structured like: `projects/{project}/locations/{location}`"
                    },
                    "view": {
                      "enumDescriptions": [
                        "The unset value. The API will default to SCHEMA_REGISTRY_VIEW_BASIC.",
                        "If SchemaRegistryView is not specified, this is the default value. Returns only the name of the schema registry. The contexts associated with it are not included.",
                        "Returns the name of the schema registry and all the contexts associated with it."
                      ],
                      "type": "string",
                      "enum": [
                        "SCHEMA_REGISTRY_VIEW_UNSPECIFIED",
                        "SCHEMA_REGISTRY_VIEW_BASIC",
                        "SCHEMA_REGISTRY_VIEW_FULL"
                      ],
                      "description": "Optional. Specifies the view to return for the schema registry instances. If not specified, the default view is SCHEMA_REGISTRY_VIEW_BASIC.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "managedkafka.projects.locations.schemaRegistries.list"
                },
                "create": {
                  "response": {
                    "$ref": "SchemaRegistry"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent whose schema registry instance is to be created. Structured like: `projects/{project}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CreateSchemaRegistryRequest"
                  },
                  "id": "managedkafka.projects.locations.schemaRegistries.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/schemaRegistries",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries",
                  "description": "Create a schema registry instance."
                }
              },
              "resources": {
                "schemas": {
                  "resources": {
                    "versions": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/versions",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}/versions",
                          "description": "List the schema versions for the given schema id. The response will be an array of subject-version pairs as: [{\"subject\":\"subject1\", \"version\":1}, {\"subject\":\"subject2\", \"version\":2}].",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.versions.list",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. The schema whose schema versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$",
                              "type": "string"
                            },
                            "subject": {
                              "description": "Optional. The subject to filter the subjects by.",
                              "type": "string",
                              "location": "query"
                            },
                            "deleted": {
                              "location": "query",
                              "description": "Optional. If true, the response will include soft-deleted versions of the schema, even if the subject is soft-deleted. The default is false.",
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    "types": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/schemas/types",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/types",
                          "description": "List the supported schema types. The response will be an array of schema types.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.types.list",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. The parent schema registry whose schema types are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "subjects": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "deleted": {
                              "location": "query",
                              "description": "Optional. If true, the response will include soft-deleted subjects. The default is false.",
                              "type": "boolean"
                            },
                            "parent": {
                              "location": "path",
                              "description": "Required. The schema resource whose associated subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$",
                              "type": "string"
                            },
                            "subject": {
                              "description": "Optional. The subject to filter the subjects by.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.subjects.list",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/subjects",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}/subjects",
                          "description": "List subjects which reference a particular schema id. The response will be an array of subject names."
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "id": "managedkafka.projects.locations.schemaRegistries.schemas.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "subject": {
                          "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}",
                      "description": "Get the schema for the given schema id.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Schema"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "getSchema": {
                      "httpMethod": "GET",
                      "id": "managedkafka.projects.locations.schemaRegistries.schemas.getSchema",
                      "parameters": {
                        "subject": {
                          "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}/schema",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}/schema",
                      "description": "Get the schema string for the given schema id. The response will be the schema string.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "mode": {
                  "methods": {
                    "update": {
                      "response": {
                        "$ref": "SchemaMode"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.mode.update",
                      "httpMethod": "PUT",
                      "request": {
                        "$ref": "UpdateSchemaModeRequest"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/mode/.*$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/mode/{modeId}",
                      "description": "Update mode at global level or for a subject.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/mode/.*$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "managedkafka.projects.locations.schemaRegistries.mode.get",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/mode/{modeId}",
                      "description": "Get mode at global level or for a subject.",
                      "response": {
                        "$ref": "SchemaMode"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "SchemaMode"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/mode/{modeId}",
                      "description": "Delete schema mode for a subject.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/mode/.*$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of subject to delete the mode for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject} * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}",
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "id": "managedkafka.projects.locations.schemaRegistries.mode.delete"
                    }
                  }
                },
                "config": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "SchemaConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name to get the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Get config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Get config for a specific subject."
                        },
                        "defaultToGlobal": {
                          "location": "query",
                          "description": "Optional. If true, the config will fall back to the config at the global level if no subject level config is found.",
                          "type": "boolean"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "managedkafka.projects.locations.schemaRegistries.config.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "description": "Get schema config at global level or for a subject."
                    },
                    "delete": {
                      "response": {
                        "$ref": "SchemaConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "description": "Delete schema config for a subject.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of subject to delete the config for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "DELETE",
                      "id": "managedkafka.projects.locations.schemaRegistries.config.delete"
                    },
                    "update": {
                      "httpMethod": "PUT",
                      "request": {
                        "$ref": "UpdateSchemaConfigRequest"
                      },
                      "id": "managedkafka.projects.locations.schemaRegistries.config.update",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name to update the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Update config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Update config for a specific subject.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "description": "Update config at global level or for a subject. Creates a SchemaSubject-level SchemaConfig if it does not exist.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "SchemaConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "subjects": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the subject to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`"
                        },
                        "permanent": {
                          "location": "query",
                          "description": "Optional. If true, the subject and all associated metadata including the schema ID will be deleted permanently. Otherwise, only the subject is soft-deleted. The default is false. Soft-deleted subjects can still be searched in ListSubjects API call with deleted=true query parameter. A soft-delete of a subject must be performed before a hard-delete.",
                          "type": "boolean"
                        }
                      },
                      "httpMethod": "DELETE",
                      "id": "managedkafka.projects.locations.schemaRegistries.subjects.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}",
                      "description": "Delete a subject. The response will be an array of versions of the deleted subject.",
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "lookupVersion": {
                      "response": {
                        "$ref": "SchemaVersion"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The subject to lookup the schema in. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`"
                        }
                      },
                      "id": "managedkafka.projects.locations.schemaRegistries.subjects.lookupVersion",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "LookupVersionRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}",
                      "description": "Lookup a schema under the specified subject."
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/subjects",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects",
                      "description": "List subjects in the schema registry. The response will be an array of subject names.",
                      "parameters": {
                        "subjectPrefix": {
                          "description": "Optional. The context to filter the subjects by, in the format of `:.{context}:`. If unset, all subjects in the registry are returned. Set to empty string or add as '?subjectPrefix=' at the end of this request to list subjects in the default context.",
                          "type": "string",
                          "location": "query"
                        },
                        "deleted": {
                          "description": "Optional. If true, the response will include soft-deleted subjects. The default is false.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent schema registry/context whose subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}`",
                          "location": "path"
                        }
                      },
                      "id": "managedkafka.projects.locations.schemaRegistries.subjects.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "versions": {
                      "resources": {
                        "referencedby": {
                          "methods": {
                            "list": {
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+/versions/[^/]+$",
                                  "type": "string",
                                  "required": true,
                                  "description": "Required. The version to list referenced by. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                                  "location": "path"
                                }
                              },
                              "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.referencedby.list",
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "parent"
                              ],
                              "path": "v1/{+parent}/referencedby",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions/{versionsId}/referencedby",
                              "description": "Get a list of IDs of schemas that reference the schema with the given subject and version."
                            }
                          }
                        }
                      },
                      "methods": {
                        "create": {
                          "response": {
                            "$ref": "CreateVersionResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/versions",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions",
                          "description": "Register a new version under a given subject with the given schema.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.create",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "CreateVersionRequest"
                          },
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. The subject to create the version for. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+$",
                              "type": "string"
                            }
                          }
                        },
                        "get": {
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions/{versionsId}",
                          "description": "Get a versioned schema (schema with subject/version) of a subject.",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.get",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The name of the subject to return versions. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`"
                            },
                            "deleted": {
                              "location": "query",
                              "description": "Optional. If true, no matter if the subject/version is soft-deleted or not, it returns the version details. If false, it returns NOT_FOUND error if the subject/version is soft-deleted. The default is false.",
                              "type": "boolean"
                            }
                          },
                          "response": {
                            "$ref": "SchemaVersion"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.list",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The subject whose versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                              "location": "path"
                            },
                            "deleted": {
                              "description": "Optional. If true, the response will include soft-deleted versions of an active or soft-deleted subject. The default is false.",
                              "type": "boolean",
                              "location": "query"
                            }
                          },
                          "path": "v1/{+parent}/versions",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions",
                          "description": "Get all versions of a subject. The response will be an array of versions of the subject.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "getSchema": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}/schema",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions/{versionsId}/schema",
                          "description": "Get the schema string only for a version of a subject. The response will be the schema string.",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the subject to return versions. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "deleted": {
                              "location": "query",
                              "description": "Optional. If true, no matter if the subject/version is soft-deleted or not, it returns the version details. If false, it returns NOT_FOUND error if the subject/version is soft-deleted. The default is false.",
                              "type": "boolean"
                            }
                          },
                          "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.getSchema",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.delete",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "permanent": {
                              "location": "query",
                              "description": "Optional. If true, both the version and the referenced schema ID will be permanently deleted. The default is false. If false, the version will be deleted but the schema ID will be retained. Soft-deleted versions can still be searched in ListVersions API call with deleted=true query parameter. A soft-delete of a version must be performed before a hard-delete.",
                              "type": "boolean"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the subject version to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                              "location": "path"
                            }
                          },
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions/{versionsId}",
                          "description": "Delete a version of a subject. The response will be the deleted version id.",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    }
                  }
                },
                "contexts": {
                  "resources": {
                    "schemas": {
                      "methods": {
                        "get": {
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.get",
                          "httpMethod": "GET",
                          "parameters": {
                            "subject": {
                              "location": "query",
                              "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                              "type": "string"
                            },
                            "name": {
                              "location": "path",
                              "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}",
                          "description": "Get the schema for the given schema id.",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Schema"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "getSchema": {
                          "path": "v1/{+name}/schema",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/schema",
                          "description": "Get the schema string for the given schema id. The response will be the schema string.",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.getSchema",
                          "httpMethod": "GET",
                          "parameters": {
                            "subject": {
                              "location": "query",
                              "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                              "type": "string"
                            },
                            "name": {
                              "location": "path",
                              "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      },
                      "resources": {
                        "types": {
                          "methods": {
                            "list": {
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.types.list",
                              "httpMethod": "GET",
                              "parameters": {
                                "parent": {
                                  "description": "Required. The parent schema registry whose schema types are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+$",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "path": "v1/{+parent}/schemas/types",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/types",
                              "description": "List the supported schema types. The response will be an array of schema types.",
                              "parameterOrder": [
                                "parent"
                              ]
                            }
                          }
                        },
                        "subjects": {
                          "methods": {
                            "list": {
                              "path": "v1/{+parent}/subjects",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/subjects",
                              "description": "List subjects which reference a particular schema id. The response will be an array of subject names.",
                              "parameterOrder": [
                                "parent"
                              ],
                              "httpMethod": "GET",
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.subjects.list",
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                                  "type": "string",
                                  "required": true,
                                  "description": "Required. The schema resource whose associated subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                                  "location": "path"
                                },
                                "subject": {
                                  "location": "query",
                                  "description": "Optional. The subject to filter the subjects by.",
                                  "type": "string"
                                },
                                "deleted": {
                                  "location": "query",
                                  "description": "Optional. If true, the response will include soft-deleted subjects. The default is false.",
                                  "type": "boolean"
                                }
                              },
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            }
                          }
                        },
                        "versions": {
                          "methods": {
                            "list": {
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+parent}/versions",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/versions",
                              "description": "List the schema versions for the given schema id. The response will be an array of subject-version pairs as: [{\"subject\":\"subject1\", \"version\":1}, {\"subject\":\"subject2\", \"version\":2}].",
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.versions.list",
                              "httpMethod": "GET",
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                                  "type": "string",
                                  "location": "path",
                                  "description": "Required. The schema whose schema versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`"
                                },
                                "subject": {
                                  "location": "query",
                                  "description": "Optional. The subject to filter the subjects by.",
                                  "type": "string"
                                },
                                "deleted": {
                                  "description": "Optional. If true, the response will include soft-deleted versions of the schema, even if the subject is soft-deleted. The default is false.",
                                  "type": "boolean",
                                  "location": "query"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "mode": {
                      "methods": {
                        "get": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/mode/.*$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                              "location": "path"
                            }
                          },
                          "httpMethod": "GET",
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.mode.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/mode/{modeId}",
                          "description": "Get mode at global level or for a subject.",
                          "response": {
                            "$ref": "SchemaMode"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "response": {
                            "$ref": "SchemaMode"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/mode/.*$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The resource name of subject to delete the mode for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject} * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}",
                              "location": "path"
                            }
                          },
                          "httpMethod": "DELETE",
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.mode.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/mode/{modeId}",
                          "description": "Delete schema mode for a subject."
                        },
                        "update": {
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/mode/{modeId}",
                          "description": "Update mode at global level or for a subject.",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.mode.update",
                          "httpMethod": "PUT",
                          "request": {
                            "$ref": "UpdateSchemaModeRequest"
                          },
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/mode/.*$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "SchemaMode"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "config": {
                      "methods": {
                        "get": {
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.get",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name to get the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Get config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Get config for a specific subject.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$",
                              "type": "string",
                              "required": true
                            },
                            "defaultToGlobal": {
                              "location": "query",
                              "description": "Optional. If true, the config will fall back to the config at the global level if no subject level config is found.",
                              "type": "boolean"
                            }
                          },
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "description": "Get schema config at global level or for a subject.",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The resource name of subject to delete the config for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$",
                              "type": "string"
                            }
                          },
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.delete",
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "description": "Delete schema config for a subject.",
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "update": {
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "description": "Update config at global level or for a subject. Creates a SchemaSubject-level SchemaConfig if it does not exist.",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The resource name to update the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Update config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Update config for a specific subject.",
                              "location": "path"
                            }
                          },
                          "httpMethod": "PUT",
                          "request": {
                            "$ref": "UpdateSchemaConfigRequest"
                          },
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.update"
                        }
                      }
                    },
                    "subjects": {
                      "resources": {
                        "versions": {
                          "methods": {
                            "list": {
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+parent}/versions",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions",
                              "description": "Get all versions of a subject. The response will be an array of versions of the subject.",
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.list",
                              "httpMethod": "GET",
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "description": "Required. The subject whose versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$",
                                  "type": "string"
                                },
                                "deleted": {
                                  "description": "Optional. If true, the response will include soft-deleted versions of an active or soft-deleted subject. The default is false.",
                                  "type": "boolean",
                                  "location": "query"
                                }
                              }
                            },
                            "getSchema": {
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "description": "Required. The name of the subject to return versions. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$",
                                  "type": "string"
                                },
                                "deleted": {
                                  "location": "query",
                                  "description": "Optional. If true, no matter if the subject/version is soft-deleted or not, it returns the version details. If false, it returns NOT_FOUND error if the subject/version is soft-deleted. The default is false.",
                                  "type": "boolean"
                                }
                              },
                              "httpMethod": "GET",
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.getSchema",
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v1/{+name}/schema",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}/schema",
                              "description": "Get the schema string only for a version of a subject. The response will be the schema string."
                            },
                            "delete": {
                              "httpMethod": "DELETE",
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.delete",
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$",
                                  "type": "string",
                                  "location": "path",
                                  "description": "Required. The name of the subject version to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`"
                                },
                                "permanent": {
                                  "location": "query",
                                  "description": "Optional. If true, both the version and the referenced schema ID will be permanently deleted. The default is false. If false, the version will be deleted but the schema ID will be retained. Soft-deleted versions can still be searched in ListVersions API call with deleted=true query parameter. A soft-delete of a version must be performed before a hard-delete.",
                                  "type": "boolean"
                                }
                              },
                              "path": "v1/{+name}",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}",
                              "description": "Delete a version of a subject. The response will be the deleted version id.",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "create": {
                              "parameters": {
                                "parent": {
                                  "description": "Required. The subject to create the version for. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "httpMethod": "POST",
                              "request": {
                                "$ref": "CreateVersionRequest"
                              },
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.create",
                              "parameterOrder": [
                                "parent"
                              ],
                              "path": "v1/{+parent}/versions",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions",
                              "description": "Register a new version under a given subject with the given schema.",
                              "response": {
                                "$ref": "CreateVersionResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "get": {
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v1/{+name}",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}",
                              "description": "Get a versioned schema (schema with subject/version) of a subject.",
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$",
                                  "type": "string",
                                  "location": "path",
                                  "description": "Required. The name of the subject to return versions. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`"
                                },
                                "deleted": {
                                  "location": "query",
                                  "description": "Optional. If true, no matter if the subject/version is soft-deleted or not, it returns the version details. If false, it returns NOT_FOUND error if the subject/version is soft-deleted. The default is false.",
                                  "type": "boolean"
                                }
                              },
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.get",
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "SchemaVersion"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            }
                          },
                          "resources": {
                            "referencedby": {
                              "methods": {
                                "list": {
                                  "response": {
                                    "$ref": "HttpBody"
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform"
                                  ],
                                  "path": "v1/{+parent}/referencedby",
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}/referencedby",
                                  "description": "Get a list of IDs of schemas that reference the schema with the given subject and version.",
                                  "parameterOrder": [
                                    "parent"
                                  ],
                                  "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.referencedby.list",
                                  "httpMethod": "GET",
                                  "parameters": {
                                    "parent": {
                                      "location": "path",
                                      "description": "Required. The version to list referenced by. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                                      "required": true,
                                      "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$",
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/subjects",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects",
                          "description": "List subjects in the schema registry. The response will be an array of subject names.",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The parent schema registry/context whose subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}`"
                            },
                            "deleted": {
                              "description": "Optional. If true, the response will include soft-deleted subjects. The default is false.",
                              "type": "boolean",
                              "location": "query"
                            },
                            "subjectPrefix": {
                              "location": "query",
                              "description": "Optional. The context to filter the subjects by, in the format of `:.{context}:`. If unset, all subjects in the registry are returned. Set to empty string or add as '?subjectPrefix=' at the end of this request to list subjects in the default context.",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.list"
                        },
                        "lookupVersion": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}",
                          "description": "Lookup a schema under the specified subject.",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The subject to lookup the schema in. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                              "location": "path"
                            }
                          },
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.lookupVersion",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "LookupVersionRequest"
                          },
                          "response": {
                            "$ref": "SchemaVersion"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}",
                          "description": "Delete a subject. The response will be an array of versions of the deleted subject.",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.delete",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the subject to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                              "location": "path"
                            },
                            "permanent": {
                              "description": "Optional. If true, the subject and all associated metadata including the schema ID will be deleted permanently. Otherwise, only the subject is soft-deleted. The default is false. Soft-deleted subjects can still be searched in ListSubjects API call with deleted=true query parameter. A soft-delete of a subject must be performed before a hard-delete.",
                              "type": "boolean",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "compatibility": {
                      "methods": {
                        "checkCompatibility": {
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/compatibility/{compatibilityId}",
                          "description": "Check compatibility of a schema with all versions or a specific version of a subject.",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.compatibility.checkCompatibility",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "CheckCompatibilityRequest"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/compatibility/.*$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The name of the resource to check compatibility for. The format is either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/*/versions: Check compatibility with one or more versions of the specified subject. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/{subject}/versions/{version}: Check compatibility with a specific version of the subject."
                            }
                          },
                          "response": {
                            "$ref": "CheckCompatibilityResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Context"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.contexts.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the context to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}`"
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}",
                      "description": "Get the context.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent of the contexts. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "managedkafka.projects.locations.schemaRegistries.contexts.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/contexts",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts",
                      "description": "List contexts for a schema registry."
                    }
                  }
                },
                "compatibility": {
                  "methods": {
                    "checkCompatibility": {
                      "response": {
                        "$ref": "CheckCompatibilityResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/compatibility/{compatibilityId}",
                      "description": "Check compatibility of a schema with all versions or a specific version of a subject.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/compatibility/.*$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the resource to check compatibility for. The format is either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/*/versions: Check compatibility with one or more versions of the specified subject. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/{subject}/versions/{version}: Check compatibility with a specific version of the subject.",
                          "location": "path"
                        }
                      },
                      "id": "managedkafka.projects.locations.schemaRegistries.compatibility.checkCompatibility",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CheckCompatibilityRequest"
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "id": "managedkafka.projects.locations.operations.get",
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "managedkafka.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
[...]
