{
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://managedkafka.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://managedkafka.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://managedkafka.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://managedkafka.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://managedkafka.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://managedkafka.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://managedkafka.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://managedkafka.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://managedkafka.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://managedkafka.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://managedkafka.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://managedkafka.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-west12.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://managedkafka.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.me-central1.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://managedkafka.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://managedkafka.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://managedkafka.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://managedkafka.southamerica-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://managedkafka.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://managedkafka.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://managedkafka.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://managedkafka.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://managedkafka.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    }
  ],
  "version_module": true,
  "ownerName": "Google",
  "title": "Managed Service for Apache Kafka API",
  "discoveryVersion": "v1",
  "canonicalName": "Managed Kafka",
  "rootUrl": "https://managedkafka.googleapis.com/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "revision": "20260910",
  "description": "Manage Apache Kafka clusters and resources. ",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "id": "managedkafka.projects.locations.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "managedkafka.projects.locations.list",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            }
          },
          "resources": {
            "connectClusters": {
              "resources": {
                "connectors": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new connector in a given Connect cluster.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors",
                      "response": {
                        "$ref": "Connector"
                      },
                      "request": {
                        "$ref": "Connector"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.connectClusters.connectors.create",
                      "path": "v1/{+parent}/connectors",
                      "parameters": {
                        "connectorId": {
                          "description": "Required. The ID to use for the connector, which will become the final component of the connector's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-connector-id`.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent Connect cluster in which to create the connector. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                          "location": "path"
                        }
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes a connector.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.connectClusters.connectors.delete",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the connector to delete. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "restart": {
                      "description": "Restarts the connector.",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.restart",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "description": "Required. The name of the connector to restart. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:restart",
                      "response": {
                        "$ref": "RestartConnectorResponse"
                      },
                      "request": {
                        "$ref": "RestartConnectorRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:restart",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "response": {
                        "$ref": "Connector"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the connector whose configuration to return. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}"
                        }
                      },
                      "description": "Returns the properties of a single connector."
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of connectors to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListConnectors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectors` must match the call that provided the page token."
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent Connect cluster whose connectors are to be listed. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/connectors",
                      "description": "Lists the connectors in a given Connect cluster.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors",
                      "response": {
                        "$ref": "ListConnectorsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.list"
                    },
                    "stop": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:stop",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.stop",
                      "request": {
                        "$ref": "StopConnectorRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:stop",
                      "response": {
                        "$ref": "StopConnectorResponse"
                      },
                      "description": "Stops the connector.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "description": "Required. The name of the connector to stop. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "resume": {
                      "path": "v1/{+name}:resume",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "description": "Required. The name of the connector to pause. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "managedkafka.projects.locations.connectClusters.connectors.resume",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:resume",
                      "response": {
                        "$ref": "ResumeConnectorResponse"
                      },
                      "request": {
                        "$ref": "ResumeConnectorRequest"
                      },
                      "description": "Resumes the connector and its tasks.",
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "id": "managedkafka.projects.locations.connectClusters.connectors.patch",
                      "request": {
                        "$ref": "Connector"
                      },
                      "parameters": {
                        "name": {
                          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+name}",
                      "description": "Updates the properties of a connector.",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "response": {
                        "$ref": "Connector"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "pause": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the connector to pause. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}"
                        }
                      },
                      "request": {
                        "$ref": "PauseConnectorRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:pause",
                      "httpMethod": "POST",
                      "description": "Pauses the connector and its tasks.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.connectClusters.connectors.pause",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:pause",
                      "response": {
                        "$ref": "PauseConnectorResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.connectClusters.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the properties of a single Kafka Connect cluster.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                      "description": "Required. The name of the Kafka Connect cluster whose configuration to return. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "response": {
                    "$ref": "ConnectCluster"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "managedkafka.projects.locations.connectClusters.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters",
                  "response": {
                    "$ref": "ListConnectClustersResponse"
                  },
                  "description": "Lists the Kafka Connect clusters in a given project and location.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent project/location whose Connect clusters are to be listed. Structured like `projects/{project}/locations/{location}`."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListConnectClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectClusters` must match the call that provided the page token."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter expression for the result."
                    },
                    "orderBy": {
                      "description": "Optional. Order by fields for the result.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of Connect clusters to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    }
                  },
                  "path": "v1/{+parent}/connectClusters",
                  "httpMethod": "GET"
                },
                "patch": {
                  "id": "managedkafka.projects.locations.connectClusters.patch",
                  "request": {
                    "$ref": "ConnectCluster"
                  },
                  "parameters": {
                    "name": {
                      "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the properties of a single Kafka Connect cluster.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameters": {
                    "connectClusterId": {
                      "type": "string",
                      "description": "Required. The ID to use for the Connect cluster, which will become the final component of the cluster's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-cluster-id`.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent project/location in which to create the Kafka Connect cluster. Structured like `projects/{project}/locations/{location}/`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new Kafka Connect cluster in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "managedkafka.projects.locations.connectClusters.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/connectClusters",
                  "request": {
                    "$ref": "ConnectCluster"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "managedkafka.projects.locations.connectClusters.delete",
                  "description": "Deletes a single Connect cluster.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the Kafka Connect cluster to delete. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "clusters": {
              "resources": {
                "topics": {
                  "methods": {
                    "patch": {
                      "request": {
                        "$ref": "Topic"
                      },
                      "id": "managedkafka.projects.locations.clusters.topics.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the Topic resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                          "type": "string"
                        }
                      },
                      "description": "Updates the properties of a single topic.",
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}",
                      "response": {
                        "$ref": "Topic"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "path": "v1/{+parent}/topics",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "id": "managedkafka.projects.locations.clusters.topics.create",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent cluster in which to create the topic. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                        },
                        "topicId": {
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Creates a new topic in a given project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics",
                      "response": {
                        "$ref": "Topic"
                      },
                      "request": {
                        "$ref": "Topic"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "description": "Deletes a single topic.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "id": "managedkafka.projects.locations.clusters.topics.delete",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the topic to delete. `projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}`."
                        }
                      }
                    },
                    "list": {
                      "path": "v1/{+parent}/topics",
                      "httpMethod": "GET",
                      "description": "Lists the topics in a given cluster.",
                      "id": "managedkafka.projects.locations.clusters.topics.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent is returned.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent cluster whose topics are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics",
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "id": "managedkafka.projects.locations.clusters.topics.get",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/topics/{topicsId}",
                      "response": {
                        "$ref": "Topic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns the properties of a single topic.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/topics/[^/]+$",
                          "description": "Required. The name of the topic whose configuration to return. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}.",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    }
                  }
                },
                "acls": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes an acl.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "required": true,
                          "description": "Required. The name of the acl to delete. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details."
                        }
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.delete"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/acls",
                      "httpMethod": "POST",
                      "description": "Creates a new acl in the given project, location, and cluster.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent cluster in which to create the acl. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "aclId": {
                          "description": "Required. The ID to use for the acl, which will become the final component of the acl's name. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "Acl"
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls",
                      "response": {
                        "$ref": "Acl"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "request": {
                        "$ref": "Acl"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Acl resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}",
                      "response": {
                        "$ref": "Acl"
                      },
                      "path": "v1/{+name}",
                      "id": "managedkafka.projects.locations.clusters.acls.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the properties of a single acl.",
                      "httpMethod": "PATCH"
                    },
                    "addAclEntry": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}:addAclEntry",
                      "response": {
                        "$ref": "AddAclEntryResponse"
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.addAclEntry",
                      "description": "Incremental update: Adds an acl entry to an acl. Creates the acl if it does not exist yet.",
                      "path": "v1/{+acl}:addAclEntry",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "acl"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "AclEntry"
                      },
                      "parameters": {
                        "acl": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "location": "path",
                          "description": "Required. The name of the acl to add the acl entry to. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details.",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "removeAclEntry": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}:removeAclEntry",
                      "response": {
                        "$ref": "RemoveAclEntryResponse"
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.removeAclEntry",
                      "description": "Incremental update: Removes an acl entry from an acl. Deletes the acl if its acl entries become empty (i.e. if the removed entry was the last one in the acl).",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "AclEntry"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "acl": {
                          "description": "Required. The name of the acl to remove the acl entry from. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "acl"
                      ],
                      "path": "v1/{+acl}:removeAclEntry"
                    },
                    "list": {
                      "id": "managedkafka.projects.locations.clusters.acls.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent cluster whose acls are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListAcls` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAcls` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of acls to return. The service may return fewer than this value. If unset or zero, all acls for the parent is returned.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "description": "Lists the acls in a given cluster.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls",
                      "response": {
                        "$ref": "ListAclsResponse"
                      },
                      "path": "v1/{+parent}/acls",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the acl to return. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Returns the properties of a single acl.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.clusters.acls.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}",
                      "response": {
                        "$ref": "Acl"
                      }
                    }
                  }
                },
                "consumerGroups": {
                  "methods": {
                    "patch": {
                      "request": {
                        "$ref": "ConsumerGroup"
                      },
                      "description": "Updates the properties of a single consumer group.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups/{consumerGroupsId}",
                      "response": {
                        "$ref": "ConsumerGroup"
                      },
                      "httpMethod": "PATCH",
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/consumerGroups/.*$",
                          "type": "string",
                          "required": true,
                          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the ConsumerGroup resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListConsumerGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConsumerGroups` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter expression for the result. Only supports filtering by topic name as a key in the `topics` map.",
                          "type": "string",
                          "location": "query"
                        },
                        "view": {
                          "type": "string",
                          "description": "Optional. Specifies the view (BASIC or FULL) of the ConsumerGroup resource to be returned in the response. Defaults to FULL view.",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the FULL view.",
                            "Include the name of the ConsumerGroup. This hides partition and topic metadata.",
                            "Include everything, including partition and topic metadata. This is the default value."
                          ],
                          "location": "query",
                          "enum": [
                            "CONSUMER_GROUP_VIEW_UNSPECIFIED",
                            "CONSUMER_GROUP_VIEW_BASIC",
                            "CONSUMER_GROUP_VIEW_FULL"
                          ]
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "description": "Required. The parent cluster whose consumer groups are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`."
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of consumer groups to return. The service may return fewer than this value. If unset or zero, all consumer groups for the parent is returned.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the consumer groups in a given cluster.",
                      "path": "v1/{+parent}/consumerGroups",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups",
                      "response": {
                        "$ref": "ListConsumerGroupsResponse"
                      }
                    },
                    "get": {
                      "description": "Returns the properties of a single consumer group.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/consumerGroups/.*$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the consumer group whose configuration to return. `projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumerGroup}`."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups/{consumerGroupsId}",
                      "response": {
                        "$ref": "ConsumerGroup"
                      }
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/consumerGroups/{consumerGroupsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the consumer group to delete. `projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumerGroup}`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/consumerGroups/.*$",
                          "location": "path"
                        }
                      },
                      "id": "managedkafka.projects.locations.clusters.consumerGroups.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single consumer group."
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the cluster to delete.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single cluster.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.clusters.delete"
                },
                "get": {
                  "description": "Returns the properties of a single cluster.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "Required. The name of the cluster whose configuration to return.",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "enum": [
                        "CLUSTER_VIEW_UNSPECIFIED",
                        "CLUSTER_VIEW_BASIC",
                        "CLUSTER_VIEW_FULL"
                      ],
                      "description": "Optional. Specifies the view of the Cluster resource to be returned. Defaults to CLUSTER_VIEW_BASIC. See the ClusterView enum for possible values.",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include the basic metadata of the Cluster. This is the default value (for both ListClusters and GetCluster).",
                        "Include everything, including data fetched from the Kafka cluster source of truth."
                      ]
                    }
                  },
                  "id": "managedkafka.projects.locations.clusters.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Cluster"
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of clusters to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListClusters` must match the call that provided the page token."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent location whose clusters are to be listed. Structured like `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "orderBy": {
                      "description": "Optional. Order by fields for the result.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter expression for the result.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/clusters",
                  "id": "managedkafka.projects.locations.clusters.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the clusters in a given project and location."
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "managedkafka.projects.locations.clusters.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "description": "Creates a new cluster in a given project and location.",
                  "parameters": {
                    "clusterId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the cluster, which will become the final component of the cluster's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-cluster-id`."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent region in which to create the cluster. Structured like `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/clusters",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Updates the properties of a single cluster.",
                  "id": "managedkafka.projects.locations.clusters.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  }
                }
              }
            },
            "schemaRegistries": {
              "methods": {
                "create": {
                  "description": "Create a schema registry instance.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/schemaRegistries",
                  "httpMethod": "POST",
                  "id": "managedkafka.projects.locations.schemaRegistries.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries",
                  "response": {
                    "$ref": "SchemaRegistry"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent whose schema registry instance is to be created. Structured like: `projects/{project}/locations/{location}`"
                    }
                  },
                  "request": {
                    "$ref": "CreateSchemaRegistryRequest"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries",
                  "response": {
                    "$ref": "ListSchemaRegistriesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/schemaRegistries",
                  "id": "managedkafka.projects.locations.schemaRegistries.list",
                  "parameters": {
                    "view": {
                      "enumDescriptions": [
                        "The unset value. The API will default to SCHEMA_REGISTRY_VIEW_BASIC.",
                        "If SchemaRegistryView is not specified, this is the default value. Returns only the name of the schema registry. The contexts associated with it are not included.",
                        "Returns the name of the schema registry and all the contexts associated with it."
                      ],
                      "type": "string",
                      "enum": [
                        "SCHEMA_REGISTRY_VIEW_UNSPECIFIED",
                        "SCHEMA_REGISTRY_VIEW_BASIC",
                        "SCHEMA_REGISTRY_VIEW_FULL"
                      ],
                      "description": "Optional. Specifies the view to return for the schema registry instances. If not specified, the default view is SCHEMA_REGISTRY_VIEW_BASIC.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent whose schema registry instances are to be listed. Structured like: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "List schema registries."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}",
                  "response": {
                    "$ref": "SchemaRegistry"
                  },
                  "id": "managedkafka.projects.locations.schemaRegistries.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the schema registry instance to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Get the schema registry instance."
                },
                "delete": {
                  "path": "v1/{+name}",
                  "description": "Delete a schema registry instance.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the schema registry instance to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "managedkafka.projects.locations.schemaRegistries.delete"
                }
              },
              "resources": {
                "config": {
                  "methods": {
                    "delete": {
                      "id": "managedkafka.projects.locations.schemaRegistries.config.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$",
                          "location": "path",
                          "description": "Required. The resource name of subject to delete the config for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}",
                          "type": "string"
                        }
                      },
                      "description": "Delete schema config for a subject.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "response": {
                        "$ref": "SchemaConfig"
                      }
                    },
                    "get": {
                      "description": "Get schema config at global level or for a subject.",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "response": {
                        "$ref": "SchemaConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.config.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name to get the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Get config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Get config for a specific subject.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$",
                          "location": "path"
                        },
                        "defaultToGlobal": {
                          "description": "Optional. If true, the config will fall back to the config at the global level if no subject level config is found.",
                          "location": "query",
                          "type": "boolean"
                        }
                      }
                    },
                    "update": {
                      "request": {
                        "$ref": "UpdateSchemaConfigRequest"
                      },
                      "httpMethod": "PUT",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Update config at global level or for a subject. Creates a SchemaSubject-level SchemaConfig if it does not exist.",
                      "id": "managedkafka.projects.locations.schemaRegistries.config.update",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name to update the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Update config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Update config for a specific subject.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "response": {
                        "$ref": "SchemaConfig"
                      }
                    }
                  }
                },
                "compatibility": {
                  "methods": {
                    "checkCompatibility": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/compatibility/.*$",
                          "required": true,
                          "description": "Required. The name of the resource to check compatibility for. The format is either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/*/versions: Check compatibility with one or more versions of the specified subject. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/{subject}/versions/{version}: Check compatibility with a specific version of the subject."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/compatibility/{compatibilityId}",
                      "response": {
                        "$ref": "CheckCompatibilityResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.compatibility.checkCompatibility",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Check compatibility of a schema with all versions or a specific version of a subject.",
                      "request": {
                        "$ref": "CheckCompatibilityRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}"
                    }
                  }
                },
                "schemas": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$",
                          "location": "path"
                        },
                        "subject": {
                          "location": "query",
                          "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.schemas.get",
                      "path": "v1/{+name}",
                      "description": "Get the schema for the given schema id.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}",
                      "response": {
                        "$ref": "Schema"
                      },
                      "httpMethod": "GET"
                    },
                    "getSchema": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "managedkafka.projects.locations.schemaRegistries.schemas.getSchema",
                      "path": "v1/{+name}/schema",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}/schema",
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$",
                          "location": "path"
                        },
                        "subject": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context."
                        }
                      },
                      "description": "Get the schema string for the given schema id. The response will be the schema string."
                    }
                  },
                  "resources": {
                    "subjects": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.subjects.list",
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/subjects",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The schema resource whose associated subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$"
                            },
                            "subject": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The subject to filter the subjects by."
                            },
                            "deleted": {
                              "description": "Optional. If true, the response will include soft-deleted subjects. The default is false.",
                              "type": "boolean",
                              "location": "query"
                            }
                          },
                          "description": "List subjects which reference a particular schema id. The response will be an array of subject names.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}/subjects",
                          "response": {
                            "$ref": "HttpBody"
                          }
                        }
                      }
                    },
                    "types": {
                      "methods": {
                        "list": {
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.types.list",
                          "description": "List the supported schema types. The response will be an array of schema types.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/types",
                          "response": {
[...]
