{
  "protocol": "rest",
  "id": "managedkafka:v1",
  "kind": "discovery#restDescription",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/managed-service-for-apache-kafka/docs",
  "basePath": "",
  "title": "Managed Service for Apache Kafka API",
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    }
  },
  "version_module": true,
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "baseUrl": "https://managedkafka.googleapis.com/",
  "mtlsRootUrl": "https://managedkafka.mtls.googleapis.com/",
  "canonicalName": "Managed Kafka",
  "description": "Manage Apache Kafka clusters and resources. ",
  "schemas": {
    "Connector": {
      "id": "Connector",
      "description": "A Kafka Connect connector in a given ConnectCluster.",
      "type": "object",
      "properties": {
        "taskRestartPolicy": {
          "$ref": "TaskRetryPolicy",
          "description": "Optional. Restarts the individual tasks of a Connector."
        },
        "configs": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Connector config as keys/values. The keys of the map are connector property names, for example: `connector.class`, `tasks.max`, `key.converter`.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNASSIGNED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "RESTARTING",
            "STOPPED"
          ],
          "enumDescriptions": [
            "A state was not specified.",
            "The connector is not assigned to any tasks, usually transient.",
            "The connector is running.",
            "The connector has been paused.",
            "The connector has failed. See logs for why.",
            "The connector is restarting.",
            "The connector has been stopped."
          ],
          "description": "Output only. The current state of the connector.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TaskRetryPolicy": {
      "id": "TaskRetryPolicy",
      "description": "Task Retry Policy is implemented on a best-effort basis. The default policy retries tasks with a minimum_backoff of 60 seconds, and a maximum_backoff of 12 hours. You can disable the policy by setting the task_retry_disabled field to true. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. Note that the delay between consecutive task restarts may not always precisely match the configured settings. This can happen when the ConnectCluster is in rebalancing state or if the ConnectCluster is unresponsive etc. The default values for minimum and maximum backoffs are 60 seconds and 12 hours respectively.",
      "type": "object",
      "properties": {
        "minimumBackoff": {
          "description": "Optional. The minimum amount of time to wait before retrying a failed task. This sets a lower bound for the backoff delay.",
          "type": "string",
          "format": "google-duration"
        },
        "maximumBackoff": {
          "description": "Optional. The maximum amount of time to wait before retrying a failed task. This sets an upper bound for the backoff delay.",
          "type": "string",
          "format": "google-duration"
        },
        "taskRetryDisabled": {
          "description": "Optional. If true, task retry is disabled.",
          "type": "boolean"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "RestartConnectorRequest": {
      "id": "RestartConnectorRequest",
      "description": "Request for RestartConnector.",
      "type": "object",
      "properties": {}
    },
    "SchemaRegistry": {
      "id": "SchemaRegistry",
      "description": "SchemaRegistry is a schema registry instance.",
      "type": "object",
      "properties": {
        "contexts": {
          "description": "Output only. The contexts of the schema registry instance.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The name of the schema registry instance. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` The instance name {schema_registry} can contain the following: * Up to 255 characters. * Letters (uppercase or lowercase), numbers, and underscores.",
          "type": "string"
        }
      }
    },
    "LookupVersionRequest": {
      "id": "LookupVersionRequest",
      "description": "Request for LookupVersion.",
      "type": "object",
      "properties": {
        "schemaType": {
          "description": "Optional. The schema type of the schema.",
          "type": "string",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ]
        },
        "deleted": {
          "description": "Optional. If true, soft-deleted versions will be included in lookup, no matter if the subject is active or soft-deleted. If false, soft-deleted versions will be excluded. The default is false.",
          "type": "boolean"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being looked up. The default is false.",
          "type": "boolean"
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        }
      }
    },
    "AclEntry": {
      "id": "AclEntry",
      "description": "Represents the access granted for a given Resource Pattern in an ACL.",
      "type": "object",
      "properties": {
        "principal": {
          "description": "Required. The principal. Specified as Google Cloud account, with the Kafka StandardAuthorizer prefix \"User:\". For example: \"User:test-kafka-client@test-project.iam.gserviceaccount.com\". Can be the wildcard \"User:*\" to refer to all users.",
          "type": "string"
        },
        "operation": {
          "description": "Required. The operation type. Allowed values are (case insensitive): ALL, READ, WRITE, CREATE, DELETE, ALTER, DESCRIBE, CLUSTER_ACTION, DESCRIBE_CONFIGS, ALTER_CONFIGS, and IDEMPOTENT_WRITE. See https://kafka.apache.org/documentation/#operations_resources_and_protocols for valid combinations of resource_type and operation for different Kafka API requests.",
          "type": "string"
        },
        "permissionType": {
          "description": "Required. The permission type. Accepted values are (case insensitive): ALLOW, DENY.",
          "type": "string"
        },
        "host": {
          "description": "Required. The host. Must be set to \"*\" for Managed Service for Apache Kafka.",
          "type": "string"
        }
      }
    },
    "SchemaMode": {
      "id": "SchemaMode",
      "description": "SchemaMode represents the mode of a schema registry or a specific subject. Four modes are supported: * NONE: deprecated. This was the default mode for a subject, but now the default is unset (which means use the global schema registry setting) * READONLY: The schema registry is in read-only mode. * READWRITE: The schema registry is in read-write mode, which allows limited write operations on the schema. * IMPORT: The schema registry is in import mode, which allows more editing operations on the schema for data importing purposes.",
      "type": "object",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "description": "Required. The mode type of a schema registry (READWRITE by default) or of a subject (unset by default, which means use the global schema registry setting).",
          "type": "string"
        }
      }
    },
    "CreateVersionRequest": {
      "id": "CreateVersionRequest",
      "description": "Request for CreateVersion.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Optional. The schema ID of the schema. If not specified, the schema ID will be generated by the server. If the schema ID is specified, it must not be used by an existing schema that is different from the schema to be created.",
          "type": "integer"
        },
        "version": {
          "format": "int32",
          "description": "Optional. The version to create. It is optional. If not specified, the version will be created with the max version ID of the subject increased by 1. If the version ID is specified, it will be used as the new version ID and must not be used by an existing version of the subject.",
          "type": "integer"
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored. The default is false.",
          "type": "boolean"
        },
        "schemaType": {
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "description": "Optional. The type of the schema. It is optional. If not specified, the schema type will be AVRO.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "RestartConnectorResponse": {
      "id": "RestartConnectorResponse",
      "description": "Response for RestartConnector.",
      "type": "object",
      "properties": {}
    },
    "Acl": {
      "id": "Acl",
      "description": "Represents the set of ACLs for a given Kafka Resource Pattern, which consists of resource_type, resource_name and pattern_type.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. `etag` is used for concurrency control. An `etag` is returned in the response to `GetAcl` and `CreateAcl`. Callers are required to put that etag in the request to `UpdateAcl` to ensure that their change will be applied to the same version of the acl that exists in the Kafka Cluster. A terminal 'T' character in the etag indicates that the AclEntries were truncated; more entries for the Acl exist on the Kafka Cluster, but can't be returned in the Acl due to repeated field limits.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
          "type": "string"
        },
        "resourceType": {
          "description": "Output only. The ACL resource type derived from the name. One of: CLUSTER, TOPIC, GROUP, TRANSACTIONAL_ID.",
          "readOnly": true,
          "type": "string"
        },
        "resourceName": {
          "description": "Output only. The ACL resource name derived from the name. For cluster resource_type, this is always \"kafka-cluster\". Can be the wildcard literal \"*\".",
          "readOnly": true,
          "type": "string"
        },
        "aclEntries": {
          "description": "Required. The ACL entries that apply to the resource pattern. The maximum number of allowed entries 100.",
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          }
        },
        "patternType": {
          "description": "Output only. The ACL pattern type derived from the name. One of: LITERAL, PREFIXED.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListConnectClustersResponse": {
      "id": "ListConnectClustersResponse",
      "description": "Response for ListConnectClusters.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "connectClusters": {
          "description": "The list of Connect clusters in the requested parent.",
          "type": "array",
          "items": {
            "$ref": "ConnectCluster"
          }
        }
      }
    },
    "CheckCompatibilityRequest": {
      "id": "CheckCompatibilityRequest",
      "description": "Request for CheckCompatibility.",
      "type": "object",
      "properties": {
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "verbose": {
          "description": "Optional. If true, the response will contain the compatibility check result with reasons for failed checks. The default is false.",
          "type": "boolean"
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "schemaType": {
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string"
        }
      }
    },
    "UpdateSchemaModeRequest": {
      "id": "UpdateSchemaModeRequest",
      "description": "Request for updating schema registry or subject mode.",
      "type": "object",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "description": "Required. The mode type.",
          "type": "string"
        }
      }
    },
    "CheckCompatibilityResponse": {
      "id": "CheckCompatibilityResponse",
      "description": "Response for CheckCompatibility.",
      "type": "object",
      "properties": {
        "messages": {
          "description": "Failure reasons if verbose = true.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "is_compatible": {
          "description": "The compatibility check result. If true, the schema is compatible with the resource.",
          "type": "boolean"
        }
      }
    },
    "ConsumerGroup": {
      "id": "ConsumerGroup",
      "description": "A Kafka consumer group in a given cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}",
          "type": "string"
        },
        "topics": {
          "description": "Optional. Metadata for this consumer group for all topics it has metadata for. The key of the map is a topic name, structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsumerTopicMetadata"
          }
        }
      }
    },
    "CertificateAuthorityServiceConfig": {
      "id": "CertificateAuthorityServiceConfig",
      "description": "A configuration for the Google Certificate Authority Service.",
      "type": "object",
      "properties": {
        "caPool": {
          "description": "Required. The name of the CA pool to pull CA certificates from. Structured like: projects/{project}/locations/{location}/caPools/{ca_pool}. The CA pool does not need to be in the same project or location as the Kafka cluster.",
          "type": "string"
        }
      }
    },
    "SchemaVersion": {
      "id": "SchemaVersion",
      "description": "Version of a schema.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema payload.",
          "type": "string"
        },
        "subject": {
          "description": "Required. The subject of the version.",
          "type": "string"
        },
        "id": {
          "description": "Required. The schema ID.",
          "type": "integer",
          "format": "int32"
        },
        "version": {
          "description": "Required. The version ID",
          "type": "integer",
          "format": "int32"
        },
        "schemaType": {
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        }
      }
    },
    "SchemaConfig": {
      "id": "SchemaConfig",
      "description": "SchemaConfig represents configuration for a schema registry or a specific subject.",
      "type": "object",
      "properties": {
        "compatibility": {
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "description": "Required. The compatibility type of the schema. The default value is BACKWARD. If unset in a SchemaSubject-level SchemaConfig, defaults to the global value. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "string"
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. If unset in a SchemaSubject-level SchemaConfig, the global value will be used. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "boolean"
        },
        "alias": {
          "description": "Optional. The subject to which this subject is an alias of. Only applicable for subject config.",
          "type": "string"
        }
      }
    },
    "ConsumerPartitionMetadata": {
      "id": "ConsumerPartitionMetadata",
      "description": "Metadata for a consumer group corresponding to a specific partition.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Optional. The associated metadata for this partition, or empty if it does not exist.",
          "type": "string"
        },
        "offset": {
          "description": "Required. The current offset for this partition, or 0 if no offset has been committed.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AddAclEntryResponse": {
      "id": "AddAclEntryResponse",
      "description": "Response for AddAclEntry.",
      "type": "object",
      "properties": {
        "acl": {
          "description": "The updated acl.",
          "$ref": "Acl"
        },
        "aclCreated": {
          "description": "Whether the acl was created as a result of adding the acl entry.",
          "type": "boolean"
        }
      }
    },
    "Schema": {
      "id": "Schema",
      "description": "Schema for a Kafka message.",
      "type": "object",
      "properties": {
        "schemaType": {
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string"
        },
        "schema": {
          "description": "The schema payload.",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        }
      }
    },
    "ListAclsResponse": {
      "id": "ListAclsResponse",
      "description": "Response for ListAcls.",
      "type": "object",
      "properties": {
        "acls": {
          "description": "The list of acls in the requested parent. The order of the acls is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Acl"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "ResumeConnectorRequest": {
      "id": "ResumeConnectorRequest",
      "description": "Request for ResumeConnector.",
      "type": "object",
      "properties": {}
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka cluster.",
      "type": "object",
      "properties": {
        "subnet": {
          "description": "Required. Name of the VPC subnet in which to create Private Service Connect (PSC) endpoints for the Kafka brokers and bootstrap address. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} The subnet must be located in the same region as the Kafka cluster. The project may differ. Multiple subnets from the same parent network must not be specified.",
          "type": "string"
        }
      }
    },
    "ConnectAccessConfig": {
      "id": "ConnectAccessConfig",
      "description": "The configuration of access to the Kafka Connect cluster.",
      "type": "object",
      "properties": {
        "networkConfigs": {
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka Connect cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "type": "array",
          "items": {
            "$ref": "ConnectNetworkConfig"
          }
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "RebalanceConfig": {
      "id": "RebalanceConfig",
      "description": "Defines rebalancing behavior of a Kafka cluster.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Optional. The rebalance behavior for the cluster. When not specified, defaults to `NO_REBALANCE`.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "NO_REBALANCE",
            "AUTO_REBALANCE_ON_SCALE_UP"
          ],
          "enumDescriptions": [
            "A mode was not specified. Do not use.",
            "Do not rebalance automatically.",
            "Automatically rebalance topic partitions among brokers when the cluster is scaled up."
          ]
        }
      }
    },
    "StopConnectorRequest": {
      "id": "StopConnectorRequest",
      "description": "Request for StopConnector.",
      "type": "object",
      "properties": {}
    },
    "HttpBody": {
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "data": {
          "format": "byte",
          "description": "The HTTP request/response body as raw binary.",
          "type": "string"
        }
      }
    },
    "PauseConnectorResponse": {
      "id": "PauseConnectorResponse",
      "description": "Response for PauseConnector.",
      "type": "object",
      "properties": {}
    },
    "UpdateOptions": {
      "id": "UpdateOptions",
      "description": "UpdateOptions specifies options that influence how a cluster update is applied. These options control the behavior of the update process, rather than defining the desired end-state of a cluster.",
      "type": "object",
      "properties": {
        "allowBrokerDownscaleOnClusterUpscale": {
          "description": "Optional. If true, allows an update operation that increases the total vCPU and/or memory allocation of the cluster to significantly decrease the per-broker vCPU and/or memory allocation. This can result in reduced performance and availability. By default, the update operation will fail if an upscale request results in a vCPU or memory allocation for the brokers that is smaller than 90% of the current broker size.",
          "type": "boolean"
        }
      }
    },
    "CreateSchemaRegistryRequest": {
      "id": "CreateSchemaRegistryRequest",
      "description": "Request to create a schema registry instance.",
      "type": "object",
      "properties": {
        "schemaRegistryId": {
          "description": "Required. The schema registry instance ID to use for this schema registry. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores (-). The maximum length is 63 characters. The ID must not start with a number.",
          "type": "string"
        },
        "schemaRegistry": {
          "$ref": "SchemaRegistry",
          "description": "Required. The schema registry instance to create. The name field is ignored."
        }
      }
    },
    "ResumeConnectorResponse": {
      "id": "ResumeConnectorResponse",
      "description": "Response for ResumeConnector.",
      "type": "object",
      "properties": {}
    },
    "ConnectGcpConfig": {
      "id": "ConnectGcpConfig",
      "description": "Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
      "type": "object",
      "properties": {
        "accessConfig": {
          "description": "Required. Access configuration for the Kafka Connect cluster.",
          "$ref": "ConnectAccessConfig"
        },
        "secretPaths": {
          "description": "Optional. Secrets to load into workers. Exact SecretVersions from Secret Manager must be provided -- aliases are not supported. Up to 32 secrets may be loaded into one cluster. Format: projects//secrets//versions/",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListConsumerGroupsResponse": {
      "id": "ListConsumerGroupsResponse",
      "description": "Response for ListConsumerGroups.",
      "type": "object",
      "properties": {
        "consumerGroups": {
          "description": "The list of consumer group in the requested parent. The order of the consumer groups is unspecified.",
          "type": "array",
          "items": {
            "$ref": "ConsumerGroup"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "ListConnectorsResponse": {
      "id": "ListConnectorsResponse",
      "description": "Response for ListConnectors.",
      "type": "object",
      "properties": {
        "connectors": {
          "description": "The list of connectors in the requested parent.",
          "type": "array",
          "items": {
            "$ref": "Connector"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "ConsumerTopicMetadata": {
      "id": "ConsumerTopicMetadata",
      "description": "Metadata for a consumer group corresponding to a specific topic.",
      "type": "object",
      "properties": {
        "partitions": {
          "additionalProperties": {
            "$ref": "ConsumerPartitionMetadata"
          },
          "description": "Optional. Metadata for this consumer group and topic for all partition indexes it has metadata for.",
          "type": "object"
        }
      }
    },
    "TlsConfig": {
      "id": "TlsConfig",
      "description": "The TLS configuration for the Kafka cluster.",
      "type": "object",
      "properties": {
        "trustConfig": {
          "description": "Optional. The configuration of the broker truststore. If specified, clients can use mTLS for authentication.",
          "$ref": "TrustConfig"
        },
        "sslPrincipalMappingRules": {
          "description": "Optional. A list of rules for mapping from SSL principal names to short names. These are applied in order by Kafka. Refer to the Apache Kafka documentation for `ssl.principal.mapping.rules` for the precise formatting details and syntax. Example: \"RULE:^CN=(.*?),OU=ServiceUsers.*$/$1@example.com/,DEFAULT\" This is a static Kafka broker configuration. Setting or modifying this field will trigger a rolling restart of the Kafka brokers to apply the change. An empty string means no rules are applied (Kafka default).",
          "type": "string"
        }
      }
    },
    "SchemaSubject": {
      "id": "SchemaSubject",
      "description": "Subject defines the evolution scope of schemas as a holder of schema versions.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the subject. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}` Subject name {subject} can contain the following: * Up to 255 UTF-8 bytes. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`.",
          "type": "string"
        },
        "versions": {
          "description": "Optional. The versions of the subject.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ConnectCluster": {
      "id": "ConnectCluster",
      "description": "An Apache Kafka Connect cluster deployed in a location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "gcpConfig": {
          "description": "Required. Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
          "$ref": "ConnectGcpConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the cluster was created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the cluster was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs.",
          "type": "object"
        },
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka Connect cluster.",
          "$ref": "CapacityConfig"
        },
        "config": {
          "description": "Optional. Reserved for future use. This field is meant for worker config overrides, but is unsupported for now.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. The current state of the Kafka Connect cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is detached."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ]
        },
        "kafkaCluster": {
          "description": "Required. Immutable. The name of the Kafka cluster this Kafka Connect cluster is attached to. Structured like: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "AccessConfig": {
      "id": "AccessConfig",
      "description": "The configuration of access to the Kafka cluster.",
      "type": "object",
      "properties": {
        "networkConfigs": {
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "type": "array",
          "items": {
            "$ref": "NetworkConfig"
          }
        }
      }
    },
    "CapacityConfig": {
      "id": "CapacityConfig",
      "description": "A capacity configuration of a Kafka cluster.",
      "type": "object",
      "properties": {
        "memoryBytes": {
          "format": "int64",
          "description": "Required. The memory to provision for the cluster in bytes. The CPU:memory ratio (vCPU:GiB) must be between 1:1 and 1:8. Minimum: 3221225472 (3 GiB).",
          "type": "string"
        },
        "vcpuCount": {
          "description": "Required. The number of vCPUs to provision for the cluster. Minimum: 3.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "PauseConnectorRequest": {
      "id": "PauseConnectorRequest",
      "description": "Request for PauseConnector.",
      "type": "object",
      "properties": {}
    },
    "TrustConfig": {
      "id": "TrustConfig",
      "description": "Sources of CA certificates to install in the broker's truststore.",
      "type": "object",
      "properties": {
        "casConfigs": {
          "description": "Optional. Configuration for the Google Certificate Authority Service. Maximum 10.",
          "type": "array",
          "items": {
            "$ref": "CertificateAuthorityServiceConfig"
          }
        }
      }
    },
    "StopConnectorResponse": {
      "id": "StopConnectorResponse",
      "description": "Response for StopConnector.",
      "type": "object",
      "properties": {}
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "Response for ListClusters.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusters": {
          "description": "The list of Clusters in the requested parent.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "ListTopicsResponse": {
      "id": "ListTopicsResponse",
      "description": "Response for ListTopics.",
      "type": "object",
      "properties": {
        "topics": {
          "description": "The list of topics in the requested parent. The order of the topics is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Topic"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      }
    },
    "Context": {
      "id": "Context",
      "description": "Context represents an independent schema grouping in a schema registry instance.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the context. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}` The context name {context} can contain the following: * Up to 255 characters. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`.",
          "type": "string"
        },
        "subjects": {
          "description": "Optional. The subjects of the context.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListSchemaRegistriesResponse": {
      "id": "ListSchemaRegistriesResponse",
      "description": "Request for ListSchemaRegistries.",
      "type": "object",
      "properties": {
        "schemaRegistries": {
          "description": "The schema registry instances.",
          "type": "array",
          "items": {
            "$ref": "SchemaRegistry"
          }
        }
      }
    },
    "Topic": {
      "id": "Topic",
      "description": "A Kafka topic in a given cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "string"
        },
        "partitionCount": {
          "format": "int32",
          "description": "Required. The number of partitions this topic has. The partition count can only be increased, not decreased. Please note that if partitions are increased for a topic that has a key, the partitioning logic or the ordering of the messages will be affected.",
          "type": "integer"
        },
        "replicationFactor": {
          "format": "int32",
          "description": "Required. Immutable. The number of replicas of each partition. A replication factor of 3 is recommended for high availability.",
          "type": "integer"
        },
        "configs": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Configurations for the topic that are overridden from the cluster defaults. The key of the map is a Kafka topic property name, for example: `cleanup.policy`, `compression.type`.",
          "type": "object"
        }
      }
    },
    "GcpConfig": {
      "id": "GcpConfig",
      "description": "Configuration properties for a Kafka cluster deployed to Google Cloud Platform.",
      "type": "object",
      "properties": {
        "accessConfig": {
          "description": "Required. Access configuration for the Kafka cluster.",
          "$ref": "AccessConfig"
        },
        "kmsKey": {
          "description": "Optional. Immutable. The Cloud KMS Key name to use for encryption. The key must be located in the same region as the cluster and cannot be changed. Structured like: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}.",
          "type": "string"
        }
      }
    },
    "SchemaReference": {
      "id": "SchemaReference",
      "description": "SchemaReference is a reference to a schema.",
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Required. The version of the reference.",
          "type": "integer"
        },
        "name": {
          "description": "Required. The name of the reference.",
          "type": "string"
        },
        "subject": {
          "description": "Required. The subject of the reference.",
          "type": "string"
        }
      }
    },
    "Cluster": {
      "id": "Cluster",
      "description": "An Apache Kafka cluster deployed in a location.",
      "type": "object",
      "properties": {
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "gcpConfig": {
          "description": "Required. Configuration properties for a Kafka cluster deployed to Google Cloud Platform.",
          "$ref": "GcpConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the cluster was created.",
          "readOnly": true,
          "type": "string"
        },
        "rebalanceConfig": {
          "description": "Optional. Rebalance configuration for the Kafka cluster.",
          "$ref": "RebalanceConfig"
        },
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka cluster.",
          "$ref": "CapacityConfig"
        },
        "state": {
          "description": "Output only. The current state of the cluster.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is being updated."
          ]
        },
        "brokerDetails": {
          "description": "Output only. Only populated when FULL view is requested. Details of each broker in the cluster.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "BrokerDetails"
          }
        },
        "tlsConfig": {
          "description": "Optional. TLS configuration for the Kafka cluster.",
          "$ref": "TlsConfig"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the cluster was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateOptions": {
          "$ref": "UpdateOptions",
          "description": "Optional. UpdateOptions represents options that control how updates to the cluster are applied."
        },
        "kafkaVersion": {
          "description": "Output only. Only populated when FULL view is requested. The Kafka version of the cluster.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "RemoveAclEntryResponse": {
      "id": "RemoveAclEntryResponse",
      "description": "Response for RemoveAclEntry.",
      "type": "object",
      "properties": {
        "aclDeleted": {
          "description": "Returned with value true if the removed acl entry was the last entry in the acl, resulting in acl deletion.",
          "type": "boolean"
        },
        "acl": {
          "description": "The updated acl. Returned if the removed acl entry was not the last entry in the acl.",
          "$ref": "Acl"
        }
      }
    },
    "CreateVersionResponse": {
      "id": "CreateVersionResponse",
      "description": "Response for CreateVersion.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique identifier of the schema created.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ConnectNetworkConfig": {
      "id": "ConnectNetworkConfig",
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka Connect cluster.",
      "type": "object",
      "properties": {
        "primarySubnet": {
          "description": "Required. VPC subnet to make available to the Kafka Connect cluster. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} It is used to create a Private Service Connect (PSC) interface for the Kafka Connect workers. It must be located in the same region as the Kafka Connect cluster. The CIDR range of the subnet must be within the IPv4 address ranges for private networks, as specified in RFC 1918. The primary subnet CIDR range must have a minimum size of /22 (1024 addresses).",
          "type": "string"
        },
        "additionalSubnets": {
          "description": "Optional. Deprecated: Managed Kafka Connect clusters can now reach any endpoint accessible from the primary subnet without the need to define additional subnets. Please see https://cloud.google.com/managed-service-for-apache-kafka/docs/connect-cluster/create-connect-cluster#worker-subnet for more information.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "deprecated": true
        },
        "dnsDomainNames": {
          "description": "Optional. Additional DNS domain names from the subnet's network to be made visible to the Connect Cluster. When using MirrorMaker2, it's necessary to add the bootstrap address's dns domain name of the target cluster to make it visible to the connector. For example: my-kafka-cluster.us-central1.managedkafka.my-project.cloud.goog",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BrokerDetails": {
      "id": "BrokerDetails",
      "description": "Details of a broker in the Kafka cluster.",
      "type": "object",
      "properties": {
        "brokerIndex": {
          "description": "Output only. The index of the broker.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "rack": {
          "description": "Output only. The rack of the broker.",
          "readOnly": true,
          "type": "string"
        },
        "nodeId": {
          "description": "Output only. The node id of the broker.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "UpdateSchemaConfigRequest": {
      "id": "UpdateSchemaConfigRequest",
      "description": "Request for updating schema config. On a SchemaSubject-level SchemaConfig, an unset field will be removed from the SchemaConfig.",
      "type": "object",
      "properties": {
        "compatibility": {
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "description": "Required. The compatibility type of the schemas. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the compatibility field for the SchemaConfig.",
          "type": "string"
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the normalize field for the SchemaConfig.",
          "type": "boolean"
        }
      }
    }
  },
  "rootUrl": "https://managedkafka.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "endpointUrl": "https://managedkafka.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://managedkafka.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://managedkafka.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://managedkafka.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://managedkafka.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://managedkafka.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://managedkafka.australia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://managedkafka.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://managedkafka.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://managedkafka.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://managedkafka.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://managedkafka.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://managedkafka.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://managedkafka.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-west4.rep.googleapis.com/"
    }
  ],
  "revision": "20260806",
  "name": "managedkafka",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "managedkafka.projects.locations.list",
              "path": "v1/{+name}/locations",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "id": "managedkafka.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "schemaRegistries": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the schema registry instance to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}",
                  "id": "managedkafka.projects.locations.schemaRegistries.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get the schema registry instance.",
                  "response": {
                    "$ref": "SchemaRegistry"
                  }
                },
                "list": {
                  "id": "managedkafka.projects.locations.schemaRegistries.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/schemaRegistries",
                  "parameters": {
                    "view": {
                      "location": "query",
                      "description": "Optional. Specifies the view to return for the schema registry instances. If not specified, the default view is SCHEMA_REGISTRY_VIEW_BASIC.",
                      "type": "string",
                      "enum": [
                        "SCHEMA_REGISTRY_VIEW_UNSPECIFIED",
                        "SCHEMA_REGISTRY_VIEW_BASIC",
                        "SCHEMA_REGISTRY_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "The unset value. The API will default to SCHEMA_REGISTRY_VIEW_BASIC.",
                        "If SchemaRegistryView is not specified, this is the default value. Returns only the name of the schema registry. The contexts associated with it are not included.",
                        "Returns the name of the schema registry and all the contexts associated with it."
                      ]
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent whose schema registry instances are to be listed. Structured like: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List schema registries.",
                  "response": {
                    "$ref": "ListSchemaRegistriesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SchemaRegistry"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create a schema registry instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries",
                  "path": "v1/{+parent}/schemaRegistries",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent whose schema registry instance is to be created. Structured like: `projects/{project}/locations/{location}`",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CreateSchemaRegistryRequest"
                  },
                  "id": "managedkafka.projects.locations.schemaRegistries.create"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a schema registry instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the schema registry instance to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$"
                    }
                  },
                  "id": "managedkafka.projects.locations.schemaRegistries.delete"
                }
              },
              "resources": {
                "mode": {
                  "methods": {
                    "update": {
                      "response": {
                        "$ref": "SchemaMode"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Update mode at global level or for a subject.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "UpdateSchemaModeRequest"
                      },
                      "id": "managedkafka.projects.locations.schemaRegistries.mode.update",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/mode/{modeId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/mode/.*$"
                        }
                      },
                      "httpMethod": "PUT"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Delete schema mode for a subject.",
                      "response": {
                        "$ref": "SchemaMode"
                      },
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/mode/.*$",
                          "required": true,
                          "description": "Required. The resource name of subject to delete the mode for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject} * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/mode/{modeId}",
                      "id": "managedkafka.projects.locations.schemaRegistries.mode.delete"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get mode at global level or for a subject.",
                      "response": {
                        "$ref": "SchemaMode"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.mode.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/mode/.*$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/mode/{modeId}"
                    }
                  }
                },
                "config": {
                  "methods": {
                    "get": {
                      "id": "managedkafka.projects.locations.schemaRegistries.config.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name to get the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Get config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Get config for a specific subject.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$"
                        },
                        "defaultToGlobal": {
                          "description": "Optional. If true, the config will fall back to the config at the global level if no subject level config is found.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "SchemaConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get schema config at global level or for a subject.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "update": {
                      "request": {
                        "$ref": "UpdateSchemaConfigRequest"
                      },
                      "id": "managedkafka.projects.locations.schemaRegistries.config.update",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "httpMethod": "PUT",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name to update the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Update config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Update config for a specific subject.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$"
                        }
                      },
                      "response": {
                        "$ref": "SchemaConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Update config at global level or for a subject. Creates a SchemaSubject-level SchemaConfig if it does not exist.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "id": "managedkafka.projects.locations.schemaRegistries.config.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of subject to delete the config for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$"
                        }
                      },
                      "response": {
                        "$ref": "SchemaConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Delete schema config for a subject.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "schemas": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get the schema for the given schema id.",
                      "response": {
                        "$ref": "Schema"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.schemas.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$"
                        },
                        "subject": {
                          "location": "query",
                          "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}"
                    },
                    "getSchema": {
                      "httpMethod": "GET",
                      "path": "v1/{+name}/schema",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$"
                        },
                        "subject": {
                          "location": "query",
                          "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}/schema",
                      "id": "managedkafka.projects.locations.schemaRegistries.schemas.getSchema",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get the schema string for the given schema id. The response will be the schema string.",
                      "response": {
                        "$ref": "HttpBody"
                      }
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "List the schema versions for the given schema id. The response will be an array of subject-version pairs as: [{\"subject\":\"subject1\", \"version\":1}, {\"subject\":\"subject2\", \"version\":2}].",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}/versions",
                          "path": "v1/{+parent}/versions",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. The schema whose schema versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$"
                            },
                            "subject": {
                              "location": "query",
                              "description": "Optional. The subject to filter the subjects by.",
                              "type": "string"
                            },
                            "deleted": {
                              "description": "Optional. If true, the response will include soft-deleted versions of the schema, even if the subject is soft-deleted. The default is false.",
                              "type": "boolean",
                              "location": "query"
                            }
                          },
                          "httpMethod": "GET",
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.versions.list"
                        }
                      }
                    },
                    "types": {
                      "methods": {
                        "list": {
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.types.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/types",
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/schemas/types",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                              "description": "Required. The parent schema registry whose schema types are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "List the supported schema types. The response will be an array of schema types.",
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    },
                    "subjects": {
                      "methods": {
                        "list": {
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.subjects.list",
[...]
