{
  "name": "managedkafka",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/managed-service-for-apache-kafka/docs",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "batchPath": "batch",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://managedkafka.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://managedkafka.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://managedkafka.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://managedkafka.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://managedkafka.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://managedkafka.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://managedkafka.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://managedkafka.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://managedkafka.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://managedkafka.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://managedkafka.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://managedkafka.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://managedkafka.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://managedkafka.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://managedkafka.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://managedkafka.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://managedkafka.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://managedkafka.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://managedkafka.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://managedkafka.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://managedkafka.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://managedkafka.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://managedkafka.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://managedkafka.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://managedkafka.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://managedkafka.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://managedkafka.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://managedkafka.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://managedkafka.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://managedkafka.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://managedkafka.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://managedkafka.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "schemas": {
    "ListConnectorsResponse": {
      "id": "ListConnectorsResponse",
      "description": "Response for ListConnectors.",
      "type": "object",
      "properties": {
        "connectors": {
          "type": "array",
          "items": {
            "$ref": "Connector"
          },
          "description": "The list of connectors in the requested parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      }
    },
    "CheckCompatibilityRequest": {
      "id": "CheckCompatibilityRequest",
      "description": "Request for CheckCompatibility.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema."
        },
        "schemaType": {
          "description": "Optional. The schema type of the schema.",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "type": "string"
        },
        "verbose": {
          "type": "boolean",
          "description": "Optional. If true, the response will contain the compatibility check result with reasons for failed checks. The default is false."
        }
      }
    },
    "ListTopicsResponse": {
      "type": "object",
      "properties": {
        "topics": {
          "items": {
            "$ref": "Topic"
          },
          "description": "The list of topics in the requested parent. The order of the topics is unspecified.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "id": "ListTopicsResponse",
      "description": "Response for ListTopics."
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "UpdateOptions": {
      "type": "object",
      "properties": {
        "allowBrokerDownscaleOnClusterUpscale": {
          "type": "boolean",
          "description": "Optional. If true, allows an update operation that increases the total vCPU and/or memory allocation of the cluster to significantly decrease the per-broker vCPU and/or memory allocation. This can result in reduced performance and availability. By default, the update operation will fail if an upscale request results in a vCPU or memory allocation for the brokers that is smaller than 90% of the current broker size."
        }
      },
      "id": "UpdateOptions",
      "description": "UpdateOptions specifies options that influence how a cluster update is applied. These options control the behavior of the update process, rather than defining the desired end-state of a cluster."
    },
    "Topic": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "string"
        },
        "configs": {
          "type": "object",
          "description": "Optional. Configurations for the topic that are overridden from the cluster defaults. The key of the map is a Kafka topic property name, for example: `cleanup.policy`, `compression.type`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "partitionCount": {
          "description": "Required. The number of partitions this topic has. The partition count can only be increased, not decreased. Please note that if partitions are increased for a topic that has a key, the partitioning logic or the ordering of the messages will be affected.",
          "format": "int32",
          "type": "integer"
        },
        "replicationFactor": {
          "description": "Required. Immutable. The number of replicas of each partition. A replication factor of 3 is recommended for high availability.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Topic",
      "description": "A Kafka topic in a given cluster."
    },
    "TlsConfig": {
      "id": "TlsConfig",
      "description": "The TLS configuration for the Kafka cluster.",
      "type": "object",
      "properties": {
        "trustConfig": {
          "description": "Optional. The configuration of the broker truststore. If specified, clients can use mTLS for authentication.",
          "$ref": "TrustConfig"
        },
        "sslPrincipalMappingRules": {
          "description": "Optional. A list of rules for mapping from SSL principal names to short names. These are applied in order by Kafka. Refer to the Apache Kafka documentation for `ssl.principal.mapping.rules` for the precise formatting details and syntax. Example: \"RULE:^CN=(.*?),OU=ServiceUsers.*$/$1@example.com/,DEFAULT\" This is a static Kafka broker configuration. Setting or modifying this field will trigger a rolling restart of the Kafka brokers to apply the change. An empty string means no rules are applied (Kafka default).",
          "type": "string"
        }
      }
    },
    "HttpBody": {
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      }
    },
    "AccessConfig": {
      "id": "AccessConfig",
      "description": "The configuration of access to the Kafka cluster.",
      "type": "object",
      "properties": {
        "networkConfigs": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "type": "array"
        }
      }
    },
    "Acl": {
      "id": "Acl",
      "description": "Represents the set of ACLs for a given Kafka Resource Pattern, which consists of resource_type, resource_name and pattern_type.",
      "type": "object",
      "properties": {
        "aclEntries": {
          "type": "array",
          "description": "Required. The ACL entries that apply to the resource pattern. The maximum number of allowed entries 100.",
          "items": {
            "$ref": "AclEntry"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)"
        },
        "etag": {
          "description": "Optional. `etag` is used for concurrency control. An `etag` is returned in the response to `GetAcl` and `CreateAcl`. Callers are required to put that etag in the request to `UpdateAcl` to ensure that their change will be applied to the same version of the acl that exists in the Kafka Cluster. A terminal 'T' character in the etag indicates that the AclEntries were truncated; more entries for the Acl exist on the Kafka Cluster, but can't be returned in the Acl due to repeated field limits.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "Output only. The ACL resource type derived from the name. One of: CLUSTER, TOPIC, GROUP, TRANSACTIONAL_ID.",
          "readOnly": true
        },
        "resourceName": {
          "description": "Output only. The ACL resource name derived from the name. For cluster resource_type, this is always \"kafka-cluster\". Can be the wildcard literal \"*\".",
          "readOnly": true,
          "type": "string"
        },
        "patternType": {
          "description": "Output only. The ACL pattern type derived from the name. One of: LITERAL, PREFIXED.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListConnectClustersResponse": {
      "id": "ListConnectClustersResponse",
      "description": "Response for ListConnectClusters.",
      "type": "object",
      "properties": {
        "connectClusters": {
          "type": "array",
          "items": {
            "$ref": "ConnectCluster"
          },
          "description": "The list of Connect clusters in the requested parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TaskRetryPolicy": {
      "id": "TaskRetryPolicy",
      "description": "Task Retry Policy is implemented on a best-effort basis. The default policy retries tasks with a minimum_backoff of 60 seconds, and a maximum_backoff of 12 hours. You can disable the policy by setting the task_retry_disabled field to true. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. Note that the delay between consecutive task restarts may not always precisely match the configured settings. This can happen when the ConnectCluster is in rebalancing state or if the ConnectCluster is unresponsive etc. The default values for minimum and maximum backoffs are 60 seconds and 12 hours respectively.",
      "type": "object",
      "properties": {
        "minimumBackoff": {
          "description": "Optional. The minimum amount of time to wait before retrying a failed task. This sets a lower bound for the backoff delay.",
          "type": "string",
          "format": "google-duration"
        },
        "maximumBackoff": {
          "description": "Optional. The maximum amount of time to wait before retrying a failed task. This sets an upper bound for the backoff delay.",
          "type": "string",
          "format": "google-duration"
        },
        "taskRetryDisabled": {
          "description": "Optional. If true, task retry is disabled.",
          "type": "boolean"
        }
      }
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "Response for ListClusters.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "clusters": {
          "type": "array",
          "description": "The list of Clusters in the requested parent.",
          "items": {
            "$ref": "Cluster"
          }
        }
      }
    },
    "CreateVersionResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "The unique identifier of the schema created."
        }
      },
      "id": "CreateVersionResponse",
      "description": "Response for CreateVersion."
    },
    "SchemaMode": {
      "id": "SchemaMode",
      "description": "SchemaMode represents the mode of a schema registry or a specific subject. Four modes are supported: * NONE: deprecated. This was the default mode for a subject, but now the default is unset (which means use the global schema registry setting) * READONLY: The schema registry is in read-only mode. * READWRITE: The schema registry is in read-write mode, which allows limited write operations on the schema. * IMPORT: The schema registry is in import mode, which allows more editing operations on the schema for data importing purposes.",
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "description": "Required. The mode type of a schema registry (READWRITE by default) or of a subject (unset by default, which means use the global schema registry setting).",
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ]
        }
      }
    },
    "SchemaSubject": {
      "id": "SchemaSubject",
      "description": "Subject defines the evolution scope of schemas as a holder of schema versions.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the subject. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}` Subject name {subject} can contain the following: * Up to 255 UTF-8 bytes. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`."
        },
        "versions": {
          "description": "Optional. The versions of the subject.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "UpdateSchemaModeRequest": {
      "type": "object",
      "properties": {
        "mode": {
          "description": "Required. The mode type.",
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "type": "string"
        }
      },
      "id": "UpdateSchemaModeRequest",
      "description": "Request for updating schema registry or subject mode."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "CheckCompatibilityResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "description": "Failure reasons if verbose = true.",
          "items": {
            "type": "string"
          }
        },
        "is_compatible": {
          "description": "The compatibility check result. If true, the schema is compatible with the resource.",
          "type": "boolean"
        }
      },
      "id": "CheckCompatibilityResponse",
      "description": "Response for CheckCompatibility."
    },
    "Cluster": {
      "id": "Cluster",
      "description": "An Apache Kafka cluster deployed in a location.",
      "type": "object",
      "properties": {
        "gcpConfig": {
          "description": "Required. Configuration properties for a Kafka cluster deployed to Google Cloud Platform.",
          "$ref": "GcpConfig"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "tlsConfig": {
          "description": "Optional. TLS configuration for the Kafka cluster.",
          "$ref": "TlsConfig"
        },
        "rebalanceConfig": {
          "description": "Optional. Rebalance configuration for the Kafka cluster.",
          "$ref": "RebalanceConfig"
        },
        "kafkaVersion": {
          "description": "Output only. Only populated when FULL view is requested. The Kafka version of the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the cluster was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the cluster was created.",
          "readOnly": true
        },
        "brokerDetails": {
          "type": "array",
          "description": "Output only. Only populated when FULL view is requested. Details of each broker in the cluster.",
          "readOnly": true,
          "items": {
            "$ref": "BrokerDetails"
          }
        },
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka cluster.",
          "$ref": "CapacityConfig"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the cluster.",
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "updateOptions": {
          "description": "Optional. UpdateOptions represents options that control how updates to the cluster are applied.",
          "$ref": "UpdateOptions"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "RestartConnectorResponse": {
      "type": "object",
      "properties": {},
      "id": "RestartConnectorResponse",
      "description": "Response for RestartConnector."
    },
    "PauseConnectorRequest": {
      "id": "PauseConnectorRequest",
      "description": "Request for PauseConnector.",
      "type": "object",
      "properties": {}
    },
    "ConsumerGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}"
        },
        "topics": {
          "description": "Optional. Metadata for this consumer group for all topics it has metadata for. The key of the map is a topic name, structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "additionalProperties": {
            "$ref": "ConsumerTopicMetadata"
          },
          "type": "object"
        }
      },
      "id": "ConsumerGroup",
      "description": "A Kafka consumer group in a given cluster."
    },
    "ListAclsResponse": {
      "id": "ListAclsResponse",
      "description": "Response for ListAcls.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "acls": {
          "description": "The list of acls in the requested parent. The order of the acls is unspecified.",
          "items": {
            "$ref": "Acl"
          },
          "type": "array"
        }
      }
    },
    "StopConnectorRequest": {
      "type": "object",
      "properties": {},
      "id": "StopConnectorRequest",
      "description": "Request for StopConnector."
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "ConnectCluster": {
      "id": "ConnectCluster",
      "description": "An Apache Kafka Connect cluster deployed in a location.",
      "type": "object",
      "properties": {
        "gcpConfig": {
          "description": "Required. Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
          "$ref": "ConnectGcpConfig"
        },
        "config": {
          "type": "object",
          "description": "Optional. Reserved for future use. This field is meant for worker config overrides, but is unsupported for now.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kafkaCluster": {
          "type": "string",
          "description": "Required. Immutable. The name of the Kafka cluster this Kafka Connect cluster is attached to. Structured like: projects/{project}/locations/{location}/clusters/{cluster}"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka Connect cluster.",
          "$ref": "CapacityConfig"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time when the cluster was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the Kafka Connect cluster.",
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is detached."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}"
        },
        "createTime": {
          "description": "Output only. The time when the cluster was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CapacityConfig": {
      "type": "object",
      "properties": {
        "vcpuCount": {
          "description": "Required. The number of vCPUs to provision for the cluster. Minimum: 3.",
          "type": "string",
          "format": "int64"
        },
        "memoryBytes": {
          "type": "string",
          "format": "int64",
          "description": "Required. The memory to provision for the cluster in bytes. The CPU:memory ratio (vCPU:GiB) must be between 1:1 and 1:8. Minimum: 3221225472 (3 GiB)."
        }
      },
      "id": "CapacityConfig",
      "description": "A capacity configuration of a Kafka cluster."
    },
    "CreateVersionRequest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The schema ID of the schema. If not specified, the schema ID will be generated by the server. If the schema ID is specified, it must not be used by an existing schema that is different from the schema to be created."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The version to create. It is optional. If not specified, the version will be created with the max version ID of the subject increased by 1. If the version ID is specified, it will be used as the new version ID and must not be used by an existing version of the subject."
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored. The default is false.",
          "type": "boolean"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          },
          "type": "array"
        },
        "schemaType": {
          "description": "Optional. The type of the schema. It is optional. If not specified, the schema type will be AVRO.",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload"
        }
      },
      "id": "CreateVersionRequest",
      "description": "Request for CreateVersion."
    },
    "TrustConfig": {
      "id": "TrustConfig",
      "description": "Sources of CA certificates to install in the broker's truststore.",
      "type": "object",
      "properties": {
        "casConfigs": {
          "type": "array",
          "items": {
            "$ref": "CertificateAuthorityServiceConfig"
          },
          "description": "Optional. Configuration for the Google Certificate Authority Service. Maximum 10."
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "RemoveAclEntryResponse": {
      "id": "RemoveAclEntryResponse",
      "description": "Response for RemoveAclEntry.",
      "type": "object",
      "properties": {
        "acl": {
          "description": "The updated acl. Returned if the removed acl entry was not the last entry in the acl.",
          "$ref": "Acl"
        },
        "aclDeleted": {
          "type": "boolean",
          "description": "Returned with value true if the removed acl entry was the last entry in the acl, resulting in acl deletion."
        }
      }
    },
    "UpdateSchemaConfigRequest": {
      "id": "UpdateSchemaConfigRequest",
      "description": "Request for updating schema config. On a SchemaSubject-level SchemaConfig, an unset field will be removed from the SchemaConfig.",
      "type": "object",
      "properties": {
        "compatibility": {
          "description": "Required. The compatibility type of the schemas. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the compatibility field for the SchemaConfig.",
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "type": "string"
        },
        "normalize": {
          "type": "boolean",
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the normalize field for the SchemaConfig."
        }
      }
    },
    "PauseConnectorResponse": {
      "id": "PauseConnectorResponse",
      "description": "Response for PauseConnector.",
      "type": "object",
      "properties": {}
    },
    "BrokerDetails": {
      "id": "BrokerDetails",
      "description": "Details of a broker in the Kafka cluster.",
      "type": "object",
      "properties": {
        "brokerIndex": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The index of the broker.",
          "readOnly": true
        },
        "nodeId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The node id of the broker.",
          "readOnly": true
        },
        "rack": {
          "type": "string",
          "description": "Output only. The rack of the broker.",
          "readOnly": true
        }
      }
    },
    "RebalanceConfig": {
      "id": "RebalanceConfig",
      "description": "Defines rebalancing behavior of a Kafka cluster.",
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "description": "Optional. The rebalance behavior for the cluster. When not specified, defaults to `NO_REBALANCE`.",
          "enumDescriptions": [
            "A mode was not specified. Do not use.",
            "Do not rebalance automatically.",
            "Automatically rebalance topic partitions among brokers when the cluster is scaled up."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "NO_REBALANCE",
            "AUTO_REBALANCE_ON_SCALE_UP"
          ]
        }
      }
    },
    "StopConnectorResponse": {
      "id": "StopConnectorResponse",
      "description": "Response for StopConnector.",
      "type": "object",
      "properties": {}
    },
    "CertificateAuthorityServiceConfig": {
      "id": "CertificateAuthorityServiceConfig",
      "description": "A configuration for the Google Certificate Authority Service.",
      "type": "object",
      "properties": {
        "caPool": {
          "description": "Required. The name of the CA pool to pull CA certificates from. Structured like: projects/{project}/locations/{location}/caPools/{ca_pool}. The CA pool does not need to be in the same project or location as the Kafka cluster.",
          "type": "string"
        }
      }
    },
    "AclEntry": {
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "description": "Required. The operation type. Allowed values are (case insensitive): ALL, READ, WRITE, CREATE, DELETE, ALTER, DESCRIBE, CLUSTER_ACTION, DESCRIBE_CONFIGS, ALTER_CONFIGS, and IDEMPOTENT_WRITE. See https://kafka.apache.org/documentation/#operations_resources_and_protocols for valid combinations of resource_type and operation for different Kafka API requests."
        },
        "principal": {
          "type": "string",
          "description": "Required. The principal. Specified as Google Cloud account, with the Kafka StandardAuthorizer prefix \"User:\". For example: \"User:test-kafka-client@test-project.iam.gserviceaccount.com\". Can be the wildcard \"User:*\" to refer to all users."
        },
        "permissionType": {
          "description": "Required. The permission type. Accepted values are (case insensitive): ALLOW, DENY.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Required. The host. Must be set to \"*\" for Managed Service for Apache Kafka."
        }
      },
      "id": "AclEntry",
      "description": "Represents the access granted for a given Resource Pattern in an ACL."
    },
    "RestartConnectorRequest": {
      "id": "RestartConnectorRequest",
      "description": "Request for RestartConnector.",
      "type": "object",
      "properties": {}
    },
    "LookupVersionRequest": {
      "type": "object",
      "properties": {
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          },
          "type": "array"
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being looked up. The default is false.",
          "type": "boolean"
        },
        "schemaType": {
          "type": "string",
          "description": "Optional. The schema type of the schema.",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload"
        },
        "deleted": {
          "description": "Optional. If true, soft-deleted versions will be included in lookup, no matter if the subject is active or soft-deleted. If false, soft-deleted versions will be excluded. The default is false.",
          "type": "boolean"
        }
      },
      "id": "LookupVersionRequest",
      "description": "Request for LookupVersion."
    },
    "Schema": {
      "type": "object",
      "properties": {
        "schemaType": {
          "description": "Optional. The schema type of the schema.",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "The schema payload."
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema."
        }
      },
      "id": "Schema",
      "description": "Schema for a Kafka message."
    },
    "ListConsumerGroupsResponse": {
      "type": "object",
      "properties": {
        "consumerGroups": {
          "items": {
            "$ref": "ConsumerGroup"
          },
          "description": "The list of consumer group in the requested parent. The order of the consumer groups is unspecified.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "id": "ListConsumerGroupsResponse",
      "description": "Response for ListConsumerGroups."
    },
    "SchemaReference": {
      "type": "object",
      "properties": {
        "subject": {
          "description": "Required. The subject of the reference.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the reference."
        },
        "version": {
          "description": "Required. The version of the reference.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SchemaReference",
      "description": "SchemaReference is a reference to a schema."
    },
    "Context": {
      "id": "Context",
      "description": "Context represents an independent schema grouping in a schema registry instance.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the context. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}` The context name {context} can contain the following: * Up to 255 characters. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`."
        },
        "subjects": {
          "description": "Optional. The subjects of the context.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "ResumeConnectorRequest": {
      "id": "ResumeConnectorRequest",
      "description": "Request for ResumeConnector.",
      "type": "object",
      "properties": {}
    },
    "SchemaRegistry": {
      "id": "SchemaRegistry",
      "description": "SchemaRegistry is a schema registry instance.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the schema registry instance. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` The instance name {schema_registry} can contain the following: * Up to 255 characters. * Letters (uppercase or lowercase), numbers, and underscores."
        },
        "contexts": {
          "description": "Output only. The contexts of the schema registry instance.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ConnectGcpConfig": {
      "type": "object",
      "properties": {
        "accessConfig": {
          "description": "Required. Access configuration for the Kafka Connect cluster.",
          "$ref": "ConnectAccessConfig"
        },
        "secretPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Secrets to load into workers. Exact SecretVersions from Secret Manager must be provided -- aliases are not supported. Up to 32 secrets may be loaded into one cluster. Format: projects//secrets//versions/"
        }
      },
      "id": "ConnectGcpConfig",
      "description": "Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform."
    },
    "CreateSchemaRegistryRequest": {
      "type": "object",
      "properties": {
        "schemaRegistryId": {
          "type": "string",
          "description": "Required. The schema registry instance ID to use for this schema registry. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores (-). The maximum length is 63 characters. The ID must not start with a number."
        },
        "schemaRegistry": {
          "description": "Required. The schema registry instance to create. The name field is ignored.",
          "$ref": "SchemaRegistry"
        }
      },
      "id": "CreateSchemaRegistryRequest",
      "description": "Request to create a schema registry instance."
    },
    "Connector": {
      "type": "object",
      "properties": {
        "taskRestartPolicy": {
          "description": "Optional. Restarts the individual tasks of a Connector.",
          "$ref": "TaskRetryPolicy"
        },
        "configs": {
          "type": "object",
          "description": "Optional. Connector config as keys/values. The keys of the map are connector property names, for example: `connector.class`, `tasks.max`, `key.converter`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the connector.",
          "enumDescriptions": [
            "A state was not specified.",
            "The connector is not assigned to any tasks, usually transient.",
            "The connector is running.",
            "The connector has been paused.",
            "The connector has failed. See logs for why.",
            "The connector is restarting.",
            "The connector has been stopped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNASSIGNED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "RESTARTING",
            "STOPPED"
          ],
          "type": "string"
        }
      },
      "id": "Connector",
      "description": "A Kafka Connect connector in a given ConnectCluster."
    },
    "ConsumerPartitionMetadata": {
      "type": "object",
      "properties": {
        "offset": {
          "type": "string",
          "format": "int64",
          "description": "Required. The current offset for this partition, or 0 if no offset has been committed."
        },
        "metadata": {
          "description": "Optional. The associated metadata for this partition, or empty if it does not exist.",
          "type": "string"
        }
      },
      "id": "ConsumerPartitionMetadata",
      "description": "Metadata for a consumer group corresponding to a specific partition."
    },
    "NetworkConfig": {
      "type": "object",
      "properties": {
        "subnet": {
          "description": "Required. Name of the VPC subnet in which to create Private Service Connect (PSC) endpoints for the Kafka brokers and bootstrap address. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} The subnet must be located in the same region as the Kafka cluster. The project may differ. Multiple subnets from the same parent network must not be specified.",
          "type": "string"
        }
      },
      "id": "NetworkConfig",
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka cluster."
    },
    "ResumeConnectorResponse": {
      "id": "ResumeConnectorResponse",
      "description": "Response for ResumeConnector.",
      "type": "object",
      "properties": {}
    },
    "SchemaVersion": {
      "id": "SchemaVersion",
      "description": "Version of a schema.",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema payload.",
          "type": "string"
        },
        "schemaType": {
          "type": "string",
          "description": "Optional. The schema type of the schema.",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The version ID"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema."
        },
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The schema ID."
        },
        "subject": {
          "type": "string",
          "description": "Required. The subject of the version."
        }
      }
    },
    "SchemaConfig": {
      "type": "object",
      "properties": {
        "compatibility": {
          "description": "Required. The compatibility type of the schema. The default value is BACKWARD. If unset in a SchemaSubject-level SchemaConfig, defaults to the global value. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "type": "string"
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. If unset in a SchemaSubject-level SchemaConfig, the global value will be used. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "boolean"
        },
        "alias": {
          "description": "Optional. The subject to which this subject is an alias of. Only applicable for subject config.",
          "type": "string"
        }
      },
      "id": "SchemaConfig",
      "description": "SchemaConfig represents configuration for a schema registry or a specific subject."
    },
    "ConnectNetworkConfig": {
      "id": "ConnectNetworkConfig",
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka Connect cluster.",
      "type": "object",
      "properties": {
        "additionalSubnets": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Deprecated: Managed Kafka Connect clusters can now reach any endpoint accessible from the primary subnet without the need to define additional subnets. Please see https://cloud.google.com/managed-service-for-apache-kafka/docs/connect-cluster/create-connect-cluster#worker-subnet for more information.",
          "type": "array",
          "deprecated": true
        },
        "dnsDomainNames": {
          "type": "array",
          "description": "Optional. Additional DNS domain names from the subnet's network to be made visible to the Connect Cluster. When using MirrorMaker2, it's necessary to add the bootstrap address's dns domain name of the target cluster to make it visible to the connector. For example: my-kafka-cluster.us-central1.managedkafka.my-project.cloud.goog",
          "items": {
            "type": "string"
          }
        },
        "primarySubnet": {
          "description": "Required. VPC subnet to make available to the Kafka Connect cluster. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} It is used to create a Private Service Connect (PSC) interface for the Kafka Connect workers. It must be located in the same region as the Kafka Connect cluster. The CIDR range of the subnet must be within the IPv4 address ranges for private networks, as specified in RFC 1918. The primary subnet CIDR range must have a minimum size of /22 (1024 addresses).",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      }
    },
    "GcpConfig": {
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Optional. Immutable. The Cloud KMS Key name to use for encryption. The key must be located in the same region as the cluster and cannot be changed. Structured like: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}.",
          "type": "string"
        },
        "accessConfig": {
          "description": "Required. Access configuration for the Kafka cluster.",
          "$ref": "AccessConfig"
        }
      },
      "id": "GcpConfig",
      "description": "Configuration properties for a Kafka cluster deployed to Google Cloud Platform."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "AddAclEntryResponse": {
      "type": "object",
      "properties": {
        "aclCreated": {
          "description": "Whether the acl was created as a result of adding the acl entry.",
          "type": "boolean"
        },
        "acl": {
          "description": "The updated acl.",
          "$ref": "Acl"
        }
      },
      "id": "AddAclEntryResponse",
      "description": "Response for AddAclEntry."
    },
    "ConnectAccessConfig": {
      "id": "ConnectAccessConfig",
      "description": "The configuration of access to the Kafka Connect cluster.",
      "type": "object",
      "properties": {
        "networkConfigs": {
          "type": "array",
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka Connect cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "items": {
            "$ref": "ConnectNetworkConfig"
          }
        }
      }
    },
    "ConsumerTopicMetadata": {
      "type": "object",
      "properties": {
        "partitions": {
          "additionalProperties": {
            "$ref": "ConsumerPartitionMetadata"
          },
          "description": "Optional. Metadata for this consumer group and topic for all partition indexes it has metadata for.",
          "type": "object"
        }
      },
      "id": "ConsumerTopicMetadata",
      "description": "Metadata for a consumer group corresponding to a specific topic."
    },
    "ListSchemaRegistriesResponse": {
      "type": "object",
      "properties": {
        "schemaRegistries": {
          "description": "The schema registry instances.",
          "items": {
            "$ref": "SchemaRegistry"
          },
          "type": "array"
        }
      },
      "id": "ListSchemaRegistriesResponse",
      "description": "Request for ListSchemaRegistries."
    }
  },
  "revision": "20260806",
  "title": "Managed Service for Apache Kafka API",
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "Manage Apache Kafka clusters and resources. ",
  "id": "managedkafka:v1",
  "ownerName": "Google",
  "baseUrl": "https://managedkafka.googleapis.com/",
  "version_module": true,
  "mtlsRootUrl": "https://managedkafka.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Managed Kafka",
  "rootUrl": "https://managedkafka.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "managedkafka.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "managedkafka.projects.locations.get",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "managedkafka.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "schemaRegistries": {
              "resources": {
                "contexts": {
                  "resources": {
                    "schemas": {
                      "resources": {
                        "types": {
                          "methods": {
                            "list": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "path": "v1/{+parent}/schemas/types",
                              "httpMethod": "GET",
                              "parameters": {
                                "parent": {
                                  "description": "Required. The parent schema registry whose schema types are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                                  "location": "path",
                                  "type": "string",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+$"
                                }
                              },
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.types.list",
                              "description": "List the supported schema types. The response will be an array of schema types.",
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/types"
                            }
                          }
                        },
                        "versions": {
                          "methods": {
                            "list": {
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "path": "v1/{+parent}/versions",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.versions.list",
                              "description": "List the schema versions for the given schema id. The response will be an array of subject-version pairs as: [{\"subject\":\"subject1\", \"version\":1}, {\"subject\":\"subject2\", \"version\":2}].",
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/versions",
                              "httpMethod": "GET",
                              "parameters": {
                                "subject": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional. The subject to filter the subjects by."
                                },
                                "parent": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "Required. The schema whose schema versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                                  "required": true
                                },
                                "deleted": {
                                  "description": "Optional. If true, the response will include soft-deleted versions of the schema, even if the subject is soft-deleted. The default is false.",
                                  "location": "query",
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        },
                        "subjects": {
                          "methods": {
                            "list": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "path": "v1/{+parent}/subjects",
                              "httpMethod": "GET",
                              "parameters": {
                                "deleted": {
                                  "type": "boolean",
                                  "description": "Optional. If true, the response will include soft-deleted subjects. The default is false.",
                                  "location": "query"
                                },
                                "subject": {
                                  "type": "string",
                                  "description": "Optional. The subject to filter the subjects by.",
                                  "location": "query"
                                },
                                "parent": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                                  "location": "path",
                                  "description": "Required. The schema resource whose associated subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                                  "type": "string"
                                }
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/subjects",
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.subjects.list",
                              "description": "List subjects which reference a particular schema id. The response will be an array of subject names.",
                              "parameterOrder": [
                                "parent"
                              ]
                            }
                          }
                        }
                      },
                      "methods": {
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Schema"
                          },
                          "path": "v1/{+name}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$"
                            },
                            "subject": {
                              "type": "string",
                              "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                              "location": "query"
                            }
                          },
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.get",
                          "description": "Get the schema for the given schema id.",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}"
                        },
                        "getSchema": {
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.getSchema",
                          "description": "Get the schema string for the given schema id. The response will be the schema string.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/schema",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                              "required": true
                            },
                            "subject": {
                              "location": "query",
                              "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}/schema",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "config": {
                      "methods": {
                        "update": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.update",
                          "description": "Update config at global level or for a subject. Creates a SchemaSubject-level SchemaConfig if it does not exist.",
                          "httpMethod": "PUT",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$",
                              "description": "Required. The resource name to update the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Update config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Update config for a specific subject.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}",
                          "request": {
                            "$ref": "UpdateSchemaConfigRequest"
                          },
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.delete",
                          "description": "Delete schema config for a subject.",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$",
                              "description": "Required. The resource name of subject to delete the config for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.get",
                          "description": "Get schema config at global level or for a subject.",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. The resource name to get the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Get config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Get config for a specific subject.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$",
                              "required": true
                            },
                            "defaultToGlobal": {
                              "description": "Optional. If true, the config will fall back to the config at the global level if no subject level config is found.",
                              "location": "query",
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    "mode": {
                      "methods": {
                        "delete": {
                          "scopes": [
[...]
