{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://managedkafka.googleapis.com/",
  "baseUrl": "https://managedkafka.googleapis.com/",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "basePath": "",
  "mtlsRootUrl": "https://managedkafka.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "title": "Managed Service for Apache Kafka API",
  "name": "managedkafka",
  "protocol": "rest",
  "version": "v1",
  "id": "managedkafka:v1",
  "schemas": {
    "Topic": {
      "id": "Topic",
      "properties": {
        "replicationFactor": {
          "type": "integer",
          "description": "Required. Immutable. The number of replicas of each partition. A replication factor of 3 is recommended for high availability.",
          "format": "int32"
        },
        "name": {
          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "string"
        },
        "configs": {
          "description": "Optional. Configurations for the topic that are overridden from the cluster defaults. The key of the map is a Kafka topic property name, for example: `cleanup.policy`, `compression.type`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "partitionCount": {
          "type": "integer",
          "description": "Required. The number of partitions this topic has. The partition count can only be increased, not decreased. Please note that if partitions are increased for a topic that has a key, the partitioning logic or the ordering of the messages will be affected.",
          "format": "int32"
        }
      },
      "description": "A Kafka topic in a given cluster.",
      "type": "object"
    },
    "RestartConnectorResponse": {
      "properties": {},
      "type": "object",
      "description": "Response for RestartConnector.",
      "id": "RestartConnectorResponse"
    },
    "EffectiveCapacityConfig": {
      "properties": {
        "brokerDiskSizeGib": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The disk assigned to each broker in Gibibytes."
        },
        "brokerCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of brokers in the cluster.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Describes the effective capacity configuration of a Kafka cluster, both cluster-wide and per-broker.",
      "id": "EffectiveCapacityConfig"
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clusters": {
          "description": "The list of Clusters in the requested parent.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        }
      },
      "type": "object",
      "description": "Response for ListClusters."
    },
    "ListSchemaRegistriesResponse": {
      "description": "Request for ListSchemaRegistries.",
      "type": "object",
      "properties": {
        "schemaRegistries": {
          "items": {
            "$ref": "SchemaRegistry"
          },
          "description": "The schema registry instances.",
          "type": "array"
        }
      },
      "id": "ListSchemaRegistriesResponse"
    },
    "AclEntry": {
      "type": "object",
      "description": "Represents the access granted for a given Resource Pattern in an ACL.",
      "properties": {
        "operation": {
          "description": "Required. The operation type. Allowed values are (case insensitive): ALL, READ, WRITE, CREATE, DELETE, ALTER, DESCRIBE, CLUSTER_ACTION, DESCRIBE_CONFIGS, ALTER_CONFIGS, and IDEMPOTENT_WRITE. See https://kafka.apache.org/documentation/#operations_resources_and_protocols for valid combinations of resource_type and operation for different Kafka API requests.",
          "type": "string"
        },
        "permissionType": {
          "description": "Required. The permission type. Accepted values are (case insensitive): ALLOW, DENY.",
          "type": "string"
        },
        "host": {
          "description": "Required. The host. Must be set to \"*\" for Managed Service for Apache Kafka.",
          "type": "string"
        },
        "principal": {
          "type": "string",
          "description": "Required. The principal. Specified as Google Cloud account, with the Kafka StandardAuthorizer prefix \"User:\". For example: \"User:test-kafka-client@test-project.iam.gserviceaccount.com\". Can be the wildcard \"User:*\" to refer to all users."
        }
      },
      "id": "AclEntry"
    },
    "HttpBody": {
      "properties": {
        "extensions": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        }
      },
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "HttpBody"
    },
    "ListConnectClustersResponse": {
      "id": "ListConnectClustersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connectClusters": {
          "description": "The list of Connect clusters in the requested parent.",
          "items": {
            "$ref": "ConnectCluster"
          },
          "type": "array"
        }
      },
      "description": "Response for ListConnectClusters."
    },
    "ResumeConnectorRequest": {
      "description": "Request for ResumeConnector.",
      "id": "ResumeConnectorRequest",
      "properties": {},
      "type": "object"
    },
    "ConnectAccessConfig": {
      "id": "ConnectAccessConfig",
      "description": "The configuration of access to the Kafka Connect cluster.",
      "type": "object",
      "properties": {
        "networkConfigs": {
          "type": "array",
          "items": {
            "$ref": "ConnectNetworkConfig"
          },
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka Connect cluster. Minimum of 1 network is required. Maximum 10 networks can be specified."
        }
      }
    },
    "AccessConfig": {
      "id": "AccessConfig",
      "description": "The configuration of access to the Kafka cluster.",
      "type": "object",
      "properties": {
        "networkConfigs": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array",
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka cluster. Minimum of 1 network is required. Maximum 10 networks can be specified."
        },
        "publicClusterConfig": {
          "description": "Optional. The configuration for public connectivity to the Kafka cluster.",
          "$ref": "PublicClusterConfig"
        }
      }
    },
    "PauseConnectorRequest": {
      "properties": {},
      "id": "PauseConnectorRequest",
      "type": "object",
      "description": "Request for PauseConnector."
    },
    "UpdateSchemaConfigRequest": {
      "type": "object",
      "properties": {
        "compatibility": {
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "type": "string",
          "description": "Required. The compatibility type of the schemas. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the compatibility field for the SchemaConfig."
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the normalize field for the SchemaConfig.",
          "type": "boolean"
        }
      },
      "id": "UpdateSchemaConfigRequest",
      "description": "Request for updating schema config. On a SchemaSubject-level SchemaConfig, an unset field will be removed from the SchemaConfig."
    },
    "SchemaMode": {
      "description": "SchemaMode represents the mode of a schema registry or a specific subject. Four modes are supported: * NONE: deprecated. This was the default mode for a subject, but now the default is unset (which means use the global schema registry setting) * READONLY: The schema registry is in read-only mode. * READWRITE: The schema registry is in read-write mode, which allows limited write operations on the schema. * IMPORT: The schema registry is in import mode, which allows more editing operations on the schema for data importing purposes.",
      "type": "object",
      "id": "SchemaMode",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "description": "Required. The mode type of a schema registry (READWRITE by default) or of a subject (unset by default, which means use the global schema registry setting)."
        }
      }
    },
    "SchemaConfig": {
      "properties": {
        "normalize": {
          "type": "boolean",
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. If unset in a SchemaSubject-level SchemaConfig, the global value will be used. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value."
        },
        "compatibility": {
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "description": "Required. The compatibility type of the schema. The default value is BACKWARD. If unset in a SchemaSubject-level SchemaConfig, defaults to the global value. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "string"
        },
        "alias": {
          "type": "string",
          "description": "Optional. The subject to which this subject is an alias of. Only applicable for subject config."
        }
      },
      "type": "object",
      "id": "SchemaConfig",
      "description": "SchemaConfig represents configuration for a schema registry or a specific subject."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "CheckCompatibilityResponse": {
      "description": "Response for CheckCompatibility.",
      "properties": {
        "messages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Failure reasons if verbose = true."
        },
        "is_compatible": {
          "type": "boolean",
          "description": "The compatibility check result. If true, the schema is compatible with the resource."
        }
      },
      "type": "object",
      "id": "CheckCompatibilityResponse"
    },
    "CreateVersionRequest": {
      "description": "Request for CreateVersion.",
      "properties": {
        "normalize": {
          "type": "boolean",
          "description": "Optional. If true, the schema will be normalized before being stored. The default is false."
        },
        "references": {
          "type": "array",
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "version": {
          "description": "Optional. The version to create. It is optional. If not specified, the version will be created with the max version ID of the subject increased by 1. If the version ID is specified, it will be used as the new version ID and must not be used by an existing version of the subject.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "Optional. The schema ID of the schema. If not specified, the schema ID will be generated by the server. If the schema ID is specified, it must not be used by an existing schema that is different from the schema to be created.",
          "type": "integer",
          "format": "int32"
        },
        "schemaType": {
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "description": "Optional. The type of the schema. It is optional. If not specified, the schema type will be AVRO.",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "type": "string"
        }
      },
      "id": "CreateVersionRequest",
      "type": "object"
    },
    "UpdateSchemaModeRequest": {
      "properties": {
        "mode": {
          "description": "Required. The mode type.",
          "type": "string",
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ]
        }
      },
      "type": "object",
      "id": "UpdateSchemaModeRequest",
      "description": "Request for updating schema registry or subject mode."
    },
    "ListTopicsResponse": {
      "type": "object",
      "description": "Response for ListTopics.",
      "id": "ListTopicsResponse",
      "properties": {
        "topics": {
          "items": {
            "$ref": "Topic"
          },
          "type": "array",
          "description": "The list of topics in the requested parent. The order of the topics is unspecified."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "Acl": {
      "description": "Represents the set of ACLs for a given Kafka Resource Pattern, which consists of resource_type, resource_name and pattern_type.",
      "type": "object",
      "id": "Acl",
      "properties": {
        "aclEntries": {
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          },
          "description": "Required. The ACL entries that apply to the resource pattern. The maximum number of allowed entries 100."
        },
        "patternType": {
          "readOnly": true,
          "description": "Output only. The ACL pattern type derived from the name. One of: LITERAL, PREFIXED.",
          "type": "string"
        },
        "resourceType": {
          "readOnly": true,
          "description": "Output only. The ACL resource type derived from the name. One of: CLUSTER, TOPIC, GROUP, TRANSACTIONAL_ID.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
          "type": "string"
        },
        "etag": {
          "description": "Optional. `etag` is used for concurrency control. An `etag` is returned in the response to `GetAcl` and `CreateAcl`. Callers are required to put that etag in the request to `UpdateAcl` to ensure that their change will be applied to the same version of the acl that exists in the Kafka Cluster. A terminal 'T' character in the etag indicates that the AclEntries were truncated; more entries for the Acl exist on the Kafka Cluster, but can't be returned in the Acl due to repeated field limits.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Output only. The ACL resource name derived from the name. For cluster resource_type, this is always \"kafka-cluster\". Can be the wildcard literal \"*\".",
          "readOnly": true
        }
      }
    },
    "SchemaRegistry": {
      "type": "object",
      "id": "SchemaRegistry",
      "description": "SchemaRegistry is a schema registry instance.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the schema registry instance. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` The instance name {schema_registry} can contain the following: * Up to 255 characters. * Letters (uppercase or lowercase), numbers, and underscores."
        },
        "contexts": {
          "readOnly": true,
          "description": "Output only. The contexts of the schema registry instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PublicClusterConfig": {
      "properties": {
        "allowedSourceIpRanges": {
          "description": "Required. The list of IPv4 ranges in CIDR notation that are allowed to connect to the public Kafka broker endpoints. The Kafka cluster should only be exposed to trusted external ranges. A maximum of 500 IP ranges can be specified and no single range can be larger than a `/16`. This field is required if PublicClusterConfig is specified.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "PublicClusterConfig",
      "type": "object",
      "description": "The configuration for a public Kafka cluster"
    },
    "ListConsumerGroupsResponse": {
      "description": "Response for ListConsumerGroups.",
      "id": "ListConsumerGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "consumerGroups": {
          "items": {
            "$ref": "ConsumerGroup"
          },
          "type": "array",
          "description": "The list of consumer group in the requested parent. The order of the consumer groups is unspecified."
        }
      },
      "type": "object"
    },
    "TaskRetryPolicy": {
      "type": "object",
      "description": "Task Retry Policy is implemented on a best-effort basis. The default policy retries tasks with a minimum_backoff of 60 seconds, and a maximum_backoff of 12 hours. You can disable the policy by setting the task_retry_disabled field to true. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. Note that the delay between consecutive task restarts may not always precisely match the configured settings. This can happen when the ConnectCluster is in rebalancing state or if the ConnectCluster is unresponsive etc. The default values for minimum and maximum backoffs are 60 seconds and 12 hours respectively.",
      "properties": {
        "maximumBackoff": {
          "format": "google-duration",
          "description": "Optional. The maximum amount of time to wait before retrying a failed task. This sets an upper bound for the backoff delay.",
          "type": "string"
        },
        "taskRetryDisabled": {
          "description": "Optional. If true, task retry is disabled.",
          "type": "boolean"
        },
        "minimumBackoff": {
          "type": "string",
          "description": "Optional. The minimum amount of time to wait before retrying a failed task. This sets a lower bound for the backoff delay.",
          "format": "google-duration"
        }
      },
      "id": "TaskRetryPolicy"
    },
    "CertificateAuthorityServiceConfig": {
      "type": "object",
      "description": "A configuration for the Google Certificate Authority Service.",
      "id": "CertificateAuthorityServiceConfig",
      "properties": {
        "caPool": {
          "type": "string",
          "description": "Required. The name of the CA pool to pull CA certificates from. Structured like: projects/{project}/locations/{location}/caPools/{ca_pool}. The CA pool does not need to be in the same project or location as the Kafka cluster."
        }
      }
    },
    "TlsConfig": {
      "properties": {
        "sslPrincipalMappingRules": {
          "description": "Optional. A list of rules for mapping from SSL principal names to short names. These are applied in order by Kafka. Refer to the Apache Kafka documentation for `ssl.principal.mapping.rules` for the precise formatting details and syntax. Example: \"RULE:^CN=(.*?),OU=ServiceUsers.*$/$1@example.com/,DEFAULT\" This is a static Kafka broker configuration. Setting or modifying this field will trigger a rolling restart of the Kafka brokers to apply the change. An empty string means no rules are applied (Kafka default).",
          "type": "string"
        },
        "trustConfig": {
          "$ref": "TrustConfig",
          "description": "Optional. The configuration of the broker truststore. If specified, clients can use mTLS for authentication."
        }
      },
      "id": "TlsConfig",
      "type": "object",
      "description": "The TLS configuration for the Kafka cluster."
    },
    "CheckCompatibilityRequest": {
      "description": "Request for CheckCompatibility.",
      "properties": {
        "schemaType": {
          "type": "string",
          "description": "Optional. The schema type of the schema.",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        },
        "verbose": {
          "type": "boolean",
          "description": "Optional. If true, the response will contain the compatibility check result with reasons for failed checks. The default is false."
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "SchemaReference"
          },
          "type": "array",
          "description": "Optional. The schema references used by the schema."
        }
      },
      "type": "object",
      "id": "CheckCompatibilityRequest"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListConnectorsResponse": {
      "properties": {
        "connectors": {
          "type": "array",
          "items": {
            "$ref": "Connector"
          },
          "description": "The list of connectors in the requested parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListConnectors.",
      "id": "ListConnectorsResponse",
      "type": "object"
    },
    "Schema": {
      "type": "object",
      "description": "Schema for a Kafka message.",
      "id": "Schema",
      "properties": {
        "schemaType": {
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string"
        },
        "schema": {
          "description": "The schema payload.",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        }
      }
    },
    "StopConnectorRequest": {
      "id": "StopConnectorRequest",
      "properties": {},
      "description": "Request for StopConnector.",
      "type": "object"
    },
    "SchemaVersion": {
      "description": "Version of a schema.",
      "id": "SchemaVersion",
      "properties": {
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload."
        },
        "subject": {
          "description": "Required. The subject of the version.",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "description": "Required. The schema ID.",
          "type": "integer"
        },
        "version": {
          "description": "Required. The version ID",
          "type": "integer",
          "format": "int32"
        },
        "schemaType": {
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "description": "Optional. The schema type of the schema."
        }
      },
      "type": "object"
    },
    "ConnectCluster": {
      "id": "ConnectCluster",
      "description": "An Apache Kafka Connect cluster deployed in a location.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is detached."
          ],
          "description": "Output only. The current state of the Kafka Connect cluster.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the cluster was last updated."
        },
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka Connect cluster.",
          "$ref": "CapacityConfig"
        },
        "kafkaCluster": {
          "description": "Required. Immutable. The name of the Kafka cluster this Kafka Connect cluster is attached to. Structured like: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the cluster was created."
        },
        "config": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Reserved for future use. This field is meant for worker config overrides, but is unsupported for now."
        },
        "name": {
          "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}",
          "type": "string"
        },
        "gcpConfig": {
          "description": "Required. Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
          "$ref": "ConnectGcpConfig"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "StopConnectorResponse": {
      "description": "Response for StopConnector.",
      "id": "StopConnectorResponse",
      "properties": {},
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "ConsumerGroup": {
      "type": "object",
      "description": "A Kafka consumer group in a given cluster.",
      "id": "ConsumerGroup",
      "properties": {
        "topics": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsumerTopicMetadata"
          },
          "description": "Optional. Metadata for this consumer group for all topics it has metadata for. The key of the map is a topic name, structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}"
        },
        "name": {
          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}",
          "type": "string"
        }
      }
    },
    "ConnectNetworkConfig": {
      "id": "ConnectNetworkConfig",
      "properties": {
        "additionalSubnets": {
          "description": "Optional. Deprecated: Managed Kafka Connect clusters can now reach any endpoint accessible from the primary subnet without the need to define additional subnets. Please see https://cloud.google.com/managed-service-for-apache-kafka/docs/connect-cluster/create-connect-cluster#worker-subnet for more information.",
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array"
        },
        "dnsDomainNames": {
          "description": "Optional. Additional DNS domain names from the subnet's network to be made visible to the Connect Cluster. When using MirrorMaker2, it's necessary to add the bootstrap address's dns domain name of the target cluster to make it visible to the connector. For example: my-kafka-cluster.us-central1.managedkafka.my-project.cloud.goog",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "primarySubnet": {
          "description": "Required. VPC subnet to make available to the Kafka Connect cluster. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} It is used to create a Private Service Connect (PSC) interface for the Kafka Connect workers. It must be located in the same region as the Kafka Connect cluster. The CIDR range of the subnet must be within the IPv4 address ranges for private networks, as specified in RFC 1918. The primary subnet CIDR range must have a minimum size of /22 (1024 addresses).",
          "type": "string"
        }
      },
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka Connect cluster.",
      "type": "object"
    },
    "CreateSchemaRegistryRequest": {
      "description": "Request to create a schema registry instance.",
      "type": "object",
      "properties": {
        "schemaRegistryId": {
          "type": "string",
          "description": "Required. The schema registry instance ID to use for this schema registry. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores (-). The maximum length is 63 characters. The ID must not start with a number."
        },
        "schemaRegistry": {
          "$ref": "SchemaRegistry",
          "description": "Required. The schema registry instance to create. The name field is ignored."
        }
      },
      "id": "CreateSchemaRegistryRequest"
    },
    "ConsumerTopicMetadata": {
      "description": "Metadata for a consumer group corresponding to a specific topic.",
      "properties": {
        "partitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsumerPartitionMetadata"
          },
          "description": "Optional. Metadata for this consumer group and topic for all partition indexes it has metadata for."
        }
      },
      "type": "object",
      "id": "ConsumerTopicMetadata"
    },
    "PublicClusterDetails": {
      "properties": {
        "discoveryDnsRecords": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. DNS discovery records that resolve to all of the external IP addresses associated with the public cluster. Used for configuring DNS-based egress firewall rules to a public cluster. discovery_dns_record can be added to this list if the cluster is scaled up. Must configure DNS based firewalls to resolve ALL DNS records in this list as large clusters have IP addresses sharded across records. Each record contains a maximum of 30 IP addresses."
        },
        "externalIpAddresses": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. All of the external IP addresses associated with the public cluster used for configuring egress firewall rules to a public cluster. external_ip_address can be added to this list if the cluster is scaled up."
        }
      },
      "id": "PublicClusterDetails",
      "description": "Details of the public cluster feature for the Kafka cluster.",
      "type": "object"
    },
    "ResumeConnectorResponse": {
      "properties": {},
      "id": "ResumeConnectorResponse",
      "type": "object",
      "description": "Response for ResumeConnector."
    },
    "TrustConfig": {
      "description": "Sources of CA certificates to install in the broker's truststore.",
      "id": "TrustConfig",
      "type": "object",
      "properties": {
        "casConfigs": {
          "type": "array",
          "description": "Optional. Configuration for the Google Certificate Authority Service. Maximum 10.",
          "items": {
            "$ref": "CertificateAuthorityServiceConfig"
          }
        }
      }
    },
    "GcpConfig": {
      "description": "Configuration properties for a Kafka cluster deployed to Google Cloud Platform.",
      "id": "GcpConfig",
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Optional. Immutable. The Cloud KMS Key name to use for encryption. The key must be located in the same region as the cluster and cannot be changed. Structured like: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}.",
          "type": "string"
        },
        "accessConfig": {
          "$ref": "AccessConfig",
          "description": "Required. Access configuration for the Kafka cluster."
        }
      }
    },
    "BrokerDetails": {
      "id": "BrokerDetails",
      "properties": {
        "brokerIndex": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The index of the broker."
        },
        "rack": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The rack of the broker."
        },
        "nodeId": {
          "type": "string",
          "description": "Output only. The node id of the broker.",
          "format": "int64",
          "readOnly": true
        }
      },
      "description": "Details of a broker in the Kafka cluster.",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "Context": {
      "type": "object",
      "properties": {
        "subjects": {
          "type": "array",
          "description": "Optional. The subjects of the context.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the context. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}` The context name {context} can contain the following: * Up to 255 characters. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`."
        }
      },
      "id": "Context",
      "description": "Context represents an independent schema grouping in a schema registry instance."
    },
    "RebalanceConfig": {
      "id": "RebalanceConfig",
      "description": "Defines rebalancing behavior of a Kafka cluster.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Optional. The rebalance behavior for the cluster. When not specified, defaults to `NO_REBALANCE`.",
          "enum": [
            "MODE_UNSPECIFIED",
            "NO_REBALANCE",
            "AUTO_REBALANCE_ON_SCALE_UP"
          ],
          "enumDescriptions": [
            "A mode was not specified. Do not use.",
            "Do not rebalance automatically.",
            "Automatically rebalance topic partitions among brokers when the cluster is scaled up."
          ],
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "PauseConnectorResponse": {
      "id": "PauseConnectorResponse",
      "type": "object",
      "properties": {},
      "description": "Response for PauseConnector."
    },
    "RemoveAclEntryResponse": {
      "description": "Response for RemoveAclEntry.",
      "id": "RemoveAclEntryResponse",
      "type": "object",
      "properties": {
        "aclDeleted": {
          "description": "Returned with value true if the removed acl entry was the last entry in the acl, resulting in acl deletion.",
          "type": "boolean"
        },
        "acl": {
          "$ref": "Acl",
          "description": "The updated acl. Returned if the removed acl entry was not the last entry in the acl."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "Connector": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}",
          "type": "string"
        },
        "taskRestartPolicy": {
          "$ref": "TaskRetryPolicy",
          "description": "Optional. Restarts the individual tasks of a Connector."
        },
        "configs": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Connector config as keys/values. The keys of the map are connector property names, for example: `connector.class`, `tasks.max`, `key.converter`.",
          "type": "object"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNASSIGNED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "RESTARTING",
            "STOPPED"
          ],
          "description": "Output only. The current state of the connector.",
          "enumDescriptions": [
            "A state was not specified.",
            "The connector is not assigned to any tasks, usually transient.",
            "The connector is running.",
            "The connector has been paused.",
            "The connector has failed. See logs for why.",
            "The connector is restarting.",
            "The connector has been stopped."
          ],
          "readOnly": true
        }
      },
      "description": "A Kafka Connect connector in a given ConnectCluster.",
      "id": "Connector",
      "type": "object"
    },
    "ConnectGcpConfig": {
      "properties": {
        "accessConfig": {
          "description": "Required. Access configuration for the Kafka Connect cluster.",
          "$ref": "ConnectAccessConfig"
        },
        "secretPaths": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Secrets to load into workers. Exact SecretVersions from Secret Manager must be provided -- aliases are not supported. Up to 32 secrets may be loaded into one cluster. Format: projects//secrets//versions/",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ConnectGcpConfig",
      "description": "Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform."
    },
    "CapacityConfig": {
      "type": "object",
      "description": "A capacity configuration of a Kafka cluster.",
      "properties": {
        "vcpuCount": {
          "type": "string",
          "format": "int64",
          "description": "Required. The number of vCPUs to provision for the cluster. Minimum: 3."
        },
        "memoryBytes": {
          "description": "Required. The memory to provision for the cluster in bytes. The CPU:memory ratio (vCPU:GiB) must be between 1:1 and 1:8. Minimum: 3221225472 (3 GiB).",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "CapacityConfig"
    },
    "SchemaSubject": {
      "id": "SchemaSubject",
      "type": "object",
      "properties": {
        "versions": {
          "description": "Optional. The versions of the subject.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The name of the subject. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}` Subject name {subject} can contain the following: * Up to 255 UTF-8 bytes. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`.",
          "type": "string"
        }
      },
      "description": "Subject defines the evolution scope of schemas as a holder of schema versions."
    },
    "ListAclsResponse": {
      "description": "Response for ListAcls.",
      "type": "object",
      "properties": {
        "acls": {
          "description": "The list of acls in the requested parent. The order of the acls is unspecified.",
          "items": {
            "$ref": "Acl"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "id": "ListAclsResponse"
    },
    "UpdateOptions": {
      "type": "object",
      "description": "UpdateOptions specifies options that influence how a cluster update is applied. These options control the behavior of the update process, rather than defining the desired end-state of a cluster.",
      "properties": {
        "allowBrokerDownscaleOnClusterUpscale": {
          "description": "Optional. If true, allows an update operation that increases the total vCPU and/or memory allocation of the cluster to significantly decrease the per-broker vCPU and/or memory allocation. This can result in reduced performance and availability. By default, the update operation will fail if an upscale request results in a vCPU or memory allocation for the brokers that is smaller than 90% of the current broker size.",
          "type": "boolean"
        }
      },
      "id": "UpdateOptions"
    },
    "BrokerCapacityConfig": {
      "id": "BrokerCapacityConfig",
      "description": "Capacity configuration at a per-broker level within the Kafka cluster. The config will be appled to each broker in the cluster.",
      "type": "object",
      "properties": {
        "diskSizeGib": {
          "format": "int64",
          "description": "Optional. The disk to provision for each broker in Gibibytes. Minimum: 100 GiB.",
          "type": "string"
        }
      }
    },
    "ConsumerPartitionMetadata": {
      "id": "ConsumerPartitionMetadata",
      "properties": {
        "offset": {
          "type": "string",
          "format": "int64",
          "description": "Required. The current offset for this partition, or 0 if no offset has been committed."
        },
        "metadata": {
          "description": "Optional. The associated metadata for this partition, or empty if it does not exist.",
          "type": "string"
        }
      },
      "description": "Metadata for a consumer group corresponding to a specific partition.",
      "type": "object"
    },
    "CreateVersionResponse": {
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique identifier of the schema created.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Response for CreateVersion.",
      "id": "CreateVersionResponse"
    },
    "AddAclEntryResponse": {
      "id": "AddAclEntryResponse",
      "properties": {
        "acl": {
          "description": "The updated acl.",
          "$ref": "Acl"
        },
        "aclCreated": {
          "description": "Whether the acl was created as a result of adding the acl entry.",
          "type": "boolean"
        }
      },
      "description": "Response for AddAclEntry.",
      "type": "object"
    },
    "SchemaReference": {
      "description": "SchemaReference is a reference to a schema.",
      "id": "SchemaReference",
      "properties": {
        "subject": {
          "type": "string",
          "description": "Required. The subject of the reference."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the reference."
        },
        "version": {
          "format": "int32",
          "description": "Required. The version of the reference.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Cluster": {
      "properties": {
        "brokerCapacityConfig": {
          "description": "Optional. Capacity configuration at a per-broker level within the Kafka cluster. The config will be appled to each broker in the cluster.",
          "$ref": "BrokerCapacityConfig"
        },
        "effectiveCapacityConfig": {
          "description": "Output only. Only populated when FULL view is requested. The effective capacity configuration of the cluster.",
          "readOnly": true,
          "$ref": "EffectiveCapacityConfig"
        },
        "gcpConfig": {
          "$ref": "GcpConfig",
          "description": "Required. Configuration properties for a Kafka cluster deployed to Google Cloud Platform."
        },
        "updateOptions": {
          "description": "Optional. UpdateOptions represents options that control how updates to the cluster are applied.",
          "$ref": "UpdateOptions"
        },
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka cluster.",
          "$ref": "CapacityConfig"
        },
        "name": {
          "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
          "type": "string"
        },
        "kafkaVersion": {
          "type": "string",
          "description": "Optional. The Apache Kafka version of the cluster (for example, `3.7.x`, `4.3.x`). If not specified during cluster creation, defaults to `3.7.x`."
        },
        "bootstrapAddress": {
          "description": "Output only. The bootstrap address of the Kafka cluster. The returned address format is: `bootstrap-...managedkafka.s.cloud.goog` or `bootstrap...managedkafka..cloud.goog` (legacy format). ## Examples: `bootstrap-nol2mecj8p94jhx2ge2rg54579a.c0aad26f.europe-west1.managedkafka.s.cloud.goog` - `bootstrap.my-cluster.us-central1.managedkafka.my-project.cloud.goog` The port number is omitted so clients can connect to their target listener (for example, `:9092` for TLS or `:9094` for mTLS).",
          "type": "string",
          "readOnly": true
        },
        "publicClusterDetails": {
          "description": "Output only. Details of the public cluster feature for the Kafka cluster.",
          "readOnly": true,
          "$ref": "PublicClusterDetails"
        },
        "tlsConfig": {
          "$ref": "TlsConfig",
          "description": "Optional. TLS configuration for the Kafka cluster."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the cluster was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "brokerDetails": {
          "items": {
            "$ref": "BrokerDetails"
          },
          "readOnly": true,
          "description": "Output only. Only populated when FULL view is requested. Details of each broker in the cluster.",
          "type": "array"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the cluster.",
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is being updated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "createTime": {
          "description": "Output only. The time when the cluster was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "rebalanceConfig": {
          "description": "Optional. Rebalance configuration for the Kafka cluster.",
          "$ref": "RebalanceConfig"
        }
      },
      "id": "Cluster",
      "type": "object",
      "description": "An Apache Kafka cluster deployed in a location."
    },
    "LookupVersionRequest": {
      "properties": {
        "normalize": {
          "type": "boolean",
          "description": "Optional. If true, the schema will be normalized before being looked up. The default is false."
        },
        "schemaType": {
          "type": "string",
          "description": "Optional. The schema type of the schema.",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "deleted": {
          "description": "Optional. If true, soft-deleted versions will be included in lookup, no matter if the subject is active or soft-deleted. If false, soft-deleted versions will be excluded. The default is false.",
          "type": "boolean"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        }
      },
      "description": "Request for LookupVersion.",
      "type": "object",
      "id": "LookupVersionRequest"
    },
    "RestartConnectorRequest": {
      "id": "RestartConnectorRequest",
      "properties": {},
      "description": "Request for RestartConnector.",
      "type": "object"
    },
    "NetworkConfig": {
      "properties": {
        "subnet": {
          "type": "string",
          "description": "Required. Name of the VPC subnet in which to create Private Service Connect (PSC) endpoints for the Kafka brokers and bootstrap address. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} The subnet must be located in the same region as the Kafka cluster. The project may differ. Multiple subnets from the same parent network must not be specified."
        }
      },
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka cluster.",
      "type": "object",
      "id": "NetworkConfig"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "type": "object"
    }
  },
  "revision": "20260910",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://managedkafka.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://managedkafka.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-northeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://managedkafka.asia-northeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://managedkafka.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://managedkafka.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://managedkafka.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://managedkafka.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://managedkafka.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://managedkafka.europe-west12.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.me-west1.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://managedkafka.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://managedkafka.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://managedkafka.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://managedkafka.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://managedkafka.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://managedkafka.us-east7.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://managedkafka.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://managedkafka.us-west4.rep.googleapis.com/"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Managed Kafka",
  "version_module": true,
  "ownerDomain": "google.com",
  "description": "Manage Apache Kafka clusters and resources. ",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "managedkafka.projects.locations.operations.list",
                  "path": "v1/{+name}/operations"
                },
                "get": {
                  "path": "v1/{+name}",
                  "id": "managedkafka.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "managedkafka.projects.locations.operations.delete"
                }
              }
            },
            "clusters": {
              "resources": {
                "acls": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the acl to return. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns the properties of a single acl.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Acl"
                      }
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListAclsResponse"
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/acls",
                      "description": "Lists the acls in a given cluster.",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The maximum number of acls to return. The service may return fewer than this value. If unset or zero, all acls for the parent is returned.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListAcls` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAcls` must match the call that provided the page token."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent cluster whose acls are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "required": true
                        }
                      }
                    },
                    "patch": {
                      "description": "Updates the properties of a single acl.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "location": "path",
                          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Acl resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
                        }
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.patch",
                      "request": {
                        "$ref": "Acl"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Acl"
                      },
                      "path": "v1/{+name}"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the acl to delete. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}",
                      "description": "Deletes an acl.",
                      "id": "managedkafka.projects.locations.clusters.acls.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}"
                    },
                    "removeAclEntry": {
                      "id": "managedkafka.projects.locations.clusters.acls.removeAclEntry",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}:removeAclEntry",
                      "httpMethod": "POST",
                      "parameters": {
                        "acl": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "description": "Required. The name of the acl to remove the acl entry from. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details.",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "AclEntry"
                      },
                      "parameterOrder": [
                        "acl"
                      ],
                      "path": "v1/{+acl}:removeAclEntry",
                      "description": "Incremental update: Removes an acl entry from an acl. Deletes the acl if its acl entries become empty (i.e. if the removed entry was the last one in the acl).",
                      "response": {
                        "$ref": "RemoveAclEntryResponse"
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "Acl"
                      },
                      "path": "v1/{+parent}/acls",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new acl in the given project, location, and cluster.",
                      "httpMethod": "POST",
                      "parameters": {
                        "aclId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the acl, which will become the final component of the acl's name. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent cluster in which to create the acl. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.create",
                      "response": {
                        "$ref": "Acl"
                      }
                    },
                    "addAclEntry": {
                      "request": {
                        "$ref": "AclEntry"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "acl"
                      ],
                      "path": "v1/{+acl}:addAclEntry",
                      "response": {
                        "$ref": "AddAclEntryResponse"
                      },
                      "description": "Incremental update: Adds an acl entry to an acl. Creates the acl if it does not exist yet.",
                      "httpMethod": "POST",
                      "parameters": {
                        "acl": {
                          "location": "path",
                          "description": "Required. The name of the acl to add the acl entry to. Structured like: `projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id}`. The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. See `Acl.name` for details.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/acls/.*$",
                          "type": "string"
                        }
                      },
                      "id": "managedkafka.projects.locations.clusters.acls.addAclEntry",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/acls/{aclsId}:addAclEntry"
                    }
                  }
                },
                "consumerGroups": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent cluster whose consumer groups are to be listed. Structured like `projects/{project}/locations/{location}/clusters/{cluster}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of consumer groups to return. The service may return fewer than this value. If unset or zero, all consumer groups for the parent is returned.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListConsumerGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConsumerGroups` must match the call that provided the page token."
                        },
                        "filter": {
                          "description": "Optional. Filter expression for the result. Only supports filtering by topic name as a key in the `topics` map.",
                          "location": "query",
                          "type": "string"
                        },
                        "view": {
                          "description": "Optional. Specifies the view (BASIC or FULL) of the ConsumerGroup resource to be returned in the response. Defaults to FULL view.",
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the FULL view.",
                            "Include the name of the ConsumerGroup. This hides partition and topic metadata.",
                            "Include everything, including partition and topic metadata. This is the default value."
                          ],
                          "type": "string",
                          "enum": [
                            "CONSUMER_GROUP_VIEW_UNSPECIFIED",
                            "CONSUMER_GROUP_VIEW_BASIC",
                            "CONSUMER_GROUP_VIEW_FULL"
                          ]
                        }
[...]
