{
  "version_module": true,
  "protocol": "rest",
  "basePath": "",
  "version": "v1",
  "mtlsRootUrl": "https://managedkafka.mtls.googleapis.com/",
  "baseUrl": "https://managedkafka.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "canonicalName": "Managed Kafka",
  "revision": "20260910",
  "servicePath": "",
  "name": "managedkafka",
  "schemas": {
    "SchemaReference": {
      "properties": {
        "subject": {
          "type": "string",
          "description": "Required. The subject of the reference."
        },
        "version": {
          "description": "Required. The version of the reference.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the reference."
        }
      },
      "description": "SchemaReference is a reference to a schema.",
      "id": "SchemaReference",
      "type": "object"
    },
    "StopConnectorRequest": {
      "properties": {},
      "description": "Request for StopConnector.",
      "id": "StopConnectorRequest",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "AclEntry": {
      "type": "object",
      "description": "Represents the access granted for a given Resource Pattern in an ACL.",
      "properties": {
        "operation": {
          "type": "string",
          "description": "Required. The operation type. Allowed values are (case insensitive): ALL, READ, WRITE, CREATE, DELETE, ALTER, DESCRIBE, CLUSTER_ACTION, DESCRIBE_CONFIGS, ALTER_CONFIGS, and IDEMPOTENT_WRITE. See https://kafka.apache.org/documentation/#operations_resources_and_protocols for valid combinations of resource_type and operation for different Kafka API requests."
        },
        "host": {
          "type": "string",
          "description": "Required. The host. Must be set to \"*\" for Managed Service for Apache Kafka."
        },
        "permissionType": {
          "description": "Required. The permission type. Accepted values are (case insensitive): ALLOW, DENY.",
          "type": "string"
        },
        "principal": {
          "type": "string",
          "description": "Required. The principal. Specified as Google Cloud account, with the Kafka StandardAuthorizer prefix \"User:\". For example: \"User:test-kafka-client@test-project.iam.gserviceaccount.com\". Can be the wildcard \"User:*\" to refer to all users."
        }
      },
      "id": "AclEntry"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "CertificateAuthorityServiceConfig": {
      "properties": {
        "caPool": {
          "type": "string",
          "description": "Required. The name of the CA pool to pull CA certificates from. Structured like: projects/{project}/locations/{location}/caPools/{ca_pool}. The CA pool does not need to be in the same project or location as the Kafka cluster."
        }
      },
      "id": "CertificateAuthorityServiceConfig",
      "type": "object",
      "description": "A configuration for the Google Certificate Authority Service."
    },
    "BrokerCapacityConfig": {
      "id": "BrokerCapacityConfig",
      "type": "object",
      "description": "Capacity configuration at a per-broker level within the Kafka cluster. The config will be appled to each broker in the cluster.",
      "properties": {
        "diskSizeGib": {
          "description": "Optional. The disk to provision for each broker in Gibibytes. Minimum: 100 GiB.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ConsumerGroup": {
      "description": "A Kafka consumer group in a given cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}",
          "type": "string"
        },
        "topics": {
          "description": "Optional. Metadata for this consumer group for all topics it has metadata for. The key of the map is a topic name, structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsumerTopicMetadata"
          }
        }
      },
      "id": "ConsumerGroup"
    },
    "Acl": {
      "properties": {
        "aclEntries": {
          "items": {
            "$ref": "AclEntry"
          },
          "type": "array",
          "description": "Required. The ACL entries that apply to the resource pattern. The maximum number of allowed entries 100."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)"
        },
        "etag": {
          "description": "Optional. `etag` is used for concurrency control. An `etag` is returned in the response to `GetAcl` and `CreateAcl`. Callers are required to put that etag in the request to `UpdateAcl` to ensure that their change will be applied to the same version of the acl that exists in the Kafka Cluster. A terminal 'T' character in the etag indicates that the AclEntries were truncated; more entries for the Acl exist on the Kafka Cluster, but can't be returned in the Acl due to repeated field limits.",
          "type": "string"
        },
        "patternType": {
          "description": "Output only. The ACL pattern type derived from the name. One of: LITERAL, PREFIXED.",
          "readOnly": true,
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ACL resource name derived from the name. For cluster resource_type, this is always \"kafka-cluster\". Can be the wildcard literal \"*\"."
        },
        "resourceType": {
          "description": "Output only. The ACL resource type derived from the name. One of: CLUSTER, TOPIC, GROUP, TRANSACTIONAL_ID.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the set of ACLs for a given Kafka Resource Pattern, which consists of resource_type, resource_name and pattern_type.",
      "id": "Acl",
      "type": "object"
    },
    "PauseConnectorRequest": {
      "properties": {},
      "type": "object",
      "id": "PauseConnectorRequest",
      "description": "Request for PauseConnector."
    },
    "TaskRetryPolicy": {
      "description": "Task Retry Policy is implemented on a best-effort basis. The default policy retries tasks with a minimum_backoff of 60 seconds, and a maximum_backoff of 12 hours. You can disable the policy by setting the task_retry_disabled field to true. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. Note that the delay between consecutive task restarts may not always precisely match the configured settings. This can happen when the ConnectCluster is in rebalancing state or if the ConnectCluster is unresponsive etc. The default values for minimum and maximum backoffs are 60 seconds and 12 hours respectively.",
      "type": "object",
      "properties": {
        "maximumBackoff": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The maximum amount of time to wait before retrying a failed task. This sets an upper bound for the backoff delay."
        },
        "minimumBackoff": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The minimum amount of time to wait before retrying a failed task. This sets a lower bound for the backoff delay."
        },
        "taskRetryDisabled": {
          "type": "boolean",
          "description": "Optional. If true, task retry is disabled."
        }
      },
      "id": "TaskRetryPolicy"
    },
    "CreateVersionRequest": {
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The version to create. It is optional. If not specified, the version will be created with the max version ID of the subject increased by 1. If the version ID is specified, it will be used as the new version ID and must not be used by an existing version of the subject."
        },
        "schemaType": {
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "description": "Optional. The type of the schema. It is optional. If not specified, the schema type will be AVRO.",
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ]
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored. The default is false.",
          "type": "boolean"
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "id": {
          "description": "Optional. The schema ID of the schema. If not specified, the schema ID will be generated by the server. If the schema ID is specified, it must not be used by an existing schema that is different from the schema to be created.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "CreateVersionRequest",
      "description": "Request for CreateVersion."
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "properties": {
        "clusters": {
          "description": "The list of Clusters in the requested parent.",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response for ListClusters.",
      "type": "object"
    },
    "Location": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location"
    },
    "RemoveAclEntryResponse": {
      "type": "object",
      "properties": {
        "aclDeleted": {
          "description": "Returned with value true if the removed acl entry was the last entry in the acl, resulting in acl deletion.",
          "type": "boolean"
        },
        "acl": {
          "description": "The updated acl. Returned if the removed acl entry was not the last entry in the acl.",
          "$ref": "Acl"
        }
      },
      "description": "Response for RemoveAclEntry.",
      "id": "RemoveAclEntryResponse"
    },
    "HttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "The HTTP request/response body as raw binary.",
          "type": "string"
        }
      },
      "id": "HttpBody"
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ConnectAccessConfig": {
      "type": "object",
      "description": "The configuration of access to the Kafka Connect cluster.",
      "properties": {
        "networkConfigs": {
          "type": "array",
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka Connect cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "items": {
            "$ref": "ConnectNetworkConfig"
          }
        }
      },
      "id": "ConnectAccessConfig"
    },
    "UpdateSchemaConfigRequest": {
      "description": "Request for updating schema config. On a SchemaSubject-level SchemaConfig, an unset field will be removed from the SchemaConfig.",
      "type": "object",
      "id": "UpdateSchemaConfigRequest",
      "properties": {
        "normalize": {
          "type": "boolean",
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the normalize field for the SchemaConfig."
        },
        "compatibility": {
          "description": "Required. The compatibility type of the schemas. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the compatibility field for the SchemaConfig.",
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "type": "string"
        }
      }
    },
    "RestartConnectorResponse": {
      "type": "object",
      "description": "Response for RestartConnector.",
      "properties": {},
      "id": "RestartConnectorResponse"
    },
    "CapacityConfig": {
      "description": "A capacity configuration of a Kafka cluster.",
      "type": "object",
      "id": "CapacityConfig",
      "properties": {
        "memoryBytes": {
          "format": "int64",
          "description": "Required. The memory to provision for the cluster in bytes. The CPU:memory ratio (vCPU:GiB) must be between 1:1 and 1:8. Minimum: 3221225472 (3 GiB).",
          "type": "string"
        },
        "vcpuCount": {
          "type": "string",
          "description": "Required. The number of vCPUs to provision for the cluster. Minimum: 3.",
          "format": "int64"
        }
      }
    },
    "ResumeConnectorResponse": {
      "properties": {},
      "description": "Response for ResumeConnector.",
      "id": "ResumeConnectorResponse",
      "type": "object"
    },
    "ConnectNetworkConfig": {
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka Connect cluster.",
      "type": "object",
      "id": "ConnectNetworkConfig",
      "properties": {
        "primarySubnet": {
          "type": "string",
          "description": "Required. VPC subnet to make available to the Kafka Connect cluster. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} It is used to create a Private Service Connect (PSC) interface for the Kafka Connect workers. It must be located in the same region as the Kafka Connect cluster. The CIDR range of the subnet must be within the IPv4 address ranges for private networks, as specified in RFC 1918. The primary subnet CIDR range must have a minimum size of /22 (1024 addresses)."
        },
        "additionalSubnets": {
          "description": "Optional. Deprecated: Managed Kafka Connect clusters can now reach any endpoint accessible from the primary subnet without the need to define additional subnets. Please see https://cloud.google.com/managed-service-for-apache-kafka/docs/connect-cluster/create-connect-cluster#worker-subnet for more information.",
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dnsDomainNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional DNS domain names from the subnet's network to be made visible to the Connect Cluster. When using MirrorMaker2, it's necessary to add the bootstrap address's dns domain name of the target cluster to make it visible to the connector. For example: my-kafka-cluster.us-central1.managedkafka.my-project.cloud.goog"
        }
      }
    },
    "ListConnectorsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "connectors": {
          "description": "The list of connectors in the requested parent.",
          "items": {
            "$ref": "Connector"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListConnectorsResponse",
      "description": "Response for ListConnectors."
    },
    "NetworkConfig": {
      "properties": {
        "subnet": {
          "type": "string",
          "description": "Required. Name of the VPC subnet in which to create Private Service Connect (PSC) endpoints for the Kafka brokers and bootstrap address. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} The subnet must be located in the same region as the Kafka cluster. The project may differ. Multiple subnets from the same parent network must not be specified."
        }
      },
      "id": "NetworkConfig",
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka cluster.",
      "type": "object"
    },
    "SchemaRegistry": {
      "description": "SchemaRegistry is a schema registry instance.",
      "id": "SchemaRegistry",
      "type": "object",
      "properties": {
        "contexts": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The contexts of the schema registry instance."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the schema registry instance. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` The instance name {schema_registry} can contain the following: * Up to 255 characters. * Letters (uppercase or lowercase), numbers, and underscores."
        }
      }
    },
    "PublicClusterConfig": {
      "type": "object",
      "id": "PublicClusterConfig",
      "description": "The configuration for a public Kafka cluster",
      "properties": {
        "allowedSourceIpRanges": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of IPv4 ranges in CIDR notation that are allowed to connect to the public Kafka broker endpoints. The Kafka cluster should only be exposed to trusted external ranges. A maximum of 500 IP ranges can be specified and no single range can be larger than a `/16`. This field is required if PublicClusterConfig is specified.",
          "type": "array"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "ListAclsResponse": {
      "type": "object",
      "description": "Response for ListAcls.",
      "properties": {
        "acls": {
          "items": {
            "$ref": "Acl"
          },
          "description": "The list of acls in the requested parent. The order of the acls is unspecified.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "id": "ListAclsResponse"
    },
    "SchemaMode": {
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "description": "Required. The mode type of a schema registry (READWRITE by default) or of a subject (unset by default, which means use the global schema registry setting).",
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ]
        }
      },
      "description": "SchemaMode represents the mode of a schema registry or a specific subject. Four modes are supported: * NONE: deprecated. This was the default mode for a subject, but now the default is unset (which means use the global schema registry setting) * READONLY: The schema registry is in read-only mode. * READWRITE: The schema registry is in read-write mode, which allows limited write operations on the schema. * IMPORT: The schema registry is in import mode, which allows more editing operations on the schema for data importing purposes.",
      "id": "SchemaMode"
    },
    "GcpConfig": {
      "description": "Configuration properties for a Kafka cluster deployed to Google Cloud Platform.",
      "type": "object",
      "id": "GcpConfig",
      "properties": {
        "accessConfig": {
          "$ref": "AccessConfig",
          "description": "Required. Access configuration for the Kafka cluster."
        },
        "kmsKey": {
          "description": "Optional. Immutable. The Cloud KMS Key name to use for encryption. The key must be located in the same region as the cluster and cannot be changed. Structured like: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}.",
          "type": "string"
        }
      }
    },
    "CheckCompatibilityResponse": {
      "properties": {
        "is_compatible": {
          "description": "The compatibility check result. If true, the schema is compatible with the resource.",
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "description": "Failure reasons if verbose = true.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response for CheckCompatibility.",
      "type": "object",
      "id": "CheckCompatibilityResponse"
    },
    "PublicClusterDetails": {
      "description": "Details of the public cluster feature for the Kafka cluster.",
      "type": "object",
      "properties": {
        "discoveryDnsRecords": {
          "items": {
            "type": "string"
          },
          "description": "Output only. DNS discovery records that resolve to all of the external IP addresses associated with the public cluster. Used for configuring DNS-based egress firewall rules to a public cluster. discovery_dns_record can be added to this list if the cluster is scaled up. Must configure DNS based firewalls to resolve ALL DNS records in this list as large clusters have IP addresses sharded across records. Each record contains a maximum of 30 IP addresses.",
          "type": "array",
          "readOnly": true
        },
        "externalIpAddresses": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. All of the external IP addresses associated with the public cluster used for configuring egress firewall rules to a public cluster. external_ip_address can be added to this list if the cluster is scaled up.",
          "type": "array"
        }
      },
      "id": "PublicClusterDetails"
    },
    "Connector": {
      "type": "object",
      "id": "Connector",
      "properties": {
        "configs": {
          "description": "Optional. Connector config as keys/values. The keys of the map are connector property names, for example: `connector.class`, `tasks.max`, `key.converter`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the connector.",
          "enumDescriptions": [
            "A state was not specified.",
            "The connector is not assigned to any tasks, usually transient.",
            "The connector is running.",
            "The connector has been paused.",
            "The connector has failed. See logs for why.",
            "The connector is restarting.",
            "The connector has been stopped."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNASSIGNED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "RESTARTING",
            "STOPPED"
          ]
        },
        "taskRestartPolicy": {
          "description": "Optional. Restarts the individual tasks of a Connector.",
          "$ref": "TaskRetryPolicy"
        }
      },
      "description": "A Kafka Connect connector in a given ConnectCluster."
    },
    "CreateVersionResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "The unique identifier of the schema created.",
          "type": "integer"
        }
      },
      "description": "Response for CreateVersion.",
      "id": "CreateVersionResponse"
    },
    "Context": {
      "properties": {
        "subjects": {
          "type": "array",
          "description": "Optional. The subjects of the context.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The name of the context. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}` The context name {context} can contain the following: * Up to 255 characters. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`.",
          "type": "string"
        }
      },
      "id": "Context",
      "description": "Context represents an independent schema grouping in a schema registry instance.",
      "type": "object"
    },
    "ListSchemaRegistriesResponse": {
      "id": "ListSchemaRegistriesResponse",
      "type": "object",
      "description": "Request for ListSchemaRegistries.",
      "properties": {
        "schemaRegistries": {
          "type": "array",
          "items": {
            "$ref": "SchemaRegistry"
          },
          "description": "The schema registry instances."
        }
      }
    },
    "RebalanceConfig": {
      "description": "Defines rebalancing behavior of a Kafka cluster.",
      "type": "object",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "NO_REBALANCE",
            "AUTO_REBALANCE_ON_SCALE_UP"
          ],
          "enumDescriptions": [
            "A mode was not specified. Do not use.",
            "Do not rebalance automatically.",
            "Automatically rebalance topic partitions among brokers when the cluster is scaled up."
          ],
          "type": "string",
          "description": "Optional. The rebalance behavior for the cluster. When not specified, defaults to `NO_REBALANCE`."
        }
      },
      "id": "RebalanceConfig"
    },
    "LookupVersionRequest": {
      "properties": {
        "references": {
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema.",
          "type": "array"
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being looked up. The default is false.",
          "type": "boolean"
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload"
        },
        "deleted": {
          "description": "Optional. If true, soft-deleted versions will be included in lookup, no matter if the subject is active or soft-deleted. If false, soft-deleted versions will be excluded. The default is false.",
          "type": "boolean"
        },
        "schemaType": {
          "type": "string",
          "description": "Optional. The schema type of the schema.",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        }
      },
      "type": "object",
      "description": "Request for LookupVersion.",
      "id": "LookupVersionRequest"
    },
    "SchemaConfig": {
      "properties": {
        "compatibility": {
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "description": "Required. The compatibility type of the schema. The default value is BACKWARD. If unset in a SchemaSubject-level SchemaConfig, defaults to the global value. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "type": "string"
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. If unset in a SchemaSubject-level SchemaConfig, the global value will be used. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "boolean"
        },
        "alias": {
          "description": "Optional. The subject to which this subject is an alias of. Only applicable for subject config.",
          "type": "string"
        }
      },
      "id": "SchemaConfig",
      "description": "SchemaConfig represents configuration for a schema registry or a specific subject.",
      "type": "object"
    },
    "ConsumerTopicMetadata": {
      "properties": {
        "partitions": {
          "description": "Optional. Metadata for this consumer group and topic for all partition indexes it has metadata for.",
          "additionalProperties": {
            "$ref": "ConsumerPartitionMetadata"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "Metadata for a consumer group corresponding to a specific topic.",
      "id": "ConsumerTopicMetadata"
    },
    "ConnectCluster": {
      "properties": {
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "kafkaCluster": {
          "description": "Required. Immutable. The name of the Kafka cluster this Kafka Connect cluster is attached to. Structured like: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}"
        },
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka Connect cluster.",
          "$ref": "CapacityConfig"
        },
        "config": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Reserved for future use. This field is meant for worker config overrides, but is unsupported for now."
        },
        "updateTime": {
          "description": "Output only. The time when the cluster was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "description": "Output only. The current state of the Kafka Connect cluster.",
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is detached."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ],
          "readOnly": true
        },
        "gcpConfig": {
          "$ref": "ConnectGcpConfig",
          "description": "Required. Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the cluster was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "An Apache Kafka Connect cluster deployed in a location.",
      "id": "ConnectCluster",
      "type": "object"
    },
    "TlsConfig": {
      "type": "object",
      "properties": {
        "trustConfig": {
          "$ref": "TrustConfig",
          "description": "Optional. The configuration of the broker truststore. If specified, clients can use mTLS for authentication."
        },
        "sslPrincipalMappingRules": {
          "type": "string",
          "description": "Optional. A list of rules for mapping from SSL principal names to short names. These are applied in order by Kafka. Refer to the Apache Kafka documentation for `ssl.principal.mapping.rules` for the precise formatting details and syntax. Example: \"RULE:^CN=(.*?),OU=ServiceUsers.*$/$1@example.com/,DEFAULT\" This is a static Kafka broker configuration. Setting or modifying this field will trigger a rolling restart of the Kafka brokers to apply the change. An empty string means no rules are applied (Kafka default)."
        }
      },
      "id": "TlsConfig",
      "description": "The TLS configuration for the Kafka cluster."
    },
    "StopConnectorResponse": {
      "id": "StopConnectorResponse",
      "type": "object",
      "description": "Response for StopConnector.",
      "properties": {}
    },
    "ConsumerPartitionMetadata": {
      "type": "object",
      "id": "ConsumerPartitionMetadata",
      "properties": {
        "offset": {
          "description": "Required. The current offset for this partition, or 0 if no offset has been committed.",
          "type": "string",
          "format": "int64"
        },
        "metadata": {
          "description": "Optional. The associated metadata for this partition, or empty if it does not exist.",
          "type": "string"
        }
      },
      "description": "Metadata for a consumer group corresponding to a specific partition."
    },
    "AddAclEntryResponse": {
      "type": "object",
      "properties": {
        "acl": {
          "description": "The updated acl.",
          "$ref": "Acl"
        },
        "aclCreated": {
          "type": "boolean",
          "description": "Whether the acl was created as a result of adding the acl entry."
        }
      },
      "description": "Response for AddAclEntry.",
      "id": "AddAclEntryResponse"
    },
    "Cluster": {
      "id": "Cluster",
      "properties": {
        "updateTime": {
          "description": "Output only. The time when the cluster was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "brokerDetails": {
          "items": {
            "$ref": "BrokerDetails"
          },
          "description": "Output only. Only populated when FULL view is requested. Details of each broker in the cluster.",
          "type": "array",
          "readOnly": true
        },
        "brokerCapacityConfig": {
          "description": "Optional. Capacity configuration at a per-broker level within the Kafka cluster. The config will be appled to each broker in the cluster.",
          "$ref": "BrokerCapacityConfig"
        },
        "publicClusterDetails": {
          "readOnly": true,
          "$ref": "PublicClusterDetails",
          "description": "Output only. Details of the public cluster feature for the Kafka cluster."
        },
        "name": {
          "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the cluster.",
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is being updated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "rebalanceConfig": {
          "$ref": "RebalanceConfig",
          "description": "Optional. Rebalance configuration for the Kafka cluster."
        },
        "gcpConfig": {
          "description": "Required. Configuration properties for a Kafka cluster deployed to Google Cloud Platform.",
          "$ref": "GcpConfig"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "effectiveCapacityConfig": {
          "readOnly": true,
          "description": "Output only. Only populated when FULL view is requested. The effective capacity configuration of the cluster.",
          "$ref": "EffectiveCapacityConfig"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "bootstrapAddress": {
          "description": "Output only. The bootstrap address of the Kafka cluster. The returned address format is: `bootstrap-...managedkafka.s.cloud.goog` or `bootstrap...managedkafka..cloud.goog` (legacy format). ## Examples: `bootstrap-nol2mecj8p94jhx2ge2rg54579a.c0aad26f.europe-west1.managedkafka.s.cloud.goog` - `bootstrap.my-cluster.us-central1.managedkafka.my-project.cloud.goog` The port number is omitted so clients can connect to their target listener (for example, `:9092` for TLS or `:9094` for mTLS).",
          "type": "string",
          "readOnly": true
        },
        "tlsConfig": {
          "description": "Optional. TLS configuration for the Kafka cluster.",
          "$ref": "TlsConfig"
        },
        "kafkaVersion": {
          "type": "string",
          "description": "Optional. The Apache Kafka version of the cluster (for example, `3.7.x`, `4.3.x`). If not specified during cluster creation, defaults to `3.7.x`."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the cluster was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateOptions": {
          "description": "Optional. UpdateOptions represents options that control how updates to the cluster are applied.",
          "$ref": "UpdateOptions"
        },
        "capacityConfig": {
          "$ref": "CapacityConfig",
          "description": "Required. Capacity configuration for the Kafka cluster."
        }
      },
      "type": "object",
      "description": "An Apache Kafka cluster deployed in a location."
    },
    "ListConsumerGroupsResponse": {
      "properties": {
        "consumerGroups": {
          "description": "The list of consumer group in the requested parent. The order of the consumer groups is unspecified.",
          "items": {
            "$ref": "ConsumerGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "id": "ListConsumerGroupsResponse",
      "description": "Response for ListConsumerGroups.",
      "type": "object"
    },
    "SchemaVersion": {
      "id": "SchemaVersion",
      "properties": {
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          },
          "type": "array"
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema payload."
        },
        "version": {
          "format": "int32",
          "description": "Required. The version ID",
          "type": "integer"
        },
        "subject": {
          "description": "Required. The subject of the version.",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The schema ID."
        },
        "schemaType": {
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "description": "Optional. The schema type of the schema.",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "type": "string"
        }
      },
      "description": "Version of a schema.",
      "type": "object"
    },
    "RestartConnectorRequest": {
      "properties": {},
      "type": "object",
      "id": "RestartConnectorRequest",
      "description": "Request for RestartConnector."
    },
    "PauseConnectorResponse": {
      "description": "Response for PauseConnector.",
      "id": "PauseConnectorResponse",
      "type": "object",
      "properties": {}
    },
    "UpdateOptions": {
      "description": "UpdateOptions specifies options that influence how a cluster update is applied. These options control the behavior of the update process, rather than defining the desired end-state of a cluster.",
      "type": "object",
      "id": "UpdateOptions",
      "properties": {
        "allowBrokerDownscaleOnClusterUpscale": {
          "description": "Optional. If true, allows an update operation that increases the total vCPU and/or memory allocation of the cluster to significantly decrease the per-broker vCPU and/or memory allocation. This can result in reduced performance and availability. By default, the update operation will fail if an upscale request results in a vCPU or memory allocation for the brokers that is smaller than 90% of the current broker size.",
          "type": "boolean"
        }
      }
    },
    "Topic": {
      "description": "A Kafka topic in a given cluster.",
      "properties": {
        "replicationFactor": {
          "format": "int32",
          "description": "Required. Immutable. The number of replicas of each partition. A replication factor of 3 is recommended for high availability.",
          "type": "integer"
        },
        "name": {
          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "string"
        },
        "configs": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Configurations for the topic that are overridden from the cluster defaults. The key of the map is a Kafka topic property name, for example: `cleanup.policy`, `compression.type`.",
          "type": "object"
        },
        "partitionCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of partitions this topic has. The partition count can only be increased, not decreased. Please note that if partitions are increased for a topic that has a key, the partitioning logic or the ordering of the messages will be affected."
        }
      },
      "type": "object",
      "id": "Topic"
    },
    "UpdateSchemaModeRequest": {
      "type": "object",
      "id": "UpdateSchemaModeRequest",
      "properties": {
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "description": "Required. The mode type.",
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ]
        }
      },
      "description": "Request for updating schema registry or subject mode."
    },
    "Schema": {
      "type": "object",
      "description": "Schema for a Kafka message.",
      "id": "Schema",
      "properties": {
        "references": {
          "items": {
            "$ref": "SchemaReference"
          },
          "type": "array",
          "description": "Optional. The schema references used by the schema."
        },
        "schema": {
          "description": "The schema payload.",
          "type": "string"
        },
        "schemaType": {
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "description": "Optional. The schema type of the schema."
        }
      }
    },
    "ResumeConnectorRequest": {
      "type": "object",
      "id": "ResumeConnectorRequest",
      "description": "Request for ResumeConnector.",
      "properties": {}
    },
    "SchemaSubject": {
      "id": "SchemaSubject",
      "properties": {
        "name": {
          "description": "Identifier. The name of the subject. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}` Subject name {subject} can contain the following: * Up to 255 UTF-8 bytes. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`.",
          "type": "string"
        },
        "versions": {
          "type": "array",
          "description": "Optional. The versions of the subject.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Subject defines the evolution scope of schemas as a holder of schema versions.",
      "type": "object"
    },
    "ConnectGcpConfig": {
      "type": "object",
      "properties": {
        "secretPaths": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Secrets to load into workers. Exact SecretVersions from Secret Manager must be provided -- aliases are not supported. Up to 32 secrets may be loaded into one cluster. Format: projects//secrets//versions/",
          "type": "array"
        },
        "accessConfig": {
          "$ref": "ConnectAccessConfig",
          "description": "Required. Access configuration for the Kafka Connect cluster."
        }
      },
      "id": "ConnectGcpConfig",
      "description": "Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform."
    },
    "CheckCompatibilityRequest": {
      "properties": {
        "references": {
          "type": "array",
          "description": "Optional. The schema references used by the schema.",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "verbose": {
          "type": "boolean",
          "description": "Optional. If true, the response will contain the compatibility check result with reasons for failed checks. The default is false."
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "schemaType": {
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "type": "string",
          "description": "Optional. The schema type of the schema.",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        }
      },
      "id": "CheckCompatibilityRequest",
      "description": "Request for CheckCompatibility.",
      "type": "object"
    },
    "EffectiveCapacityConfig": {
      "properties": {
        "brokerCount": {
          "type": "string",
          "description": "Output only. The number of brokers in the cluster.",
          "readOnly": true,
          "format": "int64"
        },
        "brokerDiskSizeGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The disk assigned to each broker in Gibibytes.",
          "type": "string"
        }
      },
      "id": "EffectiveCapacityConfig",
      "type": "object",
      "description": "Describes the effective capacity configuration of a Kafka cluster, both cluster-wide and per-broker."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListTopicsResponse": {
      "id": "ListTopicsResponse",
      "description": "Response for ListTopics.",
      "type": "object",
      "properties": {
        "topics": {
          "description": "The list of topics in the requested parent. The order of the topics is unspecified.",
          "items": {
            "$ref": "Topic"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      }
    },
    "ListConnectClustersResponse": {
      "description": "Response for ListConnectClusters.",
      "id": "ListConnectClustersResponse",
      "properties": {
        "connectClusters": {
          "items": {
            "$ref": "ConnectCluster"
          },
          "description": "The list of Connect clusters in the requested parent.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "type": "object"
    },
    "CreateSchemaRegistryRequest": {
      "description": "Request to create a schema registry instance.",
      "id": "CreateSchemaRegistryRequest",
      "type": "object",
      "properties": {
        "schemaRegistryId": {
          "type": "string",
          "description": "Required. The schema registry instance ID to use for this schema registry. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores (-). The maximum length is 63 characters. The ID must not start with a number."
        },
        "schemaRegistry": {
          "description": "Required. The schema registry instance to create. The name field is ignored.",
          "$ref": "SchemaRegistry"
        }
      }
    },
    "BrokerDetails": {
      "description": "Details of a broker in the Kafka cluster.",
      "type": "object",
      "properties": {
        "rack": {
          "description": "Output only. The rack of the broker.",
          "readOnly": true,
          "type": "string"
        },
        "brokerIndex": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The index of the broker."
        },
        "nodeId": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The node id of the broker.",
          "type": "string"
        }
      },
      "id": "BrokerDetails"
    },
    "AccessConfig": {
      "description": "The configuration of access to the Kafka cluster.",
      "type": "object",
      "id": "AccessConfig",
      "properties": {
        "publicClusterConfig": {
          "description": "Optional. The configuration for public connectivity to the Kafka cluster.",
          "$ref": "PublicClusterConfig"
        },
        "networkConfigs": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "type": "array"
        }
      }
    },
    "TrustConfig": {
      "type": "object",
      "id": "TrustConfig",
      "description": "Sources of CA certificates to install in the broker's truststore.",
      "properties": {
        "casConfigs": {
          "type": "array",
          "description": "Optional. Configuration for the Google Certificate Authority Service. Maximum 10.",
          "items": {
            "$ref": "CertificateAuthorityServiceConfig"
          }
        }
      }
    }
  },
  "title": "Managed Service for Apache Kafka API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "Manage Apache Kafka clusters and resources. ",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/managed-service-for-apache-kafka/docs",
  "rootUrl": "https://managedkafka.googleapis.com/",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "endpointUrl": "https://managedkafka.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://managedkafka.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://managedkafka.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://managedkafka.asia-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://managedkafka.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://managedkafka.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://managedkafka.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.australia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.australia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://managedkafka.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://managedkafka.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://managedkafka.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.me-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://managedkafka.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://managedkafka.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://managedkafka.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://managedkafka.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://managedkafka.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://managedkafka.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://managedkafka.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://managedkafka.us-west4.rep.googleapis.com/"
    }
  ],
  "id": "managedkafka:v1",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "managedkafka.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "id": "managedkafka.projects.locations.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "connectClusters": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListConnectClustersResponse"
                  },
                  "id": "managedkafka.projects.locations.connectClusters.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters",
                  "path": "v1/{+parent}/connectClusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListConnectClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectClusters` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Order by fields for the result.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent project/location whose Connect clusters are to be listed. Structured like `projects/{project}/locations/{location}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter expression for the result.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of Connect clusters to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "description": "Lists the Kafka Connect clusters in a given project and location."
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent project/location in which to create the Kafka Connect cluster. Structured like `projects/{project}/locations/{location}/`."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "connectClusterId": {
                      "type": "string",
                      "description": "Required. The ID to use for the Connect cluster, which will become the final component of the cluster's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-cluster-id`.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/connectClusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ConnectCluster"
                  },
                  "description": "Creates a new Kafka Connect cluster in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters",
                  "id": "managedkafka.projects.locations.connectClusters.create",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ConnectCluster"
                  },
                  "id": "managedkafka.projects.locations.connectClusters.patch",
                  "description": "Updates the properties of a single Kafka Connect cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Kafka Connect cluster to delete. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "description": "Deletes a single Connect cluster.",
                  "id": "managedkafka.projects.locations.connectClusters.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "get": {
                  "id": "managedkafka.projects.locations.connectClusters.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ConnectCluster"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the Kafka Connect cluster whose configuration to return. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$"
                    }
                  },
                  "description": "Returns the properties of a single Kafka Connect cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "connectors": {
                  "methods": {
                    "stop": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "StopConnectorRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the connector to stop. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}"
                        }
                      },
                      "path": "v1/{+name}:stop",
                      "description": "Stops the connector.",
                      "response": {
                        "$ref": "StopConnectorResponse"
                      },
                      "id": "managedkafka.projects.locations.connectClusters.connectors.stop",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:stop"
                    },
                    "restart": {
                      "description": "Restarts the connector.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.connectClusters.connectors.restart",
                      "response": {
                        "$ref": "RestartConnectorResponse"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the connector to restart. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:restart",
                      "path": "v1/{+name}:restart",
                      "request": {
                        "$ref": "RestartConnectorRequest"
                      }
                    },
                    "delete": {
                      "description": "Deletes a connector.",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the connector to delete. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "patch": {
                      "description": "Updates the properties of a connector.",
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "managedkafka.projects.locations.connectClusters.connectors.patch",
                      "request": {
                        "$ref": "Connector"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Connector"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "pause": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "PauseConnectorRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the connector to pause. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}"
                        }
                      },
                      "path": "v1/{+name}:pause",
                      "id": "managedkafka.projects.locations.connectClusters.connectors.pause",
                      "response": {
                        "$ref": "PauseConnectorResponse"
                      },
[...]
