{
  "description": "Manage Apache Kafka clusters and resources. ",
  "ownerDomain": "google.com",
  "rootUrl": "https://managedkafka.googleapis.com/",
  "ownerName": "Google",
  "version_module": true,
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "title": "Managed Service for Apache Kafka API",
  "mtlsRootUrl": "https://managedkafka.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "id": "managedkafka.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "id": "managedkafka.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations"
            }
          },
          "resources": {
            "schemaRegistries": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "managedkafka.projects.locations.schemaRegistries.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/schemaRegistries",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent whose schema registry instance is to be created. Structured like: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries",
                  "request": {
                    "$ref": "CreateSchemaRegistryRequest"
                  },
                  "description": "Create a schema registry instance.",
                  "response": {
                    "$ref": "SchemaRegistry"
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent whose schema registry instances are to be listed. Structured like: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "The unset value. The API will default to SCHEMA_REGISTRY_VIEW_BASIC.",
                        "If SchemaRegistryView is not specified, this is the default value. Returns only the name of the schema registry. The contexts associated with it are not included.",
                        "Returns the name of the schema registry and all the contexts associated with it."
                      ],
                      "description": "Optional. Specifies the view to return for the schema registry instances. If not specified, the default view is SCHEMA_REGISTRY_VIEW_BASIC.",
                      "location": "query",
                      "enum": [
                        "SCHEMA_REGISTRY_VIEW_UNSPECIFIED",
                        "SCHEMA_REGISTRY_VIEW_BASIC",
                        "SCHEMA_REGISTRY_VIEW_FULL"
                      ]
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries",
                  "httpMethod": "GET",
                  "description": "List schema registries.",
                  "response": {
                    "$ref": "ListSchemaRegistriesResponse"
                  },
                  "id": "managedkafka.projects.locations.schemaRegistries.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/schemaRegistries"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.schemaRegistries.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the schema registry instance to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Delete a schema registry instance."
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.schemaRegistries.get",
                  "response": {
                    "$ref": "SchemaRegistry"
                  },
                  "description": "Get the schema registry instance.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the schema registry instance to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              },
              "resources": {
                "mode": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/mode/{modeId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/mode/.*$"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "SchemaMode"
                      },
                      "description": "Get mode at global level or for a subject.",
                      "id": "managedkafka.projects.locations.schemaRegistries.mode.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "update": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "id": "managedkafka.projects.locations.schemaRegistries.mode.update",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "UpdateSchemaModeRequest"
                      },
                      "description": "Update mode at global level or for a subject.",
                      "response": {
                        "$ref": "SchemaMode"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/mode/.*$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/mode/{modeId}",
                      "httpMethod": "PUT"
                    },
                    "delete": {
                      "response": {
                        "$ref": "SchemaMode"
                      },
                      "description": "Delete schema mode for a subject.",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/mode/{modeId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of subject to delete the mode for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject} * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/mode/.*$",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.mode.delete"
                    }
                  }
                },
                "schemas": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$",
                          "location": "path"
                        },
                        "subject": {
                          "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Schema"
                      },
                      "description": "Get the schema for the given schema id.",
                      "id": "managedkafka.projects.locations.schemaRegistries.schemas.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "getSchema": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$"
                        },
                        "subject": {
                          "type": "string",
                          "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}/schema",
                      "httpMethod": "GET",
                      "description": "Get the schema string for the given schema id. The response will be the schema string.",
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "id": "managedkafka.projects.locations.schemaRegistries.schemas.getSchema",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}/schema"
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.versions.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/versions",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "description": "Required. The schema whose schema versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "deleted": {
                              "location": "query",
                              "description": "Optional. If true, the response will include soft-deleted versions of the schema, even if the subject is soft-deleted. The default is false.",
                              "type": "boolean"
                            },
                            "subject": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The subject to filter the subjects by."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}/versions",
                          "description": "List the schema versions for the given schema id. The response will be an array of subject-version pairs as: [{\"subject\":\"subject1\", \"version\":1}, {\"subject\":\"subject2\", \"version\":2}].",
                          "response": {
                            "$ref": "HttpBody"
                          }
                        }
                      }
                    },
                    "subjects": {
                      "methods": {
                        "list": {
                          "description": "List subjects which reference a particular schema id. The response will be an array of subject names.",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "subject": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The subject to filter the subjects by."
                            },
                            "parent": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The schema resource whose associated subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/schemas/.*$",
                              "location": "path"
                            },
                            "deleted": {
                              "description": "Optional. If true, the response will include soft-deleted subjects. The default is false.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/{schemasId}/subjects",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/subjects",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.subjects.list"
                        }
                      }
                    },
                    "types": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The parent schema registry whose schema types are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/schemas/types",
                          "httpMethod": "GET",
                          "description": "List the supported schema types. The response will be an array of schema types.",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "id": "managedkafka.projects.locations.schemaRegistries.schemas.types.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/schemas/types"
                        }
                      }
                    }
                  }
                },
                "compatibility": {
                  "methods": {
                    "checkCompatibility": {
                      "response": {
                        "$ref": "CheckCompatibilityResponse"
                      },
                      "request": {
                        "$ref": "CheckCompatibilityRequest"
                      },
                      "description": "Check compatibility of a schema with all versions or a specific version of a subject.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/compatibility/{compatibilityId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the resource to check compatibility for. The format is either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/*/versions: Check compatibility with one or more versions of the specified subject. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/{subject}/versions/{version}: Check compatibility with a specific version of the subject.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/compatibility/.*$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.compatibility.checkCompatibility",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "config": {
                  "methods": {
                    "get": {
                      "description": "Get schema config at global level or for a subject.",
                      "response": {
                        "$ref": "SchemaConfig"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "defaultToGlobal": {
                          "location": "query",
                          "description": "Optional. If true, the config will fall back to the config at the global level if no subject level config is found.",
                          "type": "boolean"
                        },
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name to get the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Get config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Get config for a specific subject.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.config.get"
                    },
                    "update": {
                      "response": {
                        "$ref": "SchemaConfig"
                      },
                      "request": {
                        "$ref": "UpdateSchemaConfigRequest"
                      },
                      "description": "Update config at global level or for a subject. Creates a SchemaSubject-level SchemaConfig if it does not exist.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name to update the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Update config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Update config for a specific subject.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "PUT",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.config.update",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "SchemaConfig"
                      },
                      "description": "Delete schema config for a subject.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/config/{configId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of subject to delete the config for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/config/.*$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.config.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "contexts": {
                  "methods": {
                    "get": {
                      "description": "Get the context.",
                      "response": {
                        "$ref": "Context"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the context to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "id": "managedkafka.projects.locations.schemaRegistries.contexts.get",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "description": "List contexts for a schema registry.",
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent of the contexts. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/contexts",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.contexts.list"
                    }
                  },
                  "resources": {
                    "compatibility": {
                      "methods": {
                        "checkCompatibility": {
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the resource to check compatibility for. The format is either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/*/versions: Check compatibility with one or more versions of the specified subject. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/compatibility/subjects/{subject}/versions/{version}: Check compatibility with a specific version of the subject.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/compatibility/.*$",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/compatibility/{compatibilityId}",
                          "request": {
                            "$ref": "CheckCompatibilityRequest"
                          },
                          "description": "Check compatibility of a schema with all versions or a specific version of a subject.",
                          "response": {
                            "$ref": "CheckCompatibilityResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.compatibility.checkCompatibility",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}"
                        }
                      }
                    },
                    "config": {
                      "methods": {
                        "get": {
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "description": "Get schema config at global level or for a subject.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "parameters": {
                            "defaultToGlobal": {
                              "description": "Optional. If true, the config will fall back to the config at the global level if no subject level config is found.",
                              "location": "query",
                              "type": "boolean"
                            },
                            "name": {
                              "description": "Required. The resource name to get the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Get config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Get config for a specific subject.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET"
                        },
                        "update": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.update",
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "UpdateSchemaConfigRequest"
                          },
                          "description": "Update config at global level or for a subject. Creates a SchemaSubject-level SchemaConfig if it does not exist.",
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. The resource name to update the config for. It can be either of following: * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config: Update config at global level. * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}: Update config for a specific subject.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "httpMethod": "PUT"
                        },
                        "delete": {
                          "response": {
                            "$ref": "SchemaConfig"
                          },
                          "description": "Delete schema config for a subject.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/config/{configId}",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of subject to delete the config for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/config/{subject}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/config/.*$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "httpMethod": "DELETE",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.config.delete",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    },
                    "subjects": {
                      "methods": {
                        "lookupVersion": {
                          "response": {
                            "$ref": "SchemaVersion"
                          },
                          "request": {
                            "$ref": "LookupVersionRequest"
                          },
                          "description": "Lookup a schema under the specified subject.",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The subject to lookup the schema in. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$"
                            }
                          },
                          "path": "v1/{+parent}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.lookupVersion"
                        },
                        "list": {
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "description": "List subjects in the schema registry. The response will be an array of subject names.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent schema registry/context whose subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "deleted": {
                              "description": "Optional. If true, the response will include soft-deleted subjects. The default is false.",
                              "location": "query",
                              "type": "boolean"
                            },
                            "subjectPrefix": {
                              "type": "string",
                              "description": "Optional. The context to filter the subjects by, in the format of `:.{context}:`. If unset, all subjects in the registry are returned. Set to empty string or add as '?subjectPrefix=' at the end of this request to list subjects in the default context.",
                              "location": "query"
                            }
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/subjects",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.list",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "delete": {
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "parameters": {
                            "permanent": {
                              "location": "query",
                              "description": "Optional. If true, the subject and all associated metadata including the schema ID will be deleted permanently. Otherwise, only the subject is soft-deleted. The default is false. Soft-deleted subjects can still be searched in ListSubjects API call with deleted=true query parameter. A soft-delete of a subject must be performed before a hard-delete.",
                              "type": "boolean"
                            },
                            "name": {
                              "description": "Required. The name of the subject to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}",
                          "httpMethod": "DELETE",
                          "description": "Delete a subject. The response will be an array of versions of the deleted subject.",
                          "response": {
                            "$ref": "HttpBody"
                          }
                        }
                      },
                      "resources": {
                        "versions": {
                          "methods": {
                            "create": {
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.create",
                              "parameterOrder": [
                                "parent"
                              ],
                              "path": "v1/{+parent}/versions",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions",
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "description": "Required. The subject to create the version for. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "httpMethod": "POST",
                              "response": {
                                "$ref": "CreateVersionResponse"
                              },
                              "request": {
                                "$ref": "CreateVersionRequest"
                              },
                              "description": "Register a new version under a given subject with the given schema."
                            },
                            "getSchema": {
                              "path": "v1/{+name}/schema",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.getSchema",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "description": "Get the schema string only for a version of a subject. The response will be the schema string.",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}/schema",
                              "parameters": {
                                "name": {
                                  "description": "Required. The name of the subject to return versions. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                },
                                "deleted": {
                                  "description": "Optional. If true, no matter if the subject/version is soft-deleted or not, it returns the version details. If false, it returns NOT_FOUND error if the subject/version is soft-deleted. The default is false.",
                                  "location": "query",
                                  "type": "boolean"
                                }
                              },
                              "httpMethod": "GET"
                            },
                            "get": {
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.get",
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+name}",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "required": true,
                                  "location": "path",
                                  "description": "Required. The name of the subject to return versions. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$"
                                },
                                "deleted": {
                                  "description": "Optional. If true, no matter if the subject/version is soft-deleted or not, it returns the version details. If false, it returns NOT_FOUND error if the subject/version is soft-deleted. The default is false.",
                                  "location": "query",
                                  "type": "boolean"
                                }
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}",
                              "httpMethod": "GET",
                              "description": "Get a versioned schema (schema with subject/version) of a subject.",
                              "response": {
                                "$ref": "SchemaVersion"
                              }
                            },
                            "list": {
                              "httpMethod": "GET",
                              "parameters": {
                                "parent": {
                                  "description": "Required. The subject whose versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                },
                                "deleted": {
                                  "type": "boolean",
                                  "description": "Optional. If true, the response will include soft-deleted versions of an active or soft-deleted subject. The default is false.",
                                  "location": "query"
                                }
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions",
                              "description": "Get all versions of a subject. The response will be an array of versions of the subject.",
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.list",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+parent}/versions"
                            },
                            "delete": {
                              "path": "v1/{+name}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.delete",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "description": "Delete a version of a subject. The response will be the deleted version id.",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}",
                              "parameters": {
                                "permanent": {
                                  "type": "boolean",
                                  "description": "Optional. If true, both the version and the referenced schema ID will be permanently deleted. The default is false. If false, the version will be deleted but the schema ID will be retained. Soft-deleted versions can still be searched in ListVersions API call with deleted=true query parameter. A soft-delete of a version must be performed before a hard-delete.",
                                  "location": "query"
                                },
                                "name": {
                                  "description": "Required. The name of the subject version to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "httpMethod": "DELETE"
                            }
                          },
                          "resources": {
                            "referencedby": {
                              "methods": {
                                "list": {
                                  "id": "managedkafka.projects.locations.schemaRegistries.contexts.subjects.versions.referencedby.list",
                                  "parameterOrder": [
                                    "parent"
                                  ],
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform"
                                  ],
                                  "path": "v1/{+parent}/referencedby",
                                  "parameters": {
                                    "parent": {
                                      "description": "Required. The version to list referenced by. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/subjects/[^/]+/versions/[^/]+$",
                                      "location": "path",
                                      "required": true,
                                      "type": "string"
                                    }
                                  },
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/subjects/{subjectsId}/versions/{versionsId}/referencedby",
                                  "httpMethod": "GET",
                                  "description": "Get a list of IDs of schemas that reference the schema with the given subject and version.",
                                  "response": {
                                    "$ref": "HttpBody"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "schemas": {
                      "methods": {
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Get the schema for the given schema id.",
                          "response": {
                            "$ref": "Schema"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                              "required": true,
                              "type": "string"
                            },
                            "subject": {
                              "location": "query",
                              "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}",
                          "httpMethod": "GET"
                        },
                        "getSchema": {
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "description": "Get the schema string for the given schema id. The response will be the schema string.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/schema",
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The name of the schema to return. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                              "location": "path"
                            },
                            "subject": {
                              "type": "string",
                              "description": "Optional. Used to limit the search for the schema ID to a specific subject, otherwise the schema ID will be searched for in all subjects in the given specified context.",
                              "location": "query"
                            }
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+name}/schema",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.getSchema",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      },
                      "resources": {
                        "types": {
                          "methods": {
                            "list": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+parent}/schemas/types",
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.types.list",
                              "parameterOrder": [
                                "parent"
                              ],
                              "description": "List the supported schema types. The response will be an array of schema types.",
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "type": "string",
                                  "description": "Required. The parent schema registry whose schema types are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+$",
                                  "location": "path"
                                }
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/types",
                              "httpMethod": "GET"
                            }
                          }
                        },
                        "versions": {
                          "methods": {
                            "list": {
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "description": "List the schema versions for the given schema id. The response will be an array of subject-version pairs as: [{\"subject\":\"subject1\", \"version\":1}, {\"subject\":\"subject2\", \"version\":2}].",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/versions",
                              "parameters": {
                                "subject": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional. The subject to filter the subjects by."
                                },
                                "parent": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "Required. The schema whose schema versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$"
                                },
                                "deleted": {
                                  "description": "Optional. If true, the response will include soft-deleted versions of the schema, even if the subject is soft-deleted. The default is false.",
                                  "location": "query",
                                  "type": "boolean"
                                }
                              },
                              "httpMethod": "GET",
                              "path": "v1/{+parent}/versions",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.versions.list",
                              "parameterOrder": [
                                "parent"
                              ]
                            }
                          }
                        },
                        "subjects": {
                          "methods": {
                            "list": {
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "managedkafka.projects.locations.schemaRegistries.contexts.schemas.subjects.list",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+parent}/subjects",
                              "httpMethod": "GET",
                              "parameters": {
                                "subject": {
                                  "location": "query",
                                  "description": "Optional. The subject to filter the subjects by.",
                                  "type": "string"
                                },
                                "parent": {
                                  "location": "path",
                                  "description": "Required. The schema resource whose associated subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/schemas/ids/{schema}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/schemas/ids/{schema}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/schemas/.*$",
                                  "type": "string",
                                  "required": true
                                },
                                "deleted": {
                                  "description": "Optional. If true, the response will include soft-deleted subjects. The default is false.",
                                  "location": "query",
                                  "type": "boolean"
                                }
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/schemas/{schemasId}/subjects",
                              "description": "List subjects which reference a particular schema id. The response will be an array of subject names.",
                              "response": {
                                "$ref": "HttpBody"
                              }
                            }
                          }
                        }
                      }
                    },
                    "mode": {
                      "methods": {
                        "get": {
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.mode.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/mode/{modeId}",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/mode/.*$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "SchemaMode"
                          },
                          "description": "Get mode at global level or for a subject."
                        },
                        "update": {
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. The resource name of the mode. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject}: mode for a schema registry, or * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}: mode for a specific subject in a specific context",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/mode/.*$"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/mode/{modeId}",
                          "httpMethod": "PUT",
                          "request": {
                            "$ref": "UpdateSchemaModeRequest"
                          },
                          "description": "Update mode at global level or for a subject.",
                          "response": {
                            "$ref": "SchemaMode"
                          },
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.mode.update",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}"
                        },
                        "delete": {
                          "id": "managedkafka.projects.locations.schemaRegistries.contexts.mode.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of subject to delete the mode for. The format is * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/mode/{subject} * projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/mode/{subject}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/contexts/[^/]+/mode/.*$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/contexts/{contextsId}/mode/{modeId}",
                          "httpMethod": "DELETE",
                          "description": "Delete schema mode for a subject.",
                          "response": {
                            "$ref": "SchemaMode"
                          }
                        }
                      }
                    }
                  }
                },
                "subjects": {
                  "methods": {
                    "lookupVersion": {
                      "response": {
                        "$ref": "SchemaVersion"
                      },
                      "request": {
                        "$ref": "LookupVersionRequest"
                      },
                      "description": "Lookup a schema under the specified subject.",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The subject to lookup the schema in. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+parent}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.subjects.lookupVersion"
                    },
                    "list": {
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "description": "List subjects in the schema registry. The response will be an array of subject names.",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects",
                      "parameters": {
                        "subjectPrefix": {
                          "type": "string",
                          "description": "Optional. The context to filter the subjects by, in the format of `:.{context}:`. If unset, all subjects in the registry are returned. Set to empty string or add as '?subjectPrefix=' at the end of this request to list subjects in the default context.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent schema registry/context whose subjects are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "deleted": {
                          "type": "boolean",
                          "description": "Optional. If true, the response will include soft-deleted subjects. The default is false.",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/subjects",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.subjects.list"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the subject to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+$"
                        },
                        "permanent": {
                          "description": "Optional. If true, the subject and all associated metadata including the schema ID will be deleted permanently. Otherwise, only the subject is soft-deleted. The default is false. Soft-deleted subjects can still be searched in ListSubjects API call with deleted=true query parameter. A soft-delete of a subject must be performed before a hard-delete.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}",
                      "description": "Delete a subject. The response will be an array of versions of the deleted subject.",
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.schemaRegistries.subjects.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}"
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "get": {
                          "description": "Get a versioned schema (schema with subject/version) of a subject.",
                          "response": {
                            "$ref": "SchemaVersion"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The name of the subject to return versions. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+/versions/[^/]+$"
                            },
                            "deleted": {
                              "location": "query",
                              "description": "Optional. If true, no matter if the subject/version is soft-deleted or not, it returns the version details. If false, it returns NOT_FOUND error if the subject/version is soft-deleted. The default is false.",
                              "type": "boolean"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions/{versionsId}",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.get",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "getSchema": {
                          "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.getSchema",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}/schema",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The name of the subject to return versions. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+/versions/[^/]+$",
                              "required": true,
                              "type": "string"
                            },
                            "deleted": {
                              "location": "query",
                              "description": "Optional. If true, no matter if the subject/version is soft-deleted or not, it returns the version details. If false, it returns NOT_FOUND error if the subject/version is soft-deleted. The default is false.",
                              "type": "boolean"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions/{versionsId}/schema",
                          "httpMethod": "GET",
                          "description": "Get the schema string only for a version of a subject. The response will be the schema string.",
                          "response": {
                            "$ref": "HttpBody"
                          }
                        },
                        "list": {
                          "description": "Get all versions of a subject. The response will be an array of versions of the subject.",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The subject whose versions are to be listed. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+$",
                              "location": "path"
                            },
                            "deleted": {
                              "location": "query",
                              "description": "Optional. If true, the response will include soft-deleted versions of an active or soft-deleted subject. The default is false.",
                              "type": "boolean"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/versions",
                          "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.list",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.delete",
                          "description": "Delete a version of a subject. The response will be the deleted version id.",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the subject version to delete. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "permanent": {
                              "description": "Optional. If true, both the version and the referenced schema ID will be permanently deleted. The default is false. If false, the version will be deleted but the schema ID will be retained. Soft-deleted versions can still be searched in ListVersions API call with deleted=true query parameter. A soft-delete of a version must be performed before a hard-delete.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions/{versionsId}"
                        },
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/versions",
                          "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "CreateVersionRequest"
                          },
                          "description": "Register a new version under a given subject with the given schema.",
                          "response": {
                            "$ref": "CreateVersionResponse"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The subject to create the version for. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+$",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions",
                          "httpMethod": "POST"
                        }
                      },
                      "resources": {
                        "referencedby": {
                          "methods": {
                            "list": {
                              "path": "v1/{+parent}/referencedby",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "managedkafka.projects.locations.schemaRegistries.subjects.versions.referencedby.list",
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "description": "Get a list of IDs of schemas that reference the schema with the given subject and version.",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemaRegistries/{schemaRegistriesId}/subjects/{subjectsId}/versions/{versionsId}/referencedby",
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "description": "Required. The version to list referenced by. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}/versions/{version}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}/versions/{version}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/schemaRegistries/[^/]+/subjects/[^/]+/versions/[^/]+$",
[...]
