{
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://managedkafka.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://managedkafka.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://managedkafka.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://managedkafka.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://managedkafka.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://managedkafka.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://managedkafka.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://managedkafka.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://managedkafka.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://managedkafka.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://managedkafka.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://managedkafka.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://managedkafka.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://managedkafka.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://managedkafka.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://managedkafka.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://managedkafka.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://managedkafka.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://managedkafka.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://managedkafka.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://managedkafka.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://managedkafka.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://managedkafka.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://managedkafka.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://managedkafka.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://managedkafka.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://managedkafka.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://managedkafka.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://managedkafka.mtls.googleapis.com/",
  "canonicalName": "Managed Kafka",
  "description": "Manage Apache Kafka clusters and resources. ",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "schemas": {
    "ConnectCluster": {
      "description": "An Apache Kafka Connect cluster deployed in a location.",
      "type": "object",
      "properties": {
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka Connect cluster.",
          "$ref": "CapacityConfig"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the Kafka Connect cluster.",
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is detached."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs.",
          "type": "object"
        },
        "config": {
          "description": "Optional. Reserved for future use. This field is meant for worker config overrides, but is unsupported for now.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gcpConfig": {
          "description": "Required. Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
          "$ref": "ConnectGcpConfig"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the cluster was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "kafkaCluster": {
          "description": "Required. Immutable. The name of the Kafka cluster this Kafka Connect cluster is attached to. Structured like: projects/{project}/locations/{location}/clusters/{cluster}",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the cluster was last updated.",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}",
          "type": "string"
        }
      },
      "id": "ConnectCluster"
    },
    "ConnectAccessConfig": {
      "description": "The configuration of access to the Kafka Connect cluster.",
      "type": "object",
      "properties": {
        "networkConfigs": {
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka Connect cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "type": "array",
          "items": {
            "$ref": "ConnectNetworkConfig"
          }
        }
      },
      "id": "ConnectAccessConfig"
    },
    "AclEntry": {
      "id": "AclEntry",
      "properties": {
        "permissionType": {
          "description": "Required. The permission type. Accepted values are (case insensitive): ALLOW, DENY.",
          "type": "string"
        },
        "operation": {
          "description": "Required. The operation type. Allowed values are (case insensitive): ALL, READ, WRITE, CREATE, DELETE, ALTER, DESCRIBE, CLUSTER_ACTION, DESCRIBE_CONFIGS, ALTER_CONFIGS, and IDEMPOTENT_WRITE. See https://kafka.apache.org/documentation/#operations_resources_and_protocols for valid combinations of resource_type and operation for different Kafka API requests.",
          "type": "string"
        },
        "host": {
          "description": "Required. The host. Must be set to \"*\" for Managed Service for Apache Kafka.",
          "type": "string"
        },
        "principal": {
          "description": "Required. The principal. Specified as Google Cloud account, with the Kafka StandardAuthorizer prefix \"User:\". For example: \"User:test-kafka-client@test-project.iam.gserviceaccount.com\". Can be the wildcard \"User:*\" to refer to all users.",
          "type": "string"
        }
      },
      "description": "Represents the access granted for a given Resource Pattern in an ACL.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Connector": {
      "properties": {
        "configs": {
          "description": "Optional. Connector config as keys/values. The keys of the map are connector property names, for example: `connector.class`, `tasks.max`, `key.converter`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "taskRestartPolicy": {
          "description": "Optional. Restarts the individual tasks of a Connector.",
          "$ref": "TaskRetryPolicy"
        },
        "name": {
          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the connector.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNASSIGNED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "RESTARTING",
            "STOPPED"
          ],
          "enumDescriptions": [
            "A state was not specified.",
            "The connector is not assigned to any tasks, usually transient.",
            "The connector is running.",
            "The connector has been paused.",
            "The connector has failed. See logs for why.",
            "The connector is restarting.",
            "The connector has been stopped."
          ]
        }
      },
      "id": "Connector",
      "description": "A Kafka Connect connector in a given ConnectCluster.",
      "type": "object"
    },
    "RestartConnectorResponse": {
      "properties": {},
      "id": "RestartConnectorResponse",
      "description": "Response for RestartConnector.",
      "type": "object"
    },
    "ListClustersResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "description": "The list of Clusters in the requested parent.",
          "type": "array"
        }
      },
      "id": "ListClustersResponse",
      "description": "Response for ListClusters.",
      "type": "object"
    },
    "CapacityConfig": {
      "properties": {
        "memoryBytes": {
          "format": "int64",
          "description": "Required. The memory to provision for the cluster in bytes. The CPU:memory ratio (vCPU:GiB) must be between 1:1 and 1:8. Minimum: 3221225472 (3 GiB).",
          "type": "string"
        },
        "vcpuCount": {
          "format": "int64",
          "description": "Required. The number of vCPUs to provision for the cluster. Minimum: 3.",
          "type": "string"
        }
      },
      "id": "CapacityConfig",
      "description": "A capacity configuration of a Kafka cluster.",
      "type": "object"
    },
    "TaskRetryPolicy": {
      "description": "Task Retry Policy is implemented on a best-effort basis. The default policy retries tasks with a minimum_backoff of 60 seconds, and a maximum_backoff of 12 hours. You can disable the policy by setting the task_retry_disabled field to true. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. Note that the delay between consecutive task restarts may not always precisely match the configured settings. This can happen when the ConnectCluster is in rebalancing state or if the ConnectCluster is unresponsive etc. The default values for minimum and maximum backoffs are 60 seconds and 12 hours respectively.",
      "type": "object",
      "properties": {
        "taskRetryDisabled": {
          "description": "Optional. If true, task retry is disabled.",
          "type": "boolean"
        },
        "minimumBackoff": {
          "description": "Optional. The minimum amount of time to wait before retrying a failed task. This sets a lower bound for the backoff delay.",
          "type": "string",
          "format": "google-duration"
        },
        "maximumBackoff": {
          "description": "Optional. The maximum amount of time to wait before retrying a failed task. This sets an upper bound for the backoff delay.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "TaskRetryPolicy"
    },
    "Cluster": {
      "id": "Cluster",
      "properties": {
        "capacityConfig": {
          "description": "Required. Capacity configuration for the Kafka cluster.",
          "$ref": "CapacityConfig"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A state was not specified.",
            "The cluster is being created.",
            "The cluster is active.",
            "The cluster is being deleted.",
            "The cluster is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. The current state of the cluster."
        },
        "updateTime": {
          "description": "Output only. The time when the cluster was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The name of the cluster. Structured like: projects/{project_number}/locations/{location}/clusters/{cluster_id}",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "brokerDetails": {
          "items": {
            "$ref": "BrokerDetails"
          },
          "description": "Output only. Only populated when FULL view is requested. Details of each broker in the cluster.",
          "type": "array",
          "readOnly": true
        },
        "updateOptions": {
          "description": "Optional. UpdateOptions represents options that control how updates to the cluster are applied.",
          "$ref": "UpdateOptions"
        },
        "kafkaVersion": {
          "readOnly": true,
          "description": "Output only. Only populated when FULL view is requested. The Kafka version of the cluster.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs.",
          "type": "object"
        },
        "rebalanceConfig": {
          "$ref": "RebalanceConfig",
          "description": "Optional. Rebalance configuration for the Kafka cluster."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time when the cluster was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "gcpConfig": {
          "$ref": "GcpConfig",
          "description": "Required. Configuration properties for a Kafka cluster deployed to Google Cloud Platform."
        },
        "tlsConfig": {
          "description": "Optional. TLS configuration for the Kafka cluster.",
          "$ref": "TlsConfig"
        }
      },
      "description": "An Apache Kafka cluster deployed in a location.",
      "type": "object"
    },
    "SchemaRegistry": {
      "description": "SchemaRegistry is a schema registry instance.",
      "type": "object",
      "id": "SchemaRegistry",
      "properties": {
        "name": {
          "description": "Identifier. The name of the schema registry instance. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}` The instance name {schema_registry} can contain the following: * Up to 255 characters. * Letters (uppercase or lowercase), numbers, and underscores.",
          "type": "string"
        },
        "contexts": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The contexts of the schema registry instance.",
          "type": "array"
        }
      }
    },
    "CreateVersionRequest": {
      "description": "Request for CreateVersion.",
      "type": "object",
      "id": "CreateVersionRequest",
      "properties": {
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "description": "Optional. The schema ID of the schema. If not specified, the schema ID will be generated by the server. If the schema ID is specified, it must not be used by an existing schema that is different from the schema to be created.",
          "type": "integer"
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored. The default is false.",
          "type": "boolean"
        },
        "references": {
          "items": {
            "$ref": "SchemaReference"
          },
          "description": "Optional. The schema references used by the schema.",
          "type": "array"
        },
        "version": {
          "format": "int32",
          "description": "Optional. The version to create. It is optional. If not specified, the version will be created with the max version ID of the subject increased by 1. If the version ID is specified, it will be used as the new version ID and must not be used by an existing version of the subject.",
          "type": "integer"
        },
        "schemaType": {
          "description": "Optional. The type of the schema. It is optional. If not specified, the schema type will be AVRO.",
          "type": "string",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ]
        }
      }
    },
    "RemoveAclEntryResponse": {
      "description": "Response for RemoveAclEntry.",
      "type": "object",
      "id": "RemoveAclEntryResponse",
      "properties": {
        "acl": {
          "description": "The updated acl. Returned if the removed acl entry was not the last entry in the acl.",
          "$ref": "Acl"
        },
        "aclDeleted": {
          "description": "Returned with value true if the removed acl entry was the last entry in the acl, resulting in acl deletion.",
          "type": "boolean"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "TrustConfig": {
      "properties": {
        "casConfigs": {
          "description": "Optional. Configuration for the Google Certificate Authority Service. Maximum 10.",
          "type": "array",
          "items": {
            "$ref": "CertificateAuthorityServiceConfig"
          }
        }
      },
      "id": "TrustConfig",
      "description": "Sources of CA certificates to install in the broker's truststore.",
      "type": "object"
    },
    "RebalanceConfig": {
      "properties": {
        "mode": {
          "enumDescriptions": [
            "A mode was not specified. Do not use.",
            "Do not rebalance automatically.",
            "Automatically rebalance topic partitions among brokers when the cluster is scaled up."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "NO_REBALANCE",
            "AUTO_REBALANCE_ON_SCALE_UP"
          ],
          "description": "Optional. The rebalance behavior for the cluster. When not specified, defaults to `NO_REBALANCE`.",
          "type": "string"
        }
      },
      "id": "RebalanceConfig",
      "description": "Defines rebalancing behavior of a Kafka cluster.",
      "type": "object"
    },
    "ListConsumerGroupsResponse": {
      "description": "Response for ListConsumerGroups.",
      "type": "object",
      "properties": {
        "consumerGroups": {
          "items": {
            "$ref": "ConsumerGroup"
          },
          "description": "The list of consumer group in the requested parent. The order of the consumer groups is unspecified.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "id": "ListConsumerGroupsResponse"
    },
    "CertificateAuthorityServiceConfig": {
      "id": "CertificateAuthorityServiceConfig",
      "properties": {
        "caPool": {
          "description": "Required. The name of the CA pool to pull CA certificates from. Structured like: projects/{project}/locations/{location}/caPools/{ca_pool}. The CA pool does not need to be in the same project or location as the Kafka cluster.",
          "type": "string"
        }
      },
      "description": "A configuration for the Google Certificate Authority Service.",
      "type": "object"
    },
    "ListConnectorsResponse": {
      "description": "Response for ListConnectors.",
      "type": "object",
      "id": "ListConnectorsResponse",
      "properties": {
        "connectors": {
          "items": {
            "$ref": "Connector"
          },
          "description": "The list of connectors in the requested parent.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      }
    },
    "SchemaSubject": {
      "description": "Subject defines the evolution scope of schemas as a holder of schema versions.",
      "type": "object",
      "id": "SchemaSubject",
      "properties": {
        "versions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The versions of the subject.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The name of the subject. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/subjects/{subject}` or `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}/subjects/{subject}` Subject name {subject} can contain the following: * Up to 255 UTF-8 bytes. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`.",
          "type": "string"
        }
      }
    },
    "GcpConfig": {
      "description": "Configuration properties for a Kafka cluster deployed to Google Cloud Platform.",
      "type": "object",
      "id": "GcpConfig",
      "properties": {
        "accessConfig": {
          "$ref": "AccessConfig",
          "description": "Required. Access configuration for the Kafka cluster."
        },
        "kmsKey": {
          "description": "Optional. Immutable. The Cloud KMS Key name to use for encryption. The key must be located in the same region as the cluster and cannot be changed. Structured like: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "StopConnectorRequest": {
      "description": "Request for StopConnector.",
      "type": "object",
      "properties": {},
      "id": "StopConnectorRequest"
    },
    "SchemaVersion": {
      "id": "SchemaVersion",
      "properties": {
        "version": {
          "description": "Required. The version ID",
          "type": "integer",
          "format": "int32"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "schemaType": {
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string"
        },
        "schema": {
          "description": "Required. The schema payload.",
          "type": "string"
        },
        "subject": {
          "description": "Required. The subject of the version.",
          "type": "string"
        },
        "id": {
          "description": "Required. The schema ID.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Version of a schema.",
      "type": "object"
    },
    "ConsumerPartitionMetadata": {
      "properties": {
        "offset": {
          "format": "int64",
          "description": "Required. The current offset for this partition, or 0 if no offset has been committed.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. The associated metadata for this partition, or empty if it does not exist.",
          "type": "string"
        }
      },
      "id": "ConsumerPartitionMetadata",
      "description": "Metadata for a consumer group corresponding to a specific partition.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "UpdateOptions": {
      "description": "UpdateOptions specifies options that influence how a cluster update is applied. These options control the behavior of the update process, rather than defining the desired end-state of a cluster.",
      "type": "object",
      "id": "UpdateOptions",
      "properties": {
        "allowBrokerDownscaleOnClusterUpscale": {
          "description": "Optional. If true, allows an update operation that increases the total vCPU and/or memory allocation of the cluster to significantly decrease the per-broker vCPU and/or memory allocation. This can result in reduced performance and availability. By default, the update operation will fail if an upscale request results in a vCPU or memory allocation for the brokers that is smaller than 90% of the current broker size.",
          "type": "boolean"
        }
      }
    },
    "ListTopicsResponse": {
      "description": "Response for ListTopics.",
      "type": "object",
      "id": "ListTopicsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "topics": {
          "items": {
            "$ref": "Topic"
          },
          "description": "The list of topics in the requested parent. The order of the topics is unspecified.",
          "type": "array"
        }
      }
    },
    "Schema": {
      "id": "Schema",
      "properties": {
        "schemaType": {
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "description": "Optional. The schema type of the schema.",
          "type": "string"
        },
        "schema": {
          "description": "The schema payload.",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        }
      },
      "description": "Schema for a Kafka message.",
      "type": "object"
    },
    "ConsumerGroup": {
      "id": "ConsumerGroup",
      "properties": {
        "name": {
          "description": "Identifier. The name of the consumer group. The `consumer_group` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/consumerGroups/{consumer_group}",
          "type": "string"
        },
        "topics": {
          "description": "Optional. Metadata for this consumer group for all topics it has metadata for. The key of the map is a topic name, structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsumerTopicMetadata"
          }
        }
      },
      "description": "A Kafka consumer group in a given cluster.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ConnectNetworkConfig": {
      "id": "ConnectNetworkConfig",
      "properties": {
        "additionalSubnets": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Deprecated: Managed Kafka Connect clusters can now reach any endpoint accessible from the primary subnet without the need to define additional subnets. Please see https://cloud.google.com/managed-service-for-apache-kafka/docs/connect-cluster/create-connect-cluster#worker-subnet for more information.",
          "deprecated": true,
          "type": "array"
        },
        "dnsDomainNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional DNS domain names from the subnet's network to be made visible to the Connect Cluster. When using MirrorMaker2, it's necessary to add the bootstrap address's dns domain name of the target cluster to make it visible to the connector. For example: my-kafka-cluster.us-central1.managedkafka.my-project.cloud.goog",
          "type": "array"
        },
        "primarySubnet": {
          "description": "Required. VPC subnet to make available to the Kafka Connect cluster. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} It is used to create a Private Service Connect (PSC) interface for the Kafka Connect workers. It must be located in the same region as the Kafka Connect cluster. The CIDR range of the subnet must be within the IPv4 address ranges for private networks, as specified in RFC 1918. The primary subnet CIDR range must have a minimum size of /22 (1024 addresses).",
          "type": "string"
        }
      },
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka Connect cluster.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse"
    },
    "CreateSchemaRegistryRequest": {
      "description": "Request to create a schema registry instance.",
      "type": "object",
      "properties": {
        "schemaRegistryId": {
          "description": "Required. The schema registry instance ID to use for this schema registry. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores (-). The maximum length is 63 characters. The ID must not start with a number.",
          "type": "string"
        },
        "schemaRegistry": {
          "description": "Required. The schema registry instance to create. The name field is ignored.",
          "$ref": "SchemaRegistry"
        }
      },
      "id": "CreateSchemaRegistryRequest"
    },
    "AddAclEntryResponse": {
      "description": "Response for AddAclEntry.",
      "type": "object",
      "id": "AddAclEntryResponse",
      "properties": {
        "acl": {
          "description": "The updated acl.",
          "$ref": "Acl"
        },
        "aclCreated": {
          "description": "Whether the acl was created as a result of adding the acl entry.",
          "type": "boolean"
        }
      }
    },
    "LookupVersionRequest": {
      "properties": {
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being looked up. The default is false.",
          "type": "boolean"
        },
        "deleted": {
          "description": "Optional. If true, soft-deleted versions will be included in lookup, no matter if the subject is active or soft-deleted. If false, soft-deleted versions will be excluded. The default is false.",
          "type": "boolean"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "schemaType": {
          "description": "Optional. The schema type of the schema.",
          "type": "string",
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ]
        }
      },
      "id": "LookupVersionRequest",
      "description": "Request for LookupVersion.",
      "type": "object"
    },
    "HttpBody": {
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object"
    },
    "CheckCompatibilityRequest": {
      "description": "Request for CheckCompatibility.",
      "type": "object",
      "id": "CheckCompatibilityRequest",
      "properties": {
        "verbose": {
          "description": "Optional. If true, the response will contain the compatibility check result with reasons for failed checks. The default is false.",
          "type": "boolean"
        },
        "schema": {
          "description": "Required. The schema payload",
          "type": "string"
        },
        "references": {
          "description": "Optional. The schema references used by the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaReference"
          }
        },
        "schemaType": {
          "description": "Optional. The schema type of the schema.",
          "type": "string",
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "AVRO",
            "JSON",
            "PROTOBUF"
          ],
          "enumDescriptions": [
            "No schema type. The default will be AVRO.",
            "Avro schema type.",
            "JSON schema type.",
            "Protobuf schema type."
          ]
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "ListConnectClustersResponse": {
      "id": "ListConnectClustersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "connectClusters": {
          "description": "The list of Connect clusters in the requested parent.",
          "type": "array",
          "items": {
            "$ref": "ConnectCluster"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response for ListConnectClusters.",
      "type": "object"
    },
    "TlsConfig": {
      "description": "The TLS configuration for the Kafka cluster.",
      "type": "object",
      "id": "TlsConfig",
      "properties": {
        "sslPrincipalMappingRules": {
          "description": "Optional. A list of rules for mapping from SSL principal names to short names. These are applied in order by Kafka. Refer to the Apache Kafka documentation for `ssl.principal.mapping.rules` for the precise formatting details and syntax. Example: \"RULE:^CN=(.*?),OU=ServiceUsers.*$/$1@example.com/,DEFAULT\" This is a static Kafka broker configuration. Setting or modifying this field will trigger a rolling restart of the Kafka brokers to apply the change. An empty string means no rules are applied (Kafka default).",
          "type": "string"
        },
        "trustConfig": {
          "$ref": "TrustConfig",
          "description": "Optional. The configuration of the broker truststore. If specified, clients can use mTLS for authentication."
        }
      }
    },
    "ConsumerTopicMetadata": {
      "description": "Metadata for a consumer group corresponding to a specific topic.",
      "type": "object",
      "properties": {
        "partitions": {
          "additionalProperties": {
            "$ref": "ConsumerPartitionMetadata"
          },
          "description": "Optional. Metadata for this consumer group and topic for all partition indexes it has metadata for.",
          "type": "object"
        }
      },
      "id": "ConsumerTopicMetadata"
    },
    "SchemaConfig": {
      "id": "SchemaConfig",
      "properties": {
        "compatibility": {
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ],
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "description": "Required. The compatibility type of the schema. The default value is BACKWARD. If unset in a SchemaSubject-level SchemaConfig, defaults to the global value. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "string"
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. If unset in a SchemaSubject-level SchemaConfig, the global value will be used. If unset in a SchemaRegistry-level SchemaConfig, reverts to the default value.",
          "type": "boolean"
        },
        "alias": {
          "description": "Optional. The subject to which this subject is an alias of. Only applicable for subject config.",
          "type": "string"
        }
      },
      "description": "SchemaConfig represents configuration for a schema registry or a specific subject.",
      "type": "object"
    },
    "RestartConnectorRequest": {
      "description": "Request for RestartConnector.",
      "type": "object",
      "id": "RestartConnectorRequest",
      "properties": {}
    },
    "PauseConnectorResponse": {
      "id": "PauseConnectorResponse",
      "properties": {},
      "description": "Response for PauseConnector.",
      "type": "object"
    },
    "Acl": {
      "description": "Represents the set of ACLs for a given Kafka Resource Pattern, which consists of resource_type, resource_name and pattern_type.",
      "type": "object",
      "id": "Acl",
      "properties": {
        "etag": {
          "description": "Optional. `etag` is used for concurrency control. An `etag` is returned in the response to `GetAcl` and `CreateAcl`. Callers are required to put that etag in the request to `UpdateAcl` to ensure that their change will be applied to the same version of the acl that exists in the Kafka Cluster. A terminal 'T' character in the etag indicates that the AclEntries were truncated; more entries for the Acl exist on the Kafka Cluster, but can't be returned in the Acl due to repeated field limits.",
          "type": "string"
        },
        "resourceType": {
          "readOnly": true,
          "description": "Output only. The ACL resource type derived from the name. One of: CLUSTER, TOPIC, GROUP, TRANSACTIONAL_ID.",
          "type": "string"
        },
        "patternType": {
          "readOnly": true,
          "description": "Output only. The ACL pattern type derived from the name. One of: LITERAL, PREFIXED.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name for the acl. Represents a single Resource Pattern. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/acls/{acl_id} The structure of `acl_id` defines the Resource Pattern (resource_type, resource_name, pattern_type) of the acl. `acl_id` is structured like one of the following: For acls on the cluster: `cluster` For acls on a single resource within the cluster: `topic/{resource_name}` `consumerGroup/{resource_name}` `transactionalId/{resource_name}` For acls on all resources that match a prefix: `topicPrefixed/{resource_name}` `consumerGroupPrefixed/{resource_name}` `transactionalIdPrefixed/{resource_name}` For acls on all resources of a given type (i.e. the wildcard literal \"*\"): `allTopics` (represents `topic/*`) `allConsumerGroups` (represents `consumerGroup/*`) `allTransactionalIds` (represents `transactionalId/*`)",
          "type": "string"
        },
        "aclEntries": {
          "items": {
            "$ref": "AclEntry"
          },
          "description": "Required. The ACL entries that apply to the resource pattern. The maximum number of allowed entries 100.",
          "type": "array"
        },
        "resourceName": {
          "description": "Output only. The ACL resource name derived from the name. For cluster resource_type, this is always \"kafka-cluster\". Can be the wildcard literal \"*\".",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ConnectGcpConfig": {
      "id": "ConnectGcpConfig",
      "properties": {
        "accessConfig": {
          "description": "Required. Access configuration for the Kafka Connect cluster.",
          "$ref": "ConnectAccessConfig"
        },
        "secretPaths": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Secrets to load into workers. Exact SecretVersions from Secret Manager must be provided -- aliases are not supported. Up to 32 secrets may be loaded into one cluster. Format: projects//secrets//versions/",
          "type": "array"
        }
      },
      "description": "Configuration properties for a Kafka Connect cluster deployed to Google Cloud Platform.",
      "type": "object"
    },
    "ResumeConnectorResponse": {
      "description": "Response for ResumeConnector.",
      "type": "object",
      "id": "ResumeConnectorResponse",
      "properties": {}
    },
    "Context": {
      "id": "Context",
      "properties": {
        "name": {
          "description": "Identifier. The name of the context. Structured like: `projects/{project}/locations/{location}/schemaRegistries/{schema_registry}/contexts/{context}` The context name {context} can contain the following: * Up to 255 characters. * Allowed characters: letters (uppercase or lowercase), numbers, and the following special characters: `.`, `-`, `_`, `+`, `%`, and `~`.",
          "type": "string"
        },
        "subjects": {
          "description": "Optional. The subjects of the context.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Context represents an independent schema grouping in a schema registry instance.",
      "type": "object"
    },
    "SchemaReference": {
      "description": "SchemaReference is a reference to a schema.",
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Required. The version of the reference.",
          "type": "integer"
        },
        "name": {
          "description": "Required. The name of the reference.",
          "type": "string"
        },
        "subject": {
          "description": "Required. The subject of the reference.",
          "type": "string"
        }
      },
      "id": "SchemaReference"
    },
    "NetworkConfig": {
      "description": "The configuration of a Virtual Private Cloud (VPC) network that can access the Kafka cluster.",
      "type": "object",
      "properties": {
        "subnet": {
          "description": "Required. Name of the VPC subnet in which to create Private Service Connect (PSC) endpoints for the Kafka brokers and bootstrap address. Structured like: projects/{project}/regions/{region}/subnetworks/{subnet_id} The subnet must be located in the same region as the Kafka cluster. The project may differ. Multiple subnets from the same parent network must not be specified.",
          "type": "string"
        }
      },
      "id": "NetworkConfig"
    },
    "ResumeConnectorRequest": {
      "properties": {},
      "id": "ResumeConnectorRequest",
      "description": "Request for ResumeConnector.",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      }
    },
    "BrokerDetails": {
      "properties": {
        "brokerIndex": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The index of the broker.",
          "type": "string"
        },
        "rack": {
          "description": "Output only. The rack of the broker.",
          "type": "string",
          "readOnly": true
        },
        "nodeId": {
          "description": "Output only. The node id of the broker.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "BrokerDetails",
      "description": "Details of a broker in the Kafka cluster.",
      "type": "object"
    },
    "ListAclsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        },
        "acls": {
          "items": {
            "$ref": "Acl"
          },
          "description": "The list of acls in the requested parent. The order of the acls is unspecified.",
          "type": "array"
        }
      },
      "id": "ListAclsResponse",
      "description": "Response for ListAcls.",
      "type": "object"
    },
    "AccessConfig": {
      "description": "The configuration of access to the Kafka cluster.",
      "type": "object",
      "properties": {
        "networkConfigs": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "description": "Required. Virtual Private Cloud (VPC) networks that must be granted direct access to the Kafka cluster. Minimum of 1 network is required. Maximum 10 networks can be specified.",
          "type": "array"
        }
      },
      "id": "AccessConfig"
    },
    "StopConnectorResponse": {
      "description": "Response for StopConnector.",
      "type": "object",
      "properties": {},
      "id": "StopConnectorResponse"
    },
    "CreateVersionResponse": {
      "properties": {
        "id": {
          "description": "The unique identifier of the schema created.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "CreateVersionResponse",
      "description": "Response for CreateVersion.",
      "type": "object"
    },
    "UpdateSchemaConfigRequest": {
      "description": "Request for updating schema config. On a SchemaSubject-level SchemaConfig, an unset field will be removed from the SchemaConfig.",
      "type": "object",
      "properties": {
        "compatibility": {
          "description": "Required. The compatibility type of the schemas. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the compatibility field for the SchemaConfig.",
          "type": "string",
          "enum": [
            "NONE",
            "BACKWARD",
            "BACKWARD_TRANSITIVE",
            "FORWARD",
            "FORWARD_TRANSITIVE",
            "FULL",
            "FULL_TRANSITIVE"
          ],
          "enumDescriptions": [
            "No compatibility check.",
            "Backwards compatible with the most recent version.",
            "Backwards compatible with all previous versions.",
            "Forwards compatible with the most recent version.",
            "Forwards compatible with all previous versions.",
            "Backwards and forwards compatible with the most recent version.",
            "Backwards and forwards compatible with all previous versions."
          ]
        },
        "normalize": {
          "description": "Optional. If true, the schema will be normalized before being stored or looked up. The default is false. Cannot be unset for a SchemaRegistry-level SchemaConfig. If unset on a SchemaSubject-level SchemaConfig, removes the normalize field for the SchemaConfig.",
          "type": "boolean"
        }
      },
      "id": "UpdateSchemaConfigRequest"
    },
    "ListSchemaRegistriesResponse": {
      "description": "Request for ListSchemaRegistries.",
      "type": "object",
      "properties": {
        "schemaRegistries": {
          "items": {
            "$ref": "SchemaRegistry"
          },
          "description": "The schema registry instances.",
          "type": "array"
        }
      },
      "id": "ListSchemaRegistriesResponse"
    },
    "PauseConnectorRequest": {
      "id": "PauseConnectorRequest",
      "properties": {},
      "description": "Request for PauseConnector.",
      "type": "object"
    },
    "SchemaMode": {
      "id": "SchemaMode",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ],
          "description": "Required. The mode type of a schema registry (READWRITE by default) or of a subject (unset by default, which means use the global schema registry setting).",
          "type": "string"
        }
      },
      "description": "SchemaMode represents the mode of a schema registry or a specific subject. Four modes are supported: * NONE: deprecated. This was the default mode for a subject, but now the default is unset (which means use the global schema registry setting) * READONLY: The schema registry is in read-only mode. * READWRITE: The schema registry is in read-write mode, which allows limited write operations on the schema. * IMPORT: The schema registry is in import mode, which allows more editing operations on the schema for data importing purposes.",
      "type": "object"
    },
    "Topic": {
      "description": "A Kafka topic in a given cluster.",
      "type": "object",
      "id": "Topic",
      "properties": {
        "configs": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Configurations for the topic that are overridden from the cluster defaults. The key of the map is a Kafka topic property name, for example: `cleanup.policy`, `compression.type`.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The name of the topic. The `topic` segment is used when connecting directly to the cluster. Structured like: projects/{project}/locations/{location}/clusters/{cluster}/topics/{topic}",
          "type": "string"
        },
        "replicationFactor": {
          "format": "int32",
          "description": "Required. Immutable. The number of replicas of each partition. A replication factor of 3 is recommended for high availability.",
          "type": "integer"
        },
        "partitionCount": {
          "format": "int32",
          "description": "Required. The number of partitions this topic has. The partition count can only be increased, not decreased. Please note that if partitions are increased for a topic that has a key, the partitioning logic or the ordering of the messages will be affected.",
          "type": "integer"
        }
      }
    },
    "UpdateSchemaModeRequest": {
      "description": "Request for updating schema registry or subject mode.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Required. The mode type.",
          "type": "string",
          "enumDescriptions": [
            "The default / unset value. The subject mode is NONE/unset by default, which means use the global schema registry mode. This should not be used for setting the mode.",
            "READONLY mode.",
            "READWRITE mode.",
            "IMPORT mode."
          ],
          "enum": [
            "NONE",
            "READONLY",
            "READWRITE",
            "IMPORT"
          ]
        }
      },
      "id": "UpdateSchemaModeRequest"
    },
    "CheckCompatibilityResponse": {
      "properties": {
        "is_compatible": {
          "description": "The compatibility check result. If true, the schema is compatible with the resource.",
          "type": "boolean"
        },
        "messages": {
          "items": {
            "type": "string"
          },
          "description": "Failure reasons if verbose = true.",
          "type": "array"
        }
      },
      "id": "CheckCompatibilityResponse",
      "description": "Response for CheckCompatibility.",
      "type": "object"
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "id": "managedkafka.projects.locations.list",
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "id": "managedkafka.projects.locations.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.operations.delete",
                  "path": "v1/{+name}"
                },
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "managedkafka.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "managedkafka.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                }
              }
            },
            "connectClusters": {
              "methods": {
                "delete": {
                  "id": "managedkafka.projects.locations.connectClusters.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Connect cluster.",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the Kafka Connect cluster to delete. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE"
                },
                "get": {
                  "response": {
                    "$ref": "ConnectCluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the properties of a single Kafka Connect cluster.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Kafka Connect cluster whose configuration to return. Structured like `projects/{project}/locations/{location}/connectClusters/{connect_cluster_id}`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "managedkafka.projects.locations.connectClusters.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the properties of a single Kafka Connect cluster.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+$",
                      "description": "Identifier. The name of the Kafka Connect cluster. Structured like: projects/{project_number}/locations/{location}/connectClusters/{connect_cluster_id}",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "ConnectCluster"
                  },
                  "id": "managedkafka.projects.locations.connectClusters.patch",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "managedkafka.projects.locations.connectClusters.list",
                  "path": "v1/{+parent}/connectClusters",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of Connect clusters to return. The service may return fewer than this value. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent project/location whose Connect clusters are to be listed. Structured like `projects/{project}/locations/{location}`."
                    },
                    "filter": {
                      "description": "Optional. Filter expression for the result.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Order by fields for the result.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListConnectClusters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectClusters` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists the Kafka Connect clusters in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListConnectClustersResponse"
                  }
                },
                "create": {
                  "id": "managedkafka.projects.locations.connectClusters.create",
                  "path": "v1/{+parent}/connectClusters",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ConnectCluster"
                  },
                  "description": "Creates a new Kafka Connect cluster in a given project and location.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent project/location in which to create the Kafka Connect cluster. Structured like `projects/{project}/locations/{location}/`.",
                      "location": "path"
                    },
                    "connectClusterId": {
                      "description": "Required. The ID to use for the Connect cluster, which will become the final component of the cluster's name. The ID must be 1-63 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` to comply with RFC 1035. This value is structured like: `my-cluster-id`.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID to avoid duplication of requests. If a request times out or fails, retrying with the same ID allows the server to recognize the previous attempt. For at least 60 minutes, the server ignores duplicate requests bearing the same ID. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID within 60 minutes of the last request, the server checks if an original operation with the same request ID was received. If so, the server ignores the second request. The request ID must be a valid UUID. A zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "connectors": {
                  "methods": {
                    "restart": {
                      "description": "Restarts the connector.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the connector to restart. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "RestartConnectorResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:restart",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.connectClusters.connectors.restart",
                      "path": "v1/{+name}:restart",
                      "request": {
                        "$ref": "RestartConnectorRequest"
                      }
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "managedkafka.projects.locations.connectClusters.connectors.get",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Connector"
                      },
                      "description": "Returns the properties of a single connector.",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the connector whose configuration to return. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "patch": {
                      "id": "managedkafka.projects.locations.connectClusters.connectors.patch",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Connector"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "description": "Identifier. The name of the connector. Structured like: projects/{project}/locations/{location}/connectClusters/{connect_cluster}/connectors/{connector}",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. The mask is required and a value of * will update all fields.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates the properties of a connector.",
                      "response": {
                        "$ref": "Connector"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "stop": {
                      "response": {
                        "$ref": "StopConnectorResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connectClusters/[^/]+/connectors/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the connector to stop. Structured like: projects/{project}/locations/{location}/connectClusters/{connectCluster}/connectors/{connector}"
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Stops the connector.",
                      "request": {
                        "$ref": "StopConnectorRequest"
                      },
                      "id": "managedkafka.projects.locations.connectClusters.connectors.stop",
                      "path": "v1/{+name}:stop",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectClusters/{connectClustersId}/connectors/{connectorsId}:stop",
                      "parameterOrder": [
                        "name"
[...]
