{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "resources": {
    "accounts": {
      "resources": {
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "parameters": {
                    "name": {
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "path": "v1/{+parent}/productCertifications",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+$"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies."
                },
                "get": {
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    }
                  },
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            }
          }
        },
        "products": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListProductsResponse"
              },
              "path": "v1/{+parent}/products",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "flatPath": "v1/accounts/{accountsId}/products",
              "id": "manufacturers.accounts.products.list",
              "parameters": {
                "include": {
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "repeated": true,
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token returned by the previous request.",
                  "type": "string"
                }
              },
              "description": "Lists all the products in a Manufacturer Center account."
            },
            "update": {
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "id": "manufacturers.accounts.products.update",
              "parameters": {
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                },
                "name": {
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "path": "v1/{+parent}/products/{+name}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "request": {
                "$ref": "Attributes"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "httpMethod": "PUT"
            },
            "get": {
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "id": "manufacturers.accounts.products.get",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                },
                "include": {
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "type": "string",
                  "repeated": true,
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ]
                },
                "name": {
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/products/{+name}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "response": {
                "$ref": "Product"
              }
            },
            "delete": {
              "description": "Deletes the product from a Manufacturer Center account.",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "id": "manufacturers.accounts.products.delete",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "path": "v1/{+parent}/products/{+name}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "httpMethod": "DELETE"
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "description": "Public API for managing Manufacturer Center related data.",
  "id": "manufacturers:v1",
  "schemas": {
    "ProductDetail": {
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "type": "object",
      "id": "ProductDetail",
      "properties": {
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        },
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        }
      }
    },
    "FeatureDescription": {
      "id": "FeatureDescription",
      "properties": {
        "headline": {
          "description": "A short description of the feature.",
          "type": "string"
        },
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        },
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        }
      },
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "type": "object"
    },
    "Grocery": {
      "type": "object",
      "id": "Grocery",
      "properties": {
        "nutritionClaim": {
          "items": {
            "type": "string"
          },
          "description": "Nutrition claim.",
          "type": "array"
        },
        "alcoholByVolume": {
          "format": "double",
          "description": "Alcohol by volume.",
          "type": "number"
        },
        "allergens": {
          "description": "Allergens.",
          "type": "string"
        },
        "directions": {
          "description": "Directions.",
          "type": "string"
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "derivedNutritionClaim": {
          "description": "Derived nutrition claim.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "indications": {
          "description": "Indications.",
          "type": "string"
        },
        "storageInstructions": {
          "description": "Storage instructions.",
          "type": "string"
        }
      }
    },
    "Image": {
      "id": "Image",
      "properties": {
        "type": {
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ]
        },
        "status": {
          "description": "The status of the image. @OutputOnly",
          "type": "string",
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ]
        },
        "imageUrl": {
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully.",
          "type": "string"
        }
      },
      "description": "An image.",
      "type": "object"
    },
    "Attributes": {
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "type": "object",
      "id": "Attributes",
      "properties": {
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "nutrition": {
          "$ref": "Nutrition",
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings."
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "videoLink": {
          "items": {
            "type": "string"
          },
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array"
        },
        "scent": {
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "featureDescription": {
          "items": {
            "$ref": "FeatureDescription"
          },
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array"
        },
        "sizeType": {
          "items": {
            "type": "string"
          },
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "type": "array"
        },
        "imageLink": {
          "$ref": "Image",
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image."
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "productType": {
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "releaseDate": {
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release.",
          "type": "string"
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "richProductContent": {
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gender": {
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        },
        "size": {
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "gtin": {
          "items": {
            "type": "string"
          },
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "type": "array"
        },
        "capacity": {
          "$ref": "Capacity",
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "productHighlight": {
          "items": {
            "type": "string"
          },
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "type": "array"
        },
        "material": {
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material.",
          "type": "string"
        },
        "excludedDestination": {
          "items": {
            "type": "string"
          },
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "type": "array"
        },
        "suggestedRetailPrice": {
          "$ref": "Price",
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price."
        },
        "grocery": {
          "$ref": "Grocery",
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery."
        },
        "includedDestination": {
          "items": {
            "type": "string"
          },
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "type": "array"
        },
        "intendedCountry": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown.",
          "type": "array"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "productDetail": {
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "type": "array"
        },
        "certification": {
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "description": "Optional. List of certifications claimed by this product.",
          "type": "array"
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "disclosureDate": {
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme.",
          "type": "string"
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "description": {
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        }
      }
    },
    "Count": {
      "id": "Count",
      "properties": {
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "description": "The unit in which these products are counted.",
          "type": "string"
        }
      },
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "type": "object"
    },
    "ProductCertification": {
      "id": "ProductCertification",
      "properties": {
        "certification": {
          "description": "Required. A list of certifications to link to the described product.",
          "type": "array",
          "items": {
            "$ref": "Certification"
          }
        },
        "countryCode": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "type": "array"
        },
        "issues": {
          "description": "Output only. A server-generated list of issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          },
          "readOnly": true
        },
        "brand": {
          "description": "Required. This is the product's brand name. The brand is used to help identify your product.",
          "type": "string"
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "description": "Optional. These are your own product categorization system in your product data.",
          "type": "array"
        },
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "destinationStatuses": {
          "readOnly": true,
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "Output only. The statuses of the destinations.",
          "type": "array"
        },
        "mpn": {
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productCode": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Another name for GTIN.",
          "type": "array"
        }
      },
      "description": "Product certification data.",
      "type": "object"
    },
    "Issue": {
      "id": "Issue",
      "properties": {
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        },
        "title": {
          "description": "Short title describing the nature of the issue.",
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The timestamp when this issue appeared.",
          "type": "string"
        },
        "applicableCountries": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "type": "array"
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        },
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "description": {
          "description": "Longer description of the issue focused on how to resolve it.",
          "type": "string"
        },
        "resolution": {
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "description": "What needs to happen to resolve the issue.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "description": "The severity of the issue.",
          "type": "string"
        }
      },
      "description": "Product issue.",
      "type": "object"
    },
    "Capacity": {
      "id": "Capacity",
      "properties": {
        "value": {
          "description": "The numeric value of the capacity.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      },
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "type": "object"
    },
    "Product": {
      "id": "Product",
      "properties": {
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "description": "A server-generated list of issues associated with the product.",
          "type": "array"
        },
        "feedLabel": {
          "description": "Optional. The feed label for the product.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "destinationStatuses": {
          "description": "The status of the destinations.",
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        }
      },
      "description": "Product data.",
      "type": "object"
    },
    "FloatUnit": {
      "id": "FloatUnit",
      "properties": {
        "amount": {
          "description": "amount.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "description": "unit.",
          "type": "string"
        }
      },
      "description": "Combination of float amount and unit.",
      "type": "object"
    },
    "ListProductCertificationsResponse": {
      "id": "ListProductCertificationsResponse",
      "properties": {
        "productCertifications": {
          "description": "The product certifications from the specified certification body.",
          "type": "array",
          "items": {
            "$ref": "ProductCertification"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for ListProductCertifications method.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "VoluntaryNutritionFact": {
      "id": "VoluntaryNutritionFact",
      "properties": {
        "dailyPercentage": {
          "format": "double",
          "description": "Daily percentage.",
          "type": "number"
        },
        "name": {
          "description": "Name.",
          "type": "string"
        },
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        }
      },
      "description": "Voluntary Nutrition Facts.",
      "type": "object"
    },
    "DestinationStatus": {
      "id": "DestinationStatus",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ],
          "description": "The status of the destination.",
          "type": "string"
        },
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "type": "array"
        },
        "pendingCountries": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "type": "array"
        },
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "type": "array"
        }
      },
      "description": "The destination status.",
      "type": "object"
    },
    "ListProductsResponse": {
      "type": "object",
      "id": "ListProductsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of product statuses.",
          "type": "string"
        },
        "products": {
          "description": "List of the products.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        }
      }
    },
    "Nutrition": {
      "id": "Nutrition",
      "properties": {
        "totalSugars": {
          "$ref": "FloatUnit",
          "description": "Total sugars."
        },
        "polyunsaturatedFat": {
          "description": "Polyunsaturated fat.",
          "$ref": "FloatUnit"
        },
        "protein": {
          "$ref": "FloatUnit",
          "description": "Protein."
        },
        "voluntaryNutritionFact": {
          "description": "Voluntary nutrition fact.",
          "type": "array",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          }
        },
        "addedSugarsDailyPercentage": {
          "format": "double",
          "description": "Added sugars daily percentage.",
          "type": "number"
        },
        "iron": {
          "description": "Iron.",
          "$ref": "FloatUnit"
        },
        "dietaryFiber": {
          "$ref": "FloatUnit",
          "description": "Dietary fiber."
        },
        "sodium": {
          "$ref": "FloatUnit",
          "description": "Sodium."
        },
        "transFatDailyPercentage": {
          "description": "Trans fat daily percentage.",
          "type": "number",
          "format": "double"
        },
        "folateDailyPercentage": {
          "description": "Folate daily percentage.",
          "type": "number",
          "format": "double"
        },
        "proteinDailyPercentage": {
          "format": "double",
          "description": "Protein daily percentage.",
          "type": "number"
        },
        "cholesterolDailyPercentage": {
          "description": "Cholesterol daily percentage.",
          "type": "number",
          "format": "double"
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        },
        "addedSugars": {
          "$ref": "FloatUnit",
          "description": "Added sugars."
        },
        "folateMcgDfe": {
          "format": "double",
          "description": "Folate mcg DFE.",
          "type": "number"
        },
        "energyFromFat": {
          "$ref": "FloatUnit",
          "description": "Energy from fat."
        },
        "dietaryFiberDailyPercentage": {
          "description": "Dietary fiber daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalCarbohydrate": {
          "$ref": "FloatUnit",
          "description": "Total carbohydrate."
        },
        "ironDailyPercentage": {
          "description": "Iron daily percentage.",
          "type": "number",
          "format": "double"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "saturatedFatDailyPercentage": {
          "format": "double",
          "description": "Saturated fat daily percentage.",
          "type": "number"
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "folateFolicAcid": {
          "$ref": "FloatUnit",
          "description": "Folate folic acid."
        },
        "totalSugarsDailyPercentage": {
          "format": "double",
          "description": "Total sugars daily percentage.",
          "type": "number"
        },
        "cholesterol": {
          "$ref": "FloatUnit",
          "description": "Cholesterol."
        },
        "servingsPerContainer": {
          "description": "Servings per container.",
          "type": "string"
        },
        "totalCarbohydrateDailyPercentage": {
          "description": "Total carbohydrate daily percentage.",
          "type": "number",
          "format": "double"
        },
        "polyols": {
          "description": "Polyols.",
          "$ref": "FloatUnit"
        },
        "monounsaturatedFat": {
          "description": "Monounsaturated fat.",
          "$ref": "FloatUnit"
        },
        "energy": {
          "$ref": "FloatUnit",
          "description": "Mandatory Nutrition Facts. Energy."
        },
        "vitaminD": {
          "$ref": "FloatUnit",
          "description": "Vitamin D."
        },
        "vitaminDDailyPercentage": {
          "format": "double",
          "description": "Vitamin D daily percentage.",
          "type": "number"
        },
        "potassiumDailyPercentage": {
          "description": "Potassium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalFat": {
          "$ref": "FloatUnit",
          "description": "Total fat."
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "totalFatDailyPercentage": {
          "description": "Total fat daily percentage.",
          "type": "number",
          "format": "double"
        },
        "starch": {
          "$ref": "FloatUnit",
          "description": "Starch."
        },
        "potassium": {
          "$ref": "FloatUnit",
          "description": "Potassium."
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "calciumDailyPercentage": {
          "description": "Calcium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "sodiumDailyPercentage": {
          "description": "Sodium daily percentage.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "description": "Description of a certification.",
      "type": "object",
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "properties": {
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        }
      }
    },
    "Certification": {
      "id": "Certification",
      "properties": {
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        }
      },
      "description": "Description of a certification.",
      "type": "object"
    },
    "Price": {
      "id": "Price",
      "properties": {
        "amount": {
          "description": "The numeric value of the price.",
          "type": "string"
        },
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        }
      },
      "description": "A price.",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "version_module": true,
  "basePath": "",
  "protocol": "rest",
  "name": "manufacturers",
  "revision": "20260807",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "title": "Manufacturer Center API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "rootUrl": "https://manufacturers.googleapis.com/",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "canonicalName": "Manufacturer Center"
}