{
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Public API for managing Manufacturer Center related data.",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "Price": {
      "properties": {
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        },
        "amount": {
          "type": "string",
          "description": "The numeric value of the price."
        }
      },
      "type": "object",
      "description": "A price.",
      "id": "Price"
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "type": "object",
      "properties": {
        "products": {
          "items": {
            "$ref": "Product"
          },
          "description": "List of the products.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of product statuses.",
          "type": "string"
        }
      }
    },
    "Capacity": {
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The numeric value of the capacity."
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Capacity",
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
    },
    "FloatUnit": {
      "properties": {
        "amount": {
          "description": "amount.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "unit."
        }
      },
      "id": "FloatUnit",
      "type": "object",
      "description": "Combination of float amount and unit."
    },
    "ProductDetail": {
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "properties": {
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        },
        "attributeName": {
          "type": "string",
          "description": "The name of the attribute."
        },
        "sectionName": {
          "type": "string",
          "description": "A short section name that can be reused between multiple product details."
        }
      },
      "type": "object",
      "id": "ProductDetail"
    },
    "VoluntaryNutritionFact": {
      "properties": {
        "name": {
          "description": "Name.",
          "type": "string"
        },
        "dailyPercentage": {
          "description": "Daily percentage.",
          "format": "double",
          "type": "number"
        },
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        }
      },
      "type": "object",
      "id": "VoluntaryNutritionFact",
      "description": "Voluntary Nutrition Facts."
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "type": "object",
      "description": "Description of a certification.",
      "properties": {
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        }
      }
    },
    "ListProductCertificationsResponse": {
      "type": "object",
      "id": "ListProductCertificationsResponse",
      "properties": {
        "productCertifications": {
          "items": {
            "$ref": "ProductCertification"
          },
          "type": "array",
          "description": "The product certifications from the specified certification body."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for ListProductCertifications method."
    },
    "ProductCertification": {
      "id": "ProductCertification",
      "description": "Product certification data.",
      "properties": {
        "productType": {
          "description": "Optional. These are your own product categorization system in your product data.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "issues": {
          "type": "array",
          "description": "Output only. A server-generated list of issues associated with the product.",
          "items": {
            "$ref": "Issue"
          },
          "readOnly": true
        },
        "destinationStatuses": {
          "readOnly": true,
          "description": "Output only. The statuses of the destinations.",
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "certification": {
          "description": "Required. A list of certifications to link to the described product.",
          "items": {
            "$ref": "Certification"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637."
        },
        "mpn": {
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "productCode": {
          "type": "array",
          "description": "Optional. Another name for GTIN.",
          "items": {
            "type": "string"
          }
        },
        "countryCode": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2)."
        },
        "brand": {
          "type": "string",
          "description": "Required. This is the product's brand name. The brand is used to help identify your product."
        }
      },
      "type": "object"
    },
    "DestinationStatus": {
      "id": "DestinationStatus",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "description": "The status of the destination.",
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ]
        },
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "readOnly": true
        },
        "pendingCountries": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval."
        },
        "disapprovedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The destination status."
    },
    "Attributes": {
      "id": "Attributes",
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "properties": {
        "videoLink": {
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gender": {
          "type": "string",
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender."
        },
        "productType": {
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includedDestination": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description."
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "targetClientId": {
          "type": "string",
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344"
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "format": {
          "type": "string",
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format."
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "releaseDate": {
          "type": "string",
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release."
        },
        "disclosureDate": {
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure.",
          "type": "string"
        },
        "scent": {
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "grocery": {
          "$ref": "Grocery",
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery."
        },
        "certification": {
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "type": "array",
          "description": "Optional. List of certifications claimed by this product."
        },
        "richProductContent": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865"
        },
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "items": {
            "$ref": "Image"
          },
          "type": "array"
        },
        "productName": {
          "type": "string",
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname."
        },
        "suggestedRetailPrice": {
          "$ref": "Price",
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price."
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "size": {
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "sizeType": {
          "type": "array",
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "items": {
            "type": "string"
          }
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "sizeSystem": {
          "type": "string",
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem."
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "featureDescription": {
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "brand": {
          "type": "string",
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand."
        },
        "intendedCountry": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown.",
          "type": "array"
        },
        "gtin": {
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pattern": {
          "type": "string",
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern."
        },
        "productHighlight": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942"
        },
        "material": {
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material.",
          "type": "string"
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "mpn": {
          "type": "string",
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn."
        },
        "productDetail": {
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "type": "array"
        },
        "excludedDestination": {
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Certification": {
      "properties": {
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Description of a certification.",
      "id": "Certification"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Product": {
      "properties": {
        "issues": {
          "description": "A server-generated list of issues associated with the product.",
          "items": {
            "$ref": "Issue"
          },
          "type": "array"
        },
        "targetCountry": {
          "type": "string",
          "description": "The target country of the product as a CLDR territory code (for example, US)."
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account."
        },
        "productId": {
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "The status of the destinations.",
          "type": "array"
        },
        "feedLabel": {
          "description": "Optional. The feed label for the product.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        }
      },
      "type": "object",
      "description": "Product data.",
      "id": "Product"
    },
    "Count": {
      "type": "object",
      "id": "Count",
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "properties": {
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "type": "string",
          "description": "The unit in which these products are counted."
        }
      }
    },
    "Issue": {
      "type": "object",
      "properties": {
        "title": {
          "description": "Short title describing the nature of the issue.",
          "type": "string"
        },
        "resolution": {
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "type": "string",
          "description": "What needs to happen to resolve the issue."
        },
        "description": {
          "description": "Longer description of the issue focused on how to resolve it.",
          "type": "string"
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        },
        "applicableCountries": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product."
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when this issue appeared."
        },
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "description": "The severity of the issue."
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        }
      },
      "id": "Issue",
      "description": "Product issue."
    },
    "Image": {
      "properties": {
        "imageUrl": {
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "type": "string",
          "description": "The status of the image. @OutputOnly"
        },
        "type": {
          "type": "string",
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ]
        }
      },
      "id": "Image",
      "description": "An image.",
      "type": "object"
    },
    "FeatureDescription": {
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "An optional image describing the feature."
        },
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        },
        "headline": {
          "description": "A short description of the feature.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FeatureDescription",
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc."
    },
    "Grocery": {
      "id": "Grocery",
      "type": "object",
      "properties": {
        "nutritionClaim": {
          "description": "Nutrition claim.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allergens": {
          "type": "string",
          "description": "Allergens."
        },
        "derivedNutritionClaim": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Derived nutrition claim."
        },
        "alcoholByVolume": {
          "type": "number",
          "format": "double",
          "description": "Alcohol by volume."
        },
        "ingredients": {
          "type": "string",
          "description": "Ingredients."
        },
        "indications": {
          "description": "Indications.",
          "type": "string"
        },
        "directions": {
          "type": "string",
          "description": "Directions."
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "storageInstructions": {
          "description": "Storage instructions.",
          "type": "string"
        }
      }
    },
    "Nutrition": {
      "id": "Nutrition",
      "type": "object",
      "properties": {
        "folateDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Folate daily percentage."
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "iron": {
          "$ref": "FloatUnit",
          "description": "Iron."
        },
        "dietaryFiberDailyPercentage": {
          "type": "number",
          "description": "Dietary fiber daily percentage.",
          "format": "double"
        },
        "totalFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Total fat daily percentage."
        },
        "energyFromFat": {
          "$ref": "FloatUnit",
          "description": "Energy from fat."
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "potassium": {
          "$ref": "FloatUnit",
          "description": "Potassium."
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "calciumDailyPercentage": {
          "description": "Calcium daily percentage.",
          "format": "double",
          "type": "number"
        },
        "voluntaryNutritionFact": {
          "type": "array",
          "description": "Voluntary nutrition fact.",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          }
        },
        "servingsPerContainer": {
          "description": "Servings per container.",
          "type": "string"
        },
        "proteinDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Protein daily percentage."
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrateDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Total carbohydrate daily percentage."
        },
        "totalSugarsDailyPercentage": {
          "description": "Total sugars daily percentage.",
          "type": "number",
          "format": "double"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "cholesterolDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Cholesterol daily percentage."
        },
        "polyunsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Polyunsaturated fat."
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "potassiumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Potassium daily percentage."
        },
        "sodiumDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Sodium daily percentage."
        },
        "saturatedFatDailyPercentage": {
          "format": "double",
          "description": "Saturated fat daily percentage.",
          "type": "number"
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "cholesterol": {
          "$ref": "FloatUnit",
          "description": "Cholesterol."
        },
        "sodium": {
          "$ref": "FloatUnit",
          "description": "Sodium."
        },
        "polyols": {
          "description": "Polyols.",
          "$ref": "FloatUnit"
        },
        "ironDailyPercentage": {
          "description": "Iron daily percentage.",
          "type": "number",
          "format": "double"
        },
        "monounsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Monounsaturated fat."
        },
        "addedSugarsDailyPercentage": {
          "description": "Added sugars daily percentage.",
          "format": "double",
          "type": "number"
        },
        "starch": {
          "$ref": "FloatUnit",
          "description": "Starch."
        },
        "vitaminD": {
          "description": "Vitamin D.",
          "$ref": "FloatUnit"
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "transFatDailyPercentage": {
          "type": "number",
          "description": "Trans fat daily percentage.",
          "format": "double"
        },
        "folateMcgDfe": {
          "type": "number",
          "description": "Folate mcg DFE.",
          "format": "double"
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "totalSugars": {
          "description": "Total sugars.",
          "$ref": "FloatUnit"
        },
        "vitaminDDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Vitamin D daily percentage."
        },
        "protein": {
          "$ref": "FloatUnit",
          "description": "Protein."
        }
      }
    }
  },
  "id": "manufacturers:v1",
  "kind": "discovery#restDescription",
  "version": "v1",
  "basePath": "",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "accounts": {
      "resources": {
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+parent}/productCertifications",
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ]
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "path": "v1/{+name}"
                },
                "delete": {
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "httpMethod": "DELETE",
                  "id": "manufacturers.accounts.languages.productCertifications.delete"
                },
                "get": {
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "products": {
          "methods": {
            "delete": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "path": "v1/{+parent}/products/{+name}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string"
                },
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "id": "manufacturers.accounts.products.delete",
              "description": "Deletes the product from a Manufacturer Center account.",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ]
            },
            "get": {
              "parameterOrder": [
                "parent",
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "id": "manufacturers.accounts.products.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string"
                },
                "include": {
                  "type": "string",
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "repeated": true,
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ]
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+parent}/products/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "response": {
                "$ref": "Product"
              },
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "httpMethod": "GET"
            },
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                },
                "pageToken": {
                  "description": "The token returned by the previous request.",
                  "type": "string",
                  "location": "query"
                },
                "include": {
                  "type": "string",
                  "repeated": true,
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ]
                },
                "pageSize": {
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "response": {
                "$ref": "ListProductsResponse"
              },
              "description": "Lists all the products in a Manufacturer Center account.",
              "path": "v1/{+parent}/products",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/accounts/{accountsId}/products",
              "id": "manufacturers.accounts.products.list"
            },
            "update": {
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "id": "manufacturers.accounts.products.update",
              "httpMethod": "PUT",
              "path": "v1/{+parent}/products/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "pattern": "^[^/]+$"
                },
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Attributes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ]
            }
          }
        }
      }
    }
  },
  "canonicalName": "Manufacturer Center",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "revision": "20260902",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "title": "Manufacturer Center API",
  "name": "manufacturers",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "rootUrl": "https://manufacturers.googleapis.com/",
  "batchPath": "batch",
  "servicePath": ""
}