{
  "discoveryVersion": "v1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "id": "manufacturers:v1",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Manufacturer Center API",
  "rootUrl": "https://manufacturers.googleapis.com/",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/manufacturers/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "canonicalName": "Manufacturer Center",
  "protocol": "rest",
  "schemas": {
    "FloatUnit": {
      "type": "object",
      "id": "FloatUnit",
      "description": "Combination of float amount and unit.",
      "properties": {
        "amount": {
          "description": "amount.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "type": "string",
          "description": "unit."
        }
      }
    },
    "Certification": {
      "type": "object",
      "id": "Certification",
      "description": "Description of a certification.",
      "properties": {
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        }
      }
    },
    "Grocery": {
      "id": "Grocery",
      "properties": {
        "indications": {
          "type": "string",
          "description": "Indications."
        },
        "nutritionClaim": {
          "type": "array",
          "description": "Nutrition claim.",
          "items": {
            "type": "string"
          }
        },
        "ingredients": {
          "type": "string",
          "description": "Ingredients."
        },
        "activeIngredients": {
          "type": "string",
          "description": "Active ingredients."
        },
        "allergens": {
          "type": "string",
          "description": "Allergens."
        },
        "derivedNutritionClaim": {
          "description": "Derived nutrition claim.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "alcoholByVolume": {
          "type": "number",
          "description": "Alcohol by volume.",
          "format": "double"
        },
        "directions": {
          "type": "string",
          "description": "Directions."
        },
        "storageInstructions": {
          "description": "Storage instructions.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Attributes": {
      "type": "object",
      "id": "Attributes",
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "properties": {
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "includedDestination": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "disclosureDate": {
          "type": "string",
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure."
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "size": {
          "type": "string",
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size."
        },
        "productHighlight": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942"
        },
        "title": {
          "type": "string",
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title."
        },
        "excludedDestination": {
          "type": "array",
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          }
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "certification": {
          "description": "Optional. List of certifications claimed by this product.",
          "type": "array",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          }
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "itemGroupId": {
          "type": "string",
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid."
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "releaseDate": {
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release.",
          "type": "string"
        },
        "gender": {
          "type": "string",
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender."
        },
        "richProductContent": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865"
        },
        "additionalImageLink": {
          "type": "array",
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "items": {
            "$ref": "Image"
          }
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "scent": {
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "color": {
          "type": "string",
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color."
        },
        "videoLink": {
          "items": {
            "type": "string"
          },
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array"
        },
        "productLine": {
          "type": "string",
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline."
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "sizeType": {
          "type": "array",
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "items": {
            "type": "string"
          }
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "productType": {
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "featureDescription": {
          "items": {
            "$ref": "FeatureDescription"
          },
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array"
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "targetClientId": {
          "type": "string",
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344"
        },
        "gtin": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin."
        },
        "description": {
          "type": "string",
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description."
        },
        "intendedCountry": {
          "type": "array",
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown.",
          "items": {
            "type": "string"
          }
        },
        "productDetail": {
          "type": "array",
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "material": {
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material.",
          "type": "string"
        }
      }
    },
    "Nutrition": {
      "id": "Nutrition",
      "properties": {
        "potassiumDailyPercentage": {
          "type": "number",
          "description": "Potassium daily percentage.",
          "format": "double"
        },
        "nutritionFactMeasure": {
          "type": "string",
          "description": "Nutrition fact measure."
        },
        "starch": {
          "description": "Starch.",
          "$ref": "FloatUnit"
        },
        "iron": {
          "description": "Iron.",
          "$ref": "FloatUnit"
        },
        "monounsaturatedFat": {
          "description": "Monounsaturated fat.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "addedSugarsDailyPercentage": {
          "description": "Added sugars daily percentage.",
          "type": "number",
          "format": "double"
        },
        "folateDailyPercentage": {
          "description": "Folate daily percentage.",
          "type": "number",
          "format": "double"
        },
        "polyunsaturatedFat": {
          "description": "Polyunsaturated fat.",
          "$ref": "FloatUnit"
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "vitaminD": {
          "description": "Vitamin D.",
          "$ref": "FloatUnit"
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        },
        "proteinDailyPercentage": {
          "description": "Protein daily percentage.",
          "type": "number",
          "format": "double"
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "dietaryFiberDailyPercentage": {
          "format": "double",
          "description": "Dietary fiber daily percentage.",
          "type": "number"
        },
        "sodium": {
          "description": "Sodium.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrateDailyPercentage": {
          "type": "number",
          "description": "Total carbohydrate daily percentage.",
          "format": "double"
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "vitaminDDailyPercentage": {
          "type": "number",
          "description": "Vitamin D daily percentage.",
          "format": "double"
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "totalFatDailyPercentage": {
          "type": "number",
          "description": "Total fat daily percentage.",
          "format": "double"
        },
        "servingsPerContainer": {
          "type": "string",
          "description": "Servings per container."
        },
        "potassium": {
          "description": "Potassium.",
          "$ref": "FloatUnit"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "voluntaryNutritionFact": {
          "description": "Voluntary nutrition fact.",
          "type": "array",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          }
        },
        "ironDailyPercentage": {
          "type": "number",
          "description": "Iron daily percentage.",
          "format": "double"
        },
        "cholesterol": {
          "description": "Cholesterol.",
          "$ref": "FloatUnit"
        },
        "sodiumDailyPercentage": {
          "description": "Sodium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "saturatedFatDailyPercentage": {
          "type": "number",
          "description": "Saturated fat daily percentage.",
          "format": "double"
        },
        "polyols": {
          "description": "Polyols.",
          "$ref": "FloatUnit"
        },
        "totalSugars": {
          "description": "Total sugars.",
          "$ref": "FloatUnit"
        },
        "calciumDailyPercentage": {
          "format": "double",
          "description": "Calcium daily percentage.",
          "type": "number"
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "folateMcgDfe": {
          "type": "number",
          "description": "Folate mcg DFE.",
          "format": "double"
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "transFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Trans fat daily percentage."
        },
        "protein": {
          "description": "Protein.",
          "$ref": "FloatUnit"
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "totalSugarsDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Total sugars daily percentage."
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "cholesterolDailyPercentage": {
          "format": "double",
          "description": "Cholesterol daily percentage.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ListProductsResponse": {
      "type": "object",
      "id": "ListProductsResponse",
      "properties": {
        "products": {
          "items": {
            "$ref": "Product"
          },
          "type": "array",
          "description": "List of the products."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of product statuses."
        }
      }
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "description": "Description of a certification.",
      "properties": {
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        }
      },
      "type": "object"
    },
    "FeatureDescription": {
      "type": "object",
      "id": "FeatureDescription",
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "properties": {
        "headline": {
          "type": "string",
          "description": "A short description of the feature."
        },
        "text": {
          "type": "string",
          "description": "A detailed description of the feature."
        },
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        }
      }
    },
    "Capacity": {
      "type": "object",
      "id": "Capacity",
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The numeric value of the capacity.",
          "format": "int64"
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      }
    },
    "DestinationStatus": {
      "id": "DestinationStatus",
      "description": "The destination status.",
      "properties": {
        "approvedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "status": {
          "type": "string",
          "description": "The status of the destination.",
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ],
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ]
        },
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "pendingCountries": {
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "disapprovedCountries": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListProductCertificationsResponse": {
      "id": "ListProductCertificationsResponse",
      "description": "Response for ListProductCertifications method.",
      "properties": {
        "productCertifications": {
          "items": {
            "$ref": "ProductCertification"
          },
          "type": "array",
          "description": "The product certifications from the specified certification body."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "ProductCertification": {
      "id": "ProductCertification",
      "description": "Product certification data.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. This is to clearly identify the product you are certifying."
        },
        "mpn": {
          "items": {
            "type": "string"
          },
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "type": "array"
        },
        "countryCode": {
          "type": "array",
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "description": "Required. This is the product's brand name. The brand is used to help identify your product.",
          "type": "string"
        },
        "productCode": {
          "type": "array",
          "description": "Optional. Another name for GTIN.",
          "items": {
            "type": "string"
          }
        },
        "issues": {
          "description": "Output only. A server-generated list of issues associated with the product.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Issue"
          }
        },
        "certification": {
          "items": {
            "$ref": "Certification"
          },
          "description": "Required. A list of certifications to link to the described product.",
          "type": "array"
        },
        "destinationStatuses": {
          "type": "array",
          "description": "Output only. The statuses of the destinations.",
          "readOnly": true,
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "productType": {
          "type": "array",
          "description": "Optional. These are your own product categorization system in your product data.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Image": {
      "type": "object",
      "id": "Image",
      "description": "An image.",
      "properties": {
        "imageUrl": {
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ]
        },
        "status": {
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "description": "The status of the image. @OutputOnly",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "type": "string"
        }
      }
    },
    "Issue": {
      "id": "Issue",
      "description": "Product issue.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Longer description of the issue focused on how to resolve it."
        },
        "type": {
          "type": "string",
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc."
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "type": "string",
          "description": "The severity of the issue.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "destination": {
          "type": "string",
          "description": "The destination this issue applies to."
        },
        "title": {
          "description": "Short title describing the nature of the issue.",
          "type": "string"
        },
        "applicableCountries": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product."
        },
        "resolution": {
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "description": "What needs to happen to resolve the issue.",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "type": "string"
        },
        "attribute": {
          "type": "string",
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116."
        },
        "timestamp": {
          "description": "The timestamp when this issue appeared.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Product": {
      "type": "object",
      "id": "Product",
      "description": "Product data.",
      "properties": {
        "feedLabel": {
          "type": "string",
          "description": "Optional. The feed label for the product."
        },
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "description": "A server-generated list of issues associated with the product.",
          "type": "array"
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "destinationStatuses": {
          "type": "array",
          "description": "The status of the destinations.",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "name": {
          "type": "string",
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "targetCountry": {
          "type": "string",
          "description": "The target country of the product as a CLDR territory code (for example, US)."
        }
      }
    },
    "Price": {
      "type": "object",
      "id": "Price",
      "description": "A price.",
      "properties": {
        "amount": {
          "type": "string",
          "description": "The numeric value of the price."
        },
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        }
      }
    },
    "VoluntaryNutritionFact": {
      "type": "object",
      "id": "VoluntaryNutritionFact",
      "description": "Voluntary Nutrition Facts.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name."
        },
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        },
        "dailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Daily percentage."
        }
      }
    },
    "Count": {
      "type": "object",
      "id": "Count",
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "properties": {
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "description": "The unit in which these products are counted.",
          "type": "string"
        }
      }
    },
    "ProductDetail": {
      "type": "object",
      "id": "ProductDetail",
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "properties": {
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        },
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "name": "manufacturers",
  "batchPath": "batch",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "get": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true
                },
                "include": {
                  "location": "query",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "repeated": true,
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "required": true
                }
              },
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "path": "v1/{+parent}/products/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "response": {
                "$ref": "Product"
              }
            },
            "update": {
              "parameterOrder": [
                "parent",
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "PUT",
              "path": "v1/{+parent}/products/{+name}",
              "id": "manufacturers.accounts.products.update",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "Attributes"
              },
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ]
            },
            "list": {
              "flatPath": "v1/accounts/{accountsId}/products",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of product statuses to return in the response, used for paging."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The token returned by the previous request."
                },
                "include": {
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "repeated": true,
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ]
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                }
              },
              "description": "Lists all the products in a Manufacturer Center account.",
              "path": "v1/{+parent}/products",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListProductsResponse"
              }
            },
            "delete": {
              "id": "manufacturers.accounts.products.delete",
              "parameters": {
                "name": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "location": "path",
                  "required": true
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                }
              },
              "description": "Deletes the product from a Manufacturer Center account.",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+parent}/products/{+name}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "response": {
                "$ref": "Empty"
              }
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies."
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ]
                },
                "list": {
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "path": "v1/{+parent}/productCertifications",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "Public API for managing Manufacturer Center related data.",
  "revision": "20260626"
}