{
  "name": "manufacturers",
  "description": "Public API for managing Manufacturer Center related data.",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "ownerName": "Google",
  "id": "manufacturers:v1",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "rootUrl": "https://manufacturers.googleapis.com/",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "servicePath": "",
  "canonicalName": "Manufacturer Center",
  "schemas": {
    "Image": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "description": "The status of the image. @OutputOnly"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ]
        },
        "imageUrl": {
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully.",
          "type": "string"
        }
      },
      "id": "Image",
      "description": "An image."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Attributes": {
      "type": "object",
      "properties": {
        "includedDestination": {
          "items": {
            "type": "string"
          },
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "type": "array"
        },
        "color": {
          "type": "string",
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color."
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "pattern": {
          "type": "string",
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern."
        },
        "releaseDate": {
          "type": "string",
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release."
        },
        "count": {
          "$ref": "Count",
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "excludedDestination": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        },
        "gender": {
          "type": "string",
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender."
        },
        "productHighlight": {
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "grocery": {
          "$ref": "Grocery",
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery."
        },
        "productName": {
          "type": "string",
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname."
        },
        "material": {
          "type": "string",
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material."
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "gtin": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin."
        },
        "sizeType": {
          "type": "array",
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "targetClientId": {
          "type": "string",
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344"
        },
        "suggestedRetailPrice": {
          "$ref": "Price",
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price."
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "productPageUrl": {
          "type": "string",
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage."
        },
        "certification": {
          "type": "array",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "description": "Optional. List of certifications claimed by this product."
        },
        "richProductContent": {
          "type": "array",
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "items": {
            "type": "string"
          }
        },
        "scent": {
          "type": "string",
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent."
        },
        "productLine": {
          "type": "string",
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline."
        },
        "intendedCountry": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown."
        },
        "size": {
          "type": "string",
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size."
        },
        "virtualModelLink": {
          "type": "string",
          "description": "Virtual Model (3d) asset link."
        },
        "disclosureDate": {
          "type": "string",
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure."
        },
        "videoLink": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video."
        },
        "productDetail": {
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "items": {
            "$ref": "ProductDetail"
          },
          "type": "array"
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "description": {
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "featureDescription": {
          "items": {
            "$ref": "FeatureDescription"
          },
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array"
        },
        "sizeSystem": {
          "type": "string",
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem."
        },
        "brand": {
          "type": "string",
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand."
        },
        "productType": {
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "additionalImageLink": {
          "type": "array",
          "items": {
            "$ref": "Image"
          },
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage."
        }
      },
      "id": "Attributes",
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116."
    },
    "Certification": {
      "type": "object",
      "properties": {
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        }
      },
      "id": "Certification",
      "description": "Description of a certification."
    },
    "Capacity": {
      "properties": {
        "value": {
          "description": "The numeric value of the capacity.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      },
      "id": "Capacity",
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "type": "object"
    },
    "Grocery": {
      "type": "object",
      "properties": {
        "directions": {
          "description": "Directions.",
          "type": "string"
        },
        "storageInstructions": {
          "type": "string",
          "description": "Storage instructions."
        },
        "indications": {
          "type": "string",
          "description": "Indications."
        },
        "derivedNutritionClaim": {
          "type": "array",
          "description": "Derived nutrition claim.",
          "items": {
            "type": "string"
          }
        },
        "allergens": {
          "description": "Allergens.",
          "type": "string"
        },
        "nutritionClaim": {
          "description": "Nutrition claim.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "alcoholByVolume": {
          "format": "double",
          "type": "number",
          "description": "Alcohol by volume."
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "activeIngredients": {
          "type": "string",
          "description": "Active ingredients."
        }
      },
      "id": "Grocery"
    },
    "Nutrition": {
      "id": "Nutrition",
      "properties": {
        "polyunsaturatedFat": {
          "description": "Polyunsaturated fat.",
          "$ref": "FloatUnit"
        },
        "dietaryFiber": {
          "$ref": "FloatUnit",
          "description": "Dietary fiber."
        },
        "monounsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Monounsaturated fat."
        },
        "protein": {
          "description": "Protein.",
          "$ref": "FloatUnit"
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "preparedSizeDescription": {
          "type": "string",
          "description": "Prepared size description."
        },
        "transFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Trans fat daily percentage."
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "dietaryFiberDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Dietary fiber daily percentage."
        },
        "voluntaryNutritionFact": {
          "type": "array",
          "description": "Voluntary nutrition fact.",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          }
        },
        "totalCarbohydrateDailyPercentage": {
          "description": "Total carbohydrate daily percentage.",
          "format": "double",
          "type": "number"
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "potassiumDailyPercentage": {
          "description": "Potassium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "saturatedFat": {
          "$ref": "FloatUnit",
          "description": "Saturated fat."
        },
        "addedSugarsDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Added sugars daily percentage."
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "polyols": {
          "description": "Polyols.",
          "$ref": "FloatUnit"
        },
        "servingsPerContainer": {
          "type": "string",
          "description": "Servings per container."
        },
        "folateMcgDfe": {
          "description": "Folate mcg DFE.",
          "type": "number",
          "format": "double"
        },
        "energy": {
          "$ref": "FloatUnit",
          "description": "Mandatory Nutrition Facts. Energy."
        },
        "starch": {
          "$ref": "FloatUnit",
          "description": "Starch."
        },
        "ironDailyPercentage": {
          "description": "Iron daily percentage.",
          "format": "double",
          "type": "number"
        },
        "transFat": {
          "$ref": "FloatUnit",
          "description": "Trans fat."
        },
        "totalFatDailyPercentage": {
          "description": "Total fat daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "potassium": {
          "$ref": "FloatUnit",
          "description": "Potassium."
        },
        "folateDailyPercentage": {
          "description": "Folate daily percentage.",
          "type": "number",
          "format": "double"
        },
        "calciumDailyPercentage": {
          "description": "Calcium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "iron": {
          "$ref": "FloatUnit",
          "description": "Iron."
        },
        "saturatedFatDailyPercentage": {
          "description": "Saturated fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "calcium": {
          "$ref": "FloatUnit",
          "description": "Calcium."
        },
        "proteinDailyPercentage": {
          "description": "Protein daily percentage.",
          "format": "double",
          "type": "number"
        },
        "cholesterolDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Cholesterol daily percentage."
        },
        "vitaminDDailyPercentage": {
          "description": "Vitamin D daily percentage.",
          "format": "double",
          "type": "number"
        },
        "servingSizeDescription": {
          "type": "string",
          "description": "Food Serving Size. Serving size description."
        },
        "totalSugarsDailyPercentage": {
          "description": "Total sugars daily percentage.",
          "type": "number",
          "format": "double"
        },
        "sodiumDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Sodium daily percentage."
        },
        "totalSugars": {
          "description": "Total sugars.",
          "$ref": "FloatUnit"
        },
        "vitaminD": {
          "$ref": "FloatUnit",
          "description": "Vitamin D."
        },
        "cholesterol": {
          "description": "Cholesterol.",
          "$ref": "FloatUnit"
        },
        "sodium": {
          "description": "Sodium.",
          "$ref": "FloatUnit"
        }
      },
      "type": "object"
    },
    "Count": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "description": "The unit in which these products are counted."
        }
      },
      "id": "Count",
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
    },
    "ListProductCertificationsResponse": {
      "type": "object",
      "id": "ListProductCertificationsResponse",
      "description": "Response for ListProductCertifications method.",
      "properties": {
        "productCertifications": {
          "description": "The product certifications from the specified certification body.",
          "items": {
            "$ref": "ProductCertification"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Product": {
      "properties": {
        "feedLabel": {
          "type": "string",
          "description": "Optional. The feed label for the product."
        },
        "issues": {
          "type": "array",
          "description": "A server-generated list of issues associated with the product.",
          "items": {
            "$ref": "Issue"
          }
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account."
        },
        "productId": {
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "The status of the destinations.",
          "type": "array"
        },
        "parent": {
          "type": "string",
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
        },
        "name": {
          "type": "string",
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        }
      },
      "id": "Product",
      "description": "Product data.",
      "type": "object"
    },
    "ListProductsResponse": {
      "type": "object",
      "id": "ListProductsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of product statuses."
        },
        "products": {
          "type": "array",
          "description": "List of the products.",
          "items": {
            "$ref": "Product"
          }
        }
      }
    },
    "FeatureDescription": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "A detailed description of the feature."
        },
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        },
        "headline": {
          "type": "string",
          "description": "A short description of the feature."
        }
      },
      "id": "FeatureDescription",
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc."
    },
    "ProductDetail": {
      "type": "object",
      "id": "ProductDetail",
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "The name of the attribute."
        },
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        },
        "sectionName": {
          "type": "string",
          "description": "A short section name that can be reused between multiple product details."
        }
      }
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "type": "object",
      "properties": {
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        }
      },
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "description": "Description of a certification."
    },
    "Issue": {
      "properties": {
        "attribute": {
          "type": "string",
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116."
        },
        "applicableCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the issue.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ]
        },
        "title": {
          "description": "Short title describing the nature of the issue.",
          "type": "string"
        },
        "description": {
          "description": "Longer description of the issue focused on how to resolve it.",
          "type": "string"
        },
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "destination": {
          "type": "string",
          "description": "The destination this issue applies to."
        },
        "resolution": {
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "description": "What needs to happen to resolve the issue.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ]
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when this issue appeared."
        }
      },
      "id": "Issue",
      "description": "Product issue.",
      "type": "object"
    },
    "Price": {
      "type": "object",
      "properties": {
        "amount": {
          "description": "The numeric value of the price.",
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the price is denoted."
        }
      },
      "id": "Price",
      "description": "A price."
    },
    "DestinationStatus": {
      "type": "object",
      "properties": {
        "approvedCountries": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "items": {
            "type": "string"
          }
        },
        "pendingCountries": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval."
        },
        "destination": {
          "type": "string",
          "description": "The name of the destination."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "description": "The status of the destination.",
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ]
        },
        "disapprovedCountries": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
        }
      },
      "id": "DestinationStatus",
      "description": "The destination status."
    },
    "VoluntaryNutritionFact": {
      "id": "VoluntaryNutritionFact",
      "description": "Voluntary Nutrition Facts.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name."
        },
        "value": {
          "$ref": "FloatUnit",
          "description": "Value."
        },
        "dailyPercentage": {
          "description": "Daily percentage.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ProductCertification": {
      "type": "object",
      "id": "ProductCertification",
      "description": "Product certification data.",
      "properties": {
        "mpn": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer"
        },
        "issues": {
          "description": "Output only. A server-generated list of issues associated with the product.",
          "items": {
            "$ref": "Issue"
          },
          "readOnly": true,
          "type": "array"
        },
        "certification": {
          "description": "Required. A list of certifications to link to the described product.",
          "items": {
            "$ref": "Certification"
          },
          "type": "array"
        },
        "brand": {
          "description": "Required. This is the product's brand name. The brand is used to help identify your product.",
          "type": "string"
        },
        "productType": {
          "type": "array",
          "description": "Optional. These are your own product categorization system in your product data.",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "Output only. The statuses of the destinations.",
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "productCode": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Another name for GTIN."
        },
        "countryCode": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "type": "array"
        }
      }
    },
    "FloatUnit": {
      "properties": {
        "amount": {
          "description": "amount.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "unit."
        }
      },
      "id": "FloatUnit",
      "description": "Combination of float amount and unit.",
      "type": "object"
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "list": {
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "path": "v1/{+parent}/productCertifications",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.list"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}"
                },
                "delete": {
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.delete"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "response": {
                    "$ref": "ProductCertification"
                  }
                }
              }
            }
          }
        },
        "products": {
          "methods": {
            "list": {
              "parameters": {
                "include": {
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "repeated": true,
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ]
                },
                "parent": {
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token returned by the previous request.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/products",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "path": "v1/{+parent}/products",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "description": "Lists all the products in a Manufacturer Center account.",
              "id": "manufacturers.accounts.products.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameterOrder": [
                "parent",
                "name"
              ],
              "id": "manufacturers.accounts.products.get",
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "path": "v1/{+parent}/products/{+name}",
              "response": {
                "$ref": "Product"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string"
                },
                "include": {
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "repeated": true,
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ]
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string"
                }
              }
            },
            "update": {
              "id": "manufacturers.accounts.products.update",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "path": "v1/{+parent}/products/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "request": {
                "$ref": "Attributes"
              },
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                },
                "name": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string"
                }
              },
              "httpMethod": "PUT",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                }
              },
              "parameterOrder": [
                "parent",
                "name"
              ],
              "id": "manufacturers.accounts.products.delete",
              "description": "Deletes the product from a Manufacturer Center account.",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "path": "v1/{+parent}/products/{+name}"
            }
          }
        }
      }
    }
  },
  "title": "Manufacturer Center API",
  "ownerDomain": "google.com",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "baseUrl": "https://manufacturers.googleapis.com/",
  "version": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260619",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  }
}