{
  "servicePath": "",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "title": "Manufacturer Center API",
  "version": "v1",
  "batchPath": "batch",
  "id": "manufacturers:v1",
  "ownerDomain": "google.com",
  "name": "manufacturers",
  "canonicalName": "Manufacturer Center",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleShoppingManufacturersV1ProductCertification": {
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Description of a certification."
    },
    "Product": {
      "id": "Product",
      "properties": {
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "Issue"
          },
          "description": "A server-generated list of issues associated with the product."
        },
        "feedLabel": {
          "description": "Optional. The feed label for the product.",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "destinationStatuses": {
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "The status of the destinations."
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Product data."
    },
    "ProductDetail": {
      "type": "object",
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "id": "ProductDetail",
      "properties": {
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        },
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the attribute."
        }
      }
    },
    "Attributes": {
      "id": "Attributes",
      "properties": {
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "capacity": {
          "$ref": "Capacity",
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "gender": {
          "type": "string",
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender."
        },
        "productPageUrl": {
          "type": "string",
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage."
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        },
        "brand": {
          "type": "string",
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand."
        },
        "releaseDate": {
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release.",
          "type": "string"
        },
        "featureDescription": {
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "imageLink": {
          "$ref": "Image",
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image."
        },
        "count": {
          "$ref": "Count",
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
        },
        "richProductContent": {
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "flavor": {
          "type": "string",
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor."
        },
        "productDetail": {
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "gtin": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin."
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "videoLink": {
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "excludedDestination": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        },
        "productHighlight": {
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "productType": {
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scent": {
          "type": "string",
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent."
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "disclosureDate": {
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure.",
          "type": "string"
        },
        "sizeType": {
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "color": {
          "type": "string",
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color."
        },
        "material": {
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material.",
          "type": "string"
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "certification": {
          "type": "array",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "description": "Optional. List of certifications claimed by this product."
        },
        "includedDestination": {
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "size": {
          "type": "string",
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size."
        },
        "intendedCountry": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown."
        }
      },
      "type": "object",
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116."
    },
    "Image": {
      "id": "Image",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ]
        },
        "status": {
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "description": "The status of the image. @OutputOnly",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully."
        }
      },
      "type": "object",
      "description": "An image."
    },
    "Certification": {
      "id": "Certification",
      "properties": {
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        }
      },
      "description": "Description of a certification.",
      "type": "object"
    },
    "Capacity": {
      "id": "Capacity",
      "properties": {
        "value": {
          "format": "int64",
          "type": "string",
          "description": "The numeric value of the capacity."
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      },
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "type": "object"
    },
    "ProductCertification": {
      "id": "ProductCertification",
      "properties": {
        "destinationStatuses": {
          "description": "Output only. The statuses of the destinations.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "countryCode": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2)."
        },
        "productCode": {
          "description": "Optional. Another name for GTIN.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "productType": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. These are your own product categorization system in your product data."
        },
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "brand": {
          "type": "string",
          "description": "Required. This is the product's brand name. The brand is used to help identify your product."
        },
        "certification": {
          "type": "array",
          "items": {
            "$ref": "Certification"
          },
          "description": "Required. A list of certifications to link to the described product."
        },
        "issues": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Issue"
          },
          "description": "Output only. A server-generated list of issues associated with the product."
        },
        "mpn": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer"
        }
      },
      "description": "Product certification data.",
      "type": "object"
    },
    "Nutrition": {
      "id": "Nutrition",
      "properties": {
        "monounsaturatedFat": {
          "description": "Monounsaturated fat.",
          "$ref": "FloatUnit"
        },
        "polyunsaturatedFat": {
          "description": "Polyunsaturated fat.",
          "$ref": "FloatUnit"
        },
        "protein": {
          "$ref": "FloatUnit",
          "description": "Protein."
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "transFat": {
          "$ref": "FloatUnit",
          "description": "Trans fat."
        },
        "proteinDailyPercentage": {
          "type": "number",
          "description": "Protein daily percentage.",
          "format": "double"
        },
        "energyFromFat": {
          "$ref": "FloatUnit",
          "description": "Energy from fat."
        },
        "dietaryFiberDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Dietary fiber daily percentage."
        },
        "vitaminDDailyPercentage": {
          "type": "number",
          "description": "Vitamin D daily percentage.",
          "format": "double"
        },
        "calcium": {
          "$ref": "FloatUnit",
          "description": "Calcium."
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "addedSugarsDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Added sugars daily percentage."
        },
        "potassium": {
          "description": "Potassium.",
          "$ref": "FloatUnit"
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "saturatedFatDailyPercentage": {
          "description": "Saturated fat daily percentage.",
          "type": "number",
          "format": "double"
        },
        "calciumDailyPercentage": {
          "type": "number",
          "description": "Calcium daily percentage.",
          "format": "double"
        },
        "totalCarbohydrate": {
          "$ref": "FloatUnit",
          "description": "Total carbohydrate."
        },
        "totalCarbohydrateDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Total carbohydrate daily percentage."
        },
        "potassiumDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Potassium daily percentage."
        },
        "vitaminD": {
          "description": "Vitamin D.",
          "$ref": "FloatUnit"
        },
        "preparedSizeDescription": {
          "type": "string",
          "description": "Prepared size description."
        },
        "folateMcgDfe": {
          "format": "double",
          "type": "number",
          "description": "Folate mcg DFE."
        },
        "folateDailyPercentage": {
          "description": "Folate daily percentage.",
          "type": "number",
          "format": "double"
        },
        "sodiumDailyPercentage": {
          "description": "Sodium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalSugarsDailyPercentage": {
          "description": "Total sugars daily percentage.",
          "type": "number",
          "format": "double"
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "sodium": {
          "description": "Sodium.",
          "$ref": "FloatUnit"
        },
        "cholesterolDailyPercentage": {
          "format": "double",
          "description": "Cholesterol daily percentage.",
          "type": "number"
        },
        "polyols": {
          "$ref": "FloatUnit",
          "description": "Polyols."
        },
        "iron": {
          "$ref": "FloatUnit",
          "description": "Iron."
        },
        "voluntaryNutritionFact": {
          "description": "Voluntary nutrition fact.",
          "type": "array",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          }
        },
        "servingsPerContainer": {
          "type": "string",
          "description": "Servings per container."
        },
        "nutritionFactMeasure": {
          "type": "string",
          "description": "Nutrition fact measure."
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "dietaryFiber": {
          "$ref": "FloatUnit",
          "description": "Dietary fiber."
        },
        "cholesterol": {
          "$ref": "FloatUnit",
          "description": "Cholesterol."
        },
        "transFatDailyPercentage": {
          "description": "Trans fat daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalFatDailyPercentage": {
          "type": "number",
          "description": "Total fat daily percentage.",
          "format": "double"
        },
        "starch": {
          "$ref": "FloatUnit",
          "description": "Starch."
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "totalSugars": {
          "description": "Total sugars.",
          "$ref": "FloatUnit"
        },
        "ironDailyPercentage": {
          "type": "number",
          "description": "Iron daily percentage.",
          "format": "double"
        }
      },
      "type": "object"
    },
    "Price": {
      "id": "Price",
      "properties": {
        "amount": {
          "description": "The numeric value of the price.",
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the price is denoted."
        }
      },
      "description": "A price.",
      "type": "object"
    },
    "VoluntaryNutritionFact": {
      "description": "Voluntary Nutrition Facts.",
      "type": "object",
      "id": "VoluntaryNutritionFact",
      "properties": {
        "name": {
          "description": "Name.",
          "type": "string"
        },
        "dailyPercentage": {
          "format": "double",
          "description": "Daily percentage.",
          "type": "number"
        },
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        }
      }
    },
    "FloatUnit": {
      "description": "Combination of float amount and unit.",
      "type": "object",
      "id": "FloatUnit",
      "properties": {
        "amount": {
          "type": "number",
          "description": "amount.",
          "format": "double"
        },
        "unit": {
          "type": "string",
          "description": "unit."
        }
      }
    },
    "FeatureDescription": {
      "type": "object",
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "id": "FeatureDescription",
      "properties": {
        "headline": {
          "description": "A short description of the feature.",
          "type": "string"
        },
        "image": {
          "$ref": "Image",
          "description": "An optional image describing the feature."
        },
        "text": {
          "type": "string",
          "description": "A detailed description of the feature."
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "Count": {
      "id": "Count",
      "properties": {
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "type": "string",
          "description": "The unit in which these products are counted."
        }
      },
      "type": "object",
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
    },
    "Issue": {
      "description": "Product issue.",
      "type": "object",
      "id": "Issue",
      "properties": {
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Short title describing the nature of the issue."
        },
        "description": {
          "type": "string",
          "description": "Longer description of the issue focused on how to resolve it."
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "description": "The severity of the issue.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string"
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        },
        "timestamp": {
          "description": "The timestamp when this issue appeared.",
          "type": "string",
          "format": "google-datetime"
        },
        "resolution": {
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "type": "string",
          "description": "What needs to happen to resolve the issue.",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ]
        },
        "applicableCountries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product."
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        }
      }
    },
    "DestinationStatus": {
      "id": "DestinationStatus",
      "properties": {
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "description": "The status of the destination.",
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ],
          "type": "string"
        },
        "disapprovedCountries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
        },
        "approvedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pendingCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The destination status."
    },
    "ListProductsResponse": {
      "type": "object",
      "id": "ListProductsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of product statuses."
        },
        "products": {
          "description": "List of the products.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        }
      }
    },
    "Grocery": {
      "type": "object",
      "id": "Grocery",
      "properties": {
        "storageInstructions": {
          "type": "string",
          "description": "Storage instructions."
        },
        "allergens": {
          "description": "Allergens.",
          "type": "string"
        },
        "nutritionClaim": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Nutrition claim."
        },
        "derivedNutritionClaim": {
          "description": "Derived nutrition claim.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "directions": {
          "type": "string",
          "description": "Directions."
        },
        "indications": {
          "description": "Indications.",
          "type": "string"
        },
        "alcoholByVolume": {
          "type": "number",
          "description": "Alcohol by volume.",
          "format": "double"
        }
      }
    },
    "ListProductCertificationsResponse": {
      "id": "ListProductCertificationsResponse",
      "properties": {
        "productCertifications": {
          "description": "The product certifications from the specified certification body.",
          "type": "array",
          "items": {
            "$ref": "ProductCertification"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for ListProductCertifications method.",
      "type": "object"
    }
  },
  "protocol": "rest",
  "basePath": "",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "delete": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "path": "v1/{+parent}/products/{+name}",
              "description": "Deletes the product from a Manufacturer Center account.",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "description": "Lists all the products in a Manufacturer Center account.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                },
                "include": {
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of product statuses to return in the response, used for paging."
                },
                "pageToken": {
                  "description": "The token returned by the previous request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/products",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.list",
              "httpMethod": "GET"
            },
            "get": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "path": "v1/{+parent}/products/{+name}",
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "include": {
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "repeated": true,
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Product"
              }
            },
            "update": {
              "id": "manufacturers.accounts.products.update",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/products/{+name}",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "request": {
                "$ref": "Attributes"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product."
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "path": "v1/{+name}",
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "format": "google-fieldmask"
                    }
                  }
                },
                "get": {
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "httpMethod": "GET"
                },
                "delete": {
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/productCertifications",
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/manufacturers/",
  "description": "Public API for managing Manufacturer Center related data.",
  "ownerName": "Google",
  "revision": "20260814",
  "version_module": true,
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://manufacturers.googleapis.com/"
}