{
  "ownerDomain": "google.com",
  "rootUrl": "https://manufacturers.googleapis.com/",
  "id": "manufacturers:v1",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "basePath": "",
  "description": "Public API for managing Manufacturer Center related data.",
  "batchPath": "batch",
  "title": "Manufacturer Center API",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "schemas": {
    "Certification": {
      "type": "object",
      "description": "Description of a certification.",
      "id": "Certification",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        }
      }
    },
    "Issue": {
      "properties": {
        "description": {
          "description": "Longer description of the issue focused on how to resolve it.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc."
        },
        "severity": {
          "type": "string",
          "description": "The severity of the issue.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ]
        },
        "applicableCountries": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product."
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        },
        "timestamp": {
          "description": "The timestamp when this issue appeared.",
          "format": "google-datetime",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Short title describing the nature of the issue."
        },
        "resolution": {
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "description": "What needs to happen to resolve the issue."
        },
        "destination": {
          "type": "string",
          "description": "The destination this issue applies to."
        }
      },
      "id": "Issue",
      "description": "Product issue.",
      "type": "object"
    },
    "FloatUnit": {
      "properties": {
        "unit": {
          "description": "unit.",
          "type": "string"
        },
        "amount": {
          "format": "double",
          "description": "amount.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Combination of float amount and unit.",
      "id": "FloatUnit"
    },
    "ListProductsResponse": {
      "type": "object",
      "id": "ListProductsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of product statuses."
        },
        "products": {
          "items": {
            "$ref": "Product"
          },
          "type": "array",
          "description": "List of the products."
        }
      }
    },
    "Price": {
      "type": "object",
      "id": "Price",
      "description": "A price.",
      "properties": {
        "amount": {
          "description": "The numeric value of the price.",
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the price is denoted."
        }
      }
    },
    "ProductDetail": {
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "The name of the attribute."
        },
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        },
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        }
      },
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "type": "object",
      "id": "ProductDetail"
    },
    "Grocery": {
      "properties": {
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "nutritionClaim": {
          "type": "array",
          "description": "Nutrition claim.",
          "items": {
            "type": "string"
          }
        },
        "directions": {
          "description": "Directions.",
          "type": "string"
        },
        "storageInstructions": {
          "type": "string",
          "description": "Storage instructions."
        },
        "indications": {
          "type": "string",
          "description": "Indications."
        },
        "allergens": {
          "type": "string",
          "description": "Allergens."
        },
        "alcoholByVolume": {
          "description": "Alcohol by volume.",
          "type": "number",
          "format": "double"
        },
        "derivedNutritionClaim": {
          "description": "Derived nutrition claim.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Grocery"
    },
    "FeatureDescription": {
      "properties": {
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        },
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        },
        "headline": {
          "type": "string",
          "description": "A short description of the feature."
        }
      },
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "id": "FeatureDescription",
      "type": "object"
    },
    "ListProductCertificationsResponse": {
      "type": "object",
      "description": "Response for ListProductCertifications method.",
      "properties": {
        "productCertifications": {
          "items": {
            "$ref": "ProductCertification"
          },
          "description": "The product certifications from the specified certification body.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListProductCertificationsResponse"
    },
    "Count": {
      "id": "Count",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The numeric value of the number of products in a package."
        },
        "unit": {
          "type": "string",
          "description": "The unit in which these products are counted."
        }
      },
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
    },
    "DestinationStatus": {
      "id": "DestinationStatus",
      "description": "The destination status.",
      "type": "object",
      "properties": {
        "pendingCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "approvedCountries": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved."
        },
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "disapprovedCountries": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
        },
        "status": {
          "description": "The status of the destination.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ]
        }
      }
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "description": "Description of a certification.",
      "type": "object",
      "properties": {
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        }
      }
    },
    "Attributes": {
      "id": "Attributes",
      "type": "object",
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "properties": {
        "count": {
          "$ref": "Count",
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
        },
        "sizeType": {
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disclosureDate": {
          "type": "string",
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure."
        },
        "releaseDate": {
          "type": "string",
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release."
        },
        "title": {
          "type": "string",
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title."
        },
        "gtin": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin."
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype."
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "nutrition": {
          "$ref": "Nutrition",
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings."
        },
        "sizeSystem": {
          "type": "string",
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem."
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "material": {
          "type": "string",
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material."
        },
        "intendedCountry": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown."
        },
        "excludedDestination": {
          "type": "array",
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          }
        },
        "richProductContent": {
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ageGroup": {
          "type": "string",
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup."
        },
        "featureDescription": {
          "items": {
            "$ref": "FeatureDescription"
          },
          "type": "array",
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc."
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "color": {
          "type": "string",
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color."
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "description": {
          "type": "string",
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description."
        },
        "includedDestination": {
          "type": "array",
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          }
        },
        "size": {
          "type": "string",
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size."
        },
        "theme": {
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme.",
          "type": "string"
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        },
        "productHighlight": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942"
        },
        "scent": {
          "type": "string",
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent."
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "videoLink": {
          "items": {
            "type": "string"
          },
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array"
        },
        "gender": {
          "type": "string",
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender."
        },
        "certification": {
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "description": "Optional. List of certifications claimed by this product.",
          "type": "array"
        },
        "productDetail": {
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail."
        },
        "grocery": {
          "$ref": "Grocery",
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery."
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "feedLabel": {
          "type": "string",
          "description": "Optional. The feed label for the product."
        },
        "productId": {
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "contentLanguage": {
          "type": "string",
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en)."
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array",
          "description": "The status of the destinations."
        },
        "name": {
          "type": "string",
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "issues": {
          "description": "A server-generated list of issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        }
      },
      "id": "Product",
      "description": "Product data."
    },
    "Nutrition": {
      "type": "object",
      "id": "Nutrition",
      "properties": {
        "totalSugarsDailyPercentage": {
          "format": "double",
          "description": "Total sugars daily percentage.",
          "type": "number"
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "ironDailyPercentage": {
          "format": "double",
          "description": "Iron daily percentage.",
          "type": "number"
        },
        "calciumDailyPercentage": {
          "type": "number",
          "description": "Calcium daily percentage.",
          "format": "double"
        },
        "transFat": {
          "$ref": "FloatUnit",
          "description": "Trans fat."
        },
        "totalCarbohydrateDailyPercentage": {
          "type": "number",
          "description": "Total carbohydrate daily percentage.",
          "format": "double"
        },
        "dietaryFiberDailyPercentage": {
          "description": "Dietary fiber daily percentage.",
          "format": "double",
          "type": "number"
        },
        "potassium": {
          "description": "Potassium.",
          "$ref": "FloatUnit"
        },
        "protein": {
          "description": "Protein.",
          "$ref": "FloatUnit"
        },
        "saturatedFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Saturated fat daily percentage."
        },
        "folateDailyPercentage": {
          "format": "double",
          "description": "Folate daily percentage.",
          "type": "number"
        },
        "totalSugars": {
          "description": "Total sugars.",
          "$ref": "FloatUnit"
        },
        "proteinDailyPercentage": {
          "description": "Protein daily percentage.",
          "type": "number",
          "format": "double"
        },
        "cholesterolDailyPercentage": {
          "description": "Cholesterol daily percentage.",
          "type": "number",
          "format": "double"
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "potassiumDailyPercentage": {
          "description": "Potassium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "sodium": {
          "$ref": "FloatUnit",
          "description": "Sodium."
        },
        "starch": {
          "$ref": "FloatUnit",
          "description": "Starch."
        },
        "cholesterol": {
          "description": "Cholesterol.",
          "$ref": "FloatUnit"
        },
        "addedSugarsDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Added sugars daily percentage."
        },
        "vitaminD": {
          "description": "Vitamin D.",
          "$ref": "FloatUnit"
        },
        "nutritionFactMeasure": {
          "type": "string",
          "description": "Nutrition fact measure."
        },
        "sodiumDailyPercentage": {
          "type": "number",
          "description": "Sodium daily percentage.",
          "format": "double"
        },
        "servingsPerContainer": {
          "type": "string",
          "description": "Servings per container."
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "folateMcgDfe": {
          "type": "number",
          "format": "double",
          "description": "Folate mcg DFE."
        },
        "polyols": {
          "$ref": "FloatUnit",
          "description": "Polyols."
        },
        "iron": {
          "$ref": "FloatUnit",
          "description": "Iron."
        },
        "voluntaryNutritionFact": {
          "description": "Voluntary nutrition fact.",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          },
          "type": "array"
        },
        "polyunsaturatedFat": {
          "description": "Polyunsaturated fat.",
          "$ref": "FloatUnit"
        },
        "monounsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Monounsaturated fat."
        },
        "folateFolicAcid": {
          "$ref": "FloatUnit",
          "description": "Folate folic acid."
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "totalFatDailyPercentage": {
          "description": "Total fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "transFatDailyPercentage": {
          "format": "double",
          "description": "Trans fat daily percentage.",
          "type": "number"
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "energy": {
          "$ref": "FloatUnit",
          "description": "Mandatory Nutrition Facts. Energy."
        },
        "vitaminDDailyPercentage": {
          "description": "Vitamin D daily percentage.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "Capacity": {
      "id": "Capacity",
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "properties": {
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The numeric value of the capacity.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "VoluntaryNutritionFact": {
      "description": "Voluntary Nutrition Facts.",
      "id": "VoluntaryNutritionFact",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name."
        },
        "dailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Daily percentage."
        },
        "value": {
          "$ref": "FloatUnit",
          "description": "Value."
        }
      },
      "type": "object"
    },
    "Image": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully."
        },
        "status": {
          "description": "The status of the image. @OutputOnly",
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "An image.",
      "id": "Image"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ProductCertification": {
      "type": "object",
      "description": "Product certification data.",
      "properties": {
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "productType": {
          "description": "Optional. These are your own product categorization system in your product data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certification": {
          "type": "array",
          "items": {
            "$ref": "Certification"
          },
          "description": "Required. A list of certifications to link to the described product."
        },
        "productCode": {
          "description": "Optional. Another name for GTIN.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "countryCode": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "type": "array"
        },
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "mpn": {
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "description": "Required. This is the product's brand name. The brand is used to help identify your product.",
          "type": "string"
        },
        "issues": {
          "description": "Output only. A server-generated list of issues associated with the product.",
          "items": {
            "$ref": "Issue"
          },
          "readOnly": true,
          "type": "array"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "Output only. The statuses of the destinations.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "ProductCertification"
    }
  },
  "version_module": true,
  "servicePath": "",
  "ownerName": "Google",
  "revision": "20260918",
  "name": "manufacturers",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "baseUrl": "https://manufacturers.googleapis.com/",
  "resources": {
    "accounts": {
      "resources": {
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "list": {
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "path": "v1/{+parent}/productCertifications",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "required": true
                    }
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "id": "manufacturers.accounts.languages.productCertifications.get"
                },
                "delete": {
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                }
              }
            }
          }
        },
        "products": {
          "methods": {
            "update": {
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "id": "manufacturers.accounts.products.update",
              "request": {
                "$ref": "Attributes"
              },
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "parameters": {
                "name": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                },
                "parent": {
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/products/{+name}",
              "parameterOrder": [
                "parent",
                "name"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes the product from a Manufacturer Center account.",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "type": "string"
                },
                "name": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "required": true
                }
              },
              "path": "v1/{+parent}/products/{+name}",
              "id": "manufacturers.accounts.products.delete"
            },
            "get": {
              "path": "v1/{+parent}/products/{+name}",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.get",
              "parameters": {
                "include": {
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ]
                },
                "name": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                },
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Product"
              },
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "parameterOrder": [
                "parent",
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListProductsResponse"
              },
              "parameters": {
                "include": {
                  "type": "string",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The token returned by the previous request."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of product statuses to return in the response, used for paging."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "flatPath": "v1/accounts/{accountsId}/products",
              "httpMethod": "GET",
              "path": "v1/{+parent}/products",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all the products in a Manufacturer Center account.",
              "id": "manufacturers.accounts.products.list"
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Manufacturer Center",
  "kind": "discovery#restDescription"
}