{
  "ownerName": "Google",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "revision": "20260918",
  "canonicalName": "Manufacturer Center",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://manufacturers.googleapis.com/",
  "id": "manufacturers:v1",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "basePath": "",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "servicePath": "",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.update",
              "httpMethod": "PUT",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "name": {
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/products/{+name}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "request": {
                "$ref": "Attributes"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}"
            },
            "list": {
              "id": "manufacturers.accounts.products.list",
              "flatPath": "v1/accounts/{accountsId}/products",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                },
                "include": {
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "type": "string",
                  "repeated": true,
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The token returned by the previous request.",
                  "location": "query"
                }
              },
              "description": "Lists all the products in a Manufacturer Center account.",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "path": "v1/{+parent}/products"
            },
            "get": {
              "response": {
                "$ref": "Product"
              },
              "parameterOrder": [
                "parent",
                "name"
              ],
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "id": "manufacturers.accounts.products.get",
              "path": "v1/{+parent}/products/{+name}",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "httpMethod": "GET",
              "parameters": {
                "include": {
                  "location": "query",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "repeated": true,
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "required": true
                }
              }
            },
            "delete": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "id": "manufacturers.accounts.products.delete",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                },
                "name": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "location": "path"
                }
              },
              "description": "Deletes the product from a Manufacturer Center account.",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/products/{+name}"
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "delete": {
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}"
                },
                "patch": {
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "required": true
                    }
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/productCertifications",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies."
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "VoluntaryNutritionFact": {
      "type": "object",
      "description": "Voluntary Nutrition Facts.",
      "properties": {
        "dailyPercentage": {
          "description": "Daily percentage.",
          "format": "double",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Name."
        },
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        }
      },
      "id": "VoluntaryNutritionFact"
    },
    "ProductCertification": {
      "properties": {
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "certification": {
          "description": "Required. A list of certifications to link to the described product.",
          "type": "array",
          "items": {
            "$ref": "Certification"
          }
        },
        "destinationStatuses": {
          "readOnly": true,
          "description": "Output only. The statuses of the destinations.",
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "productCode": {
          "type": "array",
          "description": "Optional. Another name for GTIN.",
          "items": {
            "type": "string"
          }
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. These are your own product categorization system in your product data."
        },
        "issues": {
          "readOnly": true,
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "description": "Output only. A server-generated list of issues associated with the product."
        },
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "brand": {
          "type": "string",
          "description": "Required. This is the product's brand name. The brand is used to help identify your product."
        },
        "countryCode": {
          "type": "array",
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "items": {
            "type": "string"
          }
        },
        "mpn": {
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ProductCertification",
      "description": "Product certification data."
    },
    "DestinationStatus": {
      "id": "DestinationStatus",
      "description": "The destination status.",
      "type": "object",
      "properties": {
        "pendingCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "status": {
          "type": "string",
          "description": "The status of the destination.",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ]
        },
        "disapprovedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "approvedCountries": {
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListProductCertificationsResponse": {
      "id": "ListProductCertificationsResponse",
      "properties": {
        "productCertifications": {
          "type": "array",
          "description": "The product certifications from the specified certification body.",
          "items": {
            "$ref": "ProductCertification"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response for ListProductCertifications method.",
      "type": "object"
    },
    "ListProductsResponse": {
      "type": "object",
      "properties": {
        "products": {
          "description": "List of the products.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of product statuses.",
          "type": "string"
        }
      },
      "id": "ListProductsResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "Certification": {
      "id": "Certification",
      "properties": {
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        }
      },
      "type": "object",
      "description": "Description of a certification."
    },
    "Nutrition": {
      "properties": {
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "dietaryFiber": {
          "$ref": "FloatUnit",
          "description": "Dietary fiber."
        },
        "sodiumDailyPercentage": {
          "format": "double",
          "description": "Sodium daily percentage.",
          "type": "number"
        },
        "servingSizeMeasure": {
          "$ref": "FloatUnit",
          "description": "Serving size measure."
        },
        "polyols": {
          "$ref": "FloatUnit",
          "description": "Polyols."
        },
        "polyunsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Polyunsaturated fat."
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "folateMcgDfe": {
          "description": "Folate mcg DFE.",
          "format": "double",
          "type": "number"
        },
        "iron": {
          "description": "Iron.",
          "$ref": "FloatUnit"
        },
        "vitaminD": {
          "description": "Vitamin D.",
          "$ref": "FloatUnit"
        },
        "voluntaryNutritionFact": {
          "description": "Voluntary nutrition fact.",
          "type": "array",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          }
        },
        "cholesterolDailyPercentage": {
          "description": "Cholesterol daily percentage.",
          "type": "number",
          "format": "double"
        },
        "calciumDailyPercentage": {
          "description": "Calcium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "ironDailyPercentage": {
          "description": "Iron daily percentage.",
          "type": "number",
          "format": "double"
        },
        "starch": {
          "description": "Starch.",
          "$ref": "FloatUnit"
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        },
        "saturatedFatDailyPercentage": {
          "description": "Saturated fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "monounsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Monounsaturated fat."
        },
        "potassiumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Potassium daily percentage."
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "addedSugarsDailyPercentage": {
          "description": "Added sugars daily percentage.",
          "type": "number",
          "format": "double"
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "transFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Trans fat daily percentage."
        },
        "potassium": {
          "$ref": "FloatUnit",
          "description": "Potassium."
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "saturatedFat": {
          "$ref": "FloatUnit",
          "description": "Saturated fat."
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "totalFatDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Total fat daily percentage."
        },
        "sodium": {
          "description": "Sodium.",
          "$ref": "FloatUnit"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "totalSugarsDailyPercentage": {
          "description": "Total sugars daily percentage.",
          "format": "double",
          "type": "number"
        },
        "proteinDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Protein daily percentage."
        },
        "protein": {
          "description": "Protein.",
          "$ref": "FloatUnit"
        },
        "servingsPerContainer": {
          "description": "Servings per container.",
          "type": "string"
        },
        "folateFolicAcid": {
          "$ref": "FloatUnit",
          "description": "Folate folic acid."
        },
        "servingSizeDescription": {
          "type": "string",
          "description": "Food Serving Size. Serving size description."
        },
        "totalSugars": {
          "$ref": "FloatUnit",
          "description": "Total sugars."
        },
        "vitaminDDailyPercentage": {
          "format": "double",
          "description": "Vitamin D daily percentage.",
          "type": "number"
        },
        "energy": {
          "$ref": "FloatUnit",
          "description": "Mandatory Nutrition Facts. Energy."
        },
        "cholesterol": {
          "$ref": "FloatUnit",
          "description": "Cholesterol."
        },
        "dietaryFiberDailyPercentage": {
          "type": "number",
          "description": "Dietary fiber daily percentage.",
          "format": "double"
        },
        "totalCarbohydrateDailyPercentage": {
          "format": "double",
          "description": "Total carbohydrate daily percentage.",
          "type": "number"
        },
        "folateDailyPercentage": {
          "description": "Folate daily percentage.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Nutrition"
    },
    "Price": {
      "type": "object",
      "description": "A price.",
      "properties": {
        "amount": {
          "type": "string",
          "description": "The numeric value of the price."
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the price is denoted."
        }
      },
      "id": "Price"
    },
    "ProductDetail": {
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "The value of the attribute."
        },
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        },
        "attributeName": {
          "type": "string",
          "description": "The name of the attribute."
        }
      },
      "type": "object",
      "id": "ProductDetail",
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail."
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        }
      },
      "description": "Description of a certification.",
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "type": "object"
    },
    "Grocery": {
      "type": "object",
      "properties": {
        "directions": {
          "type": "string",
          "description": "Directions."
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "derivedNutritionClaim": {
          "description": "Derived nutrition claim.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nutritionClaim": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Nutrition claim."
        },
        "indications": {
          "description": "Indications.",
          "type": "string"
        },
        "allergens": {
          "type": "string",
          "description": "Allergens."
        },
        "alcoholByVolume": {
          "format": "double",
          "description": "Alcohol by volume.",
          "type": "number"
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "storageInstructions": {
          "description": "Storage instructions.",
          "type": "string"
        }
      },
      "id": "Grocery"
    },
    "Image": {
      "type": "object",
      "properties": {
        "status": {
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "description": "The status of the image. @OutputOnly",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ]
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "type": "string",
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ]
        },
        "imageUrl": {
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully.",
          "type": "string"
        }
      },
      "description": "An image.",
      "id": "Image"
    },
    "Capacity": {
      "type": "object",
      "id": "Capacity",
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit of the capacity, i.e., MB, GB, or TB."
        },
        "value": {
          "format": "int64",
          "type": "string",
          "description": "The numeric value of the capacity."
        }
      }
    },
    "FloatUnit": {
      "id": "FloatUnit",
      "type": "object",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "description": "amount."
        },
        "unit": {
          "description": "unit.",
          "type": "string"
        }
      },
      "description": "Combination of float amount and unit."
    },
    "Attributes": {
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "id": "Attributes",
      "properties": {
        "productHighlight": {
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array"
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "certification": {
          "type": "array",
          "description": "Optional. List of certifications claimed by this product.",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          }
        },
        "sizeType": {
          "type": "array",
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "items": {
            "type": "string"
          }
        },
        "richProductContent": {
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "scent": {
          "type": "string",
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent."
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "productDetail": {
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "excludedDestination": {
          "items": {
            "type": "string"
          },
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "type": "array"
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "intendedCountry": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown."
        },
        "material": {
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material.",
          "type": "string"
        },
        "gender": {
          "type": "string",
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender."
        },
        "productName": {
          "type": "string",
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname."
        },
        "releaseDate": {
          "type": "string",
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release."
        },
        "includedDestination": {
          "type": "array",
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          }
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "disclosureDate": {
          "type": "string",
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure."
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "size": {
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "videoLink": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video."
        },
        "description": {
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "additionalImageLink": {
          "items": {
            "$ref": "Image"
          },
          "type": "array",
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage."
        },
        "productPageUrl": {
          "type": "string",
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage."
        },
        "nutrition": {
          "$ref": "Nutrition",
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings."
        },
        "gtin": {
          "items": {
            "type": "string"
          },
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "type": "array"
        },
        "featureDescription": {
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "itemGroupId": {
          "type": "string",
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid."
        }
      },
      "type": "object"
    },
    "FeatureDescription": {
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "type": "object",
      "properties": {
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        },
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        },
        "headline": {
          "type": "string",
          "description": "A short description of the feature."
        }
      },
      "id": "FeatureDescription"
    },
    "Count": {
      "properties": {
        "unit": {
          "description": "The unit in which these products are counted.",
          "type": "string"
        },
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "id": "Count"
    },
    "Issue": {
      "properties": {
        "attribute": {
          "type": "string",
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116."
        },
        "description": {
          "type": "string",
          "description": "Longer description of the issue focused on how to resolve it."
        },
        "title": {
          "description": "Short title describing the nature of the issue.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when this issue appeared."
        },
        "resolution": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "description": "What needs to happen to resolve the issue.",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ]
        },
        "type": {
          "type": "string",
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc."
        },
        "applicableCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "description": "The severity of the issue.",
          "type": "string"
        }
      },
      "id": "Issue",
      "type": "object",
      "description": "Product issue."
    },
    "Product": {
      "type": "object",
      "properties": {
        "contentLanguage": {
          "type": "string",
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en)."
        },
        "destinationStatuses": {
          "description": "The status of the destinations.",
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "description": "A server-generated list of issues associated with the product."
        },
        "feedLabel": {
          "description": "Optional. The feed label for the product.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        }
      },
      "id": "Product",
      "description": "Product data."
    }
  },
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "title": "Manufacturer Center API",
  "name": "manufacturers",
  "batchPath": "batch",
  "version": "v1",
  "description": "Public API for managing Manufacturer Center related data.",
  "fullyEncodeReservedExpansion": true
}