{
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "revision": "20260619",
  "description": "Public API for managing Manufacturer Center related data.",
  "canonicalName": "Manufacturer Center",
  "basePath": "",
  "title": "Manufacturer Center API",
  "name": "manufacturers",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "baseUrl": "https://manufacturers.googleapis.com/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "id": "manufacturers:v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists all the products in a Manufacturer Center account.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token returned by the previous request."
                },
                "pageSize": {
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "include": {
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "repeated": true,
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ]
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path"
                }
              },
              "path": "v1/{+parent}/products",
              "flatPath": "v1/accounts/{accountsId}/products",
              "id": "manufacturers.accounts.products.list",
              "response": {
                "$ref": "ListProductsResponse"
              }
            },
            "update": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "path": "v1/{+parent}/products/{+name}",
              "request": {
                "$ref": "Attributes"
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "manufacturers.accounts.products.update",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "httpMethod": "PUT",
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "name": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "location": "path"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes the product from a Manufacturer Center account.",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                },
                "parent": {
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "path": "v1/{+parent}/products/{+name}",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "id": "manufacturers.accounts.products.delete",
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "id": "manufacturers.accounts.products.get",
              "response": {
                "$ref": "Product"
              },
              "path": "v1/{+parent}/products/{+name}",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "name": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "required": true,
                  "type": "string"
                },
                "include": {
                  "type": "string",
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "repeated": true,
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ]
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "parameterOrder": [
                "parent",
                "name"
              ]
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page."
                    },
                    "parent": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/productCertifications",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies."
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637."
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "rootUrl": "https://manufacturers.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "FeatureDescription": {
      "type": "object",
      "properties": {
        "headline": {
          "description": "A short description of the feature.",
          "type": "string"
        },
        "image": {
          "$ref": "Image",
          "description": "An optional image describing the feature."
        },
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        }
      },
      "id": "FeatureDescription",
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc."
    },
    "Count": {
      "id": "Count",
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "type": "object",
      "properties": {
        "unit": {
          "description": "The unit in which these products are counted.",
          "type": "string"
        },
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListProductCertificationsResponse": {
      "type": "object",
      "properties": {
        "productCertifications": {
          "description": "The product certifications from the specified certification body.",
          "type": "array",
          "items": {
            "$ref": "ProductCertification"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListProductCertificationsResponse",
      "description": "Response for ListProductCertifications method."
    },
    "Price": {
      "type": "object",
      "properties": {
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        },
        "amount": {
          "description": "The numeric value of the price.",
          "type": "string"
        }
      },
      "id": "Price",
      "description": "A price."
    },
    "Capacity": {
      "id": "Capacity",
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "type": "object",
      "properties": {
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The numeric value of the capacity."
        }
      }
    },
    "VoluntaryNutritionFact": {
      "id": "VoluntaryNutritionFact",
      "description": "Voluntary Nutrition Facts.",
      "type": "object",
      "properties": {
        "dailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Daily percentage."
        },
        "name": {
          "description": "Name.",
          "type": "string"
        },
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        }
      }
    },
    "ProductCertification": {
      "type": "object",
      "properties": {
        "destinationStatuses": {
          "description": "Output only. The statuses of the destinations.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "productType": {
          "description": "Optional. These are your own product categorization system in your product data.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "productCode": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Another name for GTIN."
        },
        "certification": {
          "description": "Required. A list of certifications to link to the described product.",
          "type": "array",
          "items": {
            "$ref": "Certification"
          }
        },
        "issues": {
          "description": "Output only. A server-generated list of issues associated with the product.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        },
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "countryCode": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2)."
        },
        "mpn": {
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "description": "Required. This is the product's brand name. The brand is used to help identify your product.",
          "type": "string"
        }
      },
      "id": "ProductCertification",
      "description": "Product certification data."
    },
    "Nutrition": {
      "id": "Nutrition",
      "type": "object",
      "properties": {
        "protein": {
          "$ref": "FloatUnit",
          "description": "Protein."
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "proteinDailyPercentage": {
          "description": "Protein daily percentage.",
          "type": "number",
          "format": "double"
        },
        "folateMcgDfe": {
          "type": "number",
          "format": "double",
          "description": "Folate mcg DFE."
        },
        "totalSugarsDailyPercentage": {
          "description": "Total sugars daily percentage.",
          "format": "double",
          "type": "number"
        },
        "totalFatDailyPercentage": {
          "description": "Total fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "sodiumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Sodium daily percentage."
        },
        "totalCarbohydrate": {
          "$ref": "FloatUnit",
          "description": "Total carbohydrate."
        },
        "totalSugars": {
          "$ref": "FloatUnit",
          "description": "Total sugars."
        },
        "potassiumDailyPercentage": {
          "description": "Potassium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "polyunsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Polyunsaturated fat."
        },
        "saturatedFatDailyPercentage": {
          "description": "Saturated fat daily percentage.",
          "type": "number",
          "format": "double"
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "dietaryFiberDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Dietary fiber daily percentage."
        },
        "cholesterolDailyPercentage": {
          "description": "Cholesterol daily percentage.",
          "type": "number",
          "format": "double"
        },
        "ironDailyPercentage": {
          "description": "Iron daily percentage.",
          "type": "number",
          "format": "double"
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "starch": {
          "$ref": "FloatUnit",
          "description": "Starch."
        },
        "vitaminD": {
          "$ref": "FloatUnit",
          "description": "Vitamin D."
        },
        "addedSugarsDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Added sugars daily percentage."
        },
        "folateDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Folate daily percentage."
        },
        "monounsaturatedFat": {
          "description": "Monounsaturated fat.",
          "$ref": "FloatUnit"
        },
        "iron": {
          "$ref": "FloatUnit",
          "description": "Iron."
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "polyols": {
          "$ref": "FloatUnit",
          "description": "Polyols."
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "potassium": {
          "$ref": "FloatUnit",
          "description": "Potassium."
        },
        "saturatedFat": {
          "$ref": "FloatUnit",
          "description": "Saturated fat."
        },
        "transFatDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Trans fat daily percentage."
        },
        "vitaminDDailyPercentage": {
          "description": "Vitamin D daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalFat": {
          "$ref": "FloatUnit",
          "description": "Total fat."
        },
        "totalCarbohydrateDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Total carbohydrate daily percentage."
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "servingsPerContainer": {
          "description": "Servings per container.",
          "type": "string"
        },
        "cholesterol": {
          "description": "Cholesterol.",
          "$ref": "FloatUnit"
        },
        "sodium": {
          "description": "Sodium.",
          "$ref": "FloatUnit"
        },
        "calciumDailyPercentage": {
          "description": "Calcium daily percentage.",
          "format": "double",
          "type": "number"
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "voluntaryNutritionFact": {
          "type": "array",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          },
          "description": "Voluntary nutrition fact."
        },
        "servingSizeMeasure": {
          "$ref": "FloatUnit",
          "description": "Serving size measure."
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        }
      }
    },
    "Certification": {
      "id": "Certification",
      "description": "Description of a certification.",
      "type": "object",
      "properties": {
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        }
      }
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "type": "object",
      "properties": {
        "products": {
          "description": "List of the products.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        },
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of product statuses.",
          "type": "string"
        }
      }
    },
    "DestinationStatus": {
      "type": "object",
      "properties": {
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "status": {
          "description": "The status of the destination.",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ]
        },
        "pendingCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "disapprovedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved."
        }
      },
      "id": "DestinationStatus",
      "description": "The destination status."
    },
    "ProductDetail": {
      "id": "ProductDetail",
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "type": "object",
      "properties": {
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        },
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        }
      }
    },
    "FloatUnit": {
      "id": "FloatUnit",
      "description": "Combination of float amount and unit.",
      "type": "object",
      "properties": {
        "unit": {
          "description": "unit.",
          "type": "string"
        },
        "amount": {
          "description": "amount.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "Issue": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the issue.",
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ]
        },
        "resolution": {
          "type": "string",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "description": "What needs to happen to resolve the issue.",
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ]
        },
        "title": {
          "description": "Short title describing the nature of the issue.",
          "type": "string"
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        },
        "applicableCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        },
        "description": {
          "description": "Longer description of the issue focused on how to resolve it.",
          "type": "string"
        },
        "timestamp": {
          "description": "The timestamp when this issue appeared.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Issue",
      "description": "Product issue."
    },
    "Product": {
      "id": "Product",
      "description": "Product data.",
      "type": "object",
      "properties": {
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account."
        },
        "destinationStatuses": {
          "description": "The status of the destinations.",
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array"
        },
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "description": "A server-generated list of issues associated with the product."
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        },
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "feedLabel": {
          "description": "Optional. The feed label for the product.",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        }
      }
    },
    "Attributes": {
      "type": "object",
      "properties": {
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "productDetail": {
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "items": {
            "$ref": "ProductDetail"
          },
          "type": "array"
        },
        "intendedCountry": {
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "size": {
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "gender": {
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        },
        "certification": {
          "description": "Optional. List of certifications claimed by this product.",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "type": "array"
        },
        "additionalImageLink": {
          "items": {
            "$ref": "Image"
          },
          "type": "array",
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage."
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "videoLink": {
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "featureDescription": {
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "items": {
            "$ref": "FeatureDescription"
          },
          "type": "array"
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "gtin": {
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "includedDestination": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "sizeType": {
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "richProductContent": {
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disclosureDate": {
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure.",
          "type": "string"
        },
        "productHighlight": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942"
        },
        "description": {
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "scent": {
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "releaseDate": {
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release.",
          "type": "string"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "productType": {
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedRetailPrice": {
          "$ref": "Price",
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price."
        },
        "count": {
          "$ref": "Count",
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count."
        },
        "theme": {
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme.",
          "type": "string"
        },
        "material": {
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material.",
          "type": "string"
        },
        "excludedDestination": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        }
      },
      "id": "Attributes",
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116."
    },
    "Image": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the image. @OutputOnly",
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ]
        },
        "imageUrl": {
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully.",
          "type": "string"
        },
        "type": {
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ]
        }
      },
      "id": "Image",
      "description": "An image."
    },
    "Grocery": {
      "type": "object",
      "properties": {
        "directions": {
          "description": "Directions.",
          "type": "string"
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "nutritionClaim": {
          "description": "Nutrition claim.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "indications": {
          "description": "Indications.",
          "type": "string"
        },
        "derivedNutritionClaim": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Derived nutrition claim."
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "storageInstructions": {
          "description": "Storage instructions.",
          "type": "string"
        },
        "alcoholByVolume": {
          "type": "number",
          "format": "double",
          "description": "Alcohol by volume."
        },
        "allergens": {
          "description": "Allergens.",
          "type": "string"
        }
      },
      "id": "Grocery"
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "type": "object",
      "properties": {
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        }
      },
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "description": "Description of a certification."
    }
  }
}