{
  "rootUrl": "https://manufacturers.googleapis.com/",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "description": "Public API for managing Manufacturer Center related data.",
  "version": "v1",
  "title": "Manufacturer Center API",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "name": "manufacturers",
  "ownerName": "Google",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Manufacturer Center",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "revision": "20260814",
  "schemas": {
    "Count": {
      "id": "Count",
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "description": "The unit in which these products are counted.",
          "type": "string"
        }
      }
    },
    "Nutrition": {
      "type": "object",
      "id": "Nutrition",
      "properties": {
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "potassiumDailyPercentage": {
          "format": "double",
          "description": "Potassium daily percentage.",
          "type": "number"
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "servingsPerContainer": {
          "description": "Servings per container.",
          "type": "string"
        },
        "polyunsaturatedFat": {
          "description": "Polyunsaturated fat.",
          "$ref": "FloatUnit"
        },
        "vitaminDDailyPercentage": {
          "format": "double",
          "description": "Vitamin D daily percentage.",
          "type": "number"
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "addedSugarsDailyPercentage": {
          "format": "double",
          "description": "Added sugars daily percentage.",
          "type": "number"
        },
        "calciumDailyPercentage": {
          "format": "double",
          "description": "Calcium daily percentage.",
          "type": "number"
        },
        "folateMcgDfe": {
          "format": "double",
          "description": "Folate mcg DFE.",
          "type": "number"
        },
        "ironDailyPercentage": {
          "format": "double",
          "description": "Iron daily percentage.",
          "type": "number"
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "totalFatDailyPercentage": {
          "format": "double",
          "description": "Total fat daily percentage.",
          "type": "number"
        },
        "potassium": {
          "description": "Potassium.",
          "$ref": "FloatUnit"
        },
        "voluntaryNutritionFact": {
          "description": "Voluntary nutrition fact.",
          "type": "array",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          }
        },
        "monounsaturatedFat": {
          "description": "Monounsaturated fat.",
          "$ref": "FloatUnit"
        },
        "saturatedFatDailyPercentage": {
          "description": "Saturated fat daily percentage.",
          "type": "number",
          "format": "double"
        },
        "sodium": {
          "description": "Sodium.",
          "$ref": "FloatUnit"
        },
        "totalSugarsDailyPercentage": {
          "description": "Total sugars daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "totalSugars": {
          "description": "Total sugars.",
          "$ref": "FloatUnit"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "cholesterol": {
          "description": "Cholesterol.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrateDailyPercentage": {
          "description": "Total carbohydrate daily percentage.",
          "type": "number",
          "format": "double"
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "sodiumDailyPercentage": {
          "format": "double",
          "description": "Sodium daily percentage.",
          "type": "number"
        },
        "polyols": {
          "description": "Polyols.",
          "$ref": "FloatUnit"
        },
        "vitaminD": {
          "description": "Vitamin D.",
          "$ref": "FloatUnit"
        },
        "proteinDailyPercentage": {
          "description": "Protein daily percentage.",
          "type": "number",
          "format": "double"
        },
        "cholesterolDailyPercentage": {
          "format": "double",
          "description": "Cholesterol daily percentage.",
          "type": "number"
        },
        "iron": {
          "description": "Iron.",
          "$ref": "FloatUnit"
        },
        "transFatDailyPercentage": {
          "description": "Trans fat daily percentage.",
          "type": "number",
          "format": "double"
        },
        "dietaryFiberDailyPercentage": {
          "description": "Dietary fiber daily percentage.",
          "type": "number",
          "format": "double"
        },
        "starch": {
          "description": "Starch.",
          "$ref": "FloatUnit"
        },
        "folateDailyPercentage": {
          "description": "Folate daily percentage.",
          "type": "number",
          "format": "double"
        },
        "protein": {
          "description": "Protein.",
          "$ref": "FloatUnit"
        }
      }
    },
    "Attributes": {
      "properties": {
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "productType": {
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "description": {
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "intendedCountry": {
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "material": {
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material.",
          "type": "string"
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "gender": {
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        },
        "featureDescription": {
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "excludedDestination": {
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "size": {
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "productHighlight": {
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "richProductContent": {
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productDetail": {
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "disclosureDate": {
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure.",
          "type": "string"
        },
        "theme": {
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme.",
          "type": "string"
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "sizeType": {
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gtin": {
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "includedDestination": {
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scent": {
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "videoLink": {
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        },
        "certification": {
          "description": "Optional. List of certifications claimed by this product.",
          "type": "array",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          }
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "releaseDate": {
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release.",
          "type": "string"
        }
      },
      "id": "Attributes",
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "type": "object"
    },
    "ProductCertification": {
      "id": "ProductCertification",
      "description": "Product certification data.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "countryCode": {
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mpn": {
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productType": {
          "description": "Optional. These are your own product categorization system in your product data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "issues": {
          "description": "Output only. A server-generated list of issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          },
          "readOnly": true
        },
        "brand": {
          "description": "Required. This is the product's brand name. The brand is used to help identify your product.",
          "type": "string"
        },
        "destinationStatuses": {
          "description": "Output only. The statuses of the destinations.",
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          },
          "readOnly": true
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "certification": {
          "description": "Required. A list of certifications to link to the described product.",
          "type": "array",
          "items": {
            "$ref": "Certification"
          }
        },
        "productCode": {
          "description": "Optional. Another name for GTIN.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FloatUnit": {
      "properties": {
        "amount": {
          "format": "double",
          "description": "amount.",
          "type": "number"
        },
        "unit": {
          "description": "unit.",
          "type": "string"
        }
      },
      "description": "Combination of float amount and unit.",
      "type": "object",
      "id": "FloatUnit"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Image": {
      "description": "An image.",
      "type": "object",
      "id": "Image",
      "properties": {
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "description": "The status of the image. @OutputOnly",
          "type": "string",
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ]
        },
        "imageUrl": {
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ]
        }
      }
    },
    "ListProductsResponse": {
      "type": "object",
      "id": "ListProductsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of product statuses.",
          "type": "string"
        },
        "products": {
          "description": "List of the products.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        }
      }
    },
    "Issue": {
      "properties": {
        "title": {
          "description": "Short title describing the nature of the issue.",
          "type": "string"
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        },
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The timestamp when this issue appeared.",
          "type": "string"
        },
        "resolution": {
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "description": "What needs to happen to resolve the issue.",
          "type": "string",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ]
        },
        "applicableCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "description": "The severity of the issue.",
          "type": "string"
        },
        "description": {
          "description": "Longer description of the issue focused on how to resolve it.",
          "type": "string"
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        }
      },
      "id": "Issue",
      "description": "Product issue.",
      "type": "object"
    },
    "VoluntaryNutritionFact": {
      "properties": {
        "dailyPercentage": {
          "format": "double",
          "description": "Daily percentage.",
          "type": "number"
        },
        "name": {
          "description": "Name.",
          "type": "string"
        },
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        }
      },
      "id": "VoluntaryNutritionFact",
      "description": "Voluntary Nutrition Facts.",
      "type": "object"
    },
    "Certification": {
      "description": "Description of a certification.",
      "type": "object",
      "id": "Certification",
      "properties": {
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        }
      }
    },
    "DestinationStatus": {
      "id": "DestinationStatus",
      "description": "The destination status.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "approvedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "status": {
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ],
          "description": "The status of the destination.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ]
        },
        "disapprovedCountries": {
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pendingCountries": {
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FeatureDescription": {
      "properties": {
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        },
        "headline": {
          "description": "A short description of the feature.",
          "type": "string"
        },
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        }
      },
      "id": "FeatureDescription",
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "type": "object"
    },
    "Price": {
      "properties": {
        "amount": {
          "description": "The numeric value of the price.",
          "type": "string"
        },
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        }
      },
      "description": "A price.",
      "type": "object",
      "id": "Price"
    },
    "Capacity": {
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "type": "object",
      "id": "Capacity",
      "properties": {
        "value": {
          "description": "The numeric value of the capacity.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      }
    },
    "ProductDetail": {
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "type": "object",
      "id": "ProductDetail",
      "properties": {
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        },
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        },
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        }
      }
    },
    "Product": {
      "properties": {
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "feedLabel": {
          "description": "Optional. The feed label for the product.",
          "type": "string"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "issues": {
          "description": "A server-generated list of issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        },
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "destinationStatuses": {
          "description": "The status of the destinations.",
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        }
      },
      "id": "Product",
      "description": "Product data.",
      "type": "object"
    },
    "Grocery": {
      "id": "Grocery",
      "type": "object",
      "properties": {
        "alcoholByVolume": {
          "format": "double",
          "description": "Alcohol by volume.",
          "type": "number"
        },
        "derivedNutritionClaim": {
          "description": "Derived nutrition claim.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storageInstructions": {
          "description": "Storage instructions.",
          "type": "string"
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "directions": {
          "description": "Directions.",
          "type": "string"
        },
        "allergens": {
          "description": "Allergens.",
          "type": "string"
        },
        "indications": {
          "description": "Indications.",
          "type": "string"
        },
        "nutritionClaim": {
          "description": "Nutrition claim.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "properties": {
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        }
      },
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "description": "Description of a certification.",
      "type": "object"
    },
    "ListProductCertificationsResponse": {
      "properties": {
        "productCertifications": {
          "description": "The product certifications from the specified certification body.",
          "type": "array",
          "items": {
            "$ref": "ProductCertification"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListProductCertificationsResponse",
      "description": "Response for ListProductCertifications method.",
      "type": "object"
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "update": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameterOrder": [
                "parent",
                "name"
              ],
              "path": "v1/{+parent}/products/{+name}",
              "request": {
                "$ref": "Attributes"
              },
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "httpMethod": "PUT",
              "id": "manufacturers.accounts.products.update",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "path": "v1/{+parent}/products/{+name}",
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "response": {
                "$ref": "Product"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameters": {
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "include": {
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "repeated": true,
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ]
                },
                "name": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "manufacturers.accounts.products.get"
            },
            "list": {
              "id": "manufacturers.accounts.products.list",
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/products",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "type": "integer",
                  "format": "int32"
                },
                "include": {
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "repeated": true,
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token returned by the previous request.",
                  "type": "string"
                },
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListProductsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/products",
              "description": "Lists all the products in a Manufacturer Center account.",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "parent",
                "name"
              ],
              "path": "v1/{+parent}/products/{+name}",
              "description": "Deletes the product from a Manufacturer Center account.",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                }
              }
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/productCertifications",
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "httpMethod": "GET"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "manufacturers.accounts.languages.productCertifications.delete"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "httpMethod": "GET"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "httpMethod": "PATCH"
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/manufacturers/",
  "id": "manufacturers:v1"
}