{
  "rootUrl": "https://manufacturers.googleapis.com/",
  "id": "manufacturers:v1",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "name": "manufacturers",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "servicePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Manufacturer Center",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "ownerName": "Google",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "resources": {
    "accounts": {
      "resources": {
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.delete"
                },
                "get": {
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "request": {
                    "$ref": "ProductCertification"
                  }
                },
                "list": {
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "path": "v1/{+parent}/productCertifications",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ]
                }
              }
            }
          }
        },
        "products": {
          "methods": {
            "delete": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/products/{+name}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "description": "Deletes the product from a Manufacturer Center account.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "required": true,
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.delete"
            },
            "list": {
              "description": "Lists all the products in a Manufacturer Center account.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                },
                "include": {
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "repeated": true,
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The token returned by the previous request."
                }
              },
              "path": "v1/{+parent}/products",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.list",
              "flatPath": "v1/accounts/{accountsId}/products",
              "response": {
                "$ref": "ListProductsResponse"
              }
            },
            "get": {
              "parameterOrder": [
                "parent",
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "path": "v1/{+parent}/products/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "include": {
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "location": "query",
                  "repeated": true,
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$"
                },
                "parent": {
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "id": "manufacturers.accounts.products.get",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "response": {
                "$ref": "Product"
              }
            },
            "update": {
              "parameterOrder": [
                "parent",
                "name"
              ],
              "request": {
                "$ref": "Attributes"
              },
              "path": "v1/{+parent}/products/{+name}",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.update",
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260918",
  "title": "Manufacturer Center API",
  "schemas": {
    "Grocery": {
      "type": "object",
      "properties": {
        "derivedNutritionClaim": {
          "description": "Derived nutrition claim.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nutritionClaim": {
          "type": "array",
          "description": "Nutrition claim.",
          "items": {
            "type": "string"
          }
        },
        "storageInstructions": {
          "description": "Storage instructions.",
          "type": "string"
        },
        "ingredients": {
          "type": "string",
          "description": "Ingredients."
        },
        "indications": {
          "type": "string",
          "description": "Indications."
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "allergens": {
          "type": "string",
          "description": "Allergens."
        },
        "alcoholByVolume": {
          "description": "Alcohol by volume.",
          "format": "double",
          "type": "number"
        },
        "directions": {
          "description": "Directions.",
          "type": "string"
        }
      },
      "id": "Grocery"
    },
    "Certification": {
      "type": "object",
      "description": "Description of a certification.",
      "id": "Certification",
      "properties": {
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        },
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        }
      }
    },
    "Nutrition": {
      "type": "object",
      "id": "Nutrition",
      "properties": {
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "saturatedFatDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Saturated fat daily percentage."
        },
        "addedSugars": {
          "$ref": "FloatUnit",
          "description": "Added sugars."
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrateDailyPercentage": {
          "description": "Total carbohydrate daily percentage.",
          "format": "double",
          "type": "number"
        },
        "polyols": {
          "$ref": "FloatUnit",
          "description": "Polyols."
        },
        "totalFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Total fat daily percentage."
        },
        "folateMcgDfe": {
          "description": "Folate mcg DFE.",
          "type": "number",
          "format": "double"
        },
        "protein": {
          "$ref": "FloatUnit",
          "description": "Protein."
        },
        "potassium": {
          "description": "Potassium.",
          "$ref": "FloatUnit"
        },
        "totalSugars": {
          "description": "Total sugars.",
          "$ref": "FloatUnit"
        },
        "vitaminDDailyPercentage": {
          "description": "Vitamin D daily percentage.",
          "format": "double",
          "type": "number"
        },
        "iron": {
          "$ref": "FloatUnit",
          "description": "Iron."
        },
        "sodium": {
          "$ref": "FloatUnit",
          "description": "Sodium."
        },
        "starch": {
          "description": "Starch.",
          "$ref": "FloatUnit"
        },
        "preparedSizeDescription": {
          "type": "string",
          "description": "Prepared size description."
        },
        "polyunsaturatedFat": {
          "description": "Polyunsaturated fat.",
          "$ref": "FloatUnit"
        },
        "folateDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Folate daily percentage."
        },
        "dietaryFiberDailyPercentage": {
          "description": "Dietary fiber daily percentage.",
          "format": "double",
          "type": "number"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "servingSizeDescription": {
          "type": "string",
          "description": "Food Serving Size. Serving size description."
        },
        "cholesterolDailyPercentage": {
          "format": "double",
          "description": "Cholesterol daily percentage.",
          "type": "number"
        },
        "transFat": {
          "$ref": "FloatUnit",
          "description": "Trans fat."
        },
        "monounsaturatedFat": {
          "description": "Monounsaturated fat.",
          "$ref": "FloatUnit"
        },
        "voluntaryNutritionFact": {
          "items": {
            "$ref": "VoluntaryNutritionFact"
          },
          "type": "array",
          "description": "Voluntary nutrition fact."
        },
        "sodiumDailyPercentage": {
          "description": "Sodium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalSugarsDailyPercentage": {
          "type": "number",
          "description": "Total sugars daily percentage.",
          "format": "double"
        },
        "cholesterol": {
          "$ref": "FloatUnit",
          "description": "Cholesterol."
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "servingsPerContainer": {
          "description": "Servings per container.",
          "type": "string"
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "potassiumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Potassium daily percentage."
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "transFatDailyPercentage": {
          "format": "double",
          "description": "Trans fat daily percentage.",
          "type": "number"
        },
        "addedSugarsDailyPercentage": {
          "type": "number",
          "description": "Added sugars daily percentage.",
          "format": "double"
        },
        "calciumDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Calcium daily percentage."
        },
        "energyFromFat": {
          "$ref": "FloatUnit",
          "description": "Energy from fat."
        },
        "proteinDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Protein daily percentage."
        },
        "ironDailyPercentage": {
          "description": "Iron daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "vitaminD": {
          "$ref": "FloatUnit",
          "description": "Vitamin D."
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        }
      }
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        }
      },
      "type": "object",
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "description": "Description of a certification."
    },
    "Issue": {
      "properties": {
        "applicableCountries": {
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the issue."
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when this issue appeared."
        },
        "description": {
          "type": "string",
          "description": "Longer description of the issue focused on how to resolve it."
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Short title describing the nature of the issue."
        },
        "resolution": {
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "type": "string",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "description": "What needs to happen to resolve the issue."
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        }
      },
      "id": "Issue",
      "description": "Product issue.",
      "type": "object"
    },
    "Capacity": {
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "type": "object",
      "id": "Capacity",
      "properties": {
        "value": {
          "description": "The numeric value of the capacity.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      }
    },
    "ProductDetail": {
      "id": "ProductDetail",
      "properties": {
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "sectionName": {
          "type": "string",
          "description": "A short section name that can be reused between multiple product details."
        },
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail."
    },
    "Count": {
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "type": "object",
      "id": "Count",
      "properties": {
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "description": "The unit in which these products are counted."
        }
      }
    },
    "ListProductsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of product statuses."
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "Product"
          },
          "description": "List of the products."
        }
      },
      "id": "ListProductsResponse"
    },
    "FeatureDescription": {
      "id": "FeatureDescription",
      "type": "object",
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "properties": {
        "text": {
          "type": "string",
          "description": "A detailed description of the feature."
        },
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        },
        "headline": {
          "description": "A short description of the feature.",
          "type": "string"
        }
      }
    },
    "Product": {
      "id": "Product",
      "description": "Product data.",
      "properties": {
        "issues": {
          "description": "A server-generated list of issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array",
          "description": "The status of the destinations."
        },
        "name": {
          "type": "string",
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "feedLabel": {
          "description": "Optional. The feed label for the product.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListProductCertificationsResponse": {
      "id": "ListProductCertificationsResponse",
      "description": "Response for ListProductCertifications method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "productCertifications": {
          "description": "The product certifications from the specified certification body.",
          "type": "array",
          "items": {
            "$ref": "ProductCertification"
          }
        }
      }
    },
    "ProductCertification": {
      "description": "Product certification data.",
      "id": "ProductCertification",
      "properties": {
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "productCode": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Another name for GTIN."
        },
        "productType": {
          "type": "array",
          "description": "Optional. These are your own product categorization system in your product data.",
          "items": {
            "type": "string"
          }
        },
        "issues": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A server-generated list of issues associated with the product.",
          "items": {
            "$ref": "Issue"
          }
        },
        "brand": {
          "type": "string",
          "description": "Required. This is the product's brand name. The brand is used to help identify your product."
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "certification": {
          "description": "Required. A list of certifications to link to the described product.",
          "items": {
            "$ref": "Certification"
          },
          "type": "array"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "readOnly": true,
          "description": "Output only. The statuses of the destinations.",
          "type": "array"
        },
        "mpn": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer"
        },
        "countryCode": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Image": {
      "description": "An image.",
      "id": "Image",
      "properties": {
        "status": {
          "description": "The status of the image. @OutputOnly",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ]
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ]
        }
      },
      "type": "object"
    },
    "FloatUnit": {
      "description": "Combination of float amount and unit.",
      "type": "object",
      "id": "FloatUnit",
      "properties": {
        "amount": {
          "format": "double",
          "type": "number",
          "description": "amount."
        },
        "unit": {
          "description": "unit.",
          "type": "string"
        }
      }
    },
    "DestinationStatus": {
      "properties": {
        "disapprovedCountries": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
        },
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "approvedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "status": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ],
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "description": "The status of the destination."
        },
        "pendingCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval."
        }
      },
      "type": "object",
      "description": "The destination status.",
      "id": "DestinationStatus"
    },
    "Price": {
      "properties": {
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        },
        "amount": {
          "type": "string",
          "description": "The numeric value of the price."
        }
      },
      "description": "A price.",
      "id": "Price",
      "type": "object"
    },
    "Attributes": {
      "type": "object",
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "properties": {
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "productHighlight": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942"
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "includedDestination": {
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "excludedDestination": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        },
        "scent": {
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "certification": {
          "description": "Optional. List of certifications claimed by this product.",
          "type": "array",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          }
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "releaseDate": {
          "type": "string",
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release."
        },
        "size": {
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "featureDescription": {
          "type": "array",
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "material": {
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material.",
          "type": "string"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "videoLink": {
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "productDetail": {
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail."
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format."
        },
        "disclosureDate": {
          "type": "string",
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure."
        },
        "intendedCountry": {
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetClientId": {
          "type": "string",
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344"
        },
        "gtin": {
          "type": "array",
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "items": {
            "type": "string"
          }
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "richProductContent": {
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sizeType": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype."
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "description": {
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "productType": {
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "gender": {
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        }
      },
      "id": "Attributes"
    },
    "VoluntaryNutritionFact": {
      "id": "VoluntaryNutritionFact",
      "description": "Voluntary Nutrition Facts.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        },
        "name": {
          "description": "Name.",
          "type": "string"
        },
        "dailyPercentage": {
          "description": "Daily percentage.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    }
  },
  "version": "v1",
  "description": "Public API for managing Manufacturer Center related data.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  }
}