{
  "id": "marketingplatformadmin:v1alpha",
  "protocol": "rest",
  "batchPath": "batch",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "organizations": {
      "methods": {
        "get": {
          "description": "Looks up a single organization.",
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "response": {
            "$ref": "Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "id": "marketingplatformadmin.organizations.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}",
              "required": true
            }
          }
        },
        "reportPropertyUsage": {
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "parameterOrder": [
            "organization"
          ],
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "httpMethod": "POST",
          "parameters": {
            "organization": {
              "required": true,
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ]
        },
        "findSalesPartnerManagedClients": {
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "organization": {
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "required": true
            }
          },
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "parameterOrder": [
            "organization"
          ],
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "marketingplatformadmin.organizations.list",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "flatPath": "v1alpha/organizations",
          "path": "v1alpha/organizations",
          "parameterOrder": [],
          "description": "Returns a list of organizations that the user has access to."
        }
      },
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "list": {
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization."
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "request": {
                "$ref": "AnalyticsAccountLink"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}"
                }
              },
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "response": {
                "$ref": "AnalyticsAccountLink"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "required": true,
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "response": {
                "$ref": "Empty"
              }
            },
            "setPropertyServiceLevel": {
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "description": "Updates the service level for an Analytics property.",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "httpMethod": "POST",
              "parameters": {
                "analyticsAccountLink": {
                  "required": true,
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20260720",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "servicePath": "",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1alpha",
  "schemas": {
    "ListOrganizationsResponse": {
      "description": "Response message for ListOrganizations RPC.",
      "properties": {
        "organizations": {
          "items": {
            "$ref": "Organization"
          },
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListOrganizationsResponse"
    },
    "SetPropertyServiceLevelRequest": {
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "properties": {
        "analyticsProperty": {
          "type": "string",
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "serviceLevel": {
          "description": "Required. The service level to set for this property.",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "type": "string",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ]
        }
      },
      "id": "SetPropertyServiceLevelRequest",
      "type": "object"
    },
    "AnalyticsAccountLink": {
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.",
      "properties": {
        "analyticsAccount": {
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}",
          "type": "string"
        },
        "linkVerificationState": {
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization.",
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The human-readable name for the Analytics account.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\"",
          "type": "string"
        }
      },
      "id": "AnalyticsAccountLink",
      "type": "object"
    },
    "Money": {
      "id": "Money",
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        }
      }
    },
    "FindSalesPartnerManagedClientsResponse": {
      "description": "Response message for FindSalesPartnerManagedClients RPC.",
      "properties": {
        "clientData": {
          "items": {
            "$ref": "ClientData"
          },
          "description": "The clients managed by the sales org.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "FindSalesPartnerManagedClientsResponse"
    },
    "SetPropertyServiceLevelResponse": {
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "properties": {},
      "type": "object",
      "id": "SetPropertyServiceLevelResponse"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "BillInfo": {
      "id": "BillInfo",
      "type": "object",
      "description": "Contains the bill amount.",
      "properties": {
        "priceProtectionCredit": {
          "$ref": "Money",
          "description": "The amount of the price protection credit, this is only available for eligible customers."
        },
        "baseFee": {
          "description": "The amount of the monthly base fee.",
          "$ref": "Money"
        },
        "eventFee": {
          "$ref": "Money",
          "description": "The amount of the event fee."
        },
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        }
      }
    },
    "PropertyUsage": {
      "id": "PropertyUsage",
      "type": "object",
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events.",
      "properties": {
        "totalEventCount": {
          "type": "string",
          "description": "Total event count that the property received during the requested month.",
          "format": "int64"
        },
        "billableEventCount": {
          "description": "The number of events for which the property is billed in the requested month.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the property.",
          "type": "string"
        },
        "accountId": {
          "description": "The ID of the property's parent account.",
          "format": "int64",
          "type": "string"
        },
        "propertyType": {
          "description": "The subtype of the analytics property. This affects the billable event count.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ]
        },
        "property": {
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        },
        "serviceLevel": {
          "description": "The service level of the property.",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "type": "string",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ]
        }
      }
    },
    "FindSalesPartnerManagedClientsRequest": {
      "description": "Request message for FindSalesPartnerManagedClients RPC.",
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Optional. If set, only active and just ended clients will be returned."
        }
      },
      "id": "FindSalesPartnerManagedClientsRequest",
      "type": "object"
    },
    "Organization": {
      "type": "object",
      "id": "Organization",
      "description": "A resource message representing a Google Marketing Platform organization.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable name for the organization.",
          "type": "string"
        }
      }
    },
    "ClientData": {
      "description": "Contains the client data.",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the contract between the sales org and the end client."
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the contract between the sales org and the end client."
        },
        "organization": {
          "description": "The end client that has/had contract with the requested sales org.",
          "$ref": "Organization"
        }
      },
      "type": "object",
      "id": "ClientData"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListAnalyticsAccountLinksResponse": {
      "type": "object",
      "id": "ListAnalyticsAccountLinksResponse",
      "description": "Response message for ListAnalyticsAccountLinks RPC.",
      "properties": {
        "analyticsAccountLinks": {
          "type": "array",
          "items": {
            "$ref": "AnalyticsAccountLink"
          },
          "description": "Analytics account links in this organization."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ReportPropertyUsageResponse": {
      "description": "Response message for ReportPropertyUsage RPC.",
      "properties": {
        "propertyUsages": {
          "type": "array",
          "description": "Usage data for all properties in the specified organization and month.",
          "items": {
            "$ref": "PropertyUsage"
          }
        },
        "billInfo": {
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data.",
          "$ref": "BillInfo"
        }
      },
      "type": "object",
      "id": "ReportPropertyUsageResponse"
    },
    "ReportPropertyUsageRequest": {
      "id": "ReportPropertyUsageRequest",
      "type": "object",
      "description": "Request message for ReportPropertyUsage RPC.",
      "properties": {
        "month": {
          "type": "string",
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\""
        }
      }
    }
  },
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "name": "marketingplatformadmin",
  "canonicalName": "Google Marketing Platform Admin API",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "title": "Google Marketing Platform Admin API"
}