{
  "protocol": "rest",
  "title": "Google Marketing Platform Admin API",
  "ownerName": "Google",
  "revision": "20260903",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "version": "v1alpha",
  "discoveryVersion": "v1",
  "servicePath": "",
  "basePath": "",
  "resources": {
    "organizations": {
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "delete": {
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+name}",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$"
                }
              }
            },
            "setPropertyServiceLevel": {
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "httpMethod": "POST",
              "description": "Updates the service level for an Analytics property.",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "parameters": {
                "analyticsAccountLink": {
                  "location": "path",
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$"
                }
              },
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              }
            },
            "create": {
              "httpMethod": "POST",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "request": {
                "$ref": "AnalyticsAccountLink"
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ]
            }
          }
        }
      },
      "methods": {
        "list": {
          "parameterOrder": [],
          "path": "v1alpha/organizations",
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "id": "marketingplatformadmin.organizations.list",
          "flatPath": "v1alpha/organizations",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "type": "integer"
            }
          },
          "description": "Returns a list of organizations that the user has access to.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ]
        },
        "get": {
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "response": {
            "$ref": "Organization"
          },
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "marketingplatformadmin.organizations.get",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}",
              "location": "path"
            }
          },
          "description": "Looks up a single organization.",
          "httpMethod": "GET"
        },
        "findSalesPartnerManagedClients": {
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "httpMethod": "POST",
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "parameters": {
            "organization": {
              "location": "path",
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+$"
            }
          },
          "parameterOrder": [
            "organization"
          ]
        },
        "reportPropertyUsage": {
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "parameterOrder": [
            "organization"
          ],
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "httpMethod": "POST",
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "parameters": {
            "organization": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}"
            }
          },
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          }
        }
      }
    }
  },
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "canonicalName": "Google Marketing Platform Admin API",
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "name": "marketingplatformadmin",
  "version_module": true,
  "schemas": {
    "AnalyticsAccountLink": {
      "properties": {
        "linkVerificationState": {
          "readOnly": true,
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization.",
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\"",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human-readable name for the Analytics account."
        },
        "analyticsAccount": {
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}",
          "type": "string"
        }
      },
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.",
      "type": "object",
      "id": "AnalyticsAccountLink"
    },
    "SetPropertyServiceLevelResponse": {
      "properties": {},
      "type": "object",
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "id": "SetPropertyServiceLevelResponse"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListOrganizationsResponse": {
      "type": "object",
      "id": "ListOrganizationsResponse",
      "properties": {
        "organizations": {
          "type": "array",
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "items": {
            "$ref": "Organization"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListOrganizations RPC."
    },
    "FindSalesPartnerManagedClientsRequest": {
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Optional. If set, only active and just ended clients will be returned."
        }
      },
      "type": "object",
      "description": "Request message for FindSalesPartnerManagedClients RPC.",
      "id": "FindSalesPartnerManagedClientsRequest"
    },
    "Money": {
      "type": "object",
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "PropertyUsage": {
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events.",
      "type": "object",
      "properties": {
        "property": {
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        },
        "billableEventCount": {
          "description": "The number of events for which the property is billed in the requested month.",
          "format": "int64",
          "type": "string"
        },
        "propertyType": {
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "description": "The subtype of the analytics property. This affects the billable event count.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "displayName": {
          "description": "The display name of the property.",
          "type": "string"
        },
        "totalEventCount": {
          "description": "Total event count that the property received during the requested month.",
          "format": "int64",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the property's parent account."
        },
        "serviceLevel": {
          "type": "string",
          "description": "The service level of the property.",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ]
        }
      },
      "id": "PropertyUsage"
    },
    "ReportPropertyUsageResponse": {
      "description": "Response message for ReportPropertyUsage RPC.",
      "type": "object",
      "properties": {
        "billInfo": {
          "$ref": "BillInfo",
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data."
        },
        "propertyUsages": {
          "description": "Usage data for all properties in the specified organization and month.",
          "type": "array",
          "items": {
            "$ref": "PropertyUsage"
          }
        }
      },
      "id": "ReportPropertyUsageResponse"
    },
    "SetPropertyServiceLevelRequest": {
      "properties": {
        "analyticsProperty": {
          "type": "string",
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "serviceLevel": {
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "description": "Required. The service level to set for this property.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SetPropertyServiceLevelRequest",
      "description": "Request message for SetPropertyServiceLevel RPC."
    },
    "ReportPropertyUsageRequest": {
      "type": "object",
      "id": "ReportPropertyUsageRequest",
      "properties": {
        "month": {
          "type": "string",
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\""
        }
      },
      "description": "Request message for ReportPropertyUsage RPC."
    },
    "ClientData": {
      "type": "object",
      "description": "Contains the client data.",
      "properties": {
        "startDate": {
          "description": "The start date of the contract between the sales org and the end client.",
          "$ref": "Date"
        },
        "organization": {
          "$ref": "Organization",
          "description": "The end client that has/had contract with the requested sales org."
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the contract between the sales org and the end client."
        }
      },
      "id": "ClientData"
    },
    "FindSalesPartnerManagedClientsResponse": {
      "description": "Response message for FindSalesPartnerManagedClients RPC.",
      "properties": {
        "clientData": {
          "type": "array",
          "items": {
            "$ref": "ClientData"
          },
          "description": "The clients managed by the sales org."
        }
      },
      "type": "object",
      "id": "FindSalesPartnerManagedClientsResponse"
    },
    "Organization": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name for the organization."
        }
      },
      "id": "Organization",
      "description": "A resource message representing a Google Marketing Platform organization."
    },
    "BillInfo": {
      "id": "BillInfo",
      "description": "Contains the bill amount.",
      "type": "object",
      "properties": {
        "priceProtectionCredit": {
          "description": "The amount of the price protection credit, this is only available for eligible customers.",
          "$ref": "Money"
        },
        "total": {
          "$ref": "Money",
          "description": "The total amount of the bill."
        },
        "baseFee": {
          "$ref": "Money",
          "description": "The amount of the monthly base fee."
        },
        "eventFee": {
          "description": "The amount of the event fee.",
          "$ref": "Money"
        }
      }
    },
    "ListAnalyticsAccountLinksResponse": {
      "description": "Response message for ListAnalyticsAccountLinks RPC.",
      "properties": {
        "analyticsAccountLinks": {
          "description": "Analytics account links in this organization.",
          "items": {
            "$ref": "AnalyticsAccountLink"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAnalyticsAccountLinksResponse"
    }
  },
  "batchPath": "batch",
  "id": "marketingplatformadmin:v1alpha"
}