{
  "version": "v1alpha",
  "name": "marketingplatformadmin",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "revision": "20260715",
  "id": "marketingplatformadmin:v1alpha",
  "title": "Google Marketing Platform Admin API",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "schemas": {
    "ListAnalyticsAccountLinksResponse": {
      "properties": {
        "analyticsAccountLinks": {
          "type": "array",
          "items": {
            "$ref": "AnalyticsAccountLink"
          },
          "description": "Analytics account links in this organization."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListAnalyticsAccountLinksResponse",
      "type": "object",
      "description": "Response message for ListAnalyticsAccountLinks RPC."
    },
    "ClientData": {
      "properties": {
        "organization": {
          "description": "The end client that has/had contract with the requested sales org.",
          "$ref": "Organization"
        },
        "endDate": {
          "description": "The end date of the contract between the sales org and the end client.",
          "$ref": "Date"
        },
        "startDate": {
          "description": "The start date of the contract between the sales org and the end client.",
          "$ref": "Date"
        }
      },
      "id": "ClientData",
      "type": "object",
      "description": "Contains the client data."
    },
    "Date": {
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "BillInfo": {
      "properties": {
        "eventFee": {
          "description": "The amount of the event fee.",
          "$ref": "Money"
        },
        "baseFee": {
          "description": "The amount of the monthly base fee.",
          "$ref": "Money"
        },
        "priceProtectionCredit": {
          "description": "The amount of the price protection credit, this is only available for eligible customers.",
          "$ref": "Money"
        },
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        }
      },
      "id": "BillInfo",
      "type": "object",
      "description": "Contains the bill amount."
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "FindSalesPartnerManagedClientsRequest": {
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Optional. If set, only active and just ended clients will be returned."
        }
      },
      "id": "FindSalesPartnerManagedClientsRequest",
      "type": "object",
      "description": "Request message for FindSalesPartnerManagedClients RPC."
    },
    "SetPropertyServiceLevelRequest": {
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "id": "SetPropertyServiceLevelRequest",
      "type": "object",
      "properties": {
        "analyticsProperty": {
          "type": "string",
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "serviceLevel": {
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "description": "Required. The service level to set for this property.",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ]
        }
      }
    },
    "PropertyUsage": {
      "id": "PropertyUsage",
      "type": "object",
      "properties": {
        "property": {
          "type": "string",
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the property's parent account."
        },
        "totalEventCount": {
          "description": "Total event count that the property received during the requested month.",
          "format": "int64",
          "type": "string"
        },
        "billableEventCount": {
          "description": "The number of events for which the property is billed in the requested month.",
          "format": "int64",
          "type": "string"
        },
        "propertyType": {
          "type": "string",
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "description": "The subtype of the analytics property. This affects the billable event count.",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "serviceLevel": {
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "description": "The service level of the property.",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the property."
        }
      },
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events."
    },
    "FindSalesPartnerManagedClientsResponse": {
      "properties": {
        "clientData": {
          "type": "array",
          "items": {
            "$ref": "ClientData"
          },
          "description": "The clients managed by the sales org."
        }
      },
      "id": "FindSalesPartnerManagedClientsResponse",
      "type": "object",
      "description": "Response message for FindSalesPartnerManagedClients RPC."
    },
    "ReportPropertyUsageRequest": {
      "properties": {
        "month": {
          "type": "string",
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\""
        }
      },
      "id": "ReportPropertyUsageRequest",
      "type": "object",
      "description": "Request message for ReportPropertyUsage RPC."
    },
    "AnalyticsAccountLink": {
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.",
      "id": "AnalyticsAccountLink",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\""
        },
        "analyticsAccount": {
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human-readable name for the Analytics account."
        },
        "linkVerificationState": {
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ]
        }
      }
    },
    "ListOrganizationsResponse": {
      "description": "Response message for ListOrganizations RPC.",
      "id": "ListOrganizationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "organizations": {
          "type": "array",
          "items": {
            "$ref": "Organization"
          },
          "description": "The Organization resource that the user has access to, which includes the org id and display name."
        }
      }
    },
    "ReportPropertyUsageResponse": {
      "description": "Response message for ReportPropertyUsage RPC.",
      "id": "ReportPropertyUsageResponse",
      "type": "object",
      "properties": {
        "propertyUsages": {
          "description": "Usage data for all properties in the specified organization and month.",
          "type": "array",
          "items": {
            "$ref": "PropertyUsage"
          }
        },
        "billInfo": {
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data.",
          "$ref": "BillInfo"
        }
      }
    },
    "Organization": {
      "description": "A resource message representing a Google Marketing Platform organization.",
      "id": "Organization",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name for the organization."
        }
      }
    },
    "SetPropertyServiceLevelResponse": {
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "id": "SetPropertyServiceLevelResponse",
      "type": "object",
      "properties": {}
    }
  },
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "canonicalName": "Google Marketing Platform Admin API",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "resources": {
    "organizations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "description": "Looks up a single organization.",
          "response": {
            "$ref": "Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}"
            }
          },
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "httpMethod": "GET",
          "id": "marketingplatformadmin.organizations.get"
        },
        "findSalesPartnerManagedClients": {
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "httpMethod": "POST",
          "parameters": {
            "organization": {
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}"
            }
          },
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "parameterOrder": [
            "organization"
          ]
        },
        "reportPropertyUsage": {
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "httpMethod": "POST",
          "parameters": {
            "organization": {
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          },
          "parameterOrder": [
            "organization"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "path": "v1alpha/organizations",
          "description": "Returns a list of organizations that the user has access to.",
          "parameterOrder": [],
          "id": "marketingplatformadmin.organizations.list",
          "flatPath": "v1alpha/organizations",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "create": {
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "request": {
                "$ref": "AnalyticsAccountLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again."
            },
            "list": {
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "path": "v1alpha/{+name}",
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$"
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete"
            },
            "setPropertyServiceLevel": {
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "description": "Updates the service level for an Analytics property.",
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "httpMethod": "POST",
              "parameters": {
                "analyticsAccountLink": {
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "location": "path",
                  "required": true
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel"
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "protocol": "rest"
}