{
  "discoveryVersion": "v1",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "kind": "discovery#restDescription",
  "resources": {
    "organizations": {
      "resources": {
        "adminAccessBindings": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent organization, which owns this collection of Admin Access Bindings. Format: organizations/{org_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of Admin Access Bindings to return in one call. The service may return fewer than this value. If unspecified, at most 50 Admin Access Bindings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous ListAdminAccessBindings call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdminAccessBindings` must match the call that provided the page token."
                }
              },
              "httpMethod": "GET",
              "description": "Returns a list of admin access bindings in the specified GMP organization.",
              "path": "v1alpha/{+parent}/adminAccessBindings",
              "parameterOrder": [
                "parent"
              ],
              "id": "marketingplatformadmin.organizations.adminAccessBindings.list",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings",
              "response": {
                "$ref": "ListAdminAccessBindingsResponse"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent organization, which owns this Admin Access Binding. Format: organizations/{org_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1alpha/{+parent}/adminAccessBindings",
              "httpMethod": "POST",
              "description": "Creates an admin access binding in the specified GMP organization.",
              "request": {
                "$ref": "AdminAccessBinding"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "id": "marketingplatformadmin.organizations.adminAccessBindings.create"
            },
            "get": {
              "description": "Looks up a single admin access binding.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the AdminAccessBinding to retrieve. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/adminAccessBindings/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "marketingplatformadmin.organizations.adminAccessBindings.get",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings/{adminAccessBindingsId}",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "path": "v1alpha/{+name}"
            },
            "patch": {
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings/{adminAccessBindingsId}",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "id": "marketingplatformadmin.organizations.adminAccessBindings.patch",
              "description": "Updates an admin access binding in the specified GMP organization.",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/adminAccessBindings/[^/]+$",
                  "description": "Identifier. The resource name of this AdminAccessBinding. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id} Example: \"organizations/123abc/adminAccessBindings/456def\"",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "AdminAccessBinding"
              }
            }
          }
        },
        "analyticsAccountLinks": {
          "methods": {
            "setPropertyServiceLevel": {
              "description": "Updates the service level for an Analytics property.",
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "parameters": {
                "analyticsAccountLink": {
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "POST",
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/analyticsAccountLinks"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "AnalyticsAccountLink"
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again."
            },
            "delete": {
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "response": {
                "$ref": "Empty"
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "DELETE"
            }
          }
        },
        "userGroups": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the UserGroup to retrieve. Format: organizations/{org_id}/userGroups/{user_group_id}",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "description": "Looks up a single user group.",
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "response": {
                "$ref": "UserGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.userGroups.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "create": {
              "id": "marketingplatformadmin.organizations.userGroups.create",
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups",
              "response": {
                "$ref": "UserGroup"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this UserGroup will be created. Format: organizations/{org_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1alpha/{+parent}/userGroups",
              "request": {
                "$ref": "UserGroup"
              },
              "description": "Creates a user group in the specified GMP organization.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ]
            },
            "delete": {
              "id": "marketingplatformadmin.organizations.userGroups.delete",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a user group in the specified GMP organization.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the user group to delete. Format: organizations/{org_id}/userGroups/{user_group_id}",
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ]
            },
            "patch": {
              "request": {
                "$ref": "UserGroup"
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a user group in the specified GMP organization.",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "PATCH",
              "id": "marketingplatformadmin.organizations.userGroups.patch",
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "response": {
                "$ref": "UserGroup"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. Resource name of this UserGroup. Format: organizations/{org_id}/userGroups/{user_group_id} Example: \"organizations/123abc/userGroups/456def\""
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "list": {
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups",
              "response": {
                "$ref": "ListUserGroupsResponse"
              },
              "path": "v1alpha/{+parent}/userGroups",
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns a list of user groups in the specified GMP organization.",
              "id": "marketingplatformadmin.organizations.userGroups.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous ListUserGroups call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserGroups` must match the call that provided the page token."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of user groups to return in one call. The service may return fewer than this value. If unspecified, at most 50 user groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent org where this UserGroup will be listed. Format: organizations/{org_id}",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ]
            }
          },
          "resources": {
            "members": {
              "methods": {
                "create": {
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members",
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                      "description": "Required. The parent resource where this UserGroupMember will be created. Format: organizations/{org_id}/userGroups/{user_group_id}",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Adds a member to the specified GMP user group.",
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "request": {
                    "$ref": "UserGroupMember"
                  },
                  "path": "v1alpha/{+parent}/members",
                  "id": "marketingplatformadmin.organizations.userGroups.members.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the user group member to delete. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id}",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a member in the specified GMP user group.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "marketingplatformadmin.organizations.userGroups.members.delete"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "description": "Looks up a single user group member.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the user group member to retrieve. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id}",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "marketingplatformadmin.organizations.userGroups.members.get",
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "response": {
                    "$ref": "UserGroupMember"
                  }
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The resource name of this UserGroupMember. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id} Example: \"organizations/123abc/userGroups/456def/members/789ghi\"",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "marketingplatformadmin.organizations.userGroups.members.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "UserGroupMember"
                  },
                  "description": "Updates a member in the specified GMP user group.",
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ]
                },
                "list": {
                  "path": "v1alpha/{+parent}/members",
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members",
                  "response": {
                    "$ref": "ListUserGroupMembersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of user group members to return in one call. The service may return fewer than this value. If unspecified, at most 50 user group members will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent user group where this UserGroupMember will be listed. Format: organizations/{org_id}/userGroups/{user_group_id}",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous ListUserGroupMembers call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserGroupMembers` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns a list of members in the specified user group.",
                  "id": "marketingplatformadmin.organizations.userGroups.members.list",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      },
      "methods": {
        "list": {
          "id": "marketingplatformadmin.organizations.list",
          "parameterOrder": [],
          "flatPath": "v1alpha/organizations",
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32"
            }
          },
          "description": "Returns a list of organizations that the user has access to.",
          "path": "v1alpha/organizations",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ]
        },
        "get": {
          "description": "Looks up a single organization.",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "marketingplatformadmin.organizations.get",
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "response": {
            "$ref": "Organization"
          }
        },
        "findSalesPartnerManagedClients": {
          "httpMethod": "POST",
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "parameters": {
            "organization": {
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "type": "string"
            }
          },
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "parameterOrder": [
            "organization"
          ],
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          }
        },
        "reportPropertyUsage": {
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "organization": {
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "parameterOrder": [
            "organization"
          ],
          "id": "marketingplatformadmin.organizations.reportPropertyUsage"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "canonicalName": "Google Marketing Platform Admin API",
  "title": "Google Marketing Platform Admin API",
  "version": "v1alpha",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "id": "marketingplatformadmin:v1alpha",
  "batchPath": "batch",
  "ownerName": "Google",
  "name": "marketingplatformadmin",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "servicePath": "",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "version_module": true,
  "protocol": "rest",
  "revision": "20260917",
  "schemas": {
    "ListAdminAccessBindingsResponse": {
      "type": "object",
      "description": "Response message for ListAdminAccessBindings RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "adminAccessBindings": {
          "description": "Admin Access Bindings in the organization.",
          "type": "array",
          "items": {
            "$ref": "AdminAccessBinding"
          }
        }
      },
      "id": "ListAdminAccessBindingsResponse"
    },
    "ListUserGroupMembersResponse": {
      "id": "ListUserGroupMembersResponse",
      "description": "Response message for ListUserGroupMembers RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userGroupMembers": {
          "type": "array",
          "description": "User group members in the user group.",
          "items": {
            "$ref": "UserGroupMember"
          }
        }
      },
      "type": "object"
    },
    "Date": {
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "FindSalesPartnerManagedClientsRequest": {
      "description": "Request message for FindSalesPartnerManagedClients RPC.",
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Optional. If set, only active and just ended clients will be returned."
        }
      },
      "id": "FindSalesPartnerManagedClientsRequest",
      "type": "object"
    },
    "ReportPropertyUsageRequest": {
      "type": "object",
      "id": "ReportPropertyUsageRequest",
      "description": "Request message for ReportPropertyUsage RPC.",
      "properties": {
        "month": {
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\"",
          "type": "string"
        }
      }
    },
    "ListUserGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userGroups": {
          "description": "User groups in the organization.",
          "type": "array",
          "items": {
            "$ref": "UserGroup"
          }
        }
      },
      "description": "Response message for ListUserGroups RPC.",
      "type": "object",
      "id": "ListUserGroupsResponse"
    },
    "SetPropertyServiceLevelResponse": {
      "type": "object",
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "properties": {},
      "id": "SetPropertyServiceLevelResponse"
    },
    "PropertyUsage": {
      "type": "object",
      "id": "PropertyUsage",
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events.",
      "properties": {
        "serviceLevel": {
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "description": "The service level of the property."
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string",
          "description": "The subtype of the analytics property. This affects the billable event count."
        },
        "displayName": {
          "description": "The display name of the property.",
          "type": "string"
        },
        "accountId": {
          "description": "The ID of the property's parent account.",
          "format": "int64",
          "type": "string"
        },
        "billableEventCount": {
          "description": "The number of events for which the property is billed in the requested month.",
          "format": "int64",
          "type": "string"
        },
        "totalEventCount": {
          "format": "int64",
          "description": "Total event count that the property received during the requested month.",
          "type": "string"
        },
        "property": {
          "type": "string",
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ReportPropertyUsageResponse": {
      "properties": {
        "billInfo": {
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data.",
          "$ref": "BillInfo"
        },
        "propertyUsages": {
          "items": {
            "$ref": "PropertyUsage"
          },
          "type": "array",
          "description": "Usage data for all properties in the specified organization and month."
        }
      },
      "id": "ReportPropertyUsageResponse",
      "description": "Response message for ReportPropertyUsage RPC.",
      "type": "object"
    },
    "ListOrganizationsResponse": {
      "type": "object",
      "description": "Response message for ListOrganizations RPC.",
      "properties": {
        "organizations": {
          "type": "array",
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "items": {
            "$ref": "Organization"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListOrganizationsResponse"
    },
    "Organization": {
      "type": "object",
      "id": "Organization",
      "properties": {
        "displayName": {
          "description": "The human-readable name for the organization.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}",
          "type": "string"
        }
      },
      "description": "A resource message representing a Google Marketing Platform organization."
    },
    "AdminAccessBinding": {
      "description": "A resource message representing a binding to a set of roles.",
      "properties": {
        "userGroup": {
          "type": "string",
          "description": "Resource name of the user group."
        },
        "name": {
          "description": "Identifier. The resource name of this AdminAccessBinding. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id} Example: \"organizations/123abc/adminAccessBindings/456def\"",
          "type": "string"
        },
        "organizationRoles": {
          "items": {
            "enum": [
              "ORGANIZATION_ROLE_UNSPECIFIED",
              "ORG_ADMIN_ROLE",
              "USER_ADMIN_ROLE",
              "BILLING_ADMIN_ROLE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified organization role.",
              "Organization admin role that grants all administrative privileges.",
              "User admin role that grants access to the Users section to perform various user management functions.",
              "Billing admin role that grants access to the Billing section to perform various billing-related functions."
            ]
          },
          "type": "array",
          "description": "Optional. A list of roles granted to the parent organization. USER_ADMIN_ROLE and BILLING_ADMIN_ROLE will be automatically added if ORG_ADMIN_ROLE is assigned. No roles will be assigned if no roles are specified."
        },
        "userEmail": {
          "description": "Email address of the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdminAccessBinding"
    },
    "ListAnalyticsAccountLinksResponse": {
      "type": "object",
      "description": "Response message for ListAnalyticsAccountLinks RPC.",
      "properties": {
        "analyticsAccountLinks": {
          "description": "Analytics account links in this organization.",
          "items": {
            "$ref": "AnalyticsAccountLink"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAnalyticsAccountLinksResponse"
    },
    "FindSalesPartnerManagedClientsResponse": {
      "type": "object",
      "properties": {
        "clientData": {
          "type": "array",
          "items": {
            "$ref": "ClientData"
          },
          "description": "The clients managed by the sales org."
        }
      },
      "description": "Response message for FindSalesPartnerManagedClients RPC.",
      "id": "FindSalesPartnerManagedClientsResponse"
    },
    "UserGroupMember": {
      "id": "UserGroupMember",
      "properties": {
        "userGroup": {
          "type": "string",
          "description": "User group resource name of the group member."
        },
        "name": {
          "description": "Identifier. The resource name of this UserGroupMember. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id} Example: \"organizations/123abc/userGroups/456def/members/789ghi\"",
          "type": "string"
        },
        "membershipRole": {
          "description": "Optional. The role of the member in the user group.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified membership role.",
            "Owner role that can add and remove group members.",
            "Member role that receives all permissions assigned to the group."
          ],
          "enum": [
            "MEMBERSHIP_ROLE_UNSPECIFIED",
            "MEMBERSHIP_ROLE_OWNER",
            "MEMBERSHIP_ROLE_MEMBER"
          ]
        },
        "userEmail": {
          "description": "Email address of the user member.",
          "type": "string"
        }
      },
      "description": "A resource message representing a member of a user group.",
      "type": "object"
    },
    "SetPropertyServiceLevelRequest": {
      "id": "SetPropertyServiceLevelRequest",
      "properties": {
        "analyticsProperty": {
          "type": "string",
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "serviceLevel": {
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "type": "string",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "description": "Required. The service level to set for this property."
        }
      },
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "type": "object"
    },
    "UserGroup": {
      "type": "object",
      "description": "A resource message representing a user group in a GMP organization.",
      "id": "UserGroup",
      "properties": {
        "displayName": {
          "description": "Optional. The human-readable name for the user group.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the user group."
        },
        "name": {
          "description": "Identifier. Resource name of this UserGroup. Format: organizations/{org_id}/userGroups/{user_group_id} Example: \"organizations/123abc/userGroups/456def\"",
          "type": "string"
        }
      }
    },
    "BillInfo": {
      "type": "object",
      "id": "BillInfo",
      "description": "Contains the bill amount.",
      "properties": {
        "eventFee": {
          "$ref": "Money",
          "description": "The amount of the event fee."
        },
        "priceProtectionCredit": {
          "description": "The amount of the price protection credit, this is only available for eligible customers.",
          "$ref": "Money"
        },
        "baseFee": {
          "description": "The amount of the monthly base fee.",
          "$ref": "Money"
        },
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        }
      }
    },
    "ClientData": {
      "type": "object",
      "properties": {
        "organization": {
          "description": "The end client that has/had contract with the requested sales org.",
          "$ref": "Organization"
        },
        "endDate": {
          "description": "The end date of the contract between the sales org and the end client.",
          "$ref": "Date"
        },
        "startDate": {
          "description": "The start date of the contract between the sales org and the end client.",
          "$ref": "Date"
        }
      },
      "description": "Contains the client data.",
      "id": "ClientData"
    },
    "AnalyticsAccountLink": {
      "properties": {
        "linkVerificationState": {
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "readOnly": true,
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization.",
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\""
        },
        "displayName": {
          "description": "Output only. The human-readable name for the Analytics account.",
          "readOnly": true,
          "type": "string"
        },
        "analyticsAccount": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}"
        }
      },
      "id": "AnalyticsAccountLink",
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.",
      "type": "object"
    }
  }
}