{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "servicePath": "",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "schemas": {
    "SetPropertyServiceLevelResponse": {
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "id": "SetPropertyServiceLevelResponse",
      "type": "object",
      "properties": {}
    },
    "ListOrganizationsResponse": {
      "description": "Response message for ListOrganizations RPC.",
      "type": "object",
      "properties": {
        "organizations": {
          "type": "array",
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "items": {
            "$ref": "Organization"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListOrganizationsResponse"
    },
    "BillInfo": {
      "description": "Contains the bill amount.",
      "id": "BillInfo",
      "type": "object",
      "properties": {
        "eventFee": {
          "description": "The amount of the event fee.",
          "$ref": "Money"
        },
        "priceProtectionCredit": {
          "$ref": "Money",
          "description": "The amount of the price protection credit, this is only available for eligible customers."
        },
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        },
        "baseFee": {
          "$ref": "Money",
          "description": "The amount of the monthly base fee."
        }
      }
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "AnalyticsAccountLink": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\"",
          "type": "string"
        },
        "analyticsAccount": {
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}",
          "type": "string"
        },
        "linkVerificationState": {
          "readOnly": true,
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "type": "string",
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization."
        },
        "displayName": {
          "description": "Output only. The human-readable name for the Analytics account.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "AnalyticsAccountLink",
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ReportPropertyUsageResponse": {
      "description": "Response message for ReportPropertyUsage RPC.",
      "id": "ReportPropertyUsageResponse",
      "type": "object",
      "properties": {
        "propertyUsages": {
          "type": "array",
          "description": "Usage data for all properties in the specified organization and month.",
          "items": {
            "$ref": "PropertyUsage"
          }
        },
        "billInfo": {
          "$ref": "BillInfo",
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data."
        }
      }
    },
    "ClientData": {
      "description": "Contains the client data.",
      "id": "ClientData",
      "type": "object",
      "properties": {
        "organization": {
          "description": "The end client that has/had contract with the requested sales org.",
          "$ref": "Organization"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the contract between the sales org and the end client."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the contract between the sales org and the end client."
        }
      }
    },
    "SetPropertyServiceLevelRequest": {
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "id": "SetPropertyServiceLevelRequest",
      "type": "object",
      "properties": {
        "analyticsProperty": {
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "type": "string",
          "description": "Required. The service level to set for this property.",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ]
        }
      }
    },
    "ReportPropertyUsageRequest": {
      "id": "ReportPropertyUsageRequest",
      "type": "object",
      "properties": {
        "month": {
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\"",
          "type": "string"
        }
      },
      "description": "Request message for ReportPropertyUsage RPC."
    },
    "ListAnalyticsAccountLinksResponse": {
      "description": "Response message for ListAnalyticsAccountLinks RPC.",
      "id": "ListAnalyticsAccountLinksResponse",
      "type": "object",
      "properties": {
        "analyticsAccountLinks": {
          "type": "array",
          "description": "Analytics account links in this organization.",
          "items": {
            "$ref": "AnalyticsAccountLink"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Money": {
      "id": "Money",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "Organization": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable name for the organization.",
          "type": "string"
        }
      },
      "id": "Organization",
      "description": "A resource message representing a Google Marketing Platform organization."
    },
    "FindSalesPartnerManagedClientsRequest": {
      "description": "Request message for FindSalesPartnerManagedClients RPC.",
      "type": "object",
      "properties": {
        "isActive": {
          "description": "Optional. If set, only active and just ended clients will be returned.",
          "type": "boolean"
        }
      },
      "id": "FindSalesPartnerManagedClientsRequest"
    },
    "FindSalesPartnerManagedClientsResponse": {
      "type": "object",
      "properties": {
        "clientData": {
          "description": "The clients managed by the sales org.",
          "items": {
            "$ref": "ClientData"
          },
          "type": "array"
        }
      },
      "id": "FindSalesPartnerManagedClientsResponse",
      "description": "Response message for FindSalesPartnerManagedClients RPC."
    },
    "PropertyUsage": {
      "id": "PropertyUsage",
      "type": "object",
      "properties": {
        "propertyType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "description": "The subtype of the analytics property. This affects the billable event count.",
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ]
        },
        "displayName": {
          "description": "The display name of the property.",
          "type": "string"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "type": "string",
          "description": "The service level of the property.",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ]
        },
        "accountId": {
          "description": "The ID of the property's parent account.",
          "format": "int64",
          "type": "string"
        },
        "totalEventCount": {
          "description": "Total event count that the property received during the requested month.",
          "format": "int64",
          "type": "string"
        },
        "property": {
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        },
        "billableEventCount": {
          "type": "string",
          "description": "The number of events for which the property is billed in the requested month.",
          "format": "int64"
        }
      },
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events."
    }
  },
  "version": "v1alpha",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "organizations": {
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              }
            },
            "setPropertyServiceLevel": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "description": "Updates the service level for an Analytics property.",
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "parameters": {
                "analyticsAccountLink": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              }
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "parameterOrder": [
                "parent"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "AnalyticsAccountLink"
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "description": "Looks up a single organization.",
          "parameterOrder": [
            "name"
          ],
          "id": "marketingplatformadmin.organizations.get",
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Organization"
          }
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "marketingplatformadmin.organizations.list",
          "path": "v1alpha/organizations",
          "flatPath": "v1alpha/organizations",
          "description": "Returns a list of organizations that the user has access to.",
          "parameterOrder": []
        },
        "findSalesPartnerManagedClients": {
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "parameterOrder": [
            "organization"
          ],
          "parameters": {
            "organization": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients"
        },
        "reportPropertyUsage": {
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "parameterOrder": [
            "organization"
          ],
          "parameters": {
            "organization": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}"
            }
          },
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "path": "v1alpha/{+organization}:reportPropertyUsage"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "canonicalName": "Google Marketing Platform Admin API",
  "revision": "20260716",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "name": "marketingplatformadmin",
  "basePath": "",
  "ownerDomain": "google.com",
  "id": "marketingplatformadmin:v1alpha",
  "title": "Google Marketing Platform Admin API"
}