{
  "canonicalName": "Google Marketing Platform Admin API",
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v1alpha",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "name": "marketingplatformadmin",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260826",
  "version_module": true,
  "ownerName": "Google",
  "resources": {
    "organizations": {
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "setPropertyServiceLevel": {
              "parameters": {
                "analyticsAccountLink": {
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "required": true
                }
              },
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "httpMethod": "POST",
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "description": "Updates the service level for an Analytics property.",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "request": {
                "$ref": "AnalyticsAccountLink"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "path": "v1alpha/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link."
            },
            "list": {
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "GET",
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "path": "v1alpha/{+parent}/analyticsAccountLinks"
            }
          }
        }
      },
      "methods": {
        "reportPropertyUsage": {
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "parameters": {
            "organization": {
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "httpMethod": "POST",
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          },
          "parameterOrder": [
            "organization"
          ]
        },
        "list": {
          "path": "v1alpha/organizations",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "id": "marketingplatformadmin.organizations.list",
          "description": "Returns a list of organizations that the user has access to.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v1alpha/organizations",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ]
        },
        "findSalesPartnerManagedClients": {
          "parameters": {
            "organization": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "required": true,
              "pattern": "^organizations/[^/]+$"
            }
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "parameterOrder": [
            "organization"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "httpMethod": "POST",
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "httpMethod": "GET",
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "description": "Looks up a single organization.",
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "response": {
            "$ref": "Organization"
          },
          "id": "marketingplatformadmin.organizations.get",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "schemas": {
    "Date": {
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object"
    },
    "BillInfo": {
      "properties": {
        "priceProtectionCredit": {
          "description": "The amount of the price protection credit, this is only available for eligible customers.",
          "$ref": "Money"
        },
        "eventFee": {
          "$ref": "Money",
          "description": "The amount of the event fee."
        },
        "baseFee": {
          "$ref": "Money",
          "description": "The amount of the monthly base fee."
        },
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        }
      },
      "description": "Contains the bill amount.",
      "type": "object",
      "id": "BillInfo"
    },
    "SetPropertyServiceLevelRequest": {
      "id": "SetPropertyServiceLevelRequest",
      "properties": {
        "analyticsProperty": {
          "type": "string",
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "description": "Required. The service level to set for this property.",
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ]
        }
      },
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "type": "object"
    },
    "AnalyticsAccountLink": {
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\""
        },
        "linkVerificationState": {
          "type": "string",
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization.",
          "readOnly": true,
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ]
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human-readable name for the Analytics account."
        },
        "analyticsAccount": {
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}",
          "type": "string"
        }
      },
      "id": "AnalyticsAccountLink",
      "type": "object"
    },
    "PropertyUsage": {
      "type": "object",
      "id": "PropertyUsage",
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events.",
      "properties": {
        "totalEventCount": {
          "description": "Total event count that the property received during the requested month.",
          "type": "string",
          "format": "int64"
        },
        "propertyType": {
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "type": "string",
          "description": "The subtype of the analytics property. This affects the billable event count."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the property."
        },
        "accountId": {
          "format": "int64",
          "description": "The ID of the property's parent account.",
          "type": "string"
        },
        "serviceLevel": {
          "type": "string",
          "description": "The service level of the property.",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ]
        },
        "property": {
          "type": "string",
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "billableEventCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of events for which the property is billed in the requested month."
        }
      }
    },
    "ListAnalyticsAccountLinksResponse": {
      "description": "Response message for ListAnalyticsAccountLinks RPC.",
      "properties": {
        "analyticsAccountLinks": {
          "type": "array",
          "items": {
            "$ref": "AnalyticsAccountLink"
          },
          "description": "Analytics account links in this organization."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAnalyticsAccountLinksResponse"
    },
    "ReportPropertyUsageRequest": {
      "description": "Request message for ReportPropertyUsage RPC.",
      "id": "ReportPropertyUsageRequest",
      "properties": {
        "month": {
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportPropertyUsageResponse": {
      "description": "Response message for ReportPropertyUsage RPC.",
      "properties": {
        "propertyUsages": {
          "description": "Usage data for all properties in the specified organization and month.",
          "items": {
            "$ref": "PropertyUsage"
          },
          "type": "array"
        },
        "billInfo": {
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data.",
          "$ref": "BillInfo"
        }
      },
      "id": "ReportPropertyUsageResponse",
      "type": "object"
    },
    "SetPropertyServiceLevelResponse": {
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "properties": {},
      "id": "SetPropertyServiceLevelResponse",
      "type": "object"
    },
    "Money": {
      "id": "Money",
      "type": "object",
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "FindSalesPartnerManagedClientsRequest": {
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Optional. If set, only active and just ended clients will be returned."
        }
      },
      "type": "object",
      "id": "FindSalesPartnerManagedClientsRequest",
      "description": "Request message for FindSalesPartnerManagedClients RPC."
    },
    "Organization": {
      "properties": {
        "displayName": {
          "description": "The human-readable name for the organization.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}"
        }
      },
      "description": "A resource message representing a Google Marketing Platform organization.",
      "id": "Organization",
      "type": "object"
    },
    "FindSalesPartnerManagedClientsResponse": {
      "description": "Response message for FindSalesPartnerManagedClients RPC.",
      "properties": {
        "clientData": {
          "type": "array",
          "items": {
            "$ref": "ClientData"
          },
          "description": "The clients managed by the sales org."
        }
      },
      "type": "object",
      "id": "FindSalesPartnerManagedClientsResponse"
    },
    "ListOrganizationsResponse": {
      "id": "ListOrganizationsResponse",
      "type": "object",
      "properties": {
        "organizations": {
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "type": "array",
          "items": {
            "$ref": "Organization"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListOrganizations RPC."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ClientData": {
      "id": "ClientData",
      "type": "object",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the contract between the sales org and the end client."
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the contract between the sales org and the end client."
        },
        "organization": {
          "description": "The end client that has/had contract with the requested sales org.",
          "$ref": "Organization"
        }
      },
      "description": "Contains the client data."
    }
  },
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "id": "marketingplatformadmin:v1alpha",
  "servicePath": "",
  "batchPath": "batch",
  "title": "Google Marketing Platform Admin API",
  "basePath": ""
}