{
  "discoveryVersion": "v1",
  "version_module": true,
  "resources": {
    "organizations": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "flatPath": "v1alpha/organizations",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token."
            },
            "pageSize": {
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "id": "marketingplatformadmin.organizations.list",
          "path": "v1alpha/organizations",
          "description": "Returns a list of organizations that the user has access to."
        },
        "findSalesPartnerManagedClients": {
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "parameterOrder": [
            "organization"
          ],
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "httpMethod": "POST",
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "parameters": {
            "organization": {
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Organization"
          },
          "path": "v1alpha/{+name}",
          "id": "marketingplatformadmin.organizations.get",
          "description": "Looks up a single organization."
        },
        "reportPropertyUsage": {
          "parameterOrder": [
            "organization"
          ],
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "parameters": {
            "organization": {
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}",
              "type": "string"
            }
          },
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          }
        }
      },
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "setPropertyServiceLevel": {
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "description": "Updates the service level for an Analytics property.",
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "httpMethod": "POST",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "parameters": {
                "analyticsAccountLink": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}"
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link."
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}"
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "request": {
                "$ref": "AnalyticsAccountLink"
              }
            }
          }
        },
        "userGroups": {
          "methods": {
            "list": {
              "description": "Returns a list of user groups in the specified GMP organization.",
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.userGroups.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/userGroups",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of user groups to return in one call. The service may return fewer than this value. If unspecified, at most 50 user groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent org where this UserGroup will be listed. Format: organizations/{org_id}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous ListUserGroups call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserGroups` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListUserGroupsResponse"
              },
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "UserGroup"
              },
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the UserGroup to retrieve. Format: organizations/{org_id}/userGroups/{user_group_id}",
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "id": "marketingplatformadmin.organizations.userGroups.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Looks up a single user group."
            },
            "patch": {
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier. Resource name of this UserGroup. Format: organizations/{org_id}/userGroups/{user_group_id} Example: \"organizations/123abc/userGroups/456def\"",
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "UserGroup"
              },
              "httpMethod": "PATCH",
              "id": "marketingplatformadmin.organizations.userGroups.patch",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "request": {
                "$ref": "UserGroup"
              },
              "description": "Updates a user group in the specified GMP organization.",
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}"
            },
            "delete": {
              "id": "marketingplatformadmin.organizations.userGroups.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the user group to delete. Format: organizations/{org_id}/userGroups/{user_group_id}"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "description": "Deletes a user group in the specified GMP organization."
            },
            "create": {
              "request": {
                "$ref": "UserGroup"
              },
              "path": "v1alpha/{+parent}/userGroups",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups",
              "description": "Creates a user group in the specified GMP organization.",
              "httpMethod": "POST",
              "id": "marketingplatformadmin.organizations.userGroups.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent resource where this UserGroup will be created. Format: organizations/{org_id}"
                }
              },
              "response": {
                "$ref": "UserGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ]
            }
          },
          "resources": {
            "members": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the user group member to delete. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id}",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "marketingplatformadmin.organizations.userGroups.members.delete",
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "description": "Deletes a member in the specified GMP user group.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "type": "string",
                      "description": "Identifier. The resource name of this UserGroupMember. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id} Example: \"organizations/123abc/userGroups/456def/members/789ghi\""
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "UserGroupMember"
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "marketingplatformadmin.organizations.userGroups.members.patch",
                  "description": "Updates a member in the specified GMP user group.",
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListUserGroupMembersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "description": "Returns a list of members in the specified user group.",
                  "httpMethod": "GET",
                  "id": "marketingplatformadmin.organizations.userGroups.members.list",
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of user group members to return in one call. The service may return fewer than this value. If unspecified, at most 50 user group members will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                      "description": "Required. The parent user group where this UserGroupMember will be listed. Format: organizations/{org_id}/userGroups/{user_group_id}"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous ListUserGroupMembers call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserGroupMembers` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/members",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "id": "marketingplatformadmin.organizations.userGroups.members.get",
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "description": "Required. The name of the user group member to retrieve. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Looks up a single user group member.",
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "path": "v1alpha/{+name}"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/members",
                  "id": "marketingplatformadmin.organizations.userGroups.members.create",
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "description": "Adds a member to the specified GMP user group.",
                  "request": {
                    "$ref": "UserGroupMember"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource where this UserGroupMember will be created. Format: organizations/{org_id}/userGroups/{user_group_id}",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        },
        "adminAccessBindings": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "AdminAccessBinding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "description": "Updates an admin access binding in the specified GMP organization.",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings/{adminAccessBindingsId}",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/adminAccessBindings/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The resource name of this AdminAccessBinding. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id} Example: \"organizations/123abc/adminAccessBindings/456def\""
                }
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "id": "marketingplatformadmin.organizations.adminAccessBindings.patch"
            },
            "create": {
              "path": "v1alpha/{+parent}/adminAccessBindings",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "description": "Creates an admin access binding in the specified GMP organization.",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings",
              "request": {
                "$ref": "AdminAccessBinding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "marketingplatformadmin.organizations.adminAccessBindings.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent organization, which owns this Admin Access Binding. Format: organizations/{org_id}",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "response": {
                "$ref": "ListAdminAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent organization, which owns this collection of Admin Access Bindings. Format: organizations/{org_id}",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous ListAdminAccessBindings call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdminAccessBindings` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of Admin Access Bindings to return in one call. The service may return fewer than this value. If unspecified, at most 50 Admin Access Bindings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "Returns a list of admin access bindings in the specified GMP organization.",
              "path": "v1alpha/{+parent}/adminAccessBindings",
              "id": "marketingplatformadmin.organizations.adminAccessBindings.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings"
            },
            "get": {
              "description": "Looks up a single admin access binding.",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings/{adminAccessBindingsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/adminAccessBindings/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the AdminAccessBinding to retrieve. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id}"
                }
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "id": "marketingplatformadmin.organizations.adminAccessBindings.get"
            }
          }
        }
      }
    }
  },
  "title": "Google Marketing Platform Admin API",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "servicePath": "",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "name": "marketingplatformadmin",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "protocol": "rest",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "schemas": {
    "UserGroup": {
      "id": "UserGroup",
      "type": "object",
      "description": "A resource message representing a user group in a GMP organization.",
      "properties": {
        "displayName": {
          "description": "Optional. The human-readable name for the user group.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this UserGroup. Format: organizations/{org_id}/userGroups/{user_group_id} Example: \"organizations/123abc/userGroups/456def\"",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the user group."
        }
      }
    },
    "ListOrganizationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "organizations": {
          "items": {
            "$ref": "Organization"
          },
          "type": "array",
          "description": "The Organization resource that the user has access to, which includes the org id and display name."
        }
      },
      "type": "object",
      "description": "Response message for ListOrganizations RPC.",
      "id": "ListOrganizationsResponse"
    },
    "AdminAccessBinding": {
      "properties": {
        "userGroup": {
          "description": "Resource name of the user group.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of this AdminAccessBinding. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id} Example: \"organizations/123abc/adminAccessBindings/456def\"",
          "type": "string"
        },
        "userEmail": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "organizationRoles": {
          "items": {
            "enumDescriptions": [
              "Unknown or unspecified organization role.",
              "Organization admin role that grants all administrative privileges.",
              "User admin role that grants access to the Users section to perform various user management functions.",
              "Billing admin role that grants access to the Billing section to perform various billing-related functions."
            ],
            "type": "string",
            "enum": [
              "ORGANIZATION_ROLE_UNSPECIFIED",
              "ORG_ADMIN_ROLE",
              "USER_ADMIN_ROLE",
              "BILLING_ADMIN_ROLE"
            ]
          },
          "type": "array",
          "description": "Optional. A list of roles granted to the parent organization. USER_ADMIN_ROLE and BILLING_ADMIN_ROLE will be automatically added if ORG_ADMIN_ROLE is assigned. No roles will be assigned if no roles are specified."
        }
      },
      "type": "object",
      "id": "AdminAccessBinding",
      "description": "A resource message representing a binding to a set of roles."
    },
    "UserGroupMember": {
      "type": "object",
      "id": "UserGroupMember",
      "properties": {
        "userGroup": {
          "type": "string",
          "description": "User group resource name of the group member."
        },
        "membershipRole": {
          "enumDescriptions": [
            "Unspecified membership role.",
            "Owner role that can add and remove group members.",
            "Member role that receives all permissions assigned to the group."
          ],
          "enum": [
            "MEMBERSHIP_ROLE_UNSPECIFIED",
            "MEMBERSHIP_ROLE_OWNER",
            "MEMBERSHIP_ROLE_MEMBER"
          ],
          "description": "Optional. The role of the member in the user group.",
          "type": "string"
        },
        "userEmail": {
          "description": "Email address of the user member.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this UserGroupMember. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id} Example: \"organizations/123abc/userGroups/456def/members/789ghi\""
        }
      },
      "description": "A resource message representing a member of a user group."
    },
    "ListAdminAccessBindingsResponse": {
      "description": "Response message for ListAdminAccessBindings RPC.",
      "id": "ListAdminAccessBindingsResponse",
      "type": "object",
      "properties": {
        "adminAccessBindings": {
          "items": {
            "$ref": "AdminAccessBinding"
          },
          "type": "array",
          "description": "Admin Access Bindings in the organization."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "SetPropertyServiceLevelRequest": {
      "properties": {
        "analyticsProperty": {
          "type": "string",
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "description": "Required. The service level to set for this property."
        }
      },
      "id": "SetPropertyServiceLevelRequest",
      "type": "object",
      "description": "Request message for SetPropertyServiceLevel RPC."
    },
    "Money": {
      "properties": {
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListUserGroupsResponse": {
      "description": "Response message for ListUserGroups RPC.",
      "type": "object",
      "properties": {
        "userGroups": {
          "description": "User groups in the organization.",
          "items": {
            "$ref": "UserGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListUserGroupsResponse"
    },
    "FindSalesPartnerManagedClientsRequest": {
      "id": "FindSalesPartnerManagedClientsRequest",
      "type": "object",
      "properties": {
        "isActive": {
          "description": "Optional. If set, only active and just ended clients will be returned.",
          "type": "boolean"
        }
      },
      "description": "Request message for FindSalesPartnerManagedClients RPC."
    },
    "BillInfo": {
      "type": "object",
      "id": "BillInfo",
      "description": "Contains the bill amount.",
      "properties": {
        "priceProtectionCredit": {
          "$ref": "Money",
          "description": "The amount of the price protection credit, this is only available for eligible customers."
        },
        "baseFee": {
          "$ref": "Money",
          "description": "The amount of the monthly base fee."
        },
        "total": {
          "$ref": "Money",
          "description": "The total amount of the bill."
        },
        "eventFee": {
          "description": "The amount of the event fee.",
          "$ref": "Money"
        }
      }
    },
    "ListUserGroupMembersResponse": {
      "id": "ListUserGroupMembersResponse",
      "description": "Response message for ListUserGroupMembers RPC.",
      "type": "object",
      "properties": {
        "userGroupMembers": {
          "type": "array",
          "description": "User group members in the user group.",
          "items": {
            "$ref": "UserGroupMember"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ReportPropertyUsageRequest": {
      "properties": {
        "month": {
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\"",
          "type": "string"
        }
      },
      "id": "ReportPropertyUsageRequest",
      "type": "object",
      "description": "Request message for ReportPropertyUsage RPC."
    },
    "ClientData": {
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the contract between the sales org and the end client."
        },
        "endDate": {
          "description": "The end date of the contract between the sales org and the end client.",
          "$ref": "Date"
        },
        "organization": {
          "description": "The end client that has/had contract with the requested sales org.",
          "$ref": "Organization"
        }
      },
      "description": "Contains the client data.",
      "type": "object",
      "id": "ClientData"
    },
    "Organization": {
      "description": "A resource message representing a Google Marketing Platform organization.",
      "type": "object",
      "id": "Organization",
      "properties": {
        "displayName": {
          "description": "The human-readable name for the organization.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}",
          "type": "string"
        }
      }
    },
    "PropertyUsage": {
      "type": "object",
      "properties": {
        "propertyType": {
          "type": "string",
          "description": "The subtype of the analytics property. This affects the billable event count.",
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "totalEventCount": {
          "description": "Total event count that the property received during the requested month.",
          "type": "string",
          "format": "int64"
        },
        "billableEventCount": {
          "format": "int64",
          "description": "The number of events for which the property is billed in the requested month.",
          "type": "string"
        },
        "property": {
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "description": "The service level of the property.",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the property.",
          "type": "string"
        },
        "accountId": {
          "description": "The ID of the property's parent account.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events.",
      "id": "PropertyUsage"
    },
    "ReportPropertyUsageResponse": {
      "properties": {
        "billInfo": {
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data.",
          "$ref": "BillInfo"
        },
        "propertyUsages": {
          "type": "array",
          "description": "Usage data for all properties in the specified organization and month.",
          "items": {
            "$ref": "PropertyUsage"
          }
        }
      },
      "id": "ReportPropertyUsageResponse",
      "type": "object",
      "description": "Response message for ReportPropertyUsage RPC."
    },
    "ListAnalyticsAccountLinksResponse": {
      "id": "ListAnalyticsAccountLinksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "analyticsAccountLinks": {
          "description": "Analytics account links in this organization.",
          "type": "array",
          "items": {
            "$ref": "AnalyticsAccountLink"
          }
        }
      },
      "description": "Response message for ListAnalyticsAccountLinks RPC."
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      }
    },
    "FindSalesPartnerManagedClientsResponse": {
      "type": "object",
      "properties": {
        "clientData": {
          "type": "array",
          "description": "The clients managed by the sales org.",
          "items": {
            "$ref": "ClientData"
          }
        }
      },
      "description": "Response message for FindSalesPartnerManagedClients RPC.",
      "id": "FindSalesPartnerManagedClientsResponse"
    },
    "AnalyticsAccountLink": {
      "properties": {
        "linkVerificationState": {
          "readOnly": true,
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "type": "string",
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization."
        },
        "displayName": {
          "description": "Output only. The human-readable name for the Analytics account.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\""
        },
        "analyticsAccount": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}"
        }
      },
      "type": "object",
      "id": "AnalyticsAccountLink",
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization."
    },
    "SetPropertyServiceLevelResponse": {
      "type": "object",
      "properties": {},
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "id": "SetPropertyServiceLevelResponse"
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "Google Marketing Platform Admin API",
  "revision": "20260916",
  "kind": "discovery#restDescription",
  "id": "marketingplatformadmin:v1alpha",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha"
}