{
  "servicePath": "",
  "protocol": "rest",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "name": "marketingplatformadmin",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Marketing Platform Admin API",
  "schemas": {
    "BillInfo": {
      "properties": {
        "eventFee": {
          "$ref": "Money",
          "description": "The amount of the event fee."
        },
        "baseFee": {
          "$ref": "Money",
          "description": "The amount of the monthly base fee."
        },
        "priceProtectionCredit": {
          "$ref": "Money",
          "description": "The amount of the price protection credit, this is only available for eligible customers."
        },
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        }
      },
      "id": "BillInfo",
      "type": "object",
      "description": "Contains the bill amount."
    },
    "SetPropertyServiceLevelRequest": {
      "id": "SetPropertyServiceLevelRequest",
      "type": "object",
      "properties": {
        "analyticsProperty": {
          "type": "string",
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "serviceLevel": {
          "description": "Required. The service level to set for this property.",
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ]
        }
      },
      "description": "Request message for SetPropertyServiceLevel RPC."
    },
    "Money": {
      "type": "object",
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "id": "Money"
    },
    "Date": {
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "FindSalesPartnerManagedClientsResponse": {
      "type": "object",
      "id": "FindSalesPartnerManagedClientsResponse",
      "description": "Response message for FindSalesPartnerManagedClients RPC.",
      "properties": {
        "clientData": {
          "items": {
            "$ref": "ClientData"
          },
          "description": "The clients managed by the sales org.",
          "type": "array"
        }
      }
    },
    "ListOrganizationsResponse": {
      "description": "Response message for ListOrganizations RPC.",
      "type": "object",
      "id": "ListOrganizationsResponse",
      "properties": {
        "organizations": {
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "items": {
            "$ref": "Organization"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ClientData": {
      "id": "ClientData",
      "description": "Contains the client data.",
      "properties": {
        "organization": {
          "description": "The end client that has/had contract with the requested sales org.",
          "$ref": "Organization"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the contract between the sales org and the end client."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the contract between the sales org and the end client."
        }
      },
      "type": "object"
    },
    "Organization": {
      "description": "A resource message representing a Google Marketing Platform organization.",
      "id": "Organization",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The human-readable name for the organization.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}",
          "type": "string"
        }
      }
    },
    "SetPropertyServiceLevelResponse": {
      "id": "SetPropertyServiceLevelResponse",
      "type": "object",
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "properties": {}
    },
    "ReportPropertyUsageRequest": {
      "id": "ReportPropertyUsageRequest",
      "properties": {
        "month": {
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\"",
          "type": "string"
        }
      },
      "description": "Request message for ReportPropertyUsage RPC.",
      "type": "object"
    },
    "ReportPropertyUsageResponse": {
      "id": "ReportPropertyUsageResponse",
      "description": "Response message for ReportPropertyUsage RPC.",
      "properties": {
        "propertyUsages": {
          "description": "Usage data for all properties in the specified organization and month.",
          "type": "array",
          "items": {
            "$ref": "PropertyUsage"
          }
        },
        "billInfo": {
          "$ref": "BillInfo",
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data."
        }
      },
      "type": "object"
    },
    "PropertyUsage": {
      "properties": {
        "serviceLevel": {
          "description": "The service level of the property.",
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ]
        },
        "displayName": {
          "description": "The display name of the property.",
          "type": "string"
        },
        "property": {
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        },
        "accountId": {
          "description": "The ID of the property's parent account.",
          "type": "string",
          "format": "int64"
        },
        "propertyType": {
          "description": "The subtype of the analytics property. This affects the billable event count.",
          "type": "string",
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "totalEventCount": {
          "type": "string",
          "description": "Total event count that the property received during the requested month.",
          "format": "int64"
        },
        "billableEventCount": {
          "type": "string",
          "description": "The number of events for which the property is billed in the requested month.",
          "format": "int64"
        }
      },
      "id": "PropertyUsage",
      "type": "object",
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListAnalyticsAccountLinksResponse": {
      "type": "object",
      "description": "Response message for ListAnalyticsAccountLinks RPC.",
      "id": "ListAnalyticsAccountLinksResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "analyticsAccountLinks": {
          "description": "Analytics account links in this organization.",
          "items": {
            "$ref": "AnalyticsAccountLink"
          },
          "type": "array"
        }
      }
    },
    "FindSalesPartnerManagedClientsRequest": {
      "description": "Request message for FindSalesPartnerManagedClients RPC.",
      "id": "FindSalesPartnerManagedClientsRequest",
      "type": "object",
      "properties": {
        "isActive": {
          "description": "Optional. If set, only active and just ended clients will be returned.",
          "type": "boolean"
        }
      }
    },
    "AnalyticsAccountLink": {
      "id": "AnalyticsAccountLink",
      "properties": {
        "linkVerificationState": {
          "type": "string",
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "readOnly": true,
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization.",
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ]
        },
        "analyticsAccount": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\""
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The human-readable name for the Analytics account.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization."
    }
  },
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "version_module": true,
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "id": "marketingplatformadmin:v1alpha",
  "ownerName": "Google",
  "version": "v1alpha",
  "basePath": "",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "canonicalName": "Google Marketing Platform Admin API",
  "resources": {
    "organizations": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "id": "marketingplatformadmin.organizations.get",
          "description": "Looks up a single organization.",
          "response": {
            "$ref": "Organization"
          },
          "httpMethod": "GET",
          "flatPath": "v1alpha/organizations/{organizationsId}"
        },
        "reportPropertyUsage": {
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "httpMethod": "POST",
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "parameters": {
            "organization": {
              "required": true,
              "location": "path",
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}",
              "type": "string",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "parameterOrder": [
            "organization"
          ],
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          }
        },
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "id": "marketingplatformadmin.organizations.list",
          "httpMethod": "GET",
          "flatPath": "v1alpha/organizations",
          "path": "v1alpha/organizations",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token."
            }
          },
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "description": "Returns a list of organizations that the user has access to."
        },
        "findSalesPartnerManagedClients": {
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "parameters": {
            "organization": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "pattern": "^organizations/[^/]+$",
              "required": true
            }
          },
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "httpMethod": "POST",
          "parameterOrder": [
            "organization"
          ],
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients"
        }
      },
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "request": {
                "$ref": "AnalyticsAccountLink"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "parameterOrder": [
                "parent"
              ]
            },
            "setPropertyServiceLevel": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "description": "Updates the service level for an Analytics property.",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "parameters": {
                "analyticsAccountLink": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "location": "path"
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "location": "path"
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}"
            },
            "list": {
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "revision": "20260820",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/"
}