{
  "discoveryVersion": "v1",
  "basePath": "",
  "canonicalName": "Meet",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "version_module": true,
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        }
      }
    }
  },
  "resources": {
    "spaces": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Space"
          },
          "id": "meet.spaces.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^spaces/[^/]+$"
            }
          },
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "flatPath": "v2/spaces/{spacesId}",
          "httpMethod": "GET",
          "description": "Gets details about a meeting space. For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space)."
        },
        "patch": {
          "path": "v2/{+name}",
          "id": "meet.spaces.patch",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "location": "path",
              "pattern": "^spaces/[^/]+$",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request.",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "Space"
          },
          "httpMethod": "PATCH",
          "description": "Updates details about a meeting space. For an example, see [Update a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#update-meeting-space).",
          "request": {
            "$ref": "Space"
          },
          "flatPath": "v2/spaces/{spacesId}",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ]
        },
        "endActiveConference": {
          "response": {
            "$ref": "Empty"
          },
          "path": "v2/{+name}:endActiveConference",
          "id": "meet.spaces.endActiveConference",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^spaces/[^/]+$"
            }
          },
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "httpMethod": "POST",
          "description": "Ends an active conference (if there's one). For an example, see [End active conference](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#end-active-conference).",
          "request": {
            "$ref": "EndActiveConferenceRequest"
          }
        },
        "create": {
          "path": "v2/spaces",
          "parameters": {},
          "id": "meet.spaces.create",
          "parameterOrder": [],
          "response": {
            "$ref": "Space"
          },
          "httpMethod": "POST",
          "description": "Creates a space.",
          "request": {
            "$ref": "Space"
          },
          "flatPath": "v2/spaces",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ]
        }
      }
    },
    "conferenceRecords": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. Page token returned from previous List Call.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "meet.conferenceRecords.list",
          "parameterOrder": [],
          "path": "v2/conferenceRecords",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "flatPath": "v2/conferenceRecords",
          "httpMethod": "GET",
          "description": "Lists the conference records. By default, ordered by start time and in descending order."
        },
        "get": {
          "response": {
            "$ref": "ConferenceRecord"
          },
          "id": "meet.conferenceRecords.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^conferenceRecords/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Resource name of the conference.",
              "location": "path"
            }
          },
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}",
          "httpMethod": "GET",
          "description": "Gets a conference record by conference ID."
        }
      },
      "resources": {
        "recordings": {
          "methods": {
            "get": {
              "id": "meet.conferenceRecords.recordings.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the recording.",
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$",
                  "required": true
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "Recording"
              },
              "httpMethod": "GET",
              "description": "Gets a recording by recording ID.",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}"
            },
            "list": {
              "id": "meet.conferenceRecords.recordings.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token returned from previous List Call.",
                  "location": "query"
                }
              },
              "path": "v2/{+parent}/recordings",
              "response": {
                "$ref": "ListRecordingsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order.",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings"
            }
          }
        },
        "participants": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}",
              "httpMethod": "GET",
              "description": "Gets a participant by participant ID.",
              "response": {
                "$ref": "Participant"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                  "description": "Required. Resource name of the participant.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "meet.conferenceRecords.participants.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}"
            },
            "list": {
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "id": "meet.conferenceRecords.participants.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token returned from previous List Call.",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/participants",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants",
              "httpMethod": "GET",
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`."
            }
          },
          "resources": {
            "participantSessions": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets a participant session by participant session ID.",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the participant.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$"
                    }
                  },
                  "id": "meet.conferenceRecords.participants.participantSessions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ParticipantSession"
                  }
                },
                "list": {
                  "path": "v2/{+parent}/participantSessions",
                  "id": "meet.conferenceRecords.participants.participantSessions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token returned from previous List Call.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`.",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ]
                }
              }
            }
          }
        },
        "transcripts": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Gets a transcript by transcript ID.",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}",
              "id": "meet.conferenceRecords.transcripts.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the transcript.",
                  "location": "path"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "Transcript"
              }
            },
            "list": {
              "response": {
                "$ref": "ListTranscriptsResponse"
              },
              "id": "meet.conferenceRecords.transcripts.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token returned from previous List Call.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "v2/{+parent}/transcripts",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts",
              "httpMethod": "GET",
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order."
            }
          },
          "resources": {
            "entries": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries",
                  "httpMethod": "GET",
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token returned from previous List Call.",
                      "location": "query"
                    }
                  },
                  "id": "meet.conferenceRecords.transcripts.entries.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/entries"
                },
                "get": {
                  "response": {
                    "$ref": "TranscriptEntry"
                  },
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the `TranscriptEntry`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$"
                    }
                  },
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a `TranscriptEntry` resource by entry ID. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation."
                }
              }
            }
          }
        },
        "smartNotes": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Gets smart notes by smart note ID.",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes/{smartNotesId}",
              "id": "meet.conferenceRecords.smartNotes.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^conferenceRecords/[^/]+/smartNotes/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the smart note. Format: conferenceRecords/{conference_record}/smartNotes/{smart_note}",
                  "location": "path"
                }
              },
              "path": "v2/{+name}",
              "response": {
                "$ref": "SmartNote"
              }
            },
            "list": {
              "response": {
                "$ref": "ListSmartNotesResponse"
              },
              "id": "meet.conferenceRecords.smartNotes.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^conferenceRecords/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token returned from previous List Call.",
                  "location": "query"
                }
              },
              "path": "v2/{+parent}/smartNotes",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes",
              "httpMethod": "GET",
              "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order."
            }
          }
        }
      }
    }
  },
  "revision": "20260720",
  "batchPath": "batch",
  "name": "meet",
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "description": "Create and manage meetings in Google Meet.",
  "rootUrl": "https://meet.googleapis.com/",
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/",
  "baseUrl": "https://meet.googleapis.com/",
  "schemas": {
    "ListRecordingsResponse": {
      "description": "Response for ListRecordings method.",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned.",
          "type": "string"
        },
        "recordings": {
          "items": {
            "$ref": "Recording"
          },
          "description": "List of recordings in one page.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListRecordingsResponse"
    },
    "SpaceConfig": {
      "id": "SpaceConfig",
      "type": "object",
      "description": "The configuration pertaining to a meeting space.",
      "properties": {
        "entryPointAccess": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ],
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ],
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL"
        },
        "artifactConfig": {
          "$ref": "ArtifactConfig",
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports."
        },
        "accessType": {
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ],
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ]
        },
        "moderation": {
          "type": "string",
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ],
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies.",
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ]
        },
        "moderationRestrictions": {
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions.",
          "$ref": "ModerationRestrictions"
        },
        "attendanceReportGenerationType": {
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ],
          "description": "Whether attendance report is enabled for the meeting space.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ]
        }
      }
    },
    "ModerationRestrictions": {
      "description": "Defines restrictions for features when the meeting is moderated.",
      "properties": {
        "reactionRestriction": {
          "description": "Defines who has permission to send reactions in the meeting space.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ]
        },
        "defaultJoinAsViewerType": {
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "description": "Defines whether to restrict the default role assigned to users as viewer.",
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ]
        },
        "presentRestriction": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "description": "Defines who has permission to share their screen in the meeting space.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        },
        "chatRestriction": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "description": "Defines who has permission to send chat messages in the meeting space.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ]
        }
      },
      "id": "ModerationRestrictions",
      "type": "object"
    },
    "TranscriptionConfig": {
      "type": "object",
      "id": "TranscriptionConfig",
      "description": "Configuration related to transcription in a meeting space.",
      "properties": {
        "autoTranscriptionGeneration": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting.",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      }
    },
    "ListParticipantSessionsResponse": {
      "id": "ListParticipantSessionsResponse",
      "type": "object",
      "description": "Response of ListParticipants method.",
      "properties": {
        "participantSessions": {
          "type": "array",
          "items": {
            "$ref": "ParticipantSession"
          },
          "description": "List of participants in one page."
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "DocsDestination": {
      "description": "Google Docs location where the transcript file is saved.",
      "properties": {
        "exportUri": {
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser.",
          "readOnly": true,
          "type": "string"
        },
        "document": {
          "readOnly": true,
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content.",
          "type": "string"
        }
      },
      "id": "DocsDestination",
      "type": "object"
    },
    "PhoneUser": {
      "id": "PhoneUser",
      "type": "object",
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account.",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Partially redacted user's phone number when calling."
        }
      }
    },
    "DriveDestination": {
      "id": "DriveDestination",
      "type": "object",
      "description": "Export location where a recording file is saved in Google Drive.",
      "properties": {
        "exportUri": {
          "type": "string",
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`.",
          "readOnly": true
        },
        "file": {
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ParticipantSession": {
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions.",
      "properties": {
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the user session starts.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Session id."
        }
      },
      "type": "object",
      "id": "ParticipantSession"
    },
    "ArtifactConfig": {
      "type": "object",
      "id": "ArtifactConfig",
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space.",
      "properties": {
        "recordingConfig": {
          "$ref": "RecordingConfig",
          "description": "Configuration for recording."
        },
        "smartNotesConfig": {
          "description": "Configuration for auto-smart-notes.",
          "$ref": "SmartNotesConfig"
        },
        "transcriptionConfig": {
          "description": "Configuration for auto-transcript.",
          "$ref": "TranscriptionConfig"
        }
      }
    },
    "Recording": {
      "id": "Recording",
      "type": "object",
      "description": "Metadata about a recording created during a conference.",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Timestamp when the recording started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the recording ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "driveDestination": {
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API.",
          "readOnly": true,
          "$ref": "DriveDestination"
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state.",
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ]
        }
      }
    },
    "SignedinUser": {
      "type": "object",
      "id": "SignedinUser",
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices.",
      "properties": {
        "user": {
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\"."
        }
      }
    },
    "Participant": {
      "id": "Participant",
      "type": "object",
      "description": "User who attended or is attending a conference.",
      "properties": {
        "earliestStartTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the participant first joined the meeting.",
          "format": "google-datetime"
        },
        "signedinUser": {
          "description": "Signed-in user.",
          "$ref": "SignedinUser"
        },
        "phoneUser": {
          "$ref": "PhoneUser",
          "description": "User calling from their phone."
        },
        "anonymousUser": {
          "description": "Anonymous user.",
          "$ref": "AnonymousUser"
        },
        "name": {
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
          "readOnly": true,
          "type": "string"
        },
        "latestEndTime": {
          "type": "string",
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "ListSmartNotesResponse": {
      "description": "Response for ListSmartNotes method.",
      "properties": {
        "smartNotes": {
          "type": "array",
          "description": "List of smart notes in one page.",
          "items": {
            "$ref": "SmartNote"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned."
        }
      },
      "id": "ListSmartNotesResponse",
      "type": "object"
    },
    "GatewaySipAccess": {
      "id": "GatewaySipAccess",
      "type": "object",
      "description": "Details how to join the conference through a SIP gateway.",
      "properties": {
        "uri": {
          "description": "The Session Initiation Protocol (SIP) URI the conference can be reached through. The string is in one of these formats: * \"sip:USER_ID@GATEWAY_ADDRESS\" * \"sips:USER_ID@GATEWAY_ADDRESS\" where USER_ID is the 13-digit universal pin (with the future option to support using a Meet meeting code as well), and GATEWAY_ADDRESS is a valid address to be resolved using a DNS SRV lookup, or a dotted quad.",
          "type": "string"
        },
        "sipAccessCode": {
          "type": "string",
          "description": "The permanent numeric code for manual entry on specially configured devices."
        }
      }
    },
    "ListTranscriptEntriesResponse": {
      "description": "Response for ListTranscriptEntries method.",
      "properties": {
        "transcriptEntries": {
          "description": "List of TranscriptEntries in one page.",
          "items": {
            "$ref": "TranscriptEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned."
        }
      },
      "type": "object",
      "id": "ListTranscriptEntriesResponse"
    },
    "TranscriptEntry": {
      "id": "TranscriptEntry",
      "type": "object",
      "description": "Single entry for one user’s speech during a transcript session.",
      "properties": {
        "participant": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Refers to the participant who speaks."
        },
        "languageCode": {
          "readOnly": true,
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\"",
          "type": "string"
        },
        "text": {
          "readOnly": true,
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the transcript entry started.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the transcript entry ended.",
          "format": "google-datetime"
        }
      }
    },
    "ListParticipantsResponse": {
      "description": "Response of ListParticipants method.",
      "properties": {
        "participants": {
          "description": "List of participants in one page.",
          "items": {
            "$ref": "Participant"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ListParticipantsResponse"
    },
    "Space": {
      "type": "object",
      "id": "Space",
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time.",
      "properties": {
        "name": {
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
          "type": "string"
        },
        "meetingCode": {
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space.",
          "readOnly": true,
          "type": "string"
        },
        "gatewaySipAccess": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GatewaySipAccess"
          },
          "description": "Output only. The SIP-based access methods that can be used to join the conference. Can be empty."
        },
        "config": {
          "$ref": "SpaceConfig",
          "description": "Configuration pertaining to the meeting space."
        },
        "meetingUri": {
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
          "readOnly": true,
          "type": "string"
        },
        "activeConference": {
          "$ref": "ActiveConference",
          "description": "Active conference, if it exists."
        },
        "phoneAccess": {
          "type": "array",
          "description": "Output only. All regional phone access methods for this meeting space. Can be empty.",
          "readOnly": true,
          "items": {
            "$ref": "PhoneAccess"
          }
        }
      }
    },
    "Transcript": {
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference.",
      "properties": {
        "state": {
          "description": "Output only. Current state.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ]
        },
        "docsDestination": {
          "$ref": "DocsDestination",
          "description": "Output only. Where the Google Docs transcript is saved.",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the transcript started.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. Timestamp when the transcript stopped.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference.",
          "type": "string"
        }
      },
      "id": "Transcript",
      "type": "object"
    },
    "SmartNotesConfig": {
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931).",
      "properties": {
        "autoSmartNotesGeneration": {
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting.",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ]
        }
      },
      "id": "SmartNotesConfig",
      "type": "object"
    },
    "SmartNote": {
      "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Output only. Timestamp when the smart notes started.",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Timestamp when the smart notes stopped.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default, never used.",
            "An active smart notes session has started.",
            "This smart notes session has ended, but the smart notes file hasn't been generated yet.",
            "Smart notes file is generated and ready to download."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "type": "string",
          "description": "Output only. Current state."
        },
        "docsDestination": {
          "readOnly": true,
          "description": "Output only. The Google Doc destination where the smart notes are saved.",
          "$ref": "DocsDestination"
        }
      },
      "type": "object",
      "id": "SmartNote"
    },
    "AnonymousUser": {
      "description": "User who joins anonymously (meaning not signed into a Google Account).",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. User provided name when they join a conference anonymously.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AnonymousUser"
    },
    "RecordingConfig": {
      "type": "object",
      "id": "RecordingConfig",
      "description": "Configuration related to recording in a meeting space.",
      "properties": {
        "autoRecordingGeneration": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting.",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      }
    },
    "PhoneAccess": {
      "id": "PhoneAccess",
      "type": "object",
      "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number.",
      "properties": {
        "languageCode": {
          "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French.",
          "type": "string"
        },
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character.",
          "type": "string"
        },
        "pin": {
          "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary.",
          "type": "string"
        }
      }
    },
    "ConferenceRecord": {
      "id": "ConferenceRecord",
      "type": "object",
      "description": "Single instance of a meeting held in a space.",
      "properties": {
        "expireTime": {
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "space": {
          "type": "string",
          "description": "Output only. The space where the conference was held.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing.",
          "format": "google-datetime",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the conference started. Always set.",
          "format": "google-datetime"
        }
      }
    },
    "ActiveConference": {
      "description": "Active conference.",
      "properties": {
        "conferenceRecord": {
          "type": "string",
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ActiveConference"
    },
    "EndActiveConferenceRequest": {
      "type": "object",
      "id": "EndActiveConferenceRequest",
      "description": "Request to end an ongoing conference of a space.",
      "properties": {}
    },
    "ListTranscriptsResponse": {
      "type": "object",
      "id": "ListTranscriptsResponse",
      "description": "Response for ListTranscripts method.",
      "properties": {
        "transcripts": {
          "description": "List of transcripts in one page.",
          "items": {
            "$ref": "Transcript"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned.",
          "type": "string"
        }
      }
    },
    "ListConferenceRecordsResponse": {
      "type": "object",
      "id": "ListConferenceRecordsResponse",
      "description": "Response of ListConferenceRecords method.",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned.",
          "type": "string"
        },
        "conferenceRecords": {
          "type": "array",
          "items": {
            "$ref": "ConferenceRecord"
          },
          "description": "List of conferences in one page."
        }
      }
    }
  },
  "id": "meet:v2",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Meet API",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v2"
}